{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "datastore:v1",
    "name": "datastore",
    "version": "v1",
    "title": "Google Cloud Datastore API",
    "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application.\n",
    "documentationLink": "https://cloud.google.com/datastore/",
    "protocol": "rest",
    "rootUrl": "https://datastore.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
        ]
    },
    "parameters": [
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "PathElement",
            "desc": "A (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.",
                    "type": "int64"
                },
                {
                    "name": "name",
                    "desc": "The name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RollbackResponse",
            "desc": "The response for Datastore.Rollback.\n(an empty message).",
            "type": "object"
        },
        {
            "name": "Key",
            "desc": "A unique identifier for an entity.\nIf a key's partition ID or any of its path kinds or names are\nreserved/read-only, the key is reserved/read-only.\nA reserved/read-only key is forbidden in certain documented contexts.",
            "type": "object",
            "fields": [
                {
                    "name": "partitionId",
                    "desc": "Entities are partitioned into subsets, currently identified by a project\nID and namespace ID.\nQueries are scoped to a single partition.",
                    "type": "ref",
                    "refType": "PartitionId"
                },
                {
                    "name": "path",
                    "desc": "The entity path.\nAn entity path consists of one or more elements composed of a kind and a\nstring or numerical identifier, which identify entities. The first\nelement identifies a _root entity_, the second element identifies\na _child_ of the root entity, the third element identifies a child of the\nsecond entity, and so forth. The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nAn entity path is always fully complete: *all* of the entity's ancestors\nare required to be in the path along with the entity identifier itself.\nThe only exception is that in some documented cases, the identifier in the\nlast path element (for the entity) itself may be omitted. For example,\nthe last path element of the key of `Mutation.insert` may have no\nidentifier.\n\nA path can never be empty, and a path can have at most 100 elements.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PathElement"
                }
            ]
        },
        {
            "name": "LookupRequest",
            "desc": "The request for Datastore.Lookup.",
            "type": "object",
            "fields": [
                {
                    "name": "readOptions",
                    "desc": "The options for this lookup request.",
                    "type": "ref",
                    "refType": "ReadOptions"
                },
                {
                    "name": "keys",
                    "desc": "Keys of entities to look up.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Key"
                }
            ]
        },
        {
            "name": "LatLng",
            "desc": "An object representing a latitude/longitude pair. This is expressed as a pair\nof doubles representing degrees latitude and degrees longitude. Unless\nspecified otherwise, this must conform to the\n\u003ca href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\"\u003eWGS84\nstandard\u003c/a\u003e. Values must be within normalized ranges.\n\nExample of normalization code in Python:\n\n    def NormalizeLongitude(longitude):\n      \"\"\"Wraps decimal degrees longitude to [-180.0, 180.0].\"\"\"\n      q, r = divmod(longitude, 360.0)\n      if r \u003e 180.0 or (r == 180.0 and q \u003c= -1.0):\n        return r - 360.0\n      return r\n\n    def NormalizeLatLng(latitude, longitude):\n      \"\"\"Wraps decimal degrees latitude and longitude to\n      [-90.0, 90.0] and [-180.0, 180.0], respectively.\"\"\"\n      r = latitude % 360.0\n      if r \u003c= 90.0:\n        return r, NormalizeLongitude(longitude)\n      elif r \u003e= 270.0:\n        return r - 360, NormalizeLongitude(longitude)\n      else:\n        return 180 - r, NormalizeLongitude(longitude + 180.0)\n\n    assert 180.0 == NormalizeLongitude(180.0)\n    assert -180.0 == NormalizeLongitude(-180.0)\n    assert -179.0 == NormalizeLongitude(181.0)\n    assert (0.0, 0.0) == NormalizeLatLng(360.0, 0.0)\n    assert (0.0, 0.0) == NormalizeLatLng(-360.0, 0.0)\n    assert (85.0, 180.0) == NormalizeLatLng(95.0, 0.0)\n    assert (-85.0, -170.0) == NormalizeLatLng(-95.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(90.0, 10.0)\n    assert (-90.0, -10.0) == NormalizeLatLng(-90.0, -10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(-180.0, 10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(180.0, 10.0)\n    assert (-90.0, 10.0) == NormalizeLatLng(270.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(-270.0, 10.0)\n\nThe code in logs/storage/validator/logs_validator_traits.cc treats this type\nas if it were annotated as ST_LOCATION.",
            "type": "object",
            "fields": [
                {
                    "name": "latitude",
                    "desc": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
                    "type": "float64"
                },
                {
                    "name": "longitude",
                    "desc": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "PartitionId",
            "desc": "A partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID.\n\nPartition dimensions:\n\n- May be `\"\"`.\n- Must be valid UTF-8 bytes.\n- Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}`\nIf the value of any dimension matches regex `__.*__`, the partition is\nreserved/read-only.\nA reserved/read-only partition ID is forbidden in certain documented\ncontexts.\n\nForeign partition IDs (in which the project ID does\nnot match the context project ID ) are discouraged.\nReads and writes of foreign partition IDs may fail if the project is not in an active state.",
            "type": "object",
            "fields": [
                {
                    "name": "projectId",
                    "desc": "The ID of the project to which the entities belong.",
                    "type": "string"
                },
                {
                    "name": "namespaceId",
                    "desc": "If not empty, the ID of the namespace to which the entities belong.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Projection",
            "desc": "A representation of a property in a projection.",
            "type": "object",
            "fields": [
                {
                    "name": "property",
                    "desc": "The property to project.",
                    "type": "ref",
                    "refType": "PropertyReference"
                }
            ]
        },
        {
            "name": "RunQueryResponse",
            "desc": "The response for Datastore.RunQuery.",
            "type": "object",
            "fields": [
                {
                    "name": "batch",
                    "desc": "A batch of query results (always present).",
                    "type": "ref",
                    "refType": "QueryResultBatch"
                },
                {
                    "name": "query",
                    "desc": "The parsed form of the `GqlQuery` from the request, if it was set.",
                    "type": "ref",
                    "refType": "Query"
                }
            ]
        },
        {
            "name": "QueryResultBatch",
            "desc": "A batch of results produced by a query.",
            "type": "object",
            "fields": [
                {
                    "name": "endCursor",
                    "desc": "A cursor that points to the position after the last result in the batch.",
                    "type": "byte"
                },
                {
                    "name": "skippedCursor",
                    "desc": "A cursor that points to the position after the last skipped result.\nWill be set when `skipped_results` != 0.",
                    "type": "byte"
                },
                {
                    "name": "entityResultType",
                    "desc": "The result type for every entity in `entity_results`.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "RESULT_TYPE_UNSPECIFIED",
                            "desc": "Unspecified. This value is never used."
                        },
                        {
                            "name": "FULL",
                            "desc": "The key and properties."
                        },
                        {
                            "name": "PROJECTION",
                            "desc": "A projected subset of properties. The entity may have no key."
                        },
                        {
                            "name": "KEY_ONLY",
                            "desc": "Only the key."
                        }
                    ]
                },
                {
                    "name": "moreResults",
                    "desc": "The state of the query after the current batch.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "MORE_RESULTS_TYPE_UNSPECIFIED",
                            "desc": "Unspecified. This value is never used."
                        },
                        {
                            "name": "NOT_FINISHED",
                            "desc": "There may be additional batches to fetch from this query."
                        },
                        {
                            "name": "MORE_RESULTS_AFTER_LIMIT",
                            "desc": "The query is finished, but there may be more results after the limit."
                        },
                        {
                            "name": "MORE_RESULTS_AFTER_CURSOR",
                            "desc": "The query is finished, but there may be more results after the end\ncursor."
                        },
                        {
                            "name": "NO_MORE_RESULTS",
                            "desc": "The query has been exhausted."
                        }
                    ]
                },
                {
                    "name": "entityResults",
                    "desc": "The results for this batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EntityResult"
                },
                {
                    "name": "skippedResults",
                    "desc": "The number of results skipped, typically because of an offset.",
                    "type": "int32"
                },
                {
                    "name": "snapshotVersion",
                    "desc": "The version number of the snapshot this batch was returned from.\nThis applies to the range of results from the query's `start_cursor` (or\nthe beginning of the query if no cursor was given) to this batch's\n`end_cursor` (not the query's `end_cursor`).\n\nIn a single transaction, subsequent query result batches for the same query\ncan have a greater snapshot version number. Each batch's snapshot version\nis valid for all preceding batches.\nThe value will be zero for eventually consistent queries.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "MutationResult",
            "desc": "The result of applying a mutation.",
            "type": "object",
            "fields": [
                {
                    "name": "version",
                    "desc": "The version of the entity on the server after processing the mutation. If\nthe mutation doesn't change anything on the server, then the version will\nbe the version of the current entity or, if no entity is present, a version\nthat is strictly greater than the version of any previous entity and less\nthan the version of any possible future entity.",
                    "type": "int64"
                },
                {
                    "name": "conflictDetected",
                    "desc": "Whether a conflict was detected for this mutation. Always false when a\nconflict detection strategy field is not set in the mutation.",
                    "type": "bool"
                },
                {
                    "name": "key",
                    "desc": "The automatically allocated key.\nSet only when the mutation allocated a key.",
                    "type": "ref",
                    "refType": "Key"
                }
            ]
        },
        {
            "name": "AllocateIdsResponse",
            "desc": "The response for Datastore.AllocateIds.",
            "type": "object",
            "fields": [
                {
                    "name": "keys",
                    "desc": "The keys specified in the request (in the same order), each with\nits key path completed with a newly allocated ID.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Key"
                }
            ]
        },
        {
            "name": "Value",
            "desc": "A message that can hold any of the supported value types and associated\nmetadata.",
            "type": "object",
            "fields": [
                {
                    "name": "arrayValue",
                    "desc": "An array value.\nCannot contain another array value.\nA `Value` instance that sets field `array_value` must not set fields\n`meaning` or `exclude_from_indexes`.",
                    "type": "ref",
                    "refType": "ArrayValue"
                },
                {
                    "name": "doubleValue",
                    "desc": "A double value.",
                    "type": "float64"
                },
                {
                    "name": "geoPointValue",
                    "desc": "A geo point value representing a point on the surface of Earth.",
                    "type": "ref",
                    "refType": "LatLng"
                },
                {
                    "name": "nullValue",
                    "desc": "A null value.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NULL_VALUE",
                            "desc": "Null value."
                        }
                    ]
                },
                {
                    "name": "blobValue",
                    "desc": "A blob value.\nMay have at most 1,000,000 bytes.\nWhen `exclude_from_indexes` is false, may have at most 1500 bytes.\nIn JSON requests, must be base64-encoded.",
                    "type": "byte"
                },
                {
                    "name": "booleanValue",
                    "desc": "A boolean value.",
                    "type": "bool"
                },
                {
                    "name": "keyValue",
                    "desc": "A key value.",
                    "type": "ref",
                    "refType": "Key"
                },
                {
                    "name": "excludeFromIndexes",
                    "desc": "If the value should be excluded from all indexes including those defined\nexplicitly.",
                    "type": "bool"
                },
                {
                    "name": "stringValue",
                    "desc": "A UTF-8 encoded string value.\nWhen `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes.\nOtherwise, may be set to at least 1,000,000 bytes.",
                    "type": "string"
                },
                {
                    "name": "entityValue",
                    "desc": "An entity value.\n\n- May have no key.\n- May have a key with an incomplete key path.\n- May have a reserved/read-only key.",
                    "type": "ref",
                    "refType": "Entity"
                },
                {
                    "name": "meaning",
                    "desc": "The `meaning` field should only be populated for backwards compatibility.",
                    "type": "int32"
                },
                {
                    "name": "integerValue",
                    "desc": "An integer value.",
                    "type": "int64"
                },
                {
                    "name": "timestampValue",
                    "desc": "A timestamp value.\nWhen stored in the Datastore, precise only to microseconds;\nany additional precision is rounded down.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "PropertyOrder",
            "desc": "The desired order for a specific property.",
            "type": "object",
            "fields": [
                {
                    "name": "direction",
                    "desc": "The direction to order by. Defaults to `ASCENDING`.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "DIRECTION_UNSPECIFIED",
                            "desc": "Unspecified. This value must not be used."
                        },
                        {
                            "name": "ASCENDING",
                            "desc": "Ascending."
                        },
                        {
                            "name": "DESCENDING",
                            "desc": "Descending."
                        }
                    ]
                },
                {
                    "name": "property",
                    "desc": "The property to order by.",
                    "type": "ref",
                    "refType": "PropertyReference"
                }
            ]
        },
        {
            "name": "Query",
            "desc": "A query for entities.",
            "type": "object",
            "fields": [
                {
                    "name": "limit",
                    "desc": "The maximum number of results to return. Applies after all other\nconstraints. Optional.\nUnspecified is interpreted as no limit.\nMust be \u003e= 0 if specified.",
                    "type": "int32"
                },
                {
                    "name": "offset",
                    "desc": "The number of results to skip. Applies before limit, but after all other\nconstraints. Optional. Must be \u003e= 0 if specified.",
                    "type": "int32"
                },
                {
                    "name": "projection",
                    "desc": "The projection to return. Defaults to returning all properties.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Projection"
                },
                {
                    "name": "kind",
                    "desc": "The kinds to query (if empty, returns entities of all kinds).\nCurrently at most 1 kind may be specified.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "KindExpression"
                },
                {
                    "name": "filter",
                    "desc": "The filter to apply.",
                    "type": "ref",
                    "refType": "Filter"
                },
                {
                    "name": "endCursor",
                    "desc": "An ending point for the query results. Query cursors are\nreturned in query result batches and\n[can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
                    "type": "byte"
                },
                {
                    "name": "distinctOn",
                    "desc": "The properties to make distinct. The query results will contain the first\nresult for each distinct combination of values for the given properties\n(if empty, all results are returned).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PropertyReference"
                },
                {
                    "name": "order",
                    "desc": "The order to apply to the query results (if empty, order is unspecified).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PropertyOrder"
                },
                {
                    "name": "startCursor",
                    "desc": "A starting point for the query results. Query cursors are\nreturned in query result batches and\n[can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "Filter",
            "desc": "A holder for any type of filter.",
            "type": "object",
            "fields": [
                {
                    "name": "propertyFilter",
                    "desc": "A filter on a property.",
                    "type": "ref",
                    "refType": "PropertyFilter"
                },
                {
                    "name": "compositeFilter",
                    "desc": "A composite filter.",
                    "type": "ref",
                    "refType": "CompositeFilter"
                }
            ]
        },
        {
            "name": "BeginTransactionResponse",
            "desc": "The response for Datastore.BeginTransaction.",
            "type": "object",
            "fields": [
                {
                    "name": "transaction",
                    "desc": "The transaction identifier (always present).",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "Mutation",
            "desc": "A mutation to apply to an entity.",
            "type": "object",
            "fields": [
                {
                    "name": "insert",
                    "desc": "The entity to insert. The entity must not already exist.\nThe entity key's final path element may be incomplete.",
                    "type": "ref",
                    "refType": "Entity"
                },
                {
                    "name": "update",
                    "desc": "The entity to update. The entity must already exist.\nMust have a complete key path.",
                    "type": "ref",
                    "refType": "Entity"
                },
                {
                    "name": "baseVersion",
                    "desc": "The version of the entity that this mutation is being applied to. If this\ndoes not match the current version on the server, the mutation conflicts.",
                    "type": "int64"
                },
                {
                    "name": "upsert",
                    "desc": "The entity to upsert. The entity may or may not already exist.\nThe entity key's final path element may be incomplete.",
                    "type": "ref",
                    "refType": "Entity"
                },
                {
                    "name": "delete",
                    "desc": "The key of the entity to delete. The entity may or may not already exist.\nMust have a complete key path and must not be reserved/read-only.",
                    "type": "ref",
                    "refType": "Key"
                }
            ]
        },
        {
            "name": "AllocateIdsRequest",
            "desc": "The request for Datastore.AllocateIds.",
            "type": "object",
            "fields": [
                {
                    "name": "keys",
                    "desc": "A list of keys with incomplete key paths for which to allocate IDs.\nNo key may be reserved/read-only.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Key"
                }
            ]
        },
        {
            "name": "PropertyFilter",
            "desc": "A filter on a specific property.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The value to compare the property to.",
                    "type": "ref",
                    "refType": "Value"
                },
                {
                    "name": "op",
                    "desc": "The operator to filter by.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "OPERATOR_UNSPECIFIED",
                            "desc": "Unspecified. This value must not be used."
                        },
                        {
                            "name": "LESS_THAN",
                            "desc": "Less than."
                        },
                        {
                            "name": "LESS_THAN_OR_EQUAL",
                            "desc": "Less than or equal."
                        },
                        {
                            "name": "GREATER_THAN",
                            "desc": "Greater than."
                        },
                        {
                            "name": "GREATER_THAN_OR_EQUAL",
                            "desc": "Greater than or equal."
                        },
                        {
                            "name": "EQUAL",
                            "desc": "Equal."
                        },
                        {
                            "name": "HAS_ANCESTOR",
                            "desc": "Has ancestor."
                        }
                    ]
                },
                {
                    "name": "property",
                    "desc": "The property to filter by.",
                    "type": "ref",
                    "refType": "PropertyReference"
                }
            ]
        },
        {
            "name": "ReadOptions",
            "desc": "The options shared by read requests.",
            "type": "object",
            "fields": [
                {
                    "name": "transaction",
                    "desc": "The identifier of the transaction in which to read. A\ntransaction identifier is returned by a call to\nDatastore.BeginTransaction.",
                    "type": "byte"
                },
                {
                    "name": "readConsistency",
                    "desc": "The non-transactional read consistency to use.\nCannot be set to `STRONG` for global queries.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "READ_CONSISTENCY_UNSPECIFIED",
                            "desc": "Unspecified. This value must not be used."
                        },
                        {
                            "name": "STRONG",
                            "desc": "Strong consistency."
                        },
                        {
                            "name": "EVENTUAL",
                            "desc": "Eventual consistency."
                        }
                    ]
                }
            ]
        },
        {
            "name": "KindExpression",
            "desc": "A representation of a kind.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the kind.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LookupResponse",
            "desc": "The response for Datastore.Lookup.",
            "type": "object",
            "fields": [
                {
                    "name": "found",
                    "desc": "Entities found as `ResultType.FULL` entities. The order of results in this\nfield is undefined and has no relation to the order of the keys in the\ninput.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EntityResult"
                },
                {
                    "name": "missing",
                    "desc": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results\nin this field is undefined and has no relation to the order of the keys\nin the input.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EntityResult"
                },
                {
                    "name": "deferred",
                    "desc": "A list of keys that were not looked up due to resource constraints. The\norder of results in this field is undefined and has no relation to the\norder of the keys in the input.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Key"
                }
            ]
        },
        {
            "name": "Entity",
            "desc": "A Datastore data object.\n\nAn entity is limited to 1 megabyte when stored. That _roughly_\ncorresponds to a limit of 1 megabyte for the serialized form of this\nmessage.",
            "type": "object",
            "fields": [
                {
                    "name": "properties",
                    "desc": "The entity's properties.\nThe map's keys are property names.\nA property name matching regex `__.*__` is reserved.\nA reserved property name is forbidden in certain documented contexts.\nThe name must not contain more than 500 characters.\nThe name cannot be `\"\"`.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "Value"
                },
                {
                    "name": "key",
                    "desc": "The entity's key.\n\nAn entity must have a key, unless otherwise documented (for example,\nan entity in `Value.entity_value` may have no key).\nAn entity's kind is its key path's last element's kind,\nor null if it has no key.",
                    "type": "ref",
                    "refType": "Key"
                }
            ]
        },
        {
            "name": "CommitRequest",
            "desc": "The request for Datastore.Commit.",
            "type": "object",
            "fields": [
                {
                    "name": "transaction",
                    "desc": "The identifier of the transaction associated with the commit. A\ntransaction identifier is returned by a call to\nDatastore.BeginTransaction.",
                    "type": "byte"
                },
                {
                    "name": "mode",
                    "desc": "The type of commit to perform. Defaults to `TRANSACTIONAL`.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "MODE_UNSPECIFIED",
                            "desc": "Unspecified. This value must not be used."
                        },
                        {
                            "name": "TRANSACTIONAL",
                            "desc": "Transactional: The mutations are either all applied, or none are applied.\nLearn about transactions [here](https://cloud.google.com/datastore/docs/concepts/transactions)."
                        },
                        {
                            "name": "NON_TRANSACTIONAL",
                            "desc": "Non-transactional: The mutations may not apply as all or none."
                        }
                    ]
                },
                {
                    "name": "mutations",
                    "desc": "The mutations to perform.\n\nWhen mode is `TRANSACTIONAL`, mutations affecting a single entity are\napplied in order. The following sequences of mutations affecting a single\nentity are not permitted in a single `Commit` request:\n\n- `insert` followed by `insert`\n- `update` followed by `insert`\n- `upsert` followed by `insert`\n- `delete` followed by `update`\n\nWhen mode is `NON_TRANSACTIONAL`, no two mutations may affect a single\nentity.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Mutation"
                }
            ]
        },
        {
            "name": "RunQueryRequest",
            "desc": "The request for Datastore.RunQuery.",
            "type": "object",
            "fields": [
                {
                    "name": "gqlQuery",
                    "desc": "The GQL query to run.",
                    "type": "ref",
                    "refType": "GqlQuery"
                },
                {
                    "name": "readOptions",
                    "desc": "The options for this query.",
                    "type": "ref",
                    "refType": "ReadOptions"
                },
                {
                    "name": "query",
                    "desc": "The query to run.",
                    "type": "ref",
                    "refType": "Query"
                },
                {
                    "name": "partitionId",
                    "desc": "Entities are partitioned into subsets, identified by a partition ID.\nQueries are scoped to a single partition.\nThis partition ID is normalized with the standard default context\npartition ID.",
                    "type": "ref",
                    "refType": "PartitionId"
                }
            ]
        },
        {
            "name": "EntityResult",
            "desc": "The result of fetching an entity from Datastore.",
            "type": "object",
            "fields": [
                {
                    "name": "cursor",
                    "desc": "A cursor that points to the position after the result entity.\nSet only when the `EntityResult` is part of a `QueryResultBatch` message.",
                    "type": "byte"
                },
                {
                    "name": "entity",
                    "desc": "The resulting entity.",
                    "type": "ref",
                    "refType": "Entity"
                },
                {
                    "name": "version",
                    "desc": "The version of the entity, a strictly positive number that monotonically\nincreases with changes to the entity.\n\nThis field is set for `FULL` entity\nresults.\n\nFor missing entities in `LookupResponse`, this\nis the version of the snapshot that was used to look up the entity, and it\nis always set except for eventually consistent reads.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "GqlQueryParameter",
            "desc": "A binding parameter for a GQL query.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "A value parameter.",
                    "type": "ref",
                    "refType": "Value"
                },
                {
                    "name": "cursor",
                    "desc": "A query cursor. Query cursors are returned in query\nresult batches.",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "ArrayValue",
            "desc": "An array value.",
            "type": "object",
            "fields": [
                {
                    "name": "values",
                    "desc": "Values in the array.\nThe order of this array may not be preserved if it contains a mix of\nindexed and unindexed values.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Value"
                }
            ]
        },
        {
            "name": "PropertyReference",
            "desc": "A reference to a property relative to the kind expressions.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the property.\nIf name includes \".\"s, it may be interpreted as a property name path.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BeginTransactionRequest",
            "desc": "The request for Datastore.BeginTransaction.",
            "type": "object"
        },
        {
            "name": "RollbackRequest",
            "desc": "The request for Datastore.Rollback.",
            "type": "object",
            "fields": [
                {
                    "name": "transaction",
                    "desc": "The transaction identifier, returned by a call to\nDatastore.BeginTransaction.",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "GqlQuery",
            "desc": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
            "type": "object",
            "fields": [
                {
                    "name": "queryString",
                    "desc": "A string of the format described\n[here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
                    "type": "string"
                },
                {
                    "name": "namedBindings",
                    "desc": "For each non-reserved named binding site in the query string, there must be\na named parameter with that name, but not necessarily the inverse.\n\nKey must match regex `A-Za-z_$*`, must not match regex\n`__.*__`, and must not be `\"\"`.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "GqlQueryParameter"
                },
                {
                    "name": "allowLiterals",
                    "desc": "When false, the query string must not contain any literals and instead must\nbind all values. For example,\n`SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while\n`SELECT * FROM Kind WHERE a = @value` is.",
                    "type": "bool"
                },
                {
                    "name": "positionalBindings",
                    "desc": "Numbered binding site @1 references the first numbered parameter,\neffectively using 1-based indexing, rather than the usual 0.\n\nFor each binding site numbered i in `query_string`, there must be an i-th\nnumbered parameter. The inverse must also be true.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GqlQueryParameter"
                }
            ]
        },
        {
            "name": "CommitResponse",
            "desc": "The response for Datastore.Commit.",
            "type": "object",
            "fields": [
                {
                    "name": "mutationResults",
                    "desc": "The result of performing the mutations.\nThe i-th mutation result corresponds to the i-th mutation in the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MutationResult"
                },
                {
                    "name": "indexUpdates",
                    "desc": "The number of index entries updated during the commit, or zero if none were\nupdated.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "CompositeFilter",
            "desc": "A filter that merges multiple other filters using the given operator.",
            "type": "object",
            "fields": [
                {
                    "name": "op",
                    "desc": "The operator for combining multiple filters.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "OPERATOR_UNSPECIFIED",
                            "desc": "Unspecified. This value must not be used."
                        },
                        {
                            "name": "AND",
                            "desc": "The results are required to satisfy each of the combined filters."
                        }
                    ]
                },
                {
                    "name": "filters",
                    "desc": "The list of filters to combine.\nMust contain at least one filter.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Filter"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "projects",
            "methods": [
                {
                    "name": "runQuery",
                    "desc": "Queries for entities.",
                    "path": "v1/projects/{projectId}:runQuery",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ],
                    "pathParams": [
                        {
                            "name": "projectId",
                            "desc": "The ID of the project against which to make the request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "RunQueryRequest",
                    "response": "RunQueryResponse"
                },
                {
                    "name": "beginTransaction",
                    "desc": "Begins a new transaction.",
                    "path": "v1/projects/{projectId}:beginTransaction",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ],
                    "pathParams": [
                        {
                            "name": "projectId",
                            "desc": "The ID of the project against which to make the request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "BeginTransactionRequest",
                    "response": "BeginTransactionResponse"
                },
                {
                    "name": "allocateIds",
                    "desc": "Allocates IDs for the given keys, which is useful for referencing an entity\nbefore it is inserted.",
                    "path": "v1/projects/{projectId}:allocateIds",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ],
                    "pathParams": [
                        {
                            "name": "projectId",
                            "desc": "The ID of the project against which to make the request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "AllocateIdsRequest",
                    "response": "AllocateIdsResponse"
                },
                {
                    "name": "lookup",
                    "desc": "Looks up entities by key.",
                    "path": "v1/projects/{projectId}:lookup",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ],
                    "pathParams": [
                        {
                            "name": "projectId",
                            "desc": "The ID of the project against which to make the request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "LookupRequest",
                    "response": "LookupResponse"
                },
                {
                    "name": "commit",
                    "desc": "Commits a transaction, optionally creating, deleting or modifying some\nentities.",
                    "path": "v1/projects/{projectId}:commit",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ],
                    "pathParams": [
                        {
                            "name": "projectId",
                            "desc": "The ID of the project against which to make the request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "CommitRequest",
                    "response": "CommitResponse"
                },
                {
                    "name": "rollback",
                    "desc": "Rolls back a transaction.",
                    "path": "v1/projects/{projectId}:rollback",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ],
                    "pathParams": [
                        {
                            "name": "projectId",
                            "desc": "The ID of the project against which to make the request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "RollbackRequest",
                    "response": "RollbackResponse"
                }
            ]
        }
    ]
}