{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/GzZNLgIZSILKjBelfyeP-92h54Q\"",
    "discoveryVersion": "v1",
    "id": "youtubeAnalytics:v1",
    "name": "youtubeAnalytics",
    "version": "v1",
    "title": "YouTube Analytics API",
    "description": "Retrieves your YouTube Analytics data.",
    "documentationLink": "http://developers.google.com/youtube/analytics/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly",
            "https://www.googleapis.com/auth/youtube"
        ]
    },
    "parameters": [
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "csv",
                    "desc": "Responses with Content-Type of text/csv"
                },
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "GroupListResponse",
            "desc": "A paginated list of grouList resources returned in response to a youtubeAnalytics.groupApi.list request.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Group"
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "youtube#groupListResponse"
                },
                {
                    "name": "nextPageToken",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ResultTable",
            "desc": "Contains a single result table. The table is returned as an array of rows that contain the values for the cells of the table. Depending on the metric or dimension, the cell can contain a string (video ID, country code) or a number (number of views or number of likes).",
            "type": "object",
            "fields": [
                {
                    "name": "rows",
                    "desc": "The list contains all rows of the result table. Each item in the list is an array that contains comma-delimited data corresponding to a single row of data. The order of the comma-delimited data fields will match the order of the columns listed in the columnHeaders field. If no data is available for the given query, the rows element will be omitted from the response. The response for a query with the day dimension will not contain rows for the most recent days.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "array",
                        "type": "any"
                    }
                },
                {
                    "name": "columnHeaders",
                    "desc": "This value specifies information about the data returned in the rows fields. Each item in the columnHeaders list identifies a field returned in the rows value, which contains a list of comma-delimited data. The columnHeaders list will begin with the dimensions specified in the API request, which will be followed by the metrics specified in the API request. The order of both dimensions and metrics will match the ordering in the API request. For example, if the API request contains the parameters dimensions=ageGroup,gender\u0026metrics=viewerPercentage, the API response will return columns in this order: ageGroup,gender,viewerPercentage.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "columnType",
                            "desc": "The type of the column (DIMENSION or METRIC).",
                            "type": "string"
                        },
                        {
                            "name": "dataType",
                            "desc": "The type of the data in the column (STRING, INTEGER, FLOAT, etc.).",
                            "type": "string"
                        },
                        {
                            "name": "name",
                            "desc": "The name of the dimension or metric.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "This value specifies the type of data included in the API response. For the query method, the kind property value will be youtubeAnalytics#resultTable.",
                    "type": "string",
                    "default": "youtubeAnalytics#resultTable"
                }
            ]
        },
        {
            "name": "Group",
            "type": "object",
            "fields": [
                {
                    "name": "contentDetails",
                    "type": "object",
                    "fields": [
                        {
                            "name": "itemCount",
                            "type": "uint64"
                        },
                        {
                            "name": "itemType",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "etag",
                    "type": "string"
                },
                {
                    "name": "id",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "youtube#group"
                },
                {
                    "name": "snippet",
                    "type": "object",
                    "fields": [
                        {
                            "name": "publishedAt",
                            "type": "datetime"
                        },
                        {
                            "name": "title",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "GroupItem",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "type": "string"
                },
                {
                    "name": "groupId",
                    "type": "string"
                },
                {
                    "name": "id",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "youtube#groupItem"
                },
                {
                    "name": "resource",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "type": "string"
                        },
                        {
                            "name": "kind",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "GroupItemListResponse",
            "desc": "A paginated list of grouList resources returned in response to a youtubeAnalytics.groupApi.list request.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "type": "string"
                },
                {
                    "name": "items",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GroupItem"
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "youtube#groupItemListResponse"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "groups",
            "methods": [
                {
                    "name": "list",
                    "desc": "Returns a collection of groups that match the API request parameters. For example, you can retrieve all groups that the authenticated user owns, or you can retrieve one or more groups by their unique IDs.",
                    "path": "groups",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "id",
                            "desc": "The id parameter specifies a comma-separated list of the YouTube group ID(s) for the resource(s) that are being retrieved. In a group resource, the id property specifies the group's YouTube group ID.",
                            "type": "string"
                        },
                        {
                            "name": "mine",
                            "desc": "Set this parameter's value to true to instruct the API to only return groups owned by the authenticated user.",
                            "type": "bool"
                        },
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
                            "type": "string"
                        },
                        {
                            "name": "pageToken",
                            "desc": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page that can be retrieved.",
                            "type": "string"
                        }
                    ],
                    "response": "GroupListResponse"
                },
                {
                    "name": "update",
                    "desc": "Modifies a group. For example, you could change a group's title.",
                    "path": "groups",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
                            "type": "string"
                        }
                    ],
                    "request": "Group",
                    "response": "Group"
                },
                {
                    "name": "delete",
                    "desc": "Deletes a group.",
                    "path": "groups",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "id",
                            "desc": "The id parameter specifies the YouTube group ID for the group that is being deleted.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "insert",
                    "desc": "Creates a group.",
                    "path": "groups",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
                            "type": "string"
                        }
                    ],
                    "request": "Group",
                    "response": "Group"
                }
            ]
        },
        {
            "name": "reports",
            "methods": [
                {
                    "name": "query",
                    "desc": "Retrieve your YouTube Analytics reports.",
                    "path": "reports",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "ids",
                            "desc": "Identifies the YouTube channel or content owner for which you are retrieving YouTube Analytics data.\n- To request data for a YouTube user, set the ids parameter value to channel==CHANNEL_ID, where CHANNEL_ID specifies the unique YouTube channel ID.\n- To request data for a YouTube CMS content owner, set the ids parameter value to contentOwner==OWNER_NAME, where OWNER_NAME is the CMS name of the content owner.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-zA-Z]+==[a-zA-Z0-9_+-]+"
                        },
                        {
                            "name": "start-date",
                            "desc": "The start date for fetching YouTube Analytics data. The value should be in YYYY-MM-DD format.",
                            "required": true,
                            "type": "string",
                            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}"
                        },
                        {
                            "name": "end-date",
                            "desc": "The end date for fetching YouTube Analytics data. The value should be in YYYY-MM-DD format.",
                            "required": true,
                            "type": "string",
                            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}"
                        },
                        {
                            "name": "metrics",
                            "desc": "A comma-separated list of YouTube Analytics metrics, such as views or likes,dislikes. See the Available Reports document for a list of the reports that you can retrieve and the metrics available in each report, and see the Metrics document for definitions of those metrics.",
                            "required": true,
                            "type": "string",
                            "pattern": "[0-9a-zA-Z,]+"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "include-historical-channel-data",
                            "desc": "If set to true historical data (i.e. channel data from before the linking of the channel to the content owner) will be retrieved.",
                            "type": "bool"
                        },
                        {
                            "name": "sort",
                            "desc": "A comma-separated list of dimensions or metrics that determine the sort order for YouTube Analytics data. By default the sort order is ascending. The '-' prefix causes descending sort order.",
                            "type": "string",
                            "pattern": "[-0-9a-zA-Z,]+"
                        },
                        {
                            "name": "start-index",
                            "desc": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter (one-based, inclusive).",
                            "type": "int32",
                            "min": "1"
                        },
                        {
                            "name": "currency",
                            "desc": "The currency to which financial metrics should be converted. The default is US Dollar (USD). If the result contains no financial metrics, this flag will be ignored. Responds with an error if the specified currency is not recognized.",
                            "type": "string",
                            "pattern": "[A-Z]{3}"
                        },
                        {
                            "name": "dimensions",
                            "desc": "A comma-separated list of YouTube Analytics dimensions, such as views or ageGroup,gender. See the Available Reports document for a list of the reports that you can retrieve and the dimensions used for those reports. Also see the Dimensions document for definitions of those dimensions.",
                            "type": "string",
                            "pattern": "[0-9a-zA-Z,]+"
                        },
                        {
                            "name": "filters",
                            "desc": "A list of filters that should be applied when retrieving YouTube Analytics data. The Available Reports document identifies the dimensions that can be used to filter each report, and the Dimensions document defines those dimensions. If a request uses multiple filters, join them together with a semicolon (;), and the returned result table will satisfy both filters. For example, a filters parameter value of video==dMH0bHeiRNg;country==IT restricts the result set to include data for the given video in Italy.",
                            "type": "string"
                        },
                        {
                            "name": "max-results",
                            "desc": "The maximum number of rows to include in the response.",
                            "type": "int32",
                            "min": "1"
                        }
                    ],
                    "response": "ResultTable"
                }
            ]
        },
        {
            "name": "groupItems",
            "methods": [
                {
                    "name": "delete",
                    "desc": "Removes an item from a group.",
                    "path": "groupItems",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "id",
                            "desc": "The id parameter specifies the YouTube group item ID for the group that is being deleted.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "insert",
                    "desc": "Creates a group item.",
                    "path": "groupItems",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
                            "type": "string"
                        }
                    ],
                    "request": "GroupItem",
                    "response": "GroupItem"
                },
                {
                    "name": "list",
                    "desc": "Returns a collection of group items that match the API request parameters.",
                    "path": "groupItems",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "groupId",
                            "desc": "The id parameter specifies the unique ID of the group for which you want to retrieve group items.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "Note: This parameter is intended exclusively for YouTube content partners.\n\nThe onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
                            "type": "string"
                        }
                    ],
                    "response": "GroupItemListResponse"
                }
            ]
        }
    ]
}