{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "script:v1",
    "name": "script",
    "version": "v1",
    "title": "Google Apps Script Execution API",
    "description": "Executes Google Apps Script projects.",
    "documentationLink": "https://developers.google.com/apps-script/execution/rest/v1/scripts/run",
    "protocol": "rest",
    "rootUrl": "https://script.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.google.com/calendar/feeds",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/forms"
        ]
    },
    "parameters": [
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Status",
            "desc": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's `error` field will contain this `Status` object.",
            "type": "object",
            "fields": [
                {
                    "name": "message",
                    "desc": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the [`google.rpc.Status.details`](google.rpc.Status.details) field, or localized by the client.",
                    "type": "string"
                },
                {
                    "name": "details",
                    "desc": "An array that contains a single `ExecutionError` object that provides information about the nature of the error.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                },
                {
                    "name": "code",
                    "desc": "The status code. For this API, this value will always be 3, corresponding to an INVALID_ARGUMENT error.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ExecutionRequest",
            "desc": "A request to run the function in a script. The script is identified by the\nspecified `script_id`. Executing a function on a script returns results\nbased on the implementation of the script.",
            "type": "object",
            "fields": [
                {
                    "name": "function",
                    "desc": "The name of the function to execute in the given script. The name does not\ninclude parentheses or parameters.",
                    "type": "string"
                },
                {
                    "name": "devMode",
                    "desc": "If `true` and the user is an owner of the script, the script runs at the\nmost recently saved version rather than the version deployed for use with\nthe Execution API. Optional; default is `false`.",
                    "type": "bool"
                },
                {
                    "name": "parameters",
                    "desc": "The parameters to be passed to the function being executed. The object type\nfor each parameter should match the expected type in Apps Script.\nParameters cannot be Apps Script-specific object types (such as a\n`Document` or a `Calendar`); they can only be primitive types such as\n`string`, `number`, `array`, `object`, or `boolean`. Optional.",
                    "collection": "array",
                    "type": "any"
                },
                {
                    "name": "sessionState",
                    "desc": "For Android add-ons only. An ID that represents the user's current session\nin the Android app for Google Docs or Sheets, included as extra data in the\n[`Intent`](https://developer.android.com/guide/components/intents-filters.html)\nthat launches the add-on. When an Android add-on is run with a session\nstate, it gains the privileges of a\n[bound](https://developers.google.com/apps-script/guides/bound) script \u0026mdash;\nthat is, it can access information like the user's current cursor position\n(in Docs) or selected cell (in Sheets). To retrieve the state, call\n`Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`.\nOptional.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExecutionResponse",
            "desc": "An object that provides the return value of a function executed through the\nApps Script Execution API. If a\n`run` call succeeds and the\nscript function returns successfully, the response body's\n`response` field contains this\n`ExecutionResponse` object.",
            "type": "object",
            "fields": [
                {
                    "name": "result",
                    "desc": "The return value of the script function. The type matches the object type\nreturned in Apps Script. Functions called through the Execution API cannot\nreturn Apps Script-specific objects (such as a `Document` or a `Calendar`);\nthey can only return primitive types such as a `string`, `number`, `array`,\n`object`, or `boolean`.",
                    "type": "any"
                }
            ]
        },
        {
            "name": "Operation",
            "desc": "The response will not arrive until the function finishes executing. The maximum runtime is listed in the guide to [limitations in Apps Script](https://developers.google.com/apps-script/guides/services/quotas#current_limitations).\n\u003cp\u003eIf the script function returns successfully, the `response` field will contain an `ExecutionResponse` object with the function's return value in the object's `result` field.\u003c/p\u003e\n\u003cp\u003eIf the script function (or Apps Script itself) throws an exception, the `error` field will contain a `Status` object. The `Status` object's `details` field will contain an array with a single `ExecutionError` object that provides information about the nature of the error.\u003c/p\u003e\n\u003cp\u003eIf the `run` call itself fails (for example, because of a malformed request or an authorization error), the method will return an HTTP response code in the 4XX range with a different format for the response body. Client libraries will automatically convert a 4XX response into an exception class.\u003c/p\u003e",
            "type": "object",
            "fields": [
                {
                    "name": "done",
                    "desc": "This field is not used.",
                    "type": "bool"
                },
                {
                    "name": "response",
                    "desc": "If the script function returns successfully, this field will contain an `ExecutionResponse` object with the function's return value as the object's `result` field.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "name",
                    "desc": "This field is not used.",
                    "type": "string"
                },
                {
                    "name": "error",
                    "desc": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field will contain a `Status` object. The `Status` object's `details` field will contain an array with a single `ExecutionError` object that provides information about the nature of the error.",
                    "type": "ref",
                    "refType": "Status"
                },
                {
                    "name": "metadata",
                    "desc": "This field is not used.",
                    "collection": "map",
                    "type": "any"
                }
            ]
        },
        {
            "name": "ScriptStackTraceElement",
            "desc": "A stack trace through the script that shows where the execution failed.",
            "type": "object",
            "fields": [
                {
                    "name": "function",
                    "desc": "The name of the function that failed.",
                    "type": "string"
                },
                {
                    "name": "lineNumber",
                    "desc": "The line number where the script failed.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ExecutionError",
            "desc": "An object that provides information about the nature of an error in the Apps\nScript Execution API. If an\n`run` call succeeds but the\nscript function (or Apps Script itself) throws an exception, the response\nbody's `error` field contains a\n`Status` object. The `Status` object's `details` field\ncontains an array with a single one of these `ExecutionError` objects.",
            "type": "object",
            "fields": [
                {
                    "name": "scriptStackTraceElements",
                    "desc": "An array of objects that provide a stack trace through the script to show\nwhere the execution failed, with the deepest call first.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ScriptStackTraceElement"
                },
                {
                    "name": "errorType",
                    "desc": "The error type, for example `TypeError` or `ReferenceError`. If the error\ntype is unavailable, this field is not included.",
                    "type": "string"
                },
                {
                    "name": "errorMessage",
                    "desc": "The error message thrown by Apps Script, usually localized into the user's\nlanguage.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "scripts",
            "methods": [
                {
                    "name": "run",
                    "desc": "Runs a function in an Apps Script project. The project must be deployed\nfor use with the Apps Script Execution API.\n\nThis method requires authorization with an OAuth 2.0 token that includes at\nleast one of the scopes listed in the [Authorization](#authorization)\nsection; script projects that do not require authorization cannot be\nexecuted through this API. To find the correct scopes to include in the\nauthentication token, open the project in the script editor, then select\n**File \u003e Project properties** and click the **Scopes** tab.",
                    "path": "v1/scripts/{scriptId}:run",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://mail.google.com/",
                        "https://www.google.com/calendar/feeds",
                        "https://www.google.com/m8/feeds",
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.user",
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/forms",
                        "https://www.googleapis.com/auth/forms.currentonly",
                        "https://www.googleapis.com/auth/groups",
                        "https://www.googleapis.com/auth/spreadsheets",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ],
                    "pathParams": [
                        {
                            "name": "scriptId",
                            "desc": "The project key of the script to be executed. To find the project key, open\nthe project in the script editor and select **File \u003e Project properties**.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ExecutionRequest",
                    "response": "Operation"
                }
            ]
        }
    ]
}