{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/3o2kOuChwcSfe-_UrgiVWnEoY64\"",
    "discoveryVersion": "v1",
    "id": "admin:reports_v1",
    "name": "admin",
    "version": "reports_v1",
    "title": "Admin Reports API",
    "description": "Fetches reports for the administrators of G Suite customers about the usage, collaboration, security, and risk for their users.",
    "documentationLink": "https://developers.google.com/admin-sdk/reports/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly",
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
        ]
    },
    "parameters": [
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "Channel",
            "desc": "An notification channel used to watch for resource changes.",
            "type": "object",
            "fields": [
                {
                    "name": "resourceUri",
                    "desc": "A version-specific identifier for the watched resource.",
                    "type": "string"
                },
                {
                    "name": "expiration",
                    "desc": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
                    "type": "int64"
                },
                {
                    "name": "params",
                    "desc": "Additional parameters controlling delivery channel behavior. Optional.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
                    "type": "string",
                    "default": "api#channel"
                },
                {
                    "name": "payload",
                    "desc": "A Boolean value to indicate whether payload is wanted. Optional.",
                    "type": "bool"
                },
                {
                    "name": "resourceId",
                    "desc": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
                    "type": "string"
                },
                {
                    "name": "token",
                    "desc": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of delivery mechanism used for this channel.",
                    "type": "string"
                },
                {
                    "name": "address",
                    "desc": "The address where notifications are delivered for this channel.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "A UUID or similar unique string that identifies this channel.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UsageReport",
            "desc": "JSON template for a usage report.",
            "type": "object",
            "fields": [
                {
                    "name": "date",
                    "desc": "The date to which the record belongs.",
                    "type": "string"
                },
                {
                    "name": "entity",
                    "desc": "Information about the type of the item.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "customerId",
                            "desc": "Obfuscated customer id for the record.",
                            "type": "string"
                        },
                        {
                            "name": "profileId",
                            "desc": "Obfuscated user id for the record.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "The type of item, can be a customer or user.",
                            "type": "string"
                        },
                        {
                            "name": "userEmail",
                            "desc": "user's email.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of object.",
                    "type": "string",
                    "default": "admin#reports#usageReport"
                },
                {
                    "name": "parameters",
                    "desc": "Parameter value pairs for various applications.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "msgValue",
                            "desc": "Nested message value of the parameter.",
                            "collection": "array",
                            "collectionItem": {
                                "collection": "map",
                                "type": "any"
                            }
                        },
                        {
                            "name": "name",
                            "desc": "The name of the parameter.",
                            "type": "string"
                        },
                        {
                            "name": "stringValue",
                            "desc": "String value of the parameter.",
                            "type": "string"
                        },
                        {
                            "name": "boolValue",
                            "desc": "Boolean value of the parameter.",
                            "type": "bool"
                        },
                        {
                            "name": "datetimeValue",
                            "desc": "RFC 3339 formatted value of the parameter.",
                            "type": "datetime"
                        },
                        {
                            "name": "intValue",
                            "desc": "Integral value of the parameter.",
                            "type": "int64"
                        }
                    ]
                }
            ]
        },
        {
            "name": "UsageReports",
            "desc": "JSON template for a collection of usage reports.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of object.",
                    "type": "string",
                    "default": "admin#reports#usageReports"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token for retrieving the next page",
                    "type": "string"
                },
                {
                    "name": "usageReports",
                    "desc": "Various application parameter records.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UsageReport"
                },
                {
                    "name": "warnings",
                    "desc": "Warnings if any.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "Machine readable code / warning type.",
                            "type": "string"
                        },
                        {
                            "name": "data",
                            "desc": "Key-Value pairs to give detailed information on the warning.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "Key associated with a key-value pair to give detailed information on the warning.",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "Value associated with a key-value pair to give detailed information on the warning.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "Human readable message for the warning.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Activities",
            "desc": "JSON template for a collection of activites.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "Each record in read response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Activity"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list response this is.",
                    "type": "string",
                    "default": "admin#reports#activities"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token for retrieving the next page",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Activity",
            "desc": "JSON template for the activity resource.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Kind of resource this is.",
                    "type": "string",
                    "default": "admin#reports#activity"
                },
                {
                    "name": "ownerDomain",
                    "desc": "Domain of source customer.",
                    "type": "string"
                },
                {
                    "name": "actor",
                    "desc": "User doing the action.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "key",
                            "desc": "For OAuth 2LO API requests, consumer_key of the requestor.",
                            "type": "string"
                        },
                        {
                            "name": "profileId",
                            "desc": "Obfuscated user id of the user.",
                            "type": "string"
                        },
                        {
                            "name": "callerType",
                            "desc": "User or OAuth 2LO request.",
                            "type": "string"
                        },
                        {
                            "name": "email",
                            "desc": "Email address of the user.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "etag",
                    "desc": "ETag of the entry.",
                    "type": "string"
                },
                {
                    "name": "events",
                    "desc": "Activity events.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "name",
                            "desc": "Name of event.",
                            "type": "string"
                        },
                        {
                            "name": "parameters",
                            "desc": "Parameter value pairs for various applications.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "boolValue",
                                    "desc": "Boolean value of the parameter.",
                                    "type": "bool"
                                },
                                {
                                    "name": "intValue",
                                    "desc": "Integral value of the parameter.",
                                    "type": "int64"
                                },
                                {
                                    "name": "multiIntValue",
                                    "desc": "Multi-int value of the parameter.",
                                    "collection": "array",
                                    "type": "int64"
                                },
                                {
                                    "name": "multiValue",
                                    "desc": "Multi-string value of the parameter.",
                                    "collection": "array",
                                    "type": "string"
                                },
                                {
                                    "name": "name",
                                    "desc": "The name of the parameter.",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "String value of the parameter.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "type",
                            "desc": "Type of event.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "Unique identifier for each activity record.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "applicationName",
                            "desc": "Application name to which the event belongs.",
                            "type": "string"
                        },
                        {
                            "name": "customerId",
                            "desc": "Obfuscated customer ID of the source customer.",
                            "type": "string"
                        },
                        {
                            "name": "time",
                            "desc": "Time of occurrence of the activity.",
                            "type": "datetime"
                        },
                        {
                            "name": "uniqueQualifier",
                            "desc": "Unique qualifier if multiple events have the same time.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "ipAddress",
                    "desc": "IP Address of the user doing the action.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "activities",
            "methods": [
                {
                    "name": "list",
                    "desc": "Retrieves a list of activities for a specific customer and application.",
                    "path": "activity/users/{userKey}/applications/{applicationName}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.audit.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userKey",
                            "desc": "Represents the profile id or the user email for which the data should be filtered. When 'all' is specified as the userKey, it returns usageReports for all users.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "applicationName",
                            "desc": "Application name for which the events are to be retrieved.",
                            "required": true,
                            "type": "string",
                            "pattern": "(admin)|(calendar)|(drive)|(login)|(mobile)|(token)|(groups)|(saml)|(chat)"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Number of activity records to be shown in each page.",
                            "type": "int32",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "startTime",
                            "desc": "Return events which occurred at or after this time.",
                            "type": "string",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))"
                        },
                        {
                            "name": "customerId",
                            "desc": "Represents the customer for which the data is to be fetched.",
                            "type": "string",
                            "pattern": "C.+"
                        },
                        {
                            "name": "endTime",
                            "desc": "Return events which occurred at or before this time.",
                            "type": "string",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))"
                        },
                        {
                            "name": "filters",
                            "desc": "Event parameters in the form [parameter1 name][operator][parameter1 value],[parameter2 name][operator][parameter2 value],...",
                            "type": "string",
                            "pattern": "(.+[\u003c,\u003c=,==,\u003e=,\u003e,\u003c\u003e].+,)*(.+[\u003c,\u003c=,==,\u003e=,\u003e,\u003c\u003e].+)"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Token to specify next page.",
                            "type": "string"
                        },
                        {
                            "name": "actorIpAddress",
                            "desc": "IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.",
                            "type": "string"
                        },
                        {
                            "name": "eventName",
                            "desc": "Name of the event being queried.",
                            "type": "string"
                        }
                    ],
                    "response": "Activities"
                },
                {
                    "name": "watch",
                    "desc": "Push changes to activities",
                    "path": "activity/users/{userKey}/applications/{applicationName}/watch",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.audit.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userKey",
                            "desc": "Represents the profile id or the user email for which the data should be filtered. When 'all' is specified as the userKey, it returns usageReports for all users.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "applicationName",
                            "desc": "Application name for which the events are to be retrieved.",
                            "required": true,
                            "type": "string",
                            "pattern": "(admin)|(calendar)|(drive)|(login)|(mobile)|(token)|(groups)|(saml)|(chat)"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "customerId",
                            "desc": "Represents the customer for which the data is to be fetched.",
                            "type": "string",
                            "pattern": "C.+"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Number of activity records to be shown in each page.",
                            "type": "int32",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Token to specify next page.",
                            "type": "string"
                        },
                        {
                            "name": "startTime",
                            "desc": "Return events which occurred at or after this time.",
                            "type": "string",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))"
                        },
                        {
                            "name": "actorIpAddress",
                            "desc": "IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.",
                            "type": "string"
                        },
                        {
                            "name": "endTime",
                            "desc": "Return events which occurred at or before this time.",
                            "type": "string",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))"
                        },
                        {
                            "name": "eventName",
                            "desc": "Name of the event being queried.",
                            "type": "string"
                        },
                        {
                            "name": "filters",
                            "desc": "Event parameters in the form [parameter1 name][operator][parameter1 value],[parameter2 name][operator][parameter2 value],...",
                            "type": "string",
                            "pattern": "(.+[\u003c,\u003c=,==,\u003e=,\u003e,\u003c\u003e].+,)*(.+[\u003c,\u003c=,==,\u003e=,\u003e,\u003c\u003e].+)"
                        }
                    ],
                    "request": "Channel",
                    "response": "Channel"
                }
            ]
        },
        {
            "name": "channels",
            "methods": [
                {
                    "name": "stop",
                    "desc": "Stop watching resources through this channel",
                    "path": "/admin/reports_v1/channels/stop",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.audit.readonly"
                    ],
                    "request": "Channel"
                }
            ]
        },
        {
            "name": "customerUsageReports",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves a report which is a collection of properties / statistics for a specific customer.",
                    "path": "usage/dates/{date}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.usage.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "date",
                            "desc": "Represents the date in yyyy-mm-dd format for which the data is to be fetched.",
                            "required": true,
                            "type": "string",
                            "pattern": "(\\d){4}-(\\d){2}-(\\d){2}"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "Token to specify next page.",
                            "type": "string"
                        },
                        {
                            "name": "parameters",
                            "desc": "Represents the application name, parameter name pairs to fetch in csv as app_name1:param_name1, app_name2:param_name2.",
                            "type": "string",
                            "pattern": "(((accounts)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+,)*(((accounts)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+)"
                        },
                        {
                            "name": "customerId",
                            "desc": "Represents the customer for which the data is to be fetched.",
                            "type": "string",
                            "pattern": "C.+"
                        }
                    ],
                    "response": "UsageReports"
                }
            ]
        },
        {
            "name": "userUsageReport",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves a report which is a collection of properties / statistics for a set of users.",
                    "path": "usage/users/{userKey}/dates/{date}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.usage.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userKey",
                            "desc": "Represents the profile id or the user email for which the data should be filtered.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "date",
                            "desc": "Represents the date in yyyy-mm-dd format for which the data is to be fetched.",
                            "required": true,
                            "type": "string",
                            "pattern": "(\\d){4}-(\\d){2}-(\\d){2}"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "filters",
                            "desc": "Represents the set of filters including parameter operator value.",
                            "type": "string",
                            "pattern": "(((accounts)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[\u003c,\u003c=,==,\u003e=,\u003e,!=][^,]+,)*(((accounts)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[\u003c,\u003c=,==,\u003e=,\u003e,!=][^,]+)"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of results to return. Maximum allowed is 1000",
                            "type": "uint32",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Token to specify next page.",
                            "type": "string"
                        },
                        {
                            "name": "parameters",
                            "desc": "Represents the application name, parameter name pairs to fetch in csv as app_name1:param_name1, app_name2:param_name2.",
                            "type": "string",
                            "pattern": "(((accounts)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+,)*(((accounts)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+)"
                        },
                        {
                            "name": "customerId",
                            "desc": "Represents the customer for which the data is to be fetched.",
                            "type": "string",
                            "pattern": "C.+"
                        }
                    ],
                    "response": "UsageReports"
                }
            ]
        }
    ]
}