{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/0FCdL0BWEx8yMtZQU6marCZhfgI\"",
    "discoveryVersion": "v1",
    "id": "fusiontables:v1",
    "name": "fusiontables",
    "version": "v1",
    "title": "Fusion Tables API",
    "description": "API for working with Fusion Tables data.",
    "documentationLink": "https://developers.google.com/fusiontables",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "fusiontables/v1/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "csv",
                    "desc": "Responses with Content-Type of text/csv"
                },
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "LineStyle",
            "desc": "Represents a LineStyle within a StyleSetting",
            "type": "object",
            "fields": [
                {
                    "name": "strokeColor",
                    "desc": "Color of the line in #RRGGBB format.",
                    "type": "string"
                },
                {
                    "name": "strokeColorStyler",
                    "desc": "Column-value, gradient or buckets styler that is used to determine the line color and opacity.",
                    "type": "ref",
                    "refType": "StyleFunction"
                },
                {
                    "name": "strokeOpacity",
                    "desc": "Opacity of the line : 0.0 (transparent) to 1.0 (opaque).",
                    "type": "float64"
                },
                {
                    "name": "strokeWeight",
                    "desc": "Width of the line in pixels.",
                    "type": "int32"
                },
                {
                    "name": "strokeWeightStyler",
                    "desc": "Column-value or bucket styler that is used to determine the width of the line.",
                    "type": "ref",
                    "refType": "StyleFunction"
                }
            ]
        },
        {
            "name": "Point",
            "desc": "Represents a point object.",
            "type": "object",
            "fields": [
                {
                    "name": "coordinates",
                    "desc": "The coordinates that define the point.",
                    "collection": "array",
                    "type": "float64"
                },
                {
                    "name": "type",
                    "desc": "Point: A point geometry.",
                    "type": "string",
                    "default": "Point"
                }
            ]
        },
        {
            "name": "PointStyle",
            "desc": "Represents a PointStyle within a StyleSetting",
            "type": "object",
            "fields": [
                {
                    "name": "iconName",
                    "desc": "Name of the icon. Use values defined in http://www.google.com/fusiontables/DataSource?dsrcid=308519",
                    "type": "string"
                },
                {
                    "name": "iconStyler",
                    "desc": "Column or a bucket value from which the icon name is to be determined.",
                    "type": "ref",
                    "refType": "StyleFunction"
                }
            ]
        },
        {
            "name": "PolygonStyle",
            "desc": "Represents a PolygonStyle within a StyleSetting",
            "type": "object",
            "fields": [
                {
                    "name": "strokeWeight",
                    "desc": "Width of the polyon border in pixels.",
                    "type": "int32"
                },
                {
                    "name": "strokeWeightStyler",
                    "desc": "Column-value or bucket styler that is used to determine the width of the polygon border.",
                    "type": "ref",
                    "refType": "StyleFunction"
                },
                {
                    "name": "fillColor",
                    "desc": "Color of the interior of the polygon in #RRGGBB format.",
                    "type": "string"
                },
                {
                    "name": "fillColorStyler",
                    "desc": "Column-value, gradient, or bucket styler that is used to determine the interior color and opacity of the polygon.",
                    "type": "ref",
                    "refType": "StyleFunction"
                },
                {
                    "name": "fillOpacity",
                    "desc": "Opacity of the interior of the polygon: 0.0 (transparent) to 1.0 (opaque).",
                    "type": "float64"
                },
                {
                    "name": "strokeColor",
                    "desc": "Color of the polygon border in #RRGGBB format.",
                    "type": "string"
                },
                {
                    "name": "strokeColorStyler",
                    "desc": "Column-value, gradient or buckets styler that is used to determine the border color and opacity.",
                    "type": "ref",
                    "refType": "StyleFunction"
                },
                {
                    "name": "strokeOpacity",
                    "desc": "Opacity of the polygon border: 0.0 (transparent) to 1.0 (opaque).",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "TableList",
            "desc": "Represents a list of tables.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of all requested tables.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Table"
                },
                {
                    "name": "kind",
                    "desc": "Type name: a list of all tables.",
                    "type": "string",
                    "default": "fusiontables#tableList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token used to access the next page of this result. No token is displayed if there are no more pages left.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TemplateList",
            "desc": "Represents a list of templates for a given table.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of all requested templates.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Template"
                },
                {
                    "name": "kind",
                    "desc": "Type name: a list of all templates.",
                    "type": "string",
                    "default": "fusiontables#templateList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token used to access the next page of this result. No token is displayed if there are no more pages left.",
                    "type": "string"
                },
                {
                    "name": "totalItems",
                    "desc": "Total number of templates for the table.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Column",
            "desc": "Specifies the id, name and type of a column in a table.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "Required type of the column.",
                    "type": "string"
                },
                {
                    "name": "baseColumn",
                    "desc": "Optional identifier of the base column. If present, this column is derived from the specified base column.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "columnId",
                            "desc": "The id of the column in the base table from which this column is derived.",
                            "type": "int32"
                        },
                        {
                            "name": "tableIndex",
                            "desc": "Offset to the entry in the list of base tables in the table definition.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "columnId",
                    "desc": "Identifier for the column.",
                    "type": "int32"
                },
                {
                    "name": "description",
                    "desc": "Optional column description.",
                    "type": "string"
                },
                {
                    "name": "graph_predicate",
                    "desc": "Optional column predicate. Used to map table to graph data model (subject,predicate,object) See http://www.w3.org/TR/2014/REC-rdf11-concepts-20140225/#data-model",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type name: a template for an individual column.",
                    "type": "string",
                    "default": "fusiontables#column"
                },
                {
                    "name": "name",
                    "desc": "Required name of the column.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ColumnList",
            "desc": "Represents a list of columns in a table.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Type name: a list of all columns.",
                    "type": "string",
                    "default": "fusiontables#columnList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token used to access the next page of this result. No token is displayed if there are no more pages left.",
                    "type": "string"
                },
                {
                    "name": "totalItems",
                    "desc": "Total number of columns for the table.",
                    "type": "int32"
                },
                {
                    "name": "items",
                    "desc": "List of all requested columns.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Column"
                }
            ]
        },
        {
            "name": "Sqlresponse",
            "desc": "Represents a response to an sql statement.",
            "type": "object",
            "fields": [
                {
                    "name": "rows",
                    "desc": "The rows in the table. For each cell we print out whatever cell value (e.g., numeric, string) exists. Thus it is important that each cell contains only one value.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "array",
                        "type": "any"
                    }
                },
                {
                    "name": "columns",
                    "desc": "Columns in the table.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type name: a template for an individual table.",
                    "type": "string",
                    "default": "fusiontables#sqlresponse"
                }
            ]
        },
        {
            "name": "Table",
            "desc": "Represents a table. Specifies the name, whether it is exportable, description, attribution, and attribution link.",
            "type": "object",
            "fields": [
                {
                    "name": "tableId",
                    "desc": "Encrypted unique alphanumeric identifier for the table.",
                    "type": "string"
                },
                {
                    "name": "attributionLink",
                    "desc": "Optional link for attribution.",
                    "type": "string"
                },
                {
                    "name": "baseTableIds",
                    "desc": "Optional base table identifier if this table is a view or merged table.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "columns",
                    "desc": "Columns in the table.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Column"
                },
                {
                    "name": "description",
                    "desc": "Optional description assigned to the table.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name assigned to a table.",
                    "type": "string"
                },
                {
                    "name": "attribution",
                    "desc": "Optional attribution assigned to the table.",
                    "type": "string"
                },
                {
                    "name": "isExportable",
                    "desc": "Variable for whether table is exportable.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Type name: a template for an individual table.",
                    "type": "string",
                    "default": "fusiontables#table"
                },
                {
                    "name": "sql",
                    "desc": "Optional sql that encodes the table definition for derived tables.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "StyleSettingList",
            "desc": "Represents a list of styles for a given table.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Type name: in this case, a list of style settings.",
                    "type": "string",
                    "default": "fusiontables#styleSettingList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token used to access the next page of this result. No token is displayed if there are no more pages left.",
                    "type": "string"
                },
                {
                    "name": "totalItems",
                    "desc": "Total number of styles for the table.",
                    "type": "int32"
                },
                {
                    "name": "items",
                    "desc": "All requested style settings.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "StyleSetting"
                }
            ]
        },
        {
            "name": "Task",
            "desc": "Specifies the identifier, name, and type of a task in a table.",
            "type": "object",
            "fields": [
                {
                    "name": "started",
                    "desc": "false while the table is busy with some other task. true if this background task is currently running.",
                    "type": "bool"
                },
                {
                    "name": "taskId",
                    "desc": "Identifier for the task.",
                    "type": "int64"
                },
                {
                    "name": "type",
                    "desc": "Type of background task. One of  DELETE_ROWS Deletes one or more rows from the table. ADD_ROWS \"Adds one or more rows to a table. Includes importing data into a new table and importing more rows into an existing table. ADD_COLUMN Adds a new column to the table. CHANGE_TYPE Changes the type of a column.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource. This is always \"fusiontables#task\".",
                    "type": "string",
                    "default": "fusiontables#task"
                },
                {
                    "name": "progress",
                    "desc": "An indication of task progress.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TaskList",
            "desc": "Represents a list of tasks for a table.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of all requested tasks.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Task"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource. This is always \"fusiontables#taskList\".",
                    "type": "string",
                    "default": "fusiontables#taskList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token used to access the next page of this result. No token is displayed if there are no more pages left.",
                    "type": "string"
                },
                {
                    "name": "totalItems",
                    "desc": "Total number of tasks for the table.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Template",
            "desc": "Represents the contents of InfoWindow templates.",
            "type": "object",
            "fields": [
                {
                    "name": "automaticColumnNames",
                    "desc": "List of columns from which the template is to be automatically constructed. Only one of body or automaticColumns can be specified.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "body",
                    "desc": "Body of the template. It contains HTML with {column_name} to insert values from a particular column. The body is sanitized to remove certain tags, e.g., script. Only one of body or automaticColumns can be specified.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type name: a template for the info window contents. The template can either include an HTML body or a list of columns from which the template is computed automatically.",
                    "type": "string",
                    "default": "fusiontables#template"
                },
                {
                    "name": "name",
                    "desc": "Optional name assigned to a template.",
                    "type": "string"
                },
                {
                    "name": "tableId",
                    "desc": "Identifier for the table for which the template is defined.",
                    "type": "string"
                },
                {
                    "name": "templateId",
                    "desc": "Identifier for the template, unique within the context of a particular table.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Geometry",
            "desc": "Represents a Geometry object.",
            "type": "object",
            "fields": [
                {
                    "name": "geometry",
                    "type": "any"
                },
                {
                    "name": "type",
                    "desc": "Type: A collection of geometries.",
                    "type": "string",
                    "default": "GeometryCollection"
                },
                {
                    "name": "geometries",
                    "desc": "The list of geometries in this geometry collection.",
                    "collection": "array",
                    "type": "any"
                }
            ]
        },
        {
            "name": "Line",
            "desc": "Represents a line geometry.",
            "type": "object",
            "fields": [
                {
                    "name": "coordinates",
                    "desc": "The coordinates that define the line.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "array",
                        "type": "float64"
                    }
                },
                {
                    "name": "type",
                    "desc": "Type: A line geometry.",
                    "type": "string",
                    "default": "LineString"
                }
            ]
        },
        {
            "name": "StyleFunction",
            "desc": "Represents a StyleFunction within a StyleSetting",
            "type": "object",
            "fields": [
                {
                    "name": "buckets",
                    "desc": "Bucket function that assigns a style based on the range a column value falls into.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Bucket"
                },
                {
                    "name": "columnName",
                    "desc": "Name of the column whose value is used in the style.",
                    "type": "string"
                },
                {
                    "name": "gradient",
                    "desc": "Gradient function that interpolates a range of colors based on column value.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "min",
                            "desc": "Lower-end of the interpolation range: rows with this value will be assigned to colors[0].",
                            "type": "float64"
                        },
                        {
                            "name": "colors",
                            "desc": "Array with two or more colors.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "color",
                                    "desc": "Color in #RRGGBB format.",
                                    "type": "string"
                                },
                                {
                                    "name": "opacity",
                                    "desc": "Opacity of the color: 0.0 (transparent) to 1.0 (opaque).",
                                    "type": "float64"
                                }
                            ]
                        },
                        {
                            "name": "max",
                            "desc": "Higher-end of the interpolation range: rows with this value will be assigned to colors[n-1].",
                            "type": "float64"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Stylers can be one of three kinds: \"fusiontables#fromColumn\" if the column value is to be used as is, i.e., the column values can have colors in #RRGGBBAA format or integer line widths or icon names; \"fusiontables#gradient\" if the styling of the row is to be based on applying the gradient function on the column value; or \"fusiontables#buckets\" if the styling is to based on the bucket into which the the column value falls.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "StyleSetting",
            "desc": "Represents a complete StyleSettings object. The primary key is a combination of the tableId and a styleId.",
            "type": "object",
            "fields": [
                {
                    "name": "markerOptions",
                    "desc": "Style definition for points in the table.",
                    "type": "ref",
                    "refType": "PointStyle"
                },
                {
                    "name": "name",
                    "desc": "Optional name for the style setting.",
                    "type": "string"
                },
                {
                    "name": "polygonOptions",
                    "desc": "Style definition for polygons in the table.",
                    "type": "ref",
                    "refType": "PolygonStyle"
                },
                {
                    "name": "polylineOptions",
                    "desc": "Style definition for lines in the table.",
                    "type": "ref",
                    "refType": "LineStyle"
                },
                {
                    "name": "styleId",
                    "desc": "Identifier for the style setting (unique only within tables).",
                    "type": "int32"
                },
                {
                    "name": "tableId",
                    "desc": "Identifier for the table.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type name: an individual style setting. A StyleSetting contains the style defintions for points, lines, and polygons in a table. Since a table can have any one or all of them, a style definition can have point, line and polygon style definitions.",
                    "type": "string",
                    "default": "fusiontables#styleSetting"
                }
            ]
        },
        {
            "name": "Bucket",
            "desc": "Specifies the minimum and maximum values, the color, opacity, icon and weight of a bucket within a StyleSetting.",
            "type": "object",
            "fields": [
                {
                    "name": "weight",
                    "desc": "Width of a line (in pixels).",
                    "type": "int32"
                },
                {
                    "name": "color",
                    "desc": "Color of line or the interior of a polygon in #RRGGBB format.",
                    "type": "string"
                },
                {
                    "name": "icon",
                    "desc": "Icon name used for a point.",
                    "type": "string"
                },
                {
                    "name": "max",
                    "desc": "Maximum value in the selected column for a row to be styled according to the bucket color, opacity, icon, or weight.",
                    "type": "float64"
                },
                {
                    "name": "min",
                    "desc": "Minimum value in the selected column for a row to be styled according to the bucket color, opacity, icon, or weight.",
                    "type": "float64"
                },
                {
                    "name": "opacity",
                    "desc": "Opacity of the color: 0.0 (transparent) to 1.0 (opaque).",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "Import",
            "desc": "Represents an import request.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Type name: a template for an import request.",
                    "type": "string",
                    "default": "fusiontables#import"
                },
                {
                    "name": "numRowsReceived",
                    "desc": "The number of rows received from the import request.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "Polygon",
            "desc": "Represents a polygon object.",
            "type": "object",
            "fields": [
                {
                    "name": "coordinates",
                    "desc": "The coordinates that define the polygon.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "array",
                        "collectionItem": {
                            "collection": "array",
                            "type": "float64"
                        }
                    }
                },
                {
                    "name": "type",
                    "desc": "Type: A polygon geometry.",
                    "type": "string",
                    "default": "Polygon"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "style",
            "methods": [
                {
                    "path": "tables/{tableId}/styles/{styleId}",
                    "httpMethod": "PATCH",
                    "name": "patch",
                    "desc": "Updates an existing style. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table whose style is being updated.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "styleId",
                            "desc": "Identifier (within a table) for the style being updated.",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "request": "StyleSetting",
                    "response": "StyleSetting"
                },
                {
                    "path": "tables/{tableId}/styles/{styleId}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Updates an existing style.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table whose style is being updated.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "styleId",
                            "desc": "Identifier (within a table) for the style being updated.",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "request": "StyleSetting",
                    "response": "StyleSetting"
                },
                {
                    "path": "tables/{tableId}/styles/{styleId}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Deletes a style.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table from which the style is being deleted",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "styleId",
                            "desc": "Identifier (within a table) for the style being deleted",
                            "required": true,
                            "type": "int32"
                        }
                    ]
                },
                {
                    "path": "tables/{tableId}/styles/{styleId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets a specific style.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table to which the requested style belongs",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "styleId",
                            "desc": "Identifier (integer) for a specific style in a table",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "response": "StyleSetting"
                },
                {
                    "path": "tables/{tableId}/styles",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Adds a new style for the table.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table for which a new style is being added",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "StyleSetting",
                    "response": "StyleSetting"
                },
                {
                    "path": "tables/{tableId}/styles",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves a list of styles.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table whose styles are being listed",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of styles to return. Optional. Default is 5.",
                            "type": "uint32",
                            "min": "0"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token specifying which result page to return. Optional.",
                            "type": "string"
                        }
                    ],
                    "response": "StyleSettingList"
                }
            ]
        },
        {
            "name": "table",
            "methods": [
                {
                    "path": "tables/{tableId}/copy",
                    "httpMethod": "POST",
                    "name": "copy",
                    "desc": "Copies a table.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "ID of the table that is being copied.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "copyPresentation",
                            "desc": "Whether to also copy tabs, styles, and templates. Default is false.",
                            "type": "bool"
                        }
                    ],
                    "response": "Table"
                },
                {
                    "path": "tables/{tableId}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Deletes a table.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "ID of the table that is being deleted.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "path": "tables/{tableId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Retrieves a specific table by its id.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Identifier(ID) for the table being requested.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Table"
                },
                {
                    "path": "tables/import",
                    "httpMethod": "POST",
                    "name": "importTable",
                    "desc": "Import a new table.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "name",
                            "desc": "The name to be assigned to the new table.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "delimiter",
                            "desc": "The delimiter used to separate cell values. This can only consist of a single character. Default is ','.",
                            "type": "string"
                        },
                        {
                            "name": "encoding",
                            "desc": "The encoding of the content. Default is UTF-8. Use 'auto-detect' if you are unsure of the encoding.",
                            "type": "string"
                        }
                    ],
                    "response": "Table"
                },
                {
                    "path": "tables",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves a list of tables a user owns.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of styles to return. Optional. Default is 5.",
                            "type": "uint32",
                            "min": "0"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token specifying which result page to return. Optional.",
                            "type": "string"
                        }
                    ],
                    "response": "TableList"
                },
                {
                    "path": "tables/{tableId}",
                    "httpMethod": "PATCH",
                    "name": "patch",
                    "desc": "Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "ID of the table that is being updated.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "replaceViewDefinition",
                            "desc": "Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.",
                            "type": "bool"
                        }
                    ],
                    "request": "Table",
                    "response": "Table"
                },
                {
                    "path": "tables/{tableId}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "ID of the table that is being updated.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "replaceViewDefinition",
                            "desc": "Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.",
                            "type": "bool"
                        }
                    ],
                    "request": "Table",
                    "response": "Table"
                },
                {
                    "path": "tables/{tableId}/import",
                    "httpMethod": "POST",
                    "name": "importRows",
                    "desc": "Import more rows into a table.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "The table into which new rows are being imported.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "delimiter",
                            "desc": "The delimiter used to separate cell values. This can only consist of a single character. Default is ','.",
                            "type": "string"
                        },
                        {
                            "name": "encoding",
                            "desc": "The encoding of the content. Default is UTF-8. Use 'auto-detect' if you are unsure of the encoding.",
                            "type": "string"
                        },
                        {
                            "name": "endLine",
                            "desc": "The index of the last line from which to start importing, exclusive. Thus, the number of imported lines is endLine - startLine. If this parameter is not provided, the file will be imported until the last line of the file. If endLine is negative, then the imported content will exclude the last endLine lines. That is, if endline is negative, no line will be imported whose index is greater than N + endLine where N is the number of lines in the file, and the number of imported lines will be N + endLine - startLine.",
                            "type": "int32"
                        },
                        {
                            "name": "isStrict",
                            "desc": "Whether the CSV must have the same number of values for each row. If false, rows with fewer values will be padded with empty values. Default is true.",
                            "type": "bool"
                        },
                        {
                            "name": "startLine",
                            "desc": "The index of the first line from which to start importing, inclusive. Default is 0.",
                            "type": "int32"
                        }
                    ],
                    "response": "Import"
                },
                {
                    "path": "tables",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Creates a new table.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "request": "Table",
                    "response": "Table"
                }
            ]
        },
        {
            "name": "task",
            "methods": [
                {
                    "path": "tables/{tableId}/tasks/{taskId}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Deletes the task, unless already started.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table from which the task is being deleted.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "taskId",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "path": "tables/{tableId}/tasks/{taskId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Retrieves a specific task by its id.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table to which the task belongs.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "taskId",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Task"
                },
                {
                    "path": "tables/{tableId}/tasks",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves a list of tasks.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table whose tasks are being listed.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of columns to return. Optional. Default is 5.",
                            "type": "uint32",
                            "min": "0"
                        },
                        {
                            "name": "pageToken",
                            "type": "string"
                        },
                        {
                            "name": "startIndex",
                            "type": "uint32"
                        }
                    ],
                    "response": "TaskList"
                }
            ]
        },
        {
            "name": "template",
            "methods": [
                {
                    "path": "tables/{tableId}/templates/{templateId}",
                    "httpMethod": "PATCH",
                    "name": "patch",
                    "desc": "Updates an existing template. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table to which the updated template belongs",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "templateId",
                            "desc": "Identifier for the template that is being updated",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "request": "Template",
                    "response": "Template"
                },
                {
                    "path": "tables/{tableId}/templates/{templateId}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Updates an existing template",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table to which the updated template belongs",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "templateId",
                            "desc": "Identifier for the template that is being updated",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "request": "Template",
                    "response": "Template"
                },
                {
                    "path": "tables/{tableId}/templates/{templateId}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Deletes a template",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table from which the template is being deleted",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "templateId",
                            "desc": "Identifier for the template which is being deleted",
                            "required": true,
                            "type": "int32"
                        }
                    ]
                },
                {
                    "path": "tables/{tableId}/templates/{templateId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Retrieves a specific template by its id",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table to which the template belongs",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "templateId",
                            "desc": "Identifier for the template that is being requested",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "response": "Template"
                },
                {
                    "path": "tables/{tableId}/templates",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Creates a new template for the table.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table for which a new template is being created",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Template",
                    "response": "Template"
                },
                {
                    "path": "tables/{tableId}/templates",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves a list of templates.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Identifier for the table whose templates are being requested",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of templates to return. Optional. Default is 5.",
                            "type": "uint32",
                            "min": "0"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token specifying which results page to return. Optional.",
                            "type": "string"
                        }
                    ],
                    "response": "TemplateList"
                }
            ]
        },
        {
            "name": "column",
            "methods": [
                {
                    "path": "tables/{tableId}/columns/{columnId}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Deletes the column.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table from which the column is being deleted.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "columnId",
                            "desc": "Name or identifier for the column being deleted.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "path": "tables/{tableId}/columns/{columnId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Retrieves a specific column by its id.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table to which the column belongs.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "columnId",
                            "desc": "Name or identifier for the column that is being requested.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Column"
                },
                {
                    "path": "tables/{tableId}/columns",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Adds a new column to the table.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table for which a new column is being added.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Column",
                    "response": "Column"
                },
                {
                    "path": "tables/{tableId}/columns",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves a list of columns.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table whose columns are being listed.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of columns to return. Optional. Default is 5.",
                            "type": "uint32",
                            "min": "0"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token specifying which result page to return. Optional.",
                            "type": "string"
                        }
                    ],
                    "response": "ColumnList"
                },
                {
                    "path": "tables/{tableId}/columns/{columnId}",
                    "httpMethod": "PATCH",
                    "name": "patch",
                    "desc": "Updates the name or type of an existing column. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table for which the column is being updated.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "columnId",
                            "desc": "Name or identifier for the column that is being updated.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Column",
                    "response": "Column"
                },
                {
                    "path": "tables/{tableId}/columns/{columnId}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Updates the name or type of an existing column.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables"
                    ],
                    "pathParams": [
                        {
                            "name": "tableId",
                            "desc": "Table for which the column is being updated.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "columnId",
                            "desc": "Name or identifier for the column that is being updated.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Column",
                    "response": "Column"
                }
            ]
        },
        {
            "name": "query",
            "methods": [
                {
                    "path": "query",
                    "httpMethod": "POST",
                    "name": "sql",
                    "desc": "Executes an SQL SELECT/INSERT/UPDATE/DELETE/SHOW/DESCRIBE/CREATE statement.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "sql",
                            "desc": "An SQL SELECT/SHOW/DESCRIBE/INSERT/UPDATE/DELETE/CREATE statement.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "hdrs",
                            "desc": "Should column names be included (in the first row)?. Default is true.",
                            "type": "bool"
                        },
                        {
                            "name": "typed",
                            "desc": "Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.",
                            "type": "bool"
                        }
                    ],
                    "response": "Sqlresponse"
                },
                {
                    "path": "query",
                    "httpMethod": "GET",
                    "name": "sqlGet",
                    "desc": "Executes an SQL SELECT/SHOW/DESCRIBE statement.",
                    "scopes": [
                        "https://www.googleapis.com/auth/fusiontables",
                        "https://www.googleapis.com/auth/fusiontables.readonly"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "sql",
                            "desc": "An SQL SELECT/SHOW/DESCRIBE statement.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "typed",
                            "desc": "Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.",
                            "type": "bool"
                        },
                        {
                            "name": "hdrs",
                            "desc": "Should column names be included (in the first row)?. Default is true.",
                            "type": "bool"
                        }
                    ],
                    "response": "Sqlresponse"
                }
            ]
        }
    ]
}