{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/lDspG_RuIpldIEGq_lxUn6PFZOk\"",
    "discoveryVersion": "v1",
    "id": "resourceviews:v1beta2",
    "name": "resourceviews",
    "version": "v1beta2",
    "title": "Google Compute Engine Instance Groups API",
    "description": "The Resource View API allows users to create and manage logical sets of Google Compute Engine instances.",
    "documentationLink": "https://developers.google.com/compute/",
    "labels": [
        "limited_availability"
    ],
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "resourceviews/v1beta2/projects/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Label",
            "desc": "The Label to be applied to the resource views.",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "desc": "Key of the label.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "Value of the label.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListResourceResponseItem",
            "desc": "The list response item that contains the resource and end points information.",
            "type": "object",
            "fields": [
                {
                    "name": "endpoints",
                    "desc": "The list of service end points on the resource.",
                    "collection": "map",
                    "collectionItem": {
                        "desc": "The name of the service end point.",
                        "collection": "array",
                        "type": "int32"
                    }
                },
                {
                    "name": "resource",
                    "desc": "The full URL of the resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Operation",
            "desc": "An operation resource, used to manage asynchronous API requests.",
            "type": "object",
            "fields": [
                {
                    "name": "clientOperationId",
                    "desc": "[Output only] An optional identifier specified by the client when the mutation was initiated. Must be unique for all operation resources in the project.",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] The time that this operation was requested, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "targetLink",
                    "desc": "[Output only] URL of the resource the operation is mutating.",
                    "type": "string"
                },
                {
                    "name": "region",
                    "desc": "[Output Only] URL of the region where the operation resides. Only available when performing regional operations.",
                    "type": "string"
                },
                {
                    "name": "startTime",
                    "desc": "[Output Only] The time that this operation was started by the server, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "statusMessage",
                    "desc": "[Output Only] An optional textual description of the current status of the operation.",
                    "type": "string"
                },
                {
                    "name": "targetId",
                    "desc": "[Output Only] Unique target ID which identifies a particular incarnation of the target.",
                    "type": "uint64"
                },
                {
                    "name": "warnings",
                    "desc": "[Output Only] If there are issues with this operation, a warning is returned.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "[Output only] The warning type identifier for this warning.",
                            "type": "string"
                        },
                        {
                            "name": "data",
                            "desc": "[Output only] Metadata for this warning in key:value format.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] Metadata key for this warning.",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] Metadata value for this warning.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output only] Optional human-readable details for this warning.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "endTime",
                    "desc": "[Output Only] The time that this operation was completed, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] Unique identifier for the resource, generated by the server.",
                    "type": "uint64"
                },
                {
                    "name": "kind",
                    "desc": "[Output only] Type of the resource.",
                    "type": "string",
                    "default": "resourceviews#operation"
                },
                {
                    "name": "name",
                    "desc": "[Output Only] Name of the resource.",
                    "type": "string"
                },
                {
                    "name": "operationType",
                    "desc": "[Output only] Type of the operation. Operations include insert, update, and delete.",
                    "type": "string"
                },
                {
                    "name": "zone",
                    "desc": "[Output Only] URL of the zone where the operation resides. Only available when performing per-zone operations.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined fully-qualified URL for this resource.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "[Output Only] Status of the operation.",
                    "type": "string"
                },
                {
                    "name": "user",
                    "desc": "[Output Only] User who requested the operation, for example: user@example.com.",
                    "type": "string"
                },
                {
                    "name": "error",
                    "desc": "[Output Only] If errors occurred during processing of this operation, this field will be populated.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "errors",
                            "desc": "[Output Only] The array of errors encountered while processing this operation.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "code",
                                    "desc": "[Output Only] The error type identifier for this error.",
                                    "type": "string"
                                },
                                {
                                    "name": "location",
                                    "desc": "[Output Only] Indicates the field in the request which caused the error. This property is optional.",
                                    "type": "string"
                                },
                                {
                                    "name": "message",
                                    "desc": "[Output Only] An optional, human-readable error message.",
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "httpErrorMessage",
                    "desc": "[Output only] If operation fails, the HTTP error message returned.",
                    "type": "string"
                },
                {
                    "name": "httpErrorStatusCode",
                    "desc": "[Output only] If operation fails, the HTTP error status code returned.",
                    "type": "int32"
                },
                {
                    "name": "insertTime",
                    "desc": "[Output Only] The time that this operation was requested, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "progress",
                    "desc": "[Output only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess at when the operation will be complete. This number should be monotonically increasing as the operation progresses.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ServiceEndpoint",
            "desc": "The service endpoint that may be started in a VM.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the service endpoint.",
                    "type": "string"
                },
                {
                    "name": "port",
                    "desc": "The port of the service endpoint.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ZoneViewsAddResourcesRequest",
            "desc": "The request to add resources to the resource view.",
            "type": "object",
            "fields": [
                {
                    "name": "resources",
                    "desc": "The list of resources to be added.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ZoneViewsGetServiceResponse",
            "type": "object",
            "fields": [
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the service information.",
                    "type": "string"
                },
                {
                    "name": "endpoints",
                    "desc": "The service information.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ServiceEndpoint"
                }
            ]
        },
        {
            "name": "ZoneViewsListResourcesResponse",
            "desc": "The response to a list resource request.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token used for pagination.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The formatted JSON that is requested by the user.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ListResourceResponseItem"
                },
                {
                    "name": "network",
                    "desc": "The URL of a Compute Engine network to which the resources in the view belong.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ZoneViewsSetServiceRequest",
            "type": "object",
            "fields": [
                {
                    "name": "endpoints",
                    "desc": "The service information to be updated.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ServiceEndpoint"
                },
                {
                    "name": "fingerprint",
                    "desc": "Fingerprint of the service information; a hash of the contents. This field is used for optimistic locking when updating the service entries.",
                    "type": "string"
                },
                {
                    "name": "resourceName",
                    "desc": "The name of the resource if user wants to update the service information of the resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OperationList",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token used to continue a truncated list request (output only).",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "Server defined URL for this resource (output only).",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier for the resource; defined by the server (output only).",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The operation resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Operation"
                },
                {
                    "name": "kind",
                    "desc": "Type of resource.",
                    "type": "string",
                    "default": "resourceviews#operationList"
                }
            ]
        },
        {
            "name": "ResourceView",
            "desc": "The resource view object.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the resource view.",
                    "type": "string"
                },
                {
                    "name": "resources",
                    "desc": "A list of all resources in the resource view.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "The creation time of the resource view.",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the service endpoint information.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource.",
                    "type": "string",
                    "default": "resourceviews#resourceView"
                },
                {
                    "name": "labels",
                    "desc": "The labels for events.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Label"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] A self-link to the resource view.",
                    "type": "string"
                },
                {
                    "name": "size",
                    "desc": "The total number of resources in the resource view.",
                    "type": "uint32"
                },
                {
                    "name": "description",
                    "desc": "The detailed description of the resource view.",
                    "type": "string"
                },
                {
                    "name": "endpoints",
                    "desc": "Services endpoint information.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ServiceEndpoint"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The ID of the resource view.",
                    "type": "string"
                },
                {
                    "name": "network",
                    "desc": "The URL of a Compute Engine network to which the resources in the view belong.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ZoneViewsList",
            "desc": "The response to a list request.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The result that contains all resource views that meet the criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ResourceView"
                },
                {
                    "name": "kind",
                    "desc": "Type of resource.",
                    "type": "string",
                    "default": "resourceviews#zoneViewsList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token used for pagination.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "Server defined URL for this resource (output only).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ZoneViewsRemoveResourcesRequest",
            "desc": "The request to remove resources from the resource view.",
            "type": "object",
            "fields": [
                {
                    "name": "resources",
                    "desc": "The list of resources to be removed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "zoneOperations",
            "methods": [
                {
                    "path": "{project}/zones/{zone}/operations/{operation}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Retrieves the specified zone-specific operation resource.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Name of the project scoping this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "Name of the zone scoping this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "operation",
                            "desc": "Name of the operation resource to return.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "path": "{project}/zones/{zone}/operations",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves the list of operation resources contained within the specified zone.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Name of the project scoping this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "Name of the zone scoping this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "type": "uint32",
                            "default": "500",
                            "min": "0",
                            "max": "500"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "type": "string"
                        },
                        {
                            "name": "filter",
                            "desc": "Optional. Filter expression for filtering listed resources.",
                            "type": "string"
                        }
                    ],
                    "response": "OperationList"
                }
            ]
        },
        {
            "name": "zoneViews",
            "methods": [
                {
                    "path": "{project}/zones/{zone}/resourceViews",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "List resource views.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
                            "type": "int32",
                            "default": "5000",
                            "min": "0",
                            "max": "5000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
                            "type": "string"
                        }
                    ],
                    "response": "ZoneViewsList"
                },
                {
                    "path": "{project}/zones/{zone}/resourceViews/{resourceView}/removeResources",
                    "httpMethod": "POST",
                    "name": "removeResources",
                    "desc": "Remove resources from the view.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceView",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ZoneViewsRemoveResourcesRequest",
                    "response": "Operation"
                },
                {
                    "path": "{project}/zones/{zone}/resourceViews/{resourceView}/getService",
                    "httpMethod": "POST",
                    "name": "getService",
                    "desc": "Get the service information of a resource view or a resource.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceView",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "resourceName",
                            "desc": "The name of the resource if user wants to get the service information of the resource.",
                            "type": "string"
                        }
                    ],
                    "response": "ZoneViewsGetServiceResponse"
                },
                {
                    "path": "{project}/zones/{zone}/resourceViews/{resourceView}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Delete a resource view.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceView",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "path": "{project}/zones/{zone}/resourceViews/{resourceView}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Get the information of a zonal resource view.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceView",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "ResourceView"
                },
                {
                    "path": "{project}/zones/{zone}/resourceViews",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Create a resource view.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ResourceView",
                    "response": "Operation"
                },
                {
                    "path": "{project}/zones/{zone}/resourceViews/{resourceView}/resources",
                    "httpMethod": "GET",
                    "name": "listResources",
                    "desc": "List the resources of the resource view.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceView",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "format",
                            "desc": "The requested format of the return value. It can be URL or URL_PORT. A JSON object will be included in the response based on the format. The default format is NONE, which results in no JSON in the response.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "NONE"
                                },
                                {
                                    "name": "URL"
                                },
                                {
                                    "name": "URL_PORT"
                                }
                            ]
                        },
                        {
                            "name": "listState",
                            "desc": "The state of the instance to list. By default, it lists all instances.",
                            "type": "string",
                            "default": "ALL",
                            "enum": [
                                {
                                    "name": "ALL"
                                },
                                {
                                    "name": "RUNNING"
                                }
                            ]
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
                            "type": "int32",
                            "default": "5000",
                            "min": "0",
                            "max": "5000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
                            "type": "string"
                        },
                        {
                            "name": "serviceName",
                            "desc": "The service name to return in the response. It is optional and if it is not set, all the service end points will be returned.",
                            "type": "string"
                        }
                    ],
                    "response": "ZoneViewsListResourcesResponse"
                },
                {
                    "path": "{project}/zones/{zone}/resourceViews/{resourceView}/setService",
                    "httpMethod": "POST",
                    "name": "setService",
                    "desc": "Update the service information of a resource view or a resource.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceView",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ZoneViewsSetServiceRequest",
                    "response": "Operation"
                },
                {
                    "path": "{project}/zones/{zone}/resourceViews/{resourceView}/addResources",
                    "httpMethod": "POST",
                    "name": "addResources",
                    "desc": "Add resources to the view.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceView",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ZoneViewsAddResourcesRequest",
                    "response": "Operation"
                }
            ]
        }
    ]
}