{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/nNHa5d4TJZ825afZFgDJZn14WPw\"",
    "discoveryVersion": "v1",
    "id": "gmail:v1",
    "name": "gmail",
    "version": "v1",
    "title": "Gmail API",
    "description": "Access Gmail mailboxes including sending user email.",
    "documentationLink": "https://developers.google.com/gmail/api/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "gmail/v1/users/",
    "auth": {
        "oauth2": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.send",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.insert",
            "https://www.googleapis.com/auth/gmail.labels",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly",
            "https://www.googleapis.com/auth/gmail.settings.basic",
            "https://www.googleapis.com/auth/gmail.settings.sharing"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "AutoForwarding",
            "desc": "Auto-forwarding settings for an account.",
            "type": "object",
            "fields": [
                {
                    "name": "disposition",
                    "desc": "The state that a message should be left in after it has been forwarded.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "archive"
                        },
                        {
                            "name": "dispositionUnspecified"
                        },
                        {
                            "name": "leaveInInbox"
                        },
                        {
                            "name": "markRead"
                        },
                        {
                            "name": "trash"
                        }
                    ]
                },
                {
                    "name": "emailAddress",
                    "desc": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses.",
                    "type": "string"
                },
                {
                    "name": "enabled",
                    "desc": "Whether all incoming mail is automatically forwarded to another address.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "HistoryMessageDeleted",
            "type": "object",
            "fields": [
                {
                    "name": "message",
                    "type": "ref",
                    "refType": "Message"
                }
            ]
        },
        {
            "name": "Label",
            "desc": "Labels are used to categorize messages and threads within the user's mailbox.",
            "type": "object",
            "fields": [
                {
                    "name": "labelListVisibility",
                    "desc": "The visibility of the label in the label list in the Gmail web interface.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "labelHide"
                        },
                        {
                            "name": "labelShow"
                        },
                        {
                            "name": "labelShowIfUnread"
                        }
                    ]
                },
                {
                    "name": "messagesTotal",
                    "desc": "The total number of messages with the label.",
                    "type": "int32"
                },
                {
                    "name": "threadsTotal",
                    "desc": "The total number of threads with the label.",
                    "type": "int32"
                },
                {
                    "name": "threadsUnread",
                    "desc": "The number of unread threads with the label.",
                    "type": "int32"
                },
                {
                    "name": "id",
                    "desc": "The immutable ID of the label.",
                    "type": "string"
                },
                {
                    "name": "messageListVisibility",
                    "desc": "The visibility of the label in the message list in the Gmail web interface.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "hide"
                        },
                        {
                            "name": "show"
                        }
                    ]
                },
                {
                    "name": "messagesUnread",
                    "desc": "The number of unread messages with the label.",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "The display name of the label.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the INBOX and UNREAD labels from messages and threads, but cannot apply or remove the DRAFTS or SENT labels from messages or threads.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "system"
                        },
                        {
                            "name": "user"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ListSendAsResponse",
            "desc": "Response for the ListSendAs method.",
            "type": "object",
            "fields": [
                {
                    "name": "sendAs",
                    "desc": "List of send-as aliases.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SendAs"
                }
            ]
        },
        {
            "name": "Message",
            "desc": "An email message.",
            "type": "object",
            "fields": [
                {
                    "name": "labelIds",
                    "desc": "List of IDs of labels applied to this message.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "payload",
                    "desc": "The parsed email structure in the message parts.",
                    "type": "ref",
                    "refType": "MessagePart"
                },
                {
                    "name": "raw",
                    "desc": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in messages.get and drafts.get responses when the format=RAW parameter is supplied.",
                    "type": "byte"
                },
                {
                    "name": "snippet",
                    "desc": "A short part of the message text.",
                    "type": "string"
                },
                {
                    "name": "historyId",
                    "desc": "The ID of the last history record that modified this message.",
                    "type": "uint64"
                },
                {
                    "name": "id",
                    "desc": "The immutable ID of the message.",
                    "type": "string"
                },
                {
                    "name": "internalDate",
                    "desc": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the Date header. However, for API-migrated mail, it can be configured by client to be based on the Date header.",
                    "type": "int64"
                },
                {
                    "name": "sizeEstimate",
                    "desc": "Estimated size in bytes of the message.",
                    "type": "int32"
                },
                {
                    "name": "threadId",
                    "desc": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: \n- The requested threadId must be specified on the Message or Draft.Message you supply with your request. \n- The References and In-Reply-To headers must be set in compliance with the RFC 2822 standard. \n- The Subject headers must match.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "WatchRequest",
            "desc": "Set up or update a new push notification watch on this user's mailbox.",
            "type": "object",
            "fields": [
                {
                    "name": "topicName",
                    "desc": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format).\n\nNote that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request).",
                    "type": "string"
                },
                {
                    "name": "labelFilterAction",
                    "desc": "Filtering behavior of labelIds list specified.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "exclude"
                        },
                        {
                            "name": "include"
                        }
                    ]
                },
                {
                    "name": "labelIds",
                    "desc": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Filter",
            "desc": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread.",
            "type": "object",
            "fields": [
                {
                    "name": "action",
                    "desc": "Action that the filter performs.",
                    "type": "ref",
                    "refType": "FilterAction"
                },
                {
                    "name": "criteria",
                    "desc": "Matching criteria for the filter.",
                    "type": "ref",
                    "refType": "FilterCriteria"
                },
                {
                    "name": "id",
                    "desc": "The server assigned ID of the filter.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListDraftsResponse",
            "type": "object",
            "fields": [
                {
                    "name": "drafts",
                    "desc": "List of drafts.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Draft"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token to retrieve the next page of results in the list.",
                    "type": "string"
                },
                {
                    "name": "resultSizeEstimate",
                    "desc": "Estimated total number of results.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "ListHistoryResponse",
            "type": "object",
            "fields": [
                {
                    "name": "history",
                    "desc": "List of history records. Any messages contained in the response will typically only have id and threadId fields populated.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "History"
                },
                {
                    "name": "historyId",
                    "desc": "The ID of the mailbox's current history record.",
                    "type": "uint64"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Page token to retrieve the next page of results in the list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ModifyMessageRequest",
            "type": "object",
            "fields": [
                {
                    "name": "addLabelIds",
                    "desc": "A list of IDs of labels to add to this message.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "removeLabelIds",
                    "desc": "A list IDs of labels to remove from this message.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "WatchResponse",
            "desc": "Push notification watch response.",
            "type": "object",
            "fields": [
                {
                    "name": "expiration",
                    "desc": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call watch again before this time to renew the watch.",
                    "type": "int64"
                },
                {
                    "name": "historyId",
                    "desc": "The ID of the mailbox's current history record.",
                    "type": "uint64"
                }
            ]
        },
        {
            "name": "HistoryLabelAdded",
            "type": "object",
            "fields": [
                {
                    "name": "labelIds",
                    "desc": "Label IDs added to the message.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "message",
                    "type": "ref",
                    "refType": "Message"
                }
            ]
        },
        {
            "name": "HistoryMessageAdded",
            "type": "object",
            "fields": [
                {
                    "name": "message",
                    "type": "ref",
                    "refType": "Message"
                }
            ]
        },
        {
            "name": "ListForwardingAddressesResponse",
            "desc": "Response for the ListForwardingAddresses method.",
            "type": "object",
            "fields": [
                {
                    "name": "forwardingAddresses",
                    "desc": "List of addresses that may be used for forwarding.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ForwardingAddress"
                }
            ]
        },
        {
            "name": "ListSmimeInfoResponse",
            "type": "object",
            "fields": [
                {
                    "name": "smimeInfo",
                    "desc": "List of SmimeInfo.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SmimeInfo"
                }
            ]
        },
        {
            "name": "MessagePartBody",
            "desc": "The body of a single MIME message part.",
            "type": "object",
            "fields": [
                {
                    "name": "attachmentId",
                    "desc": "When present, contains the ID of an external attachment that can be retrieved in a separate messages.attachments.get request. When not present, the entire content of the message part body is contained in the data field.",
                    "type": "string"
                },
                {
                    "name": "data",
                    "desc": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment.",
                    "type": "byte"
                },
                {
                    "name": "size",
                    "desc": "Number of bytes for the message part data (encoding notwithstanding).",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "SendAs",
            "desc": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface.",
            "type": "object",
            "fields": [
                {
                    "name": "isDefault",
                    "desc": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is true. Changing this from false to true for an address will result in this field becoming false for the other previous default address.",
                    "type": "bool"
                },
                {
                    "name": "isPrimary",
                    "desc": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only.",
                    "type": "bool"
                },
                {
                    "name": "sendAsEmail",
                    "desc": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create.",
                    "type": "string"
                },
                {
                    "name": "signature",
                    "desc": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI.",
                    "type": "string"
                },
                {
                    "name": "verificationStatus",
                    "desc": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "accepted"
                        },
                        {
                            "name": "pending"
                        },
                        {
                            "name": "verificationStatusUnspecified"
                        }
                    ]
                },
                {
                    "name": "displayName",
                    "desc": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account.",
                    "type": "string"
                },
                {
                    "name": "replyToAddress",
                    "desc": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header.",
                    "type": "string"
                },
                {
                    "name": "smtpMsa",
                    "desc": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases.",
                    "type": "ref",
                    "refType": "SmtpMsa"
                },
                {
                    "name": "treatAsAlias",
                    "desc": "Whether Gmail should  treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "ListFiltersResponse",
            "desc": "Response for the ListFilters method.",
            "type": "object",
            "fields": [
                {
                    "name": "filter",
                    "desc": "List of a user's filters.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Filter"
                }
            ]
        },
        {
            "name": "ListMessagesResponse",
            "type": "object",
            "fields": [
                {
                    "name": "resultSizeEstimate",
                    "desc": "Estimated total number of results.",
                    "type": "uint32"
                },
                {
                    "name": "messages",
                    "desc": "List of messages.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Message"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token to retrieve the next page of results in the list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SmtpMsa",
            "desc": "Configuration for communication with an SMTP service.",
            "type": "object",
            "fields": [
                {
                    "name": "username",
                    "desc": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses.",
                    "type": "string"
                },
                {
                    "name": "host",
                    "desc": "The hostname of the SMTP service. Required.",
                    "type": "string"
                },
                {
                    "name": "password",
                    "desc": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses.",
                    "type": "string"
                },
                {
                    "name": "port",
                    "desc": "The port of the SMTP service. Required.",
                    "type": "int32"
                },
                {
                    "name": "securityMode",
                    "desc": "The protocol that will be used to secure communication with the SMTP service. Required.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "none"
                        },
                        {
                            "name": "securityModeUnspecified"
                        },
                        {
                            "name": "ssl"
                        },
                        {
                            "name": "starttls"
                        }
                    ]
                }
            ]
        },
        {
            "name": "VacationSettings",
            "desc": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface.",
            "type": "object",
            "fields": [
                {
                    "name": "enableAutoReply",
                    "desc": "Flag that controls whether Gmail automatically replies to messages.",
                    "type": "bool"
                },
                {
                    "name": "endTime",
                    "desc": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both startTime and endTime are specified, startTime must precede endTime.",
                    "type": "int64"
                },
                {
                    "name": "responseBodyHtml",
                    "desc": "Response body in HTML format. Gmail will sanitize the HTML before storing it.",
                    "type": "string"
                },
                {
                    "name": "responseBodyPlainText",
                    "desc": "Response body in plain text format.",
                    "type": "string"
                },
                {
                    "name": "responseSubject",
                    "desc": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty.",
                    "type": "string"
                },
                {
                    "name": "restrictToContacts",
                    "desc": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts.",
                    "type": "bool"
                },
                {
                    "name": "restrictToDomain",
                    "desc": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for G Suite users.",
                    "type": "bool"
                },
                {
                    "name": "startTime",
                    "desc": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both startTime and endTime are specified, startTime must precede endTime.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "BatchDeleteMessagesRequest",
            "type": "object",
            "fields": [
                {
                    "name": "ids",
                    "desc": "The IDs of the messages to delete.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BatchModifyMessagesRequest",
            "type": "object",
            "fields": [
                {
                    "name": "addLabelIds",
                    "desc": "A list of label IDs to add to messages.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "ids",
                    "desc": "The IDs of the messages to modify. There is a limit of 1000 ids per request.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "removeLabelIds",
                    "desc": "A list of label IDs to remove from messages.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "History",
            "desc": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways.",
            "type": "object",
            "fields": [
                {
                    "name": "messages",
                    "desc": "List of messages changed in this history record. The fields for specific change types, such as messagesAdded may duplicate messages in this field. We recommend using the specific change-type fields instead of this.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Message"
                },
                {
                    "name": "messagesAdded",
                    "desc": "Messages added to the mailbox in this history record.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HistoryMessageAdded"
                },
                {
                    "name": "messagesDeleted",
                    "desc": "Messages deleted (not Trashed) from the mailbox in this history record.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HistoryMessageDeleted"
                },
                {
                    "name": "id",
                    "desc": "The mailbox sequence ID.",
                    "type": "uint64"
                },
                {
                    "name": "labelsAdded",
                    "desc": "Labels added to messages in this history record.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HistoryLabelAdded"
                },
                {
                    "name": "labelsRemoved",
                    "desc": "Labels removed from messages in this history record.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HistoryLabelRemoved"
                }
            ]
        },
        {
            "name": "HistoryLabelRemoved",
            "type": "object",
            "fields": [
                {
                    "name": "labelIds",
                    "desc": "Label IDs removed from the message.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "message",
                    "type": "ref",
                    "refType": "Message"
                }
            ]
        },
        {
            "name": "MessagePart",
            "desc": "A single MIME message part.",
            "type": "object",
            "fields": [
                {
                    "name": "mimeType",
                    "desc": "The MIME type of the message part.",
                    "type": "string"
                },
                {
                    "name": "partId",
                    "desc": "The immutable ID of the message part.",
                    "type": "string"
                },
                {
                    "name": "parts",
                    "desc": "The child MIME message parts of this part. This only applies to container MIME message parts, for example multipart/*. For non- container MIME message part types, such as text/plain, this field is empty. For more information, see RFC 1521.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MessagePart"
                },
                {
                    "name": "body",
                    "desc": "The message part body for this part, which may be empty for container MIME message parts.",
                    "type": "ref",
                    "refType": "MessagePartBody"
                },
                {
                    "name": "filename",
                    "desc": "The filename of the attachment. Only present if this message part represents an attachment.",
                    "type": "string"
                },
                {
                    "name": "headers",
                    "desc": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as To, From, and Subject.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MessagePartHeader"
                }
            ]
        },
        {
            "name": "MessagePartHeader",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The value of the header after the : separator. For example, someuser@example.com.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the header before the : separator. For example, To.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FilterAction",
            "desc": "A set of actions to perform on a message.",
            "type": "object",
            "fields": [
                {
                    "name": "addLabelIds",
                    "desc": "List of labels to add to the message.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "forward",
                    "desc": "Email address that the message should be forwarded to.",
                    "type": "string"
                },
                {
                    "name": "removeLabelIds",
                    "desc": "List of labels to remove from the message.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FilterCriteria",
            "desc": "Message matching criteria.",
            "type": "object",
            "fields": [
                {
                    "name": "sizeComparison",
                    "desc": "How the message size in bytes should be in relation to the size field.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "larger"
                        },
                        {
                            "name": "smaller"
                        },
                        {
                            "name": "unspecified"
                        }
                    ]
                },
                {
                    "name": "subject",
                    "desc": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed.",
                    "type": "string"
                },
                {
                    "name": "size",
                    "desc": "The size of the entire RFC822 message in bytes, including all headers and attachments.",
                    "type": "int32"
                },
                {
                    "name": "to",
                    "desc": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive.",
                    "type": "string"
                },
                {
                    "name": "excludeChats",
                    "desc": "Whether the response should exclude chats.",
                    "type": "bool"
                },
                {
                    "name": "from",
                    "desc": "The sender's display name or email address.",
                    "type": "string"
                },
                {
                    "name": "hasAttachment",
                    "desc": "Whether the message has any attachment.",
                    "type": "bool"
                },
                {
                    "name": "negatedQuery",
                    "desc": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, \"from:someuser@example.com rfc822msgid: is:unread\".",
                    "type": "string"
                },
                {
                    "name": "query",
                    "desc": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, \"from:someuser@example.com rfc822msgid: is:unread\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ModifyThreadRequest",
            "type": "object",
            "fields": [
                {
                    "name": "addLabelIds",
                    "desc": "A list of IDs of labels to add to this thread.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "removeLabelIds",
                    "desc": "A list of IDs of labels to remove from this thread.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ImapSettings",
            "desc": "IMAP settings for an account.",
            "type": "object",
            "fields": [
                {
                    "name": "autoExpunge",
                    "desc": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted.",
                    "type": "bool"
                },
                {
                    "name": "enabled",
                    "desc": "Whether IMAP is enabled for the account.",
                    "type": "bool"
                },
                {
                    "name": "expungeBehavior",
                    "desc": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "archive"
                        },
                        {
                            "name": "deleteForever"
                        },
                        {
                            "name": "expungeBehaviorUnspecified"
                        },
                        {
                            "name": "trash"
                        }
                    ]
                },
                {
                    "name": "maxFolderSize",
                    "desc": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "PopSettings",
            "desc": "POP settings for an account.",
            "type": "object",
            "fields": [
                {
                    "name": "accessWindow",
                    "desc": "The range of messages which are accessible via POP.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "accessWindowUnspecified"
                        },
                        {
                            "name": "allMail"
                        },
                        {
                            "name": "disabled"
                        },
                        {
                            "name": "fromNowOn"
                        }
                    ]
                },
                {
                    "name": "disposition",
                    "desc": "The action that will be executed on a message after it has been fetched via POP.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "archive"
                        },
                        {
                            "name": "dispositionUnspecified"
                        },
                        {
                            "name": "leaveInInbox"
                        },
                        {
                            "name": "markRead"
                        },
                        {
                            "name": "trash"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Thread",
            "desc": "A collection of messages representing a conversation.",
            "type": "object",
            "fields": [
                {
                    "name": "historyId",
                    "desc": "The ID of the last history record that modified this thread.",
                    "type": "uint64"
                },
                {
                    "name": "id",
                    "desc": "The unique ID of the thread.",
                    "type": "string"
                },
                {
                    "name": "messages",
                    "desc": "The list of messages in the thread.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Message"
                },
                {
                    "name": "snippet",
                    "desc": "A short part of the message text.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Draft",
            "desc": "A draft email in the user's mailbox.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The immutable ID of the draft.",
                    "type": "string"
                },
                {
                    "name": "message",
                    "desc": "The message content of the draft.",
                    "type": "ref",
                    "refType": "Message"
                }
            ]
        },
        {
            "name": "ForwardingAddress",
            "desc": "Settings for a forwarding address.",
            "type": "object",
            "fields": [
                {
                    "name": "verificationStatus",
                    "desc": "Indicates whether this address has been verified and is usable for forwarding. Read-only.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "accepted"
                        },
                        {
                            "name": "pending"
                        },
                        {
                            "name": "verificationStatusUnspecified"
                        }
                    ]
                },
                {
                    "name": "forwardingEmail",
                    "desc": "An email address to which messages can be forwarded.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListLabelsResponse",
            "type": "object",
            "fields": [
                {
                    "name": "labels",
                    "desc": "List of labels.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Label"
                }
            ]
        },
        {
            "name": "ListThreadsResponse",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Page token to retrieve the next page of results in the list.",
                    "type": "string"
                },
                {
                    "name": "resultSizeEstimate",
                    "desc": "Estimated total number of results.",
                    "type": "uint32"
                },
                {
                    "name": "threads",
                    "desc": "List of threads.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Thread"
                }
            ]
        },
        {
            "name": "Profile",
            "desc": "Profile for a Gmail user.",
            "type": "object",
            "fields": [
                {
                    "name": "emailAddress",
                    "desc": "The user's email address.",
                    "type": "string"
                },
                {
                    "name": "historyId",
                    "desc": "The ID of the mailbox's current history record.",
                    "type": "uint64"
                },
                {
                    "name": "messagesTotal",
                    "desc": "The total number of messages in the mailbox.",
                    "type": "int32"
                },
                {
                    "name": "threadsTotal",
                    "desc": "The total number of threads in the mailbox.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "SmimeInfo",
            "desc": "An S/MIME email config.",
            "type": "object",
            "fields": [
                {
                    "name": "encryptedKeyPassword",
                    "desc": "Encrypted key password, when key is encrypted.",
                    "type": "string"
                },
                {
                    "name": "expiration",
                    "desc": "When the certificate expires (in milliseconds since epoch).",
                    "type": "int64"
                },
                {
                    "name": "id",
                    "desc": "The immutable ID for the SmimeInfo.",
                    "type": "string"
                },
                {
                    "name": "isDefault",
                    "desc": "Whether this SmimeInfo is the default one for this user's send-as address.",
                    "type": "bool"
                },
                {
                    "name": "issuerCn",
                    "desc": "The S/MIME certificate issuer's common name.",
                    "type": "string"
                },
                {
                    "name": "pem",
                    "desc": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key).",
                    "type": "string"
                },
                {
                    "name": "pkcs12",
                    "desc": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately.",
                    "type": "byte"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "users",
            "methods": [
                {
                    "path": "{userId}/profile",
                    "httpMethod": "GET",
                    "name": "getProfile",
                    "desc": "Gets the current user's Gmail profile.",
                    "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.compose",
                        "https://www.googleapis.com/auth/gmail.metadata",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userId",
                            "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                            "required": true,
                            "type": "string",
                            "default": "me"
                        }
                    ],
                    "response": "Profile"
                },
                {
                    "path": "{userId}/stop",
                    "httpMethod": "POST",
                    "name": "stop",
                    "desc": "Stop receiving push notifications for the given user mailbox.",
                    "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.metadata",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userId",
                            "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                            "required": true,
                            "type": "string",
                            "default": "me"
                        }
                    ]
                },
                {
                    "path": "{userId}/watch",
                    "httpMethod": "POST",
                    "name": "watch",
                    "desc": "Set up or update a push notification watch on the given user mailbox.",
                    "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.metadata",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userId",
                            "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                            "required": true,
                            "type": "string",
                            "default": "me"
                        }
                    ],
                    "request": "WatchRequest",
                    "response": "WatchResponse"
                }
            ],
            "resources": [
                {
                    "name": "labels",
                    "methods": [
                        {
                            "path": "{userId}/labels/{id}",
                            "httpMethod": "PATCH",
                            "name": "patch",
                            "desc": "Updates the specified label. This method supports patch semantics.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                },
                                {
                                    "name": "id",
                                    "desc": "The ID of the label to update.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "Label",
                            "response": "Label"
                        },
                        {
                            "path": "{userId}/labels/{id}",
                            "httpMethod": "PUT",
                            "name": "update",
                            "desc": "Updates the specified label.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                },
                                {
                                    "name": "id",
                                    "desc": "The ID of the label to update.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "Label",
                            "response": "Label"
                        },
                        {
                            "path": "{userId}/labels",
                            "httpMethod": "POST",
                            "name": "create",
                            "desc": "Creates a new label.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "request": "Label",
                            "response": "Label"
                        },
                        {
                            "path": "{userId}/labels/{id}",
                            "httpMethod": "DELETE",
                            "name": "delete",
                            "desc": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                },
                                {
                                    "name": "id",
                                    "desc": "The ID of the label to delete.",
                                    "required": true,
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "path": "{userId}/labels/{id}",
                            "httpMethod": "GET",
                            "name": "get",
                            "desc": "Gets the specified label.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.metadata",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                },
                                {
                                    "name": "id",
                                    "desc": "The ID of the label to retrieve.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "Label"
                        },
                        {
                            "path": "{userId}/labels",
                            "httpMethod": "GET",
                            "name": "list",
                            "desc": "Lists all labels in the user's mailbox.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.metadata",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "response": "ListLabelsResponse"
                        }
                    ]
                },
                {
                    "name": "messages",
                    "methods": [
                        {
                            "path": "{userId}/messages/batchModify",
                            "httpMethod": "POST",
                            "name": "batchModify",
                            "desc": "Modifies the labels on the specified messages.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "request": "BatchModifyMessagesRequest"
                        },
                        {
                            "path": "{userId}/messages/import",
                            "httpMethod": "POST",
                            "name": "import",
                            "desc": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. Does not send a message.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.insert",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "optionalQueryParams": [
                                {
                                    "name": "processForCalendar",
                                    "desc": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                                    "type": "bool",
                                    "default": "false"
                                },
                                {
                                    "name": "deleted",
                                    "desc": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.",
                                    "type": "bool",
                                    "default": "false"
                                },
                                {
                                    "name": "internalDateSource",
                                    "desc": "Source for Gmail's internal date of the message.",
                                    "type": "string",
                                    "default": "dateHeader",
                                    "enum": [
                                        {
                                            "name": "dateHeader"
                                        },
                                        {
                                            "name": "receivedTime"
                                        }
                                    ]
                                },
                                {
                                    "name": "neverMarkSpam",
                                    "desc": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                                    "type": "bool",
                                    "default": "false"
                                }
                            ],
                            "request": "Message",
                            "response": "Message"
                        },
                        {
                            "path": "{userId}/messages/send",
                            "httpMethod": "POST",
                            "name": "send",
                            "desc": "Sends the specified message to the recipients in the To, Cc, and Bcc headers.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.compose",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.send"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "request": "Message",
                            "response": "Message"
                        },
                        {
                            "path": "{userId}/messages",
                            "httpMethod": "POST",
                            "name": "insert",
                            "desc": "Directly inserts a message into only this user's mailbox similar to IMAP APPEND, bypassing most scanning and classification. Does not send a message.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.insert",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "optionalQueryParams": [
                                {
                                    "name": "deleted",
                                    "desc": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.",
                                    "type": "bool",
                                    "default": "false"
                                },
                                {
                                    "name": "internalDateSource",
                                    "desc": "Source for Gmail's internal date of the message.",
                                    "type": "string",
                                    "default": "receivedTime",
                                    "enum": [
                                        {
                                            "name": "dateHeader"
                                        },
                                        {
                                            "name": "receivedTime"
                                        }
                                    ]
                                }
                            ],
                            "request": "Message",
                            "response": "Message"
                        },
                        {
                            "path": "{userId}/messages",
                            "httpMethod": "GET",
                            "name": "list",
                            "desc": "Lists the messages in the user's mailbox.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.metadata",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "optionalQueryParams": [
                                {
                                    "name": "includeSpamTrash",
                                    "desc": "Include messages from SPAM and TRASH in the results.",
                                    "type": "bool",
                                    "default": "false"
                                },
                                {
                                    "name": "labelIds",
                                    "desc": "Only return messages with labels that match all of the specified label IDs.",
                                    "type": "string"
                                },
                                {
                                    "name": "maxResults",
                                    "desc": "Maximum number of messages to return.",
                                    "type": "uint32",
                                    "default": "100"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "Page token to retrieve a specific page of results in the list.",
                                    "type": "string"
                                },
                                {
                                    "name": "q",
                                    "desc": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, \"from:someuser@example.com rfc822msgid: is:unread\". Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                                    "type": "string"
                                }
                            ],
                            "response": "ListMessagesResponse"
                        },
                        {
                            "path": "{userId}/messages/{id}/modify",
                            "httpMethod": "POST",
                            "name": "modify",
                            "desc": "Modifies the labels on the specified message.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                },
                                {
                                    "name": "id",
                                    "desc": "The ID of the message to modify.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "ModifyMessageRequest",
                            "response": "Message"
                        },
                        {
                            "path": "{userId}/messages/{id}/trash",
                            "httpMethod": "POST",
                            "name": "trash",
                            "desc": "Moves the specified message to the trash.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                },
                                {
                                    "name": "id",
                                    "desc": "The ID of the message to Trash.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "Message"
                        },
                        {
                            "path": "{userId}/messages/{id}/untrash",
                            "httpMethod": "POST",
                            "name": "untrash",
                            "desc": "Removes the specified message from the trash.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                },
                                {
                                    "name": "id",
                                    "desc": "The ID of the message to remove from Trash.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "Message"
                        },
                        {
                            "path": "{userId}/messages/batchDelete",
                            "httpMethod": "POST",
                            "name": "batchDelete",
                            "desc": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
                            "scopes": [
                                "https://mail.google.com/"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "request": "BatchDeleteMessagesRequest"
                        },
                        {
                            "path": "{userId}/messages/{id}",
                            "httpMethod": "DELETE",
                            "name": "delete",
                            "desc": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer messages.trash instead.",
                            "scopes": [
                                "https://mail.google.com/"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                },
                                {
                                    "name": "id",
                                    "desc": "The ID of the message to delete.",
                                    "required": true,
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "path": "{userId}/messages/{id}",
                            "httpMethod": "GET",
                            "name": "get",
                            "desc": "Gets the specified message.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.metadata",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                },
                                {
                                    "name": "id",
                                    "desc": "The ID of the message to retrieve.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optionalQueryParams": [
                                {
                                    "name": "format",
                                    "desc": "The format to return the message in.",
                                    "type": "string",
                                    "default": "full",
                                    "enum": [
                                        {
                                            "name": "full"
                                        },
                                        {
                                            "name": "metadata"
                                        },
                                        {
                                            "name": "minimal"
                                        },
                                        {
                                            "name": "raw"
                                        }
                                    ]
                                },
                                {
                                    "name": "metadataHeaders",
                                    "desc": "When given and format is METADATA, only include headers specified.",
                                    "type": "string"
                                }
                            ],
                            "response": "Message"
                        }
                    ],
                    "resources": [
                        {
                            "name": "attachments",
                            "methods": [
                                {
                                    "path": "{userId}/messages/{messageId}/attachments/{id}",
                                    "httpMethod": "GET",
                                    "name": "get",
                                    "desc": "Gets the specified message attachment.",
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "userId",
                                            "desc": "The user's email address. The special value me can be used to indicate the authenticated user.",
                                            "required": true,
                                            "type": "string",
                                            "default": "me"
                                        },
                                        {
                                            "name": "messageId",
                                            "desc": "The ID of the message containing the attachment.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "id",
                                            "desc": "The ID of the attachment.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "response": "MessagePartBody"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "settings",
                    "methods": [
                        {
                            "path": "{userId}/settings/pop",
                            "httpMethod": "PUT",
                            "name": "updatePop",
                            "desc": "Updates POP settings.",
                            "scopes": [
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "request": "PopSettings",
                            "response": "PopSettings"
                        },
                        {
                            "path": "{userId}/settings/vacation",
                            "httpMethod": "PUT",
                            "name": "updateVacation",
                            "desc": "Updates vacation responder settings.",
                            "scopes": [
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "request": "VacationSettings",
                            "response": "VacationSettings"
                        },
                        {
                            "path": "{userId}/settings/autoForwarding",
                            "httpMethod": "GET",
                            "name": "getAutoForwarding",
                            "desc": "Gets the auto-forwarding setting for the specified account.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly",
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "response": "AutoForwarding"
                        },
                        {
                            "path": "{userId}/settings/imap",
                            "httpMethod": "GET",
                            "name": "getImap",
                            "desc": "Gets IMAP settings.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly",
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "response": "ImapSettings"
                        },
                        {
                            "path": "{userId}/settings/pop",
                            "httpMethod": "GET",
                            "name": "getPop",
                            "desc": "Gets POP settings.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly",
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "response": "PopSettings"
                        },
                        {
                            "path": "{userId}/settings/vacation",
                            "httpMethod": "GET",
                            "name": "getVacation",
                            "desc": "Gets vacation responder settings.",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly",
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "response": "VacationSettings"
                        },
                        {
                            "path": "{userId}/settings/autoForwarding",
                            "httpMethod": "PUT",
                            "name": "updateAutoForwarding",
                            "desc": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled.\n\nThis method is only available to service account clients that have been delegated domain-wide authority.",
                            "scopes": [
                                "https://www.googleapis.com/auth/gmail.settings.sharing"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "request": "AutoForwarding",
                            "response": "AutoForwarding"
                        },
                        {
                            "path": "{userId}/settings/imap",
                            "httpMethod": "PUT",
                            "name": "updateImap",
                            "desc": "Updates IMAP settings.",
                            "scopes": [
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                    "required": true,
                                    "type": "string",
                                    "default": "me"
                                }
                            ],
                            "request": "ImapSettings",
                            "response": "ImapSettings"
                        }
                    ],
                    "resources": [
                        {
                            "name": "filters",
                            "methods": [
                                {
                                    "path": "{userId}/settings/filters/{id}",
                                    "httpMethod": "GET",
                                    "name": "get",
                                    "desc": "Gets a filter.",
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "userId",
                                            "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                            "required": true,
                                            "type": "string",
                                            "default": "me"
                                        },
                                        {
                                            "name": "id",
                                            "desc": "The ID of the filter to be fetched.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "response": "Filter"
                                },
                                {
                                    "path": "{userId}/settings/filters",
                                    "httpMethod": "GET",
                                    "name": "list",
                                    "desc": "Lists the message filters of a Gmail user.",
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "userId",
                                            "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                            "required": true,
                                            "type": "string",
                                            "default": "me"
                                        }
                                    ],
                                    "response": "ListFiltersResponse"
                                },
                                {
                                    "path": "{userId}/settings/filters",
                                    "httpMethod": "POST",
                                    "name": "create",
                                    "desc": "Creates a filter.",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "userId",
                                            "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                            "required": true,
                                            "type": "string",
                                            "default": "me"
                                        }
                                    ],
                                    "request": "Filter",
                                    "response": "Filter"
                                },
                                {
                                    "path": "{userId}/settings/filters/{id}",
                                    "httpMethod": "DELETE",
                                    "name": "delete",
                                    "desc": "Deletes a filter.",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "userId",
                                            "desc": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                                            "required": true,
                                            "type": "string",
                                            "default": "me"
                                        },
                                        {
                                            "name": "id",
                                            "desc": "The ID of the filter to be deleted.",
                                            "required": true,
                                            "type": "string"
[...]
