{
    "kind": "discovery#restDescription",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/YsFEJnq5UeoemkjE7DFhTi6r2Gw\"",
    "discoveryVersion": "v1",
    "id": "prediction:v1.6",
    "name": "prediction",
    "version": "v1.6",
    "title": "Prediction API",
    "description": "Lets you access a cloud hosted machine learning service that makes it easy to build smart apps",
    "documentationLink": "https://developers.google.com/prediction/docs/developer-guide",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/prediction",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control"
        ]
    },
    "parameters": [
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Update",
            "type": "object",
            "fields": [
                {
                    "name": "csvInstance",
                    "desc": "The input features for this instance.",
                    "collection": "array",
                    "type": "any"
                },
                {
                    "name": "output",
                    "desc": "The generic output value - could be regression or class label.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Analyze",
            "type": "object",
            "fields": [
                {
                    "name": "errors",
                    "desc": "List of errors with the data.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "desc": "The unique name for the predictive model.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "What kind of resource this is.",
                    "type": "string",
                    "default": "prediction#analyze"
                },
                {
                    "name": "modelDescription",
                    "desc": "Description of the model.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "confusionMatrix",
                            "desc": "An output confusion matrix. This shows an estimate for how this model will do in predictions. This is first indexed by the true class label. For each true class label, this provides a pair {predicted_label, count}, where count is the estimated number of times the model will predict the predicted label given the true label. Will not output if more then 100 classes (Categorical models only).",
                            "collection": "map",
                            "collectionItem": {
                                "desc": "Confusion matrix information for the true class label.",
                                "collection": "map",
                                "type": "string"
                            }
                        },
                        {
                            "name": "confusionMatrixRowTotals",
                            "desc": "A list of the confusion matrix row totals.",
                            "collection": "map",
                            "type": "string"
                        },
                        {
                            "name": "modelinfo",
                            "desc": "Basic information about the model.",
                            "type": "ref",
                            "refType": "Insert2"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "A URL to re-request this resource.",
                    "type": "string"
                },
                {
                    "name": "dataDescription",
                    "desc": "Description of the data the model was trained on.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "features",
                            "desc": "Description of the input features in the data set.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "categorical",
                                    "desc": "Description of the categorical values of this feature.",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "count",
                                            "desc": "Number of categorical values for this feature in the data.",
                                            "type": "int64"
                                        },
                                        {
                                            "name": "values",
                                            "desc": "List of all the categories for this feature in the data set.",
                                            "collection": "array",
                                            "type": "object",
                                            "fields": [
                                                {
                                                    "name": "count",
                                                    "desc": "Number of times this feature had this value.",
                                                    "type": "int64"
                                                },
                                                {
                                                    "name": "value",
                                                    "desc": "The category name.",
                                                    "type": "string"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "name": "index",
                                    "desc": "The feature index.",
                                    "type": "int64"
                                },
                                {
                                    "name": "numeric",
                                    "desc": "Description of the numeric values of this feature.",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "count",
                                            "desc": "Number of numeric values for this feature in the data set.",
                                            "type": "int64"
                                        },
                                        {
                                            "name": "mean",
                                            "desc": "Mean of the numeric values of this feature in the data set.",
                                            "type": "string"
                                        },
                                        {
                                            "name": "variance",
                                            "desc": "Variance of the numeric values of this feature in the data set.",
                                            "type": "string"
                                        }
                                    ]
                                },
                                {
                                    "name": "text",
                                    "desc": "Description of multiple-word text values of this feature.",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "count",
                                            "desc": "Number of multiple-word text values for this feature.",
                                            "type": "int64"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "name": "outputFeature",
                            "desc": "Description of the output value or label.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "text",
                                    "desc": "Description of the output labels in the data set.",
                                    "collection": "array",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "count",
                                            "desc": "Number of times the output label occurred in the data set.",
                                            "type": "int64"
                                        },
                                        {
                                            "name": "value",
                                            "desc": "The output label.",
                                            "type": "string"
                                        }
                                    ]
                                },
                                {
                                    "name": "numeric",
                                    "desc": "Description of the output values in the data set.",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "count",
                                            "desc": "Number of numeric output values in the data set.",
                                            "type": "int64"
                                        },
                                        {
                                            "name": "mean",
                                            "desc": "Mean of the output values in the data set.",
                                            "type": "string"
                                        },
                                        {
                                            "name": "variance",
                                            "desc": "Variance of the output values in the data set.",
                                            "type": "string"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "name": "Input",
            "type": "object",
            "fields": [
                {
                    "name": "input",
                    "desc": "Input to the model for a prediction.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "csvInstance",
                            "desc": "A list of input features, these can be strings or doubles.",
                            "collection": "array",
                            "type": "any"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Insert",
            "type": "object",
            "fields": [
                {
                    "name": "sourceModel",
                    "desc": "The Id of the model to be copied over.",
                    "type": "string"
                },
                {
                    "name": "storageDataLocation",
                    "desc": "Google storage location of the training data file.",
                    "type": "string"
                },
                {
                    "name": "storagePMMLLocation",
                    "desc": "Google storage location of the preprocessing pmml file.",
                    "type": "string"
                },
                {
                    "name": "storagePMMLModelLocation",
                    "desc": "Google storage location of the pmml model file.",
                    "type": "string"
                },
                {
                    "name": "trainingInstances",
                    "desc": "Instances to train model on.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "csvInstance",
                            "desc": "The input features for this instance.",
                            "collection": "array",
                            "type": "any"
                        },
                        {
                            "name": "output",
                            "desc": "The generic output value - could be regression or class label.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "utility",
                    "desc": "A class weighting function, which allows the importance weights for class labels to be specified (Categorical models only).",
                    "collection": "array",
                    "collectionItem": {
                        "desc": "Class label (string).",
                        "collection": "map",
                        "type": "float64"
                    }
                },
                {
                    "name": "id",
                    "desc": "The unique name for the predictive model.",
                    "type": "string"
                },
                {
                    "name": "modelType",
                    "desc": "Type of predictive model (classification or regression).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Insert2",
            "type": "object",
            "fields": [
                {
                    "name": "storagePMMLModelLocation",
                    "desc": "Google storage location of the pmml model file.",
                    "type": "string"
                },
                {
                    "name": "trainingComplete",
                    "desc": "Training completion time (as a RFC 3339 timestamp).",
                    "type": "datetime"
                },
                {
                    "name": "created",
                    "desc": "Insert time of the model (as a RFC 3339 timestamp).",
                    "type": "datetime"
                },
                {
                    "name": "id",
                    "desc": "The unique name for the predictive model.",
                    "type": "string"
                },
                {
                    "name": "modelInfo",
                    "desc": "Model metadata.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "numberLabels",
                            "desc": "Number of class labels in the trained model (Categorical models only).",
                            "type": "int64"
                        },
                        {
                            "name": "classWeightedAccuracy",
                            "desc": "Estimated accuracy of model taking utility weights into account (Categorical models only).",
                            "type": "string"
                        },
                        {
                            "name": "classificationAccuracy",
                            "desc": "A number between 0.0 and 1.0, where 1.0 is 100% accurate. This is an estimate, based on the amount and quality of the training data, of the estimated prediction accuracy. You can use this is a guide to decide whether the results are accurate enough for your needs. This estimate will be more reliable if your real input data is similar to your training data (Categorical models only).",
                            "type": "string"
                        },
                        {
                            "name": "meanSquaredError",
                            "desc": "An estimated mean squared error. The can be used to measure the quality of the predicted model (Regression models only).",
                            "type": "string"
                        },
                        {
                            "name": "modelType",
                            "desc": "Type of predictive model (CLASSIFICATION or REGRESSION).",
                            "type": "string"
                        },
                        {
                            "name": "numberInstances",
                            "desc": "Number of valid data instances used in the trained model.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "A URL to re-request this resource.",
                    "type": "string"
                },
                {
                    "name": "trainingStatus",
                    "desc": "The current status of the training job. This can be one of following: RUNNING; DONE; ERROR; ERROR: TRAINING JOB NOT FOUND",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "What kind of resource this is.",
                    "type": "string",
                    "default": "prediction#training"
                },
                {
                    "name": "modelType",
                    "desc": "Type of predictive model (CLASSIFICATION or REGRESSION).",
                    "type": "string"
                },
                {
                    "name": "storageDataLocation",
                    "desc": "Google storage location of the training data file.",
                    "type": "string"
                },
                {
                    "name": "storagePMMLLocation",
                    "desc": "Google storage location of the preprocessing pmml file.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "List",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of models.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Insert2"
                },
                {
                    "name": "kind",
                    "desc": "What kind of resource this is.",
                    "type": "string",
                    "default": "prediction#list"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A URL to re-request this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Output",
            "type": "object",
            "fields": [
                {
                    "name": "outputLabel",
                    "desc": "The most likely class label (Categorical models only).",
                    "type": "string"
                },
                {
                    "name": "outputMulti",
                    "desc": "A list of class labels with their estimated probabilities (Categorical models only).",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "label",
                            "desc": "The class label.",
                            "type": "string"
                        },
                        {
                            "name": "score",
                            "desc": "The probability of the class label.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "outputValue",
                    "desc": "The estimated regression value (Regression models only).",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A URL to re-request this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The unique name for the predictive model.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "What kind of resource this is.",
                    "type": "string",
                    "default": "prediction#output"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "hostedmodels",
            "methods": [
                {
                    "name": "predict",
                    "desc": "Submit input and request an output against a hosted model.",
                    "path": "{project}/hostedmodels/{hostedModelName}/predict",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project associated with the model.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "hostedModelName",
                            "desc": "The name of a hosted model.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Input",
                    "response": "Output"
                }
            ]
        },
        {
            "name": "trainedmodels",
            "methods": [
                {
                    "name": "list",
                    "desc": "List available models.",
                    "path": "{project}/trainedmodels/list",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project associated with the model.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of results to return.",
                            "type": "uint32",
                            "min": "0"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Pagination token.",
                            "type": "string"
                        }
                    ],
                    "response": "List"
                },
                {
                    "name": "predict",
                    "desc": "Submit model id and request a prediction.",
                    "path": "{project}/trainedmodels/{id}/predict",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project associated with the model.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The unique name for the predictive model.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Input",
                    "response": "Output"
                },
                {
                    "name": "update",
                    "desc": "Add new data to a trained model.",
                    "path": "{project}/trainedmodels/{id}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project associated with the model.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The unique name for the predictive model.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Update",
                    "response": "Insert2"
                },
                {
                    "name": "analyze",
                    "desc": "Get analysis of the model and the data the model was trained on.",
                    "path": "{project}/trainedmodels/{id}/analyze",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project associated with the model.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The unique name for the predictive model.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Analyze"
                },
                {
                    "name": "delete",
                    "desc": "Delete a trained model.",
                    "path": "{project}/trainedmodels/{id}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project associated with the model.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The unique name for the predictive model.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Check training status of your model.",
                    "path": "{project}/trainedmodels/{id}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project associated with the model.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The unique name for the predictive model.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Insert2"
                },
                {
                    "name": "insert",
                    "desc": "Train a Prediction API model.",
                    "path": "{project}/trainedmodels",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project associated with the model.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Insert",
                    "response": "Insert2"
                }
            ]
        }
    ]
}