{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "slides:v1",
    "name": "slides",
    "version": "v1",
    "title": "Google Slides API",
    "description": "An API for creating and editing Google Slides presentations.",
    "documentationLink": "https://developers.google.com/slides/",
    "protocol": "rest",
    "rootUrl": "https://slides.googleapis.com/",
    "servicePath": "",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/presentations",
            "https://www.googleapis.com/auth/presentations.readonly",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/drive"
        ]
    },
    "parameters": [
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        }
    ],
    "schemas": [
        {
            "name": "InsertTableRowsRequest",
            "desc": "Inserts rows into a table.",
            "type": "object",
            "fields": [
                {
                    "name": "tableObjectId",
                    "desc": "The table to insert rows into.",
                    "type": "string"
                },
                {
                    "name": "insertBelow",
                    "desc": "Whether to insert new rows below the reference cell location.\n\n- `True`: insert below the cell.\n- `False`: insert above the cell.",
                    "type": "bool"
                },
                {
                    "name": "number",
                    "desc": "The number of rows to be inserted. Maximum 20 per request.",
                    "type": "int32"
                },
                {
                    "name": "cellLocation",
                    "desc": "The reference table cell location from which rows will be inserted.\n\nA new row will be inserted above (or below) the row where the reference\ncell is. If the reference cell is a merged cell, a new row will be\ninserted above (or below) the merged cell.",
                    "type": "ref",
                    "refType": "TableCellLocation"
                }
            ]
        },
        {
            "name": "NotesProperties",
            "desc": "The properties of Page that are only\nrelevant for pages with page_type NOTES.",
            "type": "object",
            "fields": [
                {
                    "name": "speakerNotesObjectId",
                    "desc": "The object ID of the shape on this notes page that contains the speaker\nnotes for the corresponding slide.\nThe actual shape may not always exist on the notes page. Inserting text\nusing this object ID will automatically create the shape. In this case, the\nactual shape may have different object ID. The `GetPresentation` or\n`GetPage` action will always return the latest object ID.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DuplicateObjectRequest",
            "desc": "Duplicates a slide or page element.\n\nWhen duplicating a slide, the duplicate slide will be created immediately\nfollowing the specified slide. When duplicating a page element, the duplicate\nwill be placed on the same page at the same position as the original.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "The ID of the object to duplicate.",
                    "type": "string"
                },
                {
                    "name": "objectIds",
                    "desc": "The object being duplicated may contain other objects, for example when\nduplicating a slide or a group page element. This map defines how the IDs\nof duplicated objects are generated: the keys are the IDs of the original\nobjects and its values are the IDs that will be assigned to the\ncorresponding duplicate object. The ID of the source object's duplicate\nmay be specified in this map as well, using the same value of the\n`object_id` field as a key and the newly desired ID as the value.\n\nAll keys must correspond to existing IDs in the presentation. All values\nmust be unique in the presentation and must start with an alphanumeric\ncharacter or an underscore (matches regex `[a-zA-Z0-9_]`); remaining\ncharacters may include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or\ngreater than 50.\n\nIf any IDs of source objects are omitted from the map, a new random ID will\nbe assigned. If the map is empty or unset, all duplicate objects will\nreceive a new random ID.",
                    "collection": "map",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AffineTransform",
            "desc": "AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ]\nto transform source coordinates (x,y) into destination coordinates (x', y')\naccording to:\n\n      x'  x  =   shear_y  scale_y  translate_y  \n      1  [ 1 ]\n\nAfter transformation,\n\n     x' = scale_x * x + shear_x * y + translate_x;\n     y' = scale_y * y + shear_y * x + translate_y;\n\nThis message is therefore composed of these six matrix elements.",
            "type": "object",
            "fields": [
                {
                    "name": "shearY",
                    "desc": "The Y coordinate shearing element.",
                    "type": "float64"
                },
                {
                    "name": "unit",
                    "desc": "The units for translate elements.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "UNIT_UNSPECIFIED",
                            "desc": "The units are unknown."
                        },
                        {
                            "name": "EMU",
                            "desc": "An English Metric Unit (EMU) is defined as 1/360,000 of a centimeter\nand thus there are 914,400 EMUs per inch, and 12,700 EMUs per point."
                        },
                        {
                            "name": "PT",
                            "desc": "A point, 1/72 of an inch."
                        }
                    ]
                },
                {
                    "name": "scaleX",
                    "desc": "The X coordinate scaling element.",
                    "type": "float64"
                },
                {
                    "name": "shearX",
                    "desc": "The X coordinate shearing element.",
                    "type": "float64"
                },
                {
                    "name": "scaleY",
                    "desc": "The Y coordinate scaling element.",
                    "type": "float64"
                },
                {
                    "name": "translateY",
                    "desc": "The Y coordinate translation element.",
                    "type": "float64"
                },
                {
                    "name": "translateX",
                    "desc": "The X coordinate translation element.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "LineProperties",
            "desc": "The properties of the Line.\n\nWhen unset, these fields default to values that match the appearance of\nnew lines created in the Slides editor.",
            "type": "object",
            "fields": [
                {
                    "name": "dashStyle",
                    "desc": "The dash style of the line.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "DASH_STYLE_UNSPECIFIED",
                            "desc": "Unspecified dash style."
                        },
                        {
                            "name": "SOLID",
                            "desc": "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'.\nThis is the default dash style."
                        },
                        {
                            "name": "DOT",
                            "desc": "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'."
                        },
                        {
                            "name": "DASH",
                            "desc": "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
                        },
                        {
                            "name": "DASH_DOT",
                            "desc": "Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal\nvalue 'dashDot'."
                        },
                        {
                            "name": "LONG_DASH",
                            "desc": "Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal\nvalue 'lgDash'."
                        },
                        {
                            "name": "LONG_DASH_DOT",
                            "desc": "Alternating large dashes and dots. Corresponds to ECMA-376\nST_PresetLineDashVal value 'lgDashDot'."
                        }
                    ]
                },
                {
                    "name": "link",
                    "desc": "The hyperlink destination of the line. If unset, there is no link.",
                    "type": "ref",
                    "refType": "Link"
                },
                {
                    "name": "endArrow",
                    "desc": "The style of the arrow at the end of the line.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ARROW_STYLE_UNSPECIFIED",
                            "desc": "An unspecified arrow style."
                        },
                        {
                            "name": "NONE",
                            "desc": "No arrow."
                        },
                        {
                            "name": "STEALTH_ARROW",
                            "desc": "Arrow with notched back. Corresponds to ECMA-376 ST_LineEndType value\n'stealth'."
                        },
                        {
                            "name": "FILL_ARROW",
                            "desc": "Filled arrow. Corresponds to ECMA-376 ST_LineEndType value 'triangle'."
                        },
                        {
                            "name": "FILL_CIRCLE",
                            "desc": "Filled circle. Corresponds to ECMA-376 ST_LineEndType value 'oval'."
                        },
                        {
                            "name": "FILL_SQUARE",
                            "desc": "Filled square."
                        },
                        {
                            "name": "FILL_DIAMOND",
                            "desc": "Filled diamond. Corresponds to ECMA-376 ST_LineEndType value 'diamond'."
                        },
                        {
                            "name": "OPEN_ARROW",
                            "desc": "Hollow arrow."
                        },
                        {
                            "name": "OPEN_CIRCLE",
                            "desc": "Hollow circle."
                        },
                        {
                            "name": "OPEN_SQUARE",
                            "desc": "Hollow square."
                        },
                        {
                            "name": "OPEN_DIAMOND",
                            "desc": "Hollow diamond."
                        }
                    ]
                },
                {
                    "name": "startArrow",
                    "desc": "The style of the arrow at the beginning of the line.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ARROW_STYLE_UNSPECIFIED",
                            "desc": "An unspecified arrow style."
                        },
                        {
                            "name": "NONE",
                            "desc": "No arrow."
                        },
                        {
                            "name": "STEALTH_ARROW",
                            "desc": "Arrow with notched back. Corresponds to ECMA-376 ST_LineEndType value\n'stealth'."
                        },
                        {
                            "name": "FILL_ARROW",
                            "desc": "Filled arrow. Corresponds to ECMA-376 ST_LineEndType value 'triangle'."
                        },
                        {
                            "name": "FILL_CIRCLE",
                            "desc": "Filled circle. Corresponds to ECMA-376 ST_LineEndType value 'oval'."
                        },
                        {
                            "name": "FILL_SQUARE",
                            "desc": "Filled square."
                        },
                        {
                            "name": "FILL_DIAMOND",
                            "desc": "Filled diamond. Corresponds to ECMA-376 ST_LineEndType value 'diamond'."
                        },
                        {
                            "name": "OPEN_ARROW",
                            "desc": "Hollow arrow."
                        },
                        {
                            "name": "OPEN_CIRCLE",
                            "desc": "Hollow circle."
                        },
                        {
                            "name": "OPEN_SQUARE",
                            "desc": "Hollow square."
                        },
                        {
                            "name": "OPEN_DIAMOND",
                            "desc": "Hollow diamond."
                        }
                    ]
                },
                {
                    "name": "weight",
                    "desc": "The thickness of the line.",
                    "type": "ref",
                    "refType": "Dimension"
                },
                {
                    "name": "lineFill",
                    "desc": "The fill of the line. The default line fill matches the defaults for new\nlines created in the Slides editor.",
                    "type": "ref",
                    "refType": "LineFill"
                }
            ]
        },
        {
            "name": "CreateTableRequest",
            "desc": "Creates a new table.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
                    "type": "string"
                },
                {
                    "name": "columns",
                    "desc": "Number of columns in the table.",
                    "type": "int32"
                },
                {
                    "name": "elementProperties",
                    "desc": "The element properties for the table.\n\nThe table will be created at the provided size, subject to a minimum size.\nIf no size is provided, the table will be automatically sized.\n\nTable transforms must have a scale of 1 and no shear components. If no\ntransform is provided, the table will be centered on the page.",
                    "type": "ref",
                    "refType": "PageElementProperties"
                },
                {
                    "name": "rows",
                    "desc": "Number of rows in the table.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ReplaceAllShapesWithImageResponse",
            "desc": "The result of replacing shapes with an image.",
            "type": "object",
            "fields": [
                {
                    "name": "occurrencesChanged",
                    "desc": "The number of shapes replaced with images.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "CreateShapeResponse",
            "desc": "The result of creating a shape.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "The object ID of the created shape.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ColorStop",
            "desc": "A color and position in a gradient band.",
            "type": "object",
            "fields": [
                {
                    "name": "position",
                    "desc": "The relative position of the color stop in the gradient band measured\nin percentage. The value should be in the interval [0.0, 1.0].",
                    "type": "float32"
                },
                {
                    "name": "color",
                    "desc": "The color of the gradient stop.",
                    "type": "ref",
                    "refType": "OpaqueColor"
                },
                {
                    "name": "alpha",
                    "desc": "The alpha value of this color in the gradient band. Defaults to 1.0,\nfully opaque.",
                    "type": "float32"
                }
            ]
        },
        {
            "name": "BatchUpdatePresentationResponse",
            "desc": "Response message from a batch update.",
            "type": "object",
            "fields": [
                {
                    "name": "replies",
                    "desc": "The reply of the updates.  This maps 1:1 with the updates, although\nreplies to some requests may be empty.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Response"
                },
                {
                    "name": "presentationId",
                    "desc": "The presentation the updates were applied to.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Page",
            "desc": "A page in a presentation.",
            "type": "object",
            "fields": [
                {
                    "name": "layoutProperties",
                    "desc": "Layout specific properties. Only set if page_type = LAYOUT.",
                    "type": "ref",
                    "refType": "LayoutProperties"
                },
                {
                    "name": "pageType",
                    "desc": "The type of the page.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SLIDE",
                            "desc": "A slide page."
                        },
                        {
                            "name": "MASTER",
                            "desc": "A master slide page."
                        },
                        {
                            "name": "LAYOUT",
                            "desc": "A layout page."
                        },
                        {
                            "name": "NOTES",
                            "desc": "A notes page."
                        },
                        {
                            "name": "NOTES_MASTER",
                            "desc": "A notes master page."
                        }
                    ]
                },
                {
                    "name": "pageElements",
                    "desc": "The page elements rendered on the page.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PageElement"
                },
                {
                    "name": "notesProperties",
                    "desc": "Notes specific properties. Only set if page_type = NOTES.",
                    "type": "ref",
                    "refType": "NotesProperties"
                },
                {
                    "name": "slideProperties",
                    "desc": "Slide specific properties. Only set if page_type = SLIDE.",
                    "type": "ref",
                    "refType": "SlideProperties"
                },
                {
                    "name": "pageProperties",
                    "desc": "The properties of the page.",
                    "type": "ref",
                    "refType": "PageProperties"
                },
                {
                    "name": "objectId",
                    "desc": "The object ID for this page. Object IDs used by\nPage and\nPageElement share the same namespace.",
                    "type": "string"
                },
                {
                    "name": "revisionId",
                    "desc": "The revision ID of the presentation containing this page. Can be used in\nupdate requests to assert that the presentation revision hasn't changed\nsince the last read operation. Only populated if the user has edit access\nto the presentation.\n\nThe format of the revision ID may change over time, so it should be treated\nopaquely. A returned revision ID is only guaranteed to be valid for 24\nhours after it has been returned and cannot be shared across\nusers. Callers can assume that if two revision IDs are equal then the\npresentation has not changed.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ColorScheme",
            "desc": "The palette of predefined colors for a page.",
            "type": "object",
            "fields": [
                {
                    "name": "colors",
                    "desc": "The ThemeColorType and corresponding concrete color pairs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThemeColorPair"
                }
            ]
        },
        {
            "name": "InsertTableColumnsRequest",
            "desc": "Inserts columns into a table.\n\nOther columns in the table will be resized to fit the new column.",
            "type": "object",
            "fields": [
                {
                    "name": "cellLocation",
                    "desc": "The reference table cell location from which columns will be inserted.\n\nA new column will be inserted to the left (or right) of the column where\nthe reference cell is. If the reference cell is a merged cell, a new\ncolumn will be inserted to the left (or right) of the merged cell.",
                    "type": "ref",
                    "refType": "TableCellLocation"
                },
                {
                    "name": "insertRight",
                    "desc": "Whether to insert new columns to the right of the reference cell location.\n\n- `True`: insert to the right.\n- `False`: insert to the left.",
                    "type": "bool"
                },
                {
                    "name": "tableObjectId",
                    "desc": "The table to insert columns into.",
                    "type": "string"
                },
                {
                    "name": "number",
                    "desc": "The number of columns to be inserted. Maximum 20 per request.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "LayoutReference",
            "desc": "Slide layout reference. This may reference either:\n\n- A predefined layout\n- One of the layouts in the presentation.",
            "type": "object",
            "fields": [
                {
                    "name": "predefinedLayout",
                    "desc": "Predefined layout.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PREDEFINED_LAYOUT_UNSPECIFIED",
                            "desc": "Unspecified layout."
                        },
                        {
                            "name": "BLANK",
                            "desc": "Blank layout, with no placeholders."
                        },
                        {
                            "name": "CAPTION_ONLY",
                            "desc": "Layout with a caption at the bottom."
                        },
                        {
                            "name": "TITLE",
                            "desc": "Layout with a title and a subtitle."
                        },
                        {
                            "name": "TITLE_AND_BODY",
                            "desc": "Layout with a title and body."
                        },
                        {
                            "name": "TITLE_AND_TWO_COLUMNS",
                            "desc": "Layout with a title and two columns."
                        },
                        {
                            "name": "TITLE_ONLY",
                            "desc": "Layout with only a title."
                        },
                        {
                            "name": "SECTION_HEADER",
                            "desc": "Layout with a section title."
                        },
                        {
                            "name": "SECTION_TITLE_AND_DESCRIPTION",
                            "desc": "Layout with a title and subtitle on one side and description on the other."
                        },
                        {
                            "name": "ONE_COLUMN_TEXT",
                            "desc": "Layout with one title and one body, arranged in a single column."
                        },
                        {
                            "name": "MAIN_POINT",
                            "desc": "Layout with a main point."
                        },
                        {
                            "name": "BIG_NUMBER",
                            "desc": "Layout with a big number heading."
                        }
                    ]
                },
                {
                    "name": "layoutId",
                    "desc": "Layout ID: the object ID of one of the layouts in the presentation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "NestingLevel",
            "desc": "Contains properties describing the look and feel of a list bullet at a given\nlevel of nesting.",
            "type": "object",
            "fields": [
                {
                    "name": "bulletStyle",
                    "desc": "The style of a bullet at this level of nesting.",
                    "type": "ref",
                    "refType": "TextStyle"
                }
            ]
        },
        {
            "name": "PageElement",
            "desc": "A visual element rendered on a page.",
            "type": "object",
            "fields": [
                {
                    "name": "size",
                    "desc": "The size of the page element.",
                    "type": "ref",
                    "refType": "Size"
                },
                {
                    "name": "video",
                    "desc": "A video page element.",
                    "type": "ref",
                    "refType": "Video"
                },
                {
                    "name": "objectId",
                    "desc": "The object ID for this page element. Object IDs used by\ngoogle.apps.slides.v1.Page and\ngoogle.apps.slides.v1.PageElement share the same namespace.",
                    "type": "string"
                },
                {
                    "name": "shape",
                    "desc": "A generic shape.",
                    "type": "ref",
                    "refType": "Shape"
                },
                {
                    "name": "description",
                    "desc": "The description of the page element. Combined with title to display alt\ntext.",
                    "type": "string"
                },
                {
                    "name": "elementGroup",
                    "desc": "A collection of page elements joined as a single unit.",
                    "type": "ref",
                    "refType": "Group"
                },
                {
                    "name": "image",
                    "desc": "An image page element.",
                    "type": "ref",
                    "refType": "Image"
                },
                {
                    "name": "sheetsChart",
                    "desc": "A linked chart embedded from Google Sheets. Unlinked charts are\nrepresented as images.",
                    "type": "ref",
                    "refType": "SheetsChart"
                },
                {
                    "name": "title",
                    "desc": "The title of the page element. Combined with description to display alt\ntext.",
                    "type": "string"
                },
                {
                    "name": "wordArt",
                    "desc": "A word art page element.",
                    "type": "ref",
                    "refType": "WordArt"
                },
                {
                    "name": "table",
                    "desc": "A table page element.",
                    "type": "ref",
                    "refType": "Table"
                },
                {
                    "name": "transform",
                    "desc": "The transform of the page element.",
                    "type": "ref",
                    "refType": "AffineTransform"
                },
                {
                    "name": "line",
                    "desc": "A line page element.",
                    "type": "ref",
                    "refType": "Line"
                }
            ]
        },
        {
            "name": "WriteControl",
            "desc": "Provides control over how write requests are executed.",
            "type": "object",
            "fields": [
                {
                    "name": "requiredRevisionId",
                    "desc": "The revision ID of the presentation required for the write request. If\nspecified and the `required_revision_id` doesn't exactly match the\npresentation's current `revision_id`, the request will not be processed and\nwill return a 400 bad request error.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "WordArt",
            "desc": "A PageElement kind representing\nword art.",
            "type": "object",
            "fields": [
                {
                    "name": "renderedText",
                    "desc": "The text rendered as word art.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Group",
            "desc": "A PageElement kind representing a\njoined collection of PageElements.",
            "type": "object",
            "fields": [
                {
                    "name": "children",
                    "desc": "The collection of elements in the group. The minimum size of a group is 2.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PageElement"
                }
            ]
        },
        {
            "name": "DuplicateObjectResponse",
            "desc": "The response of duplicating an object.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "The ID of the new duplicate object.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ReplaceAllShapesWithSheetsChartResponse",
            "desc": "The result of replacing shapes with a Google Sheets chart.",
            "type": "object",
            "fields": [
                {
                    "name": "occurrencesChanged",
                    "desc": "The number of shapes replaced with charts.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "CreateLineResponse",
            "desc": "The result of creating a line.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "The object ID of the created line.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UpdateVideoPropertiesRequest",
            "desc": "Update the properties of a Video.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "The object ID of the video the updates are applied to.",
                    "type": "string"
                },
                {
                    "name": "videoProperties",
                    "desc": "The video properties to update.",
                    "type": "ref",
                    "refType": "VideoProperties"
                },
                {
                    "name": "fields",
                    "desc": "The fields that should be updated.\n\nAt least one field must be specified. The root `videoProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the video outline color, set `fields` to\n`\"outline.outlineFill.solidFill.color\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Request",
            "desc": "A single kind of update to apply to a presentation.",
            "type": "object",
            "fields": [
                {
                    "name": "updateImageProperties",
                    "desc": "Updates the properties of an Image.",
                    "type": "ref",
                    "refType": "UpdateImagePropertiesRequest"
                },
                {
                    "name": "updateShapeProperties",
                    "desc": "Updates the properties of a Shape.",
                    "type": "ref",
                    "refType": "UpdateShapePropertiesRequest"
                },
                {
                    "name": "createParagraphBullets",
                    "desc": "Creates bullets for paragraphs.",
                    "type": "ref",
                    "refType": "CreateParagraphBulletsRequest"
                },
                {
                    "name": "updateTextStyle",
                    "desc": "Updates the styling of text within a Shape or Table.",
                    "type": "ref",
                    "refType": "UpdateTextStyleRequest"
                },
                {
                    "name": "replaceAllText",
                    "desc": "Replaces all instances of specified text.",
                    "type": "ref",
                    "refType": "ReplaceAllTextRequest"
                },
                {
                    "name": "insertText",
                    "desc": "Inserts text into a shape or table cell.",
                    "type": "ref",
                    "refType": "InsertTextRequest"
                },
                {
                    "name": "updatePageProperties",
                    "desc": "Updates the properties of a Page.",
                    "type": "ref",
                    "refType": "UpdatePagePropertiesRequest"
                },
                {
                    "name": "duplicateObject",
                    "desc": "Duplicates a slide or page element.",
                    "type": "ref",
                    "refType": "DuplicateObjectRequest"
                },
                {
                    "name": "replaceAllShapesWithSheetsChart",
                    "desc": "Replaces all shapes matching some criteria with a Google Sheets chart.",
                    "type": "ref",
                    "refType": "ReplaceAllShapesWithSheetsChartRequest"
                },
                {
                    "name": "replaceAllShapesWithImage",
                    "desc": "Replaces all shapes matching some criteria with an image.",
                    "type": "ref",
                    "refType": "ReplaceAllShapesWithImageRequest"
                },
                {
                    "name": "refreshSheetsChart",
                    "desc": "Refreshes a Google Sheets chart.",
                    "type": "ref",
                    "refType": "RefreshSheetsChartRequest"
                },
                {
                    "name": "createImage",
                    "desc": "Creates an image.",
                    "type": "ref",
                    "refType": "CreateImageRequest"
                },
                {
                    "name": "insertTableColumns",
                    "desc": "Inserts columns into a table.",
                    "type": "ref",
                    "refType": "InsertTableColumnsRequest"
                },
                {
                    "name": "updateSlidesPosition",
                    "desc": "Updates the position of a set of slides in the presentation.",
                    "type": "ref",
                    "refType": "UpdateSlidesPositionRequest"
                },
                {
                    "name": "createShape",
                    "desc": "Creates a new shape.",
                    "type": "ref",
                    "refType": "CreateShapeRequest"
                },
                {
                    "name": "createTable",
                    "desc": "Creates a new table.",
                    "type": "ref",
                    "refType": "CreateTableRequest"
                },
                {
                    "name": "createVideo",
                    "desc": "Creates a video.",
                    "type": "ref",
                    "refType": "CreateVideoRequest"
                },
                {
                    "name": "updateLineProperties",
                    "desc": "Updates the properties of a Line.",
                    "type": "ref",
                    "refType": "UpdateLinePropertiesRequest"
                },
                {
                    "name": "updateParagraphStyle",
                    "desc": "Updates the styling of paragraphs within a Shape or Table.",
                    "type": "ref",
                    "refType": "UpdateParagraphStyleRequest"
                },
                {
                    "name": "updatePageElementTransform",
                    "desc": "Updates the transform of a page element.",
                    "type": "ref",
                    "refType": "UpdatePageElementTransformRequest"
                },
                {
                    "name": "insertTableRows",
                    "desc": "Inserts rows into a table.",
                    "type": "ref",
                    "refType": "InsertTableRowsRequest"
                },
                {
                    "name": "updateTableCellProperties",
                    "desc": "Updates the properties of a TableCell.",
                    "type": "ref",
                    "refType": "UpdateTableCellPropertiesRequest"
                },
                {
                    "name": "deleteObject",
                    "desc": "Deletes a page or page element from the presentation.",
                    "type": "ref",
                    "refType": "DeleteObjectRequest"
                },
                {
                    "name": "createLine",
                    "desc": "Creates a line.",
                    "type": "ref",
                    "refType": "CreateLineRequest"
                },
                {
                    "name": "deleteTableColumn",
                    "desc": "Deletes a column from a table.",
                    "type": "ref",
                    "refType": "DeleteTableColumnRequest"
                },
                {
                    "name": "createSheetsChart",
                    "desc": "Creates an embedded Google Sheets chart.",
                    "type": "ref",
                    "refType": "CreateSheetsChartRequest"
                },
                {
                    "name": "deleteParagraphBullets",
                    "desc": "Deletes bullets from paragraphs.",
                    "type": "ref",
                    "refType": "DeleteParagraphBulletsRequest"
                },
                {
                    "name": "deleteText",
                    "desc": "Deletes text from a shape or a table cell.",
                    "type": "ref",
                    "refType": "DeleteTextRequest"
                },
                {
                    "name": "updateVideoProperties",
                    "desc": "Updates the properties of a Video.",
                    "type": "ref",
                    "refType": "UpdateVideoPropertiesRequest"
                },
                {
                    "name": "createSlide",
                    "desc": "Creates a new slide.",
                    "type": "ref",
                    "refType": "CreateSlideRequest"
                },
                {
                    "name": "deleteTableRow",
                    "desc": "Deletes a row from a table.",
                    "type": "ref",
                    "refType": "DeleteTableRowRequest"
                }
            ]
        },
        {
            "name": "OutlineFill",
            "desc": "The fill of the outline.",
            "type": "object",
            "fields": [
                {
                    "name": "solidFill",
                    "desc": "Solid color fill.",
                    "type": "ref",
                    "refType": "SolidFill"
                }
            ]
        },
        {
            "name": "OpaqueColor",
            "desc": "A themeable solid color value.",
            "type": "object",
            "fields": [
                {
                    "name": "rgbColor",
                    "desc": "An opaque RGB color.",
                    "type": "ref",
                    "refType": "RgbColor"
                },
                {
                    "name": "themeColor",
                    "desc": "An opaque theme color.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "THEME_COLOR_TYPE_UNSPECIFIED",
                            "desc": "Unspecified theme color. This value should not be used."
                        },
                        {
                            "name": "DARK1",
                            "desc": "Represents the first dark color."
                        },
                        {
                            "name": "LIGHT1",
                            "desc": "Represents the first light color."
                        },
                        {
                            "name": "DARK2",
                            "desc": "Represents the second dark color."
                        },
                        {
                            "name": "LIGHT2",
                            "desc": "Represents the second light color."
                        },
                        {
                            "name": "ACCENT1",
                            "desc": "Represents the first accent color."
                        },
                        {
                            "name": "ACCENT2",
                            "desc": "Represents the second accent color."
                        },
                        {
                            "name": "ACCENT3",
                            "desc": "Represents the third accent color."
                        },
                        {
                            "name": "ACCENT4",
                            "desc": "Represents the fourth accent color."
                        },
                        {
                            "name": "ACCENT5",
                            "desc": "Represents the fifth accent color."
                        },
                        {
                            "name": "ACCENT6",
                            "desc": "Represents the sixth accent color."
                        },
                        {
                            "name": "HYPERLINK",
                            "desc": "Represents the color to use for hyperlinks."
                        },
                        {
                            "name": "FOLLOWED_HYPERLINK",
                            "desc": "Represents the color to use for visited hyperlinks."
                        },
                        {
                            "name": "TEXT1",
                            "desc": "Represents the first text color."
                        },
                        {
                            "name": "BACKGROUND1",
                            "desc": "Represents the first background color."
                        },
                        {
                            "name": "TEXT2",
                            "desc": "Represents the second text color."
                        },
                        {
                            "name": "BACKGROUND2",
                            "desc": "Represents the second background color."
                        }
                    ]
                }
            ]
        },
        {
            "name": "ImageProperties",
            "desc": "The properties of the Image.",
            "type": "object",
            "fields": [
                {
                    "name": "transparency",
                    "desc": "The transparency effect of the image. The value should be in the interval\n[0.0, 1.0], where 0 means no effect and 1 means completely transparent.\nThis property is read-only.",
                    "type": "float32"
                },
                {
                    "name": "shadow",
                    "desc": "The shadow of the image. If not set, the image has no shadow. This property\nis read-only.",
                    "type": "ref",
                    "refType": "Shadow"
                },
                {
                    "name": "contrast",
                    "desc": "The contrast effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect. This property is read-only.",
                    "type": "float32"
                },
                {
                    "name": "link",
                    "desc": "The hyperlink destination of the image. If unset, there is no link.",
                    "type": "ref",
                    "refType": "Link"
                },
                {
                    "name": "recolor",
                    "desc": "The recolor effect of the image. If not set, the image is not recolored.\nThis property is read-only.",
                    "type": "ref",
                    "refType": "Recolor"
                },
                {
                    "name": "cropProperties",
                    "desc": "The crop properties of the image. If not set, the image is not cropped.\nThis property is read-only.",
                    "type": "ref",
                    "refType": "CropProperties"
                },
                {
                    "name": "outline",
                    "desc": "The outline of the image. If not set, the the image has no outline.",
                    "type": "ref",
                    "refType": "Outline"
                },
                {
                    "name": "brightness",
                    "desc": "The brightness effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect. This property is read-only.",
                    "type": "float32"
                }
            ]
        },
        {
            "name": "UpdateSlidesPositionRequest",
            "desc": "Updates the position of slides in the presentation.",
            "type": "object",
            "fields": [
                {
                    "name": "slideObjectIds",
                    "desc": "The IDs of the slides in the presentation that should be moved.\nThe slides in this list must be in existing presentation order, without\nduplicates.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "insertionIndex",
                    "desc": "The index where the slides should be inserted, based on the slide\narrangement before the move takes place. Must be between zero and the\nnumber of slides in the presentation, inclusive.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Range",
            "desc": "Specifies a contiguous range of an indexed collection, such as characters in\ntext.",
            "type": "object",
            "fields": [
                {
                    "name": "endIndex",
                    "desc": "The optional zero-based index of the end of the collection.\nRequired for `SPECIFIC_RANGE` delete mode.",
                    "type": "int32"
                },
                {
                    "name": "type",
                    "desc": "The type of range.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "RANGE_TYPE_UNSPECIFIED",
                            "desc": "Unspecified range type. This value must not be used."
                        },
                        {
                            "name": "FIXED_RANGE",
                            "desc": "A fixed range. Both the `start_index` and\n`end_index` must be specified."
                        },
                        {
                            "name": "FROM_START_INDEX",
                            "desc": "Starts the range at `start_index` and continues until the\nend of the collection. The `end_index` must not be specified."
                        },
                        {
                            "name": "ALL",
                            "desc": "Sets the range to be the whole length of the collection. Both the\n`start_index` and the `end_index` must not be\nspecified."
                        }
                    ]
                },
                {
                    "name": "startIndex",
                    "desc": "The optional zero-based index of the beginning of the collection.\nRequired for `SPECIFIC_RANGE` and `FROM_START_INDEX` ranges.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "TableCellProperties",
            "desc": "The properties of the TableCell.",
            "type": "object",
            "fields": [
                {
                    "name": "tableCellBackgroundFill",
                    "desc": "The background fill of the table cell. The default fill matches the fill\nfor newly created table cells in the Slides editor.",
                    "type": "ref",
                    "refType": "TableCellBackgroundFill"
                }
            ]
        },
        {
            "name": "CreateSlideRequest",
            "desc": "Creates a new slide.",
            "type": "object",
            "fields": [
                {
                    "name": "insertionIndex",
                    "desc": "The optional zero-based index indicating where to insert the slides.\n\nIf you don't specify an index, the new slide is created at the end.",
                    "type": "int32"
                },
                {
                    "name": "placeholderIdMappings",
                    "desc": "An optional list of object ID mappings from the placeholder(s) on the layout to the placeholder(s)\nthat will be created on the new slide from that specified layout. Can only\nbe used when `slide_layout_reference` is specified.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LayoutPlaceholderIdMapping"
                },
                {
                    "name": "slideLayoutReference",
                    "desc": "Layout reference of the slide to be inserted, based on the *current\nmaster*, which is one of the following:\n\n- The master of the previous slide index.\n- The master of the first slide, if the insertion_index is zero.\n- The first master in the presentation, if there are no slides.\n\nIf the LayoutReference is not found in the current master, a 400 bad\nrequest error is returned.\n\nIf you don't specify a layout reference, then the new slide will use the\npredefined layout `BLANK`.",
                    "type": "ref",
                    "refType": "LayoutReference"
                },
                {
                    "name": "objectId",
                    "desc": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Video",
            "desc": "A PageElement kind representing a\nvideo.",
            "type": "object",
            "fields": [
                {
                    "name": "source",
                    "desc": "The video source.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SOURCE_UNSPECIFIED",
                            "desc": "The video source is unspecified."
                        },
                        {
                            "name": "YOUTUBE",
                            "desc": "The video source is YouTube."
                        }
                    ]
                },
                {
                    "name": "url",
                    "desc": "An URL to a video. The URL is valid as long as the source video\nexists and sharing settings do not change.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The video source's unique identifier for this video.",
                    "type": "string"
                },
                {
                    "name": "videoProperties",
                    "desc": "The properties of the video.",
                    "type": "ref",
                    "refType": "VideoProperties"
                }
            ]
        },
        {
            "name": "UpdateLinePropertiesRequest",
            "desc": "Updates the properties of a Line.",
            "type": "object",
            "fields": [
                {
                    "name": "fields",
                    "desc": "The fields that should be updated.\n\nAt least one field must be specified. The root `lineProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the line solid fill color, set `fields` to\n`\"lineFill.solidFill.color\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
                    "type": "string"
                },
                {
                    "name": "objectId",
                    "desc": "The object ID of the line the update is applied to.",
                    "type": "string"
                },
                {
                    "name": "lineProperties",
                    "desc": "The line properties to update.",
                    "type": "ref",
                    "refType": "LineProperties"
                }
            ]
        },
        {
            "name": "Link",
            "desc": "A hypertext link.",
            "type": "object",
            "fields": [
                {
                    "name": "pageObjectId",
                    "desc": "If set, indicates this is a link to the specific page in this\npresentation with this ID. A page with this ID may not exist.",
                    "type": "string"
                },
                {
                    "name": "url",
                    "desc": "If set, indicates this is a link to the external web page at this URL.",
                    "type": "string"
                },
                {
                    "name": "relativeLink",
                    "desc": "If set, indicates this is a link to a slide in this presentation,\naddressed by its position.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "RELATIVE_SLIDE_LINK_UNSPECIFIED",
                            "desc": "An unspecified relative slide link."
                        },
                        {
                            "name": "NEXT_SLIDE",
                            "desc": "A link to the next slide."
                        },
                        {
                            "name": "PREVIOUS_SLIDE",
                            "desc": "A link to the previous slide."
                        },
                        {
                            "name": "FIRST_SLIDE",
                            "desc": "A link to the first slide in the presentation."
                        },
                        {
                            "name": "LAST_SLIDE",
                            "desc": "A link to the last slide in the presentation."
                        }
                    ]
                },
                {
                    "name": "slideIndex",
                    "desc": "If set, indicates this is a link to the slide at this zero-based index\nin the presentation. There may not be a slide at this index.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Image",
            "desc": "A PageElement kind representing an\nimage.",
            "type": "object",
            "fields": [
                {
                    "name": "imageProperties",
                    "desc": "The properties of the image.",
                    "type": "ref",
                    "refType": "ImageProperties"
                },
                {
                    "name": "contentUrl",
                    "desc": "An URL to an image with a default lifetime of 30 minutes.\nThis URL is tagged with the account of the requester. Anyone with the URL\neffectively accesses the image as the original requester. Access to the\nimage may be lost if the presentation's sharing settings change.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LayoutProperties",
            "desc": "The properties of Page are only\nrelevant for pages with page_type LAYOUT.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the layout.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The human readable name of the layout in the presentation's locale.",
                    "type": "string"
                },
                {
                    "name": "masterObjectId",
                    "desc": "The object ID of the master that this layout is based on.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Presentation",
            "desc": "A Google Slides presentation.",
            "type": "object",
            "fields": [
                {
                    "name": "notesMaster",
                    "desc": "The notes master in the presentation. It serves three purposes:\n\n- Placeholder shapes on a notes master contain the default text styles and\n  shape properties of all placeholder shapes on notes pages. Specifically,\n  a `SLIDE_IMAGE` placeholder shape contains the slide thumbnail, and a\n  `BODY` placeholder shape contains the speaker notes.\n- The notes master page properties define the common page properties\n  inherited by all notes pages.\n- Any other shapes on the notes master will appear on all notes pages.\n\nThe notes master is read-only.",
                    "type": "ref",
                    "refType": "Page"
                },
                {
                    "name": "title",
                    "desc": "The title of the presentation.",
                    "type": "string"
                },
                {
                    "name": "slides",
                    "desc": "The slides in the presentation.\nA slide inherits properties from a slide layout.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Page"
                },
                {
                    "name": "layouts",
                    "desc": "The layouts in the presentation. A layout is a template that determines\nhow content is arranged and styled on the slides that inherit from that\nlayout.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Page"
                },
                {
                    "name": "locale",
                    "desc": "The locale of the presentation, as an IETF BCP 47 language tag.",
                    "type": "string"
                },
                {
                    "name": "masters",
                    "desc": "The slide masters in the presentation. A slide master contains all common\npage elements and the common properties for a set of layouts. They serve\nthree purposes:\n\n- Placeholder shapes on a master contain the default text styles and shape\n  properties of all placeholder shapes on pages that use that master.\n- The master page properties define the common page properties inherited by\n  its layouts.\n- Any other shapes on the master slide will appear on all slides using that\n  master, regardless of their layout.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Page"
                },
                {
                    "name": "pageSize",
                    "desc": "The size of pages in the presentation.",
                    "type": "ref",
                    "refType": "Size"
                },
                {
                    "name": "presentationId",
                    "desc": "The ID of the presentation.",
                    "type": "string"
                },
                {
                    "name": "revisionId",
                    "desc": "The revision ID of the presentation. Can be used in update requests\nto assert that the presentation revision hasn't changed since the last\nread operation. Only populated if the user has edit access to the\npresentation.\n\nThe format of the revision ID may change over time, so it should be treated\nopaquely. A returned revision ID is only guaranteed to be valid for 24\nhours after it has been returned and cannot be shared across users. Callers\ncan assume that if two revision IDs are equal then the presentation has not\nchanged.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SolidFill",
            "desc": "A solid color fill. The page or page element is filled entirely with the\nspecified color value.\n\nIf any field is unset, its value may be inherited from a parent placeholder\nif it exists.",
            "type": "object",
            "fields": [
                {
                    "name": "alpha",
                    "desc": "The fraction of this `color` that should be applied to the pixel.\nThat is, the final pixel color is defined by the equation:\n\n  pixel color = alpha * (color) + (1.0 - alpha) * (background color)\n\nThis means that a value of 1.0 corresponds to a solid color, whereas\na value of 0.0 corresponds to a completely transparent color.",
                    "type": "float32"
                },
                {
                    "name": "color",
                    "desc": "The color value of the solid fill.",
                    "type": "ref",
                    "refType": "OpaqueColor"
                }
            ]
        },
        {
            "name": "List",
            "desc": "A List describes the look and feel of bullets belonging to paragraphs\nassociated with a list. A paragraph that is part of a list has an implicit\nreference to that list's ID.",
            "type": "object",
            "fields": [
                {
                    "name": "listId",
                    "desc": "The ID of the list.",
                    "type": "string"
                },
                {
                    "name": "nestingLevel",
                    "desc": "A map of nesting levels to the properties of bullets at the associated\nlevel. A list has at most nine levels of nesting, so the possible values\nfor the keys of this map are 0 through 8, inclusive.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "NestingLevel"
                }
            ]
        },
        {
            "name": "Size",
            "desc": "A width and height.",
            "type": "object",
            "fields": [
                {
                    "name": "height",
                    "desc": "The height of the object.",
                    "type": "ref",
                    "refType": "Dimension"
                },
                {
                    "name": "width",
                    "desc": "The width of the object.",
                    "type": "ref",
                    "refType": "Dimension"
                }
            ]
        },
        {
            "name": "DeleteParagraphBulletsRequest",
            "desc": "Deletes bullets from all of the paragraphs that overlap with the given text\nindex range.\n\nThe nesting level of each paragraph will be visually preserved by adding\nindent to the start of the corresponding paragraph.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "The object ID of the shape or table containing the text to delete bullets\nfrom.",
                    "type": "string"
                },
                {
                    "name": "textRange",
                    "desc": "The range of text to delete bullets from, based on TextElement indexes.",
                    "type": "ref",
                    "refType": "Range"
                },
                {
                    "name": "cellLocation",
                    "desc": "The optional table cell location if the text to be modified is in a table\ncell. If present, the object_id must refer to a table.",
                    "type": "ref",
                    "refType": "TableCellLocation"
                }
            ]
        },
        {
            "name": "AutoText",
            "desc": "A TextElement kind that represents auto text.",
            "type": "object",
            "fields": [
                {
                    "name": "content",
                    "desc": "The rendered content of this auto text, if available.",
                    "type": "string"
                },
                {
                    "name": "style",
                    "desc": "The styling applied to this auto text.",
                    "type": "ref",
                    "refType": "TextStyle"
                },
                {
                    "name": "type",
                    "desc": "The type of this auto text.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "TYPE_UNSPECIFIED",
                            "desc": "An unspecified autotext type."
                        },
                        {
                            "name": "SLIDE_NUMBER",
                            "desc": "Type for autotext that represents the current slide number."
                        }
                    ]
                }
            ]
        },
        {
            "name": "CreateVideoResponse",
            "desc": "The result of creating a video.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "The object ID of the created video.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CreateSheetsChartRequest",
            "desc": "Creates an embedded Google Sheets chart.\n\nNOTE: Chart creation requires at least one of the spreadsheets.readonly,\nspreadsheets, drive.readonly, or drive OAuth scopes.",
            "type": "object",
            "fields": [
                {
                    "name": "elementProperties",
                    "desc": "The element properties for the chart.\n\nWhen the aspect ratio of the provided size does not match the chart aspect\nratio, the chart is scaled and centered with respect to the size in order\nto maintain aspect ratio. The provided transform is applied after this\noperation.",
                    "type": "ref",
                    "refType": "PageElementProperties"
                },
                {
                    "name": "spreadsheetId",
                    "desc": "The ID of the Google Sheets spreadsheet that contains the chart.",
                    "type": "string"
                },
                {
                    "name": "linkingMode",
                    "desc": "The mode with which the chart is linked to the source spreadsheet. When\nnot specified, the chart will be an image that is not linked.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NOT_LINKED_IMAGE",
                            "desc": "The chart is not associated with the source spreadsheet and cannot be\nupdated. A chart that is not linked will be inserted as an image."
                        },
                        {
                            "name": "LINKED",
                            "desc": "Linking the chart allows it to be updated, and other collaborators will\nsee a link to the spreadsheet."
                        }
                    ]
                },
                {
                    "name": "chartId",
                    "desc": "The ID of the specific chart in the Google Sheets spreadsheet.",
                    "type": "int32"
                },
                {
                    "name": "objectId",
                    "desc": "A user-supplied object ID.\n\nIf specified, the ID must be unique among all pages and page elements in\nthe presentation. The ID should start with a word character [a-zA-Z0-9_]\nand then followed by any number of the following characters [a-zA-Z0-9_-:].\nThe length of the ID should not be less than 5 or greater than 50.\nIf empty, a unique identifier will be generated.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TextRun",
            "desc": "A TextElement kind that represents a run of text that all has the same\nstyling.",
            "type": "object",
            "fields": [
                {
                    "name": "content",
                    "desc": "The text of this run.",
                    "type": "string"
                },
                {
                    "name": "style",
                    "desc": "The styling applied to this run.",
                    "type": "ref",
                    "refType": "TextStyle"
                }
            ]
        },
        {
            "name": "UpdateShapePropertiesRequest",
            "desc": "Update the properties of a Shape.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "The object ID of the shape the updates are applied to.",
                    "type": "string"
                },
                {
                    "name": "shapeProperties",
                    "desc": "The shape properties to update.",
                    "type": "ref",
                    "refType": "ShapeProperties"
                },
                {
                    "name": "fields",
                    "desc": "The fields that should be updated.\n\nAt least one field must be specified. The root `shapeProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the shape background solid fill color, set `fields`\nto `\"shapeBackgroundFill.solidFill.color\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LineFill",
            "desc": "The fill of the line.",
            "type": "object",
            "fields": [
                {
                    "name": "solidFill",
                    "desc": "Solid color fill.",
                    "type": "ref",
                    "refType": "SolidFill"
                }
            ]
        },
        {
            "name": "CreateShapeRequest",
            "desc": "Creates a new shape.",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\nIf empty, a unique identifier will be generated.",
                    "type": "string"
                },
                {
                    "name": "shapeType",
                    "desc": "The shape type.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "TYPE_UNSPECIFIED",
                            "desc": "The shape type that is not predefined."
                        },
                        {
                            "name": "TEXT_BOX",
                            "desc": "Text box shape."
                        },
                        {
                            "name": "RECTANGLE",
                            "desc": "Rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'rect'."
                        },
                        {
                            "name": "ROUND_RECTANGLE",
                            "desc": "Round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType\n'roundRect'"
                        },
                        {
                            "name": "ELLIPSE",
                            "desc": "Ellipse shape. Corresponds to ECMA-376 ST_ShapeType 'ellipse'"
                        },
                        {
                            "name": "ARC",
                            "desc": "Curved arc shape. Corresponds to ECMA-376 ST_ShapeType 'arc'"
                        },
                        {
                            "name": "BENT_ARROW",
                            "desc": "Bent arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentArrow'"
                        },
                        {
                            "name": "BENT_UP_ARROW",
                            "desc": "Bent up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentUpArrow'"
                        },
                        {
                            "name": "BEVEL",
                            "desc": "Bevel shape. Corresponds to ECMA-376 ST_ShapeType 'bevel'"
                        },
                        {
                            "name": "BLOCK_ARC",
                            "desc": "Block arc shape. Corresponds to ECMA-376 ST_ShapeType 'blockArc'"
                        },
                        {
                            "name": "BRACE_PAIR",
                            "desc": "Brace pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracePair'"
                        },
                        {
                            "name": "BRACKET_PAIR",
                            "desc": "Bracket pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracketPair'"
                        },
                        {
                            "name": "CAN",
                            "desc": "Can shape. Corresponds to ECMA-376 ST_ShapeType 'can'"
                        },
                        {
                            "name": "CHEVRON",
                            "desc": "Chevron shape. Corresponds to ECMA-376 ST_ShapeType 'chevron'"
                        },
                        {
                            "name": "CHORD",
                            "desc": "Chord shape. Corresponds to ECMA-376 ST_ShapeType 'chord'"
                        },
                        {
                            "name": "CLOUD",
                            "desc": "Cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloud'"
                        },
                        {
                            "name": "CORNER",
                            "desc": "Corner shape. Corresponds to ECMA-376 ST_ShapeType 'corner'"
                        },
                        {
                            "name": "CUBE",
                            "desc": "Cube shape. Corresponds to ECMA-376 ST_ShapeType 'cube'"
                        },
                        {
                            "name": "CURVED_DOWN_ARROW",
                            "desc": "Curved down arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'curvedDownArrow'"
                        },
                        {
                            "name": "CURVED_LEFT_ARROW",
                            "desc": "Curved left arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'curvedLeftArrow'"
                        },
                        {
                            "name": "CURVED_RIGHT_ARROW",
                            "desc": "Curved right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'curvedRightArrow'"
                        },
                        {
                            "name": "CURVED_UP_ARROW",
                            "desc": "Curved up arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'curvedUpArrow'"
                        },
                        {
                            "name": "DECAGON",
                            "desc": "Decagon shape. Corresponds to ECMA-376 ST_ShapeType 'decagon'"
                        },
                        {
                            "name": "DIAGONAL_STRIPE",
                            "desc": "Diagonal stripe shape. Corresponds to ECMA-376 ST_ShapeType 'diagStripe'"
                        },
                        {
                            "name": "DIAMOND",
                            "desc": "Diamond shape. Corresponds to ECMA-376 ST_ShapeType 'diamond'"
                        },
                        {
                            "name": "DODECAGON",
                            "desc": "Dodecagon shape. Corresponds to ECMA-376 ST_ShapeType 'dodecagon'"
                        },
                        {
                            "name": "DONUT",
                            "desc": "Donut shape. Corresponds to ECMA-376 ST_ShapeType 'donut'"
                        },
                        {
                            "name": "DOUBLE_WAVE",
                            "desc": "Double wave shape. Corresponds to ECMA-376 ST_ShapeType 'doubleWave'"
                        },
                        {
                            "name": "DOWN_ARROW",
                            "desc": "Down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrow'"
                        },
                        {
                            "name": "DOWN_ARROW_CALLOUT",
                            "desc": "Callout down arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'downArrowCallout'"
                        },
                        {
                            "name": "FOLDED_CORNER",
                            "desc": "Folded corner shape. Corresponds to ECMA-376 ST_ShapeType 'foldedCorner'"
                        },
                        {
                            "name": "FRAME",
                            "desc": "Frame shape. Corresponds to ECMA-376 ST_ShapeType 'frame'"
                        },
                        {
                            "name": "HALF_FRAME",
                            "desc": "Half frame shape. Corresponds to ECMA-376 ST_ShapeType 'halfFrame'"
                        },
                        {
                            "name": "HEART",
                            "desc": "Heart shape. Corresponds to ECMA-376 ST_ShapeType 'heart'"
                        },
                        {
                            "name": "HEPTAGON",
                            "desc": "Heptagon shape. Corresponds to ECMA-376 ST_ShapeType 'heptagon'"
                        },
                        {
                            "name": "HEXAGON",
                            "desc": "Hexagon shape. Corresponds to ECMA-376 ST_ShapeType 'hexagon'"
                        },
                        {
                            "name": "HOME_PLATE",
                            "desc": "Home plate shape. Corresponds to ECMA-376 ST_ShapeType 'homePlate'"
                        },
                        {
                            "name": "HORIZONTAL_SCROLL",
                            "desc": "Horizontal scroll shape. Corresponds to ECMA-376 ST_ShapeType\n'horizontalScroll'"
                        },
                        {
                            "name": "IRREGULAR_SEAL_1",
                            "desc": "Irregular seal 1 shape. Corresponds to ECMA-376 ST_ShapeType\n'irregularSeal1'"
                        },
                        {
                            "name": "IRREGULAR_SEAL_2",
                            "desc": "Irregular seal 2 shape. Corresponds to ECMA-376 ST_ShapeType\n'irregularSeal2'"
                        },
                        {
                            "name": "LEFT_ARROW",
                            "desc": "Left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftArrow'"
                        },
                        {
                            "name": "LEFT_ARROW_CALLOUT",
                            "desc": "Callout left arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'leftArrowCallout'"
                        },
                        {
                            "name": "LEFT_BRACE",
                            "desc": "Left brace shape. Corresponds to ECMA-376 ST_ShapeType 'leftBrace'"
                        },
                        {
                            "name": "LEFT_BRACKET",
                            "desc": "Left bracket shape. Corresponds to ECMA-376 ST_ShapeType 'leftBracket'"
                        },
                        {
                            "name": "LEFT_RIGHT_ARROW",
                            "desc": "Left right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'leftRightArrow'"
                        },
                        {
                            "name": "LEFT_RIGHT_ARROW_CALLOUT",
                            "desc": "Callout left right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'leftRightArrowCallout'"
                        },
                        {
                            "name": "LEFT_RIGHT_UP_ARROW",
                            "desc": "Left right up arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'leftRightUpArrow'"
                        },
                        {
                            "name": "LEFT_UP_ARROW",
                            "desc": "Left up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftUpArrow'"
                        },
                        {
                            "name": "LIGHTNING_BOLT",
                            "desc": "Lightning bolt shape. Corresponds to ECMA-376 ST_ShapeType\n'lightningBolt'"
                        },
                        {
                            "name": "MATH_DIVIDE",
                            "desc": "Divide math shape. Corresponds to ECMA-376 ST_ShapeType 'mathDivide'"
                        },
                        {
                            "name": "MATH_EQUAL",
                            "desc": "Equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathEqual'"
                        },
                        {
                            "name": "MATH_MINUS",
                            "desc": "Minus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMinus'"
                        },
                        {
                            "name": "MATH_MULTIPLY",
                            "desc": "Multiply math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMultiply'"
                        },
                        {
                            "name": "MATH_NOT_EQUAL",
                            "desc": "Not equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathNotEqual'"
                        },
                        {
                            "name": "MATH_PLUS",
                            "desc": "Plus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathPlus'"
                        },
                        {
                            "name": "MOON",
                            "desc": "Moon shape. Corresponds to ECMA-376 ST_ShapeType 'moon'"
                        },
                        {
                            "name": "NO_SMOKING",
                            "desc": "No smoking shape. Corresponds to ECMA-376 ST_ShapeType 'noSmoking'"
                        },
                        {
                            "name": "NOTCHED_RIGHT_ARROW",
                            "desc": "Notched right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'notchedRightArrow'"
                        },
                        {
                            "name": "OCTAGON",
                            "desc": "Octagon shape. Corresponds to ECMA-376 ST_ShapeType 'octagon'"
                        },
                        {
                            "name": "PARALLELOGRAM",
                            "desc": "Parallelogram shape. Corresponds to ECMA-376 ST_ShapeType 'parallelogram'"
                        },
                        {
                            "name": "PENTAGON",
                            "desc": "Pentagon shape. Corresponds to ECMA-376 ST_ShapeType 'pentagon'"
                        },
                        {
                            "name": "PIE",
                            "desc": "Pie shape. Corresponds to ECMA-376 ST_ShapeType 'pie'"
                        },
                        {
                            "name": "PLAQUE",
                            "desc": "Plaque shape. Corresponds to ECMA-376 ST_ShapeType 'plaque'"
                        },
                        {
                            "name": "PLUS",
                            "desc": "Plus shape. Corresponds to ECMA-376 ST_ShapeType 'plus'"
                        },
                        {
                            "name": "QUAD_ARROW",
                            "desc": "Quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType 'quadArrow'"
                        },
                        {
                            "name": "QUAD_ARROW_CALLOUT",
                            "desc": "Callout quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'quadArrowCallout'"
                        },
                        {
                            "name": "RIBBON",
                            "desc": "Ribbon shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon'"
                        },
                        {
                            "name": "RIBBON_2",
                            "desc": "Ribbon 2 shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon2'"
                        },
                        {
                            "name": "RIGHT_ARROW",
                            "desc": "Right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'rightArrow'"
                        },
                        {
                            "name": "RIGHT_ARROW_CALLOUT",
                            "desc": "Callout right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'rightArrowCallout'"
                        },
                        {
                            "name": "RIGHT_BRACE",
                            "desc": "Right brace shape. Corresponds to ECMA-376 ST_ShapeType 'rightBrace'"
                        },
                        {
                            "name": "RIGHT_BRACKET",
                            "desc": "Right bracket shape. Corresponds to ECMA-376 ST_ShapeType 'rightBracket'"
                        },
                        {
                            "name": "ROUND_1_RECTANGLE",
                            "desc": "One round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType\n'round1Rect'"
                        },
                        {
                            "name": "ROUND_2_DIAGONAL_RECTANGLE",
                            "desc": "Two diagonal round corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'round2DiagRect'"
                        },
                        {
                            "name": "ROUND_2_SAME_RECTANGLE",
                            "desc": "Two same-side round corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'round2SameRect'"
                        },
                        {
                            "name": "RIGHT_TRIANGLE",
                            "desc": "Right triangle shape. Corresponds to ECMA-376 ST_ShapeType 'rtTriangle'"
                        },
                        {
                            "name": "SMILEY_FACE",
                            "desc": "Smiley face shape. Corresponds to ECMA-376 ST_ShapeType 'smileyFace'"
                        },
                        {
                            "name": "SNIP_1_RECTANGLE",
                            "desc": "One snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType\n'snip1Rect'"
                        },
                        {
                            "name": "SNIP_2_DIAGONAL_RECTANGLE",
                            "desc": "Two diagonal snip corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'snip2DiagRect'"
                        },
                        {
                            "name": "SNIP_2_SAME_RECTANGLE",
                            "desc": "Two same-side snip corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'snip2SameRect'"
                        },
                        {
                            "name": "SNIP_ROUND_RECTANGLE",
                            "desc": "One snip one round corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'snipRoundRect'"
                        },
                        {
                            "name": "STAR_10",
                            "desc": "Ten pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star10'"
                        },
                        {
                            "name": "STAR_12",
                            "desc": "Twelve pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star12'"
                        },
                        {
                            "name": "STAR_16",
                            "desc": "Sixteen pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star16'"
                        },
                        {
                            "name": "STAR_24",
                            "desc": "Twenty four pointed star shape. Corresponds to ECMA-376 ST_ShapeType\n'star24'"
                        },
                        {
                            "name": "STAR_32",
                            "desc": "Thirty two pointed star shape. Corresponds to ECMA-376 ST_ShapeType\n'star32'"
                        },
                        {
                            "name": "STAR_4",
                            "desc": "Four pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star4'"
                        },
                        {
                            "name": "STAR_5",
                            "desc": "Five pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star5'"
                        },
                        {
                            "name": "STAR_6",
                            "desc": "Six pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star6'"
                        },
                        {
                            "name": "STAR_7",
                            "desc": "Seven pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star7'"
                        },
                        {
                            "name": "STAR_8",
                            "desc": "Eight pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star8'"
                        },
                        {
                            "name": "STRIPED_RIGHT_ARROW",
                            "desc": "Striped right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'stripedRightArrow'"
                        },
                        {
                            "name": "SUN",
                            "desc": "Sun shape. Corresponds to ECMA-376 ST_ShapeType 'sun'"
                        },
                        {
                            "name": "TRAPEZOID",
                            "desc": "Trapezoid shape. Corresponds to ECMA-376 ST_ShapeType 'trapezoid'"
                        },
                        {
                            "name": "TRIANGLE",
                            "desc": "Triangle shape. Corresponds to ECMA-376 ST_ShapeType 'triangle'"
                        },
                        {
                            "name": "UP_ARROW",
                            "desc": "Up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upArrow'"
                        },
                        {
                            "name": "UP_ARROW_CALLOUT",
                            "desc": "Callout up arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'upArrowCallout'"
                        },
                        {
                            "name": "UP_DOWN_ARROW",
                            "desc": "Up down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upDownArrow'"
                        },
                        {
                            "name": "UTURN_ARROW",
                            "desc": "U-turn arrow shape. Corresponds to ECMA-376 ST_ShapeType 'uturnArrow'"
                        },
                        {
                            "name": "VERTICAL_SCROLL",
                            "desc": "Vertical scroll shape. Corresponds to ECMA-376 ST_ShapeType\n'verticalScroll'"
                        },
                        {
                            "name": "WAVE",
                            "desc": "Wave shape. Corresponds to ECMA-376 ST_ShapeType 'wave'"
                        },
                        {
                            "name": "WEDGE_ELLIPSE_CALLOUT",
                            "desc": "Callout wedge ellipse shape. Corresponds to ECMA-376 ST_ShapeType\n'wedgeEllipseCallout'"
                        },
                        {
                            "name": "WEDGE_RECTANGLE_CALLOUT",
[...]
