{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/rRpL0Yww6KCNEEWca1YtyKw9Y48\"",
    "discoveryVersion": "v1",
    "id": "tagmanager:v1",
    "name": "tagmanager",
    "version": "v1",
    "title": "Tag Manager API",
    "description": "Accesses Tag Manager accounts and containers.",
    "documentationLink": "https://developers.google.com/tag-manager/api/v1/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/tagmanager.publish",
            "https://www.googleapis.com/auth/tagmanager.readonly",
            "https://www.googleapis.com/auth/tagmanager.delete.containers",
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.manage.users"
        ]
    },
    "parameters": [
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        }
    ],
    "schemas": [
        {
            "name": "Condition",
            "desc": "Represents a predicate.",
            "type": "object",
            "fields": [
                {
                    "name": "parameter",
                    "desc": "A list of named parameters (key/value), depending on the condition's type. Notes: \n- For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. \n- At this time, the left operand (arg0) must be a reference to a variable. \n- For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. \n- To negate an operator, include a boolean parameter named negate boolean parameter that is set to true.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "type",
                    "desc": "The type of operator for this condition.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "contains"
                        },
                        {
                            "name": "cssSelector"
                        },
                        {
                            "name": "endsWith"
                        },
                        {
                            "name": "equals"
                        },
                        {
                            "name": "greater"
                        },
                        {
                            "name": "greaterOrEquals"
                        },
                        {
                            "name": "less"
                        },
                        {
                            "name": "lessOrEquals"
                        },
                        {
                            "name": "matchRegex"
                        },
                        {
                            "name": "startsWith"
                        },
                        {
                            "name": "urlMatches"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ListAccountUsersResponse",
            "desc": "List AccountUsers Response.",
            "type": "object",
            "fields": [
                {
                    "name": "userAccess",
                    "desc": "All GTM AccountUsers of a GTM Account.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UserAccess"
                }
            ]
        },
        {
            "name": "ListContainerVersionsResponse",
            "desc": "List container versions response.",
            "type": "object",
            "fields": [
                {
                    "name": "containerVersion",
                    "desc": "All versions of a GTM Container.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ContainerVersion"
                },
                {
                    "name": "containerVersionHeader",
                    "desc": "All container version headers of a GTM Container.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ContainerVersionHeader"
                }
            ]
        },
        {
            "name": "ListFoldersResponse",
            "desc": "List Folders Response.",
            "type": "object",
            "fields": [
                {
                    "name": "folders",
                    "desc": "All GTM Folders of a GTM Container.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Folder"
                }
            ]
        },
        {
            "name": "Container",
            "desc": "Represents a Google Tag Manager Container.",
            "type": "object",
            "fields": [
                {
                    "name": "notes",
                    "desc": "Container Notes.",
                    "type": "string"
                },
                {
                    "name": "publicId",
                    "desc": "Container Public ID.",
                    "type": "string"
                },
                {
                    "name": "timeZoneCountryId",
                    "desc": "Container Country ID.",
                    "type": "string"
                },
                {
                    "name": "containerId",
                    "desc": "The Container ID uniquely identifies the GTM Container.",
                    "type": "string"
                },
                {
                    "name": "enabledBuiltInVariable",
                    "desc": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
                    "type": "string"
                },
                {
                    "name": "timeZoneId",
                    "desc": "Container Time Zone ID.",
                    "type": "string"
                },
                {
                    "name": "usageContext",
                    "desc": "List of Usage Contexts for the Container. Valid values include: web, android, ios.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "domainName",
                    "desc": "Optional list of domain names associated with the Container.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Container display name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Folder",
            "desc": "Represents a Google Tag Manager Folder.",
            "type": "object",
            "fields": [
                {
                    "name": "folderId",
                    "desc": "The Folder ID uniquely identifies the GTM Folder.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Folder display name.",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PublishContainerVersionResponse",
            "desc": "Publish container version response.",
            "type": "object",
            "fields": [
                {
                    "name": "compilerError",
                    "desc": "Compiler errors or not.",
                    "type": "bool"
                },
                {
                    "name": "containerVersion",
                    "desc": "The container version created.",
                    "type": "ref",
                    "refType": "ContainerVersion"
                }
            ]
        },
        {
            "name": "UserAccess",
            "desc": "Represents a user's permissions to an account and its container.",
            "type": "object",
            "fields": [
                {
                    "name": "permissionId",
                    "desc": "Account Permission ID.",
                    "type": "string"
                },
                {
                    "name": "accountAccess",
                    "desc": "GTM Account access permissions.",
                    "type": "ref",
                    "refType": "AccountAccess"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "containerAccess",
                    "desc": "GTM Container access permissions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ContainerAccess"
                },
                {
                    "name": "emailAddress",
                    "desc": "User's email address.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ContainerVersion",
            "desc": "Represents a Google Tag Manager Container Version.",
            "type": "object",
            "fields": [
                {
                    "name": "container",
                    "desc": "The container that this version was taken from.",
                    "type": "ref",
                    "refType": "Container"
                },
                {
                    "name": "deleted",
                    "desc": "A value of true indicates this container version has been deleted.",
                    "type": "bool"
                },
                {
                    "name": "tag",
                    "desc": "The tags in the container that this version was taken from.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Tag"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                },
                {
                    "name": "containerVersionId",
                    "desc": "The Container Version ID uniquely identifies the GTM Container Version.",
                    "type": "string"
                },
                {
                    "name": "trigger",
                    "desc": "The triggers in the container that this version was taken from.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Trigger"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Container version display name.",
                    "type": "string"
                },
                {
                    "name": "notes",
                    "desc": "User notes on how to apply this container version in the container.",
                    "type": "string"
                },
                {
                    "name": "rule",
                    "desc": "The rules in the container that this version was taken from.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Rule"
                },
                {
                    "name": "variable",
                    "desc": "The variables in the container that this version was taken from.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Variable"
                },
                {
                    "name": "folder",
                    "desc": "The folders in the container that this version was taken from.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Folder"
                },
                {
                    "name": "macro",
                    "desc": "The macros in the container that this version was taken from.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Macro"
                }
            ]
        },
        {
            "name": "ListAccountsResponse",
            "desc": "List Accounts Response.",
            "type": "object",
            "fields": [
                {
                    "name": "accounts",
                    "desc": "List of GTM Accounts that a user has access to.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Account"
                }
            ]
        },
        {
            "name": "Parameter",
            "desc": "Represents a Google Tag Manager Parameter.",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "desc": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.",
                    "type": "string"
                },
                {
                    "name": "list",
                    "desc": "This list parameter's parameters (keys will be ignored).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "map",
                    "desc": "This map parameter's parameters (must have keys; keys must be unique).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "type",
                    "desc": "The parameter type. Valid values are: \n- boolean: The value represents a boolean, represented as 'true' or 'false' \n- integer: The value represents a 64-bit signed integer value, in base 10 \n- list: A list of parameters should be specified \n- map: A map of parameters should be specified \n- template: The value represents any text; this can include variable references (even variable references that might return non-string types)",
                    "type": "string",
                    "enum": [
                        {
                            "name": "boolean"
                        },
                        {
                            "name": "integer"
                        },
                        {
                            "name": "list"
                        },
                        {
                            "name": "map"
                        },
                        {
                            "name": "template"
                        }
                    ]
                },
                {
                    "name": "value",
                    "desc": "A parameter's value (may contain variable references such as \"{{myVariable}}\") as appropriate to the specified type.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Rule",
            "desc": "Represents a Google Tag Manager Rule.",
            "type": "object",
            "fields": [
                {
                    "name": "notes",
                    "desc": "User notes on how to apply this rule in the container.",
                    "type": "string"
                },
                {
                    "name": "ruleId",
                    "desc": "The Rule ID uniquely identifies the GTM Rule.",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "condition",
                    "desc": "The list of conditions that make up this rule (implicit AND between them).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Condition"
                },
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM Rule as computed at storage time. This value is recomputed whenever the rule is modified.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Rule display name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ContainerAccess",
            "desc": "Defines the Google Tag Manager Container access permissions.",
            "type": "object",
            "fields": [
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                },
                {
                    "name": "permission",
                    "desc": "List of Container permissions. Valid container permissions are: read, edit, delete, publish.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ContainerVersionHeader",
            "desc": "Represents a Google Tag Manager Container Version Header.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Container version display name.",
                    "type": "string"
                },
                {
                    "name": "numTriggers",
                    "desc": "Number of triggers in the container version.",
                    "type": "string"
                },
                {
                    "name": "numVariables",
                    "desc": "Number of variables in the container version.",
                    "type": "string"
                },
                {
                    "name": "containerVersionId",
                    "desc": "The Container Version ID uniquely identifies the GTM Container Version.",
                    "type": "string"
                },
                {
                    "name": "deleted",
                    "desc": "A value of true indicates this container version has been deleted.",
                    "type": "bool"
                },
                {
                    "name": "numMacros",
                    "desc": "Number of macros in the container version.",
                    "type": "string"
                },
                {
                    "name": "numRules",
                    "desc": "Number of rules in the container version.",
                    "type": "string"
                },
                {
                    "name": "numTags",
                    "desc": "Number of tags in the container version.",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Trigger",
            "desc": "Represents a Google Tag Manager Trigger",
            "type": "object",
            "fields": [
                {
                    "name": "interval",
                    "desc": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "name",
                    "desc": "Trigger display name.",
                    "type": "string"
                },
                {
                    "name": "customEventFilter",
                    "desc": "Used in the case of custom event, which is fired iff all Conditions are true.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Condition"
                },
                {
                    "name": "eventName",
                    "desc": "Name of the GTM event that is fired. Only valid for Timer triggers.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "type",
                    "desc": "Defines the data layer event that causes this trigger.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ajaxSubmission"
                        },
                        {
                            "name": "always"
                        },
                        {
                            "name": "click"
                        },
                        {
                            "name": "customEvent"
                        },
                        {
                            "name": "domReady"
                        },
                        {
                            "name": "formSubmission"
                        },
                        {
                            "name": "historyChange"
                        },
                        {
                            "name": "jsError"
                        },
                        {
                            "name": "linkClick"
                        },
                        {
                            "name": "pageview"
                        },
                        {
                            "name": "timer"
                        },
                        {
                            "name": "windowLoaded"
                        },
                        {
                            "name": "youTube"
                        }
                    ]
                },
                {
                    "name": "waitForTagsTimeout",
                    "desc": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "autoEventFilter",
                    "desc": "Used in the case of auto event tracking.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Condition"
                },
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                },
                {
                    "name": "limit",
                    "desc": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "parentFolderId",
                    "desc": "Parent folder id.",
                    "type": "string"
                },
                {
                    "name": "uniqueTriggerId",
                    "desc": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "waitForTags",
                    "desc": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "checkValidation",
                    "desc": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "enableAllVideos",
                    "desc": "Reloads the videos in the page that don't already have the YT API enabled. If false, only capture events from videos that already have the API enabled. Only valid for YouTube triggers.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
                    "type": "string"
                },
                {
                    "name": "triggerId",
                    "desc": "The Trigger ID uniquely identifies the GTM Trigger.",
                    "type": "string"
                },
                {
                    "name": "videoPercentageList",
                    "desc": "List of integer percentage values. The trigger will fire as each percentage is reached in any instrumented videos. Only valid for YouTube triggers.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "filter",
                    "desc": "The trigger will only fire iff all Conditions are true.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Condition"
                }
            ]
        },
        {
            "name": "Environment",
            "desc": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
            "type": "object",
            "fields": [
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                },
                {
                    "name": "environmentId",
                    "desc": "GTM Environment ID uniquely identifies the GTM Environment.",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of this environment.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "draft"
                        },
                        {
                            "name": "latest"
                        },
                        {
                            "name": "live"
                        },
                        {
                            "name": "user"
                        }
                    ]
                },
                {
                    "name": "url",
                    "desc": "Default preview page url for the environment.",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "authorizationCode",
                    "desc": "The environment authorization code.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The environment description. Can be set or changed only on USER type environments.",
                    "type": "string"
                },
                {
                    "name": "enableDebug",
                    "desc": "Whether or not to enable debug by default on for the environment.",
                    "type": "bool"
                },
                {
                    "name": "name",
                    "desc": "The environment display name. Can be set or changed only on USER type environments.",
                    "type": "string"
                },
                {
                    "name": "authorizationTimestampMs",
                    "desc": "The last update time-stamp for the authorization code.",
                    "type": "int64"
                },
                {
                    "name": "containerVersionId",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FolderEntities",
            "desc": "Represents a Google Tag Manager Folder's contents.",
            "type": "object",
            "fields": [
                {
                    "name": "tag",
                    "desc": "The list of tags inside the folder.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Tag"
                },
                {
                    "name": "trigger",
                    "desc": "The list of triggers inside the folder.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Trigger"
                },
                {
                    "name": "variable",
                    "desc": "The list of variables inside the folder.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Variable"
                }
            ]
        },
        {
            "name": "SetupTag",
            "type": "object",
            "fields": [
                {
                    "name": "tagName",
                    "desc": "The name of the setup tag.",
                    "type": "string"
                },
                {
                    "name": "stopOnSetupFailure",
                    "desc": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "Tag",
            "desc": "Represents a Google Tag Manager Tag.",
            "type": "object",
            "fields": [
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
                    "type": "string"
                },
                {
                    "name": "firingRuleId",
                    "desc": "Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "firingTriggerId",
                    "desc": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "parameter",
                    "desc": "The tag's parameters.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "parentFolderId",
                    "desc": "Parent folder id.",
                    "type": "string"
                },
                {
                    "name": "priority",
                    "desc": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "blockingRuleId",
                    "desc": "Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "scheduleEndMs",
                    "desc": "The end timestamp in milliseconds to schedule a tag.",
                    "type": "int64"
                },
                {
                    "name": "scheduleStartMs",
                    "desc": "The start timestamp in milliseconds to schedule a tag.",
                    "type": "int64"
                },
                {
                    "name": "setupTag",
                    "desc": "The list of setup tags. Currently we only allow one.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SetupTag"
                },
                {
                    "name": "type",
                    "desc": "GTM Tag Type.",
                    "type": "string"
                },
                {
                    "name": "blockingTriggerId",
                    "desc": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Tag display name.",
                    "type": "string"
                },
                {
                    "name": "teardownTag",
                    "desc": "The list of teardown tags. Currently we only allow one.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TeardownTag"
                },
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                },
                {
                    "name": "liveOnly",
                    "desc": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
                    "type": "bool"
                },
                {
                    "name": "notes",
                    "desc": "User notes on how to apply this tag in the container.",
                    "type": "string"
                },
                {
                    "name": "tagFiringOption",
                    "desc": "Option to fire this tag.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "oncePerEvent"
                        },
                        {
                            "name": "oncePerLoad"
                        },
                        {
                            "name": "unlimited"
                        }
                    ]
                },
                {
                    "name": "tagId",
                    "desc": "The Tag ID uniquely identifies the GTM Tag.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Account",
            "desc": "Represents a Google Tag Manager Account.",
            "type": "object",
            "fields": [
                {
                    "name": "shareData",
                    "desc": "Whether the account shares data anonymously with Google and others.",
                    "type": "bool"
                },
                {
                    "name": "accountId",
                    "desc": "The Account ID uniquely identifies the GTM Account.",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Account display name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CreateContainerVersionRequestVersionOptions",
            "desc": "Options for new container versions.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the container version to be created.",
                    "type": "string"
                },
                {
                    "name": "notes",
                    "desc": "The notes of the container version to be created.",
                    "type": "string"
                },
                {
                    "name": "quickPreview",
                    "desc": "The creation of this version may be for quick preview and shouldn't be saved.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "CreateContainerVersionResponse",
            "desc": "Create container versions response.",
            "type": "object",
            "fields": [
                {
                    "name": "compilerError",
                    "desc": "Compiler errors or not.",
                    "type": "bool"
                },
                {
                    "name": "containerVersion",
                    "desc": "The container version created.",
                    "type": "ref",
                    "refType": "ContainerVersion"
                }
            ]
        },
        {
            "name": "ListContainersResponse",
            "desc": "List Containers Response.",
            "type": "object",
            "fields": [
                {
                    "name": "containers",
                    "desc": "All Containers of a GTM Account.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Container"
                }
            ]
        },
        {
            "name": "ListTriggersResponse",
            "desc": "List triggers response.",
            "type": "object",
            "fields": [
                {
                    "name": "triggers",
                    "desc": "All GTM Triggers of a GTM Container.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Trigger"
                }
            ]
        },
        {
            "name": "Macro",
            "desc": "Represents a Google Tag Manager Macro.",
            "type": "object",
            "fields": [
                {
                    "name": "scheduleEndMs",
                    "desc": "The end timestamp in milliseconds to schedule a macro.",
                    "type": "int64"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "disablingRuleId",
                    "desc": "For mobile containers only: A list of rule IDs for disabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "enablingRuleId",
                    "desc": "For mobile containers only: A list of rule IDs for enabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM Macro as computed at storage time. This value is recomputed whenever the macro is modified.",
                    "type": "string"
                },
                {
                    "name": "macroId",
                    "desc": "The Macro ID uniquely identifies the GTM Macro.",
                    "type": "string"
                },
                {
                    "name": "notes",
                    "desc": "User notes on how to apply this macro in the container.",
                    "type": "string"
                },
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Macro display name.",
                    "type": "string"
                },
                {
                    "name": "parameter",
                    "desc": "The macro's parameters.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "parentFolderId",
                    "desc": "Parent folder id.",
                    "type": "string"
                },
                {
                    "name": "scheduleStartMs",
                    "desc": "The start timestamp in milliseconds to schedule a macro.",
                    "type": "int64"
                },
                {
                    "name": "type",
                    "desc": "GTM Macro Type.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountAccess",
            "desc": "Defines the Google Tag Manager Account access permissions.",
            "type": "object",
            "fields": [
                {
                    "name": "permission",
                    "desc": "List of Account permissions. Valid account permissions are read and manage.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListEnvironmentsResponse",
            "desc": "List Environments Response.",
            "type": "object",
            "fields": [
                {
                    "name": "environments",
                    "desc": "All Environments of a GTM Container.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Environment"
                }
            ]
        },
        {
            "name": "ListTagsResponse",
            "desc": "List Tags Response.",
            "type": "object",
            "fields": [
                {
                    "name": "tags",
                    "desc": "All GTM Tags of a GTM Container.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Tag"
                }
            ]
        },
        {
            "name": "ListVariablesResponse",
            "desc": "List Variables Response.",
            "type": "object",
            "fields": [
                {
                    "name": "variables",
                    "desc": "All GTM Variables of a GTM Container.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Variable"
                }
            ]
        },
        {
            "name": "TeardownTag",
            "type": "object",
            "fields": [
                {
                    "name": "tagName",
                    "desc": "The name of the teardown tag.",
                    "type": "string"
                },
                {
                    "name": "stopTeardownOnFailure",
                    "desc": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "Variable",
            "desc": "Represents a Google Tag Manager Variable.",
            "type": "object",
            "fields": [
                {
                    "name": "scheduleEndMs",
                    "desc": "The end timestamp in milliseconds to schedule a variable.",
                    "type": "int64"
                },
                {
                    "name": "variableId",
                    "desc": "The Variable ID uniquely identifies the GTM Variable.",
                    "type": "string"
                },
                {
                    "name": "notes",
                    "desc": "User notes on how to apply this variable in the container.",
                    "type": "string"
                },
                {
                    "name": "parameter",
                    "desc": "The variable's parameters.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Parameter"
                },
                {
                    "name": "accountId",
                    "desc": "GTM Account ID.",
                    "type": "string"
                },
                {
                    "name": "containerId",
                    "desc": "GTM Container ID.",
                    "type": "string"
                },
                {
                    "name": "disablingTriggerId",
                    "desc": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "enablingTriggerId",
                    "desc": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Variable display name.",
                    "type": "string"
                },
                {
                    "name": "parentFolderId",
                    "desc": "Parent folder id.",
                    "type": "string"
                },
                {
                    "name": "scheduleStartMs",
                    "desc": "The start timestamp in milliseconds to schedule a variable.",
                    "type": "int64"
                },
                {
                    "name": "type",
                    "desc": "GTM Variable Type.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "accounts",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets a GTM Account.",
                    "path": "accounts/{accountId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.manage.accounts",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The GTM Account ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Account"
                },
                {
                    "name": "list",
                    "desc": "Lists all GTM Accounts that a user has access to.",
                    "path": "accounts",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.manage.accounts",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                    ],
                    "response": "ListAccountsResponse"
                },
                {
                    "name": "update",
                    "desc": "Updates a GTM Account.",
                    "path": "accounts/{accountId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.manage.accounts"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The GTM Account ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "fingerprint",
                            "desc": "When provided, this fingerprint must match the fingerprint of the account in storage.",
                            "type": "string"
                        }
                    ],
                    "request": "Account",
                    "response": "Account"
                }
            ],
            "resources": [
                {
                    "name": "containers",
                    "methods": [
                        {
                            "name": "create",
                            "desc": "Creates a Container.",
                            "path": "accounts/{accountId}/containers",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "The GTM Account ID.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "Container",
                            "response": "Container"
                        },
                        {
                            "name": "delete",
                            "desc": "Deletes a Container.",
                            "path": "accounts/{accountId}/containers/{containerId}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.delete.containers"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "The GTM Account ID.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "containerId",
                                    "desc": "The GTM Container ID.",
                                    "required": true,
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "get",
                            "desc": "Gets a Container.",
                            "path": "accounts/{accountId}/containers/{containerId}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                "https://www.googleapis.com/auth/tagmanager.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "The GTM Account ID.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "containerId",
                                    "desc": "The GTM Container ID.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "Container"
                        },
                        {
                            "name": "list",
                            "desc": "Lists all Containers that belongs to a GTM Account.",
                            "path": "accounts/{accountId}/containers",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                "https://www.googleapis.com/auth/tagmanager.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "The GTM Account ID.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "ListContainersResponse"
                        },
                        {
                            "name": "update",
                            "desc": "Updates a Container.",
                            "path": "accounts/{accountId}/containers/{containerId}",
                            "httpMethod": "PUT",
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "The GTM Account ID.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "containerId",
                                    "desc": "The GTM Container ID.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "fingerprint",
                                    "desc": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                                    "type": "string"
                                }
                            ],
                            "request": "Container",
                            "response": "Container"
                        }
                    ],
                    "resources": [
                        {
                            "name": "environments",
                            "methods": [
                                {
                                    "name": "create",
                                    "desc": "Creates a GTM Environment.",
                                    "path": "accounts/{accountId}/containers/{containerId}/environments",
                                    "httpMethod": "POST",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "request": "Environment",
                                    "response": "Environment"
                                },
                                {
                                    "name": "delete",
                                    "desc": "Deletes a GTM Environment.",
                                    "path": "accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                                    "httpMethod": "DELETE",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "environmentId",
                                            "desc": "The GTM Environment ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ]
                                },
                                {
                                    "name": "get",
                                    "desc": "Gets a GTM Environment.",
                                    "path": "accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "environmentId",
                                            "desc": "The GTM Environment ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "response": "Environment"
                                },
                                {
                                    "name": "list",
                                    "desc": "Lists all GTM Environments of a GTM Container.",
                                    "path": "accounts/{accountId}/containers/{containerId}/environments",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "response": "ListEnvironmentsResponse"
                                },
                                {
                                    "name": "patch",
                                    "desc": "Updates a GTM Environment. This method supports patch semantics.",
                                    "path": "accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                                    "httpMethod": "PATCH",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "environmentId",
                                            "desc": "The GTM Environment ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "fingerprint",
                                            "desc": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                                            "type": "string"
                                        }
                                    ],
                                    "request": "Environment",
                                    "response": "Environment"
                                },
                                {
                                    "name": "update",
                                    "desc": "Updates a GTM Environment.",
                                    "path": "accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                                    "httpMethod": "PUT",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "environmentId",
                                            "desc": "The GTM Environment ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "fingerprint",
                                            "desc": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                                            "type": "string"
                                        }
                                    ],
                                    "request": "Environment",
                                    "response": "Environment"
                                }
                            ]
                        },
                        {
                            "name": "folders",
                            "methods": [
                                {
                                    "name": "delete",
                                    "desc": "Deletes a GTM Folder.",
                                    "path": "accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                                    "httpMethod": "DELETE",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "folderId",
                                            "desc": "The GTM Folder ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ]
                                },
                                {
                                    "name": "get",
                                    "desc": "Gets a GTM Folder.",
                                    "path": "accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "folderId",
                                            "desc": "The GTM Folder ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "response": "Folder"
                                },
                                {
                                    "name": "list",
                                    "desc": "Lists all GTM Folders of a Container.",
                                    "path": "accounts/{accountId}/containers/{containerId}/folders",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "response": "ListFoldersResponse"
                                },
                                {
                                    "name": "update",
                                    "desc": "Updates a GTM Folder.",
                                    "path": "accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                                    "httpMethod": "PUT",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "folderId",
                                            "desc": "The GTM Folder ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "fingerprint",
                                            "desc": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                                            "type": "string"
                                        }
                                    ],
                                    "request": "Folder",
                                    "response": "Folder"
                                },
                                {
                                    "name": "create",
                                    "desc": "Creates a GTM Folder.",
                                    "path": "accounts/{accountId}/containers/{containerId}/folders",
                                    "httpMethod": "POST",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "request": "Folder",
                                    "response": "Folder"
                                }
                            ],
                            "resources": [
                                {
                                    "name": "entities",
                                    "methods": [
                                        {
                                            "name": "list",
                                            "desc": "List all entities in a GTM Folder.",
                                            "path": "accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                                            "httpMethod": "GET",
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                                "https://www.googleapis.com/auth/tagmanager.readonly"
                                            ],
                                            "pathParams": [
                                                {
                                                    "name": "accountId",
                                                    "desc": "The GTM Account ID.",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                {
                                                    "name": "containerId",
                                                    "desc": "The GTM Container ID.",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                {
                                                    "name": "folderId",
                                                    "desc": "The GTM Folder ID.",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            ],
                                            "response": "FolderEntities"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "name": "move_folders",
                            "methods": [
                                {
                                    "name": "update",
                                    "desc": "Moves entities to a GTM Folder.",
                                    "path": "accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                                    "httpMethod": "PUT",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "folderId",
                                            "desc": "The GTM Folder ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "tagId",
                                            "desc": "The tags to be moved to the folder.",
                                            "type": "string"
                                        },
                                        {
                                            "name": "triggerId",
                                            "desc": "The triggers to be moved to the folder.",
                                            "type": "string"
                                        },
                                        {
                                            "name": "variableId",
                                            "desc": "The variables to be moved to the folder.",
                                            "type": "string"
                                        }
                                    ],
                                    "request": "Folder"
                                }
                            ]
                        },
                        {
                            "name": "reauthorize_environments",
                            "methods": [
                                {
                                    "name": "update",
                                    "desc": "Re-generates the authorization code for a GTM Environment.",
                                    "path": "accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                                    "httpMethod": "PUT",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.publish"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "environmentId",
                                            "desc": "The GTM Environment ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "request": "Environment",
                                    "response": "Environment"
                                }
                            ]
                        },
                        {
                            "name": "tags",
                            "methods": [
                                {
                                    "name": "list",
                                    "desc": "Lists all GTM Tags of a Container.",
                                    "path": "accounts/{accountId}/containers/{containerId}/tags",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "response": "ListTagsResponse"
                                },
                                {
                                    "name": "update",
                                    "desc": "Updates a GTM Tag.",
                                    "path": "accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                                    "httpMethod": "PUT",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "tagId",
                                            "desc": "The GTM Tag ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "fingerprint",
                                            "desc": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                                            "type": "string"
                                        }
                                    ],
                                    "request": "Tag",
                                    "response": "Tag"
                                },
                                {
                                    "name": "create",
                                    "desc": "Creates a GTM Tag.",
                                    "path": "accounts/{accountId}/containers/{containerId}/tags",
                                    "httpMethod": "POST",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "request": "Tag",
                                    "response": "Tag"
                                },
                                {
                                    "name": "delete",
                                    "desc": "Deletes a GTM Tag.",
                                    "path": "accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                                    "httpMethod": "DELETE",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "tagId",
                                            "desc": "The GTM Tag ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ]
                                },
                                {
                                    "name": "get",
                                    "desc": "Gets a GTM Tag.",
                                    "path": "accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "tagId",
                                            "desc": "The GTM Tag ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "response": "Tag"
                                }
                            ]
                        },
                        {
                            "name": "triggers",
                            "methods": [
                                {
                                    "name": "list",
                                    "desc": "Lists all GTM Triggers of a Container.",
                                    "path": "accounts/{accountId}/containers/{containerId}/triggers",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "The GTM Account ID.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "containerId",
                                            "desc": "The GTM Container ID.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "response": "ListTriggersResponse"
                                },
                                {
                                    "name": "update",
                                    "desc": "Updates a GTM Trigger.",
                                    "path": "accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                                    "httpMethod": "PUT",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ],
                                    "pathParams": [
                                        {
[...]
