{
    "kind": "discovery#restDescription",
    "etag": "\"bRFOOrZKfO9LweMbPqu0kcu6De8/fmXUMBI6Gn2x3crK-Doz-fh96kI\"",
    "discoveryVersion": "v1",
    "id": "storagetransfer:v1",
    "name": "storagetransfer",
    "version": "v1",
    "title": "Google Storage Transfer API",
    "description": "Transfers data from external data sources to a Google Cloud Storage bucket or between Google Cloud Storage buckets.",
    "documentationLink": "https://cloud.google.com/storage/transfer",
    "protocol": "rest",
    "rootUrl": "https://storagetransfer.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        }
    ],
    "schemas": [
        {
            "name": "AwsS3Data",
            "desc": "An AwsS3Data can be a data source, but not a data sink. In an AwsS3Data, an object's name is the S3 object's key name.",
            "type": "object",
            "fields": [
                {
                    "name": "bucketName",
                    "desc": "S3 Bucket name (see [Creating a bucket](http://docs.aws.amazon.com/AmazonS3/latest/dev/create-bucket-get-location-example.html)). Required.",
                    "type": "string"
                },
                {
                    "name": "awsAccessKey",
                    "desc": "AWS access key used to sign the API requests to the AWS S3 bucket. Permissions on the bucket must be granted to the access ID of the AWS access key. Required.",
                    "type": "ref",
                    "refType": "AwsAccessKey"
                }
            ]
        },
        {
            "name": "ObjectConditions",
            "desc": "Conditions that determine which objects will be transferred.",
            "type": "object",
            "fields": [
                {
                    "name": "minTimeElapsedSinceLastModification",
                    "desc": "If unspecified, `minTimeElapsedSinceLastModification` takes a zero value and `maxTimeElapsedSinceLastModification` takes the maximum possible value of Duration. Objects that satisfy the object conditions must either have a `lastModificationTime` greater or equal to `NOW` - `maxTimeElapsedSinceLastModification` and less than `NOW` - `minTimeElapsedSinceLastModification`, or not have a `lastModificationTime`.",
                    "type": "string"
                },
                {
                    "name": "maxTimeElapsedSinceLastModification",
                    "desc": "`maxTimeElapsedSinceLastModification` is the complement to `minTimeElapsedSinceLastModification`.",
                    "type": "string"
                },
                {
                    "name": "includePrefixes",
                    "desc": "If `includePrefixes` is specified, objects that satisfy the object conditions must have names that start with one of the `includePrefixes` and that do not start with any of the `excludePrefixes`. If `includePrefixes` is not specified, all objects except those that have names starting with one of the `excludePrefixes` must satisfy the object conditions. Requirements: * Each include-prefix and exclude-prefix can contain any sequence of Unicode characters, of max length 1024 bytes when UTF8-encoded, and must not contain Carriage Return or Line Feed characters. Wildcard matching and regular expression matching are not supported. * None of the include-prefix or the exclude-prefix values can be empty, if specified. * Each include-prefix must include a distinct portion of the object namespace, i.e., no include-prefix may be a prefix of another include-prefix. * Each exclude-prefix must exclude a distinct portion of the object namespace, i.e., no exclude-prefix may be a prefix of another exclude-prefix. * If `includePrefixes` is specified, then each exclude-prefix must start with the value of a path explicitly included by `includePrefixes`. The max size of `includePrefixes` is 20.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "excludePrefixes",
                    "desc": "`excludePrefixes` must follow the requirements described for `includePrefixes`. The max size of `excludePrefixes` is 20.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListOperationsResponse",
            "desc": "The response message for [Operations.ListOperations][google.longrunning.Operations.ListOperations].",
            "type": "object",
            "fields": [
                {
                    "name": "operations",
                    "desc": "A list of operations that matches the specified filter in the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Operation"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The standard List next-page token.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ErrorLogEntry",
            "desc": "An entry describing an error that has occurred.",
            "type": "object",
            "fields": [
                {
                    "name": "url",
                    "desc": "A URL that refers to the target (a data source, a data sink, or an object) with which the error is associated. Required.",
                    "type": "string"
                },
                {
                    "name": "errorDetails",
                    "desc": "A list of messages that carry the error details.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AwsAccessKey",
            "desc": "AWS access key (see [AWS Security Credentials](http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html)).",
            "type": "object",
            "fields": [
                {
                    "name": "accessKeyId",
                    "desc": "AWS access key ID. Required.",
                    "type": "string"
                },
                {
                    "name": "secretAccessKey",
                    "desc": "AWS secret access key. This field is not returned in RPC responses. Required.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Date",
            "desc": "Represents a whole calendar date, e.g. date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the Proleptic Gregorian Calendar. The day may be 0 to represent a year and month where the day is not significant, e.g. credit card expiration date. The year may be 0 to represent a month and day independent of year, e.g. anniversary date. Related types are [google.type.TimeOfDay][google.type.TimeOfDay] and `google.protobuf.Timestamp`.",
            "type": "object",
            "fields": [
                {
                    "name": "year",
                    "desc": "Year of date. Must be from 1 to 9,999, or 0 if specifying a date without a year.",
                    "type": "int32"
                },
                {
                    "name": "month",
                    "desc": "Month of year of date. Must be from 1 to 12.",
                    "type": "int32"
                },
                {
                    "name": "day",
                    "desc": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a year/month where the day is not sigificant.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ListTransferJobsResponse",
            "desc": "Response from ListTransferJobs.",
            "type": "object",
            "fields": [
                {
                    "name": "transferJobs",
                    "desc": "A list of transfer jobs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TransferJob"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The list next page token.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Empty",
            "desc": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
            "type": "object"
        },
        {
            "name": "TransferCounters",
            "desc": "A collection of counters that report the progress of a transfer operation.",
            "type": "object",
            "fields": [
                {
                    "name": "objectsCopiedToSink",
                    "desc": "Objects that are copied to the data sink.",
                    "type": "int64"
                },
                {
                    "name": "objectsFromSourceFailed",
                    "desc": "Objects in the data source that failed during the transfer.",
                    "type": "int64"
                },
                {
                    "name": "bytesFromSourceFailed",
                    "desc": "Bytes in the data source that failed during the transfer.",
                    "type": "int64"
                },
                {
                    "name": "objectsFailedToDeleteFromSink",
                    "desc": "Objects that failed to be deleted from the data sink.",
                    "type": "int64"
                },
                {
                    "name": "bytesCopiedToSink",
                    "desc": "Bytes that are copied to the data sink.",
                    "type": "int64"
                },
                {
                    "name": "bytesDeletedFromSource",
                    "desc": "Bytes that are deleted from the data source.",
                    "type": "int64"
                },
                {
                    "name": "objectsFoundFromSource",
                    "desc": "Objects found in the data source that are scheduled to be transferred, which will be copied, excluded based on conditions, or skipped due to failures.",
                    "type": "int64"
                },
                {
                    "name": "objectsFromSourceSkippedBySync",
                    "desc": "Objects in the data source that are not transferred because they already exist in the data sink.",
                    "type": "int64"
                },
                {
                    "name": "bytesFromSourceSkippedBySync",
                    "desc": "Bytes in the data source that are not transferred because they already exist in the data sink.",
                    "type": "int64"
                },
                {
                    "name": "objectsDeletedFromSource",
                    "desc": "Objects that are deleted from the data source.",
                    "type": "int64"
                },
                {
                    "name": "bytesDeletedFromSink",
                    "desc": "Bytes that are deleted from the data sink.",
                    "type": "int64"
                },
                {
                    "name": "bytesFoundFromSource",
                    "desc": "Bytes found in the data source that are scheduled to be transferred, which will be copied, excluded based on conditions, or skipped due to failures.",
                    "type": "int64"
                },
                {
                    "name": "objectsFoundOnlyFromSink",
                    "desc": "Objects found only in the data sink that are scheduled to be deleted.",
                    "type": "int64"
                },
                {
                    "name": "bytesFoundOnlyFromSink",
                    "desc": "Bytes found only in the data sink that are scheduled to be deleted.",
                    "type": "int64"
                },
                {
                    "name": "objectsDeletedFromSink",
                    "desc": "Objects that are deleted from the data sink.",
                    "type": "int64"
                },
                {
                    "name": "bytesFailedToDeleteFromSink",
                    "desc": "Bytes that failed to be deleted from the data sink.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "ResumeTransferOperationRequest",
            "desc": "Request passed to ResumeTransferOperation.",
            "type": "object"
        },
        {
            "name": "TransferJob",
            "desc": "This resource represents the configuration of a transfer job that runs periodically.",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "A description provided by the user for the job. Its max length is 1024 bytes when Unicode-encoded.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "Status of the job. This value MUST be specified for `CreateTransferJobRequests`. NOTE: The effect of the new job status takes place during a subsequent job run. For example, if you change the job status from `ENABLED` to `DISABLED`, and an operation spawned by the transfer is running, the status change would not affect the current operation.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STATUS_UNSPECIFIED"
                        },
                        {
                            "name": "ENABLED"
                        },
                        {
                            "name": "DISABLED"
                        },
                        {
                            "name": "DELETED"
                        }
                    ]
                },
                {
                    "name": "deletionTime",
                    "desc": "This field cannot be changed by user requests.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "A globally unique name assigned by Storage Transfer Service when the job is created. This field should be left empty in requests to create a new transfer job; otherwise, the requests result in an `INVALID_ARGUMENT` error.",
                    "type": "string"
                },
                {
                    "name": "projectId",
                    "desc": "The ID of the Google Developers Console project that owns the job. Required.",
                    "type": "string"
                },
                {
                    "name": "transferSpec",
                    "desc": "Transfer specification. Required.",
                    "type": "ref",
                    "refType": "TransferSpec"
                },
                {
                    "name": "schedule",
                    "desc": "Schedule specification. Required.",
                    "type": "ref",
                    "refType": "Schedule"
                },
                {
                    "name": "creationTime",
                    "desc": "This field cannot be changed by user requests.",
                    "type": "string"
                },
                {
                    "name": "lastModificationTime",
                    "desc": "This field cannot be changed by user requests.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GcsData",
            "desc": "In a GcsData, an object's name is the Google Cloud Storage object's name and its `lastModificationTime` refers to the object's updated time, which changes when the content or the metadata of the object is updated.",
            "type": "object",
            "fields": [
                {
                    "name": "bucketName",
                    "desc": "Google Cloud Storage bucket name (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Required.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "HttpData",
            "desc": "An HttpData specifies a list of objects on the web to be transferred over HTTP. The information of the objects to be transferred is contained in a file referenced by a URL. The first line in the file must be \"TsvHttpData-1.0\", which specifies the format of the file. Subsequent lines specify the information of the list of objects, one object per list entry. Each entry has the following tab-delimited fields: * HTTP URL * Length * MD5 - This field is a base64-encoded MD5 hash of the object An HTTP URL that points to the object to be transferred. It must be a valid URL with URL scheme HTTP or HTTPS. When an object with URL `http(s)://hostname:port/` is transferred to the data sink, the name of the object at the data sink is `/`. Length and MD5 provide the size and the base64-encoded MD5 hash of the object. If Length does not match the actual length of the object fetched, the object will not be transferred. If MD5 does not match the MD5 computed from the transferred bytes, the object transfer will fail. `lastModificationTime` is not available in HttpData objects. The objects that the URL list points to must allow public access. Storage Transfer Service obeys `robots.txt` rules and requires the HTTP server to support Range requests and to return a Content-Length header in each response.",
            "type": "object",
            "fields": [
                {
                    "name": "listUrl",
                    "desc": "The URL that points to the file that stores the object list entries. This file must allow public access. Currently, only URLs with HTTP and HTTPS schemes are supported. Required.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TransferOptions",
            "desc": "TransferOptions uses three boolean parameters to define the actions to be performed on objects in a transfer.",
            "type": "object",
            "fields": [
                {
                    "name": "overwriteObjectsAlreadyExistingInSink",
                    "desc": "Whether overwriting objects that already exist in the sink is allowed.",
                    "type": "bool"
                },
                {
                    "name": "deleteObjectsUniqueInSink",
                    "desc": "Whether objects that exist only in the sink should be deleted.",
                    "type": "bool"
                },
                {
                    "name": "deleteObjectsFromSourceAfterTransfer",
                    "desc": "Whether objects should be deleted from the source after they are transferred to the sink.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "TimeOfDay",
            "desc": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may chose to allow leap seconds. Related types are [google.type.Date][google.type.Date] and `google.protobuf.Timestamp`.",
            "type": "object",
            "fields": [
                {
                    "name": "minutes",
                    "desc": "Minutes of hour of day. Must be from 0 to 59.",
                    "type": "int32"
                },
                {
                    "name": "seconds",
                    "desc": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
                    "type": "int32"
                },
                {
                    "name": "nanos",
                    "desc": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
                    "type": "int32"
                },
                {
                    "name": "hours",
                    "desc": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "UpdateTransferJobRequest",
            "desc": "Request passed to UpdateTransferJob.",
            "type": "object",
            "fields": [
                {
                    "name": "updateTransferJobFieldMask",
                    "desc": "The field mask of the fields in `transferJob` that are to be updated in this request. Fields in `transferJob` that can be updated are: `description`, `transferSpec`, and `status`. To update the `transferSpec` of the job, a complete transfer specification has to be provided. An incomplete specification which misses any required fields will be rejected with the error `INVALID_ARGUMENT`.",
                    "type": "string"
                },
                {
                    "name": "projectId",
                    "desc": "The ID of the Google Developers Console project that owns the job. Required.",
                    "type": "string"
                },
                {
                    "name": "transferJob",
                    "desc": "The job to update. Required.",
                    "type": "ref",
                    "refType": "TransferJob"
                }
            ]
        },
        {
            "name": "PauseTransferOperationRequest",
            "desc": "Request passed to PauseTransferOperation.",
            "type": "object"
        },
        {
            "name": "Status",
            "desc": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). The error model is designed to be: - Simple to use and understand for most users - Flexible enough to meet unexpected needs # Overview The `Status` message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of [google.rpc.Code][google.rpc.Code], but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers *understand* and *resolve* the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package `google.rpc` which can be used for common error conditions. # Language mapping The `Status` message is the logical representation of the error model, but it is not necessarily the actual wire format. When the `Status` message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C. # Other uses The error model and the `Status` message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments. Example uses of this error model include: - Partial errors. If a service needs to return partial errors to the client, it may embed the `Status` in the normal response to indicate the partial errors. - Workflow errors. A typical workflow has multiple steps. Each step may have a `Status` message for error reporting purpose. - Batch operations. If a client uses batch request and batch response, the `Status` message should be used directly inside batch response, one for each error sub-response. - Asynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the `Status` message. - Logging. If some API errors are stored in logs, the message `Status` could be used directly after any stripping needed for security/privacy reasons.",
            "type": "object",
            "fields": [
                {
                    "name": "code",
                    "desc": "The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].",
                    "type": "int32"
                },
                {
                    "name": "message",
                    "desc": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.",
                    "type": "string"
                },
                {
                    "name": "details",
                    "desc": "A list of messages that carry the error details. There will be a common set of message types for APIs to use.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                }
            ]
        },
        {
            "name": "ErrorSummary",
            "desc": "A summary of errors by error code, plus a count and sample error log entries.",
            "type": "object",
            "fields": [
                {
                    "name": "errorCount",
                    "desc": "Count of this type of error. Required.",
                    "type": "int64"
                },
                {
                    "name": "errorLogEntries",
                    "desc": "Error samples.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ErrorLogEntry"
                },
                {
                    "name": "errorCode",
                    "desc": "Required.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "OK"
                        },
                        {
                            "name": "CANCELLED"
                        },
                        {
                            "name": "UNKNOWN"
                        },
                        {
                            "name": "INVALID_ARGUMENT"
                        },
                        {
                            "name": "DEADLINE_EXCEEDED"
                        },
                        {
                            "name": "NOT_FOUND"
                        },
                        {
                            "name": "ALREADY_EXISTS"
                        },
                        {
                            "name": "PERMISSION_DENIED"
                        },
                        {
                            "name": "UNAUTHENTICATED"
                        },
                        {
                            "name": "RESOURCE_EXHAUSTED"
                        },
                        {
                            "name": "FAILED_PRECONDITION"
                        },
                        {
                            "name": "ABORTED"
                        },
                        {
                            "name": "OUT_OF_RANGE"
                        },
                        {
                            "name": "UNIMPLEMENTED"
                        },
                        {
                            "name": "INTERNAL"
                        },
                        {
                            "name": "UNAVAILABLE"
                        },
                        {
                            "name": "DATA_LOSS"
                        }
                    ]
                }
            ]
        },
        {
            "name": "GoogleServiceAccount",
            "desc": "Google service account",
            "type": "object",
            "fields": [
                {
                    "name": "accountEmail",
                    "desc": "Required.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TransferSpec",
            "desc": "Configuration for running a transfer.",
            "type": "object",
            "fields": [
                {
                    "name": "httpDataSource",
                    "desc": "An HTTP URL data source.",
                    "type": "ref",
                    "refType": "HttpData"
                },
                {
                    "name": "gcsDataSink",
                    "desc": "A Google Cloud Storage data sink.",
                    "type": "ref",
                    "refType": "GcsData"
                },
                {
                    "name": "objectConditions",
                    "desc": "Only objects that satisfy these object conditions are included in the set of data source and data sink objects. Object conditions based on objects' `lastModificationTime` do not exclude objects in a data sink.",
                    "type": "ref",
                    "refType": "ObjectConditions"
                },
                {
                    "name": "transferOptions",
                    "desc": "If the option `deleteObjectsUniqueInSink` is `true`, object conditions based on objects' `lastModificationTime` are ignored and do not exclude objects in a data source or a data sink.",
                    "type": "ref",
                    "refType": "TransferOptions"
                },
                {
                    "name": "gcsDataSource",
                    "desc": "A Google Cloud Storage data source.",
                    "type": "ref",
                    "refType": "GcsData"
                },
                {
                    "name": "awsS3DataSource",
                    "desc": "An AWS S3 data source.",
                    "type": "ref",
                    "refType": "AwsS3Data"
                }
            ]
        },
        {
            "name": "Schedule",
            "desc": "Transfers can be scheduled to recur or to run just once.",
            "type": "object",
            "fields": [
                {
                    "name": "scheduleStartDate",
                    "desc": "The first day the recurring transfer is scheduled to run. Required.",
                    "type": "ref",
                    "refType": "Date"
                },
                {
                    "name": "scheduleEndDate",
                    "desc": "The last day the recurring transfer will be run. If `scheduleEndDate` is the same as `scheduleStartDate`, the transfer will be executed only once.",
                    "type": "ref",
                    "refType": "Date"
                },
                {
                    "name": "startTimeOfDay",
                    "desc": "The time in UTC at which the transfer will be scheduled to start in a day. Transfers may start later than this time. If not specified, transfers are scheduled to start at midnight UTC.",
                    "type": "ref",
                    "refType": "TimeOfDay"
                }
            ]
        },
        {
            "name": "Operation",
            "desc": "This resource represents a long-running operation that is the result of a network API call.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping above, the `name` should have the format of `operations/some/unique/name`.",
                    "type": "string"
                },
                {
                    "name": "metadata",
                    "desc": "Represents the transfer operation object.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "done",
                    "desc": "If the value is `false`, it means the operation is still in progress. If true, the operation is completed and the `result` is available.",
                    "type": "bool"
                },
                {
                    "name": "error",
                    "desc": "The error result of the operation in case of failure.",
                    "type": "ref",
                    "refType": "Status"
                },
                {
                    "name": "response",
                    "desc": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
                    "collection": "map",
                    "type": "any"
                }
            ]
        },
        {
            "name": "TransferOperation",
            "desc": "A description of the execution of a transfer.",
            "type": "object",
            "fields": [
                {
                    "name": "projectId",
                    "desc": "The ID of the Google Developers Console project that owns the operation. Required.",
                    "type": "string"
                },
                {
                    "name": "transferSpec",
                    "desc": "Transfer specification. Required.",
                    "type": "ref",
                    "refType": "TransferSpec"
                },
                {
                    "name": "endTime",
                    "desc": "End time of this transfer execution.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "Status of the transfer operation.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STATUS_UNSPECIFIED"
                        },
                        {
                            "name": "IN_PROGRESS"
                        },
                        {
                            "name": "PAUSED"
                        },
                        {
                            "name": "SUCCESS"
                        },
                        {
                            "name": "FAILED"
                        },
                        {
                            "name": "ABORTED"
                        }
                    ]
                },
                {
                    "name": "counters",
                    "desc": "Information about the progress of the transfer operation.",
                    "type": "ref",
                    "refType": "TransferCounters"
                },
                {
                    "name": "errorBreakdowns",
                    "desc": "Summarizes errors encountered with sample error log entries.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ErrorSummary"
                },
                {
                    "name": "name",
                    "desc": "A globally unique ID assigned by the system.",
                    "type": "string"
                },
                {
                    "name": "startTime",
                    "desc": "Start time of this transfer execution.",
                    "type": "string"
                },
                {
                    "name": "transferJobName",
                    "desc": "The name of the transfer job that triggers this transfer operation.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "googleServiceAccounts",
            "methods": [
                {
                    "name": "get",
                    "desc": "Returns the Google service account that is used by Storage Transfer Service to access buckets in the project where transfers run or in other projects. Each Google service account is associated with one Google Developers Console project. Users should add this service account to the Google Cloud Storage bucket ACLs to grant access to Storage Transfer Service. This service account is created and owned by Storage Transfer Service and can only be used by Storage Transfer Service.",
                    "path": "v1/googleServiceAccounts/{projectId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "projectId",
                            "desc": "The ID of the Google Developers Console project that the Google service account is associated with. Required.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "GoogleServiceAccount"
                }
            ]
        },
        {
            "name": "v1",
            "methods": [
                {
                    "name": "getGoogleServiceAccount",
                    "desc": "Returns the Google service account that is used by Storage Transfer Service to access buckets in the project where transfers run or in other projects. Each Google service account is associated with one Google Developers Console project. Users should add this service account to the Google Cloud Storage bucket ACLs to grant access to Storage Transfer Service. This service account is created and owned by Storage Transfer Service and can only be used by Storage Transfer Service.",
                    "path": "v1:getGoogleServiceAccount",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "projectId",
                            "desc": "The ID of the Google Developers Console project that the Google service account is associated with. Required.",
                            "type": "string"
                        }
                    ],
                    "response": "GoogleServiceAccount"
                }
            ]
        },
        {
            "name": "transferJobs",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets a transfer job.",
                    "path": "v1/{+jobName}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "jobName",
                            "desc": "The job to get. Required.",
                            "required": true,
                            "type": "string",
                            "pattern": "^transferJobs/.*$"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "projectId",
                            "desc": "The ID of the Google Developers Console project that owns the job. Required.",
                            "type": "string"
                        }
                    ],
                    "response": "TransferJob"
                },
                {
                    "name": "list",
                    "desc": "Lists transfer jobs.",
                    "path": "v1/transferJobs",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "filter",
                            "desc": "A list of query parameters specified as JSON text in the form of {\"`project_id`\":\"my_project_id\", \"`job_names`\":[\"jobid1\",\"jobid2\",...], \"`job_statuses`\":[\"status1\",\"status2\",...]}. Since `job_names` and `job_statuses` support multiple values, their values must be specified with array notation. `project_id` is required. `job_names` and `job_statuses` are optional. The valid values for `job_statuses` are case-insensitive: `ENABLED`, `DISABLED`, and `DELETED`.",
                            "type": "string"
                        },
                        {
                            "name": "pageSize",
                            "desc": "The list page size. The max allowed value is 256.",
                            "type": "int32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "The list page token.",
                            "type": "string"
                        }
                    ],
                    "response": "ListTransferJobsResponse"
                },
                {
                    "name": "create",
                    "desc": "Creates a transfer job that runs periodically.",
                    "path": "v1/transferJobs",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "request": "TransferJob",
                    "response": "TransferJob"
                },
                {
                    "name": "patch",
                    "desc": "Updates a transfer job. Updating a job's transfer spec does not affect transfer operations that are running already. Updating the scheduling of a job is not allowed.",
                    "path": "v1/{+jobName}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "jobName",
                            "desc": "The name of job to update. Required.",
                            "required": true,
                            "type": "string",
                            "pattern": "^transferJobs/.*$"
                        }
                    ],
                    "request": "UpdateTransferJobRequest",
                    "response": "TransferJob"
                }
            ]
        },
        {
            "name": "transferOperations",
            "methods": [
                {
                    "name": "pause",
                    "desc": "Pauses a transfer operation.",
                    "path": "v1/{+name}:pause",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The name of the transfer operation. Required.",
                            "required": true,
                            "type": "string",
                            "pattern": "^transferOperations/.*$"
                        }
                    ],
                    "request": "PauseTransferOperationRequest",
                    "response": "Empty"
                },
                {
                    "name": "resume",
                    "desc": "Resumes a transfer operation that is paused.",
                    "path": "v1/{+name}:resume",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The name of the transfer operation. Required.",
                            "required": true,
                            "type": "string",
                            "pattern": "^transferOperations/.*$"
                        }
                    ],
                    "request": "ResumeTransferOperationRequest",
                    "response": "Empty"
                },
                {
                    "name": "get",
                    "desc": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                    "path": "v1/{+name}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The name of the operation resource.",
                            "required": true,
                            "type": "string",
                            "pattern": "^transferOperations/.*$"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "list",
                    "desc": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding below allows API services to override the binding to use different resource name schemes, such as `users/*/operations`.",
                    "path": "v1/{+name}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The value `transferOperations`.",
                            "required": true,
                            "type": "string",
                            "pattern": "^transferOperations$"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "filter",
                            "desc": "The standard list filter.",
                            "type": "string"
                        },
                        {
                            "name": "pageSize",
                            "desc": "The standard list page size.",
                            "type": "int32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "The standard list page token.",
                            "type": "string"
                        }
                    ],
                    "response": "ListOperationsResponse"
                },
                {
                    "name": "cancel",
                    "desc": "Cancels a transfer. Use the get method to check whether the cancellation succeeded or whether the operation completed despite cancellation.",
                    "path": "v1/{+name}:cancel",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The name of the operation resource to be cancelled.",
                            "required": true,
                            "type": "string",
                            "pattern": "^transferOperations/.*$"
                        }
                    ],
                    "response": "Empty"
                },
                {
                    "name": "delete",
                    "desc": "This method is not supported and the server returns `UNIMPLEMENTED`.",
                    "path": "v1/{+name}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The name of the operation resource to be deleted.",
                            "required": true,
                            "type": "string",
                            "pattern": "^transferOperations/.*$"
                        }
                    ],
                    "response": "Empty"
                }
            ]
        }
    ]
}