{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/mo0qLr7wMmlAX-U4DWVexdxTH80\"",
    "discoveryVersion": "v1",
    "id": "adexchangebuyer:v1.3",
    "name": "adexchangebuyer",
    "version": "v1.3",
    "title": "Ad Exchange Buyer API",
    "description": "Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.",
    "documentationLink": "https://developers.google.com/ad-exchange/buyer-rest",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "adexchangebuyer/v1.3/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/adexchange.buyer"
        ]
    },
    "parameters": [
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        }
    ],
    "schemas": [
        {
            "name": "CreativesList",
            "desc": "The creatives feed lists the active creatives for the Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single creative.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of creatives.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Creative"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#creativesList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through creatives. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DirectDeal",
            "desc": "The configuration data for an Ad Exchange direct deal.",
            "type": "object",
            "fields": [
                {
                    "name": "endTime",
                    "desc": "End time for when this deal stops being active. If not set then this deal is valid until manually disabled by the publisher. In seconds since the epoch.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#directDeal"
                },
                {
                    "name": "publisherBlocksOverriden",
                    "desc": "If true, the publisher has opted to have their blocks ignored when a creative is bid with for this deal.",
                    "type": "bool"
                },
                {
                    "name": "sellerNetwork",
                    "desc": "The name of the publisher offering this direct deal.",
                    "type": "string"
                },
                {
                    "name": "advertiser",
                    "desc": "The name of the advertiser this deal is for.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Deal id.",
                    "type": "int64"
                },
                {
                    "name": "name",
                    "desc": "Deal name.",
                    "type": "string"
                },
                {
                    "name": "currencyCode",
                    "desc": "The currency code that applies to the fixed_cpm value. If not set then assumed to be USD.",
                    "type": "string"
                },
                {
                    "name": "allowsAlcohol",
                    "desc": "Whether the publisher for this deal is eligible for alcohol ads.",
                    "type": "bool"
                },
                {
                    "name": "buyerAccountId",
                    "desc": "The account id that this deal was negotiated for. It is either the buyer or the client that this deal was negotiated on behalf of.",
                    "type": "int64"
                },
                {
                    "name": "dealTier",
                    "desc": "The deal type such as programmatic reservation or fixed price and so on.",
                    "type": "string"
                },
                {
                    "name": "fixedCpm",
                    "desc": "The fixed price for this direct deal. In cpm micros of currency according to currency_code. If set, then this deal is eligible for the fixed price tier of buying (highest priority, pay exactly the configured fixed price).",
                    "type": "int64"
                },
                {
                    "name": "privateExchangeMinCpm",
                    "desc": "The minimum price for this direct deal. In cpm micros of currency according to currency_code. If set, then this deal is eligible for the private exchange tier of buying (below fixed price priority, run as a second price auction).",
                    "type": "int64"
                },
                {
                    "name": "startTime",
                    "desc": "Start time for when this deal becomes active. If not set then this deal is active immediately upon creation. In seconds since the epoch.",
                    "type": "int64"
                },
                {
                    "name": "accountId",
                    "desc": "The account id of the buyer this deal is for.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "PerformanceReport",
            "desc": "The configuration data for an Ad Exchange performance report list.",
            "type": "object",
            "fields": [
                {
                    "name": "region",
                    "desc": "The trading location of this data.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#performanceReport"
                },
                {
                    "name": "latency95thPercentile",
                    "desc": "The 95th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.",
                    "type": "float64"
                },
                {
                    "name": "hostedMatchStatusRate",
                    "desc": "Average QPS for hosted match operations.",
                    "collection": "array",
                    "type": "any"
                },
                {
                    "name": "inventoryMatchRate",
                    "desc": "The number of potential queries based on your pretargeting settings.",
                    "type": "float64"
                },
                {
                    "name": "noQuotaInRegion",
                    "desc": "Rate of various quota account statuses per quota check.",
                    "type": "float64"
                },
                {
                    "name": "quotaConfiguredLimit",
                    "desc": "The configured quota limits for this account.",
                    "type": "float64"
                },
                {
                    "name": "bidRate",
                    "desc": "The number of bid responses with an ad.",
                    "type": "float64"
                },
                {
                    "name": "creativeStatusRate",
                    "desc": "Rate of ads with a given status. Please refer to the creative-status-codes.txt file for different statuses.",
                    "collection": "array",
                    "type": "any"
                },
                {
                    "name": "pixelMatchRequests",
                    "desc": "Average QPS for pixel match requests from clients.",
                    "type": "float64"
                },
                {
                    "name": "pixelMatchResponses",
                    "desc": "Average QPS for pixel match responses from clients.",
                    "type": "float64"
                },
                {
                    "name": "calloutStatusRate",
                    "desc": "Rate of various prefiltering statuses per match. Please refer to the callout-status-codes.txt file for different statuses.",
                    "collection": "array",
                    "type": "any"
                },
                {
                    "name": "outOfQuota",
                    "desc": "Rate of various quota account statuses per quota check.",
                    "type": "float64"
                },
                {
                    "name": "filteredBidRate",
                    "desc": "The number of bid responses that were filtered due to a policy violation or other errors.",
                    "type": "float64"
                },
                {
                    "name": "latency50thPercentile",
                    "desc": "The 50th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.",
                    "type": "float64"
                },
                {
                    "name": "latency85thPercentile",
                    "desc": "The 85th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.",
                    "type": "float64"
                },
                {
                    "name": "quotaThrottledLimit",
                    "desc": "The throttled quota limits for this account.",
                    "type": "float64"
                },
                {
                    "name": "successfulRequestRate",
                    "desc": "The number of properly formed bid responses received by our servers within the deadline.",
                    "type": "float64"
                },
                {
                    "name": "timestamp",
                    "desc": "The unix timestamp of the starting time of this performance data.",
                    "type": "int64"
                },
                {
                    "name": "bidRequestRate",
                    "desc": "The number of bid requests sent to your bidder.",
                    "type": "float64"
                },
                {
                    "name": "cookieMatcherStatusRate",
                    "desc": "Average QPS for cookie matcher operations.",
                    "collection": "array",
                    "type": "any"
                },
                {
                    "name": "unsuccessfulRequestRate",
                    "desc": "The number of bid responses that were unsuccessful due to timeouts, incorrect formatting, etc.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "PretargetingConfigList",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of pretargeting configs",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PretargetingConfig"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#pretargetingConfigList"
                }
            ]
        },
        {
            "name": "Budget",
            "desc": "The configuration data for Ad Exchange RTB - Budget API.",
            "type": "object",
            "fields": [
                {
                    "name": "accountId",
                    "desc": "The id of the account. This is required for get and update requests.",
                    "type": "int64"
                },
                {
                    "name": "billingId",
                    "desc": "The billing id to determine which adgroup to provide budget information for. This is required for get and update requests.",
                    "type": "int64"
                },
                {
                    "name": "budgetAmount",
                    "desc": "The daily budget amount in unit amount of the account currency to apply for the billingId provided. This is required for update requests.",
                    "type": "int64"
                },
                {
                    "name": "currencyCode",
                    "desc": "The currency code for the buyer. This cannot be altered here.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The unique id that describes this item.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of the resource, i.e. \"adexchangebuyer#budget\".",
                    "type": "string",
                    "default": "adexchangebuyer#budget"
                }
            ]
        },
        {
            "name": "Creative",
            "desc": "A creative and its classification data.",
            "type": "object",
            "fields": [
                {
                    "name": "agencyId",
                    "desc": "The agency id for this creative.",
                    "type": "int64"
                },
                {
                    "name": "disapprovalReasons",
                    "desc": "The reasons for disapproval, if any. Note that not all disapproval reasons may be categorized, so it is possible for the creative to have a status of DISAPPROVED with an empty list for disapproval_reasons. In this case, please reach out to your TAM to help debug the issue. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "details",
                            "desc": "Additional details about the reason for disapproval.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "reason",
                            "desc": "The categorized reason for disapproval.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#creative"
                },
                {
                    "name": "version",
                    "desc": "The version for this creative. Read-only. This field should not be set in requests.",
                    "type": "int32"
                },
                {
                    "name": "HTMLSnippet",
                    "desc": "The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.",
                    "type": "string"
                },
                {
                    "name": "advertiserName",
                    "desc": "The name of the company being advertised in the creative.",
                    "type": "string"
                },
                {
                    "name": "height",
                    "desc": "Ad height.",
                    "type": "int32"
                },
                {
                    "name": "attribute",
                    "desc": "All attributes for the ads that may be shown from this snippet.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "buyerCreativeId",
                    "desc": "A buyer-specific id identifying the creative in this ad.",
                    "type": "string"
                },
                {
                    "name": "corrections",
                    "desc": "Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "details",
                            "desc": "Additional details about the correction.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "reason",
                            "desc": "The type of correction that was applied to the creative.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "nativeAd",
                    "desc": "If nativeAd is set, HTMLSnippet and videoURL should not be set.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "logo",
                            "desc": "A smaller image, for the advertiser logo.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "height",
                                    "type": "int32"
                                },
                                {
                                    "name": "url",
                                    "type": "string"
                                },
                                {
                                    "name": "width",
                                    "type": "int32"
                                }
                            ]
                        },
                        {
                            "name": "store",
                            "desc": "The URL to the app store to purchase/download the promoted app.",
                            "type": "string"
                        },
                        {
                            "name": "body",
                            "desc": "A long description of the ad.",
                            "type": "string"
                        },
                        {
                            "name": "callToAction",
                            "desc": "A label for the button that the user is supposed to click.",
                            "type": "string"
                        },
                        {
                            "name": "headline",
                            "desc": "A short title for the ad.",
                            "type": "string"
                        },
                        {
                            "name": "image",
                            "desc": "A large image.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "height",
                                    "type": "int32"
                                },
                                {
                                    "name": "url",
                                    "type": "string"
                                },
                                {
                                    "name": "width",
                                    "type": "int32"
                                }
                            ]
                        },
                        {
                            "name": "impressionTrackingUrl",
                            "desc": "The URLs are called when the impression is rendered.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "advertiser",
                            "type": "string"
                        },
                        {
                            "name": "appIcon",
                            "desc": "The app icon, for app download ads.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "height",
                                    "type": "int32"
                                },
                                {
                                    "name": "url",
                                    "type": "string"
                                },
                                {
                                    "name": "width",
                                    "type": "int32"
                                }
                            ]
                        },
                        {
                            "name": "clickTrackingUrl",
                            "desc": "The URL to use for click tracking.",
                            "type": "string"
                        },
                        {
                            "name": "price",
                            "desc": "The price of the promoted app including the currency info.",
                            "type": "string"
                        },
                        {
                            "name": "starRating",
                            "desc": "The app rating in the app store. Must be in the range [0-5].",
                            "type": "float64"
                        }
                    ]
                },
                {
                    "name": "productCategories",
                    "desc": "Detected product categories, if any. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "status",
                    "desc": "Creative serving status. Read-only. This field should not be set in requests.",
                    "type": "string"
                },
                {
                    "name": "vendorType",
                    "desc": "All vendor types for the ads that may be shown from this snippet.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "videoURL",
                    "desc": "The URL to fetch a video ad. If set, HTMLSnippet and the nativeAd should not be set.",
                    "type": "string"
                },
                {
                    "name": "width",
                    "desc": "Ad width.",
                    "type": "int32"
                },
                {
                    "name": "accountId",
                    "desc": "Account id.",
                    "type": "int32"
                },
                {
                    "name": "advertiserId",
                    "desc": "Detected advertiser id, if any. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "apiUploadTimestamp",
                    "desc": "The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).",
                    "type": "datetime"
                },
                {
                    "name": "clickThroughUrl",
                    "desc": "The set of destination urls for the snippet.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "filteringReasons",
                    "desc": "The filtering reasons for the creative. Read-only. This field should not be set in requests.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "date",
                            "desc": "The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.",
                            "type": "string"
                        },
                        {
                            "name": "reasons",
                            "desc": "The filtering reasons.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "filteringCount",
                                    "desc": "The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.",
                                    "type": "int64"
                                },
                                {
                                    "name": "filteringStatus",
                                    "desc": "The filtering status code. Please refer to the creative-status-codes.txt file for different statuses.",
                                    "type": "int32"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "impressionTrackingUrl",
                    "desc": "The set of urls to be called to record an impression.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "restrictedCategories",
                    "desc": "All restricted categories for the ads that may be shown from this snippet.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "sensitiveCategories",
                    "desc": "Detected sensitive categories, if any. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "BillingInfo",
            "desc": "The configuration data for an Ad Exchange billing info.",
            "type": "object",
            "fields": [
                {
                    "name": "accountId",
                    "desc": "Account id.",
                    "type": "int32"
                },
                {
                    "name": "accountName",
                    "desc": "Account name.",
                    "type": "string"
                },
                {
                    "name": "billingId",
                    "desc": "A list of adgroup IDs associated with this particular account. These IDs may show up as part of a realtime bidding BidRequest, which indicates a bid request for this account.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#billingInfo"
                }
            ]
        },
        {
            "name": "BillingInfoList",
            "desc": "A billing info feed lists Billing Info the Ad Exchange buyer account has access to. Each entry in the feed corresponds to a single billing info.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of billing info relevant for your account.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BillingInfo"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#billingInfoList"
                }
            ]
        },
        {
            "name": "DirectDealsList",
            "desc": "A direct deals feed lists Direct Deals the Ad Exchange buyer account has access to. This includes direct deals set up for the buyer account as well as its merged stream seats.",
            "type": "object",
            "fields": [
                {
                    "name": "directDeals",
                    "desc": "A list of direct deals relevant for your account.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DirectDeal"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#directDealsList"
                }
            ]
        },
        {
            "name": "PerformanceReportList",
            "desc": "The configuration data for an Ad Exchange performance report list.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#performanceReportList"
                },
                {
                    "name": "performanceReport",
                    "desc": "A list of performance reports relevant for the account.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PerformanceReport"
                }
            ]
        },
        {
            "name": "PretargetingConfig",
            "type": "object",
            "fields": [
                {
                    "name": "billingId",
                    "desc": "The id for billing purposes, provided for reference. Leave this field blank for insert requests; the id will be generated automatically.",
                    "type": "int64"
                },
                {
                    "name": "excludedPlacements",
                    "desc": "Requests containing any of these placements will not match.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "type",
                            "desc": "The type of the placement.",
                            "type": "string"
                        },
                        {
                            "name": "token",
                            "desc": "The value of the placement. Interpretation depends on the placement type, e.g. URL for a site placement, channel name for a channel placement, app id for a mobile app placement.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "mobileOperatingSystemVersions",
                    "desc": "Requests containing any of these mobile operating system version ids will match. Values are from mobile-os.csv in the downloadable files section.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "excludedVerticals",
                    "desc": "Requests containing any of these vertical ids will not match. Values are from the publisher-verticals.txt file in the downloadable files section.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "mobileCarriers",
                    "desc": "Requests containing any of these mobile carrier ids will match. Values are from mobile-carriers.csv in the downloadable files section.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "placements",
                    "desc": "Requests containing any of these placements will match.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "token",
                            "desc": "The value of the placement. Interpretation depends on the placement type, e.g. URL for a site placement, channel name for a channel placement, app id for a mobile app placement.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "The type of the placement.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "supportedCreativeAttributes",
                    "desc": "Creative attributes should be declared here if all creatives corresponding to this pretargeting configuration have that creative attribute. Values are from pretargetable-creative-attributes.txt in the downloadable files section.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "creativeType",
                    "desc": "List must contain exactly one of PRETARGETING_CREATIVE_TYPE_HTML or PRETARGETING_CREATIVE_TYPE_VIDEO.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "dimensions",
                    "desc": "Requests which allow one of these (width, height) pairs will match. All pairs must be supported ad dimensions.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "height",
                            "desc": "Height in pixels.",
                            "type": "int64"
                        },
                        {
                            "name": "width",
                            "desc": "Width in pixels.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "excludedGeoCriteriaIds",
                    "desc": "Requests containing any of these geo criteria ids will not match.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "mobileDevices",
                    "desc": "Requests containing any of these mobile device ids will match. Values are from mobile-devices.csv in the downloadable files section.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "platforms",
                    "desc": "Requests matching any of these platforms will match. Possible values are PRETARGETING_PLATFORM_MOBILE, PRETARGETING_PLATFORM_DESKTOP, and PRETARGETING_PLATFORM_TABLET.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "vendorTypes",
                    "desc": "Requests that allow any of these vendor ids will match. Values are from vendors.txt in the downloadable files section.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "configId",
                    "desc": "The config id; generated automatically. Leave this field blank for insert requests.",
                    "type": "int64"
                },
                {
                    "name": "excludedContentLabels",
                    "desc": "Requests with any of these content labels will not match. Values are from content-labels.txt in the downloadable files section.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "geoCriteriaIds",
                    "desc": "Requests containing any of these geo criteria ids will match.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "The kind of the resource, i.e. \"adexchangebuyer#pretargetingConfig\".",
                    "type": "string",
                    "default": "adexchangebuyer#pretargetingConfig"
                },
                {
                    "name": "languages",
                    "desc": "Request containing any of these language codes will match.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "userLists",
                    "desc": "Requests containing any of these user list ids will match.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "verticals",
                    "desc": "Requests containing any of these vertical ids will match.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "configName",
                    "desc": "The name of the config. Must be unique. Required for all requests.",
                    "type": "string"
                },
                {
                    "name": "excludedUserLists",
                    "desc": "Requests containing any of these users list ids will not match.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "isActive",
                    "desc": "Whether this config is active. Required for all requests.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "Account",
            "desc": "Configuration data for an Ad Exchange buyer account.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#account"
                },
                {
                    "name": "maximumActiveCreatives",
                    "desc": "The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.",
                    "type": "int32"
                },
                {
                    "name": "maximumTotalQps",
                    "desc": "The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.",
                    "type": "int32"
                },
                {
                    "name": "numberActiveCreatives",
                    "desc": "The number of creatives that this account inserted or bid with in the last 30 days.",
                    "type": "int32"
                },
                {
                    "name": "bidderLocation",
                    "desc": "Your bidder locations that have distinct URLs.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "maximumQps",
                            "desc": "The maximum queries per second the Ad Exchange will send.",
                            "type": "int32"
                        },
                        {
                            "name": "region",
                            "desc": "The geographical region the Ad Exchange should send requests from. Only used by some quota systems, but always setting the value is recommended. Allowed values:  \n- ASIA \n- EUROPE \n- US_EAST \n- US_WEST",
                            "type": "string"
                        },
                        {
                            "name": "url",
                            "desc": "The URL to which the Ad Exchange will send bid requests.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "cookieMatchingNid",
                    "desc": "The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.",
                    "type": "string"
                },
                {
                    "name": "cookieMatchingUrl",
                    "desc": "The base URL used in cookie match requests.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Account id.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "AccountsList",
            "desc": "An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of accounts.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Account"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#accountsList"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "accounts",
            "methods": [
                {
                    "path": "accounts/{id}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets one account by ID.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "id",
                            "desc": "The account id",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "response": "Account"
                },
                {
                    "path": "accounts",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves the authenticated user's list of accounts.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "response": "AccountsList"
                },
                {
                    "path": "accounts/{id}",
                    "httpMethod": "PATCH",
                    "name": "patch",
                    "desc": "Updates an existing account. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "id",
                            "desc": "The account id",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "request": "Account",
                    "response": "Account"
                },
                {
                    "path": "accounts/{id}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Updates an existing account.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "id",
                            "desc": "The account id",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "request": "Account",
                    "response": "Account"
                }
            ]
        },
        {
            "name": "billingInfo",
            "methods": [
                {
                    "path": "billinginfo/{accountId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Returns the billing information for one account specified by account ID.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id.",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "response": "BillingInfo"
                },
                {
                    "path": "billinginfo",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves a list of billing information for all accounts of the authenticated user.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "response": "BillingInfoList"
                }
            ]
        },
        {
            "name": "budget",
            "methods": [
                {
                    "path": "billinginfo/{accountId}/{billingId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Returns the budget information for the adgroup specified by the accountId and billingId.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id to get the budget information for.",
                            "required": true,
                            "type": "int64"
                        },
                        {
                            "name": "billingId",
                            "desc": "The billing id to get the budget information for.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "response": "Budget"
                },
                {
                    "path": "billinginfo/{accountId}/{billingId}",
                    "httpMethod": "PATCH",
                    "name": "patch",
                    "desc": "Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id associated with the budget being updated.",
                            "required": true,
                            "type": "int64"
                        },
                        {
                            "name": "billingId",
                            "desc": "The billing id associated with the budget being updated.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "request": "Budget",
                    "response": "Budget"
                },
                {
                    "path": "billinginfo/{accountId}/{billingId}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id associated with the budget being updated.",
                            "required": true,
                            "type": "int64"
                        },
                        {
                            "name": "billingId",
                            "desc": "The billing id associated with the budget being updated.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "request": "Budget",
                    "response": "Budget"
                }
            ]
        },
        {
            "name": "creatives",
            "methods": [
                {
                    "path": "creatives/{accountId}/{buyerCreativeId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets the status for a single creative. A creative will be available 30-40 minutes after submission.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The id for the account that will serve this creative.",
                            "required": true,
                            "type": "int32"
                        },
                        {
                            "name": "buyerCreativeId",
                            "desc": "The buyer-specific id for this creative.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Creative"
                },
                {
                    "path": "creatives",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Submit a new creative.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "request": "Creative",
                    "response": "Creative"
                },
                {
                    "path": "creatives",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "accountId",
                            "desc": "When specified, only creatives for the given account ids are returned.",
                            "type": "int32"
                        },
                        {
                            "name": "buyerCreativeId",
                            "desc": "When specified, only creatives for the given buyer creative ids are returned.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of entries returned on one result page. If not set, the default is 100. Optional.",
                            "type": "uint32",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response. Optional.",
                            "type": "string"
                        },
                        {
                            "name": "statusFilter",
                            "desc": "When specified, only creatives having the given status are returned.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "approved",
                                    "desc": "Creatives which have been approved."
                                },
                                {
                                    "name": "disapproved",
                                    "desc": "Creatives which have been disapproved."
                                },
                                {
                                    "name": "not_checked",
                                    "desc": "Creatives whose status is not yet checked."
                                }
                            ]
                        }
                    ],
                    "response": "CreativesList"
                }
            ]
        },
        {
            "name": "directDeals",
            "methods": [
                {
                    "path": "directdeals/{id}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets one direct deal by ID.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "id",
                            "desc": "The direct deal id",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "response": "DirectDeal"
                },
                {
                    "path": "directdeals",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves the authenticated user's list of direct deals.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "response": "DirectDealsList"
                }
            ]
        },
        {
            "name": "performanceReport",
            "methods": [
                {
                    "path": "performancereport",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves the authenticated user's list of performance metrics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id to get the reports.",
                            "required": true,
                            "type": "int64"
                        },
                        {
                            "name": "endDateTime",
                            "desc": "The end time of the report in ISO 8601 timestamp format using UTC.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "startDateTime",
                            "desc": "The start time of the report in ISO 8601 timestamp format using UTC.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of entries returned on one result page. If not set, the default is 100. Optional.",
                            "type": "uint32",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A continuation token, used to page through performance reports. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response. Optional.",
                            "type": "string"
                        }
                    ],
                    "response": "PerformanceReportList"
                }
            ]
        },
        {
            "name": "pretargetingConfig",
            "methods": [
                {
                    "path": "pretargetingconfigs/{accountId}",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Inserts a new pretargeting configuration.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id to insert the pretargeting config for.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "request": "PretargetingConfig",
                    "response": "PretargetingConfig"
                },
                {
                    "path": "pretargetingconfigs/{accountId}",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves a list of the authenticated user's pretargeting configurations.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id to get the pretargeting configs for.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "response": "PretargetingConfigList"
                },
                {
                    "path": "pretargetingconfigs/{accountId}/{configId}",
                    "httpMethod": "PATCH",
                    "name": "patch",
                    "desc": "Updates an existing pretargeting config. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id to update the pretargeting config for.",
                            "required": true,
                            "type": "int64"
                        },
                        {
                            "name": "configId",
                            "desc": "The specific id of the configuration to update.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "request": "PretargetingConfig",
                    "response": "PretargetingConfig"
                },
                {
                    "path": "pretargetingconfigs/{accountId}/{configId}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Updates an existing pretargeting config.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id to update the pretargeting config for.",
                            "required": true,
                            "type": "int64"
                        },
                        {
                            "name": "configId",
                            "desc": "The specific id of the configuration to update.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "request": "PretargetingConfig",
                    "response": "PretargetingConfig"
                },
                {
                    "path": "pretargetingconfigs/{accountId}/{configId}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Deletes an existing pretargeting config.",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id to delete the pretargeting config for.",
                            "required": true,
                            "type": "int64"
                        },
                        {
                            "name": "configId",
                            "desc": "The specific id of the configuration to delete.",
                            "required": true,
                            "type": "int64"
                        }
                    ]
                },
                {
                    "path": "pretargetingconfigs/{accountId}/{configId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets a specific pretargeting configuration",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The account id to get the pretargeting config for.",
                            "required": true,
                            "type": "int64"
                        },
                        {
                            "name": "configId",
                            "desc": "The specific id of the configuration to retrieve.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "response": "PretargetingConfig"
                }
            ]
        }
    ]
}