{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/xLk0p_5mXn9uEz2GsJHj5eFZwGM\"",
    "discoveryVersion": "v1",
    "id": "adsense:v1.4",
    "name": "adsense",
    "version": "v1.4",
    "title": "AdSense Management API",
    "description": "Accesses AdSense publishers' inventory and generates performance reports.",
    "documentationLink": "https://developers.google.com/adsense/management/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "csv",
                    "desc": "Responses with Content-Type of text/csv"
                },
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "SavedReports",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of this response for caching purposes.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The saved reports returned in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SavedReport"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#savedReports.",
                    "type": "string",
                    "default": "adsense#savedReports"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through saved reports. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UrlChannels",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The URL channels returned in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UrlChannel"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#urlChannels.",
                    "type": "string",
                    "default": "adsense#urlChannels"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "ETag of this response for caching purposes.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Accounts",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of this response for caching purposes.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The accounts returned in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Account"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#accounts.",
                    "type": "string",
                    "default": "adsense#accounts"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through accounts. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Metadata",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ReportingMetadataEntry"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#metadata.",
                    "type": "string",
                    "default": "adsense#metadata"
                }
            ]
        },
        {
            "name": "ReportingMetadataEntry",
            "type": "object",
            "fields": [
                {
                    "name": "requiredDimensions",
                    "desc": "The names of the dimensions which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "requiredMetrics",
                    "desc": "The names of the metrics which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "supportedProducts",
                    "desc": "The codes of the projects supported by the dimension or metric this reporting metadata entry describes.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "compatibleDimensions",
                    "desc": "For metrics this is a list of dimension IDs which the metric is compatible with, for dimensions it is a list of compatibility groups the dimension belongs to.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "compatibleMetrics",
                    "desc": "The names of the metrics the dimension or metric this reporting metadata entry describes is compatible with.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier of this reporting metadata entry, corresponding to the name of the appropriate dimension or metric.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#reportingMetadataEntry.",
                    "type": "string",
                    "default": "adsense#reportingMetadataEntry"
                }
            ]
        },
        {
            "name": "SavedAdStyles",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of this response for caching purposes.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The saved ad styles returned in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SavedAdStyle"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#savedAdStyles.",
                    "type": "string",
                    "default": "adsense#savedAdStyles"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AdCode",
            "type": "object",
            "fields": [
                {
                    "name": "adCode",
                    "desc": "The ad code snippet.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Kind this is, in this case adsense#adCode.",
                    "type": "string",
                    "default": "adsense#adCode"
                }
            ]
        },
        {
            "name": "AdUnits",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of this response for caching purposes.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The ad units returned in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AdUnit"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#adUnits.",
                    "type": "string",
                    "default": "adsense#adUnits"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Alert",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "Unique identifier of this alert. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
                    "type": "string"
                },
                {
                    "name": "isDismissible",
                    "desc": "Whether this alert can be dismissed.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#alert.",
                    "type": "string",
                    "default": "adsense#alert"
                },
                {
                    "name": "message",
                    "desc": "The localized alert message.",
                    "type": "string"
                },
                {
                    "name": "severity",
                    "desc": "Severity of this alert. Possible values: INFO, WARNING, SEVERE.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Type of this alert. Possible values: SELF_HOLD, MIGRATED_TO_BILLING3, ADDRESS_PIN_VERIFICATION, PHONE_PIN_VERIFICATION, CORPORATE_ENTITY, GRAYLISTED_PUBLISHER, API_HOLD.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Alerts",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#alerts.",
                    "type": "string",
                    "default": "adsense#alerts"
                },
                {
                    "name": "items",
                    "desc": "The alerts returned in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Alert"
                }
            ]
        },
        {
            "name": "CustomChannel",
            "type": "object",
            "fields": [
                {
                    "name": "code",
                    "desc": "Code of this custom channel, not necessarily unique across ad clients.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#customChannel.",
                    "type": "string",
                    "default": "adsense#customChannel"
                },
                {
                    "name": "name",
                    "desc": "Name of this custom channel.",
                    "type": "string"
                },
                {
                    "name": "targetingInfo",
                    "desc": "The targeting information of this custom channel, if activated.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "adsAppearOn",
                            "desc": "The name used to describe this channel externally.",
                            "type": "string"
                        },
                        {
                            "name": "description",
                            "desc": "The external description of the channel.",
                            "type": "string"
                        },
                        {
                            "name": "location",
                            "desc": "The locations in which ads appear. (Only valid for content and mobile content ads (deprecated)). Acceptable values for content ads are: TOP_LEFT, TOP_CENTER, TOP_RIGHT, MIDDLE_LEFT, MIDDLE_CENTER, MIDDLE_RIGHT, BOTTOM_LEFT, BOTTOM_CENTER, BOTTOM_RIGHT, MULTIPLE_LOCATIONS. Acceptable values for mobile content ads (deprecated) are: TOP, MIDDLE, BOTTOM, MULTIPLE_LOCATIONS.",
                            "type": "string"
                        },
                        {
                            "name": "siteLanguage",
                            "desc": "The language of the sites ads will be displayed on.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Payments",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of Payments for the account. One or both of a) the account's most recent payment; and b) the account's upcoming payment.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Payment"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#payments.",
                    "type": "string",
                    "default": "adsense#payments"
                }
            ]
        },
        {
            "name": "SavedReport",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "Unique identifier of this saved report.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#savedReport.",
                    "type": "string",
                    "default": "adsense#savedReport"
                },
                {
                    "name": "name",
                    "desc": "This saved report's name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Account",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#account.",
                    "type": "string",
                    "default": "adsense#account"
                },
                {
                    "name": "name",
                    "desc": "Name of this account.",
                    "type": "string"
                },
                {
                    "name": "premium",
                    "desc": "Whether this account is premium.",
                    "type": "bool"
                },
                {
                    "name": "subAccounts",
                    "desc": "Sub accounts of the this account.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Account"
                },
                {
                    "name": "timezone",
                    "desc": "AdSense timezone of this account.",
                    "type": "string"
                },
                {
                    "name": "creation_time",
                    "type": "int64"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier of this account.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AdClients",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "ETag of this response for caching purposes.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The ad clients returned in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AdClient"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#adClients.",
                    "type": "string",
                    "default": "adsense#adClients"
                }
            ]
        },
        {
            "name": "AdStyle",
            "type": "object",
            "fields": [
                {
                    "name": "corners",
                    "desc": "The style of the corners in the ad (deprecated: never populated, ignored).",
                    "type": "string"
                },
                {
                    "name": "font",
                    "desc": "The font which is included in the style.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "family",
                            "desc": "The family of the font.",
                            "type": "string"
                        },
                        {
                            "name": "size",
                            "desc": "The size of the font.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Kind this is, in this case adsense#adStyle.",
                    "type": "string",
                    "default": "adsense#adStyle"
                },
                {
                    "name": "colors",
                    "desc": "The colors which are included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "background",
                            "desc": "The color of the ad background.",
                            "type": "string"
                        },
                        {
                            "name": "border",
                            "desc": "The color of the ad border.",
                            "type": "string"
                        },
                        {
                            "name": "text",
                            "desc": "The color of the ad text.",
                            "type": "string"
                        },
                        {
                            "name": "title",
                            "desc": "The color of the ad title.",
                            "type": "string"
                        },
                        {
                            "name": "url",
                            "desc": "The color of the ad url.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "AdsenseReportsGenerateResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Kind this is, in this case adsense#report.",
                    "type": "string",
                    "default": "adsense#report"
                },
                {
                    "name": "startDate",
                    "desc": "The requested start date in yyyy-mm-dd format.",
                    "type": "string"
                },
                {
                    "name": "totalMatchedRows",
                    "desc": "The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.",
                    "type": "int64"
                },
                {
                    "name": "totals",
                    "desc": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "warnings",
                    "desc": "Any warnings associated with generation of the report.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "averages",
                    "desc": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "headers",
                    "desc": "The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "type",
                            "desc": "The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.",
                            "type": "string"
                        },
                        {
                            "name": "currency",
                            "desc": "The currency of this column. Only present if the header type is METRIC_CURRENCY.",
                            "type": "string"
                        },
                        {
                            "name": "name",
                            "desc": "The name of the header.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "endDate",
                    "desc": "The requested end date in yyyy-mm-dd format.",
                    "type": "string"
                },
                {
                    "name": "rows",
                    "desc": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "array",
                        "type": "string"
                    }
                }
            ]
        },
        {
            "name": "SavedAdStyle",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The user selected name of this SavedAdStyle.",
                    "type": "string"
                },
                {
                    "name": "adStyle",
                    "desc": "The AdStyle itself.",
                    "type": "ref",
                    "refType": "AdStyle"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier of this saved ad style. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#savedAdStyle.",
                    "type": "string",
                    "default": "adsense#savedAdStyle"
                }
            ]
        },
        {
            "name": "UrlChannel",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#urlChannel.",
                    "type": "string",
                    "default": "adsense#urlChannel"
                },
                {
                    "name": "urlPattern",
                    "desc": "URL Pattern of this URL channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AdClient",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#adClient.",
                    "type": "string",
                    "default": "adsense#adClient"
                },
                {
                    "name": "productCode",
                    "desc": "This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.",
                    "type": "string"
                },
                {
                    "name": "supportsReporting",
                    "desc": "Whether this ad client supports being reported on.",
                    "type": "bool"
                },
                {
                    "name": "arcOptIn",
                    "desc": "Whether this ad client is opted in to ARC.",
                    "type": "bool"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier of this ad client.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AdUnit",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Name of this ad unit.",
                    "type": "string"
                },
                {
                    "name": "savedStyleId",
                    "desc": "ID of the saved ad style which holds this ad unit's style information.",
                    "type": "string"
                },
                {
                    "name": "code",
                    "desc": "Identity code of this ad unit, not necessarily unique across ad clients.",
                    "type": "string"
                },
                {
                    "name": "contentAdsSettings",
                    "desc": "Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).",
                    "type": "object",
                    "fields": [
                        {
                            "name": "size",
                            "desc": "Size of this ad unit.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Type of this ad unit.",
                            "type": "string"
                        },
                        {
                            "name": "backupOption",
                            "desc": "The backup option to be used in instances where no ad is available.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "color",
                                    "desc": "Color to use when type is set to COLOR.",
                                    "type": "string"
                                },
                                {
                                    "name": "type",
                                    "desc": "Type of the backup option. Possible values are BLANK, COLOR and URL.",
                                    "type": "string"
                                },
                                {
                                    "name": "url",
                                    "desc": "URL to use when type is set to URL.",
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "customStyle",
                    "desc": "Custom style information specific to this ad unit.",
                    "type": "ref",
                    "refType": "AdStyle"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#adUnit.",
                    "type": "string",
                    "default": "adsense#adUnit"
                },
                {
                    "name": "feedAdsSettings",
                    "desc": "Settings specific to feed ads (AFF) - deprecated.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "adPosition",
                            "desc": "The position of the ads relative to the feed entries.",
                            "type": "string"
                        },
                        {
                            "name": "frequency",
                            "desc": "The frequency at which ads should appear in the feed (i.e. every N entries).",
                            "type": "int32"
                        },
                        {
                            "name": "minimumWordCount",
                            "desc": "The minimum length an entry should be in order to have attached ads.",
                            "type": "int32"
                        },
                        {
                            "name": "type",
                            "desc": "The type of ads which should appear.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "mobileContentAdsSettings",
                    "desc": "Settings specific to WAP mobile content ads (AFMC) - deprecated.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "size",
                            "desc": "Size of this ad unit.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Type of this ad unit.",
                            "type": "string"
                        },
                        {
                            "name": "markupLanguage",
                            "desc": "The markup language to use for this ad unit.",
                            "type": "string"
                        },
                        {
                            "name": "scriptingLanguage",
                            "desc": "The scripting language to use for this ad unit.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "status",
                    "desc": "Status of this ad unit. Possible values are:\nNEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.\n\nACTIVE: Indicates that there has been activity on this ad unit in the last seven days.\n\nINACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CustomChannels",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of this response for caching purposes.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The custom channels returned in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CustomChannel"
                },
                {
                    "name": "kind",
                    "desc": "Kind of list this is, in this case adsense#customChannels.",
                    "type": "string",
                    "default": "adsense#customChannels"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Payment",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "Unique identifier of this Payment.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Kind of resource this is, in this case adsense#payment.",
                    "type": "string",
                    "default": "adsense#payment"
                },
                {
                    "name": "paymentAmount",
                    "desc": "The amount to be paid.",
                    "type": "string"
                },
                {
                    "name": "paymentAmountCurrencyCode",
                    "desc": "The currency code for the amount to be paid.",
                    "type": "string"
                },
                {
                    "name": "paymentDate",
                    "desc": "The date this payment was/will be credited to the user, or none if the payment threshold has not been met.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "accounts",
            "methods": [
                {
                    "name": "get",
                    "desc": "Get information about the selected AdSense account.",
                    "path": "accounts/{accountId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "Account to get information about.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "tree",
                            "desc": "Whether the tree of sub accounts should be returned.",
                            "type": "bool"
                        }
                    ],
                    "response": "Account"
                },
                {
                    "name": "list",
                    "desc": "List all accounts available to this AdSense account.",
                    "path": "accounts",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "A continuation token, used to page through accounts. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of accounts to include in the response, used for paging.",
                            "type": "int32",
                            "min": "0",
                            "max": "10000"
                        }
                    ],
                    "response": "Accounts"
                }
            ],
            "resources": [
                {
                    "name": "alerts",
                    "methods": [
                        {
                            "name": "delete",
                            "desc": "Dismiss (delete) the specified alert from the specified publisher AdSense account.",
                            "path": "accounts/{accountId}/alerts/{alertId}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account which contains the ad unit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "alertId",
                                    "desc": "Alert to delete.",
                                    "required": true,
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "list",
                            "desc": "List the alerts for the specified AdSense account.",
                            "path": "accounts/{accountId}/alerts",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account for which to retrieve the alerts.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "locale",
                                    "desc": "The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.",
                                    "type": "string"
                                }
                            ],
                            "response": "Alerts"
                        }
                    ]
                },
                {
                    "name": "customchannels",
                    "methods": [
                        {
                            "name": "get",
                            "desc": "Get the specified custom channel from the specified ad client for the specified account.",
                            "path": "accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account to which the ad client belongs.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "adClientId",
                                    "desc": "Ad client which contains the custom channel.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "customChannelId",
                                    "desc": "Custom channel to retrieve.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "CustomChannel"
                        },
                        {
                            "name": "list",
                            "desc": "List all custom channels in the specified ad client for the specified account.",
                            "path": "accounts/{accountId}/adclients/{adClientId}/customchannels",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account to which the ad client belongs.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "adClientId",
                                    "desc": "Ad client for which to list custom channels.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "maxResults",
                                    "desc": "The maximum number of custom channels to include in the response, used for paging.",
                                    "type": "int32",
                                    "min": "0",
                                    "max": "10000"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                    "type": "string"
                                }
                            ],
                            "response": "CustomChannels"
                        }
                    ],
                    "resources": [
                        {
                            "name": "adunits",
                            "methods": [
                                {
                                    "name": "list",
                                    "desc": "List all ad units in the specified custom channel.",
                                    "path": "accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}/adunits",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adsense",
                                        "https://www.googleapis.com/auth/adsense.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "Account to which the ad client belongs.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "adClientId",
                                            "desc": "Ad client which contains the custom channel.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "customChannelId",
                                            "desc": "Custom channel for which to list ad units.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "includeInactive",
                                            "desc": "Whether to include inactive ad units. Default: true.",
                                            "type": "bool"
                                        },
                                        {
                                            "name": "maxResults",
                                            "desc": "The maximum number of ad units to include in the response, used for paging.",
                                            "type": "int32",
                                            "min": "0",
                                            "max": "10000"
                                        },
                                        {
                                            "name": "pageToken",
                                            "desc": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                            "type": "string"
                                        }
                                    ],
                                    "response": "AdUnits"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "payments",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "List the payments for the specified AdSense account.",
                            "path": "accounts/{accountId}/payments",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account for which to retrieve the payments.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "Payments"
                        }
                    ]
                },
                {
                    "name": "reports",
                    "methods": [
                        {
                            "name": "generate",
                            "desc": "Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.",
                            "path": "accounts/{accountId}/reports",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account upon which to report.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "requiredQueryParams": [
                                {
                                    "name": "startDate",
                                    "desc": "Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)|(latest-(\\d{2})-(\\d{2})(-\\d+y)?)|(latest-latest-(\\d{2})(-\\d+m)?)"
                                },
                                {
                                    "name": "endDate",
                                    "desc": "End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)|(latest-(\\d{2})-(\\d{2})(-\\d+y)?)|(latest-latest-(\\d{2})(-\\d+m)?)"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "startIndex",
                                    "desc": "Index of the first row of report data to return.",
                                    "type": "int32",
                                    "min": "0",
                                    "max": "5000"
                                },
                                {
                                    "name": "currency",
                                    "desc": "Optional currency to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                                    "type": "string",
                                    "pattern": "[a-zA-Z]+"
                                },
                                {
                                    "name": "dimension",
                                    "desc": "Dimensions to base the report on.",
                                    "type": "string",
                                    "pattern": "[a-zA-Z_]+"
                                },
                                {
                                    "name": "maxResults",
                                    "desc": "The maximum number of rows of report data to return.",
                                    "type": "int32",
                                    "min": "0",
                                    "max": "50000"
                                },
                                {
                                    "name": "metric",
                                    "desc": "Numeric columns to include in the report.",
                                    "type": "string",
                                    "pattern": "[a-zA-Z_]+"
                                },
                                {
                                    "name": "sort",
                                    "desc": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                                    "type": "string",
                                    "pattern": "(\\+|-)?[a-zA-Z_]+"
                                },
                                {
                                    "name": "useTimezoneReporting",
                                    "desc": "Whether the report should be generated in the AdSense account's local timezone. If false default PST/PDT timezone will be used.",
                                    "type": "bool"
                                },
                                {
                                    "name": "filter",
                                    "desc": "Filters to be run on the report.",
                                    "type": "string",
                                    "pattern": "[a-zA-Z_]+(==|=@).+"
                                },
                                {
                                    "name": "locale",
                                    "desc": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
                                    "type": "string",
                                    "pattern": "[a-zA-Z_]+"
                                }
                            ],
                            "response": "AdsenseReportsGenerateResponse"
                        }
                    ],
                    "resources": [
                        {
                            "name": "saved",
                            "methods": [
                                {
                                    "name": "list",
                                    "desc": "List all saved reports in the specified AdSense account.",
                                    "path": "accounts/{accountId}/reports/saved",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adsense",
                                        "https://www.googleapis.com/auth/adsense.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "Account to which the saved reports belong.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "maxResults",
                                            "desc": "The maximum number of saved reports to include in the response, used for paging.",
                                            "type": "int32",
                                            "min": "0",
                                            "max": "100"
                                        },
                                        {
                                            "name": "pageToken",
                                            "desc": "A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                            "type": "string"
                                        }
                                    ],
                                    "response": "SavedReports"
                                },
                                {
                                    "name": "generate",
                                    "desc": "Generate an AdSense report based on the saved report ID sent in the query parameters.",
                                    "path": "accounts/{accountId}/reports/{savedReportId}",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adsense",
                                        "https://www.googleapis.com/auth/adsense.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "Account to which the saved reports belong.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "savedReportId",
                                            "desc": "The saved report to retrieve.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "maxResults",
                                            "desc": "The maximum number of rows of report data to return.",
                                            "type": "int32",
                                            "min": "0",
                                            "max": "50000"
                                        },
                                        {
                                            "name": "startIndex",
                                            "desc": "Index of the first row of report data to return.",
                                            "type": "int32",
                                            "min": "0",
                                            "max": "5000"
                                        },
                                        {
                                            "name": "locale",
                                            "desc": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
                                            "type": "string",
                                            "pattern": "[a-zA-Z_]+"
                                        }
                                    ],
                                    "response": "AdsenseReportsGenerateResponse"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "savedadstyles",
                    "methods": [
                        {
                            "name": "get",
                            "desc": "List a specific saved ad style for the specified account.",
                            "path": "accounts/{accountId}/savedadstyles/{savedAdStyleId}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account for which to get the saved ad style.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "savedAdStyleId",
                                    "desc": "Saved ad style to retrieve.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "SavedAdStyle"
                        },
                        {
                            "name": "list",
                            "desc": "List all saved ad styles in the specified account.",
                            "path": "accounts/{accountId}/savedadstyles",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account for which to list saved ad styles.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "maxResults",
                                    "desc": "The maximum number of saved ad styles to include in the response, used for paging.",
                                    "type": "int32",
                                    "min": "0",
                                    "max": "10000"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                    "type": "string"
                                }
                            ],
                            "response": "SavedAdStyles"
                        }
                    ]
                },
                {
                    "name": "urlchannels",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "List all URL channels in the specified ad client for the specified account.",
                            "path": "accounts/{accountId}/adclients/{adClientId}/urlchannels",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account to which the ad client belongs.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "adClientId",
                                    "desc": "Ad client for which to list URL channels.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "maxResults",
                                    "desc": "The maximum number of URL channels to include in the response, used for paging.",
                                    "type": "int32",
                                    "min": "0",
                                    "max": "10000"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                    "type": "string"
                                }
                            ],
                            "response": "UrlChannels"
                        }
                    ]
                },
                {
                    "name": "adclients",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "List all ad clients in the specified account.",
                            "path": "accounts/{accountId}/adclients",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account for which to list ad clients.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "maxResults",
                                    "desc": "The maximum number of ad clients to include in the response, used for paging.",
                                    "type": "int32",
                                    "min": "0",
                                    "max": "10000"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                    "type": "string"
                                }
                            ],
                            "response": "AdClients"
                        }
                    ]
                },
                {
                    "name": "adunits",
                    "methods": [
                        {
                            "name": "get",
                            "desc": "Gets the specified ad unit in the specified ad client for the specified account.",
                            "path": "accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account to which the ad client belongs.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "adClientId",
                                    "desc": "Ad client for which to get the ad unit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "adUnitId",
                                    "desc": "Ad unit to retrieve.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "AdUnit"
                        },
                        {
                            "name": "getAdCode",
                            "desc": "Get ad code for the specified ad unit.",
                            "path": "accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account which contains the ad client.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "adClientId",
                                    "desc": "Ad client with contains the ad unit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "adUnitId",
                                    "desc": "Ad unit to get the code for.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "AdCode"
                        },
                        {
                            "name": "list",
                            "desc": "List all ad units in the specified ad client for the specified account.",
                            "path": "accounts/{accountId}/adclients/{adClientId}/adunits",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "accountId",
                                    "desc": "Account to which the ad client belongs.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "adClientId",
                                    "desc": "Ad client for which to list ad units.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "includeInactive",
                                    "desc": "Whether to include inactive ad units. Default: true.",
                                    "type": "bool"
                                },
                                {
                                    "name": "maxResults",
                                    "desc": "The maximum number of ad units to include in the response, used for paging.",
                                    "type": "int32",
                                    "min": "0",
                                    "max": "10000"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                    "type": "string"
                                }
                            ],
                            "response": "AdUnits"
                        }
                    ],
                    "resources": [
                        {
                            "name": "customchannels",
                            "methods": [
                                {
                                    "name": "list",
                                    "desc": "List all custom channels which the specified ad unit belongs to.",
                                    "path": "accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/customchannels",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adsense",
                                        "https://www.googleapis.com/auth/adsense.readonly"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "accountId",
                                            "desc": "Account to which the ad client belongs.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "adClientId",
                                            "desc": "Ad client which contains the ad unit.",
                                            "required": true,
                                            "type": "string"
                                        },
                                        {
                                            "name": "adUnitId",
                                            "desc": "Ad unit for which to list custom channels.",
                                            "required": true,
                                            "type": "string"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "maxResults",
                                            "desc": "The maximum number of custom channels to include in the response, used for paging.",
                                            "type": "int32",
                                            "min": "0",
                                            "max": "10000"
                                        },
                                        {
                                            "name": "pageToken",
                                            "desc": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                            "type": "string"
                                        }
                                    ],
                                    "response": "CustomChannels"
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "name": "payments",
            "methods": [
                {
                    "name": "list",
                    "desc": "List the payments for this AdSense account.",
                    "path": "payments",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "response": "Payments"
                }
            ]
        },
        {
            "name": "savedadstyles",
            "methods": [
                {
                    "name": "get",
                    "desc": "Get a specific saved ad style from the user's account.",
                    "path": "savedadstyles/{savedAdStyleId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "savedAdStyleId",
                            "desc": "Saved ad style to retrieve.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "SavedAdStyle"
                },
                {
                    "name": "list",
                    "desc": "List all saved ad styles in the user's account.",
                    "path": "savedadstyles",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of saved ad styles to include in the response, used for paging.",
                            "type": "int32",
                            "min": "0",
                            "max": "10000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                            "type": "string"
                        }
                    ],
                    "response": "SavedAdStyles"
                }
            ]
        },
        {
            "name": "adclients",
            "methods": [
                {
                    "name": "list",
                    "desc": "List all ad clients in this AdSense account.",
                    "path": "adclients",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of ad clients to include in the response, used for paging.",
                            "type": "int32",
                            "min": "0",
                            "max": "10000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                            "type": "string"
                        }
                    ],
                    "response": "AdClients"
                }
            ]
        },
        {
            "name": "adunits",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets the specified ad unit in the specified ad client.",
                    "path": "adclients/{adClientId}/adunits/{adUnitId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "adClientId",
                            "desc": "Ad client for which to get the ad unit.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "adUnitId",
                            "desc": "Ad unit to retrieve.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "AdUnit"
                },
                {
                    "name": "getAdCode",
                    "desc": "Get ad code for the specified ad unit.",
                    "path": "adclients/{adClientId}/adunits/{adUnitId}/adcode",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "adClientId",
                            "desc": "Ad client with contains the ad unit.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "adUnitId",
                            "desc": "Ad unit to get the code for.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "AdCode"
                },
                {
                    "name": "list",
                    "desc": "List all ad units in the specified ad client for this AdSense account.",
                    "path": "adclients/{adClientId}/adunits",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "adClientId",
                            "desc": "Ad client for which to list ad units.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "includeInactive",
                            "desc": "Whether to include inactive ad units. Default: true.",
                            "type": "bool"
                        },
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of ad units to include in the response, used for paging.",
                            "type": "int32",
                            "min": "0",
                            "max": "10000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                            "type": "string"
                        }
                    ],
                    "response": "AdUnits"
                }
            ],
            "resources": [
                {
                    "name": "customchannels",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "List all custom channels which the specified ad unit belongs to.",
                            "path": "adclients/{adClientId}/adunits/{adUnitId}/customchannels",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "adClientId",
                                    "desc": "Ad client which contains the ad unit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "adUnitId",
                                    "desc": "Ad unit for which to list custom channels.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "maxResults",
                                    "desc": "The maximum number of custom channels to include in the response, used for paging.",
                                    "type": "int32",
                                    "min": "0",
                                    "max": "10000"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                    "type": "string"
                                }
                            ],
                            "response": "CustomChannels"
                        }
                    ]
                }
            ]
        },
        {
            "name": "alerts",
            "methods": [
                {
                    "name": "delete",
                    "desc": "Dismiss (delete) the specified alert from the publisher's AdSense account.",
                    "path": "alerts/{alertId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                    ],
                    "pathParams": [
                        {
                            "name": "alertId",
                            "desc": "Alert to delete.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "list",
                    "desc": "List the alerts for this AdSense account.",
                    "path": "alerts",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "locale",
                            "desc": "The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.",
                            "type": "string"
                        }
                    ],
                    "response": "Alerts"
                }
            ]
        },
        {
            "name": "customchannels",
            "methods": [
                {
                    "name": "get",
                    "desc": "Get the specified custom channel from the specified ad client.",
                    "path": "adclients/{adClientId}/customchannels/{customChannelId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "adClientId",
                            "desc": "Ad client which contains the custom channel.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "customChannelId",
                            "desc": "Custom channel to retrieve.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "CustomChannel"
                },
                {
                    "name": "list",
                    "desc": "List all custom channels in the specified ad client for this AdSense account.",
                    "path": "adclients/{adClientId}/customchannels",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "adClientId",
                            "desc": "Ad client for which to list custom channels.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of custom channels to include in the response, used for paging.",
                            "type": "int32",
                            "min": "0",
                            "max": "10000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                            "type": "string"
                        }
                    ],
                    "response": "CustomChannels"
                }
            ],
            "resources": [
                {
                    "name": "adunits",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "List all ad units in the specified custom channel.",
                            "path": "adclients/{adClientId}/customchannels/{customChannelId}/adunits",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "adClientId",
                                    "desc": "Ad client which contains the custom channel.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "customChannelId",
                                    "desc": "Custom channel for which to list ad units.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageToken",
                                    "desc": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                                    "type": "string"
                                },
                                {
                                    "name": "includeInactive",
                                    "desc": "Whether to include inactive ad units. Default: true.",
                                    "type": "bool"
                                },
                                {
                                    "name": "maxResults",
                                    "desc": "The maximum number of ad units to include in the response, used for paging.",
                                    "type": "int32",
                                    "min": "0",
                                    "max": "10000"
                                }
                            ],
                            "response": "AdUnits"
                        }
                    ]
                }
            ]
        },
        {
            "name": "metadata",
            "resources": [
                {
                    "name": "dimensions",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "List the metadata for the dimensions available to this AdSense account.",
                            "path": "metadata/dimensions",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "response": "Metadata"
                        }
                    ]
                },
                {
                    "name": "metrics",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "List the metadata for the metrics available to this AdSense account.",
                            "path": "metadata/metrics",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/adsense",
                                "https://www.googleapis.com/auth/adsense.readonly"
                            ],
                            "response": "Metadata"
                        }
                    ]
                }
            ]
        },
        {
            "name": "reports",
            "methods": [
                {
                    "name": "generate",
[...]
