{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/TeJ87k5AaNhxSfkpXHKHkISW9Dw\"",
    "discoveryVersion": "v1",
    "id": "replicapool:v1beta2",
    "name": "replicapool",
    "version": "v1beta2",
    "title": "Google Compute Engine Instance Group Manager API",
    "description": "[Deprecated. Please use Instance Group Manager in Compute API] Provides groups of homogenous Compute Engine instances.",
    "documentationLink": "https://developers.google.com/compute/docs/instance-groups/manager/v1beta2",
    "labels": [
        "limited_availability"
    ],
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
        ]
    },
    "parameters": [
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "InstanceGroupManagerList",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of instance resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InstanceGroupManager"
                },
                {
                    "name": "kind",
                    "desc": "Type of resource.",
                    "type": "string",
                    "default": "replicapool#instanceGroupManagerList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token used to continue a truncated list request (output only).",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "Server defined URL for this resource (output only).",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier for the resource; defined by the server (output only).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstanceGroupManagersAbandonInstancesRequest",
            "type": "object",
            "fields": [
                {
                    "name": "instances",
                    "desc": "The names of one or more instances to abandon. For example:\n{ 'instances': [ 'instance-c3po', 'instance-r2d2' ] }",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstanceGroupManagersSetInstanceTemplateRequest",
            "type": "object",
            "fields": [
                {
                    "name": "instanceTemplate",
                    "desc": "The full URL to an Instance Template from which all new instances will be created.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Operation",
            "desc": "An operation resource, used to manage asynchronous API requests.",
            "type": "object",
            "fields": [
                {
                    "name": "insertTime",
                    "desc": "[Output Only] The time that this operation was requested, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "progress",
                    "desc": "[Output only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess at when the operation will be complete. This number should be monotonically increasing as the operation progresses.",
                    "type": "int32"
                },
                {
                    "name": "region",
                    "desc": "[Output Only] URL of the region where the operation resides. Only available when performing regional operations.",
                    "type": "string"
                },
                {
                    "name": "startTime",
                    "desc": "[Output Only] The time that this operation was started by the server, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "targetLink",
                    "desc": "[Output only] URL of the resource the operation is mutating.",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] The time that this operation was requested, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "httpErrorStatusCode",
                    "desc": "[Output only] If operation fails, the HTTP error status code returned.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "[Output only] Type of the resource.",
                    "type": "string",
                    "default": "replicapool#operation"
                },
                {
                    "name": "status",
                    "desc": "[Output Only] Status of the operation.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "DONE"
                        },
                        {
                            "name": "PENDING"
                        },
                        {
                            "name": "RUNNING"
                        }
                    ]
                },
                {
                    "name": "warnings",
                    "desc": "[Output Only] If there are issues with this operation, a warning is returned.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "data",
                            "desc": "[Output only] Metadata for this warning in key:value format.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] Metadata key for this warning.",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] Metadata value for this warning.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output only] Optional human-readable details for this warning.",
                            "type": "string"
                        },
                        {
                            "name": "code",
                            "desc": "[Output only] The warning type identifier for this warning.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "DEPRECATED_RESOURCE_USED"
                                },
                                {
                                    "name": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
                                },
                                {
                                    "name": "INJECTED_KERNELS_DEPRECATED"
                                },
                                {
                                    "name": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
                                },
                                {
                                    "name": "NEXT_HOP_CANNOT_IP_FORWARD"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_FOUND"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
                                },
                                {
                                    "name": "NEXT_HOP_NOT_RUNNING"
                                },
                                {
                                    "name": "NO_RESULTS_ON_PAGE"
                                },
                                {
                                    "name": "REQUIRED_TOS_AGREEMENT"
                                },
                                {
                                    "name": "RESOURCE_NOT_DELETED"
                                },
                                {
                                    "name": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
                                },
                                {
                                    "name": "UNREACHABLE"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "httpErrorMessage",
                    "desc": "[Output only] If operation fails, the HTTP error message returned.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] Unique identifier for the resource, generated by the server.",
                    "type": "uint64"
                },
                {
                    "name": "name",
                    "desc": "[Output Only] Name of the resource.",
                    "type": "string"
                },
                {
                    "name": "operationType",
                    "desc": "[Output only] Type of the operation. Operations include insert, update, and delete.",
                    "type": "string"
                },
                {
                    "name": "user",
                    "desc": "[Output Only] User who requested the operation, for example: user@example.com.",
                    "type": "string"
                },
                {
                    "name": "zone",
                    "desc": "[Output Only] URL of the zone where the operation resides. Only available when performing per-zone operations.",
                    "type": "string"
                },
                {
                    "name": "clientOperationId",
                    "desc": "[Output only] An optional identifier specified by the client when the mutation was initiated. Must be unique for all operation resources in the project.",
                    "type": "string"
                },
                {
                    "name": "endTime",
                    "desc": "[Output Only] The time that this operation was completed, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "error",
                    "desc": "[Output Only] If errors occurred during processing of this operation, this field will be populated.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "errors",
                            "desc": "[Output Only] The array of errors encountered while processing this operation.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "code",
                                    "desc": "[Output Only] The error type identifier for this error.",
                                    "type": "string"
                                },
                                {
                                    "name": "location",
                                    "desc": "[Output Only] Indicates the field in the request which caused the error. This property is optional.",
                                    "type": "string"
                                },
                                {
                                    "name": "message",
                                    "desc": "[Output Only] An optional, human-readable error message.",
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined fully-qualified URL for this resource.",
                    "type": "string"
                },
                {
                    "name": "statusMessage",
                    "desc": "[Output Only] An optional textual description of the current status of the operation.",
                    "type": "string"
                },
                {
                    "name": "targetId",
                    "desc": "[Output Only] Unique target ID which identifies a particular incarnation of the target.",
                    "type": "uint64"
                }
            ]
        },
        {
            "name": "ReplicaPoolAutoHealingPolicy",
            "type": "object",
            "fields": [
                {
                    "name": "actionType",
                    "desc": "The action to perform when an instance becomes unhealthy. Possible values are RECREATE or REBOOT. RECREATE replaces an unhealthy instance with a new instance that is based on the instance template for this managed instance group. REBOOT performs a soft reboot on an instance. If the instance cannot reboot, the instance performs a hard restart.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "REBOOT"
                        },
                        {
                            "name": "RECREATE"
                        }
                    ]
                },
                {
                    "name": "healthCheck",
                    "desc": "The URL for the HealthCheck that signals autohealing.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstanceGroupManager",
            "desc": "An Instance Group Manager resource.",
            "type": "object",
            "fields": [
                {
                    "name": "baseInstanceName",
                    "desc": "The base instance name to use for instances in this group. The value must be a valid RFC1035 name. Supported characters are lowercase letters, numbers, and hyphens (-). Instances are named by appending a hyphen and a random four-character string to the base instance name.",
                    "type": "string"
                },
                {
                    "name": "fingerprint",
                    "desc": "[Output only] Fingerprint of the instance group manager. This field is used for optimistic locking. An up-to-date fingerprint must be provided in order to modify the Instance Group Manager resource.",
                    "type": "byte"
                },
                {
                    "name": "instanceTemplate",
                    "desc": "The full URL to an instance template from which all new instances will be created.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the instance group manager. Must be 1-63 characters long and comply with RFC1035. Supported characters include lowercase letters, numbers, and hyphens.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "[Output only] The resource type. Always replicapool#instanceGroupManager.",
                    "type": "string",
                    "default": "replicapool#instanceGroupManager"
                },
                {
                    "name": "autoHealingPolicies",
                    "desc": "The autohealing policy for this managed instance group. You can specify only one value.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ReplicaPoolAutoHealingPolicy"
                },
                {
                    "name": "currentSize",
                    "desc": "[Output only] The number of instances that currently exist and are a part of this group. This includes instances that are starting but are not yet RUNNING, and instances that are in the process of being deleted or abandoned.",
                    "type": "int32"
                },
                {
                    "name": "description",
                    "desc": "An optional textual description of the instance group manager.",
                    "type": "string"
                },
                {
                    "name": "group",
                    "desc": "[Output only] The full URL of the instance group created by the manager. This group contains all of the instances being managed, and cannot contain non-managed instances.",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output only] The time the instance group manager was created, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output only] A server-assigned unique identifier for the resource.",
                    "type": "uint64"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output only] The fully qualified URL for this resource.",
                    "type": "string"
                },
                {
                    "name": "targetPools",
                    "desc": "The full URL of all target pools to which new instances in the group are added. Updating the target pool values does not affect existing instances.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "targetSize",
                    "desc": "[Output only] The number of instances that the manager is attempting to maintain. Deleting or abandoning instances affects this number, as does resizing the group.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "InstanceGroupManagersDeleteInstancesRequest",
            "type": "object",
            "fields": [
                {
                    "name": "instances",
                    "desc": "Names of instances to delete.\n\nExample: 'instance-foo', 'instance-bar'",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstanceGroupManagersRecreateInstancesRequest",
            "type": "object",
            "fields": [
                {
                    "name": "instances",
                    "desc": "The names of one or more instances to recreate. For example:\n{ 'instances': [ 'instance-c3po', 'instance-r2d2' ] }",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstanceGroupManagersSetTargetPoolsRequest",
            "type": "object",
            "fields": [
                {
                    "name": "fingerprint",
                    "desc": "The current fingerprint of the Instance Group Manager resource. If this does not match the server-side fingerprint of the resource, then the request will be rejected.",
                    "type": "byte"
                },
                {
                    "name": "targetPools",
                    "desc": "A list of fully-qualified URLs to existing Target Pool resources. New instances in the Instance Group Manager will be added to the specified target pools; existing instances are not affected.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OperationList",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "Unique identifier for the resource; defined by the server (output only).",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The operation resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Operation"
                },
                {
                    "name": "kind",
                    "desc": "Type of resource.",
                    "type": "string",
                    "default": "replicapool#operationList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token used to continue a truncated list request (output only).",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "Server defined URL for this resource (output only).",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "zoneOperations",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves the specified zone-specific operation resource.",
                    "path": "{project}/zones/{zone}/operations/{operation}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Name of the project scoping this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "Name of the zone scoping this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "operation",
                            "desc": "Name of the operation resource to return.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "list",
                    "desc": "Retrieves the list of operation resources contained within the specified zone.",
                    "path": "{project}/zones/{zone}/operations",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Name of the project scoping this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "Name of the zone scoping this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "filter",
                            "desc": "Optional. Filter expression for filtering listed resources.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "type": "uint32",
                            "default": "500",
                            "min": "0",
                            "max": "500"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "type": "string"
                        }
                    ],
                    "response": "OperationList"
                }
            ]
        },
        {
            "name": "instanceGroupManagers",
            "methods": [
                {
                    "name": "abandonInstances",
                    "desc": "Removes the specified instances from the managed instance group, and from any target pools of which they were members, without deleting the instances.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/abandonInstances",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "instanceGroupManager",
                            "desc": "The name of the instance group manager.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "request": "InstanceGroupManagersAbandonInstancesRequest",
                    "response": "Operation"
                },
                {
                    "name": "deleteInstances",
                    "desc": "Deletes the specified instances. The instances are deleted, then removed from the instance group and any target pools of which they were a member. The targetSize of the instance group manager is reduced by the number of instances deleted.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/deleteInstances",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "instanceGroupManager",
                            "desc": "The name of the instance group manager.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "request": "InstanceGroupManagersDeleteInstancesRequest",
                    "response": "Operation"
                },
                {
                    "name": "list",
                    "desc": "Retrieves the list of Instance Group Manager resources contained within the specified zone.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "filter",
                            "desc": "Optional. Filter expression for filtering listed resources.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "type": "uint32",
                            "default": "500",
                            "min": "0",
                            "max": "500"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "type": "string"
                        }
                    ],
                    "response": "InstanceGroupManagerList"
                },
                {
                    "name": "recreateInstances",
                    "desc": "Recreates the specified instances. The instances are deleted, then recreated using the instance group manager's current instance template.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/recreateInstances",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "instanceGroupManager",
                            "desc": "The name of the instance group manager.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "request": "InstanceGroupManagersRecreateInstancesRequest",
                    "response": "Operation"
                },
                {
                    "name": "resize",
                    "desc": "Resizes the managed instance group up or down. If resized up, new instances are created using the current instance template. If resized down, instances are removed in the order outlined in Resizing a managed instance group.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/resize",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "instanceGroupManager",
                            "desc": "The name of the instance group manager.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "size",
                            "desc": "Number of instances that should exist in this Instance Group Manager.",
                            "required": true,
                            "type": "int32",
                            "min": "0"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "setInstanceTemplate",
                    "desc": "Sets the instance template to use when creating new instances in this group. Existing instances are not affected.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/setInstanceTemplate",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "instanceGroupManager",
                            "desc": "The name of the instance group manager.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "request": "InstanceGroupManagersSetInstanceTemplateRequest",
                    "response": "Operation"
                },
                {
                    "name": "delete",
                    "desc": "Deletes the instance group manager and all instances contained within. If you'd like to delete the manager without deleting the instances, you must first abandon the instances to remove them from the group.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "instanceGroupManager",
                            "desc": "Name of the Instance Group Manager resource to delete.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "get",
                    "desc": "Returns the specified Instance Group Manager resource.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "instanceGroupManager",
                            "desc": "Name of the instance resource to return.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "response": "InstanceGroupManager"
                },
                {
                    "name": "insert",
                    "desc": "Creates an instance group manager, as well as the instance group and the specified number of instances.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "size",
                            "desc": "Number of instances that should exist.",
                            "required": true,
                            "type": "int32",
                            "min": "0"
                        }
                    ],
                    "request": "InstanceGroupManager",
                    "response": "Operation"
                },
                {
                    "name": "setTargetPools",
                    "desc": "Modifies the target pools to which all new instances in this group are assigned. Existing instances in the group are not affected.",
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/setTargetPools",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The Google Developers Console project name.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "zone",
                            "desc": "The name of the zone in which the instance group manager resides.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "instanceGroupManager",
                            "desc": "The name of the instance group manager.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "request": "InstanceGroupManagersSetTargetPoolsRequest",
                    "response": "Operation"
                }
            ]
        }
    ]
}