{
    "kind": "discovery#restDescription",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/pZoln3VTirzMcP9u12GQ--6eh1U\"",
    "discoveryVersion": "v1",
    "id": "androidpublisher:v1.1",
    "name": "androidpublisher",
    "version": "v1.1",
    "title": "Google Play Developer API",
    "description": "Lets Android application developers access their Google Play accounts.",
    "documentationLink": "https://developers.google.com/android-publisher",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/androidpublisher"
        ]
    },
    "parameters": [
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        }
    ],
    "schemas": [
        {
            "name": "InappPurchase",
            "desc": "An InappPurchase resource indicates the status of a user's inapp product purchase.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This kind represents an inappPurchase object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#inappPurchase"
                },
                {
                    "name": "purchaseState",
                    "desc": "The purchase state of the order. Possible values are:  \n- Purchased \n- Cancelled",
                    "type": "int32"
                },
                {
                    "name": "purchaseTime",
                    "desc": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
                    "type": "int64"
                },
                {
                    "name": "consumptionState",
                    "desc": "The consumption state of the inapp product. Possible values are:  \n- Yet to be consumed \n- Consumed",
                    "type": "int32"
                },
                {
                    "name": "developerPayload",
                    "desc": "A developer-specified string that contains supplemental information about an order.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SubscriptionPurchase",
            "desc": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
            "type": "object",
            "fields": [
                {
                    "name": "autoRenewing",
                    "desc": "Whether the subscription will automatically be renewed when it reaches its current expiry time.",
                    "type": "bool"
                },
                {
                    "name": "initiationTimestampMsec",
                    "desc": "Time at which the subscription was granted, in milliseconds since the Epoch.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "This kind represents a subscriptionPurchase object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#subscriptionPurchase"
                },
                {
                    "name": "validUntilTimestampMsec",
                    "desc": "Time at which the subscription will expire, in milliseconds since the Epoch.",
                    "type": "int64"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "inapppurchases",
            "methods": [
                {
                    "name": "get",
                    "desc": "Checks the purchase and consumption status of an inapp item.",
                    "path": "{packageName}/inapp/{productId}/purchases/{token}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "productId",
                            "desc": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "token",
                            "desc": "The token provided to the user's device when the inapp product was purchased.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "InappPurchase"
                }
            ]
        },
        {
            "name": "purchases",
            "methods": [
                {
                    "name": "cancel",
                    "desc": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
                    "path": "{packageName}/subscriptions/{subscriptionId}/purchases/{token}/cancel",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "subscriptionId",
                            "desc": "The purchased subscription ID (for example, 'monthly001').",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "token",
                            "desc": "The token provided to the user's device when the subscription was purchased.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Checks whether a user's subscription purchase is valid and returns its expiry time.",
                    "path": "{packageName}/subscriptions/{subscriptionId}/purchases/{token}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "subscriptionId",
                            "desc": "The purchased subscription ID (for example, 'monthly001').",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "token",
                            "desc": "The token provided to the user's device when the subscription was purchased.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "SubscriptionPurchase"
                }
            ]
        }
    ]
}