{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/f81k8b4sv9uLeywfoj2KpL2xcPg\"",
    "discoveryVersion": "v1",
    "id": "youtube:v3",
    "name": "youtube",
    "version": "v3",
    "title": "YouTube Data API",
    "description": "Supports core YouTube features, such as uploading videos, creating and managing playlists, searching for content, and much more.",
    "documentationLink": "https://developers.google.com/youtube/v3",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit",
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
        ]
    },
    "parameters": [
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "ActivityContentDetailsUpload",
            "desc": "Information about the uploaded video.",
            "type": "object",
            "fields": [
                {
                    "name": "videoId",
                    "desc": "The ID that YouTube uses to uniquely identify the uploaded video.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GeoPoint",
            "desc": "Geographical coordinates of a point, in WGS84.",
            "type": "object",
            "fields": [
                {
                    "name": "altitude",
                    "desc": "Altitude above the reference ellipsoid, in meters.",
                    "type": "float64"
                },
                {
                    "name": "latitude",
                    "desc": "Latitude in degrees.",
                    "type": "float64"
                },
                {
                    "name": "longitude",
                    "desc": "Longitude in degrees.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "PlaylistItemStatus",
            "desc": "Information about the playlist item's privacy status.",
            "type": "object",
            "fields": [
                {
                    "name": "privacyStatus",
                    "desc": "This resource's privacy status.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "private"
                        },
                        {
                            "name": "public"
                        },
                        {
                            "name": "unlisted"
                        }
                    ]
                }
            ]
        },
        {
            "name": "VideoMonetizationDetails",
            "desc": "Details about monetization of a YouTube Video.",
            "type": "object",
            "fields": [
                {
                    "name": "access",
                    "desc": "The value of access indicates whether the video can be monetized or not.",
                    "type": "ref",
                    "refType": "AccessPolicy"
                }
            ]
        },
        {
            "name": "ChannelStatus",
            "desc": "JSON template for the status part of a channel.",
            "type": "object",
            "fields": [
                {
                    "name": "isLinked",
                    "desc": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.",
                    "type": "bool"
                },
                {
                    "name": "longUploadsStatus",
                    "desc": "The long uploads status of this channel. See",
                    "type": "string",
                    "enum": [
                        {
                            "name": "allowed"
                        },
                        {
                            "name": "disallowed"
                        },
                        {
                            "name": "eligible"
                        },
                        {
                            "name": "longUploadsUnspecified"
                        }
                    ]
                },
                {
                    "name": "privacyStatus",
                    "desc": "Privacy status of the channel.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "private"
                        },
                        {
                            "name": "public"
                        },
                        {
                            "name": "unlisted"
                        }
                    ]
                }
            ]
        },
        {
            "name": "VideoAbuseReportReasonListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of valid abuse reasons that are used with video.ReportAbuse.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "VideoAbuseReportReason"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoAbuseReportReasonListResponse\".",
                    "type": "string",
                    "default": "youtube#videoAbuseReportReasonListResponse"
                },
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VideoTopicDetails",
            "desc": "Freebase topic information related to the video.",
            "type": "object",
            "fields": [
                {
                    "name": "relevantTopicIds",
                    "desc": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "topicCategories",
                    "desc": "A list of Wikipedia URLs that provide a high-level description of the video's content.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "topicIds",
                    "desc": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the Freebase Topic API.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ActivityContentDetailsBulletin",
            "desc": "Details about a channel bulletin post.",
            "type": "object",
            "fields": [
                {
                    "name": "resourceId",
                    "desc": "The resourceId object contains information that identifies the resource associated with a bulletin post.",
                    "type": "ref",
                    "refType": "ResourceId"
                }
            ]
        },
        {
            "name": "ChannelTopicDetails",
            "desc": "Freebase topic information related to the channel.",
            "type": "object",
            "fields": [
                {
                    "name": "topicCategories",
                    "desc": "A list of Wikipedia URLs that describe the channel's content.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "topicIds",
                    "desc": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "I18nRegion",
            "desc": "A i18nRegion resource identifies a region where YouTube is available.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID that YouTube uses to uniquely identify the i18n region.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\".",
                    "type": "string",
                    "default": "youtube#i18nRegion"
                },
                {
                    "name": "snippet",
                    "desc": "The snippet object contains basic details about the i18n region, such as region code and human-readable name.",
                    "type": "ref",
                    "refType": "I18nRegionSnippet"
                }
            ]
        },
        {
            "name": "VideoContentDetails",
            "desc": "Details about the content of a YouTube Video.",
            "type": "object",
            "fields": [
                {
                    "name": "caption",
                    "desc": "The value of captions indicates whether the video has captions or not.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "false"
                        },
                        {
                            "name": "true"
                        }
                    ]
                },
                {
                    "name": "contentRating",
                    "desc": "Specifies the ratings that the video received under various rating schemes.",
                    "type": "ref",
                    "refType": "ContentRating"
                },
                {
                    "name": "definition",
                    "desc": "The value of definition indicates whether the video is available in high definition or only in standard definition.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "hd"
                        },
                        {
                            "name": "sd"
                        }
                    ]
                },
                {
                    "name": "dimension",
                    "desc": "The value of dimension indicates whether the video is available in 3D or in 2D.",
                    "type": "string"
                },
                {
                    "name": "licensedContent",
                    "desc": "The value of is_license_content indicates whether the video is licensed content.",
                    "type": "bool"
                },
                {
                    "name": "projection",
                    "desc": "Specifies the projection format of the video.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "360"
                        },
                        {
                            "name": "rectangular"
                        }
                    ]
                },
                {
                    "name": "countryRestriction",
                    "desc": "The countryRestriction object contains information about the countries where a video is (or is not) viewable.",
                    "type": "ref",
                    "refType": "AccessPolicy"
                },
                {
                    "name": "duration",
                    "desc": "The length of the video. The tag value is an ISO 8601 duration in the format PT#M#S, in which the letters PT indicate that the value specifies a period of time, and the letters M and S refer to length in minutes and seconds, respectively. The # characters preceding the M and S letters are both integers that specify the number of minutes (or seconds) of the video. For example, a value of PT15M51S indicates that the video is 15 minutes and 51 seconds long.",
                    "type": "string"
                },
                {
                    "name": "hasCustomThumbnail",
                    "desc": "Indicates whether the video uploader has provided a custom thumbnail image for the video. This property is only visible to the video uploader.",
                    "type": "bool"
                },
                {
                    "name": "regionRestriction",
                    "desc": "The regionRestriction object contains information about the countries where a video is (or is not) viewable. The object will contain either the contentDetails.regionRestriction.allowed property or the contentDetails.regionRestriction.blocked property.",
                    "type": "ref",
                    "refType": "VideoContentDetailsRegionRestriction"
                }
            ]
        },
        {
            "name": "Comment",
            "desc": "A comment represents a single YouTube comment.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\".",
                    "type": "string",
                    "default": "youtube#comment"
                },
                {
                    "name": "snippet",
                    "desc": "The snippet object contains basic details about the comment.",
                    "type": "ref",
                    "refType": "CommentSnippet"
                },
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID that YouTube uses to uniquely identify the comment.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CommentThreadReplies",
            "desc": "Comments written in (direct or indirect) reply to the top level comment.",
            "type": "object",
            "fields": [
                {
                    "name": "comments",
                    "desc": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Comment"
                }
            ]
        },
        {
            "name": "LiveBroadcast",
            "desc": "A liveBroadcast resource represents an event that will be streamed, via live video, on YouTube.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID that YouTube assigns to uniquely identify the broadcast.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcast\".",
                    "type": "string",
                    "default": "youtube#liveBroadcast"
                },
                {
                    "name": "snippet",
                    "desc": "The snippet object contains basic details about the event, including its title, description, start time, and end time.",
                    "type": "ref",
                    "refType": "LiveBroadcastSnippet"
                },
                {
                    "name": "statistics",
                    "desc": "The statistics object contains info about the event's current stats. These include concurrent viewers and total chat count. Statistics can change (in either direction) during the lifetime of an event. Statistics are only returned while the event is live.",
                    "type": "ref",
                    "refType": "LiveBroadcastStatistics"
                },
                {
                    "name": "status",
                    "desc": "The status object contains information about the event's status.",
                    "type": "ref",
                    "refType": "LiveBroadcastStatus"
                },
                {
                    "name": "topicDetails",
                    "type": "ref",
                    "refType": "LiveBroadcastTopicDetails"
                },
                {
                    "name": "contentDetails",
                    "desc": "The contentDetails object contains information about the event's video content, such as whether the content can be shown in an embedded video player or if it will be archived and therefore available for viewing after the event has concluded.",
                    "type": "ref",
                    "refType": "LiveBroadcastContentDetails"
                }
            ]
        },
        {
            "name": "VideoStatus",
            "desc": "Basic details about a video category, such as its localized title.",
            "type": "object",
            "fields": [
                {
                    "name": "license",
                    "desc": "The video's license.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "creativeCommon"
                        },
                        {
                            "name": "youtube"
                        }
                    ]
                },
                {
                    "name": "privacyStatus",
                    "desc": "The video's privacy status.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "private"
                        },
                        {
                            "name": "public"
                        },
                        {
                            "name": "unlisted"
                        }
                    ]
                },
                {
                    "name": "publicStatsViewable",
                    "desc": "This value indicates if the extended video statistics on the watch page can be viewed by everyone. Note that the view count, likes, etc will still be visible if this is disabled.",
                    "type": "bool"
                },
                {
                    "name": "publishAt",
                    "desc": "The date and time when the video is scheduled to publish. It can be set only if the privacy status of the video is private. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "rejectionReason",
                    "desc": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "claim"
                        },
                        {
                            "name": "copyright"
                        },
                        {
                            "name": "duplicate"
                        },
                        {
                            "name": "inappropriate"
                        },
                        {
                            "name": "legal"
                        },
                        {
                            "name": "length"
                        },
                        {
                            "name": "termsOfUse"
                        },
                        {
                            "name": "trademark"
                        },
                        {
                            "name": "uploaderAccountClosed"
                        },
                        {
                            "name": "uploaderAccountSuspended"
                        }
                    ]
                },
                {
                    "name": "uploadStatus",
                    "desc": "The status of the uploaded video.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "deleted"
                        },
                        {
                            "name": "failed"
                        },
                        {
                            "name": "processed"
                        },
                        {
                            "name": "rejected"
                        },
                        {
                            "name": "uploaded"
                        }
                    ]
                },
                {
                    "name": "embeddable",
                    "desc": "This value indicates if the video can be embedded on another website.",
                    "type": "bool"
                },
                {
                    "name": "failureReason",
                    "desc": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "codec"
                        },
                        {
                            "name": "conversion"
                        },
                        {
                            "name": "emptyFile"
                        },
                        {
                            "name": "invalidFile"
                        },
                        {
                            "name": "tooSmall"
                        },
                        {
                            "name": "uploadAborted"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ChannelStatistics",
            "desc": "Statistics about a channel: number of subscribers, number of videos in the channel, etc.",
            "type": "object",
            "fields": [
                {
                    "name": "viewCount",
                    "desc": "The number of times the channel has been viewed.",
                    "type": "uint64"
                },
                {
                    "name": "commentCount",
                    "desc": "The number of comments for the channel.",
                    "type": "uint64"
                },
                {
                    "name": "hiddenSubscriberCount",
                    "desc": "Whether or not the number of subscribers is shown for this user.",
                    "type": "bool"
                },
                {
                    "name": "subscriberCount",
                    "desc": "The number of subscribers that the channel has.",
                    "type": "uint64"
                },
                {
                    "name": "videoCount",
                    "desc": "The number of videos uploaded to the channel.",
                    "type": "uint64"
                }
            ]
        },
        {
            "name": "CommentThreadListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of comment threads that match the request criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CommentThread"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\".",
                    "type": "string",
                    "default": "youtube#commentThreadListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
                    "type": "string"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                }
            ]
        },
        {
            "name": "LiveBroadcastListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of broadcasts that match the request criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LiveBroadcast"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcastListResponse\".",
                    "type": "string",
                    "default": "youtube#liveBroadcastListResponse"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "prevPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
                    "type": "string"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlaylistPlayer",
            "type": "object",
            "fields": [
                {
                    "name": "embedHtml",
                    "desc": "An \u003ciframe\u003e tag that embeds a player that will play the playlist.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VideoAbuseReport",
            "type": "object",
            "fields": [
                {
                    "name": "comments",
                    "desc": "Additional comments regarding the abuse report.",
                    "type": "string"
                },
                {
                    "name": "language",
                    "desc": "The language that the content was viewed in.",
                    "type": "string"
                },
                {
                    "name": "reasonId",
                    "desc": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID.",
                    "type": "string"
                },
                {
                    "name": "secondaryReasonId",
                    "desc": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason.",
                    "type": "string"
                },
                {
                    "name": "videoId",
                    "desc": "The ID that YouTube uses to uniquely identify the video.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ChannelConversionPings",
            "desc": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
            "type": "object",
            "fields": [
                {
                    "name": "pings",
                    "desc": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ChannelConversionPing"
                }
            ]
        },
        {
            "name": "ChannelSectionListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of ChannelSections that match the request criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ChannelSection"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".",
                    "type": "string",
                    "default": "youtube#channelSectionListResponse"
                },
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InvideoPromotion",
            "desc": "Describes an invideo promotion campaign consisting of multiple promoted items. A campaign belongs to a single channel_id.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of promoted items in decreasing priority.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PromotedItem"
                },
                {
                    "name": "position",
                    "desc": "The spatial position within the video where the promoted item will be displayed.",
                    "type": "ref",
                    "refType": "InvideoPosition"
                },
                {
                    "name": "useSmartTiming",
                    "desc": "Indicates whether the channel's promotional campaign uses \"smart timing.\" This feature attempts to show promotions at a point in the video when they are more likely to be clicked and less likely to disrupt the viewing experience. This feature also picks up a single promotion to show on each video.",
                    "type": "bool"
                },
                {
                    "name": "defaultTiming",
                    "desc": "The default temporal position within the video where the promoted item will be displayed. Can be overriden by more specific timing in the item.",
                    "type": "ref",
                    "refType": "InvideoTiming"
                }
            ]
        },
        {
            "name": "LiveChatModeratorListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of moderators that match the request criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LiveChatModerator"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
                    "type": "string"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "prevPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
                    "type": "string"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\".",
                    "type": "string",
                    "default": "youtube#liveChatModeratorListResponse"
                }
            ]
        },
        {
            "name": "Subscription",
            "desc": "A subscription resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
            "type": "object",
            "fields": [
                {
                    "name": "snippet",
                    "desc": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to.",
                    "type": "ref",
                    "refType": "SubscriptionSnippet"
                },
                {
                    "name": "subscriberSnippet",
                    "desc": "The subscriberSnippet object contains basic details about the sbuscriber.",
                    "type": "ref",
                    "refType": "SubscriptionSubscriberSnippet"
                },
                {
                    "name": "contentDetails",
                    "desc": "The contentDetails object contains basic statistics about the subscription.",
                    "type": "ref",
                    "refType": "SubscriptionContentDetails"
                },
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID that YouTube uses to uniquely identify the subscription.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
                    "type": "string",
                    "default": "youtube#subscription"
                }
            ]
        },
        {
            "name": "Thumbnail",
            "desc": "A thumbnail is an image representing a YouTube resource.",
            "type": "object",
            "fields": [
                {
                    "name": "height",
                    "desc": "(Optional) Height of the thumbnail image.",
                    "type": "uint32"
                },
                {
                    "name": "url",
                    "desc": "The thumbnail image's URL.",
                    "type": "string"
                },
                {
                    "name": "width",
                    "desc": "(Optional) Width of the thumbnail image.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "TokenPagination",
            "desc": "Stub token pagination template to suppress results.",
            "type": "object"
        },
        {
            "name": "LiveChatPollVotedDetails",
            "type": "object",
            "fields": [
                {
                    "name": "itemId",
                    "desc": "The poll item the user chose.",
                    "type": "string"
                },
                {
                    "name": "pollId",
                    "desc": "The poll the user voted on.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LiveStreamConfigurationIssue",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "The long-form description of the issue and how to resolve it.",
                    "type": "string"
                },
                {
                    "name": "reason",
                    "desc": "The short-form reason for this issue.",
                    "type": "string"
                },
                {
                    "name": "severity",
                    "desc": "How severe this issue is to the stream.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "error"
                        },
                        {
                            "name": "info"
                        },
                        {
                            "name": "warning"
                        }
                    ]
                },
                {
                    "name": "type",
                    "desc": "The kind of error happening.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "audioBitrateHigh"
                        },
                        {
                            "name": "audioBitrateLow"
                        },
                        {
                            "name": "audioBitrateMismatch"
                        },
                        {
                            "name": "audioCodec"
                        },
                        {
                            "name": "audioCodecMismatch"
                        },
                        {
                            "name": "audioSampleRate"
                        },
                        {
                            "name": "audioSampleRateMismatch"
                        },
                        {
                            "name": "audioStereoMismatch"
                        },
                        {
                            "name": "audioTooManyChannels"
                        },
                        {
                            "name": "badContainer"
                        },
                        {
                            "name": "bitrateHigh"
                        },
                        {
                            "name": "bitrateLow"
                        },
                        {
                            "name": "frameRateHigh"
                        },
                        {
                            "name": "framerateMismatch"
                        },
                        {
                            "name": "gopMismatch"
                        },
                        {
                            "name": "gopSizeLong"
                        },
                        {
                            "name": "gopSizeOver"
                        },
                        {
                            "name": "gopSizeShort"
                        },
                        {
                            "name": "interlacedVideo"
                        },
                        {
                            "name": "multipleAudioStreams"
                        },
                        {
                            "name": "multipleVideoStreams"
                        },
                        {
                            "name": "noAudioStream"
                        },
                        {
                            "name": "noVideoStream"
                        },
                        {
                            "name": "openGop"
                        },
                        {
                            "name": "resolutionMismatch"
                        },
                        {
                            "name": "videoBitrateMismatch"
                        },
                        {
                            "name": "videoCodec"
                        },
                        {
                            "name": "videoCodecMismatch"
                        },
                        {
                            "name": "videoIngestionStarved"
                        },
                        {
                            "name": "videoInterlaceMismatch"
                        },
                        {
                            "name": "videoProfileMismatch"
                        },
                        {
                            "name": "videoResolutionSuboptimal"
                        },
                        {
                            "name": "videoResolutionUnsupported"
                        }
                    ]
                }
            ]
        },
        {
            "name": "LiveStreamStatus",
            "desc": "Brief description of the live stream status.",
            "type": "object",
            "fields": [
                {
                    "name": "healthStatus",
                    "desc": "The health status of the stream.",
                    "type": "ref",
                    "refType": "LiveStreamHealthStatus"
                },
                {
                    "name": "streamStatus",
                    "type": "string",
                    "enum": [
                        {
                            "name": "active"
                        },
                        {
                            "name": "created"
                        },
                        {
                            "name": "error"
                        },
                        {
                            "name": "inactive"
                        },
                        {
                            "name": "ready"
                        }
                    ]
                }
            ]
        },
        {
            "name": "PlaylistListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "prevPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of playlists that match the request criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Playlist"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistListResponse\".",
                    "type": "string",
                    "default": "youtube#playlistListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
                    "type": "string"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VideoGetRatingResponse",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of ratings that match the request criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "VideoRating"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoGetRatingResponse\".",
                    "type": "string",
                    "default": "youtube#videoGetRatingResponse"
                },
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VideoPlayer",
            "desc": "Player to be used for a video playback.",
            "type": "object",
            "fields": [
                {
                    "name": "embedHeight",
                    "type": "int64"
                },
                {
                    "name": "embedHtml",
                    "desc": "An \u003ciframe\u003e tag that embeds a player that will play the video.",
                    "type": "string"
                },
                {
                    "name": "embedWidth",
                    "desc": "The embed width",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "ActivityContentDetailsPromotedItem",
            "desc": "Details about a resource which is being promoted.",
            "type": "object",
            "fields": [
                {
                    "name": "descriptionText",
                    "desc": "The text description to accompany the promoted item.",
                    "type": "string"
                },
                {
                    "name": "destinationUrl",
                    "desc": "The URL the client should direct the user to, if the user chooses to visit the advertiser's website.",
                    "type": "string"
                },
                {
                    "name": "impressionUrl",
                    "desc": "The list of impression URLs. The client should ping all of these URLs to indicate that the user was shown this promoted item.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "videoId",
                    "desc": "The ID that YouTube uses to uniquely identify the promoted video.",
                    "type": "string"
                },
                {
                    "name": "creativeViewUrl",
                    "desc": "The URL the client should ping to indicate that the user was shown this promoted item.",
                    "type": "string"
                },
                {
                    "name": "customCtaButtonText",
                    "desc": "The custom call-to-action button text. If specified, it will override the default button text for the cta_type.",
                    "type": "string"
                },
                {
                    "name": "ctaType",
                    "desc": "The type of call-to-action, a message to the user indicating action that can be taken.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "unspecified"
                        },
                        {
                            "name": "visitAdvertiserSite"
                        }
                    ]
                },
                {
                    "name": "forecastingUrl",
                    "desc": "The list of forecasting URLs. The client should ping all of these URLs when a promoted item is not available, to indicate that a promoted item could have been shown.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "adTag",
                    "desc": "The URL the client should fetch to request a promoted item.",
                    "type": "string"
                },
                {
                    "name": "clickTrackingUrl",
                    "desc": "The URL the client should ping to indicate that the user clicked through on this promoted item.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ChannelSectionSnippet",
            "desc": "Basic details about a channel section, including title, style and position.",
            "type": "object",
            "fields": [
                {
                    "name": "localized",
                    "desc": "Localized title, read-only.",
                    "type": "ref",
                    "refType": "ChannelSectionLocalization"
                },
                {
                    "name": "position",
                    "desc": "The position of the channel section in the channel.",
                    "type": "uint32"
                },
                {
                    "name": "style",
                    "desc": "The style of the channel section.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "channelsectionStyleUndefined"
                        },
                        {
                            "name": "horizontalRow"
                        },
                        {
                            "name": "verticalList"
                        }
                    ]
                },
                {
                    "name": "title",
                    "desc": "The channel section's title for multiple_playlists and multiple_channels.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of the channel section.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "allPlaylists"
                        },
                        {
                            "name": "channelsectionTypeUndefined"
                        },
                        {
                            "name": "completedEvents"
                        },
                        {
                            "name": "likedPlaylists"
                        },
                        {
                            "name": "likes"
                        },
                        {
                            "name": "liveEvents"
                        },
                        {
                            "name": "multipleChannels"
                        },
                        {
                            "name": "multiplePlaylists"
                        },
                        {
                            "name": "popularUploads"
                        },
                        {
                            "name": "postedPlaylists"
                        },
                        {
                            "name": "postedVideos"
                        },
                        {
                            "name": "recentActivity"
                        },
                        {
                            "name": "recentPosts"
                        },
                        {
                            "name": "recentUploads"
                        },
                        {
                            "name": "singlePlaylist"
                        },
                        {
                            "name": "subscriptions"
                        },
                        {
                            "name": "upcomingEvents"
                        }
                    ]
                },
                {
                    "name": "channelId",
                    "desc": "The ID that YouTube uses to uniquely identify the channel that published the channel section.",
                    "type": "string"
                },
                {
                    "name": "defaultLanguage",
                    "desc": "The language of the channel section's default title and description.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "I18nRegionSnippet",
            "desc": "Basic details about an i18n region, such as region code and human-readable name.",
            "type": "object",
            "fields": [
                {
                    "name": "gl",
                    "desc": "The region code as a 2-letter ISO country code.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The human-readable name of the region.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LiveChatBan",
            "desc": "A liveChatBan resource represents a ban for a YouTube live chat.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID that YouTube assigns to uniquely identify the ban.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatBan\".",
                    "type": "string",
                    "default": "youtube#liveChatBan"
                },
                {
                    "name": "snippet",
                    "desc": "The snippet object contains basic details about the ban.",
                    "type": "ref",
                    "refType": "LiveChatBanSnippet"
                }
            ]
        },
        {
            "name": "VideoProjectDetails",
            "desc": "Project specific details about the content of a YouTube Video.",
            "type": "object",
            "fields": [
                {
                    "name": "tags",
                    "desc": "A list of project tags associated with the video during the upload.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VideoLiveStreamingDetails",
            "desc": "Details about the live streaming metadata.",
            "type": "object",
            "fields": [
                {
                    "name": "actualStartTime",
                    "desc": "The time that the broadcast actually started. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format. This value will not be available until the broadcast begins.",
                    "type": "datetime"
                },
                {
                    "name": "concurrentViewers",
                    "desc": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
                    "type": "uint64"
                },
                {
                    "name": "scheduledEndTime",
                    "desc": "The time that the broadcast is scheduled to end. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format. If the value is empty or the property is not present, then the broadcast is scheduled to continue indefinitely.",
                    "type": "datetime"
                },
                {
                    "name": "scheduledStartTime",
                    "desc": "The time that the broadcast is scheduled to begin. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "activeLiveChatId",
                    "desc": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page.",
                    "type": "string"
                },
                {
                    "name": "actualEndTime",
                    "desc": "The time that the broadcast actually ended. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format. This value will not be available until the broadcast is over.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "ChannelBrandingSettings",
            "desc": "Branding properties of a YouTube channel.",
            "type": "object",
            "fields": [
                {
                    "name": "channel",
                    "desc": "Branding properties for the channel view.",
                    "type": "ref",
                    "refType": "ChannelSettings"
                },
                {
                    "name": "hints",
                    "desc": "Additional experimental branding properties.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PropertyValue"
                },
                {
                    "name": "image",
                    "desc": "Branding properties for branding images.",
                    "type": "ref",
                    "refType": "ImageSettings"
                },
                {
                    "name": "watch",
                    "desc": "Branding properties for the watch page.",
                    "type": "ref",
                    "refType": "WatchSettings"
                }
            ]
        },
        {
            "name": "ChannelSectionContentDetails",
            "desc": "Details about a channelsection, including playlists and channels.",
            "type": "object",
            "fields": [
                {
                    "name": "channels",
                    "desc": "The channel ids for type multiple_channels.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "playlists",
                    "desc": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FanFundingEventListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of fan funding events that match the request criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "FanFundingEvent"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#fanFundingEventListResponse\".",
                    "type": "string",
                    "default": "youtube#fanFundingEventListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
                    "type": "string"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlaylistStatus",
            "type": "object",
            "fields": [
                {
                    "name": "privacyStatus",
                    "desc": "The playlist's privacy status.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "private"
                        },
                        {
                            "name": "public"
                        },
                        {
                            "name": "unlisted"
                        }
                    ]
                }
            ]
        },
        {
            "name": "SubscriptionSnippet",
            "desc": "Basic details about a subscription, including title, description and thumbnails of the subscribed item.",
            "type": "object",
            "fields": [
                {
                    "name": "channelTitle",
                    "desc": "Channel title for the channel that the subscription belongs to.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The subscription's details.",
                    "type": "string"
                },
                {
                    "name": "publishedAt",
                    "desc": "The date and time that the subscription was created. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "resourceId",
                    "desc": "The id object contains information about the channel that the user subscribed to.",
                    "type": "ref",
                    "refType": "ResourceId"
                },
                {
                    "name": "thumbnails",
                    "desc": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
                    "type": "ref",
                    "refType": "ThumbnailDetails"
                },
                {
                    "name": "title",
                    "desc": "The subscription's title.",
                    "type": "string"
                },
                {
                    "name": "channelId",
                    "desc": "The ID that YouTube uses to uniquely identify the subscriber's channel.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SubscriptionSubscriberSnippet",
            "desc": "Basic details about a subscription's subscriber including title, description, channel ID and thumbnails.",
            "type": "object",
            "fields": [
                {
                    "name": "channelId",
                    "desc": "The channel ID of the subscriber.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The description of the subscriber.",
                    "type": "string"
                },
                {
                    "name": "thumbnails",
                    "desc": "Thumbnails for this subscriber.",
                    "type": "ref",
                    "refType": "ThumbnailDetails"
                },
                {
                    "name": "title",
                    "desc": "The title of the subscriber.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ThumbnailSetResponse",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of thumbnails.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThumbnailDetails"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thumbnailSetResponse\".",
                    "type": "string",
                    "default": "youtube#thumbnailSetResponse"
                },
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SubscriptionListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "prevPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
                    "type": "string"
                },
                {
                    "name": "visitorId",
                    "desc": "The visitorId identifies the visitor.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
                    "type": "string"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "items",
                    "desc": "A list of subscriptions that match the request criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Subscription"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscriptionListResponse\".",
                    "type": "string",
                    "default": "youtube#subscriptionListResponse"
                }
            ]
        },
        {
            "name": "ChannelProfileDetails",
            "type": "object",
            "fields": [
                {
                    "name": "channelId",
                    "desc": "The YouTube channel ID.",
                    "type": "string"
                },
                {
                    "name": "channelUrl",
                    "desc": "The channel's URL.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The channel's display name.",
                    "type": "string"
                },
                {
                    "name": "profileImageUrl",
                    "desc": "The channels's avatar URL.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LiveBroadcastSnippet",
            "type": "object",
            "fields": [
                {
                    "name": "actualStartTime",
                    "desc": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "publishedAt",
                    "desc": "The date and time that the broadcast was added to YouTube's live broadcast schedule. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "scheduledStartTime",
                    "desc": "The date and time that the broadcast is scheduled to start. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "thumbnails",
                    "desc": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
                    "type": "ref",
                    "refType": "ThumbnailDetails"
                },
                {
                    "name": "scheduledEndTime",
                    "desc": "The date and time that the broadcast is scheduled to end. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "title",
                    "desc": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
                    "type": "string"
                },
                {
                    "name": "actualEndTime",
                    "desc": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "channelId",
                    "desc": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.",
                    "type": "string"
                },
                {
                    "name": "isDefaultBroadcast",
                    "type": "bool"
                },
                {
                    "name": "liveChatId",
                    "desc": "The id of the live chat for this broadcast.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LiveChatBanSnippet",
            "type": "object",
            "fields": [
                {
                    "name": "banDurationSeconds",
                    "desc": "The duration of a ban, only filled if the ban has type TEMPORARY.",
                    "type": "uint64"
                },
                {
                    "name": "bannedUserDetails",
                    "type": "ref",
                    "refType": "ChannelProfileDetails"
                },
                {
                    "name": "liveChatId",
                    "desc": "The chat this ban is pertinent to.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of ban.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "permanent"
                        },
                        {
                            "name": "temporary"
                        }
                    ]
                }
            ]
        },
        {
            "name": "LiveChatMessageSnippet",
            "type": "object",
            "fields": [
                {
                    "name": "superChatDetails",
                    "desc": "Details about the Super Chat event, this is only set if the type is 'superChatEvent'.",
                    "type": "ref",
                    "refType": "LiveChatSuperChatDetails"
                },
                {
                    "name": "type",
                    "desc": "The type of message, this will always be present, it determines the contents of the message as well as which fields will be present.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "chatEndedEvent"
                        },
                        {
                            "name": "fanFundingEvent"
                        },
                        {
                            "name": "messageDeletedEvent"
                        },
                        {
                            "name": "messageRetractedEvent"
                        },
                        {
                            "name": "newSponsorEvent"
                        },
                        {
                            "name": "pollClosedEvent"
                        },
                        {
                            "name": "pollEditedEvent"
                        },
                        {
                            "name": "pollOpenedEvent"
                        },
                        {
                            "name": "pollVotedEvent"
                        },
                        {
                            "name": "sponsorOnlyModeEndedEvent"
                        },
                        {
                            "name": "sponsorOnlyModeStartedEvent"
                        },
                        {
                            "name": "superChatEvent"
                        },
                        {
                            "name": "textMessageEvent"
                        },
                        {
                            "name": "tombstone"
                        },
                        {
                            "name": "userBannedEvent"
                        }
                    ]
                },
                {
                    "name": "userBannedDetails",
                    "type": "ref",
                    "refType": "LiveChatUserBannedMessageDetails"
                },
                {
                    "name": "messageRetractedDetails",
                    "type": "ref",
                    "refType": "LiveChatMessageRetractedDetails"
                },
                {
                    "name": "displayMessage",
                    "desc": "Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent.",
                    "type": "string"
                },
                {
                    "name": "pollClosedDetails",
                    "type": "ref",
                    "refType": "LiveChatPollClosedDetails"
                },
                {
                    "name": "pollEditedDetails",
                    "type": "ref",
                    "refType": "LiveChatPollEditedDetails"
                },
                {
                    "name": "pollOpenedDetails",
                    "type": "ref",
                    "refType": "LiveChatPollOpenedDetails"
                },
                {
                    "name": "pollVotedDetails",
                    "type": "ref",
                    "refType": "LiveChatPollVotedDetails"
                },
                {
                    "name": "publishedAt",
                    "desc": "The date and time when the message was orignally published. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "liveChatId",
                    "type": "string"
                },
                {
                    "name": "fanFundingEventDetails",
                    "desc": "Details about the funding event, this is only set if the type is 'fanFundingEvent'.",
                    "type": "ref",
                    "refType": "LiveChatFanFundingEventDetails"
                },
                {
                    "name": "hasDisplayContent",
                    "desc": "Whether the message has display content that should be displayed to users.",
                    "type": "bool"
                },
                {
                    "name": "messageDeletedDetails",
                    "type": "ref",
                    "refType": "LiveChatMessageDeletedDetails"
                },
                {
                    "name": "textMessageDetails",
                    "desc": "Details about the text message, this is only set if the type is 'textMessageEvent'.",
                    "type": "ref",
                    "refType": "LiveChatTextMessageDetails"
                },
                {
                    "name": "authorChannelId",
                    "desc": "The ID of the user that authored this message, this field is not always filled. textMessageEvent - the user that wrote the message fanFundingEvent - the user that funded the broadcast newSponsorEvent - the user that just became a sponsor messageDeletedEvent - the moderator that took the action messageRetractedEvent - the author that retracted their message userBannedEvent - the moderator that took the action superChatEvent - the user that made the purchase",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LiveStreamHealthStatus",
            "type": "object",
            "fields": [
                {
                    "name": "configurationIssues",
                    "desc": "The configurations issues on this stream",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LiveStreamConfigurationIssue"
                },
                {
                    "name": "lastUpdateTimeSeconds",
                    "desc": "The last time this status was updated (in seconds)",
                    "type": "uint64"
                },
                {
                    "name": "status",
                    "desc": "The status code of this stream",
                    "type": "string",
                    "enum": [
                        {
                            "name": "bad"
                        },
                        {
                            "name": "good"
                        },
                        {
                            "name": "noData"
                        },
                        {
                            "name": "ok"
                        },
                        {
                            "name": "revoked"
                        }
                    ]
                }
            ]
        },
        {
            "name": "LocalizedString",
            "type": "object",
            "fields": [
                {
                    "name": "language",
                    "type": "string"
                },
                {
                    "name": "value",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SearchResult",
            "desc": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The id object contains information that can be used to uniquely identify the resource that matches the search request.",
                    "type": "ref",
                    "refType": "ResourceId"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\".",
                    "type": "string",
                    "default": "youtube#searchResult"
                },
                {
                    "name": "snippet",
                    "desc": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description.",
                    "type": "ref",
                    "refType": "SearchResultSnippet"
                }
            ]
        },
        {
            "name": "SuperChatEventSnippet",
            "type": "object",
            "fields": [
                {
                    "name": "supporterDetails",
                    "desc": "Details about the supporter.",
                    "type": "ref",
                    "refType": "ChannelProfileDetails"
                },
                {
                    "name": "amountMicros",
                    "desc": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000.",
                    "type": "uint64"
                },
                {
                    "name": "channelId",
                    "desc": "Channel id where the event occurred.",
                    "type": "string"
                },
                {
                    "name": "commentText",
                    "desc": "The text contents of the comment left by the user.",
                    "type": "string"
                },
                {
                    "name": "createdAt",
                    "desc": "The date and time when the event occurred. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "currency",
                    "desc": "The currency in which the purchase was made. ISO 4217.",
                    "type": "string"
                },
                {
                    "name": "displayString",
                    "desc": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
                    "type": "string"
                },
                {
                    "name": "messageType",
                    "desc": "The tier for the paid message, which is based on the amount of money spent to purchase the message.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "VideoSuggestionsTagSuggestion",
            "desc": "A single tag suggestion with it's relevance information.",
            "type": "object",
            "fields": [
                {
                    "name": "tag",
                    "desc": "The keyword tag suggested for the video.",
                    "type": "string"
                },
                {
                    "name": "categoryRestricts",
                    "desc": "A set of video categories for which the tag is relevant. You can use this information to display appropriate tag suggestions based on the video category that the video uploader associates with the video. By default, tag suggestions are relevant for all categories if there are no restricts defined for the keyword.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "WatchSettings",
            "desc": "Branding properties for the watch. All deprecated.",
            "type": "object",
            "fields": [
                {
                    "name": "textColor",
                    "desc": "The background color for the video watch page's branded area.",
                    "type": "string"
                },
                {
                    "name": "backgroundColor",
                    "desc": "The text color for the video watch page's branded area.",
                    "type": "string"
                },
                {
                    "name": "featuredPlaylistId",
                    "desc": "An ID that uniquely identifies a playlist that displays next to the video player.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ActivityContentDetailsFavorite",
            "desc": "Information about a video that was marked as a favorite video.",
            "type": "object",
            "fields": [
                {
                    "name": "resourceId",
                    "desc": "The resourceId object contains information that identifies the resource that was marked as a favorite.",
                    "type": "ref",
                    "refType": "ResourceId"
                }
            ]
        },
        {
            "name": "CaptionSnippet",
            "desc": "Basic details about a caption track, such as its language and name.",
            "type": "object",
            "fields": [
                {
                    "name": "isEasyReader",
                    "desc": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false.",
                    "type": "bool"
                },
                {
                    "name": "isLarge",
                    "desc": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false.",
                    "type": "bool"
                },
                {
                    "name": "language",
                    "desc": "The language of the caption track. The property value is a BCP-47 language tag.",
                    "type": "string"
                },
                {
                    "name": "audioTrackType",
                    "desc": "The type of audio track associated with the caption track.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "commentary"
                        },
                        {
                            "name": "descriptive"
                        },
                        {
                            "name": "primary"
                        },
                        {
                            "name": "unknown"
                        }
                    ]
                },
                {
                    "name": "failureReason",
                    "desc": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "processingFailed"
                        },
                        {
                            "name": "unknownFormat"
                        },
                        {
                            "name": "unsupportedFormat"
                        }
                    ]
                },
                {
                    "name": "isCC",
                    "desc": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false.",
                    "type": "bool"
                },
                {
                    "name": "isDraft",
                    "desc": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false.",
                    "type": "bool"
                },
                {
                    "name": "trackKind",
                    "desc": "The caption track's type.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ASR"
                        },
                        {
                            "name": "forced"
                        },
                        {
                            "name": "standard"
                        }
                    ]
                },
                {
                    "name": "videoId",
                    "desc": "The ID that YouTube uses to uniquely identify the video associated with the caption track.",
                    "type": "string"
                },
                {
                    "name": "isAutoSynced",
                    "desc": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions.",
                    "type": "bool"
                },
                {
                    "name": "lastUpdated",
                    "desc": "The date and time when the caption track was last updated. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
                    "type": "datetime"
                },
                {
                    "name": "name",
                    "desc": "The name of the caption track. The name is intended to be visible to the user as an option during playback.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "The caption track's status.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "failed"
                        },
                        {
                            "name": "serving"
                        },
                        {
                            "name": "syncing"
                        }
                    ]
                }
            ]
        },
        {
            "name": "GuideCategory",
            "desc": "A guideCategory resource identifies a category that YouTube algorithmically assigns based on a channel's content or other indicators, such as the channel's popularity. The list is similar to video categories, with the difference being that a video's uploader can assign a video category but only YouTube can assign a channel category.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID that YouTube uses to uniquely identify the guide category.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"youtube#guideCategory\".",
                    "type": "string",
                    "default": "youtube#guideCategory"
                },
                {
                    "name": "snippet",
                    "desc": "The snippet object contains basic details about the category, such as its title.",
                    "type": "ref",
                    "refType": "GuideCategorySnippet"
                }
            ]
        },
        {
            "name": "LiveChatMessageDeletedDetails",
            "type": "object",
            "fields": [
                {
                    "name": "deletedMessageId",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlaylistItemListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "eventId",
                    "desc": "Serialized EventId of the request which produced this response.",
                    "type": "string"
                },
                {
                    "name": "prevPageToken",
[...]
