{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/yPodRz8hynPgVqC3iI-kd-YqLsk\"",
    "discoveryVersion": "v1",
    "id": "calendar:v3",
    "name": "calendar",
    "version": "v3",
    "title": "Calendar API",
    "description": "Manipulates events and other calendar data.",
    "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Colors",
            "type": "object",
            "fields": [
                {
                    "name": "event",
                    "desc": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its color field. Read-only.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "ColorDefinition"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource (\"calendar#colors\").",
                    "type": "string",
                    "default": "calendar#colors"
                },
                {
                    "name": "updated",
                    "desc": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
                    "type": "datetime"
                },
                {
                    "name": "calendar",
                    "desc": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its color field. Read-only.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "ColorDefinition"
                }
            ]
        },
        {
            "name": "Event",
            "type": "object",
            "fields": [
                {
                    "name": "locked",
                    "desc": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "originalStartTime",
                    "desc": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. Immutable.",
                    "type": "ref",
                    "refType": "EventDateTime"
                },
                {
                    "name": "start",
                    "desc": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance.",
                    "type": "ref",
                    "refType": "EventDateTime"
                },
                {
                    "name": "visibility",
                    "desc": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.",
                    "type": "string",
                    "default": "default"
                },
                {
                    "name": "attachments",
                    "desc": "File attachments for the event. Currently only Google Drive attachments are supported.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventAttachment"
                },
                {
                    "name": "attendeesOmitted",
                    "desc": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "end",
                    "desc": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.",
                    "type": "ref",
                    "refType": "EventDateTime"
                },
                {
                    "name": "id",
                    "desc": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs.",
                    "type": "string"
                },
                {
                    "name": "endTimeUnspecified",
                    "desc": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "recurringEventId",
                    "desc": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable.",
                    "type": "string"
                },
                {
                    "name": "reminders",
                    "desc": "Information about the event's reminders for the authenticated user.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "overrides",
                            "desc": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.",
                            "collection": "array",
                            "type": "ref",
                            "refType": "EventReminder"
                        },
                        {
                            "name": "useDefault",
                            "desc": "Whether the default reminders of the calendar apply to the event.",
                            "type": "bool"
                        }
                    ]
                },
                {
                    "name": "source",
                    "desc": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "title",
                            "desc": "Title of the source; for example a title of a web page or an email subject.",
                            "type": "string"
                        },
                        {
                            "name": "url",
                            "desc": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "status",
                    "desc": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Last modification time of the event (as a RFC3339 timestamp). Read-only.",
                    "type": "datetime"
                },
                {
                    "name": "extendedProperties",
                    "desc": "Extended properties of the event.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "private",
                            "desc": "Properties that are private to the copy of the event that appears on this calendar.",
                            "collection": "map",
                            "type": "string"
                        },
                        {
                            "name": "shared",
                            "desc": "Properties that are shared between copies of the event on other attendees' calendars.",
                            "collection": "map",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "guestsCanSeeOtherGuests",
                    "desc": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
                    "type": "bool",
                    "default": "true"
                },
                {
                    "name": "hangoutLink",
                    "desc": "An absolute link to the Google+ hangout associated with this event. Read-only.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource (\"calendar#event\").",
                    "type": "string",
                    "default": "calendar#event"
                },
                {
                    "name": "description",
                    "desc": "Description of the event. Optional.",
                    "type": "string"
                },
                {
                    "name": "guestsCanModify",
                    "desc": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "recurrence",
                    "desc": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "organizer",
                    "desc": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "email",
                            "desc": "The organizer's email address, if available. It must be a valid email address as per RFC5322.",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The organizer's Profile ID, if available. It corresponds to theid field in the People collection of the Google+ API",
                            "type": "string"
                        },
                        {
                            "name": "self",
                            "desc": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "displayName",
                            "desc": "The organizer's name, if available.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "summary",
                    "desc": "Title of the event.",
                    "type": "string"
                },
                {
                    "name": "transparency",
                    "desc": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - The event blocks time on the calendar. This is the default value. \n- \"transparent\" - The event does not block time on the calendar.",
                    "type": "string",
                    "default": "opaque"
                },
                {
                    "name": "anyoneCanAddSelf",
                    "desc": "Whether anyone can invite themselves to the event (currently works for Google+ events only). Optional. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "privateCopy",
                    "desc": "Whether this is a private event copy where changes are not shared with other copies on other calendars. Optional. Immutable. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "creator",
                    "desc": "The creator of the event. Read-only.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "displayName",
                            "desc": "The creator's name, if available.",
                            "type": "string"
                        },
                        {
                            "name": "email",
                            "desc": "The creator's email address, if available.",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The creator's Profile ID, if available. It corresponds to theid field in the People collection of the Google+ API",
                            "type": "string"
                        },
                        {
                            "name": "self",
                            "desc": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
                            "type": "bool",
                            "default": "false"
                        }
                    ]
                },
                {
                    "name": "gadget",
                    "desc": "A gadget that extends this event.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "title",
                            "desc": "The gadget's title.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "The gadget's type.",
                            "type": "string"
                        },
                        {
                            "name": "width",
                            "desc": "The gadget's width in pixels. The width must be an integer greater than 0. Optional.",
                            "type": "int32"
                        },
                        {
                            "name": "display",
                            "desc": "The gadget's display mode. Optional. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked.",
                            "type": "string"
                        },
                        {
                            "name": "height",
                            "desc": "The gadget's height in pixels. The height must be an integer greater than 0. Optional.",
                            "type": "int32"
                        },
                        {
                            "name": "iconLink",
                            "desc": "The gadget's icon URL. The URL scheme must be HTTPS.",
                            "type": "string"
                        },
                        {
                            "name": "link",
                            "desc": "The gadget's URL. The URL scheme must be HTTPS.",
                            "type": "string"
                        },
                        {
                            "name": "preferences",
                            "desc": "Preferences.",
                            "collection": "map",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "htmlLink",
                    "desc": "An absolute link to this event in the Google Calendar Web UI. Read-only.",
                    "type": "string"
                },
                {
                    "name": "iCalUID",
                    "desc": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs.",
                    "type": "string"
                },
                {
                    "name": "location",
                    "desc": "Geographic location of the event as free-form text. Optional.",
                    "type": "string"
                },
                {
                    "name": "sequence",
                    "desc": "Sequence number as per iCalendar.",
                    "type": "int32"
                },
                {
                    "name": "attendees",
                    "desc": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventAttendee"
                },
                {
                    "name": "colorId",
                    "desc": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional.",
                    "type": "string"
                },
                {
                    "name": "created",
                    "desc": "Creation time of the event (as a RFC3339 timestamp). Read-only.",
                    "type": "datetime"
                },
                {
                    "name": "guestsCanInviteOthers",
                    "desc": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
                    "type": "bool",
                    "default": "true"
                }
            ]
        },
        {
            "name": "EventReminder",
            "type": "object",
            "fields": [
                {
                    "name": "method",
                    "desc": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"sms\" - Reminders are sent via SMS. These are only available for G Suite customers. Requests to set SMS reminders for other account types are ignored. \n- \"popup\" - Reminders are sent via a UI popup.",
                    "type": "string"
                },
                {
                    "name": "minutes",
                    "desc": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Acl",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
                    "type": "string"
                },
                {
                    "name": "nextSyncToken",
                    "desc": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the collection.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "List of rules on the access control list.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AclRule"
                },
                {
                    "name": "kind",
                    "desc": "Type of the collection (\"calendar#acl\").",
                    "type": "string",
                    "default": "calendar#acl"
                }
            ]
        },
        {
            "name": "AclRule",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Identifier of the ACL rule.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource (\"calendar#aclRule\").",
                    "type": "string",
                    "default": "calendar#aclRule"
                },
                {
                    "name": "role",
                    "desc": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
                    "type": "string"
                },
                {
                    "name": "scope",
                    "desc": "The scope of the rule.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "type",
                            "desc": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
                            "type": "string"
                        },
                        {
                            "name": "value",
                            "desc": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\".",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Calendar",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "Description of the calendar. Optional.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource (\"calendar#calendar\").",
                    "type": "string",
                    "default": "calendar#calendar"
                },
                {
                    "name": "location",
                    "desc": "Geographic location of the calendar as free-form text. Optional.",
                    "type": "string"
                },
                {
                    "name": "summary",
                    "desc": "Title of the calendar.",
                    "type": "string"
                },
                {
                    "name": "timeZone",
                    "desc": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EventAttendee",
            "type": "object",
            "fields": [
                {
                    "name": "comment",
                    "desc": "The attendee's response comment. Optional.",
                    "type": "string"
                },
                {
                    "name": "email",
                    "desc": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.",
                    "type": "string"
                },
                {
                    "name": "optional",
                    "desc": "Whether this is an optional attendee. Optional. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "responseStatus",
                    "desc": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation. \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.",
                    "type": "string"
                },
                {
                    "name": "additionalGuests",
                    "desc": "Number of additional guests. Optional. The default is 0.",
                    "type": "int32",
                    "default": "0"
                },
                {
                    "name": "displayName",
                    "desc": "The attendee's name, if available. Optional.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The attendee's Profile ID, if available. It corresponds to theid field in the People collection of the Google+ API",
                    "type": "string"
                },
                {
                    "name": "organizer",
                    "desc": "Whether the attendee is the organizer of the event. Read-only. The default is False.",
                    "type": "bool"
                },
                {
                    "name": "resource",
                    "desc": "Whether the attendee is a resource. Read-only. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "self",
                    "desc": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
                    "type": "bool",
                    "default": "false"
                }
            ]
        },
        {
            "name": "Setting",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The id of the user setting.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource (\"calendar#setting\").",
                    "type": "string",
                    "default": "calendar#setting"
                },
                {
                    "name": "value",
                    "desc": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Settings",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of the collection.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "List of user settings.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Setting"
                },
                {
                    "name": "kind",
                    "desc": "Type of the collection (\"calendar#settings\").",
                    "type": "string",
                    "default": "calendar#settings"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
                    "type": "string"
                },
                {
                    "name": "nextSyncToken",
                    "desc": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CalendarListEntry",
            "type": "object",
            "fields": [
                {
                    "name": "backgroundColor",
                    "desc": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
                    "type": "string"
                },
                {
                    "name": "defaultReminders",
                    "desc": "The default reminders that the authenticated user has for this calendar.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventReminder"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "hidden",
                    "desc": "Whether the calendar has been hidden from the list. Optional. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "summary",
                    "desc": "Title of the calendar. Read-only.",
                    "type": "string"
                },
                {
                    "name": "summaryOverride",
                    "desc": "The summary that the authenticated user has set for this calendar. Optional.",
                    "type": "string"
                },
                {
                    "name": "timeZone",
                    "desc": "The time zone of the calendar. Optional. Read-only.",
                    "type": "string"
                },
                {
                    "name": "accessRole",
                    "desc": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
                    "type": "string"
                },
                {
                    "name": "foregroundColor",
                    "desc": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource (\"calendar#calendarListEntry\").",
                    "type": "string",
                    "default": "calendar#calendarListEntry"
                },
                {
                    "name": "colorId",
                    "desc": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "Description of the calendar. Optional. Read-only.",
                    "type": "string"
                },
                {
                    "name": "notificationSettings",
                    "desc": "The notifications that the authenticated user is receiving for this calendar.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "notifications",
                            "desc": "The list of notifications set for this calendar.",
                            "collection": "array",
                            "type": "ref",
                            "refType": "CalendarNotification"
                        }
                    ]
                },
                {
                    "name": "primary",
                    "desc": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "selected",
                    "desc": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "deleted",
                    "desc": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
                    "type": "bool",
                    "default": "false"
                },
                {
                    "name": "id",
                    "desc": "Identifier of the calendar.",
                    "type": "string"
                },
                {
                    "name": "location",
                    "desc": "Geographic location of the calendar as free-form text. Optional. Read-only.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CalendarNotification",
            "type": "object",
            "fields": [
                {
                    "name": "method",
                    "desc": "The method used to deliver the notification. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"sms\" - Reminders are sent via SMS. This value is read-only and is ignored on inserts and updates. SMS reminders are only available for G Suite customers.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an event is changed. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EventAttachment",
            "type": "object",
            "fields": [
                {
                    "name": "fileId",
                    "desc": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.",
                    "type": "string"
                },
                {
                    "name": "fileUrl",
                    "desc": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.",
                    "type": "string"
                },
                {
                    "name": "iconLink",
                    "desc": "URL link to the attachment's icon. Read-only.",
                    "type": "string"
                },
                {
                    "name": "mimeType",
                    "desc": "Internet media type (MIME type) of the attachment.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "Attachment title.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FreeBusyResponse",
            "type": "object",
            "fields": [
                {
                    "name": "calendars",
                    "desc": "List of free/busy information for calendars.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "FreeBusyCalendar"
                },
                {
                    "name": "groups",
                    "desc": "Expansion of groups.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "FreeBusyGroup"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource (\"calendar#freeBusy\").",
                    "type": "string",
                    "default": "calendar#freeBusy"
                },
                {
                    "name": "timeMax",
                    "desc": "The end of the interval.",
                    "type": "datetime"
                },
                {
                    "name": "timeMin",
                    "desc": "The start of the interval.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "TimePeriod",
            "type": "object",
            "fields": [
                {
                    "name": "end",
                    "desc": "The (exclusive) end of the time period.",
                    "type": "datetime"
                },
                {
                    "name": "start",
                    "desc": "The (inclusive) start of the time period.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "Channel",
            "type": "object",
            "fields": [
                {
                    "name": "params",
                    "desc": "Additional parameters controlling delivery channel behavior. Optional.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "payload",
                    "desc": "A Boolean value to indicate whether payload is wanted. Optional.",
                    "type": "bool"
                },
                {
                    "name": "resourceId",
                    "desc": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
                    "type": "string"
                },
                {
                    "name": "resourceUri",
                    "desc": "A version-specific identifier for the watched resource.",
                    "type": "string"
                },
                {
                    "name": "address",
                    "desc": "The address where notifications are delivered for this channel.",
                    "type": "string"
                },
                {
                    "name": "expiration",
                    "desc": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
                    "type": "int64"
                },
                {
                    "name": "id",
                    "desc": "A UUID or similar unique string that identifies this channel.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
                    "type": "string",
                    "default": "api#channel"
                },
                {
                    "name": "token",
                    "desc": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of delivery mechanism used for this channel.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Events",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Type of the collection (\"calendar#events\").",
                    "type": "string",
                    "default": "calendar#events"
                },
                {
                    "name": "summary",
                    "desc": "Title of the calendar. Read-only.",
                    "type": "string"
                },
                {
                    "name": "timeZone",
                    "desc": "The time zone of the calendar. Read-only.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only.",
                    "type": "datetime"
                },
                {
                    "name": "accessRole",
                    "desc": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
                    "type": "string"
                },
                {
                    "name": "defaultReminders",
                    "desc": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventReminder"
                },
                {
                    "name": "description",
                    "desc": "Description of the calendar. Read-only.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the collection.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "List of events on the calendar.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Event"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
                    "type": "string"
                },
                {
                    "name": "nextSyncToken",
                    "desc": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FreeBusyRequestItem",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The identifier of a calendar or a group.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EventDateTime",
            "type": "object",
            "fields": [
                {
                    "name": "date",
                    "desc": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event.",
                    "type": "date"
                },
                {
                    "name": "dateTime",
                    "desc": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
                    "type": "datetime"
                },
                {
                    "name": "timeZone",
                    "desc": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FreeBusyCalendar",
            "type": "object",
            "fields": [
                {
                    "name": "busy",
                    "desc": "List of time ranges during which this calendar should be regarded as busy.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TimePeriod"
                },
                {
                    "name": "errors",
                    "desc": "Optional error(s) (if computation for the calendar failed).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Error"
                }
            ]
        },
        {
            "name": "FreeBusyGroup",
            "type": "object",
            "fields": [
                {
                    "name": "calendars",
                    "desc": "List of calendars' identifiers within a group.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "errors",
                    "desc": "Optional error(s) (if computation for the group failed).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Error"
                }
            ]
        },
        {
            "name": "FreeBusyRequest",
            "type": "object",
            "fields": [
                {
                    "name": "timeZone",
                    "desc": "Time zone used in the response. Optional. The default is UTC.",
                    "type": "string",
                    "default": "UTC"
                },
                {
                    "name": "calendarExpansionMax",
                    "desc": "Maximal number of calendars for which FreeBusy information is to be provided. Optional.",
                    "type": "int32"
                },
                {
                    "name": "groupExpansionMax",
                    "desc": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error will be returned for a group with more members than this value.",
                    "type": "int32"
                },
                {
                    "name": "items",
                    "desc": "List of calendars and/or groups to query.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "FreeBusyRequestItem"
                },
                {
                    "name": "timeMax",
                    "desc": "The end of the interval for the query.",
                    "type": "datetime"
                },
                {
                    "name": "timeMin",
                    "desc": "The start of the interval for the query.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "CalendarList",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of the collection.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "Calendars that are present on the user's calendar list.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CalendarListEntry"
                },
                {
                    "name": "kind",
                    "desc": "Type of the collection (\"calendar#calendarList\").",
                    "type": "string",
                    "default": "calendar#calendarList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
                    "type": "string"
                },
                {
                    "name": "nextSyncToken",
                    "desc": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ColorDefinition",
            "type": "object",
            "fields": [
                {
                    "name": "background",
                    "desc": "The background color associated with this color definition.",
                    "type": "string"
                },
                {
                    "name": "foreground",
                    "desc": "The foreground color that can be used to write on top of a background with 'background' color.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Error",
            "type": "object",
            "fields": [
                {
                    "name": "domain",
                    "desc": "Domain, or broad category, of the error.",
                    "type": "string"
                },
                {
                    "name": "reason",
                    "desc": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "freebusy",
            "methods": [
                {
                    "name": "query",
                    "desc": "Returns free/busy information for a set of calendars.",
                    "path": "freeBusy",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "request": "FreeBusyRequest",
                    "response": "FreeBusyResponse"
                }
            ]
        },
        {
            "name": "settings",
            "methods": [
                {
                    "name": "get",
                    "desc": "Returns a single user setting.",
                    "path": "users/me/settings/{setting}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "setting",
                            "desc": "The id of the user setting.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Setting"
                },
                {
                    "name": "list",
                    "desc": "Returns all user settings for the authenticated user.",
                    "path": "users/me/settings",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "Token specifying which result page to return. Optional.",
                            "type": "string"
                        },
                        {
                            "name": "syncToken",
                            "desc": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "type": "int32",
                            "min": "1"
                        }
                    ],
                    "response": "Settings"
                },
                {
                    "name": "watch",
                    "desc": "Watch for changes to Settings resources.",
                    "path": "users/me/settings/watch",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "Token specifying which result page to return. Optional.",
                            "type": "string"
                        },
                        {
                            "name": "syncToken",
                            "desc": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "type": "int32",
                            "min": "1"
                        }
                    ],
                    "request": "Channel",
                    "response": "Channel"
                }
            ]
        },
        {
            "name": "acl",
            "methods": [
                {
                    "name": "insert",
                    "desc": "Creates an access control rule.",
                    "path": "calendars/{calendarId}/acl",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "AclRule",
                    "response": "AclRule"
                },
                {
                    "name": "list",
                    "desc": "Returns the rules in the access control list for the calendar.",
                    "path": "calendars/{calendarId}/acl",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "type": "int32",
                            "min": "1"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Token specifying which result page to return. Optional.",
                            "type": "string"
                        },
                        {
                            "name": "showDeleted",
                            "desc": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
                            "type": "bool"
                        },
                        {
                            "name": "syncToken",
                            "desc": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "type": "string"
                        }
                    ],
                    "response": "Acl"
                },
                {
                    "name": "patch",
                    "desc": "Updates an access control rule. This method supports patch semantics.",
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "ruleId",
                            "desc": "ACL rule identifier.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "AclRule",
                    "response": "AclRule"
                },
                {
                    "name": "update",
                    "desc": "Updates an access control rule.",
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "ruleId",
                            "desc": "ACL rule identifier.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "AclRule",
                    "response": "AclRule"
                },
                {
                    "name": "watch",
                    "desc": "Watch for changes to ACL resources.",
                    "path": "calendars/{calendarId}/acl/watch",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "type": "int32",
                            "min": "1"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Token specifying which result page to return. Optional.",
                            "type": "string"
                        },
                        {
                            "name": "showDeleted",
                            "desc": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
                            "type": "bool"
                        },
                        {
                            "name": "syncToken",
                            "desc": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "type": "string"
                        }
                    ],
                    "request": "Channel",
                    "response": "Channel"
                },
                {
                    "name": "delete",
                    "desc": "Deletes an access control rule.",
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "ruleId",
                            "desc": "ACL rule identifier.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Returns an access control rule.",
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "ruleId",
                            "desc": "ACL rule identifier.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "AclRule"
                }
            ]
        },
        {
            "name": "calendarList",
            "methods": [
                {
                    "name": "delete",
                    "desc": "Deletes an entry on the user's calendar list.",
                    "path": "users/me/calendarList/{calendarId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Returns an entry on the user's calendar list.",
                    "path": "users/me/calendarList/{calendarId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "CalendarListEntry"
                },
                {
                    "name": "insert",
                    "desc": "Adds an entry to the user's calendar list.",
                    "path": "users/me/calendarList",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "colorRgbFormat",
                            "desc": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
                            "type": "bool"
                        }
                    ],
                    "request": "CalendarListEntry",
                    "response": "CalendarListEntry"
                },
                {
                    "name": "list",
                    "desc": "Returns entries on the user's calendar list.",
                    "path": "users/me/calendarList",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "minAccessRole",
                            "desc": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "freeBusyReader",
                                    "desc": "The user can read free/busy information."
                                },
                                {
                                    "name": "owner",
                                    "desc": "The user can read and modify events and access control lists."
                                },
                                {
                                    "name": "reader",
                                    "desc": "The user can read events that are not private."
                                },
                                {
                                    "name": "writer",
                                    "desc": "The user can read and modify events."
                                }
                            ]
                        },
                        {
                            "name": "pageToken",
                            "desc": "Token specifying which result page to return. Optional.",
                            "type": "string"
                        },
                        {
                            "name": "showDeleted",
                            "desc": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
                            "type": "bool"
                        },
                        {
                            "name": "showHidden",
                            "desc": "Whether to show hidden entries. Optional. The default is False.",
                            "type": "bool"
                        },
                        {
                            "name": "syncToken",
                            "desc": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "type": "int32",
                            "min": "1"
                        }
                    ],
                    "response": "CalendarList"
                },
                {
                    "name": "patch",
                    "desc": "Updates an entry on the user's calendar list. This method supports patch semantics.",
                    "path": "users/me/calendarList/{calendarId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "colorRgbFormat",
                            "desc": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
                            "type": "bool"
                        }
                    ],
                    "request": "CalendarListEntry",
                    "response": "CalendarListEntry"
                },
                {
                    "name": "update",
                    "desc": "Updates an entry on the user's calendar list.",
                    "path": "users/me/calendarList/{calendarId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "colorRgbFormat",
                            "desc": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
                            "type": "bool"
                        }
                    ],
                    "request": "CalendarListEntry",
                    "response": "CalendarListEntry"
                },
                {
                    "name": "watch",
                    "desc": "Watch for changes to CalendarList resources.",
                    "path": "users/me/calendarList/watch",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "showHidden",
                            "desc": "Whether to show hidden entries. Optional. The default is False.",
                            "type": "bool"
                        },
                        {
                            "name": "syncToken",
                            "desc": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "type": "int32",
                            "min": "1"
                        },
                        {
                            "name": "minAccessRole",
                            "desc": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "freeBusyReader",
                                    "desc": "The user can read free/busy information."
                                },
                                {
                                    "name": "owner",
                                    "desc": "The user can read and modify events and access control lists."
                                },
                                {
                                    "name": "reader",
                                    "desc": "The user can read events that are not private."
                                },
                                {
                                    "name": "writer",
                                    "desc": "The user can read and modify events."
                                }
                            ]
                        },
                        {
                            "name": "pageToken",
                            "desc": "Token specifying which result page to return. Optional.",
                            "type": "string"
                        },
                        {
                            "name": "showDeleted",
                            "desc": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
                            "type": "bool"
                        }
                    ],
                    "request": "Channel",
                    "response": "Channel"
                }
            ]
        },
        {
            "name": "calendars",
            "methods": [
                {
                    "name": "clear",
                    "desc": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
                    "path": "calendars/{calendarId}/clear",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "delete",
                    "desc": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
                    "path": "calendars/{calendarId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Returns metadata for a calendar.",
                    "path": "calendars/{calendarId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Calendar"
                },
                {
                    "name": "insert",
                    "desc": "Creates a secondary calendar.",
                    "path": "calendars",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "request": "Calendar",
                    "response": "Calendar"
                },
                {
                    "name": "patch",
                    "desc": "Updates metadata for a calendar. This method supports patch semantics.",
                    "path": "calendars/{calendarId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Calendar",
                    "response": "Calendar"
                },
                {
                    "name": "update",
                    "desc": "Updates metadata for a calendar.",
                    "path": "calendars/{calendarId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Calendar",
                    "response": "Calendar"
                }
            ]
        },
        {
            "name": "channels",
            "methods": [
                {
                    "name": "stop",
                    "desc": "Stop watching resources through this channel",
                    "path": "channels/stop",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "request": "Channel"
                }
            ]
        },
        {
            "name": "colors",
            "methods": [
                {
                    "name": "get",
                    "desc": "Returns the color definitions for calendars and events.",
                    "path": "colors",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "response": "Colors"
                }
            ]
        },
        {
            "name": "events",
            "methods": [
                {
                    "name": "import",
                    "desc": "Imports an event. This operation is used to add a private copy of an existing event to a calendar.",
                    "path": "calendars/{calendarId}/events/import",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "supportsAttachments",
                            "desc": "Whether API client performing operation supports event attachments. Optional. The default is False.",
                            "type": "bool"
                        }
                    ],
                    "request": "Event",
                    "response": "Event"
                },
                {
                    "name": "move",
                    "desc": "Moves an event to another calendar, i.e. changes an event's organizer.",
                    "path": "calendars/{calendarId}/events/{eventId}/move",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier of the source calendar where the event currently is on.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "eventId",
                            "desc": "Event identifier.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "destination",
                            "desc": "Calendar identifier of the target calendar where the event is to be moved to.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "sendNotifications",
                            "desc": "Whether to send notifications about the change of the event's organizer. Optional. The default is False.",
                            "type": "bool"
                        }
                    ],
                    "response": "Event"
                },
                {
                    "name": "quickAdd",
                    "desc": "Creates an event based on a simple text string.",
                    "path": "calendars/{calendarId}/events/quickAdd",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "text",
                            "desc": "The text describing the event to be created.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "sendNotifications",
                            "desc": "Whether to send notifications about the creation of the event. Optional. The default is False.",
                            "type": "bool"
                        }
                    ],
                    "response": "Event"
                },
                {
                    "name": "list",
                    "desc": "Returns events on the specified calendar.",
                    "path": "calendars/{calendarId}/events",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "calendarId",
                            "desc": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxAttendees",
[...]
