{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "manufacturers:v1",
    "name": "manufacturers",
    "version": "v1",
    "title": "Manufacturer Center API",
    "description": "Public API for managing Manufacturer Center related data.",
    "documentationLink": "https://developers.google.com/manufacturers/",
    "protocol": "rest",
    "rootUrl": "https://manufacturers.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/manufacturercenter"
        ]
    },
    "parameters": [
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Product",
            "desc": "Product data.",
            "type": "object",
            "fields": [
                {
                    "name": "issues",
                    "desc": "A server-generated list of issues associated with the product.\n@OutputOnly",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Issue"
                },
                {
                    "name": "manuallyDeletedAttributes",
                    "desc": "Names of the attributes of the product deleted manually via the\nManufacturer Center UI.\n@OutputOnly",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "The ID of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "manuallyProvidedAttributes",
                    "desc": "Attributes of the product provided manually via the Manufacturer Center UI.\n@OutputOnly",
                    "type": "ref",
                    "refType": "Attributes"
                },
                {
                    "name": "targetCountry",
                    "desc": "The target country of the product as a CLDR territory code (for example,\nUS).\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "finalAttributes",
                    "desc": "Final attributes of the product. The final attributes are obtained by\noverriding the uploaded attributes with the manually provided and deleted\nattributes. Google systems only process, evaluate, review, and/or use final\nattributes.\n@OutputOnly",
                    "type": "ref",
                    "refType": "Attributes"
                },
                {
                    "name": "uploadedAttributes",
                    "desc": "Attributes of the product uploaded via the Manufacturer Center API or via\nfeeds.",
                    "type": "ref",
                    "refType": "Attributes"
                },
                {
                    "name": "parent",
                    "desc": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "contentLanguage",
                    "desc": "The content language of the product as a two-letter ISO 639-1 language code\n(for example, en).\n@OutputOnly",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Attributes",
            "desc": "Attributes of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116.",
            "type": "object",
            "fields": [
                {
                    "name": "productPageUrl",
                    "desc": "The URL of the manufacturer's detail page of the product. For more\ninformation, see\nhttps://support.google.com/manufacturers/answer/6124116#productpage.",
                    "type": "string"
                },
                {
                    "name": "mpn",
                    "desc": "The Manufacturer Part Number (MPN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#mpn.",
                    "type": "string"
                },
                {
                    "name": "gtin",
                    "desc": "The Global Trade Item Number (GTIN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#gtin.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "The title of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#title.",
                    "type": "string"
                },
                {
                    "name": "productLine",
                    "desc": "The name of the group of products related to the product. For more\ninformation, see\nhttps://support.google.com/manufacturers/answer/6124116#productline.",
                    "type": "string"
                },
                {
                    "name": "brand",
                    "desc": "The brand name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#brand.",
                    "type": "string"
                },
                {
                    "name": "productName",
                    "desc": "The canonical name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productname.",
                    "type": "string"
                },
                {
                    "name": "productType",
                    "desc": "The manufacturer's category of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#producttype.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListProductsResponse",
            "type": "object",
            "fields": [
                {
                    "name": "products",
                    "desc": "List of the products.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Product"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token for the retrieval of the next page of product statuses.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Issue",
            "desc": "Product issue.",
            "type": "object",
            "fields": [
                {
                    "name": "attribute",
                    "desc": "If present, the attribute that triggered the issue. For more information\nabout attributes, see\nhttps://support.google.com/manufacturers/answer/6124116.",
                    "type": "string"
                },
                {
                    "name": "severity",
                    "desc": "The severity of the issue.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SEVERITY_UNSPECIFIED",
                            "desc": "Unspecified severity, never used."
                        },
                        {
                            "name": "ERROR",
                            "desc": "Error severity. The issue prevents the usage of the whole item."
                        },
                        {
                            "name": "WARNING",
                            "desc": "Warning severity. The issue is either one that prevents the usage of the\nattribute that triggered it or one that will soon prevent the usage of\nthe whole item."
                        },
                        {
                            "name": "INFO",
                            "desc": "Info severity. The issue is one that doesn't require immediate attention.\nIt is, for example, used to communicate which attributes are still\npending review."
                        }
                    ]
                },
                {
                    "name": "description",
                    "desc": "Description of the issue.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The server-generated type of the issue, for example,\n“INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "accounts",
            "resources": [
                {
                    "name": "products",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "Lists all the products in a Manufacturer Center account.",
                            "path": "v1/{+parent}/products",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/manufacturercenter"
                            ],
                            "pathParams": [
                                {
                                    "name": "parent",
                                    "desc": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^accounts/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageToken",
                                    "desc": "The token returned by the previous request.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "Maximum number of product statuses to return in the response, used for\npaging.",
                                    "type": "int32"
                                }
                            ],
                            "response": "ListProductsResponse"
                        },
                        {
                            "name": "get",
                            "desc": "Gets the product from a Manufacturer Center account, including product\nissues.",
                            "path": "v1/{+parent}/products/{+name}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/manufacturercenter"
                            ],
                            "pathParams": [
                                {
                                    "name": "parent",
                                    "desc": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^accounts/[^/]+$"
                                },
                                {
                                    "name": "name",
                                    "desc": "Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^[^/]+$"
                                }
                            ],
                            "response": "Product"
                        }
                    ]
                }
            ]
        }
    ]
}