{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "pubsub:v1beta1a",
    "name": "pubsub",
    "version": "v1beta1a",
    "title": "Google Cloud Pub/Sub API",
    "description": "Provides reliable, many-to-many, asynchronous messaging between applications.\n",
    "documentationLink": "https://cloud.google.com/pubsub/docs",
    "protocol": "rest",
    "rootUrl": "https://pubsub.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/pubsub",
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Label",
            "desc": "A key-value pair applied to a given object.",
            "type": "object",
            "fields": [
                {
                    "name": "strValue",
                    "desc": "A string value.",
                    "type": "string"
                },
                {
                    "name": "numValue",
                    "desc": "An integer value.",
                    "type": "int64"
                },
                {
                    "name": "key",
                    "desc": "The key of a label is a syntactically valid URL (as per RFC 1738) with\nthe \"scheme\" and initial slashes omitted and with the additional\nrestrictions noted below.  Each key should be globally unique.  The\n\"host\" portion is called the \"namespace\" and is not necessarily\nresolvable to a network endpoint.  Instead, the namespace indicates what\nsystem or entity defines the semantics of the label.  Namespaces do not\nrestrict the set of objects to which a label may be associated.\n\nKeys are defined by the following grammar:\n\n  key          = hostname \"/\" kpath\n  kpath        = ksegment *[ \"/\" ksegment ]\n  ksegment     = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ]\n\nwhere \"hostname\" and \"alphadigit\" are defined as in RFC 1738.\n\nExample key:\n  spanner.google.com/universe",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PullBatchRequest",
            "desc": "Request for the PullBatch method.",
            "type": "object",
            "fields": [
                {
                    "name": "maxEvents",
                    "desc": "The maximum number of PubsubEvents returned for this request. The Pub/Sub\nsystem may return fewer than the number of events specified.",
                    "type": "int32"
                },
                {
                    "name": "subscription",
                    "desc": "The subscription from which messages should be pulled.",
                    "type": "string"
                },
                {
                    "name": "returnImmediately",
                    "desc": "If this is specified as true the system will respond immediately even if\nit is not able to return a message in the Pull response. Otherwise the\nsystem is allowed to wait until at least one message is available rather\nthan returning no messages. The client may cancel the request if it does\nnot wish to wait any longer for the response.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "PullBatchResponse",
            "desc": "Response for the PullBatch method.",
            "type": "object",
            "fields": [
                {
                    "name": "pullResponses",
                    "desc": "Received Pub/Sub messages or status events. The Pub/Sub system will return\nzero messages if there are no more messages available in the backlog. The\nPub/Sub system may return fewer than the max_events requested even if\nthere are more messages available in the backlog.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PullResponse"
                }
            ]
        },
        {
            "name": "PushConfig",
            "desc": "Configuration for a push delivery endpoint.",
            "type": "object",
            "fields": [
                {
                    "name": "pushEndpoint",
                    "desc": "A URL locating the endpoint to which messages should be pushed.\nFor example, a Webhook endpoint might use \"https://example.com/push\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PubsubEvent",
            "desc": "An event indicating a received message or truncation event.",
            "type": "object",
            "fields": [
                {
                    "name": "deleted",
                    "desc": "Indicates that this subscription has been deleted. (Note that pull\nsubscribers will always receive NOT_FOUND in response in their pull\nrequest on the subscription, rather than seeing this boolean.)",
                    "type": "bool"
                },
                {
                    "name": "message",
                    "desc": "A received message.",
                    "type": "ref",
                    "refType": "PubsubMessage"
                },
                {
                    "name": "subscription",
                    "desc": "The subscription that received the event.",
                    "type": "string"
                },
                {
                    "name": "truncated",
                    "desc": "Indicates that this subscription has been truncated.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "PublishRequest",
            "desc": "Request for the Publish method.",
            "type": "object",
            "fields": [
                {
                    "name": "topic",
                    "desc": "The message in the request will be published on this topic.",
                    "type": "string"
                },
                {
                    "name": "message",
                    "desc": "The message to publish.",
                    "type": "ref",
                    "refType": "PubsubMessage"
                }
            ]
        },
        {
            "name": "Topic",
            "desc": "A topic resource.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Name of the topic.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AcknowledgeRequest",
            "desc": "Request for the Acknowledge method.",
            "type": "object",
            "fields": [
                {
                    "name": "subscription",
                    "desc": "The subscription whose message is being acknowledged.",
                    "type": "string"
                },
                {
                    "name": "ackId",
                    "desc": "The acknowledgment ID for the message being acknowledged. This was\nreturned by the Pub/Sub system in the Pull response.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PublishBatchRequest",
            "desc": "Request for the PublishBatch method.",
            "type": "object",
            "fields": [
                {
                    "name": "messages",
                    "desc": "The messages to publish.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PubsubMessage"
                },
                {
                    "name": "topic",
                    "desc": "The messages in the request will be published on this topic.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PullResponse",
            "desc": "Either a \u003ccode\u003ePubsubMessage\u003c/code\u003e or a truncation event. One of these two\nmust be populated.",
            "type": "object",
            "fields": [
                {
                    "name": "ackId",
                    "desc": "This ID must be used to acknowledge the received event or message.",
                    "type": "string"
                },
                {
                    "name": "pubsubEvent",
                    "desc": "A pubsub message or truncation event.",
                    "type": "ref",
                    "refType": "PubsubEvent"
                }
            ]
        },
        {
            "name": "Empty",
            "desc": "An empty message that you can re-use to avoid defining duplicated empty\nmessages in your project. A typical example is to use it as argument or the\nreturn value of a service API. For instance:\n\n  service Foo {\n    rpc Bar (proto2.Empty) returns (proto2.Empty) { };\n  };\n\nBEGIN GOOGLE-INTERNAL\nThe difference between this one and net/rpc/empty-message.proto is that\n1) The generated message here is in proto2 C++ API.\n2) The proto2.Empty has minimum dependencies\n   (no message_set or net/rpc dependencies)\nEND GOOGLE-INTERNAL",
            "type": "object"
        },
        {
            "name": "ListTopicsResponse",
            "desc": "Response for the ListTopics method.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "If not empty, indicates that there are more topics that match the request,\nand this value should be passed to the next \u003ccode\u003eListTopicsRequest\u003c/code\u003e\nto continue.",
                    "type": "string"
                },
                {
                    "name": "topic",
                    "desc": "The resulting topics.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Topic"
                }
            ]
        },
        {
            "name": "PublishBatchResponse",
            "desc": "Response for the PublishBatch method.",
            "type": "object",
            "fields": [
                {
                    "name": "messageIds",
                    "desc": "The server-assigned ID of each published message, in the same order as\nthe messages in the request. IDs are guaranteed to be unique within\nthe topic.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Subscription",
            "desc": "A subscription resource.",
            "type": "object",
            "fields": [
                {
                    "name": "topic",
                    "desc": "The name of the topic from which this subscription is receiving messages.",
                    "type": "string"
                },
                {
                    "name": "pushConfig",
                    "desc": "If push delivery is used with this subscription, this field is\nused to configure it.",
                    "type": "ref",
                    "refType": "PushConfig"
                },
                {
                    "name": "ackDeadlineSeconds",
                    "desc": "For either push or pull delivery, the value is the maximum time after a\nsubscriber receives a message before the subscriber should acknowledge or\nNack the message. If the Ack deadline for a message passes without an\nAck or a Nack, the Pub/Sub system will eventually redeliver the message.\nIf a subscriber acknowledges after the deadline, the Pub/Sub system may\naccept the Ack, but it is possible that the message has been already\ndelivered again. Multiple Acks to the message are allowed and will\nsucceed.\n\nFor push delivery, this value is used to set the request timeout for\nthe call to the push endpoint.\n\nFor pull delivery, this value is used as the initial value for the Ack\ndeadline. It may be overridden for each message using its corresponding\nack_id with \u003ccode\u003eModifyAckDeadline\u003c/code\u003e.\nWhile a message is outstanding (i.e. it has been delivered to a pull\nsubscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub\nsystem will not deliver that message to another pull subscriber\n(on a best-effort basis).",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "Name of the subscription.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListSubscriptionsResponse",
            "desc": "Response for the ListSubscriptions method.",
            "type": "object",
            "fields": [
                {
                    "name": "subscription",
                    "desc": "The subscriptions that match the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Subscription"
                },
                {
                    "name": "nextPageToken",
                    "desc": "If not empty, indicates that there are more subscriptions that match the\nrequest and this value should be passed to the next\n\u003ccode\u003eListSubscriptionsRequest\u003c/code\u003e to continue.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ModifyAckDeadlineRequest",
            "desc": "Request for the ModifyAckDeadline method.",
            "type": "object",
            "fields": [
                {
                    "name": "ackIds",
                    "desc": "List of acknowledgment IDs. Either this field or ack_id\nshould be populated, not both.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "subscription",
                    "desc": "Next Index: 5\nThe name of the subscription from which messages are being pulled.",
                    "type": "string"
                },
                {
                    "name": "ackId",
                    "desc": "The acknowledgment ID. Either this or ack_ids must be populated,\nnot both.",
                    "type": "string"
                },
                {
                    "name": "ackDeadlineSeconds",
                    "desc": "The new ack deadline with respect to the time this request was sent to the\nPub/Sub system. Must be \u003e= 0. For example, if the value is 10, the new ack\ndeadline will expire 10 seconds after the ModifyAckDeadline call was made.\nSpecifying zero may immediately make the message available for another pull\nrequest.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ModifyPushConfigRequest",
            "desc": "Request for the ModifyPushConfig method.",
            "type": "object",
            "fields": [
                {
                    "name": "pushConfig",
                    "desc": "An empty \u003ccode\u003epush_config\u003c/code\u003e indicates that the Pub/Sub system should\npause pushing messages from the given subscription.",
                    "type": "ref",
                    "refType": "PushConfig"
                },
                {
                    "name": "subscription",
                    "desc": "The name of the subscription.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PubsubMessage",
            "desc": "A message data and its labels.",
            "type": "object",
            "fields": [
                {
                    "name": "data",
                    "desc": "The message payload.",
                    "type": "byte"
                },
                {
                    "name": "messageId",
                    "desc": "ID of this message assigned by the server at publication time. Guaranteed\nto be unique within the topic. This value may be read by a subscriber\nthat receives a PubsubMessage via a Pull call or a push delivery. It must\nnot be populated by a publisher in a Publish call.",
                    "type": "string"
                },
                {
                    "name": "label",
                    "desc": "Optional list of labels for this message. Keys in this collection must\nbe unique.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Label"
                },
                {
                    "name": "publishTime",
                    "desc": "The time at which the message was published.\nThe time is milliseconds since the UNIX epoch.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "PullRequest",
            "desc": "Request for the Pull method.",
            "type": "object",
            "fields": [
                {
                    "name": "subscription",
                    "desc": "The subscription from which a message should be pulled.",
                    "type": "string"
                },
                {
                    "name": "returnImmediately",
                    "desc": "If this is specified as true the system will respond immediately even if\nit is not able to return a message in the Pull response. Otherwise the\nsystem is allowed to wait until at least one message is available rather\nthan returning FAILED_PRECONDITION. The client may cancel the request if\nit does not wish to wait any longer for the response.",
                    "type": "bool"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "subscriptions",
            "methods": [
                {
                    "name": "acknowledge",
                    "desc": "Acknowledges a particular received message: the Pub/Sub system can remove\nthe given message from the subscription. Acknowledging a message whose\nAck deadline has expired may succeed, but the message could have been\nalready redelivered. Acknowledging a message more than once will not\nresult in an error. This is only used for messages received via pull.",
                    "path": "v1beta1a/subscriptions/acknowledge",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "request": "AcknowledgeRequest",
                    "response": "Empty"
                },
                {
                    "name": "get",
                    "desc": "Gets the configuration details of a subscription.",
                    "path": "v1beta1a/subscriptions/{+subscription}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "pathParams": [
                        {
                            "name": "subscription",
                            "desc": "The name of the subscription to get.",
                            "required": true,
                            "type": "string",
                            "pattern": "^.+$"
                        }
                    ],
                    "response": "Subscription"
                },
                {
                    "name": "modifyPushConfig",
                    "desc": "Modifies the \u003ccode\u003ePushConfig\u003c/code\u003e for a specified subscription.\nThis method can be used to suspend the flow of messages to an endpoint\nby clearing the \u003ccode\u003ePushConfig\u003c/code\u003e field in the request. Messages\nwill be accumulated for delivery even if no push configuration is\ndefined or while the configuration is modified.",
                    "path": "v1beta1a/subscriptions/modifyPushConfig",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "request": "ModifyPushConfigRequest",
                    "response": "Empty"
                },
                {
                    "name": "pull",
                    "desc": "Pulls a single message from the server.\nIf return_immediately is true, and no messages are available in the\nsubscription, this method returns FAILED_PRECONDITION. The system is free\nto return an UNAVAILABLE error if no messages are available in a\nreasonable amount of time (to reduce system load).",
                    "path": "v1beta1a/subscriptions/pull",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "request": "PullRequest",
                    "response": "PullResponse"
                },
                {
                    "name": "delete",
                    "desc": "Deletes an existing subscription. All pending messages in the subscription\nare immediately dropped. Calls to Pull after deletion will return\nNOT_FOUND.",
                    "path": "v1beta1a/subscriptions/{+subscription}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "pathParams": [
                        {
                            "name": "subscription",
                            "desc": "The subscription to delete.",
                            "required": true,
                            "type": "string",
                            "pattern": "^.+$"
                        }
                    ],
                    "response": "Empty"
                },
                {
                    "name": "create",
                    "desc": "Creates a subscription on a given topic for a given subscriber.\nIf the subscription already exists, returns ALREADY_EXISTS.\nIf the corresponding topic doesn't exist, returns NOT_FOUND.\n\nIf the name is not provided in the request, the server will assign a random\nname for this subscription on the same project as the topic.",
                    "path": "v1beta1a/subscriptions",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "request": "Subscription",
                    "response": "Subscription"
                },
                {
                    "name": "modifyAckDeadline",
                    "desc": "Modifies the Ack deadline for a message received from a pull request.",
                    "path": "v1beta1a/subscriptions/modifyAckDeadline",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "request": "ModifyAckDeadlineRequest",
                    "response": "Empty"
                },
                {
                    "name": "pullBatch",
                    "desc": "Pulls messages from the server. Returns an empty list if there are no\nmessages available in the backlog. The system is free to return UNAVAILABLE\nif there are too many pull requests outstanding for the given subscription.",
                    "path": "v1beta1a/subscriptions/pullBatch",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "request": "PullBatchRequest",
                    "response": "PullBatchResponse"
                },
                {
                    "name": "list",
                    "desc": "Lists matching subscriptions.",
                    "path": "v1beta1a/subscriptions",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "The value obtained in the last \u003ccode\u003eListSubscriptionsResponse\u003c/code\u003e\nfor continuation.",
                            "type": "string"
                        },
                        {
                            "name": "query",
                            "desc": "A valid label query expression.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of subscriptions to return.",
                            "type": "int32"
                        }
                    ],
                    "response": "ListSubscriptionsResponse"
                }
            ]
        },
        {
            "name": "topics",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets the configuration of a topic. Since the topic only has the name\nattribute, this method is only useful to check the existence of a topic.\nIf other attributes are added in the future, they will be returned here.",
                    "path": "v1beta1a/topics/{+topic}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "pathParams": [
                        {
                            "name": "topic",
                            "desc": "The name of the topic to get.",
                            "required": true,
                            "type": "string",
                            "pattern": "^.+$"
                        }
                    ],
                    "response": "Topic"
                },
                {
                    "name": "publish",
                    "desc": "Adds a message to the topic.  Returns NOT_FOUND if the topic does not\nexist.",
                    "path": "v1beta1a/topics/publish",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "request": "PublishRequest",
                    "response": "Empty"
                },
                {
                    "name": "delete",
                    "desc": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does\nnot exist. After a topic is deleted, a new topic may be created with the\nsame name.",
                    "path": "v1beta1a/topics/{+topic}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "pathParams": [
                        {
                            "name": "topic",
                            "desc": "Name of the topic to delete.",
                            "required": true,
                            "type": "string",
                            "pattern": "^.+$"
                        }
                    ],
                    "response": "Empty"
                },
                {
                    "name": "publishBatch",
                    "desc": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does\nnot exist.",
                    "path": "v1beta1a/topics/publishBatch",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "request": "PublishBatchRequest",
                    "response": "PublishBatchResponse"
                },
                {
                    "name": "list",
                    "desc": "Lists matching topics.",
                    "path": "v1beta1a/topics",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "The value obtained in the last \u003ccode\u003eListTopicsResponse\u003c/code\u003e\nfor continuation.",
                            "type": "string"
                        },
                        {
                            "name": "query",
                            "desc": "A valid label query expression.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of topics to return.",
                            "type": "int32"
                        }
                    ],
                    "response": "ListTopicsResponse"
                },
                {
                    "name": "create",
                    "desc": "Creates the given topic with the given name.",
                    "path": "v1beta1a/topics",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/pubsub"
                    ],
                    "request": "Topic",
                    "response": "Topic"
                }
            ]
        }
    ]
}