{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/HY0tRuJ-vWPnM8lK2hqBBFUYsUk\"",
    "discoveryVersion": "v1",
    "id": "sqladmin:v1beta4",
    "name": "sqladmin",
    "version": "v1beta4",
    "title": "Cloud SQL Administration API",
    "description": "Creates and configures Cloud SQL instances, which provide fully-managed MySQL databases.",
    "documentationLink": "https://cloud.google.com/sql/docs/reference/latest",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "DatabasesListResponse",
            "desc": "Database list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of database resources in the instance.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Database"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#databasesList.",
                    "type": "string",
                    "default": "sql#databasesList"
                }
            ]
        },
        {
            "name": "FailoverContext",
            "desc": "Database instance failover context.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#failoverContext.",
                    "type": "string",
                    "default": "sql#failoverContext"
                },
                {
                    "name": "settingsVersion",
                    "desc": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "MySqlReplicaConfiguration",
            "desc": "Read-replica configuration specific to MySQL databases.",
            "type": "object",
            "fields": [
                {
                    "name": "masterHeartbeatPeriod",
                    "desc": "Interval in milliseconds between replication heartbeats.",
                    "type": "int64"
                },
                {
                    "name": "verifyServerCertificate",
                    "desc": "Whether or not to check the master's Common Name value in the certificate that it sends during the SSL handshake.",
                    "type": "bool"
                },
                {
                    "name": "clientCertificate",
                    "desc": "PEM representation of the slave's x509 certificate.",
                    "type": "string"
                },
                {
                    "name": "clientKey",
                    "desc": "PEM representation of the slave's private key. The corresponsing public key is encoded in the client's certificate.",
                    "type": "string"
                },
                {
                    "name": "connectRetryInterval",
                    "desc": "Seconds to wait between connect retries. MySQL's default is 60 seconds.",
                    "type": "int32"
                },
                {
                    "name": "password",
                    "desc": "The password for the replication connection.",
                    "type": "string"
                },
                {
                    "name": "sslCipher",
                    "desc": "A list of permissible ciphers to use for SSL encryption.",
                    "type": "string"
                },
                {
                    "name": "username",
                    "desc": "The username for the replication connection.",
                    "type": "string"
                },
                {
                    "name": "caCertificate",
                    "desc": "PEM representation of the trusted CA's x509 certificate.",
                    "type": "string"
                },
                {
                    "name": "dumpFilePath",
                    "desc": "Path to a SQL dump file in Google Cloud Storage from which the slave instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps should have the binlog co-ordinates from which replication should begin. This can be accomplished by setting --master-data to 1 when using mysqldump.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#mysqlReplicaConfiguration.",
                    "type": "string",
                    "default": "sql#mysqlReplicaConfiguration"
                }
            ]
        },
        {
            "name": "SslCertsCreateEphemeralRequest",
            "desc": "SslCerts create ephemeral certificate request.",
            "type": "object",
            "fields": [
                {
                    "name": "public_key",
                    "desc": "PEM encoded public key to include in the signed certificate.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Database",
            "desc": "A database resource inside a Cloud SQL instance.",
            "type": "object",
            "fields": [
                {
                    "name": "project",
                    "desc": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "The URI of this resource.",
                    "type": "string"
                },
                {
                    "name": "charset",
                    "desc": "The MySQL charset value.",
                    "type": "string"
                },
                {
                    "name": "collation",
                    "desc": "The MySQL collation value.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "HTTP 1.1 Entity tag for the resource.",
                    "type": "string"
                },
                {
                    "name": "instance",
                    "desc": "The name of the Cloud SQL instance. This does not include the project ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#database.",
                    "type": "string",
                    "default": "sql#database"
                },
                {
                    "name": "name",
                    "desc": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Labels",
            "desc": "User defined labels for Cloud SQL instances.",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "desc": "The key of the label.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "The value of the label.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ReplicaConfiguration",
            "desc": "Read-replica configuration for connecting to the master.",
            "type": "object",
            "fields": [
                {
                    "name": "failoverTarget",
                    "desc": "Specifies if the replica is the failover target. If the field is set to true the replica will be designated as a failover replica. In case the master instance fails, the replica instance will be promoted as the new master instance.\nOnly one replica can be specified as failover target, and the replica has to be in different zone with the master instance.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#replicaConfiguration.",
                    "type": "string",
                    "default": "sql#replicaConfiguration"
                },
                {
                    "name": "mysqlReplicaConfiguration",
                    "desc": "MySQL specific configuration when replicating from a MySQL on-premises master. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named master.info in the data directory.",
                    "type": "ref",
                    "refType": "MySqlReplicaConfiguration"
                }
            ]
        },
        {
            "name": "SslCert",
            "desc": "SslCerts Resource",
            "type": "object",
            "fields": [
                {
                    "name": "sha1Fingerprint",
                    "desc": "Sha1 Fingerprint.",
                    "type": "string"
                },
                {
                    "name": "cert",
                    "desc": "PEM representation.",
                    "type": "string"
                },
                {
                    "name": "commonName",
                    "desc": "User supplied name. Constrained to [a-zA-Z.-_ ]+.",
                    "type": "string"
                },
                {
                    "name": "expirationTime",
                    "desc": "The time when the certificate expires in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "instance",
                    "desc": "Name of the database instance.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#sslCert.",
                    "type": "string",
                    "default": "sql#sslCert"
                },
                {
                    "name": "selfLink",
                    "desc": "The URI of this resource.",
                    "type": "string"
                },
                {
                    "name": "certSerialNumber",
                    "desc": "Serial number, as extracted from the certificate.",
                    "type": "string"
                },
                {
                    "name": "createTime",
                    "desc": "The time when the certificate was created in RFC 3339 format, for example 2012-11-15T16:19:00.094Z",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "TruncateLogContext",
            "desc": "Database Instance truncate log context.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#truncateLogContext.",
                    "type": "string",
                    "default": "sql#truncateLogContext"
                },
                {
                    "name": "logType",
                    "desc": "The type of log to truncate. Valid values are MYSQL_GENERAL_TABLE and MYSQL_SLOW_TABLE.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesExportRequest",
            "desc": "Database instance export request.",
            "type": "object",
            "fields": [
                {
                    "name": "exportContext",
                    "desc": "Contains details about the export operation.",
                    "type": "ref",
                    "refType": "ExportContext"
                }
            ]
        },
        {
            "name": "InstancesRestoreBackupRequest",
            "desc": "Database instance restore backup request.",
            "type": "object",
            "fields": [
                {
                    "name": "restoreBackupContext",
                    "desc": "Parameters required to perform the restore backup operation.",
                    "type": "ref",
                    "refType": "RestoreBackupContext"
                }
            ]
        },
        {
            "name": "IpMapping",
            "desc": "Database instance IP Mapping.",
            "type": "object",
            "fields": [
                {
                    "name": "ipAddress",
                    "desc": "The IP address assigned.",
                    "type": "string"
                },
                {
                    "name": "timeToRetire",
                    "desc": "The due time for this IP to be retired in RFC 3339 format, for example 2012-11-15T16:19:00.094Z. This field is only available when the IP is scheduled to be retired.",
                    "type": "datetime"
                },
                {
                    "name": "type",
                    "desc": "The type of this IP address. A PRIMARY address is an address that can accept incoming connections. An OUTGOING address is the source address of connections originating from the instance, if supported.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OnPremisesConfiguration",
            "desc": "On-premises instance configuration.",
            "type": "object",
            "fields": [
                {
                    "name": "hostPort",
                    "desc": "The host and port of the on-premises instance in host:port format",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#onPremisesConfiguration.",
                    "type": "string",
                    "default": "sql#onPremisesConfiguration"
                }
            ]
        },
        {
            "name": "Tier",
            "desc": "A Google Cloud SQL service tier resource.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#tier.",
                    "type": "string",
                    "default": "sql#tier"
                },
                {
                    "name": "region",
                    "desc": "The applicable regions for this tier.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "tier",
                    "desc": "An identifier for the service tier, for example D1, D2 etc. For related information, see Pricing.",
                    "type": "string"
                },
                {
                    "name": "DiskQuota",
                    "desc": "The maximum disk size of this tier in bytes.",
                    "type": "int64"
                },
                {
                    "name": "RAM",
                    "desc": "The maximum RAM usage of this tier in bytes.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "DatabaseInstance",
            "desc": "A Cloud SQL instance resource.",
            "type": "object",
            "fields": [
                {
                    "name": "connectionName",
                    "desc": "Connection name of the Cloud SQL instance used in connection strings.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#instance.",
                    "type": "string",
                    "default": "sql#instance"
                },
                {
                    "name": "masterInstanceName",
                    "desc": "The name of the instance which will act as master in the replication setup.",
                    "type": "string"
                },
                {
                    "name": "suspensionReason",
                    "desc": "If the instance state is SUSPENDED, the reason for the suspension.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "state",
                    "desc": "The current serving state of the Cloud SQL instance. This can be one of the following.\nRUNNABLE: The instance is running, or is ready to run when accessed.\nSUSPENDED: The instance is not available, for example due to problems with billing.\nPENDING_CREATE: The instance is being created.\nMAINTENANCE: The instance is down for maintenance.\nFAILED: The instance creation failed.\nUNKNOWN_STATE: The state of the instance is unknown.",
                    "type": "string"
                },
                {
                    "name": "backendType",
                    "desc": "FIRST_GEN: Basic Cloud SQL instance that runs in a Google-managed container.\nSECOND_GEN: A newer Cloud SQL backend that runs in a Compute Engine VM.\nEXTERNAL: A MySQL server that is not managed by Google.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "HTTP 1.1 Entity tag for the resource.",
                    "type": "string"
                },
                {
                    "name": "instanceType",
                    "desc": "The instance type. This can be one of the following.\nCLOUD_SQL_INSTANCE: A Cloud SQL instance that is not replicating from a master.\nON_PREMISES_INSTANCE: An instance running on the customer's premises.\nREAD_REPLICA_INSTANCE: A Cloud SQL instance configured as a read-replica.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of the Cloud SQL instance. This does not include the project ID.",
                    "type": "string"
                },
                {
                    "name": "serverCaCert",
                    "desc": "SSL configuration.",
                    "type": "ref",
                    "refType": "SslCert"
                },
                {
                    "name": "serviceAccountEmailAddress",
                    "desc": "The service account email address assigned to the instance. This property is applicable only to Second Generation instances.",
                    "type": "string"
                },
                {
                    "name": "databaseVersion",
                    "desc": "The database engine type and version. The databaseVersion can not be changed after instance creation. Can be MYSQL_5_5, MYSQL_5_6 or MYSQL_5_7. Defaults to MYSQL_5_6. MYSQL_5_7 is applicable only to Second Generation instances.",
                    "type": "string"
                },
                {
                    "name": "maxDiskSize",
                    "desc": "The maximum disk size of the instance in bytes.",
                    "type": "int64"
                },
                {
                    "name": "project",
                    "desc": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.",
                    "type": "string"
                },
                {
                    "name": "replicaConfiguration",
                    "desc": "Configuration specific to read-replicas replicating from on-premises masters.",
                    "type": "ref",
                    "refType": "ReplicaConfiguration"
                },
                {
                    "name": "settings",
                    "desc": "The user settings.",
                    "type": "ref",
                    "refType": "Settings"
                },
                {
                    "name": "replicaNames",
                    "desc": "The replicas of the instance.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "The URI of this resource.",
                    "type": "string"
                },
                {
                    "name": "currentDiskSize",
                    "desc": "The current disk usage of the instance in bytes. This property has been deprecated. Users should use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ for details.",
                    "type": "int64"
                },
                {
                    "name": "failoverReplica",
                    "desc": "The name and status of the failover replica. This property is applicable only to Second Generation instances.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "available",
                            "desc": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The master can only failover to the falover replica when the status is true.",
                            "type": "bool"
                        },
                        {
                            "name": "name",
                            "desc": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID. This property is applicable only to Second Generation instances.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "ipAddresses",
                    "desc": "The assigned IP addresses for the instance.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "IpMapping"
                },
                {
                    "name": "ipv6Address",
                    "desc": "The IPv6 address assigned to the instance. This property is applicable only to First Generation instances.",
                    "type": "string"
                },
                {
                    "name": "onPremisesConfiguration",
                    "desc": "Configuration specific to on-premises instances.",
                    "type": "ref",
                    "refType": "OnPremisesConfiguration"
                },
                {
                    "name": "region",
                    "desc": "The geographical region. Can be us-central (FIRST_GEN instances only), us-central1 (SECOND_GEN instances only), asia-east1 or europe-west1. Defaults to us-central or us-central1 depending on the instance type (First Generation or Second Generation). The region can not be changed after instance creation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FlagsListResponse",
            "desc": "Flags list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of flags.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Flag"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#flagsList.",
                    "type": "string",
                    "default": "sql#flagsList"
                }
            ]
        },
        {
            "name": "InstancesImportRequest",
            "desc": "Database instance import request.",
            "type": "object",
            "fields": [
                {
                    "name": "importContext",
                    "desc": "Contains details about the import operation.",
                    "type": "ref",
                    "refType": "ImportContext"
                }
            ]
        },
        {
            "name": "InstancesTruncateLogRequest",
            "desc": "Instance truncate log request.",
            "type": "object",
            "fields": [
                {
                    "name": "truncateLogContext",
                    "desc": "Contains details about the truncate log operation.",
                    "type": "ref",
                    "refType": "TruncateLogContext"
                }
            ]
        },
        {
            "name": "SslCertsListResponse",
            "desc": "SslCerts list response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#sslCertsList.",
                    "type": "string",
                    "default": "sql#sslCertsList"
                },
                {
                    "name": "items",
                    "desc": "List of client certificates for the instance.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SslCert"
                }
            ]
        },
        {
            "name": "BackupConfiguration",
            "desc": "Database instance backup configuration.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#backupConfiguration.",
                    "type": "string",
                    "default": "sql#backupConfiguration"
                },
                {
                    "name": "startTime",
                    "desc": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - HH:MM.",
                    "type": "string"
                },
                {
                    "name": "binaryLogEnabled",
                    "desc": "Whether binary log is enabled. If backup configuration is disabled, binary log must be disabled as well.",
                    "type": "bool"
                },
                {
                    "name": "enabled",
                    "desc": "Whether this configuration is enabled.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "InstancesFailoverRequest",
            "desc": "Instance failover request.",
            "type": "object",
            "fields": [
                {
                    "name": "failoverContext",
                    "desc": "Failover Context.",
                    "type": "ref",
                    "refType": "FailoverContext"
                }
            ]
        },
        {
            "name": "OperationError",
            "desc": "Database instance operation error.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#operationError.",
                    "type": "string",
                    "default": "sql#operationError"
                },
                {
                    "name": "message",
                    "desc": "Additional information about the error encountered.",
                    "type": "string"
                },
                {
                    "name": "code",
                    "desc": "Identifies the specific error that occurred.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OperationErrors",
            "desc": "Database instance operation errors list wrapper.",
            "type": "object",
            "fields": [
                {
                    "name": "errors",
                    "desc": "The list of errors encountered while processing this operation.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OperationError"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#operationErrors.",
                    "type": "string",
                    "default": "sql#operationErrors"
                }
            ]
        },
        {
            "name": "OperationsListResponse",
            "desc": "Database instance list operations response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of operation resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Operation"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#operationsList.",
                    "type": "string",
                    "default": "sql#operationsList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BackupRun",
            "desc": "A database instance backup run resource.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#backupRun.",
                    "type": "string",
                    "default": "sql#backupRun"
                },
                {
                    "name": "selfLink",
                    "desc": "The URI of this resource.",
                    "type": "string"
                },
                {
                    "name": "startTime",
                    "desc": "The time the backup operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "status",
                    "desc": "The status of this run.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\".",
                    "type": "string"
                },
                {
                    "name": "endTime",
                    "desc": "The time the backup operation completed in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "enqueuedTime",
                    "desc": "The time the run was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "error",
                    "desc": "Information about why the backup operation failed. This is only present if the run has the FAILED status.",
                    "type": "ref",
                    "refType": "OperationError"
                },
                {
                    "name": "windowStartTime",
                    "desc": "The start time of the backup window during which this the backup was attempted in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "description",
                    "desc": "The description of this run, only applicable to on-demand backups.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "A unique identifier for this backup run. Note that this is unique only within the scope of a particular Cloud SQL instance.",
                    "type": "int64"
                },
                {
                    "name": "instance",
                    "desc": "Name of the database instance.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DatabaseFlags",
            "desc": "MySQL flags for Cloud SQL instances.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The value of the flag. Booleans should be set to on for true and off for false. This field must be omitted if the flag doesn't take a value.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the flag. These flags are passed at instance startup, so include both MySQL server options and MySQL system variables. Flags should be specified with underscores, not hyphens. For more information, see Configuring MySQL Flags in the Google Cloud SQL documentation, as well as the official MySQL documentation for server options and system variables.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ImportContext",
            "desc": "Database instance import context.",
            "type": "object",
            "fields": [
                {
                    "name": "csvImportOptions",
                    "desc": "Options for importing data as CSV.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "columns",
                            "desc": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "table",
                            "desc": "The table to which CSV data is imported.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "database",
                    "desc": "The database (for example, guestbook) to which the import is made. If fileType is SQL and no database is specified, it is assumed that the database is specified in the file to be imported. If fileType is CSV, it must be specified.",
                    "type": "string"
                },
                {
                    "name": "fileType",
                    "desc": "The file type for the specified uri.\nSQL: The file contains SQL statements.\nCSV: The file contains CSV data.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#importContext.",
                    "type": "string",
                    "default": "sql#importContext"
                },
                {
                    "name": "uri",
                    "desc": "A path to the file in Google Cloud Storage from which the import is made. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are supported when fileType is SQL.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "IpConfiguration",
            "desc": "IP Management configuration.",
            "type": "object",
            "fields": [
                {
                    "name": "authorizedNetworks",
                    "desc": "The list of external networks that are allowed to connect to the instance using the IP. In CIDR notation, also known as 'slash' notation (e.g. 192.168.100.0/24).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AclEntry"
                },
                {
                    "name": "ipv4Enabled",
                    "desc": "Whether the instance should be assigned an IP address or not.",
                    "type": "bool"
                },
                {
                    "name": "requireSsl",
                    "desc": "Whether the mysqld should default to 'REQUIRE X509' for users connecting over IP.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "MaintenanceWindow",
            "desc": "Maintenance window. This specifies when a v2 Cloud SQL instance should preferably be restarted for system maintenance puruposes.",
            "type": "object",
            "fields": [
                {
                    "name": "day",
                    "desc": "day of week (1-7), starting on Monday.",
                    "type": "int32"
                },
                {
                    "name": "hour",
                    "desc": "hour of day - 0 to 23.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#maintenanceWindow.",
                    "type": "string",
                    "default": "sql#maintenanceWindow"
                },
                {
                    "name": "updateTrack",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SslCertDetail",
            "desc": "SslCertDetail.",
            "type": "object",
            "fields": [
                {
                    "name": "certInfo",
                    "desc": "The public information about the cert.",
                    "type": "ref",
                    "refType": "SslCert"
                },
                {
                    "name": "certPrivateKey",
                    "desc": "The private key for the client cert, in pem format. Keep private in order to protect your security.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TiersListResponse",
            "desc": "Tiers list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of tiers.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Tier"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#tiersList.",
                    "type": "string",
                    "default": "sql#tiersList"
                }
            ]
        },
        {
            "name": "CloneContext",
            "desc": "Database instance clone context.",
            "type": "object",
            "fields": [
                {
                    "name": "binLogCoordinates",
                    "desc": "Binary log coordinates, if specified, indentify the the position up to which the source instance should be cloned. If not specified, the source instance is cloned up to the most recent binary log coordintes.",
                    "type": "ref",
                    "refType": "BinLogCoordinates"
                },
                {
                    "name": "destinationInstanceName",
                    "desc": "Name of the Cloud SQL instance to be created as a clone.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#cloneContext.",
                    "type": "string",
                    "default": "sql#cloneContext"
                }
            ]
        },
        {
            "name": "BackupRunsListResponse",
            "desc": "Backup run list results.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of backup runs in reverse chronological order of the enqueued time.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BackupRun"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#backupRunsList.",
                    "type": "string",
                    "default": "sql#backupRunsList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExportContext",
            "desc": "Database instance export context.",
            "type": "object",
            "fields": [
                {
                    "name": "csvExportOptions",
                    "desc": "Options for exporting data as CSV.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "selectQuery",
                            "desc": "The select query used to extract the data.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "databases",
                    "desc": "Databases (for example, guestbook) from which the export is made. If fileType is SQL and no database is specified, all databases are exported. If fileType is CSV, you can optionally specify at most one database to export. If csvExportOptions.selectQuery also specifies the database, this field will be ignored.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "fileType",
                    "desc": "The file type for the specified uri.\nSQL: The file contains SQL statements.\nCSV: The file contains CSV data.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#exportContext.",
                    "type": "string",
                    "default": "sql#exportContext"
                },
                {
                    "name": "sqlExportOptions",
                    "desc": "Options for exporting data as SQL statements.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "schemaOnly",
                            "desc": "Export only schemas.",
                            "type": "bool"
                        },
                        {
                            "name": "tables",
                            "desc": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database.",
                            "collection": "array",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "uri",
                    "desc": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form gs://bucketName/fileName. If the file already exists, the operation fails. If fileType is SQL and the filename ends with .gz, the contents are compressed.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Flag",
            "desc": "A Google Cloud SQL service flag resource.",
            "type": "object",
            "fields": [
                {
                    "name": "appliesTo",
                    "desc": "The database version this flag applies to. Can be MYSQL_5_5, MYSQL_5_6, or MYSQL_5_7. MYSQL_5_7 is applicable only to Second Generation instances.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#flag.",
                    "type": "string",
                    "default": "sql#flag"
                },
                {
                    "name": "maxValue",
                    "desc": "For INTEGER flags, the maximum allowed value.",
                    "type": "int64"
                },
                {
                    "name": "minValue",
                    "desc": "For INTEGER flags, the minimum allowed value.",
                    "type": "int64"
                },
                {
                    "name": "name",
                    "desc": "This is the name of the flag. Flag names always use underscores, not hyphens, e.g. max_allowed_packet",
                    "type": "string"
                },
                {
                    "name": "requiresRestart",
                    "desc": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances.",
                    "type": "bool"
                },
                {
                    "name": "type",
                    "desc": "The type of the flag. Flags are typed to being BOOLEAN, STRING, INTEGER or NONE. NONE is used for flags which do not take a value, such as skip_grant_tables.",
                    "type": "string"
                },
                {
                    "name": "allowedStringValues",
                    "desc": "For STRING flags, a list of strings that the value can be set to.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesListResponse",
            "desc": "Database instances list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of database instance resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DatabaseInstance"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesList.",
                    "type": "string",
                    "default": "sql#instancesList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LocationPreference",
            "desc": "Preferred location. This specifies where a Cloud SQL instance should preferably be located, either in a specific Compute Engine zone, or co-located with an App Engine application. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
            "type": "object",
            "fields": [
                {
                    "name": "followGaeApplication",
                    "desc": "The AppEngine application to follow, it must be in the same region as the Cloud SQL instance.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#locationPreference.",
                    "type": "string",
                    "default": "sql#locationPreference"
                },
                {
                    "name": "zone",
                    "desc": "The preferred Compute Engine zone (e.g. us-centra1-a, us-central1-b, etc.).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RestoreBackupContext",
            "desc": "Database instance restore from backup context.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#restoreBackupContext.",
                    "type": "string",
                    "default": "sql#restoreBackupContext"
                },
                {
                    "name": "backupRunId",
                    "desc": "The ID of the backup run to restore from.",
                    "type": "int64"
                },
                {
                    "name": "instanceId",
                    "desc": "The ID of the instance that the backup was taken from.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SslCertsInsertResponse",
            "desc": "SslCert insert response.",
            "type": "object",
            "fields": [
                {
                    "name": "serverCaCert",
                    "desc": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
                    "type": "ref",
                    "refType": "SslCert"
                },
                {
                    "name": "clientCert",
                    "desc": "The new client certificate and private key. The new certificate will not work until the instance is restarted for First Generation instances.",
                    "type": "ref",
                    "refType": "SslCertDetail"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#sslCertsInsert.",
                    "type": "string",
                    "default": "sql#sslCertsInsert"
                },
                {
                    "name": "operation",
                    "desc": "The operation to track the ssl certs insert request.",
                    "type": "ref",
                    "refType": "Operation"
                }
            ]
        },
        {
            "name": "AclEntry",
            "desc": "An entry for an Access Control list.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#aclEntry.",
                    "type": "string",
                    "default": "sql#aclEntry"
                },
                {
                    "name": "name",
                    "desc": "An optional label to identify this entry.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "The whitelisted value for the access control list.",
                    "type": "string"
                },
                {
                    "name": "expirationTime",
                    "desc": "The time when this access control entry expires in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "User",
            "desc": "A Cloud SQL user resource.",
            "type": "object",
            "fields": [
                {
                    "name": "password",
                    "desc": "The password for the user.",
                    "type": "string"
                },
                {
                    "name": "project",
                    "desc": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for update since it is already specified on the URL.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "HTTP 1.1 Entity tag for the resource.",
                    "type": "string"
                },
                {
                    "name": "host",
                    "desc": "The host name from which the user can connect. For insert operations, host defaults to an empty string. For update operations, host is specified as part of the request URL. The host name cannot be updated after insertion.",
                    "type": "string"
                },
                {
                    "name": "instance",
                    "desc": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for update since it is already specified on the URL.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#user.",
                    "type": "string",
                    "default": "sql#user"
                },
                {
                    "name": "name",
                    "desc": "The name of the user in the Cloud SQL instance. Can be omitted for update since it is already specified on the URL.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesCloneRequest",
            "desc": "Database instance clone request.",
            "type": "object",
            "fields": [
                {
                    "name": "cloneContext",
                    "desc": "Contains details about the clone operation.",
                    "type": "ref",
                    "refType": "CloneContext"
                }
            ]
        },
        {
            "name": "Operation",
            "desc": "An Operations resource contains information about database instance operations such as create, delete, and restart. Operations resources are created in response to operations that were initiated; you never create them directly.",
            "type": "object",
            "fields": [
                {
                    "name": "user",
                    "desc": "The email address of the user who initiated this operation.",
                    "type": "string"
                },
                {
                    "name": "exportContext",
                    "desc": "The context for export operation, if applicable.",
                    "type": "ref",
                    "refType": "ExportContext"
                },
                {
                    "name": "importContext",
                    "desc": "The context for import operation, if applicable.",
                    "type": "ref",
                    "refType": "ImportContext"
                },
                {
                    "name": "insertTime",
                    "desc": "The time this operation was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "name",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                },
                {
                    "name": "targetId",
                    "desc": "Name of the database instance related to this operation.",
                    "type": "string"
                },
                {
                    "name": "endTime",
                    "desc": "The time this operation finished in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "operationType",
                    "desc": "The type of the operation. Valid values are CREATE, DELETE, UPDATE, RESTART, IMPORT, EXPORT, BACKUP_VOLUME, RESTORE_VOLUME, CREATE_USER, DELETE_USER, CREATE_DATABASE, DELETE_DATABASE .",
                    "type": "string"
                },
                {
                    "name": "targetProject",
                    "desc": "The project ID of the target instance related to this operation.",
                    "type": "string"
                },
                {
                    "name": "error",
                    "desc": "If errors occurred during processing of this operation, this field will be populated.",
                    "type": "ref",
                    "refType": "OperationErrors"
                },
                {
                    "name": "selfLink",
                    "desc": "The URI of this resource.",
                    "type": "string"
                },
                {
                    "name": "startTime",
                    "desc": "The time this operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "status",
                    "desc": "The status of an operation. Valid values are PENDING, RUNNING, DONE, UNKNOWN.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#operation.",
                    "type": "string",
                    "default": "sql#operation"
                },
                {
                    "name": "targetLink",
                    "desc": "The URI of the instance related to the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Settings",
            "desc": "Database instance settings.",
            "type": "object",
            "fields": [
                {
                    "name": "dataDiskType",
                    "desc": "The type of data disk. Only supported for Second Generation instances. The default type is PD_SSD. Applies only to Second Generation instances.",
                    "type": "string"
                },
                {
                    "name": "databaseReplicationEnabled",
                    "desc": "Configuration specific to read replica instances. Indicates whether replication is enabled or not.",
                    "type": "bool"
                },
                {
                    "name": "storageAutoResizeLimit",
                    "desc": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit. Applies only to Second Generation instances.",
                    "type": "int64"
                },
                {
                    "name": "authorizedGaeApplications",
                    "desc": "The App Engine app IDs that can access this instance. This property is only applicable to First Generation instances.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "databaseFlags",
                    "desc": "The database flags passed to the instance at startup.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DatabaseFlags"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#settings.",
                    "type": "string",
                    "default": "sql#settings"
                },
                {
                    "name": "locationPreference",
                    "desc": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or GCE zone for better performance. App Engine co-location is only applicable to First Generation instances.",
                    "type": "ref",
                    "refType": "LocationPreference"
                },
                {
                    "name": "pricingPlan",
                    "desc": "The pricing plan for this instance. This can be either PER_USE or PACKAGE. Only PER_USE is supported for Second Generation instances.",
                    "type": "string"
                },
                {
                    "name": "settingsVersion",
                    "desc": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
                    "type": "int64"
                },
                {
                    "name": "availabilityType",
                    "desc": "Reserved for future use.",
                    "type": "string"
                },
                {
                    "name": "dataDiskSizeGb",
                    "desc": "The size of data disk, in GB. The data disk size minimum is 10GB. Applies only to Second Generation instances.",
                    "type": "int64"
                },
                {
                    "name": "ipConfiguration",
                    "desc": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
                    "type": "ref",
                    "refType": "IpConfiguration"
                },
                {
                    "name": "labels",
                    "desc": "User defined labels.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Labels"
                },
                {
                    "name": "replicationType",
                    "desc": "The type of replication this instance uses. This can be either ASYNCHRONOUS or SYNCHRONOUS. This property is only applicable to First Generation instances.",
                    "type": "string"
                },
                {
                    "name": "storageAutoResize",
                    "desc": "Configuration to increase storage size automatically. The default value is false. Applies only to Second Generation instances.",
                    "type": "bool"
                },
                {
                    "name": "backupConfiguration",
                    "desc": "The daily backup configuration for the instance.",
                    "type": "ref",
                    "refType": "BackupConfiguration"
                },
                {
                    "name": "crashSafeReplicationEnabled",
                    "desc": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property is only applicable to First Generation instances.",
                    "type": "bool"
                },
                {
                    "name": "maintenanceWindow",
                    "desc": "The maintenance window for this instance. This specifies when the instance may be restarted for maintenance purposes. Applies only to Second Generation instances.",
                    "type": "ref",
                    "refType": "MaintenanceWindow"
                },
                {
                    "name": "tier",
                    "desc": "The tier of service for this instance, for example D1, D2. For more information, see pricing.",
                    "type": "string"
                },
                {
                    "name": "activationPolicy",
                    "desc": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. The activation policy cannot be updated together with other settings for Second Generation instances. Valid values:\nALWAYS: The instance is on; it is not deactivated by inactivity.\nNEVER: The instance is off; it is not activated, even if a connection request arrives.\nON_DEMAND: The instance responds to incoming requests, and turns itself off when not in use. Instances with PER_USE pricing turn off after 15 minutes of inactivity. Instances with PER_PACKAGE pricing turn off after 12 hours of inactivity.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SslCertsInsertRequest",
            "desc": "SslCerts insert request.",
            "type": "object",
            "fields": [
                {
                    "name": "commonName",
                    "desc": "User supplied name. Must be a distinct name from the other certificates for this instance. New certificates will not be usable until the instance is restarted.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UsersListResponse",
            "desc": "User list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of user resources in the instance.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#usersList.",
                    "type": "string",
                    "default": "sql#usersList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BinLogCoordinates",
            "desc": "Binary log coordinates.",
            "type": "object",
            "fields": [
                {
                    "name": "binLogFileName",
                    "desc": "Name of the binary log file for a Cloud SQL instance.",
                    "type": "string"
                },
                {
                    "name": "binLogPosition",
                    "desc": "Position (offset) within the binary log file.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#binLogCoordinates.",
                    "type": "string",
                    "default": "sql#binLogCoordinates"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "databases",
            "methods": [
                {
                    "name": "update",
                    "desc": "Updates a resource containing information about a database inside a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/databases/{database}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Database instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "database",
                            "desc": "Name of the database to be updated in the instance.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Database",
                    "response": "Operation"
                },
                {
                    "name": "delete",
                    "desc": "Deletes a database from a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/databases/{database}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Database instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "database",
                            "desc": "Name of the database to be deleted in the instance.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "get",
                    "desc": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/databases/{database}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Database instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "database",
                            "desc": "Name of the database in the instance.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Database"
                },
                {
                    "name": "insert",
                    "desc": "Inserts a resource containing information about a database inside a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/databases",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Database instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Database",
                    "response": "Operation"
                },
                {
                    "name": "list",
                    "desc": "Lists databases in the specified Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/databases",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project for which to list Cloud SQL instances.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "DatabasesListResponse"
                },
                {
                    "name": "patch",
                    "desc": "Updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
                    "path": "projects/{project}/instances/{instance}/databases/{database}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Database instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "database",
                            "desc": "Name of the database to be updated in the instance.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Database",
                    "response": "Operation"
                }
            ]
        },
        {
            "name": "flags",
            "methods": [
                {
                    "name": "list",
                    "desc": "List all available database flags for Google Cloud SQL instances.",
                    "path": "flags",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "databaseVersion",
                            "desc": "Database version for flag retrieval. Flags are specific to the database version.",
                            "type": "string"
                        }
                    ],
                    "response": "FlagsListResponse"
                }
            ]
        },
        {
            "name": "instances",
            "methods": [
                {
                    "name": "failover",
                    "desc": "Failover the instance to its failover replica instance.",
                    "path": "projects/{project}/instances/{instance}/failover",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "ID of the project that contains the read replica.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstancesFailoverRequest",
                    "response": "Operation"
                },
                {
                    "name": "restoreBackup",
                    "desc": "Restores a backup of a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/restoreBackup",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstancesRestoreBackupRequest",
                    "response": "Operation"
                },
                {
                    "name": "startReplica",
                    "desc": "Starts the replication in the read replica instance.",
                    "path": "projects/{project}/instances/{instance}/startReplica",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "ID of the project that contains the read replica.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL read replica instance name.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "update",
                    "desc": "Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.",
                    "path": "projects/{project}/instances/{instance}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "DatabaseInstance",
                    "response": "Operation"
                },
                {
                    "name": "export",
                    "desc": "Exports data from a Cloud SQL instance to a Google Cloud Storage bucket as a MySQL dump file.",
                    "path": "projects/{project}/instances/{instance}/export",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance to be exported.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstancesExportRequest",
                    "response": "Operation"
                },
                {
                    "name": "get",
                    "desc": "Retrieves a resource containing information about a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Database instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "DatabaseInstance"
                },
                {
                    "name": "resetSslConfig",
                    "desc": "Deletes all client certificates and generates a new server SSL certificate for the instance. The changes will not take effect until the instance is restarted. Existing instances without a server certificate will need to call this once to set a server certificate.",
                    "path": "projects/{project}/instances/{instance}/resetSslConfig",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "restart",
                    "desc": "Restarts a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/restart",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance to be restarted.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "clone",
                    "desc": "Creates a Cloud SQL instance as a clone of the source instance. The API is not ready for Second Generation instances yet.",
                    "path": "projects/{project}/instances/{instance}/clone",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the source as well as the clone Cloud SQL instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstancesCloneRequest",
                    "response": "Operation"
                },
                {
                    "name": "insert",
                    "desc": "Creates a new Cloud SQL instance.",
                    "path": "projects/{project}/instances",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "DatabaseInstance",
                    "response": "Operation"
                },
                {
                    "name": "patch",
                    "desc": "Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.. This method supports patch semantics.",
                    "path": "projects/{project}/instances/{instance}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "DatabaseInstance",
                    "response": "Operation"
                },
                {
                    "name": "truncateLog",
                    "desc": "Truncate MySQL general and slow query log tables",
                    "path": "projects/{project}/instances/{instance}/truncateLog",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the Cloud SQL project.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstancesTruncateLogRequest",
                    "response": "Operation"
                },
                {
                    "name": "delete",
                    "desc": "Deletes a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance to be deleted.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "import",
                    "desc": "Imports data into a Cloud SQL instance from a MySQL dump file in Google Cloud Storage.",
                    "path": "projects/{project}/instances/{instance}/import",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstancesImportRequest",
                    "response": "Operation"
                },
                {
                    "name": "list",
                    "desc": "Lists instances under a given project in the alphabetical order of the instance name.",
                    "path": "projects/{project}/instances",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project for which to list Cloud SQL instances.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of results to return per response.",
                            "type": "uint32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A previously-returned page token representing part of the larger set of results to view.",
                            "type": "string"
                        },
                        {
                            "name": "filter",
                            "desc": "A filter expression for filtering listed instances.",
                            "type": "string"
                        }
                    ],
                    "response": "InstancesListResponse"
                },
                {
                    "name": "promoteReplica",
                    "desc": "Promotes the read replica instance to be a stand-alone Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/promoteReplica",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "ID of the project that contains the read replica.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL read replica instance name.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "name": "stopReplica",
                    "desc": "Stops the replication in the read replica instance.",
                    "path": "projects/{project}/instances/{instance}/stopReplica",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "ID of the project that contains the read replica.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL read replica instance name.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Operation"
                }
            ]
        },
        {
            "name": "operations",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves an instance operation that has been performed on an instance.",
                    "path": "projects/{project}/operations/{operation}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
[...]
