{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/jiS-k8EAx6v4TcA5Qg2LzgfBvoI\"",
    "discoveryVersion": "v1",
    "id": "books:v1",
    "name": "books",
    "version": "v1",
    "title": "Books API",
    "description": "Searches for books and manages your Google Books library.",
    "documentationLink": "https://developers.google.com/books/docs/v1/getting_started",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/books"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Annotationdata",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Resource Type",
                    "type": "string",
                    "default": "books#annotationdata"
                },
                {
                    "name": "layerId",
                    "desc": "The Layer id for this data. *",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "URL for this resource. *",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
                    "type": "datetime"
                },
                {
                    "name": "volumeId",
                    "desc": "The volume id for this data. *",
                    "type": "string"
                },
                {
                    "name": "annotationType",
                    "desc": "The type of annotation this data is for.",
                    "type": "string"
                },
                {
                    "name": "data",
                    "type": "any"
                },
                {
                    "name": "encoded_data",
                    "desc": "Base64 encoded data for this annotation data.",
                    "type": "byte"
                },
                {
                    "name": "id",
                    "desc": "Unique id for this annotation data.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Annotations",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of annotations.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Annotation"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#annotations"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
                    "type": "string"
                },
                {
                    "name": "totalItems",
                    "desc": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Category",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of onboarding categories.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "name",
                            "type": "string"
                        },
                        {
                            "name": "badgeUrl",
                            "type": "string"
                        },
                        {
                            "name": "categoryId",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "onboarding#category"
                }
            ]
        },
        {
            "name": "Metadata",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of offline dictionary metadata.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "download_url",
                            "type": "string"
                        },
                        {
                            "name": "encrypted_key",
                            "type": "string"
                        },
                        {
                            "name": "language",
                            "type": "string"
                        },
                        {
                            "name": "size",
                            "type": "int64"
                        },
                        {
                            "name": "version",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "dictionary#metadata"
                }
            ]
        },
        {
            "name": "Volume2",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of volumes.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Volume"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "onboarding#volume"
                },
                {
                    "name": "nextPageToken",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Volumeseriesinfo",
            "type": "object",
            "fields": [
                {
                    "name": "bookDisplayNumber",
                    "desc": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#volume_series_info"
                },
                {
                    "name": "shortSeriesBookTitle",
                    "desc": "Short book title in the context of the series.",
                    "type": "string"
                },
                {
                    "name": "volumeSeries",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "issue",
                            "desc": "List of issues. Applicable only for Collection Edition and Omnibus.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "issueDisplayNumber",
                                    "type": "string"
                                },
                                {
                                    "name": "issueOrderNumber",
                                    "type": "int32"
                                }
                            ]
                        },
                        {
                            "name": "orderNumber",
                            "desc": "The book order number in the series.",
                            "type": "int32"
                        },
                        {
                            "name": "seriesBookType",
                            "desc": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc.",
                            "type": "string"
                        },
                        {
                            "name": "seriesId",
                            "desc": "The series id.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Dictlayerdata",
            "type": "object",
            "fields": [
                {
                    "name": "common",
                    "type": "object",
                    "fields": [
                        {
                            "name": "title",
                            "desc": "The display title and localized canonical name to use when searching for this entity on Google search.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "dict",
                    "type": "object",
                    "fields": [
                        {
                            "name": "source",
                            "desc": "The source, url and attribution for this dictionary data.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "attribution",
                                    "type": "string"
                                },
                                {
                                    "name": "url",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "words",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "derivatives",
                                    "collection": "array",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "source",
                                            "type": "object",
                                            "fields": [
                                                {
                                                    "name": "attribution",
                                                    "type": "string"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "text",
                                            "type": "string"
                                        }
                                    ]
                                },
                                {
                                    "name": "examples",
                                    "collection": "array",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "source",
                                            "type": "object",
                                            "fields": [
                                                {
                                                    "name": "attribution",
                                                    "type": "string"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "text",
                                            "type": "string"
                                        }
                                    ]
                                },
                                {
                                    "name": "senses",
                                    "collection": "array",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "definitions",
                                            "collection": "array",
                                            "type": "object",
                                            "fields": [
                                                {
                                                    "name": "definition",
                                                    "type": "string"
                                                },
                                                {
                                                    "name": "examples",
                                                    "collection": "array",
                                                    "type": "object",
                                                    "fields": [
                                                        {
                                                            "name": "source",
                                                            "type": "object",
                                                            "fields": [
                                                                {
                                                                    "name": "attribution",
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "name": "url",
                                                                    "type": "string"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "text",
                                                            "type": "string"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "name": "partOfSpeech",
                                            "type": "string"
                                        },
                                        {
                                            "name": "pronunciation",
                                            "type": "string"
                                        },
                                        {
                                            "name": "pronunciationUrl",
                                            "type": "string"
                                        },
                                        {
                                            "name": "source",
                                            "type": "object",
                                            "fields": [
                                                {
                                                    "name": "attribution",
                                                    "type": "string"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "syllabification",
                                            "type": "string"
                                        },
                                        {
                                            "name": "synonyms",
                                            "collection": "array",
                                            "type": "object",
                                            "fields": [
                                                {
                                                    "name": "source",
                                                    "type": "object",
                                                    "fields": [
                                                        {
                                                            "name": "attribution",
                                                            "type": "string"
                                                        },
                                                        {
                                                            "name": "url",
                                                            "type": "string"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "conjugations",
                                            "collection": "array",
                                            "type": "object",
                                            "fields": [
                                                {
                                                    "name": "type",
                                                    "type": "string"
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "string"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "name": "source",
                                    "desc": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb).",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "attribution",
                                            "type": "string"
                                        },
                                        {
                                            "name": "url",
                                            "type": "string"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "books#dictlayerdata"
                }
            ]
        },
        {
            "name": "Discoveryclusters",
            "type": "object",
            "fields": [
                {
                    "name": "clusters",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "uid",
                            "type": "string"
                        },
                        {
                            "name": "volumes",
                            "collection": "array",
                            "type": "ref",
                            "refType": "Volume"
                        },
                        {
                            "name": "banner_with_content_container",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "fillColorArgb",
                                    "type": "string"
                                },
                                {
                                    "name": "imageUrl",
                                    "type": "string"
                                },
                                {
                                    "name": "maskColorArgb",
                                    "type": "string"
                                },
                                {
                                    "name": "moreButtonText",
                                    "type": "string"
                                },
                                {
                                    "name": "moreButtonUrl",
                                    "type": "string"
                                },
                                {
                                    "name": "textColorArgb",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "subTitle",
                            "type": "string"
                        },
                        {
                            "name": "title",
                            "type": "string"
                        },
                        {
                            "name": "totalVolumes",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Resorce type.",
                    "type": "string",
                    "default": "books#discovery#clusters"
                },
                {
                    "name": "totalClusters",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "DownloadAccessRestriction",
            "type": "object",
            "fields": [
                {
                    "name": "deviceAllowed",
                    "desc": "If restricted, whether access is granted for this (user, device, volume).",
                    "type": "bool"
                },
                {
                    "name": "downloadsAcquired",
                    "desc": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).",
                    "type": "int32"
                },
                {
                    "name": "justAcquired",
                    "desc": "If deviceAllowed, whether access was just acquired with this request.",
                    "type": "bool"
                },
                {
                    "name": "message",
                    "desc": "Error/warning message.",
                    "type": "string"
                },
                {
                    "name": "reasonCode",
                    "desc": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS",
                    "type": "string"
                },
                {
                    "name": "source",
                    "desc": "Client app identifier for verification. Download access and client-validation only.",
                    "type": "string"
                },
                {
                    "name": "volumeId",
                    "desc": "Identifies the volume for which this entry applies.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#downloadAccessRestriction"
                },
                {
                    "name": "maxDownloadDevices",
                    "desc": "If restricted, the maximum number of content download licenses for this volume.",
                    "type": "int32"
                },
                {
                    "name": "nonce",
                    "desc": "Client nonce for verification. Download access and client-validation only.",
                    "type": "string"
                },
                {
                    "name": "restricted",
                    "desc": "Whether this volume has any download access restrictions.",
                    "type": "bool"
                },
                {
                    "name": "signature",
                    "desc": "Response signature.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Volumeannotations",
            "type": "object",
            "fields": [
                {
                    "name": "totalItems",
                    "desc": "The total number of volume annotations found.",
                    "type": "int32"
                },
                {
                    "name": "version",
                    "desc": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book).",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of volume annotations.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Volumeannotation"
                },
                {
                    "name": "kind",
                    "desc": "Resource type",
                    "type": "string",
                    "default": "books#volumeannotations"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BooksVolumesRecommendedRateResponse",
            "type": "object",
            "fields": [
                {
                    "name": "consistency_token",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Notification",
            "type": "object",
            "fields": [
                {
                    "name": "targetUrl",
                    "type": "string"
                },
                {
                    "name": "dont_show_notification",
                    "type": "bool"
                },
                {
                    "name": "notificationGroup",
                    "type": "string"
                },
                {
                    "name": "pcampaign_id",
                    "type": "string"
                },
                {
                    "name": "notification_type",
                    "type": "string"
                },
                {
                    "name": "reason",
                    "type": "string"
                },
                {
                    "name": "doc_type",
                    "type": "string"
                },
                {
                    "name": "iconUrl",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#notification"
                },
                {
                    "name": "show_notification_settings_action",
                    "type": "bool"
                },
                {
                    "name": "title",
                    "type": "string"
                },
                {
                    "name": "body",
                    "type": "string"
                },
                {
                    "name": "crmExperimentIds",
                    "desc": "The list of crm experiment ids.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "doc_id",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Annotationsdata",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of Annotation Data.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Annotationdata"
                },
                {
                    "name": "kind",
                    "desc": "Resource type",
                    "type": "string",
                    "default": "books#annotationsdata"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
                    "type": "string"
                },
                {
                    "name": "totalItems",
                    "desc": "The total number of volume annotations found.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "RequestAccess",
            "type": "object",
            "fields": [
                {
                    "name": "concurrentAccess",
                    "desc": "A concurrent access response.",
                    "type": "ref",
                    "refType": "ConcurrentAccessRestriction"
                },
                {
                    "name": "downloadAccess",
                    "desc": "A download access response.",
                    "type": "ref",
                    "refType": "DownloadAccessRestriction"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#requestAccess"
                }
            ]
        },
        {
            "name": "Volumes",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of volumes.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Volume"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#volumes"
                },
                {
                    "name": "totalItems",
                    "desc": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "BooksCloudloadingResource",
            "type": "object",
            "fields": [
                {
                    "name": "author",
                    "type": "string"
                },
                {
                    "name": "processingState",
                    "type": "string"
                },
                {
                    "name": "title",
                    "type": "string"
                },
                {
                    "name": "volumeId",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Offers",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of offers.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "artUrl",
                            "type": "string"
                        },
                        {
                            "name": "gservicesKey",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "type": "string"
                        },
                        {
                            "name": "items",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "author",
                                    "type": "string"
                                },
                                {
                                    "name": "canonicalVolumeLink",
                                    "type": "string"
                                },
                                {
                                    "name": "coverUrl",
                                    "type": "string"
                                },
                                {
                                    "name": "description",
                                    "type": "string"
                                },
                                {
                                    "name": "title",
                                    "type": "string"
                                },
                                {
                                    "name": "volumeId",
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "promooffer#offers"
                }
            ]
        },
        {
            "name": "Series",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#series"
                },
                {
                    "name": "series",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "bannerImageUrl",
                            "type": "string"
                        },
                        {
                            "name": "imageUrl",
                            "type": "string"
                        },
                        {
                            "name": "seriesId",
                            "type": "string"
                        },
                        {
                            "name": "seriesType",
                            "type": "string"
                        },
                        {
                            "name": "title",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Annotation",
            "type": "object",
            "fields": [
                {
                    "name": "deleted",
                    "desc": "Indicates that this annotation is deleted.",
                    "type": "bool"
                },
                {
                    "name": "id",
                    "desc": "Id of this annotation, in the form of a GUID.",
                    "type": "string"
                },
                {
                    "name": "selectedText",
                    "desc": "Excerpt from the volume.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "URL to this resource.",
                    "type": "string"
                },
                {
                    "name": "afterSelectedText",
                    "desc": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
                    "type": "string"
                },
                {
                    "name": "beforeSelectedText",
                    "desc": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
                    "type": "string"
                },
                {
                    "name": "data",
                    "desc": "User-created data for this annotation.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#annotation"
                },
                {
                    "name": "layerId",
                    "desc": "The layer this annotation is for.",
                    "type": "string"
                },
                {
                    "name": "layerSummary",
                    "type": "object",
                    "fields": [
                        {
                            "name": "allowedCharacterCount",
                            "desc": "Maximum allowed characters on this layer, especially for the \"copy\" layer.",
                            "type": "int32"
                        },
                        {
                            "name": "limitType",
                            "desc": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer.",
                            "type": "string"
                        },
                        {
                            "name": "remainingCharacterCount",
                            "desc": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "pageIds",
                    "desc": "Pages that this annotation spans.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "highlightStyle",
                    "desc": "The highlight style for this annotation.",
                    "type": "string"
                },
                {
                    "name": "clientVersionRanges",
                    "desc": "Selection ranges sent from the client.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "cfiRange",
                            "desc": "Range in CFI format for this annotation sent by client.",
                            "type": "ref",
                            "refType": "BooksAnnotationsRange"
                        },
                        {
                            "name": "contentVersion",
                            "desc": "Content version the client sent in.",
                            "type": "string"
                        },
                        {
                            "name": "gbImageRange",
                            "desc": "Range in GB image format for this annotation sent by client.",
                            "type": "ref",
                            "refType": "BooksAnnotationsRange"
                        },
                        {
                            "name": "gbTextRange",
                            "desc": "Range in GB text format for this annotation sent by client.",
                            "type": "ref",
                            "refType": "BooksAnnotationsRange"
                        },
                        {
                            "name": "imageCfiRange",
                            "desc": "Range in image CFI format for this annotation sent by client.",
                            "type": "ref",
                            "refType": "BooksAnnotationsRange"
                        }
                    ]
                },
                {
                    "name": "created",
                    "desc": "Timestamp for the created time of this annotation.",
                    "type": "datetime"
                },
                {
                    "name": "currentVersionRanges",
                    "desc": "Selection ranges for the most recent content version.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "gbTextRange",
                            "desc": "Range in GB text format for this annotation for version above.",
                            "type": "ref",
                            "refType": "BooksAnnotationsRange"
                        },
                        {
                            "name": "imageCfiRange",
                            "desc": "Range in image CFI format for this annotation for version above.",
                            "type": "ref",
                            "refType": "BooksAnnotationsRange"
                        },
                        {
                            "name": "cfiRange",
                            "desc": "Range in CFI format for this annotation for version above.",
                            "type": "ref",
                            "refType": "BooksAnnotationsRange"
                        },
                        {
                            "name": "contentVersion",
                            "desc": "Content version applicable to ranges below.",
                            "type": "string"
                        },
                        {
                            "name": "gbImageRange",
                            "desc": "Range in GB image format for this annotation for version above.",
                            "type": "ref",
                            "refType": "BooksAnnotationsRange"
                        }
                    ]
                },
                {
                    "name": "updated",
                    "desc": "Timestamp for the last time this annotation was modified.",
                    "type": "datetime"
                },
                {
                    "name": "volumeId",
                    "desc": "The volume that this annotation belongs to.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Bookshelf",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "Description of this bookshelf.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).",
                    "type": "datetime"
                },
                {
                    "name": "volumesLastUpdated",
                    "desc": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).",
                    "type": "datetime"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for bookshelf metadata.",
                    "type": "string",
                    "default": "books#bookshelf"
                },
                {
                    "name": "selfLink",
                    "desc": "URL to this resource.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "Title of this bookshelf.",
                    "type": "string"
                },
                {
                    "name": "volumeCount",
                    "desc": "Number of volumes in this bookshelf.",
                    "type": "int32"
                },
                {
                    "name": "access",
                    "desc": "Whether this bookshelf is PUBLIC or PRIVATE.",
                    "type": "string"
                },
                {
                    "name": "created",
                    "desc": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution).",
                    "type": "datetime"
                },
                {
                    "name": "id",
                    "desc": "Id of this bookshelf, only unique by user.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Bookshelves",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of bookshelves.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Bookshelf"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#bookshelves"
                }
            ]
        },
        {
            "name": "Layersummary",
            "type": "object",
            "fields": [
                {
                    "name": "layerId",
                    "desc": "The layer id for this summary.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format).",
                    "type": "datetime"
                },
                {
                    "name": "annotationTypes",
                    "desc": "The list of annotation types contained for this layer.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "annotationsLink",
                    "desc": "The link to get the annotations for this layer.",
                    "type": "string"
                },
                {
                    "name": "contentVersion",
                    "desc": "The content version this resource is for.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique id of this layer summary.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "URL to this resource.",
                    "type": "string"
                },
                {
                    "name": "volumeAnnotationsVersion",
                    "desc": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
                    "type": "string"
                },
                {
                    "name": "volumeId",
                    "desc": "The volume id this resource is for.",
                    "type": "string"
                },
                {
                    "name": "annotationCount",
                    "desc": "The number of annotations for this layer.",
                    "type": "int32"
                },
                {
                    "name": "annotationsDataLink",
                    "desc": "Link to get data for this annotation.",
                    "type": "string"
                },
                {
                    "name": "dataCount",
                    "desc": "The number of data items for this layer.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Resource Type",
                    "type": "string",
                    "default": "books#layersummary"
                }
            ]
        },
        {
            "name": "ReadingPosition",
            "type": "object",
            "fields": [
                {
                    "name": "epubCfiPosition",
                    "desc": "Position in an EPUB as a CFI.",
                    "type": "string"
                },
                {
                    "name": "gbImagePosition",
                    "desc": "Position in a volume for image-based content.",
                    "type": "string"
                },
                {
                    "name": "gbTextPosition",
                    "desc": "Position in a volume for text-based content.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for a reading position.",
                    "type": "string",
                    "default": "books#readingPosition"
                },
                {
                    "name": "pdfPosition",
                    "desc": "Position in a PDF file.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution).",
                    "type": "datetime"
                },
                {
                    "name": "volumeId",
                    "desc": "Volume id associated with this reading position.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Review",
            "type": "object",
            "fields": [
                {
                    "name": "content",
                    "desc": "Review text.",
                    "type": "string"
                },
                {
                    "name": "fullTextUrl",
                    "desc": "URL for the full review text, for reviews gathered from the web.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for a review.",
                    "type": "string",
                    "default": "books#review"
                },
                {
                    "name": "rating",
                    "desc": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "Title for this review.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER.",
                    "type": "string"
                },
                {
                    "name": "volumeId",
                    "desc": "Volume that this review is for.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "Author of this review.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "displayName",
                            "desc": "Name of this person.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "date",
                    "desc": "Date of this review.",
                    "type": "string"
                },
                {
                    "name": "source",
                    "desc": "Information regarding the source of this review, when the review is not from a Google Books user.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "description",
                            "desc": "Name of the source.",
                            "type": "string"
                        },
                        {
                            "name": "extraDescription",
                            "desc": "Extra text about the source of the review.",
                            "type": "string"
                        },
                        {
                            "name": "url",
                            "desc": "URL of the source of the review.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Usersettings",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#usersettings"
                },
                {
                    "name": "notesExport",
                    "desc": "User settings in sub-objects, each for different purposes.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "folderName",
                            "type": "string"
                        },
                        {
                            "name": "isEnabled",
                            "type": "bool"
                        }
                    ]
                },
                {
                    "name": "notification",
                    "type": "object",
                    "fields": [
                        {
                            "name": "moreFromAuthors",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "opted_state",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "moreFromSeries",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "opted_state",
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "name": "Volume",
            "type": "object",
            "fields": [
                {
                    "name": "searchInfo",
                    "desc": "Search result information related to this volume.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "textSnippet",
                            "desc": "A text snippet containing the search query.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "etag",
                    "desc": "Opaque identifier for a specific version of a volume resource. (In LITE projection)",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier for a volume. (In LITE projection.)",
                    "type": "string"
                },
                {
                    "name": "layerInfo",
                    "desc": "What layers exist in this volume and high level information about them.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "layers",
                            "desc": "A layer should appear here if and only if the layer exists for this book.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "layerId",
                                    "desc": "The layer id of this layer (e.g. \"geo\").",
                                    "type": "string"
                                },
                                {
                                    "name": "volumeAnnotationsVersion",
                                    "desc": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "recommendedInfo",
                    "desc": "Recommendation related information for this volume.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "explanation",
                            "desc": "A text explaining why this volume is recommended.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "saleInfo",
                    "desc": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries).",
                    "type": "object",
                    "fields": [
                        {
                            "name": "country",
                            "desc": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)",
                            "type": "string"
                        },
                        {
                            "name": "isEbook",
                            "desc": "Whether or not this volume is an eBook (can be added to the My eBooks shelf).",
                            "type": "bool"
                        },
                        {
                            "name": "listPrice",
                            "desc": "Suggested retail price. (In LITE projection.)",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "amount",
                                    "desc": "Amount in the currency listed below. (In LITE projection.)",
                                    "type": "float64"
                                },
                                {
                                    "name": "currencyCode",
                                    "desc": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "offers",
                            "desc": "Offers available for this volume (sales and rentals).",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "retailPrice",
                                    "desc": "Offer retail (=discounted) price in Micros",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "amountInMicros",
                                            "type": "float64"
                                        },
                                        {
                                            "name": "currencyCode",
                                            "type": "string"
                                        }
                                    ]
                                },
                                {
                                    "name": "finskyOfferType",
                                    "desc": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)",
                                    "type": "int32"
                                },
                                {
                                    "name": "giftable",
                                    "desc": "Indicates whether the offer is giftable.",
                                    "type": "bool"
                                },
                                {
                                    "name": "listPrice",
                                    "desc": "Offer list (=undiscounted) price in Micros.",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "currencyCode",
                                            "type": "string"
                                        },
                                        {
                                            "name": "amountInMicros",
                                            "type": "float64"
                                        }
                                    ]
                                },
                                {
                                    "name": "rentalDuration",
                                    "desc": "The rental duration (for rental offers only).",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "count",
                                            "type": "float64"
                                        },
                                        {
                                            "name": "unit",
                                            "type": "string"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "name": "onSaleDate",
                            "desc": "The date on which this book is available for sale.",
                            "type": "datetime"
                        },
                        {
                            "name": "retailPrice",
                            "desc": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "amount",
                                    "desc": "Amount in the currency listed below. (In LITE projection.)",
                                    "type": "float64"
                                },
                                {
                                    "name": "currencyCode",
                                    "desc": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "saleability",
                            "desc": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER.",
                            "type": "string"
                        },
                        {
                            "name": "buyLink",
                            "desc": "URL to purchase this volume on the Google Books site. (In LITE projection)",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "accessInfo",
                    "desc": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.).",
                    "type": "object",
                    "fields": [
                        {
                            "name": "textToSpeechPermission",
                            "desc": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED.",
                            "type": "string"
                        },
                        {
                            "name": "viewOrderUrl",
                            "desc": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page.",
                            "type": "string"
                        },
                        {
                            "name": "webReaderLink",
                            "desc": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes.",
                            "type": "string"
                        },
                        {
                            "name": "accessViewStatus",
                            "desc": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)",
                            "type": "string"
                        },
                        {
                            "name": "pdf",
                            "desc": "Information about pdf content. (In LITE projection.)",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "acsTokenLink",
                                    "desc": "URL to retrieve ACS token for pdf download. (In LITE projection.)",
                                    "type": "string"
                                },
                                {
                                    "name": "downloadLink",
                                    "desc": "URL to download pdf. (In LITE projection.)",
                                    "type": "string"
                                },
                                {
                                    "name": "isAvailable",
                                    "desc": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)",
                                    "type": "bool"
                                }
                            ]
                        },
                        {
                            "name": "explicitOfflineLicenseManagement",
                            "desc": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it.",
                            "type": "bool"
                        },
                        {
                            "name": "downloadAccess",
                            "desc": "Information about a volume's download license access restrictions.",
                            "type": "ref",
                            "refType": "DownloadAccessRestriction"
                        },
                        {
                            "name": "driveImportedContentLink",
                            "desc": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive.",
                            "type": "string"
                        },
                        {
                            "name": "epub",
                            "desc": "Information about epub content. (In LITE projection.)",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "acsTokenLink",
                                    "desc": "URL to retrieve ACS token for epub download. (In LITE projection.)",
                                    "type": "string"
                                },
                                {
                                    "name": "downloadLink",
                                    "desc": "URL to download epub. (In LITE projection.)",
                                    "type": "string"
                                },
                                {
                                    "name": "isAvailable",
                                    "desc": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)",
                                    "type": "bool"
                                }
                            ]
                        },
                        {
                            "name": "publicDomain",
                            "desc": "Whether or not this book is public domain in the country listed above.",
                            "type": "bool"
                        },
                        {
                            "name": "country",
                            "desc": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)",
                            "type": "string"
                        },
                        {
                            "name": "embeddable",
                            "desc": "Whether this volume can be embedded in a viewport using the Embedded Viewer API.",
                            "type": "bool"
                        },
                        {
                            "name": "quoteSharingAllowed",
                            "desc": "Whether quote sharing is allowed for this volume.",
                            "type": "bool"
                        },
                        {
                            "name": "viewability",
                            "desc": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Resource type for a volume. (In LITE projection.)",
                    "type": "string",
                    "default": "books#volume"
                },
                {
                    "name": "selfLink",
                    "desc": "URL to this resource. (In LITE projection.)",
                    "type": "string"
                },
                {
                    "name": "userInfo",
                    "desc": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)",
                    "type": "object",
                    "fields": [
                        {
                            "name": "entitlementType",
                            "desc": "Whether this volume is purchased, sample, pd download etc.",
                            "type": "int32"
                        },
                        {
                            "name": "isFamilySharedFromUser",
                            "desc": "Whether or not the user shared this volume with the family.",
                            "type": "bool"
                        },
                        {
                            "name": "isUploaded",
                            "desc": "Whether or not this volume was user uploaded.",
                            "type": "bool"
                        },
                        {
                            "name": "review",
                            "desc": "This user's review of this volume, if one exists.",
                            "type": "ref",
                            "refType": "Review"
                        },
                        {
                            "name": "acquiredTime",
                            "desc": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc.",
                            "type": "datetime"
                        },
                        {
                            "name": "familySharing",
                            "desc": "Information on the ability to share with the family.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "isSharingAllowed",
                                    "desc": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action.",
                                    "type": "bool"
                                },
                                {
                                    "name": "isSharingDisabledByFop",
                                    "desc": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet.",
                                    "type": "bool"
                                },
                                {
                                    "name": "familyRole",
                                    "desc": "The role of the user in the family.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "isInMyBooks",
                            "desc": "Whether or not this volume is currently in \"my books.\"",
                            "type": "bool"
                        },
                        {
                            "name": "isPreordered",
                            "desc": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)",
                            "type": "bool"
                        },
                        {
                            "name": "isPurchased",
                            "desc": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)",
                            "type": "bool"
                        },
                        {
                            "name": "rentalPeriod",
                            "desc": "Period during this book is/was a valid rental.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "endUtcSec",
                                    "type": "int64"
                                },
                                {
                                    "name": "startUtcSec",
                                    "type": "int64"
                                }
                            ]
                        },
                        {
                            "name": "acquisitionType",
                            "desc": "How this volume was acquired.",
                            "type": "int32"
                        },
                        {
                            "name": "copy",
                            "desc": "Copy/Paste accounting information.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "remainingCharacterCount",
                                    "type": "int32"
                                },
                                {
                                    "name": "updated",
                                    "type": "datetime"
                                },
                                {
                                    "name": "allowedCharacterCount",
                                    "type": "int32"
                                },
                                {
                                    "name": "limitType",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "isFamilySharedToUser",
                            "desc": "Whether or not the user received this volume through family sharing.",
                            "type": "bool"
                        },
                        {
                            "name": "isFamilySharingDisabledByFop",
                            "desc": "Deprecated: Replaced by familySharing.",
                            "type": "bool"
                        },
                        {
                            "name": "userUploadedVolumeInfo",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "processingState",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "isFamilySharingAllowed",
                            "desc": "Deprecated: Replaced by familySharing.",
                            "type": "bool"
                        },
                        {
                            "name": "readingPosition",
                            "desc": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
                            "type": "ref",
                            "refType": "ReadingPosition"
                        },
                        {
                            "name": "rentalState",
                            "desc": "Whether this book is an active or an expired rental.",
                            "type": "string"
                        },
                        {
                            "name": "updated",
                            "desc": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format).",
                            "type": "datetime"
                        }
                    ]
                },
                {
                    "name": "volumeInfo",
                    "desc": "General volume information.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "infoLink",
                            "desc": "URL to view information about this volume on the Google Books site. (In LITE projection)",
                            "type": "string"
                        },
                        {
                            "name": "averageRating",
                            "desc": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
                            "type": "float64"
                        },
                        {
                            "name": "maturityRating",
                            "type": "string"
                        },
                        {
                            "name": "samplePageCount",
                            "desc": "Total number of sample pages as per publisher metadata.",
                            "type": "int32"
                        },
                        {
                            "name": "subtitle",
                            "desc": "Volume subtitle. (In LITE projection.)",
                            "type": "string"
                        },
                        {
                            "name": "previewLink",
                            "desc": "URL to preview this volume on the Google Books site.",
                            "type": "string"
                        },
                        {
                            "name": "publisher",
                            "desc": "Publisher of this volume. (In LITE projection.)",
                            "type": "string"
                        },
                        {
                            "name": "language",
                            "desc": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc.",
                            "type": "string"
                        },
                        {
                            "name": "panelizationSummary",
                            "desc": "A top-level summary of the panelization info in this volume.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "containsEpubBubbles",
                                    "type": "bool"
                                },
                                {
                                    "name": "containsImageBubbles",
                                    "type": "bool"
                                },
                                {
                                    "name": "epubBubbleVersion",
                                    "type": "string"
                                },
                                {
                                    "name": "imageBubbleVersion",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "printType",
                            "desc": "Type of publication of this volume. Possible values are BOOK or MAGAZINE.",
                            "type": "string"
                        },
                        {
                            "name": "publishedDate",
                            "desc": "Date of publication. (In LITE projection.)",
                            "type": "string"
                        },
                        {
                            "name": "allowAnonLogging",
                            "desc": "Whether anonymous logging should be allowed.",
                            "type": "bool"
                        },
                        {
                            "name": "imageLinks",
                            "desc": "A list of image links for all the sizes that are available. (In LITE projection.)",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "smallThumbnail",
                                    "desc": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)",
                                    "type": "string"
                                },
                                {
                                    "name": "thumbnail",
                                    "desc": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)",
                                    "type": "string"
                                },
                                {
                                    "name": "extraLarge",
                                    "desc": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)",
                                    "type": "string"
                                },
                                {
                                    "name": "large",
                                    "desc": "Image link for large size (width of ~800 pixels). (In LITE projection)",
                                    "type": "string"
                                },
                                {
                                    "name": "medium",
                                    "desc": "Image link for medium size (width of ~575 pixels). (In LITE projection)",
                                    "type": "string"
                                },
                                {
                                    "name": "small",
                                    "desc": "Image link for small size (width of ~300 pixels). (In LITE projection)",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "ratingsCount",
                            "desc": "The number of review ratings for this volume.",
                            "type": "int32"
                        },
                        {
                            "name": "title",
                            "desc": "Volume title. (In LITE projection.)",
                            "type": "string"
                        },
                        {
                            "name": "dimensions",
                            "desc": "Physical dimensions of this volume.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "height",
                                    "desc": "Height or length of this volume (in cm).",
                                    "type": "string"
                                },
                                {
                                    "name": "thickness",
                                    "desc": "Thickness of this volume (in cm).",
                                    "type": "string"
                                },
                                {
                                    "name": "width",
                                    "desc": "Width of this volume (in cm).",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "mainCategory",
                            "desc": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight.",
                            "type": "string"
                        },
                        {
                            "name": "pageCount",
                            "desc": "Total number of pages as per publisher metadata.",
                            "type": "int32"
                        },
                        {
                            "name": "readingModes",
                            "desc": "The reading modes available for this volume.",
                            "type": "any"
                        },
                        {
                            "name": "authors",
                            "desc": "The names of the authors and/or editors for this volume. (In LITE projection)",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "canonicalVolumeLink",
                            "desc": "Canonical URL for a volume. (In LITE projection.)",
                            "type": "string"
                        },
                        {
                            "name": "categories",
                            "desc": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "contentVersion",
                            "desc": "An identifier for the version of the volume content (text \u0026 images). (In LITE projection)",
                            "type": "string"
                        },
                        {
                            "name": "description",
                            "desc": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)",
                            "type": "string"
                        },
                        {
                            "name": "industryIdentifiers",
                            "desc": "Industry standard identifiers for this volume.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "type",
                                    "desc": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER.",
                                    "type": "string"
                                },
                                {
                                    "name": "identifier",
                                    "desc": "Industry specific volume identifier.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "printedPageCount",
                            "desc": "Total number of printed pages in generated pdf representation.",
                            "type": "int32"
                        },
                        {
                            "name": "seriesInfo",
                            "type": "ref",
                            "refType": "Volumeseriesinfo"
                        }
                    ]
                }
            ]
        },
        {
            "name": "BooksAnnotationsRange",
            "type": "object",
            "fields": [
                {
                    "name": "startOffset",
                    "desc": "The offset from the starting position.",
                    "type": "string"
                },
                {
                    "name": "startPosition",
                    "desc": "The starting position for the range.",
                    "type": "string"
                },
                {
                    "name": "endOffset",
                    "desc": "The offset from the ending position.",
                    "type": "string"
                },
                {
                    "name": "endPosition",
                    "desc": "The ending position for the range.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Seriesmembership",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Resorce type.",
                    "type": "string",
                    "default": "books#series#membership"
                },
                {
                    "name": "member",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Volume"
                },
                {
                    "name": "nextPageToken",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AnnotationsSummary",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "type": "string",
                    "default": "books#annotationsSummary"
                },
                {
                    "name": "layers",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "allowedCharacterCount",
                            "type": "int32"
                        },
                        {
                            "name": "layerId",
                            "type": "string"
                        },
                        {
                            "name": "limitType",
                            "type": "string"
                        },
                        {
                            "name": "remainingCharacterCount",
                            "type": "int32"
                        },
                        {
                            "name": "updated",
                            "type": "datetime"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ConcurrentAccessRestriction",
            "type": "object",
            "fields": [
                {
                    "name": "nonce",
                    "desc": "Client nonce for verification. Download access and client-validation only.",
                    "type": "string"
                },
                {
                    "name": "restricted",
                    "desc": "Whether this volume has any concurrent access restrictions.",
                    "type": "bool"
                },
                {
                    "name": "signature",
                    "desc": "Response signature.",
                    "type": "string"
                },
                {
                    "name": "timeWindowSeconds",
                    "desc": "Time in seconds for license auto-expiration.",
                    "type": "int32"
                },
                {
                    "name": "volumeId",
                    "desc": "Identifies the volume for which this entry applies.",
                    "type": "string"
                },
                {
                    "name": "deviceAllowed",
                    "desc": "Whether access is granted for this (user, device, volume).",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "books#concurrentAccessRestriction"
                },
                {
                    "name": "maxConcurrentDevices",
                    "desc": "The maximum number of concurrent access licenses for this volume.",
                    "type": "int32"
                },
                {
                    "name": "message",
                    "desc": "Error/warning message.",
                    "type": "string"
                },
                {
                    "name": "reasonCode",
                    "desc": "Error/warning reason code.",
                    "type": "string"
                },
                {
                    "name": "source",
                    "desc": "Client app identifier for verification. Download access and client-validation only.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DownloadAccesses",
            "type": "object",
            "fields": [
                {
                    "name": "downloadAccessList",
[...]
