{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "sourcerepo:v1",
    "name": "sourcerepo",
    "version": "v1",
    "title": "Cloud Source Repositories API",
    "description": "Access source code repositories hosted by Google.",
    "documentationLink": "https://cloud.google.com/eap/cloud-repositories/cloud-sourcerepo-api",
    "protocol": "rest",
    "rootUrl": "https://sourcerepo.googleapis.com/",
    "servicePath": "",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "TestIamPermissionsResponse",
            "desc": "Response message for `TestIamPermissions` method.",
            "type": "object",
            "fields": [
                {
                    "name": "permissions",
                    "desc": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LogConfig",
            "desc": "Specifies what kind of log the caller must write\nIncrement a streamz counter with the specified metric and field names.\n\nMetric names should start with a '/', generally be lowercase-only,\nand end in \"_count\". Field names should not contain an initial slash.\nThe actual exported metric names will have \"/iam/policy\" prepended.\n\nField names correspond to IAM request parameters and field values are\ntheir respective values.\n\nAt present the only supported field names are\n   - \"iam_principal\", corresponding to IAMContext.principal;\n   - \"\" (empty string), resulting in one aggretated counter with no field.\n\nExamples:\n  counter { metric: \"/debug_access_count\"  field: \"iam_principal\" }\n  ==\u003e increment counter /iam/policy/backend_debug_access_count\n                        {iam_principal=[value of IAMContext.principal]}\n\nAt this time we do not support:\n* multiple field names (though this may be supported in the future)\n* decrementing the counter\n* incrementing it by anything other than 1",
            "type": "object",
            "fields": [
                {
                    "name": "cloudAudit",
                    "desc": "Cloud audit options.",
                    "type": "ref",
                    "refType": "CloudAuditOptions"
                },
                {
                    "name": "counter",
                    "desc": "Counter options.",
                    "type": "ref",
                    "refType": "CounterOptions"
                },
                {
                    "name": "dataAccess",
                    "desc": "Data access options.",
                    "type": "ref",
                    "refType": "DataAccessOptions"
                }
            ]
        },
        {
            "name": "DataAccessOptions",
            "desc": "Write a Data Access (Gin) log",
            "type": "object"
        },
        {
            "name": "SetIamPolicyRequest",
            "desc": "Request message for `SetIamPolicy` method.",
            "type": "object",
            "fields": [
                {
                    "name": "policy",
                    "desc": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
                    "type": "ref",
                    "refType": "Policy"
                },
                {
                    "name": "updateMask",
                    "desc": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Empty",
            "desc": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "type": "object"
        },
        {
            "name": "Condition",
            "desc": "A condition to be met.",
            "type": "object",
            "fields": [
                {
                    "name": "svc",
                    "desc": "Trusted attributes discharged by the service.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "DEPRECATED. Use 'values' instead.",
                    "type": "string"
                },
                {
                    "name": "sys",
                    "desc": "Trusted attributes supplied by any service that owns resources and uses\nthe IAM system for access control.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NO_ATTR",
                            "desc": "Default non-attribute type"
                        },
                        {
                            "name": "REGION",
                            "desc": "Region of the resource"
                        },
                        {
                            "name": "SERVICE",
                            "desc": "Service name"
                        },
                        {
                            "name": "NAME",
                            "desc": "Resource name"
                        },
                        {
                            "name": "IP",
                            "desc": "IP address of the caller"
                        }
                    ]
                },
                {
                    "name": "values",
                    "desc": "The objects of the condition. This is mutually exclusive with 'value'.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "iam",
                    "desc": "Trusted attributes supplied by the IAM system.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NO_ATTR",
                            "desc": "Default non-attribute."
                        },
                        {
                            "name": "AUTHORITY",
                            "desc": "Either principal or (if present) authority selector."
                        },
                        {
                            "name": "ATTRIBUTION",
                            "desc": "The principal (even if an authority selector is present), which\nmust only be used for attribution, not authorization."
                        },
                        {
                            "name": "APPROVER",
                            "desc": "An approver (distinct from the requester) that has authorized this\nrequest.\nWhen used with IN, the condition indicates that one of the approvers\nassociated with the request matches the specified principal, or is a\nmember of the specified group. Approvers can only grant additional\naccess, and are thus only used in a strictly positive context\n(e.g. ALLOW/IN or DENY/NOT_IN).\nSee: go/rpc-security-policy-dynamicauth."
                        },
                        {
                            "name": "JUSTIFICATION_TYPE",
                            "desc": "What types of justifications have been supplied with this request.\nString values should match enum names from tech.iam.JustificationType,\ne.g. \"MANUAL_STRING\". It is not permitted to grant access based on\nthe *absence* of a justification, so justification conditions can only\nbe used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).\n\nMultiple justifications, e.g., a Buganizer ID and a manually-entered\nreason, are normal and supported."
                        }
                    ]
                },
                {
                    "name": "op",
                    "desc": "An operator to apply the subject with.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NO_OP",
                            "desc": "Default no-op."
                        },
                        {
                            "name": "EQUALS",
                            "desc": "DEPRECATED. Use IN instead."
                        },
                        {
                            "name": "NOT_EQUALS",
                            "desc": "DEPRECATED. Use NOT_IN instead."
                        },
                        {
                            "name": "IN",
                            "desc": "The condition is true if the subject (or any element of it if it is\na set) matches any of the supplied values."
                        },
                        {
                            "name": "NOT_IN",
                            "desc": "The condition is true if the subject (or every element of it if it is\na set) matches none of the supplied values."
                        },
                        {
                            "name": "DISCHARGED",
                            "desc": "Subject is discharged"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ListReposResponse",
            "desc": "Response for ListRepos.",
            "type": "object",
            "fields": [
                {
                    "name": "repos",
                    "desc": "The listed repos.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Repo"
                }
            ]
        },
        {
            "name": "CounterOptions",
            "desc": "Options for counters",
            "type": "object",
            "fields": [
                {
                    "name": "metric",
                    "desc": "The metric to update.",
                    "type": "string"
                },
                {
                    "name": "field",
                    "desc": "The field value to attribute.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AuditLogConfig",
            "desc": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\nfoo@gmail.com from DATA_READ logging.",
            "type": "object",
            "fields": [
                {
                    "name": "exemptedMembers",
                    "desc": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "logType",
                    "desc": "The log type that this config enables.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "LOG_TYPE_UNSPECIFIED",
                            "desc": "Default case. Should never be this."
                        },
                        {
                            "name": "ADMIN_READ",
                            "desc": "Admin reads. Example: CloudIAM getIamPolicy"
                        },
                        {
                            "name": "DATA_WRITE",
                            "desc": "Data writes. Example: CloudSQL Users create"
                        },
                        {
                            "name": "DATA_READ",
                            "desc": "Data reads. Example: CloudSQL Users list"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Rule",
            "desc": "A rule to be applied in a Policy.",
            "type": "object",
            "fields": [
                {
                    "name": "notIn",
                    "desc": "If one or more 'not_in' clauses are specified, the rule matches\nif the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries.\nThe format for in and not_in entries is the same as for members in a\nBinding (see google/iam/v1/policy.proto).",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "Human-readable description of the rule.",
                    "type": "string"
                },
                {
                    "name": "conditions",
                    "desc": "Additional restrictions that must be met",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Condition"
                },
                {
                    "name": "logConfig",
                    "desc": "The config returned to callers of tech.iam.IAM.CheckPolicy for any entries\nthat match the LOG action.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LogConfig"
                },
                {
                    "name": "in",
                    "desc": "If one or more 'in' clauses are specified, the rule matches if\nthe PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "permissions",
                    "desc": "A permission is a string of form '\u003cservice\u003e.\u003cresource type\u003e.\u003cverb\u003e'\n(e.g., 'storage.buckets.list'). A value of '*' matches all permissions,\nand a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "action",
                    "desc": "Required",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NO_ACTION",
                            "desc": "Default no action."
                        },
                        {
                            "name": "ALLOW",
                            "desc": "Matching 'Entries' grant access."
                        },
                        {
                            "name": "ALLOW_WITH_LOG",
                            "desc": "Matching 'Entries' grant access and the caller promises to log\nthe request per the returned log_configs."
                        },
                        {
                            "name": "DENY",
                            "desc": "Matching 'Entries' deny access."
                        },
                        {
                            "name": "DENY_WITH_LOG",
                            "desc": "Matching 'Entries' deny access and the caller promises to log\nthe request per the returned log_configs."
                        },
                        {
                            "name": "LOG",
                            "desc": "Matching 'Entries' tell IAM.Check callers to generate logs."
                        }
                    ]
                }
            ]
        },
        {
            "name": "TestIamPermissionsRequest",
            "desc": "Request message for `TestIamPermissions` method.",
            "type": "object",
            "fields": [
                {
                    "name": "permissions",
                    "desc": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Policy",
            "desc": "Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `Binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",\n          ]\n        },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https://cloud.google.com/iam).",
            "type": "object",
            "fields": [
                {
                    "name": "auditConfigs",
                    "desc": "Specifies cloud audit logging configuration for this policy.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AuditConfig"
                },
                {
                    "name": "bindings",
                    "desc": "Associates a list of `members` to a `role`.\nMultiple `bindings` must not be specified for the same `role`.\n`bindings` with no members will result in an error.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Binding"
                },
                {
                    "name": "etag",
                    "desc": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten blindly.",
                    "type": "byte"
                },
                {
                    "name": "iamOwned",
                    "type": "bool"
                },
                {
                    "name": "rules",
                    "desc": "If more than one rule is specified, the rules are applied in the following\nmanner:\n- All matching LOG rules are always applied.\n- If any DENY/DENY_WITH_LOG rule matches, permission is denied.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is\n  granted.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if no rule applies, permission is denied.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Rule"
                },
                {
                    "name": "version",
                    "desc": "Version of the `Policy`. The default version is 0.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "CloudAuditOptions",
            "desc": "Write a Cloud Audit log",
            "type": "object"
        },
        {
            "name": "Binding",
            "desc": "Associates `members` with a `role`.",
            "type": "object",
            "fields": [
                {
                    "name": "members",
                    "desc": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `domain:{domain}`: A Google Apps domain name that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "role",
                    "desc": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.\nRequired",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AuditConfig",
            "desc": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConifg must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditConfig are exempted.\nExample Policy with multiple AuditConfigs:\n{\n  \"audit_configs\": [\n    {\n      \"service\": \"allServices\"\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        },\n        {\n          \"log_type\": \"ADMIN_READ\",\n        }\n      ]\n    },\n    {\n      \"service\": \"fooservice@googleapis.com\"\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n          \"exempted_members\": [\n            \"user:bar@gmail.com\"\n          ]\n        }\n      ]\n    }\n  ]\n}\nFor fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts foo@gmail.com from DATA_READ logging, and\nbar@gmail.com from DATA_WRITE logging.",
            "type": "object",
            "fields": [
                {
                    "name": "exemptedMembers",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "service",
                    "desc": "Specifies a service that will be enabled for audit logging.\nFor example, `resourcemanager`, `storage`, `compute`.\n`allServices` is a special value that covers all services.",
                    "type": "string"
                },
                {
                    "name": "auditLogConfigs",
                    "desc": "The configuration for logging of each type of permission.\nNext ID: 4",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AuditLogConfig"
                }
            ]
        },
        {
            "name": "MirrorConfig",
            "desc": "Configuration to automatically mirror a repository from another\nhosting service, for example GitHub or BitBucket.",
            "type": "object",
            "fields": [
                {
                    "name": "url",
                    "desc": "URL of the main repository at the other hosting service.",
                    "type": "string"
                },
                {
                    "name": "webhookId",
                    "desc": "ID of the webhook listening to updates to trigger mirroring.\nRemoving this webook from the other hosting service will stop\nGoogle Cloud Source Repositories from receiving notifications,\nand thereby disabling mirroring.",
                    "type": "string"
                },
                {
                    "name": "deployKeyId",
                    "desc": "ID of the SSH deploy key at the other hosting service.\nRemoving this key from the other service would deauthorize\nGoogle Cloud Source Repositories from mirroring.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Repo",
            "desc": "A repository (or repo) is a Git repository storing versioned source content.",
            "type": "object",
            "fields": [
                {
                    "name": "url",
                    "desc": "URL to clone the repository from Google Cloud Source Repositories.",
                    "type": "string"
                },
                {
                    "name": "size",
                    "desc": "The size in bytes of the repo.",
                    "type": "int64"
                },
                {
                    "name": "name",
                    "desc": "Resource name of the repository, of the form\n`projects/\u003cproject\u003e/repos/\u003crepo\u003e`.",
                    "type": "string"
                },
                {
                    "name": "mirrorConfig",
                    "desc": "How this repository mirrors a repository managed by another service.",
                    "type": "ref",
                    "refType": "MirrorConfig"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "projects",
            "resources": [
                {
                    "name": "repos",
                    "methods": [
                        {
                            "path": "v1/{+name}",
                            "httpMethod": "GET",
                            "name": "get",
                            "desc": "Returns information about a repo.",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The name of the requested repository. Values are of the form\n`projects/\u003cproject\u003e/repos/\u003crepo\u003e`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/repos/.+$"
                                }
                            ],
                            "response": "Repo"
                        },
                        {
                            "path": "v1/{+resource}:testIamPermissions",
                            "httpMethod": "POST",
                            "name": "testIamPermissions",
                            "desc": "Returns permissions that a caller has on the specified resource.\nIf the resource does not exist, this will return an empty set of\npermissions, not a NOT_FOUND error.",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "resource",
                                    "desc": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/repos/.+$"
                                }
                            ],
                            "request": "TestIamPermissionsRequest",
                            "response": "TestIamPermissionsResponse"
                        },
                        {
                            "path": "v1/{+name}",
                            "httpMethod": "DELETE",
                            "name": "delete",
                            "desc": "Deletes a repo.",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The name of the repo to delete. Values are of the form\n`projects/\u003cproject\u003e/repos/\u003crepo\u003e`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/repos/.+$"
                                }
                            ],
                            "response": "Empty"
                        },
                        {
                            "path": "v1/{+name}/repos",
                            "httpMethod": "GET",
                            "name": "list",
                            "desc": "Returns all repos belonging to a project.",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The project ID whose repos should be listed. Values are of the form\n`projects/\u003cproject\u003e`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "response": "ListReposResponse"
                        },
                        {
                            "path": "v1/{+parent}/repos",
                            "httpMethod": "POST",
                            "name": "create",
                            "desc": "Creates a repo in the given project with the given name..\n\nIf the named repository already exists, `CreateRepo` returns\n`ALREADY_EXISTS`.",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "parent",
                                    "desc": "The project in which to create the repo. Values are of the form\n`projects/\u003cproject\u003e`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "request": "Repo",
                            "response": "Repo"
                        },
                        {
                            "path": "v1/{+resource}:setIamPolicy",
                            "httpMethod": "POST",
                            "name": "setIamPolicy",
                            "desc": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "resource",
                                    "desc": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/repos/.+$"
                                }
                            ],
                            "request": "SetIamPolicyRequest",
                            "response": "Policy"
                        },
                        {
                            "path": "v1/{+resource}:getIamPolicy",
                            "httpMethod": "GET",
                            "name": "getIamPolicy",
                            "desc": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "resource",
                                    "desc": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/repos/.+$"
                                }
                            ],
                            "response": "Policy"
                        }
                    ]
                }
            ]
        }
    ]
}