{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/WD_dCFRiB71YKGuRij6Gw1Sn7dI\"",
    "discoveryVersion": "v1",
    "id": "licensing:v1",
    "name": "licensing",
    "version": "v1",
    "title": "Enterprise License Manager API",
    "description": "Views and manages licenses for your domain.",
    "documentationLink": "https://developers.google.com/google-apps/licensing/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/apps.licensing"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "LicenseAssignment",
            "desc": "Template for LiscenseAssignment Resource",
            "type": "object",
            "fields": [
                {
                    "name": "selfLink",
                    "desc": "Link to this page.",
                    "type": "string"
                },
                {
                    "name": "skuId",
                    "desc": "Id of the sku of the product.",
                    "type": "string"
                },
                {
                    "name": "skuName",
                    "desc": "Display Name of the sku of the product.",
                    "type": "string"
                },
                {
                    "name": "userId",
                    "desc": "Email id of the user.",
                    "type": "string"
                },
                {
                    "name": "etags",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies the resource as a LicenseAssignment.",
                    "type": "string",
                    "default": "licensing#licenseAssignment"
                },
                {
                    "name": "productId",
                    "desc": "Id of the product.",
                    "type": "string"
                },
                {
                    "name": "productName",
                    "desc": "Display Name of the product.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LicenseAssignmentInsert",
            "desc": "Template for LicenseAssignment Insert request",
            "type": "object",
            "fields": [
                {
                    "name": "userId",
                    "desc": "Email id of the user",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LicenseAssignmentList",
            "desc": "LicesnseAssignment List for a given product/sku for a customer.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The LicenseAssignments in this page of results.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LicenseAssignment"
                },
                {
                    "name": "kind",
                    "desc": "Identifies the resource as a collection of LicenseAssignments.",
                    "type": "string",
                    "default": "licensing#licenseAssignmentList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "licenseAssignments",
            "methods": [
                {
                    "name": "get",
                    "desc": "Get license assignment of a particular product and sku for a user",
                    "path": "{productId}/sku/{skuId}/user/{userId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ],
                    "pathParams": [
                        {
                            "name": "productId",
                            "desc": "Name for product",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "skuId",
                            "desc": "Name for sku",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "email id or unique Id of the user",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "LicenseAssignment"
                },
                {
                    "name": "insert",
                    "desc": "Assign License.",
                    "path": "{productId}/sku/{skuId}/user",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ],
                    "pathParams": [
                        {
                            "name": "productId",
                            "desc": "Name for product",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "skuId",
                            "desc": "Name for sku",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "LicenseAssignmentInsert",
                    "response": "LicenseAssignment"
                },
                {
                    "name": "listForProduct",
                    "desc": "List license assignments for given product of the customer.",
                    "path": "{productId}/users",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ],
                    "pathParams": [
                        {
                            "name": "productId",
                            "desc": "Name for product",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "customerId",
                            "desc": "CustomerId represents the customer for whom licenseassignments are queried",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.",
                            "type": "uint32",
                            "default": "100",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Token to fetch the next page.Optional. By default server will return first page",
                            "type": "string"
                        }
                    ],
                    "response": "LicenseAssignmentList"
                },
                {
                    "name": "listForProductAndSku",
                    "desc": "List license assignments for given product and sku of the customer.",
                    "path": "{productId}/sku/{skuId}/users",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ],
                    "pathParams": [
                        {
                            "name": "productId",
                            "desc": "Name for product",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "skuId",
                            "desc": "Name for sku",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "customerId",
                            "desc": "CustomerId represents the customer for whom licenseassignments are queried",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.",
                            "type": "uint32",
                            "default": "100",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Token to fetch the next page.Optional. By default server will return first page",
                            "type": "string"
                        }
                    ],
                    "response": "LicenseAssignmentList"
                },
                {
                    "name": "patch",
                    "desc": "Assign License. This method supports patch semantics.",
                    "path": "{productId}/sku/{skuId}/user/{userId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ],
                    "pathParams": [
                        {
                            "name": "productId",
                            "desc": "Name for product",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "skuId",
                            "desc": "Name for sku for which license would be revoked",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "email id or unique Id of the user",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "LicenseAssignment",
                    "response": "LicenseAssignment"
                },
                {
                    "name": "update",
                    "desc": "Assign License.",
                    "path": "{productId}/sku/{skuId}/user/{userId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ],
                    "pathParams": [
                        {
                            "name": "productId",
                            "desc": "Name for product",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "skuId",
                            "desc": "Name for sku for which license would be revoked",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "email id or unique Id of the user",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "LicenseAssignment",
                    "response": "LicenseAssignment"
                },
                {
                    "name": "delete",
                    "desc": "Revoke License.",
                    "path": "{productId}/sku/{skuId}/user/{userId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ],
                    "pathParams": [
                        {
                            "name": "productId",
                            "desc": "Name for product",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "skuId",
                            "desc": "Name for sku",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "email id or unique Id of the user",
                            "required": true,
                            "type": "string"
                        }
                    ]
                }
            ]
        }
    ]
}