{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/8JFCy9G09DiKop8V7jh2RwsOYyI\"",
    "discoveryVersion": "v1",
    "id": "groupssettings:v1",
    "name": "groupssettings",
    "version": "v1",
    "title": "Groups Settings API",
    "description": "Lets you manage permission levels and related settings of a group.",
    "documentationLink": "https://developers.google.com/google-apps/groups-settings/get_started",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/apps.groups.settings"
        ]
    },
    "parameters": [
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "atom",
            "enum": [
                {
                    "name": "atom",
                    "desc": "Responses with Content-Type of application/atom+xml"
                },
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Groups",
            "desc": "JSON template for Group resource",
            "type": "object",
            "fields": [
                {
                    "name": "messageModerationLevel",
                    "desc": "Moderation level for messages. Possible values are: MODERATE_ALL_MESSAGES MODERATE_NON_MEMBERS MODERATE_NEW_MEMBERS MODERATE_NONE",
                    "type": "string"
                },
                {
                    "name": "whoCanContactOwner",
                    "desc": "Permission to contact owner of the group via web UI. Possible values are: ANYONE_CAN_CONTACT ALL_IN_DOMAIN_CAN_CONTACT ALL_MEMBERS_CAN_CONTACT ALL_MANAGERS_CAN_CONTACT",
                    "type": "string"
                },
                {
                    "name": "whoCanJoin",
                    "desc": "Permissions to join the group. Possible values are: ANYONE_CAN_JOIN ALL_IN_DOMAIN_CAN_JOIN INVITED_CAN_JOIN CAN_REQUEST_TO_JOIN",
                    "type": "string"
                },
                {
                    "name": "allowExternalMembers",
                    "desc": "Are external members allowed to join the group.",
                    "type": "string"
                },
                {
                    "name": "customFooterText",
                    "desc": "Custom footer text.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "Description of the group",
                    "type": "string"
                },
                {
                    "name": "email",
                    "desc": "Email id of the group",
                    "type": "string"
                },
                {
                    "name": "isArchived",
                    "desc": "If the contents of the group are archived.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The type of the resource.",
                    "type": "string",
                    "default": "groupsSettings#groups"
                },
                {
                    "name": "whoCanInvite",
                    "desc": "Permissions to invite members. Possible values are: ALL_MEMBERS_CAN_INVITE ALL_MANAGERS_CAN_INVITE NONE_CAN_INVITE",
                    "type": "string"
                },
                {
                    "name": "messageDisplayFont",
                    "desc": "Default message display font. Possible values are: DEFAULT_FONT FIXED_WIDTH_FONT",
                    "type": "string"
                },
                {
                    "name": "whoCanAdd",
                    "desc": "Permissions to add members. Possible values are: ALL_MANAGERS_CAN_ADD ALL_MEMBERS_CAN_ADD NONE_CAN_ADD",
                    "type": "string"
                },
                {
                    "name": "whoCanViewMembership",
                    "desc": "Permissions to view membership. Possible values are: ALL_IN_DOMAIN_CAN_VIEW ALL_MEMBERS_CAN_VIEW ALL_MANAGERS_CAN_VIEW",
                    "type": "string"
                },
                {
                    "name": "whoCanPostMessage",
                    "desc": "Permissions to post messages to the group. Possible values are: NONE_CAN_POST ALL_MANAGERS_CAN_POST ALL_MEMBERS_CAN_POST ALL_IN_DOMAIN_CAN_POST ANYONE_CAN_POST",
                    "type": "string"
                },
                {
                    "name": "allowGoogleCommunication",
                    "desc": "Is google allowed to contact admins.",
                    "type": "string"
                },
                {
                    "name": "allowWebPosting",
                    "desc": "If posting from web is allowed.",
                    "type": "string"
                },
                {
                    "name": "customReplyTo",
                    "desc": "Default email to which reply to any message should go.",
                    "type": "string"
                },
                {
                    "name": "includeCustomFooter",
                    "desc": "Whether to include custom footer.",
                    "type": "string"
                },
                {
                    "name": "primaryLanguage",
                    "desc": "Primary language for the group.",
                    "type": "string"
                },
                {
                    "name": "membersCanPostAsTheGroup",
                    "desc": "Can members post using the group email address.",
                    "type": "string"
                },
                {
                    "name": "whoCanLeaveGroup",
                    "desc": "Permission to leave the group. Possible values are: ALL_MANAGERS_CAN_LEAVE ALL_MEMBERS_CAN_LEAVE NONE_CAN_LEAVE",
                    "type": "string"
                },
                {
                    "name": "archiveOnly",
                    "desc": "If the group is archive only",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of the Group",
                    "type": "string"
                },
                {
                    "name": "replyTo",
                    "desc": "Whome should the default reply to a message go to. Possible values are: REPLY_TO_CUSTOM REPLY_TO_SENDER REPLY_TO_LIST REPLY_TO_OWNER REPLY_TO_IGNORE REPLY_TO_MANAGERS",
                    "type": "string"
                },
                {
                    "name": "spamModerationLevel",
                    "desc": "Moderation level for messages detected as spam. Possible values are: ALLOW MODERATE SILENTLY_MODERATE REJECT",
                    "type": "string"
                },
                {
                    "name": "whoCanViewGroup",
                    "desc": "Permissions to view group. Possible values are: ANYONE_CAN_VIEW ALL_IN_DOMAIN_CAN_VIEW ALL_MEMBERS_CAN_VIEW ALL_MANAGERS_CAN_VIEW",
                    "type": "string"
                },
                {
                    "name": "defaultMessageDenyNotificationText",
                    "desc": "Default message deny notification message",
                    "type": "string"
                },
                {
                    "name": "includeInGlobalAddressList",
                    "desc": "If this groups should be included in global address list or not.",
                    "type": "string"
                },
                {
                    "name": "maxMessageBytes",
                    "desc": "Maximum message size allowed.",
                    "type": "int32"
                },
                {
                    "name": "sendMessageDenyNotification",
                    "desc": "Should the member be notified if his message is denied by owner.",
                    "type": "string"
                },
                {
                    "name": "showInGroupDirectory",
                    "desc": "Is the group listed in groups directory",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "groups",
            "methods": [
                {
                    "name": "patch",
                    "desc": "Updates an existing resource. This method supports patch semantics.",
                    "path": "{groupUniqueId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.groups.settings"
                    ],
                    "pathParams": [
                        {
                            "name": "groupUniqueId",
                            "desc": "The resource ID",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Groups",
                    "response": "Groups"
                },
                {
                    "name": "update",
                    "desc": "Updates an existing resource.",
                    "path": "{groupUniqueId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.groups.settings"
                    ],
                    "pathParams": [
                        {
                            "name": "groupUniqueId",
                            "desc": "The resource ID",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Groups",
                    "response": "Groups"
                },
                {
                    "name": "get",
                    "desc": "Gets one resource by id.",
                    "path": "{groupUniqueId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.groups.settings"
                    ],
                    "pathParams": [
                        {
                            "name": "groupUniqueId",
                            "desc": "The resource ID",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Groups"
                }
            ]
        }
    ]
}