{
    "kind": "discovery#restDescription",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/6s__cFeA5l1i01rONlu3TmUQEHs\"",
    "discoveryVersion": "v1",
    "id": "translate:v2",
    "name": "translate",
    "version": "v2",
    "title": "Translate API",
    "description": "Translates text from one language to another.",
    "documentationLink": "https://developers.google.com/translate/v2/using_rest",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "features": [
        "dataWrapper"
    ],
    "auth": {},
    "parameters": [
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "TranslationsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "translations",
                    "desc": "Translations contains list of translation results of given text",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TranslationsResource"
                }
            ]
        },
        {
            "name": "TranslationsResource",
            "type": "object",
            "fields": [
                {
                    "name": "translatedText",
                    "desc": "The translation.",
                    "type": "string"
                },
                {
                    "name": "detectedSourceLanguage",
                    "desc": "Detected source language if source parameter is unspecified.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DetectionsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "detections",
                    "desc": "A detections contains detection results of several text",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DetectionsResource"
                }
            ]
        },
        {
            "name": "DetectionsResource",
            "desc": "An array of languages which we detect for the given text The most likely language list first.",
            "collection": "array",
            "type": "object",
            "fields": [
                {
                    "name": "confidence",
                    "desc": "The confidence of the detection resul of this language.",
                    "type": "float32"
                },
                {
                    "name": "isReliable",
                    "desc": "A boolean to indicate is the language detection result reliable.",
                    "type": "bool"
                },
                {
                    "name": "language",
                    "desc": "The language we detect",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LanguagesListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "languages",
                    "desc": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LanguagesResource"
                }
            ]
        },
        {
            "name": "LanguagesResource",
            "type": "object",
            "fields": [
                {
                    "name": "language",
                    "desc": "The language code.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The localized name of the language if target parameter is given.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "detections",
            "methods": [
                {
                    "name": "list",
                    "desc": "Detect the language of text.",
                    "path": "v2/detect",
                    "httpMethod": "GET",
                    "requiredQueryParams": [
                        {
                            "name": "q",
                            "desc": "The text to detect",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "DetectionsListResponse"
                }
            ]
        },
        {
            "name": "languages",
            "methods": [
                {
                    "name": "list",
                    "desc": "List the source/target languages supported by the API",
                    "path": "v2/languages",
                    "httpMethod": "GET",
                    "optinalQueryParams": [
                        {
                            "name": "target",
                            "desc": "the language and collation in which the localized results should be returned",
                            "type": "string"
                        }
                    ],
                    "response": "LanguagesListResponse"
                }
            ]
        },
        {
            "name": "translations",
            "methods": [
                {
                    "name": "list",
                    "desc": "Returns text translations from one language to another.",
                    "path": "v2",
                    "httpMethod": "GET",
                    "requiredQueryParams": [
                        {
                            "name": "q",
                            "desc": "The text to translate",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "target",
                            "desc": "The target language into which the text should be translated",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "cid",
                            "desc": "The customization id for translate",
                            "type": "string"
                        },
                        {
                            "name": "format",
                            "desc": "The format of the text",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "html",
                                    "desc": "Specifies the input is in HTML"
                                },
                                {
                                    "name": "text",
                                    "desc": "Specifies the input is in plain textual format"
                                }
                            ]
                        },
                        {
                            "name": "source",
                            "desc": "The source language of the text",
                            "type": "string"
                        }
                    ],
                    "response": "TranslationsListResponse"
                }
            ]
        }
    ]
}