{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/BFvqf4PzQ_rKlJ_T3zN9_axOcX0\"",
    "discoveryVersion": "v1",
    "id": "drive:v3",
    "name": "drive",
    "version": "v3",
    "title": "Drive API",
    "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
    "documentationLink": "https://developers.google.com/drive/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/drive.scripts",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "StartPageToken",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#startPageToken\".",
                    "type": "string",
                    "default": "drive#startPageToken"
                },
                {
                    "name": "startPageToken",
                    "desc": "The starting page token for listing changes.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "User",
            "desc": "Information about a Drive user.",
            "type": "object",
            "fields": [
                {
                    "name": "permissionId",
                    "desc": "The user's ID as visible in Permission resources.",
                    "type": "string"
                },
                {
                    "name": "photoLink",
                    "desc": "A link to the user's profile photo, if available.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "A plain text displayable name for this user.",
                    "type": "string"
                },
                {
                    "name": "emailAddress",
                    "desc": "The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#user\".",
                    "type": "string",
                    "default": "drive#user"
                },
                {
                    "name": "me",
                    "desc": "Whether this user is the requesting user.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "About",
            "desc": "Information about the user, the user's Drive, and system capabilities.",
            "type": "object",
            "fields": [
                {
                    "name": "storageQuota",
                    "desc": "The user's storage quota limits and usage. All fields are measured in bytes.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "limit",
                            "desc": "The usage limit, if applicable. This will not be present if the user has unlimited storage.",
                            "type": "int64"
                        },
                        {
                            "name": "usage",
                            "desc": "The total usage across all services.",
                            "type": "int64"
                        },
                        {
                            "name": "usageInDrive",
                            "desc": "The usage by all files in Google Drive.",
                            "type": "int64"
                        },
                        {
                            "name": "usageInDriveTrash",
                            "desc": "The usage by trashed files in Google Drive.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "user",
                    "desc": "The authenticated user.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "exportFormats",
                    "desc": "A map of source MIME type to possible targets for all supported exports.",
                    "collection": "map",
                    "collectionItem": {
                        "collection": "array",
                        "type": "string"
                    }
                },
                {
                    "name": "folderColorPalette",
                    "desc": "The currently supported folder colors as RGB hex strings.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "importFormats",
                    "desc": "A map of source MIME type to possible targets for all supported imports.",
                    "collection": "map",
                    "collectionItem": {
                        "collection": "array",
                        "type": "string"
                    }
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#about\".",
                    "type": "string",
                    "default": "drive#about"
                },
                {
                    "name": "appInstalled",
                    "desc": "Whether the user has installed the requesting app.",
                    "type": "bool"
                },
                {
                    "name": "maxImportSizes",
                    "desc": "A map of maximum import sizes by MIME type, in bytes.",
                    "collection": "map",
                    "type": "int64"
                },
                {
                    "name": "maxUploadSize",
                    "desc": "The maximum upload size in bytes.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "ChangeList",
            "desc": "A list of changes for a user.",
            "type": "object",
            "fields": [
                {
                    "name": "changes",
                    "desc": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Change"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#changeList\".",
                    "type": "string",
                    "default": "drive#changeList"
                },
                {
                    "name": "newStartPageToken",
                    "desc": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
                    "type": "string"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GeneratedIds",
            "desc": "A list of generated file IDs which can be provided in create requests.",
            "type": "object",
            "fields": [
                {
                    "name": "ids",
                    "desc": "The IDs generated for the requesting user in the specified space.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#generatedIds\".",
                    "type": "string",
                    "default": "drive#generatedIds"
                },
                {
                    "name": "space",
                    "desc": "The type of file that can be created with these IDs.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Reply",
            "desc": "A reply to a comment on a file.",
            "type": "object",
            "fields": [
                {
                    "name": "action",
                    "desc": "The action the reply performed to the parent comment. Valid values are:  \n- resolve \n- reopen",
                    "type": "string"
                },
                {
                    "name": "deleted",
                    "desc": "Whether the reply has been deleted. A deleted reply has no content.",
                    "type": "bool"
                },
                {
                    "name": "modifiedTime",
                    "desc": "The last time the reply was modified (RFC 3339 date-time).",
                    "type": "datetime"
                },
                {
                    "name": "author",
                    "desc": "The user who created the reply.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "content",
                    "desc": "The plain text content of the reply. This field is used for setting the content, while htmlContent should be displayed. This is required on creates if no action is specified.",
                    "type": "string"
                },
                {
                    "name": "createdTime",
                    "desc": "The time at which the reply was created (RFC 3339 date-time).",
                    "type": "datetime"
                },
                {
                    "name": "htmlContent",
                    "desc": "The content of the reply with HTML formatting.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the reply.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#reply\".",
                    "type": "string",
                    "default": "drive#reply"
                }
            ]
        },
        {
            "name": "RevisionList",
            "desc": "A list of revisions of a file.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#revisionList\".",
                    "type": "string",
                    "default": "drive#revisionList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "revisions",
                    "desc": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Revision"
                }
            ]
        },
        {
            "name": "TeamDrive",
            "desc": "Representation of a Team Drive.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The ID of this Team Drive which is also the ID of the top level folder for this Team Drive.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#teamDrive\".",
                    "type": "string",
                    "default": "drive#teamDrive"
                },
                {
                    "name": "name",
                    "desc": "The name of this Team Drive.",
                    "type": "string"
                },
                {
                    "name": "capabilities",
                    "desc": "Capabilities the current user has on this Team Drive.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "canComment",
                            "desc": "Whether the current user can comment on files in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canCopy",
                            "desc": "Whether files in this Team Drive can be copied by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canManageMembers",
                            "desc": "Whether the current user can add members to this Team Drive or remove them or change their role.",
                            "type": "bool"
                        },
                        {
                            "name": "canReadRevisions",
                            "desc": "Whether the current user has read access to the Revisions resource of files in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canRemoveChildren",
                            "desc": "Whether the current user can remove children from folders in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canRename",
                            "desc": "Whether files or folders in this Team Drive can be renamed by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canShare",
                            "desc": "Whether the current user can share files or folders in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canAddChildren",
                            "desc": "Whether the current user can add children to folders in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canDeleteTeamDrive",
                            "desc": "Whether this Team Drive can be deleted by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canDownload",
                            "desc": "Whether files in this Team Drive can be downloaded by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canEdit",
                            "desc": "Whether files in this Team Drive can be edited by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canListChildren",
                            "desc": "Whether the current user can list the children of folders in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canRenameTeamDrive",
                            "desc": "Whether this Team Drive can be renamed by the current user.",
                            "type": "bool"
                        }
                    ]
                }
            ]
        },
        {
            "name": "TeamDriveList",
            "desc": "A list of Team Drives.",
            "type": "object",
            "fields": [
                {
                    "name": "teamDrives",
                    "desc": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TeamDrive"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#teamDriveList\".",
                    "type": "string",
                    "default": "drive#teamDriveList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CommentList",
            "desc": "A list of comments on a file.",
            "type": "object",
            "fields": [
                {
                    "name": "comments",
                    "desc": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Comment"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#commentList\".",
                    "type": "string",
                    "default": "drive#commentList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "File",
            "desc": "The metadata for a file.",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "A short description of the file.",
                    "type": "string"
                },
                {
                    "name": "owners",
                    "desc": "The owners of the file. Currently, only certain legacy files may have more than one owner. Not populated for Team Drive files.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "hasAugmentedPermissions",
                    "desc": "Whether any users are granted file access directly on this file. This field is only populated for Team Drive files.",
                    "type": "bool"
                },
                {
                    "name": "sharingUser",
                    "desc": "The user who shared the file with the requesting user, if applicable.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "thumbnailLink",
                    "desc": "A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Only populated when the requesting app can access the file's content.",
                    "type": "string"
                },
                {
                    "name": "webContentLink",
                    "desc": "A link for downloading the content of the file in a browser. This is only available for files with binary content in Drive.",
                    "type": "string"
                },
                {
                    "name": "imageMediaMetadata",
                    "desc": "Additional metadata about image media, if available.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "rotation",
                            "desc": "The rotation in clockwise degrees from the image's original orientation.",
                            "type": "int32"
                        },
                        {
                            "name": "sensor",
                            "desc": "The type of sensor used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "cameraMake",
                            "desc": "The make of the camera used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "colorSpace",
                            "desc": "The color space of the photo.",
                            "type": "string"
                        },
                        {
                            "name": "focalLength",
                            "desc": "The focal length used to create the photo, in millimeters.",
                            "type": "float32"
                        },
                        {
                            "name": "height",
                            "desc": "The height of the image in pixels.",
                            "type": "int32"
                        },
                        {
                            "name": "maxApertureValue",
                            "desc": "The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
                            "type": "float32"
                        },
                        {
                            "name": "cameraModel",
                            "desc": "The model of the camera used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "exposureTime",
                            "desc": "The length of the exposure, in seconds.",
                            "type": "float32"
                        },
                        {
                            "name": "lens",
                            "desc": "The lens used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "location",
                            "desc": "Geographic location information stored in the image.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "altitude",
                                    "desc": "The altitude stored in the image.",
                                    "type": "float64"
                                },
                                {
                                    "name": "latitude",
                                    "desc": "The latitude stored in the image.",
                                    "type": "float64"
                                },
                                {
                                    "name": "longitude",
                                    "desc": "The longitude stored in the image.",
                                    "type": "float64"
                                }
                            ]
                        },
                        {
                            "name": "exposureMode",
                            "desc": "The exposure mode used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "meteringMode",
                            "desc": "The metering mode used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "subjectDistance",
                            "desc": "The distance to the subject of the photo, in meters.",
                            "type": "int32"
                        },
                        {
                            "name": "whiteBalance",
                            "desc": "The white balance mode used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "time",
                            "desc": "The date and time the photo was taken (EXIF DateTime).",
                            "type": "string"
                        },
                        {
                            "name": "width",
                            "desc": "The width of the image in pixels.",
                            "type": "int32"
                        },
                        {
                            "name": "aperture",
                            "desc": "The aperture used to create the photo (f-number).",
                            "type": "float32"
                        },
                        {
                            "name": "exposureBias",
                            "desc": "The exposure bias of the photo (APEX value).",
                            "type": "float32"
                        },
                        {
                            "name": "flashUsed",
                            "desc": "Whether a flash was used to create the photo.",
                            "type": "bool"
                        },
                        {
                            "name": "isoSpeed",
                            "desc": "The ISO speed used to create the photo.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "originalFilename",
                    "desc": "The original filename of the uploaded content if available, or else the original value of the name field. This is only available for files with binary content in Drive.",
                    "type": "string"
                },
                {
                    "name": "permissions",
                    "desc": "The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for Team Drive files.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Permission"
                },
                {
                    "name": "sharedWithMeTime",
                    "desc": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
                    "type": "datetime"
                },
                {
                    "name": "webViewLink",
                    "desc": "A link for opening the file in a relevant Google editor or viewer in a browser.",
                    "type": "string"
                },
                {
                    "name": "teamDriveId",
                    "desc": "ID of the Team Drive the file resides in.",
                    "type": "string"
                },
                {
                    "name": "appProperties",
                    "desc": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "hasThumbnail",
                    "desc": "Whether this file has a thumbnail.",
                    "type": "bool"
                },
                {
                    "name": "headRevisionId",
                    "desc": "The ID of the file's head revision. This is currently only available for files with binary content in Drive.",
                    "type": "string"
                },
                {
                    "name": "lastModifyingUser",
                    "desc": "The last user to modify the file.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "md5Checksum",
                    "desc": "The MD5 checksum for the content of the file. This is only applicable to files with binary content in Drive.",
                    "type": "string"
                },
                {
                    "name": "trashingUser",
                    "desc": "If the file has been explicitly trashed, the user who trashed it. Only populated for Team Drive files.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "viewedByMe",
                    "desc": "Whether the file has been viewed by this user.",
                    "type": "bool"
                },
                {
                    "name": "viewersCanCopyContent",
                    "desc": "Whether users with only reader or commenter permission can copy the file's content. This affects copy, download, and print operations.",
                    "type": "bool"
                },
                {
                    "name": "capabilities",
                    "desc": "Capabilities the current user has on the file. Each capability corresponds to a fine-grained action that a user may take.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "canComment",
                            "desc": "Whether the user can comment on the file.",
                            "type": "bool"
                        },
                        {
                            "name": "canMoveTeamDriveItem",
                            "desc": "Whether the user can move this Team Drive item by changing its parent. Note that a request to change the parent for this item may still fail depending on the new parent that is being added. Only populated for Team Drive files.",
                            "type": "bool"
                        },
                        {
                            "name": "canReadRevisions",
                            "desc": "Whether the user has read access to the Revisions resource of the file. For a Team Drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
                            "type": "bool"
                        },
                        {
                            "name": "canReadTeamDrive",
                            "desc": "Whether the user has read access to the Team Drive to which this file belongs. Only populated for Team Drive files.",
                            "type": "bool"
                        },
                        {
                            "name": "canUntrash",
                            "desc": "Whether the file can be restored from the trash by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canDownload",
                            "desc": "Whether the file can be downloaded by the user.",
                            "type": "bool"
                        },
                        {
                            "name": "canMoveItemIntoTeamDrive",
                            "desc": "Whether the current user can move this item into a Team Drive. If the item is in a Team Drive, this field is equivalent to canMoveTeamDriveItem.",
                            "type": "bool"
                        },
                        {
                            "name": "canRemoveChildren",
                            "desc": "Whether the user can remove children from this folder. This is always false when the item is not a folder.",
                            "type": "bool"
                        },
                        {
                            "name": "canAddChildren",
                            "desc": "Whether the user can add children to this folder. This is always false when the item is not a folder.",
                            "type": "bool"
                        },
                        {
                            "name": "canEdit",
                            "desc": "Whether the user can edit the file's content.",
                            "type": "bool"
                        },
                        {
                            "name": "canListChildren",
                            "desc": "Whether the user can list the children of this folder. This is always false when the item is not a folder.",
                            "type": "bool"
                        },
                        {
                            "name": "canRename",
                            "desc": "Whether the file can be renamed by the user.",
                            "type": "bool"
                        },
                        {
                            "name": "canTrash",
                            "desc": "Whether the file can be trashed by the user.",
                            "type": "bool"
                        },
                        {
                            "name": "canCopy",
                            "desc": "Whether the user can copy the file. For a Team Drive item, whether non-folder descendants of this item, or this item itself if it is not a folder, can be copied.",
                            "type": "bool"
                        },
                        {
                            "name": "canDelete",
                            "desc": "Whether the file can be deleted by the user.",
                            "type": "bool"
                        },
                        {
                            "name": "canShare",
                            "desc": "Whether the user can modify the file's permissions and sharing settings.",
                            "type": "bool"
                        }
                    ]
                },
                {
                    "name": "fullFileExtension",
                    "desc": "The full file extension extracted from the name field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Drive.\nThis is automatically updated when the name field changes, however it is not cleared if the new name does not contain a valid extension.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the file.",
                    "type": "string"
                },
                {
                    "name": "ownedByMe",
                    "desc": "Whether the user owns the file. Not populated for Team Drive files.",
                    "type": "bool"
                },
                {
                    "name": "quotaBytesUsed",
                    "desc": "The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with keepForever enabled.",
                    "type": "int64"
                },
                {
                    "name": "size",
                    "desc": "The size of the file's content in bytes. This is only applicable to files with binary content in Drive.",
                    "type": "int64"
                },
                {
                    "name": "spaces",
                    "desc": "The list of spaces which contain the file. The currently supported values are 'drive', 'appDataFolder' and 'photos'.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "contentHints",
                    "desc": "Additional information about the content of the file. These fields are never populated in responses.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "indexableText",
                            "desc": "Text to be indexed for the file to improve fullText queries. This is limited to 128KB in length and may contain HTML elements.",
                            "type": "string"
                        },
                        {
                            "name": "thumbnail",
                            "desc": "A thumbnail for the file. This will only be used if Drive cannot generate a standard thumbnail.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "mimeType",
                                    "desc": "The MIME type of the thumbnail.",
                                    "type": "string"
                                },
                                {
                                    "name": "image",
                                    "desc": "The thumbnail data encoded with URL-safe Base64 (RFC 4648 section 5).",
                                    "type": "byte"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "folderColorRgb",
                    "desc": "The color for a folder as an RGB hex string. The supported colors are published in the folderColorPalette field of the About resource.\nIf an unsupported color is specified, the closest color in the palette will be used instead.",
                    "type": "string"
                },
                {
                    "name": "mimeType",
                    "desc": "The MIME type of the file.\nDrive will attempt to automatically detect an appropriate value from uploaded content if no value is provided. The value cannot be changed unless a new revision is uploaded.\nIf a file is created with a Google Doc MIME type, the uploaded content will be imported if possible. The supported import formats are published in the About resource.",
                    "type": "string"
                },
                {
                    "name": "modifiedByMe",
                    "desc": "Whether the file has been modified by this user.",
                    "type": "bool"
                },
                {
                    "name": "properties",
                    "desc": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "starred",
                    "desc": "Whether the user has starred the file.",
                    "type": "bool"
                },
                {
                    "name": "trashedTime",
                    "desc": "The time that the item was trashed (RFC 3339 date-time). Only populated for Team Drive files.",
                    "type": "datetime"
                },
                {
                    "name": "version",
                    "desc": "A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.",
                    "type": "int64"
                },
                {
                    "name": "fileExtension",
                    "desc": "The final component of fullFileExtension. This is only available for files with binary content in Drive.",
                    "type": "string"
                },
                {
                    "name": "isAppAuthorized",
                    "desc": "Whether the file was created or opened by the requesting app.",
                    "type": "bool"
                },
                {
                    "name": "modifiedByMeTime",
                    "desc": "The last time the file was modified by the user (RFC 3339 date-time).",
                    "type": "datetime"
                },
                {
                    "name": "modifiedTime",
                    "desc": "The last time the file was modified by anyone (RFC 3339 date-time).\nNote that setting modifiedTime will also update modifiedByMeTime for the user.",
                    "type": "datetime"
                },
                {
                    "name": "name",
                    "desc": "The name of the file. This is not necessarily unique within a folder. Note that for immutable items such as the top level folders of Team Drives, My Drive root folder, and Application Data folder the name is constant.",
                    "type": "string"
                },
                {
                    "name": "videoMediaMetadata",
                    "desc": "Additional metadata about video media. This may not be available immediately upon upload.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "durationMillis",
                            "desc": "The duration of the video in milliseconds.",
                            "type": "int64"
                        },
                        {
                            "name": "height",
                            "desc": "The height of the video in pixels.",
                            "type": "int32"
                        },
                        {
                            "name": "width",
                            "desc": "The width of the video in pixels.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "viewedByMeTime",
                    "desc": "The last time the file was viewed by the user (RFC 3339 date-time).",
                    "type": "datetime"
                },
                {
                    "name": "shared",
                    "desc": "Whether the file has been shared. Not populated for Team Drive files.",
                    "type": "bool"
                },
                {
                    "name": "thumbnailVersion",
                    "desc": "The thumbnail version for use in thumbnail cache invalidation.",
                    "type": "int64"
                },
                {
                    "name": "trashed",
                    "desc": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, and other users cannot see files in the owner's trash.",
                    "type": "bool"
                },
                {
                    "name": "createdTime",
                    "desc": "The time at which the file was created (RFC 3339 date-time).",
                    "type": "datetime"
                },
                {
                    "name": "explicitlyTrashed",
                    "desc": "Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.",
                    "type": "bool"
                },
                {
                    "name": "iconLink",
                    "desc": "A static, unauthenticated link to the file's icon.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#file\".",
                    "type": "string",
                    "default": "drive#file"
                },
                {
                    "name": "parents",
                    "desc": "The IDs of the parent folders which contain the file.\nIf not specified as part of a create request, the file will be placed directly in the My Drive folder. Update requests must use the addParents and removeParents parameters to modify the values.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "writersCanShare",
                    "desc": "Whether users with only writer permission can modify the file's permissions. Not populated for Team Drive files.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "Permission",
            "desc": "A permission for a file. A permission grants a user, group, domain or the world access to a file or a folder hierarchy.",
            "type": "object",
            "fields": [
                {
                    "name": "domain",
                    "desc": "The domain to which this permission refers.",
                    "type": "string"
                },
                {
                    "name": "expirationTime",
                    "desc": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions:  \n- They can only be set on user and group permissions \n- The time must be in the future \n- The time cannot be more than a year in the future",
                    "type": "datetime"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#permission\".",
                    "type": "string",
                    "default": "drive#permission"
                },
                {
                    "name": "role",
                    "desc": "The role granted by this permission. While new values may be supported in the future, the following are currently allowed:  \n- organizer \n- owner \n- writer \n- commenter \n- reader",
                    "type": "string"
                },
                {
                    "name": "allowFileDiscovery",
                    "desc": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type domain or anyone.",
                    "type": "bool"
                },
                {
                    "name": "displayName",
                    "desc": "A displayable name for users, groups or domains.",
                    "type": "string"
                },
                {
                    "name": "photoLink",
                    "desc": "A link to the user's profile photo, if available.",
                    "type": "string"
                },
                {
                    "name": "teamDrivePermissionDetails",
                    "desc": "Details of whether the Permissions on this Team Drive item are inherited or directly on this item. This is an output-only field which is present only for Team Drive items.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "role",
                            "desc": "The primary role for this user. While new values may be added in the future, the following are currently possible:  \n- organizer \n- writer \n- commenter \n- reader",
                            "type": "string"
                        },
                        {
                            "name": "teamDrivePermissionType",
                            "desc": "The Team Drive permission type for this user. While new values may be added in future, the following are currently possible:  \n- file\n- \n- member",
                            "type": "string"
                        },
                        {
                            "name": "inherited",
                            "desc": "Whether this permission is inherited. This field is always populated. This is an output-only field.",
                            "type": "bool"
                        },
                        {
                            "name": "inheritedFrom",
                            "desc": "The ID of the item from which this permission is inherited. This is an output-only field and is only populated for members of the Team Drive.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "type",
                    "desc": "The type of the grantee. Valid values are:  \n- user \n- group \n- domain \n- anyone",
                    "type": "string"
                },
                {
                    "name": "emailAddress",
                    "desc": "The email address of the user or group to which this permission refers.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of this permission. This is a unique identifier for the grantee, and is published in User resources as permissionId.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Revision",
            "desc": "The metadata for a revision to a file.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The ID of the revision.",
                    "type": "string"
                },
                {
                    "name": "lastModifyingUser",
                    "desc": "The last user to modify this revision.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "originalFilename",
                    "desc": "The original filename used to create this revision. This is only applicable to files with binary content in Drive.",
                    "type": "string"
                },
                {
                    "name": "publishedOutsideDomain",
                    "desc": "Whether this revision is published outside the domain. This is only applicable to Google Docs.",
                    "type": "bool"
                },
                {
                    "name": "publishAuto",
                    "desc": "Whether subsequent revisions will be automatically republished. This is only applicable to Google Docs.",
                    "type": "bool"
                },
                {
                    "name": "published",
                    "desc": "Whether this revision is published. This is only applicable to Google Docs.",
                    "type": "bool"
                },
                {
                    "name": "size",
                    "desc": "The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.",
                    "type": "int64"
                },
                {
                    "name": "keepForever",
                    "desc": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file.\nThis field is only applicable to files with binary content in Drive.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#revision\".",
                    "type": "string",
                    "default": "drive#revision"
                },
                {
                    "name": "md5Checksum",
                    "desc": "The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.",
                    "type": "string"
                },
                {
                    "name": "mimeType",
                    "desc": "The MIME type of the revision.",
                    "type": "string"
                },
                {
                    "name": "modifiedTime",
                    "desc": "The last time the revision was modified (RFC 3339 date-time).",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "FileList",
            "desc": "A list of files.",
            "type": "object",
            "fields": [
                {
                    "name": "incompleteSearch",
                    "desc": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple Team Drives with the \"user,allTeamDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"user\" or \"teamDrive\".",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#fileList\".",
                    "type": "string",
                    "default": "drive#fileList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "files",
                    "desc": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "File"
                }
            ]
        },
        {
            "name": "ReplyList",
            "desc": "A list of replies to a comment on a file.",
            "type": "object",
            "fields": [
                {
                    "name": "replies",
                    "desc": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Reply"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#replyList\".",
                    "type": "string",
                    "default": "drive#replyList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Change",
            "desc": "A change to a file or Team Drive.",
            "type": "object",
            "fields": [
                {
                    "name": "removed",
                    "desc": "Whether the file or Team Drive has been removed from this list of changes, for example by deletion or loss of access.",
                    "type": "bool"
                },
                {
                    "name": "teamDrive",
                    "desc": "The updated state of the Team Drive. Present if the type is teamDrive, the user is still a member of the Team Drive, and the Team Drive has not been removed.",
                    "type": "ref",
                    "refType": "TeamDrive"
                },
                {
                    "name": "teamDriveId",
                    "desc": "The ID of the Team Drive associated with this change.",
                    "type": "string"
                },
                {
                    "name": "time",
                    "desc": "The time of this change (RFC 3339 date-time).",
                    "type": "datetime"
                },
                {
                    "name": "type",
                    "desc": "The type of the change. Possible values are file and teamDrive.",
                    "type": "string"
                },
                {
                    "name": "file",
                    "desc": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.",
                    "type": "ref",
                    "refType": "File"
                },
                {
                    "name": "fileId",
                    "desc": "The ID of the file which has changed.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#change\".",
                    "type": "string",
                    "default": "drive#change"
                }
            ]
        },
        {
            "name": "Channel",
            "desc": "An notification channel used to watch for resource changes.",
            "type": "object",
            "fields": [
                {
                    "name": "token",
                    "desc": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
                    "type": "string"
                },
                {
                    "name": "address",
                    "desc": "The address where notifications are delivered for this channel.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "A UUID or similar unique string that identifies this channel.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
                    "type": "string",
                    "default": "api#channel"
                },
                {
                    "name": "params",
                    "desc": "Additional parameters controlling delivery channel behavior. Optional.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of delivery mechanism used for this channel.",
                    "type": "string"
                },
                {
                    "name": "expiration",
                    "desc": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
                    "type": "int64"
                },
                {
                    "name": "payload",
                    "desc": "A Boolean value to indicate whether payload is wanted. Optional.",
                    "type": "bool"
                },
                {
                    "name": "resourceId",
                    "desc": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
                    "type": "string"
                },
                {
                    "name": "resourceUri",
                    "desc": "A version-specific identifier for the watched resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Comment",
            "desc": "A comment on a file.",
            "type": "object",
            "fields": [
                {
                    "name": "replies",
                    "desc": "The full list of replies to the comment in chronological order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Reply"
                },
                {
                    "name": "resolved",
                    "desc": "Whether the comment has been resolved by one of its replies.",
                    "type": "bool"
                },
                {
                    "name": "anchor",
                    "desc": "A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "The user who created the comment.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "content",
                    "desc": "The plain text content of the comment. This field is used for setting the content, while htmlContent should be displayed.",
                    "type": "string"
                },
                {
                    "name": "deleted",
                    "desc": "Whether the comment has been deleted. A deleted comment has no content.",
                    "type": "bool"
                },
                {
                    "name": "htmlContent",
                    "desc": "The content of the comment with HTML formatting.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#comment\".",
                    "type": "string",
                    "default": "drive#comment"
                },
                {
                    "name": "createdTime",
                    "desc": "The time at which the comment was created (RFC 3339 date-time).",
                    "type": "datetime"
                },
                {
                    "name": "id",
                    "desc": "The ID of the comment.",
                    "type": "string"
                },
                {
                    "name": "modifiedTime",
                    "desc": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
                    "type": "datetime"
                },
                {
                    "name": "quotedFileContent",
                    "desc": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "mimeType",
                            "desc": "The MIME type of the quoted content.",
                            "type": "string"
                        },
                        {
                            "name": "value",
                            "desc": "The quoted content itself. This is interpreted as plain text if set through the API.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "PermissionList",
            "desc": "A list of permissions for a file.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#permissionList\".",
                    "type": "string",
                    "default": "drive#permissionList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "permissions",
                    "desc": "The list of permissions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Permission"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "revisions",
            "methods": [
                {
                    "name": "delete",
                    "desc": "Permanently deletes a revision. This method is only applicable to files with binary content in Drive.",
                    "path": "files/{fileId}/revisions/{revisionId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "revisionId",
                            "desc": "The ID of the revision.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Gets a revision's metadata or content by ID.",
                    "path": "files/{fileId}/revisions/{revisionId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "revisionId",
                            "desc": "The ID of the revision.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "acknowledgeAbuse",
                            "desc": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
                            "type": "bool",
                            "default": "false"
                        }
                    ],
                    "response": "Revision"
                },
                {
                    "name": "list",
                    "desc": "Lists a file's revisions.",
                    "path": "files/{fileId}/revisions",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageSize",
                            "desc": "The maximum number of revisions to return per page.",
                            "type": "int32",
                            "default": "200",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                            "type": "string"
                        }
                    ],
                    "response": "RevisionList"
                },
                {
                    "name": "update",
                    "desc": "Updates a revision with patch semantics.",
                    "path": "files/{fileId}/revisions/{revisionId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "revisionId",
                            "desc": "The ID of the revision.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Revision",
                    "response": "Revision"
                }
            ]
        },
        {
            "name": "about",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets information about the user, the user's Drive, and system capabilities.",
                    "path": "about",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "response": "About"
                }
            ]
        },
        {
            "name": "comments",
            "methods": [
                {
                    "name": "update",
                    "desc": "Updates a comment with patch semantics.",
                    "path": "files/{fileId}/comments/{commentId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "commentId",
                            "desc": "The ID of the comment.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Comment",
                    "response": "Comment"
                },
                {
                    "name": "create",
                    "desc": "Creates a new comment on a file.",
                    "path": "files/{fileId}/comments",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Comment",
                    "response": "Comment"
                },
                {
                    "name": "delete",
                    "desc": "Deletes a comment.",
                    "path": "files/{fileId}/comments/{commentId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "commentId",
                            "desc": "The ID of the comment.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Gets a comment by ID.",
                    "path": "files/{fileId}/comments/{commentId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "commentId",
                            "desc": "The ID of the comment.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "includeDeleted",
                            "desc": "Whether to return deleted comments. Deleted comments will not include their original content.",
                            "type": "bool",
                            "default": "false"
                        }
                    ],
                    "response": "Comment"
                },
                {
                    "name": "list",
                    "desc": "Lists a file's comments.",
                    "path": "files/{fileId}/comments",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageSize",
                            "desc": "The maximum number of comments to return per page.",
                            "type": "int32",
                            "default": "20",
                            "min": "1",
                            "max": "100"
                        },
                        {
                            "name": "pageToken",
                            "desc": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                            "type": "string"
                        },
                        {
                            "name": "startModifiedTime",
                            "desc": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
                            "type": "string"
                        },
                        {
                            "name": "includeDeleted",
                            "desc": "Whether to include deleted comments. Deleted comments will not include their original content.",
                            "type": "bool",
                            "default": "false"
                        }
                    ],
                    "response": "CommentList"
                }
            ]
        },
        {
            "name": "files",
            "methods": [
                {
                    "name": "emptyTrash",
                    "desc": "Permanently deletes all of the user's trashed files.",
                    "path": "files/trash",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                },
                {
                    "name": "export",
                    "desc": "Exports a Google Doc to the requested MIME type and returns the exported content.",
                    "path": "files/{fileId}/export",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "mimeType",
                            "desc": "The MIME type of the format requested for this export.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "generateIds",
                    "desc": "Generates a set of file IDs which can be provided in create requests.",
                    "path": "files/generateIds",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "count",
                            "desc": "The number of IDs to return.",
                            "type": "int32",
                            "default": "10",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "space",
                            "desc": "The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'.",
                            "type": "string",
                            "default": "drive"
                        }
                    ],
                    "response": "GeneratedIds"
                },
                {
                    "name": "list",
                    "desc": "Lists or searches files.",
                    "path": "files",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "corpus",
                            "desc": "The source of files to list. Deprecated: use 'corpora' instead.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "domain",
                                    "desc": "Files shared to the user's domain."
                                },
                                {
                                    "name": "user",
                                    "desc": "Files owned by or shared to the user."
                                }
                            ]
                        },
                        {
                            "name": "includeTeamDriveItems",
                            "desc": "Whether Team Drive items should be included in results.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "q",
                            "desc": "A query for filtering the file results. See the \"Search for Files\" guide for supported syntax.",
                            "type": "string"
                        },
                        {
                            "name": "spaces",
                            "desc": "A comma-separated list of spaces to query within the corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
                            "type": "string",
                            "default": "drive"
                        },
                        {
                            "name": "supportsTeamDrives",
                            "desc": "Whether the requesting application supports Team Drives.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "teamDriveId",
                            "desc": "ID of Team Drive to search.",
                            "type": "string"
                        },
                        {
                            "name": "corpora",
                            "desc": "Comma-separated list of bodies of items (files/documents) to which the query applies. Supported bodies are 'user', 'domain', 'teamDrive' and 'allTeamDrives'. 'allTeamDrives' must be combined with 'user'; all other values must be used in isolation. Prefer 'user' or 'teamDrive' to 'allTeamDrives' for efficiency.",
                            "type": "string"
                        },
                        {
                            "name": "orderBy",
                            "desc": "A comma-separated list of sort keys. Valid keys are 'createdTime', 'folder', 'modifiedByMeTime', 'modifiedTime', 'name', 'quotaBytesUsed', 'recency', 'sharedWithMeTime', 'starred', and 'viewedByMeTime'. Each key sorts ascending by default, but may be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
                            "type": "string"
                        },
                        {
                            "name": "pageSize",
                            "desc": "The maximum number of files to return per page.",
                            "type": "int32",
                            "default": "100",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                            "type": "string"
                        }
                    ],
                    "response": "FileList"
                },
                {
                    "name": "watch",
                    "desc": "Subscribes to changes to a file",
                    "path": "files/{fileId}/watch",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "acknowledgeAbuse",
                            "desc": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "supportsTeamDrives",
                            "desc": "Whether the requesting application supports Team Drives.",
                            "type": "bool",
                            "default": "false"
                        }
                    ],
                    "request": "Channel",
                    "response": "Channel"
                },
                {
                    "name": "copy",
                    "desc": "Creates a copy of a file and applies any requested updates with patch semantics.",
                    "path": "files/{fileId}/copy",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.photos.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "ignoreDefaultVisibility",
                            "desc": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "keepRevisionForever",
                            "desc": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "ocrLanguage",
                            "desc": "A language hint for OCR processing during image import (ISO 639-1 code).",
                            "type": "string"
                        },
                        {
                            "name": "supportsTeamDrives",
                            "desc": "Whether the requesting application supports Team Drives.",
                            "type": "bool",
                            "default": "false"
                        }
                    ],
                    "request": "File",
                    "response": "File"
                },
                {
                    "name": "create",
                    "desc": "Creates a new file.",
                    "path": "files",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "useContentAsIndexableText",
                            "desc": "Whether to use the uploaded content as indexable text.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "ignoreDefaultVisibility",
                            "desc": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "keepRevisionForever",
                            "desc": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "ocrLanguage",
                            "desc": "A language hint for OCR processing during image import (ISO 639-1 code).",
                            "type": "string"
                        },
                        {
                            "name": "supportsTeamDrives",
                            "desc": "Whether the requesting application supports Team Drives.",
                            "type": "bool",
                            "default": "false"
                        }
                    ],
                    "request": "File",
                    "response": "File"
                },
                {
                    "name": "update",
                    "desc": "Updates a file's metadata and/or content with patch semantics.",
                    "path": "files/{fileId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.scripts"
                    ],
                    "pathParams": [
                        {
                            "name": "fileId",
                            "desc": "The ID of the file.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "addParents",
                            "desc": "A comma-separated list of parent IDs to add.",
                            "type": "string"
                        },
                        {
                            "name": "keepRevisionForever",
                            "desc": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "ocrLanguage",
                            "desc": "A language hint for OCR processing during image import (ISO 639-1 code).",
                            "type": "string"
                        },
                        {
                            "name": "removeParents",
                            "desc": "A comma-separated list of parent IDs to remove.",
                            "type": "string"
                        },
                        {
                            "name": "supportsTeamDrives",
                            "desc": "Whether the requesting application supports Team Drives.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "useContentAsIndexableText",
                            "desc": "Whether to use the uploaded content as indexable text.",
                            "type": "bool",
                            "default": "false"
                        }
                    ],
                    "request": "File",
                    "response": "File"
                },
                {
                    "name": "delete",
                    "desc": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a Team Drive the user must be an organizer on the parent. If the target is a folder, all descendants owned by the user are also deleted.",
                    "path": "files/{fileId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
[...]
