{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/gruHatV5QkuL-Fye5CEQnrn6fLs\"",
    "discoveryVersion": "v1",
    "id": "doubleclickbidmanager:v1",
    "name": "doubleclickbidmanager",
    "version": "v1",
    "title": "DoubleClick Bid Manager API",
    "description": "API for viewing and managing your reports in DoubleClick Bid Manager.",
    "documentationLink": "https://developers.google.com/bid-manager/",
    "labels": [
        "limited_availability"
    ],
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "doubleclickbidmanager/v1/",
    "auth": {},
    "parameters": [
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "ListReportsResponse",
            "desc": "List reports response.",
            "type": "object",
            "fields": [
                {
                    "name": "reports",
                    "desc": "Retrieved reports.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Report"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#listReportsResponse\".",
                    "type": "string",
                    "default": "doubleclickbidmanager#listReportsResponse"
                }
            ]
        },
        {
            "name": "Query",
            "desc": "Represents a query.",
            "type": "object",
            "fields": [
                {
                    "name": "reportDataStartTimeMs",
                    "desc": "The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.",
                    "type": "int64"
                },
                {
                    "name": "schedule",
                    "desc": "Information on how often and when to run a query.",
                    "type": "ref",
                    "refType": "QuerySchedule"
                },
                {
                    "name": "timezoneCode",
                    "desc": "Canonical timezone code for report data time. Defaults to America/New_York.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#query\".",
                    "type": "string",
                    "default": "doubleclickbidmanager#query"
                },
                {
                    "name": "metadata",
                    "desc": "Query metadata.",
                    "type": "ref",
                    "refType": "QueryMetadata"
                },
                {
                    "name": "params",
                    "desc": "Query parameters.",
                    "type": "ref",
                    "refType": "Parameters"
                },
                {
                    "name": "queryId",
                    "desc": "Query ID.",
                    "type": "int64"
                },
                {
                    "name": "reportDataEndTimeMs",
                    "desc": "The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "QuerySchedule",
            "desc": "Information on how frequently and when to run a query.",
            "type": "object",
            "fields": [
                {
                    "name": "nextRunMinuteOfDay",
                    "desc": "Time of day at which a new report will be generated, represented as minutes past midnight. Range is 0 to 1439. Only applies to scheduled reports.",
                    "type": "int32"
                },
                {
                    "name": "nextRunTimezoneCode",
                    "desc": "Canonical timezone code for report generation time. Defaults to America/New_York.",
                    "type": "string"
                },
                {
                    "name": "endTimeMs",
                    "desc": "Datetime to periodically run the query until.",
                    "type": "int64"
                },
                {
                    "name": "frequency",
                    "desc": "How often the query is run.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "DAILY"
                        },
                        {
                            "name": "MONTHLY"
                        },
                        {
                            "name": "ONE_TIME"
                        },
                        {
                            "name": "QUARTERLY"
                        },
                        {
                            "name": "SEMI_MONTHLY"
                        },
                        {
                            "name": "WEEKLY"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ReportMetadata",
            "desc": "Report metadata.",
            "type": "object",
            "fields": [
                {
                    "name": "status",
                    "desc": "Report status.",
                    "type": "ref",
                    "refType": "ReportStatus"
                },
                {
                    "name": "googleCloudStoragePath",
                    "desc": "The path to the location in Google Cloud Storage where the report is stored.",
                    "type": "string"
                },
                {
                    "name": "reportDataEndTimeMs",
                    "desc": "The ending time for the data that is shown in the report.",
                    "type": "int64"
                },
                {
                    "name": "reportDataStartTimeMs",
                    "desc": "The starting time for the data that is shown in the report.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "DownloadLineItemsRequest",
            "desc": "Request to fetch stored line items.",
            "type": "object",
            "fields": [
                {
                    "name": "filterIds",
                    "desc": "Ids of the specified filter type used to filter line items to fetch. If omitted, all the line items will be returned.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "filterType",
                    "desc": "Filter type used to filter line items to fetch.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ADVERTISER_ID"
                        },
                        {
                            "name": "INSERTION_ORDER_ID"
                        },
                        {
                            "name": "LINE_ITEM_ID"
                        }
                    ]
                },
                {
                    "name": "format",
                    "desc": "Format in which the line items will be returned. Default to CSV.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CSV"
                        }
                    ]
                },
                {
                    "name": "fileSpec",
                    "desc": "File specification (column names, types, order) in which the line items will be returned. Default to EWF.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "EWF"
                        },
                        {
                            "name": "SDF"
                        }
                    ]
                }
            ]
        },
        {
            "name": "FilterPair",
            "desc": "Filter used to match traffic data in your report.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "Filter type.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY"
                        },
                        {
                            "name": "FILTER_ACTIVITY_ID"
                        },
                        {
                            "name": "FILTER_ADVERTISER"
                        },
                        {
                            "name": "FILTER_ADVERTISER_CURRENCY"
                        },
                        {
                            "name": "FILTER_ADVERTISER_TIMEZONE"
                        },
                        {
                            "name": "FILTER_AD_POSITION"
                        },
                        {
                            "name": "FILTER_AGE"
                        },
                        {
                            "name": "FILTER_BRANDSAFE_CHANNEL_ID"
                        },
                        {
                            "name": "FILTER_BROWSER"
                        },
                        {
                            "name": "FILTER_CAMPAIGN_DAILY_FREQUENCY"
                        },
                        {
                            "name": "FILTER_CARRIER"
                        },
                        {
                            "name": "FILTER_CHANNEL_ID"
                        },
                        {
                            "name": "FILTER_CITY"
                        },
                        {
                            "name": "FILTER_COMPANION_CREATIVE_ID"
                        },
                        {
                            "name": "FILTER_CONVERSION_DELAY"
                        },
                        {
                            "name": "FILTER_COUNTRY"
                        },
                        {
                            "name": "FILTER_CREATIVE_HEIGHT"
                        },
                        {
                            "name": "FILTER_CREATIVE_ID"
                        },
                        {
                            "name": "FILTER_CREATIVE_SIZE"
                        },
                        {
                            "name": "FILTER_CREATIVE_TYPE"
                        },
                        {
                            "name": "FILTER_CREATIVE_WIDTH"
                        },
                        {
                            "name": "FILTER_DATA_PROVIDER"
                        },
                        {
                            "name": "FILTER_DATE"
                        },
                        {
                            "name": "FILTER_DAY_OF_WEEK"
                        },
                        {
                            "name": "FILTER_DFP_ORDER_ID"
                        },
                        {
                            "name": "FILTER_DMA"
                        },
                        {
                            "name": "FILTER_EXCHANGE_ID"
                        },
                        {
                            "name": "FILTER_FLOODLIGHT_PIXEL_ID"
                        },
                        {
                            "name": "FILTER_GENDER"
                        },
                        {
                            "name": "FILTER_INSERTION_ORDER"
                        },
                        {
                            "name": "FILTER_INVENTORY_FORMAT"
                        },
                        {
                            "name": "FILTER_INVENTORY_SOURCE"
                        },
                        {
                            "name": "FILTER_INVENTORY_SOURCE_TYPE"
                        },
                        {
                            "name": "FILTER_KEYWORD"
                        },
                        {
                            "name": "FILTER_LINE_ITEM"
                        },
                        {
                            "name": "FILTER_LINE_ITEM_DAILY_FREQUENCY"
                        },
                        {
                            "name": "FILTER_LINE_ITEM_LIFETIME_FREQUENCY"
                        },
                        {
                            "name": "FILTER_LINE_ITEM_TYPE"
                        },
                        {
                            "name": "FILTER_MEDIA_PLAN"
                        },
                        {
                            "name": "FILTER_MOBILE_DEVICE_MAKE"
                        },
                        {
                            "name": "FILTER_MOBILE_DEVICE_MAKE_MODEL"
                        },
                        {
                            "name": "FILTER_MOBILE_DEVICE_TYPE"
                        },
                        {
                            "name": "FILTER_MOBILE_GEO"
                        },
                        {
                            "name": "FILTER_MONTH"
                        },
                        {
                            "name": "FILTER_MRAID_SUPPORT"
                        },
                        {
                            "name": "FILTER_NIELSEN_AGE"
                        },
                        {
                            "name": "FILTER_NIELSEN_COUNTRY_CODE"
                        },
                        {
                            "name": "FILTER_NIELSEN_DEVICE_ID"
                        },
                        {
                            "name": "FILTER_NIELSEN_GENDER"
                        },
                        {
                            "name": "FILTER_NOT_SUPPORTED"
                        },
                        {
                            "name": "FILTER_ORDER_ID"
                        },
                        {
                            "name": "FILTER_OS"
                        },
                        {
                            "name": "FILTER_PAGE_CATEGORY"
                        },
                        {
                            "name": "FILTER_PAGE_LAYOUT"
                        },
                        {
                            "name": "FILTER_PARTNER"
                        },
                        {
                            "name": "FILTER_PARTNER_CURRENCY"
                        },
                        {
                            "name": "FILTER_PUBLIC_INVENTORY"
                        },
                        {
                            "name": "FILTER_QUARTER"
                        },
                        {
                            "name": "FILTER_REGION"
                        },
                        {
                            "name": "FILTER_REGULAR_CHANNEL_ID"
                        },
                        {
                            "name": "FILTER_SITE_ID"
                        },
                        {
                            "name": "FILTER_SITE_LANGUAGE"
                        },
                        {
                            "name": "FILTER_SKIPPABLE_SUPPORT"
                        },
                        {
                            "name": "FILTER_TARGETED_USER_LIST"
                        },
                        {
                            "name": "FILTER_TIME_OF_DAY"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_AD_GROUP_AD_ID"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_AD_GROUP_ID"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_AGE"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_CATEGORY"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_CITY"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_CONVERSION_TYPE"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_COUNTRY"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_CUSTOM_AFFINITY"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_DMA"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_GENDER"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_AGE"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_CATEGORY"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_CITY"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_COUNTRY"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_GENDER"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_INTEREST"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_LANGUAGE"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_PARENTAL_STATUS"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_REGION"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_REMARKETING_LIST"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_TIME_OF_DAY"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_IAR_ZIPCODE"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_INTEREST"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_KEYWORD"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_PARENTAL_STATUS"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_PLACEMENT"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_REGION"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_REMARKETING_LIST"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_URL"
                        },
                        {
                            "name": "FILTER_TRUEVIEW_ZIPCODE"
                        },
                        {
                            "name": "FILTER_UNKNOWN"
                        },
                        {
                            "name": "FILTER_USER_LIST"
                        },
                        {
                            "name": "FILTER_USER_LIST_FIRST_PARTY"
                        },
                        {
                            "name": "FILTER_USER_LIST_THIRD_PARTY"
                        },
                        {
                            "name": "FILTER_VIDEO_AD_POSITION_IN_STREAM"
                        },
                        {
                            "name": "FILTER_VIDEO_COMPANION_SIZE"
                        },
                        {
                            "name": "FILTER_VIDEO_COMPANION_TYPE"
                        },
                        {
                            "name": "FILTER_VIDEO_CREATIVE_DURATION"
                        },
                        {
                            "name": "FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE"
                        },
                        {
                            "name": "FILTER_VIDEO_DURATION_SECONDS"
                        },
                        {
                            "name": "FILTER_VIDEO_FORMAT_SUPPORT"
                        },
                        {
                            "name": "FILTER_VIDEO_INVENTORY_TYPE"
                        },
                        {
                            "name": "FILTER_VIDEO_PLAYER_SIZE"
                        },
                        {
                            "name": "FILTER_VIDEO_RATING_TIER"
                        },
                        {
                            "name": "FILTER_VIDEO_SKIPPABLE_SUPPORT"
                        },
                        {
                            "name": "FILTER_VIDEO_VPAID_SUPPORT"
                        },
                        {
                            "name": "FILTER_WEEK"
                        },
                        {
                            "name": "FILTER_YEAR"
                        },
                        {
                            "name": "FILTER_YOUTUBE_VERTICAL"
                        },
                        {
                            "name": "FILTER_ZIP_CODE"
                        }
                    ]
                },
                {
                    "name": "value",
                    "desc": "Filter value.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RowStatus",
            "desc": "Represents the upload status of a row in the request.",
            "type": "object",
            "fields": [
                {
                    "name": "persisted",
                    "desc": "Whether the entity is persisted.",
                    "type": "bool"
                },
                {
                    "name": "rowNumber",
                    "desc": "Row number.",
                    "type": "int32"
                },
                {
                    "name": "changed",
                    "desc": "Whether the stored entity is changed as a result of upload.",
                    "type": "bool"
                },
                {
                    "name": "entityId",
                    "desc": "Entity Id.",
                    "type": "int64"
                },
                {
                    "name": "entityName",
                    "desc": "Entity name.",
                    "type": "string"
                },
                {
                    "name": "errors",
                    "desc": "Reasons why the entity can't be uploaded.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UploadLineItemsRequest",
            "desc": "Request to upload line items.",
            "type": "object",
            "fields": [
                {
                    "name": "dryRun",
                    "desc": "Set to true to get upload status without actually persisting the line items.",
                    "type": "bool"
                },
                {
                    "name": "format",
                    "desc": "Format the line items are in. Default to CSV.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CSV"
                        }
                    ]
                },
                {
                    "name": "lineItems",
                    "desc": "Line items in CSV to upload. Refer to  Entity Write File Format for more information on file format.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UploadStatus",
            "desc": "Represents the status of upload.",
            "type": "object",
            "fields": [
                {
                    "name": "errors",
                    "desc": "Reasons why upload can't be completed.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "rowStatus",
                    "desc": "Per-row upload status.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RowStatus"
                }
            ]
        },
        {
            "name": "DownloadLineItemsResponse",
            "desc": "Download line items response.",
            "type": "object",
            "fields": [
                {
                    "name": "lineItems",
                    "desc": "Retrieved line items in CSV format. Refer to  Entity Write File Format or  Structured Data File Format for more information on file formats.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Report",
            "desc": "Represents a report.",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "desc": "Key used to identify a report.",
                    "type": "ref",
                    "refType": "ReportKey"
                },
                {
                    "name": "metadata",
                    "desc": "Report metadata.",
                    "type": "ref",
                    "refType": "ReportMetadata"
                },
                {
                    "name": "params",
                    "desc": "Report parameters.",
                    "type": "ref",
                    "refType": "Parameters"
                }
            ]
        },
        {
            "name": "ReportStatus",
            "desc": "Report status.",
            "type": "object",
            "fields": [
                {
                    "name": "state",
                    "desc": "The state of the report.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "DONE"
                        },
                        {
                            "name": "FAILED"
                        },
                        {
                            "name": "RUNNING"
                        }
                    ]
                },
                {
                    "name": "failure",
                    "desc": "If the report failed, this records the cause.",
                    "type": "ref",
                    "refType": "ReportFailure"
                },
                {
                    "name": "finishTimeMs",
                    "desc": "The time when this report either completed successfully or failed.",
                    "type": "int64"
                },
                {
                    "name": "format",
                    "desc": "The file type of the report.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CSV"
                        },
                        {
                            "name": "EXCEL_CSV"
                        },
                        {
                            "name": "XLSX"
                        }
                    ]
                }
            ]
        },
        {
            "name": "RunQueryRequest",
            "desc": "Request to run a stored query to generate a report.",
            "type": "object",
            "fields": [
                {
                    "name": "reportDataEndTimeMs",
                    "desc": "The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.",
                    "type": "int64"
                },
                {
                    "name": "reportDataStartTimeMs",
                    "desc": "The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.",
                    "type": "int64"
                },
                {
                    "name": "timezoneCode",
                    "desc": "Canonical timezone code for report data time. Defaults to America/New_York.",
                    "type": "string"
                },
                {
                    "name": "dataRange",
                    "desc": "Report data range used to generate the report.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ALL_TIME"
                        },
                        {
                            "name": "CURRENT_DAY"
                        },
                        {
                            "name": "CUSTOM_DATES"
                        },
                        {
                            "name": "LAST_14_DAYS"
                        },
                        {
                            "name": "LAST_30_DAYS"
                        },
                        {
                            "name": "LAST_365_DAYS"
                        },
                        {
                            "name": "LAST_7_DAYS"
                        },
                        {
                            "name": "LAST_90_DAYS"
                        },
                        {
                            "name": "MONTH_TO_DATE"
                        },
                        {
                            "name": "PREVIOUS_DAY"
                        },
                        {
                            "name": "PREVIOUS_HALF_MONTH"
                        },
                        {
                            "name": "PREVIOUS_MONTH"
                        },
                        {
                            "name": "PREVIOUS_QUARTER"
                        },
                        {
                            "name": "PREVIOUS_WEEK"
                        },
                        {
                            "name": "PREVIOUS_YEAR"
                        },
                        {
                            "name": "QUARTER_TO_DATE"
                        },
                        {
                            "name": "TYPE_NOT_SUPPORTED"
                        },
                        {
                            "name": "WEEK_TO_DATE"
                        },
                        {
                            "name": "YEAR_TO_DATE"
                        }
                    ]
                }
            ]
        },
        {
            "name": "UploadLineItemsResponse",
            "desc": "Upload line items response.",
            "type": "object",
            "fields": [
                {
                    "name": "uploadStatus",
                    "desc": "Status of upload.",
                    "type": "ref",
                    "refType": "UploadStatus"
                }
            ]
        },
        {
            "name": "ReportFailure",
            "desc": "An explanation of a report failure.",
            "type": "object",
            "fields": [
                {
                    "name": "errorCode",
                    "desc": "Error code that shows why the report was not created.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "AUTHENTICATION_ERROR"
                        },
                        {
                            "name": "DEPRECATED_REPORTING_INVALID_QUERY"
                        },
                        {
                            "name": "REPORTING_BUCKET_NOT_FOUND"
                        },
                        {
                            "name": "REPORTING_CREATE_BUCKET_FAILED"
                        },
                        {
                            "name": "REPORTING_DELETE_BUCKET_FAILED"
                        },
                        {
                            "name": "REPORTING_FATAL_ERROR"
                        },
                        {
                            "name": "REPORTING_ILLEGAL_FILENAME"
                        },
                        {
                            "name": "REPORTING_IMCOMPATIBLE_METRICS"
                        },
                        {
                            "name": "REPORTING_INVALID_QUERY_MISSING_PARTNER_AND_ADVERTISER_FILTERS"
                        },
                        {
                            "name": "REPORTING_INVALID_QUERY_TITLE_MISSING"
                        },
                        {
                            "name": "REPORTING_INVALID_QUERY_TOO_MANY_UNFILTERED_LARGE_GROUP_BYS"
                        },
                        {
                            "name": "REPORTING_QUERY_NOT_FOUND"
                        },
                        {
                            "name": "REPORTING_TRANSIENT_ERROR"
                        },
                        {
                            "name": "REPORTING_UPDATE_BUCKET_PERMISSION_FAILED"
                        },
                        {
                            "name": "REPORTING_WRITE_BUCKET_OBJECT_FAILED"
                        },
                        {
                            "name": "SERVER_ERROR"
                        },
                        {
                            "name": "UNAUTHORIZED_API_ACCESS"
                        },
                        {
                            "name": "VALIDATION_ERROR"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ReportKey",
            "desc": "Key used to identify a report.",
            "type": "object",
            "fields": [
                {
                    "name": "queryId",
                    "desc": "Query ID.",
                    "type": "int64"
                },
                {
                    "name": "reportId",
                    "desc": "Report ID.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "DownloadRequest",
            "desc": "Request to fetch stored insertion orders, line items, TrueView ad groups and ads.",
            "type": "object",
            "fields": [
                {
                    "name": "fileTypes",
                    "desc": "File types that will be returned.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "filterIds",
                    "desc": "The IDs of the specified filter type. This is used to filter entities to fetch. At least one ID must be specified. Only one ID is allowed for the ADVERTISER_ID filter type. For INSERTION_ORDER_ID or LINE_ITEM_ID filter types, all IDs must be from the same Advertiser.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "filterType",
                    "desc": "Filter type used to filter line items to fetch.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ADVERTISER_ID"
                        },
                        {
                            "name": "INSERTION_ORDER_ID"
                        },
                        {
                            "name": "LINE_ITEM_ID"
                        }
                    ]
                },
                {
                    "name": "version",
                    "desc": "SDF Version (column names, types, order) in which the entities will be returned. Default to 3.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DownloadResponse",
            "desc": "Download response.",
            "type": "object",
            "fields": [
                {
                    "name": "adGroups",
                    "desc": "Retrieved ad groups in SDF format.",
                    "type": "string"
                },
                {
                    "name": "ads",
                    "desc": "Retrieved ads in SDF format.",
                    "type": "string"
                },
                {
                    "name": "insertionOrders",
                    "desc": "Retrieved insertion orders in SDF format.",
                    "type": "string"
                },
                {
                    "name": "lineItems",
                    "desc": "Retrieved line items in SDF format.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListQueriesResponse",
            "desc": "List queries response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#listQueriesResponse\".",
                    "type": "string",
                    "default": "doubleclickbidmanager#listQueriesResponse"
                },
                {
                    "name": "queries",
                    "desc": "Retrieved queries.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Query"
                }
            ]
        },
        {
            "name": "Parameters",
            "desc": "Parameters of a query or report.",
            "type": "object",
            "fields": [
                {
                    "name": "filters",
                    "desc": "Filters used to match traffic data in your report.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "FilterPair"
                },
                {
                    "name": "groupBys",
                    "desc": "Data is grouped by the filters listed in this field.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "includeInviteData",
                    "desc": "Whether to include data from Invite Media.",
                    "type": "bool"
                },
                {
                    "name": "metrics",
                    "desc": "Metrics to include as columns in your report.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Report type.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "TYPE_ACTIVE_GRP"
                        },
                        {
                            "name": "TYPE_AUDIENCE_COMPOSITION"
                        },
                        {
                            "name": "TYPE_AUDIENCE_PERFORMANCE"
                        },
                        {
                            "name": "TYPE_CLIENT_SAFE"
                        },
                        {
                            "name": "TYPE_COMSCORE_VCE"
                        },
                        {
                            "name": "TYPE_CROSS_FEE"
                        },
                        {
                            "name": "TYPE_CROSS_PARTNER"
                        },
                        {
                            "name": "TYPE_CROSS_PARTNER_THIRD_PARTY_DATA_PROVIDER"
                        },
                        {
                            "name": "TYPE_ESTIMATED_CONVERSION"
                        },
                        {
                            "name": "TYPE_FEE"
                        },
                        {
                            "name": "TYPE_GENERAL"
                        },
                        {
                            "name": "TYPE_INVENTORY_AVAILABILITY"
                        },
                        {
                            "name": "TYPE_KEYWORD"
                        },
                        {
                            "name": "TYPE_NIELSEN_AUDIENCE_PROFILE"
                        },
                        {
                            "name": "TYPE_NIELSEN_DAILY_REACH_BUILD"
                        },
                        {
                            "name": "TYPE_NIELSEN_ONLINE_GLOBAL_MARKET"
                        },
                        {
                            "name": "TYPE_NIELSEN_SITE"
                        },
                        {
                            "name": "TYPE_NOT_SUPPORTED"
                        },
                        {
                            "name": "TYPE_ORDER_ID"
                        },
                        {
                            "name": "TYPE_PAGE_CATEGORY"
                        },
                        {
                            "name": "TYPE_PETRA_NIELSEN_AUDIENCE_PROFILE"
                        },
                        {
                            "name": "TYPE_PETRA_NIELSEN_DAILY_REACH_BUILD"
                        },
                        {
                            "name": "TYPE_PETRA_NIELSEN_ONLINE_GLOBAL_MARKET"
                        },
                        {
                            "name": "TYPE_PIXEL_LOAD"
                        },
                        {
                            "name": "TYPE_REACH_AND_FREQUENCY"
                        },
                        {
                            "name": "TYPE_REACH_AUDIENCE"
                        },
                        {
                            "name": "TYPE_THIRD_PARTY_DATA_PROVIDER"
                        },
                        {
                            "name": "TYPE_TRUEVIEW"
                        },
                        {
                            "name": "TYPE_TRUEVIEW_IAR"
                        },
                        {
                            "name": "TYPE_VERIFICATION"
                        },
                        {
                            "name": "TYPE_YOUTUBE_VERTICAL"
                        }
                    ]
                }
            ]
        },
        {
            "name": "QueryMetadata",
            "desc": "Query metadata.",
            "type": "object",
            "fields": [
                {
                    "name": "format",
                    "desc": "Format of the generated report.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CSV"
                        },
                        {
                            "name": "EXCEL_CSV"
                        },
                        {
                            "name": "XLSX"
                        }
                    ]
                },
                {
                    "name": "googleDrivePathForLatestReport",
                    "desc": "The path in Google Drive for the latest report.",
                    "type": "string"
                },
                {
                    "name": "latestReportRunTimeMs",
                    "desc": "The time when the latest report started to run.",
                    "type": "int64"
                },
                {
                    "name": "locale",
                    "desc": "Locale of the generated reports. Valid values are cs CZECH de GERMAN en ENGLISH es SPANISH fr FRENCH it ITALIAN ja JAPANESE ko KOREAN pl POLISH pt-BR BRAZILIAN_PORTUGUESE ru RUSSIAN tr TURKISH uk UKRAINIAN zh-CN CHINA_CHINESE zh-TW TAIWAN_CHINESE\n\nAn locale string not in the list above will generate reports in English.",
                    "type": "string"
                },
                {
                    "name": "sendNotification",
                    "desc": "Whether to send an email notification when a report is ready. Default to false.",
                    "type": "bool"
                },
                {
                    "name": "dataRange",
                    "desc": "Range of report data.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ALL_TIME"
                        },
                        {
                            "name": "CURRENT_DAY"
                        },
                        {
                            "name": "CUSTOM_DATES"
                        },
                        {
                            "name": "LAST_14_DAYS"
                        },
                        {
                            "name": "LAST_30_DAYS"
                        },
                        {
                            "name": "LAST_365_DAYS"
                        },
                        {
                            "name": "LAST_7_DAYS"
                        },
                        {
                            "name": "LAST_90_DAYS"
                        },
                        {
                            "name": "MONTH_TO_DATE"
                        },
                        {
                            "name": "PREVIOUS_DAY"
                        },
                        {
                            "name": "PREVIOUS_HALF_MONTH"
                        },
                        {
                            "name": "PREVIOUS_MONTH"
                        },
                        {
                            "name": "PREVIOUS_QUARTER"
                        },
                        {
                            "name": "PREVIOUS_WEEK"
                        },
                        {
                            "name": "PREVIOUS_YEAR"
                        },
                        {
                            "name": "QUARTER_TO_DATE"
                        },
                        {
                            "name": "TYPE_NOT_SUPPORTED"
                        },
                        {
                            "name": "WEEK_TO_DATE"
                        },
                        {
                            "name": "YEAR_TO_DATE"
                        }
                    ]
                },
                {
                    "name": "reportCount",
                    "desc": "Number of reports that have been generated for the query.",
                    "type": "int32"
                },
                {
                    "name": "running",
                    "desc": "Whether the latest report is currently running.",
                    "type": "bool"
                },
                {
                    "name": "shareEmailAddress",
                    "desc": "List of email addresses which are sent email notifications when the report is finished. Separate from sendNotification.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "Query title. It is used to name the reports generated from this query.",
                    "type": "string"
                },
                {
                    "name": "googleCloudStoragePathForLatestReport",
                    "desc": "The path to the location in Google Cloud Storage where the latest report is stored.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "queries",
            "methods": [
                {
                    "path": "query/{queryId}",
                    "httpMethod": "GET",
                    "name": "getquery",
                    "desc": "Retrieves a stored query.",
                    "pathParams": [
                        {
                            "name": "queryId",
                            "desc": "Query ID to retrieve.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "response": "Query"
                },
                {
                    "path": "queries",
                    "httpMethod": "GET",
                    "name": "listqueries",
                    "desc": "Retrieves stored queries.",
                    "response": "ListQueriesResponse"
                },
                {
                    "path": "query/{queryId}",
                    "httpMethod": "POST",
                    "name": "runquery",
                    "desc": "Runs a stored query to generate a report.",
                    "pathParams": [
                        {
                            "name": "queryId",
                            "desc": "Query ID to run.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "request": "RunQueryRequest"
                },
                {
                    "path": "query",
                    "httpMethod": "POST",
                    "name": "createquery",
                    "desc": "Creates a query.",
                    "request": "Query",
                    "response": "Query"
                },
                {
                    "path": "query/{queryId}",
                    "httpMethod": "DELETE",
                    "name": "deletequery",
                    "desc": "Deletes a stored query as well as the associated stored reports.",
                    "pathParams": [
                        {
                            "name": "queryId",
                            "desc": "Query ID to delete.",
                            "required": true,
                            "type": "int64"
                        }
                    ]
                }
            ]
        },
        {
            "name": "reports",
            "methods": [
                {
                    "path": "queries/{queryId}/reports",
                    "httpMethod": "GET",
                    "name": "listreports",
                    "desc": "Retrieves stored reports.",
                    "pathParams": [
                        {
                            "name": "queryId",
                            "desc": "Query ID with which the reports are associated.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "response": "ListReportsResponse"
                }
            ]
        },
        {
            "name": "sdf",
            "methods": [
                {
                    "path": "sdf/download",
                    "httpMethod": "POST",
                    "name": "download",
                    "desc": "Retrieves entities in SDF format.",
                    "request": "DownloadRequest",
                    "response": "DownloadResponse"
                }
            ]
        },
        {
            "name": "lineitems",
            "methods": [
                {
                    "path": "lineitems/downloadlineitems",
                    "httpMethod": "POST",
                    "name": "downloadlineitems",
                    "desc": "Retrieves line items in CSV format.",
                    "request": "DownloadLineItemsRequest",
                    "response": "DownloadLineItemsResponse"
                },
                {
                    "path": "lineitems/uploadlineitems",
                    "httpMethod": "POST",
                    "name": "uploadlineitems",
                    "desc": "Uploads line items in CSV format.",
                    "request": "UploadLineItemsRequest",
                    "response": "UploadLineItemsResponse"
                }
            ]
        }
    ]
}