{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/R8FJPq0Sws2Shrn5hY65OEXEr5A\"",
    "discoveryVersion": "v1",
    "id": "compute:v1",
    "name": "compute",
    "version": "v1",
    "title": "Compute Engine API",
    "description": "Creates and runs virtual machines on Google Cloud Platform.",
    "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/devstorage.full_control"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "InstanceAggregatedList",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A map of scoped instance lists.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "InstancesScopedList"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#instanceAggregatedList for aggregated lists of Instance resources.",
                    "type": "string",
                    "default": "compute#instanceAggregatedList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MachineType",
            "desc": "A Machine Type resource.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "isSharedCpu",
                    "desc": "[Output Only] Whether this machine type has a shared CPU. See Shared-core machine types for more information.",
                    "type": "bool"
                },
                {
                    "name": "memoryMb",
                    "desc": "[Output Only] The amount of physical memory available to the instance, defined in MB.",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "[Output Only] Name of the resource.",
                    "type": "string",
                    "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                },
                {
                    "name": "imageSpaceGb",
                    "desc": "[Deprecated] This property is deprecated and will never be populated with any relevant values.",
                    "type": "int32"
                },
                {
                    "name": "maximumPersistentDisksSizeGb",
                    "desc": "[Output Only] Maximum total persistent disks size (GB) allowed.",
                    "type": "int64"
                },
                {
                    "name": "deprecated",
                    "desc": "[Output Only] The deprecation status associated with this machine type.",
                    "type": "ref",
                    "refType": "DeprecationStatus"
                },
                {
                    "name": "guestCpus",
                    "desc": "[Output Only] The number of virtual CPUs that are available to the instance.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] The type of the resource. Always compute#machineType for machine types.",
                    "type": "string",
                    "default": "compute#machineType"
                },
                {
                    "name": "maximumPersistentDisks",
                    "desc": "[Output Only] Maximum persistent disks allowed.",
                    "type": "int32"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                },
                {
                    "name": "zone",
                    "desc": "[Output Only] The name of the zone where the machine type resides, such as us-central1-a.",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "[Output Only] An optional textual description of the resource.",
                    "type": "string"
                },
                {
                    "name": "scratchDisks",
                    "desc": "[Output Only] List of extended scratch disks assigned to the instance.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "diskGb",
                            "desc": "Size of the scratch disk, defined in GB.",
                            "type": "int32"
                        }
                    ]
                }
            ]
        },
        {
            "name": "HttpHealthCheck",
            "desc": "An HttpHealthCheck resource. This resource defines a template for how individual instances should be checked for health, via HTTP.",
            "type": "object",
            "fields": [
                {
                    "name": "checkIntervalSec",
                    "desc": "How often (in seconds) to send a health check. The default value is 5 seconds.",
                    "type": "int32"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "host",
                    "desc": "The value of the host header in the HTTP health check request. If left empty (default value), the public IP on behalf of which this health check is performed will be used.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "requestPath",
                    "desc": "The request path of the HTTP health check request. The default value is /.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "An optional description of this resource. Provide this property when you create the resource.",
                    "type": "string"
                },
                {
                    "name": "healthyThreshold",
                    "desc": "A so-far unhealthy instance will be marked healthy after this many consecutive successes. The default value is 2.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of the resource. Always compute#httpHealthCheck for HTTP health checks.",
                    "type": "string",
                    "default": "compute#httpHealthCheck"
                },
                {
                    "name": "name",
                    "desc": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
                    "type": "string",
                    "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                },
                {
                    "name": "port",
                    "desc": "The TCP port number for the HTTP health check request. The default value is 80.",
                    "type": "int32"
                },
                {
                    "name": "timeoutSec",
                    "desc": "How long (in seconds) to wait before claiming failure. The default value is 5 seconds. It is invalid for timeoutSec to have greater value than checkIntervalSec.",
                    "type": "int32"
                },
                {
                    "name": "unhealthyThreshold",
                    "desc": "A so-far healthy instance will be marked unhealthy after this many consecutive failures. The default value is 2.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "VpnTunnelList",
            "desc": "Contains a list of VpnTunnel resources.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A list of VpnTunnel resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "VpnTunnel"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#vpnTunnel for VPN tunnels.",
                    "type": "string",
                    "default": "compute#vpnTunnelList"
                }
            ]
        },
        {
            "name": "OperationAggregatedList",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A map of scoped operation lists.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "OperationsScopedList"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#operationAggregatedList for aggregated lists of operations.",
                    "type": "string",
                    "default": "compute#operationAggregatedList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AddressList",
            "desc": "Contains a list of addresses.",
            "type": "object",
            "fields": [
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A list of addresses.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Address"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#addressList for lists of addresses.",
                    "type": "string",
                    "default": "compute#addressList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Autoscaler",
            "desc": "Represents an Autoscaler resource. Autoscalers allow you to automatically scale virtual machine instances in managed instance groups according to an autoscaling policy that you define. For more information, read Autoscaling Groups of Instances.",
            "type": "object",
            "fields": [
                {
                    "name": "zone",
                    "desc": "[Output Only] URL of the zone where the instance group resides (for autoscalers living in zonal scope).",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "An optional description of this resource. Provide this property when you create the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "region",
                    "desc": "[Output Only] URL of the region where the instance group resides (for autoscalers living in regional scope).",
                    "type": "string"
                },
                {
                    "name": "target",
                    "desc": "URL of the managed instance group that this autoscaler will scale.",
                    "type": "string"
                },
                {
                    "name": "autoscalingPolicy",
                    "desc": "The configuration parameters for the autoscaling algorithm. You can define one or more of the policies for an autoscaler: cpuUtilization, customMetricUtilizations, and loadBalancingUtilization.\n\nIf none of these are specified, the default will be to autoscale based on cpuUtilization to 0.6 or 60%.",
                    "type": "ref",
                    "refType": "AutoscalingPolicy"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of the resource. Always compute#autoscaler for autoscalers.",
                    "type": "string",
                    "default": "compute#autoscaler"
                },
                {
                    "name": "name",
                    "desc": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
                    "type": "string",
                    "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CustomerEncryptionKeyProtectedDisk",
            "type": "object",
            "fields": [
                {
                    "name": "diskEncryptionKey",
                    "desc": "Decrypts data associated with the disk with a customer-supplied encryption key.",
                    "type": "ref",
                    "refType": "CustomerEncryptionKey"
                },
                {
                    "name": "source",
                    "desc": "Specifies a valid partial or full URL to an existing Persistent Disk resource. This field is only applicable for persistent disks.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TargetPoolsScopedList",
            "type": "object",
            "fields": [
                {
                    "name": "targetPools",
                    "desc": "List of target pools contained in this scope.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TargetPool"
                },
                {
                    "name": "warning",
                    "desc": "Informational warning which replaces the list of addresses when the list is empty.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        },
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "CLEANUP_FAILED"
                                },
                                {
                                    "name": "DEPRECATED_RESOURCE_USED"
                                },
                                {
                                    "name": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
                                },
                                {
                                    "name": "FIELD_VALUE_OVERRIDEN"
                                },
                                {
                                    "name": "INJECTED_KERNELS_DEPRECATED"
                                },
                                {
                                    "name": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
                                },
                                {
                                    "name": "NEXT_HOP_CANNOT_IP_FORWARD"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_FOUND"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
                                },
                                {
                                    "name": "NEXT_HOP_NOT_RUNNING"
                                },
                                {
                                    "name": "NOT_CRITICAL_ERROR"
                                },
                                {
                                    "name": "NO_RESULTS_ON_PAGE"
                                },
                                {
                                    "name": "REQUIRED_TOS_AGREEMENT"
                                },
                                {
                                    "name": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
                                },
                                {
                                    "name": "RESOURCE_NOT_DELETED"
                                },
                                {
                                    "name": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
                                },
                                {
                                    "name": "UNREACHABLE"
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "name": "Address",
            "desc": "A reserved address resource.",
            "type": "object",
            "fields": [
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "An optional description of this resource. Provide this property when you create the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of the resource. Always compute#address for addresses.",
                    "type": "string",
                    "default": "compute#address"
                },
                {
                    "name": "name",
                    "desc": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
                    "type": "string",
                    "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                },
                {
                    "name": "address",
                    "desc": "The static external IP address represented by this resource. Only IPv4 is supported.",
                    "type": "string"
                },
                {
                    "name": "region",
                    "desc": "[Output Only] URL of the region where the regional address resides. This field is not applicable to global addresses.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "[Output Only] The status of the address, which can be either IN_USE or RESERVED. An address that is RESERVED is currently reserved and available to use. An IN_USE address is currently being used by another resource and is not available.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "IN_USE"
                        },
                        {
                            "name": "RESERVED"
                        }
                    ]
                },
                {
                    "name": "users",
                    "desc": "[Output Only] The URLs of the resources that are using this address.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BackendServiceGroupHealth",
            "type": "object",
            "fields": [
                {
                    "name": "healthStatus",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HealthStatus"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#backendServiceGroupHealth for the health of backend services.",
                    "type": "string",
                    "default": "compute#backendServiceGroupHealth"
                }
            ]
        },
        {
            "name": "DiskList",
            "desc": "A list of Disk resources.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of Disk resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Disk"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#diskList for lists of disks.",
                    "type": "string",
                    "default": "compute#diskList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DiskTypeList",
            "desc": "Contains a list of disk types.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A list of Disk Type resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DiskType"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#diskTypeList for disk types.",
                    "type": "string",
                    "default": "compute#diskTypeList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "HostRule",
            "desc": "UrlMaps A host-matching rule for a URL. If matched, will use the named PathMatcher to select the BackendService.",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "An optional description of this resource. Provide this property when you create the resource.",
                    "type": "string"
                },
                {
                    "name": "hosts",
                    "desc": "The list of host patterns to match. They must be valid hostnames, except * will match any string of ([a-z0-9-.]*). In that case, * must be the first character and must be followed in the pattern by either - or ..",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "pathMatcher",
                    "desc": "The name of the PathMatcher to use to match the path portion of the URL if the hostRule matches the URL's host portion.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RegionList",
            "desc": "Contains a list of region resources.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A list of Region resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Region"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#regionList for lists of regions.",
                    "type": "string",
                    "default": "compute#regionList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VpnTunnel",
            "type": "object",
            "fields": [
                {
                    "name": "targetVpnGateway",
                    "desc": "URL of the VPN gateway with which this VPN tunnel is associated. Provided by the client when the VPN tunnel is created.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "region",
                    "desc": "[Output Only] URL of the region where the VPN tunnel resides.",
                    "type": "string"
                },
                {
                    "name": "remoteTrafficSelector",
                    "desc": "Remote traffic selectors to use when establishing the VPN tunnel with peer VPN gateway. The value should be a CIDR formatted string, for example: 192.168.0.0/16. The ranges should be disjoint. Only IPv4 is supported.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                },
                {
                    "name": "sharedSecret",
                    "desc": "Shared secret used to set the secure session between the Cloud VPN gateway and the peer VPN gateway.",
                    "type": "string"
                },
                {
                    "name": "ikeVersion",
                    "desc": "IKE protocol version to use when establishing the VPN tunnel with peer VPN gateway. Acceptable IKE versions are 1 or 2. Default version is 2.",
                    "type": "int32"
                },
                {
                    "name": "peerIp",
                    "desc": "IP address of the peer VPN gateway. Only IPv4 is supported.",
                    "type": "string"
                },
                {
                    "name": "router",
                    "desc": "URL of router resource to be used for dynamic routing.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
                    "type": "string",
                    "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                },
                {
                    "name": "sharedSecretHash",
                    "desc": "Hash of the shared secret.",
                    "type": "string"
                },
                {
                    "name": "detailedStatus",
                    "desc": "[Output Only] Detailed status message for the VPN tunnel.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#vpnTunnel for VPN tunnels.",
                    "type": "string",
                    "default": "compute#vpnTunnel"
                },
                {
                    "name": "localTrafficSelector",
                    "desc": "Local traffic selector to use when establishing the VPN tunnel with peer VPN gateway. The value should be a CIDR formatted string, for example: 192.168.0.0/16. The ranges should be disjoint. Only IPv4 is supported.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "An optional description of this resource. Provide this property when you create the resource.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "[Output Only] The status of the VPN tunnel.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ALLOCATING_RESOURCES"
                        },
                        {
                            "name": "AUTHORIZATION_ERROR"
                        },
                        {
                            "name": "DEPROVISIONING"
                        },
                        {
                            "name": "ESTABLISHED"
                        },
                        {
                            "name": "FAILED"
                        },
                        {
                            "name": "FIRST_HANDSHAKE"
                        },
                        {
                            "name": "NEGOTIATION_FAILURE"
                        },
                        {
                            "name": "NETWORK_ERROR"
                        },
                        {
                            "name": "NO_INCOMING_PACKETS"
                        },
                        {
                            "name": "PROVISIONING"
                        },
                        {
                            "name": "REJECTED"
                        },
                        {
                            "name": "WAITING_FOR_FULL_CONFIG"
                        }
                    ]
                }
            ]
        },
        {
            "name": "VpnTunnelAggregatedList",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A map of scoped vpn tunnel lists.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "VpnTunnelsScopedList"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#vpnTunnel for VPN tunnels.",
                    "type": "string",
                    "default": "compute#vpnTunnelAggregatedList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AttachedDiskInitializeParams",
            "desc": "[Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.\n\nThis property is mutually exclusive with the source property; you can only define one or the other, but not both.",
            "type": "object",
            "fields": [
                {
                    "name": "sourceImage",
                    "desc": "The source image to create this disk. When creating a new instance, one of initializeParams.sourceImage or disks.source is required.\n\nTo create a disk with one of the public operating system images, specify the image by its family name. For example, specify family/debian-8 to use the latest Debian 8 image:\n\nprojects/debian-cloud/global/images/family/debian-8 \n\nAlternatively, use a specific version of a public operating system image:\n\nprojects/debian-cloud/global/images/debian-8-jessie-vYYYYMMDD \n\nTo create a disk with a private image that you created, specify the image name in the following format:\n\nglobal/images/my-private-image \n\nYou can also specify a private image by its image family, which returns the latest version of the image in that family. Replace the image name with family/family-name:\n\nglobal/images/family/my-private-family \n\nIf the source image is deleted later, this field will not be set.",
                    "type": "string"
                },
                {
                    "name": "sourceImageEncryptionKey",
                    "desc": "The customer-supplied encryption key of the source image. Required if the source image is protected by a customer-supplied encryption key.\n\nInstance templates do not store customer-supplied encryption keys, so you cannot create disks for instances in a managed instance group if the source images are encrypted with your own keys.",
                    "type": "ref",
                    "refType": "CustomerEncryptionKey"
                },
                {
                    "name": "diskName",
                    "desc": "Specifies the disk name. If not specified, the default is to use the name of the instance.",
                    "type": "string"
                },
                {
                    "name": "diskSizeGb",
                    "desc": "Specifies the size of the disk in base-2 GB.",
                    "type": "int64"
                },
                {
                    "name": "diskType",
                    "desc": "Specifies the disk type to use to create the instance. If not specified, the default is pd-standard, specified using the full URL. For example:\n\nhttps://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/pd-standard \n\nOther values include pd-ssd and local-ssd. If you define this field, you can provide either the full or partial URL. For example, the following are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/diskType \n- projects/project/zones/zone/diskTypes/diskType \n- zones/zone/diskTypes/diskType  Note that for InstanceTemplate, this is the name of the disk type, not URL.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstanceReference",
            "type": "object",
            "fields": [
                {
                    "name": "instance",
                    "desc": "The URL for a specific instance.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ConnectionDraining",
            "desc": "Message containing connection draining configuration.",
            "type": "object",
            "fields": [
                {
                    "name": "drainingTimeoutSec",
                    "desc": "Time for which instance will be drained (not accept new connections, but still work to finish started).",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "SnapshotList",
            "desc": "Contains a list of Snapshot resources.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A list of Snapshot resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Snapshot"
                },
                {
                    "name": "kind",
                    "desc": "Type of resource.",
                    "type": "string",
                    "default": "compute#snapshotList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TargetHttpsProxiesSetSslCertificatesRequest",
            "type": "object",
            "fields": [
                {
                    "name": "sslCertificates",
                    "desc": "New set of SslCertificate resources to associate with this TargetHttpsProxy resource. Currently exactly one SslCertificate resource must be specified.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UrlMapsValidateRequest",
            "type": "object",
            "fields": [
                {
                    "name": "resource",
                    "desc": "Content of the UrlMap to be validated.",
                    "type": "ref",
                    "refType": "UrlMap"
                }
            ]
        },
        {
            "name": "VpnTunnelsScopedList",
            "type": "object",
            "fields": [
                {
                    "name": "vpnTunnels",
                    "desc": "List of vpn tunnels contained in this scope.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "VpnTunnel"
                },
                {
                    "name": "warning",
                    "desc": "Informational warning which replaces the list of addresses when the list is empty.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "CLEANUP_FAILED"
                                },
                                {
                                    "name": "DEPRECATED_RESOURCE_USED"
                                },
                                {
                                    "name": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
                                },
                                {
                                    "name": "FIELD_VALUE_OVERRIDEN"
                                },
                                {
                                    "name": "INJECTED_KERNELS_DEPRECATED"
                                },
                                {
                                    "name": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
                                },
                                {
                                    "name": "NEXT_HOP_CANNOT_IP_FORWARD"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_FOUND"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
                                },
                                {
                                    "name": "NEXT_HOP_NOT_RUNNING"
                                },
                                {
                                    "name": "NOT_CRITICAL_ERROR"
                                },
                                {
                                    "name": "NO_RESULTS_ON_PAGE"
                                },
                                {
                                    "name": "REQUIRED_TOS_AGREEMENT"
                                },
                                {
                                    "name": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
                                },
                                {
                                    "name": "RESOURCE_NOT_DELETED"
                                },
                                {
                                    "name": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
                                },
                                {
                                    "name": "UNREACHABLE"
                                }
                            ]
                        },
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                },
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ZoneList",
            "desc": "Contains a list of zone resources.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Type of resource.",
                    "type": "string",
                    "default": "compute#zoneList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A list of Zone resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Zone"
                }
            ]
        },
        {
            "name": "AutoscalerAggregatedList",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A map of scoped autoscaler lists.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "AutoscalersScopedList"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#autoscalerAggregatedList for aggregated lists of autoscalers.",
                    "type": "string",
                    "default": "compute#autoscalerAggregatedList"
                }
            ]
        },
        {
            "name": "GuestOsFeature",
            "desc": "Guest OS features.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "The type of supported feature. Currenty only VIRTIO_SCSI_MULTIQUEUE is supported. For newer Windows images, the server might also populate this property with the value WINDOWS to indicate that this is a Windows image. This value is purely informational and does not enable or disable any features.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "FEATURE_TYPE_UNSPECIFIED"
                        },
                        {
                            "name": "VIRTIO_SCSI_MULTIQUEUE"
                        },
                        {
                            "name": "WINDOWS"
                        }
                    ]
                }
            ]
        },
        {
            "name": "InstanceGroupsRemoveInstancesRequest",
            "type": "object",
            "fields": [
                {
                    "name": "instances",
                    "desc": "The list of instances to remove from the instance group.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InstanceReference"
                }
            ]
        },
        {
            "name": "PathMatcher",
            "desc": "A matcher for the path portion of the URL. The BackendService from the longest-matched rule will serve the URL. If no rule was matched, the default service will be used.",
            "type": "object",
            "fields": [
                {
                    "name": "defaultService",
                    "desc": "The full or partial URL to the BackendService resource. This will be used if none of the pathRules defined by this PathMatcher is matched by the URL's path portion. For example, the following are all valid URLs to a BackendService resource:  \n- https://www.googleapis.com/compute/v1/projects/project/global/backendServices/backendService \n- compute/v1/projects/project/global/backendServices/backendService \n- global/backendServices/backendService",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "An optional description of this resource. Provide this property when you create the resource.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name to which this PathMatcher is referred by the HostRule.",
                    "type": "string"
                },
                {
                    "name": "pathRules",
                    "desc": "The list of path rules.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PathRule"
                }
            ]
        },
        {
            "name": "Router",
            "desc": "Router resource.",
            "type": "object",
            "fields": [
                {
                    "name": "bgpPeers",
                    "desc": "BGP information that needs to be configured into the routing stack to establish the BGP peering. It must specify peer ASN and either interface name, IP, or peer IP. Please refer to RFC4273.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RouterBgpPeer"
                },
                {
                    "name": "description",
                    "desc": "An optional description of this resource. Provide this property when you create the resource.",
                    "type": "string"
                },
                {
                    "name": "interfaces",
                    "desc": "Router interfaces. Each interface requires either one linked resource (e.g. linkedVpnTunnel), or IP address and IP address range (e.g. ipRange), or both.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RouterInterface"
                },
                {
                    "name": "network",
                    "desc": "URI of the network to which this router belongs.",
                    "type": "string"
                },
                {
                    "name": "region",
                    "desc": "[Output Only] URI of the region where the router resides.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                },
                {
                    "name": "bgp",
                    "desc": "BGP information specific to this router.",
                    "type": "ref",
                    "refType": "RouterBgp"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#router for routers.",
                    "type": "string",
                    "default": "compute#router"
                },
                {
                    "name": "name",
                    "desc": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
                    "type": "string",
                    "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                }
            ]
        },
        {
            "name": "TargetHttpProxy",
            "desc": "A TargetHttpProxy resource. This resource defines an HTTP proxy.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
                    "type": "string",
                    "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                },
                {
                    "name": "urlMap",
                    "desc": "URL to the UrlMap resource that defines the mapping from URL to the BackendService.",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "An optional description of this resource. Provide this property when you create the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#targetHttpProxy for target HTTP proxies.",
                    "type": "string",
                    "default": "compute#targetHttpProxy"
                }
            ]
        },
        {
            "name": "ForwardingRulesScopedList",
            "type": "object",
            "fields": [
                {
                    "name": "forwardingRules",
                    "desc": "List of forwarding rules contained in this scope.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ForwardingRule"
                },
                {
                    "name": "warning",
                    "desc": "Informational warning which replaces the list of forwarding rules when the list is empty.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "CLEANUP_FAILED"
                                },
                                {
                                    "name": "DEPRECATED_RESOURCE_USED"
                                },
                                {
                                    "name": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
                                },
                                {
                                    "name": "FIELD_VALUE_OVERRIDEN"
                                },
                                {
                                    "name": "INJECTED_KERNELS_DEPRECATED"
                                },
                                {
                                    "name": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
                                },
                                {
                                    "name": "NEXT_HOP_CANNOT_IP_FORWARD"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_FOUND"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
                                },
                                {
                                    "name": "NEXT_HOP_NOT_RUNNING"
                                },
                                {
                                    "name": "NOT_CRITICAL_ERROR"
                                },
                                {
                                    "name": "NO_RESULTS_ON_PAGE"
                                },
                                {
                                    "name": "REQUIRED_TOS_AGREEMENT"
                                },
                                {
                                    "name": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
                                },
                                {
                                    "name": "RESOURCE_NOT_DELETED"
                                },
                                {
                                    "name": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
                                },
                                {
                                    "name": "UNREACHABLE"
                                }
                            ]
                        },
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "BackendServicesScopedList",
            "type": "object",
            "fields": [
                {
                    "name": "backendServices",
                    "desc": "List of BackendServices contained in this scope.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BackendService"
                },
                {
                    "name": "warning",
                    "desc": "Informational warning which replaces the list of backend services when the list is empty.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "CLEANUP_FAILED"
                                },
                                {
                                    "name": "DEPRECATED_RESOURCE_USED"
                                },
                                {
                                    "name": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
                                },
                                {
                                    "name": "FIELD_VALUE_OVERRIDEN"
                                },
                                {
                                    "name": "INJECTED_KERNELS_DEPRECATED"
                                },
                                {
                                    "name": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
                                },
                                {
                                    "name": "NEXT_HOP_CANNOT_IP_FORWARD"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_FOUND"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
                                },
                                {
                                    "name": "NEXT_HOP_NOT_RUNNING"
                                },
                                {
                                    "name": "NOT_CRITICAL_ERROR"
                                },
                                {
                                    "name": "NO_RESULTS_ON_PAGE"
                                },
                                {
                                    "name": "REQUIRED_TOS_AGREEMENT"
                                },
                                {
                                    "name": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
                                },
                                {
                                    "name": "RESOURCE_NOT_DELETED"
                                },
                                {
                                    "name": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
                                },
                                {
                                    "name": "UNREACHABLE"
                                }
                            ]
                        },
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ResourceGroupReference",
            "type": "object",
            "fields": [
                {
                    "name": "group",
                    "desc": "A URI referencing one of the instance groups listed in the backend service.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RouteList",
            "desc": "Contains a list of Route resources.",
            "type": "object",
            "fields": [
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] Unique identifier for the resource. Defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A list of Route resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Route"
                },
                {
                    "name": "kind",
                    "desc": "Type of resource.",
                    "type": "string",
                    "default": "compute#routeList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoutersPreviewResponse",
            "type": "object",
            "fields": [
                {
                    "name": "resource",
                    "desc": "Preview of given router.",
                    "type": "ref",
                    "refType": "Router"
                }
            ]
        },
        {
            "name": "SubnetworksScopedList",
            "type": "object",
            "fields": [
                {
                    "name": "subnetworks",
                    "desc": "List of subnetworks contained in this scope.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Subnetwork"
                },
                {
                    "name": "warning",
                    "desc": "An informational warning that appears when the list of addresses is empty.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        },
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "CLEANUP_FAILED"
                                },
                                {
                                    "name": "DEPRECATED_RESOURCE_USED"
                                },
                                {
                                    "name": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
                                },
                                {
                                    "name": "FIELD_VALUE_OVERRIDEN"
                                },
                                {
                                    "name": "INJECTED_KERNELS_DEPRECATED"
                                },
                                {
                                    "name": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
                                },
                                {
                                    "name": "NEXT_HOP_CANNOT_IP_FORWARD"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_FOUND"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
                                },
                                {
                                    "name": "NEXT_HOP_NOT_RUNNING"
                                },
                                {
                                    "name": "NOT_CRITICAL_ERROR"
                                },
                                {
                                    "name": "NO_RESULTS_ON_PAGE"
                                },
                                {
                                    "name": "REQUIRED_TOS_AGREEMENT"
                                },
                                {
                                    "name": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
                                },
                                {
                                    "name": "RESOURCE_NOT_DELETED"
                                },
                                {
                                    "name": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
                                },
                                {
                                    "name": "UNREACHABLE"
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "name": "AutoscalersScopedList",
            "type": "object",
            "fields": [
                {
                    "name": "autoscalers",
                    "desc": "[Output Only] List of autoscalers contained in this scope.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Autoscaler"
                },
                {
                    "name": "warning",
                    "desc": "[Output Only] Informational warning which replaces the list of autoscalers when the list is empty.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "CLEANUP_FAILED"
                                },
                                {
                                    "name": "DEPRECATED_RESOURCE_USED"
                                },
                                {
                                    "name": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
                                },
                                {
                                    "name": "FIELD_VALUE_OVERRIDEN"
                                },
                                {
                                    "name": "INJECTED_KERNELS_DEPRECATED"
                                },
                                {
                                    "name": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
                                },
                                {
                                    "name": "NEXT_HOP_CANNOT_IP_FORWARD"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_FOUND"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
                                },
                                {
                                    "name": "NEXT_HOP_NOT_RUNNING"
                                },
                                {
                                    "name": "NOT_CRITICAL_ERROR"
                                },
                                {
                                    "name": "NO_RESULTS_ON_PAGE"
                                },
                                {
                                    "name": "REQUIRED_TOS_AGREEMENT"
                                },
                                {
                                    "name": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
                                },
                                {
                                    "name": "RESOURCE_NOT_DELETED"
                                },
                                {
                                    "name": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
                                },
                                {
                                    "name": "UNREACHABLE"
                                }
                            ]
                        },
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "DiskAggregatedList",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results. Acceptable values are 0 to 500, inclusive. (Default: 500)",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "[Output Only] A map of scoped disk lists.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "DisksScopedList"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#diskAggregatedList for aggregated lists of persistent disks.",
                    "type": "string",
                    "default": "compute#diskAggregatedList"
                }
            ]
        },
        {
            "name": "InstanceGroupsScopedList",
            "type": "object",
            "fields": [
                {
                    "name": "instanceGroups",
                    "desc": "[Output Only] The list of instance groups that are contained in this scope.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InstanceGroup"
                },
                {
                    "name": "warning",
                    "desc": "[Output Only] An informational warning that replaces the list of instance groups when the list is empty.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "CLEANUP_FAILED"
                                },
                                {
                                    "name": "DEPRECATED_RESOURCE_USED"
                                },
                                {
                                    "name": "DISK_SIZE_LARGER_THAN_IMAGE_SIZE"
                                },
                                {
                                    "name": "FIELD_VALUE_OVERRIDEN"
                                },
                                {
                                    "name": "INJECTED_KERNELS_DEPRECATED"
                                },
                                {
                                    "name": "NEXT_HOP_ADDRESS_NOT_ASSIGNED"
                                },
                                {
                                    "name": "NEXT_HOP_CANNOT_IP_FORWARD"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_FOUND"
                                },
                                {
                                    "name": "NEXT_HOP_INSTANCE_NOT_ON_NETWORK"
                                },
                                {
                                    "name": "NEXT_HOP_NOT_RUNNING"
                                },
                                {
                                    "name": "NOT_CRITICAL_ERROR"
                                },
                                {
                                    "name": "NO_RESULTS_ON_PAGE"
                                },
                                {
                                    "name": "REQUIRED_TOS_AGREEMENT"
                                },
                                {
                                    "name": "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING"
                                },
                                {
                                    "name": "RESOURCE_NOT_DELETED"
                                },
                                {
                                    "name": "SINGLE_INSTANCE_PROPERTY_TEMPLATE"
                                },
                                {
                                    "name": "UNREACHABLE"
                                }
                            ]
                        },
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "TargetVpnGateway",
            "desc": "Represents a Target VPN gateway resource.",
            "type": "object",
            "fields": [
                {
                    "name": "region",
                    "desc": "[Output Only] URL of the region where the target VPN gateway resides.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "[Output Only] The status of the VPN gateway.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CREATING"
                        },
                        {
                            "name": "DELETING"
                        },
                        {
                            "name": "FAILED"
                        },
                        {
                            "name": "READY"
                        }
                    ]
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "An optional description of this resource. Provide this property when you create the resource.",
                    "type": "string"
                },
                {
                    "name": "forwardingRules",
                    "desc": "[Output Only] A list of URLs to the ForwardingRule resources. ForwardingRules are created using compute.forwardingRules.insert and associated to a VPN gateway.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of resource. Always compute#targetVpnGateway for target VPN gateways.",
                    "type": "string",
                    "default": "compute#targetVpnGateway"
                },
                {
                    "name": "name",
                    "desc": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
                    "type": "string",
[...]
