{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/7Hat7OD71pyaIh88VMr8fQ27dGA\"",
    "discoveryVersion": "v1",
    "id": "androidenterprise:v1",
    "name": "androidenterprise",
    "version": "v1",
    "title": "Google Play EMM API",
    "description": "Manages the deployment of apps to Android for Work users.",
    "documentationLink": "https://developers.google.com/android/work/play/emm-api",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/androidenterprise"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "ServiceAccount",
            "desc": "A service account identity, including the name and credentials that can be used to authenticate as the service account.",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "desc": "Credentials that can be used to authenticate as this ServiceAccount.",
                    "type": "ref",
                    "refType": "ServiceAccountKey"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#serviceAccount\".",
                    "type": "string",
                    "default": "androidenterprise#serviceAccount"
                },
                {
                    "name": "name",
                    "desc": "The account name of the service account, in the form of an email address. Assigned by the server.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DeviceState",
            "desc": "The state of a user's device, as accessed by the getState and setState methods on device resources.",
            "type": "object",
            "fields": [
                {
                    "name": "accountState",
                    "desc": "The state of the Google account on the device. \"enabled\" indicates that the Google account on the device can be used to access Google services (including Google Play), while \"disabled\" means that it cannot. A new device is initially in the \"disabled\" state.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#deviceState\".",
                    "type": "string",
                    "default": "androidenterprise#deviceState"
                }
            ]
        },
        {
            "name": "EnterprisesListResponse",
            "desc": "The matching enterprise resources.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#enterprisesListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#enterprisesListResponse"
                },
                {
                    "name": "enterprise",
                    "desc": "An enterprise.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Enterprise"
                }
            ]
        },
        {
            "name": "ManagedConfigurationsForUserListResponse",
            "desc": "The managed configuration resources for the user.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfigurationsForUserListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#managedConfigurationsForUserListResponse"
                },
                {
                    "name": "managedConfigurationForUser",
                    "desc": "A managed configuration for an app for a specific user.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ManagedConfiguration"
                }
            ]
        },
        {
            "name": "Product",
            "desc": "A Products resource represents an app in the Google Play store that is available to at least some users in the enterprise. (Some apps are restricted to a single enterprise, and no information about them is made available outside that enterprise.)\n\nThe information provided for each product (localized name, icon, link to the full Google Play details page) is intended to allow a basic representation of the product within an EMM user interface.",
            "type": "object",
            "fields": [
                {
                    "name": "productPricing",
                    "desc": "Whether this product is free, free with in-app purchases, or paid. If the pricing is unknown, this means the product is not generally available anymore (even though it might still be available to people who own it).",
                    "type": "string"
                },
                {
                    "name": "requiresContainerApp",
                    "desc": "Whether this app can only be installed on devices using the Android container app.",
                    "type": "bool"
                },
                {
                    "name": "title",
                    "desc": "The name of the product.",
                    "type": "string"
                },
                {
                    "name": "workDetailsUrl",
                    "desc": "A link to the managed Google Play details page for the product, for use by an Enterprise admin.",
                    "type": "string"
                },
                {
                    "name": "detailsUrl",
                    "desc": "A link to the (consumer) Google Play details page for the product.",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "A string of the form app:\u003cpackage name\u003e. For example, app:com.google.android.gm represents the Gmail app.",
                    "type": "string"
                },
                {
                    "name": "distributionChannel",
                    "desc": "How and to whom the package is made available. The value publicGoogleHosted means that the package is available through the Play store and not restricted to a specific enterprise. The value privateGoogleHosted means that the package is a private app (restricted to an enterprise) but hosted by Google. The value privateSelfHosted means that the package is a private app (restricted to an enterprise) and is privately hosted.",
                    "type": "string"
                },
                {
                    "name": "iconUrl",
                    "desc": "A link to an image that can be used as an icon for the product. This image is suitable for use at up to 512px x 512px.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#product\".",
                    "type": "string",
                    "default": "androidenterprise#product"
                },
                {
                    "name": "smallIconUrl",
                    "desc": "A link to a smaller image that can be used as an icon for the product. This image is suitable for use at up to 128px x 128px.",
                    "type": "string"
                },
                {
                    "name": "appVersion",
                    "desc": "App versions currently available for this product. The returned list contains only public versions. Alpha and beta versions are not included.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AppVersion"
                },
                {
                    "name": "authorName",
                    "desc": "The name of the author of the product (for example, the app developer).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TokenPagination",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "type": "string"
                },
                {
                    "name": "previousPageToken",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AppRestrictionsSchemaChangeEvent",
            "desc": "An event generated when a new app version is uploaded to Google Play and its app restrictions schema changed. To fetch the app restrictions schema for an app, use Products.getAppRestrictionsSchema on the EMM API.",
            "type": "object",
            "fields": [
                {
                    "name": "productId",
                    "desc": "The id of the product (e.g. \"app:com.google.android.gm\") for which the app restriction schema changed. This field will always be present.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AdministratorWebTokenSpec",
            "desc": "Specification for a token used to generate iframes. The token specifies what data the admin is allowed to modify and the URI the iframe is allowed to communiate with.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#administratorWebTokenSpec\".",
                    "type": "string",
                    "default": "androidenterprise#administratorWebTokenSpec"
                },
                {
                    "name": "parent",
                    "desc": "The URI of the parent frame hosting the iframe. To prevent XSS, the iframe may not be hosted at other URIs. This URI must be https.",
                    "type": "string"
                },
                {
                    "name": "permission",
                    "desc": "The list of permissions the admin is granted within the iframe. The admin will only be allowed to view an iframe if they have all of the permissions associated with it. The only valid value is \"approveApps\" that will allow the admin to access the iframe in \"approve\" mode.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AppRestrictionsSchema",
            "desc": "Represents the list of app restrictions available to be pre-configured for the product.",
            "type": "object",
            "fields": [
                {
                    "name": "restrictions",
                    "desc": "The set of restrictions that make up this schema.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AppRestrictionsSchemaRestriction"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#appRestrictionsSchema\".",
                    "type": "string",
                    "default": "androidenterprise#appRestrictionsSchema"
                }
            ]
        },
        {
            "name": "DevicesListResponse",
            "desc": "The device resources for the user.",
            "type": "object",
            "fields": [
                {
                    "name": "device",
                    "desc": "A managed device.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Device"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#devicesListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#devicesListResponse"
                }
            ]
        },
        {
            "name": "ManagedPropertyBundle",
            "desc": "A bundle of managed properties.",
            "type": "object",
            "fields": [
                {
                    "name": "managedProperty",
                    "desc": "The list of managed properties.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ManagedProperty"
                }
            ]
        },
        {
            "name": "ProductPermission",
            "desc": "A product permissions resource represents the set of permissions required by a specific app and whether or not they have been accepted by an enterprise admin.\n\nThe API can be used to read the set of permissions, and also to update the set to indicate that permissions have been accepted.",
            "type": "object",
            "fields": [
                {
                    "name": "permissionId",
                    "desc": "An opaque string uniquely identifying the permission.",
                    "type": "string"
                },
                {
                    "name": "state",
                    "desc": "Whether the permission has been accepted or not.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Administrator",
            "desc": "This represents an enterprise admin who can manage the enterprise in the managed Google Play store.",
            "type": "object",
            "fields": [
                {
                    "name": "email",
                    "desc": "The admin's email address.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "User",
            "desc": "A Users resource represents an account associated with an enterprise. The account may be specific to a device or to an individual user (who can then use the account across multiple devices). The account may provide access to managed Google Play only, or to other Google services, depending on the identity model: \n- The Google managed domain identity model requires synchronization to Google account sources (via primaryEmail). \n- The managed Google Play Accounts identity model provides a dynamic means for enterprises to create user or device accounts as needed. These accounts provide access to managed Google Play.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#user\".",
                    "type": "string",
                    "default": "androidenterprise#user"
                },
                {
                    "name": "managementType",
                    "desc": "The entity that manages the user. With googleManaged users, the source of truth is Google so EMMs have to make sure a Google Account exists for the user. With emmManaged users, the EMM is in charge.",
                    "type": "string"
                },
                {
                    "name": "primaryEmail",
                    "desc": "The user's primary email address, for example, \"jsmith@example.com\". Will always be set for Google managed users and not set for EMM managed users.",
                    "type": "string"
                },
                {
                    "name": "accountIdentifier",
                    "desc": "A unique identifier you create for this user, such as \"user342\" or \"asset#44418\". Do not use personally identifiable information (PII) for this property. Must always be set for EMM-managed users. Not set for Google-managed users.",
                    "type": "string"
                },
                {
                    "name": "accountType",
                    "desc": "The type of account that this user represents. A userAccount can be installed on multiple devices, but a deviceAccount is specific to a single device. An EMM-managed user (emmManaged) can be either type (userAccount, deviceAccount), but a Google-managed user (googleManaged) is always a userAccount.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The name that will appear in user interfaces. Setting this property is optional when creating EMM-managed users. If you do set this property, use something generic about the organization (such as \"Example, Inc.\") or your name (as EMM). Not used for Google-managed user accounts.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The unique ID for the user.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GroupLicensesListResponse",
            "desc": "The grouplicense resources for the enterprise.",
            "type": "object",
            "fields": [
                {
                    "name": "groupLicense",
                    "desc": "A group license for a product approved for use in the enterprise.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GroupLicense"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#groupLicensesListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#groupLicensesListResponse"
                }
            ]
        },
        {
            "name": "ProductPermissions",
            "desc": "Information about the permissions required by a specific app and whether they have been accepted by the enterprise.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#productPermissions\".",
                    "type": "string",
                    "default": "androidenterprise#productPermissions"
                },
                {
                    "name": "permission",
                    "desc": "The permissions required by the app.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ProductPermission"
                },
                {
                    "name": "productId",
                    "desc": "The ID of the app that the permissions relate to, e.g. \"app:com.google.android.gm\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SignupInfo",
            "desc": "A resource returned by the GenerateSignupUrl API, which contains the Signup URL and Completion Token.",
            "type": "object",
            "fields": [
                {
                    "name": "completionToken",
                    "desc": "An opaque token that will be required, along with the Enterprise Token, for obtaining the enterprise resource from CompleteSignup.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#signupInfo\".",
                    "type": "string",
                    "default": "androidenterprise#signupInfo"
                },
                {
                    "name": "url",
                    "desc": "A URL under which the Admin can sign up for an enterprise. The page pointed to cannot be rendered in an iframe.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "StoreLayout",
            "desc": "General setting for the managed Google Play store layout, currently only specifying the page to display the first time the store is opened.",
            "type": "object",
            "fields": [
                {
                    "name": "homepageId",
                    "desc": "The ID of the store page to be used as the homepage. The homepage will be used as the first page shown in the managed Google Play store.\n\nIf a homepage has not been set, the Play store shown on devices will be empty. Not specifying a homepage on a store layout effectively empties the store.\n\nIf there exists at least one page, this field must be set to the ID of a valid page.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storeLayout\".",
                    "type": "string",
                    "default": "androidenterprise#storeLayout"
                },
                {
                    "name": "storeLayoutType",
                    "desc": "The store layout type. By default, this value is set to \"basic\". If set to \"custom\", \"homepageId\" must be specified. If set to \"basic\", the layout will consist of all approved apps accessible by the user, split in pages of 100 each; in this case, \"homepageId\" must not be specified. The \"basic\" setting takes precedence over any existing collections setup for this enterprise (if any). Should the enterprise use collectionViewers for controlling access rights, these will still be respected.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UserToken",
            "desc": "A UserToken is used by a user when setting up a managed device or profile with their managed Google Play account on a device. When the user enters their email address and token (activation code) the appropriate EMM app can be automatically downloaded.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#userToken\".",
                    "type": "string",
                    "default": "androidenterprise#userToken"
                },
                {
                    "name": "token",
                    "desc": "The token (activation code) to be entered by the user. This consists of a sequence of decimal digits. Note that the leading digit may be 0.",
                    "type": "string"
                },
                {
                    "name": "userId",
                    "desc": "The unique ID for the user.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AppRestrictionsSchemaRestrictionRestrictionValue",
            "desc": "A typed value for the restriction.",
            "type": "object",
            "fields": [
                {
                    "name": "valueMultiselect",
                    "desc": "The list of string values - this will only be present if type is multiselect.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "valueString",
                    "desc": "The string value - this will be present for types string, choice and hidden.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of the value being provided.",
                    "type": "string"
                },
                {
                    "name": "valueBool",
                    "desc": "The boolean value - this will only be present if type is bool.",
                    "type": "bool"
                },
                {
                    "name": "valueInteger",
                    "desc": "The integer value - this will only be present if type is integer.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ProductApprovalEvent",
            "desc": "An event generated when a product's approval status is changed.",
            "type": "object",
            "fields": [
                {
                    "name": "approved",
                    "desc": "Whether the product was approved or unapproved. This field will always be present.",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "The id of the product (e.g. \"app:com.google.android.gm\") for which the approval status has changed. This field will always be present.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductsGenerateApprovalUrlResponse",
            "type": "object",
            "fields": [
                {
                    "name": "url",
                    "desc": "A URL that can be rendered in an iframe to display the permissions (if any) of a product. This URL can be used to approve the product only once and only within 24 hours of being generated, using the Products.approve call. If the product is currently unapproved and has no permissions, this URL will point to an empty page. If the product is currently approved, a URL will only be generated if that product has added permissions since it was last approved, and the URL will only display those new permissions that have not yet been accepted.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EnterpriseAccount",
            "desc": "A service account that can be used to authenticate as the enterprise to API calls that require such authentication.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#enterpriseAccount\".",
                    "type": "string",
                    "default": "androidenterprise#enterpriseAccount"
                },
                {
                    "name": "accountEmail",
                    "desc": "The email address of the service account.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "NewPermissionsEvent",
            "desc": "An event generated when new permissions are added to an app.",
            "type": "object",
            "fields": [
                {
                    "name": "approvedPermissions",
                    "desc": "The set of permissions that the enterprise admin has already approved for this application. Use Permissions.Get on the EMM API to retrieve details about these permissions.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "The id of the product (e.g. \"app:com.google.android.gm\") for which new permissions were added. This field will always be present.",
                    "type": "string"
                },
                {
                    "name": "requestedPermissions",
                    "desc": "The set of permissions that the app is currently requesting. Use Permissions.Get on the EMM API to retrieve details about these permissions.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "StorePage",
            "desc": "Definition of a managed Google Play store page, made of a localized name and links to other pages. A page also contains clusters defined as a subcollection.",
            "type": "object",
            "fields": [
                {
                    "name": "link",
                    "desc": "Ordered list of pages a user should be able to reach from this page. The pages must exist, must not be this page, and once a link is created the page linked to cannot be deleted until all links to it are removed. It is recommended that the basic pages are created first, before adding the links between pages.\n\nNo attempt is made to verify that all pages are reachable from the homepage.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LocalizedText"
                },
                {
                    "name": "id",
                    "desc": "Unique ID of this page. Assigned by the server. Immutable once assigned.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storePage\".",
                    "type": "string",
                    "default": "androidenterprise#storePage"
                }
            ]
        },
        {
            "name": "AppUpdateEvent",
            "desc": "An event generated when a new version of an app is uploaded to Google Play. Notifications are sent for new public versions only: alpha, beta, or canary versions do not generate this event. To fetch up-to-date version history for an app, use Products.Get on the EMM API.",
            "type": "object",
            "fields": [
                {
                    "name": "productId",
                    "desc": "The id of the product (e.g. \"app:com.google.android.gm\") that was updated. This field will always be present.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductsListResponse",
            "desc": "The matching products.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#productsListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#productsListResponse"
                },
                {
                    "name": "pageInfo",
                    "desc": "General pagination information.",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "product",
                    "desc": "Information about a product (e.g. an app) in the Google Play store, for display to an enterprise admin.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Product"
                },
                {
                    "name": "tokenPagination",
                    "desc": "Pagination information for token pagination.",
                    "type": "ref",
                    "refType": "TokenPagination"
                }
            ]
        },
        {
            "name": "StoreCluster",
            "desc": "Definition of a managed Google Play store cluster, a list of products displayed as part of a store page.",
            "type": "object",
            "fields": [
                {
                    "name": "orderInPage",
                    "desc": "String (US-ASCII only) used to determine order of this cluster within the parent page's elements. Page elements are sorted in lexicographic order of this field. Duplicated values are allowed, but ordering between elements with duplicate order is undefined.\n\nThe value of this field is never visible to a user, it is used solely for the purpose of defining an ordering. Maximum length is 256 characters.",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "List of products in the order they are displayed in the cluster. There should not be duplicates within a cluster.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique ID of this cluster. Assigned by the server. Immutable once assigned.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storeCluster\".",
                    "type": "string",
                    "default": "androidenterprise#storeCluster"
                },
                {
                    "name": "name",
                    "desc": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LocalizedText"
                }
            ]
        },
        {
            "name": "EnterprisesSendTestPushNotificationResponse",
            "type": "object",
            "fields": [
                {
                    "name": "messageId",
                    "desc": "The message ID of the test push notification that was sent.",
                    "type": "string"
                },
                {
                    "name": "topicName",
                    "desc": "The name of the Cloud Pub/Sub topic to which notifications for this enterprise's enrolled account will be sent.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductSet",
            "desc": "A set of products.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#productSet\".",
                    "type": "string",
                    "default": "androidenterprise#productSet"
                },
                {
                    "name": "productId",
                    "desc": "The list of product IDs making up the set of products.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "productSetBehavior",
                    "desc": "The interpretation of this product set. \"unknown\" should never be sent and is ignored if received. \"whitelist\" means that this product set constitutes a whitelist. \"includeAll\" means that all products are accessible, including products that are approved, products with revoked approval, and products that have never been approved. If the value is \"includeAll\", the value of the productId field is therefore ignored. If a value is not supplied, it is interpreted to be \"whitelist\" for backwards compatibility.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ServiceAccountKeysListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "serviceAccountKey",
                    "desc": "The service account credentials.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ServiceAccountKey"
                }
            ]
        },
        {
            "name": "StoreLayoutPagesListResponse",
            "desc": "The store page resources for the enterprise.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storeLayoutPagesListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#storeLayoutPagesListResponse"
                },
                {
                    "name": "page",
                    "desc": "A store page of an enterprise.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "StorePage"
                }
            ]
        },
        {
            "name": "Install",
            "desc": "The existence of an Installs resource indicates that an app is installed on a particular device (or that an install is pending).\n\nThe API can be used to create an install resource using the update method. This triggers the actual install of the app on the device. If the user does not already have an entitlement for the app, then an attempt is made to create one. If this fails (for example, because the app is not free and there is no available license), then the creation of the install fails.\n\nThe API can also be used to update an installed app. If the update method is used on an existing install, then the app will be updated to the latest available version.\n\nNote that it is not possible to force the installation of a specific version of an app: the version code is read-only.\n\nIf a user installs an app themselves (as permitted by the enterprise), then again an install resource and possibly an entitlement resource are automatically created.\n\nThe API can also be used to delete an install resource, which triggers the removal of the app from the device. Note that deleting an install does not automatically remove the corresponding entitlement, even if there are no remaining installs. The install resource will also be deleted if the user uninstalls the app themselves.",
            "type": "object",
            "fields": [
                {
                    "name": "versionCode",
                    "desc": "The version of the installed product. Guaranteed to be set only if the install state is \"installed\".",
                    "type": "int32"
                },
                {
                    "name": "installState",
                    "desc": "Install state. The state \"installPending\" means that an install request has recently been made and download to the device is in progress. The state \"installed\" means that the app has been installed. This field is read-only.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#install\".",
                    "type": "string",
                    "default": "androidenterprise#install"
                },
                {
                    "name": "productId",
                    "desc": "The ID of the product that the install is for. For example, \"app:com.google.android.gm\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Device",
            "desc": "A Devices resource represents a mobile device managed by the EMM and belonging to a specific enterprise user.\n\nThis collection cannot be modified via the API. It is automatically populated as devices are set up to be managed.",
            "type": "object",
            "fields": [
                {
                    "name": "androidId",
                    "desc": "The Google Play Services Android ID for the device encoded as a lowercase hex string. For example, \"123456789abcdef0\".",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#device\".",
                    "type": "string",
                    "default": "androidenterprise#device"
                },
                {
                    "name": "managementType",
                    "desc": "Identifies the extent to which the device is controlled by a managed Google Play EMM in various deployment configurations.\n\nPossible values include: \n- \"managedDevice\", a device that has the EMM's device policy controller (DPC) as the device owner, \n- \"managedProfile\", a device that has a profile managed by the DPC (DPC is profile owner) in addition to a separate, personal profile that is unavailable to the DPC, \n- \"containerApp\", a device running the container App. The container App is managed by the DPC, \n- \"unmanagedProfile\", a device that has been allowed (by the domain's admin, using the Admin Console to enable the privilege) to use managed Google Play, but the profile is itself not owned by a DPC.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EntitlementsListResponse",
            "desc": "The entitlement resources for the user.",
            "type": "object",
            "fields": [
                {
                    "name": "entitlement",
                    "desc": "An entitlement of a user to a product (e.g. an app). For example, a free app that they have installed, or a paid app that they have been allocated a license to.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Entitlement"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#entitlementsListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#entitlementsListResponse"
                }
            ]
        },
        {
            "name": "ManagedConfigurationsForDeviceListResponse",
            "desc": "The managed configuration resources for the device.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfigurationsForDeviceListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#managedConfigurationsForDeviceListResponse"
                },
                {
                    "name": "managedConfigurationForDevice",
                    "desc": "A managed configuration for an app on a specific device.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ManagedConfiguration"
                }
            ]
        },
        {
            "name": "NotificationSet",
            "desc": "A resource returned by the PullNotificationSet API, which contains a collection of notifications for enterprises associated with the service account authenticated for the request.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#notificationSet\".",
                    "type": "string",
                    "default": "androidenterprise#notificationSet"
                },
                {
                    "name": "notification",
                    "desc": "The notifications received, or empty if no notifications are present.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Notification"
                },
                {
                    "name": "notificationSetId",
                    "desc": "The notification set ID, required to mark the notification as received with the Enterprises.AcknowledgeNotification API. This will be omitted if no notifications are present.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductAvailabilityChangeEvent",
            "desc": "An event generated whenever a product's availability changes.",
            "type": "object",
            "fields": [
                {
                    "name": "availabilityStatus",
                    "desc": "The new state of the product. This field will always be present.",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "The id of the product (e.g. \"app:com.google.android.gm\") for which the product availability changed. This field will always be present.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AuthenticationToken",
            "desc": "An AuthenticationToken is used by the EMM's device policy client on a device to provision the given EMM-managed user on that device.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#authenticationToken\".",
                    "type": "string",
                    "default": "androidenterprise#authenticationToken"
                },
                {
                    "name": "token",
                    "desc": "The authentication token to be passed to the device policy client on the device where it can be used to provision the account for which this token was generated.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstallsListResponse",
            "desc": "The install resources for the device.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#installsListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#installsListResponse"
                },
                {
                    "name": "install",
                    "desc": "An installation of an app for a user on a specific device. The existence of an install implies that the user must have an entitlement to the app.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Install"
                }
            ]
        },
        {
            "name": "LocalizedText",
            "desc": "A localized string with its locale.",
            "type": "object",
            "fields": [
                {
                    "name": "locale",
                    "desc": "The BCP47 tag for a locale. (e.g. \"en-US\", \"de\").",
                    "type": "string"
                },
                {
                    "name": "text",
                    "desc": "The text localized in the associated locale.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ManagedConfiguration",
            "desc": "A managed configuration resource contains the set of managed properties that have been configured for an Android app. The app's developer would have defined configurable properties in the managed configurations schema.",
            "type": "object",
            "fields": [
                {
                    "name": "productId",
                    "desc": "The ID of the product that the managed configuration is for, e.g. \"app:com.google.android.gm\".",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfiguration\".",
                    "type": "string",
                    "default": "androidenterprise#managedConfiguration"
                },
                {
                    "name": "managedProperty",
                    "desc": "The set of managed properties for this configuration.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ManagedProperty"
                }
            ]
        },
        {
            "name": "ServiceAccountKey",
            "desc": "Credentials that can be used to authenticate as a service account.",
            "type": "object",
            "fields": [
                {
                    "name": "publicData",
                    "desc": "Public key data for the credentials file. This is an X.509 cert. If you are using the googleCredentials key type, this is identical to the cert that can be retrieved by using the X.509 cert url inside of the credentials file.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The file format of the generated key data.",
                    "type": "string"
                },
                {
                    "name": "data",
                    "desc": "The body of the private key credentials file, in string format. This is only populated when the ServiceAccountKey is created, and is not stored by Google.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "An opaque, unique identifier for this ServiceAccountKey. Assigned by the server.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#serviceAccountKey\".",
                    "type": "string",
                    "default": "androidenterprise#serviceAccountKey"
                }
            ]
        },
        {
            "name": "UsersListResponse",
            "desc": "The matching user resources.",
            "type": "object",
            "fields": [
                {
                    "name": "user",
                    "desc": "A user of an enterprise.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#usersListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#usersListResponse"
                }
            ]
        },
        {
            "name": "GroupLicense",
            "desc": "A group license object indicates a product that an enterprise admin has approved for use in the enterprise. The product may be free or paid. For free products, a group license object is created in these cases: if the enterprise admin approves a product in Google Play, if the product is added to a collection, or if an entitlement for the product is created for a user via the API. For paid products, a group license object is only created as part of the first bulk purchase of that product in Google Play by the enterprise admin.\n\nThe API can be used to query group licenses; the available information includes the total number of licenses purchased (for paid products) and the total number of licenses that have been provisioned, that is, the total number of user entitlements in existence for the product.\n\nGroup license objects are never deleted. If, for example, a free app is added to a collection and then removed, the group license will remain, allowing the enterprise admin to keep track of any remaining entitlements. An enterprise admin may indicate they are no longer interested in the group license by marking it as unapproved in Google Play.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#groupLicense\".",
                    "type": "string",
                    "default": "androidenterprise#groupLicense"
                },
                {
                    "name": "numProvisioned",
                    "desc": "The total number of provisioned licenses for this product. Returned by read operations, but ignored in write operations.",
                    "type": "int32"
                },
                {
                    "name": "numPurchased",
                    "desc": "The number of purchased licenses (possibly in multiple purchases). If this field is omitted, then there is no limit on the number of licenses that can be provisioned (for example, if the acquisition kind is \"free\").",
                    "type": "int32"
                },
                {
                    "name": "productId",
                    "desc": "The ID of the product that the license is for. For example, \"app:com.google.android.gm\".",
                    "type": "string"
                },
                {
                    "name": "acquisitionKind",
                    "desc": "How this group license was acquired. \"bulkPurchase\" means that this Grouplicenses resource was created because the enterprise purchased licenses for this product; otherwise, the value is \"free\" (for free products).",
                    "type": "string"
                },
                {
                    "name": "approval",
                    "desc": "Whether the product to which this group license relates is currently approved by the enterprise. Products are approved when a group license is first created, but this approval may be revoked by an enterprise admin via Google Play. Unapproved products will not be visible to end users in collections, and new entitlements to them should not normally be created.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GroupLicenseUsersListResponse",
            "desc": "The user resources for the group license.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#groupLicenseUsersListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#groupLicenseUsersListResponse"
                },
                {
                    "name": "user",
                    "desc": "A user of an enterprise.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "User"
                }
            ]
        },
        {
            "name": "Notification",
            "desc": "A notification of one event relating to an enterprise.",
            "type": "object",
            "fields": [
                {
                    "name": "appRestrictionsSchemaChangeEvent",
                    "desc": "Notifications about new app restrictions schema changes.",
                    "type": "ref",
                    "refType": "AppRestrictionsSchemaChangeEvent"
                },
                {
                    "name": "enterpriseId",
                    "desc": "The ID of the enterprise for which the notification is sent. This will always be present.",
                    "type": "string"
                },
                {
                    "name": "installFailureEvent",
                    "desc": "Notifications about an app installation failure.",
                    "type": "ref",
                    "refType": "InstallFailureEvent"
                },
                {
                    "name": "newPermissionsEvent",
                    "desc": "Notifications about new app permissions.",
                    "type": "ref",
                    "refType": "NewPermissionsEvent"
                },
                {
                    "name": "timestampMillis",
                    "desc": "The time when the notification was published in milliseconds since 1970-01-01T00:00:00Z. This will always be present.",
                    "type": "int64"
                },
                {
                    "name": "appUpdateEvent",
                    "desc": "Notifications about app updates.",
                    "type": "ref",
                    "refType": "AppUpdateEvent"
                },
                {
                    "name": "newDeviceEvent",
                    "desc": "Notifications about new devices.",
                    "type": "ref",
                    "refType": "NewDeviceEvent"
                },
                {
                    "name": "productApprovalEvent",
                    "desc": "Notifications about changes to a product's approval status.",
                    "type": "ref",
                    "refType": "ProductApprovalEvent"
                },
                {
                    "name": "productAvailabilityChangeEvent",
                    "desc": "Notifications about product availability changes.",
                    "type": "ref",
                    "refType": "ProductAvailabilityChangeEvent"
                }
            ]
        },
        {
            "name": "StoreLayoutClustersListResponse",
            "desc": "The store page resources for the enterprise.",
            "type": "object",
            "fields": [
                {
                    "name": "cluster",
                    "desc": "A store cluster of an enterprise.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "StoreCluster"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#storeLayoutClustersListResponse\".",
                    "type": "string",
                    "default": "androidenterprise#storeLayoutClustersListResponse"
                }
            ]
        },
        {
            "name": "AppRestrictionsSchemaRestriction",
            "desc": "A restriction in the App Restriction Schema represents a piece of configuration that may be pre-applied.",
            "type": "object",
            "fields": [
                {
                    "name": "restrictionType",
                    "desc": "The type of the restriction.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "The name of the restriction.",
                    "type": "string"
                },
                {
                    "name": "defaultValue",
                    "desc": "The default value of the restriction. bundle and bundleArray restrictions never have a default value.",
                    "type": "ref",
                    "refType": "AppRestrictionsSchemaRestrictionRestrictionValue"
                },
                {
                    "name": "description",
                    "desc": "A longer description of the restriction, giving more detail of what it affects.",
                    "type": "string"
                },
                {
                    "name": "entry",
                    "desc": "For choice or multiselect restrictions, the list of possible entries' human-readable names.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "entryValue",
                    "desc": "For choice or multiselect restrictions, the list of possible entries' machine-readable values. These values should be used in the configuration, either as a single string value for a choice restriction or in a stringArray for a multiselect restriction.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "key",
                    "desc": "The unique key that the product uses to identify the restriction, e.g. \"com.google.android.gm.fieldname\".",
                    "type": "string"
                },
                {
                    "name": "nestedRestriction",
                    "desc": "For bundle or bundleArray restrictions, the list of nested restrictions. A bundle restriction is always nested within a bundleArray restriction, and a bundleArray restriction is at most two levels deep.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AppRestrictionsSchemaRestriction"
                }
            ]
        },
        {
            "name": "Enterprise",
            "desc": "An Enterprises resource represents the binding between an EMM and a specific organization. That binding can be instantiated in one of two different ways using this API as follows: \n- For Google managed domain customers, the process involves using Enterprises.enroll and Enterprises.setAccount (in conjunction with artifacts obtained from the Admin console and the Google API Console) and submitted to the EMM through a more-or-less manual process. \n- For managed Google Play Accounts customers, the process involves using Enterprises.generateSignupUrl and Enterprises.completeSignup in conjunction with the managed Google Play sign-up UI (Google-provided mechanism) to create the binding without manual steps. As an EMM, you can support either or both approaches in your EMM console. See Create an Enterprise for details.",
            "type": "object",
            "fields": [
                {
                    "name": "primaryDomain",
                    "desc": "The enterprise's primary domain, such as \"example.com\".",
                    "type": "string"
                },
                {
                    "name": "administrator",
                    "desc": "Admins of the enterprise. This is only supported for enterprises created via the EMM-initiated flow.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Administrator"
                },
                {
                    "name": "id",
                    "desc": "The unique ID for the enterprise.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#enterprise\".",
                    "type": "string",
                    "default": "androidenterprise#enterprise"
                },
                {
                    "name": "name",
                    "desc": "The name of the enterprise, for example, \"Example, Inc\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Entitlement",
            "desc": "The presence of an Entitlements resource indicates that a user has the right to use a particular app. Entitlements are user specific, not device specific. This allows a user with an entitlement to an app to install the app on all their devices. It's also possible for a user to hold an entitlement to an app without installing the app on any device.\n\nThe API can be used to create an entitlement. As an option, you can also use the API to trigger the installation of an app on all a user's managed devices at the same time the entitlement is created.\n\nIf the app is free, creating the entitlement also creates a group license for that app. For paid apps, creating the entitlement consumes one license, and that license remains consumed until the entitlement is removed. If the enterprise hasn't purchased enough licenses, then no entitlement is created and the installation fails. An entitlement is also not created for an app if the app requires permissions that the enterprise hasn't accepted.\n\nIf an entitlement is deleted, the app may be uninstalled from a user's device. As a best practice, uninstall the app by calling  Installs.delete() before deleting the entitlement.\n\nEntitlements for apps that a user pays for on an unmanaged profile have \"userPurchase\" as the entitlement reason. These entitlements cannot be removed via the API.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#entitlement\".",
                    "type": "string",
                    "default": "androidenterprise#entitlement"
                },
                {
                    "name": "productId",
                    "desc": "The ID of the product that the entitlement is for. For example, \"app:com.google.android.gm\".",
                    "type": "string"
                },
                {
                    "name": "reason",
                    "desc": "The reason for the entitlement. For example, \"free\" for free apps. This property is temporary: it will be replaced by the acquisition kind field of group licenses.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductsApproveRequest",
            "type": "object",
            "fields": [
                {
                    "name": "approvalUrlInfo",
                    "desc": "The approval URL that was shown to the user. Only the permissions shown to the user with that URL will be accepted, which may not be the product's entire set of permissions. For example, the URL may only display new permissions from an update after the product was approved, or not include new permissions if the product was updated since the URL was generated.",
                    "type": "ref",
                    "refType": "ApprovalUrlInfo"
                }
            ]
        },
        {
            "name": "AppVersion",
            "desc": "This represents a single version of the app.",
            "type": "object",
            "fields": [
                {
                    "name": "versionCode",
                    "desc": "Unique increasing identifier for the app version.",
                    "type": "int32"
                },
                {
                    "name": "versionString",
                    "desc": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\").",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ApprovalUrlInfo",
            "desc": "Information on an approval URL.",
            "type": "object",
            "fields": [
                {
                    "name": "approvalUrl",
                    "desc": "A URL that displays a product's permissions and that can also be used to approve the product with the Products.approve call.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#approvalUrlInfo\".",
                    "type": "string",
                    "default": "androidenterprise#approvalUrlInfo"
                }
            ]
        },
        {
            "name": "NewDeviceEvent",
            "desc": "An event generated when a new device is ready to be managed.",
            "type": "object",
            "fields": [
                {
                    "name": "deviceId",
                    "desc": "The Android ID of the device. This field will always be present.",
                    "type": "string"
                },
                {
                    "name": "managementType",
                    "desc": "Identifies the extent to which the device is controlled by an Android EMM in various deployment configurations.\n\nPossible values include: \n- \"managedDevice\", a device where the DPC is set as device owner, \n- \"managedProfile\", a device where the DPC is set as profile owner.",
                    "type": "string"
                },
                {
                    "name": "userId",
                    "desc": "The ID of the user. This field will always be present.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PageInfo",
            "type": "object",
            "fields": [
                {
                    "name": "resultPerPage",
                    "type": "int32"
                },
                {
                    "name": "startIndex",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "AdministratorWebToken",
            "desc": "A token authorizing an admin to access an iframe.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#administratorWebToken\".",
                    "type": "string",
                    "default": "androidenterprise#administratorWebToken"
                },
                {
                    "name": "token",
                    "desc": "An opaque token to be passed to the Play front-end to generate an iframe.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ManagedProperty",
            "desc": "A managed property of a managed configuration. The property must match one of the properties in the app restrictions schema of the product. Exactly one of the value fields must be populated, and it must match the property's type in the app restrictions schema.",
            "type": "object",
            "fields": [
                {
                    "name": "valueStringArray",
                    "desc": "The list of string values - this will only be present if type of the property is multiselect.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "key",
                    "desc": "The unique key that identifies the property.",
                    "type": "string"
                },
                {
                    "name": "valueBool",
                    "desc": "The boolean value - this will only be present if type of the property is bool.",
                    "type": "bool"
                },
                {
                    "name": "valueBundle",
                    "desc": "The bundle of managed properties - this will only be present if type of the property is bundle.",
                    "type": "ref",
                    "refType": "ManagedPropertyBundle"
                },
                {
                    "name": "valueBundleArray",
                    "desc": "The list of bundles of properties - this will only be present if type of the property is bundle_array.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ManagedPropertyBundle"
                },
                {
                    "name": "valueInteger",
                    "desc": "The integer value - this will only be present if type of the property is integer.",
                    "type": "int32"
                },
                {
                    "name": "valueString",
                    "desc": "The string value - this will only be present if type of the property is string, choice or hidden.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Permission",
            "desc": "A Permissions resource represents some extra capability, to be granted to an Android app, which requires explicit consent. An enterprise admin must consent to these permissions on behalf of their users before an entitlement for the app can be created.\n\nThe permissions collection is read-only. The information provided for each permission (localized name and description) is intended to be used in the MDM user interface when obtaining consent from the enterprise.",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "A longer description of the Permissions resource, giving more details of what it affects.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#permission\".",
                    "type": "string",
                    "default": "androidenterprise#permission"
                },
                {
                    "name": "name",
                    "desc": "The name of the permission.",
                    "type": "string"
                },
                {
                    "name": "permissionId",
                    "desc": "An opaque string uniquely identifying the permission.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstallFailureEvent",
            "desc": "An event generated when an app installation failed on a device",
            "type": "object",
            "fields": [
                {
                    "name": "deviceId",
                    "desc": "The Android ID of the device. This field will always be present.",
                    "type": "string"
                },
                {
                    "name": "failureDetails",
                    "desc": "Additional details on the failure if applicable.",
                    "type": "string"
                },
                {
                    "name": "failureReason",
                    "desc": "The reason for the installation failure. This field will always be present.",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "The id of the product (e.g. \"app:com.google.android.gm\") for which the install failure event occured. This field will always be present.",
                    "type": "string"
                },
                {
                    "name": "userId",
                    "desc": "The ID of the user. This field will always be present.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "managedconfigurationsfordevice",
            "methods": [
                {
                    "name": "delete",
                    "desc": "Removes a per-device managed configuration for an app for the specified device.",
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "The ID of the user.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "deviceId",
                            "desc": "The Android ID of the device.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "managedConfigurationForDeviceId",
                            "desc": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Retrieves details of a per-device managed configuration.",
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "The ID of the user.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "deviceId",
                            "desc": "The Android ID of the device.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "managedConfigurationForDeviceId",
                            "desc": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "ManagedConfiguration"
                },
                {
                    "name": "list",
                    "desc": "Lists all the per-device managed configurations for the specified device. Only the ID is set.",
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "The ID of the user.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "deviceId",
                            "desc": "The Android ID of the device.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "ManagedConfigurationsForDeviceListResponse"
                },
                {
                    "name": "patch",
                    "desc": "Adds or updates a per-device managed configuration for an app for the specified device. This method supports patch semantics.",
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "The ID of the user.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "deviceId",
                            "desc": "The Android ID of the device.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "managedConfigurationForDeviceId",
                            "desc": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ManagedConfiguration",
                    "response": "ManagedConfiguration"
                },
                {
                    "name": "update",
                    "desc": "Adds or updates a per-device managed configuration for an app for the specified device.",
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "The ID of the user.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "deviceId",
                            "desc": "The Android ID of the device.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "managedConfigurationForDeviceId",
                            "desc": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ManagedConfiguration",
                    "response": "ManagedConfiguration"
                }
            ]
        },
        {
            "name": "storelayoutclusters",
            "methods": [
                {
                    "name": "delete",
                    "desc": "Deletes a cluster.",
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "clusterId",
                            "desc": "The ID of the cluster.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Retrieves details of a cluster.",
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "clusterId",
                            "desc": "The ID of the cluster.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "StoreCluster"
                },
                {
                    "name": "insert",
                    "desc": "Inserts a new cluster in a page.",
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "StoreCluster",
                    "response": "StoreCluster"
                },
                {
                    "name": "list",
                    "desc": "Retrieves the details of all clusters on the specified page.",
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "StoreLayoutClustersListResponse"
                },
                {
                    "name": "patch",
                    "desc": "Updates a cluster. This method supports patch semantics.",
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "clusterId",
                            "desc": "The ID of the cluster.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "StoreCluster",
                    "response": "StoreCluster"
                },
                {
                    "name": "update",
                    "desc": "Updates a cluster.",
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "clusterId",
                            "desc": "The ID of the cluster.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "StoreCluster",
                    "response": "StoreCluster"
                }
            ]
        },
        {
            "name": "devices",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves the details of a device.",
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "The ID of the user.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "deviceId",
                            "desc": "The ID of the device.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Device"
                },
                {
                    "name": "getState",
                    "desc": "Retrieves whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.",
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "The ID of the user.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "deviceId",
                            "desc": "The ID of the device.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "DeviceState"
                },
                {
                    "name": "list",
                    "desc": "Retrieves the IDs of all of a user's devices.",
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "The ID of the user.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "DevicesListResponse"
                },
                {
                    "name": "setState",
                    "desc": "Sets whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.",
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "enterpriseId",
                            "desc": "The ID of the enterprise.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "userId",
                            "desc": "The ID of the user.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "deviceId",
                            "desc": "The ID of the device.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "DeviceState",
                    "response": "DeviceState"
                }
            ]
        },
        {
            "name": "permissions",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves details of an Android app permission for display to an enterprise admin.",
                    "path": "permissions/{permissionId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ],
                    "pathParams": [
                        {
                            "name": "permissionId",
                            "desc": "The ID of the permission.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "language",
                            "desc": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")",
                            "type": "string"
[...]
