{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "cloudbilling:v1",
    "name": "cloudbilling",
    "version": "v1",
    "title": "Google Cloud Billing API",
    "description": "Allows developers to manage billing for their Google Cloud Platform projects\n    programmatically.",
    "documentationLink": "https://cloud.google.com/billing/",
    "protocol": "rest",
    "rootUrl": "https://cloudbilling.googleapis.com/",
    "servicePath": "",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "ProjectBillingInfo",
            "desc": "Encapsulation of billing information for a Cloud Console project. A project\nhas at most one associated billing account at a time (but a billing account\ncan be assigned to multiple projects).",
            "type": "object",
            "fields": [
                {
                    "name": "billingEnabled",
                    "desc": "True if the project is associated with an open billing account, to which\nusage on the project is charged. False if the project is associated with a\nclosed billing account, or no billing account at all, and therefore cannot\nuse paid services. This field is read-only.",
                    "type": "bool"
                },
                {
                    "name": "name",
                    "desc": "The resource name for the `ProjectBillingInfo`; has the form\n`projects/{project_id}/billingInfo`. For example, the resource name for the\nbilling information for project `tokyo-rain-123` would be\n`projects/tokyo-rain-123/billingInfo`. This field is read-only.",
                    "type": "string"
                },
                {
                    "name": "projectId",
                    "desc": "The ID of the project that this `ProjectBillingInfo` represents, such as\n`tokyo-rain-123`. This is a convenience field so that you don't need to\nparse the `name` field to obtain a project ID. This field is read-only.",
                    "type": "string"
                },
                {
                    "name": "billingAccountName",
                    "desc": "The resource name of the billing account associated with the project, if\nany. For example, `billingAccounts/012345-567890-ABCDEF`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListProjectBillingInfoResponse",
            "desc": "Request message for `ListProjectBillingInfoResponse`.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token to retrieve the next page of results. To retrieve the next page,\ncall `ListProjectBillingInfo` again with the `page_token` field set to this\nvalue. This field is empty if there are no more results to retrieve.",
                    "type": "string"
                },
                {
                    "name": "projectBillingInfo",
                    "desc": "A list of `ProjectBillingInfo` resources representing the projects\nassociated with the billing account.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ProjectBillingInfo"
                }
            ]
        },
        {
            "name": "ListBillingAccountsResponse",
            "desc": "Response message for `ListBillingAccounts`.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token to retrieve the next page of results. To retrieve the next page,\ncall `ListBillingAccounts` again with the `page_token` field set to this\nvalue. This field is empty if there are no more results to retrieve.",
                    "type": "string"
                },
                {
                    "name": "billingAccounts",
                    "desc": "A list of billing accounts.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BillingAccount"
                }
            ]
        },
        {
            "name": "BillingAccount",
            "desc": "A billing account in [Google Cloud\nConsole](https://console.cloud.google.com/). You can assign a billing account\nto one or more projects.",
            "type": "object",
            "fields": [
                {
                    "name": "open",
                    "desc": "True if the billing account is open, and will therefore be charged for any\nusage on associated projects. False if the billing account is closed, and\ntherefore projects associated with it will be unable to use paid services.",
                    "type": "bool"
                },
                {
                    "name": "name",
                    "desc": "The resource name of the billing account. The resource name has the form\n`billingAccounts/{billing_account_id}`. For example,\n`billingAccounts/012345-567890-ABCDEF` would be the resource name for\nbilling account `012345-567890-ABCDEF`.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The display name given to the billing account, such as `My Billing\nAccount`. This name is displayed in the Google Cloud Console.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "projects",
            "methods": [
                {
                    "path": "v1/{+name}/billingInfo",
                    "httpMethod": "PUT",
                    "name": "updateBillingInfo",
                    "desc": "Sets or updates the billing account associated with a project. You specify\nthe new billing account by setting the `billing_account_name` in the\n`ProjectBillingInfo` resource to the resource name of a billing account.\nAssociating a project with an open billing account enables billing on the\nproject and allows charges for resource usage. If the project already had a\nbilling account, this method changes the billing account used for resource\nusage charges.\n\n*Note:* Incurred charges that have not yet been reported in the transaction\nhistory of the Google Cloud Console may be billed to the new billing\naccount, even if the charge occurred before the new billing account was\nassigned to the project.\n\nThe current authenticated user must have ownership privileges for both the\n[project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo\n) and the [billing\naccount](https://support.google.com/cloud/answer/4430947).\n\nYou can disable billing on the project by setting the\n`billing_account_name` field to empty. This action disassociates the\ncurrent billing account from the project. Any billable activity of your\nin-use services will stop, and your application could stop functioning as\nexpected. Any unbilled charges to date will be billed to the previously\nassociated account. The current authenticated user must be either an owner\nof the project or an owner of the billing account for the project.\n\nNote that associating a project with a *closed* billing account will have\nmuch the same effect as disabling billing on the project: any paid\nresources used by the project will be shut down. Thus, unless you wish to\ndisable billing, you should always call this method with the name of an\n*open* billing account.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The resource name of the project associated with the billing information\nthat you want to update. For example, `projects/tokyo-rain-123`.",
                            "required": true,
                            "type": "string",
                            "pattern": "^projects/[^/]+$"
                        }
                    ],
                    "request": "ProjectBillingInfo",
                    "response": "ProjectBillingInfo"
                },
                {
                    "path": "v1/{+name}/billingInfo",
                    "httpMethod": "GET",
                    "name": "getBillingInfo",
                    "desc": "Gets the billing information for a project. The current authenticated user\nmust have [permission to view the\nproject](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo\n).",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The resource name of the project for which billing information is\nretrieved. For example, `projects/tokyo-rain-123`.",
                            "required": true,
                            "type": "string",
                            "pattern": "^projects/[^/]+$"
                        }
                    ],
                    "response": "ProjectBillingInfo"
                }
            ]
        },
        {
            "name": "billingAccounts",
            "methods": [
                {
                    "path": "v1/billingAccounts",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Lists the billing accounts that the current authenticated user\n[owns](https://support.google.com/cloud/answer/4430947).",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "pageSize",
                            "desc": "Requested page size. The maximum page size is 100; this is also the\ndefault.",
                            "type": "int32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A token identifying a page of results to return. This should be a\n`next_page_token` value returned from a previous `ListBillingAccounts`\ncall. If unspecified, the first page of results is returned.",
                            "type": "string"
                        }
                    ],
                    "response": "ListBillingAccountsResponse"
                },
                {
                    "path": "v1/{+name}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets information about a billing account. The current authenticated user\nmust be an [owner of the billing\naccount](https://support.google.com/cloud/answer/4430947).",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The resource name of the billing account to retrieve. For example,\n`billingAccounts/012345-567890-ABCDEF`.",
                            "required": true,
                            "type": "string",
                            "pattern": "^billingAccounts/[^/]+$"
                        }
                    ],
                    "response": "BillingAccount"
                }
            ],
            "resources": [
                {
                    "name": "projects",
                    "methods": [
                        {
                            "path": "v1/{+name}/projects",
                            "httpMethod": "GET",
                            "name": "list",
                            "desc": "Lists the projects associated with a billing account. The current\nauthenticated user must be an [owner of the billing\naccount](https://support.google.com/cloud/answer/4430947).",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The resource name of the billing account associated with the projects that\nyou want to list. For example, `billingAccounts/012345-567890-ABCDEF`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^billingAccounts/[^/]+$"
                                }
                            ],
                            "optionalQueryParams": [
                                {
                                    "name": "pageSize",
                                    "desc": "Requested page size. The maximum page size is 100; this is also the\ndefault.",
                                    "type": "int32"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous `ListProjectBillingInfo`\ncall. If unspecified, the first page of results is returned.",
                                    "type": "string"
                                }
                            ],
                            "response": "ListProjectBillingInfoResponse"
                        }
                    ]
                }
            ]
        }
    ]
}