{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "servicemanagement:v1",
    "name": "servicemanagement",
    "version": "v1",
    "title": "Google Service Management API",
    "description": "Google Service Management allows service producers to publish their services on Google Cloud Platform so that they can be discovered and used by service consumers.",
    "documentationLink": "https://cloud.google.com/service-management/",
    "protocol": "rest",
    "rootUrl": "https://servicemanagement.googleapis.com/",
    "servicePath": "",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/service.management",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/service.management.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "Step",
            "desc": "Represents the status of one operation step.",
            "type": "object",
            "fields": [
                {
                    "name": "status",
                    "desc": "The status code.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STATUS_UNSPECIFIED",
                            "desc": "Unspecifed code."
                        },
                        {
                            "name": "DONE",
                            "desc": "The operation or step has completed without errors."
                        },
                        {
                            "name": "NOT_STARTED",
                            "desc": "The operation or step has not started yet."
                        },
                        {
                            "name": "IN_PROGRESS",
                            "desc": "The operation or step is in progress."
                        },
                        {
                            "name": "FAILED",
                            "desc": "The operation or step has completed with errors."
                        },
                        {
                            "name": "CANCELLED",
                            "desc": "The operation or step has completed with cancellation."
                        }
                    ]
                },
                {
                    "name": "description",
                    "desc": "The short description of the step.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LoggingDestination",
            "desc": "Configuration of a specific logging destination (the producer project\nor the consumer project).",
            "type": "object",
            "fields": [
                {
                    "name": "logs",
                    "desc": "Names of the logs to be sent to this destination. Each name must\nbe defined in the Service.logs section. If the log name is\nnot a domain scoped name, it will be automatically prefixed with\nthe service name followed by \"/\".",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "monitoredResource",
                    "desc": "The monitored resource type. The type must be defined in the\nService.monitored_resources section.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SourceInfo",
            "desc": "Source information used to create a Service Config",
            "type": "object",
            "fields": [
                {
                    "name": "sourceFiles",
                    "desc": "All files used during config generation.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                }
            ]
        },
        {
            "name": "Control",
            "desc": "Selects and configures the service controller used by the service.  The\nservice controller handles features like abuse, quota, billing, logging,\nmonitoring, etc.",
            "type": "object",
            "fields": [
                {
                    "name": "environment",
                    "desc": "The service control environment to use. If empty, no control plane\nfeature (like quota and billing) will be enabled.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TestIamPermissionsRequest",
            "desc": "Request message for `TestIamPermissions` method.",
            "type": "object",
            "fields": [
                {
                    "name": "permissions",
                    "desc": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LabelDescriptor",
            "desc": "A description of a label.",
            "type": "object",
            "fields": [
                {
                    "name": "valueType",
                    "desc": "The type of data that can be assigned to the label.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STRING",
                            "desc": "A variable-length string. This is the default."
                        },
                        {
                            "name": "BOOL",
                            "desc": "Boolean; true or false."
                        },
                        {
                            "name": "INT64",
                            "desc": "A 64-bit signed integer."
                        }
                    ]
                },
                {
                    "name": "key",
                    "desc": "The label key.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "A human-readable description for the label.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListServiceConfigsResponse",
            "desc": "Response message for ListServiceConfigs method.",
            "type": "object",
            "fields": [
                {
                    "name": "serviceConfigs",
                    "desc": "The list of service configuration resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Service"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token of the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SystemParameters",
            "desc": "### System parameter configuration\n\nA system parameter is a special kind of parameter defined by the API\nsystem, not by an individual API. It is typically mapped to an HTTP header\nand/or a URL query parameter. This configuration specifies which methods\nchange the names of the system parameters.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "Define system parameters.\n\nThe parameters defined here will override the default parameters\nimplemented by the system. If this field is missing from the service\nconfig, default system parameters will be used. Default system parameters\nand names is implementation-dependent.\n\nExample: define api key for all methods\n\n    system_parameters\n      rules:\n        - selector: \"*\"\n          parameters:\n            - name: api_key\n              url_query_parameter: api_key\n\n\nExample: define 2 api key names for a specific method.\n\n    system_parameters\n      rules:\n        - selector: \"/ListShelves\"\n          parameters:\n            - name: api_key\n              http_header: Api-Key1\n            - name: api_key\n              http_header: Api-Key2\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SystemParameterRule"
                }
            ]
        },
        {
            "name": "ContextRule",
            "desc": "A context rule provides information about the context for an individual API\nelement.",
            "type": "object",
            "fields": [
                {
                    "name": "requested",
                    "desc": "A list of full type names of requested contexts.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "selector",
                    "desc": "Selects the methods to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                },
                {
                    "name": "provided",
                    "desc": "A list of full type names of provided contexts.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ChangeReport",
            "desc": "Change report associated with a particular service configuration.\n\nIt contains a list of ConfigChanges based on the comparison between\ntwo service configurations.",
            "type": "object",
            "fields": [
                {
                    "name": "configChanges",
                    "desc": "List of changes between two service configurations.\nThe changes will be alphabetically sorted based on the identifier\nof each change.\nA ConfigChange identifier is a dot separated path to the configuration.\nExample: visibility.rules[selector='LibraryService.CreateBook'].restriction",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ConfigChange"
                }
            ]
        },
        {
            "name": "DeleteServiceStrategy",
            "desc": "Strategy used to delete a service. This strategy is a placeholder only\nused by the system generated rollout to delete a service.",
            "type": "object"
        },
        {
            "name": "SystemParameter",
            "desc": "Define a parameter's name and location. The parameter may be passed as either\nan HTTP header or a URL query parameter, and if both are passed the behavior\nis implementation-dependent.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Define the name of the parameter, such as \"api_key\" . It is case sensitive.",
                    "type": "string"
                },
                {
                    "name": "urlQueryParameter",
                    "desc": "Define the URL query parameter name to use for the parameter. It is case\nsensitive.",
                    "type": "string"
                },
                {
                    "name": "httpHeader",
                    "desc": "Define the HTTP header name to use for the parameter. It is case\ninsensitive.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Diagnostic",
            "desc": "Represents a diagnostic message (error or warning)",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of diagnostic information provided.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "WARNING",
                            "desc": "Warnings and errors"
                        },
                        {
                            "name": "ERROR",
                            "desc": "Only errors"
                        }
                    ]
                },
                {
                    "name": "message",
                    "desc": "Message describing the error or warning.",
                    "type": "string"
                },
                {
                    "name": "location",
                    "desc": "File name and line number of the error or warning.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Backend",
            "desc": "`Backend` defines the backend configuration for a service.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "A list of API backend rules that apply to individual API methods.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BackendRule"
                }
            ]
        },
        {
            "name": "CustomErrorRule",
            "desc": "A custom error rule.",
            "type": "object",
            "fields": [
                {
                    "name": "isErrorType",
                    "desc": "Mark this message as possible payload in error response.  Otherwise,\nobjects of this type will be filtered when they appear in error payload.",
                    "type": "bool"
                },
                {
                    "name": "selector",
                    "desc": "Selects messages to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LogDescriptor",
            "desc": "A description of a log type. Example in YAML format:\n\n    - name: library.googleapis.com/activity_history\n      description: The history of borrowing and returning library items.\n      display_name: Activity\n      labels:\n      - key: /customer_id\n        description: Identifier of a library customer",
            "type": "object",
            "fields": [
                {
                    "name": "labels",
                    "desc": "The set of labels that are available to describe a specific log entry.\nRuntime requests that contain labels not specified here are\nconsidered invalid.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LabelDescriptor"
                },
                {
                    "name": "name",
                    "desc": "The name of the log. It must be less than 512 characters long and can\ninclude the following characters: upper- and lower-case alphanumeric\ncharacters [A-Za-z0-9], and punctuation characters including\nslash, underscore, hyphen, period [/_-.].",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "A human-readable description of this log. This information appears in\nthe documentation and can contain details.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The human-readable name for this log. This information appears on\nthe user interface and should be concise.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ManagedService",
            "desc": "The full representation of a Service that is managed by\nGoogle Service Management.",
            "type": "object",
            "fields": [
                {
                    "name": "producerProjectId",
                    "desc": "ID of the project that produces and owns this service.",
                    "type": "string"
                },
                {
                    "name": "serviceName",
                    "desc": "The name of the service. See the [overview](/service-management/overview)\nfor naming requirements.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VisibilityRule",
            "desc": "A visibility rule provides visibility configuration for an individual API\nelement.",
            "type": "object",
            "fields": [
                {
                    "name": "restriction",
                    "desc": "A comma-separated list of visibility labels that apply to the `selector`.\nAny of the listed labels can be used to grant the visibility.\n\nIf a rule has multiple labels, removing one of the labels but not all of\nthem can break clients.\n\nExample:\n\n    visibility:\n      rules:\n      - selector: google.calendar.Calendar.EnhancedSearch\n        restriction: GOOGLE_INTERNAL, TRUSTED_TESTER\n\nRemoving GOOGLE_INTERNAL from this restriction will break clients that\nrely on this method and only had access to it through GOOGLE_INTERNAL.",
                    "type": "string"
                },
                {
                    "name": "selector",
                    "desc": "Selects methods, messages, fields, enums, etc. to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Visibility",
            "desc": "`Visibility` defines restrictions for the visibility of service\nelements.  Restrictions are specified using visibility labels\n(e.g., TRUSTED_TESTER) that are elsewhere linked to users and projects.\n\nUsers and projects can have access to more than one visibility label. The\neffective visibility for multiple labels is the union of each label's\nelements, plus any unrestricted elements.\n\nIf an element and its parents have no restrictions, visibility is\nunconditionally granted.\n\nExample:\n\n    visibility:\n      rules:\n      - selector: google.calendar.Calendar.EnhancedSearch\n        restriction: TRUSTED_TESTER\n      - selector: google.calendar.Calendar.Delegate\n        restriction: GOOGLE_INTERNAL\n\nHere, all methods are publicly visible except for the restricted methods\nEnhancedSearch and Delegate.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "A list of visibility rules that apply to individual API elements.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "VisibilityRule"
                }
            ]
        },
        {
            "name": "Mixin",
            "desc": "Declares an API to be included in this API. The including API must\nredeclare all the methods from the included API, but documentation\nand options are inherited as follows:\n\n- If after comment and whitespace stripping, the documentation\n  string of the redeclared method is empty, it will be inherited\n  from the original method.\n\n- Each annotation belonging to the service config (http,\n  visibility) which is not set in the redeclared method will be\n  inherited.\n\n- If an http annotation is inherited, the path pattern will be\n  modified as follows. Any version prefix will be replaced by the\n  version of the including API plus the root path if specified.\n\nExample of a simple mixin:\n\n    package google.acl.v1;\n    service AccessControl {\n      // Get the underlying ACL object.\n      rpc GetAcl(GetAclRequest) returns (Acl) {\n        option (google.api.http).get = \"/v1/{resource=**}:getAcl\";\n      }\n    }\n\n    package google.storage.v2;\n    service Storage {\n      //       rpc GetAcl(GetAclRequest) returns (Acl);\n\n      // Get a data record.\n      rpc GetData(GetDataRequest) returns (Data) {\n        option (google.api.http).get = \"/v2/{resource=**}\";\n      }\n    }\n\nExample of a mixin configuration:\n\n    apis:\n    - name: google.storage.v2.Storage\n      mixins:\n      - name: google.acl.v1.AccessControl\n\nThe mixin construct implies that all methods in `AccessControl` are\nalso declared with same name and request/response types in\n`Storage`. A documentation generator or annotation processor will\nsee the effective `Storage.GetAcl` method after inherting\ndocumentation and annotations as follows:\n\n    service Storage {\n      // Get the underlying ACL object.\n      rpc GetAcl(GetAclRequest) returns (Acl) {\n        option (google.api.http).get = \"/v2/{resource=**}:getAcl\";\n      }\n      ...\n    }\n\nNote how the version in the path pattern changed from `v1` to `v2`.\n\nIf the `root` field in the mixin is specified, it should be a\nrelative path under which inherited HTTP paths are placed. Example:\n\n    apis:\n    - name: google.storage.v2.Storage\n      mixins:\n      - name: google.acl.v1.AccessControl\n        root: acls\n\nThis implies the following inherited HTTP annotation:\n\n    service Storage {\n      // Get the underlying ACL object.\n      rpc GetAcl(GetAclRequest) returns (Acl) {\n        option (google.api.http).get = \"/v2/acls/{resource=**}:getAcl\";\n      }\n      ...\n    }",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The fully qualified name of the API which is included.",
                    "type": "string"
                },
                {
                    "name": "root",
                    "desc": "If non-empty specifies a path under which inherited HTTP paths\nare rooted.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CustomError",
            "desc": "Customize service error responses.  For example, list any service\nspecific protobuf types that can appear in error detail lists of\nerror responses.\n\nExample:\n\n    custom_error:\n      types:\n      - google.foo.v1.CustomError\n      - google.foo.v1.AnotherError",
            "type": "object",
            "fields": [
                {
                    "name": "types",
                    "desc": "The list of custom error detail types, e.g. 'google.foo.v1.CustomError'.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "rules",
                    "desc": "The list of custom error rules that apply to individual API messages.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CustomErrorRule"
                }
            ]
        },
        {
            "name": "OAuthRequirements",
            "desc": "OAuth scopes are a way to define data and permissions on data. For example,\nthere are scopes defined for \"Read-only access to Google Calendar\" and\n\"Access to Cloud Platform\". Users can consent to a scope for an application,\ngiving it permission to access that data on their behalf.\n\nOAuth scope specifications should be fairly coarse grained; a user will need\nto see and understand the text description of what your scope means.\n\nIn most cases: use one or at most two OAuth scopes for an entire family of\nproducts. If your product has multiple APIs, you should probably be sharing\nthe OAuth scope across all of those APIs.\n\nWhen you need finer grained OAuth consent screens: talk with your product\nmanagement about how developers will use them in practice.\n\nPlease note that even though each of the canonical scopes is enough for a\nrequest to be accepted and passed to the backend, a request can still fail\ndue to the backend requiring additional scopes or permissions.",
            "type": "object",
            "fields": [
                {
                    "name": "canonicalScopes",
                    "desc": "The list of publicly documented OAuth scopes that are allowed access. An\nOAuth token containing any of these scopes will be accepted.\n\nExample:\n\n     canonical_scopes: https://www.googleapis.com/auth/calendar,\n                       https://www.googleapis.com/auth/calendar.read",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Rule",
            "desc": "A rule to be applied in a Policy.",
            "type": "object",
            "fields": [
                {
                    "name": "logConfig",
                    "desc": "The config returned to callers of tech.iam.IAM.CheckPolicy for any entries\nthat match the LOG action.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LogConfig"
                },
                {
                    "name": "in",
                    "desc": "If one or more 'in' clauses are specified, the rule matches if\nthe PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "permissions",
                    "desc": "A permission is a string of form '\u003cservice\u003e.\u003cresource type\u003e.\u003cverb\u003e'\n(e.g., 'storage.buckets.list'). A value of '*' matches all permissions,\nand a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "action",
                    "desc": "Required",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NO_ACTION",
                            "desc": "Default no action."
                        },
                        {
                            "name": "ALLOW",
                            "desc": "Matching 'Entries' grant access."
                        },
                        {
                            "name": "ALLOW_WITH_LOG",
                            "desc": "Matching 'Entries' grant access and the caller promises to log\nthe request per the returned log_configs."
                        },
                        {
                            "name": "DENY",
                            "desc": "Matching 'Entries' deny access."
                        },
                        {
                            "name": "DENY_WITH_LOG",
                            "desc": "Matching 'Entries' deny access and the caller promises to log\nthe request per the returned log_configs."
                        },
                        {
                            "name": "LOG",
                            "desc": "Matching 'Entries' tell IAM.Check callers to generate logs."
                        }
                    ]
                },
                {
                    "name": "notIn",
                    "desc": "If one or more 'not_in' clauses are specified, the rule matches\nif the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries.\nThe format for in and not_in entries is the same as for members in a\nBinding (see google/iam/v1/policy.proto).",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "Human-readable description of the rule.",
                    "type": "string"
                },
                {
                    "name": "conditions",
                    "desc": "Additional restrictions that must be met",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Condition"
                }
            ]
        },
        {
            "name": "Context",
            "desc": "`Context` defines which contexts an API requests.\n\nExample:\n\n    context:\n      rules:\n      - selector: \"*\"\n        requested:\n        - google.rpc.context.ProjectContext\n        - google.rpc.context.OriginContext\n\nThe above specifies that all methods in the API request\n`google.rpc.context.ProjectContext` and\n`google.rpc.context.OriginContext`.\n\nAvailable context types are defined in package\n`google.rpc.context`.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "A list of RPC context rules that apply to individual API methods.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ContextRule"
                }
            ]
        },
        {
            "name": "UndeleteServiceResponse",
            "desc": "Response message for UndeleteService method.",
            "type": "object",
            "fields": [
                {
                    "name": "service",
                    "desc": "Revived service resource.",
                    "type": "ref",
                    "refType": "ManagedService"
                }
            ]
        },
        {
            "name": "Operation",
            "desc": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
            "type": "object",
            "fields": [
                {
                    "name": "error",
                    "desc": "The error result of the operation in case of failure or cancellation.",
                    "type": "ref",
                    "refType": "Status"
                },
                {
                    "name": "metadata",
                    "desc": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "done",
                    "desc": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
                    "type": "bool"
                },
                {
                    "name": "response",
                    "desc": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "name",
                    "desc": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListOperationsResponse",
            "desc": "The response message for Operations.ListOperations.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "The standard List next-page token.",
                    "type": "string"
                },
                {
                    "name": "operations",
                    "desc": "A list of operations that matches the specified filter in the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Operation"
                }
            ]
        },
        {
            "name": "ConfigChange",
            "desc": "Output generated from semantically comparing two versions of a service\nconfiguration.\n\nIncludes detailed information about a field that have changed with\napplicable advice about potential consequences for the change, such as\nbackwards-incompatibility.",
            "type": "object",
            "fields": [
                {
                    "name": "oldValue",
                    "desc": "Value of the changed object in the old Service configuration,\nin JSON format. This field will not be populated if ChangeType == ADDED.",
                    "type": "string"
                },
                {
                    "name": "advices",
                    "desc": "Collection of advice provided for this change, useful for determining the\npossible impact of this change.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Advice"
                },
                {
                    "name": "newValue",
                    "desc": "Value of the changed object in the new Service configuration,\nin JSON format. This field will not be populated if ChangeType == REMOVED.",
                    "type": "string"
                },
                {
                    "name": "changeType",
                    "desc": "The type for this change, either ADDED, REMOVED, or MODIFIED.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CHANGE_TYPE_UNSPECIFIED",
                            "desc": "No value was provided."
                        },
                        {
                            "name": "ADDED",
                            "desc": "The changed object exists in the 'new' service configuration, but not\nin the 'old' service configuration."
                        },
                        {
                            "name": "REMOVED",
                            "desc": "The changed object exists in the 'old' service configuration, but not\nin the 'new' service configuration."
                        },
                        {
                            "name": "MODIFIED",
                            "desc": "The changed object exists in both service configurations, but its value\nis different."
                        }
                    ]
                },
                {
                    "name": "element",
                    "desc": "Object hierarchy path to the change, with levels separated by a '.'\ncharacter. For repeated fields, an applicable unique identifier field is\nused for the index (usually selector, name, or id). For maps, the term\n'key' is used. If the field has no unique identifier, the numeric index\nis used.\nExamples:\n- visibility.rules[selector==\"google.LibraryService.CreateBook\"].restriction\n- quota.metric_rules[selector==\"google\"].metric_costs[key==\"reads\"].value\n- logging.producer_destinations[0]",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AuthorizationConfig",
            "desc": "Configuration of authorization.\n\nThis section determines the authorization provider, if unspecified, then no\nauthorization check will be done.\n\nExample:\n\n    experimental:\n      authorization:\n        provider: firebaserules.googleapis.com",
            "type": "object",
            "fields": [
                {
                    "name": "provider",
                    "desc": "The name of the authorization provider, such as\nfirebaserules.googleapis.com.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListServicesResponse",
            "desc": "Response message for `ListServices` method.",
            "type": "object",
            "fields": [
                {
                    "name": "services",
                    "desc": "The returned services will only have the name field set.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ManagedService"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token that can be passed to `ListServices` to resume a paginated query.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Usage",
            "desc": "Configuration controlling usage of a service.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "A list of usage rules that apply to individual API methods.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UsageRule"
                },
                {
                    "name": "requirements",
                    "desc": "Requirements that must be satisfied before a consumer project can use the\nservice. Each requirement is of the form \u003cservice.name\u003e/\u003crequirement-id\u003e;\nfor example 'serviceusage.googleapis.com/billing-enabled'.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "producerNotificationChannel",
                    "desc": "The full resource name of a channel used for sending notifications to the\nservice producer.\n\nGoogle Service Management currently only supports\n[Google Cloud Pub/Sub](https://cloud.google.com/pubsub) as a notification\nchannel. To use Google Cloud Pub/Sub as the channel, this must be the name\nof a Cloud Pub/Sub topic that uses the Cloud Pub/Sub topic name format\ndocumented in https://cloud.google.com/pubsub/docs/overview.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TrafficPercentStrategy",
            "desc": "Strategy that specifies how Google Service Control should select\ndifferent\nversions of service configurations based on traffic percentage.\n\nOne example of how to gradually rollout a new service configuration using\nthis\nstrategy:\nDay 1\n\n    Rollout {\n      id: \"example.googleapis.com/rollout_20160206\"\n      traffic_percent_strategy {\n        percentages: {\n          \"example.googleapis.com/20160201\": 70.00\n          \"example.googleapis.com/20160206\": 30.00\n        }\n      }\n    }\n\nDay 2\n\n    Rollout {\n      id: \"example.googleapis.com/rollout_20160207\"\n      traffic_percent_strategy: {\n        percentages: {\n          \"example.googleapis.com/20160206\": 100.00\n        }\n      }\n    }",
            "type": "object",
            "fields": [
                {
                    "name": "percentages",
                    "desc": "Maps service configuration IDs to their corresponding traffic percentage.\nKey is the service configuration ID, Value is the traffic percentage\nwhich must be greater than 0.0 and the sum must equal to 100.0.",
                    "collection": "map",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "Http",
            "desc": "Defines the HTTP configuration for a service. It contains a list of\nHttpRule, each specifying the mapping of an RPC method\nto one or more HTTP REST API methods.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "A list of HTTP configuration rules that apply to individual API methods.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HttpRule"
                }
            ]
        },
        {
            "name": "ConfigSource",
            "desc": "Represents a source file which is used to generate the service configuration\ndefined by `google.api.Service`.",
            "type": "object",
            "fields": [
                {
                    "name": "files",
                    "desc": "Set of source configuration files that are used to generate a service\nconfiguration (`google.api.Service`).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ConfigFile"
                },
                {
                    "name": "id",
                    "desc": "A unique ID for a specific instance of this message, typically assigned\nby the client for tracking purpose. If empty, the server may choose to\ngenerate one instead.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DataAccessOptions",
            "desc": "Write a Data Access (Gin) log",
            "type": "object"
        },
        {
            "name": "CustomHttpPattern",
            "desc": "A custom pattern is used for defining custom HTTP verb.",
            "type": "object",
            "fields": [
                {
                    "name": "path",
                    "desc": "The path matched by this custom verb.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The name of this custom HTTP verb.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListServiceRolloutsResponse",
            "desc": "Response message for ListServiceRollouts method.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "The token of the next page of results.",
                    "type": "string"
                },
                {
                    "name": "rollouts",
                    "desc": "The list of rollout resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Rollout"
                }
            ]
        },
        {
            "name": "MetricDescriptor",
            "desc": "Defines a metric type and its schema. Once a metric descriptor is created,\ndeleting or altering it stops data collection and makes the metric type's\nexisting data unusable.",
            "type": "object",
            "fields": [
                {
                    "name": "labels",
                    "desc": "The set of labels that can be used to describe a specific\ninstance of this metric type. For example, the\n`appengine.googleapis.com/http/server/response_latencies` metric\ntype has a label for the HTTP response code, `response_code`, so\nyou can look at latencies for successful responses or just\nfor responses that failed.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LabelDescriptor"
                },
                {
                    "name": "name",
                    "desc": "The resource name of the metric descriptor. Depending on the\nimplementation, the name typically includes: (1) the parent resource name\nthat defines the scope of the metric type or of its data; and (2) the\nmetric's URL-encoded type, which also appears in the `type` field of this\ndescriptor. For example, following is the resource name of a custom\nmetric within the GCP project `my-project-id`:\n\n    \"projects/my-project-id/metricDescriptors/custom.googleapis.com%2Finvoice%2Fpaid%2Famount\"",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The metric type, including its DNS name prefix. The type is not\nURL-encoded.  All user-defined custom metric types have the DNS name\n`custom.googleapis.com`.  Metric types should use a natural hierarchical\ngrouping. For example:\n\n    \"custom.googleapis.com/invoice/paid/amount\"\n    \"appengine.googleapis.com/http/server/response_latencies\"",
                    "type": "string"
                },
                {
                    "name": "valueType",
                    "desc": "Whether the measurement is an integer, a floating-point number, etc.\nSome combinations of `metric_kind` and `value_type` might not be supported.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "VALUE_TYPE_UNSPECIFIED",
                            "desc": "Do not use this default value."
                        },
                        {
                            "name": "BOOL",
                            "desc": "The value is a boolean.\nThis value type can be used only if the metric kind is `GAUGE`."
                        },
                        {
                            "name": "INT64",
                            "desc": "The value is a signed 64-bit integer."
                        },
                        {
                            "name": "DOUBLE",
                            "desc": "The value is a double precision floating point number."
                        },
                        {
                            "name": "STRING",
                            "desc": "The value is a text string.\nThis value type can be used only if the metric kind is `GAUGE`."
                        },
                        {
                            "name": "DISTRIBUTION",
                            "desc": "The value is a `Distribution`."
                        },
                        {
                            "name": "MONEY",
                            "desc": "The value is money."
                        }
                    ]
                },
                {
                    "name": "metricKind",
                    "desc": "Whether the metric records instantaneous values, changes to a value, etc.\nSome combinations of `metric_kind` and `value_type` might not be supported.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "METRIC_KIND_UNSPECIFIED",
                            "desc": "Do not use this default value."
                        },
                        {
                            "name": "GAUGE",
                            "desc": "An instantaneous measurement of a value."
                        },
                        {
                            "name": "DELTA",
                            "desc": "The change in a value during a time interval."
                        },
                        {
                            "name": "CUMULATIVE",
                            "desc": "A value accumulated over a time interval.  Cumulative\nmeasurements in a time series should have the same start time\nand increasing end times, until an event resets the cumulative\nvalue to zero and sets a new start time for the following\npoints."
                        }
                    ]
                },
                {
                    "name": "description",
                    "desc": "A detailed description of the metric, which can be used in documentation.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "A concise name for the metric, which can be displayed in user interfaces.\nUse sentence case without an ending period, for example \"Request count\".",
                    "type": "string"
                },
                {
                    "name": "unit",
                    "desc": "The unit in which the metric value is reported. It is only applicable\nif the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The\nsupported units are a subset of [The Unified Code for Units of\nMeasure](http://unitsofmeasure.org/ucum.html) standard:\n\n**Basic units (UNIT)**\n\n* `bit`   bit\n* `By`    byte\n* `s`     second\n* `min`   minute\n* `h`     hour\n* `d`     day\n\n**Prefixes (PREFIX)**\n\n* `k`     kilo    (10**3)\n* `M`     mega    (10**6)\n* `G`     giga    (10**9)\n* `T`     tera    (10**12)\n* `P`     peta    (10**15)\n* `E`     exa     (10**18)\n* `Z`     zetta   (10**21)\n* `Y`     yotta   (10**24)\n* `m`     milli   (10**-3)\n* `u`     micro   (10**-6)\n* `n`     nano    (10**-9)\n* `p`     pico    (10**-12)\n* `f`     femto   (10**-15)\n* `a`     atto    (10**-18)\n* `z`     zepto   (10**-21)\n* `y`     yocto   (10**-24)\n* `Ki`    kibi    (2**10)\n* `Mi`    mebi    (2**20)\n* `Gi`    gibi    (2**30)\n* `Ti`    tebi    (2**40)\n\n**Grammar**\n\nThe grammar includes the dimensionless unit `1`, such as `1/s`.\n\nThe grammar also includes these connectors:\n\n* `/`    division (as an infix operator, e.g. `1/s`).\n* `.`    multiplication (as an infix operator, e.g. `GBy.d`)\n\nThe grammar for a unit is as follows:\n\n    Expression = Component { \".\" Component } { \"/\" Component } ;\n\n    Component = [ PREFIX ] UNIT [ Annotation ]\n              | Annotation\n              | \"1\"\n              ;\n\n    Annotation = \"{\" NAME \"}\" ;\n\nNotes:\n\n* `Annotation` is just a comment if it follows a `UNIT` and is\n   equivalent to `1` if it is used alone. For examples,\n   `{requests}/s == 1/s`, `By{transmitted}/s == By/s`.\n* `NAME` is a sequence of non-blank printable ASCII characters not\n   containing '{' or '}'.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AuthenticationRule",
            "desc": "Authentication rules for the service.\n\nBy default, if a method has any authentication requirements, every request\nmust include a valid credential matching one of the requirements.\nIt's an error to include more than one kind of credential in a single\nrequest.\n\nIf a method doesn't have any auth requirements, request credentials will be\nignored.",
            "type": "object",
            "fields": [
                {
                    "name": "oauth",
                    "desc": "The requirements for OAuth credentials.",
                    "type": "ref",
                    "refType": "OAuthRequirements"
                },
                {
                    "name": "requirements",
                    "desc": "Requirements for additional authentication providers.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AuthRequirement"
                },
                {
                    "name": "selector",
                    "desc": "Selects the methods to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                },
                {
                    "name": "allowWithoutCredential",
                    "desc": "Whether to allow requests without a credential. The credential can be\nan OAuth token, Google cookies (first-party auth) or EndUserCreds.\n\nFor requests without credentials, if the service control environment is\nspecified, each incoming request **must** be associated with a service\nconsumer. This can be done by passing an API key that belongs to a consumer\nproject.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "Advice",
            "desc": "Generated advice about this change, used for providing more\ninformation about how a change will affect the existing service.",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "Useful description for why this advice was applied and what actions should\nbe taken to mitigate any implied risks.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "HttpRule",
            "desc": "`HttpRule` defines the mapping of an RPC method to one or more HTTP\nREST APIs.  The mapping determines what portions of the request\nmessage are populated from the path, query parameters, or body of\nthe HTTP request.  The mapping is typically specified as an\n`google.api.http` annotation, see \"google/api/annotations.proto\"\nfor details.\n\nThe mapping consists of a field specifying the path template and\nmethod kind.  The path template can refer to fields in the request\nmessage, as in the example below which describes a REST GET\noperation on a resource collection of messages:\n\n\n    service Messaging {\n      rpc GetMessage(GetMessageRequest) returns (Message) {\n        option (google.api.http).get = \"/v1/messages/{message_id}/{sub.subfield}\";\n      }\n    }\n    message GetMessageRequest {\n      message SubMessage {\n        string subfield = 1;\n      }\n      string message_id = 1; // mapped to the URL\n      SubMessage sub = 2;    // `sub.subfield` is url-mapped\n    }\n    message Message {\n      string text = 1; // content of the resource\n    }\n\nThe same http annotation can alternatively be expressed inside the\n`GRPC API Configuration` YAML file.\n\n    http:\n      rules:\n        - selector: \u003cproto_package_name\u003e.Messaging.GetMessage\n          get: /v1/messages/{message_id}/{sub.subfield}\n\nThis definition enables an automatic, bidrectional mapping of HTTP\nJSON to RPC. Example:\n\nHTTP | RPC\n-----|-----\n`GET /v1/messages/123456/foo`  | `GetMessage(message_id: \"123456\" sub: SubMessage(subfield: \"foo\"))`\n\nIn general, not only fields but also field paths can be referenced\nfrom a path pattern. Fields mapped to the path pattern cannot be\nrepeated and must have a primitive (non-message) type.\n\nAny fields in the request message which are not bound by the path\npattern automatically become (optional) HTTP query\nparameters. Assume the following definition of the request message:\n\n\n    message GetMessageRequest {\n      message SubMessage {\n        string subfield = 1;\n      }\n      string message_id = 1; // mapped to the URL\n      int64 revision = 2;    // becomes a parameter\n      SubMessage sub = 3;    // `sub.subfield` becomes a parameter\n    }\n\n\nThis enables a HTTP JSON to RPC mapping as below:\n\nHTTP | RPC\n-----|-----\n`GET /v1/messages/123456?revision=2\u0026sub.subfield=foo` | `GetMessage(message_id: \"123456\" revision: 2 sub: SubMessage(subfield: \"foo\"))`\n\nNote that fields which are mapped to HTTP parameters must have a\nprimitive type or a repeated primitive type. Message types are not\nallowed. In the case of a repeated type, the parameter can be\nrepeated in the URL, as in `...?param=A\u0026param=B`.\n\nFor HTTP method kinds which allow a request body, the `body` field\nspecifies the mapping. Consider a REST update method on the\nmessage resource collection:\n\n\n    service Messaging {\n      rpc UpdateMessage(UpdateMessageRequest) returns (Message) {\n        option (google.api.http) = {\n          put: \"/v1/messages/{message_id}\"\n          body: \"message\"\n        };\n      }\n    }\n    message UpdateMessageRequest {\n      string message_id = 1; // mapped to the URL\n      Message message = 2;   // mapped to the body\n    }\n\n\nThe following HTTP JSON to RPC mapping is enabled, where the\nrepresentation of the JSON in the request body is determined by\nprotos JSON encoding:\n\nHTTP | RPC\n-----|-----\n`PUT /v1/messages/123456 { \"text\": \"Hi!\" }` | `UpdateMessage(message_id: \"123456\" message { text: \"Hi!\" })`\n\nThe special name `*` can be used in the body mapping to define that\nevery field not bound by the path template should be mapped to the\nrequest body.  This enables the following alternative definition of\nthe update method:\n\n    service Messaging {\n      rpc UpdateMessage(Message) returns (Message) {\n        option (google.api.http) = {\n          put: \"/v1/messages/{message_id}\"\n          body: \"*\"\n        };\n      }\n    }\n    message Message {\n      string message_id = 1;\n      string text = 2;\n    }\n\n\nThe following HTTP JSON to RPC mapping is enabled:\n\nHTTP | RPC\n-----|-----\n`PUT /v1/messages/123456 { \"text\": \"Hi!\" }` | `UpdateMessage(message_id: \"123456\" text: \"Hi!\")`\n\nNote that when using `*` in the body mapping, it is not possible to\nhave HTTP parameters, as all fields not bound by the path end in\nthe body. This makes this option more rarely used in practice of\ndefining REST APIs. The common usage of `*` is in custom methods\nwhich don't use the URL at all for transferring data.\n\nIt is possible to define multiple HTTP methods for one RPC by using\nthe `additional_bindings` option. Example:\n\n    service Messaging {\n      rpc GetMessage(GetMessageRequest) returns (Message) {\n        option (google.api.http) = {\n          get: \"/v1/messages/{message_id}\"\n          additional_bindings {\n            get: \"/v1/users/{user_id}/messages/{message_id}\"\n          }\n        };\n      }\n    }\n    message GetMessageRequest {\n      string message_id = 1;\n      string user_id = 2;\n    }\n\n\nThis enables the following two alternative HTTP JSON to RPC\nmappings:\n\nHTTP | RPC\n-----|-----\n`GET /v1/messages/123456` | `GetMessage(message_id: \"123456\")`\n`GET /v1/users/me/messages/123456` | `GetMessage(user_id: \"me\" message_id: \"123456\")`\n\n# Rules for HTTP mapping\n\nThe rules for mapping HTTP path, query parameters, and body fields\nto the request message are as follows:\n\n1. The `body` field specifies either `*` or a field path, or is\n   omitted. If omitted, it assumes there is no HTTP body.\n2. Leaf fields (recursive expansion of nested messages in the\n   request) can be classified into three types:\n    (a) Matched in the URL template.\n    (b) Covered by body (if body is `*`, everything except (a) fields;\n        else everything under the body field)\n    (c) All other fields.\n3. URL query parameters found in the HTTP request are mapped to (c) fields.\n4. Any body sent with an HTTP request can contain only (b) fields.\n\nThe syntax of the path template is as follows:\n\n    Template = \"/\" Segments [ Verb ] ;\n    Segments = Segment { \"/\" Segment } ;\n    Segment  = \"*\" | \"**\" | LITERAL | Variable ;\n    Variable = \"{\" FieldPath [ \"=\" Segments ] \"}\" ;\n    FieldPath = IDENT { \".\" IDENT } ;\n    Verb     = \":\" LITERAL ;\n\nThe syntax `*` matches a single path segment. It follows the semantics of\n[RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.2 Simple String\nExpansion.\n\nThe syntax `**` matches zero or more path segments. It follows the semantics\nof [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.3 Reserved\nExpansion. NOTE: it must be the last segment in the path except the Verb.\n\nThe syntax `LITERAL` matches literal text in the URL path.\n\nThe syntax `Variable` matches the entire path as specified by its template;\nthis nested template must not contain further variables. If a variable\nmatches a single path segment, its template may be omitted, e.g. `{var}`\nis equivalent to `{var=*}`.\n\nNOTE: the field paths in variables and in the `body` must not refer to\nrepeated fields or map fields.\n\nUse CustomHttpPattern to specify any HTTP method that is not included in the\n`pattern` field, such as HEAD, or \"*\" to leave the HTTP method unspecified for\na given URL path rule. The wild-card rule is useful for services that provide\ncontent to Web (HTML) clients.",
            "type": "object",
            "fields": [
                {
                    "name": "delete",
                    "desc": "Used for deleting a resource.",
                    "type": "string"
                },
                {
                    "name": "post",
                    "desc": "Used for creating a resource.",
                    "type": "string"
                },
                {
                    "name": "put",
                    "desc": "Used for updating a resource.",
                    "type": "string"
                },
                {
                    "name": "responseBody",
                    "desc": "The name of the response field whose value is mapped to the HTTP body of\nresponse. Other response fields are ignored. This field is optional. When\nnot set, the response message will be used as HTTP body of response.\nNOTE: the referred field must be not a repeated field and must be present\nat the top-level of response message type.",
                    "type": "string"
                },
                {
                    "name": "mediaUpload",
                    "desc": "Use this only for Scotty Requests. Do not use this for media support using\nBytestream, add instead\n[][google.bytestream.RestByteStream] as an API to your\nconfiguration for Bytestream methods.",
                    "type": "ref",
                    "refType": "MediaUpload"
                },
                {
                    "name": "selector",
                    "desc": "Selects methods to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                },
                {
                    "name": "custom",
                    "desc": "Custom pattern is used for defining custom verbs.",
                    "type": "ref",
                    "refType": "CustomHttpPattern"
                },
                {
                    "name": "get",
                    "desc": "Used for listing and getting information about resources.",
                    "type": "string"
                },
                {
                    "name": "body",
                    "desc": "The name of the request field whose value is mapped to the HTTP body, or\n`*` for mapping all fields not captured by the path pattern to the HTTP\nbody. NOTE: the referred field must not be a repeated field and must be\npresent at the top-level of request message type.",
                    "type": "string"
                },
                {
                    "name": "mediaDownload",
                    "desc": "Use this only for Scotty Requests. Do not use this for bytestream methods.\nFor media support, add instead [][google.bytestream.RestByteStream] as an\nAPI to your configuration.",
                    "type": "ref",
                    "refType": "MediaDownload"
                },
                {
                    "name": "additionalBindings",
                    "desc": "Additional HTTP bindings for the selector. Nested bindings must\nnot contain an `additional_bindings` field themselves (that is,\nthe nesting may only be one level deep).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HttpRule"
                },
                {
                    "name": "patch",
                    "desc": "Used for updating a resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SetIamPolicyRequest",
            "desc": "Request message for `SetIamPolicy` method.",
            "type": "object",
            "fields": [
                {
                    "name": "policy",
                    "desc": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
                    "type": "ref",
                    "refType": "Policy"
                },
                {
                    "name": "updateMask",
                    "desc": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Field",
            "desc": "A single field of a message type.",
            "type": "object",
            "fields": [
                {
                    "name": "packed",
                    "desc": "Whether to use alternative packed wire representation.",
                    "type": "bool"
                },
                {
                    "name": "cardinality",
                    "desc": "The field cardinality.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CARDINALITY_UNKNOWN",
                            "desc": "For fields with unknown cardinality."
                        },
                        {
                            "name": "CARDINALITY_OPTIONAL",
                            "desc": "For optional fields."
                        },
                        {
                            "name": "CARDINALITY_REQUIRED",
                            "desc": "For required fields. Proto2 syntax only."
                        },
                        {
                            "name": "CARDINALITY_REPEATED",
                            "desc": "For repeated fields."
                        }
                    ]
                },
                {
                    "name": "typeUrl",
                    "desc": "The field type URL, without the scheme, for message or enumeration\ntypes. Example: `\"type.googleapis.com/google.protobuf.Timestamp\"`.",
                    "type": "string"
                },
                {
                    "name": "number",
                    "desc": "The field number.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "The field type.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "TYPE_UNKNOWN",
                            "desc": "Field type unknown."
                        },
                        {
                            "name": "TYPE_DOUBLE",
                            "desc": "Field type double."
                        },
                        {
                            "name": "TYPE_FLOAT",
                            "desc": "Field type float."
                        },
                        {
                            "name": "TYPE_INT64",
                            "desc": "Field type int64."
                        },
                        {
                            "name": "TYPE_UINT64",
                            "desc": "Field type uint64."
                        },
                        {
                            "name": "TYPE_INT32",
                            "desc": "Field type int32."
                        },
                        {
                            "name": "TYPE_FIXED64",
                            "desc": "Field type fixed64."
                        },
                        {
                            "name": "TYPE_FIXED32",
                            "desc": "Field type fixed32."
                        },
                        {
                            "name": "TYPE_BOOL",
                            "desc": "Field type bool."
                        },
                        {
                            "name": "TYPE_STRING",
                            "desc": "Field type string."
                        },
                        {
                            "name": "TYPE_GROUP",
                            "desc": "Field type group. Proto2 syntax only, and deprecated."
                        },
                        {
                            "name": "TYPE_MESSAGE",
                            "desc": "Field type message."
                        },
                        {
                            "name": "TYPE_BYTES",
                            "desc": "Field type bytes."
                        },
                        {
                            "name": "TYPE_UINT32",
                            "desc": "Field type uint32."
                        },
                        {
                            "name": "TYPE_ENUM",
                            "desc": "Field type enum."
                        },
                        {
                            "name": "TYPE_SFIXED32",
                            "desc": "Field type sfixed32."
                        },
                        {
                            "name": "TYPE_SFIXED64",
                            "desc": "Field type sfixed64."
                        },
                        {
                            "name": "TYPE_SINT32",
                            "desc": "Field type sint32."
                        },
                        {
                            "name": "TYPE_SINT64",
                            "desc": "Field type sint64."
                        }
                    ]
                },
                {
                    "name": "jsonName",
                    "desc": "The field JSON name.",
                    "type": "string"
                },
                {
                    "name": "options",
                    "desc": "The protocol buffer options.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                },
                {
                    "name": "oneofIndex",
                    "desc": "The index of the field type in `Type.oneofs`, for message or enumeration\ntypes. The first type has index 1; zero means the type is not in the list.",
                    "type": "int32"
                },
                {
                    "name": "defaultValue",
                    "desc": "The string value of the default value of this field. Proto2 syntax only.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The field name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SubmitConfigSourceResponse",
            "desc": "Response message for SubmitConfigSource method.",
            "type": "object",
            "fields": [
                {
                    "name": "serviceConfig",
                    "desc": "The generated service configuration.",
                    "type": "ref",
                    "refType": "Service"
                }
            ]
        },
        {
            "name": "EnumValue",
            "desc": "Enum value definition.",
            "type": "object",
            "fields": [
                {
                    "name": "number",
                    "desc": "Enum value number.",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "Enum value name.",
                    "type": "string"
                },
                {
                    "name": "options",
                    "desc": "Protocol buffer options.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                }
            ]
        },
        {
            "name": "MonitoringDestination",
            "desc": "Configuration of a specific monitoring destination (the producer project\nor the consumer project).",
            "type": "object",
            "fields": [
                {
                    "name": "monitoredResource",
                    "desc": "The monitored resource type. The type must be defined in\nService.monitored_resources section.",
                    "type": "string"
                },
                {
                    "name": "metrics",
                    "desc": "Names of the metrics to report to this monitoring destination.\nEach name must be defined in Service.metrics section.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GenerateConfigReportResponse",
            "desc": "Response message for GenerateConfigReport method.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "ID of the service configuration this report belongs to.",
                    "type": "string"
                },
                {
                    "name": "diagnostics",
                    "desc": "Errors / Linter warnings associated with the service definition this\nreport\nbelongs to.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Diagnostic"
                },
                {
                    "name": "serviceName",
                    "desc": "Name of the service this report belongs to.",
                    "type": "string"
                },
                {
                    "name": "changeReports",
                    "desc": "list of ChangeReport, each corresponding to comparison between two\nservice configurations.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ChangeReport"
                }
            ]
        },
        {
            "name": "GetIamPolicyRequest",
            "desc": "Request message for `GetIamPolicy` method.",
            "type": "object"
        },
        {
            "name": "DisableServiceRequest",
            "desc": "Request message for DisableService method.",
            "type": "object",
            "fields": [
                {
                    "name": "consumerId",
                    "desc": "The identity of consumer resource which service disablement will be\napplied to.\n\nThe Google Service Management implementation accepts the following\nforms:\n- \"project:\u003cproject_id\u003e\"\n\nNote: this is made compatible with\ngoogle.api.servicecontrol.v1.Operation.consumer_id.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MediaDownload",
            "desc": "Use this only for Scotty Requests. Do not use this for media support using\nBytestream, add instead [][google.bytestream.RestByteStream] as an API to\nyour configuration for Bytestream methods.",
            "type": "object",
            "fields": [
                {
                    "name": "enabled",
                    "desc": "Whether download is enabled.",
                    "type": "bool"
                },
                {
                    "name": "downloadService",
                    "desc": "DO NOT USE THIS FIELD UNTIL THIS WARNING IS REMOVED.\n\nSpecify name of the download service if one is used for download.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AuthRequirement",
            "desc": "User-defined authentication requirements, including support for\n[JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
            "type": "object",
            "fields": [
                {
                    "name": "providerId",
                    "desc": "id from authentication provider.\n\nExample:\n\n    provider_id: bookstore_auth",
                    "type": "string"
                },
                {
                    "name": "audiences",
                    "desc": "NOTE: This will be deprecated soon, once AuthProvider.audiences is\nimplemented and accepted in all the runtime components.\n\nThe list of JWT\n[audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).\nthat are allowed to access. A JWT containing any of these audiences will\nbe accepted. When this setting is absent, only JWTs with audience\n\"https://Service_name/API_name\"\nwill be accepted. For example, if no audiences are in the setting,\nLibraryService API will only accept JWTs with the following audience\n\"https://library-example.googleapis.com/google.example.library.v1.LibraryService\".\n\nExample:\n\n    audiences: bookstore_android.apps.googleusercontent.com,\n               bookstore_web.apps.googleusercontent.com",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Api",
            "desc": "Api is a light-weight descriptor for a protocol buffer service.",
            "type": "object",
            "fields": [
                {
                    "name": "syntax",
                    "desc": "The source syntax of the service.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SYNTAX_PROTO2",
                            "desc": "Syntax `proto2`."
                        },
                        {
                            "name": "SYNTAX_PROTO3",
                            "desc": "Syntax `proto3`."
                        }
                    ]
                },
                {
                    "name": "sourceContext",
                    "desc": "Source context for the protocol buffer service represented by this\nmessage.",
                    "type": "ref",
                    "refType": "SourceContext"
                },
                {
                    "name": "version",
                    "desc": "A version string for this api. If specified, must have the form\n`major-version.minor-version`, as in `1.10`. If the minor version\nis omitted, it defaults to zero. If the entire version field is\nempty, the major version is derived from the package name, as\noutlined below. If the field is not empty, the version in the\npackage name will be verified to be consistent with what is\nprovided here.\n\nThe versioning schema uses [semantic\nversioning](http://semver.org) where the major version number\nindicates a breaking change and the minor version an additive,\nnon-breaking change. Both version numbers are signals to users\nwhat to expect from different versions, and should be carefully\nchosen based on the product plan.\n\nThe major version is also reflected in the package name of the\nAPI, which must end in `v\u003cmajor-version\u003e`, as in\n`google.feature.v1`. For major versions 0 and 1, the suffix can\nbe omitted. Zero major versions must only be used for\nexperimental, none-GA apis.\n",
                    "type": "string"
                },
                {
                    "name": "mixins",
                    "desc": "Included APIs. See Mixin.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Mixin"
                },
                {
                    "name": "options",
                    "desc": "Any metadata attached to the API.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                },
                {
                    "name": "methods",
                    "desc": "The methods of this api, in unspecified order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Method"
                },
                {
                    "name": "name",
                    "desc": "The fully qualified name of this api, including package name\nfollowed by the api's simple name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Status",
            "desc": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "type": "object",
            "fields": [
                {
                    "name": "details",
                    "desc": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                },
                {
                    "name": "code",
                    "desc": "The status code, which should be an enum value of google.rpc.Code.",
                    "type": "int32"
                },
                {
                    "name": "message",
                    "desc": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Binding",
            "desc": "Associates `members` with a `role`.",
            "type": "object",
            "fields": [
                {
                    "name": "members",
                    "desc": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `domain:{domain}`: A Google Apps domain name that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "role",
                    "desc": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.\nRequired",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AuthProvider",
            "desc": "Configuration for an anthentication provider, including support for\n[JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
            "type": "object",
            "fields": [
                {
                    "name": "jwksUri",
                    "desc": "URL of the provider's public key set to validate signature of the JWT. See\n[OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\nOptional if the key set document:\n - can be retrieved from\n   [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html\n   of the issuer.\n - can be inferred from the email domain of the issuer (e.g. a Google service account).\n\nExample: https://www.googleapis.com/oauth2/v1/certs",
                    "type": "string"
                },
                {
                    "name": "audiences",
                    "desc": "The list of JWT\n[audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).\nthat are allowed to access. A JWT containing any of these audiences will\nbe accepted. When this setting is absent, only JWTs with audience\n\"https://Service_name/API_name\"\nwill be accepted. For example, if no audiences are in the setting,\nLibraryService API will only accept JWTs with the following audience\n\"https://library-example.googleapis.com/google.example.library.v1.LibraryService\".\n\nExample:\n\n    audiences: bookstore_android.apps.googleusercontent.com,\n               bookstore_web.apps.googleusercontent.com",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The unique identifier of the auth provider. It will be referred to by\n`AuthRequirement.provider_id`.\n\nExample: \"bookstore_auth\".",
                    "type": "string"
                },
                {
                    "name": "issuer",
                    "desc": "Identifies the principal that issued the JWT. See\nhttps://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1\nUsually a URL or an email address.\n\nExample: https://securetoken.google.com\nExample: 1234567-compute@developer.gserviceaccount.com",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DocumentationRule",
            "desc": "A documentation rule provides information about individual API elements.",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "Description of the selected API(s).",
                    "type": "string"
                },
                {
                    "name": "deprecationDescription",
                    "desc": "Deprecation description of the selected element(s). It can be provided if an\nelement is marked as `deprecated`.",
                    "type": "string"
                },
                {
                    "name": "selector",
                    "desc": "The selector is a comma-separated list of patterns. Each pattern is a\nqualified name of the element which may end in \"*\", indicating a wildcard.\nWildcards are only allowed at the end and for a whole component of the\nqualified name, i.e. \"foo.*\" is ok, but not \"foo.b*\" or \"foo.*.bar\". To\nspecify a default for all applicable elements, the whole pattern \"*\"\nis used.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MonitoredResourceDescriptor",
            "desc": "An object that describes the schema of a MonitoredResource object using a\ntype name and a set of labels.  For example, the monitored resource\ndescriptor for Google Compute Engine VM instances has a type of\n`\"gce_instance\"` and specifies the use of the labels `\"instance_id\"` and\n`\"zone\"` to identify particular VM instances.\n\nDifferent APIs can support different monitored resource types. APIs generally\nprovide a `list` method that returns the monitored resource descriptors used\nby the API.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Optional. The resource name of the monitored resource descriptor:\n`\"projects/{project_id}/monitoredResourceDescriptors/{type}\"` where\n{type} is the value of the `type` field in this object and\n{project_id} is a project ID that provides API-specific context for\naccessing the type.  APIs that do not use project information can use the\nresource name format `\"monitoredResourceDescriptors/{type}\"`.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "Optional. A concise name for the monitored resource type that might be\ndisplayed in user interfaces. It should be a Title Cased Noun Phrase,\nwithout any article or other determiners. For example,\n`\"Google Cloud SQL Database\"`.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "Optional. A detailed description of the monitored resource type that might\nbe used in documentation.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Required. The monitored resource type. For example, the type\n`\"cloudsql_database\"` represents databases in Google Cloud SQL.\nThe maximum length of this value is 256 characters.",
                    "type": "string"
                },
                {
                    "name": "labels",
                    "desc": "Required. A set of labels used to describe instances of this monitored\nresource type. For example, an individual Google Cloud SQL database is\nidentified by values for the labels `\"database_id\"` and `\"zone\"`.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LabelDescriptor"
                }
            ]
        },
        {
            "name": "GenerateConfigReportRequest",
            "desc": "Request message for GenerateConfigReport method.",
            "type": "object",
            "fields": [
                {
                    "name": "oldConfig",
                    "desc": "Service configuration against which the comparison will be done.\nFor this version of API, the supported types are\ngoogle.api.servicemanagement.v1.ConfigRef,\ngoogle.api.servicemanagement.v1.ConfigSource,\nand google.api.Service",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "newConfig",
                    "desc": "Service configuration for which we want to generate the report.\nFor this version of API, the supported types are\ngoogle.api.servicemanagement.v1.ConfigRef,\ngoogle.api.servicemanagement.v1.ConfigSource,\nand google.api.Service",
                    "collection": "map",
                    "type": "any"
                }
            ]
        },
        {
            "name": "Enum",
            "desc": "Enum type definition.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Enum type name.",
                    "type": "string"
                },
                {
                    "name": "enumvalue",
                    "desc": "Enum value definitions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EnumValue"
                },
                {
                    "name": "options",
                    "desc": "Protocol buffer options.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                },
                {
                    "name": "sourceContext",
                    "desc": "The source context.",
                    "type": "ref",
                    "refType": "SourceContext"
                },
                {
                    "name": "syntax",
                    "desc": "The source syntax.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SYNTAX_PROTO2",
                            "desc": "Syntax `proto2`."
                        },
                        {
                            "name": "SYNTAX_PROTO3",
                            "desc": "Syntax `proto3`."
                        }
                    ]
                }
            ]
        },
        {
            "name": "TestIamPermissionsResponse",
            "desc": "Response message for `TestIamPermissions` method.",
            "type": "object",
            "fields": [
                {
                    "name": "permissions",
                    "desc": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Page",
            "desc": "Represents a documentation page. A page can contain subpages to represent\nnested documentation set structure.",
            "type": "object",
            "fields": [
                {
                    "name": "content",
                    "desc": "The Markdown content of the page. You can use \u003ccode\u003e\u0026#40;== include {path} ==\u0026#41;\u003c/code\u003e\nto include content from a Markdown file.",
                    "type": "string"
                },
                {
                    "name": "subpages",
                    "desc": "Subpages of this page. The order of subpages specified here will be\nhonored in the generated docset.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Page"
                },
                {
                    "name": "name",
                    "desc": "The name of the page. It will be used as an identity of the page to\ngenerate URI of the page, text of the link to this page in navigation,\netc. The full page name (start from the root page name to this page\nconcatenated with `.`) can be used as reference to the page in your\ndocumentation. For example:\n\u003cpre\u003e\u003ccode\u003epages:\n- name: Tutorial\n  content: \u0026#40;== include tutorial.md ==\u0026#41;\n  subpages:\n  - name: Java\n    content: \u0026#40;== include tutorial_java.md ==\u0026#41;\n\u003c/code\u003e\u003c/pre\u003e\nYou can reference `Java` page using Markdown reference link syntax:\n`Java`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SystemParameterRule",
            "desc": "Define a system parameter rule mapping system parameter definitions to\nmethods.",
            "type": "object",
            "fields": [
                {
                    "name": "parameters",
                    "desc": "Define parameters. Multiple names may be defined for a parameter.\nFor a given method call, only one of them should be used. If multiple\nnames are used the behavior is implementation-dependent.\nIf none of the specified names are present the behavior is\nparameter-dependent.",
                    "collection": "array",
[...]
