{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/GcEQbY_uWqf8lGSMWrpoGmCk7zY\"",
    "discoveryVersion": "v1",
    "id": "drive:v2",
    "name": "drive",
    "version": "v2",
    "title": "Drive API",
    "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
    "documentationLink": "https://developers.google.com/drive/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "drive/v2/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/drive.scripts",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "App",
            "desc": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details.",
            "type": "object",
            "fields": [
                {
                    "name": "supportsOfflineCreate",
                    "desc": "Whether this app supports creating new files when offline.",
                    "type": "bool"
                },
                {
                    "name": "longDescription",
                    "desc": "A long description of the app.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the app.",
                    "type": "string"
                },
                {
                    "name": "installed",
                    "desc": "Whether the app is installed.",
                    "type": "bool"
                },
                {
                    "name": "objectType",
                    "desc": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
                    "type": "string"
                },
                {
                    "name": "authorized",
                    "desc": "Whether the app is authorized to access data on the user's Drive.",
                    "type": "bool"
                },
                {
                    "name": "icons",
                    "desc": "The various icons for the app.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "category",
                            "desc": "Category of the icon. Allowed values are:  \n- application - icon for the application \n- document - icon for a file associated with the app \n- documentShared - icon for a shared file associated with the app",
                            "type": "string"
                        },
                        {
                            "name": "iconUrl",
                            "desc": "URL for the icon.",
                            "type": "string"
                        },
                        {
                            "name": "size",
                            "desc": "Size of the icon. Represented as the maximum of the width and height.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "primaryMimeTypes",
                    "desc": "The list of primary mime types.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "The ID of the product listing for this app.",
                    "type": "string"
                },
                {
                    "name": "productUrl",
                    "desc": "A link to the product listing for this app.",
                    "type": "string"
                },
                {
                    "name": "secondaryFileExtensions",
                    "desc": "The list of secondary file extensions.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "supportsCreate",
                    "desc": "Whether this app supports creating new objects.",
                    "type": "bool"
                },
                {
                    "name": "useByDefault",
                    "desc": "Whether the app is selected as the default handler for the types it supports.",
                    "type": "bool"
                },
                {
                    "name": "createInFolderTemplate",
                    "desc": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
                    "type": "string"
                },
                {
                    "name": "hasDriveWideScope",
                    "desc": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#app.",
                    "type": "string",
                    "default": "drive#app"
                },
                {
                    "name": "name",
                    "desc": "The name of the app.",
                    "type": "string"
                },
                {
                    "name": "openUrlTemplate",
                    "desc": "The template url for opening files with this app. The template will contain {ids} and/or {exportIds} to be replaced by the actual file ids. See  Open Files  for the full documentation.",
                    "type": "string"
                },
                {
                    "name": "primaryFileExtensions",
                    "desc": "The list of primary file extensions.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "secondaryMimeTypes",
                    "desc": "The list of secondary mime types.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "shortDescription",
                    "desc": "A short description of the app.",
                    "type": "string"
                },
                {
                    "name": "createUrl",
                    "desc": "The url to create a new file with this app.",
                    "type": "string"
                },
                {
                    "name": "supportsMultiOpen",
                    "desc": "Whether this app supports opening more than one file.",
                    "type": "bool"
                },
                {
                    "name": "supportsImport",
                    "desc": "Whether this app supports importing Google Docs.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "AppList",
            "desc": "A list of third-party applications which the user has installed or given access to Google Drive.",
            "type": "object",
            "fields": [
                {
                    "name": "defaultAppIds",
                    "desc": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "The ETag of the list.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The list of apps.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "App"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#appList.",
                    "type": "string",
                    "default": "drive#appList"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ChildReference",
            "desc": "A reference to a folder's child.",
            "type": "object",
            "fields": [
                {
                    "name": "childLink",
                    "desc": "A link to the child.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the child.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#childReference.",
                    "type": "string",
                    "default": "drive#childReference"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this reference.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ParentReference",
            "desc": "A reference to a file's parent.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The ID of the parent.",
                    "type": "string"
                },
                {
                    "name": "isRoot",
                    "desc": "Whether or not the parent is the root folder.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#parentReference.",
                    "type": "string",
                    "default": "drive#parentReference"
                },
                {
                    "name": "parentLink",
                    "desc": "A link to the parent.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this reference.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Permission",
            "desc": "A permission for a file.",
            "type": "object",
            "fields": [
                {
                    "name": "authKey",
                    "desc": "The authkey parameter required for this permission.",
                    "type": "string"
                },
                {
                    "name": "domain",
                    "desc": "The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is user, group or domain.",
                    "type": "string"
                },
                {
                    "name": "expirationDate",
                    "desc": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions:  \n- They can only be set on user and group permissions \n- The date must be in the future \n- The date cannot be more than a year in the future \n- The date can only be set on drive.permissions.update requests",
                    "type": "datetime"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this permission.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The account type. Allowed values are:  \n- user \n- group \n- domain \n- anyone",
                    "type": "string"
                },
                {
                    "name": "withLink",
                    "desc": "Whether the link is required for this permission.",
                    "type": "bool"
                },
                {
                    "name": "id",
                    "desc": "The ID of the user this permission refers to, and identical to the permissionId in the About and Files resources. When making a drive.permissions.insert request, exactly one of the id or value fields must be specified unless the permission type is anyone, in which case both id and value are ignored.",
                    "type": "string"
                },
                {
                    "name": "teamDrivePermissionDetails",
                    "desc": "Details of whether the Permissions on this Team Drive item are inherited or directly on this item. This is an output-only field which is present only for Team Drive items.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "role",
                            "desc": "The primary role for this user. While new values may be added in the future, the following are currently possible:  \n- organizer \n- reader \n- writer",
                            "type": "string"
                        },
                        {
                            "name": "teamDrivePermissionType",
                            "desc": "The Team Drive permission type for this user. While new values may be added in future, the following are currently possible:  \n- file \n- member",
                            "type": "string"
                        },
                        {
                            "name": "additionalRoles",
                            "desc": "Additional roles for this user. Only commenter is currently possible, though more may be supported in the future.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "inherited",
                            "desc": "Whether this permission is inherited. This field is always populated. This is an output-only field.",
                            "type": "bool"
                        },
                        {
                            "name": "inheritedFrom",
                            "desc": "The ID of the item from which this permission is inherited. This is an output-only field and is only populated for members of the Team Drive.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "value",
                    "desc": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a drive.permissions.insert request, exactly one of the id or value fields must be specified unless the permission type is anyone, in which case both id and value are ignored.",
                    "type": "string"
                },
                {
                    "name": "additionalRoles",
                    "desc": "Additional roles for this user. Only commenter is currently allowed, though more may be supported in the future.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "emailAddress",
                    "desc": "The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is user or group.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "The ETag of the permission.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#permission.",
                    "type": "string",
                    "default": "drive#permission"
                },
                {
                    "name": "name",
                    "desc": "The name for this permission.",
                    "type": "string"
                },
                {
                    "name": "photoLink",
                    "desc": "A link to the profile photo, if available.",
                    "type": "string"
                },
                {
                    "name": "role",
                    "desc": "The primary role for this user. While new values may be supported in the future, the following are currently allowed:  \n- organizer \n- owner \n- reader \n- writer",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PropertyList",
            "desc": "A collection of properties, key-value pairs that are either public or private to an application.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "The ETag of the list.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The list of properties.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Property"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#propertyList.",
                    "type": "string",
                    "default": "drive#propertyList"
                },
                {
                    "name": "selfLink",
                    "desc": "The link back to this list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Revision",
            "desc": "A revision of a file.",
            "type": "object",
            "fields": [
                {
                    "name": "downloadUrl",
                    "desc": "Short term download URL for the file. This will only be populated on files with content stored in Drive.",
                    "type": "string"
                },
                {
                    "name": "exportLinks",
                    "desc": "Links for exporting Google Docs to specific formats.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#revision.",
                    "type": "string",
                    "default": "drive#revision"
                },
                {
                    "name": "lastModifyingUserName",
                    "desc": "Name of the last user to modify this revision.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "The ETag of the revision.",
                    "type": "string"
                },
                {
                    "name": "fileSize",
                    "desc": "The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
                    "type": "int64"
                },
                {
                    "name": "lastModifyingUser",
                    "desc": "The last user to modify this revision.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "mimeType",
                    "desc": "The MIME type of the revision.",
                    "type": "string"
                },
                {
                    "name": "modifiedDate",
                    "desc": "Last time this revision was modified (formatted RFC 3339 timestamp).",
                    "type": "datetime"
                },
                {
                    "name": "originalFilename",
                    "desc": "The original filename when this revision was created. This will only be populated on files with content stored in Drive.",
                    "type": "string"
                },
                {
                    "name": "publishedLink",
                    "desc": "A link to the published revision.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the revision.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this revision.",
                    "type": "string"
                },
                {
                    "name": "md5Checksum",
                    "desc": "An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
                    "type": "string"
                },
                {
                    "name": "pinned",
                    "desc": "Whether this revision is pinned to prevent automatic purging. This will only be populated and can only be modified on files with content stored in Drive which are not Google Docs. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter.",
                    "type": "bool"
                },
                {
                    "name": "publishAuto",
                    "desc": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Google Docs.",
                    "type": "bool"
                },
                {
                    "name": "published",
                    "desc": "Whether this revision is published. This is only populated and can only be modified for Google Docs.",
                    "type": "bool"
                },
                {
                    "name": "publishedOutsideDomain",
                    "desc": "Whether this revision is published outside the domain. This is only populated and can only be modified for Google Docs.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "ChildList",
            "desc": "A list of children of a file.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ChildReference"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#childList.",
                    "type": "string",
                    "default": "drive#childList"
                },
                {
                    "name": "nextLink",
                    "desc": "A link to the next page of children.",
                    "type": "string"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this list.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "The ETag of the list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Comment",
            "desc": "A comment on a file in Google Drive.",
            "type": "object",
            "fields": [
                {
                    "name": "fileId",
                    "desc": "The file which this comment is addressing.",
                    "type": "string"
                },
                {
                    "name": "fileTitle",
                    "desc": "The title of the file which this comment is addressing.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this comment.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status.  \n- \"open\" - The comment is still open. \n- \"resolved\" - The comment has been resolved by one of its replies.",
                    "type": "string"
                },
                {
                    "name": "content",
                    "desc": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
                    "type": "string"
                },
                {
                    "name": "context",
                    "desc": "The context of the file which is being commented on.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "type",
                            "desc": "The MIME type of the context snippet.",
                            "type": "string"
                        },
                        {
                            "name": "value",
                            "desc": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "deleted",
                    "desc": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed.",
                    "type": "bool"
                },
                {
                    "name": "replies",
                    "desc": "Replies to this post.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CommentReply"
                },
                {
                    "name": "anchor",
                    "desc": "A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "The user who wrote this comment.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "commentId",
                    "desc": "The ID of the comment.",
                    "type": "string"
                },
                {
                    "name": "createdDate",
                    "desc": "The date when this comment was first created.",
                    "type": "datetime"
                },
                {
                    "name": "htmlContent",
                    "desc": "HTML formatted content for this comment.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#comment.",
                    "type": "string",
                    "default": "drive#comment"
                },
                {
                    "name": "modifiedDate",
                    "desc": "The date when this comment or any of its replies were last modified.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "FileList",
            "desc": "A list of files.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "File"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#fileList.",
                    "type": "string",
                    "default": "drive#fileList"
                },
                {
                    "name": "nextLink",
                    "desc": "A link to the next page of files.",
                    "type": "string"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this list.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "The ETag of the list.",
                    "type": "string"
                },
                {
                    "name": "incompleteSearch",
                    "desc": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple Team Drives with the \"default,allTeamDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"teamDrive\".",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "PermissionId",
            "desc": "An ID for a user or group as seen in Permission items.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The permission ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#permissionId.",
                    "type": "string",
                    "default": "drive#permissionId"
                }
            ]
        },
        {
            "name": "CommentReply",
            "desc": "A comment on a file in Google Drive.",
            "type": "object",
            "fields": [
                {
                    "name": "content",
                    "desc": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).",
                    "type": "string"
                },
                {
                    "name": "htmlContent",
                    "desc": "HTML formatted content for this reply.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#commentReply.",
                    "type": "string",
                    "default": "drive#commentReply"
                },
                {
                    "name": "verb",
                    "desc": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform to the parent comment. Possible values are:  \n- \"resolve\" - To resolve a comment. \n- \"reopen\" - To reopen (un-resolve) a comment.",
                    "type": "string"
                },
                {
                    "name": "replyId",
                    "desc": "The ID of the reply.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "The user who wrote this reply.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "createdDate",
                    "desc": "The date when this reply was first created.",
                    "type": "datetime"
                },
                {
                    "name": "deleted",
                    "desc": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed.",
                    "type": "bool"
                },
                {
                    "name": "modifiedDate",
                    "desc": "The date when this reply was last modified.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "GeneratedIds",
            "desc": "A list of generated IDs which can be provided in insert requests",
            "type": "object",
            "fields": [
                {
                    "name": "space",
                    "desc": "The type of file that can be created with these IDs.",
                    "type": "string"
                },
                {
                    "name": "ids",
                    "desc": "The IDs generated for the requesting user in the specified space.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#generatedIds",
                    "type": "string",
                    "default": "drive#generatedIds"
                }
            ]
        },
        {
            "name": "TeamDrive",
            "desc": "Representation of a Team Drive.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of this Team Drive.",
                    "type": "string"
                },
                {
                    "name": "capabilities",
                    "desc": "Capabilities the current user has on this Team Drive.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "canListChildren",
                            "desc": "Whether the current user can list the children of folders in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canManageMembers",
                            "desc": "Whether the current user can add members to this Team Drive or remove them or change their role.",
                            "type": "bool"
                        },
                        {
                            "name": "canRemoveChildren",
                            "desc": "Whether the current user can remove children from folders in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canRenameTeamDrive",
                            "desc": "Whether this Team Drive can be renamed by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canAddChildren",
                            "desc": "Whether the current user can add children to folders in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canDeleteTeamDrive",
                            "desc": "Whether this Team Drive can be deleted by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canDownload",
                            "desc": "Whether files in this Team Drive can be downloaded by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canEdit",
                            "desc": "Whether files in this Team Drive can be edited by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canShare",
                            "desc": "Whether the current user can share files or folders in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canComment",
                            "desc": "Whether the current user can comment on files in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canCopy",
                            "desc": "Whether files in this Team Drive can be copied by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canReadRevisions",
                            "desc": "Whether the current user has read access to the Revisions resource of files in this Team Drive.",
                            "type": "bool"
                        },
                        {
                            "name": "canRename",
                            "desc": "Whether files or folders in this Team Drive can be renamed by the current user.",
                            "type": "bool"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "The ID of this Team Drive which is also the ID of the top level folder for this Team Drive.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#teamDrive",
                    "type": "string",
                    "default": "drive#teamDrive"
                }
            ]
        },
        {
            "name": "User",
            "desc": "Information about a Drive user.",
            "type": "object",
            "fields": [
                {
                    "name": "isAuthenticatedUser",
                    "desc": "Whether this user is the same as the authenticated user for whom the request was made.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#user.",
                    "type": "string",
                    "default": "drive#user"
                },
                {
                    "name": "permissionId",
                    "desc": "The user's ID as visible in the permissions collection.",
                    "type": "string"
                },
                {
                    "name": "picture",
                    "desc": "The user's profile picture.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "url",
                            "desc": "A URL that points to a profile picture of this user.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "displayName",
                    "desc": "A plain text displayable name for this user.",
                    "type": "string"
                },
                {
                    "name": "emailAddress",
                    "desc": "The email address of the user.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CommentList",
            "desc": "A list of comments on a file in Google Drive.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Comment"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#commentList.",
                    "type": "string",
                    "default": "drive#commentList"
                },
                {
                    "name": "nextLink",
                    "desc": "A link to the next page of comments.",
                    "type": "string"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RevisionList",
            "desc": "A list of revisions of a file.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Revision"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#revisionList.",
                    "type": "string",
                    "default": "drive#revisionList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this list.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "The ETag of the list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "About",
            "desc": "An item with user information and settings.",
            "type": "object",
            "fields": [
                {
                    "name": "quotaBytesTotal",
                    "desc": "The total number of quota bytes.",
                    "type": "int64"
                },
                {
                    "name": "user",
                    "desc": "The authenticated user.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "folderColorPalette",
                    "desc": "The palette of allowable folder colors as RGB hex strings.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "importFormats",
                    "desc": "The allowable import formats.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "source",
                            "desc": "The imported file's content type to convert from.",
                            "type": "string"
                        },
                        {
                            "name": "targets",
                            "desc": "The possible content types to convert to.",
                            "collection": "array",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "isCurrentAppInstalled",
                    "desc": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
                    "type": "bool"
                },
                {
                    "name": "remainingChangeIds",
                    "desc": "The number of remaining change ids, limited to no more than 2500.",
                    "type": "int64"
                },
                {
                    "name": "languageCode",
                    "desc": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
                    "type": "string"
                },
                {
                    "name": "quotaBytesByService",
                    "desc": "The amount of storage quota used by different Google services.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "bytesUsed",
                            "desc": "The storage quota bytes used by the service.",
                            "type": "int64"
                        },
                        {
                            "name": "serviceName",
                            "desc": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "quotaBytesUsed",
                    "desc": "The number of quota bytes used by Google Drive.",
                    "type": "int64"
                },
                {
                    "name": "maxUploadSizes",
                    "desc": "List of max upload sizes for each file type. The most specific type takes precedence.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "type",
                            "desc": "The file type.",
                            "type": "string"
                        },
                        {
                            "name": "size",
                            "desc": "The max upload size for this type.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "name",
                    "desc": "The name of the current user.",
                    "type": "string"
                },
                {
                    "name": "permissionId",
                    "desc": "The current user's ID as visible in the permissions collection.",
                    "type": "string"
                },
                {
                    "name": "quotaType",
                    "desc": "The type of the user's storage quota. Possible values are:  \n- LIMITED \n- UNLIMITED",
                    "type": "string"
                },
                {
                    "name": "rootFolderId",
                    "desc": "The id of the root folder.",
                    "type": "string"
                },
                {
                    "name": "domainSharingPolicy",
                    "desc": "The domain sharing policy for the current user. Possible values are:  \n- allowed \n- allowedWithWarning \n- incomingOnly \n- disallowed",
                    "type": "string"
                },
                {
                    "name": "exportFormats",
                    "desc": "The allowable export formats.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "source",
                            "desc": "The content type to convert from.",
                            "type": "string"
                        },
                        {
                            "name": "targets",
                            "desc": "The possible content types to convert to.",
                            "collection": "array",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "features",
                    "desc": "List of additional features enabled on this account.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "featureName",
                            "desc": "The name of the feature.",
                            "type": "string"
                        },
                        {
                            "name": "featureRate",
                            "desc": "The request limit rate for this feature, in queries per second.",
                            "type": "float64"
                        }
                    ]
                },
                {
                    "name": "largestChangeId",
                    "desc": "The largest change id.",
                    "type": "int64"
                },
                {
                    "name": "quotaBytesUsedAggregate",
                    "desc": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
                    "type": "int64"
                },
                {
                    "name": "quotaBytesUsedInTrash",
                    "desc": "The number of quota bytes used by trashed items.",
                    "type": "int64"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this item.",
                    "type": "string"
                },
                {
                    "name": "additionalRoleInfo",
                    "desc": "Information about supported additional roles per file type. The most specific type takes precedence.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "roleSets",
                            "desc": "The supported additional roles per primary role.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "additionalRoles",
                                    "desc": "The supported additional roles with the primary role.",
                                    "collection": "array",
                                    "type": "string"
                                },
                                {
                                    "name": "primaryRole",
                                    "desc": "A primary permission role.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "type",
                            "desc": "The content type that this additional role info applies to.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "etag",
                    "desc": "The ETag of the item.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#about.",
                    "type": "string",
                    "default": "drive#about"
                }
            ]
        },
        {
            "name": "Change",
            "desc": "Representation of a change to a file or Team Drive.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "The type of the change. Possible values are file and teamDrive.",
                    "type": "string"
                },
                {
                    "name": "deleted",
                    "desc": "Whether the file or Team Drive has been removed from this list of changes, for example by deletion or loss of access.",
                    "type": "bool"
                },
                {
                    "name": "file",
                    "desc": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.",
                    "type": "ref",
                    "refType": "File"
                },
                {
                    "name": "id",
                    "desc": "The ID of the change.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#change.",
                    "type": "string",
                    "default": "drive#change"
                },
                {
                    "name": "modificationDate",
                    "desc": "The time of this modification.",
                    "type": "datetime"
                },
                {
                    "name": "teamDrive",
                    "desc": "The updated state of the Team Drive. Present if the type is teamDrive, the user is still a member of the Team Drive, and the Team Drive has not been deleted.",
                    "type": "ref",
                    "refType": "TeamDrive"
                },
                {
                    "name": "teamDriveId",
                    "desc": "The ID of the Team Drive associated with this change.",
                    "type": "string"
                },
                {
                    "name": "fileId",
                    "desc": "The ID of the file associated with this change.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this change.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ParentList",
            "desc": "A list of a file's parents.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "The ETag of the list.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The list of parents.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ParentReference"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#parentList.",
                    "type": "string",
                    "default": "drive#parentList"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Property",
            "desc": "A key-value pair attached to a file that is either public or private to an application.\nThe following limits apply to file properties:  \n- Maximum of 100 properties total per file\n- Maximum of 30 private properties per app\n- Maximum of 30 public properties\n- Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The value of this property.",
                    "type": "string"
                },
                {
                    "name": "visibility",
                    "desc": "The visibility of this property.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the property.",
                    "type": "string"
                },
                {
                    "name": "key",
                    "desc": "The key of this property.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#property.",
                    "type": "string",
                    "default": "drive#property"
                },
                {
                    "name": "selfLink",
                    "desc": "The link back to this property.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ChangeList",
            "desc": "A list of changes for a user.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "The ETag of the list.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Change"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#changeList.",
                    "type": "string",
                    "default": "drive#changeList"
                },
                {
                    "name": "largestChangeId",
                    "desc": "The current largest change ID.",
                    "type": "int64"
                },
                {
                    "name": "newStartPageToken",
                    "desc": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
                    "type": "string"
                },
                {
                    "name": "nextLink",
                    "desc": "A link to the next page of changes.",
                    "type": "string"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Channel",
            "desc": "An notification channel used to watch for resource changes.",
            "type": "object",
            "fields": [
                {
                    "name": "resourceId",
                    "desc": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
                    "type": "string"
                },
                {
                    "name": "token",
                    "desc": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of delivery mechanism used for this channel.",
                    "type": "string"
                },
                {
                    "name": "address",
                    "desc": "The address where notifications are delivered for this channel.",
                    "type": "string"
                },
                {
                    "name": "expiration",
                    "desc": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
                    "type": "int64"
                },
                {
                    "name": "id",
                    "desc": "A UUID or similar unique string that identifies this channel.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
                    "type": "string",
                    "default": "api#channel"
                },
                {
                    "name": "params",
                    "desc": "Additional parameters controlling delivery channel behavior. Optional.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "payload",
                    "desc": "A Boolean value to indicate whether payload is wanted. Optional.",
                    "type": "bool"
                },
                {
                    "name": "resourceUri",
                    "desc": "A version-specific identifier for the watched resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CommentReplyList",
            "desc": "A list of replies to a comment on a file in Google Drive.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CommentReply"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#commentReplyList.",
                    "type": "string",
                    "default": "drive#commentReplyList"
                },
                {
                    "name": "nextLink",
                    "desc": "A link to the next page of replies.",
                    "type": "string"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "File",
            "desc": "The metadata for a file.",
            "type": "object",
            "fields": [
                {
                    "name": "indexableText",
                    "desc": "Indexable text attributes for the file (can only be written)",
                    "type": "object",
                    "fields": [
                        {
                            "name": "text",
                            "desc": "The text to be indexed for this file.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "shareable",
                    "desc": "Whether the file's sharing settings can be modified by the current user. Deprecated: use capabilities/canShare.",
                    "type": "bool"
                },
                {
                    "name": "capabilities",
                    "desc": "Capabilities the current user has on the file. Each capability corresponds to a fine-grained action that a user may take.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "canComment",
                            "desc": "Whether the current user can comment on the file.",
                            "type": "bool"
                        },
                        {
                            "name": "canDownload",
                            "desc": "Whether the file can be downloaded by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canReadRevisions",
                            "desc": "Whether the current user has read access to the Revisions resource of the file. For a Team Drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
                            "type": "bool"
                        },
                        {
                            "name": "canAddChildren",
                            "desc": "Whether the current user can add children to this folder. This is always false when the item is not a folder.",
                            "type": "bool"
                        },
                        {
                            "name": "canEdit",
                            "desc": "Whether the file can be edited by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canListChildren",
                            "desc": "Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
                            "type": "bool"
                        },
                        {
                            "name": "canReadTeamDrive",
                            "desc": "Whether the current user has read access to the Team Drive to which this file belongs. Only populated for Team Drive files.",
                            "type": "bool"
                        },
                        {
                            "name": "canUntrash",
                            "desc": "Whether the file can be restored from the trash by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canCopy",
                            "desc": "Whether the file can be copied by the current user. For a Team Drive item, whether non-folder descendants of this item, or this item itself if it is not a folder, can be copied.",
                            "type": "bool"
                        },
                        {
                            "name": "canMoveItemIntoTeamDrive",
                            "desc": "Whether the current user can move this item into a Team Drive. If the item is in a Team Drive, this field is equivalent to canMoveTeamDriveItem.",
                            "type": "bool"
                        },
                        {
                            "name": "canRename",
                            "desc": "Whether the file can be renamed by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canTrash",
                            "desc": "Whether the file can be trashed by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canDelete",
                            "desc": "Whether the file can be deleted by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canRemoveChildren",
                            "desc": "Whether the current user can remove children from this folder. This is always false when the item is not a folder.",
                            "type": "bool"
                        },
                        {
                            "name": "canShare",
                            "desc": "Whether the file's sharing settings can be modified by the current user.",
                            "type": "bool"
                        },
                        {
                            "name": "canMoveTeamDriveItem",
                            "desc": "Whether the current user can move this Team Drive item by changing its parent. Note that a request to change the parent for this item may still fail depending on the new parent that is being added. Only populated for Team Drive files.",
                            "type": "bool"
                        }
                    ]
                },
                {
                    "name": "hasAugmentedPermissions",
                    "desc": "Whether any users are granted file access directly on this file. This field is only populated for Team Drive files.",
                    "type": "bool"
                },
                {
                    "name": "properties",
                    "desc": "The list of properties.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Property"
                },
                {
                    "name": "quotaBytesUsed",
                    "desc": "The number of quota bytes used by this file.",
                    "type": "int64"
                },
                {
                    "name": "webViewLink",
                    "desc": "A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting.",
                    "type": "string"
                },
                {
                    "name": "permissions",
                    "desc": "The list of permissions for users with access to this file. Not populated for Team Drive files.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Permission"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this file.",
                    "type": "string"
                },
                {
                    "name": "shared",
                    "desc": "Whether the file has been shared. Not populated for Team Drive files.",
                    "type": "bool"
                },
                {
                    "name": "userPermission",
                    "desc": "The permissions for the authenticated user on this file.",
                    "type": "ref",
                    "refType": "Permission"
                },
                {
                    "name": "openWithLinks",
                    "desc": "A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "mimeType",
                    "desc": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type.",
                    "type": "string"
                },
                {
                    "name": "trashedDate",
                    "desc": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for Team Drive files.",
                    "type": "datetime"
                },
                {
                    "name": "canReadRevisions",
                    "desc": "Whether the current user has read access to the Revisions resource of the file. Deprecated: use capabilities/canReadRevisions.",
                    "type": "bool"
                },
                {
                    "name": "sharingUser",
                    "desc": "User that shared the item with the current user, if available.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "canComment",
                    "desc": "Whether the current user can comment on the file. Deprecated: use capabilities/canComment.",
                    "type": "bool"
                },
                {
                    "name": "fullFileExtension",
                    "desc": "The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files.",
                    "type": "string"
                },
                {
                    "name": "hasThumbnail",
                    "desc": "Whether this file has a thumbnail.",
                    "type": "bool"
                },
                {
                    "name": "labels",
                    "desc": "A group of labels for the file.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "trashed",
                            "desc": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files.",
                            "type": "bool"
                        },
                        {
                            "name": "viewed",
                            "desc": "Whether this file has been viewed by this user.",
                            "type": "bool"
                        },
                        {
                            "name": "hidden",
                            "desc": "Deprecated.",
                            "type": "bool"
                        },
                        {
                            "name": "modified",
                            "desc": "Whether the file has been modified by this user.",
                            "type": "bool"
                        },
                        {
                            "name": "restricted",
                            "desc": "Whether viewers and commenters are prevented from downloading, printing, and copying this file.",
                            "type": "bool"
                        },
                        {
                            "name": "starred",
                            "desc": "Whether this file is starred by the user.",
                            "type": "bool"
                        }
                    ]
                },
                {
                    "name": "markedViewedByMeDate",
                    "desc": "Deprecated.",
                    "type": "datetime"
                },
                {
                    "name": "modifiedDate",
                    "desc": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set.",
                    "type": "datetime"
                },
                {
                    "name": "trashingUser",
                    "desc": "If the file has been explicitly trashed, the user who trashed it. Only populated for Team Drive files.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "videoMediaMetadata",
                    "desc": "Metadata about video media. This will only be present for video types.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "durationMillis",
                            "desc": "The duration of the video in milliseconds.",
                            "type": "int64"
                        },
                        {
                            "name": "height",
                            "desc": "The height of the video in pixels.",
                            "type": "int32"
                        },
                        {
                            "name": "width",
                            "desc": "The width of the video in pixels.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "embedLink",
                    "desc": "A link for embedding the file.",
                    "type": "string"
                },
                {
                    "name": "defaultOpenWithLink",
                    "desc": "A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used.",
                    "type": "string"
                },
                {
                    "name": "editable",
                    "desc": "Whether the file can be edited by the current user. Deprecated: use capabilities/canEdit.",
                    "type": "bool"
                },
                {
                    "name": "imageMediaMetadata",
                    "desc": "Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "cameraModel",
                            "desc": "The model of the camera used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "height",
                            "desc": "The height of the image in pixels.",
                            "type": "int32"
                        },
                        {
                            "name": "isoSpeed",
                            "desc": "The ISO speed used to create the photo.",
                            "type": "int32"
                        },
                        {
                            "name": "lens",
                            "desc": "The lens used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "cameraMake",
                            "desc": "The make of the camera used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "exposureBias",
                            "desc": "The exposure bias of the photo (APEX value).",
                            "type": "float32"
                        },
                        {
                            "name": "exposureMode",
                            "desc": "The exposure mode used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "location",
                            "desc": "Geographic location information stored in the image.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "longitude",
                                    "desc": "The longitude stored in the image.",
                                    "type": "float64"
                                },
                                {
                                    "name": "altitude",
                                    "desc": "The altitude stored in the image.",
                                    "type": "float64"
                                },
                                {
                                    "name": "latitude",
                                    "desc": "The latitude stored in the image.",
                                    "type": "float64"
                                }
                            ]
                        },
                        {
                            "name": "meteringMode",
                            "desc": "The metering mode used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "width",
                            "desc": "The width of the image in pixels.",
                            "type": "int32"
                        },
                        {
                            "name": "aperture",
                            "desc": "The aperture used to create the photo (f-number).",
                            "type": "float32"
                        },
                        {
                            "name": "date",
                            "desc": "The date and time the photo was taken (EXIF format timestamp).",
                            "type": "string"
                        },
                        {
                            "name": "rotation",
                            "desc": "The rotation in clockwise degrees from the image's original orientation.",
                            "type": "int32"
                        },
                        {
                            "name": "subjectDistance",
                            "desc": "The distance to the subject of the photo, in meters.",
                            "type": "int32"
                        },
                        {
                            "name": "colorSpace",
                            "desc": "The color space of the photo.",
                            "type": "string"
                        },
                        {
                            "name": "exposureTime",
                            "desc": "The length of the exposure, in seconds.",
                            "type": "float32"
                        },
                        {
                            "name": "flashUsed",
                            "desc": "Whether a flash was used to create the photo.",
                            "type": "bool"
                        },
                        {
                            "name": "focalLength",
                            "desc": "The focal length used to create the photo, in millimeters.",
                            "type": "float32"
                        },
                        {
                            "name": "maxApertureValue",
                            "desc": "The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
                            "type": "float32"
                        },
                        {
                            "name": "sensor",
                            "desc": "The type of sensor used to create the photo.",
                            "type": "string"
                        },
                        {
                            "name": "whiteBalance",
                            "desc": "The white balance mode used to create the photo.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "modifiedByMeDate",
                    "desc": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
                    "type": "datetime"
                },
                {
                    "name": "alternateLink",
                    "desc": "A link for opening the file in a relevant Google editor or viewer.",
                    "type": "string"
                },
                {
                    "name": "fileSize",
                    "desc": "The size of the file in bytes. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files.",
                    "type": "int64"
                },
                {
                    "name": "md5Checksum",
                    "desc": "An MD5 checksum for the content of this file. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files.",
                    "type": "string"
                },
                {
                    "name": "originalFilename",
                    "desc": "The original filename of the uploaded content if available, or else the original value of the title field. This is only available for files with binary content in Drive.",
                    "type": "string"
                },
                {
                    "name": "thumbnailLink",
                    "desc": "A short-lived link to the file's thumbnail. Typically lasts on the order of hours. Only populated when the requesting app can access the file's content.",
                    "type": "string"
                },
                {
                    "name": "thumbnailVersion",
                    "desc": "The thumbnail version for use in thumbnail cache invalidation.",
                    "type": "int64"
                },
                {
                    "name": "createdDate",
                    "desc": "Create time for this file (formatted RFC 3339 timestamp).",
                    "type": "datetime"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the file.",
                    "type": "string"
                },
                {
                    "name": "headRevisionId",
                    "desc": "The ID of the file's head revision. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files.",
                    "type": "string"
                },
                {
                    "name": "owners",
                    "desc": "The owner(s) of this file. Not populated for Team Drive files.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "downloadUrl",
                    "type": "string"
                },
                {
                    "name": "fileExtension",
                    "desc": "The final component of fullFileExtension with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Drive; it is not populated for Google Docs or shortcut files.",
                    "type": "string"
                },
                {
                    "name": "ownerNames",
                    "desc": "Name(s) of the owner(s) of this file. Not populated for Team Drive files.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "exportLinks",
                    "desc": "Links for exporting Google Docs to specific formats.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "lastModifyingUserName",
                    "desc": "Name of the last user to modify this file.",
                    "type": "string"
                },
                {
                    "name": "ownedByMe",
                    "desc": "Whether the file is owned by the current user. Not populated for Team Drive files.",
                    "type": "bool"
                },
                {
                    "name": "spaces",
                    "desc": "The list of spaces which contain the file. Supported values are 'drive', 'appDataFolder' and 'photos'.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "The title of this file. Note that for immutable items such as the top level folders of Team Drives, My Drive root folder, and Application Data folder the title is constant.",
                    "type": "string"
                },
                {
                    "name": "writersCanShare",
                    "desc": "Whether writers can share the document with other users. Not populated for Team Drive files.",
                    "type": "bool"
                },
                {
                    "name": "copyable",
                    "desc": "Whether the file can be copied by the current user. Deprecated: use capabilities/canCopy.",
                    "type": "bool"
                },
                {
                    "name": "id",
                    "desc": "The ID of the file.",
                    "type": "string"
                },
                {
                    "name": "appDataContents",
                    "desc": "Whether this file is in the Application Data folder.",
                    "type": "bool"
                },
                {
                    "name": "iconLink",
                    "desc": "A link to the file's icon.",
                    "type": "string"
                },
                {
                    "name": "isAppAuthorized",
                    "desc": "Whether the file was created or opened by the requesting app.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "The type of file. This is always drive#file.",
                    "type": "string",
                    "default": "drive#file"
                },
                {
                    "name": "lastViewedByMeDate",
                    "desc": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
                    "type": "datetime"
                },
                {
                    "name": "parents",
                    "desc": "Collection of parent folders which contain this file.\nSetting this field will put the file in all of the provided folders. On insert, if no folders are provided, the file will be placed in the default root folder.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ParentReference"
                },
                {
                    "name": "teamDriveId",
                    "desc": "ID of the Team Drive the file resides in.",
                    "type": "string"
                },
                {
                    "name": "thumbnail",
                    "desc": "A thumbnail for the file. This will only be used if Drive cannot generate a standard thumbnail.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "image",
                            "desc": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
                            "type": "byte"
                        },
                        {
                            "name": "mimeType",
                            "desc": "The MIME type of the thumbnail.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "explicitlyTrashed",
                    "desc": "Whether this file has been explicitly trashed, as opposed to recursively trashed.",
                    "type": "bool"
                },
                {
                    "name": "version",
                    "desc": "A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user.",
                    "type": "int64"
                },
                {
                    "name": "lastModifyingUser",
                    "desc": "The last user to modify this file.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "sharedWithMeDate",
                    "desc": "Time at which this file was shared with the user (formatted RFC 3339 timestamp).",
                    "type": "datetime"
                },
                {
                    "name": "folderColorRgb",
                    "desc": "Folder color as an RGB hex string if the file is a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette. Not populated for Team Drive files.",
                    "type": "string"
                },
                {
                    "name": "webContentLink",
                    "desc": "A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "A short description of the file.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PermissionList",
            "desc": "A list of permissions associated with a file.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "The ETag of the list.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The list of permissions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Permission"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#permissionList.",
                    "type": "string",
                    "default": "drive#permissionList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "A link back to this list.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "StartPageToken",
            "type": "object",
            "fields": [
                {
                    "name": "startPageToken",
                    "desc": "The starting page token for listing changes.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"drive#startPageToken\".",
                    "type": "string",
                    "default": "drive#startPageToken"
                }
            ]
        },
        {
            "name": "TeamDriveList",
            "desc": "A list of Team Drives.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of Team Drives.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TeamDrive"
                },
                {
                    "name": "kind",
                    "desc": "This is always drive#teamDriveList",
                    "type": "string",
                    "default": "drive#teamDriveList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The page token for the next page of Team Drives.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "properties",
            "methods": [
                {
[...]
