{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "cloudbuild:v1",
    "name": "cloudbuild",
    "version": "v1",
    "title": "Google Cloud Container Builder API",
    "description": "Builds container images in the cloud.",
    "documentationLink": "https://cloud.google.com/container-builder/docs/",
    "protocol": "rest",
    "rootUrl": "https://cloudbuild.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "CancelBuildRequest",
            "desc": "Request to cancel an ongoing build.",
            "type": "object"
        },
        {
            "name": "ListBuildsResponse",
            "desc": "Response including listed builds.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Token to receive the next page of results.",
                    "type": "string"
                },
                {
                    "name": "builds",
                    "desc": "Builds will be sorted by create_time, descending.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Build"
                }
            ]
        },
        {
            "name": "Source",
            "desc": "Source describes the location of the source in a supported storage\nservice.",
            "type": "object",
            "fields": [
                {
                    "name": "storageSource",
                    "desc": "If provided, get the source from this location in in Google Cloud\nStorage.",
                    "type": "ref",
                    "refType": "StorageSource"
                },
                {
                    "name": "repoSource",
                    "desc": "If provided, get source from this location in a Cloud Repo.",
                    "type": "ref",
                    "refType": "RepoSource"
                }
            ]
        },
        {
            "name": "Results",
            "desc": "Results describes the artifacts created by the build pipeline.",
            "type": "object",
            "fields": [
                {
                    "name": "images",
                    "desc": "Images that were built as a part of the build.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BuiltImage"
                },
                {
                    "name": "buildStepImages",
                    "desc": "List of build step digests, in order corresponding to build step indices.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Operation",
            "desc": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
            "type": "object",
            "fields": [
                {
                    "name": "done",
                    "desc": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
                    "type": "bool"
                },
                {
                    "name": "response",
                    "desc": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "name",
                    "desc": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                    "type": "string"
                },
                {
                    "name": "error",
                    "desc": "The error result of the operation in case of failure or cancellation.",
                    "type": "ref",
                    "refType": "Status"
                },
                {
                    "name": "metadata",
                    "desc": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                    "collection": "map",
                    "type": "any"
                }
            ]
        },
        {
            "name": "BuiltImage",
            "desc": "BuiltImage describes an image built by the pipeline.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Name used to push the container image to Google Container Registry, as\npresented to `docker push`.",
                    "type": "string"
                },
                {
                    "name": "digest",
                    "desc": "Docker Registry 2.0 digest.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FileHashes",
            "desc": "Container message for hashes of byte content of files, used in\nSourceProvenance messages to verify integrity of source input to the build.",
            "type": "object",
            "fields": [
                {
                    "name": "fileHash",
                    "desc": "Collection of file hashes.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Hash"
                }
            ]
        },
        {
            "name": "Empty",
            "desc": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "type": "object"
        },
        {
            "name": "BuildTrigger",
            "desc": "Configuration for an automated build in response to source repository\nchanges.",
            "type": "object",
            "fields": [
                {
                    "name": "triggerTemplate",
                    "desc": "Template describing the types of source changes to trigger a build.\n\nBranch and tag names in trigger templates are interpreted as regular\nexpressions. Any branch or tag change that matches that regular expression\nwill trigger a build.",
                    "type": "ref",
                    "refType": "RepoSource"
                },
                {
                    "name": "filename",
                    "desc": "Path, from the source root, to a file whose contents is used for the\ntemplate.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier of the trigger.\n\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "build",
                    "desc": "Contents of the build template.",
                    "type": "ref",
                    "refType": "Build"
                },
                {
                    "name": "substitutions",
                    "desc": "Substitutions data for Build resource.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "Human-readable description of this trigger.",
                    "type": "string"
                },
                {
                    "name": "disabled",
                    "desc": "If true, the trigger will never result in a build.",
                    "type": "bool"
                },
                {
                    "name": "createTime",
                    "desc": "Time when the trigger was created.\n\n@OutputOnly",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "Build",
            "desc": "A build resource in the Container Builder API.\n\nAt a high level, a Build describes where to find source code, how to build\nit (for example, the builder image to run on the source), and what tag to\napply to the built image when it is pushed to Google Container Registry.\n\nFields can include the following variables which will be expanded when the\nbuild is created:\n\n- $PROJECT_ID: the project ID of the build.\n- $BUILD_ID: the autogenerated ID of the build.\n- $REPO_NAME: the source repository name specified by RepoSource.\n- $BRANCH_NAME: the branch name specified by RepoSource.\n- $TAG_NAME: the tag name specified by RepoSource.\n- $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or\n  resolved from the specified branch or tag.",
            "type": "object",
            "fields": [
                {
                    "name": "buildTriggerId",
                    "desc": "The ID of the BuildTrigger that triggered this build, if it was\ntriggered automatically.\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "projectId",
                    "desc": "ID of the project.\n@OutputOnly.",
                    "type": "string"
                },
                {
                    "name": "steps",
                    "desc": "Describes the operations to be performed on the workspace.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BuildStep"
                },
                {
                    "name": "source",
                    "desc": "Describes where to find the source files to build.",
                    "type": "ref",
                    "refType": "Source"
                },
                {
                    "name": "createTime",
                    "desc": "Time at which the request to create the build was received.\n@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "logUrl",
                    "desc": "URL to logs for this build in Google Cloud Logging.\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "options",
                    "desc": "Special options for this build.",
                    "type": "ref",
                    "refType": "BuildOptions"
                },
                {
                    "name": "startTime",
                    "desc": "Time at which execution of the build was started.\n@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "sourceProvenance",
                    "desc": "A permanent fixed identifier for source.\n@OutputOnly",
                    "type": "ref",
                    "refType": "SourceProvenance"
                },
                {
                    "name": "finishTime",
                    "desc": "Time at which execution of the build was finished.\n\nThe difference between finish_time and start_time is the duration of the\nbuild's execution.\n@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "logsBucket",
                    "desc": "Google Cloud Storage bucket where logs should be written (see\n[Bucket Name\nRequirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).\nLogs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "Status of the build.\n@OutputOnly",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STATUS_UNKNOWN",
                            "desc": "Status of the build is unknown."
                        },
                        {
                            "name": "QUEUED",
                            "desc": "Build is queued; work has not yet begun."
                        },
                        {
                            "name": "WORKING",
                            "desc": "Build is being executed."
                        },
                        {
                            "name": "SUCCESS",
                            "desc": "Build finished successfully."
                        },
                        {
                            "name": "FAILURE",
                            "desc": "Build failed to complete successfully."
                        },
                        {
                            "name": "INTERNAL_ERROR",
                            "desc": "Build failed due to an internal cause."
                        },
                        {
                            "name": "TIMEOUT",
                            "desc": "Build took longer than was allowed."
                        },
                        {
                            "name": "CANCELLED",
                            "desc": "Build was canceled by a user."
                        }
                    ]
                },
                {
                    "name": "statusDetail",
                    "desc": "Customer-readable message about the current status.\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "results",
                    "desc": "Results of the build.\n@OutputOnly",
                    "type": "ref",
                    "refType": "Results"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier of the build.\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "substitutions",
                    "desc": "Substitutions data for Build resource.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "images",
                    "desc": "A list of images to be pushed upon the successful completion of all build\nsteps.\n\nThe images will be pushed using the builder service account's credentials.\n\nThe digests of the pushed images will be stored in the Build resource's\nresults field.\n\nIf any of the images fail to be pushed, the build is marked FAILURE.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "timeout",
                    "desc": "Amount of time that this build should be allowed to run, to second\ngranularity. If this amount of time elapses, work on the build will cease\nand the build status will be TIMEOUT.\n\nDefault time is ten minutes.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListOperationsResponse",
            "desc": "The response message for Operations.ListOperations.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "The standard List next-page token.",
                    "type": "string"
                },
                {
                    "name": "operations",
                    "desc": "A list of operations that matches the specified filter in the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Operation"
                }
            ]
        },
        {
            "name": "RepoSource",
            "desc": "RepoSource describes the location of the source in a Google Cloud Source\nRepository.",
            "type": "object",
            "fields": [
                {
                    "name": "repoName",
                    "desc": "Name of the repo. If omitted, the name \"default\" is assumed.",
                    "type": "string"
                },
                {
                    "name": "branchName",
                    "desc": "Name of the branch to build.",
                    "type": "string"
                },
                {
                    "name": "tagName",
                    "desc": "Name of the tag to build.",
                    "type": "string"
                },
                {
                    "name": "commitSha",
                    "desc": "Explicit commit SHA to build.",
                    "type": "string"
                },
                {
                    "name": "projectId",
                    "desc": "ID of the project that owns the repo. If omitted, the project ID requesting\nthe build is assumed.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BuildStep",
            "desc": "BuildStep describes a step to perform in the build pipeline.",
            "type": "object",
            "fields": [
                {
                    "name": "args",
                    "desc": "A list of arguments that will be presented to the step when it is started.\n\nIf the image used to run the step's container has an entrypoint, these args\nwill be used as arguments to that entrypoint. If the image does not define\nan entrypoint, the first element in args will be used as the entrypoint,\nand the remainder will be used as arguments.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the container image that will run this particular build step.\n\nIf the image is already available in the host's Docker daemon's cache, it\nwill be run directly. If not, the host will attempt to pull the image\nfirst, using the builder service account's credentials if necessary.\n\nThe Docker daemon's cache will already have the latest versions of all of\nthe officially supported build steps\n(https://github.com/GoogleCloudPlatform/cloud-builders). The Docker daemon\nwill also have cached many of the layers for some popular images, like\n\"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to\nuse them.\n\nIf you built an image in a previous build step, it will be stored in the\nhost's Docker daemon's cache and is available to use as the name for a\nlater build step.",
                    "type": "string"
                },
                {
                    "name": "entrypoint",
                    "desc": "Optional entrypoint to be used instead of the build step image's default\nIf unset, the image's default will be used.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Optional unique identifier for this build step, used in wait_for to\nreference this build step as a dependency.",
                    "type": "string"
                },
                {
                    "name": "dir",
                    "desc": "Working directory (relative to project source root) to use when running\nthis operation's container.",
                    "type": "string"
                },
                {
                    "name": "waitFor",
                    "desc": "The ID(s) of the step(s) that this build step depends on.\nThis build step will not start until all the build steps in wait_for\nhave completed successfully. If wait_for is empty, this build step will\nstart when all previous build steps in the Build.Steps list have completed\nsuccessfully.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "env",
                    "desc": "A list of environment variable definitions to be used when running a step.\n\nThe elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\"\nbeing given the value \"VALUE\".",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SourceProvenance",
            "desc": "Provenance of the source. Ways to find the original source, or verify that\nsome source was used for this build.",
            "type": "object",
            "fields": [
                {
                    "name": "fileHashes",
                    "desc": "Hash(es) of the build source, which can be used to verify that the original\nsource integrity was maintained in the build. Note that FileHashes will\nonly be populated if BuildOptions has requested a SourceProvenanceHash.\n\nThe keys to this map are file paths used as build source and the values\ncontain the hash values for those files.\n\nIf the build source came in a single package such as a gzipped tarfile\n(.tar.gz), the FileHash will be for the single path to that file.\n@OutputOnly",
                    "collection": "map",
                    "type": "ref",
                    "refType": "FileHashes"
                },
                {
                    "name": "resolvedRepoSource",
                    "desc": "A copy of the build's source.repo_source, if exists, with any\nrevisions resolved.",
                    "type": "ref",
                    "refType": "RepoSource"
                },
                {
                    "name": "resolvedStorageSource",
                    "desc": "A copy of the build's source.storage_source, if exists, with any\ngenerations resolved.",
                    "type": "ref",
                    "refType": "StorageSource"
                }
            ]
        },
        {
            "name": "Hash",
            "desc": "Container message for hash values.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The hash value.",
                    "type": "byte"
                },
                {
                    "name": "type",
                    "desc": "The type of hash that was performed.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NONE",
                            "desc": "No hash requested."
                        },
                        {
                            "name": "SHA256",
                            "desc": "Use a sha256 hash."
                        }
                    ]
                }
            ]
        },
        {
            "name": "Status",
            "desc": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "type": "object",
            "fields": [
                {
                    "name": "details",
                    "desc": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                },
                {
                    "name": "code",
                    "desc": "The status code, which should be an enum value of google.rpc.Code.",
                    "type": "int32"
                },
                {
                    "name": "message",
                    "desc": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BuildOptions",
            "desc": "Optional arguments to enable specific features of builds.",
            "type": "object",
            "fields": [
                {
                    "name": "sourceProvenanceHash",
                    "desc": "Requested hash for SourceProvenance.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "requestedVerifyOption",
                    "desc": "Requested verifiability options.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NOT_VERIFIED",
                            "desc": "Not a verifiable build. (default)"
                        },
                        {
                            "name": "VERIFIED",
                            "desc": "Verified build."
                        }
                    ]
                }
            ]
        },
        {
            "name": "StorageSource",
            "desc": "StorageSource describes the location of the source in an archive file in\nGoogle Cloud Storage.",
            "type": "object",
            "fields": [
                {
                    "name": "generation",
                    "desc": "Google Cloud Storage generation for the object. If the generation is\nomitted, the latest generation will be used.",
                    "type": "int64"
                },
                {
                    "name": "bucket",
                    "desc": "Google Cloud Storage bucket containing source (see\n[Bucket Name\nRequirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
                    "type": "string"
                },
                {
                    "name": "object",
                    "desc": "Google Cloud Storage object containing source.\n\nThis object must be a gzipped archive file (.tar.gz) containing source to\nbuild.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BuildOperationMetadata",
            "desc": "Metadata for build operations.",
            "type": "object",
            "fields": [
                {
                    "name": "build",
                    "desc": "The build that the operation is tracking.",
                    "type": "ref",
                    "refType": "Build"
                }
            ]
        },
        {
            "name": "CancelOperationRequest",
            "desc": "The request message for Operations.CancelOperation.",
            "type": "object"
        },
        {
            "name": "ListBuildTriggersResponse",
            "desc": "Response containing existing BuildTriggers.",
            "type": "object",
            "fields": [
                {
                    "name": "triggers",
                    "desc": "BuildTriggers for the project, sorted by create_time descending.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BuildTrigger"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "operations",
            "methods": [
                {
                    "name": "cancel",
                    "desc": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
                    "path": "v1/{+name}:cancel",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The name of the operation resource to be cancelled.",
                            "required": true,
                            "type": "string",
                            "pattern": "^operations/.+$"
                        }
                    ],
                    "request": "CancelOperationRequest",
                    "response": "Empty"
                },
                {
                    "name": "list",
                    "desc": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding below allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`.",
                    "path": "v1/{+name}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The name of the operation collection.",
                            "required": true,
                            "type": "string",
                            "pattern": "^operations$"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "The standard list page token.",
                            "type": "string"
                        },
                        {
                            "name": "pageSize",
                            "desc": "The standard list page size.",
                            "type": "int32"
                        },
                        {
                            "name": "filter",
                            "desc": "The standard list filter.",
                            "type": "string"
                        }
                    ],
                    "response": "ListOperationsResponse"
                },
                {
                    "name": "get",
                    "desc": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                    "path": "v1/{+name}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "The name of the operation resource.",
                            "required": true,
                            "type": "string",
                            "pattern": "^operations/.+$"
                        }
                    ],
                    "response": "Operation"
                }
            ]
        },
        {
            "name": "projects",
            "resources": [
                {
                    "name": "triggers",
                    "methods": [
                        {
                            "name": "delete",
                            "desc": "Deletes an BuildTrigger by its project ID and trigger ID.\n\nThis API is experimental.",
                            "path": "v1/projects/{projectId}/triggers/{triggerId}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "projectId",
                                    "desc": "ID of the project that owns the trigger.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "triggerId",
                                    "desc": "ID of the BuildTrigger to delete.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "Empty"
                        },
                        {
                            "name": "get",
                            "desc": "Gets information about a BuildTrigger.\n\nThis API is experimental.",
                            "path": "v1/projects/{projectId}/triggers/{triggerId}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "projectId",
                                    "desc": "ID of the project that owns the trigger.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "triggerId",
                                    "desc": "ID of the BuildTrigger to get.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "BuildTrigger"
                        },
                        {
                            "name": "list",
                            "desc": "Lists existing BuildTrigger.\n\nThis API is experimental.",
                            "path": "v1/projects/{projectId}/triggers",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "projectId",
                                    "desc": "ID of the project for which to list BuildTriggers.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "ListBuildTriggersResponse"
                        },
                        {
                            "name": "patch",
                            "desc": "Updates an BuildTrigger by its project ID and trigger ID.\n\nThis API is experimental.",
                            "path": "v1/projects/{projectId}/triggers/{triggerId}",
                            "httpMethod": "PATCH",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "projectId",
                                    "desc": "ID of the project that owns the trigger.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "triggerId",
                                    "desc": "ID of the BuildTrigger to update.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "BuildTrigger",
                            "response": "BuildTrigger"
                        },
                        {
                            "name": "create",
                            "desc": "Creates a new BuildTrigger.\n\nThis API is experimental.",
                            "path": "v1/projects/{projectId}/triggers",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "projectId",
                                    "desc": "ID of the project for which to configure automatic builds.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "BuildTrigger",
                            "response": "BuildTrigger"
                        }
                    ]
                },
                {
                    "name": "builds",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "Lists previously requested builds.\n\nPreviously requested builds may still be in-progress, or may have finished\nsuccessfully or unsuccessfully.",
                            "path": "v1/projects/{projectId}/builds",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "projectId",
                                    "desc": "ID of the project.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageToken",
                                    "desc": "Token to provide to skip to a particular spot in the list.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "Number of results to return in the list.",
                                    "type": "int32"
                                },
                                {
                                    "name": "filter",
                                    "desc": "The raw filter text to constrain the results.",
                                    "type": "string"
                                }
                            ],
                            "response": "ListBuildsResponse"
                        },
                        {
                            "name": "create",
                            "desc": "Starts a build with the specified configuration.\n\nThe long-running Operation returned by this method will include the ID of\nthe build, which can be passed to GetBuild to determine its status (e.g.,\nsuccess or failure).",
                            "path": "v1/projects/{projectId}/builds",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "projectId",
                                    "desc": "ID of the project.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "Build",
                            "response": "Operation"
                        },
                        {
                            "name": "cancel",
                            "desc": "Cancels a requested build in progress.",
                            "path": "v1/projects/{projectId}/builds/{id}:cancel",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "projectId",
                                    "desc": "ID of the project.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "id",
                                    "desc": "ID of the build.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "CancelBuildRequest",
                            "response": "Build"
                        },
                        {
                            "name": "get",
                            "desc": "Returns information about a previously requested build.\n\nThe Build that is returned includes its status (e.g., success or failure,\nor in-progress), and timing information.",
                            "path": "v1/projects/{projectId}/builds/{id}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "projectId",
                                    "desc": "ID of the project.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "id",
                                    "desc": "ID of the build.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "Build"
                        }
                    ]
                }
            ]
        }
    ]
}