{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "monitoring:v3",
    "name": "monitoring",
    "version": "v3",
    "title": "Stackdriver Monitoring API",
    "description": "Manages your Stackdriver Monitoring data and configurations. Most projects must be associated with a Stackdriver account, with a few exceptions as noted on the individual method pages.",
    "documentationLink": "https://cloud.google.com/monitoring/api/",
    "protocol": "rest",
    "rootUrl": "https://monitoring.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/monitoring",
            "https://www.googleapis.com/auth/monitoring.write",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/monitoring.read"
        ]
    },
    "parameters": [
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "ListGroupMembersResponse",
            "desc": "The ListGroupMembers response.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
                    "type": "string"
                },
                {
                    "name": "totalSize",
                    "desc": "The total number of elements matching this request.",
                    "type": "int32"
                },
                {
                    "name": "members",
                    "desc": "A set of monitored resources in the group.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MonitoredResource"
                }
            ]
        },
        {
            "name": "CreateCollectdTimeSeriesRequest",
            "desc": "The CreateCollectdTimeSeries request.",
            "type": "object",
            "fields": [
                {
                    "name": "collectdVersion",
                    "desc": "The version of collectd that collected the data. Example: \"5.3.0-192.el6\".",
                    "type": "string"
                },
                {
                    "name": "resource",
                    "desc": "The monitored resource associated with the time series.",
                    "type": "ref",
                    "refType": "MonitoredResource"
                },
                {
                    "name": "collectdPayloads",
                    "desc": "The collectd payloads representing the time series data. You must not include more than a single point for each time series, so no two payloads can have the same values for all of the fields plugin, plugin_instance, type, and type_instance.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CollectdPayload"
                }
            ]
        },
        {
            "name": "ListMonitoredResourceDescriptorsResponse",
            "desc": "The ListMonitoredResourcDescriptors response.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
                    "type": "string"
                },
                {
                    "name": "resourceDescriptors",
                    "desc": "The monitored resource descriptors that are available to this project and that match filter, if present.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MonitoredResourceDescriptor"
                }
            ]
        },
        {
            "name": "TypedValue",
            "desc": "A single strongly-typed value.",
            "type": "object",
            "fields": [
                {
                    "name": "doubleValue",
                    "desc": "A 64-bit double-precision floating-point number. Its magnitude is approximately \u0026plusmn;10\u003csup\u003e\u0026plusmn;300\u003c/sup\u003e and it has 16 significant digits of precision.",
                    "type": "float64"
                },
                {
                    "name": "int64Value",
                    "desc": "A 64-bit integer. Its range is approximately \u0026plusmn;9.2x10\u003csup\u003e18\u003c/sup\u003e.",
                    "type": "int64"
                },
                {
                    "name": "distributionValue",
                    "desc": "A distribution value.",
                    "type": "ref",
                    "refType": "Distribution"
                },
                {
                    "name": "boolValue",
                    "desc": "A Boolean value: true or false.",
                    "type": "bool"
                },
                {
                    "name": "stringValue",
                    "desc": "A variable-length string value.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TimeInterval",
            "desc": "A time interval extending just after a start time through an end time. If the start time is the same as the end time, then the interval represents a single point in time.",
            "type": "object",
            "fields": [
                {
                    "name": "startTime",
                    "desc": "Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.",
                    "type": "datetime"
                },
                {
                    "name": "endTime",
                    "desc": "Required. The end of the time interval.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "TimeSeries",
            "desc": "A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series.",
            "type": "object",
            "fields": [
                {
                    "name": "valueType",
                    "desc": "The value type of the time series. When listing time series, this value type might be different from the value type of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the type of the data in the points field.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "VALUE_TYPE_UNSPECIFIED",
                            "desc": "Do not use this default value."
                        },
                        {
                            "name": "BOOL",
                            "desc": "The value is a boolean. This value type can be used only if the metric kind is GAUGE."
                        },
                        {
                            "name": "INT64",
                            "desc": "The value is a signed 64-bit integer."
                        },
                        {
                            "name": "DOUBLE",
                            "desc": "The value is a double precision floating point number."
                        },
                        {
                            "name": "STRING",
                            "desc": "The value is a text string. This value type can be used only if the metric kind is GAUGE."
                        },
                        {
                            "name": "DISTRIBUTION",
                            "desc": "The value is a Distribution."
                        },
                        {
                            "name": "MONEY",
                            "desc": "The value is money."
                        }
                    ]
                },
                {
                    "name": "resource",
                    "desc": "The associated resource. A fully-specified monitored resource used to identify the time series.",
                    "type": "ref",
                    "refType": "MonitoredResource"
                },
                {
                    "name": "metricKind",
                    "desc": "The metric kind of the time series. When listing time series, this metric kind might be different from the metric kind of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the metric kind of the associated metric. If the associated metric's descriptor must be auto-created, then this field specifies the metric kind of the new descriptor and must be either GAUGE (the default) or CUMULATIVE.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "METRIC_KIND_UNSPECIFIED",
                            "desc": "Do not use this default value."
                        },
                        {
                            "name": "GAUGE",
                            "desc": "An instantaneous measurement of a value."
                        },
                        {
                            "name": "DELTA",
                            "desc": "The change in a value during a time interval."
                        },
                        {
                            "name": "CUMULATIVE",
                            "desc": "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
                        }
                    ]
                },
                {
                    "name": "metric",
                    "desc": "The associated metric. A fully-specified metric used to identify the time series.",
                    "type": "ref",
                    "refType": "Metric"
                },
                {
                    "name": "points",
                    "desc": "The data points of this time series. When listing time series, the order of the points is specified by the list method.When creating a time series, this field must contain exactly one point and the point's type must be the same as the value type of the associated metric. If the associated metric's descriptor must be auto-created, then the value type of the descriptor is determined by the point's type, which must be BOOL, INT64, DOUBLE, or DISTRIBUTION.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Point"
                }
            ]
        },
        {
            "name": "CreateTimeSeriesRequest",
            "desc": "The CreateTimeSeries request.",
            "type": "object",
            "fields": [
                {
                    "name": "timeSeries",
                    "desc": "The new data to be added to a list of time series. Adds at most one data point to each of several time series. The new data point must be more recent than any other point in its time series. Each TimeSeries value must fully specify a unique time series by supplying all label values for the metric and the monitored resource.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TimeSeries"
                }
            ]
        },
        {
            "name": "Field",
            "desc": "A single field of a message type.",
            "type": "object",
            "fields": [
                {
                    "name": "oneofIndex",
                    "desc": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list.",
                    "type": "int32"
                },
                {
                    "name": "cardinality",
                    "desc": "The field cardinality.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CARDINALITY_UNKNOWN",
                            "desc": "For fields with unknown cardinality."
                        },
                        {
                            "name": "CARDINALITY_OPTIONAL",
                            "desc": "For optional fields."
                        },
                        {
                            "name": "CARDINALITY_REQUIRED",
                            "desc": "For required fields. Proto2 syntax only."
                        },
                        {
                            "name": "CARDINALITY_REPEATED",
                            "desc": "For repeated fields."
                        }
                    ]
                },
                {
                    "name": "name",
                    "desc": "The field name.",
                    "type": "string"
                },
                {
                    "name": "typeUrl",
                    "desc": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\".",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The field type.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "TYPE_UNKNOWN",
                            "desc": "Field type unknown."
                        },
                        {
                            "name": "TYPE_DOUBLE",
                            "desc": "Field type double."
                        },
                        {
                            "name": "TYPE_FLOAT",
                            "desc": "Field type float."
                        },
                        {
                            "name": "TYPE_INT64",
                            "desc": "Field type int64."
                        },
                        {
                            "name": "TYPE_UINT64",
                            "desc": "Field type uint64."
                        },
                        {
                            "name": "TYPE_INT32",
                            "desc": "Field type int32."
                        },
                        {
                            "name": "TYPE_FIXED64",
                            "desc": "Field type fixed64."
                        },
                        {
                            "name": "TYPE_FIXED32",
                            "desc": "Field type fixed32."
                        },
                        {
                            "name": "TYPE_BOOL",
                            "desc": "Field type bool."
                        },
                        {
                            "name": "TYPE_STRING",
                            "desc": "Field type string."
                        },
                        {
                            "name": "TYPE_GROUP",
                            "desc": "Field type group. Proto2 syntax only, and deprecated."
                        },
                        {
                            "name": "TYPE_MESSAGE",
                            "desc": "Field type message."
                        },
                        {
                            "name": "TYPE_BYTES",
                            "desc": "Field type bytes."
                        },
                        {
                            "name": "TYPE_UINT32",
                            "desc": "Field type uint32."
                        },
                        {
                            "name": "TYPE_ENUM",
                            "desc": "Field type enum."
                        },
                        {
                            "name": "TYPE_SFIXED32",
                            "desc": "Field type sfixed32."
                        },
                        {
                            "name": "TYPE_SFIXED64",
                            "desc": "Field type sfixed64."
                        },
                        {
                            "name": "TYPE_SINT32",
                            "desc": "Field type sint32."
                        },
                        {
                            "name": "TYPE_SINT64",
                            "desc": "Field type sint64."
                        }
                    ]
                },
                {
                    "name": "options",
                    "desc": "The protocol buffer options.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                },
                {
                    "name": "packed",
                    "desc": "Whether to use alternative packed wire representation.",
                    "type": "bool"
                },
                {
                    "name": "defaultValue",
                    "desc": "The string value of the default value of this field. Proto2 syntax only.",
                    "type": "string"
                },
                {
                    "name": "number",
                    "desc": "The field number.",
                    "type": "int32"
                },
                {
                    "name": "jsonName",
                    "desc": "The field JSON name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LabelDescriptor",
            "desc": "A description of a label.",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "A human-readable description for the label.",
                    "type": "string"
                },
                {
                    "name": "valueType",
                    "desc": "The type of data that can be assigned to the label.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STRING",
                            "desc": "A variable-length string. This is the default."
                        },
                        {
                            "name": "BOOL",
                            "desc": "Boolean; true or false."
                        },
                        {
                            "name": "INT64",
                            "desc": "A 64-bit signed integer."
                        }
                    ]
                },
                {
                    "name": "key",
                    "desc": "The label key.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Group",
            "desc": "The description of a dynamic collection of monitored resources. Each group has a filter that is matched against monitored resources and their associated metadata. If a group's filter matches an available monitored resource, then that resource is a member of that group. Groups can contain any number of monitored resources, and each monitored resource can be a member of any number of groups.Groups can be nested in parent-child hierarchies. The parentName field identifies an optional parent for each group. If a group has a parent, then the only monitored resources available to be matched by the group's filter are the resources contained in the parent group. In other words, a group contains the monitored resources that match its filter and the filters of all the group's ancestors. A group without a parent can contain any monitored resource.For example, consider an infrastructure running a set of instances with two user-defined tags: \"environment\" and \"role\". A parent group has a filter, environment=\"production\". A child of that parent group has a filter, role=\"transcoder\". The parent group contains all instances in the production environment, regardless of their roles. The child group contains instances that have the transcoder role and are in the production environment.The monitored resources contained in a group can change at any moment, depending on what resources exist and what filters are associated with the group and its ancestors.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Output only. The name of this group. The format is \"projects/{project_id_or_number}/groups/{group_id}\". When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique {group_id} that is generated automatically.",
                    "type": "string"
                },
                {
                    "name": "parentName",
                    "desc": "The name of the group's parent, if it has one. The format is \"projects/{project_id_or_number}/groups/{group_id}\". For groups with no parent, parentName is the empty string, \"\".",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "A user-assigned name for this group, used only for display purposes.",
                    "type": "string"
                },
                {
                    "name": "isCluster",
                    "desc": "If true, the members of this group are considered to be a cluster. The system can perform additional analysis on groups that are clusters.",
                    "type": "bool"
                },
                {
                    "name": "filter",
                    "desc": "The filter used to determine which monitored resources belong to this group.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BucketOptions",
            "desc": "A Distribution may optionally contain a histogram of the values in the population. The histogram is given in bucket_counts as counts of values that fall into one of a sequence of non-overlapping buckets. The sequence of buckets is described by bucket_options.A bucket specifies an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket is strictly greater than the lower bound.The sequence of N buckets for a Distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i \u003e 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.BucketOptions describes bucket boundaries in one of three ways. Two describe the boundaries by giving parameters for a formula to generate boundaries and one gives the bucket boundaries explicitly.If bucket_options is not given, then no bucket_counts may be given.",
            "type": "object",
            "fields": [
                {
                    "name": "exponentialBuckets",
                    "desc": "The exponential buckets.",
                    "type": "ref",
                    "refType": "Exponential"
                },
                {
                    "name": "linearBuckets",
                    "desc": "The linear bucket.",
                    "type": "ref",
                    "refType": "Linear"
                },
                {
                    "name": "explicitBuckets",
                    "desc": "The explicit buckets.",
                    "type": "ref",
                    "refType": "Explicit"
                }
            ]
        },
        {
            "name": "ListMetricDescriptorsResponse",
            "desc": "The ListMetricDescriptors response.",
            "type": "object",
            "fields": [
                {
                    "name": "metricDescriptors",
                    "desc": "The metric descriptors that are available to the project and that match the value of filter, if present.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MetricDescriptor"
                },
                {
                    "name": "nextPageToken",
                    "desc": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CollectdPayload",
            "desc": "A collection of data points sent from a collectd-based plugin. See the collectd documentation for more information.",
            "type": "object",
            "fields": [
                {
                    "name": "plugin",
                    "desc": "The name of the plugin. Example: \"disk\".",
                    "type": "string"
                },
                {
                    "name": "pluginInstance",
                    "desc": "The instance name of the plugin Example: \"hdcl\".",
                    "type": "string"
                },
                {
                    "name": "endTime",
                    "desc": "The end time of the interval.",
                    "type": "datetime"
                },
                {
                    "name": "startTime",
                    "desc": "The start time of the interval.",
                    "type": "datetime"
                },
                {
                    "name": "values",
                    "desc": "The measured values during this time interval. Each value must have a different dataSourceName.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CollectdValue"
                },
                {
                    "name": "typeInstance",
                    "desc": "The measurement type instance. Example: \"used\".",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The measurement type. Example: \"memory\".",
                    "type": "string"
                },
                {
                    "name": "metadata",
                    "desc": "The measurement metadata. Example: \"process_id\" -\u003e 12345",
                    "collection": "map",
                    "type": "ref",
                    "refType": "TypedValue"
                }
            ]
        },
        {
            "name": "Type",
            "desc": "A protocol buffer message type.",
            "type": "object",
            "fields": [
                {
                    "name": "fields",
                    "desc": "The list of fields.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Field"
                },
                {
                    "name": "name",
                    "desc": "The fully qualified message name.",
                    "type": "string"
                },
                {
                    "name": "oneofs",
                    "desc": "The list of types appearing in oneof definitions in this type.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "syntax",
                    "desc": "The source syntax.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SYNTAX_PROTO2",
                            "desc": "Syntax proto2."
                        },
                        {
                            "name": "SYNTAX_PROTO3",
                            "desc": "Syntax proto3."
                        }
                    ]
                },
                {
                    "name": "sourceContext",
                    "desc": "The source context.",
                    "type": "ref",
                    "refType": "SourceContext"
                },
                {
                    "name": "options",
                    "desc": "The protocol buffer options.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                }
            ]
        },
        {
            "name": "CollectdValue",
            "desc": "A single data point from a collectd-based plugin.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The measurement value.",
                    "type": "ref",
                    "refType": "TypedValue"
                },
                {
                    "name": "dataSourceType",
                    "desc": "The type of measurement.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "UNSPECIFIED_DATA_SOURCE_TYPE",
                            "desc": "An unspecified data source type. This corresponds to google.api.MetricDescriptor.MetricKind.METRIC_KIND_UNSPECIFIED."
                        },
                        {
                            "name": "GAUGE",
                            "desc": "An instantaneous measurement of a varying quantity. This corresponds to google.api.MetricDescriptor.MetricKind.GAUGE."
                        },
                        {
                            "name": "COUNTER",
                            "desc": "A cumulative value over time. This corresponds to google.api.MetricDescriptor.MetricKind.CUMULATIVE."
                        },
                        {
                            "name": "DERIVE",
                            "desc": "A rate of change of the measurement."
                        },
                        {
                            "name": "ABSOLUTE",
                            "desc": "An amount of change since the last measurement interval. This corresponds to google.api.MetricDescriptor.MetricKind.DELTA."
                        }
                    ]
                },
                {
                    "name": "dataSourceName",
                    "desc": "The data source for the collectd value. For example there are two data sources for network measurements: \"rx\" and \"tx\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MonitoredResource",
            "desc": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"instance_id\" and \"zone\":\n{ \"type\": \"gce_instance\",\n  \"labels\": { \"instance_id\": \"12345678901234\",\n              \"zone\": \"us-central1-a\" }}\n",
            "type": "object",
            "fields": [
                {
                    "name": "labels",
                    "desc": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Cloud SQL databases use the labels \"database_id\" and \"zone\".",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Cloud SQL database is \"cloudsql_database\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Empty",
            "desc": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty JSON object {}.",
            "type": "object"
        },
        {
            "name": "Explicit",
            "desc": "A set of buckets with arbitrary widths.Defines size(bounds) + 1 (= N) buckets with these boundaries for bucket i:Upper bound (0 \u003c= i \u003c N-1): boundsi  Lower bound (1 \u003c= i \u003c N); boundsi - 1There must be at least one element in bounds. If bounds has only one element, there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
            "type": "object",
            "fields": [
                {
                    "name": "bounds",
                    "desc": "The values must be monotonically increasing.",
                    "collection": "array",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "Exponential",
            "desc": "Specify a sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.Defines num_finite_buckets + 2 (= N) buckets with these boundaries for bucket i:Upper bound (0 \u003c= i \u003c N-1): scale * (growth_factor ^ i).  Lower bound (1 \u003c= i \u003c N): scale * (growth_factor ^ (i - 1)).",
            "type": "object",
            "fields": [
                {
                    "name": "growthFactor",
                    "desc": "Must be greater than 1.",
                    "type": "float64"
                },
                {
                    "name": "scale",
                    "desc": "Must be greater than 0.",
                    "type": "float64"
                },
                {
                    "name": "numFiniteBuckets",
                    "desc": "Must be greater than 0.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Range",
            "desc": "The range of the population values.",
            "type": "object",
            "fields": [
                {
                    "name": "min",
                    "desc": "The minimum of the population values.",
                    "type": "float64"
                },
                {
                    "name": "max",
                    "desc": "The maximum of the population values.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "Point",
            "desc": "A single data point in a time series.",
            "type": "object",
            "fields": [
                {
                    "name": "interval",
                    "desc": "The time interval to which the data point applies. For GAUGE metrics, only the end time of the interval is used. For DELTA metrics, the start and end time should specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For CUMULATIVE metrics, the start and end time should specify a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points.",
                    "type": "ref",
                    "refType": "TimeInterval"
                },
                {
                    "name": "value",
                    "desc": "The value of the data point.",
                    "type": "ref",
                    "refType": "TypedValue"
                }
            ]
        },
        {
            "name": "ListTimeSeriesResponse",
            "desc": "The ListTimeSeries response.",
            "type": "object",
            "fields": [
                {
                    "name": "timeSeries",
                    "desc": "One or more time series that match the filter included in the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TimeSeries"
                },
                {
                    "name": "nextPageToken",
                    "desc": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListGroupsResponse",
            "desc": "The ListGroups response.",
            "type": "object",
            "fields": [
                {
                    "name": "group",
                    "desc": "The groups that match the specified filters.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Group"
                },
                {
                    "name": "nextPageToken",
                    "desc": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MonitoredResourceDescriptor",
            "desc": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of \"gce_instance\" and specifies the use of the labels \"instance_id\" and \"zone\" to identify particular VM instances.Different APIs can support different monitored resource types. APIs generally provide a list method that returns the monitored resource descriptors used by the API.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Optional. The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\" where {type} is the value of the type field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\".",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, \"Google Cloud SQL Database\".",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "Optional. A detailed description of the monitored resource type that might be used in documentation.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Required. The monitored resource type. For example, the type \"cloudsql_database\" represents databases in Google Cloud SQL. The maximum length of this value is 256 characters.",
                    "type": "string"
                },
                {
                    "name": "labels",
                    "desc": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels \"database_id\" and \"zone\".",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LabelDescriptor"
                }
            ]
        },
        {
            "name": "Option",
            "desc": "A protocol buffer option, which can be attached to a message, field, enumeration, etc.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "name",
                    "desc": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SourceContext",
            "desc": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined.",
            "type": "object",
            "fields": [
                {
                    "name": "fileName",
                    "desc": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MetricDescriptor",
            "desc": "Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable.",
            "type": "object",
            "fields": [
                {
                    "name": "metricKind",
                    "desc": "Whether the metric records instantaneous values, changes to a value, etc. Some combinations of metric_kind and value_type might not be supported.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "METRIC_KIND_UNSPECIFIED",
                            "desc": "Do not use this default value."
                        },
                        {
                            "name": "GAUGE",
                            "desc": "An instantaneous measurement of a value."
                        },
                        {
                            "name": "DELTA",
                            "desc": "The change in a value during a time interval."
                        },
                        {
                            "name": "CUMULATIVE",
                            "desc": "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
                        }
                    ]
                },
                {
                    "name": "description",
                    "desc": "A detailed description of the metric, which can be used in documentation.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\".",
                    "type": "string"
                },
                {
                    "name": "unit",
                    "desc": "The unit in which the metric value is reported. It is only applicable if the value_type is INT64, DOUBLE, or DISTRIBUTION. The supported units are a subset of The Unified Code for Units of Measure (http://unitsofmeasure.org/ucum.html) standard:Basic units (UNIT)\nbit bit\nBy byte\ns second\nmin minute\nh hour\nd dayPrefixes (PREFIX)\nk kilo (10**3)\nM mega (10**6)\nG giga (10**9)\nT tera (10**12)\nP peta (10**15)\nE exa (10**18)\nZ zetta (10**21)\nY yotta (10**24)\nm milli (10**-3)\nu micro (10**-6)\nn nano (10**-9)\np pico (10**-12)\nf femto (10**-15)\na atto (10**-18)\nz zepto (10**-21)\ny yocto (10**-24)\nKi kibi (2**10)\nMi mebi (2**20)\nGi gibi (2**30)\nTi tebi (2**40)GrammarThe grammar includes the dimensionless unit 1, such as 1/s.The grammar also includes these connectors:\n/ division (as an infix operator, e.g. 1/s).\n. multiplication (as an infix operator, e.g. GBy.d)The grammar for a unit is as follows:\nExpression = Component { \".\" Component } { \"/\" Component } ;\n\nComponent = [ PREFIX ] UNIT [ Annotation ]\n          | Annotation\n          | \"1\"\n          ;\n\nAnnotation = \"{\" NAME \"}\" ;\nNotes:\nAnnotation is just a comment if it follows a UNIT and is  equivalent to 1 if it is used alone. For examples,  {requests}/s == 1/s, By{transmitted}/s == By/s.\nNAME is a sequence of non-blank printable ASCII characters not  containing '{' or '}'.",
                    "type": "string"
                },
                {
                    "name": "labels",
                    "desc": "The set of labels that can be used to describe a specific instance of this metric type. For example, the appengine.googleapis.com/http/server/response_latencies metric type has a label for the HTTP response code, response_code, so you can look at latencies for successful responses or just for responses that failed.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LabelDescriptor"
                },
                {
                    "name": "name",
                    "desc": "The resource name of the metric descriptor. Depending on the implementation, the name typically includes: (1) the parent resource name that defines the scope of the metric type or of its data; and (2) the metric's URL-encoded type, which also appears in the type field of this descriptor. For example, following is the resource name of a custom metric within the GCP project my-project-id:\n\"projects/my-project-id/metricDescriptors/custom.googleapis.com%2Finvoice%2Fpaid%2Famount\"\n",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined custom metric types have the DNS name custom.googleapis.com. Metric types should use a natural hierarchical grouping. For example:\n\"custom.googleapis.com/invoice/paid/amount\"\n\"appengine.googleapis.com/http/server/response_latencies\"\n",
                    "type": "string"
                },
                {
                    "name": "valueType",
                    "desc": "Whether the measurement is an integer, a floating-point number, etc. Some combinations of metric_kind and value_type might not be supported.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "VALUE_TYPE_UNSPECIFIED",
                            "desc": "Do not use this default value."
                        },
                        {
                            "name": "BOOL",
                            "desc": "The value is a boolean. This value type can be used only if the metric kind is GAUGE."
                        },
                        {
                            "name": "INT64",
                            "desc": "The value is a signed 64-bit integer."
                        },
                        {
                            "name": "DOUBLE",
                            "desc": "The value is a double precision floating point number."
                        },
                        {
                            "name": "STRING",
                            "desc": "The value is a text string. This value type can be used only if the metric kind is GAUGE."
                        },
                        {
                            "name": "DISTRIBUTION",
                            "desc": "The value is a Distribution."
                        },
                        {
                            "name": "MONEY",
                            "desc": "The value is money."
                        }
                    ]
                }
            ]
        },
        {
            "name": "Distribution",
            "desc": "Distribution contains summary statistics for a population of values and, optionally, a histogram representing the distribution of those values across a specified set of histogram buckets.The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values.The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by specifying parameters for a method of computing them (buckets of fixed width or buckets of exponentially increasing width).Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the mean and sum_of_squared_deviation fields meaningless.",
            "type": "object",
            "fields": [
                {
                    "name": "bucketCounts",
                    "desc": "If bucket_options is given, then the sum of the values in bucket_counts must equal the value in count. If bucket_options is not given, no bucket_counts fields may be given.Bucket counts are given in order under the numbering scheme described above (the underflow bucket has number 0; the finite buckets, if any, have numbers 1 through N-2; the overflow bucket has number N-1).The size of bucket_counts must be no greater than N as defined in bucket_options.Any suffix of trailing zero bucket_count fields may be omitted.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "bucketOptions",
                    "desc": "Defines the histogram bucket boundaries.",
                    "type": "ref",
                    "refType": "BucketOptions"
                },
                {
                    "name": "sumOfSquaredDeviation",
                    "desc": "The sum of squared deviations from the mean of the values in the population. For values x_i this is:\nSum[i=1..n]((x_i - mean)^2)\nKnuth, \"The Art of Computer Programming\", Vol. 2, page 323, 3rd edition describes Welford's method for accumulating this sum in one pass.If count is zero then this field must be zero.",
                    "type": "float64"
                },
                {
                    "name": "range",
                    "desc": "If specified, contains the range of the population values. The field must not be present if the count is zero. This field is presently ignored by the Stackdriver Monitoring API v3.",
                    "type": "ref",
                    "refType": "Range"
                },
                {
                    "name": "mean",
                    "desc": "The arithmetic mean of the values in the population. If count is zero then this field must be zero.",
                    "type": "float64"
                },
                {
                    "name": "count",
                    "desc": "The number of values in the population. Must be non-negative.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "Linear",
            "desc": "Specify a sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket.Defines num_finite_buckets + 2 (= N) buckets with these boundaries for bucket i:Upper bound (0 \u003c= i \u003c N-1): offset + (width * i).  Lower bound (1 \u003c= i \u003c N): offset + (width * (i - 1)).",
            "type": "object",
            "fields": [
                {
                    "name": "offset",
                    "desc": "Lower bound of the first bucket.",
                    "type": "float64"
                },
                {
                    "name": "numFiniteBuckets",
                    "desc": "Must be greater than 0.",
                    "type": "int32"
                },
                {
                    "name": "width",
                    "desc": "Must be greater than 0.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "Metric",
            "desc": "A specific metric, identified by specifying values for all of the labels of a MetricDescriptor.",
            "type": "object",
            "fields": [
                {
                    "name": "labels",
                    "desc": "The set of label values that uniquely identify this metric. All labels listed in the MetricDescriptor must be assigned values.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "An existing metric type, see google.api.MetricDescriptor. For example, custom.googleapis.com/invoice/paid/amount.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "projects",
            "resources": [
                {
                    "name": "timeSeries",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "Lists time series that match a filter. This method does not require a Stackdriver account.",
                            "path": "v3/{+name}/timeSeries",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "aggregation.crossSeriesReducer",
                                    "desc": "The approach to be used to combine time series. Not all reducer functions may be applied to all time series, depending on the metric type and the value type of the original time series. Reduction may change the metric type of value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.",
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "REDUCE_NONE"
                                        },
                                        {
                                            "name": "REDUCE_MEAN"
                                        },
                                        {
                                            "name": "REDUCE_MIN"
                                        },
                                        {
                                            "name": "REDUCE_MAX"
                                        },
                                        {
                                            "name": "REDUCE_SUM"
                                        },
                                        {
                                            "name": "REDUCE_STDDEV"
                                        },
                                        {
                                            "name": "REDUCE_COUNT"
                                        },
                                        {
                                            "name": "REDUCE_COUNT_TRUE"
                                        },
                                        {
                                            "name": "REDUCE_FRACTION_TRUE"
                                        },
                                        {
                                            "name": "REDUCE_PERCENTILE_99"
                                        },
                                        {
                                            "name": "REDUCE_PERCENTILE_95"
                                        },
                                        {
                                            "name": "REDUCE_PERCENTILE_50"
                                        },
                                        {
                                            "name": "REDUCE_PERCENTILE_05"
                                        }
                                    ]
                                },
                                {
                                    "name": "interval.startTime",
                                    "desc": "Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.",
                                    "type": "datetime"
                                },
                                {
                                    "name": "aggregation.groupByFields",
                                    "desc": "The set of fields to preserve when crossSeriesReducer is specified. The groupByFields determine how the time series are partitioned into subsets prior to applying the aggregation function. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The crossSeriesReducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in groupByFields are aggregated away. If groupByFields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If crossSeriesReducer is not defined, this field is ignored.",
                                    "type": "string"
                                },
                                {
                                    "name": "interval.endTime",
                                    "desc": "Required. The end of the time interval.",
                                    "type": "datetime"
                                },
                                {
                                    "name": "aggregation.alignmentPeriod",
                                    "desc": "The alignment period for per-time series alignment. If present, alignmentPeriod must be at least 60 seconds. After per-time series alignment, each time series will contain data points only on the period boundaries. If perSeriesAligner is not specified or equals ALIGN_NONE, then this field is ignored. If perSeriesAligner is specified and does not equal ALIGN_NONE, then this field must be defined; otherwise an error is returned.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "A positive number that is the maximum number of results to return. When view field sets to FULL, it limits the number of Points server will return; if view field is HEADERS, it limits the number of TimeSeries server will return.",
                                    "type": "int32"
                                },
                                {
                                    "name": "orderBy",
                                    "desc": "Specifies the order in which the points of the time series should be returned. By default, results are not ordered. Currently, this field must be left blank.",
                                    "type": "string"
                                },
                                {
                                    "name": "filter",
                                    "desc": "A monitoring filter that specifies which time series should be returned. The filter must specify a single metric type, and can additionally specify metric labels and other information. For example:\nmetric.type = \"compute.googleapis.com/instance/cpu/usage_time\" AND\n    metric.label.instance_name = \"my-instance-name\"\n",
                                    "type": "string"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                                    "type": "string"
                                },
                                {
                                    "name": "view",
                                    "desc": "Specifies which information is returned about the time series.",
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "FULL"
                                        },
                                        {
                                            "name": "HEADERS"
                                        }
                                    ]
                                },
                                {
                                    "name": "aggregation.perSeriesAligner",
                                    "desc": "The approach to be used to align individual time series. Not all alignment functions may be applied to all time series, depending on the metric type and value type of the original time series. Alignment may change the metric type or the value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.",
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "ALIGN_NONE"
                                        },
                                        {
                                            "name": "ALIGN_DELTA"
                                        },
                                        {
                                            "name": "ALIGN_RATE"
                                        },
                                        {
                                            "name": "ALIGN_INTERPOLATE"
                                        },
                                        {
                                            "name": "ALIGN_NEXT_OLDER"
                                        },
                                        {
                                            "name": "ALIGN_MIN"
                                        },
                                        {
                                            "name": "ALIGN_MAX"
                                        },
                                        {
                                            "name": "ALIGN_MEAN"
                                        },
                                        {
                                            "name": "ALIGN_COUNT"
                                        },
                                        {
                                            "name": "ALIGN_SUM"
                                        },
                                        {
                                            "name": "ALIGN_STDDEV"
                                        },
                                        {
                                            "name": "ALIGN_COUNT_TRUE"
                                        },
                                        {
                                            "name": "ALIGN_FRACTION_TRUE"
                                        },
                                        {
                                            "name": "ALIGN_PERCENTILE_99"
                                        },
                                        {
                                            "name": "ALIGN_PERCENTILE_95"
                                        },
                                        {
                                            "name": "ALIGN_PERCENTILE_50"
                                        },
                                        {
                                            "name": "ALIGN_PERCENTILE_05"
                                        }
                                    ]
                                }
                            ],
                            "response": "ListTimeSeriesResponse"
                        },
                        {
                            "name": "create",
                            "desc": "Creates or adds data to one or more time series. The response is empty if all time series in the request were written. If any time series could not be written, a corresponding failure message is included in the error response.",
                            "path": "v3/{+name}/timeSeries",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "request": "CreateTimeSeriesRequest",
                            "response": "Empty"
                        }
                    ]
                },
                {
                    "name": "metricDescriptors",
                    "methods": [
                        {
                            "name": "get",
                            "desc": "Gets a single metric descriptor. This method does not require a Stackdriver account.",
                            "path": "v3/{+name}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The metric descriptor on which to execute the request. The format is \"projects/{project_id_or_number}/metricDescriptors/{metric_id}\". An example value of {metric_id} is \"compute.googleapis.com/instance/disk/read_bytes_count\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/metricDescriptors/.+$"
                                }
                            ],
                            "response": "MetricDescriptor"
                        },
                        {
                            "name": "create",
                            "desc": "Creates a new metric descriptor. User-created metric descriptors define custom metrics.",
                            "path": "v3/{+name}/metricDescriptors",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "request": "MetricDescriptor",
                            "response": "MetricDescriptor"
                        },
                        {
                            "name": "delete",
                            "desc": "Deletes a metric descriptor. Only user-created custom metrics can be deleted.",
                            "path": "v3/{+name}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The metric descriptor on which to execute the request. The format is \"projects/{project_id_or_number}/metricDescriptors/{metric_id}\". An example of {metric_id} is: \"custom.googleapis.com/my_test_metric\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/metricDescriptors/.+$"
                                }
                            ],
                            "response": "Empty"
                        },
                        {
                            "name": "list",
                            "desc": "Lists metric descriptors that match a filter. This method does not require a Stackdriver account.",
                            "path": "v3/{+name}/metricDescriptors",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "filter",
                                    "desc": "If this field is empty, all custom and system-defined metric descriptors are returned. Otherwise, the filter specifies which metric descriptors are to be returned. For example, the following filter matches all custom metrics:\nmetric.type = starts_with(\"custom.googleapis.com/\")\n",
                                    "type": "string"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "A positive number that is the maximum number of results to return.",
                                    "type": "int32"
                                }
                            ],
                            "response": "ListMetricDescriptorsResponse"
                        }
                    ]
                },
                {
                    "name": "monitoredResourceDescriptors",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "Lists monitored resource descriptors that match a filter. This method does not require a Stackdriver account.",
                            "path": "v3/{+name}/monitoredResourceDescriptors",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The project on which to execute the request. The format is \"projects/{project_id_or_number}\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "filter",
                                    "desc": "An optional filter describing the descriptors to be returned. The filter can reference the descriptor's type and labels. For example, the following filter returns only Google Compute Engine descriptors that have an id label:\nresource.type = starts_with(\"gce_\") AND resource.label:id\n",
                                    "type": "string"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "A positive number that is the maximum number of results to return.",
                                    "type": "int32"
                                }
                            ],
                            "response": "ListMonitoredResourceDescriptorsResponse"
                        },
                        {
                            "name": "get",
                            "desc": "Gets a single monitored resource descriptor. This method does not require a Stackdriver account.",
                            "path": "v3/{+name}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The monitored resource descriptor to get. The format is \"projects/{project_id_or_number}/monitoredResourceDescriptors/{resource_type}\". The {resource_type} is a predefined type, such as cloudsql_database.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/monitoredResourceDescriptors/[^/]+$"
                                }
                            ],
                            "response": "MonitoredResourceDescriptor"
                        }
                    ]
                },
                {
                    "name": "groups",
                    "methods": [
                        {
                            "name": "get",
                            "desc": "Gets a single group.",
                            "path": "v3/{+name}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The group to retrieve. The format is \"projects/{project_id_or_number}/groups/{group_id}\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/groups/[^/]+$"
                                }
                            ],
                            "response": "Group"
                        },
                        {
                            "name": "update",
                            "desc": "Updates an existing group. You can change any group attributes except name.",
                            "path": "v3/{+name}",
                            "httpMethod": "PUT",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "Output only. The name of this group. The format is \"projects/{project_id_or_number}/groups/{group_id}\". When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique {group_id} that is generated automatically.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/groups/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "validateOnly",
                                    "desc": "If true, validate this request but do not update the existing group.",
                                    "type": "bool"
                                }
                            ],
                            "request": "Group",
                            "response": "Group"
                        },
                        {
                            "name": "create",
                            "desc": "Creates a new group.",
                            "path": "v3/{+name}/groups",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The project in which to create the group. The format is \"projects/{project_id_or_number}\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "validateOnly",
                                    "desc": "If true, validate this request but do not create the group.",
                                    "type": "bool"
                                }
                            ],
                            "request": "Group",
                            "response": "Group"
                        },
                        {
                            "name": "delete",
                            "desc": "Deletes an existing group.",
                            "path": "v3/{+name}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The group to delete. The format is \"projects/{project_id_or_number}/groups/{group_id}\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/groups/[^/]+$"
                                }
                            ],
                            "response": "Empty"
                        },
                        {
                            "name": "list",
                            "desc": "Lists the existing groups.",
                            "path": "v3/{+name}/groups",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The project whose groups are to be listed. The format is \"projects/{project_id_or_number}\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "descendantsOfGroup",
                                    "desc": "A group name: \"projects/{project_id_or_number}/groups/{group_id}\". Returns the descendants of the specified group. This is a superset of the results returned by the childrenOfGroup filter, and includes children-of-children, and so forth.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "A positive number that is the maximum number of results to return.",
                                    "type": "int32"
                                },
                                {
                                    "name": "ancestorsOfGroup",
                                    "desc": "A group name: \"projects/{project_id_or_number}/groups/{group_id}\". Returns groups that are ancestors of the specified group. The groups are returned in order, starting with the immediate parent and ending with the most distant ancestor. If the specified group has no immediate parent, the results are empty.",
                                    "type": "string"
                                },
                                {
                                    "name": "childrenOfGroup",
                                    "desc": "A group name: \"projects/{project_id_or_number}/groups/{group_id}\". Returns groups whose parentName field contains the group name. If no groups have this parent, the results are empty.",
                                    "type": "string"
                                }
                            ],
                            "response": "ListGroupsResponse"
                        }
                    ],
                    "resources": [
                        {
                            "name": "members",
                            "methods": [
                                {
                                    "name": "list",
                                    "desc": "Lists the monitored resources that are members of a group.",
                                    "path": "v3/{+name}/members",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/monitoring",
                                        "https://www.googleapis.com/auth/monitoring.read"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "name",
                                            "desc": "The group whose members are listed. The format is \"projects/{project_id_or_number}/groups/{group_id}\".",
                                            "required": true,
                                            "type": "string",
                                            "pattern": "^projects/[^/]+/groups/[^/]+$"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "interval.endTime",
                                            "desc": "Required. The end of the time interval.",
                                            "type": "datetime"
                                        },
                                        {
                                            "name": "filter",
                                            "desc": "An optional list filter describing the members to be returned. The filter may reference the type, labels, and metadata of monitored resources that comprise the group. For example, to return only resources representing Compute Engine VM instances, use this filter:\nresource.type = \"gce_instance\"\n",
                                            "type": "string"
                                        },
                                        {
                                            "name": "pageToken",
                                            "desc": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                                            "type": "string"
                                        },
                                        {
                                            "name": "interval.startTime",
                                            "desc": "Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.",
                                            "type": "datetime"
                                        },
                                        {
                                            "name": "pageSize",
                                            "desc": "A positive number that is the maximum number of results to return.",
                                            "type": "int32"
                                        }
                                    ],
                                    "response": "ListGroupMembersResponse"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "collectdTimeSeries",
                    "methods": [
                        {
                            "name": "create",
                            "desc": "Stackdriver Monitoring Agent only: Creates a new time series.\u003caside class=\"caution\"\u003eThis method is only for use by the Stackdriver Monitoring Agent. Use projects.timeSeries.create instead.\u003c/aside\u003e",
                            "path": "v3/{+name}/collectdTimeSeries",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The project in which to create the time series. The format is \"projects/PROJECT_ID_OR_NUMBER\".",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "request": "CreateCollectdTimeSeriesRequest",
                            "response": "Empty"
                        }
                    ]
                }
            ]
        }
    ]
}