{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/2pbHVnKgRBtlI769YwDOp1uiQ0w\"",
    "discoveryVersion": "v1",
    "id": "bigquery:v2",
    "name": "bigquery",
    "version": "v2",
    "title": "BigQuery API",
    "description": "A data platform for customers to create, manage, share and query data.",
    "documentationLink": "https://cloud.google.com/bigquery/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Table",
            "type": "object",
            "fields": [
                {
                    "name": "creationTime",
                    "desc": "[Output-only] The time when this table was created, in milliseconds since the epoch.",
                    "type": "int64"
                },
                {
                    "name": "externalDataConfiguration",
                    "desc": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
                    "type": "ref",
                    "refType": "ExternalDataConfiguration"
                },
                {
                    "name": "labels",
                    "desc": "[Experimental] The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "lastModifiedTime",
                    "desc": "[Output-only] The time when this table was last modified, in milliseconds since the epoch.",
                    "type": "uint64"
                },
                {
                    "name": "schema",
                    "desc": "[Optional] Describes the schema of this table.",
                    "type": "ref",
                    "refType": "TableSchema"
                },
                {
                    "name": "description",
                    "desc": "[Optional] A user-friendly description of this table.",
                    "type": "string"
                },
                {
                    "name": "friendlyName",
                    "desc": "[Optional] A descriptive name for this table.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output-only] A URL that can be used to access this resource again.",
                    "type": "string"
                },
                {
                    "name": "tableReference",
                    "desc": "[Required] Reference describing the ID of this table.",
                    "type": "ref",
                    "refType": "TableReference"
                },
                {
                    "name": "timePartitioning",
                    "desc": "[Experimental] If specified, configures time-based partitioning for this table.",
                    "type": "ref",
                    "refType": "TimePartitioning"
                },
                {
                    "name": "etag",
                    "desc": "[Output-only] A hash of this resource.",
                    "type": "string"
                },
                {
                    "name": "expirationTime",
                    "desc": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed.",
                    "type": "int64"
                },
                {
                    "name": "location",
                    "desc": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset.",
                    "type": "string"
                },
                {
                    "name": "numRows",
                    "desc": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.",
                    "type": "uint64"
                },
                {
                    "name": "type",
                    "desc": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE.",
                    "type": "string"
                },
                {
                    "name": "view",
                    "desc": "[Optional] The view definition.",
                    "type": "ref",
                    "refType": "ViewDefinition"
                },
                {
                    "name": "id",
                    "desc": "[Output-only] An opaque ID uniquely identifying the table.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "[Output-only] The type of the resource.",
                    "type": "string",
                    "default": "bigquery#table"
                },
                {
                    "name": "numBytes",
                    "desc": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer.",
                    "type": "int64"
                },
                {
                    "name": "numLongTermBytes",
                    "desc": "[Output-only] The number of bytes in the table that are considered \"long-term storage\".",
                    "type": "int64"
                },
                {
                    "name": "streamingBuffer",
                    "desc": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer.",
                    "type": "ref",
                    "refType": "Streamingbuffer"
                }
            ]
        },
        {
            "name": "TableDataInsertAllResponse",
            "type": "object",
            "fields": [
                {
                    "name": "insertErrors",
                    "desc": "An array of errors for rows that were not inserted.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "errors",
                            "desc": "Error information for the row indicated by the index property.",
                            "collection": "array",
                            "type": "ref",
                            "refType": "ErrorProto"
                        },
                        {
                            "name": "index",
                            "desc": "The index of the row that error applies to.",
                            "type": "uint32"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "The resource type of the response.",
                    "type": "string",
                    "default": "bigquery#tableDataInsertAllResponse"
                }
            ]
        },
        {
            "name": "ViewDefinition",
            "type": "object",
            "fields": [
                {
                    "name": "useLegacySql",
                    "desc": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value.",
                    "type": "bool"
                },
                {
                    "name": "userDefinedFunctionResources",
                    "desc": "[Experimental] Describes user-defined function resources used in the query.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UserDefinedFunctionResource"
                },
                {
                    "name": "query",
                    "desc": "[Required] A query that BigQuery executes when the view is referenced.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BigtableColumnFamily",
            "type": "object",
            "fields": [
                {
                    "name": "familyId",
                    "desc": "Identifier of the column family.",
                    "type": "string"
                },
                {
                    "name": "onlyReadLatest",
                    "desc": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
                    "type": "bool"
                },
                {
                    "name": "type",
                    "desc": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it.",
                    "type": "string"
                },
                {
                    "name": "columns",
                    "desc": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BigtableColumn"
                },
                {
                    "name": "encoding",
                    "desc": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BigtableOptions",
            "type": "object",
            "fields": [
                {
                    "name": "columnFamilies",
                    "desc": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BigtableColumnFamily"
                },
                {
                    "name": "ignoreUnspecifiedColumnFamilies",
                    "desc": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
                    "type": "bool"
                },
                {
                    "name": "readRowkeyAsString",
                    "desc": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "CsvOptions",
            "type": "object",
            "fields": [
                {
                    "name": "allowJaggedRows",
                    "desc": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false.",
                    "type": "bool"
                },
                {
                    "name": "allowQuotedNewlines",
                    "desc": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
                    "type": "bool"
                },
                {
                    "name": "encoding",
                    "desc": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
                    "type": "string"
                },
                {
                    "name": "fieldDelimiter",
                    "desc": "[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
                    "type": "string"
                },
                {
                    "name": "quote",
                    "desc": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
                    "type": "string",
                    "default": "\"",
                    "pattern": ".?"
                },
                {
                    "name": "skipLeadingRows",
                    "desc": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "QueryParameter",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "[Optional] If unset, this is a positional parameter. Otherwise, should be unique within a query.",
                    "type": "string"
                },
                {
                    "name": "parameterType",
                    "desc": "[Required] The type of this parameter.",
                    "type": "ref",
                    "refType": "QueryParameterType"
                },
                {
                    "name": "parameterValue",
                    "desc": "[Required] The value of this parameter.",
                    "type": "ref",
                    "refType": "QueryParameterValue"
                }
            ]
        },
        {
            "name": "Streamingbuffer",
            "type": "object",
            "fields": [
                {
                    "name": "estimatedBytes",
                    "desc": "[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer.",
                    "type": "uint64"
                },
                {
                    "name": "estimatedRows",
                    "desc": "[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer.",
                    "type": "uint64"
                },
                {
                    "name": "oldestEntryTime",
                    "desc": "[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available.",
                    "type": "uint64"
                }
            ]
        },
        {
            "name": "GetQueryResultsResponse",
            "type": "object",
            "fields": [
                {
                    "name": "schema",
                    "desc": "The schema of the results. Present only when the query completes successfully.",
                    "type": "ref",
                    "refType": "TableSchema"
                },
                {
                    "name": "cacheHit",
                    "desc": "Whether the query result was fetched from the query cache.",
                    "type": "bool"
                },
                {
                    "name": "errors",
                    "desc": "[Output-only] All errors and warnings encountered during the running of the job. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ErrorProto"
                },
                {
                    "name": "jobComplete",
                    "desc": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
                    "type": "bool"
                },
                {
                    "name": "jobReference",
                    "desc": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults).",
                    "type": "ref",
                    "refType": "JobReference"
                },
                {
                    "name": "kind",
                    "desc": "The resource type of the response.",
                    "type": "string",
                    "default": "bigquery#getQueryResultsResponse"
                },
                {
                    "name": "numDmlAffectedRows",
                    "desc": "[Output-only, Experimental] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
                    "type": "int64"
                },
                {
                    "name": "pageToken",
                    "desc": "A token used for paging results.",
                    "type": "string"
                },
                {
                    "name": "totalBytesProcessed",
                    "desc": "The total number of bytes processed for this query.",
                    "type": "int64"
                },
                {
                    "name": "etag",
                    "desc": "A hash of this response.",
                    "type": "string"
                },
                {
                    "name": "rows",
                    "desc": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TableRow"
                },
                {
                    "name": "totalRows",
                    "desc": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
                    "type": "uint64"
                }
            ]
        },
        {
            "name": "Job",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output-only] Opaque ID field of the job",
                    "type": "string"
                },
                {
                    "name": "jobReference",
                    "desc": "[Optional] Reference describing the unique-per-user name of the job.",
                    "type": "ref",
                    "refType": "JobReference"
                },
                {
                    "name": "kind",
                    "desc": "[Output-only] The type of the resource.",
                    "type": "string",
                    "default": "bigquery#job"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output-only] A URL that can be used to access this resource again.",
                    "type": "string"
                },
                {
                    "name": "statistics",
                    "desc": "[Output-only] Information about the job, including starting time and ending time of the job.",
                    "type": "ref",
                    "refType": "JobStatistics"
                },
                {
                    "name": "status",
                    "desc": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete.",
                    "type": "ref",
                    "refType": "JobStatus"
                },
                {
                    "name": "configuration",
                    "desc": "[Required] Describes the job configuration.",
                    "type": "ref",
                    "refType": "JobConfiguration"
                },
                {
                    "name": "user_email",
                    "desc": "[Output-only] Email address of the user who ran the job.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "[Output-only] A hash of this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "JobList",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "A hash of this page of results.",
                    "type": "string"
                },
                {
                    "name": "jobs",
                    "desc": "List of jobs that were requested.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "Unique opaque ID of the job.",
                            "type": "string"
                        },
                        {
                            "name": "jobReference",
                            "desc": "Job reference uniquely identifying the job.",
                            "type": "ref",
                            "refType": "JobReference"
                        },
                        {
                            "name": "kind",
                            "desc": "The resource type.",
                            "type": "string",
                            "default": "bigquery#job"
                        },
                        {
                            "name": "state",
                            "desc": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.",
                            "type": "string"
                        },
                        {
                            "name": "configuration",
                            "desc": "[Full-projection-only] Specifies the job configuration.",
                            "type": "ref",
                            "refType": "JobConfiguration"
                        },
                        {
                            "name": "errorResult",
                            "desc": "A result object that will be present only if the job has failed.",
                            "type": "ref",
                            "refType": "ErrorProto"
                        },
                        {
                            "name": "statistics",
                            "desc": "[Output-only] Information about the job, including starting time and ending time of the job.",
                            "type": "ref",
                            "refType": "JobStatistics"
                        },
                        {
                            "name": "status",
                            "desc": "[Full-projection-only] Describes the state of the job.",
                            "type": "ref",
                            "refType": "JobStatus"
                        },
                        {
                            "name": "user_email",
                            "desc": "[Full-projection-only] Email address of the user who ran the job.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "The resource type of the response.",
                    "type": "string",
                    "default": "bigquery#jobList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token to request the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProjectList",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "A hash of the page of results",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The type of list.",
                    "type": "string",
                    "default": "bigquery#projectList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token to request the next page of results.",
                    "type": "string"
                },
                {
                    "name": "projects",
                    "desc": "Projects to which you have at least READ access.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "friendlyName",
                            "desc": "A descriptive name for this project.",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "An opaque ID of this project.",
                            "type": "string"
                        },
                        {
                            "name": "kind",
                            "desc": "The resource type.",
                            "type": "string",
                            "default": "bigquery#project"
                        },
                        {
                            "name": "numericId",
                            "desc": "The numeric ID of this project.",
                            "type": "uint64"
                        },
                        {
                            "name": "projectReference",
                            "desc": "A unique reference to this project.",
                            "type": "ref",
                            "refType": "ProjectReference"
                        }
                    ]
                },
                {
                    "name": "totalItems",
                    "desc": "The total number of projects in the list.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "TableFieldSchema",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "[Required] The field data type. Possible values include STRING, BYTES, INTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), BOOLEAN, BOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, RECORD (where RECORD indicates that the field contains a nested schema) or STRUCT (same as RECORD).",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "[Optional] The field description. The maximum length is 16K characters.",
                    "type": "string"
                },
                {
                    "name": "fields",
                    "desc": "[Optional] Describes the nested schema fields if the type property is set to RECORD.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TableFieldSchema"
                },
                {
                    "name": "mode",
                    "desc": "[Optional] The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "[Required] The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 128 characters.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "JobCancelResponse",
            "type": "object",
            "fields": [
                {
                    "name": "job",
                    "desc": "The final state of the job.",
                    "type": "ref",
                    "refType": "Job"
                },
                {
                    "name": "kind",
                    "desc": "The resource type of the response.",
                    "type": "string",
                    "default": "bigquery#jobCancelResponse"
                }
            ]
        },
        {
            "name": "JobConfigurationLoad",
            "type": "object",
            "fields": [
                {
                    "name": "schema",
                    "desc": "[Optional] The schema for the destination table. The schema can be omitted if the destination table already exists, or if you're loading data from Google Cloud Datastore.",
                    "type": "ref",
                    "refType": "TableSchema"
                },
                {
                    "name": "sourceFormat",
                    "desc": "[Optional] The format of the data files. For CSV files, specify \"CSV\". For datastore backups, specify \"DATASTORE_BACKUP\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro, specify \"AVRO\". The default value is CSV.",
                    "type": "string"
                },
                {
                    "name": "createDisposition",
                    "desc": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
                    "type": "string"
                },
                {
                    "name": "destinationTable",
                    "desc": "[Required] The destination table to load the data into.",
                    "type": "ref",
                    "refType": "TableReference"
                },
                {
                    "name": "projectionFields",
                    "desc": "[Experimental] If sourceFormat is set to \"DATASTORE_BACKUP\", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn't found in the Cloud Datastore backup, an invalid error is returned in the job result.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "schemaInline",
                    "desc": "[Deprecated] The inline schema. For CSV schemas, specify as \"Field1:Type1[,Field2:Type2]*\". For example, \"foo:STRING, bar:INTEGER, baz:FLOAT\".",
                    "type": "string"
                },
                {
                    "name": "schemaUpdateOptions",
                    "desc": "[Experimental] Allows the schema of the desitination table to be updated as a side effect of the load job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "fieldDelimiter",
                    "desc": "[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
                    "type": "string"
                },
                {
                    "name": "maxBadRecords",
                    "desc": "[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. The default value is 0, which requires that all records are valid.",
                    "type": "int32"
                },
                {
                    "name": "nullMarker",
                    "desc": "[Optional] Specifies a string that represents a null value in a CSV file. For example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value when loading a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery still interprets the empty string as a null value for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value.",
                    "type": "string"
                },
                {
                    "name": "autodetect",
                    "desc": "[Experimental] Indicates if we should automatically infer the options and schema for CSV and JSON sources.",
                    "type": "bool"
                },
                {
                    "name": "encoding",
                    "desc": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
                    "type": "string"
                },
                {
                    "name": "quote",
                    "desc": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
                    "type": "string",
                    "default": "\"",
                    "pattern": ".?"
                },
                {
                    "name": "schemaInlineFormat",
                    "desc": "[Deprecated] The format of the schemaInline property.",
                    "type": "string"
                },
                {
                    "name": "skipLeadingRows",
                    "desc": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
                    "type": "int32"
                },
                {
                    "name": "sourceUris",
                    "desc": "[Required] The fully-qualified URIs that point to your data in Google Cloud Storage. Each URI can contain one '*' wildcard character and it must come after the 'bucket' name.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "writeDisposition",
                    "desc": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
                    "type": "string"
                },
                {
                    "name": "allowJaggedRows",
                    "desc": "[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats.",
                    "type": "bool"
                },
                {
                    "name": "allowQuotedNewlines",
                    "desc": "Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
                    "type": "bool"
                },
                {
                    "name": "ignoreUnknownValues",
                    "desc": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "JobStatistics",
            "type": "object",
            "fields": [
                {
                    "name": "query",
                    "desc": "[Output-only] Statistics for a query job.",
                    "type": "ref",
                    "refType": "JobStatistics2"
                },
                {
                    "name": "startTime",
                    "desc": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
                    "type": "int64"
                },
                {
                    "name": "totalBytesProcessed",
                    "desc": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
                    "type": "int64"
                },
                {
                    "name": "creationTime",
                    "desc": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
                    "type": "int64"
                },
                {
                    "name": "endTime",
                    "desc": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
                    "type": "int64"
                },
                {
                    "name": "extract",
                    "desc": "[Output-only] Statistics for an extract job.",
                    "type": "ref",
                    "refType": "JobStatistics4"
                },
                {
                    "name": "load",
                    "desc": "[Output-only] Statistics for a load job.",
                    "type": "ref",
                    "refType": "JobStatistics3"
                }
            ]
        },
        {
            "name": "JsonObject",
            "desc": "Represents a single JSON object.",
            "collection": "map",
            "type": "ref",
            "refType": "JsonValue"
        },
        {
            "name": "QueryResponse",
            "type": "object",
            "fields": [
                {
                    "name": "jobReference",
                    "desc": "Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults).",
                    "type": "ref",
                    "refType": "JobReference"
                },
                {
                    "name": "kind",
                    "desc": "The resource type.",
                    "type": "string",
                    "default": "bigquery#queryResponse"
                },
                {
                    "name": "numDmlAffectedRows",
                    "desc": "[Output-only, Experimental] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
                    "type": "int64"
                },
                {
                    "name": "pageToken",
                    "desc": "A token used for paging results.",
                    "type": "string"
                },
                {
                    "name": "rows",
                    "desc": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TableRow"
                },
                {
                    "name": "cacheHit",
                    "desc": "Whether the query result was fetched from the query cache.",
                    "type": "bool"
                },
                {
                    "name": "errors",
                    "desc": "[Output-only] All errors and warnings encountered during the running of the job. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ErrorProto"
                },
                {
                    "name": "jobComplete",
                    "desc": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
                    "type": "bool"
                },
                {
                    "name": "schema",
                    "desc": "The schema of the results. Present only when the query completes successfully.",
                    "type": "ref",
                    "refType": "TableSchema"
                },
                {
                    "name": "totalBytesProcessed",
                    "desc": "The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run.",
                    "type": "int64"
                },
                {
                    "name": "totalRows",
                    "desc": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results.",
                    "type": "uint64"
                }
            ]
        },
        {
            "name": "QueryParameterType",
            "type": "object",
            "fields": [
                {
                    "name": "structTypes",
                    "desc": "[Optional] The types of the fields of this struct, in order, if this is a struct.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "type",
                            "desc": "[Required] The type of this field.",
                            "type": "ref",
                            "refType": "QueryParameterType"
                        },
                        {
                            "name": "description",
                            "desc": "[Optional] Human-oriented description of the field.",
                            "type": "string"
                        },
                        {
                            "name": "name",
                            "desc": "[Optional] The name of this field.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "type",
                    "desc": "[Required] The top level type of this field.",
                    "type": "string"
                },
                {
                    "name": "arrayType",
                    "desc": "[Optional] The type of the array's elements, if this is an array.",
                    "type": "ref",
                    "refType": "QueryParameterType"
                }
            ]
        },
        {
            "name": "TableCell",
            "type": "object",
            "fields": [
                {
                    "name": "v",
                    "type": "any"
                }
            ]
        },
        {
            "name": "TableDataInsertAllRequest",
            "type": "object",
            "fields": [
                {
                    "name": "ignoreUnknownValues",
                    "desc": "[Optional] Accept rows that contain values that do not match the schema. The unknown values are ignored. Default is false, which treats unknown values as errors.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "The resource type of the response.",
                    "type": "string",
                    "default": "bigquery#tableDataInsertAllRequest"
                },
                {
                    "name": "rows",
                    "desc": "The rows to insert.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "insertId",
                            "desc": "[Optional] A unique ID for each row. BigQuery uses this property to detect duplicate insertion requests on a best-effort basis.",
                            "type": "string"
                        },
                        {
                            "name": "json",
                            "desc": "[Required] A JSON object that contains a row of data. The object's properties and values must match the destination table's schema.",
                            "type": "ref",
                            "refType": "JsonObject"
                        }
                    ]
                },
                {
                    "name": "skipInvalidRows",
                    "desc": "[Optional] Insert all valid rows of a request, even if invalid rows exist. The default value is false, which causes the entire request to fail if any invalid rows exist.",
                    "type": "bool"
                },
                {
                    "name": "templateSuffix",
                    "desc": "[Experimental] If specified, treats the destination table as a base template, and inserts the rows into an instance table named \"{destination}{templateSuffix}\". BigQuery will manage creation of the instance table, using the schema of the base template table. See https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables for considerations when working with templates tables.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DatasetList",
            "type": "object",
            "fields": [
                {
                    "name": "datasets",
                    "desc": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "kind",
                            "desc": "The resource type. This property always returns the value \"bigquery#dataset\".",
                            "type": "string",
                            "default": "bigquery#dataset"
                        },
                        {
                            "name": "labels",
                            "desc": "[Experimental] The labels associated with this dataset. You can use these to organize and group your datasets.",
                            "collection": "map",
                            "type": "string"
                        },
                        {
                            "name": "datasetReference",
                            "desc": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID.",
                            "type": "ref",
                            "refType": "DatasetReference"
                        },
                        {
                            "name": "friendlyName",
                            "desc": "A descriptive name for the dataset, if one exists.",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The fully-qualified, unique, opaque ID of the dataset.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "etag",
                    "desc": "A hash value of the results page. You can use this property to determine if the page has changed since the last request.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The list type. This property always returns the value \"bigquery#datasetList\".",
                    "type": "string",
                    "default": "bigquery#datasetList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token that can be used to request the next results page. This property is omitted on the final results page.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GoogleSheetsOptions",
            "type": "object",
            "fields": [
                {
                    "name": "skipLeadingRows",
                    "desc": "[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "JobConfiguration",
            "type": "object",
            "fields": [
                {
                    "name": "load",
                    "desc": "[Pick one] Configures a load job.",
                    "type": "ref",
                    "refType": "JobConfigurationLoad"
                },
                {
                    "name": "query",
                    "desc": "[Pick one] Configures a query job.",
                    "type": "ref",
                    "refType": "JobConfigurationQuery"
                },
                {
                    "name": "copy",
                    "desc": "[Pick one] Copies a table.",
                    "type": "ref",
                    "refType": "JobConfigurationTableCopy"
                },
                {
                    "name": "dryRun",
                    "desc": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined.",
                    "type": "bool"
                },
                {
                    "name": "extract",
                    "desc": "[Pick one] Configures an extract job.",
                    "type": "ref",
                    "refType": "JobConfigurationExtract"
                },
                {
                    "name": "labels",
                    "desc": "[Experimental] The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
                    "collection": "map",
                    "type": "string"
                }
            ]
        },
        {
            "name": "JobReference",
            "type": "object",
            "fields": [
                {
                    "name": "jobId",
                    "desc": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
                    "type": "string"
                },
                {
                    "name": "projectId",
                    "desc": "[Required] The ID of the project containing this job.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "JobStatus",
            "type": "object",
            "fields": [
                {
                    "name": "errorResult",
                    "desc": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful.",
                    "type": "ref",
                    "refType": "ErrorProto"
                },
                {
                    "name": "errors",
                    "desc": "[Output-only] All errors encountered during the running of the job. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ErrorProto"
                },
                {
                    "name": "state",
                    "desc": "[Output-only] Running state of the job.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TableDataList",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The resource type of the response.",
                    "type": "string",
                    "default": "bigquery#tableDataList"
                },
                {
                    "name": "pageToken",
                    "desc": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing.",
                    "type": "string"
                },
                {
                    "name": "rows",
                    "desc": "Rows of results.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TableRow"
                },
                {
                    "name": "totalRows",
                    "desc": "The total number of rows in the complete table.",
                    "type": "int64"
                },
                {
                    "name": "etag",
                    "desc": "A hash of this page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TableRow",
            "type": "object",
            "fields": [
                {
                    "name": "f",
                    "desc": "Represents a single row in the result set, consisting of one or more fields.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TableCell"
                }
            ]
        },
        {
            "name": "ErrorProto",
            "type": "object",
            "fields": [
                {
                    "name": "message",
                    "desc": "A human-readable description of the error.",
                    "type": "string"
                },
                {
                    "name": "reason",
                    "desc": "A short error code that summarizes the error.",
                    "type": "string"
                },
                {
                    "name": "debugInfo",
                    "desc": "Debugging information. This property is internal to Google and should not be used.",
                    "type": "string"
                },
                {
                    "name": "location",
                    "desc": "Specifies where the error occurred, if present.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExplainQueryStep",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Machine-readable operation type.",
                    "type": "string"
                },
                {
                    "name": "substeps",
                    "desc": "Human-readable stage descriptions.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExternalDataConfiguration",
            "type": "object",
            "fields": [
                {
                    "name": "ignoreUnknownValues",
                    "desc": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored.",
                    "type": "bool"
                },
                {
                    "name": "schema",
                    "desc": "[Optional] The schema for the data. Schema is required for CSV and JSON formats. Schema is disallowed for Google Cloud Bigtable, Cloud Datastore backups, and Avro formats.",
                    "type": "ref",
                    "refType": "TableSchema"
                },
                {
                    "name": "sourceFormat",
                    "desc": "[Required] The data format. For CSV files, specify \"CSV\". For Google sheets, specify \"GOOGLE_SHEETS\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro files, specify \"AVRO\". For Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\". [Experimental] For Google Cloud Bigtable, specify \"BIGTABLE\". Please note that reading from Google Cloud Bigtable is experimental and has to be enabled for your project. Please contact Google Cloud Support to enable this for your project.",
                    "type": "string"
                },
                {
                    "name": "sourceUris",
                    "desc": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified, and it must end with '.backup_info'. Also, the '*' wildcard character is not allowed.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "googleSheetsOptions",
                    "desc": "[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS.",
                    "type": "ref",
                    "refType": "GoogleSheetsOptions"
                },
                {
                    "name": "maxBadRecords",
                    "desc": "[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
                    "type": "int32"
                },
                {
                    "name": "autodetect",
                    "desc": "[Experimental] Try to detect schema and format options automatically. Any option specified explicitly will be honored.",
                    "type": "bool"
                },
                {
                    "name": "bigtableOptions",
                    "desc": "[Optional] Additional options if sourceFormat is set to BIGTABLE.",
                    "type": "ref",
                    "refType": "BigtableOptions"
                },
                {
                    "name": "compression",
                    "desc": "[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
                    "type": "string"
                },
                {
                    "name": "csvOptions",
                    "desc": "Additional properties to set if sourceFormat is set to CSV.",
                    "type": "ref",
                    "refType": "CsvOptions"
                }
            ]
        },
        {
            "name": "JobConfigurationQuery",
            "type": "object",
            "fields": [
                {
                    "name": "defaultDataset",
                    "desc": "[Optional] Specifies the default dataset to use for unqualified table names in the query.",
                    "type": "ref",
                    "refType": "DatasetReference"
                },
                {
                    "name": "flattenResults",
                    "desc": "[Optional] Flattens all nested and repeated fields in the query results. The default value is true. allowLargeResults must be true if this is set to false.",
                    "type": "bool",
                    "default": "true"
                },
                {
                    "name": "schemaUpdateOptions",
                    "desc": "[Experimental] Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "useQueryCache",
                    "desc": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.",
                    "type": "bool",
                    "default": "true"
                },
                {
                    "name": "destinationTable",
                    "desc": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results.",
                    "type": "ref",
                    "refType": "TableReference"
                },
                {
                    "name": "tableDefinitions",
                    "desc": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "ExternalDataConfiguration"
                },
                {
                    "name": "useLegacySql",
                    "desc": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the values of allowLargeResults and flattenResults are ignored; query will be run as if allowLargeResults is true and flattenResults is false.",
                    "type": "bool"
                },
                {
                    "name": "userDefinedFunctionResources",
                    "desc": "[Experimental] Describes user-defined function resources used in the query.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UserDefinedFunctionResource"
                },
                {
                    "name": "query",
                    "desc": "[Required] BigQuery SQL query to execute.",
                    "type": "string"
                },
                {
                    "name": "queryParameters",
                    "desc": "Query parameters for standard SQL queries.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "QueryParameter"
                },
                {
                    "name": "createDisposition",
                    "desc": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
                    "type": "string"
                },
                {
                    "name": "maximumBytesBilled",
                    "desc": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
                    "type": "int64"
                },
                {
                    "name": "parameterMode",
                    "desc": "[Experimental] Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
                    "type": "string"
                },
                {
                    "name": "priority",
                    "desc": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE.",
                    "type": "string"
                },
                {
                    "name": "allowLargeResults",
                    "desc": "If true, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set.",
                    "type": "bool"
                },
                {
                    "name": "maximumBillingTier",
                    "desc": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.",
                    "type": "int32",
                    "default": "1"
                },
                {
                    "name": "preserveNulls",
                    "desc": "[Deprecated] This property is deprecated.",
                    "type": "bool"
                },
                {
                    "name": "writeDisposition",
                    "desc": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "QueryRequest",
            "type": "object",
            "fields": [
                {
                    "name": "defaultDataset",
                    "desc": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'.",
                    "type": "ref",
                    "refType": "DatasetReference"
                },
                {
                    "name": "dryRun",
                    "desc": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "The resource type of the request.",
                    "type": "string",
                    "default": "bigquery#queryRequest"
                },
                {
                    "name": "maxResults",
                    "desc": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
                    "type": "uint32"
                },
                {
                    "name": "parameterMode",
                    "desc": "[Experimental] Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
                    "type": "string"
                },
                {
                    "name": "timeoutMs",
                    "desc": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
                    "type": "uint32"
                },
                {
                    "name": "preserveNulls",
                    "desc": "[Deprecated] This property is deprecated.",
                    "type": "bool"
                },
                {
                    "name": "query",
                    "desc": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\".",
                    "type": "string"
                },
                {
                    "name": "queryParameters",
                    "desc": "[Experimental] Query parameters for Standard SQL queries.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "QueryParameter"
                },
                {
                    "name": "useLegacySql",
                    "desc": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the values of allowLargeResults and flattenResults are ignored; query will be run as if allowLargeResults is true and flattenResults is false.",
                    "type": "bool",
                    "default": "true"
                },
                {
                    "name": "useQueryCache",
                    "desc": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
                    "type": "bool",
                    "default": "true"
                }
            ]
        },
        {
            "name": "TableList",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "A hash of this page of results.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The type of list.",
                    "type": "string",
                    "default": "bigquery#tableList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token to request the next page of results.",
                    "type": "string"
                },
                {
                    "name": "tables",
                    "desc": "Tables in the requested dataset.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "labels",
                            "desc": "[Experimental] The labels associated with this table. You can use these to organize and group your tables.",
                            "collection": "map",
                            "type": "string"
                        },
                        {
                            "name": "tableReference",
                            "desc": "A reference uniquely identifying the table.",
                            "type": "ref",
                            "refType": "TableReference"
                        },
                        {
                            "name": "type",
                            "desc": "The type of table. Possible values are: TABLE, VIEW.",
                            "type": "string"
                        },
                        {
                            "name": "view",
                            "desc": "Additional details for a view.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "useLegacySql",
                                    "desc": "True if view is defined in legacy SQL dialect, false if in standard SQL.",
                                    "type": "bool"
                                }
                            ]
                        },
                        {
                            "name": "friendlyName",
                            "desc": "The user-friendly name for this table.",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "An opaque ID of the table",
                            "type": "string"
                        },
                        {
                            "name": "kind",
                            "desc": "The resource type.",
                            "type": "string",
                            "default": "bigquery#table"
                        }
                    ]
                },
                {
                    "name": "totalItems",
                    "desc": "The total number of tables in the dataset.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "TimePartitioning",
            "type": "object",
            "fields": [
                {
                    "name": "expirationMs",
                    "desc": "[Optional] Number of milliseconds for which to keep the storage for a partition.",
                    "type": "int64"
                },
                {
                    "name": "type",
                    "desc": "[Required] The only type supported is DAY, which will generate one partition per day based on data loading time.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UserDefinedFunctionResource",
            "type": "object",
            "fields": [
                {
                    "name": "inlineCode",
                    "desc": "[Pick one] An inline resource that contains code for a user-defined function (UDF). Providing a inline code resource is equivalent to providing a URI for a file containing the same code.",
                    "type": "string"
                },
                {
                    "name": "resourceUri",
                    "desc": "[Pick one] A code resource to load from a Google Cloud Storage URI (gs://bucket/path).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Dataset",
            "type": "object",
            "fields": [
                {
                    "name": "selfLink",
                    "desc": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
                    "type": "string"
                },
                {
                    "name": "access",
                    "desc": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "userByEmail",
                            "desc": "[Pick one] An email address of a user to grant access to. For example: fred@example.com.",
                            "type": "string"
                        },
                        {
                            "name": "view",
                            "desc": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation.",
                            "type": "ref",
                            "refType": "TableReference"
                        },
                        {
                            "name": "domain",
                            "desc": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\".",
                            "type": "string"
                        },
                        {
                            "name": "groupByEmail",
                            "desc": "[Pick one] An email address of a Google Group to grant access to.",
                            "type": "string"
                        },
                        {
                            "name": "role",
                            "desc": "[Required] Describes the rights granted to the user specified by the other member of the access object. The following string values are supported: READER, WRITER, OWNER.",
                            "type": "string"
                        },
                        {
                            "name": "specialGroup",
                            "desc": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "creationTime",
                    "desc": "[Output-only] The time when this dataset was created, in milliseconds since the epoch.",
                    "type": "int64"
                },
                {
                    "name": "defaultTableExpirationMs",
                    "desc": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
                    "type": "int64"
                },
                {
                    "name": "description",
                    "desc": "[Optional] A user-friendly description of the dataset.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "[Output-only] A hash of the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
                    "type": "string"
                },
                {
                    "name": "lastModifiedTime",
                    "desc": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
                    "type": "int64"
                },
                {
                    "name": "datasetReference",
                    "desc": "[Required] A reference that identifies the dataset.",
                    "type": "ref",
                    "refType": "DatasetReference"
                },
                {
                    "name": "friendlyName",
                    "desc": "[Optional] A descriptive name for the dataset.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "[Output-only] The resource type.",
                    "type": "string",
                    "default": "bigquery#dataset"
                },
                {
                    "name": "labels",
                    "desc": "[Experimental] The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Labeling Datasets for more information.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "location",
                    "desc": "[Experimental] The geographic location where the dataset should reside. Possible values include EU and US. The default value is US.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DatasetReference",
            "type": "object",
            "fields": [
                {
                    "name": "datasetId",
                    "desc": "[Required] A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
                    "type": "string"
                },
                {
                    "name": "projectId",
                    "desc": "[Optional] The ID of the project containing this dataset.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "JobConfigurationTableCopy",
            "type": "object",
            "fields": [
                {
                    "name": "createDisposition",
                    "desc": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
                    "type": "string"
                },
                {
                    "name": "destinationTable",
                    "desc": "[Required] The destination table",
                    "type": "ref",
                    "refType": "TableReference"
                },
                {
                    "name": "sourceTable",
                    "desc": "[Pick one] Source table to copy.",
                    "type": "ref",
                    "refType": "TableReference"
                },
                {
                    "name": "sourceTables",
                    "desc": "[Pick one] Source tables to copy.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TableReference"
                },
                {
                    "name": "writeDisposition",
                    "desc": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "JobStatistics4",
            "type": "object",
            "fields": [
                {
                    "name": "destinationUriFileCounts",
                    "desc": "[Output-only] Number of files per destination URI or URI pattern specified in the extract configuration. These values will be in the same order as the URIs specified in the 'destinationUris' field.",
                    "collection": "array",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "QueryParameterValue",
            "type": "object",
            "fields": [
                {
                    "name": "structValues",
                    "desc": "[Optional] The struct field values, in order of the struct type's declaration.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "QueryParameterValue"
                },
                {
                    "name": "value",
                    "desc": "[Optional] The value of this value, if a simple scalar type.",
                    "type": "string"
                },
                {
                    "name": "arrayValues",
                    "desc": "[Optional] The array values, if this is an array type.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "QueryParameterValue"
                }
            ]
        },
        {
            "name": "JobConfigurationExtract",
            "type": "object",
            "fields": [
                {
                    "name": "printHeader",
                    "desc": "[Optional] Whether to print out a header row in the results. Default is true.",
                    "type": "bool",
                    "default": "true"
                },
                {
                    "name": "sourceTable",
                    "desc": "[Required] A reference to the table being exported.",
                    "type": "ref",
                    "refType": "TableReference"
                },
                {
                    "name": "compression",
                    "desc": "[Optional] The compression type to use for exported files. Possible values include GZIP and NONE. The default value is NONE.",
                    "type": "string"
                },
                {
                    "name": "destinationFormat",
                    "desc": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON and AVRO. The default value is CSV. Tables with nested or repeated fields cannot be exported as CSV.",
                    "type": "string"
                },
                {
                    "name": "destinationUri",
                    "desc": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written.",
                    "type": "string"
                },
                {
                    "name": "destinationUris",
                    "desc": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "fieldDelimiter",
                    "desc": "[Optional] Delimiter to use between fields in the exported data. Default is ','",
                    "type": "string"
                }
            ]
        },
        {
            "name": "JsonValue",
            "type": "any"
        },
        {
            "name": "ProjectReference",
            "type": "object",
            "fields": [
                {
                    "name": "projectId",
                    "desc": "[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TableReference",
            "type": "object",
            "fields": [
                {
                    "name": "datasetId",
                    "desc": "[Required] The ID of the dataset containing this table.",
                    "type": "string"
                },
                {
                    "name": "projectId",
                    "desc": "[Required] The ID of the project containing this table.",
                    "type": "string"
                },
                {
                    "name": "tableId",
                    "desc": "[Required] The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TableSchema",
            "type": "object",
            "fields": [
                {
                    "name": "fields",
                    "desc": "Describes the fields in a table.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TableFieldSchema"
                }
            ]
        },
        {
            "name": "BigtableColumn",
            "type": "object",
            "fields": [
                {
                    "name": "encoding",
[...]
