{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/hio_YKqxpICjgrIvvAJqH_YueMs\"",
    "discoveryVersion": "v1",
    "id": "sqladmin:v1beta3",
    "name": "sqladmin",
    "version": "v1beta3",
    "title": "Cloud SQL Administration API",
    "description": "Creates and configures Cloud SQL instances, which provide fully-managed MySQL databases.",
    "documentationLink": "https://cloud.google.com/sql/docs/reference/latest",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "InstancesImportResponse",
            "desc": "Database instance import response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesImport.",
                    "type": "string",
                    "default": "sql#instancesImport"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesResetSslConfigResponse",
            "desc": "Database instance resetSslConfig response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesResetSslConfig.",
                    "type": "string",
                    "default": "sql#instancesResetSslConfig"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation. All ssl client certificates will be deleted and a new server certificate will be created. Does not take effect until the next instance restart.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesSetRootPasswordResponse",
            "desc": "Database instance set root password response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesSetRootPassword.",
                    "type": "string",
                    "default": "sql#instancesSetRootPassword"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Settings",
            "desc": "Database instance settings.",
            "type": "object",
            "fields": [
                {
                    "name": "replicationType",
                    "desc": "The type of replication this instance uses. This can be either ASYNCHRONOUS or SYNCHRONOUS.",
                    "type": "string"
                },
                {
                    "name": "settingsVersion",
                    "desc": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
                    "type": "int64"
                },
                {
                    "name": "activationPolicy",
                    "desc": "The activation policy for this instance. This specifies when the instance should be activated and is applicable only when the instance state is RUNNABLE. This can be one of the following.\nALWAYS: The instance should always be active.\nNEVER: The instance should never be activated.\nON_DEMAND: The instance is activated upon receiving requests.",
                    "type": "string"
                },
                {
                    "name": "authorizedGaeApplications",
                    "desc": "The App Engine app IDs that can access this instance.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "databaseReplicationEnabled",
                    "desc": "Configuration specific to read replica instance. Indicates whether replication is enabled or not.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#settings.",
                    "type": "string",
                    "default": "sql#settings"
                },
                {
                    "name": "locationPreference",
                    "desc": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or GCE zone for better performance.",
                    "type": "ref",
                    "refType": "LocationPreference"
                },
                {
                    "name": "pricingPlan",
                    "desc": "The pricing plan for this instance. This can be either PER_USE or PACKAGE.",
                    "type": "string"
                },
                {
                    "name": "tier",
                    "desc": "The tier of service for this instance, for example D1, D2. For more information, see pricing.",
                    "type": "string"
                },
                {
                    "name": "backupConfiguration",
                    "desc": "The daily backup configuration for the instance.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BackupConfiguration"
                },
                {
                    "name": "databaseFlags",
                    "desc": "The database flags passed to the instance at startup.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DatabaseFlags"
                },
                {
                    "name": "ipConfiguration",
                    "desc": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance.",
                    "type": "ref",
                    "refType": "IpConfiguration"
                }
            ]
        },
        {
            "name": "SslCertsInsertResponse",
            "desc": "SslCert insert response.",
            "type": "object",
            "fields": [
                {
                    "name": "clientCert",
                    "desc": "The new client certificate and private key. The new certificate will not work until the instance is restarted.",
                    "type": "ref",
                    "refType": "SslCertDetail"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#sslCertsInsert.",
                    "type": "string",
                    "default": "sql#sslCertsInsert"
                },
                {
                    "name": "serverCaCert",
                    "desc": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource..",
                    "type": "ref",
                    "refType": "SslCert"
                }
            ]
        },
        {
            "name": "Tier",
            "desc": "A Google Cloud SQL service tier resource.",
            "type": "object",
            "fields": [
                {
                    "name": "DiskQuota",
                    "desc": "The maximum disk size of this tier in bytes.",
                    "type": "int64"
                },
                {
                    "name": "RAM",
                    "desc": "The maximum RAM usage of this tier in bytes.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#tier.",
                    "type": "string",
                    "default": "sql#tier"
                },
                {
                    "name": "region",
                    "desc": "The applicable regions for this tier.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "tier",
                    "desc": "An identifier for the service tier, for example D1, D2 etc. For related information, see Pricing.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CloneContext",
            "desc": "Database instance clone context.",
            "type": "object",
            "fields": [
                {
                    "name": "binLogCoordinates",
                    "desc": "Binary log coordinates, if specified, indentify the position up to which the source instance should be cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.",
                    "type": "ref",
                    "refType": "BinLogCoordinates"
                },
                {
                    "name": "destinationInstanceName",
                    "desc": "Name of the Cloud SQL instance to be created as a clone.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#cloneContext.",
                    "type": "string",
                    "default": "sql#cloneContext"
                },
                {
                    "name": "sourceInstanceName",
                    "desc": "Name of the Cloud SQL instance to be cloned.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ImportContext",
            "desc": "Database instance import context.",
            "type": "object",
            "fields": [
                {
                    "name": "database",
                    "desc": "The database (for example, guestbook) to which the import is made. If not set, it is assumed that the database is specified in the file to be imported.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#importContext.",
                    "type": "string",
                    "default": "sql#importContext"
                },
                {
                    "name": "uri",
                    "desc": "A path to the MySQL dump file in Google Cloud Storage from which the import is made. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesExportRequest",
            "desc": "Database instance export request.",
            "type": "object",
            "fields": [
                {
                    "name": "exportContext",
                    "desc": "Contains details about the export operation.",
                    "type": "ref",
                    "refType": "ExportContext"
                }
            ]
        },
        {
            "name": "IpMapping",
            "desc": "Database instance IP Mapping.",
            "type": "object",
            "fields": [
                {
                    "name": "ipAddress",
                    "desc": "The IP address assigned.",
                    "type": "string"
                },
                {
                    "name": "timeToRetire",
                    "desc": "The due time for this IP to be retired in RFC 3339 format, for example 2012-11-15T16:19:00.094Z. This field is only available when the IP is scheduled to be retired.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "OperationsListResponse",
            "desc": "Database instance list operations response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of operation resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InstanceOperation"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#operationsList.",
                    "type": "string",
                    "default": "sql#operationsList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SetRootPasswordContext",
            "desc": "Database instance set root password context.",
            "type": "object",
            "fields": [
                {
                    "name": "password",
                    "desc": "The password for the root user.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#setRootUserContext.",
                    "type": "string",
                    "default": "sql#setRootUserContext"
                }
            ]
        },
        {
            "name": "TiersListResponse",
            "desc": "Tiers list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of tiers.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Tier"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#tiersList.",
                    "type": "string",
                    "default": "sql#tiersList"
                }
            ]
        },
        {
            "name": "FlagsListResponse",
            "desc": "Flags list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of flags.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Flag"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#flagsList.",
                    "type": "string",
                    "default": "sql#flagsList"
                }
            ]
        },
        {
            "name": "InstancesCloneRequest",
            "desc": "Database instance clone request.",
            "type": "object",
            "fields": [
                {
                    "name": "cloneContext",
                    "desc": "Contains details about the clone operation.",
                    "type": "ref",
                    "refType": "CloneContext"
                }
            ]
        },
        {
            "name": "InstancesCloneResponse",
            "desc": "Database instance clone response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesClone.",
                    "type": "string",
                    "default": "sql#instancesClone"
                },
                {
                    "name": "operation",
                    "desc": "An unique identifier for the operation associated with the cloned instance. You can use this identifier to retrieve the Operations resource, which has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesDeleteResponse",
            "desc": "Database instance delete response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesDelete.",
                    "type": "string",
                    "default": "sql#instancesDelete"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesListResponse",
            "desc": "Database instances list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of database instance resources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DatabaseInstance"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesList.",
                    "type": "string",
                    "default": "sql#instancesList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SslCertsInsertRequest",
            "desc": "SslCerts insert request.",
            "type": "object",
            "fields": [
                {
                    "name": "commonName",
                    "desc": "User supplied name. Must be a distinct name from the other certificates for this instance. New certificates will not be usable until the instance is restarted.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BackupConfiguration",
            "desc": "Database instance backup configuration.",
            "type": "object",
            "fields": [
                {
                    "name": "enabled",
                    "desc": "Whether this configuration is enabled.",
                    "type": "bool"
                },
                {
                    "name": "id",
                    "desc": "Identifier for this configuration. This gets generated automatically when a backup configuration is created.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#backupConfiguration.",
                    "type": "string",
                    "default": "sql#backupConfiguration"
                },
                {
                    "name": "startTime",
                    "desc": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - HH:MM.",
                    "type": "string"
                },
                {
                    "name": "binaryLogEnabled",
                    "desc": "Whether binary log is enabled. If backup configuration is disabled, binary log must be disabled as well.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "ExportContext",
            "desc": "Database instance export context.",
            "type": "object",
            "fields": [
                {
                    "name": "table",
                    "desc": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "uri",
                    "desc": "The path to the file in Google Cloud Storage where the export will be stored, or where it was already stored. The URI is in the form gs://bucketName/fileName. If the file already exists, the operation fails. If the filename ends with .gz, the contents are compressed.",
                    "type": "string"
                },
                {
                    "name": "database",
                    "desc": "Databases (for example, guestbook) from which the export is made. If unspecified, all databases are exported.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#exportContext.",
                    "type": "string",
                    "default": "sql#exportContext"
                }
            ]
        },
        {
            "name": "InstancesImportRequest",
            "desc": "Database instance import request.",
            "type": "object",
            "fields": [
                {
                    "name": "importContext",
                    "desc": "Contains details about the import operation.",
                    "type": "ref",
                    "refType": "ImportContext"
                }
            ]
        },
        {
            "name": "IpConfiguration",
            "desc": "IP Management configuration.",
            "type": "object",
            "fields": [
                {
                    "name": "authorizedNetworks",
                    "desc": "The list of external networks that are allowed to connect to the instance using the IP. In CIDR notation, also known as 'slash' notation (e.g. 192.168.100.0/24).",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "enabled",
                    "desc": "Whether the instance should be assigned an IP address or not.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#ipConfiguration.",
                    "type": "string",
                    "default": "sql#ipConfiguration"
                },
                {
                    "name": "requireSsl",
                    "desc": "Whether the mysqld should default to 'REQUIRE X509' for users connecting over IP.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "Flag",
            "desc": "A Google Cloud SQL service flag resource.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "The type of the flag. Flags are typed to being BOOLEAN, STRING, INTEGER or NONE. NONE is used for flags which do not take a value, such as skip_grant_tables.",
                    "type": "string"
                },
                {
                    "name": "allowedStringValues",
                    "desc": "For STRING flags, a list of strings that the value can be set to.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "appliesTo",
                    "desc": "The database version this flag applies to. Currently this can only be [MYSQL_5_5].",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#flag.",
                    "type": "string",
                    "default": "sql#flag"
                },
                {
                    "name": "maxValue",
                    "desc": "For INTEGER flags, the maximum allowed value.",
                    "type": "int64"
                },
                {
                    "name": "minValue",
                    "desc": "For INTEGER flags, the minimum allowed value.",
                    "type": "int64"
                },
                {
                    "name": "name",
                    "desc": "This is the name of the flag. Flag names always use underscores, not hyphens, e.g. max_allowed_packet",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesExportResponse",
            "desc": "Database instance export response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesExport.",
                    "type": "string",
                    "default": "sql#instancesExport"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesRestartResponse",
            "desc": "Database instance restart response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesRestart.",
                    "type": "string",
                    "default": "sql#instancesRestart"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesUpdateResponse",
            "desc": "Database instance update response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesUpdate.",
                    "type": "string",
                    "default": "sql#instancesUpdate"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SslCertsDeleteResponse",
            "desc": "SslCert delete response.",
            "type": "object",
            "fields": [
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#sslCertsDelete.",
                    "type": "string",
                    "default": "sql#sslCertsDelete"
                }
            ]
        },
        {
            "name": "BackupRun",
            "desc": "A database instance backup run resource.",
            "type": "object",
            "fields": [
                {
                    "name": "endTime",
                    "desc": "The time the backup operation completed in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "instance",
                    "desc": "Name of the database instance.",
                    "type": "string"
                },
                {
                    "name": "startTime",
                    "desc": "The time the backup operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "backupConfiguration",
                    "desc": "Backup Configuration identifier.",
                    "type": "string"
                },
                {
                    "name": "dueTime",
                    "desc": "The due time of this run in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "enqueuedTime",
                    "desc": "The time the run was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "error",
                    "desc": "Information about why the backup operation failed. This is only present if the run has the FAILED status.",
                    "type": "ref",
                    "refType": "OperationError"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#backupRun.",
                    "type": "string",
                    "default": "sql#backupRun"
                },
                {
                    "name": "status",
                    "desc": "The status of this run.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstanceOperation",
            "desc": "An Operations resource contains information about database instance operations such as create, delete, and restart. Operations resources are created in response to operations that were initiated; you never create them directly.",
            "type": "object",
            "fields": [
                {
                    "name": "userEmailAddress",
                    "desc": "The email address of the user who initiated this operation.",
                    "type": "string"
                },
                {
                    "name": "endTime",
                    "desc": "The time this operation finished in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#instanceOperation.",
                    "type": "string",
                    "default": "sql#instanceOperation"
                },
                {
                    "name": "operationType",
                    "desc": "The type of the operation. Valid values are CREATE, DELETE, UPDATE, RESTART, IMPORT, EXPORT, BACKUP_VOLUME, RESTORE_VOLUME.",
                    "type": "string"
                },
                {
                    "name": "startTime",
                    "desc": "The time this operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "state",
                    "desc": "The state of an operation. Valid values are PENDING, RUNNING, DONE, UNKNOWN.",
                    "type": "string"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                },
                {
                    "name": "enqueuedTime",
                    "desc": "The time this operation was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "type": "datetime"
                },
                {
                    "name": "error",
                    "desc": "The error(s) encountered by this operation. Only set if the operation results in an error.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OperationError"
                },
                {
                    "name": "exportContext",
                    "desc": "The context for export operation, if applicable.",
                    "type": "ref",
                    "refType": "ExportContext"
                },
                {
                    "name": "importContext",
                    "desc": "The context for import operation, if applicable.",
                    "type": "ref",
                    "refType": "ImportContext"
                },
                {
                    "name": "instance",
                    "desc": "Name of the database instance.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesInsertResponse",
            "desc": "Database instance insert response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesInsert.",
                    "type": "string",
                    "default": "sql#instancesInsert"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstancesPromoteReplicaResponse",
            "desc": "Database promote read replica response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesPromoteReplica.",
                    "type": "string",
                    "default": "sql#instancesPromoteReplica"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SslCert",
            "desc": "SslCerts Resource",
            "type": "object",
            "fields": [
                {
                    "name": "certSerialNumber",
                    "desc": "Serial number, as extracted from the certificate.",
                    "type": "string"
                },
                {
                    "name": "commonName",
                    "desc": "User supplied name. Constrained to [a-zA-Z.-_ ]+.",
                    "type": "string"
                },
                {
                    "name": "createTime",
                    "desc": "Time when the certificate was created.",
                    "type": "datetime"
                },
                {
                    "name": "expirationTime",
                    "desc": "Time when the certificate expires.",
                    "type": "datetime"
                },
                {
                    "name": "instance",
                    "desc": "Name of the database instance.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#sslCert.",
                    "type": "string",
                    "default": "sql#sslCert"
                },
                {
                    "name": "sha1Fingerprint",
                    "desc": "Sha1 Fingerprint.",
                    "type": "string"
                },
                {
                    "name": "cert",
                    "desc": "PEM representation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SslCertsListResponse",
            "desc": "SslCerts list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "List of client certificates for the instance.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SslCert"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#sslCertsList.",
                    "type": "string",
                    "default": "sql#sslCertsList"
                }
            ]
        },
        {
            "name": "DatabaseInstance",
            "desc": "A Cloud SQL instance resource.",
            "type": "object",
            "fields": [
                {
                    "name": "maxDiskSize",
                    "desc": "The maximum disk size of the instance in bytes.",
                    "type": "int64"
                },
                {
                    "name": "region",
                    "desc": "The geographical region. Can be us-central, asia-east1 or europe-west1. Defaults to us-central. The region can not be changed after instance creation.",
                    "type": "string"
                },
                {
                    "name": "serverCaCert",
                    "desc": "SSL configuration.",
                    "type": "ref",
                    "refType": "SslCert"
                },
                {
                    "name": "settings",
                    "desc": "The user settings.",
                    "type": "ref",
                    "refType": "Settings"
                },
                {
                    "name": "instanceType",
                    "desc": "The instance type. This can be one of the following.\nCLOUD_SQL_INSTANCE: Regular Cloud SQL instance.\nREAD_REPLICA_INSTANCE: Cloud SQL instance acting as a read-replica.",
                    "type": "string"
                },
                {
                    "name": "ipAddresses",
                    "desc": "The assigned IP addresses for the instance.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "IpMapping"
                },
                {
                    "name": "replicaNames",
                    "desc": "The replicas of the instance.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "state",
                    "desc": "The current serving state of the Cloud SQL instance. This can be one of the following.\nRUNNABLE: The instance is running, or is ready to run when accessed.\nSUSPENDED: The instance is not available, for example due to problems with billing.\nPENDING_CREATE: The instance is being created.\nMAINTENANCE: The instance is down for maintenance.\nUNKNOWN_STATE: The state of the instance is unknown.",
                    "type": "string"
                },
                {
                    "name": "currentDiskSize",
                    "desc": "The current disk usage of the instance in bytes.",
                    "type": "int64"
                },
                {
                    "name": "project",
                    "desc": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.",
                    "type": "string"
                },
                {
                    "name": "instance",
                    "desc": "Name of the Cloud SQL instance. This does not include the project ID.",
                    "type": "string"
                },
                {
                    "name": "serviceAccountEmailAddress",
                    "desc": "The service account email address assigned to the instance.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "HTTP 1.1 Entity tag for the resource.",
                    "type": "string"
                },
                {
                    "name": "ipv6Address",
                    "desc": "The IPv6 address assigned to the instance.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#instance.",
                    "type": "string",
                    "default": "sql#instance"
                },
                {
                    "name": "masterInstanceName",
                    "desc": "The name of the instance which will act as master in the replication setup.",
                    "type": "string"
                },
                {
                    "name": "connectionName",
                    "desc": "Connection name of the Cloud SQL instance used in connection strings.",
                    "type": "string"
                },
                {
                    "name": "databaseVersion",
                    "desc": "The database engine type and version. Can be MYSQL_5_5 or MYSQL_5_6. Defaults to MYSQL_5_5. The databaseVersion cannot be changed after instance creation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstanceSetRootPasswordRequest",
            "desc": "Database instance set root password request.",
            "type": "object",
            "fields": [
                {
                    "name": "setRootPasswordContext",
                    "desc": "Set Root Password Context.",
                    "type": "ref",
                    "refType": "SetRootPasswordContext"
                }
            ]
        },
        {
            "name": "InstancesRestoreBackupResponse",
            "desc": "Database instance restore backup response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This is always sql#instancesRestoreBackup.",
                    "type": "string",
                    "default": "sql#instancesRestoreBackup"
                },
                {
                    "name": "operation",
                    "desc": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LocationPreference",
            "desc": "Preferred location. This specifies where a Cloud SQL instance should preferably be located, either in a specific Compute Engine zone, or co-located with an App Engine application. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
            "type": "object",
            "fields": [
                {
                    "name": "followGaeApplication",
                    "desc": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#locationPreference.",
                    "type": "string",
                    "default": "sql#locationPreference"
                },
                {
                    "name": "zone",
                    "desc": "The preferred Compute Engine zone (e.g. us-centra1-a, us-central1-b, etc.).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BackupRunsListResponse",
            "desc": "Backup run list results.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of backup runs in reverse chronological order of the enqueued time.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BackupRun"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#backupRunsList.",
                    "type": "string",
                    "default": "sql#backupRunsList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BinLogCoordinates",
            "desc": "Binary log coordinates.",
            "type": "object",
            "fields": [
                {
                    "name": "binLogFileName",
                    "desc": "Name of the binary log file for a Cloud SQL instance.",
                    "type": "string"
                },
                {
                    "name": "binLogPosition",
                    "desc": "Position (offset) within the binary log file.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#binLogCoordinates.",
                    "type": "string",
                    "default": "sql#binLogCoordinates"
                }
            ]
        },
        {
            "name": "SslCertDetail",
            "desc": "SslCertDetail.",
            "type": "object",
            "fields": [
                {
                    "name": "certInfo",
                    "desc": "The public information about the cert.",
                    "type": "ref",
                    "refType": "SslCert"
                },
                {
                    "name": "certPrivateKey",
                    "desc": "The private key for the client cert, in pem format. Keep private in order to protect your security.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DatabaseFlags",
            "desc": "MySQL flags for Cloud SQL instances.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the flag. These flags are passed at instance startup, so include both MySQL server options and MySQL system variables. Flags should be specified with underscores, not hyphens. For more information, see Configuring MySQL Flags in the Google Cloud SQL documentation, as well as the official MySQL documentation for server options and system variables.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "The value of the flag. Booleans should be set to on for true and off for false. This field must be omitted if the flag doesn't take a value.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OperationError",
            "desc": "Database instance operation error.",
            "type": "object",
            "fields": [
                {
                    "name": "code",
                    "desc": "Identifies the specific error that occurred.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This is always sql#operationError.",
                    "type": "string",
                    "default": "sql#operationError"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "backupRuns",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves information about a specified backup run for a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/backupRuns/{backupConfiguration}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "backupConfiguration",
                            "desc": "Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "dueTime",
                            "desc": "The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "BackupRun"
                },
                {
                    "name": "list",
                    "desc": "Lists all backup runs associated with a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/backupRuns",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "backupConfiguration",
                            "desc": "Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of backup runs per response.",
                            "type": "int32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A previously-returned page token representing part of the larger set of results to view.",
                            "type": "string"
                        }
                    ],
                    "response": "BackupRunsListResponse"
                }
            ]
        },
        {
            "name": "flags",
            "methods": [
                {
                    "name": "list",
                    "desc": "Lists all database flags that can be set for Google Cloud SQL instances.",
                    "path": "flags",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "response": "FlagsListResponse"
                }
            ]
        },
        {
            "name": "instances",
            "methods": [
                {
                    "name": "clone",
                    "desc": "Creates a Cloud SQL instance as a clone of a source instance.",
                    "path": "projects/{project}/instances/clone",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the source as well as the clone Cloud SQL instance.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstancesCloneRequest",
                    "response": "InstancesCloneResponse"
                },
                {
                    "name": "delete",
                    "desc": "Deletes a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance to be deleted.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "InstancesDeleteResponse"
                },
                {
                    "name": "restart",
                    "desc": "Restarts a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/restart",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance to be restarted.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "InstancesRestartResponse"
                },
                {
                    "name": "get",
                    "desc": "Retrieves information about a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Database instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "DatabaseInstance"
                },
                {
                    "name": "import",
                    "desc": "Imports data into a Cloud SQL instance from a MySQL dump file stored in a Google Cloud Storage bucket.",
                    "path": "projects/{project}/instances/{instance}/import",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstancesImportRequest",
                    "response": "InstancesImportResponse"
                },
                {
                    "name": "insert",
                    "desc": "Creates a new Cloud SQL instance.",
                    "path": "projects/{project}/instances",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "DatabaseInstance",
                    "response": "InstancesInsertResponse"
                },
                {
                    "name": "export",
                    "desc": "Exports data from a Cloud SQL instance to a Google Cloud Storage bucket as a MySQL dump file.",
                    "path": "projects/{project}/instances/{instance}/export",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance to be exported.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstancesExportRequest",
                    "response": "InstancesExportResponse"
                },
                {
                    "name": "list",
                    "desc": "Lists instances for a given project, in alphabetical order by instance name.",
                    "path": "projects/{project}/instances",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project for which to list Cloud SQL instances.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of results to return per response.",
                            "type": "uint32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A previously-returned page token representing part of the larger set of results to view.",
                            "type": "string"
                        }
                    ],
                    "response": "InstancesListResponse"
                },
                {
                    "name": "setRootPassword",
                    "desc": "Sets the password for the root user of the specified Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/setRootPassword",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "InstanceSetRootPasswordRequest",
                    "response": "InstancesSetRootPasswordResponse"
                },
                {
                    "name": "update",
                    "desc": "Updates the settings of a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "DatabaseInstance",
                    "response": "InstancesUpdateResponse"
                },
                {
                    "name": "patch",
                    "desc": "Updates the settings of a Cloud SQL instance. This method supports patch semantics.",
                    "path": "projects/{project}/instances/{instance}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "DatabaseInstance",
                    "response": "InstancesUpdateResponse"
                },
                {
                    "name": "promoteReplica",
                    "desc": "Promotes the read replica instance to be a stand-alone Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/promoteReplica",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "ID of the project that contains the read replica.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL read replica instance name.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "InstancesPromoteReplicaResponse"
                },
                {
                    "name": "resetSslConfig",
                    "desc": "Deletes all client certificates and generates a new server SSL certificate for a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/resetSslConfig",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "InstancesResetSslConfigResponse"
                },
                {
                    "name": "restoreBackup",
                    "desc": "Restores a backup of a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/restoreBackup",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "backupConfiguration",
                            "desc": "The identifier of the backup configuration. This gets generated automatically when a backup configuration is created.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "dueTime",
                            "desc": "The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "InstancesRestoreBackupResponse"
                }
            ]
        },
        {
            "name": "operations",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves information about a specific operation that was performed on a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/operations/{operation}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "operation",
                            "desc": "Instance operation ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "InstanceOperation"
                },
                {
                    "name": "list",
                    "desc": "Lists all operations that have been performed on a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/operations",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of operations per response.",
                            "type": "uint32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A previously-returned page token representing part of the larger set of results to view.",
                            "type": "string"
                        }
                    ],
                    "response": "OperationsListResponse"
                }
            ]
        },
        {
            "name": "sslCerts",
            "methods": [
                {
                    "name": "delete",
                    "desc": "Deletes an SSL certificate from a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance to be deleted.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "sha1Fingerprint",
                            "desc": "Sha1 FingerPrint.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "SslCertsDeleteResponse"
                },
                {
                    "name": "get",
                    "desc": "Retrieves an SSL certificate as specified by its SHA-1 fingerprint.",
                    "path": "projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project that contains the instance.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "sha1Fingerprint",
                            "desc": "Sha1 FingerPrint.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "SslCert"
                },
                {
                    "name": "insert",
                    "desc": "Creates an SSL certificate and returns the certificate, the associated private key, and the server certificate authority.",
                    "path": "projects/{project}/instances/{instance}/sslCerts",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "SslCertsInsertRequest",
                    "response": "SslCertsInsertResponse"
                },
                {
                    "name": "list",
                    "desc": "Lists all of the current SSL certificates defined for a Cloud SQL instance.",
                    "path": "projects/{project}/instances/{instance}/sslCerts",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project for which to list Cloud SQL instances.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "instance",
                            "desc": "Cloud SQL instance ID. This does not include the project ID.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "SslCertsListResponse"
                }
            ]
        },
        {
            "name": "tiers",
            "methods": [
                {
                    "name": "list",
                    "desc": "Lists service tiers that can be used to create Google Cloud SQL instances.",
                    "path": "projects/{project}/tiers",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID of the project for which to list tiers.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "TiersListResponse"
                }
            ]
        }
    ]
}