{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/IHE7RRqwAjvUDuB9q_yaFj_YTY0\"",
    "discoveryVersion": "v1",
    "id": "deploymentmanager:v2",
    "name": "deploymentmanager",
    "version": "v2",
    "title": "Google Cloud Deployment Manager API",
    "description": "Declares, configures, and deploys complex solutions on Google Cloud Platform.",
    "documentationLink": "https://cloud.google.com/deployment-manager/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "deploymentmanager/v2/projects/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
        ]
    },
    "parameters": [
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "TypesListResponse",
            "desc": "A response that returns all Types supported by Deployment Manager",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token used to continue a truncated list request.",
                    "type": "string"
                },
                {
                    "name": "types",
                    "desc": "[Output Only] A list of resource types supported by Deployment Manager.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Type"
                }
            ]
        },
        {
            "name": "DeploymentUpdate",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "[Output Only] An optional user-provided description of the deployment after the current update has been applied.",
                    "type": "string"
                },
                {
                    "name": "labels",
                    "desc": "[Output Only] Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: [a-z]([-a-z0-9]*[a-z0-9])? Label values must be between 0 and 63 characters long and must conform to the regular expression ([a-z]([-a-z0-9]*[a-z0-9])?)?",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DeploymentUpdateLabelEntry"
                },
                {
                    "name": "manifest",
                    "desc": "[Output Only] URL of the manifest representing the update configuration of this deployment.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DeploymentsCancelPreviewRequest",
            "type": "object",
            "fields": [
                {
                    "name": "fingerprint",
                    "desc": "Specifies a fingerprint for cancelPreview() requests. A fingerprint is a randomly generated value that must be provided in cancelPreview() requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests).\n\nThe fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a get() request on the deployment.",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "LogConfigCounterOptions",
            "desc": "Options for counters",
            "type": "object",
            "fields": [
                {
                    "name": "metric",
                    "desc": "The metric to update.",
                    "type": "string"
                },
                {
                    "name": "field",
                    "desc": "The field value to attribute.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ResourceUpdate",
            "type": "object",
            "fields": [
                {
                    "name": "finalProperties",
                    "desc": "[Output Only] The expanded properties of the resource with reference values expanded. Returned as serialized YAML.",
                    "type": "string"
                },
                {
                    "name": "intent",
                    "desc": "[Output Only] The intent of the resource: PREVIEW, UPDATE, or CANCEL.",
                    "type": "string"
                },
                {
                    "name": "manifest",
                    "desc": "[Output Only] URL of the manifest representing the update configuration of this resource.",
                    "type": "string"
                },
                {
                    "name": "properties",
                    "desc": "[Output Only] The set of updated properties for this resource, before references are expanded. Returned as serialized YAML.",
                    "type": "string"
                },
                {
                    "name": "state",
                    "desc": "[Output Only] The state of the resource.",
                    "type": "string"
                },
                {
                    "name": "warnings",
                    "desc": "[Output Only] If warning messages are generated during processing of this resource, this field will be populated.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string"
                        },
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "accessControl",
                    "desc": "The Access Control Policy to set on this resource after updating the resource itself.",
                    "type": "ref",
                    "refType": "ResourceAccessControl"
                },
                {
                    "name": "error",
                    "desc": "[Output Only] If errors are generated during update of the resource, this field will be populated.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "errors",
                            "desc": "[Output Only] The array of errors encountered while processing this operation.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "code",
                                    "desc": "[Output Only] The error type identifier for this error.",
                                    "type": "string"
                                },
                                {
                                    "name": "location",
                                    "desc": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                                    "type": "string"
                                },
                                {
                                    "name": "message",
                                    "desc": "[Output Only] An optional, human-readable error message.",
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "name": "ResourcesListResponse",
            "desc": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token used to continue a truncated list request.",
                    "type": "string"
                },
                {
                    "name": "resources",
                    "desc": "Resources contained in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Resource"
                }
            ]
        },
        {
            "name": "DeploymentsListResponse",
            "desc": "A response containing a partial list of deployments and a page token used to build the next request if the request has been truncated.",
            "type": "object",
            "fields": [
                {
                    "name": "deployments",
                    "desc": "[Output Only] The deployments contained in this response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Deployment"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] A token used to continue a truncated list request.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OperationsListResponse",
            "desc": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] A token used to continue a truncated list request.",
                    "type": "string"
                },
                {
                    "name": "operations",
                    "desc": "[Output Only] Operations contained in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Operation"
                }
            ]
        },
        {
            "name": "TargetConfiguration",
            "type": "object",
            "fields": [
                {
                    "name": "config",
                    "desc": "The configuration to use for this deployment.",
                    "type": "ref",
                    "refType": "ConfigFile"
                },
                {
                    "name": "imports",
                    "desc": "Specifies any files to import for this configuration. This can be used to import templates or other files. For example, you might import a text file in order to use the file in a template.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ImportFile"
                }
            ]
        },
        {
            "name": "Binding",
            "desc": "Associates `members` with a `role`.",
            "type": "object",
            "fields": [
                {
                    "name": "members",
                    "desc": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`.\n\n* `domain:{domain}`: A Google Apps domain name that represents all the users of that domain. For example, `google.com` or `example.com`.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "role",
                    "desc": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DeploymentLabelEntry",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "type": "string"
                },
                {
                    "name": "value",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LogConfig",
            "desc": "Specifies what kind of log the caller must write",
            "type": "object",
            "fields": [
                {
                    "name": "counter",
                    "desc": "Counter options.",
                    "type": "ref",
                    "refType": "LogConfigCounterOptions"
                }
            ]
        },
        {
            "name": "Policy",
            "desc": "Defines an Identity and Access Management (IAM) policy. It is used to specify access control policies for Cloud Platform resources.\n\n\n\nA `Policy` consists of a list of `bindings`. A `Binding` binds a list of `members` to a `role`, where the members can be user accounts, Google groups, Google domains, and service accounts. A `role` is a named list of permissions defined by IAM.\n\n**Example**\n\n{ \"bindings\": [ { \"role\": \"roles/owner\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-other-app@appspot.gserviceaccount.com\", ] }, { \"role\": \"roles/viewer\", \"members\": [\"user:sean@example.com\"] } ] }\n\nFor a description of IAM and its features, see the [IAM developer's guide](https://cloud.google.com/iam).",
            "type": "object",
            "fields": [
                {
                    "name": "bindings",
                    "desc": "Associates a list of `members` to a `role`. Multiple `bindings` must not be specified for the same `role`. `bindings` with no members will result in an error.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Binding"
                },
                {
                    "name": "etag",
                    "desc": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing policy is overwritten blindly.",
                    "type": "byte"
                },
                {
                    "name": "iamOwned",
                    "type": "bool"
                },
                {
                    "name": "rules",
                    "desc": "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Rule"
                },
                {
                    "name": "version",
                    "desc": "Version of the `Policy`. The default version is 0.",
                    "type": "int32"
                },
                {
                    "name": "auditConfigs",
                    "desc": "Specifies cloud audit logging configuration for this policy.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AuditConfig"
                }
            ]
        },
        {
            "name": "ResourceAccessControl",
            "desc": "The access controls set on the resource.",
            "type": "object",
            "fields": [
                {
                    "name": "gcpIamPolicy",
                    "desc": "The GCP IAM Policy to set on the resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ConfigFile",
            "type": "object",
            "fields": [
                {
                    "name": "content",
                    "desc": "The contents of the file.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DeploymentUpdateLabelEntry",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "type": "string"
                },
                {
                    "name": "value",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Manifest",
            "type": "object",
            "fields": [
                {
                    "name": "expandedConfig",
                    "desc": "[Output Only] The fully-expanded configuration file, including any templates and references.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "imports",
                    "desc": "[Output Only] The imported files for this manifest.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ImportFile"
                },
                {
                    "name": "insertTime",
                    "desc": "[Output Only] Timestamp when the manifest was created, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "layout",
                    "desc": "[Output Only] The YAML layout for this manifest.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "[Output Only] The name of the manifest.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Self link for the manifest.",
                    "type": "string"
                },
                {
                    "name": "config",
                    "desc": "[Output Only] The YAML configuration for this manifest.",
                    "type": "ref",
                    "refType": "ConfigFile"
                }
            ]
        },
        {
            "name": "Operation",
            "desc": "An Operation resource, used to manage asynchronous API requests.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "insertTime",
                    "desc": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "region",
                    "desc": "[Output Only] The URL of the region where the operation resides. Only available when performing regional operations.",
                    "type": "string"
                },
                {
                    "name": "warnings",
                    "desc": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string"
                        },
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "endTime",
                    "desc": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "error",
                    "desc": "[Output Only] If errors are generated during processing of the operation, this field will be populated.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "errors",
                            "desc": "[Output Only] The array of errors encountered while processing this operation.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "code",
                                    "desc": "[Output Only] The error type identifier for this error.",
                                    "type": "string"
                                },
                                {
                                    "name": "location",
                                    "desc": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                                    "type": "string"
                                },
                                {
                                    "name": "message",
                                    "desc": "[Output Only] An optional, human-readable error message.",
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "httpErrorMessage",
                    "desc": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as NOT FOUND.",
                    "type": "string"
                },
                {
                    "name": "httpErrorStatusCode",
                    "desc": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a 404 means the resource was not found.",
                    "type": "int32"
                },
                {
                    "name": "status",
                    "desc": "[Output Only] The status of the operation, which can be one of the following: PENDING, RUNNING, or DONE.",
                    "type": "string"
                },
                {
                    "name": "targetLink",
                    "desc": "[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the persistent disk that the snapshot was created from.",
                    "type": "string"
                },
                {
                    "name": "creationTimestamp",
                    "desc": "[Deprecated] This field is deprecated.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "[Output Only] Type of the resource. Always compute#operation for Operation resources.",
                    "type": "string",
                    "default": "deploymentmanager#operation"
                },
                {
                    "name": "operationType",
                    "desc": "[Output Only] The type of operation, such as insert, update, or delete, and so on.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "[Output Only] A textual description of the operation, which is set when the operation is created.",
                    "type": "string"
                },
                {
                    "name": "statusMessage",
                    "desc": "[Output Only] An optional textual description of the current status of the operation.",
                    "type": "string"
                },
                {
                    "name": "targetId",
                    "desc": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.",
                    "type": "uint64"
                },
                {
                    "name": "user",
                    "desc": "[Output Only] User who requested the operation, for example: user@example.com.",
                    "type": "string"
                },
                {
                    "name": "zone",
                    "desc": "[Output Only] The URL of the zone where the operation resides. Only available when performing per-zone operations.",
                    "type": "string"
                },
                {
                    "name": "clientOperationId",
                    "desc": "[Output Only] Reserved for future use.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "[Output Only] Name of the resource.",
                    "type": "string"
                },
                {
                    "name": "progress",
                    "desc": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.",
                    "type": "int32"
                },
                {
                    "name": "startTime",
                    "desc": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AuditLogConfig",
            "desc": "Provides the configuration for logging a type of permissions. Example:\n\n{ \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:foo@gmail.com\" ] }, { \"log_type\": \"DATA_WRITE\", } ] }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting foo@gmail.com from DATA_READ logging.",
            "type": "object",
            "fields": [
                {
                    "name": "exemptedMembers",
                    "desc": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of [Binding.members][].",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "logType",
                    "desc": "The log type that this config enables.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Condition",
            "desc": "A condition to be met.",
            "type": "object",
            "fields": [
                {
                    "name": "op",
                    "desc": "An operator to apply the subject with.",
                    "type": "string"
                },
                {
                    "name": "svc",
                    "desc": "Trusted attributes discharged by the service.",
                    "type": "string"
                },
                {
                    "name": "sys",
                    "desc": "Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "DEPRECATED. Use 'values' instead.",
                    "type": "string"
                },
                {
                    "name": "values",
                    "desc": "The objects of the condition. This is mutually exclusive with 'value'.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "iam",
                    "desc": "Trusted attributes supplied by the IAM system.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DeploymentsStopRequest",
            "type": "object",
            "fields": [
                {
                    "name": "fingerprint",
                    "desc": "Specifies a fingerprint for stop() requests. A fingerprint is a randomly generated value that must be provided in stop() requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision).\n\nThe fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a get() request on the deployment.",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "TestPermissionsResponse",
            "type": "object",
            "fields": [
                {
                    "name": "permissions",
                    "desc": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Resource",
            "type": "object",
            "fields": [
                {
                    "name": "manifest",
                    "desc": "[Output Only] URL of the manifest representing the current configuration of this resource.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "[Output Only] The type of the resource, for example compute.v1.instance, or cloudfunctions.v1beta1.function.",
                    "type": "string"
                },
                {
                    "name": "updateTime",
                    "desc": "[Output Only] Timestamp when the resource was updated, in RFC3339 text format .",
                    "type": "string"
                },
                {
                    "name": "accessControl",
                    "desc": "The Access Control Policy set on this resource.",
                    "type": "ref",
                    "refType": "ResourceAccessControl"
                },
                {
                    "name": "finalProperties",
                    "desc": "[Output Only] The evaluated properties of the resource with references expanded. Returned as serialized YAML.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "update",
                    "desc": "[Output Only] If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here.",
                    "type": "ref",
                    "refType": "ResourceUpdate"
                },
                {
                    "name": "url",
                    "desc": "[Output Only] The URL of the actual resource.",
                    "type": "string"
                },
                {
                    "name": "warnings",
                    "desc": "[Output Only] If warning messages are generated during processing of this resource, this field will be populated.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "code",
                            "desc": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                            "type": "string"
                        },
                        {
                            "name": "data",
                            "desc": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "key",
                                    "desc": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                    "type": "string"
                                },
                                {
                                    "name": "value",
                                    "desc": "[Output Only] A warning data value corresponding to the key.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "message",
                            "desc": "[Output Only] A human-readable description of the warning code.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "insertTime",
                    "desc": "[Output Only] Timestamp when the resource was created or acquired, in RFC3339 text format .",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "[Output Only] The name of the resource as it appears in the YAML config.",
                    "type": "string"
                },
                {
                    "name": "properties",
                    "desc": "[Output Only] The current properties of the resource before any references have been filled in. Returned as serialized YAML.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Type",
            "desc": "A resource type supported by Deployment Manager.",
            "type": "object",
            "fields": [
                {
                    "name": "insertTime",
                    "desc": "[Output Only] Timestamp when the type was created, in RFC3339 text format.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of the type.",
                    "type": "string"
                },
                {
                    "name": "operation",
                    "desc": "[Output Only] The Operation that most recently ran, or is currently running, on this type.",
                    "type": "ref",
                    "refType": "Operation"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Self link for the type.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "type": "uint64"
                }
            ]
        },
        {
            "name": "Deployment",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "An optional user-provided description of the deployment.",
                    "type": "string"
                },
                {
                    "name": "manifest",
                    "desc": "[Output Only] URL of the manifest representing the last manifest that was successfully deployed.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] Self link for the deployment.",
                    "type": "string"
                },
                {
                    "name": "target",
                    "desc": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates.",
                    "type": "ref",
                    "refType": "TargetConfiguration"
                },
                {
                    "name": "update",
                    "desc": "[Output Only] If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here.",
                    "type": "ref",
                    "refType": "DeploymentUpdate"
                },
                {
                    "name": "fingerprint",
                    "desc": "Provides a fingerprint to use in requests to modify a deployment, such as update(), stop(), and cancelPreview() requests. A fingerprint is a randomly generated value that must be provided with update(), stop(), and cancelPreview() requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time.\n\nThe fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a get() request to a deployment.",
                    "type": "byte"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "type": "uint64"
                },
                {
                    "name": "insertTime",
                    "desc": "[Output Only] Timestamp when the deployment was created, in RFC3339 text format .",
                    "type": "string"
                },
                {
                    "name": "labels",
                    "desc": "Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: [a-z]([-a-z0-9]*[a-z0-9])? Label values must be between 0 and 63 characters long and must conform to the regular expression ([a-z]([-a-z0-9]*[a-z0-9])?)?",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DeploymentLabelEntry"
                },
                {
                    "name": "name",
                    "desc": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
                    "type": "string"
                },
                {
                    "name": "operation",
                    "desc": "[Output Only] The Operation that most recently ran, or is currently running, on this deployment.",
                    "type": "ref",
                    "refType": "Operation"
                }
            ]
        },
        {
            "name": "Rule",
            "desc": "A rule to be applied in a Policy.",
            "type": "object",
            "fields": [
                {
                    "name": "notIns",
                    "desc": "If one or more 'not_in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "permissions",
                    "desc": "A permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*' matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "action",
                    "desc": "Required",
                    "type": "string"
                },
                {
                    "name": "conditions",
                    "desc": "Additional restrictions that must be met",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Condition"
                },
                {
                    "name": "description",
                    "desc": "Human-readable description of the rule.",
                    "type": "string"
                },
                {
                    "name": "ins",
                    "desc": "If one or more 'in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "logConfigs",
                    "desc": "The config returned to callers of tech.iam.IAM.CheckPolicy for any entries that match the LOG action.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LogConfig"
                }
            ]
        },
        {
            "name": "AuditConfig",
            "desc": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConifg must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\" \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:foo@gmail.com\" ] }, { \"log_type\": \"DATA_WRITE\", }, { \"log_type\": \"ADMIN_READ\", } ] }, { \"service\": \"fooservice@googleapis.com\" \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:bar@gmail.com\" ] } ] } ] } For fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts foo@gmail.com from DATA_READ logging, and bar@gmail.com from DATA_WRITE logging.",
            "type": "object",
            "fields": [
                {
                    "name": "auditLogConfigs",
                    "desc": "The configuration for logging of each type of permission.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AuditLogConfig"
                },
                {
                    "name": "exemptedMembers",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "service",
                    "desc": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ImportFile",
            "type": "object",
            "fields": [
                {
                    "name": "content",
                    "desc": "The contents of the file.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the file.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ManifestsListResponse",
            "desc": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated.",
            "type": "object",
            "fields": [
                {
                    "name": "manifests",
                    "desc": "[Output Only] Manifests contained in this list response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Manifest"
                },
                {
                    "name": "nextPageToken",
                    "desc": "[Output Only] A token used to continue a truncated list request.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TestPermissionsRequest",
            "type": "object",
            "fields": [
                {
                    "name": "permissions",
                    "desc": "The set of permissions to check for the 'resource'. Permissions with wildcards (such as '*' or 'storage.*') are not allowed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "deployments",
            "methods": [
                {
                    "path": "{project}/global/deployments/{deployment}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Updates a deployment and all of the resources described by the deployment manifest.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "preview",
                            "desc": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a target.config with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the update() or you can cancelPreview() to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "createPolicy",
                            "desc": "Sets the policy to use for creating new resources.",
                            "type": "string",
                            "default": "CREATE_OR_ACQUIRE",
                            "enum": [
                                {
                                    "name": "ACQUIRE"
                                },
                                {
                                    "name": "CREATE_OR_ACQUIRE"
                                }
                            ]
                        },
                        {
                            "name": "deletePolicy",
                            "desc": "Sets the policy to use for deleting resources.",
                            "type": "string",
                            "default": "DELETE",
                            "enum": [
                                {
                                    "name": "ABANDON"
                                },
                                {
                                    "name": "DELETE"
                                }
                            ]
                        }
                    ],
                    "request": "Deployment",
                    "response": "Operation"
                },
                {
                    "path": "{project}/global/deployments/{deployment}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets information about a specific deployment.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "response": "Deployment"
                },
                {
                    "path": "{project}/global/deployments/{resource}/getIamPolicy",
                    "httpMethod": "GET",
                    "name": "getIamPolicy",
                    "desc": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "resource",
                            "desc": "Name of the resource for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?"
                        }
                    ],
                    "response": "Policy"
                },
                {
                    "path": "{project}/global/deployments",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Creates a deployment and all of the resources described by the deployment manifest.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "preview",
                            "desc": "If set to true, creates a deployment and creates \"shell\" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the update() method or you can use the cancelPreview() method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
                            "type": "bool"
                        }
                    ],
                    "request": "Deployment",
                    "response": "Operation"
                },
                {
                    "path": "{project}/global/deployments",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Lists all deployments for a given project.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "filter",
                            "desc": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)",
                            "type": "uint32",
                            "default": "500",
                            "min": "0"
                        },
                        {
                            "name": "orderBy",
                            "desc": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.",
                            "type": "string"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "type": "string"
                        }
                    ],
                    "response": "DeploymentsListResponse"
                },
                {
                    "path": "{project}/global/deployments/{deployment}",
                    "httpMethod": "PATCH",
                    "name": "patch",
                    "desc": "Updates a deployment and all of the resources described by the deployment manifest. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "createPolicy",
                            "desc": "Sets the policy to use for creating new resources.",
                            "type": "string",
                            "default": "CREATE_OR_ACQUIRE",
                            "enum": [
                                {
                                    "name": "ACQUIRE"
                                },
                                {
                                    "name": "CREATE_OR_ACQUIRE"
                                }
                            ]
                        },
                        {
                            "name": "deletePolicy",
                            "desc": "Sets the policy to use for deleting resources.",
                            "type": "string",
                            "default": "DELETE",
                            "enum": [
                                {
                                    "name": "ABANDON"
                                },
                                {
                                    "name": "DELETE"
                                }
                            ]
                        },
                        {
                            "name": "preview",
                            "desc": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a target.config with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the update() or you can cancelPreview() to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
                            "type": "bool",
                            "default": "false"
                        }
                    ],
                    "request": "Deployment",
                    "response": "Operation"
                },
                {
                    "path": "{project}/global/deployments/{resource}/setIamPolicy",
                    "httpMethod": "POST",
                    "name": "setIamPolicy",
                    "desc": "Sets the access control policy on the specified resource. Replaces any existing policy.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "resource",
                            "desc": "Name of the resource for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?"
                        }
                    ],
                    "request": "Policy",
                    "response": "Policy"
                },
                {
                    "path": "{project}/global/deployments/{deployment}/stop",
                    "httpMethod": "POST",
                    "name": "stop",
                    "desc": "Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "request": "DeploymentsStopRequest",
                    "response": "Operation"
                },
                {
                    "path": "{project}/global/deployments/{resource}/testIamPermissions",
                    "httpMethod": "POST",
                    "name": "testIamPermissions",
                    "desc": "Returns permissions that a caller has on the specified resource.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "Project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "resource",
                            "desc": "Name of the resource for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?"
                        }
                    ],
                    "request": "TestPermissionsRequest",
                    "response": "TestPermissionsResponse"
                },
                {
                    "path": "{project}/global/deployments/{deployment}/cancelPreview",
                    "httpMethod": "POST",
                    "name": "cancelPreview",
                    "desc": "Cancels and removes the preview currently associated with the deployment.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "request": "DeploymentsCancelPreviewRequest",
                    "response": "Operation"
                },
                {
                    "path": "{project}/global/deployments/{deployment}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Deletes a deployment and all of the resources in the deployment.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "deletePolicy",
                            "desc": "Sets the policy to use for deleting resources.",
                            "type": "string",
                            "default": "DELETE",
                            "enum": [
                                {
                                    "name": "ABANDON"
                                },
                                {
                                    "name": "DELETE"
                                }
                            ]
                        }
                    ],
                    "response": "Operation"
                }
            ]
        },
        {
            "name": "manifests",
            "methods": [
                {
                    "path": "{project}/global/deployments/{deployment}/manifests/{manifest}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets information about a specific manifest.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "manifest",
                            "desc": "The name of the manifest for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "response": "Manifest"
                },
                {
                    "path": "{project}/global/deployments/{deployment}/manifests",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Lists all manifests for a given deployment.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "filter",
                            "desc": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)",
                            "type": "uint32",
                            "default": "500",
                            "min": "0"
                        },
                        {
                            "name": "orderBy",
                            "desc": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.",
                            "type": "string"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "type": "string"
                        }
                    ],
                    "response": "ManifestsListResponse"
                }
            ]
        },
        {
            "name": "operations",
            "methods": [
                {
                    "path": "{project}/global/operations/{operation}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets information about a specific operation.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "operation",
                            "desc": "The name of the operation for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Operation"
                },
                {
                    "path": "{project}/global/operations",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Lists all operations for a project.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "type": "string"
                        },
                        {
                            "name": "filter",
                            "desc": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)",
                            "type": "uint32",
                            "default": "500",
                            "min": "0"
                        },
                        {
                            "name": "orderBy",
                            "desc": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.",
                            "type": "string"
                        }
                    ],
                    "response": "OperationsListResponse"
                }
            ]
        },
        {
            "name": "resources",
            "methods": [
                {
                    "path": "{project}/global/deployments/{deployment}/resources",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Lists all resources in a given deployment.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "filter",
                            "desc": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)",
                            "type": "uint32",
                            "default": "500",
                            "min": "0"
                        },
                        {
                            "name": "orderBy",
                            "desc": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.",
                            "type": "string"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "type": "string"
                        }
                    ],
                    "response": "ResourcesListResponse"
                },
                {
                    "path": "{project}/global/deployments/{deployment}/resources/{resource}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets information about a single resource.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        },
                        {
                            "name": "deployment",
                            "desc": "The name of the deployment for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
                        },
                        {
                            "name": "resource",
                            "desc": "The name of the resource for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Resource"
                }
            ]
        },
        {
            "name": "types",
            "methods": [
                {
                    "path": "{project}/global/types",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Lists all resource types for Deployment Manager.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "type": "string"
                        },
                        {
                            "name": "filter",
                            "desc": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)",
                            "type": "uint32",
                            "default": "500",
                            "min": "0"
                        },
                        {
                            "name": "orderBy",
[...]
