{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/2gL3A40IBu11GP9xmmdXxrLKXPg\"",
    "discoveryVersion": "v1",
    "id": "customsearch:v1",
    "name": "customsearch",
    "version": "v1",
    "title": "CustomSearch API",
    "description": "Lets you search over a website or collection of websites",
    "documentationLink": "https://developers.google.com/custom-search/v1/using_rest",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {},
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "atom",
                    "desc": "Responses with Content-Type of application/atom+xml"
                },
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Context",
            "type": "object",
            "fields": [
                {
                    "name": "facets",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "array",
                        "type": "object",
                        "fields": [
                            {
                                "name": "anchor",
                                "type": "string"
                            },
                            {
                                "name": "label",
                                "type": "string"
                            },
                            {
                                "name": "label_with_op",
                                "type": "string"
                            }
                        ]
                    }
                },
                {
                    "name": "title",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Promotion",
            "type": "object",
            "fields": [
                {
                    "name": "image",
                    "type": "object",
                    "fields": [
                        {
                            "name": "source",
                            "type": "string"
                        },
                        {
                            "name": "width",
                            "type": "int32"
                        },
                        {
                            "name": "height",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "link",
                    "type": "string"
                },
                {
                    "name": "title",
                    "type": "string"
                },
                {
                    "name": "bodyLines",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "title",
                            "type": "string"
                        },
                        {
                            "name": "url",
                            "type": "string"
                        },
                        {
                            "name": "htmlTitle",
                            "type": "string"
                        },
                        {
                            "name": "link",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "displayLink",
                    "type": "string"
                },
                {
                    "name": "htmlTitle",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Query",
            "type": "object",
            "fields": [
                {
                    "name": "count",
                    "type": "int32"
                },
                {
                    "name": "disableCnTwTranslation",
                    "type": "string"
                },
                {
                    "name": "linkSite",
                    "type": "string"
                },
                {
                    "name": "siteSearch",
                    "type": "string"
                },
                {
                    "name": "sort",
                    "type": "string"
                },
                {
                    "name": "imgColorType",
                    "type": "string"
                },
                {
                    "name": "imgDominantColor",
                    "type": "string"
                },
                {
                    "name": "imgSize",
                    "type": "string"
                },
                {
                    "name": "orTerms",
                    "type": "string"
                },
                {
                    "name": "excludeTerms",
                    "type": "string"
                },
                {
                    "name": "filter",
                    "type": "string"
                },
                {
                    "name": "hl",
                    "type": "string"
                },
                {
                    "name": "startIndex",
                    "type": "int32"
                },
                {
                    "name": "rights",
                    "type": "string"
                },
                {
                    "name": "totalResults",
                    "type": "int64"
                },
                {
                    "name": "gl",
                    "type": "string"
                },
                {
                    "name": "imgType",
                    "type": "string"
                },
                {
                    "name": "inputEncoding",
                    "type": "string"
                },
                {
                    "name": "language",
                    "type": "string"
                },
                {
                    "name": "cx",
                    "type": "string"
                },
                {
                    "name": "hq",
                    "type": "string"
                },
                {
                    "name": "searchTerms",
                    "type": "string"
                },
                {
                    "name": "cr",
                    "type": "string"
                },
                {
                    "name": "exactTerms",
                    "type": "string"
                },
                {
                    "name": "lowRange",
                    "type": "string"
                },
                {
                    "name": "title",
                    "type": "string"
                },
                {
                    "name": "siteSearchFilter",
                    "type": "string"
                },
                {
                    "name": "cref",
                    "type": "string"
                },
                {
                    "name": "fileType",
                    "type": "string"
                },
                {
                    "name": "googleHost",
                    "type": "string"
                },
                {
                    "name": "highRange",
                    "type": "string"
                },
                {
                    "name": "searchType",
                    "type": "string"
                },
                {
                    "name": "startPage",
                    "type": "int32"
                },
                {
                    "name": "dateRestrict",
                    "type": "string"
                },
                {
                    "name": "outputEncoding",
                    "type": "string"
                },
                {
                    "name": "relatedSite",
                    "type": "string"
                },
                {
                    "name": "safe",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Result",
            "type": "object",
            "fields": [
                {
                    "name": "labels",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "displayName",
                            "type": "string"
                        },
                        {
                            "name": "label_with_op",
                            "type": "string"
                        },
                        {
                            "name": "name",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "mime",
                    "type": "string"
                },
                {
                    "name": "displayLink",
                    "type": "string"
                },
                {
                    "name": "htmlTitle",
                    "type": "string"
                },
                {
                    "name": "image",
                    "type": "object",
                    "fields": [
                        {
                            "name": "thumbnailHeight",
                            "type": "int32"
                        },
                        {
                            "name": "thumbnailLink",
                            "type": "string"
                        },
                        {
                            "name": "thumbnailWidth",
                            "type": "int32"
                        },
                        {
                            "name": "width",
                            "type": "int32"
                        },
                        {
                            "name": "byteSize",
                            "type": "int32"
                        },
                        {
                            "name": "contextLink",
                            "type": "string"
                        },
                        {
                            "name": "height",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "link",
                    "type": "string"
                },
                {
                    "name": "fileFormat",
                    "type": "string"
                },
                {
                    "name": "htmlSnippet",
                    "type": "string"
                },
                {
                    "name": "pagemap",
                    "collection": "map",
                    "collectionItem": {
                        "collection": "array",
                        "collectionItem": {
                            "collection": "map",
                            "type": "any"
                        }
                    }
                },
                {
                    "name": "snippet",
                    "type": "string"
                },
                {
                    "name": "cacheId",
                    "type": "string"
                },
                {
                    "name": "htmlFormattedUrl",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "customsearch#result"
                },
                {
                    "name": "title",
                    "type": "string"
                },
                {
                    "name": "formattedUrl",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Search",
            "type": "object",
            "fields": [
                {
                    "name": "spelling",
                    "type": "object",
                    "fields": [
                        {
                            "name": "correctedQuery",
                            "type": "string"
                        },
                        {
                            "name": "htmlCorrectedQuery",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "url",
                    "type": "object",
                    "fields": [
                        {
                            "name": "template",
                            "type": "string",
                            "default": "https://www.googleapis.com/customsearch/v1?q={searchTerms}\u0026num={count?}\u0026start={startIndex?}\u0026lr={language?}\u0026safe={safe?}\u0026cx={cx?}\u0026cref={cref?}\u0026sort={sort?}\u0026filter={filter?}\u0026gl={gl?}\u0026cr={cr?}\u0026googlehost={googleHost?}\u0026c2coff={disableCnTwTranslation?}\u0026hq={hq?}\u0026hl={hl?}\u0026siteSearch={siteSearch?}\u0026siteSearchFilter={siteSearchFilter?}\u0026exactTerms={exactTerms?}\u0026excludeTerms={excludeTerms?}\u0026linkSite={linkSite?}\u0026orTerms={orTerms?}\u0026relatedSite={relatedSite?}\u0026dateRestrict={dateRestrict?}\u0026lowRange={lowRange?}\u0026highRange={highRange?}\u0026searchType={searchType}\u0026fileType={fileType?}\u0026rights={rights?}\u0026imgSize={imgSize?}\u0026imgType={imgType?}\u0026imgColorType={imgColorType?}\u0026imgDominantColor={imgDominantColor?}\u0026alt=json"
                        },
                        {
                            "name": "type",
                            "type": "string",
                            "default": "application/json"
                        }
                    ]
                },
                {
                    "name": "context",
                    "type": "ref",
                    "refType": "Context"
                },
                {
                    "name": "items",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Result"
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "customsearch#search"
                },
                {
                    "name": "promotions",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Promotion"
                },
                {
                    "name": "queries",
                    "collection": "map",
                    "collectionItem": {
                        "collection": "array",
                        "type": "ref",
                        "refType": "Query"
                    }
                },
                {
                    "name": "searchInformation",
                    "type": "object",
                    "fields": [
                        {
                            "name": "searchTime",
                            "type": "float64"
                        },
                        {
                            "name": "totalResults",
                            "type": "int64"
                        },
                        {
                            "name": "formattedSearchTime",
                            "type": "string"
                        },
                        {
                            "name": "formattedTotalResults",
                            "type": "string"
                        }
                    ]
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "cse",
            "methods": [
                {
                    "name": "list",
                    "desc": "Returns metadata about the search performed, metadata about the custom search engine used for the search, and the search results.",
                    "path": "v1",
                    "httpMethod": "GET",
                    "requiredQueryParams": [
                        {
                            "name": "q",
                            "desc": "Query",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "num",
                            "desc": "Number of search results to return",
                            "type": "uint32",
                            "default": "10"
                        },
                        {
                            "name": "searchType",
                            "desc": "Specifies the search type: image.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "image",
                                    "desc": "custom image search"
                                }
                            ]
                        },
                        {
                            "name": "cx",
                            "desc": "The custom search engine ID to scope this search query",
                            "type": "string"
                        },
                        {
                            "name": "excludeTerms",
                            "desc": "Identifies a word or phrase that should not appear in any documents in the search results",
                            "type": "string"
                        },
                        {
                            "name": "imgDominantColor",
                            "desc": "Returns images of a specific dominant color: yellow, green, teal, blue, purple, pink, white, gray, black and brown.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "black",
                                    "desc": "black"
                                },
                                {
                                    "name": "blue",
                                    "desc": "blue"
                                },
                                {
                                    "name": "brown",
                                    "desc": "brown"
                                },
                                {
                                    "name": "gray",
                                    "desc": "gray"
                                },
                                {
                                    "name": "green",
                                    "desc": "green"
                                },
                                {
                                    "name": "pink",
                                    "desc": "pink"
                                },
                                {
                                    "name": "purple",
                                    "desc": "purple"
                                },
                                {
                                    "name": "teal",
                                    "desc": "teal"
                                },
                                {
                                    "name": "white",
                                    "desc": "white"
                                },
                                {
                                    "name": "yellow",
                                    "desc": "yellow"
                                }
                            ]
                        },
                        {
                            "name": "imgSize",
                            "desc": "Returns images of a specified size, where size can be one of: icon, small, medium, large, xlarge, xxlarge, and huge.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "huge",
                                    "desc": "huge"
                                },
                                {
                                    "name": "icon",
                                    "desc": "icon"
                                },
                                {
                                    "name": "large",
                                    "desc": "large"
                                },
                                {
                                    "name": "medium",
                                    "desc": "medium"
                                },
                                {
                                    "name": "small",
                                    "desc": "small"
                                },
                                {
                                    "name": "xlarge",
                                    "desc": "xlarge"
                                },
                                {
                                    "name": "xxlarge",
                                    "desc": "xxlarge"
                                }
                            ]
                        },
                        {
                            "name": "orTerms",
                            "desc": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms",
                            "type": "string"
                        },
                        {
                            "name": "cref",
                            "desc": "The URL of a linked custom search engine",
                            "type": "string"
                        },
                        {
                            "name": "highRange",
                            "desc": "Creates a range in form as_nlo value..as_nhi value and attempts to append it to query",
                            "type": "string"
                        },
                        {
                            "name": "hl",
                            "desc": "Sets the user interface language.",
                            "type": "string"
                        },
                        {
                            "name": "hq",
                            "desc": "Appends the extra query terms to the query.",
                            "type": "string"
                        },
                        {
                            "name": "imgType",
                            "desc": "Returns images of a type, which can be one of: clipart, face, lineart, news, and photo.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "clipart",
                                    "desc": "clipart"
                                },
                                {
                                    "name": "face",
                                    "desc": "face"
                                },
                                {
                                    "name": "lineart",
                                    "desc": "lineart"
                                },
                                {
                                    "name": "news",
                                    "desc": "news"
                                },
                                {
                                    "name": "photo",
                                    "desc": "photo"
                                }
                            ]
                        },
                        {
                            "name": "linkSite",
                            "desc": "Specifies that all search results should contain a link to a particular URL",
                            "type": "string"
                        },
                        {
                            "name": "gl",
                            "desc": "Geolocation of end user.",
                            "type": "string"
                        },
                        {
                            "name": "googlehost",
                            "desc": "The local Google domain to use to perform the search.",
                            "type": "string"
                        },
                        {
                            "name": "imgColorType",
                            "desc": "Returns black and white, grayscale, or color images: mono, gray, and color.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "color",
                                    "desc": "color"
                                },
                                {
                                    "name": "gray",
                                    "desc": "gray"
                                },
                                {
                                    "name": "mono",
                                    "desc": "mono"
                                }
                            ]
                        },
                        {
                            "name": "lowRange",
                            "desc": "Creates a range in form as_nlo value..as_nhi value and attempts to append it to query",
                            "type": "string"
                        },
                        {
                            "name": "relatedSite",
                            "desc": "Specifies that all search results should be pages that are related to the specified URL",
                            "type": "string"
                        },
                        {
                            "name": "dateRestrict",
                            "desc": "Specifies all search results are from a time period",
                            "type": "string"
                        },
                        {
                            "name": "fileType",
                            "desc": "Returns images of a specified type. Some of the allowed values are: bmp, gif, png, jpg, svg, pdf, ...",
                            "type": "string"
                        },
                        {
                            "name": "filter",
                            "desc": "Controls turning on or off the duplicate content filter.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "0",
                                    "desc": "Turns off duplicate content filter."
                                },
                                {
                                    "name": "1",
                                    "desc": "Turns on duplicate content filter."
                                }
                            ]
                        },
                        {
                            "name": "safe",
                            "desc": "Search safety level",
                            "type": "string",
                            "default": "off",
                            "enum": [
                                {
                                    "name": "high",
                                    "desc": "Enables highest level of safe search filtering."
                                },
                                {
                                    "name": "medium",
                                    "desc": "Enables moderate safe search filtering."
                                },
                                {
                                    "name": "off",
                                    "desc": "Disables safe search filtering."
                                }
                            ]
                        },
                        {
                            "name": "siteSearchFilter",
                            "desc": "Controls whether to include or exclude results from the site named in the as_sitesearch parameter",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "e",
                                    "desc": "exclude"
                                },
                                {
                                    "name": "i",
                                    "desc": "include"
                                }
                            ]
                        },
                        {
                            "name": "sort",
                            "desc": "The sort expression to apply to the results",
                            "type": "string"
                        },
                        {
                            "name": "c2coff",
                            "desc": "Turns off the translation between zh-CN and zh-TW.",
                            "type": "string"
                        },
                        {
                            "name": "rights",
                            "desc": "Filters based on licensing. Supported values include: cc_publicdomain, cc_attribute, cc_sharealike, cc_noncommercial, cc_nonderived and combinations of these.",
                            "type": "string"
                        },
                        {
                            "name": "cr",
                            "desc": "Country restrict(s).",
                            "type": "string"
                        },
                        {
                            "name": "exactTerms",
                            "desc": "Identifies a phrase that all documents in the search results must contain",
                            "type": "string"
                        },
                        {
                            "name": "lr",
                            "desc": "The language restriction for the search results",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "lang_ar",
                                    "desc": "Arabic"
                                },
                                {
                                    "name": "lang_bg",
                                    "desc": "Bulgarian"
                                },
                                {
                                    "name": "lang_ca",
                                    "desc": "Catalan"
                                },
                                {
                                    "name": "lang_cs",
                                    "desc": "Czech"
                                },
                                {
                                    "name": "lang_da",
                                    "desc": "Danish"
                                },
                                {
                                    "name": "lang_de",
                                    "desc": "German"
                                },
                                {
                                    "name": "lang_el",
                                    "desc": "Greek"
                                },
                                {
                                    "name": "lang_en",
                                    "desc": "English"
                                },
                                {
                                    "name": "lang_es",
                                    "desc": "Spanish"
                                },
                                {
                                    "name": "lang_et",
                                    "desc": "Estonian"
                                },
                                {
                                    "name": "lang_fi",
                                    "desc": "Finnish"
                                },
                                {
                                    "name": "lang_fr",
                                    "desc": "French"
                                },
                                {
                                    "name": "lang_hr",
                                    "desc": "Croatian"
                                },
                                {
                                    "name": "lang_hu",
                                    "desc": "Hungarian"
                                },
                                {
                                    "name": "lang_id",
                                    "desc": "Indonesian"
                                },
                                {
                                    "name": "lang_is",
                                    "desc": "Icelandic"
                                },
                                {
                                    "name": "lang_it",
                                    "desc": "Italian"
                                },
                                {
                                    "name": "lang_iw",
                                    "desc": "Hebrew"
                                },
                                {
                                    "name": "lang_ja",
                                    "desc": "Japanese"
                                },
                                {
                                    "name": "lang_ko",
                                    "desc": "Korean"
                                },
                                {
                                    "name": "lang_lt",
                                    "desc": "Lithuanian"
                                },
                                {
                                    "name": "lang_lv",
                                    "desc": "Latvian"
                                },
                                {
                                    "name": "lang_nl",
                                    "desc": "Dutch"
                                },
                                {
                                    "name": "lang_no",
                                    "desc": "Norwegian"
                                },
                                {
                                    "name": "lang_pl",
                                    "desc": "Polish"
                                },
                                {
                                    "name": "lang_pt",
                                    "desc": "Portuguese"
                                },
                                {
                                    "name": "lang_ro",
                                    "desc": "Romanian"
                                },
                                {
                                    "name": "lang_ru",
                                    "desc": "Russian"
                                },
                                {
                                    "name": "lang_sk",
                                    "desc": "Slovak"
                                },
                                {
                                    "name": "lang_sl",
                                    "desc": "Slovenian"
                                },
                                {
                                    "name": "lang_sr",
                                    "desc": "Serbian"
                                },
                                {
                                    "name": "lang_sv",
                                    "desc": "Swedish"
                                },
                                {
                                    "name": "lang_tr",
                                    "desc": "Turkish"
                                },
                                {
                                    "name": "lang_zh-CN",
                                    "desc": "Chinese (Simplified)"
                                },
                                {
                                    "name": "lang_zh-TW",
                                    "desc": "Chinese (Traditional)"
                                }
                            ]
                        },
                        {
                            "name": "siteSearch",
                            "desc": "Specifies all search results should be pages from a given site",
                            "type": "string"
                        },
                        {
                            "name": "start",
                            "desc": "The index of the first result to return",
                            "type": "uint32"
                        }
                    ],
                    "response": "Search"
                }
            ]
        }
    ]
}