{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/HxZRDFK7f86Z7kwjlvcp4S6C4Oc\"",
    "discoveryVersion": "v1",
    "id": "resourceviews:v1beta1",
    "name": "resourceviews",
    "version": "v1beta1",
    "title": "Resource Views API",
    "description": "The Resource View API allows users to create and manage logical sets of Google Compute Engine instances.",
    "documentationLink": "https://developers.google.com/compute/",
    "labels": [
        "limited_availability"
    ],
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "ZoneViewsListResponse",
            "desc": "The response to a list request.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token used for pagination.",
                    "type": "string"
                },
                {
                    "name": "resourceViews",
                    "desc": "The result that contains all resource views that meet the criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ResourceView"
                }
            ]
        },
        {
            "name": "Label",
            "desc": "The Label to be applied to the resource views.",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "desc": "Key of the label.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "Value of the label.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RegionViewsAddResourcesRequest",
            "desc": "The request to add resources to the resource view.",
            "type": "object",
            "fields": [
                {
                    "name": "resources",
                    "desc": "The list of resources to be added.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RegionViewsInsertResponse",
            "desc": "The response to a resource view insert request.",
            "type": "object",
            "fields": [
                {
                    "name": "resource",
                    "desc": "The resource view object inserted.",
                    "type": "ref",
                    "refType": "ResourceView"
                }
            ]
        },
        {
            "name": "RegionViewsRemoveResourcesRequest",
            "desc": "The request to remove resources from the resource view.",
            "type": "object",
            "fields": [
                {
                    "name": "resources",
                    "desc": "The list of resources to be removed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ResourceView",
            "desc": "The resource view object.",
            "type": "object",
            "fields": [
                {
                    "name": "creationTime",
                    "desc": "The creation time of the resource view.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "[Output Only] The ID of the resource view.",
                    "type": "string"
                },
                {
                    "name": "members",
                    "desc": "A list of all resources in the resource view.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "lastModified",
                    "desc": "The last modified time of the view. Not supported yet.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the resource view.",
                    "type": "string"
                },
                {
                    "name": "numMembers",
                    "desc": "The total number of resources in the resource view.",
                    "type": "uint32"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] A self-link to the resource view.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The detailed description of the resource view.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Type of the resource.",
                    "type": "string",
                    "default": "resourceviews#resourceView"
                },
                {
                    "name": "labels",
                    "desc": "The labels for events.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Label"
                }
            ]
        },
        {
            "name": "ZoneViewsRemoveResourcesRequest",
            "desc": "The request to remove resources from the resource view.",
            "type": "object",
            "fields": [
                {
                    "name": "resources",
                    "desc": "The list of resources to be removed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RegionViewsListResourcesResponse",
            "desc": "The response to the list resource request.",
            "type": "object",
            "fields": [
                {
                    "name": "members",
                    "desc": "The resources in the view.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token used for pagination.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RegionViewsListResponse",
            "desc": "The response to the list resource view request.",
            "type": "object",
            "fields": [
                {
                    "name": "resourceViews",
                    "desc": "The list of resource views that meet the criteria.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ResourceView"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token used for pagination.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ZoneViewsAddResourcesRequest",
            "desc": "The request to add resources to the resource view.",
            "type": "object",
            "fields": [
                {
                    "name": "resources",
                    "desc": "The list of resources to be added.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ZoneViewsInsertResponse",
            "desc": "The response to an insert request.",
            "type": "object",
            "fields": [
                {
                    "name": "resource",
                    "desc": "The resource view object that has been inserted.",
                    "type": "ref",
                    "refType": "ResourceView"
                }
            ]
        },
        {
            "name": "ZoneViewsListResourcesResponse",
            "desc": "The response to a list resource request.",
            "type": "object",
            "fields": [
                {
                    "name": "members",
                    "desc": "The full URL of resources in the view.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token used for pagination.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "regionViews",
            "methods": [
                {
                    "name": "addresources",
                    "desc": "Add resources to the view.",
                    "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}/addResources",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "region",
                            "desc": "The region name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "RegionViewsAddResourcesRequest"
                },
                {
                    "name": "delete",
                    "desc": "Delete a resource view.",
                    "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "region",
                            "desc": "The region name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Get the information of a resource view.",
                    "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "region",
                            "desc": "The region name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "ResourceView"
                },
                {
                    "name": "insert",
                    "desc": "Create a resource view.",
                    "path": "{projectName}/regions/{region}/resourceViews",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "region",
                            "desc": "The region name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ResourceView",
                    "response": "RegionViewsInsertResponse"
                },
                {
                    "name": "list",
                    "desc": "List resource views.",
                    "path": "{projectName}/regions/{region}/resourceViews",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "region",
                            "desc": "The region name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
                            "type": "int32",
                            "default": "5000",
                            "min": "0",
                            "max": "5000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
                            "type": "string"
                        }
                    ],
                    "response": "RegionViewsListResponse"
                },
                {
                    "name": "listresources",
                    "desc": "List the resources in the view.",
                    "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}/resources",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "region",
                            "desc": "The region name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
                            "type": "int32",
                            "default": "5000",
                            "min": "0",
                            "max": "5000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
                            "type": "string"
                        }
                    ],
                    "response": "RegionViewsListResourcesResponse"
                },
                {
                    "name": "removeresources",
                    "desc": "Remove resources from the view.",
                    "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}/removeResources",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "region",
                            "desc": "The region name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "RegionViewsRemoveResourcesRequest"
                }
            ]
        },
        {
            "name": "zoneViews",
            "methods": [
                {
                    "name": "delete",
                    "desc": "Delete a resource view.",
                    "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Get the information of a zonal resource view.",
                    "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "ResourceView"
                },
                {
                    "name": "insert",
                    "desc": "Create a resource view.",
                    "path": "{projectName}/zones/{zone}/resourceViews",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ResourceView",
                    "response": "ZoneViewsInsertResponse"
                },
                {
                    "name": "list",
                    "desc": "List resource views.",
                    "path": "{projectName}/zones/{zone}/resourceViews",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
                            "type": "int32",
                            "default": "5000",
                            "min": "0",
                            "max": "5000"
                        }
                    ],
                    "response": "ZoneViewsListResponse"
                },
                {
                    "name": "listresources",
                    "desc": "List the resources of the resource view.",
                    "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}/resources",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
                            "type": "int32",
                            "default": "5000",
                            "min": "0",
                            "max": "5000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
                            "type": "string"
                        }
                    ],
                    "response": "ZoneViewsListResourcesResponse"
                },
                {
                    "name": "removeresources",
                    "desc": "Remove resources from the view.",
                    "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}/removeResources",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ZoneViewsRemoveResourcesRequest"
                },
                {
                    "name": "addresources",
                    "desc": "Add resources to the view.",
                    "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}/addResources",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone name of the resource view.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "resourceViewName",
                            "desc": "The name of the resource view.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ZoneViewsAddResourcesRequest"
                }
            ]
        }
    ]
}