{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/XZ8FPmt5VRZnJqZoZVRr98B87Wg\"",
    "discoveryVersion": "v1",
    "id": "games:v1",
    "name": "games",
    "version": "v1",
    "title": "Google Play Game Services API",
    "description": "The API for Google Play Game Services.",
    "documentationLink": "https://developers.google.com/games/services/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games",
            "https://www.googleapis.com/auth/plus.login"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "PeerChannelDiagnostics",
            "desc": "This is a JSON template for peer channel diagnostics.",
            "type": "object",
            "fields": [
                {
                    "name": "numMessagesLost",
                    "desc": "Number of messages lost.",
                    "type": "int32"
                },
                {
                    "name": "numMessagesReceived",
                    "desc": "Number of messages received.",
                    "type": "int32"
                },
                {
                    "name": "numMessagesSent",
                    "desc": "Number of messages sent.",
                    "type": "int32"
                },
                {
                    "name": "numSendFailures",
                    "desc": "Number of send failures.",
                    "type": "int32"
                },
                {
                    "name": "roundtripLatencyMillis",
                    "desc": "Roundtrip latency stats in milliseconds.",
                    "type": "ref",
                    "refType": "AggregateStats"
                },
                {
                    "name": "bytesReceived",
                    "desc": "Number of bytes received.",
                    "type": "ref",
                    "refType": "AggregateStats"
                },
                {
                    "name": "bytesSent",
                    "desc": "Number of bytes sent.",
                    "type": "ref",
                    "refType": "AggregateStats"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#peerChannelDiagnostics.",
                    "type": "string",
                    "default": "games#peerChannelDiagnostics"
                }
            ]
        },
        {
            "name": "PushTokenId",
            "desc": "This is a JSON template for a push token ID resource.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#pushTokenId.",
                    "type": "string",
                    "default": "games#pushTokenId"
                },
                {
                    "name": "ios",
                    "desc": "A push token ID for iOS devices.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "apns_device_token",
                            "desc": "Device token supplied by an iOS system call to register for remote notifications. Encode this field as web-safe base64.",
                            "type": "byte"
                        },
                        {
                            "name": "apns_environment",
                            "desc": "Indicates whether this token should be used for the production or sandbox APNS server.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "RoomCreateRequest",
            "desc": "This is a JSON template for a room creation request.",
            "type": "object",
            "fields": [
                {
                    "name": "networkDiagnostics",
                    "desc": "Network diagnostics for the client creating the room.",
                    "type": "ref",
                    "refType": "NetworkDiagnostics"
                },
                {
                    "name": "requestId",
                    "desc": "A randomly generated numeric ID. This number is used at the server to ensure that the request is handled correctly across retries.",
                    "type": "int64"
                },
                {
                    "name": "variant",
                    "desc": "The variant / mode of the application to be played. This can be any integer value, or left blank. You should use a small number of variants to keep the auto-matching pool as large as possible.",
                    "type": "int32"
                },
                {
                    "name": "autoMatchingCriteria",
                    "desc": "Criteria for auto-matching players into this room.",
                    "type": "ref",
                    "refType": "RoomAutoMatchingCriteria"
                },
                {
                    "name": "capabilities",
                    "desc": "The capabilities that this client supports for realtime communication.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "clientAddress",
                    "desc": "Client address for the player creating the room.",
                    "type": "ref",
                    "refType": "RoomClientAddress"
                },
                {
                    "name": "invitedPlayerIds",
                    "desc": "The player IDs to invite to the room.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomCreateRequest.",
                    "type": "string",
                    "default": "games#roomCreateRequest"
                }
            ]
        },
        {
            "name": "RoomList",
            "desc": "This is a JSON template for a list of rooms.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The rooms.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Room"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomList.",
                    "type": "string",
                    "default": "games#roomList"
                }
            ]
        },
        {
            "name": "TurnBasedMatchTurn",
            "desc": "This is a JSON template for the object representing a turn.",
            "type": "object",
            "fields": [
                {
                    "name": "results",
                    "desc": "The match results for the participants in the match.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ParticipantResult"
                },
                {
                    "name": "data",
                    "desc": "The shared game state data after the turn is over.",
                    "type": "ref",
                    "refType": "TurnBasedMatchDataRequest"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchTurn.",
                    "type": "string",
                    "default": "games#turnBasedMatchTurn"
                },
                {
                    "name": "matchVersion",
                    "desc": "The version of this match: an increasing counter, used to avoid out-of-date updates to the match.",
                    "type": "int32"
                },
                {
                    "name": "pendingParticipantId",
                    "desc": "The ID of the participant who should take their turn next. May be set to the current player's participant ID to update match state without changing the turn. If not set, the match will wait for other player(s) to join via automatching; this is only valid if automatch criteria is set on the match with remaining slots for automatched players.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EventDefinitionListResponse",
            "desc": "This is a JSON template for a ListDefinitions response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The event definitions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventDefinition"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventDefinitionListResponse.",
                    "type": "string",
                    "default": "games#eventDefinitionListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoomLeaveRequest",
            "desc": "This is a JSON template for a leave room request.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomLeaveRequest.",
                    "type": "string",
                    "default": "games#roomLeaveRequest"
                },
                {
                    "name": "leaveDiagnostics",
                    "desc": "Diagnostics for a player leaving the room.",
                    "type": "ref",
                    "refType": "RoomLeaveDiagnostics"
                },
                {
                    "name": "reason",
                    "desc": "Reason for leaving the match.\nPossible values are:  \n- \"PLAYER_LEFT\" - The player chose to leave the room.. \n- \"GAME_LEFT\" - The game chose to remove the player from the room. \n- \"REALTIME_ABANDONED\" - The player switched to another application and abandoned the room. \n- \"REALTIME_PEER_CONNECTION_FAILURE\" - The client was unable to establish a connection to other peer(s). \n- \"REALTIME_SERVER_CONNECTION_FAILURE\" - The client was unable to communicate with the server. \n- \"REALTIME_SERVER_ERROR\" - The client received an error response when it tried to communicate with the server. \n- \"REALTIME_TIMEOUT\" - The client timed out while waiting for a room. \n- \"REALTIME_CLIENT_DISCONNECTING\" - The client disconnects without first calling Leave. \n- \"REALTIME_SIGN_OUT\" - The user signed out of G+ while in the room. \n- \"REALTIME_GAME_CRASHED\" - The game crashed. \n- \"REALTIME_ROOM_SERVICE_CRASHED\" - RoomAndroidService crashed. \n- \"REALTIME_DIFFERENT_CLIENT_ROOM_OPERATION\" - Another client is trying to enter a room. \n- \"REALTIME_SAME_CLIENT_ROOM_OPERATION\" - The same client is trying to enter a new room.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlayerLevel",
            "desc": "This is a JSON template for 1P/3P metadata about a user's level.",
            "type": "object",
            "fields": [
                {
                    "name": "minExperiencePoints",
                    "desc": "The minimum experience points for this level.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerLevel.",
                    "type": "string",
                    "default": "games#playerLevel"
                },
                {
                    "name": "level",
                    "desc": "The level for the user.",
                    "type": "int32"
                },
                {
                    "name": "maxExperiencePoints",
                    "desc": "The maximum experience points for this level.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "EventDefinition",
            "desc": "This is a JSON template for an event definition resource.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventDefinition.",
                    "type": "string",
                    "default": "games#eventDefinition"
                },
                {
                    "name": "visibility",
                    "desc": "The visibility of event being tracked in this definition.\nPossible values are:  \n- \"REVEALED\": This event should be visible to all users. \n- \"HIDDEN\": This event should only be shown to users that have recorded this event at least once.",
                    "type": "string"
                },
                {
                    "name": "childEvents",
                    "desc": "A list of events that are a child of this event.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventChild"
                },
                {
                    "name": "description",
                    "desc": "Description of what this event represents.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The name to display for the event.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the event.",
                    "type": "string"
                },
                {
                    "name": "imageUrl",
                    "desc": "The base URL for the image that represents the event.",
                    "type": "string"
                },
                {
                    "name": "isDefaultImageUrl",
                    "desc": "Indicates whether the icon image being returned is a default image, or is game-provided.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "LeaderboardScoreRank",
            "desc": "This is a JSON template for a score rank in a leaderboard.",
            "type": "object",
            "fields": [
                {
                    "name": "rank",
                    "desc": "The rank in the leaderboard.",
                    "type": "int64"
                },
                {
                    "name": "formattedNumScores",
                    "desc": "The number of scores in the leaderboard as a string.",
                    "type": "string"
                },
                {
                    "name": "formattedRank",
                    "desc": "The rank in the leaderboard as a string.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboardScoreRank.",
                    "type": "string",
                    "default": "games#leaderboardScoreRank"
                },
                {
                    "name": "numScores",
                    "desc": "The number of scores in the leaderboard.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "NetworkDiagnostics",
            "desc": "This is a JSON template for network diagnostics reported for a client.",
            "type": "object",
            "fields": [
                {
                    "name": "androidNetworkSubtype",
                    "desc": "The Android network subtype.",
                    "type": "int32"
                },
                {
                    "name": "androidNetworkType",
                    "desc": "The Android network type.",
                    "type": "int32"
                },
                {
                    "name": "iosNetworkType",
                    "desc": "iOS network type as defined in Reachability.h.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#networkDiagnostics.",
                    "type": "string",
                    "default": "games#networkDiagnostics"
                },
                {
                    "name": "networkOperatorCode",
                    "desc": "The MCC+MNC code for the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperator() On iOS, see: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html",
                    "type": "string"
                },
                {
                    "name": "networkOperatorName",
                    "desc": "The name of the carrier of the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperatorName() On iOS: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html#//apple_ref/occ/instp/CTCarrier/carrierName",
                    "type": "string"
                },
                {
                    "name": "registrationLatencyMillis",
                    "desc": "The amount of time in milliseconds it took for the client to establish a connection with the XMPP server.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "PlayerScore",
            "desc": "This is a JSON template for a player score.",
            "type": "object",
            "fields": [
                {
                    "name": "formattedScore",
                    "desc": "The formatted score for this player score.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerScore.",
                    "type": "string",
                    "default": "games#playerScore"
                },
                {
                    "name": "score",
                    "desc": "The numerical value for this player score.",
                    "type": "int64"
                },
                {
                    "name": "scoreTag",
                    "desc": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
                    "type": "string"
                },
                {
                    "name": "timeSpan",
                    "desc": "The time span for this player score.\nPossible values are:  \n- \"ALL_TIME\" - The score is an all-time score. \n- \"WEEKLY\" - The score is a weekly score. \n- \"DAILY\" - The score is a daily score.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoomP2PStatus",
            "desc": "This is a JSON template for an update on the status of a peer in a room.",
            "type": "object",
            "fields": [
                {
                    "name": "connectionSetupLatencyMillis",
                    "desc": "The amount of time in milliseconds it took to establish connections with this peer.",
                    "type": "int32"
                },
                {
                    "name": "error",
                    "desc": "The error code in event of a failure.\nPossible values are:  \n- \"P2P_FAILED\" - The client failed to establish a P2P connection with the peer. \n- \"PRESENCE_FAILED\" - The client failed to register to receive P2P connections. \n- \"RELAY_SERVER_FAILED\" - The client received an error when trying to use the relay server to establish a P2P connection with the peer.",
                    "type": "string"
                },
                {
                    "name": "error_reason",
                    "desc": "More detailed diagnostic message returned in event of a failure.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomP2PStatus.",
                    "type": "string",
                    "default": "games#roomP2PStatus"
                },
                {
                    "name": "participantId",
                    "desc": "The ID of the participant.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "The status of the peer in the room.\nPossible values are:  \n- \"CONNECTION_ESTABLISHED\" - The client established a P2P connection with the peer. \n- \"CONNECTION_FAILED\" - The client failed to establish directed presence with the peer.",
                    "type": "string"
                },
                {
                    "name": "unreliableRoundtripLatencyMillis",
                    "desc": "The amount of time in milliseconds it took to send packets back and forth on the unreliable channel with this peer.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "RoomStatus",
            "desc": "This is a JSON template for the status of a room that the player has joined.",
            "type": "object",
            "fields": [
                {
                    "name": "autoMatchingStatus",
                    "desc": "Auto-matching status for this room. Not set if the room is not currently in the automatching queue.",
                    "type": "ref",
                    "refType": "RoomAutoMatchStatus"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomStatus.",
                    "type": "string",
                    "default": "games#roomStatus"
                },
                {
                    "name": "participants",
                    "desc": "The participants involved in the room, along with their statuses. Includes participants who have left or declined invitations.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RoomParticipant"
                },
                {
                    "name": "roomId",
                    "desc": "Globally unique ID for a room.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "The status of the room.\nPossible values are:  \n- \"ROOM_INVITING\" - One or more players have been invited and not responded. \n- \"ROOM_AUTO_MATCHING\" - One or more slots need to be filled by auto-matching. \n- \"ROOM_CONNECTING\" - Players have joined are connecting to each other (either before or after auto-matching). \n- \"ROOM_ACTIVE\" - All players have joined and connected to each other. \n- \"ROOM_DELETED\" - All joined players have left.",
                    "type": "string"
                },
                {
                    "name": "statusVersion",
                    "desc": "The version of the status for the room: an increasing counter, used by the client to ignore out-of-order updates to room status.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "TurnBasedMatchRematch",
            "desc": "This is a JSON template for a rematch response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchRematch.",
                    "type": "string",
                    "default": "games#turnBasedMatchRematch"
                },
                {
                    "name": "previousMatch",
                    "desc": "The old match that the rematch was created from; will be updated such that the rematchId field will point at the new match.",
                    "type": "ref",
                    "refType": "TurnBasedMatch"
                },
                {
                    "name": "rematch",
                    "desc": "The newly created match; a rematch of the old match with the same participants.",
                    "type": "ref",
                    "refType": "TurnBasedMatch"
                }
            ]
        },
        {
            "name": "AchievementSetStepsAtLeastResponse",
            "desc": "This is a JSON template for an achievement set steps at least response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementSetStepsAtLeastResponse.",
                    "type": "string",
                    "default": "games#achievementSetStepsAtLeastResponse"
                },
                {
                    "name": "newlyUnlocked",
                    "desc": "Whether the the current steps for the achievement has reached the number of steps required to unlock.",
                    "type": "bool"
                },
                {
                    "name": "currentSteps",
                    "desc": "The current steps recorded for this incremental achievement.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "RevisionCheckResponse",
            "desc": "This is a JSON template for the result of checking a revision.",
            "type": "object",
            "fields": [
                {
                    "name": "revisionStatus",
                    "desc": "The result of the revision check.\nPossible values are:  \n- \"OK\" - The revision being used is current. \n- \"DEPRECATED\" - There is currently a newer version available, but the revision being used still works. \n- \"INVALID\" - The revision being used is not supported in any released version.",
                    "type": "string"
                },
                {
                    "name": "apiVersion",
                    "desc": "The version of the API this client revision should use when calling API methods.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#revisionCheckResponse.",
                    "type": "string",
                    "default": "games#revisionCheckResponse"
                }
            ]
        },
        {
            "name": "RoomAutoMatchStatus",
            "desc": "This is a JSON template for status of room automatching that is in progress.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomAutoMatchStatus.",
                    "type": "string",
                    "default": "games#roomAutoMatchStatus"
                },
                {
                    "name": "waitEstimateSeconds",
                    "desc": "An estimate for the amount of time (in seconds) that auto-matching is expected to take to complete.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "RoomClientAddress",
            "desc": "This is a JSON template for the client address when setting up a room.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomClientAddress.",
                    "type": "string",
                    "default": "games#roomClientAddress"
                },
                {
                    "name": "xmppAddress",
                    "desc": "The XMPP address of the client on the Google Games XMPP network.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoomP2PStatuses",
            "desc": "This is a JSON template for an update on the status of peers in a room.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomP2PStatuses.",
                    "type": "string",
                    "default": "games#roomP2PStatuses"
                },
                {
                    "name": "updates",
                    "desc": "The updates for the peers.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RoomP2PStatus"
                }
            ]
        },
        {
            "name": "ScoreSubmission",
            "desc": "This is a JSON template for a request to submit a score to leaderboards.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#scoreSubmission.",
                    "type": "string",
                    "default": "games#scoreSubmission"
                },
                {
                    "name": "leaderboardId",
                    "desc": "The leaderboard this score is being submitted to.",
                    "type": "string"
                },
                {
                    "name": "score",
                    "desc": "The new score being submitted.",
                    "type": "int64"
                },
                {
                    "name": "scoreTag",
                    "desc": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
                    "type": "string",
                    "pattern": "[a-zA-Z0-9-._~]{0,64}"
                },
                {
                    "name": "signature",
                    "desc": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TurnBasedMatchCreateRequest",
            "desc": "This is a JSON template for a turn-based match creation request.",
            "type": "object",
            "fields": [
                {
                    "name": "autoMatchingCriteria",
                    "desc": "Criteria for auto-matching players into this match.",
                    "type": "ref",
                    "refType": "TurnBasedAutoMatchingCriteria"
                },
                {
                    "name": "invitedPlayerIds",
                    "desc": "The player ids to invite to the match.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchCreateRequest.",
                    "type": "string",
                    "default": "games#turnBasedMatchCreateRequest"
                },
                {
                    "name": "requestId",
                    "desc": "A randomly generated numeric ID. This number is used at the server to ensure that the request is handled correctly across retries.",
                    "type": "int64"
                },
                {
                    "name": "variant",
                    "desc": "The variant / mode of the application to be played. This can be any integer value, or left blank. You should use a small number of variants to keep the auto-matching pool as large as possible.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "MetagameConfig",
            "desc": "This is a JSON template for the metagame config resource",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#metagameConfig.",
                    "type": "string",
                    "default": "games#metagameConfig"
                },
                {
                    "name": "playerLevels",
                    "desc": "The list of player levels.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerLevel"
                },
                {
                    "name": "currentVersion",
                    "desc": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ImageAsset",
            "desc": "This is a JSON template for an image asset object.",
            "type": "object",
            "fields": [
                {
                    "name": "height",
                    "desc": "The height of the asset.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#imageAsset.",
                    "type": "string",
                    "default": "games#imageAsset"
                },
                {
                    "name": "name",
                    "desc": "The name of the asset.",
                    "type": "string"
                },
                {
                    "name": "url",
                    "desc": "The URL of the asset.",
                    "type": "string"
                },
                {
                    "name": "width",
                    "desc": "The width of the asset.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "InstanceIosDetails",
            "desc": "This is a JSON template for the iOS details resource.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#instanceIosDetails.",
                    "type": "string",
                    "default": "games#instanceIosDetails"
                },
                {
                    "name": "preferredForIpad",
                    "desc": "Indicates that this instance is the default for new installations on iPad devices.",
                    "type": "bool"
                },
                {
                    "name": "preferredForIphone",
                    "desc": "Indicates that this instance is the default for new installations on iPhone devices.",
                    "type": "bool"
                },
                {
                    "name": "supportIpad",
                    "desc": "Flag to indicate if this instance supports iPad.",
                    "type": "bool"
                },
                {
                    "name": "supportIphone",
                    "desc": "Flag to indicate if this instance supports iPhone.",
                    "type": "bool"
                },
                {
                    "name": "bundleIdentifier",
                    "desc": "Bundle identifier.",
                    "type": "string"
                },
                {
                    "name": "itunesAppId",
                    "desc": "iTunes App ID.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LeaderboardListResponse",
            "desc": "This is a JSON template for a list of leaderboard objects.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The leaderboards.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Leaderboard"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboardListResponse.",
                    "type": "string",
                    "default": "games#leaderboardListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlayerEventListResponse",
            "desc": "This is a JSON template for a ListByPlayer response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The player events.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerEvent"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerEventListResponse.",
                    "type": "string",
                    "default": "games#playerEventListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PushToken",
            "desc": "This is a JSON template for a push token resource.",
            "type": "object",
            "fields": [
                {
                    "name": "clientRevision",
                    "desc": "The revision of the client SDK used by your application, in the same format that's used by revisions.check. Used to send backward compatible messages. Format: [PLATFORM_TYPE]:[VERSION_NUMBER]. Possible values of PLATFORM_TYPE are:  \n- IOS - Push token is for iOS",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unique identifier for this push token.",
                    "type": "ref",
                    "refType": "PushTokenId"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#pushToken.",
                    "type": "string",
                    "default": "games#pushToken"
                },
                {
                    "name": "language",
                    "desc": "The preferred language for notifications that are sent using this token.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoomLeaveDiagnostics",
            "desc": "This is a JSON template for room leave diagnostics.",
            "type": "object",
            "fields": [
                {
                    "name": "networkOperatorCode",
                    "desc": "The MCC+MNC code for the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperator() On iOS, see: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html",
                    "type": "string"
                },
                {
                    "name": "networkOperatorName",
                    "desc": "The name of the carrier of the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperatorName() On iOS: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html#//apple_ref/occ/instp/CTCarrier/carrierName",
                    "type": "string"
                },
                {
                    "name": "peerSession",
                    "desc": "Diagnostics about all peer sessions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PeerSessionDiagnostics"
                },
                {
                    "name": "socketsUsed",
                    "desc": "Whether or not sockets were used.",
                    "type": "bool"
                },
                {
                    "name": "androidNetworkSubtype",
                    "desc": "Android network subtype. http://developer.android.com/reference/android/net/NetworkInfo.html#getSubtype()",
                    "type": "int32"
                },
                {
                    "name": "androidNetworkType",
                    "desc": "Android network type. http://developer.android.com/reference/android/net/NetworkInfo.html#getType()",
                    "type": "int32"
                },
                {
                    "name": "iosNetworkType",
                    "desc": "iOS network type as defined in Reachability.h.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomLeaveDiagnostics.",
                    "type": "string",
                    "default": "games#roomLeaveDiagnostics"
                }
            ]
        },
        {
            "name": "EventUpdateResponse",
            "desc": "This is a JSON template for an event period update resource.",
            "type": "object",
            "fields": [
                {
                    "name": "batchFailures",
                    "desc": "Any batch-wide failures which occurred applying updates.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventBatchRecordFailure"
                },
                {
                    "name": "eventFailures",
                    "desc": "Any failures updating a particular event.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventRecordFailure"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventUpdateResponse.",
                    "type": "string",
                    "default": "games#eventUpdateResponse"
                },
                {
                    "name": "playerEvents",
                    "desc": "The current status of any updated events",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerEvent"
                }
            ]
        },
        {
            "name": "PlayerScoreResponse",
            "desc": "This is a JSON template for a list of leaderboard entry resources.",
            "type": "object",
            "fields": [
                {
                    "name": "beatenScoreTimeSpans",
                    "desc": "The time spans where the submitted score is better than the existing score for that time span.\nPossible values are:  \n- \"ALL_TIME\" - The score is an all-time score. \n- \"WEEKLY\" - The score is a weekly score. \n- \"DAILY\" - The score is a daily score.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "formattedScore",
                    "desc": "The formatted value of the submitted score.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerScoreResponse.",
                    "type": "string",
                    "default": "games#playerScoreResponse"
                },
                {
                    "name": "leaderboardId",
                    "desc": "The leaderboard ID that this score was submitted to.",
                    "type": "string"
                },
                {
                    "name": "scoreTag",
                    "desc": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
                    "type": "string"
                },
                {
                    "name": "unbeatenScores",
                    "desc": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's DAILY score, but not better than the player's scores for the WEEKLY or ALL_TIME time spans.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerScore"
                }
            ]
        },
        {
            "name": "TurnBasedMatchList",
            "desc": "This is a JSON template for a list of turn-based matches.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The matches.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TurnBasedMatch"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchList.",
                    "type": "string",
                    "default": "games#turnBasedMatchList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AchievementRevealResponse",
            "desc": "This is a JSON template for an achievement reveal response",
            "type": "object",
            "fields": [
                {
                    "name": "currentState",
                    "desc": "The current state of the achievement for which a reveal was attempted. This might be UNLOCKED if the achievement was already unlocked.\nPossible values are:  \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementRevealResponse.",
                    "type": "string",
                    "default": "games#achievementRevealResponse"
                }
            ]
        },
        {
            "name": "AchievementUpdateRequest",
            "desc": "This is a JSON template for a request to update an achievement.",
            "type": "object",
            "fields": [
                {
                    "name": "setStepsAtLeastPayload",
                    "desc": "The payload if an update of type SET_STEPS_AT_LEAST was requested for the achievement.",
                    "type": "ref",
                    "refType": "GamesAchievementSetStepsAtLeast"
                },
                {
                    "name": "updateType",
                    "desc": "The type of update being applied.\nPossible values are:  \n- \"REVEAL\" - Achievement is revealed. \n- \"UNLOCK\" - Achievement is unlocked. \n- \"INCREMENT\" - Achievement is incremented. \n- \"SET_STEPS_AT_LEAST\" - Achievement progress is set to at least the passed value.",
                    "type": "string"
                },
                {
                    "name": "achievementId",
                    "desc": "The achievement this update is being applied to.",
                    "type": "string"
                },
                {
                    "name": "incrementPayload",
                    "desc": "The payload if an update of type INCREMENT was requested for the achievement.",
                    "type": "ref",
                    "refType": "GamesAchievementIncrement"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateRequest.",
                    "type": "string",
                    "default": "games#achievementUpdateRequest"
                }
            ]
        },
        {
            "name": "PlayerLeaderboardScore",
            "desc": "This is a JSON template for a player leaderboard score object.",
            "type": "object",
            "fields": [
                {
                    "name": "timeSpan",
                    "desc": "The time span of this score.\nPossible values are:  \n- \"ALL_TIME\" - The score is an all-time score. \n- \"WEEKLY\" - The score is a weekly score. \n- \"DAILY\" - The score is a daily score.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerLeaderboardScore.",
                    "type": "string",
                    "default": "games#playerLeaderboardScore"
                },
                {
                    "name": "leaderboard_id",
                    "desc": "The ID of the leaderboard this score is in.",
                    "type": "string"
                },
                {
                    "name": "publicRank",
                    "desc": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
                    "type": "ref",
                    "refType": "LeaderboardScoreRank"
                },
                {
                    "name": "scoreValue",
                    "desc": "The numerical value of this score.",
                    "type": "int64"
                },
                {
                    "name": "scoreString",
                    "desc": "The formatted value of this score.",
                    "type": "string"
                },
                {
                    "name": "scoreTag",
                    "desc": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
                    "type": "string"
                },
                {
                    "name": "socialRank",
                    "desc": "The social rank of the score in this leaderboard.",
                    "type": "ref",
                    "refType": "LeaderboardScoreRank"
                },
                {
                    "name": "writeTimestamp",
                    "desc": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "QuestCriterion",
            "desc": "This is a JSON template for a Quest Criterion resource.",
            "type": "object",
            "fields": [
                {
                    "name": "eventId",
                    "desc": "The ID of the event the criterion corresponds to.",
                    "type": "string"
                },
                {
                    "name": "initialPlayerProgress",
                    "desc": "The value of the event associated with this quest at the time that the quest was accepted. This value may change if event increments that took place before the start of quest are uploaded after the quest starts.\nThere will be no initialPlayerProgress until the player has accepted the quest.",
                    "type": "ref",
                    "refType": "QuestContribution"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#questCriterion.",
                    "type": "string",
                    "default": "games#questCriterion"
                },
                {
                    "name": "completionContribution",
                    "desc": "The total number of times the associated event must be incremented for the player to complete this quest.",
                    "type": "ref",
                    "refType": "QuestContribution"
                },
                {
                    "name": "currentContribution",
                    "desc": "The number of increments the player has made toward the completion count event increments required to complete the quest. This value will not exceed the completion contribution.\nThere will be no currentContribution until the player has accepted the quest.",
                    "type": "ref",
                    "refType": "QuestContribution"
                }
            ]
        },
        {
            "name": "QuestListResponse",
            "desc": "This is a JSON template for a list of quest objects.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The quests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Quest"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#questListResponse.",
                    "type": "string",
                    "default": "games#questListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TurnBasedMatchDataRequest",
            "desc": "This is a JSON template for sending a turn-based match data object.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchDataRequest.",
                    "type": "string",
                    "default": "games#turnBasedMatchDataRequest"
                },
                {
                    "name": "data",
                    "desc": "The byte representation of the data (limited to 128 kB), as a Base64-encoded string with the URL_SAFE encoding option.",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "AchievementUpdateMultipleRequest",
            "desc": "This is a JSON template for a list of achievement update requests.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateMultipleRequest.",
                    "type": "string",
                    "default": "games#achievementUpdateMultipleRequest"
                },
                {
                    "name": "updates",
                    "desc": "The individual achievement update requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AchievementUpdateRequest"
                }
            ]
        },
        {
            "name": "Category",
            "desc": "This is a JSON template for data related to individual game categories.",
            "type": "object",
            "fields": [
                {
                    "name": "category",
                    "desc": "The category name.",
                    "type": "string"
                },
                {
                    "name": "experiencePoints",
                    "desc": "Experience points earned in this category.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#category.",
                    "type": "string",
                    "default": "games#category"
                }
            ]
        },
        {
            "name": "CategoryListResponse",
            "desc": "This is a JSON template for a list of category data objects.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of categories with usage data.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Category"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#categoryListResponse.",
                    "type": "string",
                    "default": "games#categoryListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EventChild",
            "desc": "This is a JSON template for an event child relationship resource.",
            "type": "object",
            "fields": [
                {
                    "name": "childId",
                    "desc": "The ID of the child event.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventChild.",
                    "type": "string",
                    "default": "games#eventChild"
                }
            ]
        },
        {
            "name": "ParticipantResult",
            "desc": "This is a JSON template for a result for a match participant.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#participantResult.",
                    "type": "string",
                    "default": "games#participantResult"
                },
                {
                    "name": "participantId",
                    "desc": "The ID of the participant.",
                    "type": "string"
                },
                {
                    "name": "placing",
                    "desc": "The placement or ranking of the participant in the match results; a number from one to the number of participants in the match. Multiple participants may have the same placing value in case of a type.",
                    "type": "int32"
                },
                {
                    "name": "result",
                    "desc": "The result of the participant for this match.\nPossible values are:  \n- \"MATCH_RESULT_WIN\" - The participant won the match. \n- \"MATCH_RESULT_LOSS\" - The participant lost the match. \n- \"MATCH_RESULT_TIE\" - The participant tied the match. \n- \"MATCH_RESULT_NONE\" - There was no winner for the match (nobody wins or loses this kind of game.) \n- \"MATCH_RESULT_DISCONNECT\" - The participant disconnected / left during the match. \n- \"MATCH_RESULT_DISAGREED\" - Different clients reported different results for this participant.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlayerLeaderboardScoreListResponse",
            "desc": "This is a JSON template for a list of player leaderboard scores.",
            "type": "object",
            "fields": [
                {
                    "name": "player",
                    "desc": "The Player resources for the owner of this score.",
                    "type": "ref",
                    "refType": "Player"
                },
                {
                    "name": "items",
                    "desc": "The leaderboard scores.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerLeaderboardScore"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerLeaderboardScoreListResponse.",
                    "type": "string",
                    "default": "games#playerLeaderboardScoreListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlayerScoreListResponse",
            "desc": "This is a JSON template for a list of score submission statuses.",
            "type": "object",
            "fields": [
                {
                    "name": "submittedScores",
                    "desc": "The score submissions statuses.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerScoreResponse"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerScoreListResponse.",
                    "type": "string",
                    "default": "games#playerScoreListResponse"
                }
            ]
        },
        {
            "name": "Quest",
            "desc": "This is a JSON template for a Quest resource.",
            "type": "object",
            "fields": [
                {
                    "name": "applicationId",
                    "desc": "The ID of the application this quest is part of.",
                    "type": "string"
                },
                {
                    "name": "iconUrl",
                    "desc": "The icon image URL for the quest.",
                    "type": "string"
                },
                {
                    "name": "lastUpdatedTimestampMillis",
                    "desc": "The timestamp at which the quest was last updated by the user in milliseconds since the epoch in UTC. Only present if the player has accepted the quest.",
                    "type": "int64"
                },
                {
                    "name": "name",
                    "desc": "The name of the quest.",
                    "type": "string"
                },
                {
                    "name": "notifyTimestampMillis",
                    "desc": "The timestamp at which the user should be notified that the quest will end soon in milliseconds since the epoch in UTC.",
                    "type": "int64"
                },
                {
                    "name": "bannerUrl",
                    "desc": "The banner image URL for the quest.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The description of the quest.",
                    "type": "string"
                },
                {
                    "name": "isDefaultIconUrl",
                    "desc": "Indicates whether the icon image being returned is a default image, or is game-provided.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#quest.",
                    "type": "string",
                    "default": "games#quest"
                },
                {
                    "name": "milestones",
                    "desc": "The quest milestones.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "QuestMilestone"
                },
                {
                    "name": "startTimestampMillis",
                    "desc": "The timestamp at which the quest becomes active in milliseconds since the epoch in UTC.",
                    "type": "int64"
                },
                {
                    "name": "state",
                    "desc": "The state of the quest.\nPossible values are:  \n- \"UPCOMING\": The quest is upcoming. The user can see the quest, but cannot accept it until it is open. \n- \"OPEN\": The quest is currently open and may be accepted at this time. \n- \"ACCEPTED\": The user is currently participating in this quest. \n- \"COMPLETED\": The user has completed the quest. \n- \"FAILED\": The quest was attempted but was not completed before the deadline expired. \n- \"EXPIRED\": The quest has expired and was not accepted. \n- \"DELETED\": The quest should be deleted from the local database.",
                    "type": "string"
                },
                {
                    "name": "acceptedTimestampMillis",
                    "desc": "The timestamp at which the user accepted the quest in milliseconds since the epoch in UTC. Only present if the player has accepted the quest.",
                    "type": "int64"
                },
                {
                    "name": "endTimestampMillis",
                    "desc": "The timestamp at which the quest ceases to be active in milliseconds since the epoch in UTC.",
                    "type": "int64"
                },
                {
                    "name": "id",
                    "desc": "The ID of the quest.",
                    "type": "string"
                },
                {
                    "name": "isDefaultBannerUrl",
                    "desc": "Indicates whether the banner image being returned is a default image, or is game-provided.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "AchievementUpdateMultipleResponse",
            "desc": "This is a JSON template for an achievement unlock response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateListResponse.",
                    "type": "string",
                    "default": "games#achievementUpdateMultipleResponse"
                },
                {
                    "name": "updatedAchievements",
                    "desc": "The updated state of the achievements.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AchievementUpdateResponse"
                }
            ]
        },
        {
            "name": "Room",
            "desc": "This is a JSON template for a room resource object.",
            "type": "object",
            "fields": [
                {
                    "name": "applicationId",
                    "desc": "The ID of the application being played.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "This short description is generated by our servers and worded relative to the player requesting the room. It is intended to be displayed when the room is shown in a list (that is, an invitation to a room.)",
                    "type": "string"
                },
                {
                    "name": "lastUpdateDetails",
                    "desc": "Details about the last update to the room.",
                    "type": "ref",
                    "refType": "RoomModification"
                },
                {
                    "name": "variant",
                    "desc": "The variant / mode of the application being played; can be any integer value, or left blank.",
                    "type": "int32"
                },
                {
                    "name": "participants",
                    "desc": "The participants involved in the room, along with their statuses. Includes participants who have left or declined invitations.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RoomParticipant"
                },
                {
                    "name": "roomId",
                    "desc": "Globally unique ID for a room.",
                    "type": "string"
                },
                {
                    "name": "roomStatusVersion",
                    "desc": "The version of the room status: an increasing counter, used by the client to ignore out-of-order updates to room status.",
                    "type": "int32"
                },
                {
                    "name": "autoMatchingCriteria",
                    "desc": "Criteria for auto-matching players into this room.",
                    "type": "ref",
                    "refType": "RoomAutoMatchingCriteria"
                },
                {
                    "name": "autoMatchingStatus",
                    "desc": "Auto-matching status for this room. Not set if the room is not currently in the auto-matching queue.",
                    "type": "ref",
                    "refType": "RoomAutoMatchStatus"
                },
                {
                    "name": "creationDetails",
                    "desc": "Details about the room creation.",
                    "type": "ref",
                    "refType": "RoomModification"
                },
                {
                    "name": "inviterId",
                    "desc": "The ID of the participant that invited the user to the room. Not set if the user was not invited to the room.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#room.",
                    "type": "string",
                    "default": "games#room"
                },
                {
                    "name": "status",
                    "desc": "The status of the room.\nPossible values are:  \n- \"ROOM_INVITING\" - One or more players have been invited and not responded. \n- \"ROOM_AUTO_MATCHING\" - One or more slots need to be filled by auto-matching. \n- \"ROOM_CONNECTING\" - Players have joined and are connecting to each other (either before or after auto-matching). \n- \"ROOM_ACTIVE\" - All players have joined and connected to each other. \n- \"ROOM_DELETED\" - The room should no longer be shown on the client. Returned in sync calls when a player joins a room (as a tombstone), or for rooms where all joined participants have left.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoomModification",
            "desc": "This is a JSON template for room modification metadata.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomModification.",
                    "type": "string",
                    "default": "games#roomModification"
                },
                {
                    "name": "modifiedTimestampMillis",
                    "desc": "The timestamp at which they modified the room, in milliseconds since the epoch in UTC.",
                    "type": "int64"
                },
                {
                    "name": "participantId",
                    "desc": "The ID of the participant that modified the room.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TurnBasedMatchParticipant",
            "desc": "This is a JSON template for a participant in a turn-based match.",
            "type": "object",
            "fields": [
                {
                    "name": "autoMatched",
                    "desc": "True if this participant was auto-matched with the requesting player.",
                    "type": "bool"
                },
                {
                    "name": "autoMatchedPlayer",
                    "desc": "Information about a player that has been anonymously auto-matched against the requesting player. (Either player or autoMatchedPlayer will be set.)",
                    "type": "ref",
                    "refType": "AnonymousPlayer"
                },
                {
                    "name": "id",
                    "desc": "An identifier for the participant in the scope of the match. Cannot be used to identify a player across matches or in other contexts.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchParticipant.",
                    "type": "string",
                    "default": "games#turnBasedMatchParticipant"
                },
                {
                    "name": "player",
                    "desc": "Information about the player. Not populated if this player was anonymously auto-matched against the requesting player. (Either player or autoMatchedPlayer will be set.)",
                    "type": "ref",
                    "refType": "Player"
                },
                {
                    "name": "status",
                    "desc": "The status of the participant with respect to the match.\nPossible values are:  \n- \"PARTICIPANT_NOT_INVITED_YET\" - The participant is slated to be invited to the match, but the invitation has not been sent; the invite will be sent when it becomes their turn. \n- \"PARTICIPANT_INVITED\" - The participant has been invited to join the match, but has not yet responded. \n- \"PARTICIPANT_JOINED\" - The participant has joined the match (either after creating it or accepting an invitation.) \n- \"PARTICIPANT_DECLINED\" - The participant declined an invitation to join the match. \n- \"PARTICIPANT_LEFT\" - The participant joined the match and then left it. \n- \"PARTICIPANT_FINISHED\" - The participant finished playing in the match. \n- \"PARTICIPANT_UNRESPONSIVE\" - The participant did not take their turn in the allotted time.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "QuestContribution",
            "desc": "This is a JSON template for a Quest Criterion Contribution resource.",
            "type": "object",
            "fields": [
                {
                    "name": "formattedValue",
                    "desc": "The formatted value of the contribution as a string. Format depends on the configuration for the associated event definition in the Play Games Developer Console.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#questContribution.",
                    "type": "string",
                    "default": "games#questContribution"
                },
                {
                    "name": "value",
                    "desc": "The value of the contribution.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "Application",
            "desc": "This is a JSON template for the Application resource.",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "The description of the application.",
                    "type": "string"
                },
                {
                    "name": "themeColor",
                    "desc": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
                    "type": "string"
                },
                {
                    "name": "assets",
                    "desc": "The assets of the application.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ImageAsset"
                },
                {
                    "name": "author",
                    "desc": "The author of the application.",
                    "type": "string"
                },
                {
                    "name": "category",
                    "desc": "The category of the application.",
                    "type": "ref",
                    "refType": "ApplicationCategory"
                },
                {
                    "name": "instances",
                    "desc": "The instances of the application.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Instance"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#application.",
                    "type": "string",
                    "default": "games#application"
                },
                {
                    "name": "lastUpdatedTimestamp",
                    "desc": "The last updated timestamp of the application.",
                    "type": "int64"
                },
                {
                    "name": "leaderboard_count",
                    "desc": "The number of leaderboards visible to the currently authenticated player.",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "The name of the application.",
                    "type": "string"
                },
                {
                    "name": "achievement_count",
                    "desc": "The number of achievements visible to the currently authenticated player.",
                    "type": "int32"
                },
                {
                    "name": "enabledFeatures",
                    "desc": "A list of features that have been enabled for the application.\nPossible values are:  \n- \"SNAPSHOTS\" - Snapshots has been enabled",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the application.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GamesAchievementSetStepsAtLeast",
            "desc": "This is a JSON template for the payload to request to increment an achievement.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#GamesAchievementSetStepsAtLeast.",
                    "type": "string",
                    "default": "games#GamesAchievementSetStepsAtLeast"
                },
                {
                    "name": "steps",
                    "desc": "The minimum number of steps for the achievement to be set to.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Played",
            "desc": "This is a JSON template for metadata about a player playing a game with the currently authenticated user.",
            "type": "object",
            "fields": [
                {
                    "name": "autoMatched",
                    "desc": "True if the player was auto-matched with the currently authenticated user.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#played.",
                    "type": "string",
                    "default": "games#played"
                },
                {
                    "name": "timeMillis",
                    "desc": "The last time the player played the game in milliseconds since the epoch in UTC.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "Player",
            "desc": "This is a JSON template for a Player resource.",
            "type": "object",
            "fields": [
                {
                    "name": "bannerUrlLandscape",
                    "desc": "The url to the landscape mode player banner image.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The name to display for the player.",
                    "type": "string"
                },
                {
                    "name": "profileSettings",
                    "desc": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
                    "type": "ref",
                    "refType": "ProfileSettings"
                },
                {
                    "name": "playerId",
                    "desc": "The ID of the player.",
                    "type": "string"
                },
                {
                    "name": "avatarImageUrl",
                    "desc": "The base URL for the image that represents the player.",
                    "type": "string"
                },
                {
                    "name": "bannerUrlPortrait",
                    "desc": "The url to the portrait mode player banner image.",
                    "type": "string"
                },
                {
                    "name": "experienceInfo",
                    "desc": "An object to represent Play Game experience information for the player.",
                    "type": "ref",
                    "refType": "PlayerExperienceInfo"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#player.",
                    "type": "string",
                    "default": "games#player"
                },
                {
                    "name": "lastPlayedWith",
                    "desc": "Details about the last time this player played a multiplayer game with the currently authenticated player. Populated for PLAYED_WITH player collection members.",
                    "type": "ref",
                    "refType": "Played"
                },
                {
                    "name": "name",
                    "desc": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "familyName",
                            "desc": "The family name of this player. In some places, this is known as the last name.",
                            "type": "string"
                        },
                        {
                            "name": "givenName",
                            "desc": "The given name of this player. In some places, this is known as the first name.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "originalPlayerId",
                    "desc": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "The player's title rewarded for their game activities.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AchievementDefinitionsListResponse",
            "desc": "This is a JSON template for a list of achievement definition objects.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The achievement definitions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AchievementDefinition"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementDefinitionsListResponse.",
                    "type": "string",
                    "default": "games#achievementDefinitionsListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EventRecordFailure",
            "desc": "This is a JSON template for an event update failure resource.",
            "type": "object",
            "fields": [
                {
                    "name": "eventId",
                    "desc": "The ID of the event that was not updated.",
                    "type": "string"
                },
                {
                    "name": "failureCause",
                    "desc": "The cause for the update failure.\nPossible values are:  \n- \"NOT_FOUND\" - An attempt was made to set an event that was not defined. \n- \"INVALID_UPDATE_VALUE\" - An attempt was made to increment an event by a non-positive value.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventRecordFailure.",
                    "type": "string",
                    "default": "games#eventRecordFailure"
                }
            ]
        },
        {
            "name": "Leaderboard",
            "desc": "This is a JSON template for the Leaderboard resource.",
            "type": "object",
            "fields": [
                {
                    "name": "iconUrl",
                    "desc": "The icon for the leaderboard.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The leaderboard ID.",
                    "type": "string"
                },
                {
                    "name": "isIconUrlDefault",
                    "desc": "Indicates whether the icon image being returned is a default image, or is game-provided.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboard.",
                    "type": "string",
                    "default": "games#leaderboard"
                },
                {
                    "name": "name",
                    "desc": "The name of the leaderboard.",
                    "type": "string"
                },
                {
                    "name": "order",
                    "desc": "How scores are ordered.\nPossible values are:  \n- \"LARGER_IS_BETTER\" - Larger values are better; scores are sorted in descending order. \n- \"SMALLER_IS_BETTER\" - Smaller values are better; scores are sorted in ascending order.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoomAutoMatchingCriteria",
            "desc": "This is a JSON template for a room auto-match criteria object.",
            "type": "object",
            "fields": [
                {
                    "name": "exclusiveBitmask",
                    "desc": "A bitmask indicating when auto-matches are valid. When ANDed with other exclusive bitmasks, the result must be zero. Can be used to support exclusive roles within a game.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomAutoMatchingCriteria.",
                    "type": "string",
                    "default": "games#roomAutoMatchingCriteria"
                },
                {
                    "name": "maxAutoMatchingPlayers",
                    "desc": "The maximum number of players that should be added to the room by auto-matching.",
                    "type": "int32"
                },
                {
                    "name": "minAutoMatchingPlayers",
                    "desc": "The minimum number of players that should be added to the room by auto-matching.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "EventPeriodRange",
            "desc": "This is a JSON template for an event period time range.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventPeriodRange.",
                    "type": "string",
                    "default": "games#eventPeriodRange"
                },
                {
                    "name": "periodEndMillis",
                    "desc": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
                    "type": "int64"
                },
                {
                    "name": "periodStartMillis",
                    "desc": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "InstanceAndroidDetails",
            "desc": "This is a JSON template for the Android instance details resource.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#instanceAndroidDetails.",
                    "type": "string",
                    "default": "games#instanceAndroidDetails"
                },
                {
                    "name": "packageName",
                    "desc": "Android package name which maps to Google Play URL.",
                    "type": "string"
                },
                {
                    "name": "preferred",
                    "desc": "Indicates that this instance is the default for new installations.",
                    "type": "bool"
                },
                {
                    "name": "enablePiracyCheck",
                    "desc": "Flag indicating whether the anti-piracy check is enabled.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "LeaderboardScores",
            "desc": "This is a JSON template for a ListScores response.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                },
                {
                    "name": "numScores",
                    "desc": "The total number of scores in the leaderboard.",
                    "type": "int64"
                },
                {
                    "name": "playerScore",
                    "desc": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the scoreRank and formattedScoreRank values will not be present.",
                    "type": "ref",
                    "refType": "LeaderboardEntry"
                },
                {
                    "name": "prevPageToken",
                    "desc": "The pagination token for the previous page of results.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The scores in the leaderboard.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LeaderboardEntry"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboardScores.",
                    "type": "string",
                    "default": "games#leaderboardScores"
                }
            ]
        },
        {
            "name": "PlayerListResponse",
            "desc": "This is a JSON template for a third party player list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The players.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Player"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerListResponse.",
                    "type": "string",
                    "default": "games#playerListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoomJoinRequest",
            "desc": "This is a JSON template for a join room request.",
            "type": "object",
            "fields": [
                {
                    "name": "capabilities",
                    "desc": "The capabilities that this client supports for realtime communication.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "clientAddress",
                    "desc": "Client address for the player joining the room.",
                    "type": "ref",
                    "refType": "RoomClientAddress"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomJoinRequest.",
                    "type": "string",
                    "default": "games#roomJoinRequest"
                },
                {
                    "name": "networkDiagnostics",
                    "desc": "Network diagnostics for the client joining the room.",
                    "type": "ref",
                    "refType": "NetworkDiagnostics"
                }
            ]
        },
        {
            "name": "SnapshotImage",
[...]
