{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/OBUnP-P7ni-fogNkVJMH8BP7EG8\"",
    "discoveryVersion": "v1",
    "id": "dfareporting:v2.7",
    "name": "dfareporting",
    "version": "v2.7",
    "title": "DCM/DFA Reporting And Trafficking API",
    "description": "Manages your DoubleClick Campaign Manager ad campaigns and reports.",
    "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "dfareporting/v2.7/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
        ]
    },
    "parameters": [
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "TagSetting",
            "desc": "Tag Settings",
            "type": "object",
            "fields": [
                {
                    "name": "additionalKeyValues",
                    "desc": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field.",
                    "type": "string"
                },
                {
                    "name": "includeClickThroughUrls",
                    "desc": "Whether static landing page URLs should be included in the tags. This setting applies only to placements.",
                    "type": "bool"
                },
                {
                    "name": "includeClickTracking",
                    "desc": "Whether click-tracking string should be included in the tags.",
                    "type": "bool"
                },
                {
                    "name": "keywordOption",
                    "desc": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
                        },
                        {
                            "name": "IGNORE"
                        },
                        {
                            "name": "PLACEHOLDER_WITH_LIST_OF_KEYWORDS"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ChangeLog",
            "desc": "Describes a change that a user has made to a resource.",
            "type": "object",
            "fields": [
                {
                    "name": "subaccountId",
                    "desc": "Subaccount ID of the modified object.",
                    "type": "int64"
                },
                {
                    "name": "userProfileId",
                    "desc": "ID of the user who modified the object.",
                    "type": "int64"
                },
                {
                    "name": "action",
                    "desc": "Action which caused the change.",
                    "type": "string"
                },
                {
                    "name": "changeTime",
                    "desc": "Time when the object was modified.",
                    "type": "datetime"
                },
                {
                    "name": "fieldName",
                    "desc": "Field name of the object which changed.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
                    "type": "string",
                    "default": "dfareporting#changeLog"
                },
                {
                    "name": "id",
                    "desc": "ID of this change log.",
                    "type": "int64"
                },
                {
                    "name": "newValue",
                    "desc": "New value of the object field.",
                    "type": "string"
                },
                {
                    "name": "oldValue",
                    "desc": "Old value of the object field.",
                    "type": "string"
                },
                {
                    "name": "userProfileName",
                    "desc": "User profile name of the user who modified the object.",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID of the modified object.",
                    "type": "int64"
                },
                {
                    "name": "objectId",
                    "desc": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
                    "type": "int64"
                },
                {
                    "name": "objectType",
                    "desc": "Object type of the change log.",
                    "type": "string"
                },
                {
                    "name": "transactionId",
                    "desc": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "City",
            "desc": "Contains information about a city that can be targeted by ads.",
            "type": "object",
            "fields": [
                {
                    "name": "dartId",
                    "desc": "DART ID of this city. This is the ID used for targeting and generating reports.",
                    "type": "int64"
                },
                {
                    "name": "metroDmaId",
                    "desc": "ID of the metro region (DMA) to which this city belongs.",
                    "type": "int64"
                },
                {
                    "name": "regionCode",
                    "desc": "Region code of the region to which this city belongs.",
                    "type": "string"
                },
                {
                    "name": "regionDartId",
                    "desc": "DART ID of the region to which this city belongs.",
                    "type": "int64"
                },
                {
                    "name": "countryCode",
                    "desc": "Country code of the country to which this city belongs.",
                    "type": "string"
                },
                {
                    "name": "countryDartId",
                    "desc": "DART ID of the country to which this city belongs.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\".",
                    "type": "string",
                    "default": "dfareporting#city"
                },
                {
                    "name": "metroCode",
                    "desc": "Metro region code of the metro region (DMA) to which this city belongs.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of this city.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Creative",
            "desc": "Contains properties of a Creative.",
            "type": "object",
            "fields": [
                {
                    "name": "backupImageTargetWindow",
                    "desc": "Target window for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
                    "type": "ref",
                    "refType": "TargetWindow"
                },
                {
                    "name": "compatibility",
                    "desc": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. Applicable to all creative types.\n\nAcceptable values are:\n- \"APP\"\n- \"APP_INTERSTITIAL\"\n- \"IN_STREAM_VIDEO\"\n- \"DISPLAY\"\n- \"DISPLAY_INTERSTITIAL\"",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "htmlCodeLocked",
                    "desc": "Whether HTML code is DCM-generated or manually entered. Set to true to ignore changes to htmlCode. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER.",
                    "type": "bool"
                },
                {
                    "name": "skipOffset",
                    "desc": "Amount of time to play the video before the skip button appears. Applicable to the following creative types: all INSTREAM_VIDEO.",
                    "type": "ref",
                    "refType": "VideoOffset"
                },
                {
                    "name": "studioCreativeId",
                    "desc": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
                    "type": "int64"
                },
                {
                    "name": "thirdPartyRichMediaImpressionsUrl",
                    "desc": "Third-party URL used to record rich media impressions. Applicable to the following creative types: all RICH_MEDIA.",
                    "type": "string"
                },
                {
                    "name": "artworkType",
                    "desc": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ARTWORK_TYPE_FLASH"
                        },
                        {
                            "name": "ARTWORK_TYPE_HTML5"
                        },
                        {
                            "name": "ARTWORK_TYPE_IMAGE"
                        },
                        {
                            "name": "ARTWORK_TYPE_MIXED"
                        }
                    ]
                },
                {
                    "name": "requiredFlashPluginVersion",
                    "desc": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
                    "type": "string"
                },
                {
                    "name": "subaccountId",
                    "desc": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
                    "type": "int64"
                },
                {
                    "name": "name",
                    "desc": "Name of the creative. This is a required field and must be less than 256 characters long. Applicable to all creative types.",
                    "type": "string"
                },
                {
                    "name": "creativeAssets",
                    "desc": "Assets associated with a creative. Applicable to all but the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and REDIRECT",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CreativeAsset"
                },
                {
                    "name": "customKeyValues",
                    "desc": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "size",
                    "desc": "Size associated with this creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. This is a required field when applicable; however for IMAGE, FLASH_INPAGE creatives, and for DISPLAY creatives with a primary asset of type HTML_IMAGE, if left blank, this field will be automatically set using the actual size of the associated image assets. Applicable to the following creative types: DISPLAY, DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA.",
                    "type": "ref",
                    "refType": "Size"
                },
                {
                    "name": "studioAdvertiserId",
                    "desc": "Studio advertiser ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
                    "type": "int64"
                },
                {
                    "name": "adParameters",
                    "desc": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID.",
                    "type": "string"
                },
                {
                    "name": "backupImageClickThroughUrl",
                    "desc": "Click-through URL for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
                    "type": "string"
                },
                {
                    "name": "timerCustomEvents",
                    "desc": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CreativeCustomEvent"
                },
                {
                    "name": "active",
                    "desc": "Whether the creative is active. Applicable to all creative types.",
                    "type": "bool"
                },
                {
                    "name": "creativeFieldAssignments",
                    "desc": "Creative field assignments for this creative. Applicable to all creative types.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CreativeFieldAssignment"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\".",
                    "type": "string",
                    "default": "dfareporting#creative"
                },
                {
                    "name": "overrideCss",
                    "desc": "Override CSS value for rich media creatives. Applicable to the following creative types: all RICH_MEDIA.",
                    "type": "string"
                },
                {
                    "name": "videoDescription",
                    "desc": "Description of the video ad. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
                    "type": "string"
                },
                {
                    "name": "companionCreatives",
                    "desc": "List of companion creatives assigned to an in-Stream videocreative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "allowScriptAccess",
                    "desc": "Whether script access is allowed for this creative. This is a read-only and deprecated field which will automatically be set to true on update. Applicable to the following creative types: FLASH_INPAGE.",
                    "type": "bool"
                },
                {
                    "name": "auto_advance_images",
                    "desc": "Whether images are automatically advanced for image gallery creatives. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY.",
                    "type": "bool"
                },
                {
                    "name": "backupImageReportingLabel",
                    "desc": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE.",
                    "type": "string"
                },
                {
                    "name": "clickTags",
                    "desc": "Click tags of the creative. For DISPLAY, FLASH_INPAGE, and HTML5_BANNER creatives, this is a subset of detected click tags for the assets associated with this creative. After creating a flash asset, detected click tags will be returned in the creativeAssetMetadata. When inserting the creative, populate the creative clickTags field using the creativeAssetMetadata.clickTags field. For DISPLAY_IMAGE_GALLERY creatives, there should be exactly one entry in this list for each image creative asset. A click tag is matched with a corresponding creative asset by matching the clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ClickTag"
                },
                {
                    "name": "dynamicAssetSelection",
                    "desc": "Set this to true to enable the use of rules to target individual assets in this creative. When set to true creativeAssetSelection must be set. This also controls asset-level companions. When this is true, companion creatives should be assigned to creative assets. Learn more. Applicable to INSTREAM_VIDEO creatives.",
                    "type": "bool"
                },
                {
                    "name": "version",
                    "desc": "The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types.",
                    "type": "int32"
                },
                {
                    "name": "advertiserId",
                    "desc": "Advertiser ID of this creative. This is a required field. Applicable to all creative types.",
                    "type": "int64"
                },
                {
                    "name": "lastModifiedInfo",
                    "desc": "Creative last modification information. This is a read-only field. Applicable to all creative types.",
                    "type": "ref",
                    "refType": "LastModifiedInfo"
                },
                {
                    "name": "renderingId",
                    "desc": "ID of current rendering version. This is a read-only field. Applicable to all creative types.",
                    "type": "int64"
                },
                {
                    "name": "studioTraffickedCreativeId",
                    "desc": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
                    "type": "int64"
                },
                {
                    "name": "videoDuration",
                    "desc": "Creative video duration in seconds. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO, all RICH_MEDIA, and all VPAID.",
                    "type": "float32"
                },
                {
                    "name": "adTagKeys",
                    "desc": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "fsCommand",
                    "desc": "OpenWindow FSCommand of this creative. This lets the SWF file communicate with either Flash Player or the program hosting Flash Player, such as a web browser. This is only triggered if allowScriptAccess field is true. Applicable to the following creative types: FLASH_INPAGE.",
                    "type": "ref",
                    "refType": "FsCommand"
                },
                {
                    "name": "progressOffset",
                    "desc": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO.",
                    "type": "ref",
                    "refType": "VideoOffset"
                },
                {
                    "name": "skippable",
                    "desc": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
                    "type": "bool"
                },
                {
                    "name": "sslCompliant",
                    "desc": "Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types.",
                    "type": "bool"
                },
                {
                    "name": "sslOverride",
                    "desc": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types.",
                    "type": "bool"
                },
                {
                    "name": "counterCustomEvents",
                    "desc": "List of counter events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CreativeCustomEvent"
                },
                {
                    "name": "thirdPartyBackupImageImpressionsUrl",
                    "desc": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA.",
                    "type": "string"
                },
                {
                    "name": "latestTraffickedCreativeId",
                    "desc": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
                    "type": "int64"
                },
                {
                    "name": "redirectUrl",
                    "desc": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT",
                    "type": "string"
                },
                {
                    "name": "thirdPartyUrls",
                    "desc": "Third-party URLs for tracking in-stream video creative events. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThirdPartyTrackingUrl"
                },
                {
                    "name": "backupImageFeatures",
                    "desc": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by DCM for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "authoringSource",
                    "desc": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CREATIVE_AUTHORING_SOURCE_DBM"
                        },
                        {
                            "name": "CREATIVE_AUTHORING_SOURCE_DCM"
                        },
                        {
                            "name": "CREATIVE_AUTHORING_SOURCE_STUDIO"
                        }
                    ]
                },
                {
                    "name": "commercialId",
                    "desc": "Industry standard ID assigned to creative for reach and frequency. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
                    "type": "string"
                },
                {
                    "name": "convertFlashToHtml5",
                    "desc": "Whether Flash assets associated with the creative need to be automatically converted to HTML5. This flag is enabled by default and users can choose to disable it if they don't want the system to generate and use HTML5 asset for this creative. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
                    "type": "bool"
                },
                {
                    "name": "creativeAssetSelection",
                    "desc": "Required if dynamicAssetSelection is true.",
                    "type": "ref",
                    "refType": "CreativeAssetSelection"
                },
                {
                    "name": "idDimensionValue",
                    "desc": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types.",
                    "type": "ref",
                    "refType": "DimensionValue"
                },
                {
                    "name": "archived",
                    "desc": "Whether the creative is archived. Applicable to all creative types.",
                    "type": "bool"
                },
                {
                    "name": "totalFileSize",
                    "desc": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
                    "type": "int64"
                },
                {
                    "name": "type",
                    "desc": "Type of this creative. This is a required field. Applicable to all creative types.\n\nNote: FLASH_INPAGE, HTML5_BANNER, and IMAGE are only used for existing creatives. New creatives should use DISPLAY as a replacement for these types.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO"
                        },
                        {
                            "name": "CUSTOM_DISPLAY"
                        },
                        {
                            "name": "CUSTOM_DISPLAY_INTERSTITIAL"
                        },
                        {
                            "name": "DISPLAY"
                        },
                        {
                            "name": "DISPLAY_IMAGE_GALLERY"
                        },
                        {
                            "name": "DISPLAY_REDIRECT"
                        },
                        {
                            "name": "FLASH_INPAGE"
                        },
                        {
                            "name": "HTML5_BANNER"
                        },
                        {
                            "name": "IMAGE"
                        },
                        {
                            "name": "INSTREAM_VIDEO"
                        },
                        {
                            "name": "INSTREAM_VIDEO_REDIRECT"
                        },
                        {
                            "name": "INTERNAL_REDIRECT"
                        },
                        {
                            "name": "INTERSTITIAL_INTERNAL_REDIRECT"
                        },
                        {
                            "name": "RICH_MEDIA_DISPLAY_BANNER"
                        },
                        {
                            "name": "RICH_MEDIA_DISPLAY_EXPANDING"
                        },
                        {
                            "name": "RICH_MEDIA_DISPLAY_INTERSTITIAL"
                        },
                        {
                            "name": "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL"
                        },
                        {
                            "name": "RICH_MEDIA_IM_EXPAND"
                        },
                        {
                            "name": "RICH_MEDIA_INPAGE_FLOATING"
                        },
                        {
                            "name": "RICH_MEDIA_MOBILE_IN_APP"
                        },
                        {
                            "name": "RICH_MEDIA_PEEL_DOWN"
                        },
                        {
                            "name": "TRACKING_TEXT"
                        },
                        {
                            "name": "VPAID_LINEAR_VIDEO"
                        },
                        {
                            "name": "VPAID_NON_LINEAR_VIDEO"
                        }
                    ]
                },
                {
                    "name": "authoringTool",
                    "desc": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NINJA"
                        },
                        {
                            "name": "SWIFFY"
                        }
                    ]
                },
                {
                    "name": "backgroundColor",
                    "desc": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE.",
                    "type": "string"
                },
                {
                    "name": "htmlCode",
                    "desc": "HTML code for the creative. This is a required field when applicable. This field is ignored if htmlCodeLocked is false. Applicable to the following creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types.",
                    "type": "int64"
                },
                {
                    "name": "renderingIdDimensionValue",
                    "desc": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types.",
                    "type": "ref",
                    "refType": "DimensionValue"
                },
                {
                    "name": "requiredFlashVersion",
                    "desc": "The internal Flash version for this creative as calculated by DoubleClick Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
                    "type": "int32"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
                    "type": "int64"
                },
                {
                    "name": "exitCustomEvents",
                    "desc": "List of exit events configured for the creative. For DISPLAY and DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags, For DISPLAY, an event is also created from the backupImageReportingLabel. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CreativeCustomEvent"
                }
            ]
        },
        {
            "name": "CreativeField",
            "desc": "Contains properties of a creative field.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "ID of this creative field. This is a read-only, auto-generated field.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeField\".",
                    "type": "string",
                    "default": "dfareporting#creativeField"
                },
                {
                    "name": "name",
                    "desc": "Name of this creative field. This is a required field and must be less than 256 characters long and unique among creative fields of the same advertiser.",
                    "type": "string"
                },
                {
                    "name": "subaccountId",
                    "desc": "Subaccount ID of this creative field. This is a read-only field that can be left blank.",
                    "type": "int64"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID of this creative field. This is a read-only field that can be left blank.",
                    "type": "int64"
                },
                {
                    "name": "advertiserId",
                    "desc": "Advertiser ID of this creative field. This is a required field on insertion.",
                    "type": "int64"
                },
                {
                    "name": "advertiserIdDimensionValue",
                    "desc": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
                    "type": "ref",
                    "refType": "DimensionValue"
                }
            ]
        },
        {
            "name": "CreativeFieldValuesListResponse",
            "desc": "Creative Field Value List Response",
            "type": "object",
            "fields": [
                {
                    "name": "creativeFieldValues",
                    "desc": "Creative field value collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CreativeFieldValue"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValuesListResponse\".",
                    "type": "string",
                    "default": "dfareporting#creativeFieldValuesListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to be used for the next list operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DayPartTargeting",
            "desc": "Day Part Targeting.",
            "type": "object",
            "fields": [
                {
                    "name": "daysOfWeek",
                    "desc": "Days of the week when the ad will serve.\n\nAcceptable values are:\n- \"SUNDAY\"\n- \"MONDAY\"\n- \"TUESDAY\"\n- \"WEDNESDAY\"\n- \"THURSDAY\"\n- \"FRIDAY\"\n- \"SATURDAY\"",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "hoursOfDay",
                    "desc": "Hours of the day when the ad will serve. Must be an integer between 0 and 23 (inclusive), where 0 is midnight to 1 AM, and 23 is 11 PM to midnight. Can be specified with days of week, in which case the ad would serve during these hours on the specified days. For example, if Monday, Wednesday, Friday are the days of week specified and 9-10am, 3-5pm (hours 9, 15, and 16) is specified, the ad would serve Monday, Wednesdays, and Fridays at 9-10am and 3-5pm.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "userLocalTime",
                    "desc": "Whether or not to use the user's local time. If false, the America/New York time zone applies.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "InventoryItemsListResponse",
            "desc": "Inventory item List Response",
            "type": "object",
            "fields": [
                {
                    "name": "inventoryItems",
                    "desc": "Inventory item collection",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InventoryItem"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#inventoryItemsListResponse\".",
                    "type": "string",
                    "default": "dfareporting#inventoryItemsListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to be used for the next list operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OperatingSystemVersionsListResponse",
            "desc": "Operating System Version List Response",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\".",
                    "type": "string",
                    "default": "dfareporting#operatingSystemVersionsListResponse"
                },
                {
                    "name": "operatingSystemVersions",
                    "desc": "Operating system version collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OperatingSystemVersion"
                }
            ]
        },
        {
            "name": "PlacementGroupsListResponse",
            "desc": "Placement Group List Response",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to be used for the next list operation.",
                    "type": "string"
                },
                {
                    "name": "placementGroups",
                    "desc": "Placement group collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlacementGroup"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\".",
                    "type": "string",
                    "default": "dfareporting#placementGroupsListResponse"
                }
            ]
        },
        {
            "name": "PlacementStrategiesListResponse",
            "desc": "Placement Strategy List Response",
            "type": "object",
            "fields": [
                {
                    "name": "placementStrategies",
                    "desc": "Placement strategy collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlacementStrategy"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\".",
                    "type": "string",
                    "default": "dfareporting#placementStrategiesListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to be used for the next list operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlacementsGenerateTagsResponse",
            "desc": "Placement GenerateTags Response",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsGenerateTagsResponse\".",
                    "type": "string",
                    "default": "dfareporting#placementsGenerateTagsResponse"
                },
                {
                    "name": "placementTags",
                    "desc": "Set of generated tags for the specified placements.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlacementTag"
                }
            ]
        },
        {
            "name": "UserRolesListResponse",
            "desc": "User Role List Response",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolesListResponse\".",
                    "type": "string",
                    "default": "dfareporting#userRolesListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to be used for the next list operation.",
                    "type": "string"
                },
                {
                    "name": "userRoles",
                    "desc": "User role collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UserRole"
                }
            ]
        },
        {
            "name": "VideoFormatsListResponse",
            "desc": "Video Format List Response",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormatsListResponse\".",
                    "type": "string",
                    "default": "dfareporting#videoFormatsListResponse"
                },
                {
                    "name": "videoFormats",
                    "desc": "Video format collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "VideoFormat"
                }
            ]
        },
        {
            "name": "CreativeRotation",
            "desc": "Creative Rotation.",
            "type": "object",
            "fields": [
                {
                    "name": "creativeAssignments",
                    "desc": "Creative assignments in this creative rotation.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CreativeAssignment"
                },
                {
                    "name": "creativeOptimizationConfigurationId",
                    "desc": "Creative optimization configuration that is used by this ad. It should refer to one of the existing optimization configurations in the ad's campaign. If it is unset or set to 0, then the campaign's default optimization configuration will be used for this ad.",
                    "type": "int64"
                },
                {
                    "name": "type",
                    "desc": "Type of creative rotation. Can be used to specify whether to use sequential or random rotation.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CREATIVE_ROTATION_TYPE_RANDOM"
                        },
                        {
                            "name": "CREATIVE_ROTATION_TYPE_SEQUENTIAL"
                        }
                    ]
                },
                {
                    "name": "weightCalculationStrategy",
                    "desc": "Strategy for calculating weights. Used with CREATIVE_ROTATION_TYPE_RANDOM.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "WEIGHT_STRATEGY_CUSTOM"
                        },
                        {
                            "name": "WEIGHT_STRATEGY_EQUAL"
                        },
                        {
                            "name": "WEIGHT_STRATEGY_HIGHEST_CTR"
                        },
                        {
                            "name": "WEIGHT_STRATEGY_OPTIMIZED"
                        }
                    ]
                }
            ]
        },
        {
            "name": "CreativeSettings",
            "desc": "Creative Settings",
            "type": "object",
            "fields": [
                {
                    "name": "iFrameFooter",
                    "desc": "Header text for iFrames for this site. Must be less than or equal to 2000 characters long.",
                    "type": "string"
                },
                {
                    "name": "iFrameHeader",
                    "desc": "Header text for iFrames for this site. Must be less than or equal to 2000 characters long.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CustomRichMediaEvents",
            "desc": "Represents a Custom Rich Media Events group.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of resource this is, in this case dfareporting#customRichMediaEvents.",
                    "type": "string",
                    "default": "dfareporting#customRichMediaEvents"
                },
                {
                    "name": "filteredEventIds",
                    "desc": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DimensionValue"
                }
            ]
        },
        {
            "name": "OperatingSystemVersion",
            "desc": "Contains information about a particular version of an operating system that can be targeted by ads.",
            "type": "object",
            "fields": [
                {
                    "name": "operatingSystem",
                    "desc": "Operating system of this operating system version.",
                    "type": "ref",
                    "refType": "OperatingSystem"
                },
                {
                    "name": "id",
                    "desc": "ID of this operating system version.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersion\".",
                    "type": "string",
                    "default": "dfareporting#operatingSystemVersion"
                },
                {
                    "name": "majorVersion",
                    "desc": "Major version (leftmost number) of this operating system version.",
                    "type": "string"
                },
                {
                    "name": "minorVersion",
                    "desc": "Minor version (number after the first dot) of this operating system version.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of this operating system version.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrdersListResponse",
            "desc": "Order List Response",
            "type": "object",
            "fields": [
                {
                    "name": "orders",
                    "desc": "Order collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Order"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ordersListResponse\".",
                    "type": "string",
                    "default": "dfareporting#ordersListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to be used for the next list operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TargetWindow",
            "desc": "Target Window.",
            "type": "object",
            "fields": [
                {
                    "name": "customHtml",
                    "desc": "User-entered value.",
                    "type": "string"
                },
                {
                    "name": "targetWindowOption",
                    "desc": "Type of browser window for which the backup image of the flash creative can be displayed.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CURRENT_WINDOW"
                        },
                        {
                            "name": "CUSTOM"
                        },
                        {
                            "name": "NEW_WINDOW"
                        }
                    ]
                }
            ]
        },
        {
            "name": "CreativeAssignment",
            "desc": "Creative Assignment.",
            "type": "object",
            "fields": [
                {
                    "name": "weight",
                    "desc": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM.",
                    "type": "int32"
                },
                {
                    "name": "active",
                    "desc": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation.",
                    "type": "bool"
                },
                {
                    "name": "creativeGroupAssignments",
                    "desc": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CreativeGroupAssignment"
                },
                {
                    "name": "creativeIdDimensionValue",
                    "desc": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
                    "type": "ref",
                    "refType": "DimensionValue"
                },
                {
                    "name": "endTime",
                    "desc": "Date and time that the assigned creative should stop serving. Must be later than the start time.",
                    "type": "datetime"
                },
                {
                    "name": "richMediaExitOverrides",
                    "desc": "Rich media exit overrides for this creative assignment.\nApplicable when the creative type is any of the following: \n- RICH_MEDIA_INPAGE\n- RICH_MEDIA_INPAGE_FLOATING\n- RICH_MEDIA_IM_EXPAND\n- RICH_MEDIA_EXPANDING\n- RICH_MEDIA_INTERSTITIAL_FLOAT\n- RICH_MEDIA_MOBILE_IN_APP\n- RICH_MEDIA_MULTI_FLOATING\n- RICH_MEDIA_PEEL_DOWN\n- ADVANCED_BANNER\n- VPAID_LINEAR\n- VPAID_NON_LINEAR",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RichMediaExitOverride"
                },
                {
                    "name": "sequence",
                    "desc": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL.",
                    "type": "int32"
                },
                {
                    "name": "sslCompliant",
                    "desc": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
                    "type": "bool"
                },
                {
                    "name": "startTime",
                    "desc": "Date and time that the assigned creative should start serving.",
                    "type": "datetime"
                },
                {
                    "name": "applyEventTags",
                    "desc": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO.",
                    "type": "bool"
                },
                {
                    "name": "clickThroughUrl",
                    "desc": "Click-through URL of the creative assignment.",
                    "type": "ref",
                    "refType": "ClickThroughUrl"
                },
                {
                    "name": "companionCreativeOverrides",
                    "desc": "Companion creative overrides for this creative assignment. Applicable to video ads.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CompanionClickThroughOverride"
                },
                {
                    "name": "creativeId",
                    "desc": "ID of the creative to be assigned. This is a required field.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "PricingSchedule",
            "desc": "Pricing Schedule",
            "type": "object",
            "fields": [
                {
                    "name": "endDate",
                    "desc": "Placement end date. This date must be later than, or the same day as, the placement start date, but not later than the campaign end date. If, for example, you set 6/25/2015 as both the start and end dates, the effective placement date is just that day only, 6/25/2015. The hours, minutes, and seconds of the end date should not be set, as doing so will result in an error. This field is required on insertion.",
                    "type": "date"
                },
                {
                    "name": "flighted",
                    "desc": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
                    "type": "bool"
                },
                {
                    "name": "floodlightActivityId",
                    "desc": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
                    "type": "int64"
                },
                {
                    "name": "pricingType",
                    "desc": "Placement pricing type. This field is required on insertion.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PRICING_TYPE_CPA"
                        },
                        {
                            "name": "PRICING_TYPE_CPC"
                        },
                        {
                            "name": "PRICING_TYPE_CPM"
                        },
                        {
                            "name": "PRICING_TYPE_CPM_ACTIVEVIEW"
                        },
                        {
                            "name": "PRICING_TYPE_FLAT_RATE_CLICKS"
                        },
                        {
                            "name": "PRICING_TYPE_FLAT_RATE_IMPRESSIONS"
                        }
                    ]
                },
                {
                    "name": "startDate",
                    "desc": "Placement start date. This date must be later than, or the same day as, the campaign start date. The hours, minutes, and seconds of the start date should not be set, as doing so will result in an error. This field is required on insertion.",
                    "type": "date"
                },
                {
                    "name": "capCostOption",
                    "desc": "Placement cap cost option.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CAP_COST_CUMULATIVE"
                        },
                        {
                            "name": "CAP_COST_MONTHLY"
                        },
                        {
                            "name": "CAP_COST_NONE"
                        }
                    ]
                },
                {
                    "name": "disregardOverdelivery",
                    "desc": "Whether cap costs are ignored by ad serving.",
                    "type": "bool"
                },
                {
                    "name": "pricingPeriods",
                    "desc": "Pricing periods for this placement.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PricingSchedulePricingPeriod"
                },
                {
                    "name": "testingStartDate",
                    "desc": "Testing start date of this placement. The hours, minutes, and seconds of the start date should not be set, as doing so will result in an error.",
                    "type": "date"
                }
            ]
        },
        {
            "name": "ThirdPartyTrackingUrl",
            "desc": "Third-party Tracking URL.",
            "type": "object",
            "fields": [
                {
                    "name": "thirdPartyUrlType",
                    "desc": "Third-party URL type for in-stream video creatives.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CLICK_TRACKING"
                        },
                        {
                            "name": "IMPRESSION"
                        },
                        {
                            "name": "RICH_MEDIA_BACKUP_IMPRESSION"
                        },
                        {
                            "name": "RICH_MEDIA_IMPRESSION"
                        },
                        {
                            "name": "RICH_MEDIA_RM_IMPRESSION"
                        },
                        {
                            "name": "SURVEY"
                        },
                        {
                            "name": "VIDEO_COMPLETE"
                        },
                        {
                            "name": "VIDEO_CUSTOM"
                        },
                        {
                            "name": "VIDEO_FIRST_QUARTILE"
                        },
                        {
                            "name": "VIDEO_FULLSCREEN"
                        },
                        {
                            "name": "VIDEO_MIDPOINT"
                        },
                        {
                            "name": "VIDEO_MUTE"
                        },
                        {
                            "name": "VIDEO_PAUSE"
                        },
                        {
                            "name": "VIDEO_PROGRESS"
                        },
                        {
                            "name": "VIDEO_REWIND"
                        },
                        {
                            "name": "VIDEO_SKIP"
                        },
                        {
                            "name": "VIDEO_START"
                        },
                        {
                            "name": "VIDEO_STOP"
                        },
                        {
                            "name": "VIDEO_THIRD_QUARTILE"
                        }
                    ]
                },
                {
                    "name": "url",
                    "desc": "URL for the specified third-party URL type.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VideoFormat",
            "desc": "Contains information about supported video formats.",
            "type": "object",
            "fields": [
                {
                    "name": "resolution",
                    "desc": "The resolution of this video format.",
                    "type": "ref",
                    "refType": "Size"
                },
                {
                    "name": "targetBitRate",
                    "desc": "The target bit rate of this video format.",
                    "type": "int32"
                },
                {
                    "name": "fileType",
                    "desc": "File type of the video format.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "FLV"
                        },
                        {
                            "name": "M3U8"
                        },
                        {
                            "name": "MP4"
                        },
                        {
                            "name": "THREEGPP"
                        },
                        {
                            "name": "WEBM"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "ID of the video format.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
                    "type": "string",
                    "default": "dfareporting#videoFormat"
                }
            ]
        },
        {
            "name": "AccountPermissionGroupsListResponse",
            "desc": "Account Permission Group List Response",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupsListResponse\".",
                    "type": "string",
                    "default": "dfareporting#accountPermissionGroupsListResponse"
                },
                {
                    "name": "accountPermissionGroups",
                    "desc": "Account permission group collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountPermissionGroup"
                }
            ]
        },
        {
            "name": "CampaignsListResponse",
            "desc": "Campaign List Response",
            "type": "object",
            "fields": [
                {
                    "name": "campaigns",
                    "desc": "Campaign collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Campaign"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
                    "type": "string",
                    "default": "dfareporting#campaignsListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to be used for the next list operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DimensionValue",
            "desc": "Represents a DimensionValue resource.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The ID associated with the value if available.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of resource this is, in this case dfareporting#dimensionValue.",
                    "type": "string",
                    "default": "dfareporting#dimensionValue"
                },
                {
                    "name": "matchType",
                    "desc": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "BEGINS_WITH"
                        },
                        {
                            "name": "CONTAINS"
                        },
                        {
                            "name": "EXACT"
                        },
                        {
                            "name": "WILDCARD_EXPRESSION"
                        }
                    ]
                },
                {
                    "name": "value",
                    "desc": "The value of the dimension.",
                    "type": "string"
                },
                {
                    "name": "dimensionName",
                    "desc": "The name of the dimension.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "The eTag of this response for caching purposes.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PostalCode",
            "desc": "Contains information about a postal code that can be targeted by ads.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCode\".",
                    "type": "string",
                    "default": "dfareporting#postalCode"
                },
                {
                    "name": "code",
                    "desc": "Postal code. This is equivalent to the id field.",
                    "type": "string"
                },
                {
                    "name": "countryCode",
                    "desc": "Country code of the country to which this postal code belongs.",
                    "type": "string"
                },
                {
                    "name": "countryDartId",
                    "desc": "DART ID of the country to which this postal code belongs.",
                    "type": "int64"
                },
                {
                    "name": "id",
                    "desc": "ID of this postal code.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SkippableSetting",
            "desc": "Skippable Settings",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#skippableSetting\".",
                    "type": "string",
                    "default": "dfareporting#skippableSetting"
                },
                {
                    "name": "progressOffset",
                    "desc": "Amount of time to play videos served to this placement before counting a view. Applicable when skippable is true.",
                    "type": "ref",
                    "refType": "VideoOffset"
                },
                {
                    "name": "skipOffset",
                    "desc": "Amount of time to play videos served to this placement before the skip button should appear. Applicable when skippable is true.",
                    "type": "ref",
                    "refType": "VideoOffset"
                },
                {
                    "name": "skippable",
                    "desc": "Whether the user can skip creatives served to this placement.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "VideoSettings",
            "desc": "Video Settings",
            "type": "object",
            "fields": [
                {
                    "name": "companionSettings",
                    "desc": "Settings for the companion creatives of video creatives served to this placement.",
                    "type": "ref",
                    "refType": "CompanionSetting"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\".",
                    "type": "string",
                    "default": "dfareporting#videoSettings"
                },
                {
                    "name": "skippableSettings",
                    "desc": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden.",
                    "type": "ref",
                    "refType": "SkippableSetting"
                },
                {
                    "name": "transcodeSettings",
                    "desc": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden.",
                    "type": "ref",
                    "refType": "TranscodeSetting"
                }
            ]
        },
        {
            "name": "CreativeGroup",
            "desc": "Contains properties of a creative group.",
            "type": "object",
            "fields": [
                {
                    "name": "groupNumber",
                    "desc": "Subgroup of the creative group. Assign your creative groups to one of the following subgroups in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion.\nAcceptable values are: \n- 1\n- 2",
                    "type": "int32"
                },
                {
                    "name": "id",
                    "desc": "ID of this creative group. This is a read-only, auto-generated field.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\".",
                    "type": "string",
                    "default": "dfareporting#creativeGroup"
                },
                {
                    "name": "name",
                    "desc": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser.",
                    "type": "string"
                },
                {
                    "name": "subaccountId",
                    "desc": "Subaccount ID of this creative group. This is a read-only field that can be left blank.",
                    "type": "int64"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID of this creative group. This is a read-only field that can be left blank.",
                    "type": "int64"
                },
                {
                    "name": "advertiserId",
                    "desc": "Advertiser ID of this creative group. This is a required field on insertion.",
                    "type": "int64"
                },
                {
                    "name": "advertiserIdDimensionValue",
                    "desc": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
                    "type": "ref",
                    "refType": "DimensionValue"
                }
            ]
        },
        {
            "name": "FloodlightActivityGroupsListResponse",
            "desc": "Floodlight Activity Group List Response",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\".",
                    "type": "string",
                    "default": "dfareporting#floodlightActivityGroupsListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to be used for the next list operation.",
                    "type": "string"
                },
                {
                    "name": "floodlightActivityGroups",
                    "desc": "Floodlight activity group collection.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "FloodlightActivityGroup"
                }
            ]
        },
        {
            "name": "ReportCompatibleFields",
            "desc": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
            "type": "object",
            "fields": [
                {
                    "name": "dimensionFilters",
                    "desc": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Dimension"
                },
                {
                    "name": "dimensions",
                    "desc": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Dimension"
                },
                {
                    "name": "kind",
                    "desc": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
                    "type": "string",
                    "default": "dfareporting#reportCompatibleFields"
                },
                {
                    "name": "metrics",
                    "desc": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Metric"
                },
                {
                    "name": "pivotedActivityMetrics",
                    "desc": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Metric"
                }
            ]
        },
        {
            "name": "TagData",
            "desc": "Placement Tag Data",
            "type": "object",
            "fields": [
                {
                    "name": "adId",
                    "desc": "Ad associated with this placement tag.",
                    "type": "int64"
                },
                {
                    "name": "clickTag",
                    "desc": "Tag string to record a click.",
                    "type": "string"
                },
                {
                    "name": "creativeId",
                    "desc": "Creative associated with this placement tag.",
                    "type": "int64"
                },
                {
                    "name": "format",
                    "desc": "TagData tag format of this tag.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PLACEMENT_TAG_CLICK_COMMANDS"
                        },
                        {
                            "name": "PLACEMENT_TAG_IFRAME_ILAYER"
                        },
                        {
                            "name": "PLACEMENT_TAG_IFRAME_JAVASCRIPT"
                        },
                        {
                            "name": "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY"
                        },
                        {
                            "name": "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH"
                        },
                        {
                            "name": "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3"
                        },
                        {
                            "name": "PLACEMENT_TAG_INTERNAL_REDIRECT"
                        },
                        {
                            "name": "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT"
                        },
                        {
                            "name": "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY"
                        },
                        {
                            "name": "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT"
                        },
                        {
                            "name": "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT"
                        },
                        {
                            "name": "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY"
                        },
                        {
                            "name": "PLACEMENT_TAG_JAVASCRIPT"
                        },
                        {
                            "name": "PLACEMENT_TAG_JAVASCRIPT_LEGACY"
                        },
                        {
                            "name": "PLACEMENT_TAG_STANDARD"
                        },
                        {
                            "name": "PLACEMENT_TAG_TRACKING"
                        },
                        {
                            "name": "PLACEMENT_TAG_TRACKING_IFRAME"
                        },
                        {
                            "name": "PLACEMENT_TAG_TRACKING_JAVASCRIPT"
                        }
                    ]
                },
                {
                    "name": "impressionTag",
                    "desc": "Tag string for serving an ad.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CampaignCreativeAssociationsListResponse",
            "desc": "Campaign Creative Association List Response",
            "type": "object",
            "fields": [
                {
                    "name": "campaignCreativeAssociations",
                    "desc": "Campaign creative association collection",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CampaignCreativeAssociation"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\".",
                    "type": "string",
                    "default": "dfareporting#campaignCreativeAssociationsListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to be used for the next list operation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ConnectionTypesListResponse",
            "desc": "Connection Type List Response",
            "type": "object",
            "fields": [
                {
                    "name": "connectionTypes",
                    "desc": "Collection of connection types such as broadband and mobile.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ConnectionType"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
                    "type": "string",
                    "default": "dfareporting#connectionTypesListResponse"
                }
            ]
        },
        {
            "name": "DirectorySite",
            "desc": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "ID of this directory site. This is a read-only, auto-generated field.",
                    "type": "int64"
                },
                {
                    "name": "url",
                    "desc": "URL of this directory site.",
                    "type": "string"
                },
                {
                    "name": "contactAssignments",
                    "desc": "Directory site contacts.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DirectorySiteContactAssignment"
                },
                {
                    "name": "description",
                    "desc": "Description of this directory site.",
                    "type": "string"
                },
                {
                    "name": "idDimensionValue",
                    "desc": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field.",
                    "type": "ref",
                    "refType": "DimensionValue"
                },
                {
                    "name": "settings",
                    "desc": "Directory site settings.",
                    "type": "ref",
                    "refType": "DirectorySiteSettings"
                },
                {
                    "name": "active",
                    "desc": "Whether this directory site is active.",
                    "type": "bool"
                },
                {
                    "name": "countryId",
                    "desc": "Country ID of this directory site.",
                    "type": "int64"
                },
                {
                    "name": "currencyId",
                    "desc": "Currency ID of this directory site.\nPossible values are: \n- \"1\" for USD \n- \"2\" for GBP \n- \"3\" for ESP \n- \"4\" for SEK \n- \"5\" for CAD \n- \"6\" for JPY \n- \"7\" for DEM \n- \"8\" for AUD \n- \"9\" for FRF \n- \"10\" for ITL \n- \"11\" for DKK \n- \"12\" for NOK \n- \"13\" for FIM \n- \"14\" for ZAR \n- \"15\" for IEP \n- \"16\" for NLG \n- \"17\" for EUR \n- \"18\" for KRW \n- \"19\" for TWD \n- \"20\" for SGD \n- \"21\" for CNY \n- \"22\" for HKD \n- \"23\" for NZD \n- \"24\" for MYR \n- \"25\" for BRL \n- \"26\" for PTE \n- \"27\" for MXP \n- \"28\" for CLP \n- \"29\" for TRY \n- \"30\" for ARS \n- \"31\" for PEN \n- \"32\" for ILS \n- \"33\" for CHF \n- \"34\" for VEF \n- \"35\" for COP \n- \"36\" for GTQ \n- \"37\" for PLN \n- \"39\" for INR \n- \"40\" for THB \n- \"41\" for IDR \n- \"42\" for CZK \n- \"43\" for RON \n- \"44\" for HUF \n- \"45\" for RUB \n- \"46\" for AED \n- \"47\" for BGN \n- \"48\" for HRK",
                    "type": "int64"
                },
                {
                    "name": "interstitialTagFormats",
                    "desc": "Tag types for interstitial placements.\n\nAcceptable values are:\n- \"IFRAME_JAVASCRIPT_INTERSTITIAL\"\n- \"INTERNAL_REDIRECT_INTERSTITIAL\"\n- \"JAVASCRIPT_INTERSTITIAL\"",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
                    "type": "string",
                    "default": "dfareporting#directorySite"
                },
                {
                    "name": "parentId",
                    "desc": "Parent directory site ID.",
                    "type": "int64"
                },
                {
                    "name": "inpageTagFormats",
                    "desc": "Tag types for regular placements.\n\nAcceptable values are:\n- \"STANDARD\"\n- \"IFRAME_JAVASCRIPT_INPAGE\"\n- \"INTERNAL_REDIRECT_INPAGE\"\n- \"JAVASCRIPT_INPAGE\"",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of this directory site.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EncryptionInfo",
            "desc": "A description of how user IDs are encrypted.",
            "type": "object",
            "fields": [
                {
                    "name": "encryptionEntityType",
                    "desc": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ADWORDS_CUSTOMER"
                        },
                        {
                            "name": "DBM_ADVERTISER"
                        },
                        {
                            "name": "DBM_PARTNER"
                        },
                        {
                            "name": "DCM_ACCOUNT"
                        },
                        {
                            "name": "DCM_ADVERTISER"
                        },
                        {
                            "name": "ENCRYPTION_ENTITY_TYPE_UNKNOWN"
                        }
                    ]
                },
                {
                    "name": "encryptionSource",
                    "desc": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "AD_SERVING"
                        },
                        {
                            "name": "DATA_TRANSFER"
                        },
                        {
                            "name": "ENCRYPTION_SCOPE_UNKNOWN"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\".",
                    "type": "string",
                    "default": "dfareporting#encryptionInfo"
                },
                {
                    "name": "encryptionEntityId",
                    "desc": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "FileList",
            "desc": "Represents the list of File resources.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of list this is, in this case dfareporting#fileList.",
                    "type": "string",
                    "default": "dfareporting#fileList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "The eTag of this response for caching purposes.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The files returned in this response.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "File"
                }
            ]
        },
        {
            "name": "FloodlightConfiguration",
            "desc": "Contains properties of a Floodlight configuration.",
            "type": "object",
            "fields": [
                {
                    "name": "analyticsDataSharingEnabled",
                    "desc": "Whether advertiser data is shared with Google Analytics.",
                    "type": "bool"
                },
                {
                    "name": "firstDayOfWeek",
                    "desc": "Day that will be counted as the first day of the week in reports. This is a required field.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "MONDAY"
                        },
                        {
                            "name": "SUNDAY"
                        }
                    ]
                },
                {
                    "name": "inAppAttributionTrackingEnabled",
                    "desc": "Whether in-app attribution tracking is enabled.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfiguration\".",
                    "type": "string",
                    "default": "dfareporting#floodlightConfiguration"
                },
                {
                    "name": "userDefinedVariableConfigurations",
                    "desc": "List of user defined variables enabled for this configuration.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UserDefinedVariableConfiguration"
                },
                {
                    "name": "advertiserIdDimensionValue",
                    "desc": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
                    "type": "ref",
                    "refType": "DimensionValue"
                },
                {
                    "name": "advertiserId",
                    "desc": "Advertiser ID of the parent advertiser of this floodlight configuration.",
                    "type": "int64"
                },
                {
                    "name": "exposureToConversionEnabled",
                    "desc": "Whether the exposure-to-conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
                    "type": "bool"
                },
                {
                    "name": "naturalSearchConversionAttributionOption",
                    "desc": "Types of attribution options for natural search conversions.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "EXCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION"
                        },
                        {
                            "name": "INCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION"
                        },
                        {
                            "name": "INCLUDE_NATURAL_SEARCH_TIERED_CONVERSION_ATTRIBUTION"
                        }
                    ]
                },
                {
                    "name": "subaccountId",
                    "desc": "Subaccount ID of this floodlight configuration. This is a read-only field that can be left blank.",
                    "type": "int64"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID of this floodlight configuration. This is a read-only field that can be left blank.",
                    "type": "int64"
                },
                {
                    "name": "lookbackConfiguration",
                    "desc": "Lookback window settings for this floodlight configuration.",
                    "type": "ref",
                    "refType": "LookbackConfiguration"
                },
                {
                    "name": "omnitureSettings",
                    "desc": "Settings for DCM Omniture integration.",
                    "type": "ref",
                    "refType": "OmnitureSettings"
                },
                {
                    "name": "standardVariableTypes",
                    "desc": "List of standard variables enabled for this configuration.\n\nAcceptable values are:\n- \"ORD\"\n- \"NUM\"",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "idDimensionValue",
                    "desc": "Dimension value for the ID of this floodlight configuration. This is a read-only, auto-generated field.",
                    "type": "ref",
                    "refType": "DimensionValue"
                },
                {
                    "name": "tagSettings",
                    "desc": "Configuration settings for dynamic and image floodlight tags.",
                    "type": "ref",
                    "refType": "TagSettings"
                },
                {
                    "name": "thirdPartyAuthenticationTokens",
                    "desc": "List of third-party authentication tokens enabled for this configuration.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThirdPartyAuthenticationToken"
[...]
