{
    "kind": "discovery#restDescription",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/D9alDxtbvUeWpOHmptYNh69Xd00\"",
    "discoveryVersion": "v1",
    "id": "adexchangebuyer:v1.2",
    "name": "adexchangebuyer",
    "version": "v1.2",
    "title": "Ad Exchange Buyer API",
    "description": "Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.",
    "documentationLink": "https://developers.google.com/ad-exchange/buyer-rest",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/adexchange.buyer"
        ]
    },
    "parameters": [
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Account",
            "desc": "Configuration data for an Ad Exchange buyer account.",
            "type": "object",
            "fields": [
                {
                    "name": "cookieMatchingNid",
                    "desc": "The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.",
                    "type": "string"
                },
                {
                    "name": "cookieMatchingUrl",
                    "desc": "The base URL used in cookie match requests.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Account id.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#account"
                },
                {
                    "name": "maximumActiveCreatives",
                    "desc": "The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.",
                    "type": "int32"
                },
                {
                    "name": "maximumTotalQps",
                    "desc": "The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.",
                    "type": "int32"
                },
                {
                    "name": "numberActiveCreatives",
                    "desc": "The number of creatives that this account inserted or bid with in the last 30 days.",
                    "type": "int32"
                },
                {
                    "name": "bidderLocation",
                    "desc": "Your bidder locations that have distinct URLs.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "url",
                            "desc": "The URL to which the Ad Exchange will send bid requests.",
                            "type": "string"
                        },
                        {
                            "name": "maximumQps",
                            "desc": "The maximum queries per second the Ad Exchange will send.",
                            "type": "int32"
                        },
                        {
                            "name": "region",
                            "desc": "The geographical region the Ad Exchange should send requests from. Only used by some quota systems, but always setting the value is recommended. Allowed values:  \n- ASIA \n- EUROPE \n- US_EAST \n- US_WEST",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "AccountsList",
            "desc": "An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of accounts.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Account"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#accountsList"
                }
            ]
        },
        {
            "name": "Creative",
            "desc": "A creative and its classification data.",
            "type": "object",
            "fields": [
                {
                    "name": "agencyId",
                    "desc": "The agency id for this creative.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#creative"
                },
                {
                    "name": "apiUploadTimestamp",
                    "desc": "The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).",
                    "type": "datetime"
                },
                {
                    "name": "attribute",
                    "desc": "All attributes for the ads that may be shown from this snippet.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "impressionTrackingUrl",
                    "desc": "The set of urls to be called to record an impression.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "Creative serving status. Read-only. This field should not be set in requests.",
                    "type": "string"
                },
                {
                    "name": "videoURL",
                    "desc": "The url to fetch a video ad. If set, HTMLSnippet should not be set.",
                    "type": "string"
                },
                {
                    "name": "width",
                    "desc": "Ad width.",
                    "type": "int32"
                },
                {
                    "name": "HTMLSnippet",
                    "desc": "The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "Account id.",
                    "type": "int32"
                },
                {
                    "name": "corrections",
                    "desc": "Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "details",
                            "desc": "Additional details about the correction.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "reason",
                            "desc": "The type of correction that was applied to the creative.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "filteringReasons",
                    "desc": "The filtering reasons for the creative. Read-only. This field should not be set in requests.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "date",
                            "desc": "The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.",
                            "type": "string"
                        },
                        {
                            "name": "reasons",
                            "desc": "The filtering reasons.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "filteringStatus",
                                    "desc": "The filtering status code. Please refer to the creative-status-codes.txt file for different statuses.",
                                    "type": "int32"
                                },
                                {
                                    "name": "filteringCount",
                                    "desc": "The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.",
                                    "type": "int64"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "productCategories",
                    "desc": "Detected product categories, if any. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "sensitiveCategories",
                    "desc": "Detected sensitive categories, if any. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "advertiserId",
                    "desc": "Detected advertiser id, if any. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "buyerCreativeId",
                    "desc": "A buyer-specific id identifying the creative in this ad.",
                    "type": "string"
                },
                {
                    "name": "disapprovalReasons",
                    "desc": "The reasons for disapproval, if any. Note that not all disapproval reasons may be categorized, so it is possible for the creative to have a status of DISAPPROVED with an empty list for disapproval_reasons. In this case, please reach out to your TAM to help debug the issue. Read-only. This field should not be set in requests.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "details",
                            "desc": "Additional details about the reason for disapproval.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "reason",
                            "desc": "The categorized reason for disapproval.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "height",
                    "desc": "Ad height.",
                    "type": "int32"
                },
                {
                    "name": "restrictedCategories",
                    "desc": "All restricted categories for the ads that may be shown from this snippet.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "vendorType",
                    "desc": "All vendor types for the ads that may be shown from this snippet.",
                    "collection": "array",
                    "type": "int32"
                },
                {
                    "name": "version",
                    "desc": "The version for this creative. Read-only. This field should not be set in requests.",
                    "type": "int32"
                },
                {
                    "name": "advertiserName",
                    "desc": "The name of the company being advertised in the creative.",
                    "type": "string"
                },
                {
                    "name": "clickThroughUrl",
                    "desc": "The set of destination urls for the snippet.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CreativesList",
            "desc": "The creatives feed lists the active creatives for the Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single creative.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of creatives.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Creative"
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "adexchangebuyer#creativesList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token used to page through creatives. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "creatives",
            "methods": [
                {
                    "name": "list",
                    "desc": "Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission.",
                    "path": "creatives",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of entries returned on one result page. If not set, the default is 100. Optional.",
                            "type": "uint32",
                            "min": "1",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response. Optional.",
                            "type": "string"
                        },
                        {
                            "name": "statusFilter",
                            "desc": "When specified, only creatives having the given status are returned.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "approved",
                                    "desc": "Creatives which have been approved."
                                },
                                {
                                    "name": "disapproved",
                                    "desc": "Creatives which have been disapproved."
                                },
                                {
                                    "name": "not_checked",
                                    "desc": "Creatives whose status is not yet checked."
                                }
                            ]
                        }
                    ],
                    "response": "CreativesList"
                },
                {
                    "name": "get",
                    "desc": "Gets the status for a single creative. A creative will be available 30-40 minutes after submission.",
                    "path": "creatives/{accountId}/{buyerCreativeId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "accountId",
                            "desc": "The id for the account that will serve this creative.",
                            "required": true,
                            "type": "int32"
                        },
                        {
                            "name": "buyerCreativeId",
                            "desc": "The buyer-specific id for this creative.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Creative"
                },
                {
                    "name": "insert",
                    "desc": "Submit a new creative.",
                    "path": "creatives",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "request": "Creative",
                    "response": "Creative"
                }
            ]
        },
        {
            "name": "accounts",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets one account by ID.",
                    "path": "accounts/{id}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "id",
                            "desc": "The account id",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "response": "Account"
                },
                {
                    "name": "list",
                    "desc": "Retrieves the authenticated user's list of accounts.",
                    "path": "accounts",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "response": "AccountsList"
                },
                {
                    "name": "patch",
                    "desc": "Updates an existing account. This method supports patch semantics.",
                    "path": "accounts/{id}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "id",
                            "desc": "The account id",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "request": "Account",
                    "response": "Account"
                },
                {
                    "name": "update",
                    "desc": "Updates an existing account.",
                    "path": "accounts/{id}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                    ],
                    "pathParams": [
                        {
                            "name": "id",
                            "desc": "The account id",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "request": "Account",
                    "response": "Account"
                }
            ]
        }
    ]
}