{
    "kind": "discovery#restDescription",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/CEwIV9fdNgUw9Oy31M8HLJeTPyQ\"",
    "discoveryVersion": "v1",
    "id": "analytics:v3",
    "name": "analytics",
    "version": "v3",
    "title": "Google Analytics API",
    "description": "Views and manages your Google Analytics data.",
    "documentationLink": "https://developers.google.com/analytics/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "analytics/v3/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/analytics.manage.users.readonly",
            "https://www.googleapis.com/auth/analytics.provision",
            "https://www.googleapis.com/auth/analytics.readonly",
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.manage.users"
        ]
    },
    "parameters": [
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "false"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "Webproperty",
            "desc": "JSON template for an Analytics web property.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "Web property ID of the form UA-XXXXX-YY.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Time this web property was last modified.",
                    "type": "datetime"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID to which this web property belongs.",
                    "type": "string"
                },
                {
                    "name": "defaultProfileId",
                    "desc": "Default view (profile) ID.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for Analytics WebProperty.",
                    "type": "string",
                    "default": "analytics#webproperty"
                },
                {
                    "name": "parentLink",
                    "desc": "Parent link for this web property. Points to the account to which this web property belongs.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "href",
                            "desc": "Link to the account for this web property.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Type of the parent link. Its value is \"analytics#account\".",
                            "type": "string",
                            "default": "analytics#account"
                        }
                    ]
                },
                {
                    "name": "permissions",
                    "desc": "Permissions the user has for this web property.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "effective",
                            "desc": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
                            "collection": "array",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "Link for this web property.",
                    "type": "string"
                },
                {
                    "name": "created",
                    "desc": "Time this web property was created.",
                    "type": "datetime"
                },
                {
                    "name": "industryVertical",
                    "desc": "The industry vertical/category selected for this web property.",
                    "type": "string"
                },
                {
                    "name": "level",
                    "desc": "Level for this web property. Possible values are STANDARD or PREMIUM.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of this web property.",
                    "type": "string"
                },
                {
                    "name": "profileCount",
                    "desc": "View (Profile) count for this web property.",
                    "type": "int32"
                },
                {
                    "name": "starred",
                    "desc": "Indicates whether this web property is starred or not.",
                    "type": "bool"
                },
                {
                    "name": "childLink",
                    "desc": "Child link for this web property. Points to the list of views (profiles) for this web property.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "href",
                            "desc": "Link to the list of views (profiles) for this web property.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Type of the parent link. Its value is \"analytics#profiles\".",
                            "type": "string",
                            "default": "analytics#profiles"
                        }
                    ]
                },
                {
                    "name": "internalWebPropertyId",
                    "desc": "Internal ID for this web property.",
                    "type": "string"
                },
                {
                    "name": "websiteUrl",
                    "desc": "Website url for this web property.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CustomDataSources",
            "desc": "Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source.",
            "type": "object",
            "fields": [
                {
                    "name": "itemsPerPage",
                    "desc": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Collection type.",
                    "type": "string",
                    "default": "analytics#customDataSources"
                },
                {
                    "name": "nextLink",
                    "desc": "Link to next page for this custom data source collection.",
                    "type": "string"
                },
                {
                    "name": "previousLink",
                    "desc": "Link to previous page for this custom data source collection.",
                    "type": "string"
                },
                {
                    "name": "startIndex",
                    "desc": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "desc": "The total number of results for the query, regardless of the number of results in the response.",
                    "type": "int32"
                },
                {
                    "name": "username",
                    "desc": "Email ID of the authenticated user",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "Collection of custom data sources.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CustomDataSource"
                }
            ]
        },
        {
            "name": "EntityAdWordsLinks",
            "desc": "An entity AdWords link collection provides a list of GA-AdWords links Each resource in this collection corresponds to a single link.",
            "type": "object",
            "fields": [
                {
                    "name": "startIndex",
                    "desc": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "desc": "The total number of results for the query, regardless of the number of results in the response.",
                    "type": "int32"
                },
                {
                    "name": "items",
                    "desc": "A list of entity AdWords links.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EntityAdWordsLink"
                },
                {
                    "name": "itemsPerPage",
                    "desc": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Collection type.",
                    "type": "string",
                    "default": "analytics#entityAdWordsLinks"
                },
                {
                    "name": "nextLink",
                    "desc": "Next link for this AdWords link collection.",
                    "type": "string"
                },
                {
                    "name": "previousLink",
                    "desc": "Previous link for this AdWords link collection.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FilterExpression",
            "desc": "JSON template for an Analytics filter expression.",
            "type": "object",
            "fields": [
                {
                    "name": "matchType",
                    "desc": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES.",
                    "type": "string"
                },
                {
                    "name": "caseSensitive",
                    "desc": "Determines if the filter is case sensitive.",
                    "type": "bool"
                },
                {
                    "name": "expressionValue",
                    "desc": "Filter expression value",
                    "type": "string"
                },
                {
                    "name": "field",
                    "desc": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),",
                    "type": "string"
                },
                {
                    "name": "fieldIndex",
                    "desc": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Kind value for filter expression",
                    "type": "string",
                    "default": "analytics#filterExpression"
                }
            ]
        },
        {
            "name": "RemarketingAudience",
            "desc": "JSON template for an Analytics remarketing audience.",
            "type": "object",
            "fields": [
                {
                    "name": "accountId",
                    "desc": "Account ID to which this remarketing audience belongs.",
                    "type": "string"
                },
                {
                    "name": "internalWebPropertyId",
                    "desc": "Internal ID for the web property to which this remarketing audience belongs.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of this remarketing audience.",
                    "type": "string"
                },
                {
                    "name": "linkedAdAccounts",
                    "desc": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LinkedForeignAccount"
                },
                {
                    "name": "updated",
                    "desc": "Time this remarketing audience was last modified.",
                    "type": "datetime"
                },
                {
                    "name": "webPropertyId",
                    "desc": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs.",
                    "type": "string"
                },
                {
                    "name": "audienceDefinition",
                    "desc": "The simple audience definition that will cause a user to be added to an audience.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "includeConditions",
                            "desc": "Defines the conditions to include users to the audience.",
                            "type": "ref",
                            "refType": "IncludeConditions"
                        }
                    ]
                },
                {
                    "name": "audienceType",
                    "desc": "The type of audience, either SIMPLE or STATE_BASED.",
                    "type": "string"
                },
                {
                    "name": "created",
                    "desc": "Time this remarketing audience was created.",
                    "type": "datetime"
                },
                {
                    "name": "id",
                    "desc": "Remarketing Audience ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Collection type.",
                    "type": "string",
                    "default": "analytics#remarketingAudience"
                },
                {
                    "name": "description",
                    "desc": "The description of this remarketing audience.",
                    "type": "string"
                },
                {
                    "name": "linkedViews",
                    "desc": "The views (profiles) that this remarketing audience is linked to.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "stateBasedAudienceDefinition",
                    "desc": "A state based audience definition that will cause a user to be added or removed from an audience.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "excludeConditions",
                            "desc": "Defines the conditions to exclude users from the audience.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "exclusionDuration",
                                    "desc": "Whether to make the exclusion TEMPORARY or PERMANENT.",
                                    "type": "string"
                                },
                                {
                                    "name": "segment",
                                    "desc": "The segment condition that will cause a user to be removed from an audience.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "includeConditions",
                            "desc": "Defines the conditions to include users to the audience.",
                            "type": "ref",
                            "refType": "IncludeConditions"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Upload",
            "desc": "Metadata returned for an upload operation.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Resource type for Analytics upload.",
                    "type": "string",
                    "default": "analytics#upload"
                },
                {
                    "name": "status",
                    "desc": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED.",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "Account Id to which this upload belongs.",
                    "type": "int64"
                },
                {
                    "name": "customDataSourceId",
                    "desc": "Custom data source Id to which this data import belongs.",
                    "type": "string"
                },
                {
                    "name": "errors",
                    "desc": "Data import errors collection.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "A unique ID for this upload.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Uploads",
            "desc": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "A list of uploads.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Upload"
                },
                {
                    "name": "itemsPerPage",
                    "desc": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Collection type.",
                    "type": "string",
                    "default": "analytics#uploads"
                },
                {
                    "name": "nextLink",
                    "desc": "Link to next page for this upload collection.",
                    "type": "string"
                },
                {
                    "name": "previousLink",
                    "desc": "Link to previous page for this upload collection.",
                    "type": "string"
                },
                {
                    "name": "startIndex",
                    "desc": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "desc": "The total number of results for the query, regardless of the number of resources in the result.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "UserRef",
            "desc": "JSON template for a user reference.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "User ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "analytics#userRef"
                },
                {
                    "name": "email",
                    "desc": "Email ID of this user.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EntityUserLink",
            "desc": "JSON template for an Analytics Entity-User Link. Returns permissions that a user has for an entity.",
            "type": "object",
            "fields": [
                {
                    "name": "userRef",
                    "desc": "User reference.",
                    "type": "ref",
                    "refType": "UserRef"
                },
                {
                    "name": "entity",
                    "desc": "Entity for this link. It can be an account, a web property, or a view (profile).",
                    "type": "object",
                    "fields": [
                        {
                            "name": "accountRef",
                            "desc": "Account for this link.",
                            "type": "ref",
                            "refType": "AccountRef"
                        },
                        {
                            "name": "profileRef",
                            "desc": "View (Profile) for this link.",
                            "type": "ref",
                            "refType": "ProfileRef"
                        },
                        {
                            "name": "webPropertyRef",
                            "desc": "Web property for this link.",
                            "type": "ref",
                            "refType": "WebPropertyRef"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "Entity user link ID",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for entity user link.",
                    "type": "string",
                    "default": "analytics#entityUserLink"
                },
                {
                    "name": "permissions",
                    "desc": "Permissions the user has for this entity.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "effective",
                            "desc": "Effective permissions represent all the permissions that a user has for this entity. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent entity. Effective permissions are read-only.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "local",
                            "desc": "Permissions that a user has been assigned at this very level. Does not include any implied or inherited permissions. Local permissions are modifiable.",
                            "collection": "array",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "Self link for this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountRef",
            "desc": "JSON template for a linked account.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Analytics account reference.",
                    "type": "string",
                    "default": "analytics#accountRef"
                },
                {
                    "name": "name",
                    "desc": "Account name.",
                    "type": "string"
                },
                {
                    "name": "href",
                    "desc": "Link for this account.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Account ID.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountSummaries",
            "desc": "An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary.",
            "type": "object",
            "fields": [
                {
                    "name": "previousLink",
                    "desc": "Link to previous page for this AccountSummary collection.",
                    "type": "string"
                },
                {
                    "name": "startIndex",
                    "desc": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "desc": "The total number of results for the query, regardless of the number of results in the response.",
                    "type": "int32"
                },
                {
                    "name": "username",
                    "desc": "Email ID of the authenticated user",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of AccountSummaries.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountSummary"
                },
                {
                    "name": "itemsPerPage",
                    "desc": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Collection type.",
                    "type": "string",
                    "default": "analytics#accountSummaries"
                },
                {
                    "name": "nextLink",
                    "desc": "Link to next page for this AccountSummary collection.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountSummary",
            "desc": "JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "Account ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for Analytics AccountSummary.",
                    "type": "string",
                    "default": "analytics#accountSummary"
                },
                {
                    "name": "name",
                    "desc": "Account name.",
                    "type": "string"
                },
                {
                    "name": "starred",
                    "desc": "Indicates whether this account is starred or not.",
                    "type": "bool"
                },
                {
                    "name": "webProperties",
                    "desc": "List of web properties under this account.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "WebPropertySummary"
                }
            ]
        },
        {
            "name": "Columns",
            "desc": "Lists columns (dimensions and metrics) for a particular report type.",
            "type": "object",
            "fields": [
                {
                    "name": "attributeNames",
                    "desc": "List of attributes names returned by columns.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "Etag of collection. This etag can be compared with the last response etag to check if response has changed.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "List of columns for a report type.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Column"
                },
                {
                    "name": "kind",
                    "desc": "Collection type.",
                    "type": "string",
                    "default": "analytics#columns"
                },
                {
                    "name": "totalResults",
                    "desc": "Total number of columns returned in the response.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "CustomDimension",
            "desc": "JSON template for Analytics Custom Dimension.",
            "type": "object",
            "fields": [
                {
                    "name": "accountId",
                    "desc": "Account ID.",
                    "type": "string"
                },
                {
                    "name": "created",
                    "desc": "Time the custom dimension was created.",
                    "type": "datetime"
                },
                {
                    "name": "scope",
                    "desc": "Scope of the custom dimension: HIT, SESSION, USER or PRODUCT.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "Link for the custom dimension",
                    "type": "string"
                },
                {
                    "name": "active",
                    "desc": "Boolean indicating whether the custom dimension is active.",
                    "type": "bool"
                },
                {
                    "name": "id",
                    "desc": "Custom dimension ID.",
                    "type": "string"
                },
                {
                    "name": "index",
                    "desc": "Index of the custom dimension.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Kind value for a custom dimension. Set to \"analytics#customDimension\". It is a read-only field.",
                    "type": "string",
                    "default": "analytics#customDimension"
                },
                {
                    "name": "name",
                    "desc": "Name of the custom dimension.",
                    "type": "string"
                },
                {
                    "name": "parentLink",
                    "desc": "Parent link for the custom dimension. Points to the property to which the custom dimension belongs.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "href",
                            "desc": "Link to the property to which the custom dimension belongs.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Type of the parent link. Set to \"analytics#webproperty\".",
                            "type": "string",
                            "default": "analytics#webproperty"
                        }
                    ]
                },
                {
                    "name": "updated",
                    "desc": "Time the custom dimension was last modified.",
                    "type": "datetime"
                },
                {
                    "name": "webPropertyId",
                    "desc": "Property ID.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CustomDimensions",
            "desc": "A custom dimension collection lists Analytics custom dimensions to which the user has access. Each resource in the collection corresponds to a single Analytics custom dimension.",
            "type": "object",
            "fields": [
                {
                    "name": "totalResults",
                    "desc": "The total number of results for the query, regardless of the number of results in the response.",
                    "type": "int32"
                },
                {
                    "name": "username",
                    "desc": "Email ID of the authenticated user",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "Collection of custom dimensions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CustomDimension"
                },
                {
                    "name": "itemsPerPage",
                    "desc": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Collection type.",
                    "type": "string",
                    "default": "analytics#customDimensions"
                },
                {
                    "name": "nextLink",
                    "desc": "Link to next page for this custom dimension collection.",
                    "type": "string"
                },
                {
                    "name": "previousLink",
                    "desc": "Link to previous page for this custom dimension collection.",
                    "type": "string"
                },
                {
                    "name": "startIndex",
                    "desc": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "CustomMetric",
            "desc": "JSON template for Analytics Custom Metric.",
            "type": "object",
            "fields": [
                {
                    "name": "index",
                    "desc": "Index of the custom metric.",
                    "type": "int32"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID.",
                    "type": "string"
                },
                {
                    "name": "created",
                    "desc": "Time the custom metric was created.",
                    "type": "datetime"
                },
                {
                    "name": "kind",
                    "desc": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
                    "type": "string",
                    "default": "analytics#customMetric"
                },
                {
                    "name": "active",
                    "desc": "Boolean indicating whether the custom metric is active.",
                    "type": "bool"
                },
                {
                    "name": "id",
                    "desc": "Custom metric ID.",
                    "type": "string"
                },
                {
                    "name": "parentLink",
                    "desc": "Parent link for the custom metric. Points to the property to which the custom metric belongs.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "href",
                            "desc": "Link to the property to which the custom metric belongs.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Type of the parent link. Set to \"analytics#webproperty\".",
                            "type": "string",
                            "default": "analytics#webproperty"
                        }
                    ]
                },
                {
                    "name": "scope",
                    "desc": "Scope of the custom metric: HIT or PRODUCT.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Data type of custom metric.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Time the custom metric was last modified.",
                    "type": "datetime"
                },
                {
                    "name": "webPropertyId",
                    "desc": "Property ID.",
                    "type": "string"
                },
                {
                    "name": "max_value",
                    "desc": "Max value of custom metric.",
                    "type": "string"
                },
                {
                    "name": "min_value",
                    "desc": "Min value of custom metric.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of the custom metric.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "Link for the custom metric",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProfileRef",
            "desc": "JSON template for a linked view (profile).",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Analytics view (profile) reference.",
                    "type": "string",
                    "default": "analytics#profileRef"
                },
                {
                    "name": "name",
                    "desc": "Name of this view (profile).",
                    "type": "string"
                },
                {
                    "name": "webPropertyId",
                    "desc": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID to which this view (profile) belongs.",
                    "type": "string"
                },
                {
                    "name": "href",
                    "desc": "Link for this view (profile).",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "View (Profile) ID.",
                    "type": "string"
                },
                {
                    "name": "internalWebPropertyId",
                    "desc": "Internal ID for the web property to which this view (profile) belongs.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProfileSummary",
            "desc": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "View (profile) ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for Analytics ProfileSummary.",
                    "type": "string",
                    "default": "analytics#profileSummary"
                },
                {
                    "name": "name",
                    "desc": "View (profile) name.",
                    "type": "string"
                },
                {
                    "name": "starred",
                    "desc": "Indicates whether this view (profile) is starred or not.",
                    "type": "bool"
                },
                {
                    "name": "type",
                    "desc": "View (Profile) type. Supported types: WEB or APP.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RemarketingAudiences",
            "desc": "A remarketing audience collection lists Analytics remarketing audiences to which the user has access. Each resource in the collection corresponds to a single Analytics remarketing audience.",
            "type": "object",
            "fields": [
                {
                    "name": "itemsPerPage",
                    "desc": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Collection type.",
                    "type": "string",
                    "default": "analytics#remarketingAudiences"
                },
                {
                    "name": "nextLink",
                    "desc": "Link to next page for this remarketing audience collection.",
                    "type": "string"
                },
                {
                    "name": "previousLink",
                    "desc": "Link to previous page for this view (profile) collection.",
                    "type": "string"
                },
                {
                    "name": "startIndex",
                    "desc": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "desc": "The total number of results for the query, regardless of the number of results in the response.",
                    "type": "int32"
                },
                {
                    "name": "username",
                    "desc": "Email ID of the authenticated user",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of remarketing audiences.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RemarketingAudience"
                }
            ]
        },
        {
            "name": "UnsampledReport",
            "desc": "JSON template for Analytics unsampled report resource.",
            "type": "object",
            "fields": [
                {
                    "name": "title",
                    "desc": "Title of the unsampled report.",
                    "type": "string"
                },
                {
                    "name": "dimensions",
                    "desc": "The dimensions for the unsampled report.",
                    "type": "string"
                },
                {
                    "name": "driveDownloadDetails",
                    "desc": "Download details for a file stored in Google Drive.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "documentId",
                            "desc": "Id of the document/file containing the report data.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "segment",
                    "desc": "The segment for the unsampled report.",
                    "type": "string"
                },
                {
                    "name": "filters",
                    "desc": "The filters for the unsampled report.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Unsampled report ID.",
                    "type": "string"
                },
                {
                    "name": "profileId",
                    "desc": "View (Profile) ID to which this unsampled report belongs.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "Link for this unsampled report.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "Status of this unsampled report. Possible values are PENDING, COMPLETED, or FAILED.",
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID to which this unsampled report belongs.",
                    "type": "string"
                },
                {
                    "name": "downloadType",
                    "desc": "The type of download you need to use for the report data file. Possible values include `GOOGLE_DRIVE` and `GOOGLE_CLOUD_STORAGE`. If the value is `GOOGLE_DRIVE`, see the `driveDownloadDetails` field. If the value is `GOOGLE_CLOUD_STORAGE`, see the `cloudStorageDownloadDetails` field.",
                    "type": "string"
                },
                {
                    "name": "end-date",
                    "desc": "The end date for the unsampled report.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Time this unsampled report was last modified.",
                    "type": "datetime"
                },
                {
                    "name": "webPropertyId",
                    "desc": "Web property ID to which this unsampled report belongs. The web property ID is of the form UA-XXXXX-YY.",
                    "type": "string"
                },
                {
                    "name": "metrics",
                    "desc": "The metrics for the unsampled report.",
                    "type": "string"
                },
                {
                    "name": "start-date",
                    "desc": "The start date for the unsampled report.",
                    "type": "string"
                },
                {
                    "name": "cloudStorageDownloadDetails",
                    "desc": "Download details for a file stored in Google Cloud Storage.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "bucketId",
                            "desc": "Id of the bucket the file object is stored in.",
                            "type": "string"
                        },
                        {
                            "name": "objectId",
                            "desc": "Id of the file object containing the report data.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "created",
                    "desc": "Time this unsampled report was created.",
                    "type": "datetime"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for an Analytics unsampled report.",
                    "type": "string",
                    "default": "analytics#unsampledReport"
                }
            ]
        },
        {
            "name": "Account",
            "desc": "JSON template for Analytics account entry.",
            "type": "object",
            "fields": [
                {
                    "name": "childLink",
                    "desc": "Child link for an account entry. Points to the list of web properties for this account.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "href",
                            "desc": "Link to the list of web properties for this account.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Type of the child link. Its value is \"analytics#webproperties\".",
                            "type": "string",
                            "default": "analytics#webproperties"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Resource type for Analytics account.",
                    "type": "string",
                    "default": "analytics#account"
                },
                {
                    "name": "starred",
                    "desc": "Indicates whether this account is starred or not.",
                    "type": "bool"
                },
                {
                    "name": "updated",
                    "desc": "Time the account was last modified.",
                    "type": "datetime"
                },
                {
                    "name": "created",
                    "desc": "Time the account was created.",
                    "type": "datetime"
                },
                {
                    "name": "id",
                    "desc": "Account ID.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Account name.",
                    "type": "string"
                },
                {
                    "name": "permissions",
                    "desc": "Permissions the user has for this account.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "effective",
                            "desc": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
                            "collection": "array",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "Link for this account.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Column",
            "desc": "JSON template for a metadata column.",
            "type": "object",
            "fields": [
                {
                    "name": "attributes",
                    "desc": "Map of attribute name and value for this column.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Column id.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for Analytics column.",
                    "type": "string",
                    "default": "analytics#column"
                }
            ]
        },
        {
            "name": "EntityAdWordsLink",
            "desc": "JSON template for Analytics Entity AdWords Link.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Resource type for entity AdWords link.",
                    "type": "string",
                    "default": "analytics#entityAdWordsLink"
                },
                {
                    "name": "name",
                    "desc": "Name of the link. This field is required when creating an AdWords link.",
                    "type": "string"
                },
                {
                    "name": "profileIds",
                    "desc": "IDs of linked Views (Profiles) represented as strings.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "URL link for this Google Analytics - Google AdWords link.",
                    "type": "string"
                },
                {
                    "name": "adWordsAccounts",
                    "desc": "A list of AdWords client accounts. These cannot be MCC accounts. This field is required when creating an AdWords link. It cannot be empty.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AdWordsAccount"
                },
                {
                    "name": "entity",
                    "desc": "Web property being linked.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "webPropertyRef",
                            "type": "ref",
                            "refType": "WebPropertyRef"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "Entity AdWords link ID",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Filter",
            "desc": "JSON template for an Analytics account filter.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Name of this filter.",
                    "type": "string"
                },
                {
                    "name": "parentLink",
                    "desc": "Parent link for this filter. Points to the account to which this filter belongs.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "href",
                            "desc": "Link to the account to which this filter belongs.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Value is \"analytics#account\".",
                            "type": "string",
                            "default": "analytics#account"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "Link for this filter.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for Analytics filter.",
                    "type": "string",
                    "default": "analytics#filter"
                },
                {
                    "name": "updated",
                    "desc": "Time this filter was last modified.",
                    "type": "datetime"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID to which this filter belongs.",
                    "type": "string"
                },
                {
                    "name": "advancedDetails",
                    "desc": "Details for the filter of the type ADVANCED.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "extractA",
                            "desc": "Expression to extract from field A.",
                            "type": "string"
                        },
                        {
                            "name": "fieldAIndex",
                            "desc": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
                            "type": "int32"
                        },
                        {
                            "name": "fieldARequired",
                            "desc": "Indicates if field A is required to match.",
                            "type": "bool"
                        },
                        {
                            "name": "fieldBRequired",
                            "desc": "Indicates if field B is required to match.",
                            "type": "bool"
                        },
                        {
                            "name": "outputToField",
                            "desc": "Output field.",
                            "type": "string"
                        },
                        {
                            "name": "outputToFieldIndex",
                            "desc": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
                            "type": "int32"
                        },
                        {
                            "name": "overrideOutputField",
                            "desc": "Indicates if the existing value of the output field, if any, should be overridden by the output expression.",
                            "type": "bool"
                        },
                        {
                            "name": "caseSensitive",
                            "desc": "Indicates if the filter expressions are case sensitive.",
                            "type": "bool"
                        },
                        {
                            "name": "extractB",
                            "desc": "Expression to extract from field B.",
                            "type": "string"
                        },
                        {
                            "name": "fieldA",
                            "desc": "Field A.",
                            "type": "string"
                        },
                        {
                            "name": "fieldB",
                            "desc": "Field B.",
                            "type": "string"
                        },
                        {
                            "name": "fieldBIndex",
                            "desc": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
                            "type": "int32"
                        },
                        {
                            "name": "outputConstructor",
                            "desc": "Expression used to construct the output value.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "excludeDetails",
                    "desc": "Details for the filter of the type EXCLUDE.",
                    "type": "ref",
                    "refType": "FilterExpression"
                },
                {
                    "name": "uppercaseDetails",
                    "desc": "Details for the filter of the type UPPER.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "fieldIndex",
                            "desc": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
                            "type": "int32"
                        },
                        {
                            "name": "field",
                            "desc": "Field to use in the filter.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "Filter ID.",
                    "type": "string"
                },
                {
                    "name": "includeDetails",
                    "desc": "Details for the filter of the type INCLUDE.",
                    "type": "ref",
                    "refType": "FilterExpression"
                },
                {
                    "name": "lowercaseDetails",
                    "desc": "Details for the filter of the type LOWER.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "field",
                            "desc": "Field to use in the filter.",
                            "type": "string"
                        },
                        {
                            "name": "fieldIndex",
                            "desc": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "created",
                    "desc": "Time this filter was created.",
                    "type": "datetime"
                },
                {
                    "name": "searchAndReplaceDetails",
                    "desc": "Details for the filter of the type SEARCH_AND_REPLACE.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "fieldIndex",
                            "desc": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
                            "type": "int32"
                        },
                        {
                            "name": "replaceString",
                            "desc": "Term to replace the search term with.",
                            "type": "string"
                        },
                        {
                            "name": "searchString",
                            "desc": "Term to search.",
                            "type": "string"
                        },
                        {
                            "name": "caseSensitive",
                            "desc": "Determines if the filter is case sensitive.",
                            "type": "bool"
                        },
                        {
                            "name": "field",
                            "desc": "Field to use in the filter.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "type",
                    "desc": "Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GaData",
            "desc": "Analytics data for a given view (profile).",
            "type": "object",
            "fields": [
                {
                    "name": "totalsForAllResults",
                    "desc": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "containsSampledData",
                    "desc": "Determines if Analytics data contains samples.",
                    "type": "bool"
                },
                {
                    "name": "dataTable",
                    "type": "object",
                    "fields": [
                        {
                            "name": "cols",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "id",
                                    "type": "string"
                                },
                                {
                                    "name": "label",
                                    "type": "string"
                                },
                                {
                                    "name": "type",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "rows",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "c",
                                    "collection": "array",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "v",
                                            "type": "string"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "analytics#gaData"
                },
                {
                    "name": "nextLink",
                    "desc": "Link to next page for this Analytics data query.",
                    "type": "string"
                },
                {
                    "name": "sampleSpace",
                    "desc": "Total size of the sample space from which the samples were selected.",
                    "type": "int64"
                },
                {
                    "name": "rows",
                    "desc": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "array",
                        "type": "string"
                    }
                },
                {
                    "name": "totalResults",
                    "desc": "The total number of rows for the query, regardless of the number of rows in the response.",
                    "type": "int32"
                },
                {
                    "name": "selfLink",
                    "desc": "Link to this page.",
                    "type": "string"
                },
                {
                    "name": "columnHeaders",
                    "desc": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "name",
                            "desc": "Column name.",
                            "type": "string"
                        },
                        {
                            "name": "columnType",
                            "desc": "Column Type. Either DIMENSION or METRIC.",
                            "type": "string"
                        },
                        {
                            "name": "dataType",
                            "desc": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "Unique ID for this data response.",
                    "type": "string"
                },
                {
                    "name": "previousLink",
                    "desc": "Link to previous page for this Analytics data query.",
                    "type": "string"
                },
                {
                    "name": "profileInfo",
                    "desc": "Information for the view (profile), for which the Analytics data was requested.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "tableId",
                            "desc": "Table ID for view (profile).",
                            "type": "string"
                        },
                        {
                            "name": "webPropertyId",
                            "desc": "Web Property ID to which this view (profile) belongs.",
                            "type": "string"
                        },
                        {
                            "name": "accountId",
                            "desc": "Account ID to which this view (profile) belongs.",
                            "type": "string"
                        },
                        {
                            "name": "internalWebPropertyId",
                            "desc": "Internal ID for the web property to which this view (profile) belongs.",
                            "type": "string"
                        },
                        {
                            "name": "profileId",
                            "desc": "View (Profile) ID.",
                            "type": "string"
                        },
                        {
                            "name": "profileName",
                            "desc": "View (Profile) name.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "sampleSize",
                    "desc": "The number of samples used to calculate the result.",
                    "type": "int64"
                },
                {
                    "name": "dataLastRefreshed",
                    "desc": "The last refreshed time in seconds for Analytics data.",
                    "type": "int64"
                },
                {
                    "name": "itemsPerPage",
                    "desc": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
                    "type": "int32"
                },
                {
                    "name": "query",
                    "desc": "Analytics data request query parameters.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "samplingLevel",
                            "desc": "Desired sampling level",
                            "type": "string"
                        },
                        {
                            "name": "dimensions",
                            "desc": "List of analytics dimensions.",
                            "type": "string"
                        },
                        {
                            "name": "end-date",
                            "desc": "End date.",
                            "type": "string"
                        },
                        {
                            "name": "filters",
                            "desc": "Comma-separated list of dimension or metric filters.",
                            "type": "string"
                        },
                        {
                            "name": "segment",
                            "desc": "Analytics advanced segment.",
                            "type": "string"
                        },
                        {
                            "name": "sort",
                            "desc": "List of dimensions or metrics based on which Analytics data is sorted.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "start-date",
                            "desc": "Start date.",
                            "type": "string"
                        },
                        {
                            "name": "start-index",
                            "desc": "Start index.",
                            "type": "int32"
                        },
                        {
                            "name": "ids",
                            "desc": "Unique table ID.",
                            "type": "string"
                        },
                        {
                            "name": "max-results",
                            "desc": "Maximum results per page.",
                            "type": "int32"
                        },
                        {
                            "name": "metrics",
                            "desc": "List of analytics metrics.",
                            "collection": "array",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "IncludeConditions",
            "desc": "JSON template for an Analytics Remarketing Include Conditions.",
            "type": "object",
            "fields": [
                {
                    "name": "isSmartList",
                    "desc": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for include conditions.",
                    "type": "string",
                    "default": "analytics#includeConditions"
                },
                {
                    "name": "membershipDurationDays",
                    "desc": "Number of days (in the range 1 to 540) a user remains in the audience.",
                    "type": "int32"
                },
                {
                    "name": "segment",
                    "desc": "The segment condition that will cause a user to be added to an audience.",
                    "type": "string"
                },
                {
                    "name": "daysToLookBack",
                    "desc": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Profile",
            "desc": "JSON template for an Analytics view (profile).",
            "type": "object",
            "fields": [
                {
                    "name": "parentLink",
                    "desc": "Parent link for this view (profile). Points to the web property to which this view (profile) belongs.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "href",
                            "desc": "Link to the web property to which this view (profile) belongs.",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Value is \"analytics#webproperty\".",
                            "type": "string",
                            "default": "analytics#webproperty"
                        }
                    ]
                },
                {
                    "name": "type",
                    "desc": "View (Profile) type. Supported types: WEB or APP.",
                    "type": "string"
                },
                {
                    "name": "defaultPage",
                    "desc": "Default page for this view (profile).",
                    "type": "string"
                },
                {
                    "name": "eCommerceTracking",
                    "desc": "Indicates whether ecommerce tracking is enabled for this view (profile).",
                    "type": "bool"
                },
                {
                    "name": "enhancedECommerceTracking",
                    "desc": "Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled.",
                    "type": "bool"
                },
                {
                    "name": "currency",
                    "desc": "The currency type associated with this view (profile), defaults to USD. The supported values are:\nUSD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "View (Profile) ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for Analytics view (profile).",
                    "type": "string",
                    "default": "analytics#profile"
                },
                {
                    "name": "siteSearchQueryParameters",
                    "desc": "The site search query parameters for this view (profile).",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "Time this view (profile) was last modified.",
                    "type": "datetime"
                },
                {
                    "name": "accountId",
                    "desc": "Account ID to which this view (profile) belongs.",
                    "type": "string"
                },
                {
                    "name": "botFilteringEnabled",
                    "desc": "Indicates whether bot filtering is enabled for this view (profile).",
                    "type": "bool"
                },
                {
                    "name": "created",
                    "desc": "Time this view (profile) was created.",
                    "type": "datetime"
                },
                {
                    "name": "stripSiteSearchCategoryParameters",
                    "desc": "Whether or not Analytics will strip search category parameters from the URLs in your reports.",
                    "type": "bool"
                },
                {
                    "name": "websiteUrl",
                    "desc": "Website URL for this view (profile).",
                    "type": "string"
                },
                {
                    "name": "childLink",
                    "desc": "Child link for this view (profile). Points to the list of goals for this view (profile).",
                    "type": "object",
                    "fields": [
                        {
                            "name": "href",
                            "desc": "Link to the list of goals for this view (profile).",
                            "type": "string"
                        },
                        {
                            "name": "type",
                            "desc": "Value is \"analytics#goals\".",
                            "type": "string",
                            "default": "analytics#goals"
                        }
                    ]
                },
                {
                    "name": "permissions",
                    "desc": "Permissions the user has for this view (profile).",
                    "type": "object",
                    "fields": [
                        {
                            "name": "effective",
                            "desc": "All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property.",
                            "collection": "array",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "Link for this view (profile).",
                    "type": "string"
                },
                {
                    "name": "siteSearchCategoryParameters",
                    "desc": "Site search category parameters for this view (profile).",
                    "type": "string"
                },
                {
                    "name": "starred",
                    "desc": "Indicates whether this view (profile) is starred or not.",
                    "type": "bool"
                },
                {
                    "name": "stripSiteSearchQueryParameters",
                    "desc": "Whether or not Analytics will strip search query parameters from the URLs in your reports.",
                    "type": "bool"
                },
                {
                    "name": "timezone",
                    "desc": "Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database.",
                    "type": "string"
                },
                {
                    "name": "webPropertyId",
                    "desc": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
                    "type": "string"
                },
                {
                    "name": "excludeQueryParameters",
                    "desc": "The query parameters that are excluded from this view (profile).",
                    "type": "string"
                },
                {
                    "name": "internalWebPropertyId",
                    "desc": "Internal ID for the web property to which this view (profile) belongs.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Name of this view (profile).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProfileFilterLink",
            "desc": "JSON template for an Analytics profile filter link.",
            "type": "object",
            "fields": [
                {
                    "name": "selfLink",
                    "desc": "Link for this profile filter link.",
                    "type": "string"
                },
                {
                    "name": "filterRef",
                    "desc": "Filter for this link.",
                    "type": "ref",
                    "refType": "FilterRef"
                },
                {
                    "name": "id",
                    "desc": "Profile filter link ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Resource type for Analytics filter.",
                    "type": "string",
                    "default": "analytics#profileFilterLink"
                },
                {
                    "name": "profileRef",
                    "desc": "View (Profile) for this link.",
                    "type": "ref",
                    "refType": "ProfileRef"
                },
                {
                    "name": "rank",
                    "desc": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "RealtimeData",
            "desc": "Real time data for a given view (profile).",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Resource type.",
                    "type": "string",
                    "default": "analytics#realtimeData"
                },
                {
                    "name": "profileInfo",
                    "desc": "Information for the view (profile), for which the real time data was requested.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "tableId",
                            "desc": "Table ID for view (profile).",
                            "type": "string"
                        },
                        {
                            "name": "webPropertyId",
                            "desc": "Web Property ID to which this view (profile) belongs.",
                            "type": "string"
                        },
                        {
                            "name": "accountId",
                            "desc": "Account ID to which this view (profile) belongs.",
                            "type": "string"
                        },
                        {
                            "name": "internalWebPropertyId",
                            "desc": "Internal ID for the web property to which this view (profile) belongs.",
                            "type": "string"
                        },
                        {
                            "name": "profileId",
                            "desc": "View (Profile) ID.",
                            "type": "string"
                        },
                        {
                            "name": "profileName",
                            "desc": "View (Profile) name.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "query",
                    "desc": "Real time data request query parameters.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "filters",
                            "desc": "Comma-separated list of dimension or metric filters.",
                            "type": "string"
                        },
                        {
                            "name": "ids",
                            "desc": "Unique table ID.",
                            "type": "string"
                        },
                        {
                            "name": "max-results",
                            "desc": "Maximum results per page.",
                            "type": "int32"
                        },
                        {
                            "name": "metrics",
                            "desc": "List of real time metrics.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "sort",
                            "desc": "List of dimensions or metrics based on which real time data is sorted.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "dimensions",
                            "desc": "List of real time dimensions.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "rows",
                    "desc": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "array",
                        "type": "string"
                    }
                },
                {
                    "name": "columnHeaders",
                    "desc": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "columnType",
                            "desc": "Column Type. Either DIMENSION or METRIC.",
                            "type": "string"
                        },
                        {
                            "name": "dataType",
                            "desc": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc.",
                            "type": "string"
                        },
                        {
                            "name": "name",
                            "desc": "Column name.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "Unique ID for this data response.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "Link to this page.",
                    "type": "string"
                },
                {
                    "name": "totalResults",
                    "desc": "The total number of rows for the query, regardless of the number of rows in the response.",
                    "type": "int32"
                },
                {
                    "name": "totalsForAllResults",
                    "desc": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
                    "collection": "map",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Segments",
            "desc": "An segment collection lists Analytics segments that the user has access to. Each resource in the collection corresponds to a single Analytics segment.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Collection type for segments.",
                    "type": "string",
                    "default": "analytics#segments"
                },
                {
                    "name": "nextLink",
                    "desc": "Link to next page for this segment collection.",
                    "type": "string"
                },
                {
                    "name": "previousLink",
                    "desc": "Link to previous page for this segment collection.",
                    "type": "string"
                },
                {
                    "name": "startIndex",
                    "desc": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "desc": "The total number of results for the query, regardless of the number of results in the response.",
                    "type": "int32"
                },
                {
                    "name": "username",
                    "desc": "Email ID of the authenticated user",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of segments.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Segment"
                },
                {
                    "name": "itemsPerPage",
                    "desc": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "UnsampledReports",
            "desc": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report.",
            "type": "object",
            "fields": [
                {
                    "name": "previousLink",
                    "desc": "Link to previous page for this unsampled report collection.",
                    "type": "string"
                },
                {
                    "name": "startIndex",
                    "desc": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "desc": "The total number of results for the query, regardless of the number of resources in the result.",
                    "type": "int32"
                },
                {
                    "name": "username",
                    "desc": "Email ID of the authenticated user",
                    "type": "string"
                },
                {
[...]
