{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "dataflow:v1b3",
    "name": "dataflow",
    "version": "v1b3",
    "title": "Google Dataflow API",
    "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
    "documentationLink": "https://cloud.google.com/dataflow",
    "protocol": "rest",
    "rootUrl": "https://dataflow.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/userinfo.email"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "StreamingSetupTask",
            "desc": "A task which initializes part of a streaming Dataflow job.",
            "type": "object",
            "fields": [
                {
                    "name": "workerHarnessPort",
                    "desc": "The TCP port used by the worker to communicate with the Dataflow\nworker harness.",
                    "type": "int32"
                },
                {
                    "name": "drain",
                    "desc": "The user has requested drain.",
                    "type": "bool"
                },
                {
                    "name": "receiveWorkPort",
                    "desc": "The TCP port on which the worker should listen for messages from\nother streaming computation workers.",
                    "type": "int32"
                },
                {
                    "name": "streamingComputationTopology",
                    "desc": "The global topology of the streaming Dataflow job.",
                    "type": "ref",
                    "refType": "TopologyConfig"
                }
            ]
        },
        {
            "name": "GetTemplateResponse",
            "desc": "The response to a GetTemplate request.",
            "type": "object",
            "fields": [
                {
                    "name": "metadata",
                    "desc": "The template metadata describing the template name, available\nparameters, etc.",
                    "type": "ref",
                    "refType": "TemplateMetadata"
                },
                {
                    "name": "status",
                    "desc": "The status of the get template request. Any problems with the\nrequest will be indicated in the error_details.",
                    "type": "ref",
                    "refType": "Status"
                }
            ]
        },
        {
            "name": "Disk",
            "desc": "Describes the data disk used by a workflow job.",
            "type": "object",
            "fields": [
                {
                    "name": "sizeGb",
                    "desc": "Size of disk in GB.  If zero or unspecified, the service will\nattempt to choose a reasonable default.",
                    "type": "int32"
                },
                {
                    "name": "diskType",
                    "desc": "Disk storage type, as defined by Google Compute Engine.  This\nmust be a disk type appropriate to the project and zone in which\nthe workers will run.  If unknown or unspecified, the service\nwill attempt to choose a reasonable default.\n\nFor example, the standard persistent disk type is a resource name\ntypically ending in \"pd-standard\".  If SSD persistent disks are\navailable, the resource name typically ends with \"pd-ssd\".  The\nactual valid values are defined the Google Compute Engine API,\nnot by the Cloud Dataflow API; consult the Google Compute Engine\ndocumentation for more information about determining the set of\navailable disk types for a particular project and zone.\n\nGoogle Compute Engine Disk types are local to a particular\nproject in a particular zone, and so the resource name will\ntypically look something like this:\n\ncompute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
                    "type": "string"
                },
                {
                    "name": "mountPoint",
                    "desc": "Directory in a VM where disk is mounted.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ResourceUtilizationReportResponse",
            "desc": "Service-side response to WorkerMessage reporting resource utilization.",
            "type": "object"
        },
        {
            "name": "DerivedSource",
            "desc": "Specification of one of the bundles produced as a result of splitting\na Source (e.g. when executing a SourceSplitRequest, or when\nsplitting an active task using WorkItemStatus.dynamic_source_split),\nrelative to the source being split.",
            "type": "object",
            "fields": [
                {
                    "name": "derivationMode",
                    "desc": "What source to base the produced source on (if any).",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SOURCE_DERIVATION_MODE_UNKNOWN",
                            "desc": "The source derivation is unknown, or unspecified."
                        },
                        {
                            "name": "SOURCE_DERIVATION_MODE_INDEPENDENT",
                            "desc": "Produce a completely independent Source with no base."
                        },
                        {
                            "name": "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
                            "desc": "Produce a Source based on the Source being split."
                        },
                        {
                            "name": "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT",
                            "desc": "Produce a Source based on the base of the Source being split."
                        }
                    ]
                },
                {
                    "name": "source",
                    "desc": "Specification of the source.",
                    "type": "ref",
                    "refType": "Source"
                }
            ]
        },
        {
            "name": "SideInputInfo",
            "desc": "Information about a side input of a DoFn or an input of a SeqDoFn.",
            "type": "object",
            "fields": [
                {
                    "name": "sources",
                    "desc": "The source(s) to read element(s) from to get the value of this side input.\nIf more than one source, then the elements are taken from the\nsources, in the specified order if order matters.\nAt least one source is required.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Source"
                },
                {
                    "name": "kind",
                    "desc": "How to interpret the source element(s) as a side input value.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "tag",
                    "desc": "The id of the tag the user code will access this side input by;\nthis should correspond to the tag of some MultiOutputInfo.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "StreamingComputationTask",
            "desc": "A task which describes what action should be performed for the specified\nstreaming computation ranges.",
            "type": "object",
            "fields": [
                {
                    "name": "computationRanges",
                    "desc": "Contains ranges of a streaming computation this task should apply to.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "StreamingComputationRanges"
                },
                {
                    "name": "dataDisks",
                    "desc": "Describes the set of data disks this task should apply to.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MountedDataDisk"
                },
                {
                    "name": "taskType",
                    "desc": "A type of streaming computation task.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STREAMING_COMPUTATION_TASK_UNKNOWN",
                            "desc": "The streaming computation task is unknown, or unspecified."
                        },
                        {
                            "name": "STREAMING_COMPUTATION_TASK_STOP",
                            "desc": "Stop processing specified streaming computation range(s)."
                        },
                        {
                            "name": "STREAMING_COMPUTATION_TASK_START",
                            "desc": "Start processing specified streaming computation range(s)."
                        }
                    ]
                }
            ]
        },
        {
            "name": "PubsubLocation",
            "desc": "Identifies a pubsub location to use for transferring data into or\nout of a streaming Dataflow job.",
            "type": "object",
            "fields": [
                {
                    "name": "topic",
                    "desc": "A pubsub topic, in the form of\n\"pubsub.googleapis.com/topics/\u003cproject-id\u003e/\u003ctopic-name\u003e\"",
                    "type": "string"
                },
                {
                    "name": "timestampLabel",
                    "desc": "If set, contains a pubsub label from which to extract record timestamps.\nIf left empty, record timestamps will be generated upon arrival.",
                    "type": "string"
                },
                {
                    "name": "subscription",
                    "desc": "A pubsub subscription, in the form of\n\"pubsub.googleapis.com/subscriptions/\u003cproject-id\u003e/\u003csubscription-name\u003e\"",
                    "type": "string"
                },
                {
                    "name": "dropLateData",
                    "desc": "Indicates whether the pipeline allows late-arriving data.",
                    "type": "bool"
                },
                {
                    "name": "trackingSubscription",
                    "desc": "If set, specifies the pubsub subscription that will be used for tracking\ncustom time timestamps for watermark estimation.",
                    "type": "string"
                },
                {
                    "name": "withAttributes",
                    "desc": "If true, then the client has requested to get pubsub attributes.",
                    "type": "bool"
                },
                {
                    "name": "idLabel",
                    "desc": "If set, contains a pubsub label from which to extract record ids.\nIf left empty, record deduplication will be strictly best effort.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TaskRunnerSettings",
            "desc": "Taskrunner configuration settings.",
            "type": "object",
            "fields": [
                {
                    "name": "logToSerialconsole",
                    "desc": "Whether to send taskrunner log info to Google Compute Engine VM serial\nconsole.",
                    "type": "bool"
                },
                {
                    "name": "taskUser",
                    "desc": "The UNIX user ID on the worker VM to use for tasks launched by\ntaskrunner; e.g. \"root\".",
                    "type": "string"
                },
                {
                    "name": "alsologtostderr",
                    "desc": "Whether to also send taskrunner log info to stderr.",
                    "type": "bool"
                },
                {
                    "name": "logUploadLocation",
                    "desc": "Indicates where to put logs.  If this is not specified, the logs\nwill not be uploaded.\n\nThe supported resource type is:\n\nGoogle Cloud Storage:\n  storage.googleapis.com/{bucket}/{object}\n  bucket.storage.googleapis.com/{object}",
                    "type": "string"
                },
                {
                    "name": "streamingWorkerMainClass",
                    "desc": "The streaming worker main class name.",
                    "type": "string"
                },
                {
                    "name": "baseTaskDir",
                    "desc": "The location on the worker for task-specific subdirectories.",
                    "type": "string"
                },
                {
                    "name": "commandlinesFileName",
                    "desc": "The file to store preprocessing commands in.",
                    "type": "string"
                },
                {
                    "name": "baseUrl",
                    "desc": "The base URL for the taskrunner to use when accessing Google Cloud APIs.\n\nWhen workers access Google Cloud APIs, they logically do so via\nrelative URLs.  If this field is specified, it supplies the base\nURL to use for resolving these relative URLs.  The normative\nalgorithm used is defined by RFC 1808, \"Relative Uniform Resource\nLocators\".\n\nIf not specified, the default value is \"http://www.googleapis.com/\"",
                    "type": "string"
                },
                {
                    "name": "taskGroup",
                    "desc": "The UNIX group ID on the worker VM to use for tasks launched by\ntaskrunner; e.g. \"wheel\".",
                    "type": "string"
                },
                {
                    "name": "tempStoragePrefix",
                    "desc": "The prefix of the resources the taskrunner should use for\ntemporary storage.\n\nThe supported resource type is:\n\nGoogle Cloud Storage:\n  storage.googleapis.com/{bucket}/{object}\n  bucket.storage.googleapis.com/{object}",
                    "type": "string"
                },
                {
                    "name": "languageHint",
                    "desc": "The suggested backend language.",
                    "type": "string"
                },
                {
                    "name": "parallelWorkerSettings",
                    "desc": "The settings to pass to the parallel worker harness.",
                    "type": "ref",
                    "refType": "WorkerSettings"
                },
                {
                    "name": "harnessCommand",
                    "desc": "The command to launch the worker harness.",
                    "type": "string"
                },
                {
                    "name": "dataflowApiVersion",
                    "desc": "The API version of endpoint, e.g. \"v1b3\"",
                    "type": "string"
                },
                {
                    "name": "continueOnException",
                    "desc": "Whether to continue taskrunner if an exception is hit.",
                    "type": "bool"
                },
                {
                    "name": "logDir",
                    "desc": "The directory on the VM to store logs.",
                    "type": "string"
                },
                {
                    "name": "oauthScopes",
                    "desc": "The OAuth2 scopes to be requested by the taskrunner in order to\naccess the Cloud Dataflow API.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "workflowFileName",
                    "desc": "The file to store the workflow in.",
                    "type": "string"
                },
                {
                    "name": "vmId",
                    "desc": "The ID string of the VM.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "StreamingStageLocation",
            "desc": "Identifies the location of a streaming computation stage, for\nstage-to-stage communication.",
            "type": "object",
            "fields": [
                {
                    "name": "streamId",
                    "desc": "Identifies the particular stream within the streaming Dataflow\njob.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LeaseWorkItemResponse",
            "desc": "Response to a request to lease WorkItems.",
            "type": "object",
            "fields": [
                {
                    "name": "workItems",
                    "desc": "A list of the leased WorkItems.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "WorkItem"
                }
            ]
        },
        {
            "name": "PartialGroupByKeyInstruction",
            "desc": "An instruction that does a partial group-by-key.\nOne input and one output.",
            "type": "object",
            "fields": [
                {
                    "name": "originalCombineValuesStepName",
                    "desc": "If this instruction includes a combining function, this is the name of the\nCombineValues instruction lifted into this instruction.",
                    "type": "string"
                },
                {
                    "name": "sideInputs",
                    "desc": "Zero or more side inputs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SideInputInfo"
                },
                {
                    "name": "input",
                    "desc": "Describes the input to the partial group-by-key instruction.",
                    "type": "ref",
                    "refType": "InstructionInput"
                },
                {
                    "name": "inputElementCodec",
                    "desc": "The codec to use for interpreting an element in the input PTable.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "valueCombiningFn",
                    "desc": "The value combining function to invoke.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "originalCombineValuesInputStoreName",
                    "desc": "If this instruction includes a combining function this is the name of the\nintermediate store between the GBK and the CombineValues.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TemplateMetadata",
            "desc": "Metadata describing a template.",
            "type": "object",
            "fields": [
                {
                    "name": "bypassTempDirValidation",
                    "desc": "If true, will bypass the validation that the temp directory is\nwritable. This should only be used with templates for pipelines\nthat are guaranteed not to need to write to the temp directory,\nwhich is subject to change based on the optimizer.",
                    "type": "bool"
                },
                {
                    "name": "name",
                    "desc": "Required. The name of the template.",
                    "type": "string"
                },
                {
                    "name": "parameters",
                    "desc": "The parameters for the template.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ParameterMetadata"
                },
                {
                    "name": "description",
                    "desc": "Optional. A description of the template.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SeqMapTaskOutputInfo",
            "desc": "Information about an output of a SeqMapTask.",
            "type": "object",
            "fields": [
                {
                    "name": "sink",
                    "desc": "The sink to write the output value to.",
                    "type": "ref",
                    "refType": "Sink"
                },
                {
                    "name": "tag",
                    "desc": "The id of the TupleTag the user code will tag the output value by.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "WorkerMessageCode",
            "desc": "A message code is used to report status and error messages to the service.\nThe message codes are intended to be machine readable. The service will\ntake care of translating these into user understandable messages if\nnecessary.\n\nExample use cases:\n  1. Worker processes reporting successful startup.\n  2. Worker processes reporting specific errors (e.g. package staging\n     failure).",
            "type": "object",
            "fields": [
                {
                    "name": "parameters",
                    "desc": "Parameters contains specific information about the code.\n\nThis is a struct to allow parameters of different types.\n\nExamples:\n 1. For a \"HARNESS_STARTED\" message parameters might provide the name\n    of the worker and additional data like timing information.\n 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing\n    the GCS objects being downloaded and fields containing errors.\n\nIn general complex data structures should be avoided. If a worker\nneeds to send a specific and complicated data structure then please\nconsider defining a new proto and adding it to the data oneof in\nWorkerMessageResponse.\n\nConventions:\n Parameters should only be used for information that isn't typically passed\n as a label.\n hostname and other worker identifiers should almost always be passed\n as labels since they will be included on most messages.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "code",
                    "desc": "The code is a string intended for consumption by a machine that identifies\nthe type of message being sent.\nExamples:\n 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has\n     started.\n 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading\n    a GCS file as part of the boot process of one of the worker containers.\n\nThis is a string and not an enum to make it easy to add new codes without\nwaiting for an API change.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Sink",
            "desc": "A sink that records can be encoded and written to.",
            "type": "object",
            "fields": [
                {
                    "name": "spec",
                    "desc": "The sink to write to, plus its parameters.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "codec",
                    "desc": "The codec to use to encode data written to the sink.",
                    "collection": "map",
                    "type": "any"
                }
            ]
        },
        {
            "name": "ConcatPosition",
            "desc": "A position that encapsulates an inner position and an index for the inner\nposition. A ConcatPosition can be used by a reader of a source that\nencapsulates a set of other sources.",
            "type": "object",
            "fields": [
                {
                    "name": "position",
                    "desc": "Position within the inner source.",
                    "type": "ref",
                    "refType": "Position"
                },
                {
                    "name": "index",
                    "desc": "Index of the inner source.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "CPUTime",
            "desc": "Modeled after information exposed by /proc/stat.",
            "type": "object",
            "fields": [
                {
                    "name": "rate",
                    "desc": "Average CPU utilization rate (% non-idle cpu / second) since previous\nsample.",
                    "type": "float64"
                },
                {
                    "name": "timestamp",
                    "desc": "Timestamp of the measurement.",
                    "type": "datetime"
                },
                {
                    "name": "totalMs",
                    "desc": "Total active CPU time across all cores (ie., non-idle) in milliseconds\nsince start-up.",
                    "type": "uint64"
                }
            ]
        },
        {
            "name": "MultiOutputInfo",
            "desc": "Information about an output of a multi-output DoFn.",
            "type": "object",
            "fields": [
                {
                    "name": "tag",
                    "desc": "The id of the tag the user code will emit to this output by; this\nshould correspond to the tag of some SideInputInfo.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SourceOperationRequest",
            "desc": "A work item that represents the different operations that can be\nperformed on a user-defined Source specification.",
            "type": "object",
            "fields": [
                {
                    "name": "split",
                    "desc": "Information about a request to split a source.",
                    "type": "ref",
                    "refType": "SourceSplitRequest"
                },
                {
                    "name": "getMetadata",
                    "desc": "Information about a request to get metadata about a source.",
                    "type": "ref",
                    "refType": "SourceGetMetadataRequest"
                }
            ]
        },
        {
            "name": "WorkItem",
            "desc": "WorkItem represents basic information about a WorkItem to be executed\nin the cloud.",
            "type": "object",
            "fields": [
                {
                    "name": "streamingSetupTask",
                    "desc": "Additional information for StreamingSetupTask WorkItems.",
                    "type": "ref",
                    "refType": "StreamingSetupTask"
                },
                {
                    "name": "configuration",
                    "desc": "Work item-specific configuration as an opaque blob.",
                    "type": "string"
                },
                {
                    "name": "mapTask",
                    "desc": "Additional information for MapTask WorkItems.",
                    "type": "ref",
                    "refType": "MapTask"
                },
                {
                    "name": "packages",
                    "desc": "Any required packages that need to be fetched in order to execute\nthis WorkItem.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Package"
                },
                {
                    "name": "initialReportIndex",
                    "desc": "The initial index to use when reporting the status of the WorkItem.",
                    "type": "int64"
                },
                {
                    "name": "streamingComputationTask",
                    "desc": "Additional information for StreamingComputationTask WorkItems.",
                    "type": "ref",
                    "refType": "StreamingComputationTask"
                },
                {
                    "name": "id",
                    "desc": "Identifies this WorkItem.",
                    "type": "int64"
                },
                {
                    "name": "reportStatusInterval",
                    "desc": "Recommended reporting interval.",
                    "type": "string"
                },
                {
                    "name": "leaseExpireTime",
                    "desc": "Time when the lease on this Work will expire.",
                    "type": "datetime"
                },
                {
                    "name": "shellTask",
                    "desc": "Additional information for ShellTask WorkItems.",
                    "type": "ref",
                    "refType": "ShellTask"
                },
                {
                    "name": "jobId",
                    "desc": "Identifies the workflow job this WorkItem belongs to.",
                    "type": "string"
                },
                {
                    "name": "seqMapTask",
                    "desc": "Additional information for SeqMapTask WorkItems.",
                    "type": "ref",
                    "refType": "SeqMapTask"
                },
                {
                    "name": "projectId",
                    "desc": "Identifies the cloud project this WorkItem belongs to.",
                    "type": "string"
                },
                {
                    "name": "sourceOperationTask",
                    "desc": "Additional information for source operation WorkItems.",
                    "type": "ref",
                    "refType": "SourceOperationRequest"
                },
                {
                    "name": "streamingConfigTask",
                    "desc": "Additional information for StreamingConfigTask WorkItems.",
                    "type": "ref",
                    "refType": "StreamingConfigTask"
                }
            ]
        },
        {
            "name": "LaunchTemplateParameters",
            "desc": "Parameters to provide to the template being launched.",
            "type": "object",
            "fields": [
                {
                    "name": "parameters",
                    "desc": "The runtime parameters to pass to the job.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "jobName",
                    "desc": "Required. The job name to use for the created job.",
                    "type": "string"
                },
                {
                    "name": "environment",
                    "desc": "The runtime environment for the job.",
                    "type": "ref",
                    "refType": "RuntimeEnvironment"
                }
            ]
        },
        {
            "name": "InstructionInput",
            "desc": "An input of an instruction, as a reference to an output of a\nproducer instruction.",
            "type": "object",
            "fields": [
                {
                    "name": "outputNum",
                    "desc": "The output index (origin zero) within the producer.",
                    "type": "int32"
                },
                {
                    "name": "producerInstructionIndex",
                    "desc": "The index (origin zero) of the parallel instruction that produces\nthe output to be consumed by this input.  This index is relative\nto the list of instructions in this input's instruction's\ncontaining MapTask.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Package",
            "desc": "The packages that must be installed in order for a worker to run the\nsteps of the Cloud Dataflow job that will be assigned to its worker\npool.\n\nThis is the mechanism by which the Cloud Dataflow SDK causes code to\nbe loaded onto the workers. For example, the Cloud Dataflow Java SDK\nmight use this to install jars containing the user's code and all of the\nvarious dependencies (libraries, data files, etc.) required in order\nfor that code to run.",
            "type": "object",
            "fields": [
                {
                    "name": "location",
                    "desc": "The resource to read the package from. The supported resource type is:\n\nGoogle Cloud Storage:\n\n  storage.googleapis.com/{bucket}\n  bucket.storage.googleapis.com/",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the package.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "WorkerMessage",
            "desc": "WorkerMessage provides information to the backend about a worker.",
            "type": "object",
            "fields": [
                {
                    "name": "workerMessageCode",
                    "desc": "A worker message code.",
                    "type": "ref",
                    "refType": "WorkerMessageCode"
                },
                {
                    "name": "workerMetrics",
                    "desc": "Resource metrics reported by workers.",
                    "type": "ref",
                    "refType": "ResourceUtilizationReport"
                },
                {
                    "name": "labels",
                    "desc": "Labels are used to group WorkerMessages.\nFor example, a worker_message about a particular container\nmight have the labels:\n{ \"JOB_ID\": \"2015-04-22\",\n  \"WORKER_ID\": \"wordcount-vm-2015…\"\n  \"CONTAINER_TYPE\": \"worker\",\n  \"CONTAINER_ID\": \"ac1234def\"}\nLabel tags typically correspond to Label enum values. However, for ease\nof development other strings can be used as tags. LABEL_UNSPECIFIED should\nnot be used here.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "time",
                    "desc": "The timestamp of the worker_message.",
                    "type": "datetime"
                },
                {
                    "name": "workerHealthReport",
                    "desc": "The health of a worker.",
                    "type": "ref",
                    "refType": "WorkerHealthReport"
                }
            ]
        },
        {
            "name": "Position",
            "desc": "Position defines a position within a collection of data.  The value\ncan be either the end position, a key (used with ordered\ncollections), a byte offset, or a record index.",
            "type": "object",
            "fields": [
                {
                    "name": "shufflePosition",
                    "desc": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED\nsharding).",
                    "type": "string"
                },
                {
                    "name": "concatPosition",
                    "desc": "CloudPosition is a concat position.",
                    "type": "ref",
                    "refType": "ConcatPosition"
                },
                {
                    "name": "byteOffset",
                    "desc": "Position is a byte offset.",
                    "type": "int64"
                },
                {
                    "name": "end",
                    "desc": "Position is past all other positions. Also useful for the end\nposition of an unbounded range.",
                    "type": "bool"
                },
                {
                    "name": "key",
                    "desc": "Position is a string key, ordered lexicographically.",
                    "type": "string"
                },
                {
                    "name": "recordIndex",
                    "desc": "Position is a record index.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "FailedLocation",
            "desc": "Indicates which location failed to respond to a request for data.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the failed location.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "StateFamilyConfig",
            "desc": "State family configuration.",
            "type": "object",
            "fields": [
                {
                    "name": "stateFamily",
                    "desc": "The state family value.",
                    "type": "string"
                },
                {
                    "name": "isRead",
                    "desc": "If true, this family corresponds to a read operation.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "ParDoInstruction",
            "desc": "An instruction that does a ParDo operation.\nTakes one main input and zero or more side inputs, and produces\nzero or more outputs.\nRuns user code.",
            "type": "object",
            "fields": [
                {
                    "name": "sideInputs",
                    "desc": "Zero or more side inputs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SideInputInfo"
                },
                {
                    "name": "multiOutputInfos",
                    "desc": "Information about each of the outputs, if user_fn is a  MultiDoFn.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MultiOutputInfo"
                },
                {
                    "name": "userFn",
                    "desc": "The user function to invoke.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "input",
                    "desc": "The input.",
                    "type": "ref",
                    "refType": "InstructionInput"
                },
                {
                    "name": "numOutputs",
                    "desc": "The number of outputs.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "WorkerHealthReportResponse",
            "desc": "WorkerHealthReportResponse contains information returned to the worker\nin response to a health ping.",
            "type": "object",
            "fields": [
                {
                    "name": "reportInterval",
                    "desc": "A positive value indicates the worker should change its reporting interval\nto the specified value.\n\nThe default value of zero means no change in report rate is requested by\nthe server.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SeqMapTask",
            "desc": "Describes a particular function to invoke.",
            "type": "object",
            "fields": [
                {
                    "name": "inputs",
                    "desc": "Information about each of the inputs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SideInputInfo"
                },
                {
                    "name": "stageName",
                    "desc": "System-defined name of the stage containing the SeqDo operation.\nUnique across the workflow.",
                    "type": "string"
                },
                {
                    "name": "systemName",
                    "desc": "System-defined name of the SeqDo operation.\nUnique across the workflow.",
                    "type": "string"
                },
                {
                    "name": "userFn",
                    "desc": "The user function to invoke.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "name",
                    "desc": "The user-provided name of the SeqDo operation.",
                    "type": "string"
                },
                {
                    "name": "outputInfos",
                    "desc": "Information about each of the outputs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SeqMapTaskOutputInfo"
                }
            ]
        },
        {
            "name": "DynamicSourceSplit",
            "desc": "When a task splits using WorkItemStatus.dynamic_source_split, this\nmessage describes the two parts of the split relative to the\ndescription of the current task's input.",
            "type": "object",
            "fields": [
                {
                    "name": "residual",
                    "desc": "Residual part (returned to the pool of work).\nSpecified relative to the previously-current source.",
                    "type": "ref",
                    "refType": "DerivedSource"
                },
                {
                    "name": "primary",
                    "desc": "Primary part (continued to be processed by worker).\nSpecified relative to the previously-current source.\nBecomes current.",
                    "type": "ref",
                    "refType": "DerivedSource"
                }
            ]
        },
        {
            "name": "WorkItemServiceState",
            "desc": "The Dataflow service's idea of the current state of a WorkItem\nbeing processed by a worker.",
            "type": "object",
            "fields": [
                {
                    "name": "suggestedStopPoint",
                    "desc": "DEPRECATED in favor of split_request.",
                    "type": "ref",
                    "refType": "ApproximateProgress"
                },
                {
                    "name": "splitRequest",
                    "desc": "The progress point in the WorkItem where the Dataflow service\nsuggests that the worker truncate the task.",
                    "type": "ref",
                    "refType": "ApproximateSplitRequest"
                },
                {
                    "name": "reportStatusInterval",
                    "desc": "New recommended reporting interval.",
                    "type": "string"
                },
                {
                    "name": "suggestedStopPosition",
                    "desc": "Obsolete, always empty.",
                    "type": "ref",
                    "refType": "Position"
                },
                {
                    "name": "harnessData",
                    "desc": "Other data returned by the service, specific to the particular\nworker harness.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "leaseExpireTime",
                    "desc": "Time at which the current lease will expire.",
                    "type": "datetime"
                },
                {
                    "name": "metricShortId",
                    "desc": "The short ids that workers should use in subsequent metric updates.\nWorkers should strive to use short ids whenever possible, but it is ok\nto request the short_id again if a worker lost track of it\n(e.g. if the worker is recovering from a crash).\nNOTE: it is possible that the response may have short ids for a subset\nof the metrics.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MetricShortId"
                },
                {
                    "name": "nextReportIndex",
                    "desc": "The index value to use for the next report sent by the worker.\nNote: If the report call fails for whatever reason, the worker should\nreuse this index for subsequent report attempts.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "MountedDataDisk",
            "desc": "Describes mounted data disk.",
            "type": "object",
            "fields": [
                {
                    "name": "dataDisk",
                    "desc": "The name of the data disk.\nThis name is local to the Google Cloud Platform project and uniquely\nidentifies the disk within that project, for example\n\"myproject-1014-104817-4c2-harness-0-disk-1\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SourceSplitOptions",
            "desc": "Hints for splitting a Source into bundles (parts for parallel\nprocessing) using SourceSplitRequest.",
            "type": "object",
            "fields": [
                {
                    "name": "desiredBundleSizeBytes",
                    "desc": "The source should be split into a set of bundles where the estimated size\nof each is approximately this many bytes.",
                    "type": "int64"
                },
                {
                    "name": "desiredShardSizeBytes",
                    "desc": "DEPRECATED in favor of desired_bundle_size_bytes.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "StreamingConfigTask",
            "desc": "A task that carries configuration information for streaming computations.",
            "type": "object",
            "fields": [
                {
                    "name": "userStepToStateFamilyNameMap",
                    "desc": "Map from user step names to state families.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "streamingComputationConfigs",
                    "desc": "Set of computation configuration information.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "StreamingComputationConfig"
                }
            ]
        },
        {
            "name": "MetricUpdate",
            "desc": "Describes the state of a metric.",
            "type": "object",
            "fields": [
                {
                    "name": "meanSum",
                    "desc": "Worker-computed aggregate value for the \"Mean\" aggregation kind.\nThis holds the sum of the aggregated values and is used in combination\nwith mean_count below to obtain the actual mean aggregate value.\nThe only possible value types are Long and Double.",
                    "type": "any"
                },
                {
                    "name": "name",
                    "desc": "Name of the metric.",
                    "type": "ref",
                    "refType": "MetricStructuredName"
                },
                {
                    "name": "cumulative",
                    "desc": "True if this metric is reported as the total cumulative aggregate\nvalue accumulated since the worker started working on this WorkItem.\nBy default this is false, indicating that this metric is reported\nas a delta that is not associated with any WorkItem.",
                    "type": "bool"
                },
                {
                    "name": "internal",
                    "desc": "Worker-computed aggregate value for internal use by the Dataflow\nservice.",
                    "type": "any"
                },
                {
                    "name": "kind",
                    "desc": "Metric aggregation kind.  The possible metric aggregation kinds are\n\"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", and \"Or\".\nThe specified aggregation kind is case-insensitive.\n\nIf omitted, this is not an aggregated value but instead\na single metric sample value.",
                    "type": "string"
                },
                {
                    "name": "scalar",
                    "desc": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\",\n\"And\", and \"Or\".  The possible value types are Long, Double, and Boolean.",
                    "type": "any"
                },
                {
                    "name": "meanCount",
                    "desc": "Worker-computed aggregate value for the \"Mean\" aggregation kind.\nThis holds the count of the aggregated values and is used in combination\nwith mean_sum above to obtain the actual mean aggregate value.\nThe only possible value type is Long.",
                    "type": "any"
                },
                {
                    "name": "updateTime",
                    "desc": "Timestamp associated with the metric value. Optional when workers are\nreporting work progress; it will be filled in responses from the\nmetrics API.",
                    "type": "datetime"
                },
                {
                    "name": "set",
                    "desc": "Worker-computed aggregate value for the \"Set\" aggregation kind.  The only\npossible value type is a list of Values whose type can be Long, Double,\nor String, according to the metric's type.  All Values in the list must\nbe of the same type.",
                    "type": "any"
                }
            ]
        },
        {
            "name": "ComputationTopology",
            "desc": "All configuration data for a particular Computation.",
            "type": "object",
            "fields": [
                {
                    "name": "computationId",
                    "desc": "The ID of the computation.",
                    "type": "string"
                },
                {
                    "name": "keyRanges",
                    "desc": "The key ranges processed by the computation.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "KeyRangeLocation"
                },
                {
                    "name": "userStageName",
                    "desc": "The user stage name.",
                    "type": "string"
                },
                {
                    "name": "stateFamilies",
                    "desc": "The state family values.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "StateFamilyConfig"
                },
                {
                    "name": "outputs",
                    "desc": "The outputs from the computation.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "StreamLocation"
                },
                {
                    "name": "systemStageName",
                    "desc": "The system stage name.",
                    "type": "string"
                },
                {
                    "name": "inputs",
                    "desc": "The inputs to the computation.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "StreamLocation"
                }
            ]
        },
        {
            "name": "GetDebugConfigResponse",
            "desc": "Response to a get debug configuration request.",
            "type": "object",
            "fields": [
                {
                    "name": "config",
                    "desc": "The encoded debug configuration for the requested component.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Status",
            "desc": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "type": "object",
            "fields": [
                {
                    "name": "message",
                    "desc": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                },
                {
                    "name": "details",
                    "desc": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                },
                {
                    "name": "code",
                    "desc": "The status code, which should be an enum value of google.rpc.Code.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "JobExecutionInfo",
            "desc": "Additional information about how a Cloud Dataflow job will be executed that\nisn't contained in the submitted job.",
            "type": "object",
            "fields": [
                {
                    "name": "stages",
                    "desc": "A mapping from each stage to the information about that stage.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "JobExecutionStageInfo"
                }
            ]
        },
        {
            "name": "SourceSplitResponse",
            "desc": "The response to a SourceSplitRequest.",
            "type": "object",
            "fields": [
                {
                    "name": "outcome",
                    "desc": "Indicates whether splitting happened and produced a list of bundles.\nIf this is USE_CURRENT_SOURCE_AS_IS, the current source should\nbe processed \"as is\" without splitting. \"bundles\" is ignored in this case.\nIf this is SPLITTING_HAPPENED, then \"bundles\" contains a list of\nbundles into which the source was split.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SOURCE_SPLIT_OUTCOME_UNKNOWN",
                            "desc": "The source split outcome is unknown, or unspecified."
                        },
                        {
                            "name": "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
                            "desc": "The current source should be processed \"as is\" without splitting."
                        },
                        {
                            "name": "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED",
                            "desc": "Splitting produced a list of bundles."
                        }
                    ]
                },
                {
                    "name": "bundles",
                    "desc": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles\ninto which the source was split. Otherwise this field is ignored.\nThis list can be empty, which means the source represents an empty input.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DerivedSource"
                },
                {
                    "name": "shards",
                    "desc": "DEPRECATED in favor of bundles.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SourceSplitShard"
                }
            ]
        },
        {
            "name": "ApproximateProgress",
            "desc": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
            "type": "object",
            "fields": [
                {
                    "name": "percentComplete",
                    "desc": "Obsolete.",
                    "type": "float32"
                },
                {
                    "name": "remainingTime",
                    "desc": "Obsolete.",
                    "type": "string"
                },
                {
                    "name": "position",
                    "desc": "Obsolete.",
                    "type": "ref",
                    "refType": "Position"
                }
            ]
        },
        {
            "name": "NameAndKind",
            "desc": "Basic metadata about a counter.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Name of the counter.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Counter aggregation kind.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "INVALID",
                            "desc": "Counter aggregation kind was not set."
                        },
                        {
                            "name": "SUM",
                            "desc": "Aggregated value is the sum of all contributed values."
                        },
                        {
                            "name": "MAX",
                            "desc": "Aggregated value is the max of all contributed values."
                        },
                        {
                            "name": "MIN",
                            "desc": "Aggregated value is the min of all contributed values."
                        },
                        {
                            "name": "MEAN",
                            "desc": "Aggregated value is the mean of all contributed values."
                        },
                        {
                            "name": "OR",
                            "desc": "Aggregated value represents the logical 'or' of all contributed values."
                        },
                        {
                            "name": "AND",
                            "desc": "Aggregated value represents the logical 'and' of all contributed values."
                        },
                        {
                            "name": "SET",
                            "desc": "Aggregated value is a set of unique contributed values."
                        },
                        {
                            "name": "DISTRIBUTION",
                            "desc": "Aggregated value captures statistics about a distribution."
                        }
                    ]
                }
            ]
        },
        {
            "name": "Environment",
            "desc": "Describes the environment in which a Dataflow Job runs.",
            "type": "object",
            "fields": [
                {
                    "name": "internalExperiments",
                    "desc": "Experimental settings.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "version",
                    "desc": "A structure describing which components and their versions of the service\nare required in order to run the job.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "sdkPipelineOptions",
                    "desc": "The Cloud Dataflow SDK pipeline options specified by the user. These\noptions are passed through the service and are used to recreate the\nSDK pipeline options on the worker in a language agnostic and platform\nindependent way.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "workerPools",
                    "desc": "The worker pools. At least one \"harness\" worker pool must be\nspecified in order for the job to have workers.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "WorkerPool"
                },
                {
                    "name": "dataset",
                    "desc": "The dataset for the current project where various workflow\nrelated tables are stored.\n\nThe supported resource type is:\n\nGoogle BigQuery:\n  bigquery.googleapis.com/{dataset}",
                    "type": "string"
                },
                {
                    "name": "experiments",
                    "desc": "The list of experiments to enable.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "userAgent",
                    "desc": "A description of the process that generated the request.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "clusterManagerApiService",
                    "desc": "The type of cluster manager API to use.  If unknown or\nunspecified, the service will attempt to choose a reasonable\ndefault.  This should be in the form of the API service name,\ne.g. \"compute.googleapis.com\".",
                    "type": "string"
                },
                {
                    "name": "tempStoragePrefix",
                    "desc": "The prefix of the resources the system should use for temporary\nstorage.  The system will append the suffix \"/temp-{JOBNAME} to\nthis resource prefix, where {JOBNAME} is the value of the\njob_name field.  The resulting bucket and object prefix is used\nas the prefix of the resources used to store temporary data\nneeded during the job execution.  NOTE: This will override the\nvalue in taskrunner_settings.\nThe supported resource type is:\n\nGoogle Cloud Storage:\n\n  storage.googleapis.com/{bucket}/{object}\n  bucket.storage.googleapis.com/{object}",
                    "type": "string"
                },
                {
                    "name": "serviceAccountEmail",
                    "desc": "Identity to run virtual machines as. Defaults to the default account.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SourceSplitRequest",
            "desc": "Represents the operation to split a high-level Source specification\ninto bundles (parts for parallel processing).\n\nAt a high level, splitting of a source into bundles happens as follows:\nSourceSplitRequest is applied to the source. If it returns\nSOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source\nis used \"as is\". Otherwise, splitting is applied recursively to each\nproduced DerivedSource.\n\nAs an optimization, for any Source, if its does_not_need_splitting is\ntrue, the framework assumes that splitting this source would return\nSOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest.\nThis applies both to the initial source being split and to bundles\nproduced from it.",
            "type": "object",
            "fields": [
                {
                    "name": "options",
                    "desc": "Hints for tuning the splitting process.",
                    "type": "ref",
                    "refType": "SourceSplitOptions"
                },
                {
                    "name": "source",
                    "desc": "Specification of the source to be split.",
                    "type": "ref",
                    "refType": "Source"
                }
            ]
        },
        {
            "name": "StreamLocation",
            "desc": "Describes a stream of data, either as input to be processed or as\noutput of a streaming Dataflow job.",
            "type": "object",
            "fields": [
                {
                    "name": "pubsubLocation",
                    "desc": "The stream is a pubsub stream.",
                    "type": "ref",
                    "refType": "PubsubLocation"
                },
                {
                    "name": "sideInputLocation",
                    "desc": "The stream is a streaming side input.",
                    "type": "ref",
                    "refType": "StreamingSideInputLocation"
                },
                {
                    "name": "customSourceLocation",
                    "desc": "The stream is a custom source.",
                    "type": "ref",
                    "refType": "CustomSourceLocation"
                },
                {
                    "name": "streamingStageLocation",
                    "desc": "The stream is part of another computation within the current\nstreaming Dataflow job.",
                    "type": "ref",
                    "refType": "StreamingStageLocation"
                }
            ]
        },
        {
            "name": "ReportWorkItemStatusRequest",
            "desc": "Request to report the status of WorkItems.",
            "type": "object",
            "fields": [
                {
                    "name": "workItemStatuses",
                    "desc": "The order is unimportant, except that the order of the\nWorkItemServiceState messages in the ReportWorkItemStatusResponse\ncorresponds to the order of WorkItemStatus messages here.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "WorkItemStatus"
                },
                {
                    "name": "workerId",
                    "desc": "The ID of the worker reporting the WorkItem status.  If this\ndoes not match the ID of the worker which the Dataflow service\nbelieves currently has the lease on the WorkItem, the report\nwill be dropped (with an error response).",
                    "type": "string"
                },
                {
                    "name": "currentWorkerTime",
                    "desc": "The current timestamp at the worker.",
                    "type": "datetime"
                },
                {
                    "name": "location",
                    "desc": "The location which contains the WorkItem's job.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MetricShortId",
            "desc": "The metric short id is returned to the user alongside an offset into\nReportWorkItemStatusRequest",
            "type": "object",
            "fields": [
                {
                    "name": "metricIndex",
                    "desc": "The index of the corresponding metric in\nthe ReportWorkItemStatusRequest. Required.",
                    "type": "int32"
                },
                {
                    "name": "shortId",
                    "desc": "The service-generated short identifier for the metric.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "StageSource",
            "desc": "Description of an input or output of an execution stage.",
            "type": "object",
            "fields": [
                {
                    "name": "originalTransformOrCollection",
                    "desc": "User name for the original user transform or collection with which this\nsource is most closely associated.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Dataflow service generated name for this source.",
                    "type": "string"
                },
                {
                    "name": "sizeBytes",
                    "desc": "Size of the source, if measurable.",
                    "type": "int64"
                },
                {
                    "name": "userName",
                    "desc": "Human-readable name for this source; may be user or system generated.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PipelineDescription",
            "desc": "A descriptive representation of submitted pipeline as well as the executed\nform.  This data is provided by the Dataflow service for ease of visualizing\nthe pipeline and interpretting Dataflow provided metrics.",
            "type": "object",
            "fields": [
                {
                    "name": "executionPipelineStage",
                    "desc": "Description of each stage of execution of the pipeline.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ExecutionStageSummary"
                },
                {
                    "name": "originalPipelineTransform",
                    "desc": "Description of each transform in the pipeline and collections between them.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TransformSummary"
                },
                {
                    "name": "displayData",
                    "desc": "Pipeline level display data.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DisplayData"
                }
            ]
        },
        {
            "name": "CounterMetadata",
            "desc": "CounterMetadata includes all static non-name non-value counter attributes.",
            "type": "object",
            "fields": [
                {
                    "name": "standardUnits",
                    "desc": "System defined Units, see above enum.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "BYTES",
                            "desc": "Counter returns a value in bytes."
                        },
                        {
                            "name": "BYTES_PER_SEC",
                            "desc": "Counter returns a value in bytes per second."
                        },
                        {
                            "name": "MILLISECONDS",
                            "desc": "Counter returns a value in milliseconds."
                        },
                        {
                            "name": "MICROSECONDS",
                            "desc": "Counter returns a value in microseconds."
                        },
                        {
                            "name": "NANOSECONDS",
                            "desc": "Counter returns a value in nanoseconds."
                        },
                        {
                            "name": "TIMESTAMP_MSEC",
                            "desc": "Counter returns a timestamp in milliseconds."
                        },
                        {
                            "name": "TIMESTAMP_USEC",
                            "desc": "Counter returns a timestamp in microseconds."
                        },
                        {
                            "name": "TIMESTAMP_NSEC",
                            "desc": "Counter returns a timestamp in nanoseconds."
                        }
                    ]
                },
                {
                    "name": "otherUnits",
                    "desc": "A string referring to the unit type.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Counter aggregation kind.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "INVALID",
                            "desc": "Counter aggregation kind was not set."
                        },
                        {
                            "name": "SUM",
                            "desc": "Aggregated value is the sum of all contributed values."
                        },
                        {
                            "name": "MAX",
                            "desc": "Aggregated value is the max of all contributed values."
                        },
                        {
                            "name": "MIN",
                            "desc": "Aggregated value is the min of all contributed values."
                        },
                        {
                            "name": "MEAN",
                            "desc": "Aggregated value is the mean of all contributed values."
                        },
                        {
                            "name": "OR",
                            "desc": "Aggregated value represents the logical 'or' of all contributed values."
                        },
                        {
                            "name": "AND",
                            "desc": "Aggregated value represents the logical 'and' of all contributed values."
                        },
                        {
                            "name": "SET",
                            "desc": "Aggregated value is a set of unique contributed values."
                        },
                        {
                            "name": "DISTRIBUTION",
                            "desc": "Aggregated value captures statistics about a distribution."
                        }
                    ]
                },
                {
                    "name": "description",
                    "desc": "Human-readable description of the counter semantics.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SourceOperationResponse",
            "desc": "The result of a SourceOperationRequest, specified in\nReportWorkItemStatusRequest.source_operation when the work item\nis completed.",
            "type": "object",
            "fields": [
                {
                    "name": "split",
                    "desc": "A response to a request to split a source.",
                    "type": "ref",
                    "refType": "SourceSplitResponse"
                },
                {
                    "name": "getMetadata",
                    "desc": "A response to a request to get metadata about a source.",
                    "type": "ref",
                    "refType": "SourceGetMetadataResponse"
                }
            ]
        },
        {
            "name": "Source",
            "desc": "A source that records can be read and decoded from.",
            "type": "object",
            "fields": [
                {
                    "name": "doesNotNeedSplitting",
                    "desc": "Setting this value to true hints to the framework that the source\ndoesn't need splitting, and using SourceSplitRequest on it would\nyield SOURCE_SPLIT_OUTCOME_USE_CURRENT.\n\nE.g. a file splitter may set this to true when splitting a single file\ninto a set of byte ranges of appropriate size, and set this\nto false when splitting a filepattern into individual files.\nHowever, for efficiency, a file splitter may decide to produce\nfile subranges directly from the filepattern to avoid a splitting\nround-trip.\n\nSee SourceSplitRequest for an overview of the splitting process.\n\nThis field is meaningful only in the Source objects populated\nby the user (e.g. when filling in a DerivedSource).\nSource objects supplied by the framework to the user don't have\nthis field populated.",
                    "type": "bool"
                },
                {
                    "name": "spec",
                    "desc": "The source to read from, plus its parameters.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "metadata",
                    "desc": "Optionally, metadata for this source can be supplied right away,\navoiding a SourceGetMetadataOperation roundtrip\n(see SourceOperationRequest).\n\nThis field is meaningful only in the Source objects populated\nby the user (e.g. when filling in a DerivedSource).\nSource objects supplied by the framework to the user don't have\nthis field populated.",
                    "type": "ref",
                    "refType": "SourceMetadata"
                },
                {
                    "name": "baseSpecs",
                    "desc": "While splitting, sources may specify the produced bundles\nas differences against another source, in order to save backend-side\nmemory and allow bigger jobs. For details, see SourceSplitRequest.\nTo support this use case, the full set of parameters of the source\nis logically obtained by taking the latest explicitly specified value\nof each parameter in the order:\nbase_specs (later items win), spec (overrides anything in base_specs).",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                },
                {
                    "name": "codec",
                    "desc": "The codec to use to decode data read from the source.",
                    "collection": "map",
                    "type": "any"
                }
            ]
        },
        {
            "name": "MetricStructuredName",
            "desc": "Identifies a metric, by describing the source which generated the\nmetric.",
            "type": "object",
            "fields": [
                {
                    "name": "context",
                    "desc": "Zero or more labeled fields which identify the part of the job this\nmetric is associated with, such as the name of a step or collection.\n\nFor example, built-in counters associated with steps will have\ncontext['step'] = \u003cstep-name\u003e. Counters associated with PCollections\nin the SDK will have context['pcollection'] = \u003cpcollection-name\u003e.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "origin",
                    "desc": "Origin (namespace) of metric name. May be blank for user-define metrics;\nwill be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Worker-defined metric name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "IntegerMean",
            "desc": "A representation of an integer mean metric contribution.",
            "type": "object",
            "fields": [
                {
                    "name": "sum",
                    "desc": "The sum of all values being aggregated.",
                    "type": "ref",
                    "refType": "SplitInt64"
                },
                {
                    "name": "count",
                    "desc": "The number of values being aggregated.",
                    "type": "ref",
                    "refType": "SplitInt64"
                }
            ]
        },
        {
            "name": "WorkerHealthReport",
            "desc": "WorkerHealthReport contains information about the health of a worker.\n\nThe VM should be identified by the labels attached to the WorkerMessage that\nthis health ping belongs to.",
            "type": "object",
            "fields": [
                {
                    "name": "vmIsHealthy",
                    "desc": "Whether the VM is healthy.",
                    "type": "bool"
                },
                {
                    "name": "reportInterval",
                    "desc": "The interval at which the worker is sending health reports.\nThe default value of 0 should be interpreted as the field is not being\nexplicitly set by the worker.",
                    "type": "string"
                },
                {
                    "name": "pods",
                    "desc": "The pods running on the worker. See:\nhttp://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod\n\nThis field is used by the worker to send the status of the indvidual\ncontainers running on each worker.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                },
                {
                    "name": "vmStartupTime",
                    "desc": "The time the VM was booted.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "ParallelInstruction",
            "desc": "Describes a particular operation comprising a MapTask.",
            "type": "object",
            "fields": [
                {
                    "name": "write",
                    "desc": "Additional information for Write instructions.",
                    "type": "ref",
                    "refType": "WriteInstruction"
                },
                {
                    "name": "partialGroupByKey",
                    "desc": "Additional information for PartialGroupByKey instructions.",
                    "type": "ref",
                    "refType": "PartialGroupByKeyInstruction"
                },
                {
                    "name": "read",
                    "desc": "Additional information for Read instructions.",
                    "type": "ref",
                    "refType": "ReadInstruction"
                },
                {
                    "name": "flatten",
                    "desc": "Additional information for Flatten instructions.",
                    "type": "ref",
                    "refType": "FlattenInstruction"
                },
                {
                    "name": "systemName",
                    "desc": "System-defined name of this operation.\nUnique across the workflow.",
                    "type": "string"
                },
                {
                    "name": "outputs",
                    "desc": "Describes the outputs of the instruction.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InstructionOutput"
                },
                {
                    "name": "name",
                    "desc": "User-provided name of this operation.",
                    "type": "string"
                },
                {
                    "name": "parDo",
                    "desc": "Additional information for ParDo instructions.",
                    "type": "ref",
                    "refType": "ParDoInstruction"
                },
                {
                    "name": "originalName",
                    "desc": "System-defined name for the operation in the original workflow graph.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CounterUpdate",
            "desc": "An update to a Counter sent from a worker.",
            "type": "object",
            "fields": [
                {
                    "name": "internal",
                    "desc": "Value for internally-defined counters used by the Dataflow service.",
                    "type": "any"
                },
                {
                    "name": "floatingPointMean",
                    "desc": "Floating point mean aggregation value for Mean.",
                    "type": "ref",
                    "refType": "FloatingPointMean"
                },
                {
                    "name": "nameAndKind",
                    "desc": "Counter name and aggregation type.",
                    "type": "ref",
                    "refType": "NameAndKind"
                },
                {
                    "name": "structuredNameAndMetadata",
                    "desc": "Counter structured name and metadata.",
                    "type": "ref",
                    "refType": "CounterStructuredNameAndMetadata"
                },
                {
                    "name": "integerMean",
                    "desc": "Integer mean aggregation value for Mean.",
                    "type": "ref",
                    "refType": "IntegerMean"
                },
                {
                    "name": "boolean",
                    "desc": "Boolean value for And, Or.",
                    "type": "bool"
                },
                {
                    "name": "distribution",
                    "desc": "Distribution data",
                    "type": "ref",
                    "refType": "DistributionUpdate"
                },
                {
                    "name": "integerList",
                    "desc": "List of integers, for Set.",
                    "type": "ref",
                    "refType": "IntegerList"
                },
                {
                    "name": "stringList",
                    "desc": "List of strings, for Set.",
                    "type": "ref",
                    "refType": "StringList"
                },
                {
                    "name": "integer",
                    "desc": "Integer value for Sum, Max, Min.",
                    "type": "ref",
                    "refType": "SplitInt64"
                },
                {
                    "name": "floatingPoint",
                    "desc": "Floating point value for Sum, Max, Min.",
                    "type": "float64"
                },
                {
                    "name": "cumulative",
                    "desc": "True if this counter is reported as the total cumulative aggregate\nvalue accumulated since the worker started working on this WorkItem.\nBy default this is false, indicating that this counter is reported\nas a delta.",
                    "type": "bool"
                },
                {
                    "name": "shortId",
                    "desc": "The service-generated short identifier for this counter.\nThe short_id -\u003e (name, metadata) mapping is constant for the lifetime of\na job.",
                    "type": "int64"
                },
                {
                    "name": "floatingPointList",
                    "desc": "List of floating point numbers, for Set.",
                    "type": "ref",
                    "refType": "FloatingPointList"
                }
            ]
        },
        {
            "name": "IntegerList",
            "desc": "A metric value representing a list of integers.",
            "type": "object",
            "fields": [
                {
                    "name": "elements",
                    "desc": "Elements of the list.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SplitInt64"
                }
            ]
        },
        {
            "name": "SourceMetadata",
            "desc": "Metadata about a Source useful for automatically optimizing\nand tuning the pipeline, etc.",
            "type": "object",
            "fields": [
                {
                    "name": "estimatedSizeBytes",
                    "desc": "An estimate of the total size (in bytes) of the data that would be\nread from this source.  This estimate is in terms of external storage\nsize, before any decompression or other processing done by the reader.",
                    "type": "int64"
                },
                {
                    "name": "producesSortedKeys",
                    "desc": "Whether this source is known to produce key/value pairs with\nthe (encoded) keys in lexicographically sorted order.",
                    "type": "bool"
                },
                {
                    "name": "infinite",
                    "desc": "Specifies that the size of this source is known to be infinite\n(this is a streaming source).",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "WorkItemStatus",
            "desc": "Conveys a worker's progress through the work described by a WorkItem.",
            "type": "object",
            "fields": [
                {
                    "name": "completed",
                    "desc": "True if the WorkItem was completed (successfully or unsuccessfully).",
                    "type": "bool"
                },
                {
                    "name": "counterUpdates",
                    "desc": "Worker output counters for this WorkItem.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CounterUpdate"
                },
                {
                    "name": "workItemId",
                    "desc": "Identifies the WorkItem.",
                    "type": "string"
                },
                {
                    "name": "metricUpdates",
                    "desc": "DEPRECATED in favor of counter_updates.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MetricUpdate"
                },
                {
                    "name": "dynamicSourceSplit",
                    "desc": "See documentation of stop_position.",
                    "type": "ref",
                    "refType": "DynamicSourceSplit"
                },
                {
                    "name": "progress",
                    "desc": "DEPRECATED in favor of reported_progress.",
                    "type": "ref",
                    "refType": "ApproximateProgress"
                },
                {
                    "name": "reportedProgress",
                    "desc": "The worker's progress through this WorkItem.",
                    "type": "ref",
                    "refType": "ApproximateReportedProgress"
                },
                {
                    "name": "sourceFork",
                    "desc": "DEPRECATED in favor of dynamic_source_split.",
                    "type": "ref",
                    "refType": "SourceFork"
                },
                {
                    "name": "errors",
                    "desc": "Specifies errors which occurred during processing.  If errors are\nprovided, and completed = true, then the WorkItem is considered\nto have failed.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Status"
                },
                {
                    "name": "sourceOperationResponse",
                    "desc": "If the work item represented a SourceOperationRequest, and the work\nis completed, contains the result of the operation.",
                    "type": "ref",
                    "refType": "SourceOperationResponse"
                },
                {
                    "name": "requestedLeaseDuration",
                    "desc": "Amount of time the worker requests for its lease.",
                    "type": "string"
                },
                {
                    "name": "reportIndex",
                    "desc": "The report index.  When a WorkItem is leased, the lease will\ncontain an initial report index.  When a WorkItem's status is\nreported to the system, the report should be sent with\nthat report index, and the response will contain the index the\nworker should use for the next report.  Reports received with\nunexpected index values will be rejected by the service.\n\nIn order to preserve idempotency, the worker should not alter the\ncontents of a report, even if the worker must submit the same\nreport multiple times before getting back a response.  The worker\nshould not submit a subsequent report until the response for the\nprevious report had been received from the service.",
                    "type": "int64"
                },
                {
                    "name": "stopPosition",
                    "desc": "A worker may split an active map task in two parts, \"primary\" and\n\"residual\", continuing to process the primary part and returning the\nresidual part into the pool of available work.\nThis event is called a \"dynamic split\" and is critical to the dynamic\nwork rebalancing feature. The two obtained sub-tasks are called\n\"parts\" of the split.\nThe parts, if concatenated, must represent the same input as would\nbe read by the current task if the split did not happen.\nThe exact way in which the original task is decomposed into the two\nparts is specified either as a position demarcating them\n(stop_position), or explicitly as two DerivedSources, if this\ntask consumes a user-defined source type (dynamic_source_split).\n\nThe \"current\" task is adjusted as a result of the split: after a task\nwith range [A, B) sends a stop_position update at C, its range is\nconsidered to be [A, C), e.g.:\n* Progress should be interpreted relative to the new range, e.g.\n  \"75% completed\" means \"75% of [A, C) completed\"\n* The worker should interpret proposed_stop_position relative to the\n  new range, e.g. \"split at 68%\" should be interpreted as\n  \"split at 68% of [A, C)\".\n* If the worker chooses to split again using stop_position, only\n  stop_positions in [A, C) will be accepted.\n* Etc.\ndynamic_source_split has similar semantics: e.g., if a task with\nsource S splits using dynamic_source_split into {P, R}\n(where P and R must be together equivalent to S), then subsequent\nprogress and proposed_stop_position should be interpreted relative\nto P, and in a potential subsequent dynamic_source_split into {P', R'},\nP' and R' must be together equivalent to P, etc.",
                    "type": "ref",
                    "refType": "Position"
                }
            ]
        },
        {
            "name": "SourceGetMetadataRequest",
            "desc": "A request to compute the SourceMetadata of a Source.",
            "type": "object",
            "fields": [
                {
                    "name": "source",
                    "desc": "Specification of the source whose metadata should be computed.",
                    "type": "ref",
                    "refType": "Source"
                }
            ]
        },
        {
            "name": "CounterStructuredNameAndMetadata",
            "desc": "A single message which encapsulates structured name and metadata for a given\ncounter.",
            "type": "object",
            "fields": [
                {
                    "name": "metadata",
                    "desc": "Metadata associated with a counter",
                    "type": "ref",
                    "refType": "CounterMetadata"
                },
                {
                    "name": "name",
                    "desc": "Structured name of the counter.",
                    "type": "ref",
                    "refType": "CounterStructuredName"
                }
            ]
[...]
