{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "sheets:v4",
    "name": "sheets",
    "version": "v4",
    "title": "Google Sheets API",
    "description": "Reads and writes Google Sheets.",
    "documentationLink": "https://developers.google.com/sheets/",
    "protocol": "rest",
    "rootUrl": "https://sheets.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/spreadsheets"
        ]
    },
    "parameters": [
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "FilterCriteria",
            "desc": "Criteria for showing/hiding rows in a filter or filter view.",
            "type": "object",
            "fields": [
                {
                    "name": "hiddenValues",
                    "desc": "Values that should be hidden.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "condition",
                    "desc": "A condition that must be true for values to be shown.\n(This does not override hiddenValues -- if a value is listed there,\n it will still be hidden.)",
                    "type": "ref",
                    "refType": "BooleanCondition"
                }
            ]
        },
        {
            "name": "PivotGroupValueMetadata",
            "desc": "Metadata about a value in a pivot grouping.",
            "type": "object",
            "fields": [
                {
                    "name": "collapsed",
                    "desc": "True if the data corresponding to the value is collapsed.",
                    "type": "bool"
                },
                {
                    "name": "value",
                    "desc": "The calculated value the metadata corresponds to.\n(Note that formulaValue is not valid,\n because the values will be calculated.)",
                    "type": "ref",
                    "refType": "ExtendedValue"
                }
            ]
        },
        {
            "name": "UpdateChartSpecRequest",
            "desc": "Updates a chart's specifications.\n(This does not move or resize a chart. To move or resize a chart, use\n UpdateEmbeddedObjectPositionRequest.)",
            "type": "object",
            "fields": [
                {
                    "name": "spec",
                    "desc": "The specification to apply to the chart.",
                    "type": "ref",
                    "refType": "ChartSpec"
                },
                {
                    "name": "chartId",
                    "desc": "The ID of the chart to update.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "NumberFormat",
            "desc": "The number format of a cell.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "The type of the number format.\nWhen writing, this field must be set.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NUMBER_FORMAT_TYPE_UNSPECIFIED",
                            "desc": "The number format is not specified\nand is based on the contents of the cell.\nDo not explicitly use this."
                        },
                        {
                            "name": "TEXT",
                            "desc": "Text formatting, e.g `1000.12`"
                        },
                        {
                            "name": "NUMBER",
                            "desc": "Number formatting, e.g, `1,000.12`"
                        },
                        {
                            "name": "PERCENT",
                            "desc": "Percent formatting, e.g `10.12%`"
                        },
                        {
                            "name": "CURRENCY",
                            "desc": "Currency formatting, e.g `$1,000.12`"
                        },
                        {
                            "name": "DATE",
                            "desc": "Date formatting, e.g `9/26/2008`"
                        },
                        {
                            "name": "TIME",
                            "desc": "Time formatting, e.g `3:59:00 PM`"
                        },
                        {
                            "name": "DATE_TIME",
                            "desc": "Date+Time formatting, e.g `9/26/08 15:59:00`"
                        },
                        {
                            "name": "SCIENTIFIC",
                            "desc": "Scientific number formatting, e.g `1.01E+03`"
                        }
                    ]
                },
                {
                    "name": "pattern",
                    "desc": "Pattern string used for formatting.  If not set, a default pattern based on\nthe user's locale will be used if necessary for the given type.\nSee the [Date and Number Formats guide](/sheets/api/guides/formats) for more\ninformation about the supported patterns.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FilterView",
            "desc": "A filter view.",
            "type": "object",
            "fields": [
                {
                    "name": "sortSpecs",
                    "desc": "The sort order per column. Later specifications are used when values\nare equal in the earlier specifications.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SortSpec"
                },
                {
                    "name": "namedRangeId",
                    "desc": "The named range this filter view is backed by, if any.\n\nWhen writing, only one of range or named_range_id\nmay be set.",
                    "type": "string"
                },
                {
                    "name": "filterViewId",
                    "desc": "The ID of the filter view.",
                    "type": "int32"
                },
                {
                    "name": "criteria",
                    "desc": "The criteria for showing/hiding values per column.\nThe map's key is the column index, and the value is the criteria for\nthat column.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "FilterCriteria"
                },
                {
                    "name": "title",
                    "desc": "The name of the filter view.",
                    "type": "string"
                },
                {
                    "name": "range",
                    "desc": "The range this filter view covers.\n\nWhen writing, only one of range or named_range_id\nmay be set.",
                    "type": "ref",
                    "refType": "GridRange"
                }
            ]
        },
        {
            "name": "SortSpec",
            "desc": "A sort order associated with a specific column or row.",
            "type": "object",
            "fields": [
                {
                    "name": "sortOrder",
                    "desc": "The order data should be sorted.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SORT_ORDER_UNSPECIFIED",
                            "desc": "Default value, do not use this."
                        },
                        {
                            "name": "ASCENDING",
                            "desc": "Sort ascending."
                        },
                        {
                            "name": "DESCENDING",
                            "desc": "Sort descending."
                        }
                    ]
                },
                {
                    "name": "dimensionIndex",
                    "desc": "The dimension the sort should be applied to.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "FindReplaceResponse",
            "desc": "The result of the find/replace.",
            "type": "object",
            "fields": [
                {
                    "name": "formulasChanged",
                    "desc": "The number of formula cells changed.",
                    "type": "int32"
                },
                {
                    "name": "valuesChanged",
                    "desc": "The number of non-formula cells changed.",
                    "type": "int32"
                },
                {
                    "name": "occurrencesChanged",
                    "desc": "The number of occurrences (possibly multiple within a cell) changed.\nFor example, if replacing `\"e\"` with `\"o\"` in `\"Google Sheets\"`, this would\nbe `\"3\"` because `\"Google Sheets\"` -\u003e `\"Googlo Shoots\"`.",
                    "type": "int32"
                },
                {
                    "name": "rowsChanged",
                    "desc": "The number of rows changed.",
                    "type": "int32"
                },
                {
                    "name": "sheetsChanged",
                    "desc": "The number of sheets changed.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ConditionValue",
            "desc": "The value of the condition.",
            "type": "object",
            "fields": [
                {
                    "name": "relativeDate",
                    "desc": "A relative date (based on the current date).\nValid only if the type is\nDATE_BEFORE,\nDATE_AFTER,\nDATE_ON_OR_BEFORE or\nDATE_ON_OR_AFTER.\n\nRelative dates are not supported in data validation.\nThey are supported only in conditional formatting and\nconditional filters.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "RELATIVE_DATE_UNSPECIFIED",
                            "desc": "Default value, do not use."
                        },
                        {
                            "name": "PAST_YEAR",
                            "desc": "The value is one year before today."
                        },
                        {
                            "name": "PAST_MONTH",
                            "desc": "The value is one month before today."
                        },
                        {
                            "name": "PAST_WEEK",
                            "desc": "The value is one week before today."
                        },
                        {
                            "name": "YESTERDAY",
                            "desc": "The value is yesterday."
                        },
                        {
                            "name": "TODAY",
                            "desc": "The value is today."
                        },
                        {
                            "name": "TOMORROW",
                            "desc": "The value is tomorrow."
                        }
                    ]
                },
                {
                    "name": "userEnteredValue",
                    "desc": "A value the condition is based on.\nThe value will be parsed as if the user typed into a cell.\nFormulas are supported (and must begin with an `=`).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BatchGetValuesResponse",
            "desc": "The response when retrieving more than one range of values in a spreadsheet.",
            "type": "object",
            "fields": [
                {
                    "name": "spreadsheetId",
                    "desc": "The ID of the spreadsheet the data was retrieved from.",
                    "type": "string"
                },
                {
                    "name": "valueRanges",
                    "desc": "The requested values. The order of the ValueRanges is the same as the\norder of the requested ranges.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ValueRange"
                }
            ]
        },
        {
            "name": "Color",
            "desc": "Represents a color in the RGBA color space. This representation is designed\nfor simplicity of conversion to/from color representations in various\nlanguages over compactness; for example, the fields of this representation\ncan be trivially provided to the constructor of \"java.awt.Color\" in Java; it\ncan also be trivially provided to UIColor's \"+colorWithRed:green:blue:alpha\"\nmethod in iOS; and, with just a little work, it can be easily formatted into\na CSS \"rgba()\" string in JavaScript, as well. Here are some examples:\n\nExample (Java):\n\n     import com.google.type.Color;\n\n     // ...\n     public static java.awt.Color fromProto(Color protocolor) {\n       float alpha = protocolor.hasAlpha()\n           ? protocolor.getAlpha().getValue()\n           : 1.0;\n\n       return new java.awt.Color(\n           protocolor.getRed(),\n           protocolor.getGreen(),\n           protocolor.getBlue(),\n           alpha);\n     }\n\n     public static Color toProto(java.awt.Color color) {\n       float red = (float) color.getRed();\n       float green = (float) color.getGreen();\n       float blue = (float) color.getBlue();\n       float denominator = 255.0;\n       Color.Builder resultBuilder =\n           Color\n               .newBuilder()\n               .setRed(red / denominator)\n               .setGreen(green / denominator)\n               .setBlue(blue / denominator);\n       int alpha = color.getAlpha();\n       if (alpha != 255) {\n         result.setAlpha(\n             FloatValue\n                 .newBuilder()\n                 .setValue(((float) alpha) / denominator)\n                 .build());\n       }\n       return resultBuilder.build();\n     }\n     // ...\n\nExample (iOS / Obj-C):\n\n     // ...\n     static UIColor* fromProto(Color* protocolor) {\n        float red = [protocolor red];\n        float green = [protocolor green];\n        float blue = [protocolor blue];\n        FloatValue* alpha_wrapper = [protocolor alpha];\n        float alpha = 1.0;\n        if (alpha_wrapper != nil) {\n          alpha = [alpha_wrapper value];\n        }\n        return [UIColor colorWithRed:red green:green blue:blue alpha:alpha];\n     }\n\n     static Color* toProto(UIColor* color) {\n         CGFloat red, green, blue, alpha;\n         if (![color getRed:\u0026red green:\u0026green blue:\u0026blue alpha:\u0026alpha]) {\n           return nil;\n         }\n         Color* result = [Color alloc] init];\n         [result setRed:red];\n         [result setGreen:green];\n         [result setBlue:blue];\n         if (alpha \u003c= 0.9999) {\n           [result setAlpha:floatWrapperWithValue(alpha)];\n         }\n         [result autorelease];\n         return result;\n    }\n    // ...\n\n Example (JavaScript):\n\n    // ...\n\n    var protoToCssColor = function(rgb_color) {\n       var redFrac = rgb_color.red || 0.0;\n       var greenFrac = rgb_color.green || 0.0;\n       var blueFrac = rgb_color.blue || 0.0;\n       var red = Math.floor(redFrac * 255);\n       var green = Math.floor(greenFrac * 255);\n       var blue = Math.floor(blueFrac * 255);\n\n       if (!('alpha' in rgb_color)) {\n          return rgbToCssColor_(red, green, blue);\n       }\n\n       var alphaFrac = rgb_color.alpha.value || 0.0;\n       var rgbParams = [red, green, blue].join(',');\n       return ['rgba(', rgbParams, ',', alphaFrac, ')'].join('');\n    };\n\n    var rgbToCssColor_ = function(red, green, blue) {\n      var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue);\n      var hexString = rgbNumber.toString(16);\n      var missingZeros = 6 - hexString.length;\n      var resultBuilder = ['#'];\n      for (var i = 0; i \u003c missingZeros; i++) {\n         resultBuilder.push('0');\n      }\n      resultBuilder.push(hexString);\n      return resultBuilder.join('');\n    };\n\n    // ...",
            "type": "object",
            "fields": [
                {
                    "name": "blue",
                    "desc": "The amount of blue in the color as a value in the interval [0, 1].",
                    "type": "float32"
                },
                {
                    "name": "alpha",
                    "desc": "The fraction of this color that should be applied to the pixel. That is,\nthe final pixel color is defined by the equation:\n\n  pixel color = alpha * (this color) + (1.0 - alpha) * (background color)\n\nThis means that a value of 1.0 corresponds to a solid color, whereas\na value of 0.0 corresponds to a completely transparent color. This\nuses a wrapper message rather than a simple float scalar so that it is\npossible to distinguish between a default value and the value being unset.\nIf omitted, this color object is to be rendered as a solid color\n(as if the alpha value had been explicitly given with a value of 1.0).",
                    "type": "float32"
                },
                {
                    "name": "red",
                    "desc": "The amount of red in the color as a value in the interval [0, 1].",
                    "type": "float32"
                },
                {
                    "name": "green",
                    "desc": "The amount of green in the color as a value in the interval [0, 1].",
                    "type": "float32"
                }
            ]
        },
        {
            "name": "AddFilterViewRequest",
            "desc": "Adds a filter view.",
            "type": "object",
            "fields": [
                {
                    "name": "filter",
                    "desc": "The filter to add. The filterViewId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of a filter that already exists.)",
                    "type": "ref",
                    "refType": "FilterView"
                }
            ]
        },
        {
            "name": "AddConditionalFormatRuleRequest",
            "desc": "Adds a new conditional format rule at the given index.\nAll subsequent rules' indexes are incremented.",
            "type": "object",
            "fields": [
                {
                    "name": "rule",
                    "desc": "The rule to add.",
                    "type": "ref",
                    "refType": "ConditionalFormatRule"
                },
                {
                    "name": "index",
                    "desc": "The zero-based index where the rule should be inserted.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "IterativeCalculationSettings",
            "desc": "Settings to control how circular dependencies are resolved with iterative\ncalculation.",
            "type": "object",
            "fields": [
                {
                    "name": "convergenceThreshold",
                    "desc": "When iterative calculation is enabled and successive results differ by\nless than this threshold value, the calculation rounds stop.",
                    "type": "float64"
                },
                {
                    "name": "maxIterations",
                    "desc": "When iterative calculation is enabled, the maximum number of calculation\nrounds to perform.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ClearValuesResponse",
            "desc": "The response when clearing a range of values in a spreadsheet.",
            "type": "object",
            "fields": [
                {
                    "name": "spreadsheetId",
                    "desc": "The spreadsheet the updates were applied to.",
                    "type": "string"
                },
                {
                    "name": "clearedRange",
                    "desc": "The range (in A1 notation) that was cleared.\n(If the request was for an unbounded range or a ranger larger\n than the bounds of the sheet, this will be the actual range\n that was cleared, bounded to the sheet's limits.)",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FindReplaceRequest",
            "desc": "Finds and replaces data in cells over a range, sheet, or all sheets.",
            "type": "object",
            "fields": [
                {
                    "name": "sheetId",
                    "desc": "The sheet to find/replace over.",
                    "type": "int32"
                },
                {
                    "name": "allSheets",
                    "desc": "True to find/replace over all sheets.",
                    "type": "bool"
                },
                {
                    "name": "range",
                    "desc": "The range to find/replace over.",
                    "type": "ref",
                    "refType": "GridRange"
                },
                {
                    "name": "matchCase",
                    "desc": "True if the search is case sensitive.",
                    "type": "bool"
                },
                {
                    "name": "includeFormulas",
                    "desc": "True if the search should include cells with formulas.\nFalse to skip cells with formulas.",
                    "type": "bool"
                },
                {
                    "name": "matchEntireCell",
                    "desc": "True if the find value should match the entire cell.",
                    "type": "bool"
                },
                {
                    "name": "find",
                    "desc": "The value to search.",
                    "type": "string"
                },
                {
                    "name": "searchByRegex",
                    "desc": "True if the find value is a regex.\nThe regular expression and replacement should follow Java regex rules\nat https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html.\nThe replacement string is allowed to refer to capturing groups.\nFor example, if one cell has the contents `\"Google Sheets\"` and another\nhas `\"Google Docs\"`, then searching for `\"o.* (.*)\"` with a replacement of\n`\"$1 Rocks\"` would change the contents of the cells to\n`\"GSheets Rocks\"` and `\"GDocs Rocks\"` respectively.",
                    "type": "bool"
                },
                {
                    "name": "replacement",
                    "desc": "The value to use as the replacement.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BasicChartSpec",
            "desc": "The specification for a basic chart.  See BasicChartType for the list\nof charts this supports.",
            "type": "object",
            "fields": [
                {
                    "name": "axis",
                    "desc": "The axis on the chart.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BasicChartAxis"
                },
                {
                    "name": "chartType",
                    "desc": "The type of the chart.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "BASIC_CHART_TYPE_UNSPECIFIED",
                            "desc": "Default value, do not use."
                        },
                        {
                            "name": "BAR",
                            "desc": "A \u003ca href=\"/chart/interactive/docs/gallery/barchart\"\u003ebar chart\u003c/a\u003e."
                        },
                        {
                            "name": "LINE",
                            "desc": "A \u003ca href=\"/chart/interactive/docs/gallery/linechart\"\u003eline chart\u003c/a\u003e."
                        },
                        {
                            "name": "AREA",
                            "desc": "An \u003ca href=\"/chart/interactive/docs/gallery/areachart\"\u003earea chart\u003c/a\u003e."
                        },
                        {
                            "name": "COLUMN",
                            "desc": "A \u003ca href=\"/chart/interactive/docs/gallery/columnchart\"\u003ecolumn chart\u003c/a\u003e."
                        },
                        {
                            "name": "SCATTER",
                            "desc": "A \u003ca href=\"/chart/interactive/docs/gallery/scatterchart\"\u003escatter chart\u003c/a\u003e."
                        },
                        {
                            "name": "COMBO",
                            "desc": "A \u003ca href=\"/chart/interactive/docs/gallery/combochart\"\u003ecombo chart\u003c/a\u003e."
                        }
                    ]
                },
                {
                    "name": "series",
                    "desc": "The data this chart is visualizing.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BasicChartSeries"
                },
                {
                    "name": "legendPosition",
                    "desc": "The position of the chart legend.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
                            "desc": "Default value, do not use."
                        },
                        {
                            "name": "BOTTOM_LEGEND",
                            "desc": "The legend is rendered on the bottom of the chart."
                        },
                        {
                            "name": "LEFT_LEGEND",
                            "desc": "The legend is rendered on the left of the chart."
                        },
                        {
                            "name": "RIGHT_LEGEND",
                            "desc": "The legend is rendered on the right of the chart."
                        },
                        {
                            "name": "TOP_LEGEND",
                            "desc": "The legend is rendered on the top of the chart."
                        },
                        {
                            "name": "NO_LEGEND",
                            "desc": "No legend is rendered."
                        }
                    ]
                },
                {
                    "name": "domains",
                    "desc": "The domain of data this is charting.\nOnly a single domain is currently supported.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BasicChartDomain"
                },
                {
                    "name": "headerCount",
                    "desc": "The number of rows or columns in the data that are \"headers\".\nIf not set, Google Sheets will guess how many rows are headers based\non the data.\n\n(Note that BasicChartAxis.title may override the axis title\n inferred from the header values.)",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "OverlayPosition",
            "desc": "The location an object is overlaid on top of a grid.",
            "type": "object",
            "fields": [
                {
                    "name": "heightPixels",
                    "desc": "The height of the object, in pixels. Defaults to 371.",
                    "type": "int32"
                },
                {
                    "name": "widthPixels",
                    "desc": "The width of the object, in pixels. Defaults to 600.",
                    "type": "int32"
                },
                {
                    "name": "offsetXPixels",
                    "desc": "The horizontal offset, in pixels, that the object is offset\nfrom the anchor cell.",
                    "type": "int32"
                },
                {
                    "name": "anchorCell",
                    "desc": "The cell the object is anchored to.",
                    "type": "ref",
                    "refType": "GridCoordinate"
                },
                {
                    "name": "offsetYPixels",
                    "desc": "The vertical offset, in pixels, that the object is offset\nfrom the anchor cell.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "GridRange",
            "desc": "A range on a sheet.\nAll indexes are zero-based.\nIndexes are half open, e.g the start index is inclusive\nand the end index is exclusive -- [start_index, end_index).\nMissing indexes indicate the range is unbounded on that side.\n\nFor example, if `\"Sheet1\"` is sheet ID 0, then:\n\n  `Sheet1!A1:A1 == sheet_id: 0,\n                  start_row_index: 0, end_row_index: 1,\n                  start_column_index: 0, end_column_index: 1`\n\n  `Sheet1!A3:B4 == sheet_id: 0,\n                  start_row_index: 2, end_row_index: 4,\n                  start_column_index: 0, end_column_index: 2`\n\n  `Sheet1!A:B == sheet_id: 0,\n                start_column_index: 0, end_column_index: 2`\n\n  `Sheet1!A5:B == sheet_id: 0,\n                 start_row_index: 4,\n                 start_column_index: 0, end_column_index: 2`\n\n  `Sheet1 == sheet_id:0`\n\nThe start index must always be less than or equal to the end index.\nIf the start index equals the end index, then the range is empty.\nEmpty ranges are typically not meaningful and are usually rendered in the\nUI as `#REF!`.",
            "type": "object",
            "fields": [
                {
                    "name": "startColumnIndex",
                    "desc": "The start column (inclusive) of the range, or not set if unbounded.",
                    "type": "int32"
                },
                {
                    "name": "sheetId",
                    "desc": "The sheet this range is on.",
                    "type": "int32"
                },
                {
                    "name": "endRowIndex",
                    "desc": "The end row (exclusive) of the range, or not set if unbounded.",
                    "type": "int32"
                },
                {
                    "name": "endColumnIndex",
                    "desc": "The end column (exclusive) of the range, or not set if unbounded.",
                    "type": "int32"
                },
                {
                    "name": "startRowIndex",
                    "desc": "The start row (inclusive) of the range, or not set if unbounded.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "DeleteBandingRequest",
            "desc": "Removes the banded range with the given ID from the spreadsheet.",
            "type": "object",
            "fields": [
                {
                    "name": "bandedRangeId",
                    "desc": "The ID of the banded range to delete.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "InsertRangeRequest",
            "desc": "Inserts cells into a range, shifting the existing cells over or down.",
            "type": "object",
            "fields": [
                {
                    "name": "shiftDimension",
                    "desc": "The dimension which will be shifted when inserting cells.\nIf ROWS, existing cells will be shifted down.\nIf COLUMNS, existing cells will be shifted right.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "DIMENSION_UNSPECIFIED",
                            "desc": "The default value, do not use."
                        },
                        {
                            "name": "ROWS",
                            "desc": "Operates on the rows of a sheet."
                        },
                        {
                            "name": "COLUMNS",
                            "desc": "Operates on the columns of a sheet."
                        }
                    ]
                },
                {
                    "name": "range",
                    "desc": "The range to insert new cells into.",
                    "type": "ref",
                    "refType": "GridRange"
                }
            ]
        },
        {
            "name": "AutoResizeDimensionsRequest",
            "desc": "Automatically resizes one or more dimensions based on the contents\nof the cells in that dimension.",
            "type": "object",
            "fields": [
                {
                    "name": "dimensions",
                    "desc": "The dimensions to automatically resize.\nOnly COLUMNS are supported.",
                    "type": "ref",
                    "refType": "DimensionRange"
                }
            ]
        },
        {
            "name": "SetBasicFilterRequest",
            "desc": "Sets the basic filter associated with a sheet.",
            "type": "object",
            "fields": [
                {
                    "name": "filter",
                    "desc": "The filter to set.",
                    "type": "ref",
                    "refType": "BasicFilter"
                }
            ]
        },
        {
            "name": "UpdateConditionalFormatRuleResponse",
            "desc": "The result of updating a conditional format rule.",
            "type": "object",
            "fields": [
                {
                    "name": "oldRule",
                    "desc": "The old (deleted) rule. Not set if a rule was moved\n(because it is the same as new_rule).",
                    "type": "ref",
                    "refType": "ConditionalFormatRule"
                },
                {
                    "name": "newIndex",
                    "desc": "The index of the new rule.",
                    "type": "int32"
                },
                {
                    "name": "oldIndex",
                    "desc": "The old index of the rule. Not set if a rule was replaced\n(because it is the same as new_index).",
                    "type": "int32"
                },
                {
                    "name": "newRule",
                    "desc": "The new rule that replaced the old rule (if replacing),\nor the rule that was moved (if moved)",
                    "type": "ref",
                    "refType": "ConditionalFormatRule"
                }
            ]
        },
        {
            "name": "DimensionProperties",
            "desc": "Properties about a dimension.",
            "type": "object",
            "fields": [
                {
                    "name": "pixelSize",
                    "desc": "The height (if a row) or width (if a column) of the dimension in pixels.",
                    "type": "int32"
                },
                {
                    "name": "hiddenByFilter",
                    "desc": "True if this dimension is being filtered.\nThis field is read-only.",
                    "type": "bool"
                },
                {
                    "name": "hiddenByUser",
                    "desc": "True if this dimension is explicitly hidden.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "MergeCellsRequest",
            "desc": "Merges all cells in the range.",
            "type": "object",
            "fields": [
                {
                    "name": "range",
                    "desc": "The range of cells to merge.",
                    "type": "ref",
                    "refType": "GridRange"
                },
                {
                    "name": "mergeType",
                    "desc": "How the cells should be merged.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "MERGE_ALL",
                            "desc": "Create a single merge from the range"
                        },
                        {
                            "name": "MERGE_COLUMNS",
                            "desc": "Create a merge for each column in the range"
                        },
                        {
                            "name": "MERGE_ROWS",
                            "desc": "Create a merge for each row in the range"
                        }
                    ]
                }
            ]
        },
        {
            "name": "AddFilterViewResponse",
            "desc": "The result of adding a filter view.",
            "type": "object",
            "fields": [
                {
                    "name": "filter",
                    "desc": "The newly added filter view.",
                    "type": "ref",
                    "refType": "FilterView"
                }
            ]
        },
        {
            "name": "DeleteNamedRangeRequest",
            "desc": "Removes the named range with the given ID from the spreadsheet.",
            "type": "object",
            "fields": [
                {
                    "name": "namedRangeId",
                    "desc": "The ID of the named range to delete.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UpdateNamedRangeRequest",
            "desc": "Updates properties of the named range with the specified\nnamedRangeId.",
            "type": "object",
            "fields": [
                {
                    "name": "namedRange",
                    "desc": "The named range to update with the new properties.",
                    "type": "ref",
                    "refType": "NamedRange"
                },
                {
                    "name": "fields",
                    "desc": "The fields that should be updated.  At least one field must be specified.\nThe root `namedRange` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UpdateSpreadsheetPropertiesRequest",
            "desc": "Updates properties of a spreadsheet.",
            "type": "object",
            "fields": [
                {
                    "name": "properties",
                    "desc": "The properties to update.",
                    "type": "ref",
                    "refType": "SpreadsheetProperties"
                },
                {
                    "name": "fields",
                    "desc": "The fields that should be updated.  At least one field must be specified.\nThe root 'properties' is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PivotGroup",
            "desc": "A single grouping (either row or column) in a pivot table.",
            "type": "object",
            "fields": [
                {
                    "name": "sortOrder",
                    "desc": "The order the values in this group should be sorted.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SORT_ORDER_UNSPECIFIED",
                            "desc": "Default value, do not use this."
                        },
                        {
                            "name": "ASCENDING",
                            "desc": "Sort ascending."
                        },
                        {
                            "name": "DESCENDING",
                            "desc": "Sort descending."
                        }
                    ]
                },
                {
                    "name": "valueBucket",
                    "desc": "The bucket of the opposite pivot group to sort by.\nIf not specified, sorting is alphabetical by this group's values.",
                    "type": "ref",
                    "refType": "PivotGroupSortValueBucket"
                },
                {
                    "name": "sourceColumnOffset",
                    "desc": "The column offset of the source range that this grouping is based on.\n\nFor example, if the source was `C10:E15`, a `sourceColumnOffset` of `0`\nmeans this group refers to column `C`, whereas the offset `1` would refer\nto column `D`.",
                    "type": "int32"
                },
                {
                    "name": "showTotals",
                    "desc": "True if the pivot table should include the totals for this grouping.",
                    "type": "bool"
                },
                {
                    "name": "valueMetadata",
                    "desc": "Metadata about values in the grouping.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PivotGroupValueMetadata"
                }
            ]
        },
        {
            "name": "UpdateConditionalFormatRuleRequest",
            "desc": "Updates a conditional format rule at the given index,\nor moves a conditional format rule to another index.",
            "type": "object",
            "fields": [
                {
                    "name": "newIndex",
                    "desc": "The zero-based new index the rule should end up at.",
                    "type": "int32"
                },
                {
                    "name": "rule",
                    "desc": "The rule that should replace the rule at the given index.",
                    "type": "ref",
                    "refType": "ConditionalFormatRule"
                },
                {
                    "name": "index",
                    "desc": "The zero-based index of the rule that should be replaced or moved.",
                    "type": "int32"
                },
                {
                    "name": "sheetId",
                    "desc": "The sheet of the rule to move.  Required if new_index is set,\nunused otherwise.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "UpdateEmbeddedObjectPositionRequest",
            "desc": "Update an embedded object's position (such as a moving or resizing a\nchart or image).",
            "type": "object",
            "fields": [
                {
                    "name": "objectId",
                    "desc": "The ID of the object to moved.",
                    "type": "int32"
                },
                {
                    "name": "newPosition",
                    "desc": "An explicit position to move the embedded object to.\nIf newPosition.sheetId is set,\na new sheet with that ID will be created.\nIf newPosition.newSheet is set to true,\na new sheet will be created with an ID that will be chosen for you.",
                    "type": "ref",
                    "refType": "EmbeddedObjectPosition"
                },
                {
                    "name": "fields",
                    "desc": "The fields of OverlayPosition\nthat should be updated when setting a new position. Used only if\nnewPosition.overlayPosition\nis set, in which case at least one field must\nbe specified.  The root `newPosition.overlayPosition` is implied and\nshould not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AddProtectedRangeRequest",
            "desc": "Adds a new protected range.",
            "type": "object",
            "fields": [
                {
                    "name": "protectedRange",
                    "desc": "The protected range to be added. The\nprotectedRangeId field is optional; if\none is not set, an id will be randomly generated. (It is an error to\nspecify the ID of a range that already exists.)",
                    "type": "ref",
                    "refType": "ProtectedRange"
                }
            ]
        },
        {
            "name": "DuplicateFilterViewRequest",
            "desc": "Duplicates a particular filter view.",
            "type": "object",
            "fields": [
                {
                    "name": "filterId",
                    "desc": "The ID of the filter being duplicated.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "TextFormat",
            "desc": "The format of a run of text in a cell.\nAbsent values indicate that the field isn't specified.",
            "type": "object",
            "fields": [
                {
                    "name": "bold",
                    "desc": "True if the text is bold.",
                    "type": "bool"
                },
                {
                    "name": "fontFamily",
                    "desc": "The font family.",
                    "type": "string"
                },
                {
                    "name": "italic",
                    "desc": "True if the text is italicized.",
                    "type": "bool"
                },
                {
                    "name": "strikethrough",
                    "desc": "True if the text has a strikethrough.",
                    "type": "bool"
                },
                {
                    "name": "fontSize",
                    "desc": "The size of the font.",
                    "type": "int32"
                },
                {
                    "name": "underline",
                    "desc": "True if the text is underlined.",
                    "type": "bool"
                },
                {
                    "name": "foregroundColor",
                    "desc": "The foreground color of the text.",
                    "type": "ref",
                    "refType": "Color"
                }
            ]
        },
        {
            "name": "PivotTable",
            "desc": "A pivot table.",
            "type": "object",
            "fields": [
                {
                    "name": "valueLayout",
                    "desc": "Whether values should be listed horizontally (as columns)\nor vertically (as rows).",
                    "type": "string",
                    "enum": [
                        {
                            "name": "HORIZONTAL",
                            "desc": "Values are laid out horizontally (as columns)."
                        },
                        {
                            "name": "VERTICAL",
                            "desc": "Values are laid out vertically (as rows)."
                        }
                    ]
                },
                {
                    "name": "source",
                    "desc": "The range the pivot table is reading data from.",
                    "type": "ref",
                    "refType": "GridRange"
                },
                {
                    "name": "columns",
                    "desc": "Each column grouping in the pivot table.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PivotGroup"
                },
                {
                    "name": "values",
                    "desc": "A list of values to include in the pivot table.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PivotValue"
                },
                {
                    "name": "criteria",
                    "desc": "An optional mapping of filters per source column offset.\n\nThe filters will be applied before aggregating data into the pivot table.\nThe map's key is the column offset of the source range that you want to\nfilter, and the value is the criteria for that column.\n\nFor example, if the source was `C10:E15`, a key of `0` will have the filter\nfor column `C`, whereas the key `1` is for column `D`.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "PivotFilterCriteria"
                },
                {
                    "name": "rows",
                    "desc": "Each row grouping in the pivot table.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PivotGroup"
                }
            ]
        },
        {
            "name": "PasteDataRequest",
            "desc": "Inserts data into the spreadsheet starting at the specified coordinate.",
            "type": "object",
            "fields": [
                {
                    "name": "coordinate",
                    "desc": "The coordinate at which the data should start being inserted.",
                    "type": "ref",
                    "refType": "GridCoordinate"
                },
                {
                    "name": "data",
                    "desc": "The data to insert.",
                    "type": "string"
                },
                {
                    "name": "delimiter",
                    "desc": "The delimiter in the data.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "How the data should be pasted.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PASTE_NORMAL",
                            "desc": "Paste values, formulas, formats, and merges."
                        },
                        {
                            "name": "PASTE_VALUES",
                            "desc": "Paste the values ONLY without formats, formulas, or merges."
                        },
                        {
                            "name": "PASTE_FORMAT",
                            "desc": "Paste the format and data validation only."
                        },
                        {
                            "name": "PASTE_NO_BORDERS",
                            "desc": "Like PASTE_NORMAL but without borders."
                        },
                        {
                            "name": "PASTE_FORMULA",
                            "desc": "Paste the formulas only."
                        },
                        {
                            "name": "PASTE_DATA_VALIDATION",
                            "desc": "Paste the data validation only."
                        },
                        {
                            "name": "PASTE_CONDITIONAL_FORMATTING",
                            "desc": "Paste the conditional formatting rules only."
                        }
                    ]
                },
                {
                    "name": "html",
                    "desc": "True if the data is HTML.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "UpdateFilterViewRequest",
            "desc": "Updates properties of the filter view.",
            "type": "object",
            "fields": [
                {
                    "name": "filter",
                    "desc": "The new properties of the filter view.",
                    "type": "ref",
                    "refType": "FilterView"
                },
                {
                    "name": "fields",
                    "desc": "The fields that should be updated.  At least one field must be specified.\nThe root `filter` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CellData",
            "desc": "Data about a specific cell.",
            "type": "object",
            "fields": [
                {
                    "name": "hyperlink",
                    "desc": "A hyperlink this cell points to, if any.\nThis field is read-only.  (To set it, use a `=HYPERLINK` formula.)",
                    "type": "string"
                },
                {
                    "name": "userEnteredFormat",
                    "desc": "The format the user entered for the cell.\n\nWhen writing, the new format will be merged with the existing format.",
                    "type": "ref",
                    "refType": "CellFormat"
                },
                {
                    "name": "note",
                    "desc": "Any note on the cell.",
                    "type": "string"
                },
                {
                    "name": "dataValidation",
                    "desc": "A data validation rule on the cell, if any.\n\nWhen writing, the new data validation rule will overwrite any prior rule.",
                    "type": "ref",
                    "refType": "DataValidationRule"
                },
                {
                    "name": "pivotTable",
                    "desc": "A pivot table anchored at this cell. The size of pivot table itself\nis computed dynamically based on its data, grouping, filters, values,\netc. Only the top-left cell of the pivot table contains the pivot table\ndefinition. The other cells will contain the calculated values of the\nresults of the pivot in their effective_value fields.",
                    "type": "ref",
                    "refType": "PivotTable"
                },
                {
                    "name": "effectiveFormat",
                    "desc": "The effective format being used by the cell.\nThis includes the results of applying any conditional formatting and,\nif the cell contains a formula, the computed number format.\nIf the effective format is the default format, effective format will\nnot be written.\nThis field is read-only.",
                    "type": "ref",
                    "refType": "CellFormat"
                },
                {
                    "name": "userEnteredValue",
                    "desc": "The value the user entered in the cell. e.g, `1234`, `'Hello'`, or `=NOW()`\nNote: Dates, Times and DateTimes are represented as doubles in\nserial number format.",
                    "type": "ref",
                    "refType": "ExtendedValue"
                },
                {
                    "name": "effectiveValue",
                    "desc": "The effective value of the cell. For cells with formulas, this will be\nthe calculated value.  For cells with literals, this will be\nthe same as the user_entered_value.\nThis field is read-only.",
                    "type": "ref",
                    "refType": "ExtendedValue"
                },
                {
                    "name": "formattedValue",
                    "desc": "The formatted value of the cell.\nThis is the value as it's shown to the user.\nThis field is read-only.",
                    "type": "string"
                },
                {
                    "name": "textFormatRuns",
                    "desc": "Runs of rich text applied to subsections of the cell.  Runs are only valid\non user entered strings, not formulas, bools, or numbers.\nRuns start at specific indexes in the text and continue until the next\nrun. Properties of a run will continue unless explicitly changed\nin a subsequent run (and properties of the first run will continue\nthe properties of the cell unless explicitly changed).\n\nWhen writing, the new runs will overwrite any prior runs.  When writing a\nnew user_entered_value, previous runs will be erased.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TextFormatRun"
                }
            ]
        },
        {
            "name": "SortRangeRequest",
            "desc": "Sorts data in rows based on a sort order per column.",
            "type": "object",
            "fields": [
                {
                    "name": "range",
                    "desc": "The range to sort.",
                    "type": "ref",
                    "refType": "GridRange"
                },
                {
                    "name": "sortSpecs",
                    "desc": "The sort order per column. Later specifications are used when values\nare equal in the earlier specifications.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SortSpec"
                }
            ]
        },
        {
            "name": "SourceAndDestination",
            "desc": "A combination of a source range and how to extend that source.",
            "type": "object",
            "fields": [
                {
                    "name": "source",
                    "desc": "The location of the data to use as the source of the autofill.",
                    "type": "ref",
                    "refType": "GridRange"
                },
                {
                    "name": "dimension",
                    "desc": "The dimension that data should be filled into.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "DIMENSION_UNSPECIFIED",
                            "desc": "The default value, do not use."
                        },
                        {
                            "name": "ROWS",
                            "desc": "Operates on the rows of a sheet."
                        },
                        {
                            "name": "COLUMNS",
                            "desc": "Operates on the columns of a sheet."
                        }
                    ]
                },
                {
                    "name": "fillLength",
                    "desc": "The number of rows or columns that data should be filled into.\nPositive numbers expand beyond the last row or last column\nof the source.  Negative numbers expand before the first row\nor first column of the source.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "BatchUpdateValuesRequest",
            "desc": "The request for updating more than one range of values in a spreadsheet.",
            "type": "object",
            "fields": [
                {
                    "name": "responseDateTimeRenderOption",
                    "desc": "Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SERIAL_NUMBER",
                            "desc": "Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year."
                        },
                        {
                            "name": "FORMATTED_STRING",
                            "desc": "Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."
                        }
                    ]
                },
                {
                    "name": "responseValueRenderOption",
                    "desc": "Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "FORMATTED_VALUE",
                            "desc": "Values will be calculated \u0026 formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`."
                        },
                        {
                            "name": "UNFORMATTED_VALUE",
                            "desc": "Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`."
                        },
                        {
                            "name": "FORMULA",
                            "desc": "Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."
                        }
                    ]
                },
                {
                    "name": "includeValuesInResponse",
                    "desc": "Determines if the update response should include the values\nof the cells that were updated. By default, responses\ndo not include the updated values. The `updatedData` field within\neach of the BatchUpdateValuesResponse.responses will contain\nthe updated values. If the range to write was larger than than the range\nactually written, the response will include all values in the requested\nrange (excluding trailing empty rows and columns).",
                    "type": "bool"
                },
                {
                    "name": "valueInputOption",
                    "desc": "How the input data should be interpreted.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "INPUT_VALUE_OPTION_UNSPECIFIED",
                            "desc": "Default input value. This value must not be used."
                        },
                        {
                            "name": "RAW",
                            "desc": "The values the user has entered will not be parsed and will be stored\nas-is."
                        },
                        {
                            "name": "USER_ENTERED",
                            "desc": "The values will be parsed as if the user typed them into the UI.\nNumbers will stay as numbers, but strings may be converted to numbers,\ndates, etc. following the same rules that are applied when entering\ntext into a cell via the Google Sheets UI."
                        }
                    ]
                },
                {
                    "name": "data",
                    "desc": "The new values to apply to the spreadsheet.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ValueRange"
                }
            ]
        },
        {
            "name": "RowData",
            "desc": "Data about each cell in a row.",
            "type": "object",
            "fields": [
                {
                    "name": "values",
                    "desc": "The values in the row, one per column.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CellData"
                }
            ]
        },
        {
            "name": "AddSheetRequest",
            "desc": "Adds a new sheet.\nWhen a sheet is added at a given index,\nall subsequent sheets' indexes are incremented.\nTo add an object sheet, use AddChartRequest instead and specify\nEmbeddedObjectPosition.sheetId or\nEmbeddedObjectPosition.newSheet.",
            "type": "object",
            "fields": [
                {
                    "name": "properties",
                    "desc": "The properties the new sheet should have.\nAll properties are optional.\nThe sheetId field is optional; if one is not\nset, an id will be randomly generated. (It is an error to specify the ID\nof a sheet that already exists.)",
                    "type": "ref",
                    "refType": "SheetProperties"
                }
            ]
        },
        {
            "name": "BatchUpdateValuesResponse",
            "desc": "The response when updating a range of values in a spreadsheet.",
            "type": "object",
            "fields": [
                {
                    "name": "spreadsheetId",
                    "desc": "The spreadsheet the updates were applied to.",
                    "type": "string"
                },
                {
                    "name": "totalUpdatedRows",
                    "desc": "The total number of rows where at least one cell in the row was updated.",
                    "type": "int32"
                },
                {
                    "name": "responses",
                    "desc": "One UpdateValuesResponse per requested range, in the same order as\nthe requests appeared.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UpdateValuesResponse"
                },
                {
                    "name": "totalUpdatedSheets",
                    "desc": "The total number of sheets where at least one cell in the sheet was\nupdated.",
                    "type": "int32"
                },
                {
                    "name": "totalUpdatedCells",
                    "desc": "The total number of cells updated.",
                    "type": "int32"
                },
                {
                    "name": "totalUpdatedColumns",
                    "desc": "The total number of columns where at least one cell in the column was\nupdated.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "InterpolationPoint",
            "desc": "A single interpolation point on a gradient conditional format.\nThese pin the gradient color scale according to the color,\ntype and value chosen.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The value this interpolation point uses.  May be a formula.\nUnused if type is MIN or\nMAX.",
                    "type": "string"
                },
                {
                    "name": "color",
                    "desc": "The color this interpolation point should use.",
                    "type": "ref",
                    "refType": "Color"
                },
                {
                    "name": "type",
                    "desc": "How the value should be interpreted.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "INTERPOLATION_POINT_TYPE_UNSPECIFIED",
                            "desc": "The default value, do not use."
                        },
                        {
                            "name": "MIN",
                            "desc": "The interpolation point will use the minimum value in the\ncells over the range of the conditional format."
                        },
                        {
                            "name": "MAX",
                            "desc": "The interpolation point will use the maximum value in the\ncells over the range of the conditional format."
                        },
                        {
                            "name": "NUMBER",
                            "desc": "The interpolation point will use exactly the value in\nInterpolationPoint.value."
                        },
                        {
                            "name": "PERCENT",
                            "desc": "The interpolation point will be the given percentage over\nall the cells in the range of the conditional format.\nThis is equivalent to NUMBER if the value was:\n`=(MAX(FLATTEN(range)) * (value / 100))\n  + (MIN(FLATTEN(range)) * (1 - (value / 100)))`\n(where errors in the range are ignored when flattening)."
                        },
                        {
                            "name": "PERCENTILE",
                            "desc": "The interpolation point will be the given percentile\nover all the cells in the range of the conditional format.\nThis is equivalent to NUMBER if the value was:\n`=PERCENTILE(FLATTEN(range), value / 100)`\n(where errors in the range are ignored when flattening)."
                        }
                    ]
                }
            ]
        },
        {
            "name": "NamedRange",
            "desc": "A named range.",
            "type": "object",
            "fields": [
                {
                    "name": "namedRangeId",
                    "desc": "The ID of the named range.",
                    "type": "string"
                },
                {
                    "name": "range",
                    "desc": "The range this represents.",
                    "type": "ref",
                    "refType": "GridRange"
                },
                {
                    "name": "name",
                    "desc": "The name of the named range.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UpdateCellsRequest",
            "desc": "Updates all cells in a range with new data.",
            "type": "object",
            "fields": [
                {
                    "name": "fields",
                    "desc": "The fields of CellData that should be updated.\nAt least one field must be specified.\nThe root is the CellData; 'row.values.' should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
                    "type": "string"
                },
                {
                    "name": "start",
                    "desc": "The coordinate to start writing data at.\nAny number of rows and columns (including a different number of\ncolumns per row) may be written.",
                    "type": "ref",
                    "refType": "GridCoordinate"
                },
                {
                    "name": "range",
                    "desc": "The range to write data to.\n\nIf the data in rows does not cover the entire requested range,\nthe fields matching those set in fields will be cleared.",
                    "type": "ref",
                    "refType": "GridRange"
                },
                {
                    "name": "rows",
                    "desc": "The data to write.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RowData"
                }
            ]
        },
        {
            "name": "DeleteFilterViewRequest",
            "desc": "Deletes a particular filter view.",
            "type": "object",
            "fields": [
                {
                    "name": "filterId",
                    "desc": "The ID of the filter to delete.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "PivotGroupSortValueBucket",
            "desc": "Information about which values in a pivot group should be used for sorting.",
            "type": "object",
            "fields": [
                {
                    "name": "buckets",
                    "desc": "Determines the bucket from which values are chosen to sort.\n\nFor example, in a pivot table with one row group \u0026 two column groups,\nthe row group can list up to two values. The first value corresponds\nto a value within the first column group, and the second value\ncorresponds to a value in the second column group.  If no values\nare listed, this would indicate that the row should be sorted according\nto the \"Grand Total\" over the column groups. If a single value is listed,\nthis would correspond to using the \"Total\" of that bucket.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ExtendedValue"
                },
                {
                    "name": "valuesIndex",
                    "desc": "The offset in the PivotTable.values list which the values in this\ngrouping should be sorted by.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "AddBandingResponse",
            "desc": "The result of adding a banded range.",
            "type": "object",
            "fields": [
                {
                    "name": "bandedRange",
                    "desc": "The banded range that was added.",
                    "type": "ref",
                    "refType": "BandedRange"
                }
            ]
        },
        {
            "name": "GradientRule",
            "desc": "A rule that applies a gradient color scale format, based on\nthe interpolation points listed. The format of a cell will vary\nbased on its contents as compared to the values of the interpolation\npoints.",
            "type": "object",
            "fields": [
                {
                    "name": "minpoint",
                    "desc": "The starting interpolation point.",
                    "type": "ref",
                    "refType": "InterpolationPoint"
                },
                {
                    "name": "maxpoint",
                    "desc": "The final interpolation point.",
                    "type": "ref",
                    "refType": "InterpolationPoint"
                },
                {
                    "name": "midpoint",
                    "desc": "An optional midway interpolation point.",
                    "type": "ref",
                    "refType": "InterpolationPoint"
                }
            ]
        },
        {
            "name": "ClearValuesRequest",
            "desc": "The request for clearing a range of values in a spreadsheet.",
            "type": "object"
        },
        {
            "name": "CellFormat",
            "desc": "The format of a cell.",
            "type": "object",
            "fields": [
                {
                    "name": "backgroundColor",
                    "desc": "The background color of the cell.",
                    "type": "ref",
                    "refType": "Color"
                },
                {
                    "name": "verticalAlignment",
                    "desc": "The vertical alignment of the value in the cell.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "VERTICAL_ALIGN_UNSPECIFIED",
                            "desc": "The vertical alignment is not specified.  Do not use this."
                        },
                        {
                            "name": "TOP",
                            "desc": "The text is explicitly aligned to the top of the cell."
                        },
                        {
                            "name": "MIDDLE",
                            "desc": "The text is explicitly aligned to the middle of the cell."
                        },
                        {
                            "name": "BOTTOM",
                            "desc": "The text is explicitly aligned to the bottom of the cell."
                        }
                    ]
                },
                {
                    "name": "wrapStrategy",
                    "desc": "The wrap strategy for the value in the cell.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "WRAP_STRATEGY_UNSPECIFIED",
                            "desc": "The default value, do not use."
                        },
                        {
                            "name": "OVERFLOW_CELL",
                            "desc": "Lines that are longer than the cell width will be written in the next\ncell over, so long as that cell is empty. If the next cell over is\nnon-empty, this behaves the same as CLIP. The text will never wrap\nto the next line unless the user manually inserts a new line.\nExample:\n\n    | First sentence. |\n    | Manual newline that is very long. \u003c- Text continues into next cell\n    | Next newline.   |"
                        },
                        {
                            "name": "LEGACY_WRAP",
                            "desc": "This wrap strategy represents the old Google Sheets wrap strategy where\nwords that are longer than a line are clipped rather than broken. This\nstrategy is not supported on all platforms and is being phased out.\nExample:\n\n    | Cell has a |\n    | loooooooooo| \u003c- Word is clipped.\n    | word.      |"
                        },
                        {
                            "name": "CLIP",
                            "desc": "Lines that are longer than the cell width will be clipped.\nThe text will never wrap to the next line unless the user manually\ninserts a new line.\nExample:\n\n    | First sentence. |\n    | Manual newline t| \u003c- Text is clipped\n    | Next newline.   |"
                        },
                        {
                            "name": "WRAP",
                            "desc": "Words that are longer than a line are wrapped at the character level\nrather than clipped.\nExample:\n\n    | Cell has a |\n    | loooooooooo| \u003c- Word is broken.\n    | ong word.  |"
                        }
                    ]
                },
                {
                    "name": "hyperlinkDisplayType",
                    "desc": "How a hyperlink, if it exists, should be displayed in the cell.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
                            "desc": "The default value: the hyperlink is rendered. Do not use this."
                        },
                        {
                            "name": "LINKED",
                            "desc": "A hyperlink should be explicitly rendered."
                        },
                        {
                            "name": "PLAIN_TEXT",
                            "desc": "A hyperlink should not be rendered."
                        }
                    ]
                },
                {
                    "name": "textFormat",
                    "desc": "The format of the text in the cell (unless overridden by a format run).",
                    "type": "ref",
                    "refType": "TextFormat"
                },
                {
                    "name": "padding",
                    "desc": "The padding of the cell.",
                    "type": "ref",
                    "refType": "Padding"
                },
                {
                    "name": "borders",
                    "desc": "The borders of the cell.",
                    "type": "ref",
                    "refType": "Borders"
                },
                {
                    "name": "textDirection",
                    "desc": "The direction of the text in the cell.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "TEXT_DIRECTION_UNSPECIFIED",
                            "desc": "The text direction is not specified. Do not use this."
                        },
                        {
                            "name": "LEFT_TO_RIGHT",
                            "desc": "The text direction of left-to-right was set by the user."
                        },
                        {
                            "name": "RIGHT_TO_LEFT",
                            "desc": "The text direction of right-to-left was set by the user."
                        }
                    ]
                },
                {
                    "name": "textRotation",
                    "desc": "The rotation applied to text in a cell",
                    "type": "ref",
                    "refType": "TextRotation"
                },
                {
                    "name": "numberFormat",
                    "desc": "A format describing how number values should be represented to the user.",
                    "type": "ref",
                    "refType": "NumberFormat"
                },
                {
                    "name": "horizontalAlignment",
                    "desc": "The horizontal alignment of the value in the cell.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "HORIZONTAL_ALIGN_UNSPECIFIED",
                            "desc": "The horizontal alignment is not specified. Do not use this."
                        },
                        {
                            "name": "LEFT",
                            "desc": "The text is explicitly aligned to the left of the cell."
                        },
                        {
                            "name": "CENTER",
                            "desc": "The text is explicitly aligned to the center of the cell."
                        },
                        {
                            "name": "RIGHT",
                            "desc": "The text is explicitly aligned to the right of the cell."
                        }
                    ]
                }
            ]
        },
        {
            "name": "Spreadsheet",
            "desc": "Resource that represents a spreadsheet.",
            "type": "object",
            "fields": [
                {
                    "name": "properties",
                    "desc": "Overall properties of a spreadsheet.",
                    "type": "ref",
                    "refType": "SpreadsheetProperties"
                },
                {
                    "name": "spreadsheetId",
                    "desc": "The ID of the spreadsheet.\nThis field is read-only.",
                    "type": "string"
                },
                {
                    "name": "sheets",
                    "desc": "The sheets that are part of a spreadsheet.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Sheet"
                },
                {
                    "name": "namedRanges",
                    "desc": "The named ranges defined in a spreadsheet.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "NamedRange"
                },
                {
                    "name": "spreadsheetUrl",
                    "desc": "The url of the spreadsheet.\nThis field is read-only.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DeleteRangeRequest",
            "desc": "Deletes a range of cells, shifting other cells into the deleted area.",
            "type": "object",
            "fields": [
                {
                    "name": "shiftDimension",
                    "desc": "The dimension from which deleted cells will be replaced with.\nIf ROWS, existing cells will be shifted upward to\nreplace the deleted cells. If COLUMNS, existing cells\nwill be shifted left to replace the deleted cells.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "DIMENSION_UNSPECIFIED",
                            "desc": "The default value, do not use."
                        },
                        {
                            "name": "ROWS",
                            "desc": "Operates on the rows of a sheet."
                        },
                        {
                            "name": "COLUMNS",
                            "desc": "Operates on the columns of a sheet."
                        }
                    ]
                },
                {
                    "name": "range",
                    "desc": "The range of cells to delete.",
                    "type": "ref",
                    "refType": "GridRange"
                }
            ]
        },
        {
            "name": "GridProperties",
            "desc": "Properties of a grid.",
            "type": "object",
            "fields": [
                {
                    "name": "frozenColumnCount",
                    "desc": "The number of columns that are frozen in the grid.",
                    "type": "int32"
                },
                {
                    "name": "rowCount",
                    "desc": "The number of rows in the grid.",
                    "type": "int32"
                },
                {
                    "name": "frozenRowCount",
                    "desc": "The number of rows that are frozen in the grid.",
                    "type": "int32"
                },
                {
                    "name": "hideGridlines",
                    "desc": "True if the grid isn't showing gridlines in the UI.",
                    "type": "bool"
                },
                {
                    "name": "columnCount",
                    "desc": "The number of columns in the grid.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "PieChartSpec",
            "desc": "A \u003ca href=\"/chart/interactive/docs/gallery/piechart\"\u003epie chart\u003c/a\u003e.",
            "type": "object",
            "fields": [
                {
                    "name": "legendPosition",
                    "desc": "Where the legend of the pie chart should be drawn.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PIE_CHART_LEGEND_POSITION_UNSPECIFIED",
                            "desc": "Default value, do not use."
                        },
                        {
                            "name": "BOTTOM_LEGEND",
                            "desc": "The legend is rendered on the bottom of the chart."
                        },
                        {
                            "name": "LEFT_LEGEND",
                            "desc": "The legend is rendered on the left of the chart."
                        },
                        {
                            "name": "RIGHT_LEGEND",
                            "desc": "The legend is rendered on the right of the chart."
                        },
                        {
                            "name": "TOP_LEGEND",
                            "desc": "The legend is rendered on the top of the chart."
                        },
                        {
                            "name": "NO_LEGEND",
                            "desc": "No legend is rendered."
                        },
                        {
                            "name": "LABELED_LEGEND",
                            "desc": "Each pie slice has a label attached to it."
                        }
                    ]
                },
                {
                    "name": "pieHole",
                    "desc": "The size of the hole in the pie chart.",
                    "type": "float64"
                },
                {
                    "name": "domain",
                    "desc": "The data that covers the domain of the pie chart.",
                    "type": "ref",
                    "refType": "ChartData"
                },
                {
                    "name": "threeDimensional",
                    "desc": "True if the pie is three dimensional.",
                    "type": "bool"
                },
                {
                    "name": "series",
                    "desc": "The data that covers the one and only series of the pie chart.",
                    "type": "ref",
                    "refType": "ChartData"
                }
            ]
        },
        {
            "name": "Request",
            "desc": "A single kind of update to apply to a spreadsheet.",
            "type": "object",
            "fields": [
                {
                    "name": "updateProtectedRange",
                    "desc": "Updates a protected range.",
                    "type": "ref",
                    "refType": "UpdateProtectedRangeRequest"
                },
                {
                    "name": "deleteEmbeddedObject",
                    "desc": "Deletes an embedded object (e.g, chart, image) in a sheet.",
                    "type": "ref",
                    "refType": "DeleteEmbeddedObjectRequest"
                },
                {
                    "name": "cutPaste",
                    "desc": "Cuts data from one area and pastes it to another.",
                    "type": "ref",
                    "refType": "CutPasteRequest"
                },
                {
                    "name": "mergeCells",
                    "desc": "Merges cells together.",
                    "type": "ref",
                    "refType": "MergeCellsRequest"
                },
                {
                    "name": "addChart",
                    "desc": "Adds a chart.",
                    "type": "ref",
                    "refType": "AddChartRequest"
                },
                {
                    "name": "insertDimension",
                    "desc": "Inserts new rows or columns in a sheet.",
                    "type": "ref",
                    "refType": "InsertDimensionRequest"
                },
                {
                    "name": "updateBorders",
                    "desc": "Updates the borders in a range of cells.",
                    "type": "ref",
                    "refType": "UpdateBordersRequest"
                },
                {
                    "name": "repeatCell",
                    "desc": "Repeats a single cell across a range.",
                    "type": "ref",
                    "refType": "RepeatCellRequest"
                },
                {
                    "name": "updateSpreadsheetProperties",
                    "desc": "Updates the spreadsheet's properties.",
                    "type": "ref",
                    "refType": "UpdateSpreadsheetPropertiesRequest"
                },
                {
                    "name": "appendCells",
                    "desc": "Appends cells after the last row with data in a sheet.",
                    "type": "ref",
                    "refType": "AppendCellsRequest"
                },
                {
                    "name": "appendDimension",
                    "desc": "Appends dimensions to the end of a sheet.",
                    "type": "ref",
                    "refType": "AppendDimensionRequest"
                },
                {
                    "name": "updateConditionalFormatRule",
                    "desc": "Updates an existing conditional format rule.",
                    "type": "ref",
                    "refType": "UpdateConditionalFormatRuleRequest"
                },
                {
                    "name": "insertRange",
                    "desc": "Inserts new cells in a sheet, shifting the existing cells.",
                    "type": "ref",
                    "refType": "InsertRangeRequest"
                },
                {
                    "name": "deleteNamedRange",
                    "desc": "Deletes a named range.",
                    "type": "ref",
                    "refType": "DeleteNamedRangeRequest"
                },
                {
                    "name": "updateSheetProperties",
                    "desc": "Updates a sheet's properties.",
                    "type": "ref",
                    "refType": "UpdateSheetPropertiesRequest"
                },
                {
                    "name": "deleteDimension",
                    "desc": "Deletes rows or columns in a sheet.",
                    "type": "ref",
                    "refType": "DeleteDimensionRequest"
                },
                {
                    "name": "findReplace",
                    "desc": "Finds and replaces occurrences of some text with other text.",
                    "type": "ref",
                    "refType": "FindReplaceRequest"
                },
                {
                    "name": "deleteBanding",
                    "desc": "Removes a banded range",
                    "type": "ref",
                    "refType": "DeleteBandingRequest"
                },
                {
                    "name": "deleteConditionalFormatRule",
                    "desc": "Deletes an existing conditional format rule.",
                    "type": "ref",
                    "refType": "DeleteConditionalFormatRuleRequest"
                },
                {
                    "name": "unmergeCells",
                    "desc": "Unmerges merged cells.",
                    "type": "ref",
                    "refType": "UnmergeCellsRequest"
                },
                {
                    "name": "updateEmbeddedObjectPosition",
                    "desc": "Updates an embedded object's (e.g. chart, image) position.",
                    "type": "ref",
                    "refType": "UpdateEmbeddedObjectPositionRequest"
                },
                {
                    "name": "addFilterView",
                    "desc": "Adds a filter view.",
                    "type": "ref",
                    "refType": "AddFilterViewRequest"
                },
                {
                    "name": "setDataValidation",
                    "desc": "Sets data validation for one or more cells.",
                    "type": "ref",
                    "refType": "SetDataValidationRequest"
                },
                {
                    "name": "updateDimensionProperties",
                    "desc": "Updates dimensions' properties.",
                    "type": "ref",
                    "refType": "UpdateDimensionPropertiesRequest"
                },
                {
                    "name": "addBanding",
                    "desc": "Adds a new banded range",
                    "type": "ref",
                    "refType": "AddBandingRequest"
                },
                {
                    "name": "sortRange",
                    "desc": "Sorts data in a range.",
                    "type": "ref",
                    "refType": "SortRangeRequest"
                },
                {
                    "name": "updateChartSpec",
                    "desc": "Updates a chart's specifications.",
                    "type": "ref",
                    "refType": "UpdateChartSpecRequest"
                },
                {
                    "name": "deleteFilterView",
                    "desc": "Deletes a filter view from a sheet.",
                    "type": "ref",
                    "refType": "DeleteFilterViewRequest"
                },
                {
                    "name": "copyPaste",
                    "desc": "Copies data from one area and pastes it to another.",
                    "type": "ref",
                    "refType": "CopyPasteRequest"
                },
                {
                    "name": "deleteRange",
                    "desc": "Deletes a range of cells from a sheet, shifting the remaining cells.",
                    "type": "ref",
                    "refType": "DeleteRangeRequest"
                },
                {
                    "name": "autoFill",
                    "desc": "Automatically fills in more data based on existing data.",
                    "type": "ref",
                    "refType": "AutoFillRequest"
                },
                {
                    "name": "deleteProtectedRange",
                    "desc": "Deletes a protected range.",
                    "type": "ref",
                    "refType": "DeleteProtectedRangeRequest"
[...]
