{
    "kind": "discovery#restDescription",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/ZVmFdnLF1wl1tbPEde-ue9gzlvc\"",
    "discoveryVersion": "v1",
    "id": "prediction:v1.3",
    "name": "prediction",
    "version": "v1.3",
    "title": "Prediction API",
    "description": "Lets you access a cloud hosted machine learning service that makes it easy to build smart apps",
    "documentationLink": "https://developers.google.com/prediction/docs/developer-guide",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/prediction"
        ]
    },
    "parameters": [
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Update",
            "type": "object",
            "fields": [
                {
                    "name": "classLabel",
                    "desc": "The true class label of this instance",
                    "type": "string"
                },
                {
                    "name": "csvInstance",
                    "desc": "The input features for this instance",
                    "collection": "array",
                    "type": "any"
                }
            ]
        },
        {
            "name": "Input",
            "type": "object",
            "fields": [
                {
                    "name": "input",
                    "desc": "Input to the model for a prediction",
                    "type": "object",
                    "fields": [
                        {
                            "name": "csvInstance",
                            "desc": "A list of input features, these can be strings or doubles.",
                            "collection": "array",
                            "type": "any"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Output",
            "type": "object",
            "fields": [
                {
                    "name": "outputValue",
                    "desc": "The estimated regression value [Regression models only].",
                    "type": "float64"
                },
                {
                    "name": "selfLink",
                    "desc": "A URL to re-request this resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The unique name for the predictive model.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "What kind of resource this is.",
                    "type": "string",
                    "default": "prediction#output"
                },
                {
                    "name": "outputLabel",
                    "desc": "The most likely class [Categorical models only].",
                    "type": "string"
                },
                {
                    "name": "outputMulti",
                    "desc": "A list of classes with their estimated probabilities [Categorical models only].",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "label",
                            "desc": "The class label.",
                            "type": "string"
                        },
                        {
                            "name": "score",
                            "desc": "The probability of the class.",
                            "type": "float64"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Training",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The unique name for the predictive model.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "What kind of resource this is.",
                    "type": "string",
                    "default": "prediction#training"
                },
                {
                    "name": "modelInfo",
                    "desc": "Model metadata.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "numberClasses",
                            "desc": "Number of classes in the trained model [Categorical models only].",
                            "type": "int64"
                        },
                        {
                            "name": "numberInstances",
                            "desc": "Number of valid data instances used in the trained model.",
                            "type": "int64"
                        },
                        {
                            "name": "classWeightedAccuracy",
                            "desc": "Estimated accuracy of model taking utility weights into account [Categorical models only].",
                            "type": "float64"
                        },
                        {
                            "name": "classificationAccuracy",
                            "desc": "A number between 0.0 and 1.0, where 1.0 is 100% accurate. This is an estimate, based on the amount and quality of the training data, of the estimated prediction accuracy. You can use this is a guide to decide whether the results are accurate enough for your needs. This estimate will be more reliable if your real input data is similar to your training data [Categorical models only].",
                            "type": "float64"
                        },
                        {
                            "name": "confusionMatrix",
                            "desc": "An output confusion matrix. This shows an estimate for how this model will do in predictions. This is first indexed by the true class label. For each true class label, this provides a pair {predicted_label, count}, where count is the estimated number of times the model will predict the predicted label given the true label. Will not output if more then 100 classes [Categorical models only].",
                            "collection": "map",
                            "collectionItem": {
                                "desc": "The true class label.",
                                "collection": "map",
                                "type": "float64"
                            }
                        },
                        {
                            "name": "confusionMatrixRowTotals",
                            "desc": "A list of the confusion matrix row totals",
                            "collection": "map",
                            "type": "float64"
                        },
                        {
                            "name": "meanSquaredError",
                            "desc": "An estimated mean squared error. The can be used to measure the quality of the predicted model [Regression models only].",
                            "type": "float64"
                        },
                        {
                            "name": "modelType",
                            "desc": "Type of predictive model (CLASSIFICATION or REGRESSION)",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "A URL to re-request this resource.",
                    "type": "string"
                },
                {
                    "name": "trainingStatus",
                    "desc": "The current status of the training job. This can be one of following: RUNNING; DONE; ERROR; ERROR: TRAINING JOB NOT FOUND",
                    "type": "string"
                },
                {
                    "name": "utility",
                    "desc": "A class weighting function, which allows the importance weights for classes to be specified [Categorical models only].",
                    "collection": "array",
                    "collectionItem": {
                        "desc": "Class label (string).",
                        "collection": "map",
                        "type": "float64"
                    }
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "hostedmodels",
            "methods": [
                {
                    "name": "predict",
                    "desc": "Submit input and request an output against a hosted model",
                    "path": "hostedmodels/{hostedModelName}/predict",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "hostedModelName",
                            "desc": "The name of a hosted model",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Input",
                    "response": "Output"
                }
            ]
        },
        {
            "name": "training",
            "methods": [
                {
                    "name": "predict",
                    "desc": "Submit data and request a prediction",
                    "path": "training/{data}/predict",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "data",
                            "desc": "mybucket/mydata resource in Google Storage",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Input",
                    "response": "Output"
                },
                {
                    "name": "update",
                    "desc": "Add new data to a trained model",
                    "path": "training/{data}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "data",
                            "desc": "mybucket/mydata resource in Google Storage",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Update",
                    "response": "Training"
                },
                {
                    "name": "delete",
                    "desc": "Delete a trained model",
                    "path": "training/{data}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "data",
                            "desc": "mybucket/mydata resource in Google Storage",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Check training status of your model",
                    "path": "training/{data}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "data",
                            "desc": "mybucket/mydata resource in Google Storage",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Training"
                },
                {
                    "name": "insert",
                    "desc": "Begin training your model",
                    "path": "training",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "request": "Training",
                    "response": "Training"
                }
            ]
        }
    ]
}