{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "safebrowsing:v4",
    "name": "safebrowsing",
    "version": "v4",
    "title": "Google Safe Browsing API",
    "description": "The Safe Browsing API is an experimental API that allows client applications to check URLs against Google's constantly-updated blacklists of suspected phishing and malware pages. Your client application can use the API to download an encrypted table for local, client-side lookups of URLs.",
    "documentationLink": "https://developers.google.com/safe-browsing/",
    "protocol": "rest",
    "rootUrl": "https://safebrowsing.googleapis.com/",
    "auth": {},
    "parameters": [
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Checksum",
            "desc": "The expected state of a client's local database.",
            "type": "object",
            "fields": [
                {
                    "name": "sha256",
                    "desc": "The SHA256 hash of the client state; that is, of the sorted list of all\nhashes present in the database.",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "FetchThreatListUpdatesRequest",
            "desc": "Describes a Safe Browsing API update request. Clients can request updates for\nmultiple lists in a single request.\nNOTE: Field index 2 is unused.\nNEXT: 5",
            "type": "object",
            "fields": [
                {
                    "name": "client",
                    "desc": "The client metadata.",
                    "type": "ref",
                    "refType": "ClientInfo"
                },
                {
                    "name": "listUpdateRequests",
                    "desc": "The requested threat list updates.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ListUpdateRequest"
                }
            ]
        },
        {
            "name": "ListUpdateResponse",
            "desc": "An update to an individual list.",
            "type": "object",
            "fields": [
                {
                    "name": "additions",
                    "desc": "A set of entries to add to a local threat type's list. Repeated to allow\nfor a combination of compressed and raw data to be sent in a single\nresponse.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThreatEntrySet"
                },
                {
                    "name": "checksum",
                    "desc": "The expected SHA256 hash of the client state; that is, of the sorted list\nof all hashes present in the database after applying the provided update.\nIf the client state doesn't match the expected state, the client must\ndisregard this update and retry later.",
                    "type": "ref",
                    "refType": "Checksum"
                },
                {
                    "name": "responseType",
                    "desc": "The type of response. This may indicate that an action is required by the\nclient when the response is received.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "RESPONSE_TYPE_UNSPECIFIED",
                            "desc": "Unknown."
                        },
                        {
                            "name": "PARTIAL_UPDATE",
                            "desc": "Partial updates are applied to the client's existing local database."
                        },
                        {
                            "name": "FULL_UPDATE",
                            "desc": "Full updates replace the client's entire local database. This means\nthat either the client was seriously out-of-date or the client is\nbelieved to be corrupt."
                        }
                    ]
                },
                {
                    "name": "threatType",
                    "desc": "The threat type for which data is returned.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "THREAT_TYPE_UNSPECIFIED",
                            "desc": "Unknown."
                        },
                        {
                            "name": "MALWARE",
                            "desc": "Malware threat type."
                        },
                        {
                            "name": "SOCIAL_ENGINEERING",
                            "desc": "Social engineering threat type."
                        },
                        {
                            "name": "UNWANTED_SOFTWARE",
                            "desc": "Unwanted software threat type."
                        },
                        {
                            "name": "POTENTIALLY_HARMFUL_APPLICATION",
                            "desc": "Potentially harmful application threat type."
                        }
                    ]
                },
                {
                    "name": "removals",
                    "desc": "A set of entries to remove from a local threat type's list. In practice,\nthis field is empty or contains exactly one ThreatEntrySet.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThreatEntrySet"
                },
                {
                    "name": "newClientState",
                    "desc": "The new client state, in encrypted format. Opaque to clients.",
                    "type": "byte"
                },
                {
                    "name": "platformType",
                    "desc": "The platform type for which data is returned.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PLATFORM_TYPE_UNSPECIFIED",
                            "desc": "Unknown platform."
                        },
                        {
                            "name": "WINDOWS",
                            "desc": "Threat posed to Windows."
                        },
                        {
                            "name": "LINUX",
                            "desc": "Threat posed to Linux."
                        },
                        {
                            "name": "ANDROID",
                            "desc": "Threat posed to Android."
                        },
                        {
                            "name": "OSX",
                            "desc": "Threat posed to OS X."
                        },
                        {
                            "name": "IOS",
                            "desc": "Threat posed to iOS."
                        },
                        {
                            "name": "ANY_PLATFORM",
                            "desc": "Threat posed to at least one of the defined platforms."
                        },
                        {
                            "name": "ALL_PLATFORMS",
                            "desc": "Threat posed to all defined platforms."
                        },
                        {
                            "name": "CHROME",
                            "desc": "Threat posed to Chrome."
                        }
                    ]
                },
                {
                    "name": "threatEntryType",
                    "desc": "The format of the threats.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "THREAT_ENTRY_TYPE_UNSPECIFIED",
                            "desc": "Unspecified."
                        },
                        {
                            "name": "URL",
                            "desc": "A URL."
                        },
                        {
                            "name": "EXECUTABLE",
                            "desc": "An executable program."
                        },
                        {
                            "name": "IP_RANGE",
                            "desc": "An IP range."
                        },
                        {
                            "name": "CHROME_EXTENSION",
                            "desc": "Chrome extension."
                        },
                        {
                            "name": "FILENAME",
                            "desc": "Filename."
                        },
                        {
                            "name": "CERT",
                            "desc": "CERT"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ThreatMatch",
            "desc": "A match when checking a threat entry in the Safe Browsing threat lists.",
            "type": "object",
            "fields": [
                {
                    "name": "cacheDuration",
                    "desc": "The cache lifetime for the returned match. Clients must not cache this\nresponse for more than this duration to avoid false positives.",
                    "type": "string"
                },
                {
                    "name": "threatType",
                    "desc": "The threat type matching this threat.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "THREAT_TYPE_UNSPECIFIED",
                            "desc": "Unknown."
                        },
                        {
                            "name": "MALWARE",
                            "desc": "Malware threat type."
                        },
                        {
                            "name": "SOCIAL_ENGINEERING",
                            "desc": "Social engineering threat type."
                        },
                        {
                            "name": "UNWANTED_SOFTWARE",
                            "desc": "Unwanted software threat type."
                        },
                        {
                            "name": "POTENTIALLY_HARMFUL_APPLICATION",
                            "desc": "Potentially harmful application threat type."
                        }
                    ]
                },
                {
                    "name": "threatEntryMetadata",
                    "desc": "Optional metadata associated with this threat.",
                    "type": "ref",
                    "refType": "ThreatEntryMetadata"
                },
                {
                    "name": "threat",
                    "desc": "The threat matching this threat.",
                    "type": "ref",
                    "refType": "ThreatEntry"
                },
                {
                    "name": "platformType",
                    "desc": "The platform type matching this threat.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PLATFORM_TYPE_UNSPECIFIED",
                            "desc": "Unknown platform."
                        },
                        {
                            "name": "WINDOWS",
                            "desc": "Threat posed to Windows."
                        },
                        {
                            "name": "LINUX",
                            "desc": "Threat posed to Linux."
                        },
                        {
                            "name": "ANDROID",
                            "desc": "Threat posed to Android."
                        },
                        {
                            "name": "OSX",
                            "desc": "Threat posed to OS X."
                        },
                        {
                            "name": "IOS",
                            "desc": "Threat posed to iOS."
                        },
                        {
                            "name": "ANY_PLATFORM",
                            "desc": "Threat posed to at least one of the defined platforms."
                        },
                        {
                            "name": "ALL_PLATFORMS",
                            "desc": "Threat posed to all defined platforms."
                        },
                        {
                            "name": "CHROME",
                            "desc": "Threat posed to Chrome."
                        }
                    ]
                },
                {
                    "name": "threatEntryType",
                    "desc": "The threat entry type matching this threat.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "THREAT_ENTRY_TYPE_UNSPECIFIED",
                            "desc": "Unspecified."
                        },
                        {
                            "name": "URL",
                            "desc": "A URL."
                        },
                        {
                            "name": "EXECUTABLE",
                            "desc": "An executable program."
                        },
                        {
                            "name": "IP_RANGE",
                            "desc": "An IP range."
                        },
                        {
                            "name": "CHROME_EXTENSION",
                            "desc": "Chrome extension."
                        },
                        {
                            "name": "FILENAME",
                            "desc": "Filename."
                        },
                        {
                            "name": "CERT",
                            "desc": "CERT"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ThreatEntry",
            "desc": "An individual threat; for example, a malicious URL or its hash\nrepresentation. Only one of these fields should be set.",
            "type": "object",
            "fields": [
                {
                    "name": "hash",
                    "desc": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256\nhash. This field is in binary format. For JSON requests, hashes are\nbase64-encoded.",
                    "type": "byte"
                },
                {
                    "name": "url",
                    "desc": "A URL.",
                    "type": "string"
                },
                {
                    "name": "digest",
                    "desc": "The digest of an executable in SHA256 format. The API supports both\nbinary and hex digests. For JSON requests, digests are base64-encoded.",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "ThreatEntryMetadata",
            "desc": "The metadata associated with a specific threat entry. The client is expected\nto know the metadata key/value pairs associated with each threat type.",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The metadata entries.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MetadataEntry"
                }
            ]
        },
        {
            "name": "FetchThreatListUpdatesResponse",
            "type": "object",
            "fields": [
                {
                    "name": "listUpdateResponses",
                    "desc": "The list updates requested by the clients.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ListUpdateResponse"
                },
                {
                    "name": "minimumWaitDuration",
                    "desc": "The minimum duration the client must wait before issuing any update\nrequest. If this field is not set clients may update as soon as they want.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListUpdateRequest",
            "desc": "A single list update request.",
            "type": "object",
            "fields": [
                {
                    "name": "platformType",
                    "desc": "The type of platform at risk by entries present in the list.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PLATFORM_TYPE_UNSPECIFIED",
                            "desc": "Unknown platform."
                        },
                        {
                            "name": "WINDOWS",
                            "desc": "Threat posed to Windows."
                        },
                        {
                            "name": "LINUX",
                            "desc": "Threat posed to Linux."
                        },
                        {
                            "name": "ANDROID",
                            "desc": "Threat posed to Android."
                        },
                        {
                            "name": "OSX",
                            "desc": "Threat posed to OS X."
                        },
                        {
                            "name": "IOS",
                            "desc": "Threat posed to iOS."
                        },
                        {
                            "name": "ANY_PLATFORM",
                            "desc": "Threat posed to at least one of the defined platforms."
                        },
                        {
                            "name": "ALL_PLATFORMS",
                            "desc": "Threat posed to all defined platforms."
                        },
                        {
                            "name": "CHROME",
                            "desc": "Threat posed to Chrome."
                        }
                    ]
                },
                {
                    "name": "threatType",
                    "desc": "The type of threat posed by entries present in the list.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "THREAT_TYPE_UNSPECIFIED",
                            "desc": "Unknown."
                        },
                        {
                            "name": "MALWARE",
                            "desc": "Malware threat type."
                        },
                        {
                            "name": "SOCIAL_ENGINEERING",
                            "desc": "Social engineering threat type."
                        },
                        {
                            "name": "UNWANTED_SOFTWARE",
                            "desc": "Unwanted software threat type."
                        },
                        {
                            "name": "POTENTIALLY_HARMFUL_APPLICATION",
                            "desc": "Potentially harmful application threat type."
                        }
                    ]
                },
                {
                    "name": "constraints",
                    "desc": "The constraints associated with this request.",
                    "type": "ref",
                    "refType": "Constraints"
                },
                {
                    "name": "threatEntryType",
                    "desc": "The types of entries present in the list.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "THREAT_ENTRY_TYPE_UNSPECIFIED",
                            "desc": "Unspecified."
                        },
                        {
                            "name": "URL",
                            "desc": "A URL."
                        },
                        {
                            "name": "EXECUTABLE",
                            "desc": "An executable program."
                        },
                        {
                            "name": "IP_RANGE",
                            "desc": "An IP range."
                        },
                        {
                            "name": "CHROME_EXTENSION",
                            "desc": "Chrome extension."
                        },
                        {
                            "name": "FILENAME",
                            "desc": "Filename."
                        },
                        {
                            "name": "CERT",
                            "desc": "CERT"
                        }
                    ]
                },
                {
                    "name": "state",
                    "desc": "The current state of the client for the requested list (the encrypted\nclient state that was received from the last successful list update).",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "ListThreatListsResponse",
            "type": "object",
            "fields": [
                {
                    "name": "threatLists",
                    "desc": "The lists available for download by the client.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThreatListDescriptor"
                }
            ]
        },
        {
            "name": "ThreatInfo",
            "desc": "The information regarding one or more threats that a client submits when\nchecking for matches in threat lists.",
            "type": "object",
            "fields": [
                {
                    "name": "threatTypes",
                    "desc": "The threat types to be checked.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "platformTypes",
                    "desc": "The platform types to be checked.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "threatEntries",
                    "desc": "The threat entries to be checked.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThreatEntry"
                },
                {
                    "name": "threatEntryTypes",
                    "desc": "The entry types to be checked.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FindFullHashesResponse",
            "type": "object",
            "fields": [
                {
                    "name": "matches",
                    "desc": "The full hashes that matched the requested prefixes.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThreatMatch"
                },
                {
                    "name": "negativeCacheDuration",
                    "desc": "For requested entities that did not match the threat list, how long to\ncache the response.",
                    "type": "string"
                },
                {
                    "name": "minimumWaitDuration",
                    "desc": "The minimum duration the client must wait before issuing any find hashes\nrequest. If this field is not set, clients can issue a request as soon as\nthey want.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FindThreatMatchesResponse",
            "type": "object",
            "fields": [
                {
                    "name": "matches",
                    "desc": "The threat list matches.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ThreatMatch"
                }
            ]
        },
        {
            "name": "ThreatListDescriptor",
            "desc": "Describes an individual threat list. A list is defined by three parameters:\nthe type of threat posed, the type of platform targeted by the threat, and\nthe type of entries in the list.",
            "type": "object",
            "fields": [
                {
                    "name": "platformType",
                    "desc": "The platform type targeted by the list's entries.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PLATFORM_TYPE_UNSPECIFIED",
                            "desc": "Unknown platform."
                        },
                        {
                            "name": "WINDOWS",
                            "desc": "Threat posed to Windows."
                        },
                        {
                            "name": "LINUX",
                            "desc": "Threat posed to Linux."
                        },
                        {
                            "name": "ANDROID",
                            "desc": "Threat posed to Android."
                        },
                        {
                            "name": "OSX",
                            "desc": "Threat posed to OS X."
                        },
                        {
                            "name": "IOS",
                            "desc": "Threat posed to iOS."
                        },
                        {
                            "name": "ANY_PLATFORM",
                            "desc": "Threat posed to at least one of the defined platforms."
                        },
                        {
                            "name": "ALL_PLATFORMS",
                            "desc": "Threat posed to all defined platforms."
                        },
                        {
                            "name": "CHROME",
                            "desc": "Threat posed to Chrome."
                        }
                    ]
                },
                {
                    "name": "threatType",
                    "desc": "The threat type posed by the list's entries.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "THREAT_TYPE_UNSPECIFIED",
                            "desc": "Unknown."
                        },
                        {
                            "name": "MALWARE",
                            "desc": "Malware threat type."
                        },
                        {
                            "name": "SOCIAL_ENGINEERING",
                            "desc": "Social engineering threat type."
                        },
                        {
                            "name": "UNWANTED_SOFTWARE",
                            "desc": "Unwanted software threat type."
                        },
                        {
                            "name": "POTENTIALLY_HARMFUL_APPLICATION",
                            "desc": "Potentially harmful application threat type."
                        }
                    ]
                },
                {
                    "name": "threatEntryType",
                    "desc": "The entry types contained in the list.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "THREAT_ENTRY_TYPE_UNSPECIFIED",
                            "desc": "Unspecified."
                        },
                        {
                            "name": "URL",
                            "desc": "A URL."
                        },
                        {
                            "name": "EXECUTABLE",
                            "desc": "An executable program."
                        },
                        {
                            "name": "IP_RANGE",
                            "desc": "An IP range."
                        },
                        {
                            "name": "CHROME_EXTENSION",
                            "desc": "Chrome extension."
                        },
                        {
                            "name": "FILENAME",
                            "desc": "Filename."
                        },
                        {
                            "name": "CERT",
                            "desc": "CERT"
                        }
                    ]
                }
            ]
        },
        {
            "name": "RawHashes",
            "desc": "The uncompressed threat entries in hash format of a particular prefix length.\nHashes can be anywhere from 4 to 32 bytes in size. A large majority are 4\nbytes, but some hashes are lengthened if they collide with the hash of a\npopular URL.\n\nUsed for sending ThreatEntrySet to clients that do not support compression,\nor when sending non-4-byte hashes to clients that do support compression.",
            "type": "object",
            "fields": [
                {
                    "name": "rawHashes",
                    "desc": "The hashes, in binary format, concatenated into one long string. Hashes are\nsorted in lexicographic order. For JSON API users, hashes are\nbase64-encoded.",
                    "type": "byte"
                },
                {
                    "name": "prefixSize",
                    "desc": "The number of bytes for each prefix encoded below.  This field can be\nanywhere from 4 (shortest prefix) to 32 (full SHA256 hash).",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ThreatEntrySet",
            "desc": "A set of threats that should be added or removed from a client's local\ndatabase.",
            "type": "object",
            "fields": [
                {
                    "name": "rawIndices",
                    "desc": "The raw removal indices for a local list.",
                    "type": "ref",
                    "refType": "RawIndices"
                },
                {
                    "name": "rawHashes",
                    "desc": "The raw SHA256-formatted entries.",
                    "type": "ref",
                    "refType": "RawHashes"
                },
                {
                    "name": "riceHashes",
                    "desc": "The encoded 4-byte prefixes of SHA256-formatted entries, using a\nGolomb-Rice encoding. The hashes are converted to uint32, sorted in\nascending order, then delta encoded and stored as encoded_data.",
                    "type": "ref",
                    "refType": "RiceDeltaEncoding"
                },
                {
                    "name": "compressionType",
                    "desc": "The compression type for the entries in this set.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "COMPRESSION_TYPE_UNSPECIFIED",
                            "desc": "Unknown."
                        },
                        {
                            "name": "RAW",
                            "desc": "Raw, uncompressed data."
                        },
                        {
                            "name": "RICE",
                            "desc": "Rice-Golomb encoded data."
                        }
                    ]
                },
                {
                    "name": "riceIndices",
                    "desc": "The encoded local, lexicographically-sorted list indices, using a\nGolomb-Rice encoding. Used for sending compressed removal indices. The\nremoval indices (uint32) are sorted in ascending order, then delta encoded\nand stored as encoded_data.",
                    "type": "ref",
                    "refType": "RiceDeltaEncoding"
                }
            ]
        },
        {
            "name": "FindThreatMatchesRequest",
            "desc": "Request to check entries against lists.",
            "type": "object",
            "fields": [
                {
                    "name": "client",
                    "desc": "The client metadata.",
                    "type": "ref",
                    "refType": "ClientInfo"
                },
                {
                    "name": "threatInfo",
                    "desc": "The lists and entries to be checked for matches.",
                    "type": "ref",
                    "refType": "ThreatInfo"
                }
            ]
        },
        {
            "name": "RawIndices",
            "desc": "A set of raw indices to remove from a local list.",
            "type": "object",
            "fields": [
                {
                    "name": "indices",
                    "desc": "The indices to remove from a lexicographically-sorted local list.",
                    "collection": "array",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "FindFullHashesRequest",
            "desc": "Request to return full hashes matched by the provided hash prefixes.",
            "type": "object",
            "fields": [
                {
                    "name": "client",
                    "desc": "The client metadata.",
                    "type": "ref",
                    "refType": "ClientInfo"
                },
                {
                    "name": "threatInfo",
                    "desc": "The lists and hashes to be checked.",
                    "type": "ref",
                    "refType": "ThreatInfo"
                },
                {
                    "name": "apiClient",
                    "desc": "Client metadata associated with callers of higher-level APIs built on top\nof the client's implementation.",
                    "type": "ref",
                    "refType": "ClientInfo"
                },
                {
                    "name": "clientStates",
                    "desc": "The current client states for each of the client's local threat lists.",
                    "collection": "array",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "Constraints",
            "desc": "The constraints for this update.",
            "type": "object",
            "fields": [
                {
                    "name": "maxDatabaseEntries",
                    "desc": "Sets the maximum number of entries that the client is willing to have\nin the local database. This should be a power of 2 between 2**10 and\n2**20. If zero, no database size limit is set.",
                    "type": "int32"
                },
                {
                    "name": "region",
                    "desc": "Requests the list for a specific geographic location. If not set the\nserver may pick that value based on the user's IP address. Expects ISO\n3166-1 alpha-2 format.",
                    "type": "string"
                },
                {
                    "name": "supportedCompressions",
                    "desc": "The compression types supported by the client.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "maxUpdateEntries",
                    "desc": "The maximum size in number of entries. The update will not contain more\nentries than this value.  This should be a power of 2 between 2**10 and\n2**20.  If zero, no update size limit is set.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "RiceDeltaEncoding",
            "desc": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or\ncompressed removal indices.",
            "type": "object",
            "fields": [
                {
                    "name": "encodedData",
                    "desc": "The encoded deltas that are encoded using the Golomb-Rice coder.",
                    "type": "byte"
                },
                {
                    "name": "numEntries",
                    "desc": "The number of entries that are delta encoded in the encoded data. If only a\nsingle integer was encoded, this will be zero and the single value will be\nstored in `first_value`.",
                    "type": "int32"
                },
                {
                    "name": "riceParameter",
                    "desc": "The Golomb-Rice parameter, which is a number between 2 and 28. This field\nis missing (that is, zero) if `num_entries` is zero.",
                    "type": "int32"
                },
                {
                    "name": "firstValue",
                    "desc": "The offset of the first entry in the encoded data, or, if only a single\ninteger was encoded, that single integer's value.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "MetadataEntry",
            "desc": "A single metadata entry.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The metadata entry value. For JSON requests, the value is base64-encoded.",
                    "type": "byte"
                },
                {
                    "name": "key",
                    "desc": "The metadata entry key. For JSON requests, the key is base64-encoded.",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "ClientInfo",
            "desc": "The client metadata associated with Safe Browsing API requests.",
            "type": "object",
            "fields": [
                {
                    "name": "clientId",
                    "desc": "A client ID that (hopefully) uniquely identifies the client implementation\nof the Safe Browsing API.",
                    "type": "string"
                },
                {
                    "name": "clientVersion",
                    "desc": "The version of the client implementation.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "threatListUpdates",
            "methods": [
                {
                    "name": "fetch",
                    "desc": "Fetches the most recent threat list updates. A client can request updates\nfor multiple lists at once.",
                    "path": "v4/threatListUpdates:fetch",
                    "httpMethod": "POST",
                    "request": "FetchThreatListUpdatesRequest",
                    "response": "FetchThreatListUpdatesResponse"
                }
            ]
        },
        {
            "name": "encodedFullHashes",
            "methods": [
                {
                    "name": "get",
                    "path": "v4/encodedFullHashes/{encodedRequest}",
                    "httpMethod": "GET",
                    "pathParams": [
                        {
                            "name": "encodedRequest",
                            "desc": "A serialized FindFullHashesRequest proto.",
                            "required": true,
                            "type": "byte"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "clientId",
                            "desc": "A client ID that (hopefully) uniquely identifies the client implementation\nof the Safe Browsing API.",
                            "type": "string"
                        },
                        {
                            "name": "clientVersion",
                            "desc": "The version of the client implementation.",
                            "type": "string"
                        }
                    ],
                    "response": "FindFullHashesResponse"
                }
            ]
        },
        {
            "name": "threatLists",
            "methods": [
                {
                    "name": "list",
                    "desc": "Lists the Safe Browsing threat lists available for download.",
                    "path": "v4/threatLists",
                    "httpMethod": "GET",
                    "response": "ListThreatListsResponse"
                }
            ]
        },
        {
            "name": "threatMatches",
            "methods": [
                {
                    "name": "find",
                    "desc": "Finds the threat entries that match the Safe Browsing lists.",
                    "path": "v4/threatMatches:find",
                    "httpMethod": "POST",
                    "request": "FindThreatMatchesRequest",
                    "response": "FindThreatMatchesResponse"
                }
            ]
        },
        {
            "name": "fullHashes",
            "methods": [
                {
                    "name": "find",
                    "desc": "Finds the full hashes that match the requested hash prefixes.",
                    "path": "v4/fullHashes:find",
                    "httpMethod": "POST",
                    "request": "FindFullHashesRequest",
                    "response": "FindFullHashesResponse"
                }
            ]
        },
        {
            "name": "encodedUpdates",
            "methods": [
                {
                    "name": "get",
                    "path": "v4/encodedUpdates/{encodedRequest}",
                    "httpMethod": "GET",
                    "pathParams": [
                        {
                            "name": "encodedRequest",
                            "desc": "A serialized FetchThreatListUpdatesRequest proto.",
                            "required": true,
                            "type": "byte"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "clientVersion",
                            "desc": "The version of the client implementation.",
                            "type": "string"
                        },
                        {
                            "name": "clientId",
                            "desc": "A client ID that uniquely identifies the client implementation of the Safe\nBrowsing API.",
                            "type": "string"
                        }
                    ],
                    "response": "FetchThreatListUpdatesResponse"
                }
            ]
        }
    ]
}