{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/XZ8FPmt5VRZnJqZoZVRr98B87Wg\"",
    "discoveryVersion": "v1",
    "id": "games:v1",
    "name": "games",
    "version": "v1",
    "title": "Google Play Game Services API",
    "description": "The API for Google Play Game Services.",
    "documentationLink": "https://developers.google.com/games/services/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "games/v1/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games",
            "https://www.googleapis.com/auth/plus.login"
        ]
    },
    "parameters": [
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "RoomAutoMatchingCriteria",
            "desc": "This is a JSON template for a room auto-match criteria object.",
            "type": "object",
            "fields": [
                {
                    "name": "minAutoMatchingPlayers",
                    "desc": "The minimum number of players that should be added to the room by auto-matching.",
                    "type": "int32"
                },
                {
                    "name": "exclusiveBitmask",
                    "desc": "A bitmask indicating when auto-matches are valid. When ANDed with other exclusive bitmasks, the result must be zero. Can be used to support exclusive roles within a game.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomAutoMatchingCriteria.",
                    "type": "string",
                    "default": "games#roomAutoMatchingCriteria"
                },
                {
                    "name": "maxAutoMatchingPlayers",
                    "desc": "The maximum number of players that should be added to the room by auto-matching.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "RoomClientAddress",
            "desc": "This is a JSON template for the client address when setting up a room.",
            "type": "object",
            "fields": [
                {
                    "name": "xmppAddress",
                    "desc": "The XMPP address of the client on the Google Games XMPP network.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomClientAddress.",
                    "type": "string",
                    "default": "games#roomClientAddress"
                }
            ]
        },
        {
            "name": "TurnBasedAutoMatchingCriteria",
            "desc": "This is a JSON template for an turn-based auto-match criteria object.",
            "type": "object",
            "fields": [
                {
                    "name": "maxAutoMatchingPlayers",
                    "desc": "The maximum number of players that should be added to the match by auto-matching.",
                    "type": "int32"
                },
                {
                    "name": "minAutoMatchingPlayers",
                    "desc": "The minimum number of players that should be added to the match by auto-matching.",
                    "type": "int32"
                },
                {
                    "name": "exclusiveBitmask",
                    "desc": "A bitmask indicating when auto-matches are valid. When ANDed with other exclusive bitmasks, the result must be zero. Can be used to support exclusive roles within a game.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedAutoMatchingCriteria.",
                    "type": "string",
                    "default": "games#turnBasedAutoMatchingCriteria"
                }
            ]
        },
        {
            "name": "ApplicationCategory",
            "desc": "This is a JSON template for an application category object.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#applicationCategory.",
                    "type": "string",
                    "default": "games#applicationCategory"
                },
                {
                    "name": "primary",
                    "desc": "The primary category.",
                    "type": "string"
                },
                {
                    "name": "secondary",
                    "desc": "The secondary category.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InstanceWebDetails",
            "desc": "This is a JSON template for the Web details resource.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#instanceWebDetails.",
                    "type": "string",
                    "default": "games#instanceWebDetails"
                },
                {
                    "name": "launchUrl",
                    "desc": "Launch URL for the game.",
                    "type": "string"
                },
                {
                    "name": "preferred",
                    "desc": "Indicates that this instance is the default for new installations.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "PlayerScoreListResponse",
            "desc": "This is a JSON template for a list of score submission statuses.",
            "type": "object",
            "fields": [
                {
                    "name": "submittedScores",
                    "desc": "The score submissions statuses.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerScoreResponse"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerScoreListResponse.",
                    "type": "string",
                    "default": "games#playerScoreListResponse"
                }
            ]
        },
        {
            "name": "Quest",
            "desc": "This is a JSON template for a Quest resource.",
            "type": "object",
            "fields": [
                {
                    "name": "bannerUrl",
                    "desc": "The banner image URL for the quest.",
                    "type": "string"
                },
                {
                    "name": "endTimestampMillis",
                    "desc": "The timestamp at which the quest ceases to be active in milliseconds since the epoch in UTC.",
                    "type": "int64"
                },
                {
                    "name": "lastUpdatedTimestampMillis",
                    "desc": "The timestamp at which the quest was last updated by the user in milliseconds since the epoch in UTC. Only present if the player has accepted the quest.",
                    "type": "int64"
                },
                {
                    "name": "notifyTimestampMillis",
                    "desc": "The timestamp at which the user should be notified that the quest will end soon in milliseconds since the epoch in UTC.",
                    "type": "int64"
                },
                {
                    "name": "startTimestampMillis",
                    "desc": "The timestamp at which the quest becomes active in milliseconds since the epoch in UTC.",
                    "type": "int64"
                },
                {
                    "name": "acceptedTimestampMillis",
                    "desc": "The timestamp at which the user accepted the quest in milliseconds since the epoch in UTC. Only present if the player has accepted the quest.",
                    "type": "int64"
                },
                {
                    "name": "iconUrl",
                    "desc": "The icon image URL for the quest.",
                    "type": "string"
                },
                {
                    "name": "milestones",
                    "desc": "The quest milestones.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "QuestMilestone"
                },
                {
                    "name": "name",
                    "desc": "The name of the quest.",
                    "type": "string"
                },
                {
                    "name": "applicationId",
                    "desc": "The ID of the application this quest is part of.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The description of the quest.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the quest.",
                    "type": "string"
                },
                {
                    "name": "isDefaultBannerUrl",
                    "desc": "Indicates whether the banner image being returned is a default image, or is game-provided.",
                    "type": "bool"
                },
                {
                    "name": "isDefaultIconUrl",
                    "desc": "Indicates whether the icon image being returned is a default image, or is game-provided.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#quest.",
                    "type": "string",
                    "default": "games#quest"
                },
                {
                    "name": "state",
                    "desc": "The state of the quest.\nPossible values are:  \n- \"UPCOMING\": The quest is upcoming. The user can see the quest, but cannot accept it until it is open. \n- \"OPEN\": The quest is currently open and may be accepted at this time. \n- \"ACCEPTED\": The user is currently participating in this quest. \n- \"COMPLETED\": The user has completed the quest. \n- \"FAILED\": The quest was attempted but was not completed before the deadline expired. \n- \"EXPIRED\": The quest has expired and was not accepted. \n- \"DELETED\": The quest should be deleted from the local database.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoomAutoMatchStatus",
            "desc": "This is a JSON template for status of room automatching that is in progress.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomAutoMatchStatus.",
                    "type": "string",
                    "default": "games#roomAutoMatchStatus"
                },
                {
                    "name": "waitEstimateSeconds",
                    "desc": "An estimate for the amount of time (in seconds) that auto-matching is expected to take to complete.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "RoomCreateRequest",
            "desc": "This is a JSON template for a room creation request.",
            "type": "object",
            "fields": [
                {
                    "name": "variant",
                    "desc": "The variant / mode of the application to be played. This can be any integer value, or left blank. You should use a small number of variants to keep the auto-matching pool as large as possible.",
                    "type": "int32"
                },
                {
                    "name": "autoMatchingCriteria",
                    "desc": "Criteria for auto-matching players into this room.",
                    "type": "ref",
                    "refType": "RoomAutoMatchingCriteria"
                },
                {
                    "name": "capabilities",
                    "desc": "The capabilities that this client supports for realtime communication.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "clientAddress",
                    "desc": "Client address for the player creating the room.",
                    "type": "ref",
                    "refType": "RoomClientAddress"
                },
                {
                    "name": "invitedPlayerIds",
                    "desc": "The player IDs to invite to the room.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomCreateRequest.",
                    "type": "string",
                    "default": "games#roomCreateRequest"
                },
                {
                    "name": "networkDiagnostics",
                    "desc": "Network diagnostics for the client creating the room.",
                    "type": "ref",
                    "refType": "NetworkDiagnostics"
                },
                {
                    "name": "requestId",
                    "desc": "A randomly generated numeric ID. This number is used at the server to ensure that the request is handled correctly across retries.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "TurnBasedMatchSync",
            "desc": "This is a JSON template for a list of turn-based matches returned from a sync.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchSync.",
                    "type": "string",
                    "default": "games#turnBasedMatchSync"
                },
                {
                    "name": "moreAvailable",
                    "desc": "True if there were more matches available to fetch at the time the response was generated (which were not returned due to page size limits.)",
                    "type": "bool"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The matches.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TurnBasedMatch"
                }
            ]
        },
        {
            "name": "EventPeriodRange",
            "desc": "This is a JSON template for an event period time range.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventPeriodRange.",
                    "type": "string",
                    "default": "games#eventPeriodRange"
                },
                {
                    "name": "periodEndMillis",
                    "desc": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
                    "type": "int64"
                },
                {
                    "name": "periodStartMillis",
                    "desc": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "PlayerEvent",
            "desc": "This is a JSON template for an event status resource.",
            "type": "object",
            "fields": [
                {
                    "name": "definitionId",
                    "desc": "The ID of the event definition.",
                    "type": "string"
                },
                {
                    "name": "formattedNumEvents",
                    "desc": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerEvent.",
                    "type": "string",
                    "default": "games#playerEvent"
                },
                {
                    "name": "numEvents",
                    "desc": "The current number of times this event has occurred.",
                    "type": "int64"
                },
                {
                    "name": "playerId",
                    "desc": "The ID of the player.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "QuestListResponse",
            "desc": "This is a JSON template for a list of quest objects.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The quests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Quest"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#questListResponse.",
                    "type": "string",
                    "default": "games#questListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RevisionCheckResponse",
            "desc": "This is a JSON template for the result of checking a revision.",
            "type": "object",
            "fields": [
                {
                    "name": "revisionStatus",
                    "desc": "The result of the revision check.\nPossible values are:  \n- \"OK\" - The revision being used is current. \n- \"DEPRECATED\" - There is currently a newer version available, but the revision being used still works. \n- \"INVALID\" - The revision being used is not supported in any released version.",
                    "type": "string"
                },
                {
                    "name": "apiVersion",
                    "desc": "The version of the API this client revision should use when calling API methods.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#revisionCheckResponse.",
                    "type": "string",
                    "default": "games#revisionCheckResponse"
                }
            ]
        },
        {
            "name": "TurnBasedMatchData",
            "desc": "This is a JSON template for a turn-based match data object.",
            "type": "object",
            "fields": [
                {
                    "name": "data",
                    "desc": "The byte representation of the data (limited to 128 kB), as a Base64-encoded string with the URL_SAFE encoding option.",
                    "type": "byte"
                },
                {
                    "name": "dataAvailable",
                    "desc": "True if this match has data available but it wasn't returned in a list response; fetching the match individually will retrieve this data.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchData.",
                    "type": "string",
                    "default": "games#turnBasedMatchData"
                }
            ]
        },
        {
            "name": "TurnBasedMatchParticipant",
            "desc": "This is a JSON template for a participant in a turn-based match.",
            "type": "object",
            "fields": [
                {
                    "name": "autoMatched",
                    "desc": "True if this participant was auto-matched with the requesting player.",
                    "type": "bool"
                },
                {
                    "name": "autoMatchedPlayer",
                    "desc": "Information about a player that has been anonymously auto-matched against the requesting player. (Either player or autoMatchedPlayer will be set.)",
                    "type": "ref",
                    "refType": "AnonymousPlayer"
                },
                {
                    "name": "id",
                    "desc": "An identifier for the participant in the scope of the match. Cannot be used to identify a player across matches or in other contexts.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchParticipant.",
                    "type": "string",
                    "default": "games#turnBasedMatchParticipant"
                },
                {
                    "name": "player",
                    "desc": "Information about the player. Not populated if this player was anonymously auto-matched against the requesting player. (Either player or autoMatchedPlayer will be set.)",
                    "type": "ref",
                    "refType": "Player"
                },
                {
                    "name": "status",
                    "desc": "The status of the participant with respect to the match.\nPossible values are:  \n- \"PARTICIPANT_NOT_INVITED_YET\" - The participant is slated to be invited to the match, but the invitation has not been sent; the invite will be sent when it becomes their turn. \n- \"PARTICIPANT_INVITED\" - The participant has been invited to join the match, but has not yet responded. \n- \"PARTICIPANT_JOINED\" - The participant has joined the match (either after creating it or accepting an invitation.) \n- \"PARTICIPANT_DECLINED\" - The participant declined an invitation to join the match. \n- \"PARTICIPANT_LEFT\" - The participant joined the match and then left it. \n- \"PARTICIPANT_FINISHED\" - The participant finished playing in the match. \n- \"PARTICIPANT_UNRESPONSIVE\" - The participant did not take their turn in the allotted time.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AchievementUpdateRequest",
            "desc": "This is a JSON template for a request to update an achievement.",
            "type": "object",
            "fields": [
                {
                    "name": "updateType",
                    "desc": "The type of update being applied.\nPossible values are:  \n- \"REVEAL\" - Achievement is revealed. \n- \"UNLOCK\" - Achievement is unlocked. \n- \"INCREMENT\" - Achievement is incremented. \n- \"SET_STEPS_AT_LEAST\" - Achievement progress is set to at least the passed value.",
                    "type": "string"
                },
                {
                    "name": "achievementId",
                    "desc": "The achievement this update is being applied to.",
                    "type": "string"
                },
                {
                    "name": "incrementPayload",
                    "desc": "The payload if an update of type INCREMENT was requested for the achievement.",
                    "type": "ref",
                    "refType": "GamesAchievementIncrement"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateRequest.",
                    "type": "string",
                    "default": "games#achievementUpdateRequest"
                },
                {
                    "name": "setStepsAtLeastPayload",
                    "desc": "The payload if an update of type SET_STEPS_AT_LEAST was requested for the achievement.",
                    "type": "ref",
                    "refType": "GamesAchievementSetStepsAtLeast"
                }
            ]
        },
        {
            "name": "EventRecordRequest",
            "desc": "This is a JSON template for an event period update resource.",
            "type": "object",
            "fields": [
                {
                    "name": "currentTimeMillis",
                    "desc": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventRecordRequest.",
                    "type": "string",
                    "default": "games#eventRecordRequest"
                },
                {
                    "name": "requestId",
                    "desc": "The request ID used to identify this attempt to record events.",
                    "type": "int64"
                },
                {
                    "name": "timePeriods",
                    "desc": "A list of the time period updates being made in this request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventPeriodUpdate"
                }
            ]
        },
        {
            "name": "MetagameConfig",
            "desc": "This is a JSON template for the metagame config resource",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#metagameConfig.",
                    "type": "string",
                    "default": "games#metagameConfig"
                },
                {
                    "name": "playerLevels",
                    "desc": "The list of player levels.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerLevel"
                },
                {
                    "name": "currentVersion",
                    "desc": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Played",
            "desc": "This is a JSON template for metadata about a player playing a game with the currently authenticated user.",
            "type": "object",
            "fields": [
                {
                    "name": "timeMillis",
                    "desc": "The last time the player played the game in milliseconds since the epoch in UTC.",
                    "type": "int64"
                },
                {
                    "name": "autoMatched",
                    "desc": "True if the player was auto-matched with the currently authenticated user.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#played.",
                    "type": "string",
                    "default": "games#played"
                }
            ]
        },
        {
            "name": "InstanceAndroidDetails",
            "desc": "This is a JSON template for the Android instance details resource.",
            "type": "object",
            "fields": [
                {
                    "name": "enablePiracyCheck",
                    "desc": "Flag indicating whether the anti-piracy check is enabled.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#instanceAndroidDetails.",
                    "type": "string",
                    "default": "games#instanceAndroidDetails"
                },
                {
                    "name": "packageName",
                    "desc": "Android package name which maps to Google Play URL.",
                    "type": "string"
                },
                {
                    "name": "preferred",
                    "desc": "Indicates that this instance is the default for new installations.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "LeaderboardListResponse",
            "desc": "This is a JSON template for a list of leaderboard objects.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The leaderboards.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Leaderboard"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboardListResponse.",
                    "type": "string",
                    "default": "games#leaderboardListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PeerSessionDiagnostics",
            "desc": "This is a JSON template for peer session diagnostics.",
            "type": "object",
            "fields": [
                {
                    "name": "connectedTimestampMillis",
                    "desc": "Connected time in milliseconds.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#peerSessionDiagnostics.",
                    "type": "string",
                    "default": "games#peerSessionDiagnostics"
                },
                {
                    "name": "participantId",
                    "desc": "The participant ID of the peer.",
                    "type": "string"
                },
                {
                    "name": "reliableChannel",
                    "desc": "Reliable channel diagnostics.",
                    "type": "ref",
                    "refType": "PeerChannelDiagnostics"
                },
                {
                    "name": "unreliableChannel",
                    "desc": "Unreliable channel diagnostics.",
                    "type": "ref",
                    "refType": "PeerChannelDiagnostics"
                }
            ]
        },
        {
            "name": "SnapshotListResponse",
            "desc": "This is a JSON template for a list of snapshot objects.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#snapshotListResponse.",
                    "type": "string",
                    "default": "games#snapshotListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The snapshots.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Snapshot"
                }
            ]
        },
        {
            "name": "AchievementUpdateMultipleRequest",
            "desc": "This is a JSON template for a list of achievement update requests.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateMultipleRequest.",
                    "type": "string",
                    "default": "games#achievementUpdateMultipleRequest"
                },
                {
                    "name": "updates",
                    "desc": "The individual achievement update requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AchievementUpdateRequest"
                }
            ]
        },
        {
            "name": "AchievementUpdateResponse",
            "desc": "This is a JSON template for an achievement update response.",
            "type": "object",
            "fields": [
                {
                    "name": "updateOccurred",
                    "desc": "Whether the requested updates actually affected the achievement.",
                    "type": "bool"
                },
                {
                    "name": "achievementId",
                    "desc": "The achievement this update is was applied to.",
                    "type": "string"
                },
                {
                    "name": "currentState",
                    "desc": "The current state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                    "type": "string"
                },
                {
                    "name": "currentSteps",
                    "desc": "The current steps recorded for this achievement if it is incremental.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementUpdateResponse.",
                    "type": "string",
                    "default": "games#achievementUpdateResponse"
                },
                {
                    "name": "newlyUnlocked",
                    "desc": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "EventPeriodUpdate",
            "desc": "This is a JSON template for an event period update resource.",
            "type": "object",
            "fields": [
                {
                    "name": "updates",
                    "desc": "The updates being made for this time period.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventUpdateRequest"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventPeriodUpdate.",
                    "type": "string",
                    "default": "games#eventPeriodUpdate"
                },
                {
                    "name": "timePeriod",
                    "desc": "The time period being covered by this update.",
                    "type": "ref",
                    "refType": "EventPeriodRange"
                }
            ]
        },
        {
            "name": "Instance",
            "desc": "This is a JSON template for the Instance resource.",
            "type": "object",
            "fields": [
                {
                    "name": "platformType",
                    "desc": "The platform type.\nPossible values are:  \n- \"ANDROID\" - Instance is for Android. \n- \"IOS\" - Instance is for iOS \n- \"WEB_APP\" - Instance is for Web App.",
                    "type": "string"
                },
                {
                    "name": "realtimePlay",
                    "desc": "Flag to show if this game instance supports realtime play.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#instance.",
                    "type": "string",
                    "default": "games#instance"
                },
                {
                    "name": "name",
                    "desc": "Localized display name.",
                    "type": "string"
                },
                {
                    "name": "iosInstance",
                    "desc": "Platform dependent details for iOS.",
                    "type": "ref",
                    "refType": "InstanceIosDetails"
                },
                {
                    "name": "turnBasedPlay",
                    "desc": "Flag to show if this game instance supports turn based play.",
                    "type": "bool"
                },
                {
                    "name": "webInstance",
                    "desc": "Platform dependent details for Web.",
                    "type": "ref",
                    "refType": "InstanceWebDetails"
                },
                {
                    "name": "acquisitionUri",
                    "desc": "URI which shows where a user can acquire this instance.",
                    "type": "string"
                },
                {
                    "name": "androidInstance",
                    "desc": "Platform dependent details for Android.",
                    "type": "ref",
                    "refType": "InstanceAndroidDetails"
                }
            ]
        },
        {
            "name": "PlayerLevel",
            "desc": "This is a JSON template for 1P/3P metadata about a user's level.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerLevel.",
                    "type": "string",
                    "default": "games#playerLevel"
                },
                {
                    "name": "level",
                    "desc": "The level for the user.",
                    "type": "int32"
                },
                {
                    "name": "maxExperiencePoints",
                    "desc": "The maximum experience points for this level.",
                    "type": "int64"
                },
                {
                    "name": "minExperiencePoints",
                    "desc": "The minimum experience points for this level.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "PlayerScore",
            "desc": "This is a JSON template for a player score.",
            "type": "object",
            "fields": [
                {
                    "name": "formattedScore",
                    "desc": "The formatted score for this player score.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerScore.",
                    "type": "string",
                    "default": "games#playerScore"
                },
                {
                    "name": "score",
                    "desc": "The numerical value for this player score.",
                    "type": "int64"
                },
                {
                    "name": "scoreTag",
                    "desc": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
                    "type": "string"
                },
                {
                    "name": "timeSpan",
                    "desc": "The time span for this player score.\nPossible values are:  \n- \"ALL_TIME\" - The score is an all-time score. \n- \"WEEKLY\" - The score is a weekly score. \n- \"DAILY\" - The score is a daily score.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RoomJoinRequest",
            "desc": "This is a JSON template for a join room request.",
            "type": "object",
            "fields": [
                {
                    "name": "networkDiagnostics",
                    "desc": "Network diagnostics for the client joining the room.",
                    "type": "ref",
                    "refType": "NetworkDiagnostics"
                },
                {
                    "name": "capabilities",
                    "desc": "The capabilities that this client supports for realtime communication.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "clientAddress",
                    "desc": "Client address for the player joining the room.",
                    "type": "ref",
                    "refType": "RoomClientAddress"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomJoinRequest.",
                    "type": "string",
                    "default": "games#roomJoinRequest"
                }
            ]
        },
        {
            "name": "TurnBasedMatchCreateRequest",
            "desc": "This is a JSON template for a turn-based match creation request.",
            "type": "object",
            "fields": [
                {
                    "name": "autoMatchingCriteria",
                    "desc": "Criteria for auto-matching players into this match.",
                    "type": "ref",
                    "refType": "TurnBasedAutoMatchingCriteria"
                },
                {
                    "name": "invitedPlayerIds",
                    "desc": "The player ids to invite to the match.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchCreateRequest.",
                    "type": "string",
                    "default": "games#turnBasedMatchCreateRequest"
                },
                {
                    "name": "requestId",
                    "desc": "A randomly generated numeric ID. This number is used at the server to ensure that the request is handled correctly across retries.",
                    "type": "int64"
                },
                {
                    "name": "variant",
                    "desc": "The variant / mode of the application to be played. This can be any integer value, or left blank. You should use a small number of variants to keep the auto-matching pool as large as possible.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "AchievementSetStepsAtLeastResponse",
            "desc": "This is a JSON template for an achievement set steps at least response.",
            "type": "object",
            "fields": [
                {
                    "name": "currentSteps",
                    "desc": "The current steps recorded for this incremental achievement.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementSetStepsAtLeastResponse.",
                    "type": "string",
                    "default": "games#achievementSetStepsAtLeastResponse"
                },
                {
                    "name": "newlyUnlocked",
                    "desc": "Whether the the current steps for the achievement has reached the number of steps required to unlock.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "AnonymousPlayer",
            "desc": "This is a JSON template for an anonymous player",
            "type": "object",
            "fields": [
                {
                    "name": "avatarImageUrl",
                    "desc": "The base URL for the image to display for the anonymous player.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The name to display for the anonymous player.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#anonymousPlayer.",
                    "type": "string",
                    "default": "games#anonymousPlayer"
                }
            ]
        },
        {
            "name": "EventBatchRecordFailure",
            "desc": "This is a JSON template for a batch update failure resource.",
            "type": "object",
            "fields": [
                {
                    "name": "failureCause",
                    "desc": "The cause for the update failure.\nPossible values are:  \n- \"TOO_LARGE\": A batch request was issued with more events than are allowed in a single batch. \n- \"TIME_PERIOD_EXPIRED\": A batch was sent with data too far in the past to record. \n- \"TIME_PERIOD_SHORT\": A batch was sent with a time range that was too short. \n- \"TIME_PERIOD_LONG\": A batch was sent with a time range that was too long. \n- \"ALREADY_UPDATED\": An attempt was made to record a batch of data which was already seen. \n- \"RECORD_RATE_HIGH\": An attempt was made to record data faster than the server will apply updates.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventBatchRecordFailure.",
                    "type": "string",
                    "default": "games#eventBatchRecordFailure"
                },
                {
                    "name": "range",
                    "desc": "The time range which was rejected; empty for a request-wide failure.",
                    "type": "ref",
                    "refType": "EventPeriodRange"
                }
            ]
        },
        {
            "name": "ParticipantResult",
            "desc": "This is a JSON template for a result for a match participant.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#participantResult.",
                    "type": "string",
                    "default": "games#participantResult"
                },
                {
                    "name": "participantId",
                    "desc": "The ID of the participant.",
                    "type": "string"
                },
                {
                    "name": "placing",
                    "desc": "The placement or ranking of the participant in the match results; a number from one to the number of participants in the match. Multiple participants may have the same placing value in case of a type.",
                    "type": "int32"
                },
                {
                    "name": "result",
                    "desc": "The result of the participant for this match.\nPossible values are:  \n- \"MATCH_RESULT_WIN\" - The participant won the match. \n- \"MATCH_RESULT_LOSS\" - The participant lost the match. \n- \"MATCH_RESULT_TIE\" - The participant tied the match. \n- \"MATCH_RESULT_NONE\" - There was no winner for the match (nobody wins or loses this kind of game.) \n- \"MATCH_RESULT_DISCONNECT\" - The participant disconnected / left during the match. \n- \"MATCH_RESULT_DISAGREED\" - Different clients reported different results for this participant.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlayerAchievement",
            "desc": "This is a JSON template for an achievement object.",
            "type": "object",
            "fields": [
                {
                    "name": "lastUpdatedTimestamp",
                    "desc": "The timestamp of the last modification to this achievement's state.",
                    "type": "int64"
                },
                {
                    "name": "achievementState",
                    "desc": "The state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                    "type": "string"
                },
                {
                    "name": "currentSteps",
                    "desc": "The current steps for an incremental achievement.",
                    "type": "int32"
                },
                {
                    "name": "experiencePoints",
                    "desc": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
                    "type": "int64"
                },
                {
                    "name": "formattedCurrentStepsString",
                    "desc": "The current steps for an incremental achievement as a string.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the achievement.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerAchievement.",
                    "type": "string",
                    "default": "games#playerAchievement"
                }
            ]
        },
        {
            "name": "QuestContribution",
            "desc": "This is a JSON template for a Quest Criterion Contribution resource.",
            "type": "object",
            "fields": [
                {
                    "name": "formattedValue",
                    "desc": "The formatted value of the contribution as a string. Format depends on the configuration for the associated event definition in the Play Games Developer Console.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#questContribution.",
                    "type": "string",
                    "default": "games#questContribution"
                },
                {
                    "name": "value",
                    "desc": "The value of the contribution.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "Room",
            "desc": "This is a JSON template for a room resource object.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#room.",
                    "type": "string",
                    "default": "games#room"
                },
                {
                    "name": "participants",
                    "desc": "The participants involved in the room, along with their statuses. Includes participants who have left or declined invitations.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RoomParticipant"
                },
                {
                    "name": "roomStatusVersion",
                    "desc": "The version of the room status: an increasing counter, used by the client to ignore out-of-order updates to room status.",
                    "type": "int32"
                },
                {
                    "name": "variant",
                    "desc": "The variant / mode of the application being played; can be any integer value, or left blank.",
                    "type": "int32"
                },
                {
                    "name": "autoMatchingCriteria",
                    "desc": "Criteria for auto-matching players into this room.",
                    "type": "ref",
                    "refType": "RoomAutoMatchingCriteria"
                },
                {
                    "name": "autoMatchingStatus",
                    "desc": "Auto-matching status for this room. Not set if the room is not currently in the auto-matching queue.",
                    "type": "ref",
                    "refType": "RoomAutoMatchStatus"
                },
                {
                    "name": "creationDetails",
                    "desc": "Details about the room creation.",
                    "type": "ref",
                    "refType": "RoomModification"
                },
                {
                    "name": "inviterId",
                    "desc": "The ID of the participant that invited the user to the room. Not set if the user was not invited to the room.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "The status of the room.\nPossible values are:  \n- \"ROOM_INVITING\" - One or more players have been invited and not responded. \n- \"ROOM_AUTO_MATCHING\" - One or more slots need to be filled by auto-matching. \n- \"ROOM_CONNECTING\" - Players have joined and are connecting to each other (either before or after auto-matching). \n- \"ROOM_ACTIVE\" - All players have joined and connected to each other. \n- \"ROOM_DELETED\" - The room should no longer be shown on the client. Returned in sync calls when a player joins a room (as a tombstone), or for rooms where all joined participants have left.",
                    "type": "string"
                },
                {
                    "name": "applicationId",
                    "desc": "The ID of the application being played.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "This short description is generated by our servers and worded relative to the player requesting the room. It is intended to be displayed when the room is shown in a list (that is, an invitation to a room.)",
                    "type": "string"
                },
                {
                    "name": "lastUpdateDetails",
                    "desc": "Details about the last update to the room.",
                    "type": "ref",
                    "refType": "RoomModification"
                },
                {
                    "name": "roomId",
                    "desc": "Globally unique ID for a room.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SnapshotImage",
            "desc": "This is a JSON template for an image of a snapshot.",
            "type": "object",
            "fields": [
                {
                    "name": "height",
                    "desc": "The height of the image.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#snapshotImage.",
                    "type": "string",
                    "default": "games#snapshotImage"
                },
                {
                    "name": "mime_type",
                    "desc": "The MIME type of the image.",
                    "type": "string"
                },
                {
                    "name": "url",
                    "desc": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
                    "type": "string"
                },
                {
                    "name": "width",
                    "desc": "The width of the image.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "AchievementDefinition",
            "desc": "This is a JSON template for an achievement definition object.",
            "type": "object",
            "fields": [
                {
                    "name": "isRevealedIconUrlDefault",
                    "desc": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
                    "type": "bool"
                },
                {
                    "name": "isUnlockedIconUrlDefault",
                    "desc": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementDefinition.",
                    "type": "string",
                    "default": "games#achievementDefinition"
                },
                {
                    "name": "name",
                    "desc": "The name of the achievement.",
                    "type": "string"
                },
                {
                    "name": "revealedIconUrl",
                    "desc": "The image URL for the revealed achievement icon.",
                    "type": "string"
                },
                {
                    "name": "achievementType",
                    "desc": "The type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.",
                    "type": "string"
                },
                {
                    "name": "initialState",
                    "desc": "The initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                    "type": "string"
                },
                {
                    "name": "formattedTotalSteps",
                    "desc": "The total steps for an incremental achievement as a string.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the achievement.",
                    "type": "string"
                },
                {
                    "name": "totalSteps",
                    "desc": "The total steps for an incremental achievement.",
                    "type": "int32"
                },
                {
                    "name": "unlockedIconUrl",
                    "desc": "The image URL for the unlocked achievement icon.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The description of the achievement.",
                    "type": "string"
                },
                {
                    "name": "experiencePoints",
                    "desc": "Experience points which will be earned when unlocking this achievement.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "CategoryListResponse",
            "desc": "This is a JSON template for a list of category data objects.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The list of categories with usage data.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Category"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#categoryListResponse.",
                    "type": "string",
                    "default": "games#categoryListResponse"
                }
            ]
        },
        {
            "name": "EventDefinitionListResponse",
            "desc": "This is a JSON template for a ListDefinitions response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The event definitions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventDefinition"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventDefinitionListResponse.",
                    "type": "string",
                    "default": "games#eventDefinitionListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Leaderboard",
            "desc": "This is a JSON template for the Leaderboard resource.",
            "type": "object",
            "fields": [
                {
                    "name": "iconUrl",
                    "desc": "The icon for the leaderboard.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The leaderboard ID.",
                    "type": "string"
                },
                {
                    "name": "isIconUrlDefault",
                    "desc": "Indicates whether the icon image being returned is a default image, or is game-provided.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboard.",
                    "type": "string",
                    "default": "games#leaderboard"
                },
                {
                    "name": "name",
                    "desc": "The name of the leaderboard.",
                    "type": "string"
                },
                {
                    "name": "order",
                    "desc": "How scores are ordered.\nPossible values are:  \n- \"LARGER_IS_BETTER\" - Larger values are better; scores are sorted in descending order. \n- \"SMALLER_IS_BETTER\" - Smaller values are better; scores are sorted in ascending order.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EventDefinition",
            "desc": "This is a JSON template for an event definition resource.",
            "type": "object",
            "fields": [
                {
                    "name": "childEvents",
                    "desc": "A list of events that are a child of this event.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventChild"
                },
                {
                    "name": "description",
                    "desc": "Description of what this event represents.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The name to display for the event.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the event.",
                    "type": "string"
                },
                {
                    "name": "imageUrl",
                    "desc": "The base URL for the image that represents the event.",
                    "type": "string"
                },
                {
                    "name": "isDefaultImageUrl",
                    "desc": "Indicates whether the icon image being returned is a default image, or is game-provided.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventDefinition.",
                    "type": "string",
                    "default": "games#eventDefinition"
                },
                {
                    "name": "visibility",
                    "desc": "The visibility of event being tracked in this definition.\nPossible values are:  \n- \"REVEALED\": This event should be visible to all users. \n- \"HIDDEN\": This event should only be shown to users that have recorded this event at least once.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GamesAchievementSetStepsAtLeast",
            "desc": "This is a JSON template for the payload to request to increment an achievement.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#GamesAchievementSetStepsAtLeast.",
                    "type": "string",
                    "default": "games#GamesAchievementSetStepsAtLeast"
                },
                {
                    "name": "steps",
                    "desc": "The minimum number of steps for the achievement to be set to.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "PeerChannelDiagnostics",
            "desc": "This is a JSON template for peer channel diagnostics.",
            "type": "object",
            "fields": [
                {
                    "name": "roundtripLatencyMillis",
                    "desc": "Roundtrip latency stats in milliseconds.",
                    "type": "ref",
                    "refType": "AggregateStats"
                },
                {
                    "name": "bytesReceived",
                    "desc": "Number of bytes received.",
                    "type": "ref",
                    "refType": "AggregateStats"
                },
                {
                    "name": "bytesSent",
                    "desc": "Number of bytes sent.",
                    "type": "ref",
                    "refType": "AggregateStats"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#peerChannelDiagnostics.",
                    "type": "string",
                    "default": "games#peerChannelDiagnostics"
                },
                {
                    "name": "numMessagesLost",
                    "desc": "Number of messages lost.",
                    "type": "int32"
                },
                {
                    "name": "numMessagesReceived",
                    "desc": "Number of messages received.",
                    "type": "int32"
                },
                {
                    "name": "numMessagesSent",
                    "desc": "Number of messages sent.",
                    "type": "int32"
                },
                {
                    "name": "numSendFailures",
                    "desc": "Number of send failures.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "TurnBasedMatchRematch",
            "desc": "This is a JSON template for a rematch response.",
            "type": "object",
            "fields": [
                {
                    "name": "previousMatch",
                    "desc": "The old match that the rematch was created from; will be updated such that the rematchId field will point at the new match.",
                    "type": "ref",
                    "refType": "TurnBasedMatch"
                },
                {
                    "name": "rematch",
                    "desc": "The newly created match; a rematch of the old match with the same participants.",
                    "type": "ref",
                    "refType": "TurnBasedMatch"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchRematch.",
                    "type": "string",
                    "default": "games#turnBasedMatchRematch"
                }
            ]
        },
        {
            "name": "RoomModification",
            "desc": "This is a JSON template for room modification metadata.",
            "type": "object",
            "fields": [
                {
                    "name": "participantId",
                    "desc": "The ID of the participant that modified the room.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomModification.",
                    "type": "string",
                    "default": "games#roomModification"
                },
                {
                    "name": "modifiedTimestampMillis",
                    "desc": "The timestamp at which they modified the room, in milliseconds since the epoch in UTC.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "RoomStatus",
            "desc": "This is a JSON template for the status of a room that the player has joined.",
            "type": "object",
            "fields": [
                {
                    "name": "status",
                    "desc": "The status of the room.\nPossible values are:  \n- \"ROOM_INVITING\" - One or more players have been invited and not responded. \n- \"ROOM_AUTO_MATCHING\" - One or more slots need to be filled by auto-matching. \n- \"ROOM_CONNECTING\" - Players have joined are connecting to each other (either before or after auto-matching). \n- \"ROOM_ACTIVE\" - All players have joined and connected to each other. \n- \"ROOM_DELETED\" - All joined players have left.",
                    "type": "string"
                },
                {
                    "name": "statusVersion",
                    "desc": "The version of the status for the room: an increasing counter, used by the client to ignore out-of-order updates to room status.",
                    "type": "int32"
                },
                {
                    "name": "autoMatchingStatus",
                    "desc": "Auto-matching status for this room. Not set if the room is not currently in the automatching queue.",
                    "type": "ref",
                    "refType": "RoomAutoMatchStatus"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomStatus.",
                    "type": "string",
                    "default": "games#roomStatus"
                },
                {
                    "name": "participants",
                    "desc": "The participants involved in the room, along with their statuses. Includes participants who have left or declined invitations.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "RoomParticipant"
                },
                {
                    "name": "roomId",
                    "desc": "Globally unique ID for a room.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TurnBasedMatchTurn",
            "desc": "This is a JSON template for the object representing a turn.",
            "type": "object",
            "fields": [
                {
                    "name": "data",
                    "desc": "The shared game state data after the turn is over.",
                    "type": "ref",
                    "refType": "TurnBasedMatchDataRequest"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchTurn.",
                    "type": "string",
                    "default": "games#turnBasedMatchTurn"
                },
                {
                    "name": "matchVersion",
                    "desc": "The version of this match: an increasing counter, used to avoid out-of-date updates to the match.",
                    "type": "int32"
                },
                {
                    "name": "pendingParticipantId",
                    "desc": "The ID of the participant who should take their turn next. May be set to the current player's participant ID to update match state without changing the turn. If not set, the match will wait for other player(s) to join via automatching; this is only valid if automatch criteria is set on the match with remaining slots for automatched players.",
                    "type": "string"
                },
                {
                    "name": "results",
                    "desc": "The match results for the participants in the match.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ParticipantResult"
                }
            ]
        },
        {
            "name": "AchievementRevealResponse",
            "desc": "This is a JSON template for an achievement reveal response",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementRevealResponse.",
                    "type": "string",
                    "default": "games#achievementRevealResponse"
                },
                {
                    "name": "currentState",
                    "desc": "The current state of the achievement for which a reveal was attempted. This might be UNLOCKED if the achievement was already unlocked.\nPossible values are:  \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AggregateStats",
            "desc": "This is a JSON template for aggregate stats.",
            "type": "object",
            "fields": [
                {
                    "name": "count",
                    "desc": "The number of messages sent between a pair of peers.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#aggregateStats.",
                    "type": "string",
                    "default": "games#aggregateStats"
                },
                {
                    "name": "max",
                    "desc": "The maximum amount.",
                    "type": "int64"
                },
                {
                    "name": "min",
                    "desc": "The minimum amount.",
                    "type": "int64"
                },
                {
                    "name": "sum",
                    "desc": "The total number of bytes sent for messages between a pair of peers.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "PlayerListResponse",
            "desc": "This is a JSON template for a third party player list response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The players.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Player"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerListResponse.",
                    "type": "string",
                    "default": "games#playerListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProfileSettings",
            "desc": "This is a JSON template for profile settings",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#profileSettings.",
                    "type": "string",
                    "default": "games#profileSettings"
                },
                {
                    "name": "profileVisible",
                    "desc": "The player's current profile visibility. This field is visible to both 1P and 3P APIs.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "RoomLeaveDiagnostics",
            "desc": "This is a JSON template for room leave diagnostics.",
            "type": "object",
            "fields": [
                {
                    "name": "networkOperatorName",
                    "desc": "The name of the carrier of the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperatorName() On iOS: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html#//apple_ref/occ/instp/CTCarrier/carrierName",
                    "type": "string"
                },
                {
                    "name": "peerSession",
                    "desc": "Diagnostics about all peer sessions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PeerSessionDiagnostics"
                },
                {
                    "name": "socketsUsed",
                    "desc": "Whether or not sockets were used.",
                    "type": "bool"
                },
                {
                    "name": "androidNetworkSubtype",
                    "desc": "Android network subtype. http://developer.android.com/reference/android/net/NetworkInfo.html#getSubtype()",
                    "type": "int32"
                },
                {
                    "name": "androidNetworkType",
                    "desc": "Android network type. http://developer.android.com/reference/android/net/NetworkInfo.html#getType()",
                    "type": "int32"
                },
                {
                    "name": "iosNetworkType",
                    "desc": "iOS network type as defined in Reachability.h.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomLeaveDiagnostics.",
                    "type": "string",
                    "default": "games#roomLeaveDiagnostics"
                },
                {
                    "name": "networkOperatorCode",
                    "desc": "The MCC+MNC code for the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperator() On iOS, see: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TurnBasedMatchList",
            "desc": "This is a JSON template for a list of turn-based matches.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The matches.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TurnBasedMatch"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#turnBasedMatchList.",
                    "type": "string",
                    "default": "games#turnBasedMatchList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Application",
            "desc": "This is a JSON template for the Application resource.",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "The description of the application.",
                    "type": "string"
                },
                {
                    "name": "enabledFeatures",
                    "desc": "A list of features that have been enabled for the application.\nPossible values are:  \n- \"SNAPSHOTS\" - Snapshots has been enabled",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#application.",
                    "type": "string",
                    "default": "games#application"
                },
                {
                    "name": "themeColor",
                    "desc": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
                    "type": "string"
                },
                {
                    "name": "achievement_count",
                    "desc": "The number of achievements visible to the currently authenticated player.",
                    "type": "int32"
                },
                {
                    "name": "assets",
                    "desc": "The assets of the application.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ImageAsset"
                },
                {
                    "name": "id",
                    "desc": "The ID of the application.",
                    "type": "string"
                },
                {
                    "name": "instances",
                    "desc": "The instances of the application.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Instance"
                },
                {
                    "name": "lastUpdatedTimestamp",
                    "desc": "The last updated timestamp of the application.",
                    "type": "int64"
                },
                {
                    "name": "leaderboard_count",
                    "desc": "The number of leaderboards visible to the currently authenticated player.",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "The name of the application.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "The author of the application.",
                    "type": "string"
                },
                {
                    "name": "category",
                    "desc": "The category of the application.",
                    "type": "ref",
                    "refType": "ApplicationCategory"
                }
            ]
        },
        {
            "name": "GamesAchievementIncrement",
            "desc": "This is a JSON template for the payload to request to increment an achievement.",
            "type": "object",
            "fields": [
                {
                    "name": "steps",
                    "desc": "The number of steps to be incremented.",
                    "type": "int32"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#GamesAchievementIncrement.",
                    "type": "string",
                    "default": "games#GamesAchievementIncrement"
                },
                {
                    "name": "requestId",
                    "desc": "The requestId associated with an increment to an achievement.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "PlayerAchievementListResponse",
            "desc": "This is a JSON template for a list of achievement objects.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The achievements.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerAchievement"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerAchievementListResponse.",
                    "type": "string",
                    "default": "games#playerAchievementListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token corresponding to the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PlayerEventListResponse",
            "desc": "This is a JSON template for a ListByPlayer response.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The player events.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerEvent"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#playerEventListResponse.",
                    "type": "string",
                    "default": "games#playerEventListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EventUpdateResponse",
            "desc": "This is a JSON template for an event period update resource.",
            "type": "object",
            "fields": [
                {
                    "name": "batchFailures",
                    "desc": "Any batch-wide failures which occurred applying updates.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventBatchRecordFailure"
                },
                {
                    "name": "eventFailures",
                    "desc": "Any failures updating a particular event.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventRecordFailure"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#eventUpdateResponse.",
                    "type": "string",
                    "default": "games#eventUpdateResponse"
                },
                {
                    "name": "playerEvents",
                    "desc": "The current status of any updated events",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PlayerEvent"
                }
            ]
        },
        {
            "name": "InstanceIosDetails",
            "desc": "This is a JSON template for the iOS details resource.",
            "type": "object",
            "fields": [
                {
                    "name": "bundleIdentifier",
                    "desc": "Bundle identifier.",
                    "type": "string"
                },
                {
                    "name": "itunesAppId",
                    "desc": "iTunes App ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#instanceIosDetails.",
                    "type": "string",
                    "default": "games#instanceIosDetails"
                },
                {
                    "name": "preferredForIpad",
                    "desc": "Indicates that this instance is the default for new installations on iPad devices.",
                    "type": "bool"
                },
                {
                    "name": "preferredForIphone",
                    "desc": "Indicates that this instance is the default for new installations on iPhone devices.",
                    "type": "bool"
                },
                {
                    "name": "supportIpad",
                    "desc": "Flag to indicate if this instance supports iPad.",
                    "type": "bool"
                },
                {
                    "name": "supportIphone",
                    "desc": "Flag to indicate if this instance supports iPhone.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "QuestCriterion",
            "desc": "This is a JSON template for a Quest Criterion resource.",
            "type": "object",
            "fields": [
                {
                    "name": "currentContribution",
                    "desc": "The number of increments the player has made toward the completion count event increments required to complete the quest. This value will not exceed the completion contribution.\nThere will be no currentContribution until the player has accepted the quest.",
                    "type": "ref",
                    "refType": "QuestContribution"
                },
                {
                    "name": "eventId",
                    "desc": "The ID of the event the criterion corresponds to.",
                    "type": "string"
                },
                {
                    "name": "initialPlayerProgress",
                    "desc": "The value of the event associated with this quest at the time that the quest was accepted. This value may change if event increments that took place before the start of quest are uploaded after the quest starts.\nThere will be no initialPlayerProgress until the player has accepted the quest.",
                    "type": "ref",
                    "refType": "QuestContribution"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#questCriterion.",
                    "type": "string",
                    "default": "games#questCriterion"
                },
                {
                    "name": "completionContribution",
                    "desc": "The total number of times the associated event must be incremented for the player to complete this quest.",
                    "type": "ref",
                    "refType": "QuestContribution"
                }
            ]
        },
        {
            "name": "QuestMilestone",
            "desc": "This is a JSON template for a Quest Milestone resource.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The milestone ID.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#questMilestone.",
                    "type": "string",
                    "default": "games#questMilestone"
                },
                {
                    "name": "state",
                    "desc": "The current state of the milestone.\nPossible values are:  \n- \"COMPLETED_NOT_CLAIMED\" - The milestone is complete, but has not yet been claimed. \n- \"CLAIMED\" - The milestone is complete and has been claimed. \n- \"NOT_COMPLETED\" - The milestone has not yet been completed. \n- \"NOT_STARTED\" - The milestone is for a quest that has not yet been accepted.",
                    "type": "string"
                },
                {
                    "name": "completionRewardData",
                    "desc": "The completion reward data of the milestone, represented as a Base64-encoded string. This is a developer-specified binary blob with size between 0 and 2 KB before encoding.",
                    "type": "byte"
                },
                {
                    "name": "criteria",
                    "desc": "The criteria of the milestone.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "QuestCriterion"
                }
            ]
        },
        {
            "name": "RoomList",
            "desc": "This is a JSON template for a list of rooms.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The rooms.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Room"
                },
                {
                    "name": "kind",
                    "desc": "Uniquely identifies the type of this resource. Value is always the fixed string games#roomList.",
                    "type": "string",
                    "default": "games#roomList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The pagination token for the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Snapshot",
            "desc": "This is a JSON template for an snapshot object.",
            "type": "object",
            "fields": [
                {
                    "name": "uniqueName",
                    "desc": "The unique name provided when the snapshot was created.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The description of this snapshot.",
                    "type": "string"
                },
                {
                    "name": "driveId",
                    "desc": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
[...]
