{
    "kind": "discovery#restDescription",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/ZRgj7Ah7gwQETAdvqLpx-xGEmV8\"",
    "discoveryVersion": "v1",
    "id": "blogger:v3",
    "name": "blogger",
    "version": "v3",
    "title": "Blogger API",
    "description": "API for access to the data within Blogger.",
    "documentationLink": "https://developers.google.com/blogger/docs/3.0/getting_started",
    "labels": [
        "limited_availability"
    ],
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
        ]
    },
    "parameters": [
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "BlogUserInfo",
            "type": "object",
            "fields": [
                {
                    "name": "blog",
                    "desc": "The Blog resource.",
                    "type": "ref",
                    "refType": "Blog"
                },
                {
                    "name": "blog_user_info",
                    "desc": "Information about a User for the Blog.",
                    "type": "ref",
                    "refType": "BlogPerUserInfo"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#blogUserInfo",
                    "type": "string",
                    "default": "blogger#blogUserInfo"
                }
            ]
        },
        {
            "name": "PostList",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of the response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The list of Posts for this Blog.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Post"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#postList",
                    "type": "string",
                    "default": "blogger#postList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PostUserInfo",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#postUserInfo",
                    "type": "string",
                    "default": "blogger#postUserInfo"
                },
                {
                    "name": "post",
                    "desc": "The Post resource.",
                    "type": "ref",
                    "refType": "Post"
                },
                {
                    "name": "post_user_info",
                    "desc": "Information about a User for the Post.",
                    "type": "ref",
                    "refType": "PostPerUserInfo"
                }
            ]
        },
        {
            "name": "BlogList",
            "type": "object",
            "fields": [
                {
                    "name": "blogUserInfos",
                    "desc": "Admin level list of blog per-user information",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BlogUserInfo"
                },
                {
                    "name": "items",
                    "desc": "The list of Blogs this user has Authorship or Admin rights over.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Blog"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#blogList",
                    "type": "string",
                    "default": "blogger#blogList"
                }
            ]
        },
        {
            "name": "Comment",
            "type": "object",
            "fields": [
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "The author of this Comment.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "displayName",
                            "desc": "The display name.",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The identifier of the Comment creator.",
                            "type": "string"
                        },
                        {
                            "name": "image",
                            "desc": "The comment creator's avatar.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "url",
                                    "desc": "The comment creator's avatar URL.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "url",
                            "desc": "The URL of the Comment creator's Profile page.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "blog",
                    "desc": "Data about the blog containing this comment.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the blog containing this comment.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "content",
                    "desc": "The actual content of the comment. May include HTML markup.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The identifier for this resource.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entry. Always blogger#comment",
                    "type": "string",
                    "default": "blogger#comment"
                },
                {
                    "name": "post",
                    "desc": "Data about the post containing this comment.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the post containing this comment.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "published",
                    "desc": "RFC 3339 date-time when this comment was published.",
                    "type": "datetime"
                },
                {
                    "name": "status",
                    "desc": "The status of the comment (only populated for admin users)",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "RFC 3339 date-time when this comment was last updated.",
                    "type": "datetime"
                },
                {
                    "name": "inReplyTo",
                    "desc": "Data about the comment this is in reply to.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identified of the parent of this comment.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Pageviews",
            "type": "object",
            "fields": [
                {
                    "name": "counts",
                    "desc": "The container of posts in this blog.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "count",
                            "desc": "Count of page views for the given time range",
                            "type": "int64"
                        },
                        {
                            "name": "timeRange",
                            "desc": "Time range the given count applies to",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entry. Always blogger#page_views",
                    "type": "string",
                    "default": "blogger#page_views"
                },
                {
                    "name": "blogId",
                    "desc": "Blog Id",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PostPerUserInfo",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#postPerUserInfo",
                    "type": "string",
                    "default": "blogger#postPerUserInfo"
                },
                {
                    "name": "postId",
                    "desc": "ID of the Post resource.",
                    "type": "string"
                },
                {
                    "name": "userId",
                    "desc": "ID of the User.",
                    "type": "string"
                },
                {
                    "name": "blogId",
                    "desc": "ID of the Blog that the post resource belongs to.",
                    "type": "string"
                },
                {
                    "name": "hasEditAccess",
                    "desc": "True if the user has Author level access to the post.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "PostUserInfosList",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of Posts with User information for the post, for this Blog.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PostUserInfo"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#postList",
                    "type": "string",
                    "default": "blogger#postUserInfosList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CommentList",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of the response.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The List of Comments for a Post.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Comment"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entry. Always blogger#commentList",
                    "type": "string",
                    "default": "blogger#commentList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                },
                {
                    "name": "prevPageToken",
                    "desc": "Pagination token to fetch the previous page, if one exists.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Post",
            "type": "object",
            "fields": [
                {
                    "name": "images",
                    "desc": "Display image for the Post.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "url",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "replies",
                    "desc": "The container of comments on this Post.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "totalItems",
                            "desc": "The count of comments on this post.",
                            "type": "int64"
                        },
                        {
                            "name": "items",
                            "desc": "The List of Comments for this Post.",
                            "collection": "array",
                            "type": "ref",
                            "refType": "Comment"
                        },
                        {
                            "name": "selfLink",
                            "desc": "The URL of the comments on this post.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "customMetaData",
                    "desc": "The JSON meta-data for the Post.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "Etag of the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The identifier of this Post.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#post",
                    "type": "string",
                    "default": "blogger#post"
                },
                {
                    "name": "labels",
                    "desc": "The list of labels this Post was tagged with.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "location",
                    "desc": "The location for geotagged posts.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "span",
                            "desc": "Location's viewport span. Can be used when rendering a map preview.",
                            "type": "string"
                        },
                        {
                            "name": "lat",
                            "desc": "Location's latitude.",
                            "type": "float64"
                        },
                        {
                            "name": "lng",
                            "desc": "Location's longitude.",
                            "type": "float64"
                        },
                        {
                            "name": "name",
                            "desc": "Location name.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "titleLink",
                    "desc": "The title link URL, similar to atom's related link.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "The author of this Post.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the Post creator.",
                            "type": "string"
                        },
                        {
                            "name": "image",
                            "desc": "The Post author's avatar.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "url",
                                    "desc": "The Post author's avatar URL.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "url",
                            "desc": "The URL of the Post creator's Profile page.",
                            "type": "string"
                        },
                        {
                            "name": "displayName",
                            "desc": "The display name.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "Status of the post. Only set for admin-level requests",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "RFC 3339 date-time when this Post was last updated.",
                    "type": "datetime"
                },
                {
                    "name": "blog",
                    "desc": "Data about the blog containing this Post.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the Blog that contains this Post.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "content",
                    "desc": "The content of the Post. May contain HTML markup.",
                    "type": "string"
                },
                {
                    "name": "published",
                    "desc": "RFC 3339 date-time when this Post was published.",
                    "type": "datetime"
                },
                {
                    "name": "readerComments",
                    "desc": "Comment control and display setting for readers of this post.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "The title of the Post.",
                    "type": "string"
                },
                {
                    "name": "url",
                    "desc": "The URL where this Post is displayed.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "User",
            "type": "object",
            "fields": [
                {
                    "name": "locale",
                    "desc": "This user's locale",
                    "type": "object",
                    "fields": [
                        {
                            "name": "language",
                            "desc": "The user's language setting.",
                            "type": "string"
                        },
                        {
                            "name": "variant",
                            "desc": "The user's language variant setting.",
                            "type": "string"
                        },
                        {
                            "name": "country",
                            "desc": "The user's country setting.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "created",
                    "desc": "The timestamp of when this profile was created, in seconds since epoch.",
                    "type": "datetime"
                },
                {
                    "name": "displayName",
                    "desc": "The display name.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#user",
                    "type": "string",
                    "default": "blogger#user"
                },
                {
                    "name": "url",
                    "desc": "The user's profile page.",
                    "type": "string"
                },
                {
                    "name": "about",
                    "desc": "Profile summary information.",
                    "type": "string"
                },
                {
                    "name": "blogs",
                    "desc": "The container of blogs for this user.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "selfLink",
                            "desc": "The URL of the Blogs for this user.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "The identifier for this User.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Blog",
            "type": "object",
            "fields": [
                {
                    "name": "pages",
                    "desc": "The container of pages in this blog.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "selfLink",
                            "desc": "The URL of the container for pages in this blog.",
                            "type": "string"
                        },
                        {
                            "name": "totalItems",
                            "desc": "The count of pages in this blog.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "posts",
                    "desc": "The container of posts in this blog.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "items",
                            "desc": "The List of Posts for this Blog.",
                            "collection": "array",
                            "type": "ref",
                            "refType": "Post"
                        },
                        {
                            "name": "selfLink",
                            "desc": "The URL of the container for posts in this blog.",
                            "type": "string"
                        },
                        {
                            "name": "totalItems",
                            "desc": "The count of posts in this blog.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "The status of the blog.",
                    "type": "string"
                },
                {
                    "name": "customMetaData",
                    "desc": "The JSON custom meta-data for the Blog",
                    "type": "string"
                },
                {
                    "name": "locale",
                    "desc": "The locale this Blog is set to.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "country",
                            "desc": "The country this blog's locale is set to.",
                            "type": "string"
                        },
                        {
                            "name": "language",
                            "desc": "The language this blog is authored in.",
                            "type": "string"
                        },
                        {
                            "name": "variant",
                            "desc": "The language variant this blog is authored in.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entry. Always blogger#blog",
                    "type": "string",
                    "default": "blogger#blog"
                },
                {
                    "name": "name",
                    "desc": "The name of this blog. This is displayed as the title.",
                    "type": "string"
                },
                {
                    "name": "published",
                    "desc": "RFC 3339 date-time when this blog was published.",
                    "type": "datetime"
                },
                {
                    "name": "updated",
                    "desc": "RFC 3339 date-time when this blog was last updated.",
                    "type": "datetime"
                },
                {
                    "name": "url",
                    "desc": "The URL where this blog is published.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "The description of this blog. This is displayed underneath the title.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The identifier for this resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BlogPerUserInfo",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#blogPerUserInfo",
                    "type": "string",
                    "default": "blogger#blogPerUserInfo"
                },
                {
                    "name": "photosAlbumKey",
                    "desc": "The Photo Album Key for the user when adding photos to the blog",
                    "type": "string"
                },
                {
                    "name": "role",
                    "desc": "Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).",
                    "type": "string"
                },
                {
                    "name": "userId",
                    "desc": "ID of the User",
                    "type": "string"
                },
                {
                    "name": "blogId",
                    "desc": "ID of the Blog resource",
                    "type": "string"
                },
                {
                    "name": "hasAdminAccess",
                    "desc": "True if the user has Admin level access to the blog.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "Page",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#page",
                    "type": "string",
                    "default": "blogger#page"
                },
                {
                    "name": "published",
                    "desc": "RFC 3339 date-time when this Page was published.",
                    "type": "datetime"
                },
                {
                    "name": "status",
                    "desc": "The status of the page for admin resources (either LIVE or DRAFT).",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "The title of this entity. This is the name displayed in the Admin user interface.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "RFC 3339 date-time when this Page was last updated.",
                    "type": "datetime"
                },
                {
                    "name": "url",
                    "desc": "The URL that this Page is displayed at.",
                    "type": "string"
                },
                {
                    "name": "blog",
                    "desc": "Data about the blog containing this Page.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the blog containing this page.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "content",
                    "desc": "The body content of this Page, in HTML.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The identifier for this resource.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "The author of this Page.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "displayName",
                            "desc": "The display name.",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The identifier of the Page creator.",
                            "type": "string"
                        },
                        {
                            "name": "image",
                            "desc": "The page author's avatar.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "url",
                                    "desc": "The page author's avatar URL.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "url",
                            "desc": "The URL of the Page creator's Profile page.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "etag",
                    "desc": "Etag of the resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PageList",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of Pages for a Blog.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Page"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#pageList",
                    "type": "string",
                    "default": "blogger#pageList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "Etag of the response.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "comments",
            "methods": [
                {
                    "name": "listByBlog",
                    "desc": "Retrieves the comments for a blog, across all posts, possibly filtered.",
                    "path": "blogs/{blogId}/comments",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch comments from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "endDate",
                            "desc": "Latest date of comment to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        },
                        {
                            "name": "fetchBodies",
                            "desc": "Whether the body content of the comments is included.",
                            "type": "bool"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of comments to include in the result.",
                            "type": "uint32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token if request is paged.",
                            "type": "string"
                        },
                        {
                            "name": "startDate",
                            "desc": "Earliest date of comment to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        },
                        {
                            "name": "status",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "emptied",
                                    "desc": "Comments that have had their content removed"
                                },
                                {
                                    "name": "live",
                                    "desc": "Comments that are publicly visible"
                                },
                                {
                                    "name": "pending",
                                    "desc": "Comments that are awaiting administrator approval"
                                },
                                {
                                    "name": "spam",
                                    "desc": "Comments marked as spam by the administrator"
                                }
                            ]
                        }
                    ],
                    "response": "CommentList"
                },
                {
                    "name": "markAsSpam",
                    "desc": "Marks a comment as spam.",
                    "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}/spam",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the Post.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "commentId",
                            "desc": "The ID of the comment to mark as spam.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Comment"
                },
                {
                    "name": "removeContent",
                    "desc": "Removes the content of a comment.",
                    "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}/removecontent",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the Post.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "commentId",
                            "desc": "The ID of the comment to delete content from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Comment"
                },
                {
                    "name": "approve",
                    "desc": "Marks a comment as not spam.",
                    "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}/approve",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the Post.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "commentId",
                            "desc": "The ID of the comment to mark as not spam.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Comment"
                },
                {
                    "name": "delete",
                    "desc": "Delete a comment by ID.",
                    "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the Post.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "commentId",
                            "desc": "The ID of the comment to delete.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Gets one comment by ID.",
                    "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to containing the comment.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "ID of the post to fetch posts from.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "commentId",
                            "desc": "The ID of the comment to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "view",
                            "desc": "Access level for the requested comment (default: READER). Note that some comments will require elevated permissions, for example comments where the parent posts which is in a draft state, or comments that are pending moderation.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "ADMIN",
                                    "desc": "Admin level detail"
                                },
                                {
                                    "name": "AUTHOR",
                                    "desc": "Author level detail"
                                },
                                {
                                    "name": "READER",
                                    "desc": "Admin level detail"
                                }
                            ]
                        }
                    ],
                    "response": "Comment"
                },
                {
                    "name": "list",
                    "desc": "Retrieves the comments for a post, possibly filtered.",
                    "path": "blogs/{blogId}/posts/{postId}/comments",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch comments from.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "ID of the post to fetch posts from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "startDate",
                            "desc": "Earliest date of comment to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        },
                        {
                            "name": "status",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "emptied",
                                    "desc": "Comments that have had their content removed"
                                },
                                {
                                    "name": "live",
                                    "desc": "Comments that are publicly visible"
                                },
                                {
                                    "name": "pending",
                                    "desc": "Comments that are awaiting administrator approval"
                                },
                                {
                                    "name": "spam",
                                    "desc": "Comments marked as spam by the administrator"
                                }
                            ]
                        },
                        {
                            "name": "endDate",
                            "desc": "Latest date of comment to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of comments to include in the result.",
                            "type": "uint32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token if request is paged.",
                            "type": "string"
                        },
                        {
                            "name": "fetchBodies",
                            "desc": "Whether the body content of the comments is included.",
                            "type": "bool"
                        },
                        {
                            "name": "view",
                            "desc": "Access level with which to view the returned result. Note that some fields require elevated access.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "ADMIN",
                                    "desc": "Admin level detail"
                                },
                                {
                                    "name": "AUTHOR",
                                    "desc": "Author level detail"
                                },
                                {
                                    "name": "READER",
                                    "desc": "Reader level detail"
                                }
                            ]
                        }
                    ],
                    "response": "CommentList"
                }
            ]
        },
        {
            "name": "pageViews",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieve pageview stats for a Blog.",
                    "path": "blogs/{blogId}/pageviews",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the blog to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "range",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "30DAYS",
                                    "desc": "Page view counts from the last thirty days."
                                },
                                {
                                    "name": "7DAYS",
                                    "desc": "Page view counts from the last seven days."
                                },
                                {
                                    "name": "all",
                                    "desc": "Total page view counts from all time."
                                }
                            ]
                        }
                    ],
                    "response": "Pageviews"
                }
            ]
        },
        {
            "name": "pages",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets one blog page by ID.",
                    "path": "blogs/{blogId}/pages/{pageId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog containing the page.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "view",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "ADMIN",
                                    "desc": "Admin level detail"
                                },
                                {
                                    "name": "AUTHOR",
                                    "desc": "Author level detail"
                                },
                                {
                                    "name": "READER",
                                    "desc": "Reader level detail"
                                }
                            ]
                        }
                    ],
                    "response": "Page"
                },
                {
                    "name": "insert",
                    "desc": "Add a page.",
                    "path": "blogs/{blogId}/pages",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to add the page to.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "isDraft",
                            "desc": "Whether to create the page as a draft (default: false).",
                            "type": "bool"
                        }
                    ],
                    "request": "Page",
                    "response": "Page"
                },
                {
                    "name": "list",
                    "desc": "Retrieves the pages for a blog, optionally including non-LIVE statuses.",
                    "path": "blogs/{blogId}/pages",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch Pages from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "view",
                            "desc": "Access level with which to view the returned result. Note that some fields require elevated access.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "ADMIN",
                                    "desc": "Admin level detail"
                                },
                                {
                                    "name": "AUTHOR",
                                    "desc": "Author level detail"
                                },
                                {
                                    "name": "READER",
                                    "desc": "Reader level detail"
                                }
                            ]
                        },
                        {
                            "name": "fetchBodies",
                            "desc": "Whether to retrieve the Page bodies.",
                            "type": "bool"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of Pages to fetch.",
                            "type": "uint32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token if the request is paged.",
                            "type": "string"
                        },
                        {
                            "name": "status",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "draft",
                                    "desc": "Draft (unpublished) Pages"
                                },
                                {
                                    "name": "live",
                                    "desc": "Pages that are publicly visible"
                                }
                            ]
                        }
                    ],
                    "response": "PageList"
                },
                {
                    "name": "patch",
                    "desc": "Update a page. This method supports patch semantics.",
                    "path": "blogs/{blogId}/pages/{pageId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the Page.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "publish",
                            "desc": "Whether a publish action should be performed when the page is updated (default: false).",
                            "type": "bool"
                        },
                        {
                            "name": "revert",
                            "desc": "Whether a revert action should be performed when the page is updated (default: false).",
                            "type": "bool"
                        }
                    ],
                    "request": "Page",
                    "response": "Page"
                },
                {
                    "name": "publish",
                    "desc": "Publishes a draft page.",
                    "path": "blogs/{blogId}/pages/{pageId}/publish",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Page"
                },
                {
                    "name": "revert",
                    "desc": "Revert a published or scheduled page to draft state.",
                    "path": "blogs/{blogId}/pages/{pageId}/revert",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Page"
                },
                {
                    "name": "update",
                    "desc": "Update a page.",
                    "path": "blogs/{blogId}/pages/{pageId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the Page.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "publish",
                            "desc": "Whether a publish action should be performed when the page is updated (default: false).",
                            "type": "bool"
                        },
                        {
                            "name": "revert",
                            "desc": "Whether a revert action should be performed when the page is updated (default: false).",
                            "type": "bool"
                        }
                    ],
                    "request": "Page",
                    "response": "Page"
                },
                {
                    "name": "delete",
                    "desc": "Delete a page by ID.",
                    "path": "blogs/{blogId}/pages/{pageId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the Page.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "postUserInfos",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets one post and user info pair, by post ID and user ID. The post user info contains per-user information about the post, such as access rights, specific to the user.",
                    "path": "users/{userId}/blogs/{blogId}/posts/{postId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userId",
                            "desc": "ID of the user for the per-user information to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "blogId",
                            "desc": "The ID of the blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the post to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxComments",
                            "desc": "Maximum number of comments to pull back on a post.",
                            "type": "uint32"
                        }
                    ],
                    "response": "PostUserInfo"
                },
                {
                    "name": "list",
                    "desc": "Retrieves a list of post and post user info pairs, possibly filtered. The post user info contains per-user information about the post, such as access rights, specific to the user.",
                    "path": "users/{userId}/blogs/{blogId}/posts",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userId",
                            "desc": "ID of the user for the per-user information to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch posts from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "status",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "draft",
                                    "desc": "Draft posts"
                                },
                                {
                                    "name": "live",
                                    "desc": "Published posts"
                                },
                                {
                                    "name": "scheduled",
                                    "desc": "Posts that are scheduled to publish in future."
                                }
                            ]
                        },
                        {
                            "name": "endDate",
                            "desc": "Latest post date to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        },
                        {
                            "name": "fetchBodies",
                            "desc": "Whether the body content of posts is included. Default is false.",
                            "type": "bool",
                            "default": "false"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of posts to fetch.",
                            "type": "uint32"
                        },
                        {
                            "name": "orderBy",
                            "desc": "Sort order applied to search results. Default is published.",
                            "type": "string",
                            "default": "PUBLISHED",
                            "enum": [
                                {
                                    "name": "published",
                                    "desc": "Order by the date the post was published"
                                },
                                {
                                    "name": "updated",
                                    "desc": "Order by the date the post was last updated"
                                }
                            ]
                        },
                        {
                            "name": "startDate",
                            "desc": "Earliest post date to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        },
                        {
                            "name": "labels",
                            "desc": "Comma-separated list of labels to search for.",
                            "type": "string"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token if the request is paged.",
                            "type": "string"
                        },
                        {
                            "name": "view",
                            "desc": "Access level with which to view the returned result. Note that some fields require elevated access.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "ADMIN",
                                    "desc": "Admin level detail"
                                },
                                {
                                    "name": "AUTHOR",
                                    "desc": "Author level detail"
                                },
                                {
                                    "name": "READER",
                                    "desc": "Reader level detail"
                                }
                            ]
                        }
                    ],
                    "response": "PostUserInfosList"
                }
            ]
        },
        {
            "name": "posts",
            "methods": [
                {
                    "name": "delete",
                    "desc": "Delete a post by ID.",
                    "path": "blogs/{blogId}/posts/{postId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the Post.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Get a post by ID.",
                    "path": "blogs/{blogId}/posts/{postId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch the post from.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the post",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "fetchBody",
                            "desc": "Whether the body content of the post is included (default: true). This should be set to false when the post bodies are not required, to help minimize traffic.",
                            "type": "bool",
                            "default": "true"
                        },
                        {
                            "name": "fetchImages",
                            "desc": "Whether image URL metadata for each post is included (default: false).",
                            "type": "bool"
                        },
                        {
                            "name": "maxComments",
                            "desc": "Maximum number of comments to pull back on a post.",
                            "type": "uint32"
                        },
                        {
                            "name": "view",
                            "desc": "Access level with which to view the returned result. Note that some fields require elevated access.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "ADMIN",
                                    "desc": "Admin level detail"
                                },
                                {
                                    "name": "AUTHOR",
                                    "desc": "Author level detail"
                                },
                                {
                                    "name": "READER",
                                    "desc": "Reader level detail"
                                }
                            ]
                        }
                    ],
                    "response": "Post"
                },
                {
                    "name": "list",
                    "desc": "Retrieves a list of posts, possibly filtered.",
                    "path": "blogs/{blogId}/posts",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch posts from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "endDate",
                            "desc": "Latest post date to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        },
                        {
                            "name": "fetchImages",
                            "desc": "Whether image URL metadata for each post is included.",
                            "type": "bool"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of posts to fetch.",
                            "type": "uint32"
                        },
                        {
                            "name": "orderBy",
                            "desc": "Sort search results",
                            "type": "string",
                            "default": "PUBLISHED",
                            "enum": [
                                {
                                    "name": "published",
                                    "desc": "Order by the date the post was published"
                                },
                                {
                                    "name": "updated",
                                    "desc": "Order by the date the post was last updated"
                                }
                            ]
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token if the request is paged.",
                            "type": "string"
                        },
                        {
                            "name": "status",
                            "desc": "Statuses to include in the results.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "draft",
                                    "desc": "Draft (non-published) posts."
                                },
                                {
                                    "name": "live",
                                    "desc": "Published posts"
                                },
                                {
                                    "name": "scheduled",
                                    "desc": "Posts that are scheduled to publish in the future."
                                }
                            ]
                        },
                        {
                            "name": "view",
                            "desc": "Access level with which to view the returned result. Note that some fields require escalated access.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "ADMIN",
                                    "desc": "Admin level detail"
                                },
                                {
                                    "name": "AUTHOR",
                                    "desc": "Author level detail"
                                },
                                {
                                    "name": "READER",
                                    "desc": "Reader level detail"
                                }
                            ]
                        },
                        {
                            "name": "fetchBodies",
                            "desc": "Whether the body content of posts is included (default: true). This should be set to false when the post bodies are not required, to help minimize traffic.",
                            "type": "bool",
                            "default": "true"
                        },
                        {
                            "name": "labels",
                            "desc": "Comma-separated list of labels to search for.",
                            "type": "string"
                        },
                        {
                            "name": "startDate",
                            "desc": "Earliest post date to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        }
                    ],
                    "response": "PostList"
                },
                {
                    "name": "patch",
                    "desc": "Update a post. This method supports patch semantics.",
                    "path": "blogs/{blogId}/posts/{postId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the Post.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "fetchBody",
                            "desc": "Whether the body content of the post is included with the result (default: true).",
                            "type": "bool",
                            "default": "true"
                        },
                        {
                            "name": "fetchImages",
                            "desc": "Whether image URL metadata for each post is included in the returned result (default: false).",
                            "type": "bool"
                        },
                        {
                            "name": "maxComments",
                            "desc": "Maximum number of comments to retrieve with the returned post.",
                            "type": "uint32"
                        },
                        {
                            "name": "publish",
                            "desc": "Whether a publish action should be performed when the post is updated (default: false).",
                            "type": "bool"
                        },
                        {
                            "name": "revert",
                            "desc": "Whether a revert action should be performed when the post is updated (default: false).",
                            "type": "bool"
                        }
                    ],
                    "request": "Post",
                    "response": "Post"
                },
                {
                    "name": "revert",
                    "desc": "Revert a published or scheduled post to draft state.",
                    "path": "blogs/{blogId}/posts/{postId}/revert",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the Post.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Post"
                },
                {
                    "name": "getByPath",
                    "desc": "Retrieve a Post by Path.",
                    "path": "blogs/{blogId}/posts/bypath",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch the post from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "path",
                            "desc": "Path of the Post to retrieve.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "view",
                            "desc": "Access level with which to view the returned result. Note that some fields require elevated access.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "ADMIN",
                                    "desc": "Admin level detail"
                                },
                                {
                                    "name": "AUTHOR",
                                    "desc": "Author level detail"
                                },
                                {
                                    "name": "READER",
                                    "desc": "Reader level detail"
                                }
                            ]
                        },
                        {
                            "name": "maxComments",
                            "desc": "Maximum number of comments to pull back on a post.",
                            "type": "uint32"
                        }
                    ],
                    "response": "Post"
                },
                {
                    "name": "insert",
                    "desc": "Add a post.",
                    "path": "blogs/{blogId}/posts",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to add the post to.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "fetchBody",
                            "desc": "Whether the body content of the post is included with the result (default: true).",
                            "type": "bool",
                            "default": "true"
                        },
                        {
                            "name": "fetchImages",
                            "desc": "Whether image URL metadata for each post is included in the returned result (default: false).",
                            "type": "bool"
                        },
                        {
                            "name": "isDraft",
                            "desc": "Whether to create the post as a draft (default: false).",
                            "type": "bool"
                        }
                    ],
                    "request": "Post",
                    "response": "Post"
                },
                {
                    "name": "publish",
                    "desc": "Publishes a draft post, optionally at the specific time of the given publishDate parameter.",
                    "path": "blogs/{blogId}/posts/{postId}/publish",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the Post.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "publishDate",
                            "desc": "Optional date and time to schedule the publishing of the Blog. If no publishDate parameter is given, the post is either published at the a previously saved schedule date (if present), or the current time. If a future date is given, the post will be scheduled to be published.",
                            "type": "datetime"
                        }
                    ],
                    "response": "Post"
                },
                {
                    "name": "search",
                    "desc": "Search for a post.",
                    "path": "blogs/{blogId}/posts/search",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch the post from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "q",
                            "desc": "Query terms to search this blog for matching posts.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "fetchBodies",
                            "desc": "Whether the body content of posts is included (default: true). This should be set to false when the post bodies are not required, to help minimize traffic.",
                            "type": "bool",
                            "default": "true"
                        },
                        {
                            "name": "orderBy",
                            "desc": "Sort search results",
                            "type": "string",
                            "default": "PUBLISHED",
                            "enum": [
                                {
                                    "name": "published",
                                    "desc": "Order by the date the post was published"
                                },
                                {
                                    "name": "updated",
                                    "desc": "Order by the date the post was last updated"
                                }
                            ]
                        }
                    ],
                    "response": "PostList"
                },
                {
                    "name": "update",
                    "desc": "Update a post.",
                    "path": "blogs/{blogId}/posts/{postId}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the Blog.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the Post.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "fetchBody",
                            "desc": "Whether the body content of the post is included with the result (default: true).",
                            "type": "bool",
                            "default": "true"
                        },
                        {
                            "name": "fetchImages",
                            "desc": "Whether image URL metadata for each post is included in the returned result (default: false).",
                            "type": "bool"
                        },
                        {
                            "name": "maxComments",
                            "desc": "Maximum number of comments to retrieve with the returned post.",
                            "type": "uint32"
                        },
                        {
                            "name": "publish",
                            "desc": "Whether a publish action should be performed when the post is updated (default: false).",
                            "type": "bool"
                        },
                        {
                            "name": "revert",
                            "desc": "Whether a revert action should be performed when the post is updated (default: false).",
                            "type": "bool"
                        }
                    ],
                    "request": "Post",
                    "response": "Post"
                }
            ]
        },
        {
            "name": "users",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets one user by ID.",
                    "path": "users/{userId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userId",
                            "desc": "The ID of the user to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "User"
                }
            ]
        },
        {
            "name": "blogUserInfos",
            "methods": [
                {
                    "name": "get",
                    "desc": "Gets one blog and user info pair by blogId and userId.",
                    "path": "users/{userId}/blogs/{blogId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userId",
                            "desc": "ID of the user whose blogs are to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "blogId",
                            "desc": "The ID of the blog to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxPosts",
                            "desc": "Maximum number of posts to pull back with the blog.",
                            "type": "uint32"
                        }
                    ],
                    "response": "BlogUserInfo"
                }
            ]
        },
        {
            "name": "blogs",
            "methods": [
                {
                    "name": "getByUrl",
                    "desc": "Retrieve a Blog by URL.",
                    "path": "blogs/byurl",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "url",
                            "desc": "The URL of the blog to retrieve.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "view",
                            "desc": "Access level with which to view the blog. Note that some fields require elevated access.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "ADMIN",
                                    "desc": "Admin level detail."
                                },
                                {
                                    "name": "AUTHOR",
                                    "desc": "Author level detail."
                                },
                                {
                                    "name": "READER",
                                    "desc": "Reader level detail."
                                }
                            ]
                        }
                    ],
                    "response": "Blog"
                },
                {
                    "name": "listByUser",
                    "desc": "Retrieves a list of blogs, possibly filtered.",
                    "path": "users/{userId}/blogs",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "userId",
                            "desc": "ID of the user whose blogs are to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "view",
[...]
