{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "youtubereporting:v1",
    "name": "youtubereporting",
    "version": "v1",
    "title": "YouTube Reporting API",
    "description": "Schedules reporting jobs containing your YouTube Analytics data and downloads the resulting bulk data reports in the form of CSV files.",
    "documentationLink": "https://developers.google.com/youtube/reporting/v1/reports/",
    "protocol": "rest",
    "rootUrl": "https://youtubereporting.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/yt-analytics.readonly",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly"
        ]
    },
    "parameters": [
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "ListReportsResponse",
            "desc": "Response message for ReportingService.ListReports.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token to retrieve next page of results.\nPass this value in the\nListReportsRequest.page_token\nfield in the subsequent call to `ListReports` method to retrieve the next\npage of results.",
                    "type": "string"
                },
                {
                    "name": "reports",
                    "desc": "The list of report types.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Report"
                }
            ]
        },
        {
            "name": "Media",
            "desc": "Media resource.",
            "type": "object",
            "fields": [
                {
                    "name": "resourceName",
                    "desc": "Name of the media resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ReportType",
            "desc": "A report type.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The ID of the report type (max. 100 characters).",
                    "type": "string"
                },
                {
                    "name": "systemManaged",
                    "desc": "True if this a system-managed report type; otherwise false. Reporting jobs\nfor system-managed report types are created automatically and can thus not\nbe used in the `CreateJob` method.",
                    "type": "bool"
                },
                {
                    "name": "deprecateTime",
                    "desc": "The date/time when this report type was/will be deprecated.",
                    "type": "datetime"
                },
                {
                    "name": "name",
                    "desc": "The name of the report type (max. 100 characters).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Report",
            "desc": "A report's metadata including the URL from which the report itself can be\ndownloaded.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The server-generated ID of the report.",
                    "type": "string"
                },
                {
                    "name": "endTime",
                    "desc": "The end of the time period that the report instance covers. The value is\nexclusive.",
                    "type": "datetime"
                },
                {
                    "name": "jobExpireTime",
                    "desc": "The date/time when the job this report belongs to will expire/expired.",
                    "type": "datetime"
                },
                {
                    "name": "downloadUrl",
                    "desc": "The URL from which the report can be downloaded (max. 1000 characters).",
                    "type": "string"
                },
                {
                    "name": "startTime",
                    "desc": "The start of the time period that the report instance covers. The value is\ninclusive.",
                    "type": "datetime"
                },
                {
                    "name": "createTime",
                    "desc": "The date/time when this report was created.",
                    "type": "datetime"
                },
                {
                    "name": "jobId",
                    "desc": "The ID of the job that created this report.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Empty",
            "desc": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "type": "object"
        },
        {
            "name": "ListReportTypesResponse",
            "desc": "Response message for ReportingService.ListReportTypes.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token to retrieve next page of results.\nPass this value in the\nListReportTypesRequest.page_token\nfield in the subsequent call to `ListReportTypes` method to retrieve the next\npage of results.",
                    "type": "string"
                },
                {
                    "name": "reportTypes",
                    "desc": "The list of report types.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ReportType"
                }
            ]
        },
        {
            "name": "ListJobsResponse",
            "desc": "Response message for ReportingService.ListJobs.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "A token to retrieve next page of results.\nPass this value in the\nListJobsRequest.page_token\nfield in the subsequent call to `ListJobs` method to retrieve the next\npage of results.",
                    "type": "string"
                },
                {
                    "name": "jobs",
                    "desc": "The list of jobs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Job"
                }
            ]
        },
        {
            "name": "Job",
            "desc": "A job creating reports of a specific type.",
            "type": "object",
            "fields": [
                {
                    "name": "createTime",
                    "desc": "The creation date/time of the job.",
                    "type": "datetime"
                },
                {
                    "name": "reportTypeId",
                    "desc": "The type of reports this job creates. Corresponds to the ID of a\nReportType.",
                    "type": "string"
                },
                {
                    "name": "expireTime",
                    "desc": "The date/time when this job will expire/expired. After a job expired, no\nnew reports are generated.",
                    "type": "datetime"
                },
                {
                    "name": "name",
                    "desc": "The name of the job (max. 100 characters).",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The server-generated ID of the job (max. 40 characters).",
                    "type": "string"
                },
                {
                    "name": "systemManaged",
                    "desc": "True if this a system-managed job that cannot be modified by the user;\notherwise false.",
                    "type": "bool"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "jobs",
            "methods": [
                {
                    "name": "create",
                    "desc": "Creates a job and returns it.",
                    "path": "v1/jobs",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).",
                            "type": "string"
                        }
                    ],
                    "request": "Job",
                    "response": "Job"
                },
                {
                    "name": "delete",
                    "desc": "Deletes a job.",
                    "path": "v1/jobs/{jobId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "jobId",
                            "desc": "The ID of the job to delete.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).",
                            "type": "string"
                        }
                    ],
                    "response": "Empty"
                },
                {
                    "name": "list",
                    "desc": "Lists jobs.",
                    "path": "v1/jobs",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageSize",
                            "desc": "Requested page size. Server may return fewer jobs than requested.\nIf unspecified, server will pick an appropriate default.",
                            "type": "int32"
                        },
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).",
                            "type": "string"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A token identifying a page of results the server should return. Typically,\nthis is the value of\nListReportTypesResponse.next_page_token\nreturned in response to the previous call to the `ListJobs` method.",
                            "type": "string"
                        },
                        {
                            "name": "includeSystemManaged",
                            "desc": "If set to true, also system-managed jobs will be returned; otherwise only\nuser-created jobs will be returned. System-managed jobs can neither be\nmodified nor deleted.",
                            "type": "bool"
                        }
                    ],
                    "response": "ListJobsResponse"
                },
                {
                    "name": "get",
                    "desc": "Gets a job.",
                    "path": "v1/jobs/{jobId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "jobId",
                            "desc": "The ID of the job to retrieve.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).",
                            "type": "string"
                        }
                    ],
                    "response": "Job"
                }
            ],
            "resources": [
                {
                    "name": "reports",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "Lists reports created by a specific job.\nReturns NOT_FOUND if the job does not exist.",
                            "path": "v1/jobs/{jobId}/reports",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                                "https://www.googleapis.com/auth/yt-analytics.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "jobId",
                                    "desc": "The ID of the job.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "createdAfter",
                                    "desc": "If set, only reports created after the specified date/time are returned.",
                                    "type": "datetime"
                                },
                                {
                                    "name": "startTimeAtOrAfter",
                                    "desc": "If set, only reports whose start time is greater than or equal the\nspecified date/time are returned.",
                                    "type": "datetime"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "A token identifying a page of results the server should return. Typically,\nthis is the value of\nListReportsResponse.next_page_token\nreturned in response to the previous call to the `ListReports` method.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "Requested page size. Server may return fewer report types than requested.\nIf unspecified, server will pick an appropriate default.",
                                    "type": "int32"
                                },
                                {
                                    "name": "onBehalfOfContentOwner",
                                    "desc": "The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).",
                                    "type": "string"
                                },
                                {
                                    "name": "startTimeBefore",
                                    "desc": "If set, only reports whose start time is smaller than the specified\ndate/time are returned.",
                                    "type": "datetime"
                                }
                            ],
                            "response": "ListReportsResponse"
                        },
                        {
                            "name": "get",
                            "desc": "Gets the metadata of a specific report.",
                            "path": "v1/jobs/{jobId}/reports/{reportId}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                                "https://www.googleapis.com/auth/yt-analytics.readonly"
                            ],
                            "pathParams": [
                                {
                                    "name": "jobId",
                                    "desc": "The ID of the job.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "reportId",
                                    "desc": "The ID of the report to retrieve.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "onBehalfOfContentOwner",
                                    "desc": "The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).",
                                    "type": "string"
                                }
                            ],
                            "response": "Report"
                        }
                    ]
                }
            ]
        },
        {
            "name": "reportTypes",
            "methods": [
                {
                    "name": "list",
                    "desc": "Lists report types.",
                    "path": "v1/reportTypes",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "A token identifying a page of results the server should return. Typically,\nthis is the value of\nListReportTypesResponse.next_page_token\nreturned in response to the previous call to the `ListReportTypes` method.",
                            "type": "string"
                        },
                        {
                            "name": "includeSystemManaged",
                            "desc": "If set to true, also system-managed report types will be returned;\notherwise only the report types that can be used to create new reporting\njobs will be returned.",
                            "type": "bool"
                        },
                        {
                            "name": "pageSize",
                            "desc": "Requested page size. Server may return fewer report types than requested.\nIf unspecified, server will pick an appropriate default.",
                            "type": "int32"
                        },
                        {
                            "name": "onBehalfOfContentOwner",
                            "desc": "The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).",
                            "type": "string"
                        }
                    ],
                    "response": "ListReportTypesResponse"
                }
            ]
        },
        {
            "name": "media",
            "methods": [
                {
                    "name": "download",
                    "desc": "Method for media download. Download is supported\non the URI `/v1/media/{+name}?alt=media`.",
                    "path": "v1/media/{+resourceName}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "resourceName",
                            "desc": "Name of the media that is being downloaded.  See\nReadRequest.resource_name.",
                            "required": true,
                            "type": "string",
                            "pattern": "^.+$"
                        }
                    ],
                    "response": "Media"
                }
            ]
        }
    ]
}