{
    "kind": "discovery#restDescription",
    "etag": "\"jQLIOHBVnDZie4rQHGH1WJF-INE/UNHEtVyVE-POJmRW0SrDcBQE6KY\"",
    "discoveryVersion": "v1",
    "id": "taskqueue:v1beta1",
    "name": "taskqueue",
    "version": "v1beta1",
    "title": "TaskQueue API",
    "description": "Accesses a Google App Engine Pull Task Queue over REST.",
    "documentationLink": "https://developers.google.com/appengine/docs/python/taskqueue/rest",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/taskqueue",
            "https://www.googleapis.com/auth/taskqueue.consumer"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Tasks2",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of object returned, a list of tasks.",
                    "type": "string",
                    "default": "taskqueues#tasks"
                },
                {
                    "name": "items",
                    "desc": "The actual list of tasks currently active in the TaskQueue.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Task"
                }
            ]
        },
        {
            "name": "Task",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of object returned, in this case set to task.",
                    "type": "string",
                    "default": "taskqueues#task"
                },
                {
                    "name": "leaseTimestamp",
                    "desc": "Time (in seconds since the epoch) at which the task lease will expire. This value is 0 if the task isnt currently leased out to a worker.",
                    "type": "int64"
                },
                {
                    "name": "payloadBase64",
                    "desc": "A bag of bytes which is the task payload. The payload on the JSON side is always Base64 encoded.",
                    "type": "string"
                },
                {
                    "name": "queueName",
                    "desc": "Name of the queue that the task is in.",
                    "type": "string"
                },
                {
                    "name": "enqueueTimestamp",
                    "desc": "Time (in seconds since the epoch) at which the task was enqueued.",
                    "type": "int64"
                },
                {
                    "name": "id",
                    "desc": "Name of the task.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TaskQueue",
            "type": "object",
            "fields": [
                {
                    "name": "stats",
                    "desc": "Statistics for the TaskQueue object in question.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "leasedLastHour",
                            "desc": "Number of tasks leased in the last hour.",
                            "type": "int64"
                        },
                        {
                            "name": "leasedLastMinute",
                            "desc": "Number of tasks leased in the last minute.",
                            "type": "int64"
                        },
                        {
                            "name": "oldestTask",
                            "desc": "The timestamp (in seconds since the epoch) of the oldest unfinished task.",
                            "type": "int64"
                        },
                        {
                            "name": "totalTasks",
                            "desc": "Number of tasks in the queue.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "acl",
                    "desc": "ACLs that are applicable to this TaskQueue object.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "adminEmails",
                            "desc": "Email addresses of users who are \"admins\" of the TaskQueue. This means they can control the queue, eg set ACLs for the queue.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "consumerEmails",
                            "desc": "Email addresses of users who can \"consume\" tasks from the TaskQueue. This means they can Dequeue and Delete tasks from the queue.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "producerEmails",
                            "desc": "Email addresses of users who can \"produce\" tasks into the TaskQueue. This means they can Insert tasks into the queue.",
                            "collection": "array",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "Name of the taskqueue.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of REST object returned, in this case taskqueue.",
                    "type": "string",
                    "default": "taskqueues#taskqueue"
                },
                {
                    "name": "maxLeases",
                    "desc": "The number of times we should lease out tasks before giving up on them. If unset we lease them out forever until a worker deletes the task.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Tasks",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The actual list of tasks returned as a result of the lease operation.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Task"
                },
                {
                    "name": "kind",
                    "desc": "The kind of object returned, a list of tasks.",
                    "type": "string",
                    "default": "taskqueue#tasks"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "taskqueues",
            "methods": [
                {
                    "name": "get",
                    "desc": "Get detailed information about a TaskQueue.",
                    "path": "{project}/taskqueues/{taskqueue}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/taskqueue",
                        "https://www.googleapis.com/auth/taskqueue.consumer"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project under which the queue lies.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "taskqueue",
                            "desc": "The id of the taskqueue to get the properties of.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "getStats",
                            "desc": "Whether to get stats. Optional.",
                            "type": "bool"
                        }
                    ],
                    "response": "TaskQueue"
                }
            ]
        },
        {
            "name": "tasks",
            "methods": [
                {
                    "name": "list",
                    "desc": "List Tasks in a TaskQueue",
                    "path": "{project}/taskqueues/{taskqueue}/tasks",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/taskqueue",
                        "https://www.googleapis.com/auth/taskqueue.consumer"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project under which the queue lies.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "taskqueue",
                            "desc": "The id of the taskqueue to list tasks from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Tasks2"
                },
                {
                    "name": "delete",
                    "desc": "Delete a task from a TaskQueue.",
                    "path": "{project}/taskqueues/{taskqueue}/tasks/{task}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/taskqueue",
                        "https://www.googleapis.com/auth/taskqueue.consumer"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project under which the queue lies.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "taskqueue",
                            "desc": "The taskqueue to delete a task from.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "task",
                            "desc": "The id of the task to delete.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Get a particular task from a TaskQueue.",
                    "path": "{project}/taskqueues/{taskqueue}/tasks/{task}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/taskqueue",
                        "https://www.googleapis.com/auth/taskqueue.consumer"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project under which the queue lies.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "taskqueue",
                            "desc": "The taskqueue in which the task belongs.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "task",
                            "desc": "The task to get properties of.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Task"
                },
                {
                    "name": "lease",
                    "desc": "Lease 1 or more tasks from a TaskQueue.",
                    "path": "{project}/taskqueues/{taskqueue}/tasks/lease",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/taskqueue",
                        "https://www.googleapis.com/auth/taskqueue.consumer"
                    ],
                    "pathParams": [
                        {
                            "name": "project",
                            "desc": "The project under which the queue lies.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "taskqueue",
                            "desc": "The taskqueue to lease a task from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "numTasks",
                            "desc": "The number of tasks to lease.",
                            "required": true,
                            "type": "int32"
                        },
                        {
                            "name": "leaseSecs",
                            "desc": "The lease in seconds.",
                            "required": true,
                            "type": "int32"
                        }
                    ],
                    "response": "Tasks"
                }
            ]
        }
    ]
}