{
    "kind": "discovery#restDescription",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/qMPsHPlyjJW_NKjRjkfbUPsEMx4\"",
    "discoveryVersion": "v1",
    "id": "prediction:v1.2",
    "name": "prediction",
    "version": "v1.2",
    "title": "Prediction API",
    "description": "Lets you access a cloud hosted machine learning service that makes it easy to build smart apps",
    "documentationLink": "https://developers.google.com/prediction/docs/developer-guide",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "prediction/v1.2/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/prediction"
        ]
    },
    "parameters": [
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Output",
            "type": "object",
            "fields": [
                {
                    "name": "selfLink",
                    "type": "string"
                },
                {
                    "name": "id",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "prediction#output"
                },
                {
                    "name": "outputLabel",
                    "type": "string"
                },
                {
                    "name": "outputMulti",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "label",
                            "type": "string"
                        },
                        {
                            "name": "score",
                            "type": "float64"
                        }
                    ]
                },
                {
                    "name": "outputValue",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "Training",
            "type": "object",
            "fields": [
                {
                    "name": "trainingStatus",
                    "type": "string"
                },
                {
                    "name": "id",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "type": "string",
                    "default": "prediction#training"
                },
                {
                    "name": "modelInfo",
                    "type": "object",
                    "fields": [
                        {
                            "name": "classificationAccuracy",
                            "type": "float64"
                        },
                        {
                            "name": "meanSquaredError",
                            "type": "float64"
                        },
                        {
                            "name": "modelType",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Update",
            "type": "object",
            "fields": [
                {
                    "name": "classLabel",
                    "desc": "The true class label of this instance",
                    "type": "string"
                },
                {
                    "name": "csvInstance",
                    "desc": "The input features for this instance",
                    "collection": "array",
                    "type": "any"
                }
            ]
        },
        {
            "name": "Input",
            "type": "object",
            "fields": [
                {
                    "name": "input",
                    "type": "object",
                    "fields": [
                        {
                            "name": "csvInstance",
                            "collection": "array",
                            "type": "any"
                        }
                    ]
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "hostedmodels",
            "methods": [
                {
                    "path": "hostedmodels/{hostedModelName}/predict",
                    "httpMethod": "POST",
                    "name": "predict",
                    "desc": "Submit input and request an output against a hosted model",
                    "scopes": [
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "hostedModelName",
                            "desc": "The name of a hosted model",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Input",
                    "response": "Output"
                }
            ]
        },
        {
            "name": "training",
            "methods": [
                {
                    "path": "training/{data}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Delete a trained model",
                    "scopes": [
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "data",
                            "desc": "mybucket/mydata resource in Google Storage",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "path": "training/{data}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Check training status of your model",
                    "scopes": [
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "data",
                            "desc": "mybucket/mydata resource in Google Storage",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Training"
                },
                {
                    "path": "training",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Begin training your model",
                    "scopes": [
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write",
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "data",
                            "desc": "mybucket/mydata resource in Google Storage",
                            "type": "string"
                        }
                    ],
                    "request": "Training",
                    "response": "Training"
                },
                {
                    "path": "training/{data}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Add new data to a trained model",
                    "scopes": [
                        "https://www.googleapis.com/auth/prediction"
                    ],
                    "pathParams": [
                        {
                            "name": "data",
                            "desc": "mybucket/mydata resource in Google Storage",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Update",
                    "response": "Training"
                }
            ]
        }
    ]
}