{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/y29Ei9gfsS6BekrALyS-uw4tzTU\"",
    "discoveryVersion": "v1",
    "id": "appsactivity:v1",
    "name": "appsactivity",
    "version": "v1",
    "title": "G Suite Activity API",
    "description": "Provides a historical view of activity.",
    "documentationLink": "https://developers.google.com/google-apps/activity/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/activity",
            "https://www.googleapis.com/auth/drive"
        ]
    },
    "parameters": [
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "PermissionChange",
            "desc": "Contains information about a Drive object's permissions that changed as a result of a permissionChange type event.",
            "type": "object",
            "fields": [
                {
                    "name": "addedPermissions",
                    "desc": "Lists all Permission objects added.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Permission"
                },
                {
                    "name": "removedPermissions",
                    "desc": "Lists all Permission objects removed.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Permission"
                }
            ]
        },
        {
            "name": "Photo",
            "desc": "Photo information for a user.",
            "type": "object",
            "fields": [
                {
                    "name": "url",
                    "desc": "The URL of the photo.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Rename",
            "desc": "Contains information about a renametype event.",
            "type": "object",
            "fields": [
                {
                    "name": "newTitle",
                    "desc": "The new title.",
                    "type": "string"
                },
                {
                    "name": "oldTitle",
                    "desc": "The old title.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Move",
            "desc": "Contains information about changes in an object's parents as a result of a move type event.",
            "type": "object",
            "fields": [
                {
                    "name": "addedParents",
                    "desc": "The added parent(s).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Parent"
                },
                {
                    "name": "removedParents",
                    "desc": "The removed parent(s).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Parent"
                }
            ]
        },
        {
            "name": "Parent",
            "desc": "Contains information about a parent object. For example, a folder in Drive is a parent for all files within it.",
            "type": "object",
            "fields": [
                {
                    "name": "isRoot",
                    "desc": "Whether this is the root folder.",
                    "type": "bool"
                },
                {
                    "name": "title",
                    "desc": "The parent's title.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The parent's ID.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Permission",
            "desc": "Contains information about the permissions and type of access allowed with regards to a Google Drive object. This is a subset of the fields contained in a corresponding Drive Permissions object.",
            "type": "object",
            "fields": [
                {
                    "name": "withLink",
                    "desc": "Whether the permission requires a link to the file.",
                    "type": "bool"
                },
                {
                    "name": "name",
                    "desc": "The name of the user or group the permission applies to.",
                    "type": "string"
                },
                {
                    "name": "permissionId",
                    "desc": "The ID for this permission. Corresponds to the Drive API's permission ID returned as part of the Drive Permissions resource.",
                    "type": "string"
                },
                {
                    "name": "role",
                    "desc": "Indicates the Google Drive permissions role. The role determines a user's ability to read, write, or comment on the file.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "commenter"
                        },
                        {
                            "name": "owner"
                        },
                        {
                            "name": "reader"
                        },
                        {
                            "name": "writer"
                        }
                    ]
                },
                {
                    "name": "type",
                    "desc": "Indicates how widely permissions are granted.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "anyone"
                        },
                        {
                            "name": "domain"
                        },
                        {
                            "name": "group"
                        },
                        {
                            "name": "user"
                        }
                    ]
                },
                {
                    "name": "user",
                    "desc": "The user's information if the type is USER.",
                    "type": "ref",
                    "refType": "User"
                }
            ]
        },
        {
            "name": "Target",
            "desc": "Information about the object modified by the event.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the target. For example, in Google Drive, this is the title of the file.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the target. For example, in Google Drive, this is the file or folder ID.",
                    "type": "string"
                },
                {
                    "name": "mimeType",
                    "desc": "The MIME type of the target.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "User",
            "desc": "A representation of a user.",
            "type": "object",
            "fields": [
                {
                    "name": "permissionId",
                    "desc": "The permission ID associated with this user. Equivalent to the Drive API's permission ID for this user, returned as part of the Drive Permissions resource.",
                    "type": "string"
                },
                {
                    "name": "photo",
                    "desc": "The profile photo of the user. Not present if the user has no profile photo.",
                    "type": "ref",
                    "refType": "Photo"
                },
                {
                    "name": "isDeleted",
                    "desc": "A boolean which indicates whether the specified User was deleted. If true, name, photo and permission_id will be omitted.",
                    "type": "bool"
                },
                {
                    "name": "isMe",
                    "desc": "Whether the user is the authenticated user.",
                    "type": "bool"
                },
                {
                    "name": "name",
                    "desc": "The displayable name of the user.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Activity",
            "desc": "An Activity resource is a combined view of multiple events. An activity has a list of individual events and a combined view of the common fields among all events.",
            "type": "object",
            "fields": [
                {
                    "name": "combinedEvent",
                    "desc": "The fields common to all of the singleEvents that make up the Activity.",
                    "type": "ref",
                    "refType": "Event"
                },
                {
                    "name": "singleEvents",
                    "desc": "A list of all the Events that make up the Activity.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Event"
                }
            ]
        },
        {
            "name": "Event",
            "desc": "Represents the changes associated with an action taken by a user.",
            "type": "object",
            "fields": [
                {
                    "name": "move",
                    "desc": "Extra information for move type events, such as changes in an object's parents.",
                    "type": "ref",
                    "refType": "Move"
                },
                {
                    "name": "permissionChanges",
                    "desc": "Extra information for permissionChange type events, such as the user or group the new permission applies to.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PermissionChange"
                },
                {
                    "name": "rename",
                    "desc": "Extra information for rename type events, such as the old and new names.",
                    "type": "ref",
                    "refType": "Rename"
                },
                {
                    "name": "fromUserDeletion",
                    "desc": "Whether this event is caused by a user being deleted.",
                    "type": "bool"
                },
                {
                    "name": "eventTimeMillis",
                    "desc": "The time at which the event occurred formatted as Unix time in milliseconds.",
                    "type": "uint64"
                },
                {
                    "name": "primaryEventType",
                    "desc": "The main type of event that occurred.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "comment"
                        },
                        {
                            "name": "create"
                        },
                        {
                            "name": "edit"
                        },
                        {
                            "name": "emptyTrash"
                        },
                        {
                            "name": "move"
                        },
                        {
                            "name": "permissionChange"
                        },
                        {
                            "name": "rename"
                        },
                        {
                            "name": "trash"
                        },
                        {
                            "name": "unknown"
                        },
                        {
                            "name": "untrash"
                        },
                        {
                            "name": "upload"
                        }
                    ]
                },
                {
                    "name": "target",
                    "desc": "Information specific to the Target object modified by the event.",
                    "type": "ref",
                    "refType": "Target"
                },
                {
                    "name": "user",
                    "desc": "Represents the user responsible for the event.",
                    "type": "ref",
                    "refType": "User"
                },
                {
                    "name": "additionalEventTypes",
                    "desc": "Additional event types. Some events may have multiple types when multiple actions are part of a single event. For example, creating a document, renaming it, and sharing it may be part of a single file-creation event.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListActivitiesResponse",
            "desc": "The response from the list request. Contains a list of activities and a token to retrieve the next page of results.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Token for the next page of results.",
                    "type": "string"
                },
                {
                    "name": "activities",
                    "desc": "List of activities.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Activity"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "activities",
            "methods": [
                {
                    "name": "list",
                    "desc": "Returns a list of activities visible to the current logged in user. Visible activities are determined by the visiblity settings of the object that was acted on, e.g. Drive files a user can see. An activity is a record of past events. Multiple events may be merged if they are similar. A request is scoped to activities from a given Google service using the source parameter.",
                    "path": "activities",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/activity",
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "userId",
                            "desc": "Indicates the user to return activity for. Use the special value me to indicate the currently authenticated user.",
                            "type": "string",
                            "default": "me"
                        },
                        {
                            "name": "drive.ancestorId",
                            "desc": "Identifies the Drive folder containing the items for which to return activities.",
                            "type": "string"
                        },
                        {
                            "name": "drive.fileId",
                            "desc": "Identifies the Drive item to return activities for.",
                            "type": "string"
                        },
                        {
                            "name": "groupingStrategy",
                            "desc": "Indicates the strategy to use when grouping singleEvents items in the associated combinedEvent object.",
                            "type": "string",
                            "default": "driveUi",
                            "enum": [
                                {
                                    "name": "driveUi"
                                },
                                {
                                    "name": "none"
                                }
                            ]
                        },
                        {
                            "name": "pageSize",
                            "desc": "The maximum number of events to return on a page. The response includes a continuation token if there are more events.",
                            "type": "int32",
                            "default": "50"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A token to retrieve a specific page of results.",
                            "type": "string"
                        },
                        {
                            "name": "source",
                            "desc": "The Google service from which to return activities. Possible values of source are: \n- drive.google.com",
                            "type": "string"
                        }
                    ],
                    "response": "ListActivitiesResponse"
                }
            ]
        }
    ]
}