{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "serviceuser:v1",
    "name": "serviceuser",
    "version": "v1",
    "title": "Google Service User API",
    "description": "Enables services that service consumers want to use on Google Cloud Platform, lists the available or enabled services, or disables services that service consumers no longer use.",
    "documentationLink": "https://cloud.google.com/service-management/",
    "protocol": "rest",
    "rootUrl": "https://serviceuser.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/service.management",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        }
    ],
    "schemas": [
        {
            "name": "SystemParameter",
            "desc": "Define a parameter's name and location. The parameter may be passed as either\nan HTTP header or a URL query parameter, and if both are passed the behavior\nis implementation-dependent.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Define the name of the parameter, such as \"api_key\" . It is case sensitive.",
                    "type": "string"
                },
                {
                    "name": "urlQueryParameter",
                    "desc": "Define the URL query parameter name to use for the parameter. It is case\nsensitive.",
                    "type": "string"
                },
                {
                    "name": "httpHeader",
                    "desc": "Define the HTTP header name to use for the parameter. It is case\ninsensitive.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AuthRequirement",
            "desc": "User-defined authentication requirements, including support for\n[JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
            "type": "object",
            "fields": [
                {
                    "name": "audiences",
                    "desc": "NOTE: This will be deprecated soon, once AuthProvider.audiences is\nimplemented and accepted in all the runtime components.\n\nThe list of JWT\n[audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).\nthat are allowed to access. A JWT containing any of these audiences will\nbe accepted. When this setting is absent, only JWTs with audience\n\"https://Service_name/API_name\"\nwill be accepted. For example, if no audiences are in the setting,\nLibraryService API will only accept JWTs with the following audience\n\"https://library-example.googleapis.com/google.example.library.v1.LibraryService\".\n\nExample:\n\n    audiences: bookstore_android.apps.googleusercontent.com,\n               bookstore_web.apps.googleusercontent.com",
                    "type": "string"
                },
                {
                    "name": "providerId",
                    "desc": "id from authentication provider.\n\nExample:\n\n    provider_id: bookstore_auth",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Api",
            "desc": "Api is a light-weight descriptor for a protocol buffer service.",
            "type": "object",
            "fields": [
                {
                    "name": "options",
                    "desc": "Any metadata attached to the API.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                },
                {
                    "name": "methods",
                    "desc": "The methods of this api, in unspecified order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Method"
                },
                {
                    "name": "name",
                    "desc": "The fully qualified name of this api, including package name\nfollowed by the api's simple name.",
                    "type": "string"
                },
                {
                    "name": "syntax",
                    "desc": "The source syntax of the service.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SYNTAX_PROTO2",
                            "desc": "Syntax `proto2`."
                        },
                        {
                            "name": "SYNTAX_PROTO3",
                            "desc": "Syntax `proto3`."
                        }
                    ]
                },
                {
                    "name": "sourceContext",
                    "desc": "Source context for the protocol buffer service represented by this\nmessage.",
                    "type": "ref",
                    "refType": "SourceContext"
                },
                {
                    "name": "version",
                    "desc": "A version string for this api. If specified, must have the form\n`major-version.minor-version`, as in `1.10`. If the minor version\nis omitted, it defaults to zero. If the entire version field is\nempty, the major version is derived from the package name, as\noutlined below. If the field is not empty, the version in the\npackage name will be verified to be consistent with what is\nprovided here.\n\nThe versioning schema uses [semantic\nversioning](http://semver.org) where the major version number\nindicates a breaking change and the minor version an additive,\nnon-breaking change. Both version numbers are signals to users\nwhat to expect from different versions, and should be carefully\nchosen based on the product plan.\n\nThe major version is also reflected in the package name of the\nAPI, which must end in `v\u003cmajor-version\u003e`, as in\n`google.feature.v1`. For major versions 0 and 1, the suffix can\nbe omitted. Zero major versions must only be used for\nexperimental, none-GA apis.\n",
                    "type": "string"
                },
                {
                    "name": "mixins",
                    "desc": "Included APIs. See Mixin.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Mixin"
                }
            ]
        },
        {
            "name": "CustomError",
            "desc": "Customize service error responses.  For example, list any service\nspecific protobuf types that can appear in error detail lists of\nerror responses.\n\nExample:\n\n    custom_error:\n      types:\n      - google.foo.v1.CustomError\n      - google.foo.v1.AnotherError",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "The list of custom error rules that apply to individual API messages.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CustomErrorRule"
                },
                {
                    "name": "types",
                    "desc": "The list of custom error detail types, e.g. 'google.foo.v1.CustomError'.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Control",
            "desc": "Selects and configures the service controller used by the service.  The\nservice controller handles features like abuse, quota, billing, logging,\nmonitoring, etc.",
            "type": "object",
            "fields": [
                {
                    "name": "environment",
                    "desc": "The service control environment to use. If empty, no control plane\nfeature (like quota and billing) will be enabled.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OAuthRequirements",
            "desc": "OAuth scopes are a way to define data and permissions on data. For example,\nthere are scopes defined for \"Read-only access to Google Calendar\" and\n\"Access to Cloud Platform\". Users can consent to a scope for an application,\ngiving it permission to access that data on their behalf.\n\nOAuth scope specifications should be fairly coarse grained; a user will need\nto see and understand the text description of what your scope means.\n\nIn most cases: use one or at most two OAuth scopes for an entire family of\nproducts. If your product has multiple APIs, you should probably be sharing\nthe OAuth scope across all of those APIs.\n\nWhen you need finer grained OAuth consent screens: talk with your product\nmanagement about how developers will use them in practice.\n\nPlease note that even though each of the canonical scopes is enough for a\nrequest to be accepted and passed to the backend, a request can still fail\ndue to the backend requiring additional scopes or permissions.",
            "type": "object",
            "fields": [
                {
                    "name": "canonicalScopes",
                    "desc": "The list of publicly documented OAuth scopes that are allowed access. An\nOAuth token containing any of these scopes will be accepted.\n\nExample:\n\n     canonical_scopes: https://www.googleapis.com/auth/calendar,\n                       https://www.googleapis.com/auth/calendar.read",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListEnabledServicesResponse",
            "desc": "Response message for `ListEnabledServices` method.",
            "type": "object",
            "fields": [
                {
                    "name": "services",
                    "desc": "Services enabled for the specified parent.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PublishedService"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Token that can be passed to `ListEnabledServices` to resume a paginated\nquery.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DisableServiceRequest",
            "desc": "Request message for DisableService method.",
            "type": "object"
        },
        {
            "name": "AuthProvider",
            "desc": "Configuration for an anthentication provider, including support for\n[JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
            "type": "object",
            "fields": [
                {
                    "name": "jwksUri",
                    "desc": "URL of the provider's public key set to validate signature of the JWT. See\n[OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\nOptional if the key set document:\n - can be retrieved from\n   [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html\n   of the issuer.\n - can be inferred from the email domain of the issuer (e.g. a Google service account).\n\nExample: https://www.googleapis.com/oauth2/v1/certs",
                    "type": "string"
                },
                {
                    "name": "audiences",
                    "desc": "The list of JWT\n[audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).\nthat are allowed to access. A JWT containing any of these audiences will\nbe accepted. When this setting is absent, only JWTs with audience\n\"https://Service_name/API_name\"\nwill be accepted. For example, if no audiences are in the setting,\nLibraryService API will only accept JWTs with the following audience\n\"https://library-example.googleapis.com/google.example.library.v1.LibraryService\".\n\nExample:\n\n    audiences: bookstore_android.apps.googleusercontent.com,\n               bookstore_web.apps.googleusercontent.com",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The unique identifier of the auth provider. It will be referred to by\n`AuthRequirement.provider_id`.\n\nExample: \"bookstore_auth\".",
                    "type": "string"
                },
                {
                    "name": "issuer",
                    "desc": "Identifies the principal that issued the JWT. See\nhttps://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1\nUsually a URL or an email address.\n\nExample: https://securetoken.google.com\nExample: 1234567-compute@developer.gserviceaccount.com",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EnumValue",
            "desc": "Enum value definition.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Enum value name.",
                    "type": "string"
                },
                {
                    "name": "options",
                    "desc": "Protocol buffer options.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                },
                {
                    "name": "number",
                    "desc": "Enum value number.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "LogDescriptor",
            "desc": "A description of a log type. Example in YAML format:\n\n    - name: library.googleapis.com/activity_history\n      description: The history of borrowing and returning library items.\n      display_name: Activity\n      labels:\n      - key: /customer_id\n        description: Identifier of a library customer",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the log. It must be less than 512 characters long and can\ninclude the following characters: upper- and lower-case alphanumeric\ncharacters [A-Za-z0-9], and punctuation characters including\nslash, underscore, hyphen, period [/_-.].",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "A human-readable description of this log. This information appears in\nthe documentation and can contain details.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The human-readable name for this log. This information appears on\nthe user interface and should be concise.",
                    "type": "string"
                },
                {
                    "name": "labels",
                    "desc": "The set of labels that are available to describe a specific log entry.\nRuntime requests that contain labels not specified here are\nconsidered invalid.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LabelDescriptor"
                }
            ]
        },
        {
            "name": "MediaDownload",
            "desc": "Use this only for Scotty Requests. Do not use this for media support using\nBytestream, add instead [][google.bytestream.RestByteStream] as an API to\nyour configuration for Bytestream methods.",
            "type": "object",
            "fields": [
                {
                    "name": "enabled",
                    "desc": "Whether download is enabled.",
                    "type": "bool"
                },
                {
                    "name": "downloadService",
                    "desc": "DO NOT USE THIS FIELD UNTIL THIS WARNING IS REMOVED.\n\nSpecify name of the download service if one is used for download.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Mixin",
            "desc": "Declares an API to be included in this API. The including API must\nredeclare all the methods from the included API, but documentation\nand options are inherited as follows:\n\n- If after comment and whitespace stripping, the documentation\n  string of the redeclared method is empty, it will be inherited\n  from the original method.\n\n- Each annotation belonging to the service config (http,\n  visibility) which is not set in the redeclared method will be\n  inherited.\n\n- If an http annotation is inherited, the path pattern will be\n  modified as follows. Any version prefix will be replaced by the\n  version of the including API plus the root path if specified.\n\nExample of a simple mixin:\n\n    package google.acl.v1;\n    service AccessControl {\n      // Get the underlying ACL object.\n      rpc GetAcl(GetAclRequest) returns (Acl) {\n        option (google.api.http).get = \"/v1/{resource=**}:getAcl\";\n      }\n    }\n\n    package google.storage.v2;\n    service Storage {\n      //       rpc GetAcl(GetAclRequest) returns (Acl);\n\n      // Get a data record.\n      rpc GetData(GetDataRequest) returns (Data) {\n        option (google.api.http).get = \"/v2/{resource=**}\";\n      }\n    }\n\nExample of a mixin configuration:\n\n    apis:\n    - name: google.storage.v2.Storage\n      mixins:\n      - name: google.acl.v1.AccessControl\n\nThe mixin construct implies that all methods in `AccessControl` are\nalso declared with same name and request/response types in\n`Storage`. A documentation generator or annotation processor will\nsee the effective `Storage.GetAcl` method after inherting\ndocumentation and annotations as follows:\n\n    service Storage {\n      // Get the underlying ACL object.\n      rpc GetAcl(GetAclRequest) returns (Acl) {\n        option (google.api.http).get = \"/v2/{resource=**}:getAcl\";\n      }\n      ...\n    }\n\nNote how the version in the path pattern changed from `v1` to `v2`.\n\nIf the `root` field in the mixin is specified, it should be a\nrelative path under which inherited HTTP paths are placed. Example:\n\n    apis:\n    - name: google.storage.v2.Storage\n      mixins:\n      - name: google.acl.v1.AccessControl\n        root: acls\n\nThis implies the following inherited HTTP annotation:\n\n    service Storage {\n      // Get the underlying ACL object.\n      rpc GetAcl(GetAclRequest) returns (Acl) {\n        option (google.api.http).get = \"/v2/acls/{resource=**}:getAcl\";\n      }\n      ...\n    }",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The fully qualified name of the API which is included.",
                    "type": "string"
                },
                {
                    "name": "root",
                    "desc": "If non-empty specifies a path under which inherited HTTP paths\nare rooted.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Http",
            "desc": "Defines the HTTP configuration for a service. It contains a list of\nHttpRule, each specifying the mapping of an RPC method\nto one or more HTTP REST API methods.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "A list of HTTP configuration rules that apply to individual API methods.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HttpRule"
                }
            ]
        },
        {
            "name": "EnableServiceRequest",
            "desc": "Request message for EnableService method.",
            "type": "object"
        },
        {
            "name": "Experimental",
            "desc": "Experimental service configuration. These configuration options can\nonly be used by whitelisted users.",
            "type": "object",
            "fields": [
                {
                    "name": "authorization",
                    "desc": "Authorization configuration.",
                    "type": "ref",
                    "refType": "AuthorizationConfig"
                }
            ]
        },
        {
            "name": "Usage",
            "desc": "Configuration controlling usage of a service.",
            "type": "object",
            "fields": [
                {
                    "name": "producerNotificationChannel",
                    "desc": "The full resource name of a channel used for sending notifications to the\nservice producer.\n\nGoogle Service Management currently only supports\n[Google Cloud Pub/Sub](https://cloud.google.com/pubsub) as a notification\nchannel. To use Google Cloud Pub/Sub as the channel, this must be the name\nof a Cloud Pub/Sub topic that uses the Cloud Pub/Sub topic name format\ndocumented in https://cloud.google.com/pubsub/docs/overview.",
                    "type": "string"
                },
                {
                    "name": "rules",
                    "desc": "A list of usage rules that apply to individual API methods.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UsageRule"
                },
                {
                    "name": "requirements",
                    "desc": "Requirements that must be satisfied before a consumer project can use the\nservice. Each requirement is of the form \u003cservice.name\u003e/\u003crequirement-id\u003e;\nfor example 'serviceusage.googleapis.com/billing-enabled'.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "HttpRule",
            "desc": "`HttpRule` defines the mapping of an RPC method to one or more HTTP\nREST APIs.  The mapping determines what portions of the request\nmessage are populated from the path, query parameters, or body of\nthe HTTP request.  The mapping is typically specified as an\n`google.api.http` annotation, see \"google/api/annotations.proto\"\nfor details.\n\nThe mapping consists of a field specifying the path template and\nmethod kind.  The path template can refer to fields in the request\nmessage, as in the example below which describes a REST GET\noperation on a resource collection of messages:\n\n\n    service Messaging {\n      rpc GetMessage(GetMessageRequest) returns (Message) {\n        option (google.api.http).get = \"/v1/messages/{message_id}/{sub.subfield}\";\n      }\n    }\n    message GetMessageRequest {\n      message SubMessage {\n        string subfield = 1;\n      }\n      string message_id = 1; // mapped to the URL\n      SubMessage sub = 2;    // `sub.subfield` is url-mapped\n    }\n    message Message {\n      string text = 1; // content of the resource\n    }\n\nThe same http annotation can alternatively be expressed inside the\n`GRPC API Configuration` YAML file.\n\n    http:\n      rules:\n        - selector: \u003cproto_package_name\u003e.Messaging.GetMessage\n          get: /v1/messages/{message_id}/{sub.subfield}\n\nThis definition enables an automatic, bidrectional mapping of HTTP\nJSON to RPC. Example:\n\nHTTP | RPC\n-----|-----\n`GET /v1/messages/123456/foo`  | `GetMessage(message_id: \"123456\" sub: SubMessage(subfield: \"foo\"))`\n\nIn general, not only fields but also field paths can be referenced\nfrom a path pattern. Fields mapped to the path pattern cannot be\nrepeated and must have a primitive (non-message) type.\n\nAny fields in the request message which are not bound by the path\npattern automatically become (optional) HTTP query\nparameters. Assume the following definition of the request message:\n\n\n    message GetMessageRequest {\n      message SubMessage {\n        string subfield = 1;\n      }\n      string message_id = 1; // mapped to the URL\n      int64 revision = 2;    // becomes a parameter\n      SubMessage sub = 3;    // `sub.subfield` becomes a parameter\n    }\n\n\nThis enables a HTTP JSON to RPC mapping as below:\n\nHTTP | RPC\n-----|-----\n`GET /v1/messages/123456?revision=2\u0026sub.subfield=foo` | `GetMessage(message_id: \"123456\" revision: 2 sub: SubMessage(subfield: \"foo\"))`\n\nNote that fields which are mapped to HTTP parameters must have a\nprimitive type or a repeated primitive type. Message types are not\nallowed. In the case of a repeated type, the parameter can be\nrepeated in the URL, as in `...?param=A\u0026param=B`.\n\nFor HTTP method kinds which allow a request body, the `body` field\nspecifies the mapping. Consider a REST update method on the\nmessage resource collection:\n\n\n    service Messaging {\n      rpc UpdateMessage(UpdateMessageRequest) returns (Message) {\n        option (google.api.http) = {\n          put: \"/v1/messages/{message_id}\"\n          body: \"message\"\n        };\n      }\n    }\n    message UpdateMessageRequest {\n      string message_id = 1; // mapped to the URL\n      Message message = 2;   // mapped to the body\n    }\n\n\nThe following HTTP JSON to RPC mapping is enabled, where the\nrepresentation of the JSON in the request body is determined by\nprotos JSON encoding:\n\nHTTP | RPC\n-----|-----\n`PUT /v1/messages/123456 { \"text\": \"Hi!\" }` | `UpdateMessage(message_id: \"123456\" message { text: \"Hi!\" })`\n\nThe special name `*` can be used in the body mapping to define that\nevery field not bound by the path template should be mapped to the\nrequest body.  This enables the following alternative definition of\nthe update method:\n\n    service Messaging {\n      rpc UpdateMessage(Message) returns (Message) {\n        option (google.api.http) = {\n          put: \"/v1/messages/{message_id}\"\n          body: \"*\"\n        };\n      }\n    }\n    message Message {\n      string message_id = 1;\n      string text = 2;\n    }\n\n\nThe following HTTP JSON to RPC mapping is enabled:\n\nHTTP | RPC\n-----|-----\n`PUT /v1/messages/123456 { \"text\": \"Hi!\" }` | `UpdateMessage(message_id: \"123456\" text: \"Hi!\")`\n\nNote that when using `*` in the body mapping, it is not possible to\nhave HTTP parameters, as all fields not bound by the path end in\nthe body. This makes this option more rarely used in practice of\ndefining REST APIs. The common usage of `*` is in custom methods\nwhich don't use the URL at all for transferring data.\n\nIt is possible to define multiple HTTP methods for one RPC by using\nthe `additional_bindings` option. Example:\n\n    service Messaging {\n      rpc GetMessage(GetMessageRequest) returns (Message) {\n        option (google.api.http) = {\n          get: \"/v1/messages/{message_id}\"\n          additional_bindings {\n            get: \"/v1/users/{user_id}/messages/{message_id}\"\n          }\n        };\n      }\n    }\n    message GetMessageRequest {\n      string message_id = 1;\n      string user_id = 2;\n    }\n\n\nThis enables the following two alternative HTTP JSON to RPC\nmappings:\n\nHTTP | RPC\n-----|-----\n`GET /v1/messages/123456` | `GetMessage(message_id: \"123456\")`\n`GET /v1/users/me/messages/123456` | `GetMessage(user_id: \"me\" message_id: \"123456\")`\n\n# Rules for HTTP mapping\n\nThe rules for mapping HTTP path, query parameters, and body fields\nto the request message are as follows:\n\n1. The `body` field specifies either `*` or a field path, or is\n   omitted. If omitted, it assumes there is no HTTP body.\n2. Leaf fields (recursive expansion of nested messages in the\n   request) can be classified into three types:\n    (a) Matched in the URL template.\n    (b) Covered by body (if body is `*`, everything except (a) fields;\n        else everything under the body field)\n    (c) All other fields.\n3. URL query parameters found in the HTTP request are mapped to (c) fields.\n4. Any body sent with an HTTP request can contain only (b) fields.\n\nThe syntax of the path template is as follows:\n\n    Template = \"/\" Segments [ Verb ] ;\n    Segments = Segment { \"/\" Segment } ;\n    Segment  = \"*\" | \"**\" | LITERAL | Variable ;\n    Variable = \"{\" FieldPath [ \"=\" Segments ] \"}\" ;\n    FieldPath = IDENT { \".\" IDENT } ;\n    Verb     = \":\" LITERAL ;\n\nThe syntax `*` matches a single path segment. It follows the semantics of\n[RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.2 Simple String\nExpansion.\n\nThe syntax `**` matches zero or more path segments. It follows the semantics\nof [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.3 Reserved\nExpansion. NOTE: it must be the last segment in the path except the Verb.\n\nThe syntax `LITERAL` matches literal text in the URL path.\n\nThe syntax `Variable` matches the entire path as specified by its template;\nthis nested template must not contain further variables. If a variable\nmatches a single path segment, its template may be omitted, e.g. `{var}`\nis equivalent to `{var=*}`.\n\nNOTE: the field paths in variables and in the `body` must not refer to\nrepeated fields or map fields.\n\nUse CustomHttpPattern to specify any HTTP method that is not included in the\n`pattern` field, such as HEAD, or \"*\" to leave the HTTP method unspecified for\na given URL path rule. The wild-card rule is useful for services that provide\ncontent to Web (HTML) clients.",
            "type": "object",
            "fields": [
                {
                    "name": "delete",
                    "desc": "Used for deleting a resource.",
                    "type": "string"
                },
                {
                    "name": "body",
                    "desc": "The name of the request field whose value is mapped to the HTTP body, or\n`*` for mapping all fields not captured by the path pattern to the HTTP\nbody. NOTE: the referred field must not be a repeated field and must be\npresent at the top-level of request message type.",
                    "type": "string"
                },
                {
                    "name": "mediaDownload",
                    "desc": "Use this only for Scotty Requests. Do not use this for bytestream methods.\nFor media support, add instead [][google.bytestream.RestByteStream] as an\nAPI to your configuration.",
                    "type": "ref",
                    "refType": "MediaDownload"
                },
                {
                    "name": "selector",
                    "desc": "Selects methods to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                },
                {
                    "name": "custom",
                    "desc": "Custom pattern is used for defining custom verbs.",
                    "type": "ref",
                    "refType": "CustomHttpPattern"
                },
                {
                    "name": "patch",
                    "desc": "Used for updating a resource.",
                    "type": "string"
                },
                {
                    "name": "put",
                    "desc": "Used for updating a resource.",
                    "type": "string"
                },
                {
                    "name": "post",
                    "desc": "Used for creating a resource.",
                    "type": "string"
                },
                {
                    "name": "additionalBindings",
                    "desc": "Additional HTTP bindings for the selector. Nested bindings must\nnot contain an `additional_bindings` field themselves (that is,\nthe nesting may only be one level deep).",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HttpRule"
                },
                {
                    "name": "responseBody",
                    "desc": "The name of the response field whose value is mapped to the HTTP body of\nresponse. Other response fields are ignored. This field is optional. When\nnot set, the response message will be used as HTTP body of response.\nNOTE: the referred field must be not a repeated field and must be present\nat the top-level of response message type.",
                    "type": "string"
                },
                {
                    "name": "mediaUpload",
                    "desc": "Use this only for Scotty Requests. Do not use this for media support using\nBytestream, add instead\n[][google.bytestream.RestByteStream] as an API to your\nconfiguration for Bytestream methods.",
                    "type": "ref",
                    "refType": "MediaUpload"
                },
                {
                    "name": "get",
                    "desc": "Used for listing and getting information about resources.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MonitoringDestination",
            "desc": "Configuration of a specific monitoring destination (the producer project\nor the consumer project).",
            "type": "object",
            "fields": [
                {
                    "name": "monitoredResource",
                    "desc": "The monitored resource type. The type must be defined in\nService.monitored_resources section.",
                    "type": "string"
                },
                {
                    "name": "metrics",
                    "desc": "Names of the metrics to report to this monitoring destination.\nEach name must be defined in Service.metrics section.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Field",
            "desc": "A single field of a message type.",
            "type": "object",
            "fields": [
                {
                    "name": "number",
                    "desc": "The field number.",
                    "type": "int32"
                },
                {
                    "name": "options",
                    "desc": "The protocol buffer options.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                },
                {
                    "name": "cardinality",
                    "desc": "The field cardinality.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CARDINALITY_UNKNOWN",
                            "desc": "For fields with unknown cardinality."
                        },
                        {
                            "name": "CARDINALITY_OPTIONAL",
                            "desc": "For optional fields."
                        },
                        {
                            "name": "CARDINALITY_REQUIRED",
                            "desc": "For required fields. Proto2 syntax only."
                        },
                        {
                            "name": "CARDINALITY_REPEATED",
                            "desc": "For repeated fields."
                        }
                    ]
                },
                {
                    "name": "typeUrl",
                    "desc": "The field type URL, without the scheme, for message or enumeration\ntypes. Example: `\"type.googleapis.com/google.protobuf.Timestamp\"`.",
                    "type": "string"
                },
                {
                    "name": "packed",
                    "desc": "Whether to use alternative packed wire representation.",
                    "type": "bool"
                },
                {
                    "name": "defaultValue",
                    "desc": "The string value of the default value of this field. Proto2 syntax only.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The field name.",
                    "type": "string"
                },
                {
                    "name": "jsonName",
                    "desc": "The field JSON name.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The field type.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "TYPE_UNKNOWN",
                            "desc": "Field type unknown."
                        },
                        {
                            "name": "TYPE_DOUBLE",
                            "desc": "Field type double."
                        },
                        {
                            "name": "TYPE_FLOAT",
                            "desc": "Field type float."
                        },
                        {
                            "name": "TYPE_INT64",
                            "desc": "Field type int64."
                        },
                        {
                            "name": "TYPE_UINT64",
                            "desc": "Field type uint64."
                        },
                        {
                            "name": "TYPE_INT32",
                            "desc": "Field type int32."
                        },
                        {
                            "name": "TYPE_FIXED64",
                            "desc": "Field type fixed64."
                        },
                        {
                            "name": "TYPE_FIXED32",
                            "desc": "Field type fixed32."
                        },
                        {
                            "name": "TYPE_BOOL",
                            "desc": "Field type bool."
                        },
                        {
                            "name": "TYPE_STRING",
                            "desc": "Field type string."
                        },
                        {
                            "name": "TYPE_GROUP",
                            "desc": "Field type group. Proto2 syntax only, and deprecated."
                        },
                        {
                            "name": "TYPE_MESSAGE",
                            "desc": "Field type message."
                        },
                        {
                            "name": "TYPE_BYTES",
                            "desc": "Field type bytes."
                        },
                        {
                            "name": "TYPE_UINT32",
                            "desc": "Field type uint32."
                        },
                        {
                            "name": "TYPE_ENUM",
                            "desc": "Field type enum."
                        },
                        {
                            "name": "TYPE_SFIXED32",
                            "desc": "Field type sfixed32."
                        },
                        {
                            "name": "TYPE_SFIXED64",
                            "desc": "Field type sfixed64."
                        },
                        {
                            "name": "TYPE_SINT32",
                            "desc": "Field type sint32."
                        },
                        {
                            "name": "TYPE_SINT64",
                            "desc": "Field type sint64."
                        }
                    ]
                },
                {
                    "name": "oneofIndex",
                    "desc": "The index of the field type in `Type.oneofs`, for message or enumeration\ntypes. The first type has index 1; zero means the type is not in the list.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "MetricDescriptor",
            "desc": "Defines a metric type and its schema. Once a metric descriptor is created,\ndeleting or altering it stops data collection and makes the metric type's\nexisting data unusable.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "The metric type, including its DNS name prefix. The type is not\nURL-encoded.  All user-defined custom metric types have the DNS name\n`custom.googleapis.com`.  Metric types should use a natural hierarchical\ngrouping. For example:\n\n    \"custom.googleapis.com/invoice/paid/amount\"\n    \"appengine.googleapis.com/http/server/response_latencies\"",
                    "type": "string"
                },
                {
                    "name": "valueType",
                    "desc": "Whether the measurement is an integer, a floating-point number, etc.\nSome combinations of `metric_kind` and `value_type` might not be supported.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "VALUE_TYPE_UNSPECIFIED",
                            "desc": "Do not use this default value."
                        },
                        {
                            "name": "BOOL",
                            "desc": "The value is a boolean.\nThis value type can be used only if the metric kind is `GAUGE`."
                        },
                        {
                            "name": "INT64",
                            "desc": "The value is a signed 64-bit integer."
                        },
                        {
                            "name": "DOUBLE",
                            "desc": "The value is a double precision floating point number."
                        },
                        {
                            "name": "STRING",
                            "desc": "The value is a text string.\nThis value type can be used only if the metric kind is `GAUGE`."
                        },
                        {
                            "name": "DISTRIBUTION",
                            "desc": "The value is a `Distribution`."
                        },
                        {
                            "name": "MONEY",
                            "desc": "The value is money."
                        }
                    ]
                },
                {
                    "name": "metricKind",
                    "desc": "Whether the metric records instantaneous values, changes to a value, etc.\nSome combinations of `metric_kind` and `value_type` might not be supported.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "METRIC_KIND_UNSPECIFIED",
                            "desc": "Do not use this default value."
                        },
                        {
                            "name": "GAUGE",
                            "desc": "An instantaneous measurement of a value."
                        },
                        {
                            "name": "DELTA",
                            "desc": "The change in a value during a time interval."
                        },
                        {
                            "name": "CUMULATIVE",
                            "desc": "A value accumulated over a time interval.  Cumulative\nmeasurements in a time series should have the same start time\nand increasing end times, until an event resets the cumulative\nvalue to zero and sets a new start time for the following\npoints."
                        }
                    ]
                },
                {
                    "name": "displayName",
                    "desc": "A concise name for the metric, which can be displayed in user interfaces.\nUse sentence case without an ending period, for example \"Request count\".",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "A detailed description of the metric, which can be used in documentation.",
                    "type": "string"
                },
                {
                    "name": "unit",
                    "desc": "The unit in which the metric value is reported. It is only applicable\nif the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The\nsupported units are a subset of [The Unified Code for Units of\nMeasure](http://unitsofmeasure.org/ucum.html) standard:\n\n**Basic units (UNIT)**\n\n* `bit`   bit\n* `By`    byte\n* `s`     second\n* `min`   minute\n* `h`     hour\n* `d`     day\n\n**Prefixes (PREFIX)**\n\n* `k`     kilo    (10**3)\n* `M`     mega    (10**6)\n* `G`     giga    (10**9)\n* `T`     tera    (10**12)\n* `P`     peta    (10**15)\n* `E`     exa     (10**18)\n* `Z`     zetta   (10**21)\n* `Y`     yotta   (10**24)\n* `m`     milli   (10**-3)\n* `u`     micro   (10**-6)\n* `n`     nano    (10**-9)\n* `p`     pico    (10**-12)\n* `f`     femto   (10**-15)\n* `a`     atto    (10**-18)\n* `z`     zepto   (10**-21)\n* `y`     yocto   (10**-24)\n* `Ki`    kibi    (2**10)\n* `Mi`    mebi    (2**20)\n* `Gi`    gibi    (2**30)\n* `Ti`    tebi    (2**40)\n\n**Grammar**\n\nThe grammar includes the dimensionless unit `1`, such as `1/s`.\n\nThe grammar also includes these connectors:\n\n* `/`    division (as an infix operator, e.g. `1/s`).\n* `.`    multiplication (as an infix operator, e.g. `GBy.d`)\n\nThe grammar for a unit is as follows:\n\n    Expression = Component { \".\" Component } { \"/\" Component } ;\n\n    Component = [ PREFIX ] UNIT [ Annotation ]\n              | Annotation\n              | \"1\"\n              ;\n\n    Annotation = \"{\" NAME \"}\" ;\n\nNotes:\n\n* `Annotation` is just a comment if it follows a `UNIT` and is\n   equivalent to `1` if it is used alone. For examples,\n   `{requests}/s == 1/s`, `By{transmitted}/s == By/s`.\n* `NAME` is a sequence of non-blank printable ASCII characters not\n   containing '{' or '}'.",
                    "type": "string"
                },
                {
                    "name": "labels",
                    "desc": "The set of labels that can be used to describe a specific\ninstance of this metric type. For example, the\n`appengine.googleapis.com/http/server/response_latencies` metric\ntype has a label for the HTTP response code, `response_code`, so\nyou can look at latencies for successful responses or just\nfor responses that failed.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LabelDescriptor"
                },
                {
                    "name": "name",
                    "desc": "The resource name of the metric descriptor. Depending on the\nimplementation, the name typically includes: (1) the parent resource name\nthat defines the scope of the metric type or of its data; and (2) the\nmetric's URL-encoded type, which also appears in the `type` field of this\ndescriptor. For example, following is the resource name of a custom\nmetric within the GCP project `my-project-id`:\n\n    \"projects/my-project-id/metricDescriptors/custom.googleapis.com%2Finvoice%2Fpaid%2Famount\"",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Endpoint",
            "desc": "`Endpoint` describes a network endpoint that serves a set of APIs.\nA service may expose any number of endpoints, and all endpoints share the\nsame service configuration, such as quota configuration and monitoring\nconfiguration.\n\nExample service configuration:\n\n    name: library-example.googleapis.com\n    endpoints:\n      # Below entry makes 'google.example.library.v1.Library'\n      # API be served from endpoint address library-example.googleapis.com.\n      # It also allows HTTP OPTIONS calls to be passed to the backend, for\n      # it to decide whether the subsequent cross-origin request is\n      # allowed to proceed.\n    - name: library-example.googleapis.com\n      allow_cors: true",
            "type": "object",
            "fields": [
                {
                    "name": "apis",
                    "desc": "The list of APIs served by this endpoint.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "aliases",
                    "desc": "DEPRECATED: This field is no longer supported. Instead of using aliases,\nplease specify multiple google.api.Endpoint for each of the intented\nalias.\n\nAdditional names that this endpoint will be hosted on.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "features",
                    "desc": "The list of features enabled on this endpoint.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "allowCors",
                    "desc": "Allowing\n[CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing), aka\ncross-domain traffic, would allow the backends served from this endpoint to\nreceive and respond to HTTP OPTIONS requests. The response will be used by\nthe browser to determine whether the subsequent cross-origin request is\nallowed to proceed.",
                    "type": "bool"
                },
                {
                    "name": "name",
                    "desc": "The canonical name of this endpoint.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CustomErrorRule",
            "desc": "A custom error rule.",
            "type": "object",
            "fields": [
                {
                    "name": "isErrorType",
                    "desc": "Mark this message as possible payload in error response.  Otherwise,\nobjects of this type will be filtered when they appear in error payload.",
                    "type": "bool"
                },
                {
                    "name": "selector",
                    "desc": "Selects messages to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CustomHttpPattern",
            "desc": "A custom pattern is used for defining custom HTTP verb.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The name of this custom HTTP verb.",
                    "type": "string"
                },
                {
                    "name": "path",
                    "desc": "The path matched by this custom verb.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SystemParameters",
            "desc": "### System parameter configuration\n\nA system parameter is a special kind of parameter defined by the API\nsystem, not by an individual API. It is typically mapped to an HTTP header\nand/or a URL query parameter. This configuration specifies which methods\nchange the names of the system parameters.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "Define system parameters.\n\nThe parameters defined here will override the default parameters\nimplemented by the system. If this field is missing from the service\nconfig, default system parameters will be used. Default system parameters\nand names is implementation-dependent.\n\nExample: define api key for all methods\n\n    system_parameters\n      rules:\n        - selector: \"*\"\n          parameters:\n            - name: api_key\n              url_query_parameter: api_key\n\n\nExample: define 2 api key names for a specific method.\n\n    system_parameters\n      rules:\n        - selector: \"/ListShelves\"\n          parameters:\n            - name: api_key\n              http_header: Api-Key1\n            - name: api_key\n              http_header: Api-Key2\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SystemParameterRule"
                }
            ]
        },
        {
            "name": "Step",
            "desc": "Represents the status of one operation step.",
            "type": "object",
            "fields": [
                {
                    "name": "status",
                    "desc": "The status code.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STATUS_UNSPECIFIED",
                            "desc": "Unspecifed code."
                        },
                        {
                            "name": "DONE",
                            "desc": "The operation or step has completed without errors."
                        },
                        {
                            "name": "NOT_STARTED",
                            "desc": "The operation or step has not started yet."
                        },
                        {
                            "name": "IN_PROGRESS",
                            "desc": "The operation or step is in progress."
                        },
                        {
                            "name": "FAILED",
                            "desc": "The operation or step has completed with errors."
                        },
                        {
                            "name": "CANCELLED",
                            "desc": "The operation or step has completed with cancellation."
                        }
                    ]
                },
                {
                    "name": "description",
                    "desc": "The short description of the step.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SourceInfo",
            "desc": "Source information used to create a Service Config",
            "type": "object",
            "fields": [
                {
                    "name": "sourceFiles",
                    "desc": "All files used during config generation.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                }
            ]
        },
        {
            "name": "ContextRule",
            "desc": "A context rule provides information about the context for an individual API\nelement.",
            "type": "object",
            "fields": [
                {
                    "name": "requested",
                    "desc": "A list of full type names of requested contexts.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "selector",
                    "desc": "Selects the methods to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                },
                {
                    "name": "provided",
                    "desc": "A list of full type names of provided contexts.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Page",
            "desc": "Represents a documentation page. A page can contain subpages to represent\nnested documentation set structure.",
            "type": "object",
            "fields": [
                {
                    "name": "content",
                    "desc": "The Markdown content of the page. You can use \u003ccode\u003e\u0026#40;== include {path} ==\u0026#41;\u003c/code\u003e\nto include content from a Markdown file.",
                    "type": "string"
                },
                {
                    "name": "subpages",
                    "desc": "Subpages of this page. The order of subpages specified here will be\nhonored in the generated docset.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Page"
                },
                {
                    "name": "name",
                    "desc": "The name of the page. It will be used as an identity of the page to\ngenerate URI of the page, text of the link to this page in navigation,\netc. The full page name (start from the root page name to this page\nconcatenated with `.`) can be used as reference to the page in your\ndocumentation. For example:\n\u003cpre\u003e\u003ccode\u003epages:\n- name: Tutorial\n  content: \u0026#40;== include tutorial.md ==\u0026#41;\n  subpages:\n  - name: Java\n    content: \u0026#40;== include tutorial_java.md ==\u0026#41;\n\u003c/code\u003e\u003c/pre\u003e\nYou can reference `Java` page using Markdown reference link syntax:\n`Java`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VisibilityRule",
            "desc": "A visibility rule provides visibility configuration for an individual API\nelement.",
            "type": "object",
            "fields": [
                {
                    "name": "selector",
                    "desc": "Selects methods, messages, fields, enums, etc. to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                },
                {
                    "name": "restriction",
                    "desc": "A comma-separated list of visibility labels that apply to the `selector`.\nAny of the listed labels can be used to grant the visibility.\n\nIf a rule has multiple labels, removing one of the labels but not all of\nthem can break clients.\n\nExample:\n\n    visibility:\n      rules:\n      - selector: google.calendar.Calendar.EnhancedSearch\n        restriction: GOOGLE_INTERNAL, TRUSTED_TESTER\n\nRemoving GOOGLE_INTERNAL from this restriction will break clients that\nrely on this method and only had access to it through GOOGLE_INTERNAL.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Documentation",
            "desc": "`Documentation` provides the information for describing a service.\n\nExample:\n\u003cpre\u003e\u003ccode\u003edocumentation:\n  summary: \u003e\n    The Google Calendar API gives access\n    to most calendar features.\n  pages:\n  - name: Overview\n    content: \u0026#40;== include google/foo/overview.md ==\u0026#41;\n  - name: Tutorial\n    content: \u0026#40;== include google/foo/tutorial.md ==\u0026#41;\n    subpages;\n    - name: Java\n      content: \u0026#40;== include google/foo/tutorial_java.md ==\u0026#41;\n  rules:\n  - selector: google.calendar.Calendar.Get\n    description: \u003e\n      ...\n  - selector: google.calendar.Calendar.Put\n    description: \u003e\n      ...\n\u003c/code\u003e\u003c/pre\u003e\nDocumentation is provided in markdown syntax. In addition to\nstandard markdown features, definition lists, tables and fenced\ncode blocks are supported. Section headers can be provided and are\ninterpreted relative to the section nesting of the context where\na documentation fragment is embedded.\n\nDocumentation from the IDL is merged with documentation defined\nvia the config at normalization time, where documentation provided\nby config rules overrides IDL provided.\n\nA number of constructs specific to the API platform are supported\nin documentation text.\n\nIn order to reference a proto element, the following\nnotation can be used:\n\u003cpre\u003e\u003ccode\u003e\u0026#91;fully.qualified.proto.name]\u0026#91;]\u003c/code\u003e\u003c/pre\u003e\nTo override the display text used for the link, this can be used:\n\u003cpre\u003e\u003ccode\u003e\u0026#91;display text]\u0026#91;fully.qualified.proto.name]\u003c/code\u003e\u003c/pre\u003e\nText can be excluded from doc using the following notation:\n\u003cpre\u003e\u003ccode\u003e\u0026#40;-- internal comment --\u0026#41;\u003c/code\u003e\u003c/pre\u003e\nComments can be made conditional using a visibility label. The below\ntext will be only rendered if the `BETA` label is available:\n\u003cpre\u003e\u003ccode\u003e\u0026#40;--BETA: comment for BETA users --\u0026#41;\u003c/code\u003e\u003c/pre\u003e\nA few directives are available in documentation. Note that\ndirectives must appear on a single line to be properly\nidentified. The `include` directive includes a markdown file from\nan external source:\n\u003cpre\u003e\u003ccode\u003e\u0026#40;== include path/to/file ==\u0026#41;\u003c/code\u003e\u003c/pre\u003e\nThe `resource_for` directive marks a message to be the resource of\na collection in REST view. If it is not specified, tools attempt\nto infer the resource from the operations in a collection:\n\u003cpre\u003e\u003ccode\u003e\u0026#40;== resource_for v1.shelves.books ==\u0026#41;\u003c/code\u003e\u003c/pre\u003e\nThe directive `suppress_warning` does not directly affect documentation\nand is documented together with service config validation.",
            "type": "object",
            "fields": [
                {
                    "name": "documentationRootUrl",
                    "desc": "The URL to the root of documentation.",
                    "type": "string"
                },
                {
                    "name": "rules",
                    "desc": "A list of documentation rules that apply to individual API elements.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DocumentationRule"
                },
                {
                    "name": "overview",
                    "desc": "Declares a single overview page. For example:\n\u003cpre\u003e\u003ccode\u003edocumentation:\n  summary: ...\n  overview: \u0026#40;== include overview.md ==\u0026#41;\n\u003c/code\u003e\u003c/pre\u003e\nThis is a shortcut for the following declaration (using pages style):\n\u003cpre\u003e\u003ccode\u003edocumentation:\n  summary: ...\n  pages:\n  - name: Overview\n    content: \u0026#40;== include overview.md ==\u0026#41;\n\u003c/code\u003e\u003c/pre\u003e\nNote: you cannot specify both `overview` field and `pages` field.",
                    "type": "string"
                },
                {
                    "name": "pages",
                    "desc": "The top level pages for the documentation set.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Page"
                },
                {
                    "name": "summary",
                    "desc": "A short summary of what the service does. Can only be provided by\nplain text.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Option",
            "desc": "A protocol buffer option, which can be attached to a message, field,\nenumeration, etc.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The option's value packed in an Any message. If the value is a primitive,\nthe corresponding wrapper type defined in google/protobuf/wrappers.proto\nshould be used. If the value is an enum, it should be stored as an int32\nvalue using the google.protobuf.Int32Value type.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "name",
                    "desc": "The option's name. For protobuf built-in options (options defined in\ndescriptor.proto), this is the short name. For example, `\"map_entry\"`.\nFor custom options, it should be the fully-qualified name. For example,\n`\"google.api.http\"`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OperationMetadata",
            "desc": "The metadata associated with a long running operation resource.",
            "type": "object",
            "fields": [
                {
                    "name": "startTime",
                    "desc": "The start time of the operation.",
                    "type": "datetime"
                },
                {
                    "name": "resourceNames",
                    "desc": "The full name of the resources that this operation is directly\nassociated with.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "steps",
                    "desc": "Detailed status information for each step. The order is undetermined.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Step"
                },
                {
                    "name": "progressPercentage",
                    "desc": "Percentage of completion of this operation, ranging from 0 to 100.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Method",
            "desc": "Method represents a method of an api.",
            "type": "object",
            "fields": [
                {
                    "name": "responseTypeUrl",
                    "desc": "The URL of the output message type.",
                    "type": "string"
                },
                {
                    "name": "options",
                    "desc": "Any metadata attached to the method.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                },
                {
                    "name": "responseStreaming",
                    "desc": "If true, the response is streamed.",
                    "type": "bool"
                },
                {
                    "name": "name",
                    "desc": "The simple name of this method.",
                    "type": "string"
                },
                {
                    "name": "requestTypeUrl",
                    "desc": "A URL of the input message type.",
                    "type": "string"
                },
                {
                    "name": "requestStreaming",
                    "desc": "If true, the request is streamed.",
                    "type": "bool"
                },
                {
                    "name": "syntax",
                    "desc": "The source syntax of this method.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SYNTAX_PROTO2",
                            "desc": "Syntax `proto2`."
                        },
                        {
                            "name": "SYNTAX_PROTO3",
                            "desc": "Syntax `proto3`."
                        }
                    ]
                }
            ]
        },
        {
            "name": "BackendRule",
            "desc": "A backend rule provides configuration for an individual API element.",
            "type": "object",
            "fields": [
                {
                    "name": "selector",
                    "desc": "Selects the methods to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                },
                {
                    "name": "deadline",
                    "desc": "The number of seconds to wait for a response from a request.  The\ndefault depends on the deployment context.",
                    "type": "float64"
                },
                {
                    "name": "address",
                    "desc": "The address of the API backend.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MediaUpload",
            "desc": "Use this only for Scotty Requests. Do not use this for media support using\nBytestream, add instead [][google.bytestream.RestByteStream] as an API to\nyour configuration for Bytestream methods.",
            "type": "object",
            "fields": [
                {
                    "name": "enabled",
                    "desc": "Whether upload is enabled.",
                    "type": "bool"
                },
                {
                    "name": "uploadService",
                    "desc": "DO NOT USE THIS FIELD UNTIL THIS WARNING IS REMOVED.\n\nSpecify name of the upload service if one is used for upload.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SystemParameterRule",
            "desc": "Define a system parameter rule mapping system parameter definitions to\nmethods.",
            "type": "object",
            "fields": [
                {
                    "name": "parameters",
                    "desc": "Define parameters. Multiple names may be defined for a parameter.\nFor a given method call, only one of them should be used. If multiple\nnames are used the behavior is implementation-dependent.\nIf none of the specified names are present the behavior is\nparameter-dependent.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SystemParameter"
                },
                {
                    "name": "selector",
                    "desc": "Selects the methods to which this rule applies. Use '*' to indicate all\nmethods in all APIs.\n\nRefer to selector for syntax details.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Visibility",
            "desc": "`Visibility` defines restrictions for the visibility of service\nelements.  Restrictions are specified using visibility labels\n(e.g., TRUSTED_TESTER) that are elsewhere linked to users and projects.\n\nUsers and projects can have access to more than one visibility label. The\neffective visibility for multiple labels is the union of each label's\nelements, plus any unrestricted elements.\n\nIf an element and its parents have no restrictions, visibility is\nunconditionally granted.\n\nExample:\n\n    visibility:\n      rules:\n      - selector: google.calendar.Calendar.EnhancedSearch\n        restriction: TRUSTED_TESTER\n      - selector: google.calendar.Calendar.Delegate\n        restriction: GOOGLE_INTERNAL\n\nHere, all methods are publicly visible except for the restricted methods\nEnhancedSearch and Delegate.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "A list of visibility rules that apply to individual API elements.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "VisibilityRule"
                }
            ]
        },
        {
            "name": "LoggingDestination",
            "desc": "Configuration of a specific logging destination (the producer project\nor the consumer project).",
            "type": "object",
            "fields": [
                {
                    "name": "logs",
                    "desc": "Names of the logs to be sent to this destination. Each name must\nbe defined in the Service.logs section. If the log name is\nnot a domain scoped name, it will be automatically prefixed with\nthe service name followed by \"/\".",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "monitoredResource",
                    "desc": "The monitored resource type. The type must be defined in the\nService.monitored_resources section.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Enum",
            "desc": "Enum type definition.",
            "type": "object",
            "fields": [
                {
                    "name": "options",
                    "desc": "Protocol buffer options.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                },
                {
                    "name": "sourceContext",
                    "desc": "The source context.",
                    "type": "ref",
                    "refType": "SourceContext"
                },
                {
                    "name": "syntax",
                    "desc": "The source syntax.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SYNTAX_PROTO2",
                            "desc": "Syntax `proto2`."
                        },
                        {
                            "name": "SYNTAX_PROTO3",
                            "desc": "Syntax `proto3`."
                        }
                    ]
                },
                {
                    "name": "name",
                    "desc": "Enum type name.",
                    "type": "string"
                },
                {
                    "name": "enumvalue",
                    "desc": "Enum value definitions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EnumValue"
                }
            ]
        },
        {
            "name": "Type",
            "desc": "A protocol buffer message type.",
            "type": "object",
            "fields": [
                {
                    "name": "fields",
                    "desc": "The list of fields.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Field"
                },
                {
                    "name": "name",
                    "desc": "The fully qualified message name.",
                    "type": "string"
                },
                {
                    "name": "oneofs",
                    "desc": "The list of types appearing in `oneof` definitions in this type.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "syntax",
                    "desc": "The source syntax.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SYNTAX_PROTO2",
                            "desc": "Syntax `proto2`."
                        },
                        {
                            "name": "SYNTAX_PROTO3",
                            "desc": "Syntax `proto3`."
                        }
                    ]
                },
                {
                    "name": "sourceContext",
                    "desc": "The source context.",
                    "type": "ref",
                    "refType": "SourceContext"
                },
                {
                    "name": "options",
                    "desc": "The protocol buffer options.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Option"
                }
            ]
        },
        {
            "name": "MonitoredResourceDescriptor",
            "desc": "An object that describes the schema of a MonitoredResource object using a\ntype name and a set of labels.  For example, the monitored resource\ndescriptor for Google Compute Engine VM instances has a type of\n`\"gce_instance\"` and specifies the use of the labels `\"instance_id\"` and\n`\"zone\"` to identify particular VM instances.\n\nDifferent APIs can support different monitored resource types. APIs generally\nprovide a `list` method that returns the monitored resource descriptors used\nby the API.",
            "type": "object",
            "fields": [
                {
                    "name": "displayName",
                    "desc": "Optional. A concise name for the monitored resource type that might be\ndisplayed in user interfaces. It should be a Title Cased Noun Phrase,\nwithout any article or other determiners. For example,\n`\"Google Cloud SQL Database\"`.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "Optional. A detailed description of the monitored resource type that might\nbe used in documentation.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Required. The monitored resource type. For example, the type\n`\"cloudsql_database\"` represents databases in Google Cloud SQL.\nThe maximum length of this value is 256 characters.",
                    "type": "string"
                },
                {
                    "name": "labels",
                    "desc": "Required. A set of labels used to describe instances of this monitored\nresource type. For example, an individual Google Cloud SQL database is\nidentified by values for the labels `\"database_id\"` and `\"zone\"`.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LabelDescriptor"
                },
                {
                    "name": "name",
                    "desc": "Optional. The resource name of the monitored resource descriptor:\n`\"projects/{project_id}/monitoredResourceDescriptors/{type}\"` where\n{type} is the value of the `type` field in this object and\n{project_id} is a project ID that provides API-specific context for\naccessing the type.  APIs that do not use project information can use the\nresource name format `\"monitoredResourceDescriptors/{type}\"`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Logging",
            "desc": "Logging configuration of the service.\n\nThe following example shows how to configure logs to be sent to the\nproducer and consumer projects. In the example, the `activity_history`\nlog is sent to both the producer and consumer projects, whereas the\n`purchase_history` log is only sent to the producer project.\n\n    monitored_resources:\n    - type: library.googleapis.com/branch\n      labels:\n      - key: /city\n        description: The city where the library branch is located in.\n      - key: /name\n        description: The name of the branch.\n    logs:\n    - name: activity_history\n      labels:\n      - key: /customer_id\n    - name: purchase_history\n    logging:\n      producer_destinations:\n      - monitored_resource: library.googleapis.com/branch\n        logs:\n        - activity_history\n        - purchase_history\n      consumer_destinations:\n      - monitored_resource: library.googleapis.com/branch\n        logs:\n        - activity_history",
            "type": "object",
            "fields": [
                {
                    "name": "consumerDestinations",
                    "desc": "Logging configurations for sending logs to the consumer project.\nThere can be multiple consumer destinations, each one must have a\ndifferent monitored resource type. A log can be used in at most\none consumer destination.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LoggingDestination"
                },
                {
                    "name": "producerDestinations",
                    "desc": "Logging configurations for sending logs to the producer project.\nThere can be multiple producer destinations, each one must have a\ndifferent monitored resource type. A log can be used in at most\none producer destination.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LoggingDestination"
                }
            ]
        },
        {
            "name": "PublishedService",
            "desc": "The published version of a Service that is managed by\nGoogle Service Management.",
            "type": "object",
            "fields": [
                {
                    "name": "service",
                    "desc": "The service's published configuration.",
                    "type": "ref",
                    "refType": "Service"
                },
                {
                    "name": "name",
                    "desc": "The resource name of the service.\n\nA valid name would be:\n- services/serviceuser.googleapis.com",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LabelDescriptor",
            "desc": "A description of a label.",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "desc": "The label key.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "A human-readable description for the label.",
                    "type": "string"
                },
                {
                    "name": "valueType",
                    "desc": "The type of data that can be assigned to the label.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STRING",
                            "desc": "A variable-length string. This is the default."
                        },
                        {
                            "name": "BOOL",
                            "desc": "Boolean; true or false."
                        },
                        {
                            "name": "INT64",
                            "desc": "A 64-bit signed integer."
                        }
                    ]
                }
            ]
        },
        {
            "name": "Backend",
            "desc": "`Backend` defines the backend configuration for a service.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "A list of API backend rules that apply to individual API methods.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BackendRule"
                }
            ]
        },
        {
            "name": "Context",
            "desc": "`Context` defines which contexts an API requests.\n\nExample:\n\n    context:\n      rules:\n      - selector: \"*\"\n        requested:\n        - google.rpc.context.ProjectContext\n        - google.rpc.context.OriginContext\n\nThe above specifies that all methods in the API request\n`google.rpc.context.ProjectContext` and\n`google.rpc.context.OriginContext`.\n\nAvailable context types are defined in package\n`google.rpc.context`.",
            "type": "object",
            "fields": [
                {
                    "name": "rules",
                    "desc": "A list of RPC context rules that apply to individual API methods.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ContextRule"
                }
            ]
        },
        {
            "name": "AuthenticationRule",
            "desc": "Authentication rules for the service.\n\nBy default, if a method has any authentication requirements, every request\nmust include a valid credential matching one of the requirements.\nIt's an error to include more than one kind of credential in a single\nrequest.\n\nIf a method doesn't have any auth requirements, request credentials will be\nignored.",
            "type": "object",
            "fields": [
                {
                    "name": "requirements",
                    "desc": "Requirements for additional authentication providers.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AuthRequirement"
                },
                {
                    "name": "selector",
                    "desc": "Selects the methods to which this rule applies.\n\nRefer to selector for syntax details.",
                    "type": "string"
                },
                {
                    "name": "allowWithoutCredential",
                    "desc": "Whether to allow requests without a credential. The credential can be\nan OAuth token, Google cookies (first-party auth) or EndUserCreds.\n\nFor requests without credentials, if the service control environment is\nspecified, each incoming request **must** be associated with a service\nconsumer. This can be done by passing an API key that belongs to a consumer\nproject.",
                    "type": "bool"
                },
                {
                    "name": "oauth",
                    "desc": "The requirements for OAuth credentials.",
                    "type": "ref",
                    "refType": "OAuthRequirements"
                }
            ]
        },
        {
            "name": "Status",
            "desc": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "type": "object",
            "fields": [
                {
                    "name": "details",
                    "desc": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                },
                {
                    "name": "code",
                    "desc": "The status code, which should be an enum value of google.rpc.Code.",
                    "type": "int32"
                },
                {
                    "name": "message",
                    "desc": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Service",
            "desc": "`Service` is the root object of Google service configuration schema. It\ndescribes basic information about a service, such as the name and the\ntitle, and delegates other aspects to sub-sections. Each sub-section is\neither a proto message or a repeated proto message that configures a\nspecific aspect, such as auth. See each proto message definition for details.\n\nExample:\n\n    type: google.api.Service\n    config_version: 3\n    name: calendar.googleapis.com\n    title: Google Calendar API\n    apis:\n    - name: google.calendar.v3.Calendar\n    authentication:\n      providers:\n      - id: google_calendar_auth\n        jwks_uri: https://www.googleapis.com/oauth2/v1/certs\n        issuer: https://securetoken.google.com\n      rules:\n      - selector: \"*\"\n        requirements:\n          provider_id: google_calendar_auth",
            "type": "object",
            "fields": [
                {
                    "name": "authentication",
                    "desc": "Auth configuration.",
                    "type": "ref",
                    "refType": "Authentication"
                },
                {
                    "name": "control",
                    "desc": "Configuration for the service control plane.",
                    "type": "ref",
                    "refType": "Control"
                },
                {
                    "name": "endpoints",
                    "desc": "Configuration for network endpoints.  If this is empty, then an endpoint\nwith the same name as the service is automatically generated to service all\ndefined APIs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Endpoint"
                },
                {
                    "name": "http",
                    "desc": "HTTP configuration.",
                    "type": "ref",
                    "refType": "Http"
                },
                {
                    "name": "metrics",
                    "desc": "Defines the metrics used by this service.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MetricDescriptor"
                },
                {
                    "name": "types",
                    "desc": "A list of all proto message types included in this API service.\nTypes referenced directly or indirectly by the `apis` are\nautomatically included.  Messages which are not referenced but\nshall be included, such as types used by the `google.protobuf.Any` type,\nshould be listed here by name. Example:\n\n    types:\n    - name: google.protobuf.Int32",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Type"
                },
                {
                    "name": "context",
                    "desc": "Context configuration.",
                    "type": "ref",
                    "refType": "Context"
                },
                {
                    "name": "enums",
                    "desc": "A list of all enum types included in this API service.  Enums\nreferenced directly or indirectly by the `apis` are automatically\nincluded.  Enums which are not referenced but shall be included\nshould be listed here by name. Example:\n\n    enums:\n    - name: google.someapi.v1.SomeEnum",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Enum"
                },
                {
                    "name": "experimental",
                    "desc": "Experimental configuration.",
                    "type": "ref",
                    "refType": "Experimental"
                },
                {
                    "name": "monitoredResources",
                    "desc": "Defines the monitored resources used by this service. This is required\nby the Service.monitoring and Service.logging configurations.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MonitoredResourceDescriptor"
                },
                {
                    "name": "usage",
                    "desc": "Configuration controlling usage of this service.",
                    "type": "ref",
                    "refType": "Usage"
                },
                {
                    "name": "systemTypes",
                    "desc": "A list of all proto message types included in this API service.\nIt serves similar purpose as [google.api.Service.types], except that\nthese types are not needed by user-defined APIs. Therefore, they will not\nshow up in the generated discovery doc. This field should only be used\nto define system APIs in ESF.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Type"
                },
                {
                    "name": "apis",
                    "desc": "A list of API interfaces exported by this service. Only the `name` field\nof the google.protobuf.Api needs to be provided by the configuration\nauthor, as the remaining fields will be derived from the IDL during the\nnormalization process. It is an error to specify an API interface here\nwhich cannot be resolved against the associated IDL files.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Api"
                },
                {
                    "name": "logs",
                    "desc": "Defines the logs used by this service.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LogDescriptor"
                },
                {
                    "name": "logging",
                    "desc": "Logging configuration.",
                    "type": "ref",
                    "refType": "Logging"
                },
                {
                    "name": "sourceInfo",
                    "desc": "Output only. The source information for this configuration if available.",
                    "type": "ref",
                    "refType": "SourceInfo"
                },
                {
                    "name": "backend",
                    "desc": "API backend configuration.",
                    "type": "ref",
                    "refType": "Backend"
                },
                {
                    "name": "documentation",
                    "desc": "Additional API documentation.",
                    "type": "ref",
                    "refType": "Documentation"
                },
                {
                    "name": "systemParameters",
                    "desc": "System parameter configuration.",
                    "type": "ref",
                    "refType": "SystemParameters"
                },
                {
                    "name": "id",
                    "desc": "A unique ID for a specific instance of this message, typically assigned\nby the client for tracking purpose. If empty, the server may choose to\ngenerate one instead.",
                    "type": "string"
                },
                {
                    "name": "producerProjectId",
                    "desc": "The id of the Google developer project that owns the service.\nMembers of this project can manage the service configuration,\nmanage consumption of the service, etc.",
[...]
