{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "ml:v1beta1",
    "name": "ml",
    "version": "v1beta1",
    "title": "Google Cloud Machine Learning Engine",
    "description": "An API to enable creating and using machine learning models.",
    "documentationLink": "https://cloud.google.com/ml/",
    "protocol": "rest",
    "rootUrl": "https://ml.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "GoogleCloudMlV1beta1__ListJobsResponse",
            "desc": "Response message for the ListJobs method.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Optional. Pass this token as the `page_token` field of the request for a\nsubsequent call.",
                    "type": "string"
                },
                {
                    "name": "jobs",
                    "desc": "The list of jobs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__Job"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__ListVersionsResponse",
            "desc": "Response message for the ListVersions method.",
            "type": "object",
            "fields": [
                {
                    "name": "versions",
                    "desc": "The list of versions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__Version"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Optional. Pass this token as the `page_token` field of the request for a\nsubsequent call.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__CancelJobRequest",
            "desc": "Request message for the CancelJob method.",
            "type": "object"
        },
        {
            "name": "GoogleCloudMlV1beta1__Model",
            "desc": "Represents a machine learning solution.\n\nA model can have multiple versions, each of which is a deployed, trained\nmodel ready to receive prediction requests. The model itself is just a\ncontainer.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Required. The name specified for the model when it was created.\n\nThe model name must be unique within the project it is created in.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "Optional. The description specified for the model when it was created.",
                    "type": "string"
                },
                {
                    "name": "onlinePredictionLogging",
                    "desc": "Optional. If true, enables StackDriver Logging for online prediction.\nDefault is false.",
                    "type": "bool"
                },
                {
                    "name": "defaultVersion",
                    "desc": "Output only. The default version of the model. This version will be used to\nhandle prediction requests that do not specify a version.\n\nYou can change the default version by calling\n[projects.methods.versions.setDefault](/ml/reference/rest/v1beta1/projects.models.versions/setDefault).",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__Version"
                },
                {
                    "name": "regions",
                    "desc": "Optional. The list of regions where the model is going to be deployed.\nCurrently only one region per model is supported.\nDefaults to 'us-central1' if nothing is set.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GoogleLongrunning__ListOperationsResponse",
            "desc": "The response message for Operations.ListOperations.",
            "type": "object",
            "fields": [
                {
                    "name": "operations",
                    "desc": "A list of operations that matches the specified filter in the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GoogleLongrunning__Operation"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The standard List next-page token.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__Job",
            "desc": "Represents a training or prediction job.",
            "type": "object",
            "fields": [
                {
                    "name": "trainingOutput",
                    "desc": "The current training job result.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__TrainingOutput"
                },
                {
                    "name": "createTime",
                    "desc": "Output only. When the job was created.",
                    "type": "datetime"
                },
                {
                    "name": "predictionInput",
                    "desc": "Input parameters to create a prediction job.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__PredictionInput"
                },
                {
                    "name": "jobId",
                    "desc": "Required. The user-specified id of the job.",
                    "type": "string"
                },
                {
                    "name": "endTime",
                    "desc": "Output only. When the job processing was completed.",
                    "type": "datetime"
                },
                {
                    "name": "startTime",
                    "desc": "Output only. When the job processing was started.",
                    "type": "datetime"
                },
                {
                    "name": "predictionOutput",
                    "desc": "The current prediction job result.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__PredictionOutput"
                },
                {
                    "name": "trainingInput",
                    "desc": "Input parameters to create a training job.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__TrainingInput"
                },
                {
                    "name": "state",
                    "desc": "Output only. The detailed state of a job.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "STATE_UNSPECIFIED",
                            "desc": "The job state is unspecified."
                        },
                        {
                            "name": "QUEUED",
                            "desc": "The job has been just created and processing has not yet begun."
                        },
                        {
                            "name": "PREPARING",
                            "desc": "The service is preparing to run the job."
                        },
                        {
                            "name": "RUNNING",
                            "desc": "The job is in progress."
                        },
                        {
                            "name": "SUCCEEDED",
                            "desc": "The job completed successfully."
                        },
                        {
                            "name": "FAILED",
                            "desc": "The job failed.\n`error_message` should contain the details of the failure."
                        },
                        {
                            "name": "CANCELLING",
                            "desc": "The job is being cancelled.\n`error_message` should describe the reason for the cancellation."
                        },
                        {
                            "name": "CANCELLED",
                            "desc": "The job has been cancelled.\n`error_message` should describe the reason for the cancellation."
                        }
                    ]
                },
                {
                    "name": "errorMessage",
                    "desc": "Output only. The details of a failure or a cancellation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__PredictionInput",
            "desc": "Represents input parameters for a prediction job.",
            "type": "object",
            "fields": [
                {
                    "name": "region",
                    "desc": "Required. The Google Compute Engine region to run the prediction job in.",
                    "type": "string"
                },
                {
                    "name": "versionName",
                    "desc": "Use this field if you want to specify a version of the model to use. The\nstring is formatted the same way as `model_version`, with the addition\nof the version information:\n\n`\"projects/\u003cvar\u003e[YOUR_PROJECT]\u003c/var\u003e/models/\u003cvar\u003eYOUR_MODEL/versions/\u003cvar\u003e[YOUR_VERSION]\u003c/var\u003e\"`",
                    "type": "string"
                },
                {
                    "name": "modelName",
                    "desc": "Use this field if you want to use the default version for the specified\nmodel. The string must use the following format:\n\n`\"projects/\u003cvar\u003e[YOUR_PROJECT]\u003c/var\u003e/models/\u003cvar\u003e[YOUR_MODEL]\u003c/var\u003e\"`",
                    "type": "string"
                },
                {
                    "name": "maxWorkerCount",
                    "desc": "Optional. The maximum number of workers to be used for parallel processing.\nDefaults to 10 if not specified.",
                    "type": "int64"
                },
                {
                    "name": "runtimeVersion",
                    "desc": "Optional. The Google Cloud ML runtime version to use for this batch\nprediction. If not set, Google Cloud ML will pick the runtime version used\nduring the CreateVersion request for this model version, or choose the\nlatest stable version when model version information is not available\nsuch as when the model is specified by uri.",
                    "type": "string"
                },
                {
                    "name": "inputPaths",
                    "desc": "Required. The Google Cloud Storage location of the input data files.\nMay contain wildcards.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "outputPath",
                    "desc": "Required. The output Google Cloud Storage location.",
                    "type": "string"
                },
                {
                    "name": "uri",
                    "desc": "Use this field if you want to specify a Google Cloud Storage path for\nthe model to use.",
                    "type": "string"
                },
                {
                    "name": "dataFormat",
                    "desc": "Required. The format of the input data files.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "DATA_FORMAT_UNSPECIFIED",
                            "desc": "Unspecified format."
                        },
                        {
                            "name": "TEXT",
                            "desc": "The source file is a text file with instances separated by the\nnew-line character."
                        },
                        {
                            "name": "TF_RECORD",
                            "desc": "The source file is a TFRecord file."
                        },
                        {
                            "name": "TF_RECORD_GZIP",
                            "desc": "The source file is a GZIP-compressed TFRecord file."
                        }
                    ]
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__SetDefaultVersionRequest",
            "desc": "Request message for the SetDefaultVersion request.",
            "type": "object"
        },
        {
            "name": "GoogleCloudMlV1beta1__HyperparameterSpec",
            "desc": "Represents a set of hyperparameters to optimize.",
            "type": "object",
            "fields": [
                {
                    "name": "goal",
                    "desc": "Required. The type of goal to use for tuning. Available types are\n`MAXIMIZE` and `MINIMIZE`.\n\nDefaults to `MAXIMIZE`.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "GOAL_TYPE_UNSPECIFIED",
                            "desc": "Goal Type will default to maximize."
                        },
                        {
                            "name": "MAXIMIZE",
                            "desc": "Maximize the goal metric."
                        },
                        {
                            "name": "MINIMIZE",
                            "desc": "Minimize the goal metric."
                        }
                    ]
                },
                {
                    "name": "hyperparameterMetricTag",
                    "desc": "Optional. The Tensorflow summary tag name to use for optimizing trials. For\ncurrent versions of Tensorflow, this tag name should exactly match what is\nshown in Tensorboard, including all scopes.  For versions of Tensorflow\nprior to 0.12, this should be only the tag passed to tf.Summary.\nBy default, \"training/hptuning/metric\" will be used.",
                    "type": "string"
                },
                {
                    "name": "params",
                    "desc": "Required. The set of parameters to tune.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__ParameterSpec"
                },
                {
                    "name": "maxTrials",
                    "desc": "Optional. How many training trials should be attempted to optimize\nthe specified hyperparameters.\n\nDefaults to one.",
                    "type": "int32"
                },
                {
                    "name": "maxParallelTrials",
                    "desc": "Optional. The number of training trials to run concurrently.\nYou can reduce the time it takes to perform hyperparameter tuning by adding\ntrials in parallel. However, each trail only benefits from the information\ngained in completed trials. That means that a trial does not get access to\nthe results of trials running at the same time, which could reduce the\nquality of the overall optimization.\n\nEach trial will use the same scale tier and machine types.\n\nDefaults to one.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "GoogleApi__HttpBody",
            "desc": "Message that represents an arbitrary HTTP body. It should only be used for\npayload formats that can't be represented as JSON, such as raw binary or\nan HTML page.\n\n\nThis message can be used both in streaming and non-streaming API methods in\nthe request as well as the response.\n\nIt can be used as a top-level request field, which is convenient if one\nwants to extract parameters from either the URL or HTTP template into the\nrequest fields and also want access to the raw HTTP body.\n\nExample:\n\n    message GetResourceRequest {\n      // A unique request id.\n      string request_id = 1;\n\n      // The raw HTTP body is bound to this field.\n      google.api.HttpBody http_body = 2;\n    }\n\n    service ResourceService {\n      rpc GetResource(GetResourceRequest) returns (google.api.HttpBody);\n      rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty);\n    }\n\nExample with streaming methods:\n\n    service CaldavService {\n      rpc GetCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n      rpc UpdateCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n    }\n\nUse of this type only changes how the request and response bodies are\nhandled, all other features will continue to work unchanged.",
            "type": "object",
            "fields": [
                {
                    "name": "contentType",
                    "desc": "The HTTP Content-Type string representing the content type of the body.",
                    "type": "string"
                },
                {
                    "name": "data",
                    "desc": "HTTP body binary data.",
                    "type": "byte"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__ManualScaling",
            "desc": "Options for manually scaling a model.",
            "type": "object",
            "fields": [
                {
                    "name": "nodes",
                    "desc": "The number of nodes to allocate for this model. These nodes are always up,\nstarting from the time the model is deployed, so the cost of operating\nthis model will be proportional to nodes * number of hours since\ndeployment.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__Version",
            "desc": "Represents a version of the model.\n\nEach version is a trained model deployed in the cloud, ready to handle\nprediction requests. A model can have multiple versions. You can get\ninformation about all of the versions of a given model by calling\n[projects.models.versions.list](/ml/reference/rest/v1beta1/projects.models.versions/list).",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "Optional. The description specified for the version when it was created.",
                    "type": "string"
                },
                {
                    "name": "deploymentUri",
                    "desc": "Required. The Google Cloud Storage location of the trained model used to\ncreate the version. See the\n[overview of model deployment](/ml/docs/concepts/deployment-overview) for\nmore informaiton.\n\nWhen passing Version to\n[projects.models.versions.create](/ml/reference/rest/v1beta1/projects.models.versions/create)\nthe model service uses the specified location as the source of the model.\nOnce deployed, the model version is hosted by the prediction service, so\nthis location is useful only as a historical record.",
                    "type": "string"
                },
                {
                    "name": "isDefault",
                    "desc": "Output only. If true, this version will be used to handle prediction\nrequests that do not specify a version.\n\nYou can change the default version by calling\n[projects.methods.versions.setDefault](/ml/reference/rest/v1beta1/projects.models.versions/setDefault).",
                    "type": "bool"
                },
                {
                    "name": "createTime",
                    "desc": "Output only. The time the version was created.",
                    "type": "datetime"
                },
                {
                    "name": "manualScaling",
                    "desc": "Optional. Manually select the number of nodes to use for serving the\nmodel. If unset (i.e., by default), the number of nodes used to serve\nthe model automatically scales with traffic. However, care should be\ntaken to ramp up traffic according to the model's ability to scale. If\nyour model needs to handle bursts of traffic beyond it's ability to\nscale, it is recommended you set this field appropriately.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__ManualScaling"
                },
                {
                    "name": "name",
                    "desc": "Required.The name specified for the version when it was created.\n\nThe version name must be unique within the model it is created in.",
                    "type": "string"
                },
                {
                    "name": "lastUseTime",
                    "desc": "Output only. The time the version was last used for prediction.",
                    "type": "datetime"
                },
                {
                    "name": "runtimeVersion",
                    "desc": "Optional. The Google Cloud ML runtime version to use for this deployment.\nIf not set, Google Cloud ML will choose a version.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1__ManualScaling",
            "desc": "Options for manually scaling a model.",
            "type": "object",
            "fields": [
                {
                    "name": "nodes",
                    "desc": "The number of nodes to allocate for this model. These nodes are always up,\nstarting from the time the model is deployed, so the cost of operating\nthis model will be proportional to nodes * number of hours since\ndeployment.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1_HyperparameterOutput_HyperparameterMetric",
            "desc": "An observed value of a metric.",
            "type": "object",
            "fields": [
                {
                    "name": "trainingStep",
                    "desc": "The global training step for this metric.",
                    "type": "int64"
                },
                {
                    "name": "objectiveValue",
                    "desc": "The objective value at this training step.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__ListModelsResponse",
            "desc": "Response message for the ListModels method.",
            "type": "object",
            "fields": [
                {
                    "name": "models",
                    "desc": "The list of models.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__Model"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Optional. Pass this token as the `page_token` field of the request for a\nsubsequent call.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GoogleProtobuf__Empty",
            "desc": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "type": "object"
        },
        {
            "name": "GoogleCloudMlV1beta1__GetConfigResponse",
            "desc": "Returns service account information associated with a project.",
            "type": "object",
            "fields": [
                {
                    "name": "serviceAccountProject",
                    "desc": "The project number for `service_account`.",
                    "type": "int64"
                },
                {
                    "name": "serviceAccount",
                    "desc": "The service account Cloud ML uses to access resources in the project.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__PredictionOutput",
            "desc": "Represents results of a prediction job.",
            "type": "object",
            "fields": [
                {
                    "name": "errorCount",
                    "desc": "The number of data instances which resulted in errors.",
                    "type": "int64"
                },
                {
                    "name": "outputPath",
                    "desc": "The output Google Cloud Storage location provided at the job creation time.",
                    "type": "string"
                },
                {
                    "name": "nodeHours",
                    "desc": "Node hours used by the batch prediction job.",
                    "type": "float64"
                },
                {
                    "name": "predictionCount",
                    "desc": "The number of generated predictions.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__TrainingOutput",
            "desc": "Represents results of a training job. Output only.",
            "type": "object",
            "fields": [
                {
                    "name": "trials",
                    "desc": "Results for individual Hyperparameter trials.\nOnly set for hyperparameter tuning jobs.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__HyperparameterOutput"
                },
                {
                    "name": "completedTrialCount",
                    "desc": "The number of hyperparameter tuning trials that completed successfully.\nOnly set for hyperparameter tuning jobs.",
                    "type": "int64"
                },
                {
                    "name": "isHyperparameterTuningJob",
                    "desc": "Whether this job is a hyperparameter tuning job.",
                    "type": "bool"
                },
                {
                    "name": "consumedMLUnits",
                    "desc": "The amount of ML units consumed by the job.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__PredictRequest",
            "desc": "Request for predictions to be issued against a trained model.\n\nThe body of the request is a single JSON object with a single top-level\nfield:\n\n\u003cdl\u003e\n  \u003cdt\u003einstances\u003c/dt\u003e\n  \u003cdd\u003eA JSON array containing values representing the instances to use for\n      prediction.\u003c/dd\u003e\n\u003c/dl\u003e\n\nThe structure of each element of the instances list is determined by your\nmodel's input definition. Instances can include named inputs or can contain\nonly unlabeled values.\n\nNot all data includes named inputs. Some instances will be simple\nJSON values (boolean, number, or string). However, instances are often lists\nof simple values, or complex nested lists. Here are some examples of request\nbodies:\n\nCSV data with each row encoded as a string value:\n\u003cpre\u003e\n{\"instances\": [\"1.0,true,\\\\\"x\\\\\"\", \"-2.0,false,\\\\\"y\\\\\"\"]}\n\u003c/pre\u003e\nPlain text:\n\u003cpre\u003e\n{\"instances\": [\"the quick brown fox\", \"la bruja le dio\"]}\n\u003c/pre\u003e\nSentences encoded as lists of words (vectors of strings):\n\u003cpre\u003e\n{\n  \"instances\": [\n    [\"the\",\"quick\",\"brown\"],\n    [\"la\",\"bruja\",\"le\"],\n    ...\n  ]\n}\n\u003c/pre\u003e\nFloating point scalar values:\n\u003cpre\u003e\n{\"instances\": [0.0, 1.1, 2.2]}\n\u003c/pre\u003e\nVectors of integers:\n\u003cpre\u003e\n{\n  \"instances\": [\n    [0, 1, 2],\n    [3, 4, 5],\n    ...\n  ]\n}\n\u003c/pre\u003e\nTensors (in this case, two-dimensional tensors):\n\u003cpre\u003e\n{\n  \"instances\": [\n    [\n      [0, 1, 2],\n      [3, 4, 5]\n    ],\n    ...\n  ]\n}\n\u003c/pre\u003e\nImages can be represented different ways. In this encoding scheme the first\ntwo dimensions represent the rows and columns of the image, and the third\ncontains lists (vectors) of the R, G, and B values for each pixel.\n\u003cpre\u003e\n{\n  \"instances\": [\n    [\n      [\n        [138, 30, 66],\n        [130, 20, 56],\n        ...\n      ],\n      [\n        [126, 38, 61],\n        [122, 24, 57],\n        ...\n      ],\n      ...\n    ],\n    ...\n  ]\n}\n\u003c/pre\u003e\nJSON strings must be encoded as UTF-8. To send binary data, you must\nbase64-encode the data and mark it as binary. To mark a JSON string\nas binary, replace it with a JSON object with a single attribute named `b64`:\n\u003cpre\u003e{\"b64\": \"...\"} \u003c/pre\u003e\nFor example:\n\nTwo Serialized tf.Examples (fake data, for illustrative purposes only):\n\u003cpre\u003e\n{\"instances\": [{\"b64\": \"X5ad6u\"}, {\"b64\": \"IA9j4nx\"}]}\n\u003c/pre\u003e\nTwo JPEG image byte strings (fake data, for illustrative purposes only):\n\u003cpre\u003e\n{\"instances\": [{\"b64\": \"ASa8asdf\"}, {\"b64\": \"JLK7ljk3\"}]}\n\u003c/pre\u003e\nIf your data includes named references, format each instance as a JSON object\nwith the named references as the keys:\n\nJSON input data to be preprocessed:\n\u003cpre\u003e\n{\n  \"instances\": [\n    {\n      \"a\": 1.0,\n      \"b\": true,\n      \"c\": \"x\"\n    },\n    {\n      \"a\": -2.0,\n      \"b\": false,\n      \"c\": \"y\"\n    }\n  ]\n}\n\u003c/pre\u003e\nSome models have an underlying TensorFlow graph that accepts multiple input\ntensors. In this case, you should use the names of JSON name/value pairs to\nidentify the input tensors, as shown in the following exmaples:\n\nFor a graph with input tensor aliases \"tag\" (string) and \"image\"\n(base64-encoded string):\n\u003cpre\u003e\n{\n  \"instances\": [\n    {\n      \"tag\": \"beach\",\n      \"image\": {\"b64\": \"ASa8asdf\"}\n    },\n    {\n      \"tag\": \"car\",\n      \"image\": {\"b64\": \"JLK7ljk3\"}\n    }\n  ]\n}\n\u003c/pre\u003e\nFor a graph with input tensor aliases \"tag\" (string) and \"image\"\n(3-dimensional array of 8-bit ints):\n\u003cpre\u003e\n{\n  \"instances\": [\n    {\n      \"tag\": \"beach\",\n      \"image\": [\n        [\n          [138, 30, 66],\n          [130, 20, 56],\n          ...\n        ],\n        [\n          [126, 38, 61],\n          [122, 24, 57],\n          ...\n        ],\n        ...\n      ]\n    },\n    {\n      \"tag\": \"car\",\n      \"image\": [\n        [\n          [255, 0, 102],\n          [255, 0, 97],\n          ...\n        ],\n        [\n          [254, 1, 101],\n          [254, 2, 93],\n          ...\n        ],\n        ...\n      ]\n    },\n    ...\n  ]\n}\n\u003c/pre\u003e\nIf the call is successful, the response body will contain one prediction\nentry per instance in the request body. If prediction fails for any\ninstance, the response body will contain no predictions and will contian\na single error entry instead.",
            "type": "object",
            "fields": [
                {
                    "name": "httpBody",
                    "desc": "\nRequired. The prediction request body.",
                    "type": "ref",
                    "refType": "GoogleApi__HttpBody"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__ParameterSpec",
            "desc": "Represents a single hyperparameter to optimize.",
            "type": "object",
            "fields": [
                {
                    "name": "scaleType",
                    "desc": "Optional. How the parameter should be scaled to the hypercube.\nLeave unset for categorical parameters.\nSome kind of scaling is strongly recommended for real or integral\nparameters (e.g., `UNIT_LINEAR_SCALE`).",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NONE",
                            "desc": "By default, no scaling is applied."
                        },
                        {
                            "name": "UNIT_LINEAR_SCALE",
                            "desc": "Scales the feasible space to (0, 1) linearly."
                        },
                        {
                            "name": "UNIT_LOG_SCALE",
                            "desc": "Scales the feasible space logarithmically to (0, 1). The entire feasible\nspace must be strictly positive."
                        },
                        {
                            "name": "UNIT_REVERSE_LOG_SCALE",
                            "desc": "Scales the feasible space \"reverse\" logarithmically to (0, 1). The result\nis that values close to the top of the feasible space are spread out more\nthan points near the bottom. The entire feasible space must be strictly\npositive."
                        }
                    ]
                },
                {
                    "name": "maxValue",
                    "desc": "Required if typeis `DOUBLE` or `INTEGER`. This field\nshould be unset if type is `CATEGORICAL`. This value should be integers if\ntype is `INTEGER`.",
                    "type": "float64"
                },
                {
                    "name": "type",
                    "desc": "Required. The type of the parameter.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "PARAMETER_TYPE_UNSPECIFIED",
                            "desc": "You must specify a valid type. Using this unspecified type will result in\nan error."
                        },
                        {
                            "name": "DOUBLE",
                            "desc": "Type for real-valued parameters."
                        },
                        {
                            "name": "INTEGER",
                            "desc": "Type for integral parameters."
                        },
                        {
                            "name": "CATEGORICAL",
                            "desc": "The parameter is categorical, with a value chosen from the categories\nfield."
                        },
                        {
                            "name": "DISCRETE",
                            "desc": "The parameter is real valued, with a fixed set of feasible points. If\n`type==DISCRETE`, feasible_points must be provided, and\n{`min_value`, `max_value`} will be ignored."
                        }
                    ]
                },
                {
                    "name": "categoricalValues",
                    "desc": "Required if type is `CATEGORICAL`. The list of possible categories.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "parameterName",
                    "desc": "Required. The parameter name must be unique amongst all ParameterConfigs in\na HyperparameterSpec message. E.g., \"learning_rate\".",
                    "type": "string"
                },
                {
                    "name": "minValue",
                    "desc": "Required if type is `DOUBLE` or `INTEGER`. This field\nshould be unset if type is `CATEGORICAL`. This value should be integers if\ntype is INTEGER.",
                    "type": "float64"
                },
                {
                    "name": "discreteValues",
                    "desc": "Required if type is `DISCRETE`.\nA list of feasible points.\nThe list should be in strictly increasing order. For instance, this\nparameter might have possible settings of 1.5, 2.5, and 4.0. This list\nshould not contain more than 1,000 values.",
                    "collection": "array",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1__OperationMetadata",
            "desc": "Represents the metadata of the long-running operation.",
            "type": "object",
            "fields": [
                {
                    "name": "startTime",
                    "desc": "The time operation processing started.",
                    "type": "datetime"
                },
                {
                    "name": "isCancellationRequested",
                    "desc": "Indicates whether a request to cancel this operation has been made.",
                    "type": "bool"
                },
                {
                    "name": "createTime",
                    "desc": "The time the operation was submitted.",
                    "type": "datetime"
                },
                {
                    "name": "modelName",
                    "desc": "Contains the name of the model associated with the operation.",
                    "type": "string"
                },
                {
                    "name": "version",
                    "desc": "Contains the version associated with the operation.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1__Version"
                },
                {
                    "name": "endTime",
                    "desc": "The time operation processing completed.",
                    "type": "datetime"
                },
                {
                    "name": "operationType",
                    "desc": "The operation type.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "OPERATION_TYPE_UNSPECIFIED",
                            "desc": "Unspecified operation type."
                        },
                        {
                            "name": "CREATE_VERSION",
                            "desc": "An operation to create a new version."
                        },
                        {
                            "name": "DELETE_VERSION",
                            "desc": "An operation to delete an existing version."
                        },
                        {
                            "name": "DELETE_MODEL",
                            "desc": "An operation to delete an existing model."
                        }
                    ]
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__OperationMetadata",
            "desc": "Represents the metadata of the long-running operation.",
            "type": "object",
            "fields": [
                {
                    "name": "modelName",
                    "desc": "Contains the name of the model associated with the operation.",
                    "type": "string"
                },
                {
                    "name": "version",
                    "desc": "Contains the version associated with the operation.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__Version"
                },
                {
                    "name": "endTime",
                    "desc": "The time operation processing completed.",
                    "type": "datetime"
                },
                {
                    "name": "operationType",
                    "desc": "The operation type.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "OPERATION_TYPE_UNSPECIFIED",
                            "desc": "Unspecified operation type."
                        },
                        {
                            "name": "CREATE_VERSION",
                            "desc": "An operation to create a new version."
                        },
                        {
                            "name": "DELETE_VERSION",
                            "desc": "An operation to delete an existing version."
                        },
                        {
                            "name": "DELETE_MODEL",
                            "desc": "An operation to delete an existing model."
                        }
                    ]
                },
                {
                    "name": "startTime",
                    "desc": "The time operation processing started.",
                    "type": "datetime"
                },
                {
                    "name": "isCancellationRequested",
                    "desc": "Indicates whether a request to cancel this operation has been made.",
                    "type": "bool"
                },
                {
                    "name": "createTime",
                    "desc": "The time the operation was submitted.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "GoogleLongrunning__Operation",
            "desc": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                    "type": "string"
                },
                {
                    "name": "error",
                    "desc": "The error result of the operation in case of failure or cancellation.",
                    "type": "ref",
                    "refType": "GoogleRpc__Status"
                },
                {
                    "name": "metadata",
                    "desc": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "done",
                    "desc": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
                    "type": "bool"
                },
                {
                    "name": "response",
                    "desc": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                    "collection": "map",
                    "type": "any"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__HyperparameterOutput",
            "desc": "Represents the result of a single hyperparameter tuning trial from a\ntraining job. The TrainingOutput object that is returned on successful\ncompletion of a training job with hyperparameter tuning includes a list\nof HyperparameterOutput objects, one for each successful trial.",
            "type": "object",
            "fields": [
                {
                    "name": "hyperparameters",
                    "desc": "The hyperparameters given to this trial.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "trialId",
                    "desc": "The trial id for these results.",
                    "type": "string"
                },
                {
                    "name": "allMetrics",
                    "desc": "All recorded object metrics for this trial.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1_HyperparameterOutput_HyperparameterMetric"
                },
                {
                    "name": "finalMetric",
                    "desc": "The final objective metric seen for this trial.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1_HyperparameterOutput_HyperparameterMetric"
                }
            ]
        },
        {
            "name": "GoogleRpc__Status",
            "desc": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "type": "object",
            "fields": [
                {
                    "name": "message",
                    "desc": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                },
                {
                    "name": "details",
                    "desc": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                },
                {
                    "name": "code",
                    "desc": "The status code, which should be an enum value of google.rpc.Code.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1beta1__TrainingInput",
            "desc": "Represents input parameters for a training job.",
            "type": "object",
            "fields": [
                {
                    "name": "masterType",
                    "desc": "Optional. Specifies the type of virtual machine to use for your training\njob's master worker.\n\nThe following types are supported:\n\n\u003cdl\u003e\n  \u003cdt\u003estandard\u003c/dt\u003e\n  \u003cdd\u003e\n  A basic machine configuration suitable for training simple models with\n  small to moderate datasets.\n  \u003c/dd\u003e\n  \u003cdt\u003elarge_model\u003c/dt\u003e\n  \u003cdd\u003e\n  A machine with a lot of memory, specially suited for parameter servers\n  when your model is large (having many hidden layers or layers with very\n  large numbers of nodes).\n  \u003c/dd\u003e\n  \u003cdt\u003ecomplex_model_s\u003c/dt\u003e\n  \u003cdd\u003e\n  A machine suitable for the master and workers of the cluster when your\n  model requires more computation than the standard machine can handle\n  satisfactorily.\n  \u003c/dd\u003e\n  \u003cdt\u003ecomplex_model_m\u003c/dt\u003e\n  \u003cdd\u003e\n  A machine with roughly twice the number of cores and roughly double the\n  memory of \u003ccode suppresswarning=\"true\"\u003ecomplex_model_s\u003c/code\u003e.\n  \u003c/dd\u003e\n  \u003cdt\u003ecomplex_model_l\u003c/dt\u003e\n  \u003cdd\u003e\n  A machine with roughly twice the number of cores and roughly double the\n  memory of \u003ccode suppresswarning=\"true\"\u003ecomplex_model_m\u003c/code\u003e.\n  \u003c/dd\u003e\n  \u003cdt\u003estandard_gpu\u003c/dt\u003e\n  \u003cdd\u003e\n  A machine equivalent to \u003ccode suppresswarning=\"true\"\u003estandard\u003c/code\u003e that\n  also includes a\n  \u003ca href=\"ml/docs/how-tos/using-gpus\"\u003e\n  GPU that you can use in your trainer\u003c/a\u003e.\n  \u003c/dd\u003e\n  \u003cdt\u003ecomplex_model_m_gpu\u003c/dt\u003e\n  \u003cdd\u003e\n  A machine equivalent to\n  \u003ccode suppresswarning=\"true\"\u003ecoplex_model_m\u003c/code\u003e that also includes\n  four GPUs.\n  \u003c/dd\u003e\n\u003c/dl\u003e\n\nYou must set this value when `scaleTier` is set to `CUSTOM`.",
                    "type": "string"
                },
                {
                    "name": "runtimeVersion",
                    "desc": "Optional. The Google Cloud ML runtime version to use for training.  If not\nset, Google Cloud ML will choose the latest stable version.",
                    "type": "string"
                },
                {
                    "name": "parameterServerType",
                    "desc": "Optional. Specifies the type of virtual machine to use for your training\njob's parameter server.\n\nThe supported values are the same as those described in the entry for\n`master_type`.\n\nThis value must be present when `scaleTier` is set to `CUSTOM` and\n`parameter_server_count` is greater than zero.",
                    "type": "string"
                },
                {
                    "name": "scaleTier",
                    "desc": "Required. Specifies the machine types, the number of replicas for workers\nand parameter servers.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "BASIC",
                            "desc": "A single worker instance. This tier is suitable for learning how to use\nCloud ML, and for experimenting with new models using small datasets."
                        },
                        {
                            "name": "STANDARD_1",
                            "desc": "Many workers and a few parameter servers."
                        },
                        {
                            "name": "PREMIUM_1",
                            "desc": "A large number of workers with many parameter servers."
                        },
                        {
                            "name": "BASIC_GPU",
                            "desc": "A single worker instance [with a GPU](ml/docs/how-tos/using-gpus)."
                        },
                        {
                            "name": "CUSTOM",
                            "desc": "The CUSTOM tier is not a set tier, but rather enables you to use your\nown cluster specification. When you use this tier, set values to\nconfigure your processing cluster according to these guidelines:\n\n*   You _must_ set `TrainingInput.masterType` to specify the type\n    of machine to use for your master node. This is the only required\n    setting.\n\n*   You _may_ set `TrainingInput.workerCount` to specify the number of\n    workers to use. If you specify one or more workers, you _must_ also\n    set `TrainingInput.workerType` to specify the type of machine to use\n    for your worker nodes.\n\n*   You _may_ set `TrainingInput.parameterServerCount` to specify the\n    number of parameter servers to use. If you specify one or more\n    parameter servers, you _must_ also set\n    `TrainingInput.parameterServerType` to specify the type of machine to\n    use for your parameter servers.\n\nNote that all of your workers must use the same machine type, which can\nbe different from your parameter server type and master type. Your\nparameter servers must likewise use the same machine type, which can be\ndifferent from your worker type and master type."
                        }
                    ]
                },
                {
                    "name": "jobDir",
                    "desc": "Optional. A Google Cloud Storage path in which to store training outputs\nand other data needed for training. This path is passed to your TensorFlow\nprogram as the 'job_dir' command-line argument. The benefit of specifying\nthis field is that Cloud ML validates the path for use in training.",
                    "type": "string"
                },
                {
                    "name": "parameterServerCount",
                    "desc": "Optional. The number of parameter server replicas to use for the training\njob. Each replica in the cluster will be of the type specified in\n`parameter_server_type`.\n\nThis value can only be used when `scale_tier` is set to `CUSTOM`.If you\nset this value, you must also set `parameter_server_type`.",
                    "type": "int64"
                },
                {
                    "name": "packageUris",
                    "desc": "Required. The Google Cloud Storage location of the packages with\nthe training program and any additional dependencies.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "workerCount",
                    "desc": "Optional. The number of worker replicas to use for the training job. Each\nreplica in the cluster will be of the type specified in `worker_type`.\n\nThis value can only be used when `scale_tier` is set to `CUSTOM`. If you\nset this value, you must also set `worker_type`.",
                    "type": "int64"
                },
                {
                    "name": "pythonModule",
                    "desc": "Required. The Python module name to run after installing the packages.",
                    "type": "string"
                },
                {
                    "name": "region",
                    "desc": "Required. The Google Compute Engine region to run the training job in.",
                    "type": "string"
                },
                {
                    "name": "args",
                    "desc": "Optional. Command line arguments to pass to the program.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "workerType",
                    "desc": "Optional. Specifies the type of virtual machine to use for your training\njob's worker nodes.\n\nThe supported values are the same as those described in the entry for\n`masterType`.\n\nThis value must be present when `scaleTier` is set to `CUSTOM` and\n`workerCount` is greater than zero.",
                    "type": "string"
                },
                {
                    "name": "hyperparameters",
                    "desc": "Optional. The set of Hyperparameters to tune.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1beta1__HyperparameterSpec"
                }
            ]
        },
        {
            "name": "GoogleCloudMlV1__Version",
            "desc": "Represents a version of the model.\n\nEach version is a trained model deployed in the cloud, ready to handle\nprediction requests. A model can have multiple versions. You can get\ninformation about all of the versions of a given model by calling\n[projects.models.versions.list](/ml/reference/rest/v1/projects.models.versions/list).",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Required.The name specified for the version when it was created.\n\nThe version name must be unique within the model it is created in.",
                    "type": "string"
                },
                {
                    "name": "runtimeVersion",
                    "desc": "Optional. The Google Cloud ML runtime version to use for this deployment.\nIf not set, Google Cloud ML will choose a version.",
                    "type": "string"
                },
                {
                    "name": "lastUseTime",
                    "desc": "Output only. The time the version was last used for prediction.",
                    "type": "datetime"
                },
                {
                    "name": "description",
                    "desc": "Optional. The description specified for the version when it was created.",
                    "type": "string"
                },
                {
                    "name": "deploymentUri",
                    "desc": "Required. The Google Cloud Storage location of the trained model used to\ncreate the version. See the\n[overview of model deployment](/ml/docs/concepts/deployment-overview) for\nmore informaiton.\n\nWhen passing Version to\n[projects.models.versions.create](/ml/reference/rest/v1/projects.models.versions/create)\nthe model service uses the specified location as the source of the model.\nOnce deployed, the model version is hosted by the prediction service, so\nthis location is useful only as a historical record.",
                    "type": "string"
                },
                {
                    "name": "isDefault",
                    "desc": "Output only. If true, this version will be used to handle prediction\nrequests that do not specify a version.\n\nYou can change the default version by calling\n[projects.methods.versions.setDefault](/ml/reference/rest/v1/projects.models.versions/setDefault).",
                    "type": "bool"
                },
                {
                    "name": "createTime",
                    "desc": "Output only. The time the version was created.",
                    "type": "datetime"
                },
                {
                    "name": "manualScaling",
                    "desc": "Optional. Manually select the number of nodes to use for serving the\nmodel. If unset (i.e., by default), the number of nodes used to serve\nthe model automatically scales with traffic. However, care should be\ntaken to ramp up traffic according to the model's ability to scale. If\nyour model needs to handle bursts of traffic beyond it's ability to\nscale, it is recommended you set this field appropriately.",
                    "type": "ref",
                    "refType": "GoogleCloudMlV1__ManualScaling"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "projects",
            "methods": [
                {
                    "name": "predict",
                    "desc": "Performs prediction on the data in the request.\n\n**** REMOVE FROM GENERATED DOCUMENTATION",
                    "path": "v1beta1/{+name}:predict",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "Required. The resource name of a model or a version.\n\nAuthorization: requires `Viewer` role on the parent project.",
                            "required": true,
                            "type": "string",
                            "pattern": "^projects/.+$"
                        }
                    ],
                    "request": "GoogleCloudMlV1beta1__PredictRequest",
                    "response": "GoogleApi__HttpBody"
                },
                {
                    "name": "getConfig",
                    "desc": "Get the service account information associated with your project. You need\nthis information in order to grant the service account persmissions for\nthe Google Cloud Storage location where you put your model training code\nfor training the model with Google Cloud Machine Learning.",
                    "path": "v1beta1/{+name}:getConfig",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "name",
                            "desc": "Required. The project name.\n\nAuthorization: requires `Viewer` role on the specified project.",
                            "required": true,
                            "type": "string",
                            "pattern": "^projects/[^/]+$"
                        }
                    ],
                    "response": "GoogleCloudMlV1beta1__GetConfigResponse"
                }
            ],
            "resources": [
                {
                    "name": "operations",
                    "methods": [
                        {
                            "name": "delete",
                            "desc": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
                            "path": "v1beta1/{+name}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The name of the operation resource to be deleted.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$"
                                }
                            ],
                            "response": "GoogleProtobuf__Empty"
                        },
                        {
                            "name": "list",
                            "desc": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding below allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`.",
                            "path": "v1beta1/{+name}/operations",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The name of the operation collection.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageToken",
                                    "desc": "The standard list page token.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "The standard list page size.",
                                    "type": "int32"
                                },
                                {
                                    "name": "filter",
                                    "desc": "The standard list filter.",
                                    "type": "string"
                                }
                            ],
                            "response": "GoogleLongrunning__ListOperationsResponse"
                        },
                        {
                            "name": "get",
                            "desc": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                            "path": "v1beta1/{+name}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The name of the operation resource.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$"
                                }
                            ],
                            "response": "GoogleLongrunning__Operation"
                        },
                        {
                            "name": "cancel",
                            "desc": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
                            "path": "v1beta1/{+name}:cancel",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The name of the operation resource to be cancelled.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$"
                                }
                            ],
                            "response": "GoogleProtobuf__Empty"
                        }
                    ]
                },
                {
                    "name": "models",
                    "methods": [
                        {
                            "name": "create",
                            "desc": "Creates a model which will later contain one or more versions.\n\nYou must add at least one version before you can request predictions from\nthe model. Add versions by calling\n[projects.models.versions.create](/ml/reference/rest/v1beta1/projects.models.versions/create).",
                            "path": "v1beta1/{+parent}/models",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "parent",
                                    "desc": "Required. The project name.\n\nAuthorization: requires `Editor` role on the specified project.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "request": "GoogleCloudMlV1beta1__Model",
                            "response": "GoogleCloudMlV1beta1__Model"
                        },
                        {
                            "name": "delete",
                            "desc": "Deletes a model.\n\nYou can only delete a model if there are no versions in it. You can delete\nversions by calling\n[projects.models.versions.delete](/ml/reference/rest/v1beta1/projects.models.versions/delete).",
                            "path": "v1beta1/{+name}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "Required. The name of the model.\n\nAuthorization: requires `Editor` role on the parent project.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/models/[^/]+$"
                                }
                            ],
                            "response": "GoogleLongrunning__Operation"
                        },
                        {
                            "name": "list",
                            "desc": "Lists the models in a project.\n\nEach project can contain multiple models, and each model can have multiple\nversions.",
                            "path": "v1beta1/{+parent}/models",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "parent",
                                    "desc": "Required. The name of the project whose models are to be listed.\n\nAuthorization: requires `Viewer` role on the specified project.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageToken",
                                    "desc": "Optional. A page token to request the next page of results.\n\nYou get the token from the `next_page_token` field of the response from\nthe previous call.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "Optional. The number of models to retrieve per \"page\" of results. If there\nare more remaining results than this number, the response message will\ncontain a valid value in the `next_page_token` field.\n\nThe default value is 20, and the maximum page size is 100.",
                                    "type": "int32"
                                }
                            ],
                            "response": "GoogleCloudMlV1beta1__ListModelsResponse"
                        },
                        {
                            "name": "get",
                            "desc": "Gets information about a model, including its name, the description (if\nset), and the default version (if at least one version of the model has\nbeen deployed).",
                            "path": "v1beta1/{+name}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "Required. The name of the model.\n\nAuthorization: requires `Viewer` role on the parent project.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/models/[^/]+$"
                                }
                            ],
                            "response": "GoogleCloudMlV1beta1__Model"
                        }
                    ],
                    "resources": [
                        {
                            "name": "versions",
                            "methods": [
                                {
                                    "name": "setDefault",
                                    "desc": "Designates a version to be the default for the model.\n\nThe default version is used for prediction requests made against the model\nthat don't specify a version.\n\nThe first version to be created for a model is automatically set as the\ndefault. You must make any subsequent changes to the default version\nsetting manually using this method.",
                                    "path": "v1beta1/{+name}:setDefault",
                                    "httpMethod": "POST",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "name",
                                            "desc": "Required. The name of the version to make the default for the model. You\ncan get the names of all the versions of a model by calling\n[projects.models.versions.list](/ml/reference/rest/v1beta1/projects.models.versions/list).\n\nAuthorization: requires `Editor` role on the parent project.",
                                            "required": true,
                                            "type": "string",
                                            "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$"
                                        }
                                    ],
                                    "request": "GoogleCloudMlV1beta1__SetDefaultVersionRequest",
                                    "response": "GoogleCloudMlV1beta1__Version"
                                },
                                {
                                    "name": "delete",
                                    "desc": "Deletes a model version.\n\nEach model can have multiple versions deployed and in use at any given\ntime. Use this method to remove a single version.\n\nNote: You cannot delete the version that is set as the default version\nof the model unless it is the only remaining version.",
                                    "path": "v1beta1/{+name}",
                                    "httpMethod": "DELETE",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "name",
                                            "desc": "Required. The name of the version. You can get the names of all the\nversions of a model by calling\n[projects.models.versions.list](/ml/reference/rest/v1beta1/projects.models.versions/list).\n\nAuthorization: requires `Editor` role on the parent project.",
                                            "required": true,
                                            "type": "string",
                                            "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$"
                                        }
                                    ],
                                    "response": "GoogleLongrunning__Operation"
                                },
                                {
                                    "name": "list",
                                    "desc": "Gets basic information about all the versions of a model.\n\nIf you expect that a model has a lot of versions, or if you need to handle\nonly a limited number of results at a time, you can request that the list\nbe retrieved in batches (called pages):",
                                    "path": "v1beta1/{+parent}/versions",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "parent",
                                            "desc": "Required. The name of the model for which to list the version.\n\nAuthorization: requires `Viewer` role on the parent project.",
                                            "required": true,
                                            "type": "string",
                                            "pattern": "^projects/[^/]+/models/[^/]+$"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "pageToken",
                                            "desc": "Optional. A page token to request the next page of results.\n\nYou get the token from the `next_page_token` field of the response from\nthe previous call.",
                                            "type": "string"
                                        },
                                        {
                                            "name": "pageSize",
                                            "desc": "Optional. The number of versions to retrieve per \"page\" of results. If\nthere are more remaining results than this number, the response message\nwill contain a valid value in the `next_page_token` field.\n\nThe default value is 20, and the maximum page size is 100.",
                                            "type": "int32"
                                        }
                                    ],
                                    "response": "GoogleCloudMlV1beta1__ListVersionsResponse"
                                },
                                {
                                    "name": "get",
                                    "desc": "Gets information about a model version.\n\nModels can have multiple versions. You can call\n[projects.models.versions.list](/ml/reference/rest/v1beta1/projects.models.versions/list)\nto get the same information that this method returns for all of the\nversions of a model.",
                                    "path": "v1beta1/{+name}",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "name",
                                            "desc": "Required. The name of the version.\n\nAuthorization: requires `Viewer` role on the parent project.",
                                            "required": true,
                                            "type": "string",
                                            "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$"
                                        }
                                    ],
                                    "response": "GoogleCloudMlV1beta1__Version"
                                },
                                {
                                    "name": "create",
                                    "desc": "Creates a new version of a model from a trained TensorFlow model.\n\nIf the version created in the cloud by this call is the first deployed\nversion of the specified model, it will be made the default version of the\nmodel. When you add a version to a model that already has one or more\nversions, the default version does not automatically change. If you want a\nnew version to be the default, you must call\n[projects.models.versions.setDefault](/ml/reference/rest/v1beta1/projects.models.versions/setDefault).",
                                    "path": "v1beta1/{+parent}/versions",
                                    "httpMethod": "POST",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "parent",
                                            "desc": "Required. The name of the model.\n\nAuthorization: requires `Editor` role on the parent project.",
                                            "required": true,
                                            "type": "string",
                                            "pattern": "^projects/[^/]+/models/[^/]+$"
                                        }
                                    ],
                                    "request": "GoogleCloudMlV1beta1__Version",
                                    "response": "GoogleLongrunning__Operation"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "jobs",
                    "methods": [
                        {
                            "name": "get",
                            "desc": "Describes a job.",
                            "path": "v1beta1/{+name}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "Required. The name of the job to get the description of.\n\nAuthorization: requires `Viewer` role on the parent project.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$"
                                }
                            ],
                            "response": "GoogleCloudMlV1beta1__Job"
                        },
                        {
                            "name": "create",
                            "desc": "Creates a training or a batch prediction job.",
                            "path": "v1beta1/{+parent}/jobs",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "parent",
                                    "desc": "Required. The project name.\n\nAuthorization: requires `Editor` role on the specified project.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "request": "GoogleCloudMlV1beta1__Job",
                            "response": "GoogleCloudMlV1beta1__Job"
                        },
                        {
                            "name": "cancel",
                            "desc": "Cancels a running job.",
                            "path": "v1beta1/{+name}:cancel",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "Required. The name of the job to cancel.\n\nAuthorization: requires `Editor` role on the parent project.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$"
                                }
                            ],
                            "request": "GoogleCloudMlV1beta1__CancelJobRequest",
                            "response": "GoogleProtobuf__Empty"
                        },
                        {
                            "name": "list",
                            "desc": "Lists the jobs in the project.",
                            "path": "v1beta1/{+parent}/jobs",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ],
                            "pathParams": [
                                {
                                    "name": "parent",
                                    "desc": "Required. The name of the project for which to list jobs.\n\nAuthorization: requires `Viewer` role on the specified project.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageToken",
                                    "desc": "Optional. A page token to request the next page of results.\n\nYou get the token from the `next_page_token` field of the response from\nthe previous call.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "Optional. The number of jobs to retrieve per \"page\" of results. If there\nare more remaining results than this number, the response message will\ncontain a valid value in the `next_page_token` field.\n\nThe default value is 20, and the maximum page size is 100.",
                                    "type": "int32"
                                },
                                {
                                    "name": "filter",
                                    "desc": "Optional. Specifies the subset of jobs to retrieve.",
                                    "type": "string"
                                }
                            ],
                            "response": "GoogleCloudMlV1beta1__ListJobsResponse"
                        }
                    ]
                }
            ]
        }
    ]
}