{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "appengine:v1beta",
    "name": "appengine",
    "version": "v1beta",
    "title": "Google App Engine Admin API",
    "description": "Provisions and manages App Engine applications.",
    "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
    "protocol": "rest",
    "rootUrl": "https://appengine.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/cloud-platform"
        ]
    },
    "parameters": [
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "NetworkUtilization",
            "desc": "Target scaling by network usage. Only applicable for VM runtimes.",
            "type": "object",
            "fields": [
                {
                    "name": "targetSentBytesPerSecond",
                    "desc": "Target bytes sent per second.",
                    "type": "int32"
                },
                {
                    "name": "targetSentPacketsPerSecond",
                    "desc": "Target packets sent per second.",
                    "type": "int32"
                },
                {
                    "name": "targetReceivedBytesPerSecond",
                    "desc": "Target bytes received per second.",
                    "type": "int32"
                },
                {
                    "name": "targetReceivedPacketsPerSecond",
                    "desc": "Target packets received per second.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "OperationMetadataV1Beta",
            "desc": "Metadata for the given google.longrunning.Operation.",
            "type": "object",
            "fields": [
                {
                    "name": "insertTime",
                    "desc": "Time that this operation was created.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "target",
                    "desc": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "user",
                    "desc": "User who requested this operation.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "ephemeralMessage",
                    "desc": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
                    "type": "string"
                },
                {
                    "name": "method",
                    "desc": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "endTime",
                    "desc": "Time that this operation completed.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "warning",
                    "desc": "Durable messages that persist on every operation poll. @OutputOnly",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AutomaticScaling",
            "desc": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
            "type": "object",
            "fields": [
                {
                    "name": "diskUtilization",
                    "desc": "Target scaling by disk usage.",
                    "type": "ref",
                    "refType": "DiskUtilization"
                },
                {
                    "name": "maxIdleInstances",
                    "desc": "Maximum number of idle instances that should be maintained for this version.",
                    "type": "int32"
                },
                {
                    "name": "minIdleInstances",
                    "desc": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service.",
                    "type": "int32"
                },
                {
                    "name": "maxTotalInstances",
                    "desc": "Maximum number of instances that should be started to handle requests.",
                    "type": "int32"
                },
                {
                    "name": "maxConcurrentRequests",
                    "desc": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value.",
                    "type": "int32"
                },
                {
                    "name": "maxPendingLatency",
                    "desc": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it.",
                    "type": "string"
                },
                {
                    "name": "minPendingLatency",
                    "desc": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it.",
                    "type": "string"
                },
                {
                    "name": "requestUtilization",
                    "desc": "Target scaling by request utilization.",
                    "type": "ref",
                    "refType": "RequestUtilization"
                },
                {
                    "name": "minTotalInstances",
                    "desc": "Minimum number of instances that should be maintained for this version.",
                    "type": "int32"
                },
                {
                    "name": "networkUtilization",
                    "desc": "Target scaling by network usage.",
                    "type": "ref",
                    "refType": "NetworkUtilization"
                },
                {
                    "name": "coolDownPeriod",
                    "desc": "Amount of time that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait between changes to the number of virtual machines. Only applicable for VM runtimes.",
                    "type": "string"
                },
                {
                    "name": "cpuUtilization",
                    "desc": "Target scaling by CPU usage.",
                    "type": "ref",
                    "refType": "CpuUtilization"
                }
            ]
        },
        {
            "name": "ApiEndpointHandler",
            "desc": "Uses Google Cloud Endpoints to handle requests.",
            "type": "object",
            "fields": [
                {
                    "name": "scriptPath",
                    "desc": "Path to the script from the application root directory.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListLocationsResponse",
            "desc": "The response message for Locations.ListLocations.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "The standard List next-page token.",
                    "type": "string"
                },
                {
                    "name": "locations",
                    "desc": "A list of locations that matches the specified filter in the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Location"
                }
            ]
        },
        {
            "name": "IdentityAwareProxy",
            "desc": "Identity-Aware Proxy",
            "type": "object",
            "fields": [
                {
                    "name": "oauth2ClientSecretSha256",
                    "desc": "Hex-encoded SHA-256 hash of the client secret.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "enabled",
                    "desc": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty.",
                    "type": "bool"
                },
                {
                    "name": "oauth2ClientSecret",
                    "desc": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly",
                    "type": "string"
                },
                {
                    "name": "oauth2ClientId",
                    "desc": "OAuth2 client ID to use for the authentication flow.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ManualScaling",
            "desc": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
            "type": "object",
            "fields": [
                {
                    "name": "instances",
                    "desc": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "OperationMetadata",
            "desc": "Metadata for the given google.longrunning.Operation.",
            "type": "object",
            "fields": [
                {
                    "name": "insertTime",
                    "desc": "Timestamp that this operation was created.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "user",
                    "desc": "User who requested this operation.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "target",
                    "desc": "Name of the resource that this operation is acting on. Example: apps/myapp/modules/default.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "method",
                    "desc": "API method that initiated this operation. Example: google.appengine.v1beta4.Version.CreateVersion.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "endTime",
                    "desc": "Timestamp that this operation completed.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "operationType",
                    "desc": "Type of this operation. Deprecated, use method field instead. Example: \"create_version\".@OutputOnly",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListServicesResponse",
            "desc": "Response message for Services.ListServices.",
            "type": "object",
            "fields": [
                {
                    "name": "services",
                    "desc": "The services belonging to the requested application.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Service"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token for fetching the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Volume",
            "desc": "Volumes mounted within the app container. Only applicable for VM runtimes.",
            "type": "object",
            "fields": [
                {
                    "name": "sizeGb",
                    "desc": "Volume size in gigabytes.",
                    "type": "float64"
                },
                {
                    "name": "name",
                    "desc": "Unique name for the volume.",
                    "type": "string"
                },
                {
                    "name": "volumeType",
                    "desc": "Underlying volume type, e.g. 'tmpfs'.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListInstancesResponse",
            "desc": "Response message for Instances.ListInstances.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token for fetching the next page of results.",
                    "type": "string"
                },
                {
                    "name": "instances",
                    "desc": "The instances belonging to the requested version.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Instance"
                }
            ]
        },
        {
            "name": "TrafficSplit",
            "desc": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions.",
            "type": "object",
            "fields": [
                {
                    "name": "shardBy",
                    "desc": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "UNSPECIFIED",
                            "desc": "Diversion method unspecified."
                        },
                        {
                            "name": "COOKIE",
                            "desc": "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur."
                        },
                        {
                            "name": "IP",
                            "desc": "Diversion based on applying the modulus operation to a fingerprint of the IP address."
                        },
                        {
                            "name": "RANDOM",
                            "desc": "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
                        }
                    ]
                },
                {
                    "name": "allocations",
                    "desc": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits.",
                    "collection": "map",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "ContainerInfo",
            "desc": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
            "type": "object",
            "fields": [
                {
                    "name": "image",
                    "desc": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\"",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UrlMap",
            "desc": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
            "type": "object",
            "fields": [
                {
                    "name": "redirectHttpResponseCode",
                    "desc": "30x code to use when performing redirects for the secure field. Defaults to 302.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
                            "desc": "Not specified. 302 is assumed."
                        },
                        {
                            "name": "REDIRECT_HTTP_RESPONSE_CODE_301",
                            "desc": "301 Moved Permanently code."
                        },
                        {
                            "name": "REDIRECT_HTTP_RESPONSE_CODE_302",
                            "desc": "302 Moved Temporarily code."
                        },
                        {
                            "name": "REDIRECT_HTTP_RESPONSE_CODE_303",
                            "desc": "303 See Other code."
                        },
                        {
                            "name": "REDIRECT_HTTP_RESPONSE_CODE_307",
                            "desc": "307 Temporary Redirect code."
                        }
                    ]
                },
                {
                    "name": "securityLevel",
                    "desc": "Security (HTTPS) enforcement for this URL.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SECURE_UNSPECIFIED",
                            "desc": "Not specified."
                        },
                        {
                            "name": "SECURE_DEFAULT",
                            "desc": "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly."
                        },
                        {
                            "name": "SECURE_NEVER",
                            "desc": "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL."
                        },
                        {
                            "name": "SECURE_OPTIONAL",
                            "desc": "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly."
                        },
                        {
                            "name": "SECURE_ALWAYS",
                            "desc": "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
                        }
                    ]
                },
                {
                    "name": "authFailAction",
                    "desc": "Action to take when users access resources that require authentication. Defaults to redirect.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "AUTH_FAIL_ACTION_UNSPECIFIED",
                            "desc": "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed."
                        },
                        {
                            "name": "AUTH_FAIL_ACTION_REDIRECT",
                            "desc": "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account."
                        },
                        {
                            "name": "AUTH_FAIL_ACTION_UNAUTHORIZED",
                            "desc": "Rejects request with a 401 HTTP status code and an error message."
                        }
                    ]
                },
                {
                    "name": "script",
                    "desc": "Executes a script to handle the request that matches this URL pattern.",
                    "type": "ref",
                    "refType": "ScriptHandler"
                },
                {
                    "name": "urlRegex",
                    "desc": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path.",
                    "type": "string"
                },
                {
                    "name": "login",
                    "desc": "Level of login required to access this resource.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "LOGIN_UNSPECIFIED",
                            "desc": "Not specified. LOGIN_OPTIONAL is assumed."
                        },
                        {
                            "name": "LOGIN_OPTIONAL",
                            "desc": "Does not require that the user is signed in."
                        },
                        {
                            "name": "LOGIN_ADMIN",
                            "desc": "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds."
                        },
                        {
                            "name": "LOGIN_REQUIRED",
                            "desc": "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
                        }
                    ]
                },
                {
                    "name": "apiEndpoint",
                    "desc": "Uses API Endpoints to handle requests.",
                    "type": "ref",
                    "refType": "ApiEndpointHandler"
                },
                {
                    "name": "staticFiles",
                    "desc": "Returns the contents of a file, such as an image, as the response.",
                    "type": "ref",
                    "refType": "StaticFilesHandler"
                }
            ]
        },
        {
            "name": "EndpointsApiService",
            "desc": "Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy.The fields here refer to the name and configuration id of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
                    "type": "string"
                },
                {
                    "name": "configId",
                    "desc": "Endpoints service configuration id as specified by the Service Management API. For example \"2016-09-19r1\"",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ErrorHandler",
            "desc": "Custom static error page to be served when an error occurs.",
            "type": "object",
            "fields": [
                {
                    "name": "mimeType",
                    "desc": "MIME type of file. Defaults to text/html.",
                    "type": "string"
                },
                {
                    "name": "staticFile",
                    "desc": "Static file content to be served for this error.",
                    "type": "string"
                },
                {
                    "name": "errorCode",
                    "desc": "Error condition this handler applies to.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "ERROR_CODE_UNSPECIFIED",
                            "desc": "Not specified. ERROR_CODE_DEFAULT is assumed."
                        },
                        {
                            "name": "ERROR_CODE_DEFAULT",
                            "desc": "All other error types."
                        },
                        {
                            "name": "ERROR_CODE_OVER_QUOTA",
                            "desc": "Application has exceeded a resource quota."
                        },
                        {
                            "name": "ERROR_CODE_DOS_API_DENIAL",
                            "desc": "Client blocked by the application's Denial of Service protection configuration."
                        },
                        {
                            "name": "ERROR_CODE_TIMEOUT",
                            "desc": "Deadline reached before the application responds."
                        }
                    ]
                }
            ]
        },
        {
            "name": "Network",
            "desc": "Extra network settings. Only applicable for VM runtimes.",
            "type": "object",
            "fields": [
                {
                    "name": "forwardedPorts",
                    "desc": "List of ports, or port pairs, to forward from the virtual machine to the application container.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "instanceTag",
                    "desc": "Tag to apply to the VM instance during creation.",
                    "type": "string"
                },
                {
                    "name": "subnetworkName",
                    "desc": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network.\nIf the network the VM instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range.\nIf the network the VM instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network.\nIf the network the VM instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the Flex app.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Google Cloud Platform network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ReadinessCheck",
            "desc": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation.",
            "type": "object",
            "fields": [
                {
                    "name": "path",
                    "desc": "The request path.",
                    "type": "string"
                },
                {
                    "name": "host",
                    "desc": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\"",
                    "type": "string"
                },
                {
                    "name": "healthyThreshold",
                    "desc": "Number of consecutive successful checks required before receiving traffic.",
                    "type": "uint32"
                },
                {
                    "name": "checkInterval",
                    "desc": "Interval between health checks.",
                    "type": "string"
                },
                {
                    "name": "timeout",
                    "desc": "Time before the check is considered failed.",
                    "type": "string"
                },
                {
                    "name": "unhealthyThreshold",
                    "desc": "Number of consecutive failed checks required before removing traffic.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "ScriptHandler",
            "desc": "Executes a script to handle the request that matches the URL pattern.",
            "type": "object",
            "fields": [
                {
                    "name": "scriptPath",
                    "desc": "Path to the script from the application root directory.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Deployment",
            "desc": "Code and application artifacts used to deploy a version to App Engine.",
            "type": "object",
            "fields": [
                {
                    "name": "container",
                    "desc": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment.",
                    "type": "ref",
                    "refType": "ContainerInfo"
                },
                {
                    "name": "files",
                    "desc": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "FileInfo"
                },
                {
                    "name": "zip",
                    "desc": "The zip file for this deployment, if this is a zip deployment.",
                    "type": "ref",
                    "refType": "ZipInfo"
                }
            ]
        },
        {
            "name": "Resources",
            "desc": "Machine resources for a version.",
            "type": "object",
            "fields": [
                {
                    "name": "volumes",
                    "desc": "User specified volumes.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Volume"
                },
                {
                    "name": "diskGb",
                    "desc": "Disk size (GB) needed.",
                    "type": "float64"
                },
                {
                    "name": "cpu",
                    "desc": "Number of CPU cores needed.",
                    "type": "float64"
                },
                {
                    "name": "memoryGb",
                    "desc": "Memory (GB) needed.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "BasicScaling",
            "desc": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
            "type": "object",
            "fields": [
                {
                    "name": "maxInstances",
                    "desc": "Maximum number of instances to create for this version.",
                    "type": "int32"
                },
                {
                    "name": "idleTimeout",
                    "desc": "Duration of time after the last request that an instance must wait before the instance is shut down.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListVersionsResponse",
            "desc": "Response message for Versions.ListVersions.",
            "type": "object",
            "fields": [
                {
                    "name": "versions",
                    "desc": "The versions belonging to the requested service.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Version"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token for fetching the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ZipInfo",
            "desc": "The zip file information for a zip deployment.",
            "type": "object",
            "fields": [
                {
                    "name": "filesCount",
                    "desc": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow.",
                    "type": "int32"
                },
                {
                    "name": "sourceUrl",
                    "desc": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com/\u003cbucket\u003e/\u003cobject\u003e'.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Operation",
            "desc": "This resource represents a long-running operation that is the result of a network API call.",
            "type": "object",
            "fields": [
                {
                    "name": "metadata",
                    "desc": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "done",
                    "desc": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
                    "type": "bool"
                },
                {
                    "name": "response",
                    "desc": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "name",
                    "desc": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should have the format of operations/some/unique/name.",
                    "type": "string"
                },
                {
                    "name": "error",
                    "desc": "The error result of the operation in case of failure or cancellation.",
                    "type": "ref",
                    "refType": "Status"
                }
            ]
        },
        {
            "name": "DiskUtilization",
            "desc": "Target scaling by disk usage. Only applicable for VM runtimes.",
            "type": "object",
            "fields": [
                {
                    "name": "targetWriteOpsPerSecond",
                    "desc": "Target ops written per second.",
                    "type": "int32"
                },
                {
                    "name": "targetWriteBytesPerSecond",
                    "desc": "Target bytes written per second.",
                    "type": "int32"
                },
                {
                    "name": "targetReadBytesPerSecond",
                    "desc": "Target bytes read per second.",
                    "type": "int32"
                },
                {
                    "name": "targetReadOpsPerSecond",
                    "desc": "Target ops read per seconds.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Status",
            "desc": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). The error model is designed to be:\nSimple to use and understand for most users\nFlexible enough to meet unexpected needsOverviewThe Status message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers understand and resolve the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package google.rpc which can be used for common error conditions.Language mappingThe Status message is the logical representation of the error model, but it is not necessarily the actual wire format. When the Status message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe error model and the Status message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments.Example uses of this error model include:\nPartial errors. If a service needs to return partial errors to the client, it may embed the Status in the normal response to indicate the partial errors.\nWorkflow errors. A typical workflow has multiple steps. Each step may have a Status message for error reporting purpose.\nBatch operations. If a client uses batch request and batch response, the Status message should be used directly inside batch response, one for each error sub-response.\nAsynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the Status message.\nLogging. If some API errors are stored in logs, the message Status could be used directly after any stripping needed for security/privacy reasons.",
            "type": "object",
            "fields": [
                {
                    "name": "message",
                    "desc": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                },
                {
                    "name": "details",
                    "desc": "A list of messages that carry the error details. There will be a common set of message types for APIs to use.",
                    "collection": "array",
                    "collectionItem": {
                        "collection": "map",
                        "type": "any"
                    }
                },
                {
                    "name": "code",
                    "desc": "The status code, which should be an enum value of google.rpc.Code.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "LocationMetadata",
            "desc": "Metadata for the given google.cloud.location.Location.",
            "type": "object",
            "fields": [
                {
                    "name": "flexibleEnvironmentAvailable",
                    "desc": "App Engine Flexible Environment is available in the given location.@OutputOnly",
                    "type": "bool"
                },
                {
                    "name": "standardEnvironmentAvailable",
                    "desc": "App Engine Standard Environment is available in the given location.@OutputOnly",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "Service",
            "desc": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
            "type": "object",
            "fields": [
                {
                    "name": "split",
                    "desc": "Mapping that defines fractional HTTP traffic diversion to different versions within the service.",
                    "type": "ref",
                    "refType": "TrafficSplit"
                },
                {
                    "name": "id",
                    "desc": "Relative name of the service within the application. Example: default.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Location",
            "desc": "A resource that represents Google Cloud Platform location.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
                    "type": "string"
                },
                {
                    "name": "locationId",
                    "desc": "The canonical id for this location. For example: \"us-east1\".",
                    "type": "string"
                },
                {
                    "name": "metadata",
                    "desc": "Service-specific metadata. For example the available capacity at the given location.",
                    "collection": "map",
                    "type": "any"
                },
                {
                    "name": "labels",
                    "desc": "Cross-service attributes for the location. For example\n{\"cloud.googleapis.com/region\": \"us-east1\"}\n",
                    "collection": "map",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Version",
            "desc": "A Version resource is a specific set of source code and configuration files that are deployed into a service.",
            "type": "object",
            "fields": [
                {
                    "name": "createTime",
                    "desc": "Time that this version was created.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "resources",
                    "desc": "Machine resources for this version. Only applicable for VM runtimes.",
                    "type": "ref",
                    "refType": "Resources"
                },
                {
                    "name": "defaultExpiration",
                    "desc": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#staticfileshandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set.",
                    "type": "string"
                },
                {
                    "name": "instanceClass",
                    "desc": "Instance class that is used to run this version. Valid values are:\nAutomaticScaling: F1, F2, F4, F4_1G\nManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling.",
                    "type": "string"
                },
                {
                    "name": "errorHandlers",
                    "desc": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ErrorHandler"
                },
                {
                    "name": "betaSettings",
                    "desc": "Metadata settings that are supplied to this version to enable beta runtime features.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "servingStatus",
                    "desc": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SERVING_STATUS_UNSPECIFIED",
                            "desc": "Not specified."
                        },
                        {
                            "name": "SERVING",
                            "desc": "Currently serving. Instances are created according to the scaling settings of the version."
                        },
                        {
                            "name": "STOPPED",
                            "desc": "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
                        }
                    ]
                },
                {
                    "name": "handlers",
                    "desc": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UrlMap"
                },
                {
                    "name": "manualScaling",
                    "desc": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
                    "type": "ref",
                    "refType": "ManualScaling"
                },
                {
                    "name": "libraries",
                    "desc": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Library"
                },
                {
                    "name": "diskUsageBytes",
                    "desc": "Total size in bytes of all the files that are included in this version and curerntly hosted on the App Engine disk.@OutputOnly",
                    "type": "int64"
                },
                {
                    "name": "healthCheck",
                    "desc": "Configures health checking for VM instances. Unhealthy instances are stopped and replaced with new instances. Only applicable for VM runtimes.Only returned in GET requests if view=FULL is set.",
                    "type": "ref",
                    "refType": "HealthCheck"
                },
                {
                    "name": "id",
                    "desc": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
                    "type": "string"
                },
                {
                    "name": "inboundServices",
                    "desc": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "vm",
                    "desc": "Whether to deploy this version in a container on a virtual machine.",
                    "type": "bool"
                },
                {
                    "name": "createdBy",
                    "desc": "Email address of the user who created this version.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "livenessCheck",
                    "desc": "Configures liveness health checking for VM instances. Unhealthy instances are stopped and replaced with new instancesOnly returned in GET requests if view=FULL is set.",
                    "type": "ref",
                    "refType": "LivenessCheck"
                },
                {
                    "name": "readinessCheck",
                    "desc": "Configures readiness health checking for VM instances. Unhealthy instances are not put into the backend traffic rotation.Only returned in GET requests if view=FULL is set.",
                    "type": "ref",
                    "refType": "ReadinessCheck"
                },
                {
                    "name": "endpointsApiService",
                    "desc": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app.",
                    "type": "ref",
                    "refType": "EndpointsApiService"
                },
                {
                    "name": "runtime",
                    "desc": "Desired runtime. Example: python27.",
                    "type": "string"
                },
                {
                    "name": "basicScaling",
                    "desc": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
                    "type": "ref",
                    "refType": "BasicScaling"
                },
                {
                    "name": "envVariables",
                    "desc": "Environment variables available to the application.Only returned in GET requests if view=FULL is set.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "env",
                    "desc": "App Engine execution environment for this version.Defaults to standard.",
                    "type": "string"
                },
                {
                    "name": "automaticScaling",
                    "desc": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
                    "type": "ref",
                    "refType": "AutomaticScaling"
                },
                {
                    "name": "threadsafe",
                    "desc": "Whether multiple requests can be dispatched to this version at once.",
                    "type": "bool"
                },
                {
                    "name": "apiConfig",
                    "desc": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/).Only returned in GET requests if view=FULL is set.",
                    "type": "ref",
                    "refType": "ApiConfigHandler"
                },
                {
                    "name": "deployment",
                    "desc": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set.",
                    "type": "ref",
                    "refType": "Deployment"
                },
                {
                    "name": "nobuildFilesRegex",
                    "desc": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set.",
                    "type": "string"
                },
                {
                    "name": "network",
                    "desc": "Extra network settings. Only applicable for VM runtimes.",
                    "type": "ref",
                    "refType": "Network"
                },
                {
                    "name": "name",
                    "desc": "Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "versionUrl",
                    "desc": "Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OperationMetadataV1Alpha",
            "desc": "Metadata for the given google.longrunning.Operation.",
            "type": "object",
            "fields": [
                {
                    "name": "endTime",
                    "desc": "Time that this operation completed.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "insertTime",
                    "desc": "Time that this operation was created.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "warning",
                    "desc": "Durable messages that persist on every operation poll. @OutputOnly",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "user",
                    "desc": "User who requested this operation.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "target",
                    "desc": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "ephemeralMessage",
                    "desc": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
                    "type": "string"
                },
                {
                    "name": "method",
                    "desc": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly",
                    "type": "string"
                }
            ]
        },
        {
            "name": "RequestUtilization",
            "desc": "Target scaling by request utilization. Only applicable for VM runtimes.",
            "type": "object",
            "fields": [
                {
                    "name": "targetConcurrentRequests",
                    "desc": "Target number of concurrent requests.",
                    "type": "int32"
                },
                {
                    "name": "targetRequestCountPerSecond",
                    "desc": "Target requests per second.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ListOperationsResponse",
            "desc": "The response message for Operations.ListOperations.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "The standard List next-page token.",
                    "type": "string"
                },
                {
                    "name": "operations",
                    "desc": "A list of operations that matches the specified filter in the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Operation"
                }
            ]
        },
        {
            "name": "OperationMetadataV1",
            "desc": "Metadata for the given google.longrunning.Operation.",
            "type": "object",
            "fields": [
                {
                    "name": "endTime",
                    "desc": "Time that this operation completed.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "warning",
                    "desc": "Durable messages that persist on every operation poll. @OutputOnly",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "insertTime",
                    "desc": "Time that this operation was created.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "target",
                    "desc": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "user",
                    "desc": "User who requested this operation.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "ephemeralMessage",
                    "desc": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
                    "type": "string"
                },
                {
                    "name": "method",
                    "desc": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Instance",
            "desc": "An Instance resource is the computing unit that App Engine uses to automatically scale an application.",
            "type": "object",
            "fields": [
                {
                    "name": "requests",
                    "desc": "Number of requests since this instance was started.@OutputOnly",
                    "type": "int32"
                },
                {
                    "name": "appEngineRelease",
                    "desc": "App Engine release this instance is running on.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "vmIp",
                    "desc": "The IP address of this instance. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Relative name of the instance within the version. Example: instance-1.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "errors",
                    "desc": "Number of errors since this instance was started.@OutputOnly",
                    "type": "int32"
                },
                {
                    "name": "vmStatus",
                    "desc": "Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "vmZoneName",
                    "desc": "Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "vmDebugEnabled",
                    "desc": "Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "bool"
                },
                {
                    "name": "startTime",
                    "desc": "Time that this instance was started.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "vmName",
                    "desc": "Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "vmId",
                    "desc": "Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "qps",
                    "desc": "Average queries per second (QPS) over the last minute.@OutputOnly",
                    "type": "float32"
                },
                {
                    "name": "availability",
                    "desc": "Availability of the instance.@OutputOnly",
                    "type": "string",
                    "enum": [
                        {
                            "name": "UNSPECIFIED"
                        },
                        {
                            "name": "RESIDENT"
                        },
                        {
                            "name": "DYNAMIC"
                        }
                    ]
                },
                {
                    "name": "averageLatency",
                    "desc": "Average latency (ms) over the last minute.@OutputOnly",
                    "type": "int32"
                },
                {
                    "name": "memoryUsage",
                    "desc": "Total memory in use (bytes).@OutputOnly",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "HealthCheck",
            "desc": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
            "type": "object",
            "fields": [
                {
                    "name": "restartThreshold",
                    "desc": "Number of consecutive failed health checks required before an instance is restarted.",
                    "type": "uint32"
                },
                {
                    "name": "checkInterval",
                    "desc": "Interval between health checks.",
                    "type": "string"
                },
                {
                    "name": "timeout",
                    "desc": "Time before the health check is considered failed.",
                    "type": "string"
                },
                {
                    "name": "unhealthyThreshold",
                    "desc": "Number of consecutive failed health checks required before removing traffic.",
                    "type": "uint32"
                },
                {
                    "name": "disableHealthCheck",
                    "desc": "Whether to explicitly disable health checks for this instance.",
                    "type": "bool"
                },
                {
                    "name": "host",
                    "desc": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\"",
                    "type": "string"
                },
                {
                    "name": "healthyThreshold",
                    "desc": "Number of consecutive successful health checks required before receiving traffic.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "RepairApplicationRequest",
            "desc": "Request message for 'Applications.RepairApplication'.",
            "type": "object"
        },
        {
            "name": "OperationMetadataExperimental",
            "desc": "Metadata for the given google.longrunning.Operation.",
            "type": "object",
            "fields": [
                {
                    "name": "method",
                    "desc": "API method that initiated this operation. Example: google.appengine.experimental.CustomDomains.CreateCustomDomain.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "insertTime",
                    "desc": "Time that this operation was created.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "endTime",
                    "desc": "Time that this operation completed.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "user",
                    "desc": "User who requested this operation.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "target",
                    "desc": "Name of the resource that this operation is acting on. Example: apps/myapp/customDomains/example.com.@OutputOnly",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LivenessCheck",
            "desc": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
            "type": "object",
            "fields": [
                {
                    "name": "timeout",
                    "desc": "Time before the check is considered failed.",
                    "type": "string"
                },
                {
                    "name": "initialDelay",
                    "desc": "The initial delay before starting to execute the checks.",
                    "type": "string"
                },
                {
                    "name": "unhealthyThreshold",
                    "desc": "Number of consecutive failed checks required before considering the VM unhealthy.",
                    "type": "uint32"
                },
                {
                    "name": "path",
                    "desc": "The request path.",
                    "type": "string"
                },
                {
                    "name": "host",
                    "desc": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
                    "type": "string"
                },
                {
                    "name": "healthyThreshold",
                    "desc": "Number of consecutive successful checks required before considering the VM healthy.",
                    "type": "uint32"
                },
                {
                    "name": "checkInterval",
                    "desc": "Interval between health checks.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DebugInstanceRequest",
            "desc": "Request message for Instances.DebugInstance.",
            "type": "object",
            "fields": [
                {
                    "name": "sshKey",
                    "desc": "Public SSH key to add to the instance. Examples:\n[USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME]\n[USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OperationMetadataV1Beta5",
            "desc": "Metadata for the given google.longrunning.Operation.",
            "type": "object",
            "fields": [
                {
                    "name": "endTime",
                    "desc": "Timestamp that this operation completed.@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "user",
                    "desc": "User who requested this operation.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "target",
                    "desc": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "method",
                    "desc": "API method name that initiated this operation. Example: google.appengine.v1beta5.Version.CreateVersion.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "insertTime",
                    "desc": "Timestamp that this operation was created.@OutputOnly",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "UrlDispatchRule",
            "desc": "Rules to match an HTTP request and dispatch that request to a service.",
            "type": "object",
            "fields": [
                {
                    "name": "service",
                    "desc": "Resource ID of a service in this application that should serve the matched request. The service must already exist. Example: default.",
                    "type": "string"
                },
                {
                    "name": "path",
                    "desc": "Pathname within the host. Must start with a \"/\". A single \"*\" can be included at the end of the path. The sum of the lengths of the domain and path may not exceed 100 characters.",
                    "type": "string"
                },
                {
                    "name": "domain",
                    "desc": "Domain name to match against. The wildcard \"*\" is supported if specified before a period: \"*.\".Defaults to matching all domains: \"*\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Library",
            "desc": "Third-party Python runtime library that is required by the application.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Name of the library. Example: \"django\".",
                    "type": "string"
                },
                {
                    "name": "version",
                    "desc": "Version of the library to select, or \"latest\".",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ApiConfigHandler",
            "desc": "Google Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/) configuration for API handlers.",
            "type": "object",
            "fields": [
                {
                    "name": "url",
                    "desc": "URL to serve the endpoint at.",
                    "type": "string"
                },
                {
                    "name": "securityLevel",
                    "desc": "Security (HTTPS) enforcement for this URL.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "SECURE_UNSPECIFIED",
                            "desc": "Not specified."
                        },
                        {
                            "name": "SECURE_DEFAULT",
                            "desc": "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly."
                        },
                        {
                            "name": "SECURE_NEVER",
                            "desc": "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL."
                        },
                        {
                            "name": "SECURE_OPTIONAL",
                            "desc": "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly."
                        },
                        {
                            "name": "SECURE_ALWAYS",
                            "desc": "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
                        }
                    ]
                },
                {
                    "name": "authFailAction",
                    "desc": "Action to take when users access resources that require authentication. Defaults to redirect.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "AUTH_FAIL_ACTION_UNSPECIFIED",
                            "desc": "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed."
                        },
                        {
                            "name": "AUTH_FAIL_ACTION_REDIRECT",
                            "desc": "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account."
                        },
                        {
                            "name": "AUTH_FAIL_ACTION_UNAUTHORIZED",
                            "desc": "Rejects request with a 401 HTTP status code and an error message."
                        }
                    ]
                },
                {
                    "name": "script",
                    "desc": "Path to the script from the application root directory.",
                    "type": "string"
                },
                {
                    "name": "login",
                    "desc": "Level of login required to access this resource. Defaults to optional.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "LOGIN_UNSPECIFIED",
                            "desc": "Not specified. LOGIN_OPTIONAL is assumed."
                        },
                        {
                            "name": "LOGIN_OPTIONAL",
                            "desc": "Does not require that the user is signed in."
                        },
                        {
                            "name": "LOGIN_ADMIN",
                            "desc": "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds."
                        },
                        {
                            "name": "LOGIN_REQUIRED",
                            "desc": "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
                        }
                    ]
                }
            ]
        },
        {
            "name": "StaticFilesHandler",
            "desc": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.",
            "type": "object",
            "fields": [
                {
                    "name": "expiration",
                    "desc": "Time a static file served by this handler should be cached by web proxies and browsers.",
                    "type": "string"
                },
                {
                    "name": "httpHeaders",
                    "desc": "HTTP headers to use for all responses from these URLs.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "applicationReadable",
                    "desc": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas.",
                    "type": "bool"
                },
                {
                    "name": "uploadPathRegex",
                    "desc": "Regular expression that matches the file paths for all files that should be referenced by this handler.",
                    "type": "string"
                },
                {
                    "name": "path",
                    "desc": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.",
                    "type": "string"
                },
                {
                    "name": "mimeType",
                    "desc": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension.",
                    "type": "string"
                },
                {
                    "name": "requireMatchingFile",
                    "desc": "Whether this handler should match the request if the file referenced by the handler does not exist.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "CpuUtilization",
            "desc": "Target scaling by CPU usage.",
            "type": "object",
            "fields": [
                {
                    "name": "aggregationWindowLength",
                    "desc": "Period of time over which CPU utilization is calculated.",
                    "type": "string"
                },
                {
                    "name": "targetUtilization",
                    "desc": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "Application",
            "desc": "An Application resource contains the top-level configuration of an App Engine application.",
            "type": "object",
            "fields": [
                {
                    "name": "dispatchRules",
                    "desc": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent.@OutputOnly",
                    "collection": "array",
                    "type": "ref",
                    "refType": "UrlDispatchRule"
                },
                {
                    "name": "gcrDomain",
                    "desc": "The Google Container Registry domain used for storing managed build docker images for this application.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "Full path to the Application resource in the API. Example: apps/myapp.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "locationId",
                    "desc": "Location from which this application will be run. Application instances will run out of data centers in the chosen location, which is also where all of the application's end user content is stored.Defaults to us-central.Options are:us-central - Central USeurope-west - Western Europeus-east1 - Eastern US",
                    "type": "string"
                },
                {
                    "name": "servingStatus",
                    "desc": "Serving status of this application.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "UNSPECIFIED",
                            "desc": "Serving status is unspecified."
                        },
                        {
                            "name": "SERVING",
                            "desc": "Application is serving."
                        },
                        {
                            "name": "USER_DISABLED",
                            "desc": "Application has been disabled by the user."
                        },
                        {
                            "name": "SYSTEM_DISABLED",
                            "desc": "Application has been disabled by the system."
                        }
                    ]
                },
                {
                    "name": "defaultHostname",
                    "desc": "Hostname used to reach this application, as resolved by App Engine.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "iap",
                    "type": "ref",
                    "refType": "IdentityAwareProxy"
                },
                {
                    "name": "authDomain",
                    "desc": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account.",
                    "type": "string"
                },
                {
                    "name": "codeBucket",
                    "desc": "Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "defaultBucket",
                    "desc": "Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "defaultCookieExpiration",
                    "desc": "Cookie expiration policy for this application.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "FileInfo",
            "desc": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.",
            "type": "object",
            "fields": [
                {
                    "name": "mimeType",
                    "desc": "The MIME type of the file.Defaults to the value from Google Cloud Storage.",
                    "type": "string"
                },
                {
                    "name": "sourceUrl",
                    "desc": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com/\u003cbucket\u003e/\u003cobject\u003e'.",
                    "type": "string"
                },
                {
                    "name": "sha1Sum",
                    "desc": "The SHA1 hash of the file, in hex.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "apps",
            "methods": [
                {
                    "name": "repair",
                    "desc": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account.",
                    "path": "v1beta/apps/{appsId}:repair",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "appsId",
                            "desc": "Part of `name`. Name of the application to repair. Example: apps/myapp",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "RepairApplicationRequest",
                    "response": "Operation"
                },
                {
                    "name": "get",
                    "desc": "Gets information about an application.",
                    "path": "v1beta/apps/{appsId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ],
                    "pathParams": [
                        {
                            "name": "appsId",
                            "desc": "Part of `name`. Name of the Application resource to get. Example: apps/myapp.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Application"
                },
                {
                    "name": "patch",
                    "desc": "Updates the specified Application resource. You can update the following fields:\nauth_domain - Google authentication domain for controlling user access to the application.\ndefault_cookie_expiration - Cookie expiration policy for the application.",
                    "path": "v1beta/apps/{appsId}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "pathParams": [
                        {
                            "name": "appsId",
                            "desc": "Part of `name`. Name of the Application resource to update. Example: apps/myapp.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "updateMask",
                            "desc": "Standard field mask for the set of fields to be updated.",
                            "type": "string"
                        }
                    ],
                    "request": "Application",
                    "response": "Operation"
                },
                {
                    "name": "create",
                    "desc": "Creates an App Engine application for a Google Cloud Platform project. Required fields:\nid - The ID of the target Cloud Platform project.\nlocation - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/python/console/).",
                    "path": "v1beta/apps",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "request": "Application",
                    "response": "Operation"
                }
            ],
            "resources": [
                {
                    "name": "operations",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding below allows API services to override the binding to use different resource name schemes, such as users/*/operations.",
                            "path": "v1beta/apps/{appsId}/operations",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ],
                            "pathParams": [
                                {
                                    "name": "appsId",
                                    "desc": "Part of `name`. The name of the operation collection.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageToken",
                                    "desc": "The standard list page token.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "The standard list page size.",
                                    "type": "int32"
                                },
                                {
                                    "name": "filter",
                                    "desc": "The standard list filter.",
                                    "type": "string"
                                }
                            ],
                            "response": "ListOperationsResponse"
                        },
                        {
                            "name": "get",
                            "desc": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                            "path": "v1beta/apps/{appsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ],
                            "pathParams": [
                                {
                                    "name": "appsId",
                                    "desc": "Part of `name`. The name of the operation resource.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "operationsId",
                                    "desc": "Part of `name`. See documentation of `appsId`.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "Operation"
                        }
                    ]
                },
                {
                    "name": "locations",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "Lists information about the supported locations for this service.",
                            "path": "v1beta/apps/{appsId}/locations",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ],
                            "pathParams": [
                                {
                                    "name": "appsId",
                                    "desc": "Part of `name`. The resource that owns the locations collection, if applicable.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageSize",
                                    "desc": "The standard list page size.",
                                    "type": "int32"
                                },
                                {
                                    "name": "filter",
                                    "desc": "The standard list filter.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "The standard list page token.",
                                    "type": "string"
                                }
                            ],
                            "response": "ListLocationsResponse"
                        },
                        {
                            "name": "get",
                            "desc": "Get information about a location.",
                            "path": "v1beta/apps/{appsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ],
                            "pathParams": [
                                {
                                    "name": "appsId",
                                    "desc": "Part of `name`. Resource name for the location.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
[...]
