{
    "kind": "discovery#restDescription",
    "etag": "\"uUWyYHXmEn-ab7WLvo8qNz2S8ws/sAKs5msKBJR7SX4fg3Ahfyr5uno\"",
    "discoveryVersion": "v1",
    "id": "blogger:v2",
    "name": "blogger",
    "version": "v2",
    "title": "Blogger API",
    "description": "API for access to the data within Blogger.",
    "documentationLink": "https://developers.google.com/blogger/docs/2.0/json/getting_started",
    "labels": [
        "limited_availability"
    ],
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "blogger/v2/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/blogger"
        ]
    },
    "parameters": [
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        }
    ],
    "schemas": [
        {
            "name": "Post",
            "type": "object",
            "fields": [
                {
                    "name": "updated",
                    "desc": "RFC 3339 date-time when this Post was last updated.",
                    "type": "datetime"
                },
                {
                    "name": "content",
                    "desc": "The content of the Post. May contain HTML markup.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "The title of the Post.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The identifier of this Post.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#post",
                    "type": "string",
                    "default": "blogger#post"
                },
                {
                    "name": "labels",
                    "desc": "The list of labels this Post was tagged with.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "published",
                    "desc": "RFC 3339 date-time when this Post was published.",
                    "type": "datetime"
                },
                {
                    "name": "replies",
                    "desc": "The container of comments on this Post.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "selfLink",
                            "desc": "The URL of the comments on this post.",
                            "type": "string"
                        },
                        {
                            "name": "totalItems",
                            "desc": "The count of comments on this post.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "The author of this Post.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "url",
                            "desc": "The URL of the Post creator's Profile page.",
                            "type": "string"
                        },
                        {
                            "name": "displayName",
                            "desc": "The display name.",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The identifier of the Post creator.",
                            "type": "string"
                        },
                        {
                            "name": "image",
                            "desc": "The Post author's avatar.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "url",
                                    "desc": "The Post author's avatar URL.",
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "blog",
                    "desc": "Data about the blog containing this Post.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the Blog that contains this Post.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "url",
                    "desc": "The URL where this Post is displayed.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PostList",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                },
                {
                    "name": "prevPageToken",
                    "desc": "Pagination token to fetch the previous page, if one exists.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The list of Posts for this Blog.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Post"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#postList",
                    "type": "string",
                    "default": "blogger#postList"
                }
            ]
        },
        {
            "name": "User",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#user",
                    "type": "string",
                    "default": "blogger#user"
                },
                {
                    "name": "locale",
                    "desc": "This user's locale",
                    "type": "object",
                    "fields": [
                        {
                            "name": "country",
                            "desc": "The user's country setting.",
                            "type": "string"
                        },
                        {
                            "name": "language",
                            "desc": "The user's language setting.",
                            "type": "string"
                        },
                        {
                            "name": "variant",
                            "desc": "The user's language variant setting.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "url",
                    "desc": "The user's profile page.",
                    "type": "string"
                },
                {
                    "name": "about",
                    "desc": "Profile summary information.",
                    "type": "string"
                },
                {
                    "name": "blogs",
                    "desc": "The container of blogs for this user.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "selfLink",
                            "desc": "The URL of the Blogs for this user.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "The identifier for this User.",
                    "type": "string"
                },
                {
                    "name": "created",
                    "desc": "The timestamp of when this profile was created, in seconds since epoch.",
                    "type": "datetime"
                },
                {
                    "name": "displayName",
                    "desc": "The display name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Blog",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "desc": "The description of this blog. This is displayed underneath the title.",
                    "type": "string"
                },
                {
                    "name": "locale",
                    "desc": "The locale this Blog is set to.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "language",
                            "desc": "The language this blog is authored in.",
                            "type": "string"
                        },
                        {
                            "name": "variant",
                            "desc": "The language variant this blog is authored in.",
                            "type": "string"
                        },
                        {
                            "name": "country",
                            "desc": "The country this blog's locale is set to.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "name",
                    "desc": "The name of this blog. This is displayed as the title.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "RFC 3339 date-time when this blog was last updated.",
                    "type": "datetime"
                },
                {
                    "name": "id",
                    "desc": "The identifier for this resource.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entry. Always blogger#blog",
                    "type": "string",
                    "default": "blogger#blog"
                },
                {
                    "name": "pages",
                    "desc": "The container of pages in this blog.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "selfLink",
                            "desc": "The URL of the container for pages in this blog.",
                            "type": "string"
                        },
                        {
                            "name": "totalItems",
                            "desc": "The count of pages in this blog.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "posts",
                    "desc": "The container of posts in this blog.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "selfLink",
                            "desc": "The URL of the container for posts in this blog.",
                            "type": "string"
                        },
                        {
                            "name": "totalItems",
                            "desc": "The count of posts in this blog.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "published",
                    "desc": "RFC 3339 date-time when this blog was published.",
                    "type": "datetime"
                },
                {
                    "name": "url",
                    "desc": "The URL where this blog is published.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PageList",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of Pages for a Blog.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Page"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#pageList",
                    "type": "string",
                    "default": "blogger#pageList"
                }
            ]
        },
        {
            "name": "CommentList",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                },
                {
                    "name": "prevPageToken",
                    "desc": "Pagination token to fetch the previous page, if one exists.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The List of Comments for a Post.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Comment"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entry. Always blogger#commentList",
                    "type": "string",
                    "default": "blogger#commentList"
                }
            ]
        },
        {
            "name": "Page",
            "type": "object",
            "fields": [
                {
                    "name": "published",
                    "desc": "RFC 3339 date-time when this Page was published.",
                    "type": "datetime"
                },
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "RFC 3339 date-time when this Page was last updated.",
                    "type": "datetime"
                },
                {
                    "name": "url",
                    "desc": "The URL that this Page is displayed at.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "The title of this entity. This is the name displayed in the Admin user interface.",
                    "type": "string"
                },
                {
                    "name": "author",
                    "desc": "The author of this Page.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the Page creator.",
                            "type": "string"
                        },
                        {
                            "name": "image",
                            "desc": "The page author's avatar.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "url",
                                    "desc": "The page author's avatar URL.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "url",
                            "desc": "The URL of the Page creator's Profile page.",
                            "type": "string"
                        },
                        {
                            "name": "displayName",
                            "desc": "The display name.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "blog",
                    "desc": "Data about the blog containing this Page.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the blog containing this page.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "content",
                    "desc": "The body content of this Page, in HTML.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The identifier for this resource.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#page",
                    "type": "string",
                    "default": "blogger#page"
                }
            ]
        },
        {
            "name": "BlogList",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of this entity. Always blogger#blogList",
                    "type": "string",
                    "default": "blogger#blogList"
                },
                {
                    "name": "items",
                    "desc": "The list of Blogs this user has Authorship or Admin rights over.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Blog"
                }
            ]
        },
        {
            "name": "Comment",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The identifier for this resource.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "The kind of this entry. Always blogger#comment",
                    "type": "string",
                    "default": "blogger#comment"
                },
                {
                    "name": "selfLink",
                    "desc": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "RFC 3339 date-time when this comment was last updated.",
                    "type": "datetime"
                },
                {
                    "name": "blog",
                    "desc": "Data about the blog containing this comment.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the blog containing this comment.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "content",
                    "desc": "The actual content of the comment. May include HTML markup.",
                    "type": "string"
                },
                {
                    "name": "inReplyTo",
                    "desc": "Data about the comment this is in reply to.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identified of the parent of this comment.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "post",
                    "desc": "Data about the post containing this comment.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "id",
                            "desc": "The identifier of the post containing this comment.",
                            "type": "int64"
                        }
                    ]
                },
                {
                    "name": "published",
                    "desc": "RFC 3339 date-time when this comment was published.",
                    "type": "datetime"
                },
                {
                    "name": "author",
                    "desc": "The author of this Comment.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "displayName",
                            "desc": "The display name.",
                            "type": "string"
                        },
                        {
                            "name": "id",
                            "desc": "The identifier of the Comment creator.",
                            "type": "string"
                        },
                        {
                            "name": "image",
                            "desc": "The comment creator's avatar.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "url",
                                    "desc": "The comment creator's avatar URL.",
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "url",
                            "desc": "The URL of the Comment creator's Profile page.",
                            "type": "string"
                        }
                    ]
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "users",
            "methods": [
                {
                    "path": "users/{userId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets one user by id.",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "userId",
                            "desc": "The ID of the user to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "User"
                }
            ],
            "resources": [
                {
                    "name": "blogs",
                    "methods": [
                        {
                            "path": "users/{userId}/blogs",
                            "httpMethod": "GET",
                            "name": "list",
                            "desc": "Retrieves a list of blogs, possibly filtered.",
                            "scopes": [
                                "https://www.googleapis.com/auth/blogger"
                            ],
                            "pathParams": [
                                {
                                    "name": "userId",
                                    "desc": "ID of the user whose blogs are to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "BlogList"
                        }
                    ]
                }
            ]
        },
        {
            "name": "blogs",
            "methods": [
                {
                    "path": "blogs/{blogId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets one blog by id.",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "The ID of the blog to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Blog"
                }
            ]
        },
        {
            "name": "comments",
            "methods": [
                {
                    "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets one comment by id.",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to containing the comment.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "ID of the post to fetch posts from.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "commentId",
                            "desc": "The ID of the comment to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Comment"
                },
                {
                    "path": "blogs/{blogId}/posts/{postId}/comments",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves the comments for a blog, possibly filtered.",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch comments from.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "ID of the post to fetch posts from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "fetchBodies",
                            "desc": "Whether the body content of the comments is included.",
                            "type": "bool"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of comments to include in the result.",
                            "type": "uint32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token if request is paged.",
                            "type": "string"
                        },
                        {
                            "name": "startDate",
                            "desc": "Earliest date of comment to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        }
                    ],
                    "response": "CommentList"
                }
            ]
        },
        {
            "name": "pages",
            "methods": [
                {
                    "path": "blogs/{blogId}/pages/{pageId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets one blog page by id.",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog containing the page.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "pageId",
                            "desc": "The ID of the page to get.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Page"
                },
                {
                    "path": "blogs/{blogId}/pages",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves pages for a blog, possibly filtered.",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch pages from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "fetchBodies",
                            "desc": "Whether to retrieve the Page bodies.",
                            "type": "bool"
                        }
                    ],
                    "response": "PageList"
                }
            ]
        },
        {
            "name": "posts",
            "methods": [
                {
                    "path": "blogs/{blogId}/posts/{postId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Get a post by id.",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch the post from.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "postId",
                            "desc": "The ID of the post",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Post"
                },
                {
                    "path": "blogs/{blogId}/posts",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Retrieves a list of posts, possibly filtered.",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ],
                    "pathParams": [
                        {
                            "name": "blogId",
                            "desc": "ID of the blog to fetch posts from.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of posts to fetch.",
                            "type": "uint32"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Continuation token if the request is paged.",
                            "type": "string"
                        },
                        {
                            "name": "startDate",
                            "desc": "Earliest post date to fetch, a date-time with RFC 3339 formatting.",
                            "type": "datetime"
                        },
                        {
                            "name": "fetchBodies",
                            "desc": "Whether the body content of posts is included.",
                            "type": "bool"
                        }
                    ],
                    "response": "PostList"
                }
            ]
        }
    ]
}