{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/z5yry82uiiVbT8ZegvP6VogRacg\"",
    "discoveryVersion": "v1",
    "id": "storage:v1",
    "name": "storage",
    "version": "v1",
    "title": "Cloud Storage JSON API",
    "description": "Stores and retrieves potentially large, immutable data objects.",
    "documentationLink": "https://developers.google.com/storage/docs/json_api/",
    "labels": [
        "labs"
    ],
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "BucketAccessControls",
            "desc": "An access-control list.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of items.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BucketAccessControl"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is. For lists of bucket access control entries, this is always storage#bucketAccessControls.",
                    "type": "string",
                    "default": "storage#bucketAccessControls"
                }
            ]
        },
        {
            "name": "Buckets",
            "desc": "A list of buckets.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of items.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Bucket"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is. For lists of buckets, this is always storage#buckets.",
                    "type": "string",
                    "default": "storage#buckets"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ComposeRequest",
            "desc": "A Compose request.",
            "type": "object",
            "fields": [
                {
                    "name": "destination",
                    "desc": "Properties of the resulting object.",
                    "type": "ref",
                    "refType": "Object"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is.",
                    "type": "string",
                    "default": "storage#composeRequest"
                },
                {
                    "name": "sourceObjects",
                    "desc": "The list of source objects that will be concatenated into a single object.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "generation",
                            "desc": "The generation of this object to use as the source.",
                            "type": "int64"
                        },
                        {
                            "name": "name",
                            "desc": "The source object's name. The source object's bucket is implicitly the destination bucket.",
                            "type": "string"
                        },
                        {
                            "name": "objectPreconditions",
                            "desc": "Conditions that must be met for this operation to execute.",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "ifGenerationMatch",
                                    "desc": "Only perform the composition if the generation of the source object that would be used matches this value. If this value and a generation are both specified, they must be the same value or the call will fail.",
                                    "type": "int64"
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "name": "ObjectAccessControl",
            "desc": "An access-control entry.",
            "type": "object",
            "fields": [
                {
                    "name": "entityId",
                    "desc": "The ID for the entity, if any.",
                    "type": "string"
                },
                {
                    "name": "generation",
                    "desc": "The content generation of the object, if applied to an object.",
                    "type": "int64"
                },
                {
                    "name": "id",
                    "desc": "The ID of the access-control entry.",
                    "type": "string"
                },
                {
                    "name": "projectTeam",
                    "desc": "The project team associated with the entity, if any.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "projectNumber",
                            "desc": "The project number.",
                            "type": "string"
                        },
                        {
                            "name": "team",
                            "desc": "The team.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "role",
                    "desc": "The access permission for the entity.",
                    "type": "string"
                },
                {
                    "name": "object",
                    "desc": "The name of the object, if applied to an object.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "The link to this access-control entry.",
                    "type": "string"
                },
                {
                    "name": "bucket",
                    "desc": "The name of the bucket.",
                    "type": "string"
                },
                {
                    "name": "domain",
                    "desc": "The domain associated with the entity, if any.",
                    "type": "string"
                },
                {
                    "name": "email",
                    "desc": "The email address associated with the entity, if any.",
                    "type": "string"
                },
                {
                    "name": "entity",
                    "desc": "The entity holding the permission, in one of the following forms: \n- user-userId \n- user-email \n- group-groupId \n- group-email \n- domain-domain \n- project-team-projectId \n- allUsers \n- allAuthenticatedUsers Examples: \n- The user liz@example.com would be user-liz@example.com. \n- The group example@googlegroups.com would be group-example@googlegroups.com. \n- To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "HTTP 1.1 Entity tag for the access-control entry.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is. For object access control entries, this is always storage#objectAccessControl.",
                    "type": "string",
                    "default": "storage#objectAccessControl"
                }
            ]
        },
        {
            "name": "ObjectAccessControls",
            "desc": "An access-control list.",
            "type": "object",
            "fields": [
                {
                    "name": "items",
                    "desc": "The list of items.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ObjectAccessControl"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is. For lists of object access control entries, this is always storage#objectAccessControls.",
                    "type": "string",
                    "default": "storage#objectAccessControls"
                }
            ]
        },
        {
            "name": "Bucket",
            "desc": "A bucket.",
            "type": "object",
            "fields": [
                {
                    "name": "defaultObjectAcl",
                    "desc": "Default access controls to apply to new objects when no ACL is provided.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ObjectAccessControl"
                },
                {
                    "name": "etag",
                    "desc": "HTTP 1.1 Entity tag for the bucket.",
                    "type": "string"
                },
                {
                    "name": "location",
                    "desc": "The location of the bucket. Object data for objects in the bucket resides in physical storage within this region. Defaults to US. See the developer's guide for the authoritative list.",
                    "type": "string"
                },
                {
                    "name": "logging",
                    "desc": "The bucket's logging configuration, which defines the destination bucket and optional name prefix for the current bucket's logs.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "logBucket",
                            "desc": "The destination bucket where the current bucket's logs should be placed.",
                            "type": "string"
                        },
                        {
                            "name": "logObjectPrefix",
                            "desc": "A prefix for log object names.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "name",
                    "desc": "The name of the bucket.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "The URI of this bucket.",
                    "type": "string"
                },
                {
                    "name": "acl",
                    "desc": "Access controls on the bucket.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "BucketAccessControl"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is. For buckets, this is always storage#bucket.",
                    "type": "string",
                    "default": "storage#bucket"
                },
                {
                    "name": "lifecycle",
                    "desc": "The bucket's lifecycle configuration. See lifecycle management for more information.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "rule",
                            "desc": "A lifecycle management rule, which is made of an action to take and the condition(s) under which the action will be taken.",
                            "collection": "array",
                            "type": "object",
                            "fields": [
                                {
                                    "name": "action",
                                    "desc": "The action to take.",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "storageClass",
                                            "desc": "Target storage class. Required iff the type of the action is SetStorageClass.",
                                            "type": "string"
                                        },
                                        {
                                            "name": "type",
                                            "desc": "Type of the action. Currently, only Delete and SetStorageClass are supported.",
                                            "type": "string"
                                        }
                                    ]
                                },
                                {
                                    "name": "condition",
                                    "desc": "The condition(s) under which the action will be taken.",
                                    "type": "object",
                                    "fields": [
                                        {
                                            "name": "age",
                                            "desc": "Age of an object (in days). This condition is satisfied when an object reaches the specified age.",
                                            "type": "int32"
                                        },
                                        {
                                            "name": "createdBefore",
                                            "desc": "A date in RFC 3339 format with only the date part (for instance, \"2013-01-15\"). This condition is satisfied when an object is created before midnight of the specified date in UTC.",
                                            "type": "date"
                                        },
                                        {
                                            "name": "isLive",
                                            "desc": "Relevant only for versioned objects. If the value is true, this condition matches live objects; if the value is false, it matches archived objects.",
                                            "type": "bool"
                                        },
                                        {
                                            "name": "matchesStorageClass",
                                            "desc": "Objects having any of the storage classes specified by this condition will be matched. Values include MULTI_REGIONAL, REGIONAL, NEARLINE, COLDLINE, STANDARD, and DURABLE_REDUCED_AVAILABILITY.",
                                            "collection": "array",
                                            "type": "string"
                                        },
                                        {
                                            "name": "numNewerVersions",
                                            "desc": "Relevant only for versioned objects. If the value is N, this condition is satisfied when there are at least N versions (including the live version) newer than this version of the object.",
                                            "type": "int32"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "metageneration",
                    "desc": "The metadata generation of this bucket.",
                    "type": "int64"
                },
                {
                    "name": "owner",
                    "desc": "The owner of the bucket. This is always the project team's owner group.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "entity",
                            "desc": "The entity, in the form project-owner-projectId.",
                            "type": "string"
                        },
                        {
                            "name": "entityId",
                            "desc": "The ID for the entity.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "website",
                    "desc": "The bucket's website configuration, controlling how the service behaves when accessing bucket contents as a web site. See the Static Website Examples for more information.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "mainPageSuffix",
                            "desc": "If the requested object path is missing, the service will ensure the path has a trailing '/', append this suffix, and attempt to retrieve the resulting object. This allows the creation of index.html objects to represent directory pages.",
                            "type": "string"
                        },
                        {
                            "name": "notFoundPage",
                            "desc": "If the requested object path is missing, and any mainPageSuffix object is missing, if applicable, the service will return the named object from this bucket as the content for a 404 Not Found result.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "cors",
                    "desc": "The bucket's Cross-Origin Resource Sharing (CORS) configuration.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "method",
                            "desc": "The list of HTTP methods on which to include CORS response headers, (GET, OPTIONS, POST, etc) Note: \"*\" is permitted in the list of methods, and means \"any method\".",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "origin",
                            "desc": "The list of Origins eligible to receive CORS response headers. Note: \"*\" is permitted in the list of origins, and means \"any Origin\".",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "responseHeader",
                            "desc": "The list of HTTP headers other than the simple response headers to give permission for the user-agent to share across domains.",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "maxAgeSeconds",
                            "desc": "The value, in seconds, to return in the  Access-Control-Max-Age header used in preflight responses.",
                            "type": "int32"
                        }
                    ]
                },
                {
                    "name": "id",
                    "desc": "The ID of the bucket. For buckets, the id and name properities are the same.",
                    "type": "string"
                },
                {
                    "name": "projectNumber",
                    "desc": "The project number of the project the bucket belongs to.",
                    "type": "uint64"
                },
                {
                    "name": "storageClass",
                    "desc": "The bucket's default storage class, used whenever no storageClass is specified for a newly-created object. This defines how objects in the bucket are stored and determines the SLA and the cost of storage. Values include MULTI_REGIONAL, REGIONAL, STANDARD, NEARLINE, COLDLINE, and DURABLE_REDUCED_AVAILABILITY. If this value is not specified when the bucket is created, it will default to STANDARD. For more information, see storage classes.",
                    "type": "string"
                },
                {
                    "name": "timeCreated",
                    "desc": "The creation time of the bucket in RFC 3339 format.",
                    "type": "datetime"
                },
                {
                    "name": "updated",
                    "desc": "The modification time of the bucket in RFC 3339 format.",
                    "type": "datetime"
                },
                {
                    "name": "versioning",
                    "desc": "The bucket's versioning configuration.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "enabled",
                            "desc": "While set to true, versioning is fully enabled for this bucket.",
                            "type": "bool"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Channel",
            "desc": "An notification channel used to watch for resource changes.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "The type of delivery mechanism used for this channel.",
                    "type": "string"
                },
                {
                    "name": "resourceUri",
                    "desc": "A version-specific identifier for the watched resource.",
                    "type": "string"
                },
                {
                    "name": "token",
                    "desc": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "A UUID or similar unique string that identifies this channel.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
                    "type": "string",
                    "default": "api#channel"
                },
                {
                    "name": "params",
                    "desc": "Additional parameters controlling delivery channel behavior. Optional.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "payload",
                    "desc": "A Boolean value to indicate whether payload is wanted. Optional.",
                    "type": "bool"
                },
                {
                    "name": "resourceId",
                    "desc": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
                    "type": "string"
                },
                {
                    "name": "address",
                    "desc": "The address where notifications are delivered for this channel.",
                    "type": "string"
                },
                {
                    "name": "expiration",
                    "desc": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "Object",
            "desc": "An object.",
            "type": "object",
            "fields": [
                {
                    "name": "contentLanguage",
                    "desc": "Content-Language of the object data.",
                    "type": "string"
                },
                {
                    "name": "contentType",
                    "desc": "Content-Type of the object data. If contentType is not specified, object downloads will be served as application/octet-stream.",
                    "type": "string"
                },
                {
                    "name": "mediaLink",
                    "desc": "Media download link.",
                    "type": "string"
                },
                {
                    "name": "crc32c",
                    "desc": "CRC32c checksum, as described in RFC 4960, Appendix B; encoded using base64 in big-endian byte order. For more information about using the CRC32c checksum, see Hashes and ETags: Best Practices.",
                    "type": "string"
                },
                {
                    "name": "storageClass",
                    "desc": "Storage class of the object.",
                    "type": "string"
                },
                {
                    "name": "updated",
                    "desc": "The modification time of the object metadata in RFC 3339 format.",
                    "type": "datetime"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is. For objects, this is always storage#object.",
                    "type": "string",
                    "default": "storage#object"
                },
                {
                    "name": "md5Hash",
                    "desc": "MD5 hash of the data; encoded using base64. For more information about using the MD5 hash, see Hashes and ETags: Best Practices.",
                    "type": "string"
                },
                {
                    "name": "timeCreated",
                    "desc": "The creation time of the object in RFC 3339 format.",
                    "type": "datetime"
                },
                {
                    "name": "selfLink",
                    "desc": "The link to this object.",
                    "type": "string"
                },
                {
                    "name": "size",
                    "desc": "Content-Length of the data in bytes.",
                    "type": "uint64"
                },
                {
                    "name": "cacheControl",
                    "desc": "Cache-Control directive for the object data. If omitted, and the object is accessible to all anonymous users, the default will be public, max-age=3600.",
                    "type": "string"
                },
                {
                    "name": "componentCount",
                    "desc": "Number of underlying components that make up this object. Components are accumulated by compose operations.",
                    "type": "int32"
                },
                {
                    "name": "contentDisposition",
                    "desc": "Content-Disposition of the object data.",
                    "type": "string"
                },
                {
                    "name": "bucket",
                    "desc": "The name of the bucket containing this object.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "HTTP 1.1 Entity tag for the object.",
                    "type": "string"
                },
                {
                    "name": "timeDeleted",
                    "desc": "The deletion time of the object in RFC 3339 format. Will be returned if and only if this version of the object has been deleted.",
                    "type": "datetime"
                },
                {
                    "name": "timeStorageClassUpdated",
                    "desc": "The time at which the object's storage class was last changed. When the object is initially created, it will be set to timeCreated.",
                    "type": "datetime"
                },
                {
                    "name": "generation",
                    "desc": "The content generation of this object. Used for object versioning.",
                    "type": "int64"
                },
                {
                    "name": "id",
                    "desc": "The ID of the object, including the bucket name, object name, and generation number.",
                    "type": "string"
                },
                {
                    "name": "metadata",
                    "desc": "User-provided metadata, in key/value pairs.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the object. Required if not specified by URL parameter.",
                    "type": "string"
                },
                {
                    "name": "owner",
                    "desc": "The owner of the object. This will always be the uploader of the object.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "entity",
                            "desc": "The entity, in the form user-userId.",
                            "type": "string"
                        },
                        {
                            "name": "entityId",
                            "desc": "The ID for the entity.",
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "metageneration",
                    "desc": "The version of the metadata for this object at this generation. Used for preconditions and for detecting changes in metadata. A metageneration number is only meaningful in the context of a particular generation of a particular object.",
                    "type": "int64"
                },
                {
                    "name": "acl",
                    "desc": "Access controls on the object.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ObjectAccessControl"
                },
                {
                    "name": "contentEncoding",
                    "desc": "Content-Encoding of the object data.",
                    "type": "string"
                },
                {
                    "name": "customerEncryption",
                    "desc": "Metadata of customer-supplied encryption key, if the object is encrypted by such a key.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "encryptionAlgorithm",
                            "desc": "The encryption algorithm.",
                            "type": "string"
                        },
                        {
                            "name": "keySha256",
                            "desc": "SHA256 hash value of the encryption key.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "Objects",
            "desc": "A list of objects.",
            "type": "object",
            "fields": [
                {
                    "name": "prefixes",
                    "desc": "The list of prefixes of objects matching-but-not-listed up to and including the requested delimiter.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "The list of items.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Object"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is. For lists of objects, this is always storage#objects.",
                    "type": "string",
                    "default": "storage#objects"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Policy",
            "desc": "A bucket/object IAM policy.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "HTTP 1.1  Entity tag for the policy.",
                    "type": "byte"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is. For policies, this is always storage#policy. This field is ignored on input.",
                    "type": "string",
                    "default": "storage#policy"
                },
                {
                    "name": "resourceId",
                    "desc": "The ID of the resource to which this policy belongs. Will be of the form buckets/bucket for buckets, and buckets/bucket/objects/object for objects. A specific generation may be specified by appending #generationNumber to the end of the object name, e.g. buckets/my-bucket/objects/data.txt#17. The current generation can be denoted with #0. This field is ignored on input.",
                    "type": "string"
                },
                {
                    "name": "bindings",
                    "desc": "An association between a role, which comes with a set of permissions, and members who may assume that role.",
                    "collection": "array",
                    "type": "object",
                    "fields": [
                        {
                            "name": "members",
                            "desc": "A collection of identifiers for members who may assume the provided role. Recognized identifiers are as follows:  \n- allUsers — A special identifier that represents anyone on the internet; with or without a Google account.  \n- allAuthenticatedUsers — A special identifier that represents anyone who is authenticated with a Google account or a service account.  \n- user:emailid — An email address that represents a specific account. For example, user:alice@gmail.com or user:joe@example.com.  \n- serviceAccount:emailid — An email address that represents a service account. For example,  serviceAccount:my-other-app@appspot.gserviceaccount.com .  \n- group:emailid — An email address that represents a Google group. For example, group:admins@example.com.  \n- domain:domain — A Google Apps domain name that represents all the users of that domain. For example, domain:google.com or domain:example.com.  \n- projectOwner:projectid — Owners of the given project. For example, projectOwner:my-example-project  \n- projectEditor:projectid — Editors of the given project. For example, projectEditor:my-example-project  \n- projectViewer:projectid — Viewers of the given project. For example, projectViewer:my-example-project",
                            "collection": "array",
                            "type": "string"
                        },
                        {
                            "name": "role",
                            "desc": "The role to which members belong. Two types of roles are supported: new IAM roles, which grant permissions that do not map directly to those provided by ACLs, and legacy IAM roles, which do map directly to ACL permissions. All roles are of the format roles/storage.specificRole.\nThe new IAM roles are:  \n- roles/storage.admin — Full control of Google Cloud Storage resources.  \n- roles/storage.objectViewer — Read-Only access to Google Cloud Storage objects.  \n- roles/storage.objectCreator — Access to create objects in Google Cloud Storage.  \n- roles/storage.objectAdmin — Full control of Google Cloud Storage objects.   The legacy IAM roles are:  \n- roles/storage.legacyObjectReader — Read-only access to objects without listing. Equivalent to an ACL entry on an object with the READER role.  \n- roles/storage.legacyObjectOwner — Read/write access to existing objects without listing. Equivalent to an ACL entry on an object with the OWNER role.  \n- roles/storage.legacyBucketReader — Read access to buckets with object listing. Equivalent to an ACL entry on a bucket with the READER role.  \n- roles/storage.legacyBucketWriter — Read access to buckets with object listing/creation/deletion. Equivalent to an ACL entry on a bucket with the WRITER role.  \n- roles/storage.legacyBucketOwner — Read and write access to existing buckets with object listing/creation/deletion. Equivalent to an ACL entry on a bucket with the OWNER role.",
                            "type": "string"
                        }
                    ]
                }
            ]
        },
        {
            "name": "RewriteResponse",
            "desc": "A rewrite response.",
            "type": "object",
            "fields": [
                {
                    "name": "totalBytesRewritten",
                    "desc": "The total bytes written so far, which can be used to provide a waiting user with a progress indicator. This property is always present in the response.",
                    "type": "uint64"
                },
                {
                    "name": "done",
                    "desc": "true if the copy is finished; otherwise, false if the copy is in progress. This property is always present in the response.",
                    "type": "bool"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is.",
                    "type": "string",
                    "default": "storage#rewriteResponse"
                },
                {
                    "name": "objectSize",
                    "desc": "The total size of the object being copied in bytes. This property is always present in the response.",
                    "type": "uint64"
                },
                {
                    "name": "resource",
                    "desc": "A resource containing the metadata for the copied-to object. This property is present in the response only when copying completes.",
                    "type": "ref",
                    "refType": "Object"
                },
                {
                    "name": "rewriteToken",
                    "desc": "A token to use in subsequent requests to continue copying data. This token is present in the response only when there is more data to copy.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TestIamPermissionsResponse",
            "desc": "A storage.(buckets|objects).testIamPermissions response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "The kind of item this is.",
                    "type": "string",
                    "default": "storage#testIamPermissionsResponse"
                },
                {
                    "name": "permissions",
                    "desc": "The permissions held by the caller. Permissions are always of the format storage.resource.capability, where resource is one of buckets or objects. The supported permissions are as follows:  \n- storage.buckets.delete — Delete bucket.  \n- storage.buckets.get — Read bucket metadata.  \n- storage.buckets.getIamPolicy — Read bucket IAM policy.  \n- storage.buckets.create — Create bucket.  \n- storage.buckets.list — List buckets.  \n- storage.buckets.setIamPolicy — Update bucket IAM policy.  \n- storage.buckets.update — Update bucket metadata.  \n- storage.objects.delete — Delete object.  \n- storage.objects.get — Read object data and metadata.  \n- storage.objects.getIamPolicy — Read object IAM policy.  \n- storage.objects.create — Create object.  \n- storage.objects.list — List objects.  \n- storage.objects.setIamPolicy — Update object IAM policy.  \n- storage.objects.update — Update object metadata.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "BucketAccessControl",
            "desc": "An access-control entry.",
            "type": "object",
            "fields": [
                {
                    "name": "email",
                    "desc": "The email address associated with the entity, if any.",
                    "type": "string"
                },
                {
                    "name": "entity",
                    "desc": "The entity holding the permission, in one of the following forms: \n- user-userId \n- user-email \n- group-groupId \n- group-email \n- domain-domain \n- project-team-projectId \n- allUsers \n- allAuthenticatedUsers Examples: \n- The user liz@example.com would be user-liz@example.com. \n- The group example@googlegroups.com would be group-example@googlegroups.com. \n- To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the access-control entry.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "The kind of item this is. For bucket access control entries, this is always storage#bucketAccessControl.",
                    "type": "string",
                    "default": "storage#bucketAccessControl"
                },
                {
                    "name": "role",
                    "desc": "The access permission for the entity.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "The link to this access-control entry.",
                    "type": "string"
                },
                {
                    "name": "bucket",
                    "desc": "The name of the bucket.",
                    "type": "string"
                },
                {
                    "name": "domain",
                    "desc": "The domain associated with the entity, if any.",
                    "type": "string"
                },
                {
                    "name": "entityId",
                    "desc": "The ID for the entity, if any.",
                    "type": "string"
                },
                {
                    "name": "etag",
                    "desc": "HTTP 1.1 Entity tag for the access-control entry.",
                    "type": "string"
                },
                {
                    "name": "projectTeam",
                    "desc": "The project team associated with the entity, if any.",
                    "type": "object",
                    "fields": [
                        {
                            "name": "projectNumber",
                            "desc": "The project number.",
                            "type": "string"
                        },
                        {
                            "name": "team",
                            "desc": "The team.",
                            "type": "string"
                        }
                    ]
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "buckets",
            "methods": [
                {
                    "name": "patch",
                    "desc": "Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate. This method supports patch semantics.",
                    "path": "b/{bucket}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "predefinedAcl",
                            "desc": "Apply a predefined set of access controls to this bucket.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "authenticatedRead",
                                    "desc": "Project team owners get OWNER access, and allAuthenticatedUsers get READER access."
                                },
                                {
                                    "name": "private",
                                    "desc": "Project team owners get OWNER access."
                                },
                                {
                                    "name": "projectPrivate",
                                    "desc": "Project team members get access according to their roles."
                                },
                                {
                                    "name": "publicRead",
                                    "desc": "Project team owners get OWNER access, and allUsers get READER access."
                                },
                                {
                                    "name": "publicReadWrite",
                                    "desc": "Project team owners get OWNER access, and allUsers get WRITER access."
                                }
                            ]
                        },
                        {
                            "name": "predefinedDefaultObjectAcl",
                            "desc": "Apply a predefined set of default object access controls to this bucket.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "authenticatedRead",
                                    "desc": "Object owner gets OWNER access, and allAuthenticatedUsers get READER access."
                                },
                                {
                                    "name": "bucketOwnerFullControl",
                                    "desc": "Object owner gets OWNER access, and project team owners get OWNER access."
                                },
                                {
                                    "name": "bucketOwnerRead",
                                    "desc": "Object owner gets OWNER access, and project team owners get READER access."
                                },
                                {
                                    "name": "private",
                                    "desc": "Object owner gets OWNER access."
                                },
                                {
                                    "name": "projectPrivate",
                                    "desc": "Object owner gets OWNER access, and project team members get access according to their roles."
                                },
                                {
                                    "name": "publicRead",
                                    "desc": "Object owner gets OWNER access, and allUsers get READER access."
                                }
                            ]
                        },
                        {
                            "name": "projection",
                            "desc": "Set of properties to return. Defaults to full.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "full",
                                    "desc": "Include all properties."
                                },
                                {
                                    "name": "noAcl",
                                    "desc": "Omit owner, acl and defaultObjectAcl properties."
                                }
                            ]
                        },
                        {
                            "name": "ifMetagenerationMatch",
                            "desc": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
                            "type": "int64"
                        },
                        {
                            "name": "ifMetagenerationNotMatch",
                            "desc": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
                            "type": "int64"
                        }
                    ],
                    "request": "Bucket",
                    "response": "Bucket"
                },
                {
                    "name": "setIamPolicy",
                    "desc": "Updates an IAM policy for the specified bucket.",
                    "path": "b/{bucket}/iam",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Policy",
                    "response": "Policy"
                },
                {
                    "name": "update",
                    "desc": "Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate.",
                    "path": "b/{bucket}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "projection",
                            "desc": "Set of properties to return. Defaults to full.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "full",
                                    "desc": "Include all properties."
                                },
                                {
                                    "name": "noAcl",
                                    "desc": "Omit owner, acl and defaultObjectAcl properties."
                                }
                            ]
                        },
                        {
                            "name": "ifMetagenerationMatch",
                            "desc": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
                            "type": "int64"
                        },
                        {
                            "name": "ifMetagenerationNotMatch",
                            "desc": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
                            "type": "int64"
                        },
                        {
                            "name": "predefinedAcl",
                            "desc": "Apply a predefined set of access controls to this bucket.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "authenticatedRead",
                                    "desc": "Project team owners get OWNER access, and allAuthenticatedUsers get READER access."
                                },
                                {
                                    "name": "private",
                                    "desc": "Project team owners get OWNER access."
                                },
                                {
                                    "name": "projectPrivate",
                                    "desc": "Project team members get access according to their roles."
                                },
                                {
                                    "name": "publicRead",
                                    "desc": "Project team owners get OWNER access, and allUsers get READER access."
                                },
                                {
                                    "name": "publicReadWrite",
                                    "desc": "Project team owners get OWNER access, and allUsers get WRITER access."
                                }
                            ]
                        },
                        {
                            "name": "predefinedDefaultObjectAcl",
                            "desc": "Apply a predefined set of default object access controls to this bucket.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "authenticatedRead",
                                    "desc": "Object owner gets OWNER access, and allAuthenticatedUsers get READER access."
                                },
                                {
                                    "name": "bucketOwnerFullControl",
                                    "desc": "Object owner gets OWNER access, and project team owners get OWNER access."
                                },
                                {
                                    "name": "bucketOwnerRead",
                                    "desc": "Object owner gets OWNER access, and project team owners get READER access."
                                },
                                {
                                    "name": "private",
                                    "desc": "Object owner gets OWNER access."
                                },
                                {
                                    "name": "projectPrivate",
                                    "desc": "Object owner gets OWNER access, and project team members get access according to their roles."
                                },
                                {
                                    "name": "publicRead",
                                    "desc": "Object owner gets OWNER access, and allUsers get READER access."
                                }
                            ]
                        }
                    ],
                    "request": "Bucket",
                    "response": "Bucket"
                },
                {
                    "name": "getIamPolicy",
                    "desc": "Returns an IAM policy for the specified bucket.",
                    "path": "b/{bucket}/iam",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Policy"
                },
                {
                    "name": "get",
                    "desc": "Returns metadata for the specified bucket.",
                    "path": "b/{bucket}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "ifMetagenerationNotMatch",
                            "desc": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
                            "type": "int64"
                        },
                        {
                            "name": "projection",
                            "desc": "Set of properties to return. Defaults to noAcl.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "full",
                                    "desc": "Include all properties."
                                },
                                {
                                    "name": "noAcl",
                                    "desc": "Omit owner, acl and defaultObjectAcl properties."
                                }
                            ]
                        },
                        {
                            "name": "ifMetagenerationMatch",
                            "desc": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
                            "type": "int64"
                        }
                    ],
                    "response": "Bucket"
                },
                {
                    "name": "insert",
                    "desc": "Creates a new bucket.",
                    "path": "b",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "project",
                            "desc": "A valid API project identifier.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "predefinedAcl",
                            "desc": "Apply a predefined set of access controls to this bucket.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "authenticatedRead",
                                    "desc": "Project team owners get OWNER access, and allAuthenticatedUsers get READER access."
                                },
                                {
                                    "name": "private",
                                    "desc": "Project team owners get OWNER access."
                                },
                                {
                                    "name": "projectPrivate",
                                    "desc": "Project team members get access according to their roles."
                                },
                                {
                                    "name": "publicRead",
                                    "desc": "Project team owners get OWNER access, and allUsers get READER access."
                                },
                                {
                                    "name": "publicReadWrite",
                                    "desc": "Project team owners get OWNER access, and allUsers get WRITER access."
                                }
                            ]
                        },
                        {
                            "name": "predefinedDefaultObjectAcl",
                            "desc": "Apply a predefined set of default object access controls to this bucket.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "authenticatedRead",
                                    "desc": "Object owner gets OWNER access, and allAuthenticatedUsers get READER access."
                                },
                                {
                                    "name": "bucketOwnerFullControl",
                                    "desc": "Object owner gets OWNER access, and project team owners get OWNER access."
                                },
                                {
                                    "name": "bucketOwnerRead",
                                    "desc": "Object owner gets OWNER access, and project team owners get READER access."
                                },
                                {
                                    "name": "private",
                                    "desc": "Object owner gets OWNER access."
                                },
                                {
                                    "name": "projectPrivate",
                                    "desc": "Object owner gets OWNER access, and project team members get access according to their roles."
                                },
                                {
                                    "name": "publicRead",
                                    "desc": "Object owner gets OWNER access, and allUsers get READER access."
                                }
                            ]
                        },
                        {
                            "name": "projection",
                            "desc": "Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "full",
                                    "desc": "Include all properties."
                                },
                                {
                                    "name": "noAcl",
                                    "desc": "Omit owner, acl and defaultObjectAcl properties."
                                }
                            ]
                        }
                    ],
                    "request": "Bucket",
                    "response": "Bucket"
                },
                {
                    "name": "list",
                    "desc": "Retrieves a list of buckets for a given project.",
                    "path": "b",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "project",
                            "desc": "A valid API project identifier.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of buckets to return in a single response. The service will use this parameter or 1,000 items, whichever is smaller.",
                            "type": "uint32",
                            "default": "1000",
                            "min": "0"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A previously-returned page token representing part of the larger set of results to view.",
                            "type": "string"
                        },
                        {
                            "name": "prefix",
                            "desc": "Filter results to buckets whose names begin with this prefix.",
                            "type": "string"
                        },
                        {
                            "name": "projection",
                            "desc": "Set of properties to return. Defaults to noAcl.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "full",
                                    "desc": "Include all properties."
                                },
                                {
                                    "name": "noAcl",
                                    "desc": "Omit owner, acl and defaultObjectAcl properties."
                                }
                            ]
                        }
                    ],
                    "response": "Buckets"
                },
                {
                    "name": "testIamPermissions",
                    "desc": "Tests a set of permissions on the given bucket to see which, if any, are held by the caller.",
                    "path": "b/{bucket}/iam/testPermissions",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "permissions",
                            "desc": "Permissions to test.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "TestIamPermissionsResponse"
                },
                {
                    "name": "delete",
                    "desc": "Permanently deletes an empty bucket.",
                    "path": "b/{bucket}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "ifMetagenerationMatch",
                            "desc": "If set, only deletes the bucket if its metageneration matches this value.",
                            "type": "int64"
                        },
                        {
                            "name": "ifMetagenerationNotMatch",
                            "desc": "If set, only deletes the bucket if its metageneration does not match this value.",
                            "type": "int64"
                        }
                    ]
                }
            ]
        },
        {
            "name": "channels",
            "methods": [
                {
                    "name": "stop",
                    "desc": "Stop watching resources through this channel",
                    "path": "channels/stop",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "request": "Channel"
                }
            ]
        },
        {
            "name": "defaultObjectAccessControls",
            "methods": [
                {
                    "name": "list",
                    "desc": "Retrieves default object ACL entries on the specified bucket.",
                    "path": "b/{bucket}/defaultObjectAcl",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "ifMetagenerationMatch",
                            "desc": "If present, only return default ACL listing if the bucket's current metageneration matches this value.",
                            "type": "int64"
                        },
                        {
                            "name": "ifMetagenerationNotMatch",
                            "desc": "If present, only return default ACL listing if the bucket's current metageneration does not match the given value.",
                            "type": "int64"
                        }
                    ],
                    "response": "ObjectAccessControls"
                },
                {
                    "name": "patch",
                    "desc": "Updates a default object ACL entry on the specified bucket. This method supports patch semantics.",
                    "path": "b/{bucket}/defaultObjectAcl/{entity}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "entity",
                            "desc": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ObjectAccessControl",
                    "response": "ObjectAccessControl"
                },
                {
                    "name": "update",
                    "desc": "Updates a default object ACL entry on the specified bucket.",
                    "path": "b/{bucket}/defaultObjectAcl/{entity}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "entity",
                            "desc": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ObjectAccessControl",
                    "response": "ObjectAccessControl"
                },
                {
                    "name": "delete",
                    "desc": "Permanently deletes the default object ACL entry for the specified entity on the specified bucket.",
                    "path": "b/{bucket}/defaultObjectAcl/{entity}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "entity",
                            "desc": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Returns the default object ACL entry for the specified entity on the specified bucket.",
                    "path": "b/{bucket}/defaultObjectAcl/{entity}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "entity",
                            "desc": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "ObjectAccessControl"
                },
                {
                    "name": "insert",
                    "desc": "Creates a new default object ACL entry on the specified bucket.",
                    "path": "b/{bucket}/defaultObjectAcl",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ObjectAccessControl",
                    "response": "ObjectAccessControl"
                }
            ]
        },
        {
            "name": "objectAccessControls",
            "methods": [
                {
                    "name": "get",
                    "desc": "Returns the ACL entry for the specified entity on the specified object.",
                    "path": "b/{bucket}/o/{object}/acl/{entity}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "object",
                            "desc": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "entity",
                            "desc": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "generation",
                            "desc": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
                            "type": "int64"
                        }
                    ],
                    "response": "ObjectAccessControl"
                },
                {
                    "name": "insert",
                    "desc": "Creates a new ACL entry on the specified object.",
                    "path": "b/{bucket}/o/{object}/acl",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "object",
                            "desc": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "generation",
                            "desc": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
                            "type": "int64"
                        }
                    ],
                    "request": "ObjectAccessControl",
                    "response": "ObjectAccessControl"
                },
                {
                    "name": "list",
                    "desc": "Retrieves ACL entries on the specified object.",
                    "path": "b/{bucket}/o/{object}/acl",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "object",
                            "desc": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "generation",
                            "desc": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
                            "type": "int64"
                        }
                    ],
                    "response": "ObjectAccessControls"
                },
                {
                    "name": "patch",
                    "desc": "Updates an ACL entry on the specified object. This method supports patch semantics.",
                    "path": "b/{bucket}/o/{object}/acl/{entity}",
                    "httpMethod": "PATCH",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "object",
                            "desc": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "entity",
                            "desc": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "generation",
                            "desc": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
                            "type": "int64"
                        }
                    ],
                    "request": "ObjectAccessControl",
                    "response": "ObjectAccessControl"
                },
                {
                    "name": "update",
                    "desc": "Updates an ACL entry on the specified object.",
                    "path": "b/{bucket}/o/{object}/acl/{entity}",
                    "httpMethod": "PUT",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "object",
                            "desc": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "entity",
                            "desc": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "generation",
                            "desc": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
                            "type": "int64"
                        }
                    ],
                    "request": "ObjectAccessControl",
                    "response": "ObjectAccessControl"
                },
                {
                    "name": "delete",
                    "desc": "Permanently deletes the ACL entry for the specified entity on the specified object.",
                    "path": "b/{bucket}/o/{object}/acl/{entity}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of a bucket.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "object",
                            "desc": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "entity",
                            "desc": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "generation",
                            "desc": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
                            "type": "int64"
                        }
                    ]
                }
            ]
        },
        {
            "name": "objects",
            "methods": [
                {
                    "name": "getIamPolicy",
                    "desc": "Returns an IAM policy for the specified object.",
                    "path": "b/{bucket}/o/{object}/iam",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of the bucket in which the object resides.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "object",
                            "desc": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "generation",
                            "desc": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
                            "type": "int64"
                        }
                    ],
                    "response": "Policy"
                },
                {
                    "name": "list",
                    "desc": "Retrieves a list of objects matching the criteria.",
                    "path": "b/{bucket}/o",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of the bucket in which to look for objects.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "delimiter",
                            "desc": "Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of items plus prefixes to return in a single page of responses. As duplicate prefixes are omitted, fewer total results may be returned than requested. The service will use this parameter or 1,000 items, whichever is smaller.",
                            "type": "uint32",
                            "default": "1000",
                            "min": "0"
                        },
                        {
                            "name": "pageToken",
                            "desc": "A previously-returned page token representing part of the larger set of results to view.",
                            "type": "string"
                        },
                        {
                            "name": "prefix",
                            "desc": "Filter results to objects whose names begin with this prefix.",
                            "type": "string"
                        },
                        {
                            "name": "projection",
                            "desc": "Set of properties to return. Defaults to noAcl.",
                            "type": "string",
                            "enum": [
                                {
                                    "name": "full",
                                    "desc": "Include all properties."
                                },
                                {
                                    "name": "noAcl",
                                    "desc": "Omit the owner, acl property."
                                }
                            ]
                        },
                        {
                            "name": "versions",
                            "desc": "If true, lists all versions of an object as distinct results. The default is false. For more information, see Object Versioning.",
                            "type": "bool"
                        }
                    ],
                    "response": "Objects"
                },
                {
                    "name": "testIamPermissions",
                    "desc": "Tests a set of permissions on the given object to see which, if any, are held by the caller.",
                    "path": "b/{bucket}/o/{object}/iam/testPermissions",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "pathParams": [
                        {
                            "name": "bucket",
                            "desc": "Name of the bucket in which the object resides.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "object",
                            "desc": "Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "requiredQueryParams": [
                        {
                            "name": "permissions",
                            "desc": "Permissions to test.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "generation",
                            "desc": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
                            "type": "int64"
                        }
                    ],
                    "response": "TestIamPermissionsResponse"
                },
                {
                    "name": "watchAll",
                    "desc": "Watch for changes on all objects in a bucket.",
[...]
