{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "partners:v2",
    "name": "partners",
    "version": "v2",
    "title": "Google Partners API",
    "description": "Searches certified companies and creates contact leads with them, and also audits the usage of clients.",
    "documentationLink": "https://developers.google.com/partners/",
    "protocol": "rest",
    "rootUrl": "https://partners.googleapis.com/",
    "auth": {},
    "parameters": [
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "Company",
            "desc": "A company resource in the Google Partners API. Once certified, it qualifies\nfor being searched by advertisers.",
            "type": "object",
            "fields": [
                {
                    "name": "companyTypes",
                    "desc": "Company type labels listed on the company's profile.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "profileStatus",
                    "desc": "The public viewability status of the company's profile.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "COMPANY_PROFILE_STATUS_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "HIDDEN",
                            "desc": "Company profile does not show up publicly."
                        },
                        {
                            "name": "PUBLISHED",
                            "desc": "Company profile can only be viewed by the profile's URL\nand not by Google Partner Search."
                        },
                        {
                            "name": "SEARCHABLE",
                            "desc": "Company profile can be viewed by the profile's URL\nand by Google Partner Search."
                        }
                    ]
                },
                {
                    "name": "websiteUrl",
                    "desc": "URL of the company's website.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the company.",
                    "type": "string"
                },
                {
                    "name": "specializationStatus",
                    "desc": "The list of Google Partners specialization statuses for the company.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "SpecializationStatus"
                },
                {
                    "name": "primaryLanguageCode",
                    "desc": "The primary language code of the company, as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\").",
                    "type": "string"
                },
                {
                    "name": "localizedInfos",
                    "desc": "The list of localized info for the company.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "LocalizedCompanyInfo"
                },
                {
                    "name": "id",
                    "desc": "The ID of the company.",
                    "type": "string"
                },
                {
                    "name": "publicProfile",
                    "desc": "Basic information from the company's public profile.",
                    "type": "ref",
                    "refType": "PublicProfile"
                },
                {
                    "name": "originalMinMonthlyBudget",
                    "desc": "The unconverted minimum monthly budget that the company accepts for partner\nbusiness.",
                    "type": "ref",
                    "refType": "Money"
                },
                {
                    "name": "primaryLocation",
                    "desc": "The primary location of the company.",
                    "type": "ref",
                    "refType": "Location"
                },
                {
                    "name": "autoApprovalEmailDomains",
                    "desc": "Email domains that allow users with a matching email address to get\nauto-approved for associating with this company.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "convertedMinMonthlyBudget",
                    "desc": "The minimum monthly budget that the company accepts for partner business,\nconverted to the requested currency code.",
                    "type": "ref",
                    "refType": "Money"
                },
                {
                    "name": "industries",
                    "desc": "Industries the company can help with.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "additionalWebsites",
                    "desc": "URL of the company's additional websites used to verify the dynamic badges.\nThese are stored as full URLs as entered by the user, but only the TLD will\nbe used for the actual verification.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "primaryAdwordsManagerAccountId",
                    "desc": "The Primary AdWords Manager Account id.",
                    "type": "int64"
                },
                {
                    "name": "badgeTier",
                    "desc": "Partner badge tier",
                    "type": "string",
                    "enum": [
                        {
                            "name": "BADGE_TIER_NONE",
                            "desc": "Tier badge is not set."
                        },
                        {
                            "name": "BADGE_TIER_REGULAR",
                            "desc": "Agency has regular partner badge."
                        },
                        {
                            "name": "BADGE_TIER_PREMIER",
                            "desc": "Agency has premier badge."
                        }
                    ]
                },
                {
                    "name": "locations",
                    "desc": "The list of all company locations.\nIf set, must include the\nprimary_location\nin the list.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Location"
                },
                {
                    "name": "certificationStatuses",
                    "desc": "The list of Google Partners certification statuses for the company.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CertificationStatus"
                },
                {
                    "name": "services",
                    "desc": "Services the company can help with.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "ranks",
                    "desc": "Information related to the ranking of the company within the list of\ncompanies.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Rank"
                }
            ]
        },
        {
            "name": "OptIns",
            "desc": "A set of opt-ins for a user.",
            "type": "object",
            "fields": [
                {
                    "name": "specialOffers",
                    "desc": "An opt-in about receiving email regarding new features and products.",
                    "type": "bool"
                },
                {
                    "name": "performanceSuggestions",
                    "desc": "An opt-in about receiving email with customized AdWords campaign management\ntips.",
                    "type": "bool"
                },
                {
                    "name": "physicalMail",
                    "desc": "An opt-in to receive special promotional gifts and material in the mail.",
                    "type": "bool"
                },
                {
                    "name": "phoneContact",
                    "desc": "An opt-in to allow recieivng phone calls about their Partners account.",
                    "type": "bool"
                },
                {
                    "name": "marketComm",
                    "desc": "An opt-in about receiving email from Partners marketing teams. Includes\nmember-only events and special promotional offers for Google products.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "Lead",
            "desc": "A lead resource that represents an advertiser contact for a `Company`. These\nare usually generated via Google Partner Search (the advertiser portal).",
            "type": "object",
            "fields": [
                {
                    "name": "familyName",
                    "desc": "Last name of lead source.",
                    "type": "string"
                },
                {
                    "name": "adwordsCustomerId",
                    "desc": "The AdWords Customer ID of the lead.",
                    "type": "int64"
                },
                {
                    "name": "createTime",
                    "desc": "Timestamp of when this lead was created.",
                    "type": "datetime"
                },
                {
                    "name": "givenName",
                    "desc": "First name of lead source.",
                    "type": "string"
                },
                {
                    "name": "minMonthlyBudget",
                    "desc": "The minimum monthly budget lead source is willing to spend.",
                    "type": "ref",
                    "refType": "Money"
                },
                {
                    "name": "state",
                    "desc": "The lead's state in relation to the company.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "LEAD_STATE_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "LEAD",
                            "desc": "Lead not yet contacted."
                        },
                        {
                            "name": "CONTACTED",
                            "desc": "Lead has been contacted."
                        },
                        {
                            "name": "CLIENT",
                            "desc": "Lead has become a client."
                        },
                        {
                            "name": "OTHER",
                            "desc": "Lead in a state not covered by other options."
                        }
                    ]
                },
                {
                    "name": "comments",
                    "desc": "Comments lead source gave.",
                    "type": "string"
                },
                {
                    "name": "websiteUrl",
                    "desc": "Website URL of lead source.",
                    "type": "string"
                },
                {
                    "name": "languageCode",
                    "desc": "Language code of the lead's language preference, as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\").",
                    "type": "string"
                },
                {
                    "name": "gpsMotivations",
                    "desc": "List of reasons for using Google Partner Search and creating a lead.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "ID of the lead.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Type of lead.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "LEAD_TYPE_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "LT_GPS",
                            "desc": "Google Partner Search."
                        }
                    ]
                },
                {
                    "name": "phoneNumber",
                    "desc": "Phone number of lead source.",
                    "type": "string"
                },
                {
                    "name": "marketingOptIn",
                    "desc": "Whether or not the lead signed up for marketing emails",
                    "type": "bool"
                },
                {
                    "name": "email",
                    "desc": "Email address of lead source.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CountryOfferInfo",
            "desc": "Offer info by country.",
            "type": "object",
            "fields": [
                {
                    "name": "spendXAmount",
                    "desc": "(localized) Spend X amount for that country's offer.",
                    "type": "string"
                },
                {
                    "name": "offerType",
                    "desc": "Type of offer country is eligible for.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "OFFER_TYPE_UNSPECIFIED",
                            "desc": "Unset."
                        },
                        {
                            "name": "OFFER_TYPE_SPEND_X_GET_Y",
                            "desc": "AdWords spend X get Y."
                        },
                        {
                            "name": "OFFER_TYPE_VIDEO",
                            "desc": "Youtube video."
                        },
                        {
                            "name": "OFFER_TYPE_SPEND_MATCH",
                            "desc": "Spend Match up to Y."
                        }
                    ]
                },
                {
                    "name": "getYAmount",
                    "desc": "(localized) Get Y amount for that country's offer.",
                    "type": "string"
                },
                {
                    "name": "offerCountryCode",
                    "desc": "Country code for which offer codes may be requested.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LogUserEventResponse",
            "desc": "Response message for\nLogUserEvent.",
            "type": "object",
            "fields": [
                {
                    "name": "responseMetadata",
                    "desc": "Current response metadata.",
                    "type": "ref",
                    "refType": "ResponseMetadata"
                }
            ]
        },
        {
            "name": "Certification",
            "desc": "A user's information on a specific certification.",
            "type": "object",
            "fields": [
                {
                    "name": "certificationType",
                    "desc": "The type of certification, the area of expertise.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CERTIFICATION_TYPE_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "CT_ADWORDS",
                            "desc": "AdWords certified."
                        },
                        {
                            "name": "CT_YOUTUBE",
                            "desc": "YouTube certified."
                        },
                        {
                            "name": "CT_VIDEOADS",
                            "desc": "VideoAds certified."
                        },
                        {
                            "name": "CT_ANALYTICS",
                            "desc": "Analytics certified."
                        },
                        {
                            "name": "CT_DOUBLECLICK",
                            "desc": "DoubleClick certified."
                        },
                        {
                            "name": "CT_SHOPPING",
                            "desc": "Shopping certified."
                        },
                        {
                            "name": "CT_MOBILE",
                            "desc": "Mobile certified."
                        },
                        {
                            "name": "CT_DIGITAL_SALES",
                            "desc": "Digital sales certified."
                        },
                        {
                            "name": "CT_ADWORDS_SEARCH",
                            "desc": "AdWords Search certified."
                        },
                        {
                            "name": "CT_ADWORDS_DISPLAY",
                            "desc": "AdWords Display certified."
                        },
                        {
                            "name": "CT_MOBILE_SITES",
                            "desc": "Mobile Sites certified."
                        }
                    ]
                },
                {
                    "name": "lastAchieved",
                    "desc": "The date the user last achieved certification.",
                    "type": "datetime"
                },
                {
                    "name": "achieved",
                    "desc": "Whether this certification has been achieved.",
                    "type": "bool"
                },
                {
                    "name": "expiration",
                    "desc": "Date this certification is due to expire.",
                    "type": "datetime"
                },
                {
                    "name": "warning",
                    "desc": "Whether this certification is in the state of warning.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "CertificationExamStatus",
            "desc": "Status for a Google Partners certification exam.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "The type of certification exam.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "CET_ADWORDS_FUNDAMENTALS",
                            "desc": "Adwords Fundamentals exam."
                        },
                        {
                            "name": "CET_ADWORDS_ADVANCED_SEARCH",
                            "desc": "AdWords advanced search exam."
                        },
                        {
                            "name": "CET_ADWORDS_ADVANCED_DISPLAY",
                            "desc": "AdWords advanced display exam."
                        },
                        {
                            "name": "CET_VIDEO_ADS",
                            "desc": "VideoAds exam."
                        },
                        {
                            "name": "CET_DOUBLECLICK",
                            "desc": "DoubleClick exam."
                        },
                        {
                            "name": "CET_ANALYTICS",
                            "desc": "Analytics exam."
                        },
                        {
                            "name": "CET_SHOPPING",
                            "desc": "Shopping exam."
                        },
                        {
                            "name": "CET_MOBILE",
                            "desc": "Mobile exam."
                        },
                        {
                            "name": "CET_DIGITAL_SALES",
                            "desc": "Digital Sales exam."
                        },
                        {
                            "name": "CET_MOBILE_SITES",
                            "desc": "Mobile Sites exam."
                        }
                    ]
                },
                {
                    "name": "numberUsersPass",
                    "desc": "The number of people who have passed the certification exam.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "AdWordsManagerAccountInfo",
            "desc": "Information about a particular AdWords Manager Account.\nRead more at https://support.google.com/adwords/answer/6139186",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The AdWords Manager Account id.",
                    "type": "int64"
                },
                {
                    "name": "customerName",
                    "desc": "Name of the customer this account represents.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AnalyticsSummary",
            "desc": "Analytics aggregated data for a `Company` for a given date range.",
            "type": "object",
            "fields": [
                {
                    "name": "contactsCount",
                    "desc": "Aggregated number of times users contacted the `Company`\nfor given date range.",
                    "type": "int32"
                },
                {
                    "name": "profileViewsCount",
                    "desc": "Aggregated number of profile views for the `Company` for given date range.",
                    "type": "int32"
                },
                {
                    "name": "searchViewsCount",
                    "desc": "Aggregated number of times users saw the `Company`\nin Google Partners Search results for given date range.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "DebugInfo",
            "desc": "Debug information about this request.",
            "type": "object",
            "fields": [
                {
                    "name": "serviceUrl",
                    "desc": "URL of the service that handled this request.",
                    "type": "string"
                },
                {
                    "name": "serverInfo",
                    "desc": "Info about the server that serviced this request.",
                    "type": "string"
                },
                {
                    "name": "serverTraceInfo",
                    "desc": "Server-side debug stack trace.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListCompaniesResponse",
            "desc": "Response message for\nListCompanies.",
            "type": "object",
            "fields": [
                {
                    "name": "responseMetadata",
                    "desc": "Current response metadata.",
                    "type": "ref",
                    "refType": "ResponseMetadata"
                },
                {
                    "name": "companies",
                    "desc": "The list of companies.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Company"
                },
                {
                    "name": "nextPageToken",
                    "desc": "A token to retrieve next page of results.\nPass this value in the `ListCompaniesRequest.page_token` field in the\nsubsequent call to\nListCompanies to retrieve the\nnext page of results.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LatLng",
            "desc": "An object representing a latitude/longitude pair. This is expressed as a pair\nof doubles representing degrees latitude and degrees longitude. Unless\nspecified otherwise, this must conform to the\n\u003ca href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\"\u003eWGS84\nstandard\u003c/a\u003e. Values must be within normalized ranges.\n\nExample of normalization code in Python:\n\n    def NormalizeLongitude(longitude):\n      \"\"\"Wraps decimal degrees longitude to [-180.0, 180.0].\"\"\"\n      q, r = divmod(longitude, 360.0)\n      if r \u003e 180.0 or (r == 180.0 and q \u003c= -1.0):\n        return r - 360.0\n      return r\n\n    def NormalizeLatLng(latitude, longitude):\n      \"\"\"Wraps decimal degrees latitude and longitude to\n      [-90.0, 90.0] and [-180.0, 180.0], respectively.\"\"\"\n      r = latitude % 360.0\n      if r \u003c= 90.0:\n        return r, NormalizeLongitude(longitude)\n      elif r \u003e= 270.0:\n        return r - 360, NormalizeLongitude(longitude)\n      else:\n        return 180 - r, NormalizeLongitude(longitude + 180.0)\n\n    assert 180.0 == NormalizeLongitude(180.0)\n    assert -180.0 == NormalizeLongitude(-180.0)\n    assert -179.0 == NormalizeLongitude(181.0)\n    assert (0.0, 0.0) == NormalizeLatLng(360.0, 0.0)\n    assert (0.0, 0.0) == NormalizeLatLng(-360.0, 0.0)\n    assert (85.0, 180.0) == NormalizeLatLng(95.0, 0.0)\n    assert (-85.0, -170.0) == NormalizeLatLng(-95.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(90.0, 10.0)\n    assert (-90.0, -10.0) == NormalizeLatLng(-90.0, -10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(-180.0, 10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(180.0, 10.0)\n    assert (-90.0, 10.0) == NormalizeLatLng(270.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(-270.0, 10.0)\n\nThe code in logs/storage/validator/logs_validator_traits.cc treats this type\nas if it were annotated as ST_LOCATION.",
            "type": "object",
            "fields": [
                {
                    "name": "latitude",
                    "desc": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
                    "type": "float64"
                },
                {
                    "name": "longitude",
                    "desc": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "ExamStatus",
            "desc": "A user's information on a specific exam.",
            "type": "object",
            "fields": [
                {
                    "name": "examType",
                    "desc": "The type of the exam.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "CET_ADWORDS_FUNDAMENTALS",
                            "desc": "Adwords Fundamentals exam."
                        },
                        {
                            "name": "CET_ADWORDS_ADVANCED_SEARCH",
                            "desc": "AdWords advanced search exam."
                        },
                        {
                            "name": "CET_ADWORDS_ADVANCED_DISPLAY",
                            "desc": "AdWords advanced display exam."
                        },
                        {
                            "name": "CET_VIDEO_ADS",
                            "desc": "VideoAds exam."
                        },
                        {
                            "name": "CET_DOUBLECLICK",
                            "desc": "DoubleClick exam."
                        },
                        {
                            "name": "CET_ANALYTICS",
                            "desc": "Analytics exam."
                        },
                        {
                            "name": "CET_SHOPPING",
                            "desc": "Shopping exam."
                        },
                        {
                            "name": "CET_MOBILE",
                            "desc": "Mobile exam."
                        },
                        {
                            "name": "CET_DIGITAL_SALES",
                            "desc": "Digital Sales exam."
                        },
                        {
                            "name": "CET_MOBILE_SITES",
                            "desc": "Mobile Sites exam."
                        }
                    ]
                },
                {
                    "name": "passed",
                    "desc": "Whether this exam has been passed and not expired.",
                    "type": "bool"
                },
                {
                    "name": "taken",
                    "desc": "The date the user last taken this exam.",
                    "type": "datetime"
                },
                {
                    "name": "warning",
                    "desc": "Whether this exam is in the state of warning.",
                    "type": "bool"
                },
                {
                    "name": "expiration",
                    "desc": "Date this exam is due to expire.",
                    "type": "datetime"
                },
                {
                    "name": "lastPassed",
                    "desc": "The date the user last passed this exam.",
                    "type": "datetime"
                }
            ]
        },
        {
            "name": "User",
            "desc": "A resource representing a user of the Partners platform.",
            "type": "object",
            "fields": [
                {
                    "name": "certificationStatus",
                    "desc": "The list of achieved certifications. These are calculated based on exam\nresults and other requirements.\n@OutputOnly",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Certification"
                },
                {
                    "name": "availableAdwordsManagerAccounts",
                    "desc": "This is the list of AdWords Manager Accounts the user has edit access to.\nIf the user has edit access to multiple accounts, the user can choose the\npreferred account and we use this when a personal account is needed. Can\nbe empty meaning the user has access to no accounts.\n@OutputOnly",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AdWordsManagerAccountInfo"
                },
                {
                    "name": "examStatus",
                    "desc": "The list of exams the user ever taken. For each type of exam, only one\nentry is listed.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ExamStatus"
                },
                {
                    "name": "id",
                    "desc": "The ID of the user.",
                    "type": "string"
                },
                {
                    "name": "publicProfile",
                    "desc": "Information about a user's external public profile outside Google Partners.",
                    "type": "ref",
                    "refType": "PublicProfile"
                },
                {
                    "name": "companyVerificationEmail",
                    "desc": "The email address used by the user used for company verification.\n@OutputOnly",
                    "type": "string"
                },
                {
                    "name": "profile",
                    "desc": "The profile information of a Partners user, contains all the directly\neditable user information.",
                    "type": "ref",
                    "refType": "UserProfile"
                },
                {
                    "name": "company",
                    "desc": "The company that the user is associated with.\nIf not present, the user is not associated with any company.",
                    "type": "ref",
                    "refType": "CompanyRelation"
                },
                {
                    "name": "lastAccessTime",
                    "desc": "The most recent time the user interacted with the Partners site.\n@OutputOnly",
                    "type": "datetime"
                },
                {
                    "name": "primaryEmails",
                    "desc": "The list of emails the user has access to/can select as primary.\n@OutputOnly",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "CreateLeadResponse",
            "desc": "Response message for CreateLead.",
            "type": "object",
            "fields": [
                {
                    "name": "lead",
                    "desc": "Lead that was created depending on the outcome of\n\u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e validation.",
                    "type": "ref",
                    "refType": "Lead"
                },
                {
                    "name": "recaptchaStatus",
                    "desc": "The outcome of \u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e\nvalidation.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "RECAPTCHA_STATUS_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "RS_NOT_NEEDED",
                            "desc": "No reCaptcha validation needed."
                        },
                        {
                            "name": "RS_PASSED",
                            "desc": "reCaptcha challenge passed."
                        },
                        {
                            "name": "RS_FAILED",
                            "desc": "reCaptcha challenge failed."
                        }
                    ]
                },
                {
                    "name": "responseMetadata",
                    "desc": "Current response metadata.",
                    "type": "ref",
                    "refType": "ResponseMetadata"
                }
            ]
        },
        {
            "name": "ExamToken",
            "desc": "A token that allows a user to take an exam.",
            "type": "object",
            "fields": [
                {
                    "name": "token",
                    "desc": "The token, only present if the user has access to the exam.",
                    "type": "string"
                },
                {
                    "name": "examType",
                    "desc": "The type of the exam the token belongs to.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "CET_ADWORDS_FUNDAMENTALS",
                            "desc": "Adwords Fundamentals exam."
                        },
                        {
                            "name": "CET_ADWORDS_ADVANCED_SEARCH",
                            "desc": "AdWords advanced search exam."
                        },
                        {
                            "name": "CET_ADWORDS_ADVANCED_DISPLAY",
                            "desc": "AdWords advanced display exam."
                        },
                        {
                            "name": "CET_VIDEO_ADS",
                            "desc": "VideoAds exam."
                        },
                        {
                            "name": "CET_DOUBLECLICK",
                            "desc": "DoubleClick exam."
                        },
                        {
                            "name": "CET_ANALYTICS",
                            "desc": "Analytics exam."
                        },
                        {
                            "name": "CET_SHOPPING",
                            "desc": "Shopping exam."
                        },
                        {
                            "name": "CET_MOBILE",
                            "desc": "Mobile exam."
                        },
                        {
                            "name": "CET_DIGITAL_SALES",
                            "desc": "Digital Sales exam."
                        },
                        {
                            "name": "CET_MOBILE_SITES",
                            "desc": "Mobile Sites exam."
                        }
                    ]
                },
                {
                    "name": "examId",
                    "desc": "The id of the exam the token is for.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "UserProfile",
            "desc": "The profile information of a Partners user.",
            "type": "object",
            "fields": [
                {
                    "name": "industries",
                    "desc": "A list of ids representing which industries the user selected.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "primaryCountryCode",
                    "desc": "The user's primary country, an ISO 2-character code.",
                    "type": "string"
                },
                {
                    "name": "familyName",
                    "desc": "The user's family name.",
                    "type": "string"
                },
                {
                    "name": "markets",
                    "desc": "A list of ids representing which markets the user was interested in.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "profilePublic",
                    "desc": "Whether the user's public profile is visible to anyone with the URL.",
                    "type": "bool"
                },
                {
                    "name": "emailOptIns",
                    "desc": "The list of opt-ins for the user, related to communication preferences.",
                    "type": "ref",
                    "refType": "OptIns"
                },
                {
                    "name": "phoneNumber",
                    "desc": "The user's phone number.",
                    "type": "string"
                },
                {
                    "name": "adwordsManagerAccount",
                    "desc": "If the user has edit access to multiple accounts, the user can choose the\npreferred account and it is used when a personal account is needed. Can\nbe empty.",
                    "type": "int64"
                },
                {
                    "name": "channels",
                    "desc": "A list of ids representing which channels the user selected they were in.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "jobFunctions",
                    "desc": "A list of ids represnting which job categories the user selected.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "givenName",
                    "desc": "The user's given name.",
                    "type": "string"
                },
                {
                    "name": "address",
                    "desc": "The user's mailing address, contains multiple fields.",
                    "type": "ref",
                    "refType": "Location"
                },
                {
                    "name": "languages",
                    "desc": "The list of languages this user understands.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "emailAddress",
                    "desc": "The email address the user has selected on the Partners site as primary.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "HistoricalOffer",
            "desc": "Historical information about a Google Partners Offer.",
            "type": "object",
            "fields": [
                {
                    "name": "clientId",
                    "desc": "ID of client.",
                    "type": "int64"
                },
                {
                    "name": "lastModifiedTime",
                    "desc": "Time last action was taken.",
                    "type": "datetime"
                },
                {
                    "name": "offerType",
                    "desc": "Type of offer.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "OFFER_TYPE_UNSPECIFIED",
                            "desc": "Unset."
                        },
                        {
                            "name": "OFFER_TYPE_SPEND_X_GET_Y",
                            "desc": "AdWords spend X get Y."
                        },
                        {
                            "name": "OFFER_TYPE_VIDEO",
                            "desc": "Youtube video."
                        },
                        {
                            "name": "OFFER_TYPE_SPEND_MATCH",
                            "desc": "Spend Match up to Y."
                        }
                    ]
                },
                {
                    "name": "offerCountryCode",
                    "desc": "Country Code for the offer country.",
                    "type": "string"
                },
                {
                    "name": "expirationTime",
                    "desc": "Time this offer expires.",
                    "type": "datetime"
                },
                {
                    "name": "creationTime",
                    "desc": "Time offer was first created.",
                    "type": "datetime"
                },
                {
                    "name": "clientEmail",
                    "desc": "Email address for client.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "Status of the offer.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "OFFER_STATUS_UNSPECIFIED",
                            "desc": "Unset."
                        },
                        {
                            "name": "OFFER_STATUS_DISTRIBUTED",
                            "desc": "Offer distributed."
                        },
                        {
                            "name": "OFFER_STATUS_REDEEMED",
                            "desc": "Offer redeemed."
                        },
                        {
                            "name": "OFFER_STATUS_AWARDED",
                            "desc": "Offer awarded."
                        },
                        {
                            "name": "OFFER_STATUS_EXPIRED",
                            "desc": "Offer expired."
                        }
                    ]
                },
                {
                    "name": "clientName",
                    "desc": "Name of the client.",
                    "type": "string"
                },
                {
                    "name": "adwordsUrl",
                    "desc": "Client's AdWords page URL.",
                    "type": "string"
                },
                {
                    "name": "senderName",
                    "desc": "Name (First + Last) of the partners user to whom the incentive is allocated.",
                    "type": "string"
                },
                {
                    "name": "offerCode",
                    "desc": "Offer code.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LogUserEventRequest",
            "desc": "Request message for\nLogUserEvent.",
            "type": "object",
            "fields": [
                {
                    "name": "eventScope",
                    "desc": "The scope of the event.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "EVENT_SCOPE_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "VISITOR",
                            "desc": "Based on visitor."
                        },
                        {
                            "name": "SESSION",
                            "desc": "Based on session."
                        },
                        {
                            "name": "PAGE",
                            "desc": "Based on page visit."
                        }
                    ]
                },
                {
                    "name": "eventCategory",
                    "desc": "The category the action belongs to.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "EVENT_CATEGORY_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "GOOGLE_PARTNER_SEARCH",
                            "desc": "Google Partner Search category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_SIGNUP_FLOW",
                            "desc": "Google Partner sign-up flow category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PORTAL",
                            "desc": "Google Partner portal category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PORTAL_MY_PROFILE",
                            "desc": "Google Partner portal my-profile category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PORTAL_CERTIFICATIONS",
                            "desc": "Google Partner portal certifications category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PORTAL_COMMUNITY",
                            "desc": "Google Partner portal community category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PORTAL_INSIGHTS",
                            "desc": "Google Partner portal insights category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PORTAL_CLIENTS",
                            "desc": "Google Partner portal clients category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PUBLIC_USER_PROFILE",
                            "desc": "Google Partner portal public user profile category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PANEL",
                            "desc": "Google Partner panel category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PORTAL_LAST_ADMIN_DIALOG",
                            "desc": "Google Partner portal last admin dialog category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_CLIENT",
                            "desc": "Google Partner client category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_PORTAL_COMPANY_PROFILE",
                            "desc": "Google Partner portal company profile category."
                        },
                        {
                            "name": "EXTERNAL_LINKS",
                            "desc": "External links category."
                        },
                        {
                            "name": "GOOGLE_PARTNER_LANDING",
                            "desc": "Google Partner landing category."
                        }
                    ]
                },
                {
                    "name": "lead",
                    "desc": "Advertiser lead information.",
                    "type": "ref",
                    "refType": "Lead"
                },
                {
                    "name": "eventAction",
                    "desc": "The action that occurred.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "EVENT_ACTION_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "SMB_CLICKED_FIND_A_PARTNER_BUTTON_BOTTOM",
                            "desc": "Advertiser clicked `Find a partner` bottom button."
                        },
                        {
                            "name": "SMB_CLICKED_FIND_A_PARTNER_BUTTON_TOP",
                            "desc": "Advertiser clicked `Find a partner` top button."
                        },
                        {
                            "name": "AGENCY_CLICKED_JOIN_NOW_BUTTON_BOTTOM",
                            "desc": "Agency clicked `Join now` bottom button."
                        },
                        {
                            "name": "AGENCY_CLICKED_JOIN_NOW_BUTTON_TOP",
                            "desc": "Agency clicked `Join now` top button."
                        },
                        {
                            "name": "SMB_CANCELED_PARTNER_CONTACT_FORM",
                            "desc": "Advertiser canceled partner contact form."
                        },
                        {
                            "name": "SMB_CLICKED_CONTACT_A_PARTNER",
                            "desc": "Advertiser started partner contact form."
                        },
                        {
                            "name": "SMB_COMPLETED_PARTNER_CONTACT_FORM",
                            "desc": "Advertiser completed partner contact form."
                        },
                        {
                            "name": "SMB_ENTERED_EMAIL_IN_CONTACT_PARTNER_FORM",
                            "desc": "Advertiser entered email in contact form."
                        },
                        {
                            "name": "SMB_ENTERED_NAME_IN_CONTACT_PARTNER_FORM",
                            "desc": "Advertiser entered name in contact form."
                        },
                        {
                            "name": "SMB_ENTERED_PHONE_IN_CONTACT_PARTNER_FORM",
                            "desc": "Advertiser entered phone in contact form."
                        },
                        {
                            "name": "SMB_FAILED_RECAPTCHA_IN_CONTACT_PARTNER_FORM",
                            "desc": "Advertiser failed \u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e\nin contact form."
                        },
                        {
                            "name": "PARTNER_VIEWED_BY_SMB",
                            "desc": "Company viewed by advertiser."
                        },
                        {
                            "name": "SMB_CANCELED_PARTNER_CONTACT_FORM_ON_GPS",
                            "desc": "Advertiser canceled partner contact form on Google Partner Search."
                        },
                        {
                            "name": "SMB_CHANGED_A_SEARCH_PARAMETER_TOP",
                            "desc": "Advertiser changed a top search parameter."
                        },
                        {
                            "name": "SMB_CLICKED_CONTACT_A_PARTNER_ON_GPS",
                            "desc": "Advertiser started partner contact form on Google Partner Search."
                        },
                        {
                            "name": "SMB_CLICKED_SHOW_MORE_PARTNERS_BUTTON_BOTTOM",
                            "desc": "Advertiser clicked `Show more partners` bottom button."
                        },
                        {
                            "name": "SMB_COMPLETED_PARTNER_CONTACT_FORM_ON_GPS",
                            "desc": "Advertiser completed partner contact form on Google Partner Search."
                        },
                        {
                            "name": "SMB_NO_PARTNERS_AVAILABLE_WITH_SEARCH_CRITERIA",
                            "desc": "Advertiser saw no partners available with search criteria."
                        },
                        {
                            "name": "SMB_PERFORMED_SEARCH_ON_GPS",
                            "desc": "Advertiser performed search on Google Partner Search."
                        },
                        {
                            "name": "SMB_VIEWED_A_PARTNER_ON_GPS",
                            "desc": "Advertiser viewed a partner on Google Partner Search."
                        },
                        {
                            "name": "SMB_CANCELED_PARTNER_CONTACT_FORM_ON_PROFILE_PAGE",
                            "desc": "Advertiser canceled partner contact form on profile page."
                        },
                        {
                            "name": "SMB_CLICKED_CONTACT_A_PARTNER_ON_PROFILE_PAGE",
                            "desc": "Advertiser started partner contact form on profile page."
                        },
                        {
                            "name": "SMB_CLICKED_PARTNER_WEBSITE",
                            "desc": "Advertiser clicked partner website."
                        },
                        {
                            "name": "SMB_COMPLETED_PARTNER_CONTACT_FORM_ON_PROFILE_PAGE",
                            "desc": "Advertiser completed contact form on profile page."
                        },
                        {
                            "name": "SMB_VIEWED_A_PARTNER_PROFILE",
                            "desc": "Advertiser viewed a partner profile."
                        },
                        {
                            "name": "AGENCY_CLICKED_ACCEPT_TOS_BUTTON",
                            "desc": "Agency clicked `accept Terms Of Service` button."
                        },
                        {
                            "name": "AGENCY_CHANGED_TOS_COUNTRY",
                            "desc": "Agency changed Terms Of Service country."
                        },
                        {
                            "name": "AGENCY_ADDED_ADDRESS_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency added address in profile portal."
                        },
                        {
                            "name": "AGENCY_ADDED_PHONE_NUMBER_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency added phone number in profile portal."
                        },
                        {
                            "name": "AGENCY_CHANGED_PRIMARY_ACCOUNT_ASSOCIATION",
                            "desc": "Agency changed primary account association."
                        },
                        {
                            "name": "AGENCY_CHANGED_PRIMARY_COUNTRY_ASSOCIATION",
                            "desc": "Agency changed primary country association."
                        },
                        {
                            "name": "AGENCY_CLICKED_AFFILIATE_BUTTON_IN_MY_PROFILE_IN_PORTAL",
                            "desc": "Agency clicked `affiliate` button in profile portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_GIVE_EDIT_ACCESS_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency clicked `give edit access` in profile portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_LOG_OUT_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency clicked `log out` in profile portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_MY_PROFILE_LEFT_NAV_IN_PORTAL",
                            "desc": "Agency clicked profile portal left nav."
                        },
                        {
                            "name": "AGENCY_CLICKED_SAVE_AND_CONTINUE_AT_BOT_OF_COMPLETE_PROFILE",
                            "desc": "Agency clicked `save and continue` at bottom of complete profile."
                        },
                        {
                            "name": "AGENCY_CLICKED_UNAFFILIATE_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency clicked `unaffiliate` in profile portal."
                        },
                        {
                            "name": "AGENCY_FILLED_OUT_COMP_AFFILIATION_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency filled out company affiliation in profile portal."
                        },
                        {
                            "name": "AGENCY_SUCCESSFULLY_CONNECTED_WITH_COMPANY_IN_MY_PROFILE",
                            "desc": "Agency successfully connected with company in profile portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_CREATE_MCC_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency clicked create MCC in profile portal."
                        },
                        {
                            "name": "AGENCY_DIDNT_HAVE_AN_MCC_ASSOCIATED_ON_COMPLETE_PROFILE",
                            "desc": "Agency did not have an MCC associated on profile portal."
                        },
                        {
                            "name": "AGENCY_HAD_AN_MCC_ASSOCIATED_ON_COMPLETE_PROFILE",
                            "desc": "Agency had an MCC associated on profile portal."
                        },
                        {
                            "name": "AGENCY_ADDED_JOB_FUNCTION_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency added job function in profile portal."
                        },
                        {
                            "name": "AGENCY_LOOKED_AT_JOB_FUNCTION_DROP_DOWN",
                            "desc": "Agency looked at job function drop-down."
                        },
                        {
                            "name": "AGENCY_SELECTED_ACCOUNT_MANAGER_AS_JOB_FUNCTION",
                            "desc": "Agency selected `account manage` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_ACCOUNT_PLANNER_AS_JOB_FUNCTION",
                            "desc": "Agency selected `account planner` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_ANALYTICS_AS_JOB_FUNCTION",
                            "desc": "Agency selected `Analytics` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_CREATIVE_AS_JOB_FUNCTION",
                            "desc": "Agency selected `creative` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_MEDIA_BUYER_AS_JOB_FUNCTION",
                            "desc": "Agency selected `media buyer` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_MEDIA_PLANNER_AS_JOB_FUNCTION",
                            "desc": "Agency selected `media planner` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_OTHER_AS_JOB_FUNCTION",
                            "desc": "Agency selected `other` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_PRODUCTION_AS_JOB_FUNCTION",
                            "desc": "Agency selected `production` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_SEO_AS_JOB_FUNCTION",
                            "desc": "Agency selected `SEO` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_SALES_REP_AS_JOB_FUNCTION",
                            "desc": "Agency selected `sales rep` as job function."
                        },
                        {
                            "name": "AGENCY_SELECTED_SEARCH_SPECIALIST_AS_JOB_FUNCTION",
                            "desc": "Agency selected `search specialist` as job function."
                        },
                        {
                            "name": "AGENCY_ADDED_CHANNELS_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency added channels in profile portal."
                        },
                        {
                            "name": "AGENCY_LOOKED_AT_ADD_CHANNEL_DROP_DOWN",
                            "desc": "Agency looked at `add channel` drop-down."
                        },
                        {
                            "name": "AGENCY_SELECTED_CROSS_CHANNEL_FROM_ADD_CHANNEL",
                            "desc": "Agency selected `cross channel` from add channel drop-down."
                        },
                        {
                            "name": "AGENCY_SELECTED_DISPLAY_FROM_ADD_CHANNEL",
                            "desc": "Agency selected `display` from add channel drop-down."
                        },
                        {
                            "name": "AGENCY_SELECTED_MOBILE_FROM_ADD_CHANNEL",
                            "desc": "Agency selected `mobile` from add channel drop-down."
                        },
                        {
                            "name": "AGENCY_SELECTED_SEARCH_FROM_ADD_CHANNEL",
                            "desc": "Agency selected `search` from add channel drop-down."
                        },
                        {
                            "name": "AGENCY_SELECTED_SOCIAL_FROM_ADD_CHANNEL",
                            "desc": "Agency selected `social` from add channel drop-down."
                        },
                        {
                            "name": "AGENCY_SELECTED_TOOLS_FROM_ADD_CHANNEL",
                            "desc": "Agency selected `tools` from add channel drop-down."
                        },
                        {
                            "name": "AGENCY_SELECTED_YOUTUBE_FROM_ADD_CHANNEL",
                            "desc": "Agency selected `YouTube` from add channel drop-down."
                        },
                        {
                            "name": "AGENCY_ADDED_INDUSTRIES_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency added industries in profile portal."
                        },
                        {
                            "name": "AGENCY_CHANGED_ADD_INDUSTRIES_DROP_DOWN",
                            "desc": "Agency changed `add industries` drop-down."
                        },
                        {
                            "name": "AGENCY_ADDED_MARKETS_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency added markets in profile portal."
                        },
                        {
                            "name": "AGENCY_CHANGED_ADD_MARKETS_DROP_DOWN",
                            "desc": "Agency changed `add markets` drop-down."
                        },
                        {
                            "name": "AGENCY_CHECKED_RECIEVE_MAIL_PROMOTIONS_MYPROFILE",
                            "desc": "Agency checked `recieve mail promotions` in profile portal."
                        },
                        {
                            "name": "AGENCY_CHECKED_RECIEVE_MAIL_PROMOTIONS_SIGNUP",
                            "desc": "Agency checked `recieve mail promotions` in sign-up."
                        },
                        {
                            "name": "AGENCY_SELECTED_OPT_IN_BETA_TESTS_AND_MKT_RESEARCH",
                            "desc": "Agency selected `opt-in beta tests and market research`."
                        },
                        {
                            "name": "AGENCY_SELECTED_OPT_IN_BETA_TESTS_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency selected `opt-in beta tests` in profile portal."
                        },
                        {
                            "name": "AGENCY_SELECTED_OPT_IN_NEWS_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency selected `opt-in news` in profile portal."
                        },
                        {
                            "name": "AGENCY_SELECTED_OPT_IN_NEWS_INVITATIONS_AND_PROMOS",
                            "desc": "Agency selected `opt-in news invitations and promotions`."
                        },
                        {
                            "name": "AGENCY_SELECTED_OPT_IN_PERFORMANCE_SUG_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency selected `opt-in performance SUG` in profile portal."
                        },
                        {
                            "name": "AGENCY_SELECTED_OPT_IN_PERFORMANCE_SUGGESTIONS",
                            "desc": "Agency selected `opt-in performance suggestions`."
                        },
                        {
                            "name": "AGENCY_SELECTED_OPT_IN_SELECT_ALL_EMAIL_NOTIFICATIONS",
                            "desc": "Agency selected `opt-in select all email notifications`."
                        },
                        {
                            "name": "AGENCY_SELECTED_SELECT_ALL_OPT_INS_IN_MY_PROFILE_PORTAL",
                            "desc": "Agency selected `select all opt-ins` in profile portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_BACK_BUTTON_ON_CONNECT_WITH_COMPANY",
                            "desc": "Agency clicked back button on `connect with company`."
                        },
                        {
                            "name": "AGENCY_CLICKED_CONTINUE_TO_OVERVIEW_ON_CONNECT_WITH_COMPANY",
                            "desc": "Agency clicked continue to overview on `connect with company`."
                        },
                        {
                            "name": "AGECNY_CLICKED_CREATE_MCC_CONNECT_WITH_COMPANY_NOT_FOUND",
                            "desc": "Agency clicked `create MCC connect with company not found`."
                        },
                        {
                            "name": "AGECNY_CLICKED_GIVE_EDIT_ACCESS_CONNECT_WITH_COMPANY_NOT_FOUND",
                            "desc": "Agency clicked `give edit access connect with company not found`."
                        },
                        {
                            "name": "AGECNY_CLICKED_LOG_OUT_CONNECT_WITH_COMPANY_NOT_FOUND",
                            "desc": "Agency clicked `log out connect with company not found`."
                        },
                        {
                            "name": "AGENCY_CLICKED_SKIP_FOR_NOW_ON_CONNECT_WITH_COMPANY_PAGE",
                            "desc": "Agency clicked `skip for now on connect with company page`."
                        },
                        {
                            "name": "AGENCY_CLOSED_CONNECTED_TO_COMPANY_X_BUTTON_WRONG_COMPANY",
                            "desc": "Agency closed connection to company."
                        },
                        {
                            "name": "AGENCY_COMPLETED_FIELD_CONNECT_WITH_COMPANY",
                            "desc": "Agency completed field connect with company."
                        },
                        {
                            "name": "AGECNY_FOUND_COMPANY_TO_CONNECT_WITH",
                            "desc": "Agency found company to connect with."
                        },
                        {
                            "name": "AGENCY_SUCCESSFULLY_CREATED_COMPANY",
                            "desc": "Agency successfully created company."
                        },
                        {
                            "name": "AGENCY_ADDED_NEW_COMPANY_LOCATION",
                            "desc": "Agency added new company location."
                        },
                        {
                            "name": "AGENCY_CLICKED_COMMUNITY_JOIN_NOW_LINK_IN_PORTAL_NOTIFICATIONS",
                            "desc": "Agency clicked community `join now link` in portal notifications."
                        },
                        {
                            "name": "AGENCY_CLICKED_CONNECT_TO_COMPANY_LINK_IN_PORTAL_NOTIFICATIONS",
                            "desc": "Agency clicked `connect to company` link in portal notifications."
                        },
                        {
                            "name": "AGENCY_CLICKED_GET_CERTIFIED_LINK_IN_PORTAL_NOTIFICATIONS",
                            "desc": "Agency cliecked `get certified` link in portal notifications."
                        },
                        {
                            "name": "AGENCY_CLICKED_GET_VIDEO_ADS_CERTIFIED_LINK_IN_PORTAL_NOTIFICATIONS",
                            "desc": "Agency clicked `get VideoAds certified` link in portal notifications."
                        },
                        {
                            "name": "AGENCY_CLICKED_LINK_TO_MCC_LINK_IN_PORTAL_NOTIFICATIONS",
                            "desc": "Agency clicked `link to MCC` link in portal notifications."
                        },
                        {
                            "name": "AGENCY_CLICKED_INSIGHT_CONTENT_IN_PORTAL",
                            "desc": "Agency clicked `insight content` in portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_INSIGHTS_VIEW_NOW_PITCH_DECKS_IN_PORTAL",
                            "desc": "Agency clicked `insights view now pitch decks` in portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_INSIGHTS_LEFT_NAV_IN_PORTAL",
                            "desc": "Agency clicked `insights` left nav in portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_INSIGHTS_UPLOAD_CONTENT",
                            "desc": "Agency clicked `insights upload content`."
                        },
                        {
                            "name": "AGENCY_CLICKED_INSIGHTS_VIEWED_DEPRECATED",
                            "desc": "Agency clicked `insights viewed deprecated`."
                        },
                        {
                            "name": "AGENCY_CLICKED_COMMUNITY_LEFT_NAV_IN_PORTAL",
                            "desc": "Agency clicked `community` left nav in portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_JOIN_COMMUNITY_BUTTON_COMMUNITY_PORTAL",
                            "desc": "Agency clicked `join community` button in community portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_CERTIFICATIONS_LEFT_NAV_IN_PORTAL",
                            "desc": "Agency clicked `certifications` left nav in portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_CERTIFICATIONS_PRODUCT_LEFT_NAV_IN_PORTAL",
                            "desc": "Agency clicked `certifications product` left nav in portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_PARTNER_STATUS_LEFT_NAV_IN_PORTAL",
                            "desc": "Agency clicked `partner status` left nav in portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_PARTNER_STATUS_PRODUCT_LEFT_NAV_IN_PORTAL",
                            "desc": "Agency clicked `partner status product` left nav in portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_OFFERS_LEFT_NAV_IN_PORTAL",
                            "desc": "Agency clicked `offers` left nav in portal."
                        },
                        {
                            "name": "AGENCY_CLICKED_SEND_BUTTON_ON_OFFERS_PAGE",
                            "desc": "Agency clicked `send` button on offers page."
                        },
                        {
                            "name": "AGENCY_CLICKED_EXAM_DETAILS_ON_CERT_ADWORDS_PAGE",
                            "desc": "Agency clicked `exam details` on certifications AdWords page."
                        },
                        {
                            "name": "AGENCY_CLICKED_SEE_EXAMS_CERTIFICATION_MAIN_PAGE",
                            "desc": "Agency clicked `see exams` certifications main page."
                        },
                        {
                            "name": "AGENCY_CLICKED_TAKE_EXAM_ON_CERT_EXAM_PAGE",
                            "desc": "Agency clicked `take exam` on certifications exam page."
                        },
                        {
                            "name": "AGENCY_OPENED_LAST_ADMIN_DIALOG",
                            "desc": "Agency opened `last admin` dialog."
                        },
                        {
                            "name": "AGENCY_OPENED_DIALOG_WITH_NO_USERS",
                            "desc": "Agency opened dialog with no users."
                        },
                        {
                            "name": "AGENCY_PROMOTED_USER_TO_ADMIN",
                            "desc": "Agency promoted user to admin."
                        },
                        {
                            "name": "AGENCY_UNAFFILIATED",
                            "desc": "Agency unaffiliated."
                        },
                        {
                            "name": "AGENCY_CHANGED_ROLES",
                            "desc": "Agency changed roles."
                        },
                        {
                            "name": "SMB_CLICKED_COMPANY_NAME_LINK_TO_PROFILE",
                            "desc": "Advertiser clicked `company name` link to profile."
                        },
                        {
                            "name": "SMB_VIEWED_ADWORDS_CERTIFICATE",
                            "desc": "Advertiser viewed AdWords certificate."
                        },
                        {
                            "name": "SMB_VIEWED_ADWORDS_SEARCH_CERTIFICATE",
                            "desc": "Advertiser viewed AdWords Search certificate."
                        },
                        {
                            "name": "SMB_VIEWED_ADWORDS_DISPLAY_CERTIFICATE",
                            "desc": "Advertiser viewed AdWords Display certificate."
                        },
                        {
                            "name": "SMB_CLICKED_ADWORDS_CERTIFICATE_HELP_ICON",
                            "desc": "Advertiser clicked AdWords certificate help icon."
                        },
                        {
                            "name": "SMB_VIEWED_ANALYTICS_CERTIFICATE",
                            "desc": "Advertiser viewed Analytics certificate."
                        },
                        {
                            "name": "SMB_VIEWED_DOUBLECLICK_CERTIFICATE",
                            "desc": "Advertiser viewed DoubleClick certificate."
                        },
                        {
                            "name": "SMB_VIEWED_VIDEO_ADS_CERTIFICATE",
                            "desc": "Advertiser viewed VideoAds certificate."
                        },
                        {
                            "name": "SMB_VIEWED_SHOPPING_CERTIFICATE",
                            "desc": "Advertiser clicked Shopping certificate help icon."
                        },
                        {
                            "name": "SMB_CLICKED_VIDEO_ADS_CERTIFICATE_HELP_ICON",
                            "desc": "Advertiser clicked VideoAds certificate help icon."
                        },
                        {
                            "name": "CLICKED_HELP_AT_BOTTOM",
                            "desc": "Clicked `help` at bottom."
                        },
                        {
                            "name": "CLICKED_HELP_AT_TOP",
                            "desc": "Clicked `help` at top."
                        },
                        {
                            "name": "CLIENT_ERROR",
                            "desc": "Client error occurred."
                        },
                        {
                            "name": "AGENCY_CLICKED_LEFT_NAV_STORIES",
                            "desc": "Agency clicked left nav `stories`."
                        },
                        {
                            "name": "CLICKED",
                            "desc": "Click occured."
                        },
                        {
                            "name": "SMB_VIEWED_MOBILE_CERTIFICATE",
                            "desc": "Advertiser clicked Mobile certificate help icon."
                        },
                        {
                            "name": "AGENCY_FAILED_COMPANY_VERIFICATION",
                            "desc": "Agency failed the company verification."
                        },
                        {
                            "name": "VISITED_LANDING",
                            "desc": "User visited the landing portion of Google Partners."
                        },
                        {
                            "name": "VISITED_GPS",
                            "desc": "User visited the Google Partner Search portion of Google Partners."
                        },
                        {
                            "name": "VISITED_AGENCY_PORTAL",
                            "desc": "User visited the agency portal portion of Google Partners."
                        },
                        {
                            "name": "CANCELLED_INDIVIDUAL_SIGN_UP",
                            "desc": "User cancelled signing up."
                        },
                        {
                            "name": "CANCELLED_COMPANY_SIGN_UP",
                            "desc": "User cancelled signing up their company."
                        },
                        {
                            "name": "AGENCY_CLICKED_SIGN_IN_BUTTON_TOP",
                            "desc": "Agency clicked `Sign in` top button."
                        },
                        {
                            "name": "AGENCY_CLICKED_SAVE_AND_CONTINUE_AT_BOT_OF_INCOMPLETE_PROFILE",
                            "desc": "Agency clicked `save and continue` at bottom of incomplete profile."
                        },
                        {
                            "name": "AGENCY_UNSELECTED_OPT_IN_NEWS_INVITATIONS_AND_PROMOS",
                            "desc": "Agency unselected `opt-in news invitations and promotions`."
                        },
                        {
                            "name": "AGENCY_UNSELECTED_OPT_IN_BETA_TESTS_AND_MKT_RESEARCH",
                            "desc": "Agency unselected `opt-in beta tests and market research`."
                        },
                        {
                            "name": "AGENCY_UNSELECTED_OPT_IN_PERFORMANCE_SUGGESTIONS",
                            "desc": "Agency unselected `opt-in performance suggestions`."
                        },
                        {
                            "name": "AGENCY_SELECTED_OPT_OUT_UNSELECT_ALL_EMAIL_NOTIFICATIONS",
                            "desc": "Agency selected `opt-out unselect all email notifications`."
                        },
                        {
                            "name": "AGENCY_LINKED_INDIVIDUAL_MCC",
                            "desc": "Agency linked their individual MCC."
                        },
                        {
                            "name": "AGENCY_SUGGESTED_TO_USER",
                            "desc": "Agency was suggested to user for affiliation."
                        },
                        {
                            "name": "AGENCY_IGNORED_SUGGESTED_AGENCIES_AND_SEARCHED",
                            "desc": "Agency ignored suggested agencies and begin searching."
                        },
                        {
                            "name": "AGENCY_PICKED_SUGGESTED_AGENCY",
                            "desc": "Agency picked a suggested agency."
                        },
                        {
                            "name": "AGENCY_SEARCHED_FOR_AGENCIES",
                            "desc": "Agency searched for agencies."
                        },
                        {
                            "name": "AGENCY_PICKED_SEARCHED_AGENCY",
                            "desc": "Agency picked a searched agency."
                        },
                        {
                            "name": "AGENCY_DISMISSED_AFFILIATION_WIDGET",
                            "desc": "Agency dismissed affiliation widget."
                        },
                        {
                            "name": "AGENCY_CLICKED_INSIGHTS_DOWNLOAD_CONTENT",
                            "desc": "Agency clicked on the download link for downloading content."
                        },
                        {
                            "name": "AGENCY_PROGRESS_INSIGHTS_VIEW_CONTENT",
                            "desc": "Agency user is maklingg progress viewing a content item."
                        },
                        {
                            "name": "AGENCY_CLICKED_CANCEL_ACCEPT_TOS_BUTTON",
                            "desc": "Agency clicked `cancel Terms Of Service` button."
                        },
                        {
                            "name": "SMB_ENTERED_WEBSITE_IN_CONTACT_PARTNER_FORM",
                            "desc": "Advertiser entered website in contact form."
                        }
                    ]
                },
                {
                    "name": "requestMetadata",
                    "desc": "Current request metadata.",
                    "type": "ref",
                    "refType": "RequestMetadata"
                },
                {
                    "name": "url",
                    "desc": "The URL where the event occurred.",
                    "type": "string"
                },
                {
                    "name": "eventDatas",
                    "desc": "List of event data for the event.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EventData"
                }
            ]
        },
        {
            "name": "TrafficSource",
            "desc": "Source of traffic for the current request.",
            "type": "object",
            "fields": [
                {
                    "name": "trafficSourceId",
                    "desc": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
                    "type": "string"
                },
                {
                    "name": "trafficSubId",
                    "desc": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LocalizedCompanyInfo",
            "desc": "The localized company information.",
            "type": "object",
            "fields": [
                {
                    "name": "languageCode",
                    "desc": "Language code of the localized company info, as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\").",
                    "type": "string"
                },
                {
                    "name": "countryCodes",
                    "desc": "List of country codes for the localized company info.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "overview",
                    "desc": "Localized brief description that the company uses to advertise themselves.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "Localized display name.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "LogMessageResponse",
            "desc": "Response message for\nLogClientMessage.",
            "type": "object",
            "fields": [
                {
                    "name": "responseMetadata",
                    "desc": "Current response metadata.",
                    "type": "ref",
                    "refType": "ResponseMetadata"
                }
            ]
        },
        {
            "name": "GetCompanyResponse",
            "desc": "Response message for GetCompany.",
            "type": "object",
            "fields": [
                {
                    "name": "company",
                    "desc": "The company.",
                    "type": "ref",
                    "refType": "Company"
                },
                {
                    "name": "responseMetadata",
                    "desc": "Current response metadata.",
                    "type": "ref",
                    "refType": "ResponseMetadata"
                }
            ]
        },
        {
            "name": "Rank",
            "desc": "Information related to ranking of results.",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "The type of rank.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "RANK_TYPE_UNSPECIFIED",
                            "desc": "Unchosen."
                        },
                        {
                            "name": "RT_FINAL_SCORE",
                            "desc": "Total final score."
                        }
                    ]
                },
                {
                    "name": "value",
                    "desc": "The numerical value of the rank.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "Analytics",
            "desc": "Analytics data for a `Company` within a single day.",
            "type": "object",
            "fields": [
                {
                    "name": "profileViews",
                    "desc": "Instances of users viewing the `Company` profile\non the specified date.",
                    "type": "ref",
                    "refType": "AnalyticsDataPoint"
                },
                {
                    "name": "searchViews",
                    "desc": "Instances of users seeing the `Company` in Google Partners Search results\non the specified date.",
                    "type": "ref",
                    "refType": "AnalyticsDataPoint"
                },
                {
                    "name": "contacts",
                    "desc": "Instances of users contacting the `Company`\non the specified date.",
                    "type": "ref",
                    "refType": "AnalyticsDataPoint"
                },
                {
                    "name": "eventDate",
                    "desc": "Date on which these events occurred.",
                    "type": "ref",
                    "refType": "Date"
                }
            ]
        },
        {
            "name": "PublicProfile",
            "desc": "Basic information from a public profile.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The ID which can be used to retrieve more details about the public profile.",
                    "type": "string"
                },
                {
                    "name": "url",
                    "desc": "The URL of the public profile.",
                    "type": "string"
                },
                {
                    "name": "profileImage",
                    "desc": "The URL to the main profile image of the public profile.",
                    "type": "string"
                },
                {
                    "name": "displayName",
                    "desc": "The display name of the public profile.",
                    "type": "string"
                },
                {
                    "name": "displayImageUrl",
                    "desc": "The URL to the main display image of the public profile. Being deprecated.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Empty",
            "desc": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "type": "object"
        },
        {
            "name": "SpecializationStatus",
            "desc": "Agency specialization status",
            "type": "object",
            "fields": [
                {
                    "name": "badgeSpecialization",
                    "desc": "The specialization this status is for.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "BADGE_SPECIALIZATION_UNKNOWN",
                            "desc": "Unknown specialization"
                        },
                        {
                            "name": "BADGE_SPECIALIZATION_ADWORDS_SEARCH",
                            "desc": "AdWords Search specialization"
                        },
                        {
                            "name": "BADGE_SPECIALIZATION_ADWORDS_DISPLAY",
                            "desc": "AdWords Display specialization"
                        },
                        {
                            "name": "BADGE_SPECIALIZATION_ADWORDS_MOBILE",
                            "desc": "AdWords Mobile specialization"
                        },
                        {
                            "name": "BADGE_SPECIALIZATION_ADWORDS_VIDEO",
                            "desc": "AdWords Video specialization"
                        },
                        {
                            "name": "BADGE_SPECIALIZATION_ADWORDS_SHOPPING",
                            "desc": "AdWords Shopping specialization"
                        }
                    ]
                },
                {
                    "name": "badgeSpecializationState",
                    "desc": "State of agency specialization.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "BADGE_SPECIALIZATION_STATE_UNKNOWN",
                            "desc": "Unknown state"
                        },
                        {
                            "name": "BADGE_SPECIALIZATION_STATE_PASSED",
                            "desc": "Specialization passed"
                        },
                        {
                            "name": "BADGE_SPECIALIZATION_STATE_NOT_PASSED",
                            "desc": "Specialization not passed"
                        },
                        {
                            "name": "BADGE_SPECIALIZATION_STATE_IN_GRACE",
                            "desc": "Specialization in grace"
                        }
                    ]
                }
            ]
        },
        {
            "name": "ListUserStatesResponse",
            "desc": "Response message for\nListUserStates.",
            "type": "object",
            "fields": [
                {
                    "name": "responseMetadata",
                    "desc": "Current response metadata.",
                    "type": "ref",
                    "refType": "ResponseMetadata"
                },
                {
                    "name": "userStates",
                    "desc": "User's states.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListOffersResponse",
            "desc": "Response for ListOffer.",
            "type": "object",
            "fields": [
                {
                    "name": "noOfferReason",
                    "desc": "Reason why no Offers are available.",
                    "type": "string",
                    "enum": [
                        {
                            "name": "NO_OFFER_REASON_UNSPECIFIED",
                            "desc": "Unset."
                        },
                        {
                            "name": "NO_OFFER_REASON_NO_MCC",
                            "desc": "Not an MCC."
                        },
                        {
                            "name": "NO_OFFER_REASON_LIMIT_REACHED",
                            "desc": "Offer limit has been reached."
                        },
                        {
                            "name": "NO_OFFER_REASON_INELIGIBLE",
                            "desc": "Ineligible for offers."
                        }
                    ]
                },
                {
                    "name": "availableOffers",
                    "desc": "Available Offers to be distributed.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AvailableOffer"
                },
                {
                    "name": "responseMetadata",
                    "desc": "Current response metadata.",
                    "type": "ref",
                    "refType": "ResponseMetadata"
                }
            ]
        },
        {
            "name": "RecaptchaChallenge",
            "desc": "\u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e challenge info.",
            "type": "object",
            "fields": [
                {
                    "name": "response",
                    "desc": "The response to the reCaptcha challenge.",
                    "type": "string"
                },
[...]
