{
    "kind": "discovery#restDescription",
    "etag": "",
    "discoveryVersion": "v1",
    "id": "pubsub:v1beta2",
    "name": "pubsub",
    "version": "v1beta2",
    "title": "Google Cloud Pub/Sub API",
    "description": "Provides reliable, many-to-many, asynchronous messaging between applications.\n",
    "documentationLink": "https://cloud.google.com/pubsub/docs",
    "protocol": "rest",
    "rootUrl": "https://pubsub.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
        ]
    },
    "parameters": [
        {
            "name": "upload_protocol",
            "desc": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "access_token",
            "desc": "OAuth access token.",
            "type": "string"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "bearer_token",
            "desc": "OAuth bearer token.",
            "type": "string"
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "uploadType",
            "desc": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "type": "string"
        },
        {
            "name": "$.xgafv",
            "desc": "V1 error format.",
            "type": "string",
            "enum": [
                {
                    "name": "1",
                    "desc": "v1 error format"
                },
                {
                    "name": "2",
                    "desc": "v2 error format"
                }
            ]
        },
        {
            "name": "callback",
            "desc": "JSONP",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                },
                {
                    "name": "media",
                    "desc": "Media download with context-dependent Content-Type"
                },
                {
                    "name": "proto",
                    "desc": "Responses with Content-Type of application/x-protobuf"
                }
            ]
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "pp",
            "desc": "Pretty-print response.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        }
    ],
    "schemas": [
        {
            "name": "PushConfig",
            "desc": "Configuration for a push delivery endpoint.",
            "type": "object",
            "fields": [
                {
                    "name": "pushEndpoint",
                    "desc": "A URL locating the endpoint to which messages should be pushed.\nFor example, a Webhook endpoint might use \"https://example.com/push\".",
                    "type": "string"
                },
                {
                    "name": "attributes",
                    "desc": "Endpoint configuration attributes.\n\nEvery endpoint has a set of API supported attributes that can be used to\ncontrol different aspects of the message delivery.\n\nThe currently supported attribute is `x-goog-version`, which you can\nuse to change the format of the push message. This attribute\nindicates the version of the data expected by the endpoint. This\ncontrols the shape of the envelope (i.e. its fields and metadata).\nThe endpoint version is based on the version of the Pub/Sub\nAPI.\n\nIf not present during the `CreateSubscription` call, it will default to\nthe version of the API used to make such call. If not present during a\n`ModifyPushConfig` call, its value will not be changed. `GetSubscription`\ncalls will always return a valid version, even if the subscription was\ncreated without this attribute.\n\nThe possible values for this attribute are:\n\n* `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API.\n* `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API.",
                    "collection": "map",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PullRequest",
            "desc": "Request for the `Pull` method.",
            "type": "object",
            "fields": [
                {
                    "name": "returnImmediately",
                    "desc": "If this is specified as true the system will respond immediately even if\nit is not able to return a message in the `Pull` response. Otherwise the\nsystem is allowed to wait until at least one message is available rather\nthan returning no messages. The client may cancel the request if it does\nnot wish to wait any longer for the response.",
                    "type": "bool"
                },
                {
                    "name": "maxMessages",
                    "desc": "The maximum number of messages returned for this request. The Pub/Sub\nsystem may return fewer than the number specified.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Subscription",
            "desc": "A subscription resource.",
            "type": "object",
            "fields": [
                {
                    "name": "pushConfig",
                    "desc": "If push delivery is used with this subscription, this field is\nused to configure it. An empty `pushConfig` signifies that the subscriber\nwill pull and ack messages using API methods.",
                    "type": "ref",
                    "refType": "PushConfig"
                },
                {
                    "name": "ackDeadlineSeconds",
                    "desc": "This value is the maximum time after a subscriber receives a message\nbefore the subscriber should acknowledge the message. After message\ndelivery but before the ack deadline expires and before the message is\nacknowledged, it is an outstanding message and will not be delivered\nagain during that time (on a best-effort basis).\n\nFor pull subscriptions, this value is used as the initial value for the ack\ndeadline. To override this value for a given message, call\n`ModifyAckDeadline` with the corresponding `ack_id` if using pull.\nThe maximum custom deadline you can specify is 600 seconds (10 minutes).\n\nFor push delivery, this value is also used to set the request timeout for\nthe call to the push endpoint.\n\nIf the subscriber never acknowledges the message, the Pub/Sub\nsystem will eventually redeliver the message.\n\nIf this parameter is 0, a default value of 10 seconds is used.",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "The name of the subscription. It must have the format\n`\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must\nstart with a letter, and contain only letters (`[A-Za-z]`), numbers\n(`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`),\nplus (`+`) or percent signs (`%`). It must be between 3 and 255 characters\nin length, and it must not start with `\"goog\"`.",
                    "type": "string"
                },
                {
                    "name": "topic",
                    "desc": "The name of the topic from which this subscription is receiving messages.\nThe value of this field will be `_deleted-topic_` if the topic has been\ndeleted.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PublishRequest",
            "desc": "Request for the Publish method.",
            "type": "object",
            "fields": [
                {
                    "name": "messages",
                    "desc": "The messages to publish.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "PubsubMessage"
                }
            ]
        },
        {
            "name": "ReceivedMessage",
            "desc": "A message and its corresponding acknowledgment ID.",
            "type": "object",
            "fields": [
                {
                    "name": "ackId",
                    "desc": "This ID can be used to acknowledge the received message.",
                    "type": "string"
                },
                {
                    "name": "message",
                    "desc": "The message.",
                    "type": "ref",
                    "refType": "PubsubMessage"
                }
            ]
        },
        {
            "name": "Topic",
            "desc": "A topic resource.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the topic. It must have the format\n`\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter,\nand contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`),\nunderscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent\nsigns (`%`). It must be between 3 and 255 characters in length, and it\nmust not start with `\"goog\"`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ModifyPushConfigRequest",
            "desc": "Request for the ModifyPushConfig method.",
            "type": "object",
            "fields": [
                {
                    "name": "pushConfig",
                    "desc": "The push configuration for future deliveries.\n\nAn empty `pushConfig` indicates that the Pub/Sub system should\nstop pushing messages from the given subscription and allow\nmessages to be pulled and acknowledged - effectively pausing\nthe subscription if `Pull` is not called.",
                    "type": "ref",
                    "refType": "PushConfig"
                }
            ]
        },
        {
            "name": "PubsubMessage",
            "desc": "A message data and its attributes. The message payload must not be empty;\nit must contain either a non-empty data field, or at least one attribute.",
            "type": "object",
            "fields": [
                {
                    "name": "publishTime",
                    "desc": "The time at which the message was published, populated by the server when\nit receives the `Publish` call. It must not be populated by the\npublisher in a `Publish` call.",
                    "type": "datetime"
                },
                {
                    "name": "data",
                    "desc": "The message payload. For JSON requests, the value of this field must be\n[base64-encoded](https://tools.ietf.org/html/rfc4648).",
                    "type": "byte"
                },
                {
                    "name": "attributes",
                    "desc": "Optional attributes for this message.",
                    "collection": "map",
                    "type": "string"
                },
                {
                    "name": "messageId",
                    "desc": "ID of this message, assigned by the server when the message is published.\nGuaranteed to be unique within the topic. This value may be read by a\nsubscriber that receives a `PubsubMessage` via a `Pull` call or a push\ndelivery. It must not be populated by the publisher in a `Publish` call.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Binding",
            "desc": "Associates `members` with a `role`.",
            "type": "object",
            "fields": [
                {
                    "name": "members",
                    "desc": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `domain:{domain}`: A Google Apps domain name that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "role",
                    "desc": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.\nRequired",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListTopicsResponse",
            "desc": "Response for the `ListTopics` method.",
            "type": "object",
            "fields": [
                {
                    "name": "topics",
                    "desc": "The resulting topics.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Topic"
                },
                {
                    "name": "nextPageToken",
                    "desc": "If not empty, indicates that there may be more topics that match the\nrequest; this value should be passed in a new `ListTopicsRequest`.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PullResponse",
            "desc": "Response for the `Pull` method.",
            "type": "object",
            "fields": [
                {
                    "name": "receivedMessages",
                    "desc": "Received Pub/Sub messages. The Pub/Sub system will return zero messages if\nthere are no more available in the backlog. The Pub/Sub system may return\nfewer than the `maxMessages` requested even if there are more messages\navailable in the backlog.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ReceivedMessage"
                }
            ]
        },
        {
            "name": "TestIamPermissionsResponse",
            "desc": "Response message for `TestIamPermissions` method.",
            "type": "object",
            "fields": [
                {
                    "name": "permissions",
                    "desc": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Policy",
            "desc": "Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `Binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",\n          ]\n        },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https://cloud.google.com/iam).",
            "type": "object",
            "fields": [
                {
                    "name": "bindings",
                    "desc": "Associates a list of `members` to a `role`.\nMultiple `bindings` must not be specified for the same `role`.\n`bindings` with no members will result in an error.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Binding"
                },
                {
                    "name": "etag",
                    "desc": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten blindly.",
                    "type": "byte"
                },
                {
                    "name": "version",
                    "desc": "Version of the `Policy`. The default version is 0.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "TestIamPermissionsRequest",
            "desc": "Request message for `TestIamPermissions` method.",
            "type": "object",
            "fields": [
                {
                    "name": "permissions",
                    "desc": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ModifyAckDeadlineRequest",
            "desc": "Request for the ModifyAckDeadline method.",
            "type": "object",
            "fields": [
                {
                    "name": "ackIds",
                    "desc": "List of acknowledgment IDs.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "ackId",
                    "desc": "The acknowledgment ID. Either this or ack_ids must be populated, but not\nboth.",
                    "type": "string"
                },
                {
                    "name": "ackDeadlineSeconds",
                    "desc": "The new ack deadline with respect to the time this request was sent to\nthe Pub/Sub system. Must be \u003e= 0. For example, if the value is 10, the new\nack deadline will expire 10 seconds after the `ModifyAckDeadline` call\nwas made. Specifying zero may immediately make the message available for\nanother pull request.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "SetIamPolicyRequest",
            "desc": "Request message for `SetIamPolicy` method.",
            "type": "object",
            "fields": [
                {
                    "name": "policy",
                    "desc": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
                    "type": "ref",
                    "refType": "Policy"
                }
            ]
        },
        {
            "name": "AcknowledgeRequest",
            "desc": "Request for the Acknowledge method.",
            "type": "object",
            "fields": [
                {
                    "name": "ackIds",
                    "desc": "The acknowledgment ID for the messages being acknowledged that was returned\nby the Pub/Sub system in the `Pull` response. Must not be empty.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Empty",
            "desc": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "type": "object"
        },
        {
            "name": "ListTopicSubscriptionsResponse",
            "desc": "Response for the `ListTopicSubscriptions` method.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "If not empty, indicates that there may be more subscriptions that match\nthe request; this value should be passed in a new\n`ListTopicSubscriptionsRequest` to get more subscriptions.",
                    "type": "string"
                },
                {
                    "name": "subscriptions",
                    "desc": "The names of the subscriptions that match the request.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListSubscriptionsResponse",
            "desc": "Response for the `ListSubscriptions` method.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "If not empty, indicates that there may be more subscriptions that match\nthe request; this value should be passed in a new\n`ListSubscriptionsRequest` to get more subscriptions.",
                    "type": "string"
                },
                {
                    "name": "subscriptions",
                    "desc": "The subscriptions that match the request.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Subscription"
                }
            ]
        },
        {
            "name": "PublishResponse",
            "desc": "Response for the `Publish` method.",
            "type": "object",
            "fields": [
                {
                    "name": "messageIds",
                    "desc": "The server-assigned ID of each published message, in the same order as\nthe messages in the request. IDs are guaranteed to be unique within\nthe topic.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "projects",
            "resources": [
                {
                    "name": "topics",
                    "methods": [
                        {
                            "name": "get",
                            "desc": "Gets the configuration of a topic.",
                            "path": "v1beta2/{+topic}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "topic",
                                    "desc": "The name of the topic to get.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$"
                                }
                            ],
                            "response": "Topic"
                        },
                        {
                            "name": "publish",
                            "desc": "Adds one or more messages to the topic. Returns `NOT_FOUND` if the topic\ndoes not exist. The message payload must not be empty; it must contain\n either a non-empty data field, or at least one attribute.",
                            "path": "v1beta2/{+topic}:publish",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "topic",
                                    "desc": "The messages in the request will be published on this topic.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$"
                                }
                            ],
                            "request": "PublishRequest",
                            "response": "PublishResponse"
                        },
                        {
                            "name": "testIamPermissions",
                            "desc": "Returns permissions that a caller has on the specified resource.\nIf the resource does not exist, this will return an empty set of\npermissions, not a NOT_FOUND error.\n\nNote: This operation is designed to be used for building permission-aware\nUIs and command-line tools, not for authorization checking. This operation\nmay \"fail open\" without warning.",
                            "path": "v1beta2/{+resource}:testIamPermissions",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "resource",
                                    "desc": "REQUIRED: The resource for which the policy detail is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$"
                                }
                            ],
                            "request": "TestIamPermissionsRequest",
                            "response": "TestIamPermissionsResponse"
                        },
                        {
                            "name": "delete",
                            "desc": "Deletes the topic with the given name. Returns `NOT_FOUND` if the topic\ndoes not exist. After a topic is deleted, a new topic may be created with\nthe same name; this is an entirely new topic with none of the old\nconfiguration or subscriptions. Existing subscriptions to this topic are\nnot deleted, but their `topic` field is set to `_deleted-topic_`.",
                            "path": "v1beta2/{+topic}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "topic",
                                    "desc": "Name of the topic to delete.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$"
                                }
                            ],
                            "response": "Empty"
                        },
                        {
                            "name": "list",
                            "desc": "Lists matching topics.",
                            "path": "v1beta2/{+project}/topics",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "project",
                                    "desc": "The name of the cloud project that topics belong to.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageToken",
                                    "desc": "The value returned by the last `ListTopicsResponse`; indicates that this is\na continuation of a prior `ListTopics` call, and that the system should\nreturn the next page of data.",
                                    "type": "string"
                                },
                                {
                                    "name": "pageSize",
                                    "desc": "Maximum number of topics to return.",
                                    "type": "int32"
                                }
                            ],
                            "response": "ListTopicsResponse"
                        },
                        {
                            "name": "setIamPolicy",
                            "desc": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.",
                            "path": "v1beta2/{+resource}:setIamPolicy",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "resource",
                                    "desc": "REQUIRED: The resource for which the policy is being specified.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$"
                                }
                            ],
                            "request": "SetIamPolicyRequest",
                            "response": "Policy"
                        },
                        {
                            "name": "create",
                            "desc": "Creates the given topic with the given name.",
                            "path": "v1beta2/{+name}",
                            "httpMethod": "PUT",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The name of the topic. It must have the format\n`\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter,\nand contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`),\nunderscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent\nsigns (`%`). It must be between 3 and 255 characters in length, and it\nmust not start with `\"goog\"`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$"
                                }
                            ],
                            "request": "Topic",
                            "response": "Topic"
                        },
                        {
                            "name": "getIamPolicy",
                            "desc": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
                            "path": "v1beta2/{+resource}:getIamPolicy",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "resource",
                                    "desc": "REQUIRED: The resource for which the policy is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$"
                                }
                            ],
                            "response": "Policy"
                        }
                    ],
                    "resources": [
                        {
                            "name": "subscriptions",
                            "methods": [
                                {
                                    "name": "list",
                                    "desc": "Lists the name of the subscriptions for this topic.",
                                    "path": "v1beta2/{+topic}/subscriptions",
                                    "httpMethod": "GET",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/pubsub"
                                    ],
                                    "pathParams": [
                                        {
                                            "name": "topic",
                                            "desc": "The name of the topic that subscriptions are attached to.",
                                            "required": true,
                                            "type": "string",
                                            "pattern": "^projects/[^/]+/topics/[^/]+$"
                                        }
                                    ],
                                    "optinalQueryParams": [
                                        {
                                            "name": "pageToken",
                                            "desc": "The value returned by the last `ListTopicSubscriptionsResponse`; indicates\nthat this is a continuation of a prior `ListTopicSubscriptions` call, and\nthat the system should return the next page of data.",
                                            "type": "string"
                                        },
                                        {
                                            "name": "pageSize",
                                            "desc": "Maximum number of subscription names to return.",
                                            "type": "int32"
                                        }
                                    ],
                                    "response": "ListTopicSubscriptionsResponse"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "subscriptions",
                    "methods": [
                        {
                            "name": "modifyPushConfig",
                            "desc": "Modifies the `PushConfig` for a specified subscription.\n\nThis may be used to change a push subscription to a pull one (signified by\nan empty `PushConfig`) or vice versa, or change the endpoint URL and other\nattributes of a push subscription. Messages will accumulate for delivery\ncontinuously through the call regardless of changes to the `PushConfig`.",
                            "path": "v1beta2/{+subscription}:modifyPushConfig",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "subscription",
                                    "desc": "The name of the subscription.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "request": "ModifyPushConfigRequest",
                            "response": "Empty"
                        },
                        {
                            "name": "pull",
                            "desc": "Pulls messages from the server. Returns an empty list if there are no\nmessages available in the backlog. The server may return `UNAVAILABLE` if\nthere are too many concurrent pull requests pending for the given\nsubscription.",
                            "path": "v1beta2/{+subscription}:pull",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "subscription",
                                    "desc": "The subscription from which messages should be pulled.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "request": "PullRequest",
                            "response": "PullResponse"
                        },
                        {
                            "name": "list",
                            "desc": "Lists matching subscriptions.",
                            "path": "v1beta2/{+project}/subscriptions",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "project",
                                    "desc": "The name of the cloud project that subscriptions belong to.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+$"
                                }
                            ],
                            "optinalQueryParams": [
                                {
                                    "name": "pageSize",
                                    "desc": "Maximum number of subscriptions to return.",
                                    "type": "int32"
                                },
                                {
                                    "name": "pageToken",
                                    "desc": "The value returned by the last `ListSubscriptionsResponse`; indicates that\nthis is a continuation of a prior `ListSubscriptions` call, and that the\nsystem should return the next page of data.",
                                    "type": "string"
                                }
                            ],
                            "response": "ListSubscriptionsResponse"
                        },
                        {
                            "name": "create",
                            "desc": "Creates a subscription to a given topic.\nIf the subscription already exists, returns `ALREADY_EXISTS`.\nIf the corresponding topic doesn't exist, returns `NOT_FOUND`.\n\nIf the name is not provided in the request, the server will assign a random\nname for this subscription on the same project as the topic. Note that\nfor REST API requests, you must specify a name.",
                            "path": "v1beta2/{+name}",
                            "httpMethod": "PUT",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "name",
                                    "desc": "The name of the subscription. It must have the format\n`\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must\nstart with a letter, and contain only letters (`[A-Za-z]`), numbers\n(`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`),\nplus (`+`) or percent signs (`%`). It must be between 3 and 255 characters\nin length, and it must not start with `\"goog\"`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "request": "Subscription",
                            "response": "Subscription"
                        },
                        {
                            "name": "getIamPolicy",
                            "desc": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
                            "path": "v1beta2/{+resource}:getIamPolicy",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "resource",
                                    "desc": "REQUIRED: The resource for which the policy is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "response": "Policy"
                        },
                        {
                            "name": "get",
                            "desc": "Gets the configuration details of a subscription.",
                            "path": "v1beta2/{+subscription}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "subscription",
                                    "desc": "The name of the subscription to get.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "response": "Subscription"
                        },
                        {
                            "name": "testIamPermissions",
                            "desc": "Returns permissions that a caller has on the specified resource.\nIf the resource does not exist, this will return an empty set of\npermissions, not a NOT_FOUND error.\n\nNote: This operation is designed to be used for building permission-aware\nUIs and command-line tools, not for authorization checking. This operation\nmay \"fail open\" without warning.",
                            "path": "v1beta2/{+resource}:testIamPermissions",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "resource",
                                    "desc": "REQUIRED: The resource for which the policy detail is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "request": "TestIamPermissionsRequest",
                            "response": "TestIamPermissionsResponse"
                        },
                        {
                            "name": "delete",
                            "desc": "Deletes an existing subscription. All pending messages in the subscription\nare immediately dropped. Calls to `Pull` after deletion will return\n`NOT_FOUND`. After a subscription is deleted, a new one may be created with\nthe same name, but the new one has no association with the old\nsubscription, or its topic unless the same topic is specified.",
                            "path": "v1beta2/{+subscription}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "subscription",
                                    "desc": "The subscription to delete.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "response": "Empty"
                        },
                        {
                            "name": "setIamPolicy",
                            "desc": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.",
                            "path": "v1beta2/{+resource}:setIamPolicy",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "resource",
                                    "desc": "REQUIRED: The resource for which the policy is being specified.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects/{project}`.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "request": "SetIamPolicyRequest",
                            "response": "Policy"
                        },
                        {
                            "name": "acknowledge",
                            "desc": "Acknowledges the messages associated with the `ack_ids` in the\n`AcknowledgeRequest`. The Pub/Sub system can remove the relevant messages\nfrom the subscription.\n\nAcknowledging a message whose ack deadline has expired may succeed,\nbut such a message may be redelivered later. Acknowledging a message more\nthan once will not result in an error.",
                            "path": "v1beta2/{+subscription}:acknowledge",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "subscription",
                                    "desc": "The subscription whose message is being acknowledged.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "request": "AcknowledgeRequest",
                            "response": "Empty"
                        },
                        {
                            "name": "modifyAckDeadline",
                            "desc": "Modifies the ack deadline for a specific message. This method is useful\nto indicate that more time is needed to process a message by the\nsubscriber, or to make the message available for redelivery if the\nprocessing was interrupted. Note that this does not modify the\nsubscription-level `ackDeadlineSeconds` used for subsequent messages.",
                            "path": "v1beta2/{+subscription}:modifyAckDeadline",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ],
                            "pathParams": [
                                {
                                    "name": "subscription",
                                    "desc": "The name of the subscription.",
                                    "required": true,
                                    "type": "string",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                                }
                            ],
                            "request": "ModifyAckDeadlineRequest",
                            "response": "Empty"
                        }
                    ]
                }
            ]
        }
    ]
}