{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/ZCZOOwDCC1weteZqQodwch31zkc\"",
    "discoveryVersion": "v1",
    "id": "content:v2",
    "name": "content",
    "version": "v2",
    "title": "Content API for Shopping",
    "description": "Manages product items, inventory, and Merchant Center accounts for Google Shopping.",
    "documentationLink": "https://developers.google.com/shopping-content",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/content"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "AccountShippingLocationGroup",
            "desc": "A user-defined locations group in a given country. All the locations of the group must be of the same type.",
            "type": "object",
            "fields": [
                {
                    "name": "locationIds",
                    "desc": "A location ID (also called criteria ID) representing administrative areas, smaller country subdivisions (counties), or cities.",
                    "collection": "array",
                    "type": "int64"
                },
                {
                    "name": "name",
                    "desc": "The name of the location group.",
                    "type": "string"
                },
                {
                    "name": "postalCodeRanges",
                    "desc": "A postal code range representing a city or a set of cities.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountShippingPostalCodeRange"
                },
                {
                    "name": "postalCodes",
                    "desc": "A postal code representing a city or a set of cities.  \n- A single postal code (e.g., 12345)\n- A postal code prefix followed by a star (e.g., 1234*)",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "country",
                    "desc": "The CLDR territory code of the country in which this location group is.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DatafeedStatusError",
            "desc": "An error occurring in the feed, like \"invalid price\".",
            "type": "object",
            "fields": [
                {
                    "name": "examples",
                    "desc": "A list of example occurrences of the error, grouped by product.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DatafeedStatusExample"
                },
                {
                    "name": "message",
                    "desc": "The error message, e.g., \"Invalid price\".",
                    "type": "string"
                },
                {
                    "name": "code",
                    "desc": "The code of the error, e.g., \"validation/invalid_value\".",
                    "type": "string"
                },
                {
                    "name": "count",
                    "desc": "The number of occurrences of the error in the feed.",
                    "type": "uint64"
                }
            ]
        },
        {
            "name": "OrdersCancelLineItemResponse",
            "type": "object",
            "fields": [
                {
                    "name": "executionStatus",
                    "desc": "The status of the execution.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelLineItemResponse\".",
                    "type": "string",
                    "default": "content#ordersCancelLineItemResponse"
                }
            ]
        },
        {
            "name": "OrdersCustomBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The request entries to be processed in the batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OrdersCustomBatchRequestEntry"
                }
            ]
        },
        {
            "name": "DatafeedstatusesCustomBatchRequestEntry",
            "desc": "A batch entry encoding a single non-batch datafeedstatuses request.",
            "type": "object",
            "fields": [
                {
                    "name": "batchId",
                    "desc": "An entry ID, unique within the batch request.",
                    "type": "uint32"
                },
                {
                    "name": "datafeedId",
                    "desc": "The ID of the data feed to get or delete.",
                    "type": "uint64"
                },
                {
                    "name": "merchantId",
                    "desc": "The ID of the managing account.",
                    "type": "uint64"
                },
                {
                    "name": "method",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrdersUpdateShipmentRequest",
            "type": "object",
            "fields": [
                {
                    "name": "carrier",
                    "desc": "The carrier handling the shipment. Not updated if missing.",
                    "type": "string"
                },
                {
                    "name": "operationId",
                    "desc": "The ID of the operation. Unique across all operations for a given order.",
                    "type": "string"
                },
                {
                    "name": "shipmentId",
                    "desc": "The ID of the shipment.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "New status for the shipment. Not updated if missing.",
                    "type": "string"
                },
                {
                    "name": "trackingId",
                    "desc": "The tracking id for the shipment. Not updated if missing.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Weight",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The weight represented as a number.",
                    "type": "string"
                },
                {
                    "name": "unit",
                    "desc": "The weight unit.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountShippingCarrierRate",
            "desc": "A carrier-calculated shipping rate.",
            "type": "object",
            "fields": [
                {
                    "name": "saleCountry",
                    "desc": "The sale country for which this carrier rate is valid, represented as a CLDR territory code.",
                    "type": "string"
                },
                {
                    "name": "shippingOrigin",
                    "desc": "Shipping origin represented as a postal code.",
                    "type": "string"
                },
                {
                    "name": "carrier",
                    "desc": "The carrier that is responsible for the shipping, such as \"UPS\", \"FedEx\", or \"USPS\".",
                    "type": "string"
                },
                {
                    "name": "carrierService",
                    "desc": "The carrier service, such as \"Ground\" or \"2Day\".",
                    "type": "string"
                },
                {
                    "name": "modifierFlatRate",
                    "desc": "Additive shipping rate modifier.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "modifierPercent",
                    "desc": "Multiplicative shipping rate modifier in percent. Represented as a floating point number without the percentage character.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of the carrier rate.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountstatusesListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesListResponse\".",
                    "type": "string",
                    "default": "content#accountstatusesListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token for the retrieval of the next page of account statuses.",
                    "type": "string"
                },
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountStatus"
                }
            ]
        },
        {
            "name": "Errors",
            "desc": "A list of errors returned by a failed batch entry.",
            "type": "object",
            "fields": [
                {
                    "name": "code",
                    "desc": "The HTTP status of the first error in errors.",
                    "type": "uint32"
                },
                {
                    "name": "errors",
                    "desc": "A list of errors.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Error"
                },
                {
                    "name": "message",
                    "desc": "The message of the first error in errors.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrderLineItemShippingDetailsMethod",
            "type": "object",
            "fields": [
                {
                    "name": "methodName",
                    "desc": "The name of the shipping method.",
                    "type": "string"
                },
                {
                    "name": "minDaysInTransit",
                    "desc": "Minimum transit time.",
                    "type": "uint32"
                },
                {
                    "name": "carrier",
                    "desc": "The carrier for the shipping. Optional.",
                    "type": "string"
                },
                {
                    "name": "maxDaysInTransit",
                    "desc": "Maximum transit time.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "OrdersCustomBatchRequestEntryReturnLineItem",
            "type": "object",
            "fields": [
                {
                    "name": "lineItemId",
                    "desc": "The ID of the line item to return.",
                    "type": "string"
                },
                {
                    "name": "quantity",
                    "desc": "The quantity to return.",
                    "type": "uint32"
                },
                {
                    "name": "reason",
                    "desc": "The reason for the return.",
                    "type": "string"
                },
                {
                    "name": "reasonText",
                    "desc": "The explanation of the reason.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountstatusesCustomBatchRequestEntry",
            "desc": "A batch entry encoding a single non-batch accountstatuses request.",
            "type": "object",
            "fields": [
                {
                    "name": "accountId",
                    "desc": "The ID of the (sub-)account whose status to get.",
                    "type": "uint64"
                },
                {
                    "name": "batchId",
                    "desc": "An entry ID, unique within the batch request.",
                    "type": "uint32"
                },
                {
                    "name": "merchantId",
                    "desc": "The ID of the managing account.",
                    "type": "uint64"
                },
                {
                    "name": "method",
                    "desc": "The method (get).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountstatusesCustomBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The result of the execution of the batch requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountstatusesCustomBatchResponseEntry"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesCustomBatchResponse\".",
                    "type": "string",
                    "default": "content#accountstatusesCustomBatchResponse"
                }
            ]
        },
        {
            "name": "OrdersCustomBatchRequestEntryUpdateShipment",
            "type": "object",
            "fields": [
                {
                    "name": "carrier",
                    "desc": "The carrier handling the shipment. Not updated if missing.",
                    "type": "string"
                },
                {
                    "name": "shipmentId",
                    "desc": "The ID of the shipment.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "New status for the shipment. Not updated if missing.",
                    "type": "string"
                },
                {
                    "name": "trackingId",
                    "desc": "The tracking id for the shipment. Not updated if missing.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrdersGetByMerchantOrderIdResponse",
            "type": "object",
            "fields": [
                {
                    "name": "order",
                    "desc": "The requested order.",
                    "type": "ref",
                    "refType": "Order"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersGetByMerchantOrderIdResponse\".",
                    "type": "string",
                    "default": "content#ordersGetByMerchantOrderIdResponse"
                }
            ]
        },
        {
            "name": "ShippingsettingsCustomBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The request entries to be processed in the batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ShippingsettingsCustomBatchRequestEntry"
                }
            ]
        },
        {
            "name": "ProductstatusesCustomBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The result of the execution of the batch requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ProductstatusesCustomBatchResponseEntry"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#productstatusesCustomBatchResponse\".",
                    "type": "string",
                    "default": "content#productstatusesCustomBatchResponse"
                }
            ]
        },
        {
            "name": "ShippingsettingsCustomBatchRequestEntry",
            "desc": "A batch entry encoding a single non-batch accountshipping request.",
            "type": "object",
            "fields": [
                {
                    "name": "accountId",
                    "desc": "The ID of the account for which to get/update account shipping settings.",
                    "type": "uint64"
                },
                {
                    "name": "batchId",
                    "desc": "An entry ID, unique within the batch request.",
                    "type": "uint32"
                },
                {
                    "name": "merchantId",
                    "desc": "The ID of the managing account.",
                    "type": "uint64"
                },
                {
                    "name": "method",
                    "type": "string"
                },
                {
                    "name": "shippingSettings",
                    "desc": "The account shipping settings to update. Only defined if the method is update.",
                    "type": "ref",
                    "refType": "ShippingSettings"
                }
            ]
        },
        {
            "name": "TestOrderPaymentMethod",
            "type": "object",
            "fields": [
                {
                    "name": "expirationYear",
                    "desc": "The card expiration year (4-digit, e.g. 2015).",
                    "type": "int32"
                },
                {
                    "name": "lastFourDigits",
                    "desc": "The last four digits of the card number.",
                    "type": "string"
                },
                {
                    "name": "predefinedBillingAddress",
                    "desc": "The billing address.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of instrument. Note that real orders might have different values than the four values accepted by createTestOrder.",
                    "type": "string"
                },
                {
                    "name": "expirationMonth",
                    "desc": "The card expiration month (January = 1, February = 2 etc.).",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "AccountshippingListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountShipping"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountshippingListResponse\".",
                    "type": "string",
                    "default": "content#accountshippingListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token for the retrieval of the next page of account shipping settings.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountstatusesCustomBatchResponseEntry",
            "desc": "A batch entry encoding a single non-batch accountstatuses response.",
            "type": "object",
            "fields": [
                {
                    "name": "accountStatus",
                    "desc": "The requested account status. Defined if and only if the request was successful.",
                    "type": "ref",
                    "refType": "AccountStatus"
                },
                {
                    "name": "batchId",
                    "desc": "The ID of the request entry this entry responds to.",
                    "type": "uint32"
                },
                {
                    "name": "errors",
                    "desc": "A list of errors defined if and only if the request failed.",
                    "type": "ref",
                    "refType": "Errors"
                }
            ]
        },
        {
            "name": "Inventory",
            "type": "object",
            "fields": [
                {
                    "name": "salePrice",
                    "desc": "The sale price of the product. Mandatory if sale_price_effective_date is defined.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "sellOnGoogleQuantity",
                    "desc": "The quantity of the product that is reserved for sell-on-google ads. Supported only for online products.",
                    "type": "uint32"
                },
                {
                    "name": "availability",
                    "desc": "The availability of the product.",
                    "type": "string"
                },
                {
                    "name": "pickup",
                    "desc": "Store pickup information. Only supported for local inventory. Not setting pickup means \"don't update\" while setting it to the empty value ({} in JSON) means \"delete\". Otherwise, pickupMethod and pickupSla must be set together, unless pickupMethod is \"not supported\".",
                    "type": "ref",
                    "refType": "InventoryPickup"
                },
                {
                    "name": "quantity",
                    "desc": "The quantity of the product. Must be equal to or greater than zero. Supported only for local products.",
                    "type": "uint32"
                },
                {
                    "name": "price",
                    "desc": "The price of the product.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "salePriceEffectiveDate",
                    "desc": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided.",
                    "type": "string"
                },
                {
                    "name": "installment",
                    "desc": "Number and amount of installments to pay for an item. Brazil only.",
                    "type": "ref",
                    "refType": "Installment"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#inventory\".",
                    "type": "string",
                    "default": "content#inventory"
                },
                {
                    "name": "loyaltyPoints",
                    "desc": "Loyalty points that users receive after purchasing the item. Japan only.",
                    "type": "ref",
                    "refType": "LoyaltyPoints"
                }
            ]
        },
        {
            "name": "InventoryCustomBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The request entries to be processed in the batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InventoryCustomBatchRequestEntry"
                }
            ]
        },
        {
            "name": "OrdersCustomBatchRequestEntry",
            "type": "object",
            "fields": [
                {
                    "name": "updateShipment",
                    "desc": "Required for updateShipment method.",
                    "type": "ref",
                    "refType": "OrdersCustomBatchRequestEntryUpdateShipment"
                },
                {
                    "name": "cancel",
                    "desc": "Required for cancel method.",
                    "type": "ref",
                    "refType": "OrdersCustomBatchRequestEntryCancel"
                },
                {
                    "name": "merchantId",
                    "desc": "The ID of the managing account.",
                    "type": "uint64"
                },
                {
                    "name": "merchantOrderId",
                    "desc": "The merchant order id. Required for updateMerchantOrderId and getByMerchantOrderId methods.",
                    "type": "string"
                },
                {
                    "name": "operationId",
                    "desc": "The ID of the operation. Unique across all operations for a given order. Required for all methods beside get and getByMerchantOrderId.",
                    "type": "string"
                },
                {
                    "name": "orderId",
                    "desc": "The ID of the order. Required for all methods beside getByMerchantOrderId.",
                    "type": "string"
                },
                {
                    "name": "returnLineItem",
                    "desc": "Required for returnLineItem method.",
                    "type": "ref",
                    "refType": "OrdersCustomBatchRequestEntryReturnLineItem"
                },
                {
                    "name": "batchId",
                    "desc": "An entry ID, unique within the batch request.",
                    "type": "uint32"
                },
                {
                    "name": "cancelLineItem",
                    "desc": "Required for cancelLineItem method.",
                    "type": "ref",
                    "refType": "OrdersCustomBatchRequestEntryCancelLineItem"
                },
                {
                    "name": "method",
                    "desc": "The method to apply.",
                    "type": "string"
                },
                {
                    "name": "refund",
                    "desc": "Required for refund method.",
                    "type": "ref",
                    "refType": "OrdersCustomBatchRequestEntryRefund"
                },
                {
                    "name": "shipLineItems",
                    "desc": "Required for shipLineItems method.",
                    "type": "ref",
                    "refType": "OrdersCustomBatchRequestEntryShipLineItems"
                }
            ]
        },
        {
            "name": "AccountShippingShippingService",
            "desc": "Shipping services provided in a country.",
            "type": "object",
            "fields": [
                {
                    "name": "active",
                    "desc": "Whether the shipping service is available.",
                    "type": "bool"
                },
                {
                    "name": "calculationMethod",
                    "desc": "Calculation method for the \"simple\" case that needs no rules.",
                    "type": "ref",
                    "refType": "AccountShippingShippingServiceCalculationMethod"
                },
                {
                    "name": "costRuleTree",
                    "desc": "Decision tree for \"complicated\" shipping cost calculation.",
                    "type": "ref",
                    "refType": "AccountShippingShippingServiceCostRule"
                },
                {
                    "name": "maxDaysInTransit",
                    "desc": "The maximum number of days in transit. Must be a value between 0 and 250 included. A value of 0 means same day delivery.",
                    "type": "uint64"
                },
                {
                    "name": "minDaysInTransit",
                    "desc": "The minimum number of days in transit. Must be a value between 0 and maxDaysIntransit included. A value of 0 means same day delivery.",
                    "type": "uint64"
                },
                {
                    "name": "name",
                    "desc": "The name of this shipping service.",
                    "type": "string"
                },
                {
                    "name": "saleCountry",
                    "desc": "The CLDR territory code of the sale country for which this service can be used.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrderCancellation",
            "type": "object",
            "fields": [
                {
                    "name": "actor",
                    "desc": "The actor that created the cancellation.",
                    "type": "string"
                },
                {
                    "name": "creationDate",
                    "desc": "Date on which the cancellation has been created, in ISO 8601 format.",
                    "type": "string"
                },
                {
                    "name": "quantity",
                    "desc": "The quantity that was canceled.",
                    "type": "uint32"
                },
                {
                    "name": "reason",
                    "desc": "The reason for the cancellation. Orders that are cancelled with a noInventory reason will lead to the removal of the product from POG until you make an update to that product. This will not affect your Shopping ads.",
                    "type": "string"
                },
                {
                    "name": "reasonText",
                    "desc": "The explanation of the reason.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrdersCancelResponse",
            "type": "object",
            "fields": [
                {
                    "name": "executionStatus",
                    "desc": "The status of the execution.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelResponse\".",
                    "type": "string",
                    "default": "content#ordersCancelResponse"
                }
            ]
        },
        {
            "name": "ProductstatusesCustomBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The request entries to be processed in the batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ProductstatusesCustomBatchRequestEntry"
                }
            ]
        },
        {
            "name": "Value",
            "desc": "The single value of a rate group or the value of a rate group table's cell. Exactly one of noShipping, flatRate, pricePercentage, carrierRateName, subtableName must be set.",
            "type": "object",
            "fields": [
                {
                    "name": "subtableName",
                    "desc": "The name of a subtable. Can only be set in table cells (i.e., not for single values), and only if all other fields are not set.",
                    "type": "string"
                },
                {
                    "name": "carrierRateName",
                    "desc": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set.",
                    "type": "string"
                },
                {
                    "name": "flatRate",
                    "desc": "A flat rate. Can only be set if all other fields are not set.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "noShipping",
                    "desc": "If true, then the product can't ship. Must be true when set, can only be set if all other fields are not set.",
                    "type": "bool"
                },
                {
                    "name": "pricePercentage",
                    "desc": "A percentage of the price represented as a number in decimal notation (e.g., \"5.4\"). Can only be set if all other fields are not set.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DatafeedstatusesCustomBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The result of the execution of the batch requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DatafeedstatusesCustomBatchResponseEntry"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedstatusesCustomBatchResponse\".",
                    "type": "string",
                    "default": "content#datafeedstatusesCustomBatchResponse"
                }
            ]
        },
        {
            "name": "InventorySetRequest",
            "type": "object",
            "fields": [
                {
                    "name": "quantity",
                    "desc": "The quantity of the product. Must be equal to or greater than zero. Supported only for local products.",
                    "type": "uint32"
                },
                {
                    "name": "salePrice",
                    "desc": "The sale price of the product. Mandatory if sale_price_effective_date is defined.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "salePriceEffectiveDate",
                    "desc": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided.",
                    "type": "string"
                },
                {
                    "name": "pickup",
                    "desc": "Store pickup information. Only supported for local inventory. Not setting pickup means \"don't update\" while setting it to the empty value ({} in JSON) means \"delete\". Otherwise, pickupMethod and pickupSla must be set together, unless pickupMethod is \"not supported\".",
                    "type": "ref",
                    "refType": "InventoryPickup"
                },
                {
                    "name": "price",
                    "desc": "The price of the product.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "loyaltyPoints",
                    "desc": "Loyalty points that users receive after purchasing the item. Japan only.",
                    "type": "ref",
                    "refType": "LoyaltyPoints"
                },
                {
                    "name": "sellOnGoogleQuantity",
                    "desc": "The quantity of the product that is reserved for sell-on-google ads. Supported only for online products.",
                    "type": "uint32"
                },
                {
                    "name": "availability",
                    "desc": "The availability of the product.",
                    "type": "string"
                },
                {
                    "name": "installment",
                    "desc": "Number and amount of installments to pay for an item. Brazil only.",
                    "type": "ref",
                    "refType": "Installment"
                }
            ]
        },
        {
            "name": "OrderPaymentMethod",
            "type": "object",
            "fields": [
                {
                    "name": "type",
                    "desc": "The type of instrument (VISA, Mastercard, etc).",
                    "type": "string"
                },
                {
                    "name": "billingAddress",
                    "desc": "The billing address.",
                    "type": "ref",
                    "refType": "OrderAddress"
                },
                {
                    "name": "expirationMonth",
                    "desc": "The card expiration month (January = 1, February = 2 etc.).",
                    "type": "int32"
                },
                {
                    "name": "expirationYear",
                    "desc": "The card expiration year (4-digit, e.g. 2015).",
                    "type": "int32"
                },
                {
                    "name": "lastFourDigits",
                    "desc": "The last four digits of the card number.",
                    "type": "string"
                },
                {
                    "name": "phoneNumber",
                    "desc": "The billing phone number.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountsCustomBatchRequestEntry",
            "desc": "A batch entry encoding a single non-batch accounts request.",
            "type": "object",
            "fields": [
                {
                    "name": "account",
                    "desc": "The account to create or update. Only defined if the method is insert or update.",
                    "type": "ref",
                    "refType": "Account"
                },
                {
                    "name": "accountId",
                    "desc": "The ID of the account to get or delete. Only defined if the method is get or delete.",
                    "type": "uint64"
                },
                {
                    "name": "batchId",
                    "desc": "An entry ID, unique within the batch request.",
                    "type": "uint32"
                },
                {
                    "name": "merchantId",
                    "desc": "The ID of the managing account.",
                    "type": "uint64"
                },
                {
                    "name": "method",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Account"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsListResponse\".",
                    "type": "string",
                    "default": "content#accountsListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token for the retrieval of the next page of accounts.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccounttaxCustomBatchResponseEntry",
            "desc": "A batch entry encoding a single non-batch accounttax response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponseEntry\".",
                    "type": "string",
                    "default": "content#accounttaxCustomBatchResponseEntry"
                },
                {
                    "name": "accountTax",
                    "desc": "The retrieved or updated account tax settings.",
                    "type": "ref",
                    "refType": "AccountTax"
                },
                {
                    "name": "batchId",
                    "desc": "The ID of the request entry this entry responds to.",
                    "type": "uint32"
                },
                {
                    "name": "errors",
                    "desc": "A list of errors defined if and only if the request failed.",
                    "type": "ref",
                    "refType": "Errors"
                }
            ]
        },
        {
            "name": "Datafeed",
            "desc": "Datafeed data.",
            "type": "object",
            "fields": [
                {
                    "name": "contentLanguage",
                    "desc": "The two-letter ISO 639-1 language of the items in the feed. Must be a valid language for targetCountry.",
                    "type": "string"
                },
                {
                    "name": "fileName",
                    "desc": "The filename of the feed. All feeds must have a unique file name.",
                    "type": "string"
                },
                {
                    "name": "targetCountry",
                    "desc": "The country where the items in the feed will be included in the search index, represented as a CLDR territory code.",
                    "type": "string"
                },
                {
                    "name": "format",
                    "desc": "Format of the feed file.",
                    "type": "ref",
                    "refType": "DatafeedFormat"
                },
                {
                    "name": "id",
                    "desc": "The ID of the data feed.",
                    "type": "int64"
                },
                {
                    "name": "intendedDestinations",
                    "desc": "The list of intended destinations (corresponds to checked check boxes in Merchant Center).",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeed\".",
                    "type": "string",
                    "default": "content#datafeed"
                },
                {
                    "name": "name",
                    "desc": "A descriptive name of the data feed.",
                    "type": "string"
                },
                {
                    "name": "attributeLanguage",
                    "desc": "The two-letter ISO 639-1 language in which the attributes are defined in the data feed.",
                    "type": "string"
                },
                {
                    "name": "contentType",
                    "desc": "The type of data feed. For product inventory feeds, only feeds for local stores, not online stores, are supported.",
                    "type": "string"
                },
                {
                    "name": "fetchSchedule",
                    "desc": "Fetch schedule for the feed file.",
                    "type": "ref",
                    "refType": "DatafeedFetchSchedule"
                }
            ]
        },
        {
            "name": "DatafeedsCustomBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The result of the execution of the batch requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DatafeedsCustomBatchResponseEntry"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsCustomBatchResponse\".",
                    "type": "string",
                    "default": "content#datafeedsCustomBatchResponse"
                }
            ]
        },
        {
            "name": "OrdersCustomBatchRequestEntryShipLineItems",
            "type": "object",
            "fields": [
                {
                    "name": "carrier",
                    "desc": "The carrier handling the shipment.",
                    "type": "string"
                },
                {
                    "name": "lineItems",
                    "desc": "Line items to ship.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OrderShipmentLineItemShipment"
                },
                {
                    "name": "shipmentId",
                    "desc": "The ID of the shipment.",
                    "type": "string"
                },
                {
                    "name": "trackingId",
                    "desc": "The tracking id for the shipment.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrdersCustomBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The result of the execution of the batch requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OrdersCustomBatchResponseEntry"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCustomBatchResponse\".",
                    "type": "string",
                    "default": "content#ordersCustomBatchResponse"
                }
            ]
        },
        {
            "name": "OrdersShipLineItemsRequest",
            "type": "object",
            "fields": [
                {
                    "name": "shipmentId",
                    "desc": "The ID of the shipment.",
                    "type": "string"
                },
                {
                    "name": "trackingId",
                    "desc": "The tracking id for the shipment.",
                    "type": "string"
                },
                {
                    "name": "carrier",
                    "desc": "The carrier handling the shipment.",
                    "type": "string"
                },
                {
                    "name": "lineItems",
                    "desc": "Line items to ship.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OrderShipmentLineItemShipment"
                },
                {
                    "name": "operationId",
                    "desc": "The ID of the operation. Unique across all operations for a given order.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductDestination",
            "type": "object",
            "fields": [
                {
                    "name": "intention",
                    "desc": "Whether the destination is required, excluded or should be validated.",
                    "type": "string"
                },
                {
                    "name": "destinationName",
                    "desc": "The name of the destination.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductsCustomBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The request entries to be processed in the batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ProductsCustomBatchRequestEntry"
                }
            ]
        },
        {
            "name": "ProductsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Product"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#productsListResponse\".",
                    "type": "string",
                    "default": "content#productsListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token for the retrieval of the next page of products.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountShipping",
            "desc": "The shipping settings of a merchant account.",
            "type": "object",
            "fields": [
                {
                    "name": "locationGroups",
                    "desc": "Location groups for shipping.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountShippingLocationGroup"
                },
                {
                    "name": "rateTables",
                    "desc": "Rate tables definitions.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountShippingRateTable"
                },
                {
                    "name": "services",
                    "desc": "Shipping services describing shipping fees calculation.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountShippingShippingService"
                },
                {
                    "name": "accountId",
                    "desc": "The ID of the account to which these account shipping settings belong.",
                    "type": "uint64"
                },
                {
                    "name": "carrierRates",
                    "desc": "Carrier-based shipping calculations.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountShippingCarrierRate"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountShipping\".",
                    "type": "string",
                    "default": "content#accountShipping"
                }
            ]
        },
        {
            "name": "OrderShipmentLineItemShipment",
            "type": "object",
            "fields": [
                {
                    "name": "quantity",
                    "desc": "The quantity that is shipped.",
                    "type": "uint32"
                },
                {
                    "name": "lineItemId",
                    "desc": "The id of the line item that is shipped.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrdersGetTestOrderTemplateResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersGetTestOrderTemplateResponse\".",
                    "type": "string",
                    "default": "content#ordersGetTestOrderTemplateResponse"
                },
                {
                    "name": "template",
                    "desc": "The requested test order template.",
                    "type": "ref",
                    "refType": "TestOrder"
                }
            ]
        },
        {
            "name": "OrdersUpdateMerchantOrderIdRequest",
            "type": "object",
            "fields": [
                {
                    "name": "merchantOrderId",
                    "desc": "The merchant order id to be assigned to the order. Must be unique per merchant.",
                    "type": "string"
                },
                {
                    "name": "operationId",
                    "desc": "The ID of the operation. Unique across all operations for a given order.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "PostalCodeRange",
            "type": "object",
            "fields": [
                {
                    "name": "postalCodeRangeBegin",
                    "desc": "A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: \"94108\", \"9410*\", \"9*\". Required.",
                    "type": "string"
                },
                {
                    "name": "postalCodeRangeEnd",
                    "desc": "A postal code or a pattern of the form prefix* denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountUser",
            "type": "object",
            "fields": [
                {
                    "name": "emailAddress",
                    "desc": "User's email address.",
                    "type": "string"
                },
                {
                    "name": "admin",
                    "desc": "Whether user is an admin.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "AccountstatusesCustomBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The request entries to be processed in the batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountstatusesCustomBatchRequestEntry"
                }
            ]
        },
        {
            "name": "Error",
            "desc": "An error returned by the API.",
            "type": "object",
            "fields": [
                {
                    "name": "reason",
                    "desc": "The error code.",
                    "type": "string"
                },
                {
                    "name": "domain",
                    "desc": "The domain of the error.",
                    "type": "string"
                },
                {
                    "name": "message",
                    "desc": "A description of the error.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Price",
            "type": "object",
            "fields": [
                {
                    "name": "currency",
                    "desc": "The currency of the price.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "The price represented as a number.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountShippingShippingServiceCalculationMethod",
            "desc": "Shipping cost calculation method. Exactly one of the field is set.",
            "type": "object",
            "fields": [
                {
                    "name": "carrierRate",
                    "desc": "Name of the carrier rate to use for the calculation.",
                    "type": "string"
                },
                {
                    "name": "excluded",
                    "desc": "Delivery is excluded. Valid only within cost rules tree.",
                    "type": "bool"
                },
                {
                    "name": "flatRate",
                    "desc": "Fixed price shipping, represented as a floating point number associated with a currency.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "percentageRate",
                    "desc": "Percentage of the price, represented as a floating point number without the percentage character.",
                    "type": "string"
                },
                {
                    "name": "rateTable",
                    "desc": "Name of the rate table to use for the calculation.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DatafeedstatusesCustomBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The request entries to be processed in the batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DatafeedstatusesCustomBatchRequestEntry"
                }
            ]
        },
        {
            "name": "ProductShipping",
            "type": "object",
            "fields": [
                {
                    "name": "country",
                    "desc": "The CLDR territory code of the country to which an item will ship.",
                    "type": "string"
                },
                {
                    "name": "locationGroupName",
                    "desc": "The location where the shipping is applicable, represented by a location group name.",
                    "type": "string"
                },
                {
                    "name": "locationId",
                    "desc": "The numeric id of a location that the shipping rate applies to as defined in the AdWords API.",
                    "type": "int64"
                },
                {
                    "name": "postalCode",
                    "desc": "The postal code range that the shipping rate applies to, represented by a postal code, a postal code prefix followed by a * wildcard, a range between two postal codes or two postal code prefixes of equal length.",
                    "type": "string"
                },
                {
                    "name": "price",
                    "desc": "Fixed shipping price, represented as a number.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "region",
                    "desc": "The geographic region to which a shipping rate applies (e.g. zip code).",
                    "type": "string"
                },
                {
                    "name": "service",
                    "desc": "A free-form description of the service class or delivery speed.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductstatusesCustomBatchRequestEntry",
            "desc": "A batch entry encoding a single non-batch productstatuses request.",
            "type": "object",
            "fields": [
                {
                    "name": "batchId",
                    "desc": "An entry ID, unique within the batch request.",
                    "type": "uint32"
                },
                {
                    "name": "merchantId",
                    "desc": "The ID of the managing account.",
                    "type": "uint64"
                },
                {
                    "name": "method",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "The ID of the product whose status to get.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountStatusExampleItem",
            "desc": "An example of an item that has poor data quality. An item value on the landing page differs from what is submitted, or conflicts with a policy.",
            "type": "object",
            "fields": [
                {
                    "name": "title",
                    "desc": "Title of the item.",
                    "type": "string"
                },
                {
                    "name": "valueOnLandingPage",
                    "desc": "The actual value on the landing page.",
                    "type": "string"
                },
                {
                    "name": "itemId",
                    "desc": "Unique item ID as specified in the uploaded product data.",
                    "type": "string"
                },
                {
                    "name": "link",
                    "desc": "Landing page of the item.",
                    "type": "string"
                },
                {
                    "name": "submittedValue",
                    "desc": "The item value that was submitted.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DatafeedsCustomBatchResponseEntry",
            "desc": "A batch entry encoding a single non-batch datafeeds response.",
            "type": "object",
            "fields": [
                {
                    "name": "datafeed",
                    "desc": "The requested data feed. Defined if and only if the request was successful.",
                    "type": "ref",
                    "refType": "Datafeed"
                },
                {
                    "name": "errors",
                    "desc": "A list of errors defined if and only if the request failed.",
                    "type": "ref",
                    "refType": "Errors"
                },
                {
                    "name": "batchId",
                    "desc": "The ID of the request entry this entry responds to.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "OrderLineItemProduct",
            "type": "object",
            "fields": [
                {
                    "name": "condition",
                    "desc": "Condition or state of the item.",
                    "type": "string"
                },
                {
                    "name": "imageLink",
                    "desc": "URL of an image of the item.",
                    "type": "string"
                },
                {
                    "name": "mpn",
                    "desc": "Manufacturer Part Number (MPN) of the item.",
                    "type": "string"
                },
                {
                    "name": "offerId",
                    "desc": "An identifier of the item.",
                    "type": "string"
                },
                {
                    "name": "shownImage",
                    "desc": "URL to the cached image shown to the user when order was placed.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "The title of the product.",
                    "type": "string"
                },
                {
                    "name": "variantAttributes",
                    "desc": "Variant attributes for the item. These are dimensions of the product, such as color, gender, material, pattern, and size. You can find a comprehensive list of variant attributes here.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OrderLineItemProductVariantAttribute"
                },
                {
                    "name": "brand",
                    "desc": "Brand of the item.",
                    "type": "string"
                },
                {
                    "name": "gtin",
                    "desc": "Global Trade Item Number (GTIN) of the item.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The REST id of the product.",
                    "type": "string"
                },
                {
                    "name": "itemGroupId",
                    "desc": "Shared identifier for all variants of the same product.",
                    "type": "string"
                },
                {
                    "name": "targetCountry",
                    "desc": "The CLDR territory code of the target country of the product.",
                    "type": "string"
                },
                {
                    "name": "channel",
                    "desc": "The item's channel (online or local).",
                    "type": "string"
                },
                {
                    "name": "contentLanguage",
                    "desc": "The two-letter ISO 639-1 language code for the item.",
                    "type": "string"
                },
                {
                    "name": "price",
                    "desc": "Price of the item.",
                    "type": "ref",
                    "refType": "Price"
                }
            ]
        },
        {
            "name": "DatafeedsCustomBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The request entries to be processed in the batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DatafeedsCustomBatchRequestEntry"
                }
            ]
        },
        {
            "name": "ProductCustomAttribute",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "The name of the attribute. Underscores will be replaced by spaces upon insertion.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "The type of the attribute.",
                    "type": "string"
                },
                {
                    "name": "unit",
                    "desc": "Free-form unit of the attribute. Unit can only be used for values of type INT or FLOAT.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "The value of the attribute.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InventoryCustomBatchRequestEntry",
            "desc": "A batch entry encoding a single non-batch inventory request.",
            "type": "object",
            "fields": [
                {
                    "name": "batchId",
                    "desc": "An entry ID, unique within the batch request.",
                    "type": "uint32"
                },
                {
                    "name": "inventory",
                    "desc": "Price and availability of the product.",
                    "type": "ref",
                    "refType": "Inventory"
                },
                {
                    "name": "merchantId",
                    "desc": "The ID of the managing account.",
                    "type": "uint64"
                },
                {
                    "name": "productId",
                    "desc": "The ID of the product for which to update price and availability.",
                    "type": "string"
                },
                {
                    "name": "storeCode",
                    "desc": "The code of the store for which to update price and availability. Use online to update price and availability of an online product.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrderReturn",
            "type": "object",
            "fields": [
                {
                    "name": "actor",
                    "desc": "The actor that created the refund.",
                    "type": "string"
                },
                {
                    "name": "creationDate",
                    "desc": "Date on which the item has been created, in ISO 8601 format.",
                    "type": "string"
                },
                {
                    "name": "quantity",
                    "desc": "Quantity that is returned.",
                    "type": "uint32"
                },
                {
                    "name": "reason",
                    "desc": "The reason for the return.",
                    "type": "string"
                },
                {
                    "name": "reasonText",
                    "desc": "The explanation of the reason.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountShippingRateTableCell",
            "type": "object",
            "fields": [
                {
                    "name": "condition",
                    "desc": "Conditions for which the cell is valid. All cells in a table must use the same dimension or pair of dimensions among price, weight, shipping label or delivery location. If no condition is specified, the cell acts as a catch-all and matches all the elements that are not matched by other cells in this dimension.",
                    "type": "ref",
                    "refType": "AccountShippingCondition"
                },
                {
                    "name": "rate",
                    "desc": "The rate applicable if the cell conditions are matched.",
                    "type": "ref",
                    "refType": "Price"
                }
            ]
        },
        {
            "name": "AccountshippingCustomBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The request entries to be processed in the batch.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountshippingCustomBatchRequestEntry"
                }
            ]
        },
        {
            "name": "AccountshippingCustomBatchResponseEntry",
            "desc": "A batch entry encoding a single non-batch accountshipping response.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountshippingCustomBatchResponseEntry\".",
                    "type": "string",
                    "default": "content#accountshippingCustomBatchResponseEntry"
                },
                {
                    "name": "accountShipping",
                    "desc": "The retrieved or updated account shipping settings.",
                    "type": "ref",
                    "refType": "AccountShipping"
                },
                {
                    "name": "batchId",
                    "desc": "The ID of the request entry this entry responds to.",
                    "type": "uint32"
                },
                {
                    "name": "errors",
                    "desc": "A list of errors defined if and only if the request failed.",
                    "type": "ref",
                    "refType": "Errors"
                }
            ]
        },
        {
            "name": "CarrierRate",
            "type": "object",
            "fields": [
                {
                    "name": "carrierService",
                    "desc": "Carrier service, such as \"ground\" or \"2 days\". The list of supported services for a carrier can be retrieved via the getSupportedCarriers method. Required.",
                    "type": "string"
                },
                {
                    "name": "flatAdjustment",
                    "desc": "Additive shipping rate modifier. Can be negative. For example { \"value\": \"1\", \"currency\" : \"USD\" } adds $1 to the rate, { \"value\": \"-3\", \"currency\" : \"USD\" } removes $3 from the rate. Optional.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "name",
                    "desc": "Name of the carrier rate. Must be unique per rate group. Required.",
                    "type": "string"
                },
                {
                    "name": "originPostalCode",
                    "desc": "Shipping origin for this carrier rate. Required.",
                    "type": "string"
                },
                {
                    "name": "percentageAdjustment",
                    "desc": "Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example \"5.4\" increases the rate by 5.4%, \"-3\" decreases the rate by 3%. Optional.",
                    "type": "string"
                },
                {
                    "name": "carrierName",
                    "desc": "Carrier service, such as \"UPS\" or \"Fedex\". The list of supported carriers can be retrieved via the getSupportedCarriers method. Required.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Installment",
            "type": "object",
            "fields": [
                {
                    "name": "amount",
                    "desc": "The amount the buyer has to pay per month.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "months",
                    "desc": "The number of installments the buyer has to pay.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "DatafeedsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsListResponse\".",
                    "type": "string",
                    "default": "content#datafeedsListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token for the retrieval of the next page of datafeeds.",
                    "type": "string"
                },
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Datafeed"
                }
            ]
        },
        {
            "name": "OrderPromotion",
            "type": "object",
            "fields": [
                {
                    "name": "redemptionChannel",
                    "desc": "Indicates that the promotion is valid online.",
                    "type": "string"
                },
                {
                    "name": "benefits",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OrderPromotionBenefit"
                },
                {
                    "name": "effectiveDates",
                    "desc": "The date and time frame when the promotion is active and ready for validation review. Note that the promotion live time may be delayed for a few hours due to the validation review.\nStart date and end date are separated by a forward slash (/). The start date is specified by the format (YYYY-MM-DD), followed by the letter ?T?, the time of the day when the sale starts (in Greenwich Mean Time, GMT), followed by an expression of the time zone for the sale. The end date is in the same format.",
                    "type": "string"
                },
                {
                    "name": "genericRedemptionCode",
                    "desc": "Optional. The text code that corresponds to the promotion when applied on the retailer?s website.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The unique ID of the promotion.",
                    "type": "string"
                },
                {
                    "name": "longTitle",
                    "desc": "The full title of the promotion.",
                    "type": "string"
                },
                {
                    "name": "productApplicability",
                    "desc": "Whether the promotion is applicable to all products or only specific products.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrdersCancelRequest",
            "type": "object",
            "fields": [
                {
                    "name": "operationId",
                    "desc": "The ID of the operation. Unique across all operations for a given order.",
                    "type": "string"
                },
                {
                    "name": "reason",
                    "desc": "The reason for the cancellation.",
                    "type": "string"
                },
                {
                    "name": "reasonText",
                    "desc": "The explanation of the reason.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccountTaxTaxRule",
            "desc": "Tax calculation rule to apply in a state or province (USA only).",
            "type": "object",
            "fields": [
                {
                    "name": "country",
                    "desc": "Country code in which tax is applicable.",
                    "type": "string"
                },
                {
                    "name": "locationId",
                    "desc": "State (or province) is which the tax is applicable, described by its location id (also called criteria id).",
                    "type": "uint64"
                },
                {
                    "name": "ratePercent",
                    "desc": "Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative.",
                    "type": "string"
                },
                {
                    "name": "shippingTaxed",
                    "desc": "If true, shipping charges are also taxed.",
                    "type": "bool"
                },
                {
                    "name": "useGlobalRate",
                    "desc": "Whether the tax rate is taken from a global tax table or specified explicitly.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "AccountsCustomBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The result of the execution of the batch requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountsCustomBatchResponseEntry"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponse\".",
                    "type": "string",
                    "default": "content#accountsCustomBatchResponse"
                }
            ]
        },
        {
            "name": "DatafeedFormat",
            "type": "object",
            "fields": [
                {
                    "name": "columnDelimiter",
                    "desc": "Delimiter for the separation of values in a delimiter-separated values feed. If not specified, the delimiter will be auto-detected. Ignored for non-DSV data feeds.",
                    "type": "string"
                },
                {
                    "name": "fileEncoding",
                    "desc": "Character encoding scheme of the data feed. If not specified, the encoding will be auto-detected.",
                    "type": "string"
                },
                {
                    "name": "quotingMode",
                    "desc": "Specifies how double quotes are interpreted. If not specified, the mode will be auto-detected. Ignored for non-DSV data feeds.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrdersCreateTestOrderRequest",
            "type": "object",
            "fields": [
                {
                    "name": "templateName",
                    "desc": "The test order template to use. Specify as an alternative to testOrder as a shortcut for retrieving a template and then creating an order using that template.",
                    "type": "string"
                },
                {
                    "name": "testOrder",
                    "desc": "The test order to create.",
                    "type": "ref",
                    "refType": "TestOrder"
                }
            ]
        },
        {
            "name": "ProductUnitPricingBaseMeasure",
            "type": "object",
            "fields": [
                {
                    "name": "unit",
                    "desc": "The unit of the denominator.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "The denominator of the unit price.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "ProductStatusDestinationStatus",
            "type": "object",
            "fields": [
                {
                    "name": "approvalStatus",
                    "desc": "The destination's approval status.",
                    "type": "string"
                },
                {
                    "name": "destination",
                    "desc": "The name of the destination",
                    "type": "string"
                },
                {
                    "name": "intention",
                    "desc": "Whether the destination is required, excluded, selected by default or should be validated.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ShippingsettingsCustomBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The result of the execution of the batch requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ShippingsettingsCustomBatchResponseEntry"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsCustomBatchResponse\".",
                    "type": "string",
                    "default": "content#shippingsettingsCustomBatchResponse"
                }
            ]
        },
        {
            "name": "ShippingsettingsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsListResponse\".",
                    "type": "string",
                    "default": "content#shippingsettingsListResponse"
                },
                {
                    "name": "nextPageToken",
                    "desc": "The token for the retrieval of the next page of shipping settings.",
                    "type": "string"
                },
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ShippingSettings"
                }
            ]
        },
        {
            "name": "AccountStatus",
            "desc": "The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time.",
            "type": "object",
            "fields": [
                {
                    "name": "accountId",
                    "desc": "The ID of the account for which the status is reported.",
                    "type": "string"
                },
                {
                    "name": "dataQualityIssues",
                    "desc": "A list of data quality issues.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountStatusDataQualityIssue"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountStatus\".",
                    "type": "string",
                    "default": "content#accountStatus"
                }
            ]
        },
        {
            "name": "AccountshippingCustomBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "entries",
                    "desc": "The result of the execution of the batch requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountshippingCustomBatchResponseEntry"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountshippingCustomBatchResponse\".",
                    "type": "string",
                    "default": "content#accountshippingCustomBatchResponse"
                }
            ]
        },
        {
            "name": "OrderShipment",
            "type": "object",
            "fields": [
                {
                    "name": "trackingId",
                    "desc": "The tracking id for the shipment.",
                    "type": "string"
                },
                {
                    "name": "carrier",
                    "desc": "The carrier handling the shipment.",
                    "type": "string"
                },
                {
                    "name": "creationDate",
                    "desc": "Date on which the shipment has been created, in ISO 8601 format.",
                    "type": "string"
                },
                {
                    "name": "deliveryDate",
                    "desc": "Date on which the shipment has been delivered, in ISO 8601 format. Present only if status is delievered",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The id of the shipment.",
                    "type": "string"
                },
                {
                    "name": "lineItems",
                    "desc": "The line items that are shipped.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OrderShipmentLineItemShipment"
                },
                {
                    "name": "status",
                    "desc": "The status of the shipment.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "OrdersAcknowledgeResponse",
            "type": "object",
            "fields": [
                {
                    "name": "executionStatus",
                    "desc": "The status of the execution.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAcknowledgeResponse\".",
                    "type": "string",
                    "default": "content#ordersAcknowledgeResponse"
                }
            ]
        },
        {
            "name": "ProductShippingDimension",
            "type": "object",
            "fields": [
                {
                    "name": "unit",
                    "desc": "The unit of value.\n\nAcceptable values are:  \n- \"cm\" \n- \"in\"",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "The dimension of the product used to calculate the shipping cost of the item.",
                    "type": "float64"
                }
            ]
        },
        {
            "name": "OrdersCustomBatchRequestEntryCancelLineItem",
            "type": "object",
            "fields": [
                {
                    "name": "amount",
                    "desc": "Amount to refund for the cancelation. Optional. If not set, Google will calculate the default based on the price and tax of the items involved. The amount must not be larger than the net amount left on the order.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "lineItemId",
                    "desc": "The ID of the line item to cancel.",
                    "type": "string"
                },
                {
                    "name": "quantity",
                    "desc": "The quantity to cancel.",
                    "type": "uint32"
                },
                {
                    "name": "reason",
                    "desc": "The reason for the cancellation.",
                    "type": "string"
                },
                {
                    "name": "reasonText",
                    "desc": "The explanation of the reason.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductStatus",
            "desc": "The status of a product, i.e., information about a product computed asynchronously by the data quality analysis.",
            "type": "object",
            "fields": [
                {
                    "name": "title",
                    "desc": "The title of the product.",
                    "type": "string"
                },
                {
                    "name": "creationDate",
                    "desc": "Date on which the item has been created, in ISO 8601 format.",
                    "type": "string"
                },
                {
                    "name": "destinationStatuses",
                    "desc": "The intended destinations for the product.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ProductStatusDestinationStatus"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#productStatus\".",
                    "type": "string",
                    "default": "content#productStatus"
                },
                {
                    "name": "lastUpdateDate",
                    "desc": "Date on which the item has been last updated, in ISO 8601 format.",
                    "type": "string"
                },
                {
                    "name": "productId",
                    "desc": "The id of the product for which status is reported.",
                    "type": "string"
                },
                {
                    "name": "dataQualityIssues",
                    "desc": "A list of data quality issues associated with the product.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ProductStatusDataQualityIssue"
                },
                {
                    "name": "googleExpirationDate",
                    "desc": "Date on which the item expires in Google Shopping, in ISO 8601 format.",
                    "type": "string"
                },
                {
                    "name": "link",
                    "desc": "The link to the product.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductstatusesCustomBatchResponseEntry",
            "desc": "A batch entry encoding a single non-batch productstatuses response.",
            "type": "object",
            "fields": [
                {
                    "name": "productStatus",
                    "desc": "The requested product status. Only defined if the request was successful.",
                    "type": "ref",
                    "refType": "ProductStatus"
                },
                {
                    "name": "batchId",
                    "desc": "The ID of the request entry this entry responds to.",
                    "type": "uint32"
                },
                {
                    "name": "errors",
                    "desc": "A list of errors, if the request failed.",
                    "type": "ref",
                    "refType": "Errors"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#productstatusesCustomBatchResponseEntry\".",
                    "type": "string",
                    "default": "content#productstatusesCustomBatchResponseEntry"
                }
            ]
        },
        {
            "name": "ShippingsettingsGetSupportedCarriersResponse",
            "type": "object",
            "fields": [
                {
                    "name": "carriers",
                    "desc": "A list of supported carriers. May be empty.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "CarriersCarrier"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsGetSupportedCarriersResponse\".",
                    "type": "string",
                    "default": "content#shippingsettingsGetSupportedCarriersResponse"
                }
            ]
        },
        {
            "name": "TestOrder",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#testOrder\".",
                    "type": "string",
                    "default": "content#testOrder"
                },
                {
                    "name": "lineItems",
                    "desc": "Line items that are ordered. At least one line item must be provided.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "TestOrderLineItem"
                },
                {
                    "name": "paymentMethod",
                    "desc": "The details of the payment method.",
                    "type": "ref",
                    "refType": "TestOrderPaymentMethod"
                },
                {
                    "name": "shippingCost",
                    "desc": "The total cost of shipping for all items.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "shippingOption",
                    "desc": "The requested shipping option.",
                    "type": "string"
                },
                {
                    "name": "customer",
                    "desc": "The details of the customer who placed the order.",
                    "type": "ref",
                    "refType": "TestOrderCustomer"
                },
                {
                    "name": "predefinedDeliveryAddress",
                    "desc": "Identifier of one of the predefined delivery addresses for the delivery.",
                    "type": "string"
                },
                {
                    "name": "promotions",
                    "desc": "The details of the merchant provided promotions applied to the order. More details about the program are  here.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "OrderPromotion"
                },
                {
                    "name": "shippingCostTax",
                    "desc": "The tax for the total shipping cost.",
                    "type": "ref",
                    "refType": "Price"
                }
            ]
        },
        {
            "name": "AccountsAuthInfoResponse",
            "type": "object",
            "fields": [
                {
                    "name": "accountIdentifiers",
                    "desc": "The account identifiers corresponding to the authenticated user.\n- For an individual account: only the merchant ID is defined\n- For an aggregator: only the aggregator ID is defined\n- For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccountIdentifier"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsAuthInfoResponse\".",
[...]
