{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/69RNEuIs-2cMvhRHgpkaoTAmcFU\"",
    "discoveryVersion": "v1",
    "id": "admin:datatransfer_v1",
    "name": "admin",
    "version": "datatransfer_v1",
    "title": "Admin Data Transfer API",
    "description": "Transfers user data from one user to another.",
    "documentationLink": "https://developers.google.com/admin-sdk/data-transfer/",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
        ]
    },
    "parameters": [
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "ApplicationsListResponse",
            "desc": "Template for a collection of Applications.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies the resource as a collection of Applications.",
                    "type": "string",
                    "default": "admin#datatransfer#applicationsList"
                },
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token which will be used to specify next page in list API.",
                    "type": "string"
                },
                {
                    "name": "applications",
                    "desc": "List of applications that support data transfer and are also installed for the customer.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Application"
                }
            ]
        },
        {
            "name": "DataTransfer",
            "desc": "The JSON template for a DataTransfer resource.",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "The transfer's ID (Read-only).",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies the resource as a DataTransfer request.",
                    "type": "string",
                    "default": "admin#datatransfer#DataTransfer"
                },
                {
                    "name": "newOwnerUserId",
                    "desc": "ID of the user to whom the data is being transfered.",
                    "type": "string"
                },
                {
                    "name": "oldOwnerUserId",
                    "desc": "ID of the user whose data is being transfered.",
                    "type": "string"
                },
                {
                    "name": "overallTransferStatusCode",
                    "desc": "Overall transfer status (Read-only).",
                    "type": "string"
                },
                {
                    "name": "requestTime",
                    "desc": "The time at which the data transfer was requested (Read-only).",
                    "type": "datetime"
                },
                {
                    "name": "applicationDataTransfers",
                    "desc": "List of per application data transfer resources. It contains data transfer details of the applications associated with this transfer resource. Note that this list is also used to specify the applications for which data transfer has to be done at the time of the transfer resource creation.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ApplicationDataTransfer"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DataTransfersListResponse",
            "desc": "Template for a collection of DataTransfer resources.",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "desc": "Continuation token which will be used to specify next page in list API.",
                    "type": "string"
                },
                {
                    "name": "dataTransfers",
                    "desc": "List of data transfer requests.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "DataTransfer"
                },
                {
                    "name": "etag",
                    "desc": "ETag of the resource.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "Identifies the resource as a collection of data transfer requests.",
                    "type": "string",
                    "default": "admin#datatransfer#dataTransfersList"
                }
            ]
        },
        {
            "name": "Application",
            "desc": "The JSON template for an Application resource.",
            "type": "object",
            "fields": [
                {
                    "name": "etag",
                    "desc": "Etag of the resource.",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The application's ID.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "Identifies the resource as a DataTransfer Application Resource.",
                    "type": "string",
                    "default": "admin#datatransfer#ApplicationResource"
                },
                {
                    "name": "name",
                    "desc": "The application's name.",
                    "type": "string"
                },
                {
                    "name": "transferParams",
                    "desc": "The list of all possible transfer parameters for this application. These parameters can be used to select the data of the user in this application to be transfered.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ApplicationTransferParam"
                }
            ]
        },
        {
            "name": "ApplicationDataTransfer",
            "desc": "Template to map fields of ApplicationDataTransfer resource.",
            "type": "object",
            "fields": [
                {
                    "name": "applicationId",
                    "desc": "The application's ID.",
                    "type": "int64"
                },
                {
                    "name": "applicationTransferParams",
                    "desc": "The transfer parameters for the application. These parameters are used to select the data which will get transfered in context of this application.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ApplicationTransferParam"
                },
                {
                    "name": "applicationTransferStatus",
                    "desc": "Current status of transfer for this application. (Read-only)",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ApplicationTransferParam",
            "desc": "Template for application transfer parameters.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The value of the coressponding transfer parameter. eg: 'PRIVATE' or 'SHARED'",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "key",
                    "desc": "The type of the transfer parameter. eg: 'PRIVACY_LEVEL'",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "applications",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves information about an application for the given application ID.",
                    "path": "applications/{applicationId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.datatransfer",
                        "https://www.googleapis.com/auth/admin.datatransfer.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "applicationId",
                            "desc": "ID of the application resource to be retrieved.",
                            "required": true,
                            "type": "int64"
                        }
                    ],
                    "response": "Application"
                },
                {
                    "name": "list",
                    "desc": "Lists the applications available for data transfer for a customer.",
                    "path": "applications",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.datatransfer",
                        "https://www.googleapis.com/auth/admin.datatransfer.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "Token to specify next page in the list.",
                            "type": "string"
                        },
                        {
                            "name": "customerId",
                            "desc": "Immutable ID of the Google Apps account.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of results to return. Default is 100.",
                            "type": "int32",
                            "min": "1",
                            "max": "500"
                        }
                    ],
                    "response": "ApplicationsListResponse"
                }
            ]
        },
        {
            "name": "transfers",
            "methods": [
                {
                    "name": "get",
                    "desc": "Retrieves a data transfer request by its resource ID.",
                    "path": "transfers/{dataTransferId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.datatransfer",
                        "https://www.googleapis.com/auth/admin.datatransfer.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "dataTransferId",
                            "desc": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "DataTransfer"
                },
                {
                    "name": "insert",
                    "desc": "Inserts a data transfer request.",
                    "path": "transfers",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.datatransfer"
                    ],
                    "request": "DataTransfer",
                    "response": "DataTransfer"
                },
                {
                    "name": "list",
                    "desc": "Lists the transfers for a customer by source user, destination user, or status.",
                    "path": "transfers",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.datatransfer",
                        "https://www.googleapis.com/auth/admin.datatransfer.readonly"
                    ],
                    "optinalQueryParams": [
                        {
                            "name": "pageToken",
                            "desc": "Token to specify the next page in the list.",
                            "type": "string"
                        },
                        {
                            "name": "status",
                            "desc": "Status of the transfer.",
                            "type": "string"
                        },
                        {
                            "name": "customerId",
                            "desc": "Immutable ID of the Google Apps account.",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "desc": "Maximum number of results to return. Default is 100.",
                            "type": "int32",
                            "min": "1",
                            "max": "500"
                        },
                        {
                            "name": "newOwnerUserId",
                            "desc": "Destination user's profile ID.",
                            "type": "string"
                        },
                        {
                            "name": "oldOwnerUserId",
                            "desc": "Source user's profile ID.",
                            "type": "string"
                        }
                    ],
                    "response": "DataTransfersListResponse"
                }
            ]
        }
    ]
}