{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/jlteK0NbZ8atlXF9lM-OU-ZamcA\"",
    "discoveryVersion": "v1",
    "id": "replicapool:v1beta1",
    "name": "replicapool",
    "version": "v1beta1",
    "title": "Replica Pool API",
    "description": "The Replica Pool API allows users to declaratively provision and manage groups of Google Compute Engine instances based on a common template.",
    "documentationLink": "https://developers.google.com/compute/docs/replica-pool/",
    "labels": [
        "limited_availability"
    ],
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "replicapool/v1beta1/projects/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/replicapool.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly",
            "https://www.googleapis.com/auth/replicapool"
        ]
    },
    "parameters": [
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "PoolsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "type": "string"
                },
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Pool"
                }
            ]
        },
        {
            "name": "Replica",
            "desc": "An individual Replica within a Pool. Replicas are automatically created by the replica pool, using the template provided by the user. You cannot directly create replicas.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "[Output Only] The name of the Replica object.",
                    "type": "string"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] The self-link of the Replica.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "desc": "[Output Only] Last known status of the Replica.",
                    "type": "ref",
                    "refType": "ReplicaStatus"
                }
            ]
        },
        {
            "name": "ReplicaStatus",
            "desc": "The current status of a Replica.",
            "type": "object",
            "fields": [
                {
                    "name": "vmStartTime",
                    "desc": "[Output Only] The time that this Replica got to the RUNNING state, in RFC 3339 format. If the start time is unknown, UNKNOWN is returned.",
                    "type": "string"
                },
                {
                    "name": "details",
                    "desc": "[Output Only] Human-readable details about the current state of the replica",
                    "type": "string"
                },
                {
                    "name": "state",
                    "desc": "[Output Only] The state of the Replica.",
                    "type": "string"
                },
                {
                    "name": "templateVersion",
                    "desc": "[Output Only] The template used to build the replica.",
                    "type": "string"
                },
                {
                    "name": "vmLink",
                    "desc": "[Output Only] Link to the virtual machine that this Replica represents.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AccessConfig",
            "desc": "A Compute Engine network accessConfig. Identical to the accessConfig on corresponding Compute Engine resource.",
            "type": "object",
            "fields": [
                {
                    "name": "name",
                    "desc": "Name of this access configuration.",
                    "type": "string"
                },
                {
                    "name": "natIp",
                    "desc": "An external IP address associated with this instance.",
                    "type": "string"
                },
                {
                    "name": "type",
                    "desc": "Type of this access configuration file. Currently only ONE_TO_ONE_NAT is supported.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DiskAttachment",
            "desc": "Specifies how to attach a disk to a Replica.",
            "type": "object",
            "fields": [
                {
                    "name": "deviceName",
                    "desc": "The device name of this disk.",
                    "type": "string"
                },
                {
                    "name": "index",
                    "desc": "A zero-based index to assign to this disk, where 0 is reserved for the boot disk. If not specified, this is assigned by the server.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "MetadataItem",
            "desc": "A Compute Engine metadata item, defined as a key:value pair. Identical to the metadata on the corresponding Compute Engine resource.",
            "type": "object",
            "fields": [
                {
                    "name": "key",
                    "desc": "A metadata key.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "A metadata value.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "NetworkInterface",
            "desc": "A Compute Engine NetworkInterface resource. Identical to the NetworkInterface on the corresponding Compute Engine resource.",
            "type": "object",
            "fields": [
                {
                    "name": "network",
                    "desc": "Name the Network resource to which this interface applies.",
                    "type": "string"
                },
                {
                    "name": "networkIp",
                    "desc": "An optional IPV4 internal network address to assign to the instance for this network interface.",
                    "type": "string"
                },
                {
                    "name": "accessConfigs",
                    "desc": "An array of configurations for this interface. This specifies how this interface is configured to interact with other network services.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "AccessConfig"
                }
            ]
        },
        {
            "name": "NewDiskInitializeParams",
            "desc": "Initialization parameters for creating a new disk.",
            "type": "object",
            "fields": [
                {
                    "name": "sourceImage",
                    "desc": "The name or fully-qualified URL of a source image to use to create this disk. If you provide a name of the source image, Replica Pool will look for an image with that name in your project. If you are specifying an image provided by Compute Engine, you will need to provide the full URL with the correct project, such as:\nhttp://www.googleapis.com/compute/v1/projects/debian-cloud/ global/images/debian-wheezy-7-vYYYYMMDD",
                    "type": "string"
                },
                {
                    "name": "diskSizeGb",
                    "desc": "The size of the created disk in gigabytes.",
                    "type": "int64"
                },
                {
                    "name": "diskType",
                    "desc": "Name of the disk type resource describing which disk type to use to create the disk. For example 'pd-ssd' or 'pd-standard'. Default is 'pd-standard'",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ReplicasDeleteRequest",
            "type": "object",
            "fields": [
                {
                    "name": "abandonInstance",
                    "desc": "Whether the instance resource represented by this replica should be deleted or abandoned. If abandoned, the replica will be deleted but the virtual machine instance will remain. By default, this is set to false and the instance will be deleted along with the replica.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "ReplicasListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "type": "string"
                },
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Replica"
                }
            ]
        },
        {
            "name": "ServiceAccount",
            "desc": "A Compute Engine service account, identical to the Compute Engine resource.",
            "type": "object",
            "fields": [
                {
                    "name": "scopes",
                    "desc": "The list of OAuth2 scopes to obtain for the service account, for example: https://www.googleapis.com/auth/devstorage.full_control",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "email",
                    "desc": "The service account email address, for example: 123845678986@project.gserviceaccount.com",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Tag",
            "desc": "A Compute Engine Instance tag, identical to the tags on the corresponding Compute Engine Instance resource.",
            "type": "object",
            "fields": [
                {
                    "name": "fingerPrint",
                    "desc": "The fingerprint of the tag. Required for updating the list of tags.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "Items contained in this tag.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VmParams",
            "desc": "Parameters for creating a Compute Engine Instance resource. Most fields are identical to the corresponding Compute Engine resource.",
            "type": "object",
            "fields": [
                {
                    "name": "disksToCreate",
                    "desc": "A list of Disk resources to create and attach to each Replica in the Pool. Currently, you can only define one disk and it must be a root persistent disk. Note that Replica Pool will create a root persistent disk for each replica.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "NewDisk"
                },
                {
                    "name": "networkInterfaces",
                    "desc": "A list of network interfaces for the instance. Currently only one interface is supported by Google Compute Engine, ONE_TO_ONE_NAT.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "NetworkInterface"
                },
                {
                    "name": "onHostMaintenance",
                    "type": "string"
                },
                {
                    "name": "serviceAccounts",
                    "desc": "A list of Service Accounts to enable for this instance.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ServiceAccount"
                },
                {
                    "name": "tags",
                    "desc": "A list of tags to apply to the Google Compute Engine instance to identify resources.",
                    "type": "ref",
                    "refType": "Tag"
                },
                {
                    "name": "metadata",
                    "desc": "The metadata key/value pairs assigned to this instance.",
                    "type": "ref",
                    "refType": "Metadata"
                },
                {
                    "name": "baseInstanceName",
                    "desc": "Deprecated. Please use baseInstanceName instead.",
                    "type": "string"
                },
                {
                    "name": "canIpForward",
                    "desc": "Enables IP Forwarding, which allows this instance to receive packets destined for a different IP address, and send packets with a different source IP. See IP Forwarding for more information.",
                    "type": "bool"
                },
                {
                    "name": "description",
                    "desc": "An optional textual description of the instance.",
                    "type": "string"
                },
                {
                    "name": "disksToAttach",
                    "desc": "A list of existing Persistent Disk resources to attach to each replica in the pool. Each disk will be attached in read-only mode to every replica.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ExistingDisk"
                },
                {
                    "name": "machineType",
                    "desc": "The machine type for this instance. The resource name (e.g. n1-standard-1).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EnvVariable",
            "desc": "An environment variable to set for an action.",
            "type": "object",
            "fields": [
                {
                    "name": "hidden",
                    "desc": "Deprecated, do not use.",
                    "type": "bool"
                },
                {
                    "name": "name",
                    "desc": "The name of the environment variable.",
                    "type": "string"
                },
                {
                    "name": "value",
                    "desc": "The value of the variable.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExistingDisk",
            "desc": "A pre-existing persistent disk that will be attached to every Replica in the Pool in READ_ONLY mode.",
            "type": "object",
            "fields": [
                {
                    "name": "attachment",
                    "desc": "How the disk will be attached to the Replica.",
                    "type": "ref",
                    "refType": "DiskAttachment"
                },
                {
                    "name": "source",
                    "desc": "The name of the Persistent Disk resource. The Persistent Disk resource must be in the same zone as the Pool.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Label",
            "desc": "A label to apply to this replica pool.",
            "type": "object",
            "fields": [
                {
                    "name": "value",
                    "desc": "The value of this label.",
                    "type": "string"
                },
                {
                    "name": "key",
                    "desc": "The key for this label.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Metadata",
            "desc": "A Compute Engine metadata entry. Identical to the metadata on the corresponding Compute Engine resource.",
            "type": "object",
            "fields": [
                {
                    "name": "fingerPrint",
                    "desc": "The fingerprint of the metadata. Required for updating the metadata entries for this instance.",
                    "type": "string"
                },
                {
                    "name": "items",
                    "desc": "A list of metadata items.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "MetadataItem"
                }
            ]
        },
        {
            "name": "NewDisk",
            "desc": "A Persistent Disk resource that will be created and attached to each Replica in the Pool. Each Replica will have a unique persistent disk that is created and attached to that Replica in READ_WRITE mode.",
            "type": "object",
            "fields": [
                {
                    "name": "boot",
                    "desc": "If true, indicates that this is the root persistent disk.",
                    "type": "bool"
                },
                {
                    "name": "initializeParams",
                    "desc": "Create the new disk using these parameters. The name of the disk will be \u003cinstance_name\u003e-\u003cfour_random_charactersgt;.",
                    "type": "ref",
                    "refType": "NewDiskInitializeParams"
                },
                {
                    "name": "attachment",
                    "desc": "How the disk will be attached to the Replica.",
                    "type": "ref",
                    "refType": "DiskAttachment"
                },
                {
                    "name": "autoDelete",
                    "desc": "If true, then this disk will be deleted when the instance is deleted. The default value is true.",
                    "type": "bool"
                }
            ]
        },
        {
            "name": "PoolsDeleteRequest",
            "type": "object",
            "fields": [
                {
                    "name": "abandonInstances",
                    "desc": "If there are instances you would like to keep, you can specify them here. These instances won't be deleted, but the associated replica objects will be removed.",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Template",
            "desc": "The template used for creating replicas in the pool.",
            "type": "object",
            "fields": [
                {
                    "name": "healthChecks",
                    "desc": "A list of HTTP Health Checks to configure for this replica pool and all virtual machines in this replica pool.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HealthCheck"
                },
                {
                    "name": "version",
                    "desc": "A free-form string describing the version of this template. You can provide any versioning string you would like. For example, version1 or template-v1.",
                    "type": "string"
                },
                {
                    "name": "vmParams",
                    "desc": "The virtual machine parameters to use for creating replicas. You can define settings such as the machine type and the image of replicas in this pool. This is required if replica type is SMART_VM.",
                    "type": "ref",
                    "refType": "VmParams"
                },
                {
                    "name": "action",
                    "desc": "An action to run during initialization of your replicas. An action is run as shell commands which are executed one after the other in the same bash shell, so any state established by one command is inherited by later commands.",
                    "type": "ref",
                    "refType": "Action"
                }
            ]
        },
        {
            "name": "Action",
            "desc": "An action that gets executed during initialization of the replicas.",
            "type": "object",
            "fields": [
                {
                    "name": "timeoutMilliSeconds",
                    "desc": "If an action's commands on a particular replica do not finish in the specified timeoutMilliSeconds, the replica is considered to be in a FAILING state. No efforts are made to stop any processes that were spawned or created as the result of running the action's commands. The default is the max allowed value, 1 hour (i.e. 3600000 milliseconds).",
                    "type": "int32"
                },
                {
                    "name": "commands",
                    "desc": "A list of commands to run, one per line. If any command fails, the whole action is considered a failure and no further actions are run. This also marks the virtual machine or replica as a failure.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "envVariables",
                    "desc": "A list of environment variables to use for the commands in this action.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "EnvVariable"
                }
            ]
        },
        {
            "name": "HealthCheck",
            "type": "object",
            "fields": [
                {
                    "name": "timeoutSec",
                    "desc": "How long (in seconds) to wait before a timeout failure for this healthcheck. The default value is 5 seconds.",
                    "type": "int32"
                },
                {
                    "name": "checkIntervalSec",
                    "desc": "How often (in seconds) to make HTTP requests for this healthcheck. The default value is 5 seconds.",
                    "type": "int32"
                },
                {
                    "name": "description",
                    "desc": "The description for this health check.",
                    "type": "string"
                },
                {
                    "name": "healthyThreshold",
                    "desc": "The number of consecutive health check requests that need to succeed before the replica is considered healthy again. The default value is 2.",
                    "type": "int32"
                },
                {
                    "name": "host",
                    "desc": "The value of the host header in the HTTP health check request. If left empty (default value), the localhost IP 127.0.0.1 will be used.",
                    "type": "string"
                },
                {
                    "name": "path",
                    "desc": "The localhost request path to send this health check, in the format /path/to/use. For example, /healthcheck.",
                    "type": "string"
                },
                {
                    "name": "name",
                    "desc": "The name of this health check.",
                    "type": "string"
                },
                {
                    "name": "port",
                    "desc": "The TCP port for the health check requests.",
                    "type": "int32"
                },
                {
                    "name": "unhealthyThreshold",
                    "desc": "The number of consecutive health check requests that need to fail in order to consider the replica unhealthy. The default value is 2.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Pool",
            "type": "object",
            "fields": [
                {
                    "name": "autoRestart",
                    "desc": "Whether replicas in this pool should be restarted if they experience a failure. The default value is true.",
                    "type": "bool"
                },
                {
                    "name": "numReplicas",
                    "desc": "Deprecated! Use initial_num_replicas instead.",
                    "type": "int32"
                },
                {
                    "name": "selfLink",
                    "desc": "[Output Only] A self-link to the replica pool.",
                    "type": "string"
                },
                {
                    "name": "baseInstanceName",
                    "desc": "The base instance name to use for the replicas in this pool. This must match the regex [a-z]([-a-z0-9]*[a-z0-9])?. If specified, the instances in this replica pool will be named in the format \u003cbase-instance-name\u003e-\u003cID\u003e. The \u003cID\u003e postfix will be a four character alphanumeric identifier generated by the service.\n\nIf this is not specified by the user, a random base instance name is generated by the service.",
                    "type": "string"
                },
                {
                    "name": "initialNumReplicas",
                    "desc": "The initial number of replicas this pool should have. You must provide a value greater than or equal to 0.",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "The name of the replica pool. Must follow the regex [a-z]([-a-z0-9]*[a-z0-9])? and be 1-28 characters long.",
                    "type": "string"
                },
                {
                    "name": "description",
                    "desc": "An optional description of the replica pool.",
                    "type": "string"
                },
                {
                    "name": "healthChecks",
                    "desc": "Deprecated. Please use template[].healthChecks instead.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "HealthCheck"
                },
                {
                    "name": "labels",
                    "desc": "A list of labels to attach to this replica pool and all created virtual machines in this replica pool.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Label"
                },
                {
                    "name": "resourceViews",
                    "desc": "The list of resource views that should be updated with all the replicas that are managed by this pool.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "targetPool",
                    "desc": "Deprecated, please use target_pools instead.",
                    "type": "string"
                },
                {
                    "name": "currentNumReplicas",
                    "desc": "[Output Only] The current number of replicas in the pool.",
                    "type": "int32"
                },
                {
                    "name": "targetPools",
                    "desc": "A list of target pools to update with the replicas that are managed by this pool. If specified, the replicas in this replica pool will be added to the specified target pools for load balancing purposes. The replica pool must live in the same region as the specified target pools. These values must be the target pool resource names, and not fully qualified URLs.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "template",
                    "desc": "The template to use when creating replicas in this pool. This template is used during initial instance creation of the pool, when growing the pool in size, or when a replica restarts.",
                    "type": "ref",
                    "refType": "Template"
                },
                {
                    "name": "type",
                    "desc": "Deprecated! Do not set.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "pools",
            "methods": [
                {
                    "path": "{projectName}/zones/{zone}/pools/{poolName}/resize",
                    "httpMethod": "POST",
                    "name": "resize",
                    "desc": "Resize a pool. This is an asynchronous operation, and multiple overlapping resize requests can be made. Replica Pools will use the information from the last resize request.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/replicapool"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this replica pool.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone for this replica pool.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "poolName",
                            "desc": "The name of the replica pool for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "numReplicas",
                            "desc": "The desired number of replicas to resize to. If this number is larger than the existing number of replicas, new replicas will be added. If the number is smaller, then existing replicas will be deleted.",
                            "type": "int32"
                        }
                    ],
                    "response": "Pool"
                },
                {
                    "path": "{projectName}/zones/{zone}/pools/{poolName}/updateTemplate",
                    "httpMethod": "POST",
                    "name": "updatetemplate",
                    "desc": "Update the template used by the pool.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/replicapool"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this replica pool.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone for this replica pool.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "poolName",
                            "desc": "The name of the replica pool for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Template"
                },
                {
                    "path": "{projectName}/zones/{zone}/pools/{poolName}",
                    "httpMethod": "POST",
                    "name": "delete",
                    "desc": "Deletes a replica pool.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/replicapool"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this replica pool.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone for this replica pool.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "poolName",
                            "desc": "The name of the replica pool for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "PoolsDeleteRequest"
                },
                {
                    "path": "{projectName}/zones/{zone}/pools/{poolName}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets information about a single replica pool.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly",
                        "https://www.googleapis.com/auth/replicapool",
                        "https://www.googleapis.com/auth/replicapool.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this replica pool.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone for this replica pool.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "poolName",
                            "desc": "The name of the replica pool for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Pool"
                },
                {
                    "path": "{projectName}/zones/{zone}/pools",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Inserts a new replica pool.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/replicapool"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this replica pool.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone for this replica pool.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "Pool",
                    "response": "Pool"
                },
                {
                    "path": "{projectName}/zones/{zone}/pools",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "List all replica pools.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly",
                        "https://www.googleapis.com/auth/replicapool",
                        "https://www.googleapis.com/auth/replicapool.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone for this replica pool.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum count of results to be returned. Acceptable values are 0 to 100, inclusive. (Default: 50)",
                            "type": "int32",
                            "default": "500",
                            "min": "0",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Set this to the nextPageToken value returned by a previous list request to obtain the next page of results from the previous list request.",
                            "type": "string"
                        }
                    ],
                    "response": "PoolsListResponse"
                }
            ]
        },
        {
            "name": "replicas",
            "methods": [
                {
                    "path": "{projectName}/zones/{zone}/pools/{poolName}/replicas/{replicaName}",
                    "httpMethod": "POST",
                    "name": "delete",
                    "desc": "Deletes a replica from the pool.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/replicapool"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone where the replica lives.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "poolName",
                            "desc": "The replica pool name for this request.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "replicaName",
                            "desc": "The name of the replica for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ReplicasDeleteRequest",
                    "response": "Replica"
                },
                {
                    "path": "{projectName}/zones/{zone}/pools/{poolName}/replicas/{replicaName}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Gets information about a specific replica.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly",
                        "https://www.googleapis.com/auth/replicapool",
                        "https://www.googleapis.com/auth/replicapool.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone where the replica lives.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "poolName",
                            "desc": "The replica pool name for this request.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "replicaName",
                            "desc": "The name of the replica for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Replica"
                },
                {
                    "path": "{projectName}/zones/{zone}/pools/{poolName}/replicas",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Lists all replicas in a pool.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly",
                        "https://www.googleapis.com/auth/replicapool",
                        "https://www.googleapis.com/auth/replicapool.readonly"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone where the replica pool lives.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "poolName",
                            "desc": "The replica pool name for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "maxResults",
                            "desc": "Maximum count of results to be returned. Acceptable values are 0 to 100, inclusive. (Default: 50)",
                            "type": "int32",
                            "default": "500",
                            "min": "0",
                            "max": "1000"
                        },
                        {
                            "name": "pageToken",
                            "desc": "Set this to the nextPageToken value returned by a previous list request to obtain the next page of results from the previous list request.",
                            "type": "string"
                        }
                    ],
                    "response": "ReplicasListResponse"
                },
                {
                    "path": "{projectName}/zones/{zone}/pools/{poolName}/replicas/{replicaName}/restart",
                    "httpMethod": "POST",
                    "name": "restart",
                    "desc": "Restarts a replica in a pool.",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/replicapool"
                    ],
                    "pathParams": [
                        {
                            "name": "projectName",
                            "desc": "The project ID for this request.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "zone",
                            "desc": "The zone where the replica lives.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "poolName",
                            "desc": "The replica pool name for this request.",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "replicaName",
                            "desc": "The name of the replica for this request.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "Replica"
                }
            ]
        }
    ]
}