{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/z8hLagElncDGGS_B7W6I6uNUHDs\"",
    "discoveryVersion": "v1",
    "id": "androidpublisher:v2",
    "name": "androidpublisher",
    "version": "v2",
    "title": "Google Play Developer API",
    "description": "Lets Android application developers access their Google Play accounts.",
    "documentationLink": "https://developers.google.com/android-publisher",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "servicePath": "androidpublisher/v2/applications/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/androidpublisher"
        ]
    },
    "parameters": [
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        },
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        }
    ],
    "schemas": [
        {
            "name": "EntitlementsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Entitlement"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                }
            ]
        },
        {
            "name": "ReviewsReplyResponse",
            "type": "object",
            "fields": [
                {
                    "name": "result",
                    "type": "ref",
                    "refType": "ReviewReplyResult"
                }
            ]
        },
        {
            "name": "Comment",
            "type": "object",
            "fields": [
                {
                    "name": "userComment",
                    "desc": "A comment from a user.",
                    "type": "ref",
                    "refType": "UserComment"
                },
                {
                    "name": "developerComment",
                    "desc": "A comment from a developer.",
                    "type": "ref",
                    "refType": "DeveloperComment"
                }
            ]
        },
        {
            "name": "ReviewsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "reviews",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Review"
                }
            ]
        },
        {
            "name": "ApkListing",
            "type": "object",
            "fields": [
                {
                    "name": "language",
                    "desc": "The language code, in BCP 47 format (eg \"en-US\").",
                    "type": "string"
                },
                {
                    "name": "recentChanges",
                    "desc": "Describe what's new in your APK.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExternallyHostedApk",
            "desc": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to enterprises who are using Google Play for Work, and whos application is restricted to the enterprise private channel",
            "type": "object",
            "fields": [
                {
                    "name": "applicationLabel",
                    "desc": "The application label.",
                    "type": "string"
                },
                {
                    "name": "certificateBase64s",
                    "desc": "A certificate (or array of certificates if a certificate-chain is used) used to signed this APK, represented as a base64 encoded byte array.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "externallyHostedUrl",
                    "desc": "The URL at which the APK is hosted. This must be an https URL.",
                    "type": "string"
                },
                {
                    "name": "packageName",
                    "desc": "The package name.",
                    "type": "string"
                },
                {
                    "name": "versionName",
                    "desc": "The version name of this APK.",
                    "type": "string"
                },
                {
                    "name": "usesFeatures",
                    "desc": "The features required by this APK (optional).",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "usesPermissions",
                    "desc": "The permissions requested by this APK.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ExternallyHostedApkUsesPermission"
                },
                {
                    "name": "versionCode",
                    "desc": "The version code of this APK.",
                    "type": "int32"
                },
                {
                    "name": "fileSha256Base64",
                    "desc": "The SHA256 checksum of this APK, represented as a base64 encoded byte array.",
                    "type": "string"
                },
                {
                    "name": "fileSize",
                    "desc": "The file size in bytes of this APK.",
                    "type": "int64"
                },
                {
                    "name": "iconBase64",
                    "desc": "The icon image from the APK, as a base64 encoded byte array.",
                    "type": "string"
                },
                {
                    "name": "maximumSdk",
                    "desc": "The maximum SDK supported by this APK (optional).",
                    "type": "int32"
                },
                {
                    "name": "minimumSdk",
                    "desc": "The minimum SDK targeted by this APK.",
                    "type": "int32"
                },
                {
                    "name": "nativeCodes",
                    "desc": "The native code environments supported by this APK (optional).",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "fileSha1Base64",
                    "desc": "The SHA1 checksum of this APK, represented as a base64 encoded byte array.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InappproductsInsertResponse",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "type": "ref",
                    "refType": "InAppProduct"
                }
            ]
        },
        {
            "name": "InAppProduct",
            "type": "object",
            "fields": [
                {
                    "name": "defaultPrice",
                    "desc": "Default price cannot be zero. In-app products can never be free. Default price is always in the developer's Checkout merchant currency.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "listings",
                    "desc": "List of localized title and description data.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "InAppProductListing"
                },
                {
                    "name": "packageName",
                    "desc": "The package name of the parent app.",
                    "type": "string"
                },
                {
                    "name": "prices",
                    "desc": "Prices per buyer region. None of these prices should be zero. In-app products can never be free.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "purchaseType",
                    "desc": "Purchase type enum value. Unmodifiable after creation.",
                    "type": "string"
                },
                {
                    "name": "trialPeriod",
                    "desc": "Trial period, specified in ISO 8601 format. Acceptable values are anything between \"P7D\" (seven days) and \"P999D\" (999 days). Seasonal subscriptions cannot have a trial period.",
                    "type": "string"
                },
                {
                    "name": "defaultLanguage",
                    "desc": "The default language of the localized data, as defined by BCP 47. e.g. \"en-US\", \"en-GB\".",
                    "type": "string"
                },
                {
                    "name": "season",
                    "desc": "Definition of a season for a seasonal subscription. Can be defined only for yearly subscriptions.",
                    "type": "ref",
                    "refType": "Season"
                },
                {
                    "name": "sku",
                    "desc": "The stock-keeping-unit (SKU) of the product, unique within an app.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "type": "string"
                },
                {
                    "name": "subscriptionPeriod",
                    "desc": "Subscription period, specified in ISO 8601 format. Acceptable values are \"P1W\" (one week), \"P1M\" (one month), \"P3M\" (three months), \"P6M\" (six months), and \"P1Y\" (one year).",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ListingsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#listingsListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#listingsListResponse"
                },
                {
                    "name": "listings",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Listing"
                }
            ]
        },
        {
            "name": "Review",
            "type": "object",
            "fields": [
                {
                    "name": "authorName",
                    "desc": "The name of the user who wrote the review.",
                    "type": "string"
                },
                {
                    "name": "comments",
                    "desc": "A repeated field containing comments for the review.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Comment"
                },
                {
                    "name": "reviewId",
                    "desc": "Unique identifier for this review.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ProductPurchase",
            "desc": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
            "type": "object",
            "fields": [
                {
                    "name": "developerPayload",
                    "desc": "A developer-specified string that contains supplemental information about an order.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This kind represents an inappPurchase object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#productPurchase"
                },
                {
                    "name": "purchaseState",
                    "desc": "The purchase state of the order. Possible values are:  \n- Purchased \n- Cancelled",
                    "type": "int32"
                },
                {
                    "name": "purchaseTimeMillis",
                    "desc": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
                    "type": "int64"
                },
                {
                    "name": "consumptionState",
                    "desc": "The consumption state of the inapp product. Possible values are:  \n- Yet to be consumed \n- Consumed",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "UserComment",
            "type": "object",
            "fields": [
                {
                    "name": "reviewerLanguage",
                    "desc": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent.",
                    "type": "string"
                },
                {
                    "name": "starRating",
                    "desc": "The star rating associated with the review, from 1 to 5.",
                    "type": "int32"
                },
                {
                    "name": "androidOsVersion",
                    "desc": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
                    "type": "int32"
                },
                {
                    "name": "appVersionCode",
                    "desc": "Integer version code of the app as installed at the time the review was written. May be absent.",
                    "type": "int32"
                },
                {
                    "name": "device",
                    "desc": "Codename for the reviewer's device, e.g. klte, flounder. May be absent.",
                    "type": "string"
                },
                {
                    "name": "deviceMetadata",
                    "desc": "Some information about the characteristics of the user's device",
                    "type": "ref",
                    "refType": "DeviceMetadata"
                },
                {
                    "name": "lastModified",
                    "desc": "The last time at which this comment was updated.",
                    "type": "ref",
                    "refType": "Timestamp"
                },
                {
                    "name": "originalText",
                    "desc": "Untranslated text of the review, in the case where the review has been translated. If the review has not been translated this is left blank.",
                    "type": "string"
                },
                {
                    "name": "thumbsUpCount",
                    "desc": "Number of users who have given this review a thumbs up",
                    "type": "int32"
                },
                {
                    "name": "appVersionName",
                    "desc": "String version name of the app as installed at the time the review was written. May be absent.",
                    "type": "string"
                },
                {
                    "name": "text",
                    "desc": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character.",
                    "type": "string"
                },
                {
                    "name": "thumbsDownCount",
                    "desc": "Number of users who have given this review a thumbs down",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Prorate",
            "type": "object",
            "fields": [
                {
                    "name": "defaultPrice",
                    "desc": "Default price cannot be zero and must be less than the full subscription price. Default price is always in the developer's Checkout merchant currency. Targeted countries have their prices set automatically based on the default_price.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "start",
                    "desc": "Defines the first day on which the price takes effect.",
                    "type": "ref",
                    "refType": "MonthDay"
                }
            ]
        },
        {
            "name": "ApksAddExternallyHostedResponse",
            "type": "object",
            "fields": [
                {
                    "name": "externallyHostedApk",
                    "desc": "The definition of the externally-hosted APK and where it is located.",
                    "type": "ref",
                    "refType": "ExternallyHostedApk"
                }
            ]
        },
        {
            "name": "DeobfuscationFilesUploadResponse",
            "type": "object",
            "fields": [
                {
                    "name": "deobfuscationFile",
                    "type": "ref",
                    "refType": "DeobfuscationFile"
                }
            ]
        },
        {
            "name": "InappproductsBatchRequestEntry",
            "type": "object",
            "fields": [
                {
                    "name": "batchId",
                    "type": "uint32"
                },
                {
                    "name": "inappproductsinsertrequest",
                    "type": "ref",
                    "refType": "InappproductsInsertRequest"
                },
                {
                    "name": "inappproductsupdaterequest",
                    "type": "ref",
                    "refType": "InappproductsUpdateRequest"
                },
                {
                    "name": "methodName",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Listing",
            "type": "object",
            "fields": [
                {
                    "name": "fullDescription",
                    "desc": "Full description of the app; this may be up to 4000 characters in length.",
                    "type": "string"
                },
                {
                    "name": "language",
                    "desc": "Language localization code (for example, \"de-AT\" for Austrian German).",
                    "type": "string"
                },
                {
                    "name": "shortDescription",
                    "desc": "Short description of the app (previously known as promo text); this may be up to 80 characters in length.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "App's localized title.",
                    "type": "string"
                },
                {
                    "name": "video",
                    "desc": "URL of a promotional YouTube video for the app.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "MonthDay",
            "type": "object",
            "fields": [
                {
                    "name": "day",
                    "desc": "Day of a month, value in [1, 31] range. Valid range depends on the specified month.",
                    "type": "uint32"
                },
                {
                    "name": "month",
                    "desc": "Month of a year. e.g. 1 = JAN, 2 = FEB etc.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "ApksAddExternallyHostedRequest",
            "type": "object",
            "fields": [
                {
                    "name": "externallyHostedApk",
                    "desc": "The definition of the externally-hosted APK and where it is located.",
                    "type": "ref",
                    "refType": "ExternallyHostedApk"
                }
            ]
        },
        {
            "name": "InappproductsBatchResponseEntry",
            "type": "object",
            "fields": [
                {
                    "name": "inappproductsupdateresponse",
                    "type": "ref",
                    "refType": "InappproductsUpdateResponse"
                },
                {
                    "name": "batchId",
                    "type": "uint32"
                },
                {
                    "name": "inappproductsinsertresponse",
                    "type": "ref",
                    "refType": "InappproductsInsertResponse"
                }
            ]
        },
        {
            "name": "SubscriptionPurchase",
            "desc": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
            "type": "object",
            "fields": [
                {
                    "name": "userCancellationTimeMillis",
                    "desc": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0.",
                    "type": "int64"
                },
                {
                    "name": "developerPayload",
                    "desc": "A developer-specified string that contains supplemental information about an order.",
                    "type": "string"
                },
                {
                    "name": "paymentState",
                    "desc": "The payment state of the subscription. Possible values are:  \n- Payment pending \n- Payment received",
                    "type": "int32"
                },
                {
                    "name": "countryCode",
                    "desc": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.",
                    "type": "string"
                },
                {
                    "name": "expiryTimeMillis",
                    "desc": "Time at which the subscription will expire, in milliseconds since the Epoch.",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "This kind represents a subscriptionPurchase object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#subscriptionPurchase"
                },
                {
                    "name": "priceAmountMicros",
                    "desc": "Price of the subscription, not including tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
                    "type": "int64"
                },
                {
                    "name": "priceCurrencyCode",
                    "desc": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
                    "type": "string"
                },
                {
                    "name": "startTimeMillis",
                    "desc": "Time at which the subscription was granted, in milliseconds since the Epoch.",
                    "type": "int64"
                },
                {
                    "name": "autoRenewing",
                    "desc": "Whether the subscription will automatically be renewed when it reaches its current expiry time.",
                    "type": "bool"
                },
                {
                    "name": "cancelReason",
                    "desc": "The reason why a subscription was cancelled or is not auto-renewing. Possible values are:  \n- User cancelled the subscription \n- Subscription was cancelled by the system, for example because of a billing problem",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ApkBinary",
            "desc": "Represents the binary payload of an APK.",
            "type": "object",
            "fields": [
                {
                    "name": "sha1",
                    "desc": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AppEdit",
            "desc": "Represents an edit of an app. An edit allows clients to make multiple changes before committing them in one operation.",
            "type": "object",
            "fields": [
                {
                    "name": "expiryTimeSeconds",
                    "desc": "The time at which the edit will expire and will be no longer valid for use in any subsequent API calls (encoded as seconds since the Epoch).",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the edit that can be used in subsequent API calls.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DeviceMetadata",
            "type": "object",
            "fields": [
                {
                    "name": "cpuMake",
                    "desc": "Device CPU make e.g. \"Qualcomm\"",
                    "type": "string"
                },
                {
                    "name": "manufacturer",
                    "desc": "Device manufacturer (e.g. Motorola)",
                    "type": "string"
                },
                {
                    "name": "productName",
                    "desc": "Device model name (e.g. Droid)",
                    "type": "string"
                },
                {
                    "name": "ramMb",
                    "desc": "Device RAM in Megabytes e.g. \"2048\"",
                    "type": "int32"
                },
                {
                    "name": "screenDensityDpi",
                    "desc": "Screen density in DPI",
                    "type": "int32"
                },
                {
                    "name": "cpuModel",
                    "desc": "Device CPU model e.g. \"MSM8974\"",
                    "type": "string"
                },
                {
                    "name": "deviceClass",
                    "desc": "Device class (e.g. tablet)",
                    "type": "string"
                },
                {
                    "name": "glEsVersion",
                    "desc": "OpenGL version",
                    "type": "int32"
                },
                {
                    "name": "nativePlatform",
                    "desc": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
                    "type": "string"
                },
                {
                    "name": "screenHeightPx",
                    "desc": "Screen height in pixels",
                    "type": "int32"
                },
                {
                    "name": "screenWidthPx",
                    "desc": "Screen width in pixels",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ImagesUploadResponse",
            "type": "object",
            "fields": [
                {
                    "name": "image",
                    "type": "ref",
                    "refType": "Image"
                }
            ]
        },
        {
            "name": "InappproductsUpdateResponse",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "type": "ref",
                    "refType": "InAppProduct"
                }
            ]
        },
        {
            "name": "ExpansionFilesUploadResponse",
            "type": "object",
            "fields": [
                {
                    "name": "expansionFile",
                    "type": "ref",
                    "refType": "ExpansionFile"
                }
            ]
        },
        {
            "name": "Image",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "A unique id representing this image.",
                    "type": "string"
                },
                {
                    "name": "sha1",
                    "desc": "A sha1 hash of the image that was uploaded.",
                    "type": "string"
                },
                {
                    "name": "url",
                    "desc": "A URL that will serve a preview of the image.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ImagesDeleteAllResponse",
            "type": "object",
            "fields": [
                {
                    "name": "deleted",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Image"
                }
            ]
        },
        {
            "name": "Season",
            "type": "object",
            "fields": [
                {
                    "name": "end",
                    "desc": "Inclusive end date of the recurrence period.",
                    "type": "ref",
                    "refType": "MonthDay"
                },
                {
                    "name": "prorations",
                    "desc": "Optionally present list of prorations for the season. Each proration is a one-off discounted entry into a subscription. Each proration contains the first date on which the discount is available and the new pricing information.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Prorate"
                },
                {
                    "name": "start",
                    "desc": "Inclusive start date of the recurrence period.",
                    "type": "ref",
                    "refType": "MonthDay"
                }
            ]
        },
        {
            "name": "SubscriptionPurchasesDeferResponse",
            "type": "object",
            "fields": [
                {
                    "name": "newExpiryTimeMillis",
                    "desc": "The new expiry time for the subscription in milliseconds since the Epoch.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "Testers",
            "type": "object",
            "fields": [
                {
                    "name": "googleGroups",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "googlePlusCommunities",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TokenPagination",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "type": "string"
                },
                {
                    "name": "previousPageToken",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Entitlement",
            "desc": "An Entitlement resource indicates a user's current entitlement to an inapp item or subscription.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This kind represents an entitlement object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#entitlement"
                },
                {
                    "name": "productId",
                    "desc": "The SKU of the product.",
                    "type": "string"
                },
                {
                    "name": "productType",
                    "desc": "The type of the inapp product. Possible values are:  \n- In-app item: \"inapp\" \n- Subscription: \"subs\"",
                    "type": "string"
                },
                {
                    "name": "token",
                    "desc": "The token which can be verified using the subscriptions or products API.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InappproductsBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "entrys",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InappproductsBatchResponseEntry"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#inappproductsBatchResponse\".",
                    "type": "string",
                    "default": "androidpublisher#inappproductsBatchResponse"
                }
            ]
        },
        {
            "name": "InappproductsInsertRequest",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "type": "ref",
                    "refType": "InAppProduct"
                }
            ]
        },
        {
            "name": "Price",
            "type": "object",
            "fields": [
                {
                    "name": "currency",
                    "desc": "3 letter Currency code, as defined by ISO 4217.",
                    "type": "string"
                },
                {
                    "name": "priceMicros",
                    "desc": "The price in millionths of the currency base unit represented as a string.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "TracksListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#tracksListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#tracksListResponse"
                },
                {
                    "name": "tracks",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Track"
                }
            ]
        },
        {
            "name": "ApksListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "apks",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Apk"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#apksListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#apksListResponse"
                }
            ]
        },
        {
            "name": "AppDetails",
            "type": "object",
            "fields": [
                {
                    "name": "defaultLanguage",
                    "desc": "Default language code, in BCP 47 format (eg \"en-US\").",
                    "type": "string"
                },
                {
                    "name": "contactEmail",
                    "desc": "The user-visible support email for this app.",
                    "type": "string"
                },
                {
                    "name": "contactPhone",
                    "desc": "The user-visible support telephone number for this app.",
                    "type": "string"
                },
                {
                    "name": "contactWebsite",
                    "desc": "The user-visible website for this app.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SubscriptionPurchasesDeferRequest",
            "type": "object",
            "fields": [
                {
                    "name": "deferralInfo",
                    "desc": "The information about the new desired expiry time for the subscription.",
                    "type": "ref",
                    "refType": "SubscriptionDeferralInfo"
                }
            ]
        },
        {
            "name": "VoidedPurchase",
            "desc": "A VoidedPurchase resource indicates a purchase that was either cancelled/refunded/charged-back.",
            "type": "object",
            "fields": [
                {
                    "name": "voidedTimeMillis",
                    "desc": "The time at which the purchase was cancelled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970).",
                    "type": "int64"
                },
                {
                    "name": "kind",
                    "desc": "This kind represents a voided purchase object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#voidedPurchase"
                },
                {
                    "name": "purchaseTimeMillis",
                    "desc": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
                    "type": "int64"
                },
                {
                    "name": "purchaseToken",
                    "desc": "The token that was generated when a purchase was made. This uniquely identifies a purchase.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "VoidedPurchasesListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "voidedPurchases",
                    "collection": "array",
                    "type": "ref",
                    "refType": "VoidedPurchase"
                }
            ]
        },
        {
            "name": "DeobfuscationFile",
            "desc": "Represents a deobfuscation file.",
            "type": "object",
            "fields": [
                {
                    "name": "symbolType",
                    "desc": "The type of the deobfuscation file.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExpansionFile",
            "type": "object",
            "fields": [
                {
                    "name": "fileSize",
                    "desc": "If set this field indicates that this APK has an Expansion File uploaded to it: this APK does not reference another APK's Expansion File. The field's value is the size of the uploaded Expansion File in bytes.",
                    "type": "int64"
                },
                {
                    "name": "referencesVersion",
                    "desc": "If set this APK's Expansion File references another APK's Expansion File. The file_size field will not be set.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ImagesListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "images",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Image"
                }
            ]
        },
        {
            "name": "InappproductsBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entrys",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InappproductsBatchRequestEntry"
                }
            ]
        },
        {
            "name": "SubscriptionDeferralInfo",
            "desc": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time.",
            "type": "object",
            "fields": [
                {
                    "name": "desiredExpiryTimeMillis",
                    "desc": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription.",
                    "type": "int64"
                },
                {
                    "name": "expectedExpiryTimeMillis",
                    "desc": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "Apk",
            "type": "object",
            "fields": [
                {
                    "name": "binary",
                    "desc": "Information about the binary payload of this APK.",
                    "type": "ref",
                    "refType": "ApkBinary"
                },
                {
                    "name": "versionCode",
                    "desc": "The version code of the APK, as specified in the APK's manifest file.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ReviewReplyResult",
            "type": "object",
            "fields": [
                {
                    "name": "lastEdited",
                    "desc": "The time at which the reply took effect.",
                    "type": "ref",
                    "refType": "Timestamp"
                },
                {
                    "name": "replyText",
                    "desc": "The reply text that was applied.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Timestamp",
            "type": "object",
            "fields": [
                {
                    "name": "nanos",
                    "type": "int32"
                },
                {
                    "name": "seconds",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "DeveloperComment",
            "type": "object",
            "fields": [
                {
                    "name": "lastModified",
                    "desc": "The last time at which this comment was updated.",
                    "type": "ref",
                    "refType": "Timestamp"
                },
                {
                    "name": "text",
                    "desc": "The content of the comment, i.e. reply body.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ReviewsReplyRequest",
            "type": "object",
            "fields": [
                {
                    "name": "replyText",
                    "desc": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Track",
            "type": "object",
            "fields": [
                {
                    "name": "track",
                    "type": "string"
                },
                {
                    "name": "userFraction",
                    "type": "float64"
                },
                {
                    "name": "versionCodes",
                    "collection": "array",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "PageInfo",
            "type": "object",
            "fields": [
                {
                    "name": "resultPerPage",
                    "type": "int32"
                },
                {
                    "name": "startIndex",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ApkListingsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#apkListingsListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#apkListingsListResponse"
                },
                {
                    "name": "listings",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ApkListing"
                }
            ]
        },
        {
            "name": "ExternallyHostedApkUsesPermission",
            "desc": "A permission used by this APK.",
            "type": "object",
            "fields": [
                {
                    "name": "maxSdkVersion",
                    "desc": "Optionally, the maximum SDK version for which the permission is required.",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "The name of the permission requested.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InAppProductListing",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "type": "string"
                },
                {
                    "name": "title",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InappproductsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InAppProduct"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#inappproductsListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#inappproductsListResponse"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                }
            ]
        },
        {
            "name": "InappproductsUpdateRequest",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "type": "ref",
                    "refType": "InAppProduct"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "entitlements",
            "methods": [
                {
                    "path": "{packageName}/entitlements",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Lists the user's current inapp item or subscription entitlements",
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "token",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "type": "uint32"
                        },
                        {
                            "name": "productId",
                            "desc": "The product id of the inapp product (for example, 'sku1'). This can be used to restrict the result set.",
                            "type": "string"
                        },
                        {
                            "name": "startIndex",
                            "type": "uint32"
                        }
                    ],
                    "response": "EntitlementsListResponse"
                }
            ]
        },
        {
            "name": "inappproducts",
            "methods": [
                {
                    "path": "inappproducts/batch",
                    "httpMethod": "POST",
                    "name": "batch",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "request": "InappproductsBatchRequest",
                    "response": "InappproductsBatchResponse"
                },
                {
                    "path": "{packageName}/inappproducts/{sku}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Delete an in-app product for an app.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "sku",
                            "desc": "Unique identifier for the in-app product.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "path": "{packageName}/inappproducts/{sku}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Returns information about the in-app product specified.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "sku",
                            "desc": "Unique identifier for the in-app product.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "InAppProduct"
                },
                {
                    "path": "{packageName}/inappproducts",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Creates a new in-app product for an app.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "autoConvertMissingPrices",
                            "desc": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
                            "type": "bool"
                        }
                    ],
                    "request": "InAppProduct",
                    "response": "InAppProduct"
                },
                {
                    "path": "{packageName}/inappproducts",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "List all the in-app products for an Android app, both subscriptions and managed in-app products..",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app with in-app products; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "startIndex",
                            "type": "uint32"
                        },
                        {
                            "name": "token",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "type": "uint32"
                        }
                    ],
                    "response": "InappproductsListResponse"
                },
                {
                    "path": "{packageName}/inappproducts/{sku}",
                    "httpMethod": "PATCH",
                    "name": "patch",
                    "desc": "Updates the details of an in-app product. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "sku",
                            "desc": "Unique identifier for the in-app product.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "autoConvertMissingPrices",
                            "desc": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
                            "type": "bool"
                        }
                    ],
                    "request": "InAppProduct",
                    "response": "InAppProduct"
                },
                {
                    "path": "{packageName}/inappproducts/{sku}",
                    "httpMethod": "PUT",
                    "name": "update",
                    "desc": "Updates the details of an in-app product.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "sku",
                            "desc": "Unique identifier for the in-app product.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "autoConvertMissingPrices",
                            "desc": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
                            "type": "bool"
                        }
                    ],
                    "request": "InAppProduct",
                    "response": "InAppProduct"
                }
            ]
        },
        {
            "name": "purchases",
            "resources": [
                {
                    "name": "products",
                    "methods": [
                        {
                            "path": "{packageName}/purchases/products/{productId}/tokens/{token}",
                            "httpMethod": "GET",
                            "name": "get",
                            "desc": "Checks the purchase and consumption status of an inapp item.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "productId",
                                    "desc": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "token",
                                    "desc": "The token provided to the user's device when the inapp product was purchased.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "ProductPurchase"
                        }
                    ]
                },
                {
                    "name": "subscriptions",
                    "methods": [
                        {
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
                            "httpMethod": "POST",
                            "name": "cancel",
                            "desc": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "subscriptionId",
                                    "desc": "The purchased subscription ID (for example, 'monthly001').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "token",
                                    "desc": "The token provided to the user's device when the subscription was purchased.",
                                    "required": true,
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
                            "httpMethod": "POST",
                            "name": "defer",
                            "desc": "Defers a user's subscription purchase until a specified future expiration time.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "subscriptionId",
                                    "desc": "The purchased subscription ID (for example, 'monthly001').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "token",
                                    "desc": "The token provided to the user's device when the subscription was purchased.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "SubscriptionPurchasesDeferRequest",
                            "response": "SubscriptionPurchasesDeferResponse"
                        },
                        {
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
                            "httpMethod": "GET",
                            "name": "get",
                            "desc": "Checks whether a user's subscription purchase is valid and returns its expiry time.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "subscriptionId",
                                    "desc": "The purchased subscription ID (for example, 'monthly001').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "token",
                                    "desc": "The token provided to the user's device when the subscription was purchased.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "SubscriptionPurchase"
                        },
                        {
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
                            "httpMethod": "POST",
                            "name": "refund",
                            "desc": "Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "subscriptionId",
                                    "desc": "The purchased subscription ID (for example, 'monthly001').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "token",
                                    "desc": "The token provided to the user's device when the subscription was purchased.",
                                    "required": true,
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
                            "httpMethod": "POST",
                            "name": "revoke",
                            "desc": "Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "subscriptionId",
                                    "desc": "The purchased subscription ID (for example, 'monthly001').",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "token",
                                    "desc": "The token provided to the user's device when the subscription was purchased.",
                                    "required": true,
                                    "type": "string"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "voidedpurchases",
                    "methods": [
                        {
                            "path": "{packageName}/purchases/voidedpurchases",
                            "httpMethod": "GET",
                            "name": "list",
                            "desc": "Lists the purchases that were cancelled, refunded or charged-back.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "optionalQueryParams": [
                                {
                                    "name": "startIndex",
                                    "type": "uint32"
                                },
                                {
                                    "name": "startTime",
                                    "desc": "The time, in milliseconds since the Epoch, of the oldest voided in-app product purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days.",
                                    "type": "int64"
                                },
                                {
                                    "name": "token",
                                    "type": "string"
                                },
                                {
                                    "name": "endTime",
                                    "desc": "The time, in milliseconds since the Epoch, of the newest voided in-app product purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time.",
                                    "type": "int64"
                                },
                                {
                                    "name": "maxResults",
                                    "type": "uint32"
                                }
                            ],
                            "response": "VoidedPurchasesListResponse"
                        }
                    ]
                }
            ]
        },
        {
            "name": "reviews",
            "methods": [
                {
                    "path": "{packageName}/reviews/{reviewId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Returns a single review.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app for which we want reviews; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "reviewId",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "translationLanguage",
                            "type": "string"
                        }
                    ],
                    "response": "Review"
                },
                {
                    "path": "{packageName}/reviews",
                    "httpMethod": "GET",
                    "name": "list",
                    "desc": "Returns a list of reviews. Only reviews from last week will be returned.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app for which we want reviews; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "optionalQueryParams": [
                        {
                            "name": "startIndex",
                            "type": "uint32"
                        },
                        {
                            "name": "token",
                            "type": "string"
                        },
                        {
                            "name": "translationLanguage",
                            "type": "string"
                        },
                        {
                            "name": "maxResults",
                            "type": "uint32"
                        }
                    ],
                    "response": "ReviewsListResponse"
                },
                {
                    "path": "{packageName}/reviews/{reviewId}:reply",
                    "httpMethod": "POST",
                    "name": "reply",
                    "desc": "Reply to a single review, or update an existing reply.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app for which we want reviews; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "reviewId",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "ReviewsReplyRequest",
                    "response": "ReviewsReplyResponse"
                }
            ]
        },
        {
            "name": "edits",
            "methods": [
                {
                    "path": "{packageName}/edits/{editId}:validate",
                    "httpMethod": "POST",
                    "name": "validate",
                    "desc": "Checks that the edit can be successfully committed. The edit's changes are not applied to the live app.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "editId",
                            "desc": "Unique identifier for this edit.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "AppEdit"
                },
                {
                    "path": "{packageName}/edits/{editId}:commit",
                    "httpMethod": "POST",
                    "name": "commit",
                    "desc": "Commits/applies the changes made in this edit back to the app.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "editId",
                            "desc": "Unique identifier for this edit.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "AppEdit"
                },
                {
                    "path": "{packageName}/edits/{editId}",
                    "httpMethod": "DELETE",
                    "name": "delete",
                    "desc": "Deletes an edit for an app. Creating a new edit will automatically delete any of your previous edits so this method need only be called if you want to preemptively abandon an edit.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "editId",
                            "desc": "Unique identifier for this edit.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "path": "{packageName}/edits/{editId}",
                    "httpMethod": "GET",
                    "name": "get",
                    "desc": "Returns information about the edit specified. Calls will fail if the edit is no long active (e.g. has been deleted, superseded or expired).",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "editId",
                            "desc": "Unique identifier for this edit.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "AppEdit"
                },
                {
                    "path": "{packageName}/edits",
                    "httpMethod": "POST",
                    "name": "insert",
                    "desc": "Creates a new edit for an app, populated with the app's current state.",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "AppEdit",
                    "response": "AppEdit"
                }
            ],
            "resources": [
                {
                    "name": "apklistings",
                    "methods": [
                        {
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "httpMethod": "DELETE",
                            "name": "delete",
                            "desc": "Deletes the APK-specific localized listing for a specified APK and language code.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "language",
                                    "desc": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "required": true,
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings",
                            "httpMethod": "DELETE",
                            "name": "deleteall",
                            "desc": "Deletes all the APK-specific localized listings for a specified APK.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                }
                            ]
                        },
                        {
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "httpMethod": "GET",
                            "name": "get",
                            "desc": "Fetches the APK-specific localized listing for a specified APK and language code.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "language",
                                    "desc": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "ApkListing"
                        },
                        {
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings",
                            "httpMethod": "GET",
                            "name": "list",
                            "desc": "Lists all the APK-specific localized listings for a specified APK.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                }
                            ],
                            "response": "ApkListingsListResponse"
                        },
                        {
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "httpMethod": "PATCH",
                            "name": "patch",
                            "desc": "Updates or creates the APK-specific localized listing for a specified APK and language code. This method supports patch semantics.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "language",
                                    "desc": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "ApkListing",
                            "response": "ApkListing"
                        },
                        {
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "httpMethod": "PUT",
                            "name": "update",
                            "desc": "Updates or creates the APK-specific localized listing for a specified APK and language code.",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "language",
                                    "desc": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "ApkListing",
                            "response": "ApkListing"
                        }
                    ]
                },
                {
                    "name": "testers",
                    "methods": [
                        {
                            "path": "{packageName}/edits/{editId}/testers/{track}",
                            "httpMethod": "GET",
                            "name": "get",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "track",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "alpha"
                                        },
                                        {
                                            "name": "beta"
                                        },
                                        {
                                            "name": "production"
                                        },
                                        {
                                            "name": "rollout"
                                        }
                                    ]
                                }
                            ],
                            "response": "Testers"
                        },
                        {
                            "path": "{packageName}/edits/{editId}/testers/{track}",
                            "httpMethod": "PATCH",
                            "name": "patch",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "track",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "alpha"
                                        },
                                        {
                                            "name": "beta"
                                        },
                                        {
                                            "name": "production"
                                        },
                                        {
                                            "name": "rollout"
                                        }
                                    ]
                                }
                            ],
                            "request": "Testers",
                            "response": "Testers"
                        },
                        {
                            "path": "{packageName}/edits/{editId}/testers/{track}",
                            "httpMethod": "PUT",
                            "name": "update",
                            "scopes": [
[...]
