{
    "kind": "discovery#restDescription",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/z8hLagElncDGGS_B7W6I6uNUHDs\"",
    "discoveryVersion": "v1",
    "id": "androidpublisher:v2",
    "name": "androidpublisher",
    "version": "v2",
    "title": "Google Play Developer API",
    "description": "Lets Android application developers access their Google Play accounts.",
    "documentationLink": "https://developers.google.com/android-publisher",
    "protocol": "rest",
    "rootUrl": "https://www.googleapis.com/",
    "auth": {
        "oauth2": [
            "https://www.googleapis.com/auth/androidpublisher"
        ]
    },
    "parameters": [
        {
            "name": "fields",
            "desc": "Selector specifying which fields to include in a partial response.",
            "type": "string"
        },
        {
            "name": "key",
            "desc": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "type": "string"
        },
        {
            "name": "oauth_token",
            "desc": "OAuth 2.0 token for the current user.",
            "type": "string"
        },
        {
            "name": "prettyPrint",
            "desc": "Returns response with indentations and line breaks.",
            "type": "bool",
            "default": "true"
        },
        {
            "name": "quotaUser",
            "desc": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "type": "string"
        },
        {
            "name": "userIp",
            "desc": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "type": "string"
        },
        {
            "name": "alt",
            "desc": "Data format for the response.",
            "type": "string",
            "default": "json",
            "enum": [
                {
                    "name": "json",
                    "desc": "Responses with Content-Type of application/json"
                }
            ]
        }
    ],
    "schemas": [
        {
            "name": "DeobfuscationFile",
            "desc": "Represents a deobfuscation file.",
            "type": "object",
            "fields": [
                {
                    "name": "symbolType",
                    "desc": "The type of the deobfuscation file.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Prorate",
            "type": "object",
            "fields": [
                {
                    "name": "defaultPrice",
                    "desc": "Default price cannot be zero and must be less than the full subscription price. Default price is always in the developer's Checkout merchant currency. Targeted countries have their prices set automatically based on the default_price.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "start",
                    "desc": "Defines the first day on which the price takes effect.",
                    "type": "ref",
                    "refType": "MonthDay"
                }
            ]
        },
        {
            "name": "Comment",
            "type": "object",
            "fields": [
                {
                    "name": "developerComment",
                    "desc": "A comment from a developer.",
                    "type": "ref",
                    "refType": "DeveloperComment"
                },
                {
                    "name": "userComment",
                    "desc": "A comment from a user.",
                    "type": "ref",
                    "refType": "UserComment"
                }
            ]
        },
        {
            "name": "Review",
            "type": "object",
            "fields": [
                {
                    "name": "authorName",
                    "desc": "The name of the user who wrote the review.",
                    "type": "string"
                },
                {
                    "name": "comments",
                    "desc": "A repeated field containing comments for the review.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Comment"
                },
                {
                    "name": "reviewId",
                    "desc": "Unique identifier for this review.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InappproductsUpdateResponse",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "type": "ref",
                    "refType": "InAppProduct"
                }
            ]
        },
        {
            "name": "Testers",
            "type": "object",
            "fields": [
                {
                    "name": "googleGroups",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "googlePlusCommunities",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SubscriptionPurchasesDeferRequest",
            "type": "object",
            "fields": [
                {
                    "name": "deferralInfo",
                    "desc": "The information about the new desired expiry time for the subscription.",
                    "type": "ref",
                    "refType": "SubscriptionDeferralInfo"
                }
            ]
        },
        {
            "name": "ReviewsReplyResponse",
            "type": "object",
            "fields": [
                {
                    "name": "result",
                    "type": "ref",
                    "refType": "ReviewReplyResult"
                }
            ]
        },
        {
            "name": "SubscriptionPurchase",
            "desc": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
            "type": "object",
            "fields": [
                {
                    "name": "autoRenewing",
                    "desc": "Whether the subscription will automatically be renewed when it reaches its current expiry time.",
                    "type": "bool"
                },
                {
                    "name": "cancelReason",
                    "desc": "The reason why a subscription was cancelled or is not auto-renewing. Possible values are:  \n- User cancelled the subscription \n- Subscription was cancelled by the system, for example because of a billing problem",
                    "type": "int32"
                },
                {
                    "name": "expiryTimeMillis",
                    "desc": "Time at which the subscription will expire, in milliseconds since the Epoch.",
                    "type": "int64"
                },
                {
                    "name": "startTimeMillis",
                    "desc": "Time at which the subscription was granted, in milliseconds since the Epoch.",
                    "type": "int64"
                },
                {
                    "name": "priceCurrencyCode",
                    "desc": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
                    "type": "string"
                },
                {
                    "name": "userCancellationTimeMillis",
                    "desc": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0.",
                    "type": "int64"
                },
                {
                    "name": "countryCode",
                    "desc": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.",
                    "type": "string"
                },
                {
                    "name": "developerPayload",
                    "desc": "A developer-specified string that contains supplemental information about an order.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This kind represents a subscriptionPurchase object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#subscriptionPurchase"
                },
                {
                    "name": "paymentState",
                    "desc": "The payment state of the subscription. Possible values are:  \n- Payment pending \n- Payment received",
                    "type": "int32"
                },
                {
                    "name": "priceAmountMicros",
                    "desc": "Price of the subscription, not including tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "TracksListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#tracksListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#tracksListResponse"
                },
                {
                    "name": "tracks",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Track"
                }
            ]
        },
        {
            "name": "VoidedPurchasesListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "voidedPurchases",
                    "collection": "array",
                    "type": "ref",
                    "refType": "VoidedPurchase"
                }
            ]
        },
        {
            "name": "InAppProduct",
            "type": "object",
            "fields": [
                {
                    "name": "defaultPrice",
                    "desc": "Default price cannot be zero. In-app products can never be free. Default price is always in the developer's Checkout merchant currency.",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "listings",
                    "desc": "List of localized title and description data.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "InAppProductListing"
                },
                {
                    "name": "prices",
                    "desc": "Prices per buyer region. None of these prices should be zero. In-app products can never be free.",
                    "collection": "map",
                    "type": "ref",
                    "refType": "Price"
                },
                {
                    "name": "season",
                    "desc": "Definition of a season for a seasonal subscription. Can be defined only for yearly subscriptions.",
                    "type": "ref",
                    "refType": "Season"
                },
                {
                    "name": "sku",
                    "desc": "The stock-keeping-unit (SKU) of the product, unique within an app.",
                    "type": "string"
                },
                {
                    "name": "subscriptionPeriod",
                    "desc": "Subscription period, specified in ISO 8601 format. Acceptable values are \"P1W\" (one week), \"P1M\" (one month), \"P3M\" (three months), \"P6M\" (six months), and \"P1Y\" (one year).",
                    "type": "string"
                },
                {
                    "name": "trialPeriod",
                    "desc": "Trial period, specified in ISO 8601 format. Acceptable values are anything between \"P7D\" (seven days) and \"P999D\" (999 days). Seasonal subscriptions cannot have a trial period.",
                    "type": "string"
                },
                {
                    "name": "defaultLanguage",
                    "desc": "The default language of the localized data, as defined by BCP 47. e.g. \"en-US\", \"en-GB\".",
                    "type": "string"
                },
                {
                    "name": "packageName",
                    "desc": "The package name of the parent app.",
                    "type": "string"
                },
                {
                    "name": "purchaseType",
                    "desc": "Purchase type enum value. Unmodifiable after creation.",
                    "type": "string"
                },
                {
                    "name": "status",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ApkBinary",
            "desc": "Represents the binary payload of an APK.",
            "type": "object",
            "fields": [
                {
                    "name": "sha1",
                    "desc": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ApksAddExternallyHostedRequest",
            "type": "object",
            "fields": [
                {
                    "name": "externallyHostedApk",
                    "desc": "The definition of the externally-hosted APK and where it is located.",
                    "type": "ref",
                    "refType": "ExternallyHostedApk"
                }
            ]
        },
        {
            "name": "ApksListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "apks",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Apk"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#apksListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#apksListResponse"
                }
            ]
        },
        {
            "name": "Entitlement",
            "desc": "An Entitlement resource indicates a user's current entitlement to an inapp item or subscription.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This kind represents an entitlement object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#entitlement"
                },
                {
                    "name": "productId",
                    "desc": "The SKU of the product.",
                    "type": "string"
                },
                {
                    "name": "productType",
                    "desc": "The type of the inapp product. Possible values are:  \n- In-app item: \"inapp\" \n- Subscription: \"subs\"",
                    "type": "string"
                },
                {
                    "name": "token",
                    "desc": "The token which can be verified using the subscriptions or products API.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ImagesUploadResponse",
            "type": "object",
            "fields": [
                {
                    "name": "image",
                    "type": "ref",
                    "refType": "Image"
                }
            ]
        },
        {
            "name": "Track",
            "type": "object",
            "fields": [
                {
                    "name": "track",
                    "type": "string"
                },
                {
                    "name": "userFraction",
                    "type": "float64"
                },
                {
                    "name": "versionCodes",
                    "collection": "array",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Apk",
            "type": "object",
            "fields": [
                {
                    "name": "binary",
                    "desc": "Information about the binary payload of this APK.",
                    "type": "ref",
                    "refType": "ApkBinary"
                },
                {
                    "name": "versionCode",
                    "desc": "The version code of the APK, as specified in the APK's manifest file.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "Season",
            "type": "object",
            "fields": [
                {
                    "name": "end",
                    "desc": "Inclusive end date of the recurrence period.",
                    "type": "ref",
                    "refType": "MonthDay"
                },
                {
                    "name": "prorations",
                    "desc": "Optionally present list of prorations for the season. Each proration is a one-off discounted entry into a subscription. Each proration contains the first date on which the discount is available and the new pricing information.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Prorate"
                },
                {
                    "name": "start",
                    "desc": "Inclusive start date of the recurrence period.",
                    "type": "ref",
                    "refType": "MonthDay"
                }
            ]
        },
        {
            "name": "Price",
            "type": "object",
            "fields": [
                {
                    "name": "priceMicros",
                    "desc": "The price in millionths of the currency base unit represented as a string.",
                    "type": "string"
                },
                {
                    "name": "currency",
                    "desc": "3 letter Currency code, as defined by ISO 4217.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "DeviceMetadata",
            "type": "object",
            "fields": [
                {
                    "name": "nativePlatform",
                    "desc": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
                    "type": "string"
                },
                {
                    "name": "screenDensityDpi",
                    "desc": "Screen density in DPI",
                    "type": "int32"
                },
                {
                    "name": "deviceClass",
                    "desc": "Device class (e.g. tablet)",
                    "type": "string"
                },
                {
                    "name": "cpuModel",
                    "desc": "Device CPU model e.g. \"MSM8974\"",
                    "type": "string"
                },
                {
                    "name": "glEsVersion",
                    "desc": "OpenGL version",
                    "type": "int32"
                },
                {
                    "name": "manufacturer",
                    "desc": "Device manufacturer (e.g. Motorola)",
                    "type": "string"
                },
                {
                    "name": "productName",
                    "desc": "Device model name (e.g. Droid)",
                    "type": "string"
                },
                {
                    "name": "ramMb",
                    "desc": "Device RAM in Megabytes e.g. \"2048\"",
                    "type": "int32"
                },
                {
                    "name": "screenHeightPx",
                    "desc": "Screen height in pixels",
                    "type": "int32"
                },
                {
                    "name": "screenWidthPx",
                    "desc": "Screen width in pixels",
                    "type": "int32"
                },
                {
                    "name": "cpuMake",
                    "desc": "Device CPU make e.g. \"Qualcomm\"",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExpansionFilesUploadResponse",
            "type": "object",
            "fields": [
                {
                    "name": "expansionFile",
                    "type": "ref",
                    "refType": "ExpansionFile"
                }
            ]
        },
        {
            "name": "InappproductsBatchResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#inappproductsBatchResponse\".",
                    "type": "string",
                    "default": "androidpublisher#inappproductsBatchResponse"
                },
                {
                    "name": "entrys",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InappproductsBatchResponseEntry"
                }
            ]
        },
        {
            "name": "InappproductsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InAppProduct"
                },
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#inappproductsListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#inappproductsListResponse"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                }
            ]
        },
        {
            "name": "InappproductsUpdateRequest",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "type": "ref",
                    "refType": "InAppProduct"
                }
            ]
        },
        {
            "name": "ListingsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#listingsListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#listingsListResponse"
                },
                {
                    "name": "listings",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Listing"
                }
            ]
        },
        {
            "name": "SubscriptionDeferralInfo",
            "desc": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time.",
            "type": "object",
            "fields": [
                {
                    "name": "desiredExpiryTimeMillis",
                    "desc": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription.",
                    "type": "int64"
                },
                {
                    "name": "expectedExpiryTimeMillis",
                    "desc": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "DeobfuscationFilesUploadResponse",
            "type": "object",
            "fields": [
                {
                    "name": "deobfuscationFile",
                    "type": "ref",
                    "refType": "DeobfuscationFile"
                }
            ]
        },
        {
            "name": "InappproductsBatchRequestEntry",
            "type": "object",
            "fields": [
                {
                    "name": "inappproductsinsertrequest",
                    "type": "ref",
                    "refType": "InappproductsInsertRequest"
                },
                {
                    "name": "inappproductsupdaterequest",
                    "type": "ref",
                    "refType": "InappproductsUpdateRequest"
                },
                {
                    "name": "methodName",
                    "type": "string"
                },
                {
                    "name": "batchId",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "InappproductsInsertRequest",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "type": "ref",
                    "refType": "InAppProduct"
                }
            ]
        },
        {
            "name": "MonthDay",
            "type": "object",
            "fields": [
                {
                    "name": "day",
                    "desc": "Day of a month, value in [1, 31] range. Valid range depends on the specified month.",
                    "type": "uint32"
                },
                {
                    "name": "month",
                    "desc": "Month of a year. e.g. 1 = JAN, 2 = FEB etc.",
                    "type": "uint32"
                }
            ]
        },
        {
            "name": "ProductPurchase",
            "desc": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
            "type": "object",
            "fields": [
                {
                    "name": "consumptionState",
                    "desc": "The consumption state of the inapp product. Possible values are:  \n- Yet to be consumed \n- Consumed",
                    "type": "int32"
                },
                {
                    "name": "developerPayload",
                    "desc": "A developer-specified string that contains supplemental information about an order.",
                    "type": "string"
                },
                {
                    "name": "kind",
                    "desc": "This kind represents an inappPurchase object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#productPurchase"
                },
                {
                    "name": "purchaseState",
                    "desc": "The purchase state of the order. Possible values are:  \n- Purchased \n- Cancelled",
                    "type": "int32"
                },
                {
                    "name": "purchaseTimeMillis",
                    "desc": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "VoidedPurchase",
            "desc": "A VoidedPurchase resource indicates a purchase that was either cancelled/refunded/charged-back.",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "This kind represents a voided purchase object in the androidpublisher service.",
                    "type": "string",
                    "default": "androidpublisher#voidedPurchase"
                },
                {
                    "name": "purchaseTimeMillis",
                    "desc": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
                    "type": "int64"
                },
                {
                    "name": "purchaseToken",
                    "desc": "The token that was generated when a purchase was made. This uniquely identifies a purchase.",
                    "type": "string"
                },
                {
                    "name": "voidedTimeMillis",
                    "desc": "The time at which the purchase was cancelled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970).",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "InAppProductListing",
            "type": "object",
            "fields": [
                {
                    "name": "description",
                    "type": "string"
                },
                {
                    "name": "title",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ImagesDeleteAllResponse",
            "type": "object",
            "fields": [
                {
                    "name": "deleted",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Image"
                }
            ]
        },
        {
            "name": "InappproductsBatchRequest",
            "type": "object",
            "fields": [
                {
                    "name": "entrys",
                    "collection": "array",
                    "type": "ref",
                    "refType": "InappproductsBatchRequestEntry"
                }
            ]
        },
        {
            "name": "AppEdit",
            "desc": "Represents an edit of an app. An edit allows clients to make multiple changes before committing them in one operation.",
            "type": "object",
            "fields": [
                {
                    "name": "expiryTimeSeconds",
                    "desc": "The time at which the edit will expire and will be no longer valid for use in any subsequent API calls (encoded as seconds since the Epoch).",
                    "type": "string"
                },
                {
                    "name": "id",
                    "desc": "The ID of the edit that can be used in subsequent API calls.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "AppDetails",
            "type": "object",
            "fields": [
                {
                    "name": "contactEmail",
                    "desc": "The user-visible support email for this app.",
                    "type": "string"
                },
                {
                    "name": "contactPhone",
                    "desc": "The user-visible support telephone number for this app.",
                    "type": "string"
                },
                {
                    "name": "contactWebsite",
                    "desc": "The user-visible website for this app.",
                    "type": "string"
                },
                {
                    "name": "defaultLanguage",
                    "desc": "Default language code, in BCP 47 format (eg \"en-US\").",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InappproductsBatchResponseEntry",
            "type": "object",
            "fields": [
                {
                    "name": "batchId",
                    "type": "uint32"
                },
                {
                    "name": "inappproductsinsertresponse",
                    "type": "ref",
                    "refType": "InappproductsInsertResponse"
                },
                {
                    "name": "inappproductsupdateresponse",
                    "type": "ref",
                    "refType": "InappproductsUpdateResponse"
                }
            ]
        },
        {
            "name": "PageInfo",
            "type": "object",
            "fields": [
                {
                    "name": "resultPerPage",
                    "type": "int32"
                },
                {
                    "name": "startIndex",
                    "type": "int32"
                },
                {
                    "name": "totalResults",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ApkListing",
            "type": "object",
            "fields": [
                {
                    "name": "language",
                    "desc": "The language code, in BCP 47 format (eg \"en-US\").",
                    "type": "string"
                },
                {
                    "name": "recentChanges",
                    "desc": "Describe what's new in your APK.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "Listing",
            "type": "object",
            "fields": [
                {
                    "name": "language",
                    "desc": "Language localization code (for example, \"de-AT\" for Austrian German).",
                    "type": "string"
                },
                {
                    "name": "shortDescription",
                    "desc": "Short description of the app (previously known as promo text); this may be up to 80 characters in length.",
                    "type": "string"
                },
                {
                    "name": "title",
                    "desc": "App's localized title.",
                    "type": "string"
                },
                {
                    "name": "video",
                    "desc": "URL of a promotional YouTube video for the app.",
                    "type": "string"
                },
                {
                    "name": "fullDescription",
                    "desc": "Full description of the app; this may be up to 4000 characters in length.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "EntitlementsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "resources",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Entitlement"
                }
            ]
        },
        {
            "name": "DeveloperComment",
            "type": "object",
            "fields": [
                {
                    "name": "lastModified",
                    "desc": "The last time at which this comment was updated.",
                    "type": "ref",
                    "refType": "Timestamp"
                },
                {
                    "name": "text",
                    "desc": "The content of the comment, i.e. reply body.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExpansionFile",
            "type": "object",
            "fields": [
                {
                    "name": "fileSize",
                    "desc": "If set this field indicates that this APK has an Expansion File uploaded to it: this APK does not reference another APK's Expansion File. The field's value is the size of the uploaded Expansion File in bytes.",
                    "type": "int64"
                },
                {
                    "name": "referencesVersion",
                    "desc": "If set this APK's Expansion File references another APK's Expansion File. The file_size field will not be set.",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "ImagesListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "images",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Image"
                }
            ]
        },
        {
            "name": "ReviewReplyResult",
            "type": "object",
            "fields": [
                {
                    "name": "lastEdited",
                    "desc": "The time at which the reply took effect.",
                    "type": "ref",
                    "refType": "Timestamp"
                },
                {
                    "name": "replyText",
                    "desc": "The reply text that was applied.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "UserComment",
            "type": "object",
            "fields": [
                {
                    "name": "deviceMetadata",
                    "desc": "Some information about the characteristics of the user's device",
                    "type": "ref",
                    "refType": "DeviceMetadata"
                },
                {
                    "name": "starRating",
                    "desc": "The star rating associated with the review, from 1 to 5.",
                    "type": "int32"
                },
                {
                    "name": "text",
                    "desc": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character.",
                    "type": "string"
                },
                {
                    "name": "thumbsDownCount",
                    "desc": "Number of users who have given this review a thumbs down",
                    "type": "int32"
                },
                {
                    "name": "thumbsUpCount",
                    "desc": "Number of users who have given this review a thumbs up",
                    "type": "int32"
                },
                {
                    "name": "androidOsVersion",
                    "desc": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
                    "type": "int32"
                },
                {
                    "name": "appVersionCode",
                    "desc": "Integer version code of the app as installed at the time the review was written. May be absent.",
                    "type": "int32"
                },
                {
                    "name": "appVersionName",
                    "desc": "String version name of the app as installed at the time the review was written. May be absent.",
                    "type": "string"
                },
                {
                    "name": "device",
                    "desc": "Codename for the reviewer's device, e.g. klte, flounder. May be absent.",
                    "type": "string"
                },
                {
                    "name": "lastModified",
                    "desc": "The last time at which this comment was updated.",
                    "type": "ref",
                    "refType": "Timestamp"
                },
                {
                    "name": "originalText",
                    "desc": "Untranslated text of the review, in the case where the review has been translated. If the review has not been translated this is left blank.",
                    "type": "string"
                },
                {
                    "name": "reviewerLanguage",
                    "desc": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ApkListingsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "kind",
                    "desc": "Identifies what kind of resource this is. Value: the fixed string \"androidpublisher#apkListingsListResponse\".",
                    "type": "string",
                    "default": "androidpublisher#apkListingsListResponse"
                },
                {
                    "name": "listings",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ApkListing"
                }
            ]
        },
        {
            "name": "Image",
            "type": "object",
            "fields": [
                {
                    "name": "id",
                    "desc": "A unique id representing this image.",
                    "type": "string"
                },
                {
                    "name": "sha1",
                    "desc": "A sha1 hash of the image that was uploaded.",
                    "type": "string"
                },
                {
                    "name": "url",
                    "desc": "A URL that will serve a preview of the image.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ReviewsReplyRequest",
            "type": "object",
            "fields": [
                {
                    "name": "replyText",
                    "desc": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.",
                    "type": "string"
                }
            ]
        },
        {
            "name": "SubscriptionPurchasesDeferResponse",
            "type": "object",
            "fields": [
                {
                    "name": "newExpiryTimeMillis",
                    "desc": "The new expiry time for the subscription in milliseconds since the Epoch.",
                    "type": "int64"
                }
            ]
        },
        {
            "name": "Timestamp",
            "type": "object",
            "fields": [
                {
                    "name": "seconds",
                    "type": "int64"
                },
                {
                    "name": "nanos",
                    "type": "int32"
                }
            ]
        },
        {
            "name": "TokenPagination",
            "type": "object",
            "fields": [
                {
                    "name": "nextPageToken",
                    "type": "string"
                },
                {
                    "name": "previousPageToken",
                    "type": "string"
                }
            ]
        },
        {
            "name": "ExternallyHostedApk",
            "desc": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to enterprises who are using Google Play for Work, and whos application is restricted to the enterprise private channel",
            "type": "object",
            "fields": [
                {
                    "name": "iconBase64",
                    "desc": "The icon image from the APK, as a base64 encoded byte array.",
                    "type": "string"
                },
                {
                    "name": "packageName",
                    "desc": "The package name.",
                    "type": "string"
                },
                {
                    "name": "fileSha1Base64",
                    "desc": "The SHA1 checksum of this APK, represented as a base64 encoded byte array.",
                    "type": "string"
                },
                {
                    "name": "fileSize",
                    "desc": "The file size in bytes of this APK.",
                    "type": "int64"
                },
                {
                    "name": "maximumSdk",
                    "desc": "The maximum SDK supported by this APK (optional).",
                    "type": "int32"
                },
                {
                    "name": "minimumSdk",
                    "desc": "The minimum SDK targeted by this APK.",
                    "type": "int32"
                },
                {
                    "name": "usesFeatures",
                    "desc": "The features required by this APK (optional).",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "applicationLabel",
                    "desc": "The application label.",
                    "type": "string"
                },
                {
                    "name": "certificateBase64s",
                    "desc": "A certificate (or array of certificates if a certificate-chain is used) used to signed this APK, represented as a base64 encoded byte array.",
                    "collection": "array",
                    "type": "string"
                },
                {
                    "name": "versionName",
                    "desc": "The version name of this APK.",
                    "type": "string"
                },
                {
                    "name": "fileSha256Base64",
                    "desc": "The SHA256 checksum of this APK, represented as a base64 encoded byte array.",
                    "type": "string"
                },
                {
                    "name": "versionCode",
                    "desc": "The version code of this APK.",
                    "type": "int32"
                },
                {
                    "name": "usesPermissions",
                    "desc": "The permissions requested by this APK.",
                    "collection": "array",
                    "type": "ref",
                    "refType": "ExternallyHostedApkUsesPermission"
                },
                {
                    "name": "externallyHostedUrl",
                    "desc": "The URL at which the APK is hosted. This must be an https URL.",
                    "type": "string"
                },
                {
                    "name": "nativeCodes",
                    "desc": "The native code environments supported by this APK (optional).",
                    "collection": "array",
                    "type": "string"
                }
            ]
        },
        {
            "name": "InappproductsInsertResponse",
            "type": "object",
            "fields": [
                {
                    "name": "inappproduct",
                    "type": "ref",
                    "refType": "InAppProduct"
                }
            ]
        },
        {
            "name": "ReviewsListResponse",
            "type": "object",
            "fields": [
                {
                    "name": "tokenPagination",
                    "type": "ref",
                    "refType": "TokenPagination"
                },
                {
                    "name": "pageInfo",
                    "type": "ref",
                    "refType": "PageInfo"
                },
                {
                    "name": "reviews",
                    "collection": "array",
                    "type": "ref",
                    "refType": "Review"
                }
            ]
        },
        {
            "name": "ApksAddExternallyHostedResponse",
            "type": "object",
            "fields": [
                {
                    "name": "externallyHostedApk",
                    "desc": "The definition of the externally-hosted APK and where it is located.",
                    "type": "ref",
                    "refType": "ExternallyHostedApk"
                }
            ]
        },
        {
            "name": "ExternallyHostedApkUsesPermission",
            "desc": "A permission used by this APK.",
            "type": "object",
            "fields": [
                {
                    "name": "maxSdkVersion",
                    "desc": "Optionally, the maximum SDK version for which the permission is required.",
                    "type": "int32"
                },
                {
                    "name": "name",
                    "desc": "The name of the permission requested.",
                    "type": "string"
                }
            ]
        }
    ],
    "resources": [
        {
            "name": "edits",
            "methods": [
                {
                    "name": "commit",
                    "desc": "Commits/applies the changes made in this edit back to the app.",
                    "path": "{packageName}/edits/{editId}:commit",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "editId",
                            "desc": "Unique identifier for this edit.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "AppEdit"
                },
                {
                    "name": "delete",
                    "desc": "Deletes an edit for an app. Creating a new edit will automatically delete any of your previous edits so this method need only be called if you want to preemptively abandon an edit.",
                    "path": "{packageName}/edits/{editId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "editId",
                            "desc": "Unique identifier for this edit.",
                            "required": true,
                            "type": "string"
                        }
                    ]
                },
                {
                    "name": "get",
                    "desc": "Returns information about the edit specified. Calls will fail if the edit is no long active (e.g. has been deleted, superseded or expired).",
                    "path": "{packageName}/edits/{editId}",
                    "httpMethod": "GET",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "editId",
                            "desc": "Unique identifier for this edit.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "AppEdit"
                },
                {
                    "name": "insert",
                    "desc": "Creates a new edit for an app, populated with the app's current state.",
                    "path": "{packageName}/edits",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "request": "AppEdit",
                    "response": "AppEdit"
                },
                {
                    "name": "validate",
                    "desc": "Checks that the edit can be successfully committed. The edit's changes are not applied to the live app.",
                    "path": "{packageName}/edits/{editId}:validate",
                    "httpMethod": "POST",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "pathParams": [
                        {
                            "name": "packageName",
                            "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "name": "editId",
                            "desc": "Unique identifier for this edit.",
                            "required": true,
                            "type": "string"
                        }
                    ],
                    "response": "AppEdit"
                }
            ],
            "resources": [
                {
                    "name": "apks",
                    "methods": [
                        {
                            "name": "addexternallyhosted",
                            "desc": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to enterprises using Google Play for Work whose application is configured to restrict distribution to the enterprise domain.",
                            "path": "{packageName}/edits/{editId}/apks/externallyHosted",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "ApksAddExternallyHostedRequest",
                            "response": "ApksAddExternallyHostedResponse"
                        },
                        {
                            "name": "list",
                            "path": "{packageName}/edits/{editId}/apks",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "ApksListResponse"
                        },
                        {
                            "name": "upload",
                            "path": "{packageName}/edits/{editId}/apks",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "Apk"
                        }
                    ]
                },
                {
                    "name": "tracks",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "Lists all the track configurations for this edit.",
                            "path": "{packageName}/edits/{editId}/tracks",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "TracksListResponse"
                        },
                        {
                            "name": "patch",
                            "desc": "Updates the track configuration for the specified track type. When halted, the rollout track cannot be updated without adding new APKs, and adding new APKs will cause it to resume. This method supports patch semantics.",
                            "path": "{packageName}/edits/{editId}/tracks/{track}",
                            "httpMethod": "PATCH",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "track",
                                    "desc": "The track type to read or modify.",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "alpha"
                                        },
                                        {
                                            "name": "beta"
                                        },
                                        {
                                            "name": "production"
                                        },
                                        {
                                            "name": "rollout"
                                        }
                                    ]
                                }
                            ],
                            "request": "Track",
                            "response": "Track"
                        },
                        {
                            "name": "update",
                            "desc": "Updates the track configuration for the specified track type. When halted, the rollout track cannot be updated without adding new APKs, and adding new APKs will cause it to resume.",
                            "path": "{packageName}/edits/{editId}/tracks/{track}",
                            "httpMethod": "PUT",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "track",
                                    "desc": "The track type to read or modify.",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "alpha"
                                        },
                                        {
                                            "name": "beta"
                                        },
                                        {
                                            "name": "production"
                                        },
                                        {
                                            "name": "rollout"
                                        }
                                    ]
                                }
                            ],
                            "request": "Track",
                            "response": "Track"
                        },
                        {
                            "name": "get",
                            "desc": "Fetches the track configuration for the specified track type. Includes the APK version codes that are in this track.",
                            "path": "{packageName}/edits/{editId}/tracks/{track}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "track",
                                    "desc": "The track type to read or modify.",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "alpha"
                                        },
                                        {
                                            "name": "beta"
                                        },
                                        {
                                            "name": "production"
                                        },
                                        {
                                            "name": "rollout"
                                        }
                                    ]
                                }
                            ],
                            "response": "Track"
                        }
                    ]
                },
                {
                    "name": "apklistings",
                    "methods": [
                        {
                            "name": "delete",
                            "desc": "Deletes the APK-specific localized listing for a specified APK and language code.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "language",
                                    "desc": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "required": true,
                                    "type": "string"
                                }
                            ]
                        },
                        {
                            "name": "deleteall",
                            "desc": "Deletes all the APK-specific localized listings for a specified APK.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings",
                            "httpMethod": "DELETE",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                }
                            ]
                        },
                        {
                            "name": "get",
                            "desc": "Fetches the APK-specific localized listing for a specified APK and language code.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "language",
                                    "desc": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "ApkListing"
                        },
                        {
                            "name": "list",
                            "desc": "Lists all the APK-specific localized listings for a specified APK.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                }
                            ],
                            "response": "ApkListingsListResponse"
                        },
                        {
                            "name": "patch",
                            "desc": "Updates or creates the APK-specific localized listing for a specified APK and language code. This method supports patch semantics.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "httpMethod": "PATCH",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "language",
                                    "desc": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "ApkListing",
                            "response": "ApkListing"
                        },
                        {
                            "name": "update",
                            "desc": "Updates or creates the APK-specific localized listing for a specified APK and language code.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "httpMethod": "PUT",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The APK version code whose APK-specific listings should be read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "language",
                                    "desc": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "ApkListing",
                            "response": "ApkListing"
                        }
                    ]
                },
                {
                    "name": "deobfuscationfiles",
                    "methods": [
                        {
                            "name": "upload",
                            "desc": "Uploads the deobfuscation file of the specified APK. If a deobfuscation file already exists, it will be replaced.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier of the Android app for which the deobfuscatiuon files are being uploaded; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The version code of the APK whose deobfuscation file is being uploaded.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "deobfuscationFileType",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "proguard"
                                        }
                                    ]
                                }
                            ],
                            "response": "DeobfuscationFilesUploadResponse"
                        }
                    ]
                },
                {
                    "name": "details",
                    "methods": [
                        {
                            "name": "get",
                            "desc": "Fetches app details for this edit. This includes the default language and developer support contact information.",
                            "path": "{packageName}/edits/{editId}/details",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "response": "AppDetails"
                        },
                        {
                            "name": "patch",
                            "desc": "Updates app details for this edit. This method supports patch semantics.",
                            "path": "{packageName}/edits/{editId}/details",
                            "httpMethod": "PATCH",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "AppDetails",
                            "response": "AppDetails"
                        },
                        {
                            "name": "update",
                            "desc": "Updates app details for this edit.",
                            "path": "{packageName}/edits/{editId}/details",
                            "httpMethod": "PUT",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                }
                            ],
                            "request": "AppDetails",
                            "response": "AppDetails"
                        }
                    ]
                },
                {
                    "name": "expansionfiles",
                    "methods": [
                        {
                            "name": "get",
                            "desc": "Fetches the Expansion File configuration for the APK specified.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The version code of the APK whose Expansion File configuration is being read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "expansionFileType",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "main"
                                        },
                                        {
                                            "name": "patch"
                                        }
                                    ]
                                }
                            ],
                            "response": "ExpansionFile"
                        },
                        {
                            "name": "patch",
                            "desc": "Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method. This method supports patch semantics.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "httpMethod": "PATCH",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The version code of the APK whose Expansion File configuration is being read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "expansionFileType",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "main"
                                        },
                                        {
                                            "name": "patch"
                                        }
                                    ]
                                }
                            ],
                            "request": "ExpansionFile",
                            "response": "ExpansionFile"
                        },
                        {
                            "name": "update",
                            "desc": "Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "httpMethod": "PUT",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The version code of the APK whose Expansion File configuration is being read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "expansionFileType",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "main"
                                        },
                                        {
                                            "name": "patch"
                                        }
                                    ]
                                }
                            ],
                            "request": "ExpansionFile",
                            "response": "ExpansionFile"
                        },
                        {
                            "name": "upload",
                            "desc": "Uploads and attaches a new Expansion File to the APK specified.",
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "httpMethod": "POST",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "apkVersionCode",
                                    "desc": "The version code of the APK whose Expansion File configuration is being read or modified.",
                                    "required": true,
                                    "type": "int32"
                                },
                                {
                                    "name": "expansionFileType",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "main"
                                        },
                                        {
                                            "name": "patch"
                                        }
                                    ]
                                }
                            ],
                            "response": "ExpansionFilesUploadResponse"
                        }
                    ]
                },
                {
                    "name": "images",
                    "methods": [
                        {
                            "name": "list",
                            "desc": "Lists all images for the specified language and image type.",
                            "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
                            "httpMethod": "GET",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "pathParams": [
                                {
                                    "name": "packageName",
                                    "desc": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "editId",
                                    "desc": "Unique identifier for this edit.",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "language",
                                    "desc": "The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".",
                                    "required": true,
                                    "type": "string"
                                },
                                {
                                    "name": "imageType",
                                    "required": true,
                                    "type": "string",
                                    "enum": [
                                        {
                                            "name": "featureGraphic"
                                        },
                                        {
                                            "name": "icon"
                                        },
                                        {
                                            "name": "phoneScreenshots"
                                        },
                                        {
                                            "name": "promoGraphic"
                                        },
                                        {
                                            "name": "sevenInchScreenshots"
                                        },
                                        {
                                            "name": "tenInchScreenshots"
                                        },
                                        {
                                            "name": "tvBanner"
                                        },
                                        {
                                            "name": "tvScreenshots"
                                        },
[...]
